<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.budgincome.basicfina.BudgBasicFinaAidMapper">
	
	<resultMap id="basicFinaAid" type="com.chd.hrp.budg.entity.BudgBasicFinaAid">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="subj_code" column="subj_code"/>
	<result property="budg_value" column="budg_value"/>
	<result property="remark" column="remark"/>
	<result property="checker" column="checker"/>
	<result property="check_data" column="check_data"/>
	<result property="bc_state" column="bc_state"/>
	</resultMap>
		
	<resultMap id="basicFinaAidMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	<result property="budg_value" column="budg_value"/>
	<result property="remark" column="remark"/>
	<result property="checker" column="checker"/>
	<result property="check_name" column="check_name"/>
	<result property="check_data" column="check_data"/>
	<result property="bc_state" column="bc_state"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="selectMap">
		<result property="code" column="code"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_BASIC_FINA_AID (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			subj_code
			,
			budg_value
			,
			remark
			,
			checker
			,
			check_data
			,
			bc_state
			
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{subj_code,jdbcType=VARCHAR}
			,
			#{budg_value,jdbcType=INTEGER}
			,
			#{remark,jdbcType=VARCHAR}
			,
			#{checker,jdbcType=INTEGER}
			,
			#{check_data,jdbcType=DATE}
			,
			#{bc_state,jdbcType=VARCHAR}
			
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_BASIC_FINA_AID (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			subj_code
			,
			budg_value
			,
			remark
			,
			checker
			,
			check_data
			,
			bc_state
			
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.subj_code,jdbcType=VARCHAR}
			,
			#{item.budg_value,jdbcType=INTEGER}
			,
			#{item.remark,jdbcType=VARCHAR}
			,
			#{item.checker,jdbcType=INTEGER}
			,
			#{item.check_data,jdbcType=DATE}
			,
			#{item.bc_state,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE BUDG_BASIC_FINA_AID set
				budg_value = #{budg_value,jdbcType=INTEGER}
				,
				remark = #{remark,jdbcType=VARCHAR}
				
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
			
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_BASIC_FINA_AID set
				budg_value = #{item.budg_value,jdbcType=INTEGER}
				,
				remark = #{item.remark,jdbcType=VARCHAR}
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<update id="auditOrUnAudit" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_BASIC_FINA_AID set
				checker = #{item.checker,jdbcType=INTEGER}
				,
				check_data = #{item.check_data,jdbcType=DATE}
				,
				bc_state = #{item.bc_state,jdbcType=VARCHAR}
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM BUDG_BASIC_FINA_AID 
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_BASIC_FINA_AID 
		where
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
			</foreach>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="basicFinaAidMap" >
	
		SELECT 
			bbfa.group_id,
			bbfa.hos_id,
			bbfa.copy_code,
			bbfa.budg_year,
			bbfa.subj_code,
			bbfa.subj_code || ' ' || bis.subj_name as subj_name,
			bbfa.budg_value,
			bbfa.remark ,
			bbfa.checker ,
			 su.user_name  check_name ,
			bbfa.check_data ,
			bbfa.bc_state
		FROM BUDG_BASIC_FINA_AID  bbfa
		LEFT JOIN BUDG_INCOME_SUBJ bis
			ON
				bbfa.group_id = bis.group_id
				AND bbfa.hos_id = bis.hos_id
				AND bbfa.copy_code = bis.copy_code
				AND bbfa.budg_year = bis.budg_year
				AND bbfa.subj_code = bis.subj_code
		left join sys_user su
		   on bbfa.group_id = su.group_id
		   and bbfa.hos_id = su.hos_id
		   and bbfa.copy_code = su.copy_code
		   and bbfa.checker = su.user_id
		   and su.is_stop = 0 
		   left join hos_emp_dict hed
		    on bbfa.group_id = hed.group_id
		   and bbfa.hos_id = hed.hos_id
		   and hed.emp_id = su.emp_code
		   and hed.is_stop = 0
		where                     
			bbfa.group_id = #{group_id,jdbcType=INTEGER}
			AND bbfa.hos_id = #{hos_id,jdbcType=INTEGER}
			AND bbfa.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND bbfa.budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="subj_code != null and subj_code != ''">
			AND bbfa.subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
			
		order by subj_code asc
	</select>
	<select id="queryByCode" resultMap="basicFinaAidMap"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			subj_code,
			budg_value,
			remark ,
			checker ,
			check_data,
			bc_state
		FROM BUDG_BASIC_FINA_AID  
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}
			and budg_year = #{budg_year,jdbcType=VARCHAR}   
			and subj_code = #{subj_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="basicFinaAid"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			subj_code,
			budg_value,
			remark ,
			checker ,
			check_data,
			bc_state
		FROM BUDG_BASIC_FINA_AID 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
		</where>   
		order by subj_code asc
	</select>
	
	<select id="queryExists" resultMap="basicFinaAid"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			subj_code,
			budg_value,
			remark
		FROM BUDG_BASIC_FINA_AID 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="subj_code != null and subj_code != ''">
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
		order by subj_code asc
	</select>
	
	<select id="querySubjCodeExist" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
		SELECT count(1) FROM BUDG_INCOME_SUBJ
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
	</select>
	
	<!-- 收入预算科目下拉框 -->
	<select id="queryBudgIncomeSubj" resultMap="selectMap">
		SELECT
		subj_code code,
		subj_code || ' ' || subj_name name
		FROM BUDG_INCOME_SUBJ
		where
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="key != null and key != ''">
				AND ( subj_code like '${key}%' or
					subj_name like '%${key}%'  or 
					spell_code like '%${key}%' or
					wbx_code like '%${key}%' )
			</if>
			order by subj_code
	</select>
	
	<!-- 查询添加数据是否已存在 -->
	<select id="queryDataExist" resultType="java.lang.String">
		<foreach collection="list" item="item" index="index" separator=" union all " >
			SELECT to_number(${item.rowNo})+ 1 rowNo
			FROM BUDG_BASIC_FINA_AID
			where
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
		</foreach>
	</select>
	
	<!-- 状态查询  （校验数据专用） -->
	<select id="queryBudgBasicFinaAidState" parameterType="java.util.Map" resultType="java.lang.String" >
		SELECT bbfa.subj_code || ' ' || bis.subj_name as subj_code  FROM BUDG_BASIC_FINA_AID  bbfa
		LEFT JOIN BUDG_INCOME_SUBJ bis
			ON
				bbfa.group_id = bis.group_id
				AND bbfa.hos_id = bis.hos_id
				AND bbfa.copy_code = bis.copy_code
				AND bbfa.budg_year = bis.budg_year
				AND bbfa.subj_code = bis.subj_code
		WHERE
			bbfa.group_id = #{group_id,jdbcType=INTEGER}
			AND bbfa.hos_id = #{hos_id,jdbcType=INTEGER}
			AND bbfa.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND bbfa.budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="subj_code != null and subj_code != ''">
			AND bbfa.subj_code in  (${subj_code})
			</if>
			<!-- 前台传参    -->
			and bbfa.bc_state != #{bc_state,jdbcType=VARCHAR}
	</select>
</mapper>

