<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.setout.HtcgDrugAdvicePmergeMapper">
	<resultMap id="htcgDrugAdvicePmerge" type="com.chd.hrp.htcg.entity.setout.HtcgDrugAdvicePmerge">
       <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="period_type_code" column="period_type_code"/>
        <result property="period_type_name" column="period_type_name"/>
        <result property="period_code" column="period_code"/>
        <result property="period_name" column="period_name"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="scheme_code" column="scheme_code"/>
        <result property="scheme_name" column="scheme_name"/>
        <result property="drgs_code" column="drgs_code"/>
        <result property="drgs_name" column="drgs_name"/>
        <result property="drug_code" column="drug_code"/>
        <result property="drug_name" column="drug_name"/>
        <result property="amount" column="amount"/>
        <result property="price" column="price"/>
        <result property="income_money" column="income_money"/>
        <result property="recipe_type_code" column="recipe_type_code"/>
        <result property="recipe_type_name" column="recipe_type_name"/>
        <result property="clp_p_step" column="clp_p_step"/>
        <result property="recipe_merge_code" column="recipe_merge_code"/>
	</resultMap>
	
	<select id="initHtcgDrugAdvicePmerge" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
	      <![CDATA[
			{call pkg_htcg_app.prc_drug_advice_p_merge(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
	</select>
   

    <delete id="deleteBathcHtcgDrugAdvicePmerge" parameterType="java.util.List">
                 delete htcg_drug_advice_p_merge where
          <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
                   group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and period_type_code = #{item.period_type_code}
			   and acc_year = #{item.acc_year}
			   and acc_month = #{item.acc_month}
			   and scheme_code = #{item.scheme_code}
			   and drgs_code = #{item.drgs_code}
			   and drug_code = #{item.drug_code}
			   and price = #{item.price}
			   and recipe_type_code = #{item.recipe_type_code}
			   and clp_p_step = #{item.clp_p_step}
          	</foreach>
    </delete>

	<select id="queryHtcgDrugAdvicePmerge" parameterType="java.util.Map" resultMap="htcgDrugAdvicePmerge" >
	                    select hdapm.group_id,
						       hdapm.hos_id,
						       hdapm.copy_code,
						       hdapm.period_type_code,
						       hpt.period_type_name,
						       hpd.period_code,
						       hpd.period_name,
						       hdapm.acc_year,
						       hdapm.acc_month,
						       hdapm.scheme_code,
						       hs.scheme_name,
						       hdapm.drgs_code,
						       hd.drgs_name,
						       hdapm.drug_code,
						       hdd.drug_name,
						       hdapm.amount,
						       hdapm.price,
						       hdapm.income_money,
						       hdapm.recipe_type_code,
						       hrt.recipe_type_name,
						       hdapm.clp_p_step,
						       hsrmr.recipe_merge_code
						  from htcg_drug_advice_p_merge hdapm
						  left join htcg_period_type hpt
						    on hdapm.period_type_code = hpt.period_type_code
						  left join htcg_period_dict hpd
						    on hpd.period_type_code = hdapm.period_type_code
						   and hpd.period_code = hdapm.acc_month
						  left join htcg_scheme hs
						    on hdapm.group_id = hs.group_id
						   and hdapm.hos_id = hs.hos_id
						   and hdapm.copy_code = hs.copy_code
						   and hdapm.scheme_code = hs.scheme_code
						  left join htcg_drgs hd
						    on hd.group_id = hdapm.group_id
						   and hd.hos_id = hdapm.hos_id
						   and hd.copy_code = hdapm.copy_code
						   and hd.drgs_code = hdapm.drgs_code
						  left join htcg_drug_dict hdd
						    on hdd.group_id = hdapm.group_id
						   and hdd.hos_id = hdapm.hos_id
						   and hdd.copy_code = hdapm.copy_code
						   and hdd.drug_code = hdapm.drug_code
						  left join htcg_recipe_type hrt
						    on hrt.group_id = hdapm.group_id
						   and hrt.hos_id = hdapm.hos_id
						   and hrt.copy_code = hdapm.copy_code
						   and hrt.recipe_type_code = hdapm.recipe_type_code
						  left join htcg_scheme_recipe_merge_rule hsrmr
						    on hsrmr.group_id = hdapm.group_id
						   and hsrmr.hos_id = hdapm.hos_id
						   and hsrmr.copy_code = hdapm.copy_code
						   and hsrmr.drgs_code = hdapm.drgs_code
						   and hsrmr.scheme_code = hdapm.scheme_code
                     <where>                 
			                    hdapm.group_id = #{group_id}
							and hdapm.hos_id = #{hos_id}
							and hdapm.copy_code = #{copy_code}
						    <if test="scheme_code != null and scheme_code != ''">
                               and hdapm.scheme_code = #{scheme_code}
			               </if>
			               <if test="acc_year != null and acc_year != ''">
			                    and hdapm.acc_year = #{acc_year}
			               </if>
			               <if test="period_type_code != null and period_type_code != ''">
			                    and hdapm.period_type_code = #{period_type_code}
			               </if>
			               <if test="period_code != null and period_code != ''">
			                    and hpd.period_code = #{period_code}
			               </if>
                   </where>   
				order by hdapm.group_id,hdapm.hos_id,hdapm.copy_code
    </select>
	
</mapper>

