<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.pac.dao.basicset.common.PactSelectMapper">
	<resultMap id="selectMap" type="java.util.Map">
		<result property="id" column="id" />
		<result property="text" column="text" />
		<result property="label" column="label" />
		<result property="item_code" column="item_code" />
		<result property="item_spec" column="item_spec" />
		<result property="item_model" column="item_model" />
		<result property="unit_code" column="unit_code" />
		<result property="unit_name" column="unit_name" />
		<result property="start_date" column="start_date" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_no" column="fac_no" />
		<result property="fac_name" column="fac_name" />
		<result property="subject_type" column="subject_type" />
		<result property="attr_code" column="attr_code" />
		<result property="buy_type" column="buy_type" />
		<result property="organ_type" column="organ_type" />
		<result property="ass_brand" column="ass_brand" />
		<result property="name" column="name" />
		
	</resultMap>

	<select id="queryHosSupSelect" parameterType="java.util.Map"
		resultMap="selectMap">
		SELECT sup_id id,sup_code,sup_name text,sup_name label FROM
		HOS_SUP
		WHERE group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and is_stop=#{is_stop,jdbcType=NUMERIC}
		<if test="key != null and key != ''">
			and (
			sup_id like '%${key}%' or
			sup_name like '%${key}%'
			)
		</if>
		<if test =" mode_code=='05' ">
		 and is_ass=1
		
		</if>
		<if test =" mode_code=='04' ">
		 and is_mat=1
		
		</if>
		order by sup_id
	</select>

	<select id="queryHosSourceDictSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT source_id id, source_code,source_name text ,source_name label
		FROM HOS_SOURCE
		WHERE group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and is_stop=#{is_stop,jdbcType=NUMERIC}
		<if test="key != null and key != ''">
			and (
			source_code like '%${key}%' or
			source_name like '%${key}%'
			)
		</if>
		order by source_id
	</select>

	<select id="queryHosEmpSelect" parameterType="java.util.Map"
		resultMap="selectMap">
		SELECT emp_id id,emp_code,emp_name text ,emp_name label
		FROM HOS_EMP
		WHERE group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and is_stop=#{is_stop,jdbcType=NUMERIC}
		<if test="dept_no != null and dept_no != ''">
			and dept_id =#{dept_no,jdbcType=VARCHAR}
		</if>
		<if test="key != null and key != ''">
			and (
			emp_id like '%${key}%' or
			emp_name like '%${key}%'
			)
		</if>
		order by emp_id
	</select>

	<select id="queryAccCurSelect" parameterType="java.util.Map"
		resultMap="selectMap">
		SELECT CUR_CODE id,CUR_NAME text,CUR_NAME label FROM
		ACC_CUR
		WHERE
		group_id= #{group_id,jdbcType=NUMERIC}
		and hos_id= #{hos_id,jdbcType=NUMERIC}
		and is_stop = #{is_stop,jdbcType=NUMERIC}
		and acc_year = #{acc_year,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (
			CUR_CODE like '%${key}%' or
			CUR_NAME like '%${key}%'
			)
		</if>
		order by CUR_CODE
	</select>

	<select id="queryHosProjDictSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		proj_id id ,
		proj_name
		text ,
		proj_name label
		FROM hos_proj_dict
		WHERE group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and is_stop = #{is_stop,jdbcType=NUMERIC}
		<if test="key != null and key != ''">
			and (
			proj_id like '%${key}%' or
			proj_name like '%${key}%'
			)
		</if>
		order by proj_id
	</select>

	<select id="queryDeptSelect" parameterType="java.util.Map"	resultMap="selectMap">
		SELECT DEPT_ID id, DEPT_NAME text ,DEPT_NAME label FROM
		HOS_DEPT_DICT
		where
		group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and IS_LAST = 1 and IS_STOP=0
		<if test="key != null and key != ''">
			and (
			DEPT_CODE like '%${key}%' or
			DEPT_NAME like '%${key}%'
			)
		</if>
		order by DEPT_CODE
	</select>

	<select id="queryPactMainFKHTSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		PACT_CODE as id,
		PACT_NAME as text,
		PACT_NAME as label
		FROM
		PACT_MAIN_FKHT
		where group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="is_init == 0 or is_init == 1">
			and is_init = #{is_init,jdbcType=NUMERIC}
		</if>
		<if test="state_code != null and state_code != ''">
			and state_code = #{state_code,jdbcType=VARCHAR}
		</if>
		<if test="state != null and state != ''">
			and state = #{state,jdbcType=VARCHAR}
		</if>
		<if test="deposit_type != null and deposit_type != ''">
			and deposit_type = #{deposit_type,jdbcType=VARCHAR}
		</if>
		<if test="is_deposit != null and is_deposit != ''">
			and is_deposit = #{is_deposit,jdbcType=VARCHAR}
		</if>
		<if test="sup_no != null and sup_no != ''">
			and sup_no = #{sup_no,jdbcType=NUMERIC}
		</if>
		<if test="pact_type_code != null and pact_type_code != ''">
			and pact_type_code = #{pact_type_code,jdbcType=VARCHAR}
		</if>
		<if test="key != null and key != ''">
			and (PACT_CODE like '%${key}%' or PACT_NAME like '%${key}%')
		</if>
		order by PACT_CODE
	</select>
	<select id="queryPactMainSKHTSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		PACT_CODE as id,
		PACT_NAME as text,
		PACT_NAME as label,
		PACT_TYPE_CODE as "pact_type_code"
		FROM
		PACT_MAIN_SKHT
		where group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="is_init == 0 or is_init == 1">
			and is_init = #{is_init,jdbcType=NUMERIC}
		</if>
		<if test="state_code != null and state_code != ''">
			and state_code = #{state_code,jdbcType=VARCHAR}
		</if>
		<if test="deposit_type != null and deposit_type != ''">
			and deposit_type = #{deposit_type,jdbcType=VARCHAR}
		</if>
		<if test="is_deposit != null and is_deposit != ''">
			and is_deposit = #{is_deposit,jdbcType=VARCHAR}
		</if>
		<if test="cus_no != null and cus_no != ''">
			and cus_no = #{cus_no,jdbcType=NUMERIC}
		</if>
		<if test="pact_type_code != null and pact_type_code != ''">
			and pact_type_code = #{pact_type_code,jdbcType=VARCHAR}
		</if>
		<if test="key != null and key != ''">
			and (
			PACT_CODE like '%${key}%' or
			PACT_NAME like '%${key}%'
			)
		</if>
		order by PACT_CODE
	</select>
	
	<select id="queryPactFKXYSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		PACT_CODE as id,
		PACT_NAME as text,
		PACT_NAME as label
		FROM
		PACT_MAIN_FKXY
		where group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="is_init == 0 or is_init == 1">
			and is_init = #{is_init,jdbcType=NUMERIC}
		</if>
		<if test="state_code != null and state_code != ''">
			and state_code = #{state_code,jdbcType=VARCHAR}
		</if>
		<if test="sup_no != null and sup_no != ''">
			and sup_no = #{sup_no,jdbcType=NUMERIC}
		</if>
		<if test="pact_type_code != null and pact_type_code != ''">
			and pact_type_code = #{pact_type_code,jdbcType=VARCHAR}
		</if>
		<if test="key != null and key != ''">
			and (
			PACT_CODE like '%${key}%' or
			PACT_NAME like '%${key}%'
			)
		</if>
		order by PACT_CODE
	</select>
	<select id="queryPactSKXYSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		PACT_CODE as id,
		PACT_NAME as text,
		PACT_NAME as label
		FROM
		PACT_MAIN_SKXY
		where group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="is_init == 0 or is_init == 1">
			and is_init = #{is_init,jdbcType=NUMERIC}
		</if>
		<if test="state_code != null and state_code != ''">
			and state_code = #{state_code,jdbcType=VARCHAR}
		</if>
		<if test="sup_no != null and sup_no != ''">
			and sup_no = #{sup_no,jdbcType=NUMERIC}
		</if>
		<if test="pact_type_code != null and pact_type_code != ''">
			and pact_type_code = #{pact_type_code,jdbcType=VARCHAR}
		</if>
		<if test="key != null and key != ''">
			and (
			PACT_CODE like '%${key}%' or
			PACT_NAME like '%${key}%'
			)
		</if>
		order by PACT_CODE
	</select>

	<select id="queryPactMatInvDictSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		dict.INV_ID as id,
		CONCAT(dict.INV_NAME, '(' ||dict.INV_MODEL || ')') as text,
		CONCAT(dict.INV_NAME, '(' ||dict.INV_MODEL || ')') as label,
		dict.INV_CODE item_code ,
		dict.INV_MODEL as item_spec,
		dict.unit_code as unit_code,
		dict.fac_id,dict.fac_no,hu.unit_name,
		hf.FAC_NAME as fac_name 
		FROM
		MAT_INV_DICT dict
		LEFT JOIN HOS_FAC_DICT hf on dict.GROUP_ID = hf.GROUP_ID AND dict.HOS_ID = hf.HOS_ID AND dict.FAC_ID = hf.FAC_ID
		LEFT JOIN HOS_UNIT hu on dict.GROUP_ID = hu.GROUP_ID AND dict.HOS_ID = hu.HOS_ID AND dict.unit_code = hu.UNIT_CODE
		where dict.group_id = #{group_id,jdbcType=NUMERIC}
		and dict.hos_id = #{hos_id,jdbcType=NUMERIC}
		and dict.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (
			dict.INV_ID like '%${key}%' or
			dict.INV_NAME like '%${key}%'
			)
		</if>
		<if test="id != null and id != ''">
			and dict.INV_ID = #{id}
		</if>
		<if test="without_id != null and without_id != ''">
			and dict.INV_ID not in (${without_id})
		</if>
		and dict.is_stop = 0
		and 100 > rownum
		order by dict.INV_ID
	</select>

	<select id="queryPactMedInvDictSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		dict.INV_ID as id,
		CONCAT(dict.INV_NAME, '(' ||dict.INV_MODEL || ')') as text,
		CONCAT(dict.INV_NAME, '(' ||dict.INV_MODEL || ')') as label,
		dict.INV_CODE item_code ,
		dict.INV_MODEL as item_spec,
		dict.UNIT_CODE as unit_code,
		dict.fac_id,dict.fac_no,
		hf.FAC_NAME as fac_name,hu.unit_name
		FROM
		MED_INV_DICT dict
		LEFT JOIN HOS_FAC_DICT hf on dict.GROUP_ID = hf.GROUP_ID AND dict.HOS_ID = hf.HOS_ID AND dict.FAC_ID = hf.FAC_ID
		LEFT JOIN HOS_UNIT hu on dict.GROUP_ID = hu.GROUP_ID AND dict.HOS_ID = hu.HOS_ID AND dict.UNIT_CODE = hu.UNIT_CODE
		where dict.group_id=#{group_id,jdbcType=NUMERIC}
		and dict.hos_id=#{hos_id,jdbcType=NUMERIC}
		and dict.copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (
			dict.INV_ID like '%${key}%' or
			dict.INV_NAME like '%${key}%'
			)
		</if>
		<if test="id != null and id != ''">
			and dict.INV_ID=#{id}
		</if>
		<if test="without_id != null and without_id != ''">
			and dict.INV_ID not in (${without_id})
		</if>
		and dict.is_stop = 0
		and 100 > rownum
		order by dict.INV_ID
	</select>

	<select id="queryPactAssNoDictSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		dict.ASS_ID as id,
		CONCAT(dict.ASS_NAME, '(' ||dict.ASS_MODEL || ')') as text,
		CONCAT(dict.ASS_NAME, '(' ||dict.ASS_MODEL || ')') as label,
		dict.ASS_CODE as item_code,
		dict.ASS_SPEC as item_spec,
		dict.ASS_MODEL as item_model,
		dict.ASS_UNIT as  unit_code,
		dict.fac_id,dict.fac_no,hu.UNIT_NAME,
		hf.FAC_NAME as fac_name,
		dict.ASS_BRAND
		FROM ASS_NO_DICT dict
		LEFT JOIN HOS_FAC_DICT hf on dict.GROUP_ID = hf.GROUP_ID AND dict.HOS_ID = hf.HOS_ID AND dict.FAC_ID = hf.FAC_ID
		LEFT JOIN HOS_UNIT hu on dict.GROUP_ID = hu.GROUP_ID AND dict.HOS_ID = hu.HOS_ID AND dict.ASS_UNIT = hu.UNIT_CODE
		where dict.group_id=#{group_id,jdbcType=NUMERIC}
		and dict.hos_id=#{hos_id,jdbcType=NUMERIC}
		and dict.copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (dict.ASS_ID like '%${key}%' or dict.ASS_NAME like '%${key}%' )
		</if>
		<if test="id != null and id != ''">
			and dict.ASS_ID=#{id}
		</if>
		<if test="without_id != null and without_id != ''">
			and dict.ASS_ID not in (${without_id})
		</if>
		and dict.is_stop = 0
		and 100 > rownum
		order by dict.ASS_ID
	</select>

	<select id="queryPactElseSubDictSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		SUB_ID as id,
		SUB_NAME as text,
		SUB_NAME as label,
		SUB_CODE item_code
		FROM
		PACT_ELSE_SUB_DICT
		where group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and ( SUB_ID like '%${key}%' or SUB_NAME like '%${key}%' )
		</if>
		<if test="without_id != null and without_id != ''">
			and SUB_ID not in (#{without_id})
		</if>
		and is_new = 0 and is_stop = 0 and 100 > rownum
		order by SUB_ID
	</select>

	<select id="queryPactDocTypeSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		type_code as id,
		type_name as text,
		type_name as label
		FROM
		PACT_DOC_TYPE
		where group_id=#{group_id,jdbcType=NUMERIC}
		and
		hos_id=#{hos_id,jdbcType=NUMERIC}
		and
		copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (
			type_code like '%${key}%' or
			type_name like '%${key}%'
			)
		</if>
		and is_stop = 0
		order by type_code
	</select>

	<select id="queryPactTypeSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		type_code as id,
		type_name as text,
		type_name as label,
		start_date,
		subject_type
		<if test="table_code == 'PACT_TYPE_FKHT'">
		,pact_attr_fkht attr_code
		</if>
		<if test="table_code == 'PACT_TYPE_FKXY'">
		,fkxy_attr attr_code
		</if>
		FROM
		${table_code}
		where group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and is_stop=#{is_stop,jdbcType=NUMERIC}
		and SYSDATE >= START_DATE
		<if test="key != null and key != ''">
			and (
			type_code like '%${key}%' or
			type_name like '%${key}%'
			)
		</if>
		<if test="mode_code=='05'">
		    and subject_type='01'
		    or subject_type='02'
		</if>
		<if test="mode_code=='04'">
		    and subject_type='03'
		   
		</if>
		
		and type_code in (
			SELECT PERM_CODE FROM SYS_USER_PERM_DATA
			WHERE GROUP_ID = #{group_id,jdbcType=NUMERIC}
			and HOS_ID = #{hos_id,jdbcType=NUMERIC} 
			and COPY_CODE = #{copy_code,jdbcType=VARCHAR}
			and MOD_CODE = #{mod_code,jdbcType=VARCHAR} 
			and USER_ID = #{user_id,jdbcType=VARCHAR} 
			and table_code = #{table_code,jdbcType=VARCHAR}
			and is_read = #{is_read,jdbcType=NUMERIC} 
			UNION 
			SELECT PERM_CODE FROM SYS_ROLE_PERM_DATA rpd 
			LEFT JOIN SYS_ROLE_USER ru on rpd.GROUP_ID = ru.GROUP_ID and rpd.HOS_ID = ru.HOS_ID and rpd.ROLE_ID =ru.ROLE_ID
			WHERE rpd.GROUP_ID = #{group_id,jdbcType=NUMERIC} 
			and rpd.HOS_ID = #{hos_id,jdbcType=NUMERIC} 
			and rpd.COPY_CODE = #{copy_code,jdbcType=VARCHAR} 
			and rpd.MOD_CODE = #{mod_code,jdbcType=VARCHAR} 
			and ru.USER_ID = #{user_id,jdbcType=VARCHAR} 
			and rpd.table_code = #{table_code,jdbcType=VARCHAR}
			and rpd.is_read = #{is_read,jdbcType=NUMERIC} 
		)
		order by type_code
	</select>

	<select id="queryPayTypeDict" parameterType="java.util.Map"
		resultMap="selectMap">
		SELECT
		pay_code as id,
		pay_name as text,
		pay_name as label
		FROM
		ACC_PAY_TYPE
		where group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (
			pay_code like '%${key}%' or
			pay_name like '%${key}%'
			)
		</if>
		order by pay_code
	</select>

	<select id="queryPayTypeDictBySource"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		pt.PAY_CODE AS "id",
		pt.PAY_NAME AS "label",
		pt.PAY_NAME AS "text"
		FROM
		ACC_PAY_TYPE pt
		INNER JOIN ASS_PAY_SOURCE ps ON pt.GROUP_ID = ps.GROUP_ID AND pt.HOS_ID = ps.HOS_ID AND pt.COPY_CODE = ps.COPY_CODE AND pt.PAY_CODE = ps.PAY_CODE
		WHERE pt.group_id=#{group_id,jdbcType=NUMERIC}
		AND pt.hos_id=#{hos_id,jdbcType=NUMERIC}
		AND pt.copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="source_id != null and source_id != ''">
			AND ps.source_id=#{source_id,jdbcType=VARCHAR}
		</if>
		<if test="key != null and key != ''">
			and (
			pt.PAY_CODE like '%${key}%' or
			pt.PAY_NAME like
			'%${key}%'
			)
		</if>
		order by pt.PAY_CODE
	</select>

	<select id="queryPactBankSelectDict"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		bank_number as id,
		bank_name as text,
		bank_name as label
		FROM
		ACC_BANK
		where group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		<if test="key != null and key != ''">
			and (
			bank_number like '%${key}%' or
			bank_name like
			'%${key}%'
			)
		</if>
		order by bank_number
	</select>

	<select id="queryAssTypeSelectDict"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		ass_type_id as id,
		ass_type_name as text,
		ass_type_name as label
		FROM
		ASS_TYPE_DICT
		where group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (
			ass_type_id like '%${key}%' or
			ass_type_name like
			'%${key}%'
			)
		</if>
		order by ass_type_id
	</select>
	<select id="querySelcetFKHTNature" parameterType="java.util.Map"
		resultMap="selectMap">
		select
		nature_code as id,nature_name as label,nature_name as
		text
		from
		PACT_NATURE_FKHT
		where group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and is_stop = 0
		<if test="key != null and key != ''">
			and (
			nature_code like '%${key}%' or
			nature_name like
			'%${key}%'
			)
		</if>
		order by nature_code
	</select>

	<select id="queryPactStateSelect" parameterType="java.util.Map"
		resultMap="selectMap">
		select
		state_code as "id",state_name as "text",state_name as "label"
		from PACT_STATE
		where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="is_stop != null and is_stop != ''">
			and is_stop=#{is_stop,jdbcType=NUMERIC}
		</if>
		<if test="key != null and key != ''">
			and (
			state_code like '%${key}%' or
			state_name like
			'%${key}%'
			)
		</if>
		order by state_code
	</select>

	<select id="queryPactPayCondSelect"
		parameterType="java.util.Map" resultMap="selectMap">
		select
		cond_code as "id" ,cond_name as "text" ,cond_name as "label"
		from PACT_PAY_COND
		where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="is_stop != null and is_stop != ''">
			and is_stop=#{is_stop,jdbcType=NUMERIC}
		</if>
		<if test="key != null and key != ''">
			and (
			cond_code like '%${key}%' or
			cond_name like '%${key}%'
			)
		</if>
		order by cond_code
	</select>

	<select id="queryDictSelect" parameterType="java.util.Map"
		resultMap="selectMap">
		select VALUE_CODE as "id",VALUE_NAME as "text",VALUE_NAME as
		"label" ,F_CODE,F_NAME
		FROM PACT_DICT_DATA WHERE F_CODE=#{f_code,jdbcType=VARCHAR}
		<if test="VALUE_CODE != null and VALUE_CODE != ''">
		and VALUE_CODE=#{VALUE_CODE,jdbcType=VARCHAR}	<!-- yh add and VALUE_CODE=#{VALUE_CODE,jdbcType=VARCHAR} -->
		</if>
		<if test="key != null and key != ''">
			and (
			VALUE_CODE like '%${key}%' or
			VALUE_NAME like '%${key}%'
			)
		</if>
	</select>

	<select id="queryTypeSKHTNatureSelect" parameterType="java.util.Map"
		resultMap="selectMap">
		select
		nature_code as "id",nature_name as "label",nature_name as "text"
		from PACT_NATURE_SKHT
		where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and is_stop = 0
		<if test="key != null and key != ''">
			and (
			nature_code like '%${key}%' or
			nature_name like '%${key}%'
			)
		</if>
		order by nature_code
	</select>
	
	<select id="queryHosCusDictSelect" parameterType="java.util.Map"
		resultType ="java.util.Map">
		select
		cus_no as "id",cus_name as "label",cus_name as "text",cus_id as "cus_id" ,cus_code as "cus_code"
		from HOS_CUS_DICT
		where group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		<if test="key != null and key != ''">
			and (
			cus_no like '%${key}%' or
			cus_no like '%${key}%'
			)
		</if>
		<if test="cus_no != null and cus_no != ''">
			and cus_no = #{cus_no,jdbcType=NUMERIC}
		</if>
		order by cus_no
	</select>
	
	<select id="queryAssTypeSelect" parameterType="java.util.Map"
		resultType ="java.util.Map">
		SELECT ASS_TYPE_ID as "id" ,ASS_TYPE_NAME  as "text",ASS_TYPE_NAME as "label" FROM ASS_TYPE_DICT
		where group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code ,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (
			ASS_TYPE_ID like '%${key}%' or
			ASS_TYPE_NAME like '%${key}%'
			)
		</if>
		<if test="ass_type_id != null and ass_type_id != ''">
			and ASS_TYPE_ID = #{ass_type_id,jdbcType=NUMERIC}
		</if>
		order by ass_type_id
	</select>
	
	<select id="queryHosFacDict" resultMap ="selectMap">
		SELECT
		fac_id id,
		fac_name text,
		fac_name as "label"
		FROM
		HOS_FAC_DICT 
		where
			is_stop=0
			and is_ass = 1
			and group_id = #{group_id}
			and hos_id = #{hos_id}
			<if test="key != null and key != ''">
				and (
				fac_code like '%${key}%' or
				fac_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
		order by fac_code
	</select>
	<!-- 招标信息 下拉框 查询 -->
	<select id="queryAssTendInfo" resultMap ="selectMap">
		SELECT
		BID_ID id,
		BID_CODE text,
		BID_CODE as "label",
		BID_PurchaseMode buy_type,
		BID_METHOD organ_type
		FROM
		ASS_TEND_MAIN 
		where
			
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and BID_STATE = '03'
			<if test="key != null and key != ''">
				and (
				BID_CODE like '%${key}%' or
				BID_CODE like '%${key}%'
				)
			</if>
		order by BID_CODE
	</select>
	<!-- 科室下拉框 查询 带 变更id -->
	<select id="queryDeptSelectDict" parameterType="java.util.Map"	resultMap="selectMap">
		SELECT DEPT_ID ||'@' || DEPT_NO id, DEPT_NAME text ,DEPT_NAME label FROM
		HOS_DEPT_DICT
		where
		group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and IS_LAST = 1 and IS_STOP=0
		<if test="key != null and key != ''">
			and (
			DEPT_CODE like '%${key}%' or
			DEPT_NAME like '%${key}%'
			)
		</if>
		order by DEPT_CODE
	</select>
	<!-- 供应商下拉框 带变更id -->
	<select id="queryHosSupSelectDict" parameterType="java.util.Map" 	resultMap="selectMap">
	
		SELECT sup_id ||'@'|| sup_no id,sup_code,sup_name text,sup_name label FROM
		HOS_SUP_DICT
		WHERE group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and is_stop=#{is_stop,jdbcType=NUMERIC}
		<if test="key != null and key != ''">
			and (
			sup_code like '%${key}%' or
			sup_name like '%${key}%'
			)
		</if>
		<if test="mode_code=='05'">
		and is_ass=1
		 
		</if>
		<if test="mode_code=='04'">
		and is_mat=1
		 
		</if>
		order by sup_code
	</select>
	
	<select id="queryHosProjSelectDict" parameterType="java.util.Map"	resultMap="selectMap">
		SELECT
		proj_id ||'@'|| proj_no id ,
		proj_name 	text ,
		proj_name label
		FROM hos_proj_dict
		WHERE group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and is_stop = #{is_stop,jdbcType=NUMERIC}
		<if test="key != null and key != ''">
			and (
			proj_code like '%${key}%' or
			proj_name like '%${key}%'
			)
		</if>
		order by proj_code
	</select>
	<!-- 付款合同下拉框  有付款合同类型 权限  状态为 签订后  履行 12 状态   签订后合同变动 页面用 修改时注意 权限和状态-->
	<select id="queryPactFKHTSelectPerm"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		a.PACT_CODE as id,
		a.PACT_NAME as text,
		a.PACT_NAME as label,
		a.sup_id ,
		a.sup_no ,
		b.pact_attr_fkht ,
		b.pact_nature 
		FROM
		PACT_MAIN_FKHT a
		left join pact_type_fkht b
			on  a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.pact_type_code = b.type_code
				
		where a.group_id = #{group_id,jdbcType=NUMERIC}
		and a.hos_id = #{hos_id,jdbcType=NUMERIC}
		and a.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="sup_id != null and sup_id != ''">
			and a.sup_id = #{sup_id,jdbcType=NUMERIC}
		</if>
		<if test="key != null and key != ''">
			and (a.PACT_CODE like '%' ||${key} ||'%' or a.PACT_NAME like '%' ||${key} ||'%')
		</if>
		and exists (
				select 1 from v_user_data_perm c where
				a.group_id=c.group_id 
				and a.hos_id=c.hos_id 
				and a.pact_type_code = c.perm_code
				and user_id=#{user_id}
				AND TABLE_CODE = 'PACT_TYPE_FKHT'
				and  c.is_write = 1
				
	          	union all
	          	
	          	select 1 from v_user_data_perm d where
				a.group_id=d.group_id 
				and a.hos_id=d.hos_id 
				and a.pact_type_code = d.perm_code
				and user_id=#{user_id}
				AND TABLE_CODE = 'PACT_TYPE_FKHT'
				and d.is_read = 1
          	)
          and a.state_code ='12' 
		order by a.PACT_CODE
	</select>
	
	<!-- 付款协议下拉框  有付款协议类型 权限  状态为 签订后  履行 12 状态   签订后协议变动 页面用 修改时注意 权限和状态-->
	<select id="queryPactFKXYSelectPerm"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		a.PACT_CODE as id,
		a.PACT_NAME as text,
		a.PACT_NAME as label,
		a.sup_id ,
		a.sup_no ,
		b.fkxy_attr
		FROM
		PACT_MAIN_FKXY a
		left join pact_type_fkxy b
			on  a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.pact_type_code = b.type_code
				
		where a.group_id = #{group_id,jdbcType=NUMERIC}
		and a.hos_id = #{hos_id,jdbcType=NUMERIC}
		and a.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="sup_id != null and sup_id != ''">
			and a.sup_id = #{sup_id,jdbcType=NUMERIC}
		</if>
		<if test="key != null and key != ''">
			and (a.PACT_CODE like '%' ||${key} ||'%' or a.PACT_NAME like '%' ||${key} ||'%')
		</if>
		
		and exists (
				select 1 from v_user_data_perm c where
				a.group_id=c.group_id 
				and a.hos_id=c.hos_id 
				and a.pact_type_code = c.perm_code
				and user_id=#{user_id}
				AND TABLE_CODE = 'PACT_TYPE_FKXY'
				and  c.is_write = 1
				
	          	union all
	          	
	          	select 1 from v_user_data_perm d where
				a.group_id=d.group_id 
				and a.hos_id=d.hos_id 
				and a.pact_type_code = d.perm_code
				and user_id=#{user_id}
				AND TABLE_CODE = 'PACT_TYPE_FKXY'
				and d.is_read = 1
          	)
          and a.state_code ='12' 
		order by a.PACT_CODE
	</select>
	
	<!-- 收款协议下拉框  有收款协议类型 权限  状态为 签订后  履行 12 状态   签订后协议变动 页面用 修改时注意 权限和状态-->
	<select id="queryPactSKXYSelectPerm"
		parameterType="java.util.Map" resultMap="selectMap">
		SELECT
		a.PACT_CODE as id,
		a.PACT_NAME as text,
		a.PACT_NAME as label,
		a.cus_id ,
		a.cus_no
		FROM
		PACT_MAIN_SKXY a
		left join pact_type_skxy b
			on  a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.pact_type_code = b.type_code
				
		where a.group_id = #{group_id,jdbcType=NUMERIC}
		and a.hos_id = #{hos_id,jdbcType=NUMERIC}
		and a.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="cus_id != null and cus_id != ''">
			and a.cus_id = #{cus_id,jdbcType=NUMERIC}
		</if>
		<if test="key != null and key != ''">
			and (a.PACT_CODE like '%' ||${key} ||'%' or a.PACT_NAME like '%' ||${key} ||'%')
		</if>
		and exists (
				select 1 from v_user_data_perm c where
				a.group_id=c.group_id 
				and a.hos_id=c.hos_id 
				and a.pact_type_code = c.perm_code
				and user_id=#{user_id}
				AND TABLE_CODE = 'PACT_TYPE_SKXY'
				and  c.is_write = 1
				
	          	union all
	          	
	          	select 1 from v_user_data_perm d where
				a.group_id=d.group_id 
				and a.hos_id=d.hos_id 
				and a.pact_type_code = d.perm_code
				and user_id=#{user_id}
				AND TABLE_CODE = 'PACT_TYPE_SKXY'
				and d.is_read = 1
          	)
          and a.state_code ='12' 
		order by a.PACT_CODE
	</select>

	
	
	<!-- 合同模板配置方案 下拉框-->
	<select id="queryPactTemplate"	parameterType="java.util.Map" resultMap="selectMap">
		SELECT
			PT_ROWID as id,
			PT_NAME as text,
			PT_NAME as label
		FROM PACT_TEMPLATE 
		where IFB_GROUPID = #{group_id,jdbcType=NUMERIC}
		and IFB_HOSPID = #{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="key != null and key != ''">
			and (PT_CODE like '%' ||${key} ||'%' or PT_NAME like '%' ||${key} ||'%')
		</if>
		order by PT_ROWID
	</select>
	
<!-- 按钮函数数据源下拉框 -->
	<select id="queryBtenDictSelect" parameterType="java.util.Map" resultMap="selectMap">
	select BB_ButtonCode,BB_ButtonCode||' '||BB_Button  text,BB_Rowid id
	from PACT_Template_Button
	where 
	IFB_GROUPID = #{group_id,jdbcType=INTEGER}
	and IFB_HOSPID = #{hos_id,jdbcType=INTEGER}
	and COPY_CODE =#{copy_code,jdbcType=VARCHAR}
	<if test="key!=null and key != ''">
	and (BB_ButtonCode like '%' ||'${key}' ||'%' or BB_Button like '%' ||'${key}' ||'%')
	
	</if>
	order by BB_ButtonCode
	</select>

	<!-- 物流仓库下拉选择 -->
	<select id="queryMatType" resultMap="selectMap">
		SELECT
			mat_type_id id,
			mat_type_code||' '||mat_type_name text
		FROM MAT_TYPE_DICT
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			and is_stop = 0
			<if test="key != null and key != ''">
				and (
				mat_type_code like '${key}%' or 
				mat_type_name like '%${key}%'
				or
				spell_code like '%${key}%' or 
				wbx_code like '%${key}%'
				)
			</if>
		</where>
		order by mat_type_code
	</select>
	
	<!--仓库下拉框（所有仓库）  -->
	<select id="queryMatStoreAll" resultMap="selectMap">
		select  a.store_id||','||a.store_no id, 
			a.store_code||' '||a.store_name text
		from HOS_STORE_DICT a 
		join mat_store ms 
			on a.group_id = ms.group_id
			and a.hos_id = ms.hos_id
			and a.store_id = ms.store_id
		WHERE  a.group_id = #{group_id,jdbcType=INTEGER} 
			and a.hos_id = #{hos_id,jdbcType=INTEGER} 
			and a.is_stop = 0
			and a.is_mat=1
			and a.is_disable=0
			<if test="key != null and key != ''">
				and (
					store_code like '${key}%' or
					store_name like '%${key}%'
				or
					a.spell_code like '%${key}%' or
					a.wbx_code like '%${key}%'
				)  
			</if>
			order by a.store_code asc
	</select>
	<select id="queryHosUnit"  parameterType="java.util.Map" resultMap ="selectMap">
		SELECT
		unit_code,
		unit_name 
		FROM
		HOS_UNIT 
		where
			is_stop = 0
			and group_id = #{group_id}
			and hos_id = #{hos_id}
			<if test="key != null and key != ''">
				and (
				unit_code like '%${key}%' or
				unit_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
		order by unit_code
	</select>
	
	<select id="queryDeptNameAndId" parameterType="java.util.Map"	resultMap="selectMap">
		SELECT DEPT_ID ||'@' || DEPT_NO id, DEPT_NAME NAME,DEPT_CODE FROM
		HOS_DEPT_DICT
		where
		group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and IS_LAST = 1 and IS_STOP=0
		<if test="key != null and key != ''">
			and (
			DEPT_CODE like '%${key}%' or
			DEPT_NAME like '%${key}%'
			)
		</if>
		order by DEPT_CODE
	</select>
</mapper>