<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.business.compilationplan.plan.BudgWorkEditPlanMapper">
	
	<resultMap id="budgWorkEditPlan" type="com.chd.hrp.budg.entity.BudgWorkEditPlan">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="budg_level" column="budg_level"/>
	<result property="index_code" column="index_code"/>
	<result property="is_single_count" column="is_single_count"/>
	<result property="edit_method" column="edit_method"/>
	<result property="get_way" column="get_way"/>
	<result property="formula_id" column="formula_id"/>
	<result property="fun_id" column="fun_id"/>
	<result property="resolve_or_sum" column="resolve_or_sum"/>
	<result property="resolve_way" column="resolve_way"/>
	<result property="resolve_level" column="resolve_level"/>
	<result property="sum_level" column="sum_level"/>
	<result property="reference_years" column="reference_years"/>
	<result property="resolve_data" column="resolve_data"/>
	
	</resultMap>
		
	<resultMap id="budgWorkEditPlanMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="budg_level" column="budg_level"/>
	<result property="index_code" column="index_code"/>
	<result property="index_name" column="index_name"/>
	<result property="is_single_count" column="is_single_count"/>
	<result property="edit_method" column="edit_method"/>
	<result property="edit_method_name" column="edit_method_name"/>
	<result property="get_way" column="get_way"/>
	<result property="get_way_name" column="get_way_name"/>
	<result property="formula_id" column="formula_id"/>
	<result property="formula_name" column="formula_name"/>
	<result property="fun_id" column="fun_id"/>
	<result property="fun_name" column="fun_name"/>
	<result property="resolve_or_sum" column="resolve_or_sum"/>
	<result property="resolve_or_sum_name" column="resolve_or_sum_name"/>
	<result property="resolve_way" column="resolve_way"/>
	<result property="resolve_way_name" column="resolve_way_name"/>
	<result property="resolve_level" column="resolve_level"/>
	<result property="resolve_level_name" column="resolve_level_name"/>
	<result property="sum_level" column="sum_level"/>
	<result property="sum_level_name" column="sum_level_name"/>
	<result property="reference_years" column="reference_years"/>
	<result property="resolve_data" column="resolve_data"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_WORK_EDIT_PLAN (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			budg_level
			,
			index_code
			,
			is_single_count
			,
			edit_method
			,
			get_way
			,
			formula_id
			,
			fun_id
			,
			resolve_or_sum
			,
			resolve_way
			,
			resolve_level
			,
			sum_level 
			,
			reference_years 
			,
			resolve_data
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{budg_level,jdbcType=VARCHAR}
			,
			#{index_code,jdbcType=VARCHAR}
			,
			#{is_single_count,jdbcType=INTEGER}
			,
			#{edit_method,jdbcType=VARCHAR}
			,
			#{get_way,jdbcType=VARCHAR}
			,
			#{formula_id,jdbcType=VARCHAR}
			,
			#{fun_id,jdbcType=VARCHAR}
			,
			#{resolve_or_sum,jdbcType=VARCHAR}
			,
			#{resolve_way,jdbcType=VARCHAR}
			,
			#{resolve_level,jdbcType=VARCHAR}
			,
			#{sum_level,jdbcType=VARCHAR}
			,
			#{reference_years,jdbcType=INTEGER}
			,
			#{resolve_data,jdbcType=VARCHAR}
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_WORK_EDIT_PLAN (
		group_id
		,
		hos_id
		,
		copy_code
		,
		budg_year
		,
		budg_level
		,
		index_code
		,
		is_single_count
		,
		edit_method
		,
		get_way
		,
		formula_id
		,
		fun_id
		,
		resolve_or_sum
		,
		resolve_way
		,
		resolve_level
		,
		sum_level
		,
		reference_years
		,
		resolve_data
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.budg_level,jdbcType=VARCHAR}
			,
			#{item.index_code,jdbcType=VARCHAR}
			,
			#{item.is_single_count,jdbcType=INTEGER}
			,
			#{item.edit_method,jdbcType=VARCHAR}
			,
			#{item.get_way,jdbcType=VARCHAR}
			,
			#{item.formula_id,jdbcType=VARCHAR}
			,
			#{item.fun_id,jdbcType=VARCHAR}
			,
			#{item.resolve_or_sum,jdbcType=VARCHAR}
			,
			#{item.resolve_way,jdbcType=VARCHAR}
			,
			#{item.resolve_level,jdbcType=VARCHAR}
			,
			#{item.sum_level,jdbcType=VARCHAR}
			,
			#{item.reference_years,jdbcType=INTEGER}
			,
			#{item.resolve_data,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_work_edit_plan set
			is_single_count = #{is_single_count,jdbcType=INTEGER}
			,
			edit_method = #{edit_method,jdbcType=VARCHAR}
			,
			get_way = #{get_way,jdbcType=VARCHAR}
			,
			formula_id = #{formula_id,jdbcType=VARCHAR}
			,
			fun_id = #{fun_id,jdbcType=VARCHAR}
			,
			resolve_or_sum = #{resolve_or_sum,jdbcType=VARCHAR}
			,
			resolve_way = #{resolve_way,jdbcType=VARCHAR}
			,
			resolve_level = #{resolve_level,jdbcType=VARCHAR}
			,
			sum_level = #{sum_level,jdbcType=VARCHAR}
			,
			reference_years = #{reference_years,jdbcType=INTEGER}
			,
			resolve_data = #{resolve_data,jdbcType=VARCHAR}
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="budg_level != null and budg_level != ''">
			AND budg_level = #{budg_level,jdbcType=VARCHAR}
			</if>
			<if test="index_code != null and index_code != ''">
			AND index_code = #{index_code,jdbcType=VARCHAR}
			</if>
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_work_edit_plan set
				is_single_count = #{item.is_single_count,jdbcType=INTEGER}
				,
				edit_method = #{item.edit_method,jdbcType=VARCHAR}
				,
				get_way = #{item.get_way,jdbcType=VARCHAR}
				,
				formula_id = #{item.formula_id,jdbcType=VARCHAR}
				,
				fun_id = #{item.fun_id,jdbcType=VARCHAR}
				,
				resolve_or_sum = #{item.resolve_or_sum,jdbcType=VARCHAR}
				,
				resolve_way = #{item.resolve_way,jdbcType=VARCHAR}
				,
				resolve_level = #{item.resolve_level,jdbcType=VARCHAR}
				,
				sum_level = #{item.sum_level,jdbcType=VARCHAR}
				,
				reference_years =  #{item.reference_years,jdbcType=INTEGER}
				,
				resolve_data = #{item.resolve_data,jdbcType=VARCHAR}
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				<if test="item.budg_year != null and item.budg_year != ''">
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				</if>  
				<if test="item.budg_level != null and item.budg_level != ''">
				AND budg_level = #{item.budg_level,jdbcType=VARCHAR}
				</if>  
				<if test="item.index_code != null and item.index_code != ''">
				AND index_code = #{item.index_code,jdbcType=VARCHAR}
				</if>  
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_work_edit_plan 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
			<if test="budg_level != null and budg_level != ''">
			AND budg_level = #{budg_level,jdbcType=VARCHAR}
			</if>
			<if test="index_code != null and index_code != ''">
			AND index_code = #{index_code,jdbcType=VARCHAR}
			</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_work_edit_plan 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				<if test="item.budg_level != null and item.budg_level != ''">
				AND budg_level = #{item.budg_level,jdbcType=VARCHAR}
				</if>
				<if test="item.index_code != null and item.index_code != ''">
				AND index_code = #{item.index_code,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgWorkEditPlanMap" >
	
		SELECT 
		bwep.group_id,
		bwep.hos_id,
		bwep.copy_code,
		bwep.budg_year,
		bwep.budg_level,
		bwep.index_code,
		bid.index_name,
		CASE bwep.is_single_count when 1 THEN '√' else '×' end is_single_count ,
		bwep.edit_method,
		a.value_name edit_method_name,
		bwep.get_way,
		b.value_name get_way_name,
		bwep.formula_id,
		bfs.formula_name,
		bwep.fun_id,
		bf.fun_name,
		bwep.resolve_or_sum,
		c.value_name resolve_or_sum_name,
		bwep.resolve_way,
		d.value_name resolve_way_name,
		bwep.resolve_level,
		e.value_name resolve_level_name,
		bwep.sum_level ,
		f.value_name as sum_level_name ,
		bwep.reference_years ,
		bwep.resolve_data
		FROM BUDG_WORK_EDIT_PLAN bwep
		Left join BUDG_INDEX_DICT bid
			on 
				bwep.group_id = bid.group_id
				and bwep.hos_id = bid.hos_id
				and bwep.copy_code= bid.copy_code
				and bwep.index_code = bid.index_code
		Left join BUDG_FORMULA_SET  bfs
			on 
				bwep.group_id = bfs.group_id
				and bwep.hos_id = bfs.hos_id
				and bwep.copy_code= bfs.copy_code
				and bwep.formula_id = bfs.formula_id
		Left join BUDG_FUN  bf
			on 
				bwep.group_id = bf.group_id
				and bwep.hos_id = bf.hos_id
				and bwep.copy_code= bf.copy_code
				and bwep.fun_id = bf.fun_code
		Left join BUDG_SYS_DICT a
			on 
				a.f_code = 'EDIT_METHOD'
				and bwep.edit_method = a.value_code
		Left join BUDG_SYS_DICT b
			on 
				b.f_code = 'GET_WAY'
				and bwep.get_way = b.value_code
		Left join BUDG_SYS_DICT c
			on 
				c.f_code = 'RESOLVE_OR_SUM'
				and bwep.resolve_or_sum = c.value_code
		Left join BUDG_SYS_DICT d
			on 
				d.f_code = 'RESOLVE_WAY'
				and bwep.resolve_way = d.value_code
		Left join BUDG_SYS_DICT e
			on 
				e.f_code = 'ELEMENT_LEVEL'
				and bwep.resolve_level = e.value_code
		Left join BUDG_SYS_DICT f
			on 
				f.f_code = 'ELEMENT_LEVEL'
				and bwep.sum_level = f.value_code
		where                     
			bwep.group_id = #{group_id,jdbcType=INTEGER}
			AND bwep.hos_id = #{hos_id,jdbcType=INTEGER}
			AND bwep.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="budg_year != null and budg_year != ''">
			AND bwep.budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
			<if test="budg_level != null and budg_level != ''">
			AND bwep.budg_level = #{budg_level,jdbcType=VARCHAR}
			</if>
			<if test="index_code != null and index_code != ''">
			AND bwep.index_code = #{index_code,jdbcType=VARCHAR}
			</if>
			<if test="is_single_count != null and is_single_count != ''">
			AND bwep.is_single_count = #{is_single_count,jdbcType=INTEGER}
			</if>
			<if test="edit_method != null and edit_method != ''">
			AND bwep.edit_method = #{edit_method,jdbcType=VARCHAR}
			</if>
			<if test="get_way != null and get_way != ''">
			AND bwep.get_way = #{get_way,jdbcType=VARCHAR}
			</if>
			<if test="formula_id != null and formula_id != ''">
			AND bwep.formula_id = #{formula_id,jdbcType=VARCHAR}
			</if>
			<if test="fun_id != null and fun_id != ''">
			AND bwep.fun_id = #{fun_id,jdbcType=VARCHAR}
			</if>
			<if test="resolve_or_sum != null and resolve_or_sum != ''">
			AND bwep.resolve_or_sum = #{resolve_or_sum,jdbcType=VARCHAR}
			</if>
			<if test="resolve_way != null and resolve_way != ''">
			AND bwep.resolve_way = #{resolve_way,jdbcType=VARCHAR}
			</if>
			<if test="resolve_level != null and resolve_level != ''">
			AND bwep.resolve_level = #{resolve_level,jdbcType=VARCHAR}
			</if>
			<if test="sum_level != null and sum_level != ''">
			AND bwep.sum_level = #{sum_level,jdbcType=VARCHAR}
			</if>
		order by index_code asc
	</select>
	<select id="queryByCode" resultMap="budgWorkEditPlan"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		budg_level,
		index_code,
		is_single_count,
		edit_method,
		get_way,
		formula_id,
		fun_id,
		resolve_or_sum,
		resolve_way,
		resolve_level,
		sum_level ,
		reference_years ,
		resolve_data
		FROM budg_work_edit_plan 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		budg_year = #{budg_year,jdbcType=VARCHAR}   and 
		budg_level = #{budg_level,jdbcType=VARCHAR}   and 
		index_code = #{index_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgWorkEditPlan"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		budg_level,
		index_code,
		is_single_count,
		edit_method,
		get_way,
		formula_id,
		fun_id,
		resolve_or_sum,
		resolve_way,
		resolve_level,
		sum_level,
		reference_years ,
		resolve_data
		FROM BUDG_WORK_EDIT_PLAN 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="budg_level != null and budg_level != ''">
		AND budg_level = #{budg_level,jdbcType=VARCHAR}
		</if>
		<if test="index_code != null and index_code != ''">
		AND index_code = #{index_code,jdbcType=VARCHAR}
		</if>
		<if test="is_single_count != null and is_single_count != ''">
		AND is_single_count = #{is_single_count,jdbcType=INTEGER}
		</if>
		<if test="edit_method != null and edit_method != ''">
		AND edit_method = #{edit_method,jdbcType=VARCHAR}
		</if>
		<if test="get_way != null and get_way != ''">
		AND get_way = #{get_way,jdbcType=VARCHAR}
		</if>
		<if test="formula_id != null and formula_id != ''">
		AND formula_id = #{formula_id,jdbcType=VARCHAR}
		</if>
		<if test="fun_id != null and fun_id != ''">
		AND fun_id = #{fun_id,jdbcType=VARCHAR}
		</if>
		<if test="resolve_or_sum != null and resolve_or_sum != ''">
		AND resolve_or_sum = #{resolve_or_sum,jdbcType=VARCHAR}
		</if>
		<if test="resolve_way != null and resolve_way != ''">
		AND resolve_way = #{resolve_way,jdbcType=VARCHAR}
		</if>
		<if test="resolve_level != null and resolve_level != ''">
		AND resolve_level = #{resolve_level,jdbcType=VARCHAR}
		</if>
		<if test="sum_level != null and sum_level != ''">
		AND sum_level = #{sum_level,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgWorkEditPlan"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		budg_level,
		index_code,
		is_single_count,
		edit_method,
		get_way,
		formula_id,
		fun_id,
		resolve_or_sum,
		resolve_way,
		resolve_level,
		sum_level ,
		reference_years ,
		resolve_data
		FROM BUDG_WORK_EDIT_PLAN 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="budg_level != null and budg_level != ''">
		AND budg_level = #{budg_level,jdbcType=VARCHAR}
		</if>
		<if test="index_code != null and index_code != ''">
		AND index_code = #{index_code,jdbcType=VARCHAR}
		</if>
		<if test="is_single_count != null and is_single_count != ''">
		AND is_single_count = #{is_single_count,jdbcType=INTEGER}
		</if>
		<if test="edit_method != null and edit_method != ''">
		AND edit_method = #{edit_method,jdbcType=VARCHAR}
		</if>
		<if test="get_way != null and get_way != ''">
		AND get_way = #{get_way,jdbcType=VARCHAR}
		</if>
		<if test="formula_id != null and formula_id != ''">
		AND formula_id = #{formula_id,jdbcType=VARCHAR}
		</if>
		<if test="fun_id != null and fun_id != ''">
		AND fun_id = #{fun_id,jdbcType=VARCHAR}
		</if>
		<if test="resolve_or_sum != null and resolve_or_sum != ''">
		AND resolve_or_sum = #{resolve_or_sum,jdbcType=VARCHAR}
		</if>
		<if test="resolve_way != null and resolve_way != ''">
		AND resolve_way = #{resolve_way,jdbcType=VARCHAR}
		</if>
		<if test="resolve_level != null and resolve_level != ''">
		AND resolve_level = #{resolve_level,jdbcType=VARCHAR}
		</if>
		<if test="sum_level != null and sum_level != ''">
		AND sum_level = #{sum_level,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<!-- 查询 方案内置BUDG_BUILT_IN表 -->
	<select id="queryBudgBuiltIn" parameterType="java.util.Map" resultMap="budgWorkEditPlanMap" >
	
		SELECT 
		budg_level,
		is_single_count,
		resolve_or_sum,
		resolve_level,
		sum_level
		FROM BUDG_BUILT_IN
		where    
			work_budg_edit_mode = #{work_budg_edit_mode,jdbcType=VARCHAR}
			AND budg_level = #{budg_level,jdbcType=VARCHAR}
	</select>
	
</mapper>

