<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.info.relaset.MatDeptMatchMapper">
	 
	<resultMap id="matDeptMatch" type="com.chd.hrp.mat.entity.MatDeptMatch">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/> 
		<result property="copy_code" column="copy_code"/>
		<result property="dept_match_id" column="dept_match_id"/>
		<result property="dept_match_code" column="dept_match_code"/>
		<result property="dept_match_name" column="dept_match_name"/>
		<result property="store_id" column="store_id"/>
		<result property="store_no" column="store_no"/>
		<result property="store_code" column="store_code"/>
		<result property="store_name" column="store_name"/>
		
		<result property="mat_type_code" column="mat_type_code"/>
		<result property="mat_type_name" column="mat_type_name"/>
		
		<result property="dept_id" column="dept_id"/>
		<result property="dept_no" column="dept_no"/>
		<result property="dept_code" column="dept_code"/>
		<result property="dept_name" column="dept_name"/>
		
		<result property="invid" column="invid"/>
		<result property="bid_code" column="bid_code"/>
		<result property="sup_name" column="sup_name"/>
		<result property="fac_name" column="fac_name"/>
		
		<result property="price" column="price"/>
		<result property="plan_price" column="plan_price"/>
		<result property="sell_price" column="sell_price"/>
		<result property="inv_structure" column="inv_structure"/>
		<result property="use_state" column="use_state"/>
	</resultMap>
	
	<select id="queryMatDeptMatchNextval" resultType="java.lang.Long" useCache="false" flushCache="true">	
		SELECT MAT_DEPT_MATCH_SEQ.nextval as dept_match_id FROM DUAL
	</select>
	
	<!-- 添加 主表 -->
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO MAT_DEPT_MATCH (
			group_id, hos_id, copy_code,dept_match_id,dept_match_code,dept_match_name,store_id,dept_id
		)VALUES (
			#{group_id},
			#{hos_id},
			#{copy_code},
			#{dept_match_id},
			#{dept_match_code},
			#{dept_match_name},
			#{store_id},
			#{dept_id}
		)
	</insert>
	<!-- 批量添加 明细 -->
	<insert id="addBatch" parameterType="java.util.List" >
		INSERT INTO MAT_DEPT_MATCH_DETAIL(
		      group_id,
		      hos_id,
		      copy_code,
		      dept_match_id,
		      inv_id,
		      amount
		      )
		<foreach collection="list" item="item" index="index" separator=" union all " >
		    select 		
				#{item.group_id},
				#{item.hos_id},
				#{item.copy_code},
				#{item.dept_match_id},
				#{item.inv_id}
				<if test=" item.amount != null and item.amount != '' ">
				,
				#{item.amount}	
				</if>
				<if test=" item.amount == null or item.amount == '' ">
				,
				null
				</if>
					 
			from dual 
		</foreach>
	</insert>
	
	<!-- 修改主表 配套表名称、仓库、科室 -->
	<update id="update" parameterType="java.util.Map">
		UPDATE MAT_DEPT_MATCH
		<set>
			<if test="dept_match_name != null and dept_match_name != ''">
				dept_match_name = #{dept_match_name},
			</if>
			<if test="store_id != null and store_id != ''">
				store_id = #{store_id},
			</if>
			<if test="dept_id != null and dept_id != ''">
				dept_id = #{dept_id},
			</if>
		</set>
		<where>
			<if test="group_id !=null and group_id !=''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id !=null and hos_id !=''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code !=null and copy_code !=''">
				and copy_code = #{copy_code}
			</if>
			<if test="dept_match_id !=null and dept_match_id !=''">
				and dept_match_id = #{dept_match_id}
			</if>
		</where>
		
	</update>
	
	<update id="updateBatchDeptMatchDetail" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE mat_dept_match_detail
			set
				<trim suffix="" suffixOverrides=",">
					<if test="item.amount != null">
						amount = #{item.amount,jdbcType=INTEGER},
					</if>
				</trim>
			<where>
				<if test="item.group_id != null and item.group_id != ''">
					and group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					and hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					and copy_code = #{item.copy_code}
				</if>
				<if test="item.dept_match_id != null and item.dept_match_id != ''">
					and dept_match_id = #{item.dept_match_id}
				</if>
				<if test="item.inv_id != null and item.inv_id != ''">
					and inv_id = #{item.inv_id}
				</if>
			</where>
		</foreach>
	</update>
	
	<!-- 删除物资科室配套表主表数据 -->
	<delete id="deleteMatDeptMatch" parameterType="java.util.List">
		DELETE FROM MAT_DEPT_MATCH WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
					group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != '' ">
					AND copy_code = #{item.copy_code}
				</if>
				<if test="item.dept_match_id != null and item.dept_match_id != '' ">
					AND dept_match_id = #{item.dept_match_id}
				</if>
			</foreach>
	</delete>
	
	<!-- 删除物资科室配套表明细 -->
	<delete id="deleteBatchMdmDetail" parameterType="java.util.List">
		DELETE FROM MAT_DEPT_MATCH_DETAIL WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
					group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != '' ">
					AND copy_code = #{item.copy_code}
				</if>
				<if test="item.dept_match_id != null and item.dept_match_id != '' ">
					AND dept_match_id = #{item.dept_match_id}
				</if>
				<if test="item.inv_id != null and item.inv_id != '' ">
					AND inv_id = #{item.inv_id}
				</if>
			</foreach>
	</delete>
	
	
	<!-- 删除物资科室配套表明细 根据主表ID-->
	<delete id="deleteDetail" parameterType="java.util.Map">
		DELETE FROM MAT_DEPT_MATCH_DETAIL WHERE
					group_id = #{group_id}
					AND hos_id = #{hos_id}
					AND copy_code = #{copy_code}
					AND dept_match_id = #{dept_match_id}
	</delete>
	
	<!-- 查询物资科室配套表 -->
	<select id="query" parameterType="java.util.Map" resultMap="matDeptMatch" >
		SELECT
	      	mdm.group_id,
	      	mdm.hos_id,
	      	mdm.copy_code,
	        mdm.dept_match_id,
	        mdm.dept_match_code,
	        mdm.dept_match_name,
	        mdm.store_id,
	        hsd.store_name,
	        hdd.dept_name,
	        hdd.dept_id
    	FROM MAT_DEPT_MATCH mdm
   		LEFT JOIN HOS_STORE_DICT hsd
    	ON
	        mdm.group_id = hsd.group_id
	        AND mdm.hos_id = hsd.hos_id
	        AND mdm.store_id = hsd.store_id
	        AND hsd.is_stop = 0 
	   LEFT JOIN HOS_DEPT_DICT hdd
	   ON
	        mdm.group_id = hdd.group_id
	        and mdm.hos_id = hdd.hos_id
	        and mdm.dept_id = hdd.dept_id
	        and hdd.is_stop = 0
	   <where>
	   		<if test="group_id != null and group_id != '' ">
		        mdm.group_id =#{group_id}
	   		</if>
	   		<if test="hos_id != null and hos_id != '' ">
		        and mdm.hos_id = #{hos_id}
	   		</if>
	   		<if test="copy_code != null and copy_code != '' ">
		        and mdm.copy_code = #{copy_code}
	   		</if>
	   		<if test="dept_match_id != null and dept_match_id != '' ">
		        and mdm.dept_match_id = #{dept_match_id}
	   		</if>
	   		<if test="store_id != null and store_id != '' ">
		        and hsd.store_id = #{store_id}
	   		</if>
	   		<if test="dept_id != null and dept_id != '' ">
		        and hdd.dept_id = #{dept_id}
	   		</if>
	   		<!-- 添加用户数据权限 -->
			and exists (select 1 from v_user_data_perm b where
			mdm.group_id=b.group_id and mdm.hos_id=b.hos_id and mdm.dept_id=b.perm_code
			and b.is_read=1 and b.is_write=1
      		and b.table_code='HOS_DEPT_DICT'
			and user_id=#{user_id})
			
			<!-- 添加用户数据权限 -->
			
	   </where>
	   		order by mdm.dept_match_id 
	</select>
	
	<!-- 按ID查询物资科室配套表 -->
	<select id="queryByCode" resultType="com.chd.hrp.mat.entity.MatDeptMatch" parameterType="java.util.Map" >
		SELECT
			    mdm.group_id,
			    mdm.hos_id,
			    mdm.copy_code,
			    mdm.dept_match_id,
			    mdm.dept_match_code,
			    mdm.dept_match_name,
			    mdm.store_id,
			    hsd.store_name,
			    hsd.store_code,
			    hsd.store_no,
			    mdm.dept_id,
			    hdd.dept_name,
			    hdd.dept_no
			FROM MAT_DEPT_MATCH mdm
			LEFT JOIN HOS_STORE_DICT hsd
			ON
			     mdm.group_id = hsd.group_id
			     and mdm.hos_id = hsd.hos_id
			     and mdm.store_id = hsd.store_id
			     and hsd.is_stop = 0
			LEFT JOIN HOS_DEPT_DICT hdd
			ON
			     mdm.group_id = hdd.group_id
			     and mdm.hos_id = hdd.hos_id
			     and mdm.dept_id = hdd.dept_id
			     and hdd.is_stop = 0 
			<where>
				<if test="group_id != null and group_id != '' ">
				     mdm.group_id =#{group_id,jdbcType=INTEGER}
				</if>
				<if test="hos_id != null and hos_id != '' ">
				     and mdm.hos_id =#{hos_id,jdbcType=INTEGER}
				</if>
				<if test="copy_code != null and copy_code != '' ">
				     and mdm.copy_code = #{copy_code,jdbcType=VARCHAR}
				</if>
				<if test="dept_match_id != null and dept_match_id != '' ">
				     and mdm.dept_match_id = #{dept_match_id,jdbcType=INTEGER}
				</if>
				<if test="store_id != null and store_id != ''">
					and mdm.store_id = #{store_id,jdbcType=INTEGER}
				</if>
				order by mdm.store_id
			</where>
	</select>
	
	
	<select id="queryExists" resultType="com.chd.hrp.mat.entity.MatDeptMatch" parameterType="java.util.Map" >
		SELECT
			    mdm.group_id,
			    mdm.hos_id,
			    mdm.copy_code,
			    mdm.dept_match_id,
			    mdm.dept_match_code,
			    mdm.dept_match_name,
			    mdm.store_id,
			    hsd.store_name,
			    hsd.store_code,
			    hsd.store_no,
			    mdm.dept_id,
			    hdd.dept_name,
			    hdd.dept_no
			FROM MAT_DEPT_MATCH mdm
			LEFT JOIN HOS_STORE_DICT hsd
			ON
			     mdm.group_id = hsd.group_id
			     and mdm.hos_id = hsd.hos_id
			     and mdm.store_id = hsd.store_id
			     and hsd.is_stop = 0
			LEFT JOIN HOS_DEPT_DICT hdd
			ON
			     mdm.group_id = hdd.group_id
			     and mdm.hos_id = hdd.hos_id
			     and mdm.dept_id = hdd.dept_id
			     and hdd.is_stop = 0 
			<where>
				<if test="group_id != null and group_id != '' ">
				     mdm.group_id =#{group_id}
				</if>
				<if test="hos_id != null and hos_id != '' ">
				     and mdm.hos_id =#{hos_id}
				</if>
				<if test="copy_code != null and copy_code != '' ">
				     and mdm.copy_code = #{copy_code}
				</if>
				<if test="dept_match_code != null and dept_match_code != '' ">
				     and mdm.dept_match_code = #{dept_match_code}
				</if>
				
				order by mdm.store_id
			</where>
	</select>
	
	
	
	<select id="queryByName" resultType="com.chd.hrp.mat.entity.MatDeptMatch" parameterType="java.util.Map" >
		SELECT
			    mdm.group_id,
			    mdm.hos_id,
			    mdm.copy_code,
			    mdm.dept_match_id,
			    mdm.dept_match_code,
			    mdm.dept_match_name,
			    mdm.store_id,
			    hsd.store_name,
			    hsd.store_code,
			    hsd.store_no,
			    mdm.dept_id,
			    hdd.dept_name,
			    hdd.dept_no
			FROM MAT_DEPT_MATCH mdm
			LEFT JOIN HOS_STORE_DICT hsd
			ON
			     mdm.group_id = hsd.group_id
			     and mdm.hos_id = hsd.hos_id
			     and mdm.store_id = hsd.store_id
			     and hsd.is_stop = 0
			LEFT JOIN HOS_DEPT_DICT hdd
			ON
			     mdm.group_id = hdd.group_id
			     and mdm.hos_id = hdd.hos_id
			     and mdm.dept_id = hdd.dept_id
			     and hdd.is_stop = 0 
			<where>
			    mdm.dept_match_name = #{dept_match_name}
				<if test="group_id != null and group_id != '' ">
				 	and	mdm.group_id =#{group_id}
				</if>
				<if test="hos_id != null and hos_id != '' ">
				     and mdm.hos_id =#{hos_id}
				</if>
				<if test="copy_code != null and copy_code != '' ">
				     and mdm.copy_code = #{copy_code}
				</if>
				<!-- 20170407 hsy添加解决不同科室的配套表名称可以相同的问题 -->
				<if test="dept_id != null and dept_id != '' ">
				     and mdm.dept_id = #{dept_id}
				</if>
				order by mdm.store_id
			</where>
	</select>
	
	<!-- 查询物资仓库配套明细 -->
	<select id="queryMdmDetailByCode" parameterType="java.util.Map" resultMap="matDeptMatch">
		select
		      msmd.dept_match_id,
		        msm.store_id,
		        mt.mat_type_code,
		        mt.mat_type_name,
		        inv.inv_id,
		        inv.inv_code,
		        inv.inv_name,
		        inv.inv_model,
		        inv.unit_code,
		        hu.unit_name,
		        msmd.amount,
		        inv.inv_id as invid, 
		        inv.bid_code, 
		        hsd.sup_name, 
		        hfd.fac_name,
		        inv.plan_price as price,
		        inv.plan_price,
		        inv.sell_price,
		        inv.inv_structure,
		        inv.use_state
		    from MAT_dept_MATCH_DETAIL  msmd
		    left join MAT_dept_MATCH msm
		    on
		         msmd.group_id = msm.group_id
		         and msmd.hos_id = msm.hos_id
		         and msmd.copy_code = msm.copy_code
		         and msmd.dept_match_id = msm.dept_match_id  
		    left join mat_inv inv
		    on    msmd.group_id = inv.group_id
		         and msmd.hos_id = inv.hos_id
		         and msmd.copy_code = inv.copy_code
		         and msmd.inv_id = inv.inv_id
		    left join mat_type mt
			on mt.group_id = inv.group_id
			and mt.hos_id = inv.hos_id
			and mt.copy_code = inv.copy_code
			and mt.mat_type_id = inv.mat_type_id
		    left join hos_unit hu
		      on
		         inv.group_id = hu.group_id
		         and inv.hos_id = hu.hos_id
		         and inv.unit_code = hu.unit_code
			left join (
				select inv_id, min(sup_id) sup_id
				from mat_inv_sup 
				where group_id = #{group_id}
					and hos_id = #{hos_id}
					and copy_code = #{copy_code}
				group by inv_id
			) miv
				on inv.inv_id = miv.inv_id 
			left join hos_sup_dict hsd
				on inv.group_id = hsd.group_id and inv.hos_id = hsd.hos_id
				and miv.sup_id = hsd.sup_id and hsd.is_stop = 0
			left join hos_fac_dict hfd
				on inv.group_id = hfd.group_id and inv.hos_id = hfd.hos_id
				and inv.fac_id = hfd.fac_id and hfd.is_stop = 0
			<where>
			<if test="group_id != null and group_id != ''">
				 msmd.group_id = #{group_id}
			</if>
			
			<if test="hos_id != null and hos_id != '' ">
			     and msmd.hos_id = #{hos_id}
			</if>
			
			<if test="copy_code != null and  copy_code != ''">
			     and msmd.copy_code = #{copy_code}
			</if>
			
			<if test="dept_match_id != null and dept_match_id != '' ">
			     and msmd.dept_match_id = #{dept_match_id}
			</if>
		</where>
		order by msmd.inv_id		         
	</select>
	
	<select id="queryMatDeptMatchByUniqueness" resultType="com.chd.hrp.mat.entity.MatDeptMatch" parameterType="java.util.Map" >
	
	</select>
	
	<select id="queryDeptInvData" parameterType="java.util.List" resultType="java.util.Map" >
     	with list_temp as (
			<foreach collection="list" item="item" index="index" separator=" union all " >
				select    
					<if test="item.inv_id != null and item.inv_id != ''">
						#{item.inv_id,jdbcType=INTEGER} as inv_id,
					</if>
					<if test="item.inv_no != null or item.inv_no != ''">
						#{item.inv_no,jdbcType=INTEGER} as inv_no,
					</if>
					<if test="item.app_amount != null or item.app_amount != ''">
						#{item.app_amount,jdbcType=INTEGER} as amount,
					</if>
					#{item.group_id,jdbcType=INTEGER} as group_id, 
					#{item.hos_id,jdbcType=INTEGER} as hos_id, 
					#{item.copy_code,jdbcType=VARCHAR} as copy_code
				from dual 
			</foreach>
		)
		select mid.group_id,mid.hos_id,mid.copy_code,mid.inv_id,mid.inv_no,mid.inv_code,mid.inv_name,
			mid.inv_model,mid.unit_code,hu.unit_name,hfd.fac_name,hfd.fac_id,hfd.fac_no,hfd.fac_code,
			mid.plan_price as price,a.amount,mid.plan_price*a.amount as amount_money,mid.is_com,hd.sup_code,hd.sup_name,
			mi.inv_structure
		from list_temp  a 
		left join mat_inv  mi on a.group_id = mi.group_id 
			and a.hos_id = mi.hos_id  and a.copy_code = mi.copy_code  
			and a.inv_id = mi.inv_id 
		left join mat_inv_dict  mid on a.group_id = mid.group_id 
			and a.hos_id = mid.hos_id  and a.copy_code = mid.copy_code  
			and a.inv_id = mid.inv_id   and a.inv_no = mid.inv_no  
		left join hos_unit hu on mid.group_id = hu.group_id and mid.hos_id = hu.hos_id
			and mid.unit_code = hu.unit_code and hu.is_stop = 0
		left join hos_fac_dict hfd on mid.group_id = hfd.group_id and mid.hos_id = hfd.hos_id
			and mid.fac_id = hfd.fac_id and mid.fac_no = hfd.fac_no
		left join mat_inv_sup bb on a.group_id=bb.group_id and a.hos_id=bb.hos_id and a.inv_id=bb.inv_id
     		and bb.is_default=1
		left join hos_sup_dict hd on bb.group_id=hd.group_id and bb.hos_id=hd.hos_id and bb.sup_id=hd.sup_id and hd.is_stop=0
		order by mid.inv_code
     </select>

</mapper>

