<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.sysstruc.HrStoreColSetMapper">
	
	<resultMap id="hrStoreColSet" type="com.chd.hrp.hr.entity.sysstruc.HrStoreColSet">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="store_type_code" column="store_type_code"/>
	<result property="tab_code" column="tab_code"/>
	<result property="col_name" column="col_name"/>
	<result property="col_code" column="col_code"/>
	<result property="field_tab_code" column="field_tab_code"/>
	<result property="col_name_show" column="col_name_show"/>
	<result property="com_type_code" column="com_type_code"/>
	<result property="com_type_name" column="com_type_name"/>
	<result property="seq_no" column="seq_no"/>
	<result property="col_width" column="col_width"/>
	<result property="is_view" column="is_view"/>
	<result property="is_view_tab" column="is_view_tab"/>
	<result property="text_align" column="text_align"/>
	<result property="field_width" column="field_width"/>
	<result property="is_verify" column="is_verify"/>
	<result property="is_pk" column="is_pk"/>
	<result property="is_auto" column="is_auto"/>
	<result property="is_read" column="is_read"/>
	<result property="is_default" column="is_default"/>
	<result property="default_value" column="default_value"/>
	<result property="default_text" column="default_text"/>
	<result property="is_change" column="is_change"/>
	<result property="change_col_code" column="change_col_code"/>
	<result property="is_innr" column="is_innr"/>
	</resultMap>
		
	<resultMap id="hrStoreColSetMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="store_type_code" column="store_type_code"/>
	<result property="tab_code" column="tab_code"/>
	<result property="col_code" column="col_code"/>
	<result property="col_name_show" column="col_name_show"/>
	<result property="com_type_code" column="com_type_code"/>
	<result property="seq_no" column="seq_no"/>
	<result property="col_width" column="col_width"/>
	<result property="is_view" column="is_view"/>
	<result property="is_view_tab" column="is_view_tab"/>
	<result property="text_align" column="text_align"/>
	<result property="field_width" column="field_width"/>
	<result property="is_verify" column="is_verify"/>
	<result property="is_pk" column="is_pk"/>
	<result property="is_auto" column="is_auto"/>
	<result property="is_read" column="is_read"/>
	<result property="is_default" column="is_default"/>
	<result property="default_value" column="default_value"/>
	<result property="default_text" column="default_text"/>
	<result property="is_change" column="is_change"/>
	<result property="change_col_code" column="change_col_code"/>
	</resultMap>
	
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO HR_STORE_COL_SET (
		<trim suffix="" suffixOverrides=",">
		group_id,
		hos_id,
		store_type_code,
		tab_code,
		col_code,
		col_name_show,
		com_type_code,
		seq_no,
		col_width,
		is_view,
		is_view_tab,
		text_align,
		field_width,
		is_verify,
		is_pk,
		is_auto,
		is_read,
		is_default,
		default_value,
		default_text,
		is_change,
		change_col_code,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER},
		#{hos_id,jdbcType=INTEGER},
		#{store_type_code,jdbcType=VARCHAR},
		#{tab_code,jdbcType=VARCHAR},
		#{col_code,jdbcType=VARCHAR},
		#{col_name_show,jdbcType=VARCHAR},
		#{com_type_code,jdbcType=VARCHAR},
		#{seq_no,jdbcType=INTEGER},
		#{col_width,jdbcType=INTEGER},
		#{is_view,jdbcType=INTEGER},
		#{is_view_tab,jdbcType=INTEGER},
		#{text_align,jdbcType=VARCHAR},
		#{field_width,jdbcType=INTEGER},
		#{is_verify,jdbcType=INTEGER},
		#{is_pk,jdbcType=INTEGER},
		#{is_auto,jdbcType=INTEGER},
		#{is_read,jdbcType=INTEGER},
		#{is_default,jdbcType=INTEGER},
		#{default_value,jdbcType=VARCHAR},
		#{default_text,jdbcType=VARCHAR},
		#{is_change,jdbcType=INTEGER},
		#{change_col_code,jdbcType=VARCHAR}
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_STORE_COL_SET (
		group_id,
		hos_id,
		store_type_code,
		tab_code,
		col_code,
		col_name_show,
		com_type_code,
		seq_no,
		col_width,
		is_view,
		is_view_tab,
		text_align,
		field_width,
		is_verify,
		is_pk,
		is_auto,
		is_read,
		is_default,
		default_value,
		default_text,
		is_change,
		change_col_code
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.store_type_code,jdbcType=VARCHAR},
			#{item.tab_code,jdbcType=VARCHAR},
			#{item.col_code,jdbcType=VARCHAR},
			#{item.col_name_show,jdbcType=VARCHAR},
			#{item.com_type_code,jdbcType=VARCHAR},
			#{item.seq_no,jdbcType=INTEGER},
			#{item.col_width,jdbcType=INTEGER},
			#{item.is_view,jdbcType=INTEGER},
			#{item.is_view_tab,jdbcType=INTEGER},
			#{item.text_align,jdbcType=VARCHAR},
			#{item.field_width,jdbcType=INTEGER},
			#{item.is_verify,jdbcType=INTEGER},
			#{item.is_pk,jdbcType=INTEGER},
			#{item.is_auto,jdbcType=INTEGER},
			#{item.is_read,jdbcType=INTEGER},
			#{item.is_default,jdbcType=INTEGER},
			#{item.default_value,jdbcType=VARCHAR},
			#{item.default_text,jdbcType=VARCHAR},
			#{item.is_change,jdbcType=INTEGER},
			#{item.change_col_code,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_store_col_set 
		<trim prefix="SET"  suffixOverrides=","> 
		col_name_show = #{col_name_show,jdbcType=VARCHAR},
		com_type_code = #{com_type_code,jdbcType=VARCHAR},
		seq_no = #{seq_no,jdbcType=INTEGER},
		col_width = #{col_width,jdbcType=INTEGER},
		is_view = #{is_view,jdbcType=INTEGER},
		is_view_tab = #{is_view_tab,jdbcType=INTEGER},
		text_align = #{text_align,jdbcType=VARCHAR},
		field_width = #{field_width,jdbcType=INTEGER},
		is_verify = #{is_verify,jdbcType=INTEGER},
		is_pk = #{is_pk,jdbcType=INTEGER},
		is_auto = #{is_auto,jdbcType=INTEGER},
		is_read = #{is_read,jdbcType=INTEGER},
		is_default = #{is_default,jdbcType=INTEGER},
		default_value = #{default_value,jdbcType=VARCHAR},
		default_text = #{default_text,jdbcType=VARCHAR},
		is_change = #{is_change,jdbcType=INTEGER},
		change_col_code = #{change_col_code,jdbcType=VARCHAR},
		</trim>
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND store_type_code = #{store_type_code,jdbcType=VARCHAR}
		AND tab_code = #{tab_code,jdbcType=VARCHAR}
		AND col_code = #{col_code,jdbcType=VARCHAR}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_store_col_set 
			<trim prefix="SET"  suffixOverrides=","> 
			col_name_show = #{item.col_name_show,jdbcType=VARCHAR},
			com_type_code = #{item.com_type_code,jdbcType=VARCHAR},
			seq_no = #{item.seq_no,jdbcType=INTEGER},
			col_width = #{item.col_width,jdbcType=INTEGER},
			is_view = #{item.is_view,jdbcType=INTEGER},
			is_view_tab = #{item.is_view_tab,jdbcType=INTEGER},
			text_align = #{item.text_align,jdbcType=VARCHAR},
			field_width = #{item.field_width,jdbcType=INTEGER},
			is_verify = #{item.is_verify,jdbcType=INTEGER},
			is_pk = #{item.is_pk,jdbcType=INTEGER},
			is_auto = #{item.is_auto,jdbcType=INTEGER},
			is_read = #{item.is_read,jdbcType=INTEGER},
			is_default = #{item.is_default,jdbcType=INTEGER},
			default_value = #{item.default_value,jdbcType=VARCHAR},
			default_text = #{item.default_text,jdbcType=VARCHAR},
			is_change = #{item.is_change,jdbcType=INTEGER},
			change_col_code = #{item.change_col_code,jdbcType=VARCHAR},
			</trim>
			<where>                     
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND store_type_code = #{item.store_type_code,jdbcType=VARCHAR}
			AND tab_code = #{item.tab_code,jdbcType=VARCHAR}
			AND col_code = #{item.col_code,jdbcType=VARCHAR}
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM hr_store_col_set 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		<if test="store_type_code != null and store_type_code != ''">
		AND store_type_code = #{store_type_code,jdbcType=VARCHAR}
		</if>
		<if test="tab_code != null and tab_code != ''">
		AND tab_code = #{tab_code,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM hr_store_col_set 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.store_type_code != null and item.store_type_code != ''">
				AND store_type_code = #{item.store_type_code,jdbcType=VARCHAR}
				</if>
				<if test="item.tab_code != null and item.tab_code != ''">
				AND tab_code = #{item.tab_code,jdbcType=VARCHAR}
				</if>
				<if test="item.col_code != null and item.col_code != ''">
				AND col_code = #{item.col_code,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	
	<delete id="deleteBatchByColStruc" parameterType="java.util.List">
		DELETE FROM hr_store_col_set 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				<if test="item.tab_code != null and item.tab_code != ''">
				AND tab_code = #{item.tab_code,jdbcType=VARCHAR}
				</if>
				<if test="item.col_code != null and item.col_code != ''">
				AND col_code = #{item.col_code,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	
	<select id="queryHrStoreColSet" parameterType="java.util.Map" resultMap="hrStoreColSet" useCache="false" flushCache="true">
		select t.group_id,
		       t.hos_id,
		       t.tab_code,
		       t.col_code,
		       t.col_name,
		       t.field_tab_code,
		       se.store_type_code,
		       case when se.col_name_show is null then t.col_name else se.col_name_show end col_name_show,
		       se.com_type_code,
		       ct.com_type_name,
		       se.seq_no,
		       se.col_width,
		       case when instr(t.col_code,'_ID') =0 then nvl(se.is_view,1) else se.is_view  end is_view,
		       nvl(se.is_view_tab,1) is_view_tab,
		       se.text_align,
		       se.field_width,
		       case when instr(t.col_code,'_ID') !=0 then nvl(se.is_verify,1) else se.is_verify end is_verify,
		       se.is_pk,
		       se.is_auto,
		       se.is_read,
		       se.is_default,
		       se.default_value,
		       se.default_text,
		       se.is_change,
		       se.change_col_code,
		       t.is_innr
		  from hr_col_struc t
		
		  left join HR_STORE_COL_SET se
		    on t.group_id = se.group_id
		   and t.hos_id = se.hos_id
		   and t.tab_code = se.tab_code
		   and t.col_code = se.col_code
		   and se.store_type_code = #{store_type_code}
		   
		  left join HR_COM_TYPE ct
   			on se.com_type_code = ct.com_type_code
   		
		 where t.group_id = #{group_id}
		   and t.hos_id = #{hos_id}
		     <if test="tab_code != null and tab_code != ''">
		   	 and t.tab_code = #{tab_code}
		   </if>
		  
		   <if test="is_view != null and is_view != ''">
		   		and se.is_view = #{is_view}
		   </if>
		   <if test="is_view_tab != null and is_view_tab != ''">
		   		and se.is_view_tab = #{is_view_tab}
		   </if>
		   <if test="col_name !=null">
		   	 	and (
		   	 		t.col_name like '%${col_name}%'
		   	 	or t.col_code like upper('%${col_name}%')
		   	 	)
		   </if>
		 order by t.sort,se.seq_no
	</select>
	<select id="query" parameterType="java.util.Map" resultMap="hrStoreColSet"  useCache="false" flushCache="true">
	
		SELECT 
		group_id,
		hos_id,
		store_type_code,
		tab_code,
		col_code,
		col_name_show,
		com_type_code,
		seq_no,
		col_width,
		is_view,
		is_view_tab,
		text_align,
		field_width,
		is_verify,
		is_pk,
		is_auto,
		is_read,
		is_default,
		default_value,
		default_text,
		is_change,
		change_col_code
		FROM HR_STORE_COL_SET 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="store_type_code != null and store_type_code != ''">
		AND store_type_code = #{store_type_code,jdbcType=VARCHAR}
		</if>
		<if test="tab_code != null and tab_code != ''">
		AND tab_code = #{tab_code,jdbcType=VARCHAR}
		</if>
		<if test="col_code != null and col_code != ''">
		AND col_code = #{col_code,jdbcType=VARCHAR}
		</if>
		<if test="col_name_show != null and col_name_show != ''">
		AND col_name_show = #{col_name_show,jdbcType=VARCHAR}
		</if>
		<if test="com_type_code != null and com_type_code != ''">
		AND com_type_code = #{com_type_code,jdbcType=VARCHAR}
		</if>
		<if test="seq_no != null and seq_no != ''">
		AND seq_no = #{seq_no,jdbcType=INTEGER}
		</if>
		<if test="col_width != null and col_width != ''">
		AND col_width = #{col_width,jdbcType=INTEGER}
		</if>
		<if test="is_view != null and is_view != ''">
		AND is_view = #{is_view,jdbcType=INTEGER}
		</if>
		<if test="is_view_tab != null and is_view_tab != ''">
		AND is_view_tab = #{is_view_tab,jdbcType=INTEGER}
		</if>
		<if test="text_align != null and text_align != ''">
		AND text_align = #{text_align,jdbcType=VARCHAR}
		</if>
		<if test="field_width != null and field_width != ''">
		AND field_width = #{field_width,jdbcType=INTEGER}
		</if>
		<if test="is_verify != null and is_verify != ''">
		AND is_verify = #{is_verify,jdbcType=INTEGER}
		</if>
		<if test="is_pk != null and is_pk != ''">
		AND is_pk = #{is_pk,jdbcType=INTEGER}
		</if>
		<if test="is_auto != null and is_auto != ''">
		AND is_auto = #{is_auto,jdbcType=INTEGER}
		</if>
		<if test="is_read != null and is_read != ''">
		AND is_read = #{is_read,jdbcType=INTEGER}
		</if>
		<if test="is_default != null and is_default != ''">
		AND is_default = #{is_default,jdbcType=INTEGER}
		</if>
		<if test="default_value != null and default_value != ''">
		AND default_value = #{default_value,jdbcType=VARCHAR}
		</if>
		<if test="default_text != null and default_text != ''">
		AND default_text = #{default_text,jdbcType=VARCHAR}
		</if>
		<if test="is_change != null and is_change != ''">
		AND is_change = #{is_change,jdbcType=INTEGER}
		</if>
		<if test="change_col_code != null and change_col_code != ''">
		AND change_col_code = #{change_col_code,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryByCode" resultMap="hrStoreColSet"  parameterType="java.util.Map"  useCache="false" flushCache="true">
	
		SELECT 
		group_id,
		hos_id,
		store_type_code,
		tab_code,
		col_code,
		col_name_show,
		com_type_code,
		seq_no,
		col_width,
		is_view,
		is_view_tab,
		text_align,
		field_width,
		is_verify,
		is_pk,
		is_auto,
		is_read,
		is_default,
		default_value,
		default_text,
		is_change,
		change_col_code
		FROM hr_store_col_set 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		store_type_code = #{store_type_code,jdbcType=VARCHAR}   and 
		tab_code = #{tab_code,jdbcType=VARCHAR}   and 
		col_code = #{col_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="hrStoreColSet"  parameterType="java.util.Map"  useCache="false" flushCache="true">
	
		SELECT 
		group_id,
		hos_id,
		store_type_code,
		tab_code,
		col_code,
		col_name_show,
		com_type_code,
		seq_no,
		col_width,
		is_view,
		is_view_tab,
		text_align,
		field_width,
		is_verify,
		is_pk,
		is_auto,
		is_read,
		is_default,
		default_value,
		default_text,
		is_change,
		change_col_code
		FROM HR_STORE_COL_SET 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="store_type_code != null and store_type_code != ''">
		AND store_type_code = #{store_type_code,jdbcType=VARCHAR}
		</if>
		<if test="tab_code != null and tab_code != ''">
		AND tab_code = #{tab_code,jdbcType=VARCHAR}
		</if>
		<if test="col_code != null and col_code != ''">
		AND col_code = #{col_code,jdbcType=VARCHAR}
		</if>
		<if test="col_name_show != null and col_name_show != ''">
		AND col_name_show = #{col_name_show,jdbcType=VARCHAR}
		</if>
		<if test="com_type_code != null and com_type_code != ''">
		AND com_type_code = #{com_type_code,jdbcType=VARCHAR}
		</if>
		<if test="seq_no != null and seq_no != ''">
		AND seq_no = #{seq_no,jdbcType=INTEGER}
		</if>
		<if test="col_width != null and col_width != ''">
		AND col_width = #{col_width,jdbcType=INTEGER}
		</if>
		<if test="is_view != null and is_view != ''">
		AND is_view = #{is_view,jdbcType=INTEGER}
		</if>
		<if test="is_view_tab != null and is_view_tab != ''">
		AND is_view_tab = #{is_view_tab,jdbcType=INTEGER}
		</if>
		<if test="text_align != null and text_align != ''">
		AND text_align = #{text_align,jdbcType=VARCHAR}
		</if>
		<if test="field_width != null and field_width != ''">
		AND field_width = #{field_width,jdbcType=INTEGER}
		</if>
		<if test="is_verify != null and is_verify != ''">
		AND is_verify = #{is_verify,jdbcType=INTEGER}
		</if>
		<if test="is_pk != null and is_pk != ''">
		AND is_pk = #{is_pk,jdbcType=INTEGER}
		</if>
		<if test="is_auto != null and is_auto != ''">
		AND is_auto = #{is_auto,jdbcType=INTEGER}
		</if>
		<if test="is_read != null and is_read != ''">
		AND is_read = #{is_read,jdbcType=INTEGER}
		</if>
		<if test="is_default != null and is_default != ''">
		AND is_default = #{is_default,jdbcType=INTEGER}
		</if>
		<if test="default_value != null and default_value != ''">
		AND default_value = #{default_value,jdbcType=VARCHAR}
		</if>
		<if test="default_text != null and default_text != ''">
		AND default_text = #{default_text,jdbcType=VARCHAR}
		</if>
		<if test="is_change != null and is_change != ''">
		AND is_change = #{is_change,jdbcType=INTEGER}
		</if>
		<if test="change_col_code != null and change_col_code != ''">
		AND change_col_code = #{change_col_code,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="hrStoreColSet"  parameterType="java.util.Map"  useCache="false" flushCache="true">
	
		SELECT 
		group_id,
		hos_id,
		store_type_code,
		tab_code,
		col_code,
		col_name_show,
		com_type_code,
		seq_no,
		col_width,
		is_view,
		is_view_tab,
		text_align,
		field_width,
		is_verify,
		is_pk,
		is_auto,
		is_read,
		is_default,
		default_value,
		default_text,
		is_change,
		change_col_code
		FROM HR_STORE_COL_SET 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="store_type_code != null and store_type_code != ''">
		AND store_type_code = #{store_type_code,jdbcType=VARCHAR}
		</if>
		<if test="tab_code != null and tab_code != ''">
		AND tab_code = #{tab_code,jdbcType=VARCHAR}
		</if>
		<if test="col_code != null and col_code != ''">
		AND col_code = #{col_code,jdbcType=VARCHAR}
		</if>
		<if test="col_name_show != null and col_name_show != ''">
		AND col_name_show = #{col_name_show,jdbcType=VARCHAR}
		</if>
		<if test="com_type_code != null and com_type_code != ''">
		AND com_type_code = #{com_type_code,jdbcType=VARCHAR}
		</if>
		<if test="seq_no != null and seq_no != ''">
		AND seq_no = #{seq_no,jdbcType=INTEGER}
		</if>
		<if test="col_width != null and col_width != ''">
		AND col_width = #{col_width,jdbcType=INTEGER}
		</if>
		<if test="is_view != null and is_view != ''">
		AND is_view = #{is_view,jdbcType=INTEGER}
		</if>
		<if test="is_view_tab != null and is_view_tab != ''">
		AND is_view_tab = #{is_view_tab,jdbcType=INTEGER}
		</if>
		<if test="text_align != null and text_align != ''">
		AND text_align = #{text_align,jdbcType=VARCHAR}
		</if>
		<if test="field_width != null and field_width != ''">
		AND field_width = #{field_width,jdbcType=INTEGER}
		</if>
		<if test="is_verify != null and is_verify != ''">
		AND is_verify = #{is_verify,jdbcType=INTEGER}
		</if>
		<if test="is_pk != null and is_pk != ''">
		AND is_pk = #{is_pk,jdbcType=INTEGER}
		</if>
		<if test="is_auto != null and is_auto != ''">
		AND is_auto = #{is_auto,jdbcType=INTEGER}
		</if>
		<if test="is_read != null and is_read != ''">
		AND is_read = #{is_read,jdbcType=INTEGER}
		</if>
		<if test="is_default != null and is_default != ''">
		AND is_default = #{is_default,jdbcType=INTEGER}
		</if>
		<if test="default_value != null and default_value != ''">
		AND default_value = #{default_value,jdbcType=VARCHAR}
		</if>
		<if test="default_text != null and default_text != ''">
		AND default_text = #{default_text,jdbcType=VARCHAR}
		</if>
		<if test="is_change != null and is_change != ''">
		AND is_change = #{is_change,jdbcType=INTEGER}
		</if>
		<if test="change_col_code != null and change_col_code != ''">
		AND change_col_code = #{change_col_code,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryMaxSeqNo"  resultType="java.lang.String" parameterType="java.util.Map"  useCache="false" flushCache="true">
		select nvl(max(seq_no),1) from  HR_STORE_COL_SET where  1=1
		AND group_id = #{group_id,jdbcType=INTEGER}

		AND hos_id = #{hos_id,jdbcType=INTEGER}

		AND store_type_code = #{store_type_code,jdbcType=VARCHAR}

		AND tab_code = #{tab_code,jdbcType=VARCHAR}
	</select>

	<delete id="deleteHrStoreColSetBatch">
		delete from 
			HR_STORE_COL_SET
		where
			group_id = #{vo.group_id,jdbcType=INTEGER}
			and hos_id = #{vo.hos_id,jdbcType=INTEGER}
			and store_type_code = #{vo.end_store_type_code,jdbcType=VARCHAR}
			and tab_code in
				<foreach collection="list" close=" ) " open=" ( " item="item" separator=" , ">
					#{item,jdbcType=VARCHAR}
				</foreach>
			and tab_code in 
				(select 
					tab_code 
				 from 
				 	HR_STORE_TAB_STRUC 
				 where 
					group_id = #{vo.group_id,jdbcType=INTEGER}
					and hos_id = #{vo.hos_id,jdbcType=INTEGER}
					and store_type_code = #{vo.end_store_type_code,jdbcType=VARCHAR}
					and tab_code in
						<foreach collection="list" close=" ) " open=" ( " item="item" separator=" , ">
							#{item,jdbcType=VARCHAR}
						</foreach>)
	</delete>

	<insert id="addHrStoreColSetBatch">
		insert into
			HR_STORE_COL_SET
				(GROUP_ID, HOS_ID, STORE_TYPE_CODE, TAB_CODE, COL_CODE,
				 COL_NAME_SHOW, COM_TYPE_CODE, SEQ_NO, COL_WIDTH, IS_VIEW,
				 IS_VIEW_TAB, TEXT_ALIGN, FIELD_WIDTH, IS_VERIFY, IS_PK,
				 IS_AUTO, IS_READ, IS_DEFAULT, DEFAULT_VALUE, DEFAULT_TEXT,
				 IS_CHANGE, CHANGE_COL_CODE)
			(select
				 GROUP_ID, HOS_ID, 
				 #{vo.end_store_type_code,jdbcType=VARCHAR} store_type_code, 
				 TAB_CODE, COL_CODE,COL_NAME_SHOW, COM_TYPE_CODE, SEQ_NO, 
				 COL_WIDTH, IS_VIEW,IS_VIEW_TAB, TEXT_ALIGN, FIELD_WIDTH, 
				 IS_VERIFY, IS_PK, IS_AUTO, IS_READ, IS_DEFAULT, DEFAULT_VALUE, 
				 DEFAULT_TEXT,IS_CHANGE, CHANGE_COL_CODE
			 from 
			 	HR_STORE_COL_SET
			 where
				group_id = #{vo.group_id,jdbcType=INTEGER}
				and hos_id = #{vo.hos_id,jdbcType=INTEGER}
				and store_type_code = #{vo.store_type_code,jdbcType=VARCHAR}
				and tab_code in
				<foreach collection="list" close=" ) " open=" ( " item="item" separator=" , ">
						#{item,jdbcType=VARCHAR}
				</foreach>
				and tab_code in 
					(select 
						tab_code 
					 from 
					 	HR_STORE_TAB_STRUC 
					 where 
						group_id = #{vo.group_id,jdbcType=INTEGER}
						and hos_id = #{vo.hos_id,jdbcType=INTEGER}
						and store_type_code = #{vo.end_store_type_code,jdbcType=VARCHAR}
						and tab_code in
							<foreach collection="list" close=" ) " open=" ( " item="item" separator=" , ">
								#{item,jdbcType=VARCHAR}
							</foreach>)
			 )
	</insert>

</mapper>

