<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.readydata.HtcResCauseDataMapper">
	<resultMap id="htcResCauseDataMap" type="com.chd.hrp.htc.entity.task.readydata.HtcResCauseData">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="plan_code" column="plan_code"/>
        <result property="plan_name" column="plan_name"/>
        <result property="proj_dept_no" column="proj_dept_no"/>
        <result property="proj_dept_id" column="proj_dept_id"/>
        <result property="proj_dept_code" column="proj_dept_code"/>
        <result property="proj_dept_name" column="proj_dept_name"/>
        <result property="work_code" column="work_code"/>
        <result property="work_name" column="work_name"/>
        <result property="res_cause_code" column="res_cause_code"/>
        <result property="res_cause_name" column="res_cause_name"/>
        <result property="res_remark" column="res_remark"/>
        <result property="res_cause_data" column="res_cause_data"/>
        <result property="copn_cia" column="copn_cia"/>
	</resultMap>
	
	
	<select id = "queryHtcResCauseDict" parameterType="java.util.Map" resultMap="htcResCauseDataMap">
	       select 
			    hrcd.group_id,
			    hrcd.hos_id,
				hrcd.copy_code,
				hrcd.res_cause_code,
				hrcd.res_cause_name,
				hrcd.res_remark,
				hrcd.fun_value,
				htc_complete_cause_data(#{group_id},#{hos_id},#{copy_code},#{acc_year},hrcd.res_cause_code,1) copn_cia
			 from htc_res_cause_dict hrcd
			 where hrcd.group_id = #{group_id}
			 and hrcd.hos_id = #{hos_id}
			 and hrcd.copy_code = #{copy_code}
			 order by  hrcd.group_id,hrcd.hos_id,hrcd.copy_code,hrcd.res_cause_code
	</select>
      
     <select id="queryHtcResCauseData" parameterType="java.util.Map" resultMap="htcResCauseDataMap" >
							select
								 hdwr.group_id,
								 hdwr.hos_id,
								 hdwr.copy_code,
								 hdwr.acc_year,
								 hdwr.plan_code,
								 hps.plan_name,
								 hpdd.proj_dept_no,
								 hpdd.proj_dept_id,
								 hpdd.proj_dept_code,
								 hpdd.proj_dept_name,
								 hpd.work_code,
								 hpd.work_name,
								 hrcd.res_cause_data
							 from htc_dept_work_rela hdwr 
							 left join htc_plan_set hps
							 on hdwr.group_id = hps.group_id
							 and hdwr.hos_id = hps.hos_id
							 and hdwr.copy_code = hps.copy_code
							 and hdwr.acc_year = hps.acc_year
							 and hdwr.plan_code = hps.plan_code
							 left join htc_proj_dept_dict hpdd
							 on hpdd.group_id = hdwr.group_id
							 and hpdd.hos_id = hdwr.hos_id
							 and hpdd.copy_code = hdwr.copy_code
							 and hpdd.proj_dept_no = hdwr.proj_dept_no
							 and hpdd.proj_dept_id = hdwr.proj_dept_id
							 left join htc_work_dict hpd
							 on hpd.group_id = hdwr.group_id
							 and hpd.hos_id = hdwr.hos_id
							 and hpd.copy_code = hdwr.copy_code
							 and hpd.work_code = hdwr.work_code
							 left join htc_res_cause_data hrcd
							 on hrcd.group_id = hdwr.group_id
							 and hrcd.hos_id = hdwr.hos_id
							 and hrcd.copy_code = hdwr.copy_code
							 and hrcd.acc_year = hdwr.acc_year
							 and hrcd.plan_code = hdwr.plan_code
							 and hrcd.proj_dept_no = hdwr.proj_dept_no
							 and hrcd.proj_dept_id = hdwr.proj_dept_id
							 and hrcd.work_code = hdwr.work_code
							 and hrcd.res_cause_code = #{res_cause_code}
							 <where>hdwr.group_id = #{group_id}
							   and hdwr.hos_id = #{hos_id}
							   and hdwr.copy_code = #{copy_code}
							   and hdwr.acc_year = #{acc_year}
							  <if test="plan_code != null and plan_code != ''">
			                   and  hdwr.plan_code = #{plan_code}
			               	  </if>
			               	  </where>
			               	 order by hdwr.group_id,
									  hdwr.hos_id,
									  hdwr.copy_code,
									  hdwr.acc_year,
									  hdwr.plan_code,
									  hpdd.proj_dept_code,
									  hpd.work_code
    </select>
    
      <insert id="insertBatchHtcResCauseData" parameterType="java.util.List">
               insert into htc_res_cause_data
					  (group_id,
					   hos_id,
					   copy_code,
					   acc_year,
					   plan_code,
					   proj_dept_no,
					   proj_dept_id,
					   work_code,
					   res_cause_code,
					   res_cause_data)
	     <foreach collection="list" item="item" index="index" separator=" union all " >
			   select 		
					#{item.group_id},
					#{item.hos_id} ,
					#{item.copy_code},
					#{item.acc_year},
					#{item.plan_code},
					#{item.proj_dept_no},
					#{item.proj_dept_id},
					#{item.work_code},
					#{item.res_cause_code},
					#{item.res_cause_data}
			  from dual 
		</foreach>
      </insert>
      
      <delete id="deleteBatchHtcResCauseData" parameterType="java.util.List">
          delete from htc_res_cause_data where
        <foreach collection="list" index="index" item="item" separator="or" >
		(
			        group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and acc_year = #{item.acc_year}
			   and plan_code = #{item.plan_code}
			   and proj_dept_no = #{item.proj_dept_no}
			   and proj_dept_id = #{item.proj_dept_id}
			   and work_code = #{item.work_code}
			   and res_cause_code = #{item.res_cause_code}
		)
		</foreach>
       </delete>
	

</mapper>

