<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.readydata.HtcWorkCauseDataMapper">
	<resultMap id="htcWorkCauseDataMap" type="com.chd.hrp.htc.entity.task.readydata.HtcWorkCauseData">
         <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="plan_code" column="plan_code"/>
        <result property="plan_name" column="plan_name"/>
        <result property="proj_dept_no" column="proj_dept_no"/>
        <result property="proj_dept_id" column="proj_dept_id"/>
        <result property="proj_dept_code" column="proj_dept_code"/>
        <result property="proj_dept_name" column="proj_dept_name"/>
        <result property="charge_item_id" column="charge_item_id"/>
        <result property="charge_item_code" column="charge_item_code"/>
        <result property="charge_item_name" column="charge_item_name"/>
        <result property="work_code" column="work_code"/>
        <result property="work_name" column="work_name"/>
        <result property="work_cause_code" column="work_cause_code"/>
        <result property="work_cause_name" column="work_cause_name"/>
        <result property="work_remark" column="work_remark"/>
        <result property="work_cause_data" column="work_cause_data"/>
        <result property="copn_cia" column="copn_cia"/>
	</resultMap>
	
     <select id = "queryHtcWorkCauseDict" parameterType="java.util.Map" resultMap="htcWorkCauseDataMap">
				      select 
				        group_id, 
				        hos_id, 
				        copy_code, 
				        work_cause_code, 
				        work_cause_name, 
				        work_remark,
			            fun_value,
			            htc_complete_cause_data(#{group_id},#{hos_id},#{copy_code},#{acc_year},work_cause_code,2) copn_cia
				    from htc_work_cause_dict
				    where group_id = #{group_id}
				      and hos_id = #{hos_id}
				      and copy_code = #{copy_code}
				    order by group_id, hos_id, copy_code, work_cause_code
	</select>
      
     <select id="queryHtcWorkCauseData" parameterType="java.util.Map" resultMap="htcWorkCauseDataMap" >
						select 
						    hdcw.group_id,
							hdcw.hos_id,
							hdcw.copy_code,
							hdcw.acc_year,
							hdcw.plan_code,
							hps.plan_name,
							hdcw.proj_dept_no,
							hdcw.proj_dept_id,
							hpdd.proj_dept_code,
							hpdd.proj_dept_name,
							hdcw.charge_item_id,
							ccia.charge_item_code,
							ccia.charge_item_name,
							hdcw.work_code,
							hwd.work_name,
							hwcd.work_cause_data
						from htc_dept_charge_work hdcw
						left join htc_plan_set hps
						on hdcw.group_id = hps.group_id
						and hdcw.hos_id = hps.hos_id
						and hdcw.copy_code = hps.copy_code
						and hdcw.acc_year = hps.acc_year
						and hdcw.plan_code = hps.plan_code
						left join htc_proj_dept_dict hpdd
						on hpdd.group_id = hdcw.group_id
						and hpdd.hos_id = hdcw.hos_id
						and hpdd.copy_code = hdcw.copy_code
						and hpdd.proj_dept_no = hdcw.proj_dept_no
						and hpdd.proj_dept_id = hdcw.proj_dept_id
						left join cost_charge_item_arrt ccia
						on ccia.group_id = hdcw.group_id
						and ccia.hos_id = hdcw.hos_id
						and ccia.copy_code = hdcw.copy_code
						and ccia.charge_item_id = hdcw.charge_item_id
						left join htc_work_dict hwd
						on hwd.group_id = hdcw.group_id
						and hwd.hos_id = hdcw.hos_id
						and hwd.copy_code = hdcw.copy_code
						and hwd.work_code = hdcw.work_code
						left join htc_work_cause_data hwcd
						on hwcd.group_id = hdcw.group_id
						and hwcd.hos_id = hdcw.hos_id
						and hwcd.copy_code = hdcw.copy_code
						and hwcd.acc_year = hdcw.acc_year
						and hwcd.plan_code = hdcw.plan_code
						and hwcd.proj_dept_no = hdcw.proj_dept_no
						and hwcd.proj_dept_id = hdcw.proj_dept_id
						and hwcd.charge_item_id = hdcw.charge_item_id
						and hwcd.work_code = hdcw.work_code
						and hwcd.work_cause_code = #{work_cause_code}
						where hdcw.group_id = #{group_id}
						and hdcw.hos_id =  #{hos_id}
						and hdcw.copy_code = #{copy_code}
						and hdcw.acc_year = #{acc_year}
						order by    hdcw.group_id,
									hdcw.hos_id,
									hdcw.copy_code,
									hdcw.acc_year,
									hdcw.plan_code,
									hpdd.proj_dept_code,
									ccia.charge_item_code,
									hdcw.work_code,
									hwd.work_name
    </select>
    
      <insert id="insertBatchHtcWorkCauseData" parameterType="java.util.List">
               insert into htc_work_cause_data
						  (group_id,
						   hos_id,
						   copy_code,
						   acc_year,
						   plan_code,
						   proj_dept_no,
						   proj_dept_id,
						   charge_item_id,
						   work_code,
						   work_cause_code,
						   work_cause_data)
	     <foreach collection="list" item="item" index="index" separator=" union all " >
			   select 		
					#{item.group_id},
					#{item.hos_id} ,
					#{item.copy_code},
					#{item.acc_year},
					#{item.plan_code},
					#{item.proj_dept_no},
					#{item.proj_dept_id},
					#{item.charge_item_id},
					#{item.work_code},
					#{item.work_cause_code},
					#{item.work_cause_data}
			  from dual 
		</foreach>
      </insert>
      
      <delete id="deleteBatchHtcWorkCauseData" parameterType="java.util.List">
           delete htc_work_cause_data where
        <foreach collection="list" index="index" item="item" separator="or" >
		( 
			   group_id = #{item.group_id}
		   and hos_id = #{item.hos_id}
		   and copy_code = #{item.copy_code}
		   and acc_year = #{item.acc_year}
		   and plan_code = #{item.plan_code}
		   and proj_dept_no = #{item.proj_dept_no}
		   and proj_dept_id = #{item.proj_dept_id}
		   and charge_item_id = #{item.charge_item_id}
		   and work_code = #{item.work_code}
		   and work_cause_code = #{item.work_cause_code}
		)
		</foreach>
       </delete>
       
       
	
</mapper>

