<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.project.budgcontrol.BudgProjApplyResolveMapper">
	
	<resultMap id="budgProjApplyResolve" type="com.chd.hrp.budg.entity.BudgProjApplyResolve">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="apply_code" column="apply_code"/>
	<result property="proj_id" column="proj_id"/>
	<result property="source_id" column="source_id"/>
	<result property="payment_item_id" column="payment_item_id"/>
	<result property="payment_item_no" column="payment_item_no"/>
	<result property="rate" column="rate"/>
	<result property="budg_amount" column="budg_amount"/>
	</resultMap>
		
	<resultMap id="budgProjApplyResolveMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="apply_code" column="apply_code"/>
	<result property="proj_id" column="proj_id"/>
	<result property="source_id" column="source_id"/>
	<result property="payment_item_id" column="payment_item_id"/>
	<result property="payment_item_no" column="payment_item_no"/>
	<result property="rate" column="rate"/>
	<result property="budg_amount" column="budg_amount"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_PROJ_APPLY_RESOLVE (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			apply_code
			,
			proj_id
			,
			source_id
			,
			payment_item_id
			,
			payment_item_no
			,
			rate
			,
			budg_amount
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{apply_code,jdbcType=VARCHAR}
			,
			#{proj_id,jdbcType=INTEGER}
			,
			#{source_id,jdbcType=INTEGER}
			,
			#{payment_item_id,jdbcType=INTEGER}
			,
			#{payment_item_no,jdbcType=INTEGER}
			,
			#{rate,jdbcType=INTEGER}
			,
			#{budg_amount,jdbcType=INTEGER}
		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_PROJ_APPLY_RESOLVE (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			apply_code
			,
			proj_id
			,
			source_id
			,
			payment_item_id
			,
			payment_item_no
			,
			rate
			,
			budg_amount
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.apply_code,jdbcType=VARCHAR}
			,
			#{item.proj_id,jdbcType=INTEGER}
			,
			#{item.source_id,jdbcType=INTEGER}
			,
			#{item.payment_item_id,jdbcType=INTEGER}
			,
			#{item.payment_item_no,jdbcType=INTEGER}
			,
			#{item.rate,jdbcType=INTEGER}
			,
			#{item.budg_amount,jdbcType=INTEGER}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_proj_apply_resolve set
			rate = #{rate,jdbcType=INTEGER}
			,
			budg_amount = #{budg_amount,jdbcType=INTEGER}
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
			<if test="apply_code != null and apply_code != ''">
			AND apply_code = #{apply_code,jdbcType=VARCHAR}
			</if>
			<if test="proj_id != null and proj_id != ''">
			AND proj_id = #{proj_id,jdbcType=INTEGER}
			</if>
			<if test="source_id != null and source_id != ''">
			AND source_id = #{source_id,jdbcType=INTEGER}
			</if>
			<if test="payment_item_id != null and payment_item_id != ''">
			AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
			</if>
			<if test="payment_item_no != null and payment_item_no != ''">
			AND payment_item_no = #{payment_item_no,jdbcType=INTEGER}
			</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_apply_resolve set
				rate = #{item.rate,jdbcType=INTEGER}
				,
				budg_amount = #{item.budg_amount,jdbcType=INTEGER}
			<where>                     
				<if test="item.group_id != null and item.group_id != ''">
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>  
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>  
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>  
				<if test="item.budg_year != null and item.budg_year != ''">
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				</if>  
				<if test="item.apply_code != null and item.apply_code != ''">
				AND apply_code = #{item.apply_code,jdbcType=VARCHAR}
				</if>  
				<if test="item.proj_id != null and item.proj_id != ''">
				AND proj_id = #{item.proj_id,jdbcType=INTEGER}
				</if>  
				<if test="item.source_id != null and item.source_id != ''">
				AND source_id = #{item.source_id,jdbcType=INTEGER}
				</if>  
				<if test="item.payment_item_id != null and item.payment_item_id != ''">
				AND payment_item_id = #{item.payment_item_id,jdbcType=INTEGER}
				</if>  
				<if test="item.payment_item_no != null and item.payment_item_no != ''">
				AND payment_item_no = #{item.payment_item_no,jdbcType=INTEGER}
				</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_proj_apply_resolve 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
			<if test="apply_code != null and apply_code != ''">
			AND apply_code = #{apply_code,jdbcType=VARCHAR}
			</if>
			<if test="proj_id != null and proj_id != ''">
			AND proj_id = #{proj_id,jdbcType=INTEGER}
			</if>
			<if test="source_id != null and source_id != ''">
			AND source_id = #{source_id,jdbcType=INTEGER}
			</if>
			<if test="payment_item_id != null and payment_item_id != ''">
			AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
			</if>
			<if test="payment_item_no != null and payment_item_no != ''">
			AND payment_item_no = #{payment_item_no,jdbcType=INTEGER}
			</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_proj_apply_resolve 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.budg_year != null and item.budg_year != ''">
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				</if>
				<if test="item.apply_code != null and item.apply_code != ''">
				AND apply_code = #{item.apply_code,jdbcType=VARCHAR}
				</if>
				<if test="item.proj_id != null and item.proj_id != ''">
				AND proj_id = #{item.proj_id,jdbcType=INTEGER}
				</if>
				<if test="item.source_id != null and item.source_id != ''">
				AND source_id = #{item.source_id,jdbcType=INTEGER}
				</if>
				<if test="item.payment_item_id != null and item.payment_item_id != ''">
				AND payment_item_id = #{item.payment_item_id,jdbcType=INTEGER}
				</if>
				<if test="item.payment_item_no != null and item.payment_item_no != ''">
				AND payment_item_no = #{item.payment_item_no,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgProjApplyResolve" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		apply_code,
		proj_id,
		source_id,
		payment_item_id,
		payment_item_no,
		rate,
		budg_amount
		FROM BUDG_PROJ_APPLY_RESOLVE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="apply_code != null and apply_code != ''">
		AND apply_code = #{apply_code,jdbcType=VARCHAR}
		</if>
		<if test="proj_id != null and proj_id != ''">
		AND proj_id = #{proj_id,jdbcType=INTEGER}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_no != null and payment_item_no != ''">
		AND payment_item_no = #{payment_item_no,jdbcType=INTEGER}
		</if>
		<if test="rate != null and rate != ''">
		AND rate = #{rate,jdbcType=INTEGER}
		</if>
		<if test="budg_amount != null and budg_amount != ''">
		AND budg_amount = #{budg_amount,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryByCode" resultMap="budgProjApplyResolve"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		apply_code,
		proj_id,
		source_id,
		payment_item_id,
		payment_item_no,
		rate,
		budg_amount
		FROM budg_proj_apply_resolve 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		budg_year = #{budg_year,jdbcType=VARCHAR}   and 
		apply_code = #{apply_code,jdbcType=VARCHAR}   and 
		proj_id = #{proj_id,jdbcType=INTEGER}   and 
		source_id = #{source_id,jdbcType=INTEGER}   and 
		payment_item_id = #{payment_item_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgProjApplyResolve"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		apply_code,
		proj_id,
		source_id,
		payment_item_id,
		payment_item_no,
		rate,
		budg_amount
		FROM BUDG_PROJ_APPLY_RESOLVE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="apply_code != null and apply_code != ''">
		AND apply_code = #{apply_code,jdbcType=VARCHAR}
		</if>
		<if test="proj_id != null and proj_id != ''">
		AND proj_id = #{proj_id,jdbcType=INTEGER}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_no != null and payment_item_no != ''">
		AND payment_item_no = #{payment_item_no,jdbcType=INTEGER}
		</if>
		<if test="rate != null and rate != ''">
		AND rate = #{rate,jdbcType=INTEGER}
		</if>
		<if test="budg_amount != null and budg_amount != ''">
		AND budg_amount = #{budg_amount,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgProjApplyResolve"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		apply_code,
		proj_id,
		source_id,
		payment_item_id,
		payment_item_no,
		rate,
		budg_amount
		FROM BUDG_PROJ_APPLY_RESOLVE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="apply_code != null and apply_code != ''">
		AND apply_code = #{apply_code,jdbcType=VARCHAR}
		</if>
		<if test="proj_id != null and proj_id != ''">
		AND proj_id = #{proj_id,jdbcType=INTEGER}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_no != null and payment_item_no != ''">
		AND payment_item_no = #{payment_item_no,jdbcType=INTEGER}
		</if>
		<if test="rate != null and rate != ''">
		AND rate = #{rate,jdbcType=INTEGER}
		</if>
		<if test="budg_amount != null and budg_amount != ''">
		AND budg_amount = #{budg_amount,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

