<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.med.dao.medprepay.MedPrePayDetailMapper">
	
	<resultMap id="medPrePayDetail" type="com.chd.hrp.med.entity.MedPrePayDetail">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="pre_pay_id" column="pre_pay_id"/>
	<result property="pre_pay_no" column="pre_pay_no"/>
	<result property="pre_detail_id" column="pre_detail_id"/>
	<result property="in_id" column="in_id"/>
	<result property="in_detail_id" column="in_detail_id"/>
	<result property="payable_money" column="payable_money"/>
	<result property="pre_pay_money" column="pre_pay_money"/>
	</resultMap>
	
	<resultMap id="medPrePayDetailMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="pre_pay_id" column="pre_pay_id"/>
	<result property="pre_pay_no" column="pre_pay_no"/>
	<result property="pre_detail_id" column="pre_detail_id"/>
	<result property="in_id" column="in_id"/>
	<result property="in_no" column="in_no"/>
	<result property="in_detail_id" column="in_detail_id"/>
	<result property="store_id" column="store_id"/>
	<result property="store_no" column="store_no"/>
	<result property="store_code" column="store_code"/>
	<result property="store_name" column="store_name"/>
	<result property="sup_id" column="sup_id"/>
	<result property="sup_no" column="sup_no"/>
	<result property="sup_name" column="sup_name"/>
	<result property="confirmer" column="confirmer"/>
	<result property="user_code" column="user_code"/>
	<result property="confirmer_name" column="confirmer_name"/>
	<result property="in_date" column="in_date"/>
	<result property="in_detail_id" column="in_detail_id"/>
	<result property="payable_money" column="payable_money"/>
	<result property="out_money" column="out_money"/>
	<result property="payed_money" column="payed_money"/>
	<result property="pre_pay_money" column="pre_pay_money"/>
	<result property="note" column="note"/>
	<result property="init" column="init"/>
	</resultMap>
	
	<insert id="addMedPrePayDetail" useGeneratedKeys="true" >
	
		INSERT INTO MED_PRE_PAY_DETAIL (
			pre_detail_id
			,
			group_id
			,
			hos_id
			,
			copy_code
			,
			pre_pay_id
			,
			pre_pay_no
			,
			in_id
			,
			in_detail_id
			,
			payable_money
			,
			pre_pay_money
		
		) VALUES (
		MED_PRE_PAY_DETAIL_SEQ.nextval 
		,
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{pre_pay_id,jdbcType=INTEGER}
		,
		#{pre_pay_no,jdbcType=VARCHAR}
		,
		#{in_id,jdbcType=INTEGER}
		,
		#{in_detail_id,jdbcType=INTEGER}
		,
		#{payable_money,jdbcType=INTEGER}
		,
		#{pre_pay_money,jdbcType=INTEGER}
		
		)
	
	</insert>
	<insert id="addBatchMedPrePayDetail" parameterType="java.util.List" >
	
		INSERT INTO MED_PRE_PAY_DETAIL (
			pre_detail_id
			,
			group_id
			,
			hos_id
			,
			copy_code
			,
			pre_pay_id
			,
			pre_pay_no
			,
			in_id
			,
			in_detail_id
			,
			payable_money
			,
			pre_pay_money
		
		) select MED_PRE_PAY_DETAIL_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.pre_pay_id,jdbcType=INTEGER}
			,
			#{item.pre_pay_no,jdbcType=VARCHAR}
			,
			#{item.in_id,jdbcType=INTEGER}
			,
			#{item.in_detail_id,jdbcType=INTEGER}
			,
			#{item.payable_money,jdbcType=INTEGER}
			,
			#{item.pre_pay_money,jdbcType=INTEGER}
			
			from dual
		</foreach>
			)t
	</insert>
	
	<update id="updateMedPrePayDetail" parameterType="java.util.Map">
	
		UPDATE MED_PRE_PAY_DETAIL SET
		in_id = #{in_id,jdbcType=VARCHAR}
		,
		in_detail_id = #{in_detail_id,jdbcType=INTEGER}
		,
		payable_money = #{bill_money,jdbcType=INTEGER}
		,
		pre_pay_money = #{pre_pay_money,jdbcType=INTEGER}
		
		WHERE 
		group_id =#{group_id,jdbcType=INTEGER}
		 and 
		hos_id =#{hos_id,jdbcType=INTEGER}
		 and 
		copy_code =#{copy_code,jdbcType=VARCHAR}
		 and 
		pre_pay_id =#{bill_id,jdbcType=INTEGER}
		 and 
		pre_detail_id =#{pre_detail_id,jdbcType=INTEGER}
		
	
	</update>
	<update id="updateBatchMedPrePayDetail" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE MED_PRE_PAY_DETAIL SET
			in_id = #{item.in_id}
			,
			in_detail_id = #{item.in_detail_id}
			,
			payable_money = #{item.payable_money}
			,
			pre_pay_money = #{item.pre_pay_money}
			WHERE 
			group_id = #{item.group_id}
			 and 
			hos_id = #{item.hos_id}
			 and 
			copy_code = #{item.copy_code}
			 and 
			pre_pay_id = #{item.pre_pay_id}
			 and 
			pre_detail_id = #{item.pre_detail_id}
			
		</foreach>
	</update>
	
	<delete id="deleteMedPrePayDetail" parameterType="java.util.Map">
	
		DELETE FROM MED_PRE_PAY_DETAIL 
		<where>
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			pre_pay_id = #{pre_pay_id,jdbcType=INTEGER} and 
			pre_pay_no = #{pre_pay_no,jdbcType=VARCHAR}
			<if test=" pre_detail_id !=null and pre_detail_id !='' ">
				and pre_detail_id = #{pre_detail_id,jdbcType=INTEGER}
			</if> 
		</where>
	</delete>
	<delete id="deleteBatchMedPrePayDetail" parameterType="java.util.List">
		DELETE FROM MED_PRE_PAY_DETAIL 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				 and 
				hos_id = #{item.hos_id,jdbcType=INTEGER}
				 and 
				copy_code = #{item.copy_code,jdbcType=VARCHAR}
				 and 
				pre_pay_id = #{item.pre_pay_id,jdbcType=INTEGER}
				and 
				pre_pay_no = #{item.pre_pay_no,jdbcType=VARCHAR}
				<if test=" item.pre_detail_id !=null and item.pre_detail_id !='' ">
					and pre_detail_id = #{item.pre_detail_id,jdbcType=INTEGER}
				</if>
			</foreach>
		</where>
			
	
	</delete>
	<select id="queryMedPrePayDetail" parameterType="java.util.Map" resultMap="medPrePayDetail" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		pre_pay_id,
		pre_pay_no,
		pre_detail_id,
		in_id,
		in_detail_id,
		payable_money ,
		pre_pay_money
		
		FROM MED_PRE_PAY_DETAIL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="pre_pay_id != null and pre_pay_id != ''">
		AND pre_pay_id = #{pre_pay_id,jdbcType=INTEGER}
		</if>
		<if test="pre_pay_no != null and pre_pay_no != ''">
		AND pre_pay_no = #{pre_pay_no,jdbcType=VARCHAR}
		</if>
		<if test="pre_detail_id != null and pre_detail_id != ''">
		AND pre_detail_id = #{pre_detail_id,jdbcType=INTEGER}
		</if>
		<if test="in_id != null and in_id != ''">
		AND in_id = #{in_id,jdbcType=VARCHAR}
		</if>
		<if test="in_detail_id != null and in_detail_id != ''">
		AND in_detail_id = #{in_detail_id,jdbcType=INTEGER}
		</if>
		<if test="payable_money != null and payable_money != ''">
		AND payable_money = #{payable_money,jdbcType=INTEGER}
		</if>
		<if test="pre_pay_money != null and pre_pay_money != ''">
		AND pre_pay_money = #{pre_pay_money,jdbcType=INTEGER}
		</if>
		
		</where>   
		order by pre_detail_id asc
	</select>
	<select id="queryMedPrePayDetailByCode" resultType="com.chd.hrp.med.entity.MedPrePayDetail" parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		pre_pay_id,
		pre_pay_no,
		pre_detail_id,
		in_id,
		in_detail_id,
		payable_money ,
		pre_pay_money
		FROM MED_PRE_PAY_DETAIL 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		pre_pay_id = #{pre_pay_id,jdbcType=INTEGER} and 
		bill_detail_id = #{bill_detail_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryMedPrePayDetailByUniqueness" resultType="com.chd.hrp.med.entity.MedPrePayDetail" parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		pre_pay_id,
		pre_pay_no,
		pre_detail_id,
		in_id,
		in_detail_id,
		payable_money,
		pre_pay_money
		FROM MED_PRE_PAY_DETAIL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="pre_pay_id != null and pre_pay_id != ''">
		AND pre_pay_id = #{pre_pay_id,jdbcType=INTEGER}
		</if>
		<if test="pre_pay_no != null and pre_pay_no != ''">
		AND pre_pay_no = #{pre_pay_no,jdbcType=INTEGER}
		</if>
		<if test="pre_detail_id != null and pre_detail_id != ''">
		AND pre_detail_id = #{pre_detail_id,jdbcType=INTEGER}
		</if>
		<if test="in_id != null and in_id != ''">
		AND in_id = #{in_id,jdbcType=VARCHAR}
		</if>
		<if test="in_detail_id != null and in_detail_id != ''">
		AND in_detail_id = #{in_detail_id,jdbcType=INTEGER}
		</if>
		<if test="payable_money != null and payable_money != ''">
		AND payable_money = #{payable_money,jdbcType=INTEGER}
		</if>
		<if test="pre_pay_money != null and pre_pay_money != ''">
		AND pre_pay_money = #{pre_pay_money,jdbcType=INTEGER}
		</if>
		</where>   
		order by pre_detail_id asc
	</select>
	
	<!-- 查询预付款单明细信息（多表联合查询） -->
	<select id="queryMedPrePayIn" parameterType="java.util.Map" resultMap="medPrePayDetailMap" >
	
		SELECT 
		mim.group_id,
		mim.hos_id,
		mim.copy_code,
		t.pre_pay_id ,
		t.pre_pay_no ,
		<if test=" init == 0">
		mim.in_id,
		mim.in_no,
		0 init ,
		mim.store_id,
		mim.store_no,
		hsd.store_code,
		hsd.store_name,
		</if>
		<if test=" init == 1">
		mim.deliver_id in_id,
		mim.deliver_no in_no,
		1 init ,
		</if>
		mim.sup_id,
		mim.sup_no,
		sup.sup_name,
		mim.confirmer,
		su.user_code,
		su.user_name confirmer_name,
		mim.in_date,
		mim.confirm_date,
		mim. brief note ,
		nvl(t.payable_money,0)  payable_money ,
		nvl(t.pre_pay_money , 0) pre_pay_money ,
		nvl(a.payed_money,0)  payed_money ,
		nvl((nvl(a.payed_money,0) + nvl(t.pre_pay_money , 0)),0) out_money
		FROM ${table} mim
		<if test=" init == 0">
		LEFT JOIN hos_store_dict hsd
			on	
				mim.group_id = hsd.group_id
				and mim.hos_id = hsd.hos_id
				and mim.store_id = hsd.store_id
				and mim.store_no = hsd.store_no
				and hsd.is_stop = 0
		</if>
		LEFT JOIN hos_sup_dict sup
			on	
				mim.group_id = sup.group_id
				and mim.hos_id = sup.hos_id
				and mim.sup_id = sup.sup_id
				and mim.sup_no = sup.sup_no
				and sup.is_stop = 0
		LEFT JOIN sys_user su
			on 
				mim.group_id = su.group_id
				and mim.hos_id = su.hos_id
				and mim.confirmer = su.user_id 
		LEFT JOIN  (select group_id , hos_id , copy_code ,  pre_pay_id , pre_pay_no , in_id , nvl(sum(payable_money),0) payable_money, 
					nvl(sum(pre_pay_money) ,0) pre_pay_money from  MED_PRE_PAY_DETAIL 
					where group_id =${group_id} and hos_id=${hos_id}  and copy_code = ${copy_code} and pre_pay_id = ${pre_pay_id}
					group by  group_id , hos_id , copy_code ,  pre_pay_id , pre_pay_no , in_id ) t
			on
				mim.group_id = t.group_id
				and mim.hos_id = t.hos_id
				and mim.copy_code = t.copy_code
				<if test="init == 0">
				and mim.in_id = t.in_id
				</if>
				<if test="init == 1">
				and mim.deliver_id = t.in_id
				</if>
		LEFT JOIN  (select group_id , hos_id , copy_code ,  in_id , nvl(sum(pre_pay_money) ,0) payed_money 
				from  MED_PRE_PAY_DETAIL where group_id =${group_id} and hos_id=${hos_id}  
						and copy_code = ${copy_code} and pre_pay_id  &lt;&gt; ${pre_pay_id}
						and in_id in(select in_id from med_pre_pay_detail where group_id =${group_id} 
						and hos_id=${hos_id}  and copy_code = ${copy_code}  and pre_pay_id = ${pre_pay_id})
						group by  group_id , hos_id , copy_code , in_id ) a
			on
				mim.group_id = a.group_id
				and mim.hos_id = a.hos_id
				and mim.copy_code = a.copy_code
				<if test="init == 0">
				and mim.in_id = t.in_id
				</if>
				<if test="init == 1">
				and mim.deliver_id = t.in_id
				</if>
		<where> 
		<if test="group_id != null and group_id != ''">
		AND mim.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mim.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mim.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="in_id != null and in_id != '' and init == 0">
		AND mim.in_id in (${in_id})
		</if>
		<if test="in_id != null and in_id != '' and init == 1">
		AND mim.deliver_id in (${in_id})
		</if>
		</where>   
	</select>
	<select id="queryMedPrePayIn_id" parameterType="java.util.Map" resultMap="medPrePayDetailMap">
		select distinct(in_id) in_id from  MED_PRE_PAY_DETAIL
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="pre_pay_id != null and pre_pay_id != ''">
		AND pre_pay_id = #{pre_pay_id,jdbcType=INTEGER}
		</if>
		</where>   
	</select>
</mapper>

