<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.termend.AccTermendTemplateMapper">
 
	<resultMap id="accTermendTemplate" type="com.chd.hrp.acc.entity.AccTermendTemplate">
		<result property="template_id" column="template_id" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />    
		<result property="acc_year" column="acc_year" />
		<result property="template_name" column="template_name" />
		<result property="template_type_code" column="template_type_code" />
		<result property="vouch_type_code" column="vouch_type_code" />
		<result property="vouch_type_name" column="vouch_type_name" />
		<result property="rate" column="rate" />
		<result property="summary" column="summary" />
		<result property="source_id" column="source_id" />
		<result property="source_code" column="source_code" />
		<result property="source_name" column="source_name" />
		<result property="debit_subj_code1" column="debit_subj_code1" />
		<result property="debit_subj_name1" column="debit_subj_name1" />
		<result property="debit_subj_dire1" column="debit_subj_dire1" />
		<result property="debit_is_check1" column="debit_is_check1" />
		<result property="debit_is_cash1" column="debit_is_cash1" />
		<result property="debit_subj_type_code1" column="debit_subj_type_code1" />
		<result property="debit_subj_nature_code1" column="debit_subj_nature_code1" />
		<result property="debit_subj_code2" column="debit_subj_code2" />
		<result property="debit_subj_name2" column="debit_subj_name2" />
		<result property="debit_subj_dire2" column="debit_subj_dire2" />
		<result property="debit_is_check2" column="debit_is_check2" />
		<result property="debit_is_cash2" column="debit_is_cash2" />
		<result property="debit_subj_type_code2" column="debit_subj_type_code2" />
		<result property="debit_subj_nature_code2" column="debit_subj_nature_code2" />
		<result property="debit_subj_code3" column="debit_subj_code3" />
		<result property="debit_subj_name3" column="debit_subj_name3" />
		<result property="debit_subj_dire2" column="debit_subj_dire3" />
		<result property="debit_is_check3" column="debit_is_check3" />
		<result property="debit_is_cash3" column="debit_is_cash3" />
		<result property="debit_subj_type_code3" column="debit_subj_type_code3" />
		<result property="debit_subj_nature_code3" column="debit_subj_nature_code3" />
		<result property="debit_subj_code4" column="debit_subj_code4" />
		<result property="debit_subj_name4" column="debit_subj_name4" />
		<result property="debit_subj_dire4" column="debit_subj_dire4" />
		<result property="debit_is_check4" column="debit_is_check4" />
		<result property="debit_is_cash4" column="debit_is_cash4" />
		<result property="debit_subj_type_code4" column="debit_subj_type_code4" />
		<result property="debit_subj_nature_code4" column="debit_subj_nature_code4" />
		<result property="debit_subj_code5" column="debit_subj_code5" />
		<result property="debit_subj_name5" column="debit_subj_name5" />
		<result property="debit_subj_dire5" column="debit_subj_dire5" />
		<result property="debit_is_check5" column="debit_is_check5" />
		<result property="debit_is_cash5" column="debit_is_cash5" />
		<result property="debit_subj_type_code5" column="debit_subj_type_code5" />
		<result property="debit_subj_nature_code5" column="debit_subj_nature_code5" />
		<result property="credit_subj_code1" column="credit_subj_code1" />
		<result property="credit_subj_name1" column="credit_subj_name1" />
		<result property="credit_subj_dire1" column="credit_subj_dire1" />
		<result property="credit_is_check1" column="credit_is_check1" />
		<result property="credit_is_cash1" column="credit_is_cash1" />
		<result property="credit_subj_type_code1" column="credit_subj_type_code1" />
		<result property="credit_subj_nature_code1" column="credit_subj_nature_code1" />
		<result property="credit_subj_code2" column="credit_subj_code2" />
		<result property="credit_subj_name2" column="credit_subj_name2" />
		<result property="credit_subj_dire2" column="credit_subj_dire2" />
		<result property="credit_is_check2" column="credit_is_check2" />
		<result property="credit_is_cash2" column="credit_is_cash2" />
		<result property="credit_subj_type_code2" column="credit_subj_type_code2" />
		<result property="credit_subj_nature_code2" column="credit_subj_nature_code2" />
		<result property="credit_subj_code3" column="credit_subj_code3" />
		<result property="credit_subj_name3" column="credit_subj_name3" />
		<result property="credit_subj_dire3" column="credit_subj_dire3" />
		<result property="credit_is_check3" column="credit_is_check3" />
		<result property="credit_is_cash3" column="credit_is_cash3" />
		<result property="credit_subj_type_code3" column="credit_subj_type_code3" />
		<result property="credit_subj_nature_code3" column="credit_subj_nature_code3" />
		<result property="credit_subj_code4" column="credit_subj_code4" />
		<result property="credit_subj_name4" column="credit_subj_name4" />
		<result property="credit_subj_dire4" column="credit_subj_dire4" />
		<result property="credit_is_check4" column="credit_is_check4" />
		<result property="credit_is_cash4" column="credit_is_cash4" />
		<result property="credit_subj_type_code4" column="credit_subj_type_code4" />
		<result property="credit_subj_nature_code4" column="credit_subj_nature_code4" />
		<result property="credit_subj_code5" column="credit_subj_code5" />
		<result property="credit_subj_name5" column="credit_subj_name5" />
		<result property="credit_subj_dire5" column="credit_subj_dire5" />
		<result property="credit_is_check5" column="credit_is_check5" />
		<result property="credit_is_cash5" column="credit_is_cash5" />
		<result property="credit_subj_type_code5" column="credit_subj_type_code5" />
		<result property="credit_subj_nature_code5" column="credit_subj_nature_code5" />
	</resultMap>
	
	<resultMap id="accSubj"  type="com.chd.hrp.acc.entity.AccSubj">
        <result property="subj_id" column="subj_id"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="subj_code" column="subj_code"/>
        <result property="subj_name" column="subj_name"/>
        <result property="subj_name_all" column="subj_name_all"/>
	</resultMap>
	
	<resultMap id="accVouch" type="java.util.Map">
		<result property="vouch_id" column="vouch_id" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="vouch_type_code" column="vouch_type_code" />
		<result property="vouch_type_name" column="vouch_type_name" />
		<result property="vouch_type_short" column="vouch_type_short" />
		<result property="vouch_no" column="vouch_no" />
		<result property="vouch_date" column="vouch_date" />
		<result property="vouch_att_num" column="vouch_att_num" />
		<result property="vouch_id_cx" column="vouch_id_cx" />
		<result property="create_user" column="create_user" />
		<result property="create_name" column="create_name" />
		<result property="create_date" column="create_date" />
		<result property="cash_user" column="cash_user" />
		<result property="cash_name" column="cash_name" />
		<result property="cashe_date" column="cashe_date" />
		<result property="audit_user" column="audit_user" />
		<result property="audit_name" column="audit_name" />
		<result property="audit_date" column="audit_date" />
		<result property="acc_user" column="acc_user" />
		<result property="acc_name" column="acc_name" />
		<result property="acc_date" column="acc_date" />
		<result property="state" column="state" />
		<result property="note" column="note" />
		<result property="subj_code" column="subj_code" />
		<result property="subj_name" column="subj_name" />
		<result property="summary" column="summary" />
		<result property="debit" column="debit" />
		<result property="credit" column="credit" />
		<result property="ys_debit" column="ys_debit" />
		<result property="ys_credit" column="ys_credit" />
		<result property="subj_dire" column="subj_dire" />
		<result property="is_check" column="is_check" />
	</resultMap>
	
	<!-- 查询最大序号 -->
	<select id="queryAccTermendTemplateSeq"  resultType="java.lang.Long" useCache="false" flushCache="true">	
		SELECT ACC_TERMEND_TEMPLATE_SEQ.nextval   FROM DUAL
	</select>
	
	<insert id="addAccTermendTemplate" parameterType="java.util.Map">
		INSERT INTO ACC_TERMEND_TEMPLATE
		(
			template_id, group_id, hos_id, copy_code, template_name, template_type_code, 
			rate, vouch_type_code, summary, acc_year
			<if test="source_id != null and source_id != ''">
				, source_id 
			</if>
			<if test="debit_subj_code1 != null and debit_subj_code1 != ''">
				, debit_subj_code1 
			</if>
			<if test="debit_subj_code2 != null and debit_subj_code2 != ''">
				, debit_subj_code2
			</if>
			<if test="debit_subj_code3 != null and debit_subj_code3 != ''">
				, debit_subj_code3
			</if>
			<if test="debit_subj_code4 != null and debit_subj_code4 != ''">
				, debit_subj_code4
			</if>
			<if test="debit_subj_code5 != null and debit_subj_code5 != ''">
				, debit_subj_code5
			</if>
			<if test="credit_subj_code1 != null and credit_subj_code1 != ''">
				, credit_subj_code1
			</if>
			<if test="credit_subj_code2 != null and credit_subj_code2 != ''">
				, credit_subj_code2
			</if>
			<if test="credit_subj_code3 != null and credit_subj_code3 != ''">
				, credit_subj_code3
			</if>
			<if test="credit_subj_code4 != null and credit_subj_code4 != ''">
				, credit_subj_code4
			</if>
			<if test="credit_subj_code5 != null and credit_subj_code5 != ''">
				, credit_subj_code5
			</if>
		) VALUES (
			#{template_id}, 
			#{group_id}, 
			#{hos_id}, 
			#{copy_code}, 
			#{template_name}, 
			#{template_type_code}
			<if test="rate != null and rate != ''">
				, #{rate}
			</if>
			<if test="rate == null or rate == ''">
				, 0
			</if>
			, #{vouch_type_code}
			, #{summary}
			, #{acc_year}
			<if test="source_id != null and source_id != ''">
				, #{source_id} 
			</if>
			<if test="debit_subj_code1 != null and debit_subj_code1 != ''">
				, #{debit_subj_code1} 
			</if>
			<if test="debit_subj_code2 != null and debit_subj_code2 != ''">
				, #{debit_subj_code2}
			</if>
			<if test="debit_subj_code3 != null and debit_subj_code3 != ''">
				, #{debit_subj_code3}
			</if>
			<if test="debit_subj_code4 != null and debit_subj_code4 != ''">
				, #{debit_subj_code4}
			</if>
			<if test="debit_subj_code5 != null and debit_subj_code5 != ''">
				, #{debit_subj_code5}
			</if>
			<if test="credit_subj_code1 != null and credit_subj_code1 != ''">
				, #{credit_subj_code1}
			</if>
			<if test="credit_subj_code2 != null and credit_subj_code2 != ''">
				, #{credit_subj_code2}
			</if>
			<if test="credit_subj_code3 != null and credit_subj_code3 != ''">
				, #{credit_subj_code3}
			</if>
			<if test="credit_subj_code4 != null and credit_subj_code4 != ''">
				, #{credit_subj_code4}
			</if>
			<if test="credit_subj_code5 != null and credit_subj_code5 != ''">
				, #{credit_subj_code5}
			</if>
		)
	</insert>
	
	<update id="updateAccTermendTemplate" parameterType="java.util.Map">
		UPDATE ACC_TERMEND_TEMPLATE
		SET 
				template_name = #{template_name}, 
				vouch_type_code = #{vouch_type_code}, 
				summary = #{summary}
			<if test="rate != null">
				, rate = #{rate}
			</if>
			<if test="source_id != null">
				, source_id = #{source_id} 
			</if>
			<if test="debit_subj_code1 != null ">
				, debit_subj_code1 = #{debit_subj_code1} 
			</if>
			<if test="debit_subj_code2 != null ">
				, debit_subj_code2 = #{debit_subj_code2}
			</if>
			<if test="debit_subj_code3 != null ">
				, debit_subj_code3 = #{debit_subj_code3}
			</if>
			<if test="debit_subj_code4 != null ">
				, debit_subj_code4 = #{debit_subj_code4}
			</if>
			<if test="debit_subj_code5 != null ">
				, debit_subj_code5 = #{debit_subj_code5}
			</if>
			<if test="credit_subj_code1 != null ">
				, credit_subj_code1 = #{credit_subj_code1} 
			</if>
			<if test="credit_subj_code2 != null ">
				, credit_subj_code2 = #{credit_subj_code2} 
			</if>
			<if test="credit_subj_code3 != null ">
				, credit_subj_code3 = #{credit_subj_code3} 
			</if>
			<if test="credit_subj_code4 != null ">
				, credit_subj_code4 = #{credit_subj_code4} 
			</if>
			<if test="credit_subj_code5 != null ">
				, credit_subj_code5 = #{credit_subj_code5} 
			</if>
		WHERE
			group_id = #{group_id} 
			AND hos_id = #{hos_id} 
			AND copy_code = #{copy_code} 
			AND template_id = #{template_id} 
			AND template_type_code = #{template_type_code} 
	</update>
	
	<delete id="deleteBatchAccTermendTemplate" parameterType="java.util.List">
		DELETE FROM ACC_TERMEND_TEMPLATE 
		WHERE 
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id} 
			AND hos_id = #{item.hos_id} 
			AND copy_code = #{item.copy_code} 
			AND template_id = #{item.template_id}
		</foreach>
	</delete>

	<select id="queryAccTermendTemplate" parameterType="java.util.Map" resultMap="accTermendTemplate">
		SELECT
			a.template_id, a.group_id, a.hos_id, a.copy_code, a.template_name, 
			a.template_type_code, a.vouch_type_code, b.vouch_type_name, 
			a.summary, a.rate, a.source_id, m.source_code, m.source_name, 
			c.subj_code as debit_subj_code1, c.subj_name_all as debit_subj_name1, 
			d.subj_code as debit_subj_code2, d.subj_name_all as debit_subj_name2, 
			e.subj_code as debit_subj_code3, e.subj_name_all as debit_subj_name3, 
			f.subj_code as debit_subj_code4, f.subj_name_all as debit_subj_name4, 
			g.subj_code as debit_subj_code5, g.subj_name_all as debit_subj_name5, 
			h.subj_code as credit_subj_code1, h.subj_name_all as credit_subj_name1,
			i.subj_code as credit_subj_code2, i.subj_name_all as credit_subj_name2,
			j.subj_code as credit_subj_code3, j.subj_name_all as credit_subj_name3,
			k.subj_code as credit_subj_code4, k.subj_name_all as credit_subj_name4,
			l.subj_code as credit_subj_code5, l.subj_name_all as credit_subj_name5 
		FROM ACC_TERMEND_TEMPLATE a
		LEFT JOIN ACC_VOUCH_TYPE b
			ON a.group_id = b.group_id
			AND a.hos_id = b.hos_id
			AND a.copy_code = b.copy_code
			AND a.vouch_type_code = b.vouch_type_code
		LEFT JOIN ACC_SUBJ c
			ON a.group_id = c.group_id
			AND a.hos_id = c.hos_id
			AND a.copy_code = c.copy_code
			AND a.acc_year = c.acc_year
			AND a.debit_subj_code1 = c.subj_code
		LEFT JOIN ACC_SUBJ d
			ON a.group_id = d.group_id
			AND a.hos_id = d.hos_id
			AND a.copy_code = d.copy_code
			AND a.acc_year = d.acc_year
			AND a.debit_subj_code2 = d.subj_code
		LEFT JOIN ACC_SUBJ e
			ON a.group_id = e.group_id
			AND a.hos_id = e.hos_id
			AND a.copy_code = e.copy_code
			AND a.acc_year = e.acc_year
			AND a.debit_subj_code3 = e.subj_code
		LEFT JOIN ACC_SUBJ f
			ON a.group_id = f.group_id
			AND a.hos_id = f.hos_id
			AND a.copy_code = f.copy_code
			AND a.acc_year = f.acc_year
			AND a.debit_subj_code4 = f.subj_code
		LEFT JOIN ACC_SUBJ g
			ON a.group_id = g.group_id
			AND a.hos_id = g.hos_id
			AND a.copy_code = g.copy_code
			AND a.acc_year = g.acc_year
			AND a.debit_subj_code5 = g.subj_code
		LEFT JOIN ACC_SUBJ h
			ON a.group_id = h.group_id
			AND a.hos_id = h.hos_id
			AND a.copy_code = h.copy_code
			AND a.acc_year = h.acc_year
			AND a.credit_subj_code1 = h.subj_code
		LEFT JOIN ACC_SUBJ i
			ON a.group_id = i.group_id
			AND a.hos_id = i.hos_id
			AND a.copy_code = i.copy_code
			AND a.acc_year = i.acc_year
			AND a.credit_subj_code2 = i.subj_code
		LEFT JOIN ACC_SUBJ j
			ON a.group_id = j.group_id
			AND a.hos_id = j.hos_id
			AND a.copy_code = j.copy_code
			AND a.acc_year = j.acc_year
			AND a.credit_subj_code3 = j.subj_code
		LEFT JOIN ACC_SUBJ k
			ON a.group_id = k.group_id
			AND a.hos_id = k.hos_id
			AND a.copy_code = k.copy_code
			AND a.acc_year = k.acc_year
			AND a.credit_subj_code4 = k.subj_code
		LEFT JOIN ACC_SUBJ l
			ON a.group_id = l.group_id
			AND a.hos_id = l.hos_id
			AND a.copy_code = l.copy_code
			AND a.acc_year = l.acc_year
			AND a.credit_subj_code5 = l.subj_code
		LEFT JOIN hos_source m 
			ON a.group_id = m.group_id 
			AND a.hos_id = m.hos_id 
			AND a.source_id = m.source_id 
		WHERE a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.acc_year = #{acc_year}
			<if test="template_type_code != null and template_type_code != ''">
				AND a.template_type_code like '${template_type_code}%'
			</if>
			<if test="template_id != null and template_id != ''">
				AND a.template_id = #{template_id}
			</if>
		ORDER BY a.template_id
	</select>	

	<select id="queryAccTermendTemplateByCode" parameterType="java.util.Map" resultMap="accTermendTemplate">
		SELECT
			a.template_id, a.group_id, a.hos_id, a.copy_code, a.acc_year, a.template_name, a.template_type_code, 
			a.vouch_type_code, b.vouch_type_name, a.summary, a.rate, a.source_id, m.source_code, m.source_name,  
			c.subj_code as debit_subj_code1, c.subj_name_all as debit_subj_name1, c.subj_type_code as debit_subj_type_code1, 
			c.subj_dire as debit_subj_dire1, c.is_check as debit_is_check1, c.is_cash as debit_is_cash1, c.subj_nature_code as debit_subj_nature_code1, 
			d.subj_code as debit_subj_code2, d.subj_name_all as debit_subj_name2, d.subj_type_code as debit_subj_type_code2, 
			d.subj_dire as debit_subj_dire2, d.is_check as debit_is_check2, d.is_cash as debit_is_cash2, d.subj_nature_code as debit_subj_nature_code2,
			e.subj_code as debit_subj_code3, e.subj_name_all as debit_subj_name3, e.subj_type_code as debit_subj_type_code3, 
			e.subj_dire as debit_subj_dire3, e.is_check as debit_is_check3, e.is_cash as debit_is_cash3, e.subj_nature_code as debit_subj_nature_code3, 
			f.subj_code as debit_subj_code4, f.subj_name_all as debit_subj_name4, f.subj_type_code as debit_subj_type_code4, 
			f.subj_dire as debit_subj_dire4, f.is_check as debit_is_check4, f.is_cash as debit_is_cash4, f.subj_nature_code as debit_subj_nature_code4,
			g.subj_code as debit_subj_code5, g.subj_name_all as debit_subj_name5, g.subj_type_code as debit_subj_type_code5, 
			g.subj_dire as debit_subj_dire5, g.is_check as debit_is_check5, g.is_cash as debit_is_cash5, g.subj_nature_code as debit_subj_nature_code5,
			h.subj_code as credit_subj_code1, h.subj_name_all as credit_subj_name1, h.subj_type_code as credit_subj_type_code1, 
			h.subj_dire as credit_subj_dire1, h.is_check as credit_is_check1, h.is_cash as credit_is_cash1, h.subj_nature_code as credit_subj_nature_code1, 
			i.subj_code as credit_subj_code2, i.subj_name_all as credit_subj_name2, i.subj_type_code as credit_subj_type_code2, 
			i.subj_dire as credit_subj_dire2, i.is_check as credit_is_check2, i.is_cash as credit_is_cash2, i.subj_nature_code as credit_subj_nature_code2, 
			j.subj_code as credit_subj_code3, j.subj_name_all as credit_subj_name3, j.subj_type_code as credit_subj_type_code3, 
			j.subj_dire as credit_subj_dire3, j.is_check as credit_is_check3, j.is_cash as credit_is_cash3, j.subj_nature_code as credit_subj_nature_code3, 
			k.subj_code as credit_subj_code4, k.subj_name_all as credit_subj_name4, k.subj_type_code as credit_subj_type_code4, 
			k.subj_dire as credit_subj_dire4, k.is_check as credit_is_check4, k.is_cash as credit_is_cash4, k.subj_nature_code as credit_subj_nature_code4, 
			l.subj_code as credit_subj_code5, l.subj_name_all as credit_subj_name5, l.subj_type_code as credit_subj_type_code5, 
			l.subj_dire as credit_subj_dire5, l.is_check as credit_is_check5, l.is_cash as credit_is_cash5, l.subj_nature_code as credit_subj_nature_code5 
		FROM ACC_TERMEND_TEMPLATE a
		LEFT JOIN ACC_VOUCH_TYPE b
			ON a.group_id = b.group_id
			AND a.hos_id = b.hos_id
			AND a.copy_code = b.copy_code
			AND a.vouch_type_code = b.vouch_type_code
		LEFT JOIN ACC_SUBJ c
			ON a.group_id = c.group_id
			AND a.hos_id = c.hos_id
			AND a.copy_code = c.copy_code
			AND a.acc_year = c.acc_year
			AND a.debit_subj_code1 = c.subj_code
		LEFT JOIN ACC_SUBJ d
			ON a.group_id = d.group_id
			AND a.hos_id = d.hos_id
			AND a.copy_code = d.copy_code
			AND a.acc_year = d.acc_year
			AND a.debit_subj_code2 = d.subj_code
		LEFT JOIN ACC_SUBJ e
			ON a.group_id = e.group_id
			AND a.hos_id = e.hos_id
			AND a.copy_code = e.copy_code
			AND a.acc_year = e.acc_year
			AND a.debit_subj_code3 = e.subj_code
		LEFT JOIN ACC_SUBJ f
			ON a.group_id = f.group_id
			AND a.hos_id = f.hos_id
			AND a.copy_code = f.copy_code
			AND a.acc_year = f.acc_year
			AND a.debit_subj_code4 = f.subj_code
		LEFT JOIN ACC_SUBJ g
			ON a.group_id = g.group_id
			AND a.hos_id = g.hos_id
			AND a.copy_code = g.copy_code
			AND a.acc_year = g.acc_year
			AND a.debit_subj_code5 = g.subj_code
		LEFT JOIN ACC_SUBJ h
			ON a.group_id = h.group_id
			AND a.hos_id = h.hos_id
			AND a.copy_code = h.copy_code
			AND a.acc_year = h.acc_year
			AND a.credit_subj_code1 = h.subj_code
		LEFT JOIN ACC_SUBJ i
			ON a.group_id = i.group_id
			AND a.hos_id = i.hos_id
			AND a.copy_code = i.copy_code
			AND a.acc_year = i.acc_year
			AND a.credit_subj_code2 = i.subj_code
		LEFT JOIN ACC_SUBJ j
			ON a.group_id = j.group_id
			AND a.hos_id = j.hos_id
			AND a.copy_code = j.copy_code
			AND a.acc_year = j.acc_year
			AND a.credit_subj_code3 = j.subj_code
		LEFT JOIN ACC_SUBJ k
			ON a.group_id = k.group_id
			AND a.hos_id = k.hos_id
			AND a.copy_code = k.copy_code
			AND a.acc_year = k.acc_year
			AND a.credit_subj_code4 = k.subj_code
		LEFT JOIN ACC_SUBJ l
			ON a.group_id = l.group_id
			AND a.hos_id = l.hos_id
			AND a.copy_code = l.copy_code
			AND a.acc_year = l.acc_year
			AND a.credit_subj_code5 = l.subj_code
		LEFT JOIN hos_source m 
			ON a.group_id = m.group_id 
			AND a.hos_id = m.hos_id 
			AND a.source_id = m.source_id 
		WHERE a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.acc_year = #{acc_year}
			AND a.template_id = #{template_id}
	</select>	

	<select id="queryAccTermendTemplateByTypeCode" parameterType="java.util.Map" resultMap="accTermendTemplate">
		SELECT
			a.template_id, a.group_id, a.hos_id, a.copy_code, a.acc_year, a.template_name, a.template_type_code, 
			a.vouch_type_code, b.vouch_type_name, a.summary, a.rate, a.source_id, m.source_code, m.source_name,  
			c.subj_code as debit_subj_code1, c.subj_name_all as debit_subj_name1, c.subj_type_code as debit_subj_type_code1, 
			c.subj_dire as debit_subj_dire1, c.is_check as debit_is_check1, c.is_cash as debit_is_cash1, c.subj_nature_code as debit_subj_nature_code1, 
			d.subj_code as debit_subj_code2, d.subj_name_all as debit_subj_name2, d.subj_type_code as debit_subj_type_code2, 
			d.subj_dire as debit_subj_dire2, d.is_check as debit_is_check2, d.is_cash as debit_is_cash2, d.subj_nature_code as debit_subj_nature_code2,
			e.subj_code as debit_subj_code3, e.subj_name_all as debit_subj_name3, e.subj_type_code as debit_subj_type_code3, 
			e.subj_dire as debit_subj_dire3, e.is_check as debit_is_check3, e.is_cash as debit_is_cash3, e.subj_nature_code as debit_subj_nature_code3, 
			f.subj_code as debit_subj_code4, f.subj_name_all as debit_subj_name4, f.subj_type_code as debit_subj_type_code4, 
			f.subj_dire as debit_subj_dire4, f.is_check as debit_is_check4, f.is_cash as debit_is_cash4, f.subj_nature_code as debit_subj_nature_code4,
			g.subj_code as debit_subj_code5, g.subj_name_all as debit_subj_name5, g.subj_type_code as debit_subj_type_code5, 
			g.subj_dire as debit_subj_dire5, g.is_check as debit_is_check5, g.is_cash as debit_is_cash5, g.subj_nature_code as debit_subj_nature_code5,
			h.subj_code as credit_subj_code1, h.subj_name_all as credit_subj_name1, h.subj_type_code as credit_subj_type_code1, 
			h.subj_dire as credit_subj_dire1, h.is_check as credit_is_check1, h.is_cash as credit_is_cash1, h.subj_nature_code as credit_subj_nature_code1, 
			i.subj_code as credit_subj_code2, i.subj_name_all as credit_subj_name2, i.subj_type_code as credit_subj_type_code2, 
			i.subj_dire as credit_subj_dire2, i.is_check as credit_is_check2, i.is_cash as credit_is_cash2, i.subj_nature_code as credit_subj_nature_code2, 
			j.subj_code as credit_subj_code3, j.subj_name_all as credit_subj_name3, j.subj_type_code as credit_subj_type_code3, 
			j.subj_dire as credit_subj_dire3, j.is_check as credit_is_check3, j.is_cash as credit_is_cash3, j.subj_nature_code as credit_subj_nature_code3, 
			k.subj_code as credit_subj_code4, k.subj_name_all as credit_subj_name4, k.subj_type_code as credit_subj_type_code4, 
			k.subj_dire as credit_subj_dire4, k.is_check as credit_is_check4, k.is_cash as credit_is_cash4, k.subj_nature_code as credit_subj_nature_code4, 
			l.subj_code as credit_subj_code5, l.subj_name_all as credit_subj_name5, l.subj_type_code as credit_subj_type_code5, 
			l.subj_dire as credit_subj_dire5, l.is_check as credit_is_check5, l.is_cash as credit_is_cash5, l.subj_nature_code as credit_subj_nature_code5 
		FROM ACC_TERMEND_TEMPLATE a
		LEFT JOIN ACC_VOUCH_TYPE b
			ON a.group_id = b.group_id
			AND a.hos_id = b.hos_id
			AND a.copy_code = b.copy_code
			AND a.vouch_type_code = b.vouch_type_code
		LEFT JOIN ACC_SUBJ c
			ON a.group_id = c.group_id
			AND a.hos_id = c.hos_id
			AND a.copy_code = c.copy_code
			AND a.acc_year = c.acc_year
			AND a.debit_subj_code1 = c.subj_code
		LEFT JOIN ACC_SUBJ d
			ON a.group_id = d.group_id
			AND a.hos_id = d.hos_id
			AND a.copy_code = d.copy_code
			AND a.acc_year = d.acc_year
			AND a.debit_subj_code2 = d.subj_code
		LEFT JOIN ACC_SUBJ e
			ON a.group_id = e.group_id
			AND a.hos_id = e.hos_id
			AND a.copy_code = e.copy_code
			AND a.acc_year = e.acc_year
			AND a.debit_subj_code3 = e.subj_code
		LEFT JOIN ACC_SUBJ f
			ON a.group_id = f.group_id
			AND a.hos_id = f.hos_id
			AND a.copy_code = f.copy_code
			AND a.acc_year = f.acc_year
			AND a.debit_subj_code4 = f.subj_code
		LEFT JOIN ACC_SUBJ g
			ON a.group_id = g.group_id
			AND a.hos_id = g.hos_id
			AND a.copy_code = g.copy_code
			AND a.acc_year = g.acc_year
			AND a.debit_subj_code5 = g.subj_code
		LEFT JOIN ACC_SUBJ h
			ON a.group_id = h.group_id
			AND a.hos_id = h.hos_id
			AND a.copy_code = h.copy_code
			AND a.acc_year = h.acc_year
			AND a.credit_subj_code1 = h.subj_code
		LEFT JOIN ACC_SUBJ i
			ON a.group_id = i.group_id
			AND a.hos_id = i.hos_id
			AND a.copy_code = i.copy_code
			AND a.acc_year = i.acc_year
			AND a.credit_subj_code2 = i.subj_code
		LEFT JOIN ACC_SUBJ j
			ON a.group_id = j.group_id
			AND a.hos_id = j.hos_id
			AND a.copy_code = j.copy_code
			AND a.acc_year = j.acc_year
			AND a.credit_subj_code3 = j.subj_code
		LEFT JOIN ACC_SUBJ k
			ON a.group_id = k.group_id
			AND a.hos_id = k.hos_id
			AND a.copy_code = k.copy_code
			AND a.acc_year = k.acc_year
			AND a.credit_subj_code4 = k.subj_code
		LEFT JOIN ACC_SUBJ l
			ON a.group_id = l.group_id
			AND a.hos_id = l.hos_id
			AND a.copy_code = l.copy_code
			AND a.acc_year = l.acc_year
			AND a.credit_subj_code5 = l.subj_code
		LEFT JOIN hos_source m 
			ON a.group_id = m.group_id 
			AND a.hos_id = m.hos_id 
			AND a.source_id = m.source_id 
		WHERE a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.acc_year = #{acc_year}
			AND a.template_type_code = #{template_type_code}
	</select>	
	
	<select id="queryAccTermendTemplateSubj" parameterType="java.util.Map"
		resultMap="accSubj">
		
			select b.subj_id, b.group_id, b.hos_id, b.copy_code, b.subj_code
				  , b.subj_name, b.subj_name_all
				from ACC_SUBJ  b
				where   not exists  ( select 1
				from ACC_TERMEND_TEMPLATE_DETAIL a 
				where a.subj_code = b.subj_code and a.acc_year=b.acc_year
					and a.group_id = #{group_id,jdbcType=INTEGER}
				  and a.hos_id = #{hos_id,jdbcType=INTEGER}
				  and a.copy_code =  #{copy_code,jdbcType=VARCHAR}
				  and a.template_id = #{template_id,jdbcType=INTEGER}
				  )
				and b.group_id = #{group_id,jdbcType=INTEGER}
				  and b.hos_id = #{hos_id,jdbcType=INTEGER}
				  and b.copy_code = #{copy_code,jdbcType=VARCHAR}
				  and b.acc_year =  #{acc_year,jdbcType=VARCHAR}
				  
			<if test="subj_type_code != null and subj_type_code != '' ">
				AND (b.subj_type_code = #{subj_type_code,jdbcType=VARCHAR}
				<if test="subj_type_code1 != null and subj_type_code1 !='' ">
				 	or b.subj_type_code = #{subj_type_code1,jdbcType=VARCHAR}
				 </if>
				)
			</if>
			<if test="SUBJ_NATURE_CODE1 != null and SUBJ_NATURE_CODE1 !='' and SUBJ_NATURE_CODE2 != '' and SUBJ_NATURE_CODE2 != null ">
				and b.subj_nature_code in (#{SUBJ_NATURE_CODE1},#{SUBJ_NATURE_CODE2})
			</if>
			<if test="code_like != null and code_like != ''">
				AND b.subj_code like '${code_like}%'
			</if>
			<if test="subj_code != null and subj_code != ''">
				AND b.subj_code like '${subj_code}%'
			</if>
			AND b.is_last = 1
			AND b.is_stop = 0
		ORDER BY b.subj_code
	</select>	
	
	<delete id="deleteBatchAccTermendTemplateVouch" parameterType="java.util.List">
		DELETE FROM acc_vouch WHERE 
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id} 
			AND hos_id = #{item.hos_id} 
			AND copy_code = #{item.copy_code} 
			AND vouch_id = #{item.vouch_id} 
		</foreach>
	</delete>

	<select id="queryAccTermendTemplateVouch" parameterType="java.util.Map" resultMap="accVouch">
		select
			a.vouch_id, a.vouch_type_code, f.vouch_type_name, f.vouch_type_short, a.vouch_no, a.vouch_date, a.create_date, c.user_name
			create_name, d.user_name cash_name, e.user_name audit_name, g.user_name acc_name, 
			a.acc_user, a.note, max(b.summary) summary, 
			case h.kind_code when '01' then sum(b.debit) else 0 end debit, 
			case h.kind_code when '01' then sum(b.credit) else 0 end credit, 
			case h.kind_code when '02' then sum(b.debit) else 0 end ys_debit, 
			case h.kind_code when '02' then sum(b.credit) else 0 end ys_credit,
			case h.kind_code when '01' then sum(b.debit_w) else 0 end debit_w, 
			case h.kind_code when '01' then sum(b.credit_w) else 0 end credit_w,
			case h.kind_code when '02' then sum(b.debit_w) else 0 end ys_debit_w, 
			case h.kind_code when '02' then sum(b.credit_w) else 0 end ys_credit_w
		from acc_vouch a
		left join acc_vouch_detail b 
			on a.group_id = b.group_id and a.hos_id = b.hos_id 
			and a.copy_code = b.copy_code and a.vouch_id = b.vouch_id
		left join sys_user c 
			on a.group_id = c.group_id and a.hos_id = c.hos_id and a.create_user = c.user_id
		left join sys_user d
			on a.group_id = d.group_id and a.hos_id = d.hos_id and a.cash_user = d.user_id
		left join sys_user e 
			on a.group_id = e.group_id and a.hos_id = e.hos_id and a.audit_user = e.user_id
		left join sys_user g 
			on a.group_id = g.group_id and a.hos_id = g.hos_id and a.acc_user = g.user_id
		left join acc_vouch_type f 
			on a.group_id = f.group_id and a.hos_id = f.hos_id and a.copy_code =  f.copy_code 
			and f.vouch_type_code = a.vouch_type_code
		left join acc_subj h 
			on b.group_id = h.group_id and b.hos_id = h.hos_id and b.copy_code = h.copy_code 
			and b.acc_year = h.acc_year and b.subj_code = h.subj_code
		left join acc_busi_log_zz i
			on a.group_id = i.group_id and a.hos_id = i.hos_id 
			and a.copy_code = i.copy_code and a.vouch_id = i.vouch_id 
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="vouch_id != null and vouch_id != ''">
				AND a.vouch_id = #{vouch_id,jdbcType=INTEGER}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND a.acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND a.acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="create_date_b != null and create_date_b != ''">
				AND a.vouch_date &gt;= #{create_date_b, jdbcType=DATE}
			</if>
			<if test="create_date_e != null and create_date_e != ''">
				AND a.vouch_date &lt;= #{create_date_e, jdbcType=DATE}
			</if>
			<if test="template_type_code != null and template_type_code != ''">
				AND i.busi_type_code like #{template_type_code,jdbcType=VARCHAR} || '%'
			</if>
		group by a.vouch_id, a.vouch_type_code, f.vouch_type_name, f.vouch_type_short, a.vouch_no, a.vouch_date, 
			a.create_date, c.user_name, d.user_name, e.user_name, g.user_name, a.acc_user, a.note, h.kind_code
		order by a.vouch_no asc
	</select>	
	<select id="queryAccTermendTemplateVouchPrint" parameterType="java.util.Map" resultMap="accVouch">
		select
			a.vouch_id, a.vouch_type_code, f.vouch_type_name, f.vouch_type_short, a.vouch_no, a.vouch_date, a.create_date, c.user_name
			create_name, d.user_name cash_name, e.user_name audit_name, g.user_name acc_name, 
			a.acc_user, a.note, max(b.summary) summary, sum(b.debit) debit, sum(b.credit) credit, 
			sum(b.debit_w) debit_w, sum(b.credit_w) credit_w
		from acc_vouch a
		left join acc_vouch_detail b 
			on a.group_id = b.group_id and a.hos_id = b.hos_id 
			and a.copy_code = b.copy_code and a.vouch_id = b.vouch_id
		left join sys_user c 
			on a.group_id = c.group_id and a.hos_id = c.hos_id and a.create_user = c.user_id
		left join sys_user d
			on a.group_id = d.group_id and a.hos_id = d.hos_id and a.cash_user = d.user_id
		left join sys_user e 
			on a.group_id = e.group_id and a.hos_id = e.hos_id and a.audit_user = e.user_id
		left join sys_user g 
			on a.group_id = g.group_id and a.hos_id = g.hos_id and a.acc_user = g.user_id
		left join acc_vouch_type f 
			on a.group_id = f.group_id and a.hos_id = f.hos_id and a.copy_code =  f.copy_code 
			and f.vouch_type_code = a.vouch_type_code
		left join acc_subj h 
			on b.group_id = h.group_id and b.hos_id = h.hos_id and b.copy_code = h.copy_code 
			and b.acc_year = h.acc_year and b.subj_code = h.subj_code
		left join acc_busi_log_zz i
			on a.group_id = i.group_id and a.hos_id = i.hos_id 
			and a.copy_code = i.copy_code and a.vouch_id = i.vouch_id 
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="vouch_id != null and vouch_id != ''">
				AND a.vouch_id = #{vouch_id,jdbcType=INTEGER}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND a.acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND a.acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="create_date_b != null and create_date_b != ''">
				AND a.vouch_date &gt;= to_date('${create_date_b}', 'yyyy-mm-dd')
			</if>
			<if test="create_date_e != null and create_date_e != ''">
				AND a.vouch_date &lt;= to_date('${create_date_e}', 'yyyy-mm-dd')
			</if>
			<if test="template_type_code != null and template_type_code != ''">
				AND i.busi_type_code = #{template_type_code,jdbcType=VARCHAR}
			</if>
		group by a.vouch_id, a.vouch_type_code, f.vouch_type_name, f.vouch_type_short, a.vouch_no, a.vouch_date, 
			a.create_date, c.user_name, d.user_name, e.user_name, g.user_name, a.acc_user, a.note
		order by a.vouch_no asc
	</select>	
	<!-- 查询辅助核算是check1、check2、check3还是check4 -->
	<select id="querySubjCheckColumnByTableCode" parameterType="java.util.Map" resultType="java.lang.String">
		select 
			case b.check_type_id 
				when a.check1 then b.column_check 
				when a.check2 then b.column_check 
				when a.check3 then b.column_check 
				when a.check4 then b.column_check 
			end
		from acc_subj a
		left join acc_check_type b
			on a.group_id = b.group_id and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code and b.check_table = #{table_code,jdbcType=VARCHAR}
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
			and a.hos_id = #{hos_id,jdbcType=INTEGER}
			and a.copy_code = #{copy_code,jdbcType=VARCHAR}
			and a.acc_year = #{acc_year,jdbcType=VARCHAR}
			and a.subj_code = #{subj_code,jdbcType=VARCHAR}
	</select>	
	<!-- 查询所有辅助核算项字段 -->
	<select id="queryAllSubjCheckColumn" parameterType="java.util.Map" resultType="java.lang.String">
		select to_char(wm_concat(
			<if test="table_code != null and table_code != ''">
				<!-- 表别名 -->
				#{table_code,jdbcType=VARCHAR} || '.' ||
			</if>
			case is_sys when 1 then case is_change when 1 then column_check||'_ID,'||column_check||'_NO' when 0 then column_check||'_ID' end when 0 then column_check end
			))
		from acc_check_type
		where group_id = #{group_id,jdbcType=INTEGER} 
			and hos_id = #{hos_id,jdbcType=INTEGER}
			and copy_code = #{copy_code,jdbcType=VARCHAR}
			and is_stop = 0 
	</select>	
	<!-- 根据科目ID查询辅助核算项字段 -->
	<select id="querySubjCheckColumnBySubj" parameterType="java.util.Map" resultType="java.util.Map">
		select * from (	
			select b.check_table, b.is_sys, b.column_id, b.column_no, b.column_code, b.column_name, b.is_change, b.column_check
			from acc_subj a
			left join acc_check_type b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.check1 = b.check_type_id
			where a.group_id = #{group_id,jdbcType=INTEGER} 
				and a.hos_id = #{hos_id,jdbcType=INTEGER}
				and a.copy_code = #{copy_code,jdbcType=VARCHAR}
				and a.acc_year = #{acc_year,jdbcType=VARCHAR}
				and a.subj_code = #{subj_code,jdbcType=VARCHAR}
				and a.is_stop = 0 
			union all
			select b.check_table, b.is_sys, b.column_id, b.column_no, b.column_code, b.column_name, b.is_change, b.column_check
			from acc_subj a
			left join acc_check_type b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.check2 = b.check_type_id
			where a.group_id = #{group_id,jdbcType=INTEGER} 
				and a.hos_id = #{hos_id,jdbcType=INTEGER}
				and a.copy_code = #{copy_code,jdbcType=VARCHAR}
				and a.acc_year = #{acc_year,jdbcType=VARCHAR}
				and a.subj_code = #{subj_code,jdbcType=VARCHAR}
				and a.is_stop = 0 
			union all
			select b.check_table, b.is_sys, b.column_id, b.column_no, b.column_code, b.column_name, b.is_change, b.column_check
			from acc_subj a
			left join acc_check_type b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.check3 = b.check_type_id
			where a.group_id = #{group_id,jdbcType=INTEGER} 
				and a.hos_id = #{hos_id,jdbcType=INTEGER}
				and a.copy_code = #{copy_code,jdbcType=VARCHAR}
				and a.acc_year = #{acc_year,jdbcType=VARCHAR}
				and a.subj_code = #{subj_code,jdbcType=VARCHAR}
				and a.is_stop = 0 
			union all
			select b.check_table, b.is_sys, b.column_id, b.column_no, b.column_code, b.column_name, b.is_change, b.column_check
			from acc_subj a
			left join acc_check_type b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.check4 = b.check_type_id
			where a.group_id = #{group_id,jdbcType=INTEGER} 
				and a.hos_id = #{hos_id,jdbcType=INTEGER}
				and a.copy_code = #{copy_code,jdbcType=VARCHAR}
				and a.acc_year = #{acc_year,jdbcType=VARCHAR}
				and a.subj_code = #{subj_code,jdbcType=VARCHAR}
				and a.is_stop = 0 
		) tmp
		where check_table is not null
	</select>	
	<!-- 判断期间是否含未记账凭证 -->
	<select id="queryAccUnAccountVouch" parameterType="java.util.Map" resultType="java.lang.Integer"> 
		select count(1) from acc_vouch 
		where group_id = #{group_id,jdbcType=INTEGER} 
			AND hos_id = #{hos_id,jdbcType=INTEGER} 
			AND copy_code = #{copy_code,jdbcType=VARCHAR} 
			AND acc_year = #{acc_year,jdbcType=VARCHAR} 
			AND acc_month = #{acc_month,jdbcType=VARCHAR}
			AND busi_type_code not in (
				'Z002', 'Z003', 'Z004', 'Z005', 'Z006', 'Z007' ,'Z008', 'Z009', 'Z012'
			)
			<![CDATA[
				AND state <> 99
				AND state <> 0
			]]> 
	</select>
	
	<!-- 获取当前期间最后一天 -->
	<select id="queryAccVouchDateByYearMonth" parameterType="java.util.Map" resultType="java.util.Date"> 
		select end_date
		from acc_year_month
		where group_id = #{group_id,jdbcType=INTEGER}
			and hos_id = #{hos_id,jdbcType=INTEGER}
			and copy_code = #{copy_code,jdbcType=VARCHAR}
			and acc_year = #{acc_year,jdbcType=VARCHAR}
			and acc_month = #{acc_month,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据科目和余额方向获取辅助核算本期发生额（返回老自动凭证格式） -->
	<select id="queryCheckMoneyBySubjDireOld" parameterType="java.util.Map" resultType="java.util.TreeMap"> 
		select leder.subj_code, 
			<if test="subj_dire != null">
				sum(case #{subj_dire,jdbcType=INTEGER} when 0 then leder.this_od when 1 then leder.this_oc else 0 end) as money,
			</if>
			<if test="subj_dire == null">
				sum(case subj.subj_dire when 0 then leder.this_od when 1 then leder.this_oc else 0 end) as money,
			</if> 
			#{summary,jdbcType=VARCHAR} as summary, ${selectSql}
		from acc_leder_check leder<!-- 表别名不可更改与servicesImpl文件有关联 -->
		left join acc_subj subj
			on leder.group_id = subj.group_id and leder.hos_id = subj.hos_id
			and leder.copy_code = subj.copy_code and leder.acc_year = subj.acc_year 
			and leder.subj_code = subj.subj_code
		${joinSql} 
		where leder.group_id = #{group_id,jdbcType=INTEGER} 
			and leder.hos_id = #{hos_id,jdbcType=INTEGER} 
			and leder.copy_code = #{copy_code,jdbcType=VARCHAR} 
			and leder.acc_year = #{acc_year,jdbcType=VARCHAR} 
			and leder.acc_month = #{acc_month,jdbcType=VARCHAR} 
			and leder.subj_code = #{subj_code,jdbcType=VARCHAR} 
			and subj.is_stop = 0 and subj.is_last = 1 
			<if test="whereSql !=null ">
				 ${whereSql}
			</if>
		group by leder.subj_code, ${groupSql}
	</select>
	
	<!-- 根据科目和余额方向获取辅助核算本期发生额（返回自动凭证格式） -->
	<select id="queryCheckMoneyBySubjDire" parameterType="java.util.Map" resultType="java.util.TreeMap"> 
		select leder.subj_code, 
			<if test="subj_dire != null">
				sum(case #{subj_dire,jdbcType=INTEGER} when 0 then leder.this_od else 0 end) as debit, 
				sum(case #{subj_dire,jdbcType=INTEGER} when 0 then leder.this_od_w else 0 end) as debit_w, 
				sum(case #{subj_dire,jdbcType=INTEGER} when 0 then 0 else leder.this_oc end) as credit, 
				sum(case #{subj_dire,jdbcType=INTEGER} when 0 then 0 else leder.this_oc_w end) as credit_w, 
			</if>
			<if test="subj_dire == null">
				sum(case subj.subj_dire when 0 then leder.this_od else 0 end) as debit,
				sum(case subj.subj_dire when 0 then leder.this_od_w else 0 end) as debit_w,
				sum(case subj.subj_dire when 0 then 0 else leder.this_oc end) as credit,
				sum(case subj.subj_dire when 0 then 0 else leder.this_oc_w end) as credit_w,
			</if> 
			${columns}
		from acc_leder_check leder<!-- 表别名不可更改与servicesImpl文件有关联 -->
		left join acc_subj subj
			on leder.group_id = subj.group_id and leder.hos_id = subj.hos_id
			and leder.copy_code = subj.copy_code and leder.acc_year = subj.acc_year 
			and leder.subj_code = subj.subj_code
		where leder.group_id = #{group_id,jdbcType=INTEGER} 
			and leder.hos_id = #{hos_id,jdbcType=INTEGER} 
			and leder.copy_code = #{copy_code,jdbcType=VARCHAR} 
			and leder.acc_year = #{acc_year,jdbcType=VARCHAR} 
			and leder.acc_month = #{acc_month,jdbcType=VARCHAR} 
			and leder.subj_code = #{subj_code,jdbcType=VARCHAR} 
			and subj.is_stop = 0 and subj.is_last = 1 
			<if test="source_id != null and source_id != ''">
			and leder.check7_id = #{source_id,jdbcType=INTEGER}
			</if>
		group by leder.subj_code, ${columns}
	</select>
	
	<!-- 根据科目方向获取辅助核算本期期末余额（返回自动凭证格式） -->
	<select id="queryCheckEndMoneyBySubj" parameterType="java.util.Map" resultType="java.util.TreeMap"> 
		select leder.subj_code, 
			case subj.subj_dire 
				when 0 then sum(leder.this_od - leder.this_oc) 
				else sum(leder.this_oc - leder.this_od) 
			end as money,
			case subj.subj_dire 
				when 0 then sum(leder.this_od_w - leder.this_oc_w) 
				else sum(leder.this_oc_w - leder.this_od_w) 
			end as money_w,
			${columns}
		from acc_leder_check leder<!-- 表别名不可更改与servicesImpl文件有关联 -->
		left join acc_subj subj
			on leder.group_id = subj.group_id and leder.hos_id = subj.hos_id
			and leder.copy_code = subj.copy_code and leder.acc_year = subj.acc_year 
			and leder.subj_code = subj.subj_code
		where leder.group_id = #{group_id,jdbcType=INTEGER} 
			and leder.hos_id = #{hos_id,jdbcType=INTEGER} 
			and leder.copy_code = #{copy_code,jdbcType=VARCHAR} 
			and leder.acc_year = #{acc_year,jdbcType=VARCHAR} 
			and leder.acc_month = #{acc_month,jdbcType=VARCHAR} 
			and leder.subj_code = #{subj_code,jdbcType=VARCHAR} 
			and subj.is_stop = 0 and subj.is_last = 1 
			<if test="source_id != null and source_id != ''">
			and leder.check7_id = #{source_id,jdbcType=INTEGER}
			</if>
		group by leder.subj_code, subj.subj_dire, ${columns}
	</select>
	<!-- 根据科目获取辅助核算本期发生额（除金额外都是凭证格式） -->
	<select id="queryCheckThisMoneyBySubj" parameterType="java.util.Map" resultType="java.util.TreeMap"> 
		select leder.subj_code, sum(leder.this_oc) as credit, sum(leder.this_od) as debit, 
			#{summary,jdbcType=VARCHAR} as summary, ${selectSql}
		from acc_leder_check leder<!-- 表别名不可更改与servicesImpl文件有关联 -->
		left join acc_subj subj
			on leder.group_id = subj.group_id and leder.hos_id = subj.hos_id
			and leder.copy_code = subj.copy_code and leder.acc_year = subj.acc_year 
			and leder.subj_code = subj.subj_code
		${joinSql} 
		where leder.group_id = #{group_id,jdbcType=INTEGER} 
			and leder.hos_id = #{hos_id,jdbcType=INTEGER} 
			and leder.copy_code = #{copy_code,jdbcType=VARCHAR} 
			and leder.acc_year = ${acc_year,jdbcType=VARCHAR} 
			and leder.acc_month = ${acc_month,jdbcType=VARCHAR} 
			and leder.subj_code = ${subj_code,jdbcType=VARCHAR} 
			and subj.is_stop = 0 and subj.is_last = 1 
			<if test="source_id != null and source_id != ''">
			and leder.check7_id = #{source_id,jdbcType=INTEGER}
			</if>
		group by leder.subj_code, ${groupSql} 
	</select>
	<!-- 根据科目获取辅助核算本期借方发生额（返回凭证格式） -->
	<select id="queryCheckCreditMoneyBySubj" parameterType="java.util.Map" resultType="java.util.TreeMap"> 
		select leder.subj_code, sum(leder.this_oc) as money, #{summary,jdbcType=VARCHAR} as summary, ${selectSql}
		from acc_leder_check leder<!-- 表别名不可更改与servicesImpl文件有关联 -->
		left join acc_subj subj
			on leder.group_id = subj.group_id and leder.hos_id = subj.hos_id
			and leder.copy_code = subj.copy_code and leder.acc_year = subj.acc_year 
			and leder.subj_code = subj.subj_code
		${joinSql} 
		where leder.group_id = #{group_id,jdbcType=INTEGER} 
			and leder.hos_id = #{hos_id,jdbcType=INTEGER} 
			and leder.copy_code = #{copy_code,jdbcType=VARCHAR} 
			and leder.acc_year = ${acc_year,jdbcType=VARCHAR} 
			and leder.acc_month = ${acc_month,jdbcType=VARCHAR} 
			and leder.subj_code = ${subj_code,jdbcType=VARCHAR} 
			and subj.is_stop = 0 and subj.is_last = 1 
			<if test="source_id != null and source_id != ''">
			and leder.check7_id = #{source_id,jdbcType=INTEGER}
			</if>
		group by leder.subj_code, ${groupSql}
	</select>
	<!-- 根据科目获取辅助核算本期贷方发生额（返回凭证格式） -->
	<select id="queryCheckDebitMoneyBySubj" parameterType="java.util.Map" resultType="java.util.TreeMap"> 
		select leder.subj_code, sum(leder.this_od) as money, #{summary,jdbcType=VARCHAR} as summary, ${selectSql}
		from acc_leder_check leder<!-- 表别名不可更改与servicesImpl文件有关联 -->
		left join acc_subj subj
			on leder.group_id = subj.group_id and leder.hos_id = subj.hos_id
			and leder.copy_code = subj.copy_code and leder.acc_year = subj.acc_year 
			and leder.subj_code = subj.subj_code
		${joinSql} 
		where leder.group_id = #{group_id,jdbcType=INTEGER} 
			and leder.hos_id = #{hos_id,jdbcType=INTEGER} 
			and leder.copy_code = #{copy_code,jdbcType=VARCHAR} 
			and leder.acc_year = ${acc_year,jdbcType=VARCHAR} 
			and leder.acc_month = ${acc_month,jdbcType=VARCHAR} 
			and leder.subj_code = ${subj_code,jdbcType=VARCHAR} 
			and subj.is_stop = 0 and subj.is_last = 1 
			<if test="source_id != null and source_id != ''">
			and leder.check7_id = #{source_id,jdbcType=INTEGER}
			</if>
		group by leder.subj_code, ${groupSql}
	</select>
	
	<!-- 判断期间是否已生成过凭证 -->
	<select id="existsAccVouchByTemplate" parameterType="java.util.Map" resultType="java.lang.Integer"> 
		SELECT count(1) 
		FROM acc_busi_log_zz 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
			AND hos_id = #{hos_id,jdbcType=INTEGER} 
			AND copy_code = #{copy_code,jdbcType=VARCHAR}  
			<if test="acc_year != null and acc_year !='' ">
				AND acc_year = #{acc_year,jdbcType=VARCHAR} 
			</if>
			<if test="acc_month != null and acc_month !='' ">
				AND acc_month = #{acc_month,jdbcType=VARCHAR} 
			</if>
			<if test="template_type_code != null and template_type_code !='' ">
				AND busi_type_code = #{template_type_code,jdbcType=VARCHAR} 
			</if>
			<if test="template_type_codes != null and template_type_codes !='' ">
				AND busi_type_code in (${template_type_codes}) 
			</if>
			<if test="template_id != null and template_id !='' ">
				AND business_no = #{template_id,jdbcType=INTEGER}  
			</if>
	</select>
	
	
	<!-- 保存自动凭证日志临时表  -->
	<insert id="saveAutoVouchLogTemp" parameterType="java.util.Map">
		INSERT INTO acc_busi_log_temp(
			group_id, hos_id, copy_code, vouch_id, business_no, busi_type_code, template_code, create_date
		)
		VALUES(
			#{group_id,jdbcType=INTEGER}, 
			#{hos_id,jdbcType=INTEGER}, 
			#{copy_code,jdbcType=INTEGER}, 
			#{vouch_id,jdbcType=VARCHAR}, 
			#{business_no,jdbcType=VARCHAR}, 
			#{busi_type_code,jdbcType=VARCHAR}, 
			#{template_code,jdbcType=VARCHAR}, 
			#{create_date,jdbcType=TIMESTAMP} 
		)
	</insert>
	
	<!-- 判断科目是否含辅助核算 -->
	<select id="existsHaveCheckBySubjCode" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT is_check 
		FROM acc_subj 
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND acc_year = #{acc_year,jdbcType=VARCHAR}
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
	</select>
</mapper>

