<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.base.AssBaseMapper">
	<resultMap id="assMap" type="java.util.Map">
		<result property="level1" column="level1" />
		<result property="max_level" column="max_level" />
		<result property="max_length" column="max_length" />
		<result property="level2" column="level2" />
		<result property="level3" column="level3" />
		<result property="level4" column="level4" />
		<result property="level5" column="level5" />
		<result property="level6" column="level6" />
		<result property="level7" column="level7" />
		<result property="level8" column="level8" />
		<result property="level9" column="level9" />
		<result property="level10" column="level10" />
		<result property="is_auto" column="is_auto" />
		<result property="max_level" column="max_level" />
		<result property="max_length" column="max_length" />

	</resultMap>
	<resultMap id="stores" type="java.util.Map">
		<result property="store_id" column="store_id" />
		<result property="store_no" column="store_no" />

	</resultMap>
	<resultMap id="depts" type="java.util.Map">
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />

	</resultMap>
	<resultMap id="planMap" type="java.util.Map">
		<result property="naturs_code" column="naturs_code" />
		<result property="check_plan_no" column="check_plan_no" />

	</resultMap>
	<select id="getHosRules" parameterType="java.util.Map"
		resultMap="assMap">
		SELECT distinct max_level ,max_length,
		level1,level2,level3,level4,level5,level6,level7,level8,level9,level10,is_auto,max_level,max_length
		from hos_rules
		where group_id =#{group_id,jdbcType=INTEGER}
		<if test="hos_id != null and hos_id !='' ">
			and hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code !='' and  mod_code != '00'">
			and copy_code = #{copy_code}
		</if>
		and mod_code = #{mod_code,jdbcType=VARCHAR}
		and proj_code =
		#{proj_code,jdbcType=VARCHAR}
	</select>
	<resultMap id="assYearMonth" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="begin_date" column="begin_date" />
		<result property="end_date" column="end_date" />
		<result property="ass_flag" column="ass_flag" />
		<result property="ass_user" column="ass_user" />
		<result property="ass_date" column="ass_date" />
	</resultMap>
	<!-- 查询资产相关的结账信息 -->
	<select id="queryAssYearMonth" parameterType="java.util.Map"
		resultMap="assYearMonth">

		SELECT
		aym.group_id,
		aym.hos_id,
		aym.copy_code,
		aym.acc_year,
		aym.acc_month,
		aym.begin_date,
		aym.end_date,
		aym.ass_flag,
		aym.ass_user,
		aym.ass_date
		FROM ACC_YEAR_MONTH aym
		<where>
			<if test="group_id != null and group_id != ''">
				AND aym.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND aym.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND aym.copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND aym.acc_year = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND aym.acc_month = #{acc_month}
			</if>
			<if test="ass_flag !=null and ass_flag != ''">
				AND aym.ass_flag = #{ass_flag}
			</if>
		</where>
		order by aym.begin_date asc
	</select>


	<!-- 查询资产相关的结账信息 -->
	<select id="queryAssYearMonthByCode" resultType="java.util.Map"
		parameterType="java.util.Map">

		SELECT
		aym.group_id,
		aym.hos_id,
		aym.copy_code,
		aym.acc_year,
		aym.acc_month,
		aym.begin_date,
		aym.end_date,
		aym.ass_flag,
		aym.ass_user,
		aym.ass_date
		FROM ACC_YEAR_MONTH aym
		<where>
			<if test="group_id != null and group_id != ''">
				AND aym.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND aym.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND aym.copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND aym.acc_year = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND aym.acc_month = #{acc_month}
			</if>
		</where>
		order by aym.begin_date asc
	</select>

	<!-- 查询资产相关的结账信息 -->
	<update id="updateAssYearMonth" parameterType="java.util.Map">
		update
		ACC_YEAR_MONTH
		set ass_flag=#{ass_flag},
		ass_user=#{ass_user},
		ass_date=#{ass_date}
		where
		group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and acc_year = #{acc_year}
		and acc_month =
		#{acc_month}
	</update>

	<!-- 查询资产相关的结账信息 -->
	<select id="queryStores" resultMap="stores" parameterType="java.util.Map">

		select
		store_id, store_no
		from hos_store_dict
		where group_id =#{group_id}
		and hos_id =#{hos_id}
		and is_stop = 0
		and is_ass=1
		order by store_code
		asc
	</select>
	<!-- 查询资产相关的结账信息 -->
	<select id="queryDepts" resultMap="depts" parameterType="java.util.Map">

		SELECT
		dept_id, dept_no
		FROM hos_dept_dict
		where group_id =#{group_id}
		and
		hos_id =#{hos_id}
		and is_last = 1
		and is_stop = 0
		order by dept_code asc
	</select>
	<select id="queryCheckPlanFin" resultMap="planMap"
		parameterType="java.util.Map">

		select
		naturs_code,check_plan_no,group_id,hos_id,copy_code from (
		SELECT '03'
		naturs_code,check_plan_no ,group_id,hos_id,copy_code
		FROM
		Ass_Check_Plan_General
		WHERE nvl(state, 0) != 2 and
		mak_emp=#{user_id,jdbcType=INTEGER}
		UNION ALL
		SELECT '02'
		naturs_code,check_plan_no,group_id,hos_id,copy_code
		FROM
		ass_check_plan_special
		WHERE nvl(state, 0) != 2 and
		mak_emp=#{user_id,jdbcType=INTEGER}
		UNION ALL
		SELECT '01'
		naturs_code,check_plan_no ,group_id,hos_id,copy_code
		FROM
		ass_check_plan_house WHERE nvl(state, 0) != 2 and
		mak_emp=#{user_id,jdbcType=INTEGER}
		UNION ALL
		SELECT '05'
		naturs_code,check_plan_no ,group_id,hos_id,copy_code
		FROM
		ass_check_plan_inassets
		WHERE nvl(state, 0) != 2 and
		mak_emp=#{user_id,jdbcType=INTEGER}
		UNION ALL
		SELECT '04'
		naturs_code,check_plan_no ,group_id,hos_id,copy_code
		FROM
		ass_check_plan_other
		WHERE nvl(state, 0) != 2 and
		mak_emp=#{user_id,jdbcType=INTEGER}
		UNION ALL
		SELECT '06'
		naturs_code,check_plan_no ,group_id,hos_id,copy_code
		FROM
		ass_check_plan_land
		WHERE nvl(state, 0) != 2 and
		mak_emp=#{user_id,jdbcType=INTEGER}
		) t where
		t.naturs_code=#{naturs_code,jdbcType=VARCHAR} and group_id =
		#{group_id,jdbcType=INTEGER}
		and
		hos_id = #{hos_id,jdbcType=INTEGER}
		and
		copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
</mapper>

