<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.ss.SeqManageMapper">   <!-- namespace名字必须和 dao 层 接口 名字一致-->

	<resultMap id="SeqManageMapper" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="seq_code" column="seq_code" />
		<result property="seq_name" column="seq_name" />
		<result property="min_value" column="min_value" />
		<result property="max_value" column="max_value" />
		<result property="buffer_value" column="buffer_value" />
	</resultMap>
	
	<!-- 查询全部的记录    id 必须和 dao 层接口 中的方法名配套对应。-->
	<select id="querySeqManage" resultMap="SeqManageMapper" parameterType="java.util.Map">
		SELECT group_id,
			hos_id,
			seq_code,
			seq_name,
			min_value, 
			max_value,
			buffer_value			
		FROM HR_SEQMANAGE
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>			
			<if test="seq_code != null and seq_code != ''">		
			    AND seq_code = #{seq_code}
			</if>
			<if test="seq_name != null and seq_name != ''">
			    AND seq_name = #{seq_name}
			</if>
			</where>
	</select>
	<insert id="addSeqManage" useGeneratedKeys="true" parameterType="java.util.Map">

		INSERT INTO HR_SEQMANAGE (
		<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
				group_id
				,
			</if>
			<if test="hos_id != null and hos_id != ''">
				hos_id
				,
			</if>
				seq_code
				,
				seq_name
				,
				min_value
				,
				max_value
				,
				buffer_value
				,					
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
				#{group_id,jdbcType=INTEGER}
				,
			</if>
			<if test="hos_id != null and hos_id != ''">
				#{hos_id,jdbcType=INTEGER}
				,
			</if>
				#{seq_code,jdbcType=VARCHAR}
				,
				#{seq_name,jdbcType=VARCHAR}
				,
				#{min_value,jdbcType=VARCHAR}
				,
			    #{max_value,jdbcType=VARCHAR}
				,
				#{buffer_value,jdbcType=VARCHAR}
				,
		</trim>
		)

	</insert>
	<delete id="deleteSeqManage" parameterType="java.util.List">	
		DELETE FROM HR_SEQMANAGE
		<where>
		<foreach collection="list" item="item" index="index" open="(" close=")" separator="or">
				<if test="item.group_id != null and item.group_id != ''">
				    group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id}
				</if>
				<if test="item.seq_code != null and item.seq_code != ''">
					AND seq_code = #{item.seq_code}
				</if>
		</foreach>
		</where>		
	</delete>	
	<select id="createSeqManage"  parameterType="java.util.Map">
	
		CREATE sequence #{seq_code}
		<if test="min_value != null and min_value != ''">
			minvalue  #{min_value,jdbcType=INTEGER}
			</if>
			 <if test="max_value != null and max_value != ''">
			maxvalue  #{max_value,jdbcType=INTEGER}
			</if>
            start with 1
            <if test="buffer_value != null and buffer_value != ''">
			increment by  #{buffer_value,jdbcType=INTEGER}
			</if>
            nocache;
            
	</select>
</mapper>