<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.control.BudgControlPlanMapper">

	<select id="queryControlPlan" parameterType="java.util.Map" resultType="java.util.Map">
		select * from  BUDG_C_MAIN
		<where>                     
			AND group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND budg_year = #{budg_year}
			AND link_code = #{work_link_code}
			AND cont_note = #{work_note_code}
			AND is_start=1
		</where>   
	</select>
	<select id="queryControlContent" parameterType="java.util.Map" resultType="java.util.Map">
		select * from  budg_c_tab_w
		<where>                     
			AND group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND budg_year = #{budg_year}
			AND plan_code = #{plan_code}	
			<if test="tab_code != null and tab_code != ''">
				AND tab_code = #{tab_code}
			</if>
		</where>   
	</select>
	
	<select id="queryControlDetail" parameterType="java.util.Map" resultType="java.util.Map">
		select item_code as "item_code",cont_l as "cont_l",cont_p as "cont_p",cont_w as "cont_w" from  budg_c_det
		<where>                     
			AND group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND budg_year = #{budg_year}
			AND link_code= #{link_code}
			AND plan_code = #{plan_code}	
			AND mod_code= #{mod_code}
		</where>   
	</select>
</mapper>