<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.assremould.AssRemouldAspecialMapper">
	
	<resultMap id="assRemouldAspecial" type="com.chd.hrp.ass.entity.assremould.AssRemouldAspecial">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="apply_no" column="apply_no"/>
	<result property="bus_type_code" column="bus_type_code"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="change_date" column="change_date"/>
	<result property="state" column="state"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="assRemouldAspecialMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="apply_no" column="apply_no"/>
	<result property="bus_type_code" column="bus_type_code"/>
	<result property="bus_type_name" column="bus_type_name"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="sup_code" column="sup_code"/>
	<result property="sup_name" column="sup_name"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_emp_name" column="create_emp_name"/>
	<result property="audit_emp_name" column="audit_emp_name"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="change_date" column="change_date"/>
	<result property="state" column="state"/>
	<result property="note" column="note"/>
	</resultMap>
	
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_REMOULD_A_SPECIAL (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="apply_no != null and apply_no != ''">
		apply_no
		,
		</if>
		<if test="bus_type_code != null and bus_type_code != ''">
		bus_type_code
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp
		,
		</if>
		<if test="change_date != null and change_date != ''">
		change_date
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="apply_no != null and apply_no != ''">
		#{apply_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="bus_type_code != null and bus_type_code != ''">
		#{bus_type_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		#{ven_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		#{ven_no,jdbcType=INTEGER}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		#{create_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		to_date(#{create_date},'yyyy-MM-dd')
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		#{audit_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="change_date != null and change_date != ''">
		to_date(#{change_date},'yyyy-MM-dd')
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_REMOULD_A_SPECIAL (
		group_id
		,
		hos_id
		,
		copy_code
		,
		apply_no
		,
		bus_type_code
		,
		ven_id
		,
		ven_no
		,
		create_emp
		,
		create_date
		,
		audit_emp
		,
		change_date
		,
		state
		,
		note
		
		) select ASS_REMOULD_A_SPECIAL_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.apply_no,jdbcType=VARCHAR}
			,
			#{item.bus_type_code,jdbcType=VARCHAR}
			,
			#{item.ven_id,jdbcType=INTEGER}
			,
			#{item.ven_no,jdbcType=INTEGER}
			,
			#{item.create_emp,jdbcType=INTEGER}
			,
			#{item.create_date,jdbcType=DATE}
			,
			#{item.audit_emp,jdbcType=INTEGER}
			,
			#{item.change_date,jdbcType=DATE}
			,
			#{item.state,jdbcType=INTEGER}
			,
			#{item.note,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	<update id="updateAssRemouldAspecialConfirmState" parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
	UPDATE ass_remould_a_special 
	set
		audit_emp = #{item.audit_emp,jdbcType=INTEGER}
		,
		change_date = to_date(#{item.change_date},'YYYY-MM-DD')
		,
		state = '2'
		where                     
		    group_id = #{item.group_id,jdbcType=INTEGER}
		AND hos_id = #{item.hos_id,jdbcType=INTEGER}
		AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
		AND apply_no = #{item.apply_no,jdbcType=VARCHAR}
		</foreach>
	</update>
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_remould_a_special 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="bus_type_code != null and bus_type_code != ''">
		bus_type_code = #{bus_type_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id = #{ven_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no = #{ven_no,jdbcType=INTEGER}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp = #{create_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date = to_date(#{create_date},'yyyy-MM-dd')
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp = #{audit_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="change_date != null and change_date != ''">
		change_date = to_date(#{change_date},'yyyy-MM-dd')
		,
		</if>
		<if test="state != null and state != ''">
		state = #{state,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		where                     
		    group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND apply_no = #{apply_no,jdbcType=VARCHAR}
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_remould_a_special 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.bus_type_code != null and item.bus_type_code != ''">
			bus_type_code = #{item.bus_type_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.ven_id != null and item.ven_id != ''">
			ven_id = #{item.ven_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.ven_no != null and item.ven_no != ''">
			ven_no = #{item.ven_no,jdbcType=INTEGER}
			,
			</if>
			<if test="item.create_emp != null and item.create_emp != ''">
			create_emp = #{item.create_emp,jdbcType=INTEGER}
			,
			</if>
			<if test="item.create_date != null and item.create_date != ''">
			create_date = #{item.create_date,jdbcType=DATE}
			,
			</if>
			<if test="item.audit_emp != null and item.audit_emp != ''">
			audit_emp = #{item.audit_emp,jdbcType=INTEGER}
			,
			</if>
			<if test="item.change_date != null and item.change_date != ''">
			change_date = #{item.change_date,jdbcType=DATE}
			,
			</if>
			<if test="item.state != null and item.state != ''">
			state = #{item.state,jdbcType=INTEGER}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.apply_no != null and item.apply_no != ''">
			AND apply_no = #{item.apply_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.bus_type_code != null and item.bus_type_code != ''">
			AND bus_type_code = #{item.bus_type_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.ven_id != null and item.ven_id != ''">
			AND ven_id = #{item.ven_id,jdbcType=INTEGER}
			</if>  
			<if test="item.ven_no != null and item.ven_no != ''">
			AND ven_no = #{item.ven_no,jdbcType=INTEGER}
			</if>  
			<if test="item.create_emp != null and item.create_emp != ''">
			AND create_emp = #{item.create_emp,jdbcType=INTEGER}
			</if>  
			<if test="item.create_date != null and item.create_date != ''">
			AND create_date = #{item.create_date,jdbcType=DATE}
			</if>  
			<if test="item.audit_emp != null and item.audit_emp != ''">
			AND audit_emp = #{item.audit_emp,jdbcType=INTEGER}
			</if>  
			<if test="item.change_date != null and item.change_date != ''">
			AND change_date = #{item.change_date,jdbcType=DATE}
			</if>  
			<if test="item.state != null and item.state != ''">
			AND state = #{item.state,jdbcType=INTEGER}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{item.note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_remould_a_special 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="apply_no != null and apply_no != ''">
		AND apply_no = #{apply_no,jdbcType=VARCHAR}
		</if>
		<if test="bus_type_code != null and bus_type_code != ''">
		AND bus_type_code = #{bus_type_code,jdbcType=VARCHAR}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no,jdbcType=INTEGER}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp,jdbcType=INTEGER}
		</if>
		<if test="change_date != null and change_date != ''">
		AND change_date = #{change_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_remould_a_special 
		where
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				    group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND apply_no = #{item.apply_no,jdbcType=VARCHAR}
			</foreach>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assRemouldAspecialMap" >
	
				SELECT 
				a.group_id,
				a.hos_id,
				a.copy_code,
				a.apply_no,
				a.bus_type_code,
		    	b.bus_type_name,
				a.ven_id,
				a.ven_no,
		    	c.sup_name,
				a.create_emp,
		    	d.user_name as create_emp_name,
				a.create_date,
				a.audit_emp,
		    	f.user_name as audit_emp_name,
				a.change_date,
		    a.state,
		    case when a.state = 0 then '新建' when a.state = 1 then '审核' when a.state = 2 then '确认' else '' end state_name,
		    a.note
		    FROM ASS_REMOULD_A_SPECIAL  a 
		    left join  ass_bus_type_dict b
		    on a.group_id = b.group_id
		    and a.hos_id = b.hos_id
		    and a.copy_code = b.copy_code
		    and a.bus_type_code = b.bus_type_code
		    left join hos_sup_dict c
		    on a.group_id = c.group_id
		    and a.hos_id =c.hos_id
		    and a.ven_id = c.sup_id
		    and a.ven_no = c.sup_no
		    and c.is_stop = 0 
		    and c.is_disable = 0
		    left join sys_user d 
		    on a.group_id = d.group_id
		    and a.hos_id = d.hos_id
		    and a.copy_code = d.copy_code
		    and a.create_emp = d.user_id 
		      left join sys_user f 
		      on a.group_id = f.group_id
		    and a.hos_id = f.hos_id
		    and a.copy_code = f.copy_code
		    and a.audit_emp = f.user_id 
		where                    
		    a.group_id = #{group_id,jdbcType=INTEGER}
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="ven_id != null and ven_id != ''">
		AND a.ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND a.ven_no = #{ven_no,jdbcType=INTEGER}
		</if>
				<if test="create_date_beg != null and create_date_beg != '' and create_date_end != null and create_date_end != ''">
		AND a.create_date between to_date(#{create_date_beg},'YYYY-MM-DD') and to_date(#{create_date_end},'YYYY-MM-DD')
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=INTEGER}
		</if>
			<if test="bus_type_code != null and bus_type_code != ''">
		AND a.bus_type_code = #{bus_type_code,jdbcType=INTEGER}
		</if>
	</select>
	<select id="queryByCode" resultMap="assRemouldAspecialMap"  parameterType="java.util.Map" >
	
		SELECT 
				a.group_id,
				a.hos_id,
				a.copy_code,
				a.apply_no,
				a.bus_type_code,
		    	b.bus_type_name,
				a.ven_id,
				a.ven_no,
				c.sup_code,
		    	c.sup_name,
				a.create_emp,
		    	d.user_name as create_emp_name,
				a.create_date,
				a.audit_emp,
		    	f.user_name as audit_emp_name,
				a.change_date,
		    a.state,
		    a.note
		    FROM ASS_REMOULD_A_SPECIAL  a 
		    left join  ass_bus_type_dict b
		    on a.group_id = b.group_id
		    and a.hos_id = b.hos_id
		    and a.copy_code = b.copy_code
		    and a.bus_type_code = b.bus_type_code
		    left join hos_sup_dict c
		    on a.group_id = c.group_id
		    and a.hos_id =c.hos_id
		    and a.ven_id = c.sup_id
		    and a.ven_no = c.sup_no
		    and c.is_stop = 0 
		    and c.is_disable = 0
		    left join sys_user d 
		    on a.group_id = d.group_id
		    and a.hos_id = d.hos_id
		    and a.copy_code = d.copy_code
		    and a.create_emp = d.user_id 
		      left join sys_user f 
		      on a.group_id = f.group_id
		    and a.hos_id = f.hos_id
		    and a.copy_code = f.copy_code
		    and a.audit_emp = f.user_id 
		WHERE 
		a.group_id = #{group_id,jdbcType=INTEGER}   and 
		a.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		a.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		a.apply_no = #{apply_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assRemouldAspecial"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		apply_no,
		bus_type_code,
		ven_id,
		ven_no,
		create_emp,
		create_date,
		audit_emp,
		change_date,
		state,
		note
		FROM ASS_REMOULD_A_SPECIAL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="apply_no != null and apply_no != ''">
		AND apply_no = #{apply_no,jdbcType=VARCHAR}
		</if>
		<if test="bus_type_code != null and bus_type_code != ''">
		AND bus_type_code = #{bus_type_code,jdbcType=VARCHAR}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no,jdbcType=INTEGER}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp,jdbcType=INTEGER}
		</if>
		<if test="change_date != null and change_date != ''">
		AND change_date = #{change_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assRemouldAspecial"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		apply_no,
		bus_type_code,
		ven_id,
		ven_no,
		create_emp,
		create_date,
		audit_emp,
		change_date,
		state,
		note
		FROM ASS_REMOULD_A_SPECIAL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="apply_no != null and apply_no != ''">
		AND apply_no = #{apply_no,jdbcType=VARCHAR}
		</if>
		<if test="bus_type_code != null and bus_type_code != ''">
		AND bus_type_code = #{bus_type_code,jdbcType=VARCHAR}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no,jdbcType=INTEGER}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp,jdbcType=INTEGER}
		</if>
		<if test="change_date != null and change_date != ''">
		AND change_date = #{change_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="collectAssBackSpecial" statementType="CALLABLE"
		parameterType="java.util.Map">
		<![CDATA[ {call PKG_ASS_APP.prc_CalcDepreSingle(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{ass_year,jdbcType=VARCHAR, mode=IN},
	        #{ass_month,jdbcType=VARCHAR, mode=IN},
	        #{ass_naturs,jdbcType=VARCHAR, mode=IN},
	        #{ass_card_no,jdbcType=VARCHAR, mode=IN},
	        'A',
	        #{ass_json_str,jdbcType=VARCHAR,mode=OUT},
	        #{ass_AppCode,jdbcType=INTEGER,mode=OUT},
	        #{ass_ErrTxt,jdbcType=VARCHAR,mode=OUT}
        )} 
		 ]]>
	</select>
	
	<!-- <update id="updateAllotOutMoney" parameterType="java.util.Map">
	UPDATE ASS_REMOULD_A_SPECIAL
	<trim prefix="SET"  suffixOverrides=","> 
		<if test="price != null and price != ''">
			price = #{price}
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		add_depre = #{add_depre}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money = #{cur_money}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money = #{fore_money}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="allot_in_no != null and allot_in_no != ''">
		AND allot_out_no = #{allot_out_no}
		</if>
		</where> 
	
	
	</update> -->
	
	<!--  追溯改造申请-->
	<select id="queryAssApplyDeptByPlanDept"  resultMap="assRemouldAspecialMap"  parameterType="java.util.Map" >
		SELECT 
		a.group_id,
				a.hos_id,
				a.copy_code,
				a.apply_no,
				a.bus_type_code,
		    	b.bus_type_name,
				a.ven_id,
				a.ven_no,
				c.sup_code,
		    	c.sup_name,
				a.create_emp,
		    	d.user_name as create_emp_name,
				a.create_date,
				a.audit_emp,
		    	f.user_name as audit_emp_name,
				a.change_date,
				a.state,
		   		   case when a.state = 0 then '新建' when a.state = 1 then '审核' when a.state = 2 then '申报确认' else '' end state_name,

		    a.note
		FROM ASS_REMOULD_A_special  a
		 left join  ass_bus_type_dict b
		    on a.group_id = b.group_id
		    and a.hos_id = b.hos_id
		    and a.copy_code = b.copy_code
		    and a.bus_type_code = b.bus_type_code
		    left join hos_sup_dict c
		    on a.group_id = c.group_id
		    and a.hos_id =c.hos_id
		    and a.ven_id = c.sup_id
		    and a.ven_no = c.sup_no
		    and c.is_stop = 0 
		    and c.is_disable = 0
		    left join sys_user d 
		    on a.group_id = d.group_id
		    and a.hos_id = d.hos_id
		    and a.copy_code = d.copy_code
		    and a.create_emp = d.user_id 
		      left join sys_user f 
		      on a.group_id = f.group_id
		    and a.hos_id = f.hos_id
		    and a.copy_code = f.copy_code
		    and a.audit_emp = f.user_id 
		where                     
		a.group_id = #{group_id,jdbcType=INTEGER}
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		   AND exists (
		        select 1 from ASS_REMOULD_A_R_MAP_special c 
		        	where    c.group_id = #{group_id,jdbcType=INTEGER}
		        		     and c.hos_id = #{hos_id,jdbcType=INTEGER}
		        			 and c.copy_code = #{copy_code,jdbcType=VARCHAR}
		        			 and c.record_no = #{record_no,jdbcType=VARCHAR}
		        			 and c.apply_no = a.apply_no
		        )
		<if test="apply_no != null and apply_no != ''">
		AND a.apply_no = #{apply_no,jdbcType=VARCHAR}
		</if>
		<if test="bus_type_code != null and bus_type_code != ''">
		AND a.bus_type_code = #{bus_type_code,jdbcType=VARCHAR}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND a.ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND a.ven_no = #{ven_no,jdbcType=INTEGER}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND a.create_emp = #{create_emp,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND a.create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND a.audit_emp = #{audit_emp,jdbcType=INTEGER}
		</if>
		<if test="change_date != null and change_date != ''">
		AND a.change_date = #{change_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND a.note = #{note,jdbcType=VARCHAR}
		</if>
		
		order by a.group_id asc
		</select>
</mapper>

