<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.AccEmpAttrMapper">

	<resultMap id="accEmpAttr" type="com.chd.hrp.acc.entity.AccEmpAttr">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="emp_id" column="emp_id"/>
        <result property="sex" column="sex"/>
        <result property="is_pay" column="is_pay"/>
        <result property="is_buyer" column="is_buyer"/>
        <result property="pay_type_code" column="pay_type_code"/>
        <result property="station_code" column="station_code"/>
        <result property="duty_code" column="duty_code"/>
        <result property="id_number" column="id_number"/>
        <result property="phone" column="phone"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
		<result property="note" column="note"/>
		<result property="countries_code" column="countries_code"/>
		<result property="attr_code" column="attr_code"/>
		<result property="attr_name" column="attr_name"/>
	</resultMap>
	
    <insert id="addAccEmpAttr" useGeneratedKeys="true" >
    
        INSERT INTO ACC_EMP_ATTR (
    emp_id,
	group_id, 
	hos_id,     
	sex,     
	is_pay, 
	is_buyer,  
	pay_type_code,
	station_code,
	duty_code, 
	id_number, 
	phone,   
	mobile, 
	email, 
	note ,
	countries_code
        ) VALUES (
	#{emp_id},
	#{group_id}, 
	#{hos_id},     
	#{sex},     
	#{is_pay,jdbcType=INTEGER},   
	#{is_buyer,jdbcType=INTEGER},
	#{pay_type_code,jdbcType=VARCHAR},
	#{station_code,jdbcType=VARCHAR},
	#{duty_code,jdbcType=VARCHAR}, 
	#{id_number,jdbcType=VARCHAR}, 
	#{phone,jdbcType=VARCHAR},   
	#{mobile,jdbcType=VARCHAR}, 
	#{email,jdbcType=VARCHAR}, 
	#{note,jdbcType=VARCHAR},
	#{countries_code,jdbcType=VARCHAR}		 
        )
    
    </insert>
	<insert id="addBatchAccEmpAttr" parameterType="java.util.List" >
    
        INSERT INTO ACC_EMP_ATTR (
                emp_id,
				group_id, 
				hos_id,     
				sex,     
				is_pay, 
				is_buyer,  
				pay_type_code,
				station_code,
				duty_code, 
				id_number, 
				phone,   
				mobile, 
				email, 
				note ,
				countries_code
			        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
		#{item.emp_id},
		#{item.group_id}, 
		#{item.hos_id},     
		#{item.sex},     
		#{item.is_pay,jdbcType=INTEGER},   
		#{item.is_buyer,jdbcType=INTEGER}, 
		#{item.pay_type_code,jdbcType=VARCHAR},
		#{item.station_code,jdbcType=VARCHAR},
		#{item.duty_code,jdbcType=VARCHAR}, 
		#{item.id_number,jdbcType=VARCHAR}, 
		#{item.phone,jdbcType=VARCHAR},   
		#{item.mobile,jdbcType=VARCHAR}, 
		#{item.email,jdbcType=VARCHAR}, 
		#{item.note,jdbcType=VARCHAR} ,
		#{item.countries_code,jdbcType=VARCHAR}				 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateAccEmpAttr" parameterType="java.util.Map">
    
        UPDATE acc_emp_attr SET
			 sex = #{sex},     
	is_pay = #{is_pay,jdbcType=INTEGER},  
<!-- 	is_buyer = #{is_buyer}, -->
	pay_type_code = #{pay_type_code,jdbcType=VARCHAR},
	station_code = #{station_code,jdbcType=VARCHAR},
	duty_code = #{duty_code,jdbcType=VARCHAR}, 
	id_number = #{id_number,jdbcType=VARCHAR}, 
	phone = #{phone,jdbcType=VARCHAR},   
	mobile = #{mobile,jdbcType=VARCHAR}, 
	email = #{email,jdbcType=VARCHAR}, 
	note = #{note,jdbcType=VARCHAR} ,
	countries_code = #{countries_code,jdbcType=VARCHAR}	 ,
	attr_code = #{attr_code,jdbcType=VARCHAR}
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 emp_id = #{emp_id}
			 
   
	</update>
	<update id="updateBatchAccEmpAttr" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE acc_emp_attr SET
			 sex = #{item.sex},     
	is_pay = #{item.is_pay,jdbcType=INTEGER}, 
	is_buyer = #{item.is_buyer,jdbcType=INTEGER},  
	pay_type_code = #{item.pay_type_code,jdbcType=VARCHAR},
	station_code = #{item.station_code,jdbcType=VARCHAR},
	duty_code = #{item.duty_code,jdbcType=VARCHAR}, 
	id_number = #{item.id_number,jdbcType=VARCHAR}, 
	phone = #{item.phone,jdbcType=VARCHAR},   
	mobile = #{item.mobile,jdbcType=VARCHAR}, 
	email = #{item.email,jdbcType=VARCHAR}, 
	note = #{item.note,jdbcType=VARCHAR} ,
	countries_code = #{item.countries_code,jdbcType=VARCHAR}
			 
        WHERE 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 emp_id = #{item.emp_id}
			 
    </foreach>
	</update>

    <delete id="deleteAccEmpAttr" parameterType="java.util.Map">
   
        DELETE FROM acc_emp_attr WHERE
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id}   and 
	        emp_id = #{emp_id}   
   
    </delete>
    <delete id="deleteBatchAccEmpAttr" parameterType="java.util.List">
        DELETE FROM acc_Emp_attr WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 emp_id = #{item.emp_id}
			 
		</foreach>
   
    </delete>
    
    <select id="queryEmpByCode" resultType="com.chd.hrp.acc.entity.AccEmpAttr" parameterType="string" >
	        SELECT he.group_id, he.hos_id, he.emp_id, he.emp_code, he.emp_name
		, he.dept_no, hdd.dept_name, he.dept_id, he.kind_code, hek.kind_name
		, he.is_stop, aea.sex, aea.is_pay,aea.is_buyer
	    , aea.pay_type_code, aep.pay_type_name, aea.station_code, hs.station_name, aea.duty_code
	    , hd.duty_name, aea.id_number, aea.phone, aea.mobile, aea.email
	    , aea.note, he.is_disable,ad.attr_code,ad.attr_name
		FROM ACC_EMP_ATTR aea
		LEFT JOIN hos_emp_dict he
	  on he.group_id = aea.group_id
	  AND he.hos_id = aea.hos_id
	  AND he.emp_id = aea.emp_id and he.is_stop = 0
	  left join  HOS_EMP_KIND hek
	  on he.kind_code = hek.kind_code
	  AND he.group_id = hek.group_id
	  AND he.hos_id = hek.hos_id
	  left join Hos_Dept_Dict hdd
	  on he.dept_id = hdd.dept_id
	  AND he.group_id = hdd.group_id
	  AND he.hos_id = hdd.hos_id and hdd.is_stop=0
	  left join HOS_STATION hs
	  on aea.group_id = hs.group_id
	  AND aea.hos_id = hs.hos_id
	  AND aea.station_code = hs.station_code
	  left join HOS_DUTY hd
	  on  aea.group_id = hd.group_id
	  AND aea.hos_id = hd.hos_id
	  AND aea.duty_code = hd.duty_code
	  left join ACC_EMP_PAY aep
	  on aea.group_id = aep.group_id
	  AND aea.hos_id = aep.hos_id
	  AND aea.pay_type_code = aep.pay_type_code
	  left join acc_attr_dict ad on aea.group_id =ad.group_id
	  AND aea.hos_id = ad.hos_id and aea.attr_code=ad.attr_code
	  WHERE  he.group_id = #{group_id}   and 
      he.hos_id = #{hos_id}   and 
      he.emp_id = #{emp_id}  and 
      he.emp_no = #{emp_no}
	</select>
	
	<select id="queryHosEmpByCode" resultType="com.chd.hrp.acc.entity.AccEmpAttr" parameterType="string" >
       SELECT 
            he.group_id,
            he.hos_id,
            he.emp_id,
            he.emp_code,
            he.emp_name,
            he.dept_no,
            hdd.dept_name,
            he.dept_id,
            he.kind_code,
            hek.kind_name,
            he.is_stop
		FROM hos_emp he
		left join HOS_EMP_KIND hek on he.kind_code = hek.kind_code and he.group_id = hek.group_id and he.hos_id = hek.hos_id 
		left join HOS_DEPT hdd on he.dept_id = hdd.dept_id and 	he.group_id = hdd.group_id and he.hos_id = hdd.hos_id 
	        WHERE 
	        	he.group_id = #{group_id}   and 
		        he.hos_id = #{hos_id}   and 
		        he.emp_id = #{emp_id}
	</select>
    
    <select id="queryAccEmpAttrByCode" resultType="com.chd.hrp.acc.entity.AccEmpAttr" parameterType="string" >
	  
        SELECT 
            emp_id,
			group_id, 
			hos_id,     
			sex,     
			is_pay,
			is_buyer,   
			pay_type_code,
			station_code,
			duty_code, 
			id_number, 
			phone,   
			mobile, 
			email, 
			note,countries_code,attr_code
		FROM acc_emp_attr 
	        WHERE 
		        group_id = #{group_id}   and 
		        hos_id = #{hos_id}   and 
		        emp_id = #{emp_id}   
        
	</select>
	<select id="queryAccEmpAttr" parameterType="java.util.Map" resultMap="accEmpAttr" >
      
        SELECT 
            emp_id,
			group_id, 
			hos_id,     
			sex,     
			is_pay,  
			is_buyer,   
			pay_type_code,
			station_code,
			duty_code, 
			id_number, 
			phone,   
			mobile, 
			email, 
			note
        FROM ACC_EMP_ATTR 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="emp_id != null and emp_id != ''">
                    AND emp_id = #{emp_id}
               </if>
                <if test="sex != null and sex != ''">
                    AND sex = #{sex}
               </if>
			    <if test="is_pay != null and is_pay != ''">
                    AND is_pay = #{is_pay}
               </if>
			    <if test="pay_type_code != null and pay_type_code != ''">
                    AND pay_type_code = #{pay_type_code}
               </if>
                <if test="station_code != null and station_code != ''">
                    AND station_code = #{station_code}
               </if>
			    <if test="duty_code != null and duty_code != ''">
                    AND duty_code = #{duty_code}
               </if>
			    <if test="id_number != null and id_number != ''">
                    AND id_number = #{id_number}
               </if>
                <if test="phone != null and phone != ''">
                    AND phone = #{phone}
               </if>
                <if test="mobile != null and mobile != ''">
                    AND mobile = #{mobile}
               </if>
			    <if test="email != null and email != ''">
                    AND email = #{email}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
        </where>   
				order by emp_id asc
    </select>
    
    <select id="queryAccEmpNumber" resultType="com.chd.hrp.acc.entity.AccEmpAttr" parameterType="string" >
	  
         select 
         hed.emp_name,
         aea.id_number 
         from HOS_EMP_DICT hed left join 
         acc_emp_attr aea on hed.group_id = aea.group_id
 		 and hed.hos_id = aea.hos_id and hed.emp_id = aea.emp_id
	     WHERE 
	        hed.is_stop = 0 and 
		        hed.group_id = #{group_id}   and 
		        hed.hos_id = #{hos_id}   and 
		        hed.emp_id = #{emp_id}   
        
	</select>
	
	<insert id="initAccEmpAttr" useGeneratedKeys="false" >
    
        INSERT INTO ACC_EMP_ATTR (
	    emp_id,
		group_id, 
		hos_id,       
		is_pay,  
		pay_type_code,
		sex
                <if test="station_code_box==1">
                    , station_code
               </if>
			    <if test="duty_code_box==1">
                    , duty_code
               </if>
			    <if test="id_number_box==1">
                    , id_number
               </if>
                <if test="phone_box==1">
                    , phone
               </if>
                <if test="mobile_box==1">
                    , mobile
               </if>
			    <if test="email_box==1">
                    , email 
               </if>
			    <if test="note_box==1">
                    , note
               </if>
               <if test="is_buyer_box==1">
                    , is_buyer
               </if>
               <if test="countries_code_box==1">
                    , countries_code 
               </if>
               <if test="attr_code_box==1">
                    , attr_code 
               </if>
        ) 
		select hed.emp_id,hed.group_id,hed.hos_id,#{is_pay},#{pay_type_code},#{sex}
                <if test="station_code_box==1">
                    , #{station_code}
               </if>
			    <if test="duty_code_box==1">
                    , #{duty_code}
               </if>
			    <if test="id_number_box==1">
                    , #{id_number}
               </if>
                <if test="phone_box==1">
                    ,  #{phone}
               </if>
                <if test="mobile_box==1">
                    , #{mobile}
               </if>
			    <if test="email_box==1">
                    ,  #{email}
               </if>
			    <if test="note_box==1">
                    ,#{note}
               </if>
               <if test="is_buyer_box==1">
                    ,  #{is_buyer}
               </if>
               <if test="countries_code_box==1">
                    ,  #{countries_code}
               </if> 
                <if test="attr_code_box==1">
                    ,  #{attr_code}
               </if>
               from hos_emp_dict hed where not exists(
		select aea.emp_id from acc_emp_attr aea  where hed.group_id = aea.group_id
		and hed.hos_id = aea.hos_id and hed.emp_id = aea.emp_id
		) and hed.group_id = #{group_id} and hed.hos_id = #{hos_id} and hed.is_stop ='0'
    </insert>
    
    <update id="updateAccEmpAttrById" parameterType="java.util.Map">
    
        UPDATE acc_emp_attr SET
			 	<if test="sex != null and sex != '' ">
                     sex = #{sex}
               </if>
			    <if test="is_pay_box==1">
                    , is_pay = #{is_pay}
               </if>
			    <if test="pay_type_code_box==1">
                    , pay_type_code = #{pay_type_code}
               </if>
                <if test="station_code_box==1">
                    , station_code = #{station_code}
               </if>
			    <if test="duty_code_box==1">
                    , duty_code = #{duty_code}
               </if>
			    <if test="id_number_box==1">
                    , id_number = #{id_number}
               </if>
                <if test="phone_box==1">
                    , phone = #{phone}
               </if>
                <if test="mobile_box==1">
                    , mobile = #{mobile}
               </if>
			    <if test="email_box==1">
                    , email = #{email}
               </if>
			    <if test="note_box==1">
                    , note = #{note}
               </if>
               <if test="is_buyer_box==1">
                    , is_buyer = #{is_buyer}
               </if>
               <if test="countries_code_box==1">
                    , countries_code = #{countries_code}
               </if>
               <if test="attr_code_box==1">
                    , attr_code = #{attr_code}
               </if>
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 emp_id = #{emp_id}
			 
   
	</update>
	
	<insert id="addAccEmpAttrById" useGeneratedKeys="false">
    
        insert into acc_emp_attr (emp_id,
				group_id, 
				hos_id
			 <if test="sex_box ==1 ">
                     ,sex
               </if>
			    <if test="is_pay_box==1">
                    , is_pay
               </if>
			    <if test="pay_type_code_box==1">
                    , pay_type_code
               </if>
                <if test="station_code_box==1">
                    , station_code
               </if>
			    <if test="duty_code_box==1">
                    , duty_code
               </if>
			    <if test="id_number_box==1">
                    , id_number
               </if>
                <if test="phone_box==1">
                    , phone
               </if>
                <if test="mobile_box==1">
                    , mobile
               </if>
			    <if test="email_box==1">
                    , email
               </if>
			    <if test="note_box==1">
                    , note
               </if>
               <if test="is_buyer_box==1">
                    , is_buyer
               </if>
               <if test="countries_code_box==1">
                    , countries_code
               </if>
               <if test="attr_code_box==1">
                    , attr_code
               </if>
               )values(#{emp_id},
				#{group_id}, 
				#{hos_id}
			 <if test="sex_box ==1 ">
                     , #{sex}
               </if>
			    <if test="is_pay_box==1">
                    ,  #{is_pay}
               </if>
			    <if test="pay_type_code_box==1">
                    ,  #{pay_type_code}
               </if>
                <if test="station_code_box==1">
                    , #{station_code}
               </if>
			    <if test="duty_code_box==1">
                    , #{duty_code}
               </if>
			    <if test="id_number_box==1">
                    , #{id_number}
               </if>
                <if test="phone_box==1">
                    ,#{phone}
               </if>
                <if test="mobile_box==1">
                    ,#{mobile}
               </if>
			    <if test="email_box==1">
                    ,#{email}
               </if>
			    <if test="note_box==1">
                    ,#{note}
               </if>
               <if test="is_buyer_box==1">
                    ,#{is_buyer}
               </if>
               <if test="countries_code_box==1">
                    ,#{countries_code}
               </if>
               <if test="attr_code_box==1">
                    ,#{attr_code}
               </if>
               )
        
	</insert>
	
</mapper>

