<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.AccSelectMapper">
	<resultMap type="com.chd.hrp.acc.entity.HrpSysSelect" id="hrpSysSelect">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
    <select id="queryHosNatureDict" resultMap="hrpSysSelect">
		  SELECT
    nature_code id,
    nature_name text
    FROM DIC_HOS_NATURE
		<where>
			<if test="key != null and key != ''">
				and (
				nature_code like '%${key}%' or
				nature_name like '%${key}%'
				)
			</if>
		</where>
		order by nature_code
	</select>
	
	<select id="queryHosInfoDict" resultMap="hrpSysSelect">
		SELECT
		hos_id id,
		hos_name text
		FROM HOS_INFO_DICT
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test=" key != null and key != ''">
				and (
				hos_code like '%${key}%' or
				hos_name like '%${key}%'
				)
			</if>
		</where>
		order by hos_code
	</select>

	<select id="queryCopyDict" resultMap="hrpSysSelect">
		SELECT
		copy_code id,
		copy_name text
		FROM HOS_COPY
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test=" key != null and key != ''">
				and (
				copy_code like '%${key}%' or
				copy_name like
				'%${key}%'
				)
			</if>
		</where>
		order by copy_code
	</select>
	
	<select id="queryAcctYearDict" resultMap="hrpSysSelect">
		SELECT
		acc_year id,
		acc_year text
		FROM ACC_YEAR
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test=" key != null and key != ''">
				and (
				acc_year like '%${key}%'
				)
			</if>
		</where>
		order by acc_year desc
	</select>
	
	<select id="queryCheckTypeDict" resultMap="hrpSysSelect">
		SELECT
		check_type_id id,
		check_type_name text
		FROM acc_check_type
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test=" key != null and key != ''">
				and (
				acc_year like '%${key}%'
				)
			</if>
			and check_table ='ACC_CHECK_ITEM'
		</where>
		order by check_type_id
	</select>
	<select id="queryWageAndNotInThisWage" resultMap="hrpSysSelect">
		SELECT
		wage_code id,
		wage_name text
		FROM ACC_WAGE
		<where>
				and group_id = #{group_id}
				and hos_id = #{hos_id}
				and copy_code = #{copy_code}
				and wage_code != #{wage_code}
		</where>
		order by wage_code
	</select>
	
</mapper>

