<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.AccTemplateMapper">
 
	<resultMap id="accTemplate" type="com.chd.hrp.acc.entity.AccTemplate">
		<result property="vouch_id" column="vouch_id" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="vouch_type_code" column="vouch_type_code" />
		<result property="vouch_type_name" column="vouch_type_name" />
		<result property="vouch_date" column="vouch_date" />
		<result property="vouch_att_num" column="vouch_att_num" />
		<result property="template_sort" column="template_sort" />
		<result property="template_id" column="template_id" />
		<result property="template_name" column="template_name" />
		<result property="note" column="note" />
		<result property="user_name" column="user_name" />
	</resultMap>

	<insert id="addAccTemplate" useGeneratedKeys="true">

		INSERT INTO
		ACC_TEMPLATE (
		vouch_id
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		vouch_type_code
		,
		vouch_date
		,
		vouch_att_num
		,
		template_id
		,
		template_name
		,
		template_sort
		,
		note

		) VALUES (
		#{vouch_id} ,
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{acc_year} ,
		#{vouch_type_code} ,
		#{vouch_date} ,
		#{vouch_att_num} ,
		#{template_id} ,
		#{template_name} ,
		#{template_sort} ,
		#{note}
		)

	</insert>
	<insert id="addBatchAccTemplate" parameterType="java.util.List">

		INSERT INTO ACC_TEMPLATE (
		vouch_id
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		vouch_type_code
		,
		vouch_date
		,
		vouch_att_num
		,
		template_id
		,
		template_name
		,
		template_sort
		,
		note

		)
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.vouch_id} ,
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.copy_code} ,
			#{item.acc_year} ,
			#{item.vouch_type_code} ,
			#{item.vouch_date} ,
			#{item.vouch_att_num} ,
			#{item.template_id} ,
			#{item.template_name} ,
			#{item.template_sort} ,
			#{item.note}
			from dual
		</foreach>

	</insert>

	<update id="updateAccTemplate" parameterType="java.util.Map">

		UPDATE acc_template
		SET
		group_id = #{group_id}
		,
		hos_id = #{hos_id}
		,
		copy_code = #{copy_code}
		,
		acc_year = #{acc_year}
		,
		vouch_type_code = #{vouch_type_code}
		,
		vouch_date = #{vouch_date}
		,
		vouch_att_num = #{vouch_att_num}
		,
		template_sort = #{template_sort}
		,
		template_name = #{template_name}
		,
		note = #{note}

		WHERE
		template_id = #{template_id}


	</update>
	<update id="updateBatchAccTemplate" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE acc_template SET
			group_id = #{group_id}
			,
			hos_id = #{hos_id}
			,
			copy_code = #{copy_code}
			,
			acc_year = #{acc_year}
			,
			vouch_type_code = #{vouch_type_code}
			,
			vouch_date = #{vouch_date}
			,
			vouch_att_num = #{vouch_att_num}
			,
			template_sort = #{template_sort}
			,
			template_name = #{template_name}
			,
			note = #{note}

			WHERE
			template_id =
			#{item.template_id}

		</foreach>
	</update>

	<delete id="deleteAccTemplate" parameterType="java.util.Map">

		DELETE FROM
		acc_template WHERE
		template_id = #{template_id}

	</delete>
	<delete id="deleteBatchAccTemplate" parameterType="java.util.List">
		DELETE FROM acc_template WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			template_id = #{item.template_id}

		</foreach>


	</delete>

	<select id="queryAccTemplateByCode" resultType="com.chd.hrp.acc.entity.AccTemplate"
		parameterType="string">

		SELECT
		vouch_id,
		group_id,
		hos_id,
		copy_code,
		acc_year,
		vouch_type_code,
		vouch_date,
		vouch_att_num,
		template_sort,
		template_name,
		template_id,
		note
		FROM acc_template
		WHERE
		template_id = #{template_id}

	</select>
	<select id="queryAccTemplate" parameterType="java.util.Map"
		resultMap="accTemplate">

		SELECT acct.template_name,avt.vouch_type_name,acct.note,#{user_name} user_name
		FROM ACC_TEMPLATE acct left join acc_vouch_type avt
		on acct.vouch_type_code = avt.vouch_type_code and acct.group_id =
		avt.group_id
		and acct.hos_id = avt.hos_id and acct.copy_code = avt.copy_code and
		avt.is_stop = '0'
		<where>
			<if test="group_id != null and group_id != ''">
				AND acct.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND acct.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND acct.copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acct.acc_year = #{acc_year}
			</if>
			<if test="vouch_type_code != null and vouch_type_code != ''">
				AND acct.vouch_type_code = #{vouch_type_code}
			</if>
			<if test="vouch_date != null and vouch_date != ''">
				AND acct.vouch_date = #{vouch_date}
			</if>
			<if test="vouch_att_num != null and vouch_att_num != ''">
				AND acct.vouch_att_num = #{vouch_att_num}
			</if>
			<if test="template_sort != null and template_sort != ''">
				AND acct.template_sort = #{template_sort}
			</if>
			<if test="template_name != null and template_name != ''">
				AND acct.template_name = #{template_name}
			</if>
			<if test="template_id != null and template_id != ''">
				AND acct.template_id = #{template_id}
			</if>
			<if test="note != null and note != ''">
				AND acct.note = #{note}
			</if>
		</where>
		order by acct.template_id asc
	</select>
	
	<select id="queryAccAddTemplateAll" statementType="CALLABLE" parameterType="java.util.Map" >
		<![CDATA[
		{call ACC_ADDTEMPLATEALL(
	       #{group_id},#{hos_id},#{copy_code},#{acc_year})}
		]]>
   </select>
	
</mapper>

