<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.AccWagePayDescMapper">
	
	<resultMap id="accWagePayDesc" type="com.chd.hrp.acc.entity.AccWagePayDesc">
	<result property="desc_id" column="desc_id"/>
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="wage_code" column="wage_code"/>
	<result property="acc_year" column="acc_year"/>
	<result property="acc_month" column="acc_month"/>
	<result property="kined_code" column="kined_code"/>
	<result property="kined_name" column="kined_name"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="addAccWagePayDesc" useGeneratedKeys="true" >
	
		INSERT INTO ACC_WAGE_PAY_DESC (
		<trim suffix="" suffixOverrides=",">
		desc_id
		,
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="wage_code != null and wage_code != ''">
		wage_code
		,
		</if>
		<if test="acc_year != null and acc_year != ''">
		acc_year
		,
		</if>
		<if test="acc_month != null and acc_month != ''">
		acc_month
		,
		</if>
		<if test="kined_code != null and kined_code != ''">
		kined_code
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		ACC_WAGE_PAY_DESC_SEQ.NEXTVAL,
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="wage_code != null and wage_code != ''">
		#{wage_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="acc_year != null and acc_year != ''">
		#{acc_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="acc_month != null and acc_month != ''">
		#{acc_month,jdbcType=VARCHAR}
		,
		</if>
		<if test="kined_code != null and kined_code != ''">
		#{kined_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatchAccWagePayDesc" parameterType="java.util.List" >
	
		INSERT INTO ACC_WAGE_PAY_DESC (
		<trim suffix="" suffixOverrides=",">
		<if test="desc_id != null and desc_id != ''">
		desc_id
		,
		</if>
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="wage_code != null and wage_code != ''">
		wage_code
		,
		</if>
		<if test="acc_year != null and acc_year != ''">
		acc_year
		,
		</if>
		<if test="acc_month != null and acc_month != ''">
		acc_month
		,
		</if>
		<if test="kined_code != null and kined_code != ''">
		kined_code
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) select ACC_WAGE_PAY_DESC_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="item.desc_id != null and item.desc_id != ''">
			#{item.desc_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.group_id != null and item.group_id != ''">
			#{item.group_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.hos_id != null and item.hos_id != ''">
			#{item.hos_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.copy_code != null and item.copy_code != ''">
			#{item.copy_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.wage_code != null and item.wage_code != ''">
			#{item.wage_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.acc_year != null and item.acc_year != ''">
			#{item.acc_year,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.acc_month != null and item.acc_month != ''">
			#{item.acc_month,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.kined_code != null and item.kined_code != ''">
			#{item.kined_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			#{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateAccWagePayDesc" parameterType="java.util.Map">
	
		UPDATE acc_wage_pay_desc 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="desc_id != null and desc_id != ''">
		AND desc_id = #{desc_id,jdbcType=INTEGER}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="wage_code != null and wage_code != ''">
		AND wage_code = #{wage_code,jdbcType=VARCHAR}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND acc_year = #{acc_year,jdbcType=VARCHAR}
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND acc_month = #{acc_month,jdbcType=VARCHAR}
		</if>
		<if test="kined_code != null and kined_code != ''">
		AND kined_code = #{kined_code,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatchAccWagePayDesc" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE acc_wage_pay_desc 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.desc_id != null and item.desc_id != ''">
			AND desc_id = #{desc_id,jdbcType=INTEGER}
			</if>  
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.wage_code != null and item.wage_code != ''">
			AND wage_code = #{wage_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.acc_year != null and item.acc_year != ''">
			AND acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>  
			<if test="item.acc_month != null and item.acc_month != ''">
			AND acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>  
			<if test="item.kined_code != null and item.kined_code != ''">
			AND kined_code = #{kined_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="deleteAccWagePayDesc" parameterType="java.util.Map">
	
		DELETE FROM acc_wage_pay_desc 
		<where>                     
		<if test="desc_id != null and desc_id != ''">
		AND desc_id = #{desc_id,jdbcType=INTEGER}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="wage_code != null and wage_code != ''">
		AND wage_code = #{wage_code,jdbcType=VARCHAR}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND acc_year = #{acc_year,jdbcType=VARCHAR}
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND acc_month = #{acc_month,jdbcType=VARCHAR}
		</if>
		<if test="kined_code != null and kined_code != ''">
		AND kined_code = #{kined_code,jdbcType=VARCHAR}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatchAccWagePayDesc" parameterType="java.util.List">
		DELETE FROM acc_wage_pay_desc 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.desc_id != null and item.desc_id != ''">
				AND desc_id = #{desc_id,jdbcType=INTEGER}
				</if>
				<if test="item.group_id != null and item.group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.wage_code != null and item.wage_code != ''">
				AND wage_code = #{wage_code,jdbcType=VARCHAR}
				</if>
				<if test="item.acc_year != null and item.acc_year != ''">
				AND acc_year = #{acc_year,jdbcType=VARCHAR}
				</if>
				<if test="item.acc_month != null and item.acc_month != ''">
				AND acc_month = #{acc_month,jdbcType=VARCHAR}
				</if>
				<if test="item.kined_code != null and item.kined_code != ''">
				AND kined_code = #{kined_code,jdbcType=VARCHAR}
				</if>
				<if test="item.note != null and item.note != ''">
				AND note = #{note,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="queryAccWagePayDesc" parameterType="java.util.Map" resultMap="accWagePayDesc" >
	
		SELECT 
		desc_id,
		group_id,
		hos_id,
		copy_code,
		wage_code,
		acc_year,
		acc_month,
		kined_code,
		note
		FROM ACC_WAGE_PAY_DESC 
		<where>                     
		<if test="desc_id != null and desc_id != ''">
		AND desc_id = #{desc_id,jdbcType=INTEGER}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="wage_code != null and wage_code != ''">
		AND wage_code = #{wage_code,jdbcType=VARCHAR}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND acc_year = #{acc_year,jdbcType=VARCHAR}
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND acc_month = #{acc_month,jdbcType=VARCHAR}
		</if>
		<if test="kined_code != null and kined_code != ''">
		AND kined_code = #{kined_code,jdbcType=VARCHAR}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by desc_id asc
	</select>
	<select id="queryAccWagePayDescByCode" resultType="com.chd.hrp.acc.entity.AccWagePayDesc"  parameterType="java.util.Map" >
	
		SELECT 
		awpd.desc_id,
		awpd.group_id,
		awpd.hos_id,
		awpd.copy_code,
		awpd.wage_code,
		awpd.acc_year,
		awpd.acc_month,
		awpd.kined_code,
    	hek.kind_name kined_name,
		awpd.note
		FROM acc_wage_pay_desc awpd left join hos_emp_kind hek
    on awpd.group_id = hek.group_id and awpd.hos_id = hek.hos_id
    and awpd.kined_code = hek.kind_code and hek.is_stop=0
		<where>
			<if test="desc_id != null and desc_id != ''">
			AND awpd.desc_id = #{desc_id,jdbcType=INTEGER}
			</if>
			<if test="group_id != null and group_id != ''">
			AND awpd.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND awpd.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND awpd.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="wage_code != null and wage_code != ''">
			AND awpd.wage_code = #{wage_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
			AND awpd.acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
			AND awpd.acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="kined_code != null and kined_code != ''">
			AND awpd.kined_code = #{kined_code,jdbcType=VARCHAR}
			</if>
		</where>
	
	</select>
	
</mapper>

