<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.autovouch.his.HisAccMedStoreMapper">

	<resultMap id="hisAccMedStore" type="com.chd.hrp.acc.entity.autovouch.HisAccMedStore">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="store_flag" column="store_flag" />
		<result property="store_code" column="store_code" />
		<result property="store_name" column="store_name" />
	</resultMap>
	
	<resultMap id="hisAccMedStore1" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="store_flag" column="store_flag" />
		<result property="store_code" column="store_code" />
		<result property="store_name" column="store_name" />
	</resultMap>


	<insert id="addHisAccMedStore">

		insert into ACC_MED_STORE_HIS 
		( group_id, 
		  hos_id, 
		  copy_code, 
		  store_flag,
		  store_code, 
		  store_name
		)
		values(
		  #{group_id,jdbcType=INTEGER},
		  #{hos_id,jdbcType=INTEGER},
		  #{copy_code,jdbcType=VARCHAR},
		  #{store_flag,jdbcType=INTEGER},
		  #{store_code,jdbcType=VARCHAR},
		  #{store_name,jdbcType=VARCHAR}
		)
	</insert>

	
	<delete id="deleteHisAccMedStore" parameterType="java.util.List">
		
		delete ACC_MED_STORE_HIS 
		
 		where 
 		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
 		group_id =  #{item.group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{item.hos_id,jdbcType=INTEGER}
   		
   		and copy_code = #{item.copy_code,jdbcType=VARCHAR}
   		 
   		and store_code = #{item.store_code,jdbcType=VARCHAR}
   		
   		
		</foreach>
	</delete>
	
	<update id="updateHisAccMedStore" parameterType="java.util.Map">
		
		update ACC_MED_STORE_HIS  set 
		
		store_name = #{store_name,jdbcType=VARCHAR},
		
		store_flag=#{store_flag,jdbcType=INTEGER}
		
 		where
 		
 		group_id =  #{group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{hos_id,jdbcType=INTEGER}
   		
   		and copy_code = #{copy_code,jdbcType=VARCHAR}
   		 
   		and store_code = #{store_code,jdbcType=VARCHAR}

	</update>
	
	<select id="queryHisAccMedStoreByCode" parameterType="java.util.Map" resultType="com.chd.hrp.acc.entity.autovouch.HisAccMedStore">

		select 
		group_id, 
		hos_id, 
		copy_code, 
		store_flag,
		store_code, 
		store_name
		from ACC_MED_STORE_HIS 
		where 
		group_id = #{group_id}
		and hos_id = #{hos_id} 
		and copy_code = #{copy_code} 
		
		<if test="store_code != null and store_code != ''">
				and store_code = #{store_code}
		</if>

		<if test="his_store_flag != null and his_store_flag != ''">
				and store_flag = #{his_store_flag}
		</if>
	
	</select>
	
	<select id="queryHisAccMedStore" parameterType="java.util.Map" resultMap="hisAccMedStore1">

	   select 
	   group_id, 
	   hos_id, 
	   copy_code, 
	   case store_flag when 1 then '药房'
       when 2 then '药库' end as store_flag,
	   store_code, 
	   store_name
       from ACC_MED_STORE_HIS 
		where 
		group_id = #{group_id} 
		and hos_id = #{hos_id} 
		and copy_code = #{copy_code} 
		
		<if test="store_code != null and store_code != ''">
		
			and store_code = #{store_code}
				
		</if>
		<if test="store_name != null and store_name != ''">
		
			and store_name = #{store_name}
				
		</if>

		order by store_code
	</select>


</mapper>

