<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.autovouch.his.HisAccAssDeptMapper">

	<resultMap id="hisAccAssDept" type="com.chd.hrp.acc.entity.autovouch.HisAccAssDept">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="dept_flag" column="dept_flag" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
	</resultMap>
	
	<resultMap id="hisAccAssDept1" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="dept_flag" column="dept_flag" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
	</resultMap>


	<insert id="addHisAccAssDept">

		insert into acc_dept_his 
		( group_id, 
		  hos_id, 
		  copy_code, 
		  dept_code, 
		  dept_name
		)
		values(
		  #{group_id,jdbcType=INTEGER},
		  #{hos_id,jdbcType=INTEGER},
		  #{copy_code,jdbcType=VARCHAR},
		  #{dept_code,jdbcType=VARCHAR},
		  #{dept_name,jdbcType=VARCHAR}
		)
	</insert>

	
	<delete id="deleteHisAccAssDept" parameterType="java.util.List">
		
		delete acc_dept_his 
		
 		where 
 		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
 		group_id =  #{item.group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{item.hos_id,jdbcType=INTEGER}
   		
   		and copy_code = #{item.copy_code,jdbcType=VARCHAR}
   		 
   		and dept_code = #{item.dept_code,jdbcType=VARCHAR}
   		
   		
		</foreach>
	</delete>
	
	<update id="updateHisAccAssDept" parameterType="java.util.Map">
		
		update acc_dept_his  set 
		
		dept_name = #{dept_name,jdbcType=VARCHAR}
		
		
 		where
 		
 		group_id =  #{group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{hos_id,jdbcType=INTEGER}
   		
   		and copy_code = #{copy_code,jdbcType=VARCHAR}
   		 
   		and dept_code = #{dept_code,jdbcType=VARCHAR}

	</update>
	
	<select id="queryHisAccAssDeptByCode" parameterType="java.util.Map" resultType="com.chd.hrp.acc.entity.autovouch.HisAccAssDept">

		select 
		group_id, 
		hos_id, 
		copy_code, 
		dept_code, 
		dept_name
		from acc_dept_his 
		where 
		group_id = #{group_id}
		and hos_id = #{hos_id} 
		and copy_code = #{copy_code} 
		
		<if test="dept_code != null and dept_code != ''">
				and dept_code = #{dept_code}
		</if>
	
	</select>
	
	<select id="queryHisAccAssDept" parameterType="java.util.Map" resultMap="hisAccAssDept1">

	   select 
	   group_id, 
	   hos_id, 
	   copy_code, 
	   dept_code, 
	   dept_name
       from acc_dept_his 
		where 
		group_id = #{group_id} 
		and hos_id = #{hos_id} 
		and copy_code = #{copy_code} 
		
		<if test="dept_code != null and dept_code != ''">
		
			and dept_code = #{dept_code}
				
		</if>
		<if test="dept_name != null and dept_name != ''">
		
			and dept_name = #{dept_name}
				
		</if>

		order by dept_code
	</select>


</mapper>

