<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.autovouch.his.HisAccMedStoreRefMapper">

	<resultMap id="hisAccMedStoreRef" type="com.chd.hrp.acc.entity.autovouch.HisAccMedStoreRef">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="his_store_flag" column="his_store_flag" />
		<result property="his_store_code" column="his_store_code" />
		<result property="his_store_name" column="his_store_name" />
		<result property="hrp_store_code" column="hrp_store_code" />
		<result property="hrp_store_name" column="hrp_store_name" />
		<result property="hrp_store_id" column="hrp_store_id" />
		<result property="hrp_store_no" column="hrp_store_no" />
	</resultMap>
	
	<resultMap id="hisAccMedStoreRef1" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="his_store_flag" column="his_store_flag" />
		<result property="his_store_code" column="his_store_code" />
		<result property="his_store_name" column="his_store_name" />
		<result property="hrp_store_code" column="hrp_store_code" />
		<result property="hrp_store_name" column="hrp_store_name" />
		<result property="hrp_store_id" column="hrp_store_id" />
		<result property="hrp_store_no" column="hrp_store_no" />
	</resultMap>


	<insert id="addHisAccMedStoreRef" parameterType="java.util.List" >

		insert into ACC_MED_STORE_HIS_REF 
		( group_id, 
		  hos_id, 
		  copy_code, 
		  his_store_flag,
		  his_store_code, 
		  hrp_store_id
		)
		<foreach collection="list" item="item" index="index" separator=" union all " >
		select 
		  #{item.group_id,jdbcType=INTEGER},
		  #{item.hos_id,jdbcType=INTEGER},
		  #{item.copy_code,jdbcType=VARCHAR},
		  #{item.his_store_flag,jdbcType=INTEGER},
		  #{item.his_store_code,jdbcType=VARCHAR},
		  #{item.hrp_store_id,jdbcType=INTEGER}
		  from dual
		</foreach>
	</insert>

	
	<delete id="deleteHisAccMedStoreRef" parameterType="java.util.List">
		
		delete ACC_MED_STORE_HIS_REF 
		
 		where 
 		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
 		group_id =  #{item.group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{item.hos_id,jdbcType=INTEGER}
   		
   		and copy_code = #{item.copy_code,jdbcType=VARCHAR}
   		 
   		and his_store_code = #{item.his_store_code,jdbcType=VARCHAR}
   		
		</foreach>
	</delete>
	
	<update id="updateHisAccMedStoreRef" parameterType="java.util.Map">
		
		update ACC_MED_STORE_HIS_REF  set 
		
		hrp_store_id = #{hrp_store_id,jdbcType=VARCHAR},
		
		store_flag=#{store_flag,jdbcType=INTEGER}
		
 		where
 		
 		group_id =  #{group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{hos_id,jdbcType=INTEGER}
   		
   		and copy_code = #{copy_code,jdbcType=VARCHAR}
   		 
   		and his_store_code = #{his_store_code,jdbcType=VARCHAR}

	</update>
	
	<select id="queryHisAccMedStoreRefByCode" parameterType="java.util.Map" resultType="com.chd.hrp.acc.entity.autovouch.HisAccMedStoreRef">

		select 
		group_id, 
		hos_id, 
		copy_code, 
		his_store_flag,
		his_store_code
		from ACC_MED_STORE_HIS_REF 
		where 
		group_id = #{group_id}
		and hos_id = #{hos_id} 
		and copy_code = #{copy_code} 
		
		<if test="his_store_code != null and his_store_code != ''">
				and his_store_code = #{his_store_code}
		</if>
	
		order by his_store_code
	</select>
	
	<select id="queryHisAccMedStoreRef" parameterType="java.util.Map" resultMap="hisAccMedStoreRef1">

	   select 
       amsh.group_id, 
       amsh.hos_id, 
       amsh.copy_code, 
       amsh.store_flag his_store_flag,
       amsh.store_code his_store_code,
       amsh.store_name his_store_name,
       hsd.store_id hrp_store_id,
       hsd.store_no hrp_store_no,
       hsd.store_code hrp_store_code,
       hsd.store_name hrp_store_name
       from ACC_MED_STORE_HIS amsh
       left join ACC_MED_STORE_HIS_REF amshr
       on amshr.group_id=amsh.group_id and amshr.hos_id = amsh.hos_id
       and amshr.copy_code = amsh.copy_code and amshr.his_store_code=amsh.store_code
        AND amshr.his_store_flag = amsh.store_flag 
       left join hos_store_dict hsd on amshr.group_id=hsd.group_id and amshr.hos_id=hsd.hos_id
       and amshr.hrp_store_id=hsd.store_id and hsd.is_stop=0
		where 
		amsh.group_id = #{group_id} and
		amsh.hos_id = #{hos_id} and
		amsh.copy_code = #{copy_code} 
		
		<if test="his_store_code != null and his_store_code != ''">
		
			and amsh.store_code = #{his_store_code}
				
		</if>
		<if test="his_store_name != null and his_store_name != ''">
		
			and amsh.store_name = #{his_store_name}
				
		</if>
		<if test="his_store_flag != null and his_store_flag != ''">
		
			and amshr.his_store_flag = #{his_store_flag}
				
		</if>

		order by amshr.his_store_code
	</select>


</mapper>

