<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.med.dao.base.MedApplyOutRelaMapper">
	
	<resultMap id="medApplyOutRela" type="com.chd.hrp.med.entity.MedApplyOutRela">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="apply_id" column="apply_id"/>
		<result property="app_detail_id" column="app_detail_id"/>
		<result property="rela_type" column="rela_type"/>
		<result property="rela_id" column="rela_id"/>
		<result property="rela_detail_id" column="rela_detail_id"/>
		<result property="rela_amount" column="rela_amount"/>
	</resultMap>
	
	<!-- 查询与各单据对应关系 -->
	<select id="queryMedApplyOutRela" resultMap="medApplyOutRela" parameterType="java.util.Map" >
		SELECT group_id, hos_id, copy_code, rela_type, apply_id, app_detail_id, rela_id, rela_detail_id, rela_amount 
		FROM MED_APPLY_OUT_RELA 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR} 
			<if test="apply_id != null and apply_id != ''">
				and apply_id = #{apply_id,jdbcType=INTEGER} 
			</if>
			<if test="app_detail_id != null and app_detail_id != ''">
				and app_detail_id = #{app_detail_id,jdbcType=INTEGER}
			</if>
			<if test="rela_id != null and rela_id != ''">
				and rela_id = #{rela_id,jdbcType=INTEGER}
			</if>
			<if test="rela_detail_id != null and rela_detail_id != ''">
				and rela_detail_id = #{rela_detail_id,jdbcType=INTEGER}
			</if>
	</select>
	
	<!-- 查询与各单据对应关系列表 -->
	<select id="queryMedApplyOutRelaList" resultMap="medApplyOutRela" parameterType="java.util.Map" >
		SELECT group_id, hos_id, copy_code, rela_type, apply_id, app_detail_id, rela_id, rela_detail_id, rela_amount 
		FROM MED_APPLY_OUT_RELA 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR} 
			<if test="apply_id != null and apply_id != ''">
				and apply_id = #{apply_id,jdbcType=INTEGER} 
			</if>
			<if test="app_detail_id != null and app_detail_id != ''">
				and app_detail_id = #{app_detail_id,jdbcType=INTEGER}
			</if>
			<if test="rela_type != null and rela_type != ''">
				and rela_type = #{rela_type,jdbcType=INTEGER} 
			</if>
			<if test="rela_id != null and rela_id != ''">
				and rela_id = #{rela_id,jdbcType=INTEGER}
			</if>
			<if test="rela_detail_id != null and rela_detail_id != ''">
				and rela_detail_id = #{rela_detail_id,jdbcType=INTEGER}
			</if>
	</select>
	
	<!-- 插入与各单据对应关系 -->
	<insert id="addMedApplyOutRelaBatch" parameterType="java.util.List" >
		INSERT INTO MED_APPLY_OUT_RELA(group_id, hos_id, copy_code, rela_type, apply_id, app_detail_id, rela_id, rela_detail_id, rela_amount )
		<foreach collection="list" item="item" index="index" separator="union all" >		
			SELECT 
				#{item.group_id,jdbcType=INTEGER} as group_id, 
				#{item.hos_id,jdbcType=INTEGER} as hos_id, 
				#{item.copy_code,jdbcType=VARCHAR} as copy_code, 
				#{item.rela_type,jdbcType=INTEGER} as rela_type, 
				#{item.apply_id,jdbcType=INTEGER} as apply_id, 
				#{item.app_detail_id,jdbcType=INTEGER} as app_detail_id, 
				#{item.rela_id,jdbcType=INTEGER} as rela_id, 
				#{item.rela_detail_id,jdbcType=INTEGER} as rela_detail_id, 
				#{item.rela_amount,jdbcType=NUMERIC} as rela_amount 
			FROM dual 
		</foreach>
	</insert>
	
	<!-- 修改与各单据对应关系 -->
	<update id="updateMedApplyOutRelaBatch" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE MED_APPLY_OUT_RELA
			SET
				rela_amount = #{item.rela_amount,jdbcType=NUMERIC}  
			WHERE group_id = #{item.group_id,jdbcType=INTEGER} 
				AND hos_id = #{item.hos_id,jdbcType=INTEGER} 
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR} 
				AND rela_type = #{item.rela_type,jdbcType=INTEGER} 
				AND apply_id = #{item.apply_id,jdbcType=INTEGER} 
				AND app_detail_id = #{item.app_detail_id,jdbcType=INTEGER} 
				AND rela_id = #{item.rela_id,jdbcType=INTEGER} 
				AND rela_detail_id = #{item.rela_detail_id,jdbcType=INTEGER} 
		</foreach>
	</update>
	
	<!-- 删除与各单据对应关系 -->
	<delete id="deleteMedApplyOutRela" parameterType="java.util.Map" >
		DELETE FROM MED_APPLY_OUT_RELA
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="apply_id != null and apply_id != ''">
				and apply_id = #{apply_id,jdbcType=INTEGER} 
			</if>
			<if test="rela_type != null and rela_type != ''">
				and rela_type = #{rela_type,jdbcType=INTEGER} 
			</if>
			<if test="rela_id != null and rela_id != ''">
				and rela_id = #{rela_id,jdbcType=INTEGER}
			</if>
	</delete>
	
	<!-- 批量删除与各单据对应关系 -->
	<delete id="deleteMedApplyOutRelaBatch" parameterType="java.util.List">
		DELETE FROM MED_APPLY_OUT_RELA
		WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			and hos_id = #{item.hos_id,jdbcType=INTEGER}
			and copy_code = #{item.copy_code,jdbcType=VARCHAR}
			<if test="item.apply_id != null and item.apply_id != ''">
				and apply_id = #{item.apply_id,jdbcType=INTEGER} 
			</if>
			<if test="item.rela_type != null and item.rela_type != ''">
				and rela_type = #{item.rela_type,jdbcType=INTEGER} 
			</if>
			<if test="item.rela_id != null and item.rela_id != ''">
				and rela_id = #{item.rela_id,jdbcType=INTEGER}
			</if>
		</foreach>
	</delete>

	<!-- 批量判断单据是否可删除、修改 -->
	<select id="existsMedApplyOutRelaStateBatch" parameterType="java.util.List" resultType="java.lang.String">
		with rela_tmp as(
			select group_id, hos_id, copy_code, rela_type, rela_id
			from med_apply_out_rela 
			WHERE
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				and apply_id = #{item.apply_id,jdbcType=INTEGER}
				and rela_id = #{item.rela_id,jdbcType=INTEGER}
			</foreach>
			group by group_id, hos_id, copy_code, rela_type, rela_id
		), out_tmp as(
			select b.out_id
			from rela_tmp a
			left join med_out_main b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.rela_id = b.out_id
			where a.rela_type = 1 and b.state > 1
		), tran_tmp as(
			select b.tran_id
			from rela_tmp a
			left join med_tran_main b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.rela_id = b.tran_id
			where a.rela_type = 2 and b.state > 1
		), affi_out_tmp as(
			select b.out_id
			from rela_tmp a
			left join med_affi_out b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.rela_id = b.out_id
			where a.rela_type = 3 and b.state > 1
		), affi_tran_tmp as(
			select b.tran_id
			from rela_tmp a
			left join med_affi_tran_main b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.rela_id = b.tran_id
			where a.rela_type = 4 and b.state > 1
		), req_tmp as(
			select b.req_id
			from rela_tmp a
			left join med_require_main b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.rela_id = b.req_id
			where a.rela_type = 5 and b.state > 1
		)
		SELECT count(1)
		FROM(
			select out_id from out_tmp
			union all
			select tran_id from tran_tmp
			union all
			select out_id from affi_out_tmp
			union all
			select tran_id from affi_tran_tmp
			union all
			select req_id from req_tmp
		)
	</select>
</mapper>

