<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.making.HtcgClpStepRuleMapper">

	<resultMap id="clpStepRule" type="com.chd.hrp.htcg.entity.making.HtcgClpStepRule">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="scheme_code" column="scheme_code" />
		<result property="clp_step_code" column="clp_step_code" />
		<result property="beg_date" column="beg_date" />
		<result property="beg_date_name" column="beg_date_name" />
		<result property="end_date" column="end_date" />
		<result property="end_date_name" column="end_date_name" />
		<result property="place" column="place" />
		<result property="place_name" column="place_name" />
	</resultMap>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addHtcgClpStepRule" useGeneratedKeys="false">

		insert into htcg_clp_step_rule (
			group_id ,
			hos_id ,
			copy_code ,
			scheme_code ,
			clp_step_code ,
			beg_date ,
			end_date ,
			place
		) values (
			#{group_id} ,
			#{hos_id} ,
			#{copy_code} ,
			#{scheme_code} ,
			#{clp_step_code} ,
			#{beg_date} ,
			#{end_date} ,
			#{place}
		)

	</insert>
	
	<insert id="addBatchHtcgClpStepRule" parameterType="java.util.Map">
         insert into htcg_clp_step_rule (
					group_id ,
					hos_id ,
					copy_code ,
					scheme_code ,
					clp_step_code ,
					beg_date ,
					end_date ,
					place
				)
		<foreach collection="list" item="item" separator="union all">
			select
					#{item.group_id} ,
					#{item.hos_id} ,
					#{item.copy_code} ,
					#{item.scheme_code} ,
					#{item.clp_step_code} ,
					#{item.beg_date} ,
					#{item.end_date} ,
					#{item.place}
		   from dual
		</foreach>
	
	</insert>
	
	
	<insert id="initHtcgClpStepRule" parameterType="java.util.Map">
		  	insert into htcg_clp_step_rule
			(group_id,
			 hos_id,
			 copy_code,
			 scheme_code,
			 clp_step_code,
			 beg_date,
			 end_date,
			 place)
	     select hcsd.group_id,
				 hcsd.hos_id,
				 hcsd.copy_code,
				 hs.scheme_code,
				 hcsd.clp_step_code,
				 null beg_date,
		         null end_date,
		         null place
		from htcg_clp_step_dict hcsd
		left join  htcg_scheme hs
		on hcsd.group_id = hs.group_id
		and hcsd.hos_id = hs.hos_id
		and hcsd.copy_code = hs.copy_code
		where hcsd.group_id = #{group_id}
		and hcsd.hos_id = #{hos_id}
		and hcsd.copy_code = #{copy_code}
		and hs.group_id = #{group_id}
		and hs.hos_id = #{hos_id}
		and hs.copy_code = #{copy_code}
		and not exists (
			select 1 from htcg_clp_step_rule hcsr
			where hcsr.group_id = hcsd.group_id
			and hcsr.hos_id = hcsd.hos_id
			and hcsr.copy_code = hcsd.copy_code
			and hcsr.clp_step_code = hcsd.clp_step_code
			and hcsr.scheme_code = hs.scheme_code
		)
		order by hcsd.group_id,hcsd.hos_id,hcsd.copy_code,hs.scheme_code,hcsd.clp_step_code
	</insert>

	<update id="updateHtcgClpStepRule" parameterType="java.util.Map">
             update htcg_clp_step_rule
			   set beg_date = #{beg_date},
			       end_date = #{end_date},
			       place = #{place}
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and scheme_code = #{scheme_code}
			   and clp_step_code = #{clp_step_code}
	</update>
	
	<update id="updateBatchHtcgClpStepRule" parameterType="java.util.List">
       <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		       update htcg_clp_step_rule
			   set beg_date = #{item.beg_date},
			       end_date = #{item.end_date},
			       place = #{item.place}
			 where group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and scheme_code = #{item.scheme_code}
			   and clp_step_code = #{item.clp_step_code}
       </foreach>
	</update>

	<delete id="deleteHtcgClpStepRule" parameterType="java.util.Map">
		delete htcg_clp_step_rule
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and scheme_code = #{scheme_code}
		   and clp_step_code = #{clp_step_code}
	</delete>
	<delete id="deleteBatchHtcgClpStepRule" parameterType="java.util.List">
		delete htcg_clp_step_rule where 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			   group_id = #{item.group_id}
		   and hos_id = #{item.hos_id}
		   and copy_code = #{item.copy_code}
		   and scheme_code = #{item.scheme_code}
		   and clp_step_code = #{item.clp_step_code}
		</foreach> 
	</delete>

	<select id="queryHtcgClpStepRuleByCode" parameterType="java.util.Map" resultMap="clpStepRule">

		select
			group_id,
			hos_id,
			copy_code,
			scheme_code,
			clp_step_code,
			beg_date,
			end_date,
			place
		from htcg_clp_step_rule 
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and scheme_code = #{scheme_code}
		and clp_step_code = #{clp_step_code}

	</select>
	<select id="queryHtcgClpStepRule" parameterType="java.util.Map" resultMap="clpStepRule">

		select 
            hcsr.group_id,
            hcsr.hos_id,
            hcsr.copy_code,
            hcsr.scheme_code,
            hs.scheme_name,
            hcsr.clp_step_code,
            hcsd.clp_step_name,
            hcsr.beg_date,
            hcs.item_name beg_date_name,
            hcsr.end_date,
            hc.item_name end_date_name,
            hcsr.place,
            hp.item_name place_name
        from htcg_clp_step_rule hcsr
        left join htcg_clp_step_dict hcsd 
        on hcsd.group_id = hcsr.group_id
		and hcsd.hos_id= hcsr.hos_id 
		and hcsd.copy_code=hcsr.copy_code
		and hcsr.clp_step_code= hcsd.clp_step_code
        left join htcg_scheme hs
        on hs.group_id = hcsr.group_id
  		and hs.hos_id= hcsr.hos_id
  		and hs.copy_code= hcsr.copy_code
  		and hcsr.scheme_code=hs.scheme_code
		left join htcg_clp_step_date hcs
		on hcs.item_code = hcsr.beg_date
		left join htcg_clp_step_date hc
		on hc.item_code = hcsr.end_date
		left join htcg_clp_step_place hp
		on hp.item_code = hcsr.place
		<where>
			   hcsr.group_id = #{group_id}  
	    	   and hcsr.hos_id = #{hos_id,} 
		       and hcsr.copy_code = #{copy_code}  
			<if test="scheme_code != null and scheme_code != ''">
				AND hcsr.scheme_code = #{scheme_code}
			</if>
			<if test="clp_step_code != null and clp_step_code != ''">
				AND (hcsd.clp_step_code like '%${clp_step_code}%'
					 or hcsd.clp_step_name  like '%${clp_step_code}%'
					 or hcsd.spell_code like '%${clp_step_code}%'
					 or hcsd.wbx_code like '%${clp_step_code}%'
				)
			</if>
		</where>
		order by  hcsr.group_id,hcsr.hos_id,hcsr.copy_code,hcsr.scheme_code,hcsr.clp_step_code
	</select>

</mapper>

