<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.making.HtcgSchemeRecipeMergeRuleMapper">
	<resultMap id="schemeRecipeMergeRule" type="com.chd.hrp.htcg.entity.making.HtcgSchemeRecipeMergeRule">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="scheme_code" column="scheme_code" />
		<result property="scheme_name" column="scheme_name" />
		<result property="drgs_code" column="drgs_code" />
		<result property="drgs_name" column="drgs_name" />
	    <result property="recipe_merge_code" column="recipe_merge_code" />
		<result property="recipe_merge_name" column="recipe_merge_name" />
	</resultMap>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addHtcgSchemeRecipeMergeRule" useGeneratedKeys="false">
		     insert into htcg_scheme_recipe_merge_rule
			  (group_id,
			   hos_id,
			   copy_code,
			   scheme_code,
			   drgs_code,
			   recipe_merge_code)
			values
			  (#{group_id},
			   #{hos_id},
			   #{copy_code},
			   #{scheme_code},
			   #{drgs_code},
			   #{recipe_merge_code})
					     
	</insert>
	
	<insert id="addHtcgBatchSchemeRecipeMergeRule" parameterType="java.util.List">
               insert into htcg_scheme_recipe_merge_rule
				  (group_id,
				   hos_id,
				   copy_code,
				   scheme_code,
				   drgs_code,
				   recipe_merge_code)
		<foreach collection="list" item="item" separator="union all">
			select
				   #{item.group_id},
				   #{item.hos_id},
				   #{item.copy_code},
				   #{item.scheme_code},
				   #{item.drgs_code},
				   #{item.recipe_merge_code}
		   from dual
		</foreach>
	</insert>
	
	<insert id="initHtcgSchemeRecipeMergeRule" parameterType="java.util.Map">

		    insert into htcg_scheme_recipe_merge_rule
				  (group_id,
				   hos_id,
				   copy_code,
				   scheme_code,
				   drgs_code,
				   recipe_merge_code)
			 select 
			    hsd.group_id,
				hsd.hos_id,
				hsd.copy_code,
				hsd.scheme_code,
				hsd.drgs_code,
				'01' recipe_merge_code
			 from htcg_scheme_drgs hsd
			 where hsd.group_id = #{group_id}
			 and hsd.hos_id = #{hos_id}
			 and hsd.copy_code = #{copy_code}
			 and not exists (
			  select 1 from htcg_scheme_recipe_merge_rule hsrmr
				where hsrmr.group_id = hsd.group_id
				and hsrmr.hos_id = hsd.hos_id
				and hsrmr.copy_code = hsd.copy_code
				and hsrmr.scheme_code = hsd.scheme_code
				and hsrmr.drgs_code = hsd.drgs_code
			 )
	    order by  hsd.group_id,hsd.hos_id,hsd.copy_code,hsd.scheme_code,hsd.drgs_code
	</insert>

	<update id="updateSchemeRecipeMergeRule" parameterType="java.util.Map">
		update htcg_scheme_recipe_merge_rule
	   set recipe_merge_code = #{recipe_merge_code}
	   where group_id = #{group_id}
	   and hos_id = #{hos_id}
	   and copy_code = #{copy_code}
	   and scheme_code = #{scheme_code}
	   and drgs_code = #{drgs_code}
	</update>
	
	<update id="updateBatchHtcgSchemeRecipeMergeRule" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			update htcg_scheme_recipe_merge_rule
			   set recipe_merge_code = #{item.recipe_merge_code}
			   where group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and scheme_code = #{item.scheme_code}
			   and drgs_code = #{item.drgs_code}
       </foreach>
	</update>
	

	<delete id="deleteHtcgSchemeRecipeMergeRule" parameterType="java.util.Map">
		delete htcg_scheme_recipe_merge_rule
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and scheme_code = #{scheme_code}
		   and drgs_code = #{drgs_code}
	</delete>
	
	<delete id="deleteBatchHtcgSchemeRecipeMergeRule" parameterType="java.util.List">
           delete htcg_scheme_recipe_merge_rule where 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			  group_id = #{item.group_id}
			  and hos_id = #{item.hos_id}
			  and copy_code= #{item.copy_code}
			  and scheme_code= #{item.scheme_code}
			  and drgs_code= #{item.drgs_code}
		</foreach> 
	</delete>

	<select id="queryHtcgSchemeRecipeMergeRuleByCode" parameterType="java.util.Map"
		resultMap="schemeRecipeMergeRule">

		    select hsrmr.group_id,
		           hsrmr.hos_id,
		           hsrmr.copy_code,
		           hsrmr.scheme_code,
				   hs.scheme_name,
		           hsrmr.drgs_code,
				   hd.drgs_name,
		           hsrmr.recipe_merge_code,
				   hrmrd.recipe_merge_name
		  from htcg_scheme_recipe_merge_rule hsrmr
			left join htcg_scheme hs
			on hsrmr.group_id = hs.group_id
			and hsrmr.hos_id = hs.hos_id
			and hsrmr.copy_code = hs.copy_code
			and hsrmr.scheme_code = hs.scheme_code
			left join htcg_drgs hd
			on hsrmr.group_id = hd.group_id
			and hsrmr.hos_id = hd.hos_id
			and hsrmr.copy_code = hd.copy_code
			and hsrmr.drgs_code = hd.drgs_code
			left join htcg_recipe_merge_rule_dict hrmrd
			on  hsrmr.recipe_merge_code = hrmrd.recipe_merge_code
			where  hsrmr.group_id = #group_id}
		    and    hsrmr.hos_id = #{hos_id}
		    and    hsrmr.copy_code = #{copy_code}
		    and    hsrmr.scheme_code = #{scheme_code}
		    and    hsrmr.drgs_code = #{drgs_code}

	</select>
	<select id="queryHtcgSchemeRecipeMergeRule" parameterType="java.util.Map"
		resultMap="schemeRecipeMergeRule">
            select hsrmr.group_id,
		           hsrmr.hos_id,
		           hsrmr.copy_code,
		           hsrmr.scheme_code,
				   hs.scheme_name,
		           hsrmr.drgs_code,
				   hd.drgs_name,
		           hsrmr.recipe_merge_code,
				   hrmrd.recipe_merge_name
		  from htcg_scheme_recipe_merge_rule hsrmr
			left join htcg_scheme hs
			on hsrmr.group_id = hs.group_id
			and hsrmr.hos_id = hs.hos_id
			and hsrmr.copy_code = hs.copy_code
			and hsrmr.scheme_code = hs.scheme_code
			left join htcg_drgs hd
			on hsrmr.group_id = hd.group_id
			and hsrmr.hos_id = hd.hos_id
			and hsrmr.copy_code = hd.copy_code
			and hsrmr.drgs_code = hd.drgs_code
			left join htcg_recipe_merge_rule_dict hrmrd
			on  hsrmr.recipe_merge_code = hrmrd.recipe_merge_code
			<where> hsrmr.group_id = #{group_id}
		        and hsrmr.hos_id = #{hos_id}
		        and hsrmr.copy_code = #{copy_code}
			 <if test="scheme_code != null and scheme_code != ''">
				and hsrmr.scheme_code = #{scheme_code}
			</if>
			</where>
		     order by hsrmr.group_id,hsrmr.hos_id,hsrmr.copy_code,hsrmr.scheme_code,hsrmr.drgs_code
	</select>

</mapper>

