<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.making.HtcgSchemeSimilarTreatMapper">
	<resultMap id="schemeSimilarTreat" type="com.chd.hrp.htcg.entity.making.HtcgSchemeSimilarTreat">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="scheme_code" column="scheme_code"/>
        <result property="scheme_name" column="scheme_name"/>
        <result property="drgs_code" column="drgs_code"/>
        <result property="drgs_name" column="drgs_name"/>
        <result property="charge_nature_code" column="charge_nature_code"/>
        <result property="charge_nature_name" column="charge_nature_name"/>
        <result property="charge_code" column="charge_code"/>
        <result property="charge_name" column="charge_name"/>
        <result property="similar_code" column="similar_code"/>
        <result property="similar_name" column="similar_name"/>
	</resultMap>
	
    <insert id="addHtcgSchemeSimilarTreat" useGeneratedKeys="true" >
         insert into htcg_scheme_similar_treat
				  (group_id,
				   hos_id,
				   copy_code,
				   scheme_code,
				   drgs_code,
				   charge_nature_code,
				   charge_code,
				   similar_code)
				values
				  (#{group_id},
				   #{hos_id},
				   #{copy_code},
				   #{scheme_code},
				   #{drgs_code},
				   #{charge_nature_code},
				   #{charge_code},
				   #{similar_code})
    </insert>
    
    <insert id="addBatchHtcgSchemeSimilarTreat" parameterType="java.util.List">
                insert into htcg_scheme_similar_treat
					  (group_id,
					   hos_id,
					   copy_code,
					   scheme_code,
					   drgs_code,
					   charge_nature_code,
					   charge_code,
					   similar_code)
		<foreach collection="list" item="item" separator="union all">
		         select
			           #{item.group_id},
					   #{item.hos_id},
					   #{item.copy_code},
					   #{item.scheme_code},
					   #{item.drgs_code},
					   #{item.charge_nature_code},
					   #{item.charge_code},
					   #{item.similar_code}
				  from dual
		</foreach>
    </insert>

	<update id="updateHtcgSchemeSimilarTreat" parameterType="java.util.Map">
           update htcg_scheme_similar_treat
			   set similar_code = #{similar_code}
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and scheme_code = #{scheme_code}
			   and drgs_code = #{drgs_code}
			   and charge_nature_code = #{charge_nature_code}
			   and charge_code = #{charge_code}
	</update>
	
	<update id="updateBatchHtcgSchemeSimilarTreat" parameterType="java.util.List">
          <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		     update htcg_scheme_similar_treat
			   set similar_code = #{item.similar_code}
			 where group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and scheme_code = #{item.scheme_code}
			   and drgs_code = #{item.drgs_code}
			   and charge_nature_code = #{item.charge_nature_code}
			   and charge_code = #{item.charge_code}
       </foreach>
	</update>

    <delete id="deleteHtcgSchemeSimilarTreat" parameterType="java.util.Map">
       delete htcg_scheme_similar_treat
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and scheme_code = #{scheme_code}
		   and drgs_code = #{drgs_code}
		   and charge_nature_code = #{charge_nature_code}
		   and charge_code = #{charge_code}
    </delete>
    
    <delete id="deleteBatchHtcgSchemeSimilarTreat" parameterType="java.util.List">
		 delete htcg_scheme_similar_treat where 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			   group_id = #{item.group_id}
		   and hos_id = #{item.hos_id}
		   and copy_code = #{item.copy_code}
		   and scheme_code = #{item.scheme_code}
		   and drgs_code = #{item.drgs_code}
		   and charge_nature_code = #{item.charge_nature_code}
		   and charge_code = #{item.charge_code}
		</foreach> 
	</delete>
    
    <select id="queryHtcgSchemeSimilarTreatByCode" parameterType="java.util.Map" resultMap="schemeSimilarTreat" >
      
			select hsst.group_id,
			       hsst.hos_id,
			       hsst.copy_code,
			       hsst.scheme_code,
			       hs.scheme_name,
			       hsst.drgs_code,
			       hd.drgs_name,
			       hsst.charge_nature_code,
			       hcn.charge_nature_name,
			       hsst.charge_code as charge_code,
			       decode(hsst.charge_nature_code,
			              '01',
			              charge_ccia.charge_item_name,
			              '02',
			              charge_hdd.drug_name,
			              '03',
			              charge_hmd.mate_name) as charge_name,
			       hsst.similar_code,
			       decode(hsst.charge_nature_code,
			              '01',
			              similar_ccia.charge_item_name,
			              '02',
			              similar_hdd.drug_name,
			              '03',
			              similar_hmd.mate_name) as similar_name
			  from htcg_scheme_similar_treat hsst
			  left join htcg_scheme hs
			    on hsst.group_id = hs.group_id
			   and hsst.hos_id = hs.hos_id
			   and hsst.copy_code = hs.copy_code
			   and hsst.scheme_code = hs.scheme_code
			  left join htcg_drgs hd
			    on hsst.group_id = hd.group_id
			   and hsst.hos_id = hd.hos_id
			   and hsst.copy_code = hd.copy_code
			   and hsst.drgs_code = hd.drgs_code
			  left join htcg_charge_nature hcn
			    on hsst.charge_nature_code = hcn.charge_nature_code
			  left join cost_charge_item_arrt charge_ccia
			    on hsst.group_id = charge_ccia.group_id
			   and hsst.hos_id = charge_ccia.hos_id
			   and hsst.copy_code = charge_ccia.copy_code
			   and hsst.charge_code = charge_ccia.charge_item_code
			  left join htcg_drug_dict charge_hdd
			    on hsst.group_id = charge_hdd.group_id
			   and hsst.hos_id = charge_hdd.hos_id
			   and hsst.copy_code = charge_hdd.copy_code
			   and hsst.charge_code = charge_hdd.drug_code
			  left join htc_material_dict charge_hmd
			    on hsst.group_id = charge_hmd.group_id
			   and hsst.hos_id = charge_hmd.hos_id
			   and hsst.copy_code = charge_hmd.copy_code
			   and hsst.charge_code = charge_hmd.mate_code
			   and charge_hmd.is_stop = 0
			  left join cost_charge_item_arrt similar_ccia
			    on hsst.group_id = similar_ccia.group_id
			   and hsst.hos_id = similar_ccia.hos_id
			   and hsst.copy_code = similar_ccia.copy_code
			   and hsst.similar_code = similar_ccia.charge_item_code
			  left join htcg_drug_dict similar_hdd
			    on hsst.group_id = similar_hdd.group_id
			   and hsst.hos_id = similar_hdd.hos_id
			   and hsst.copy_code = similar_hdd.copy_code
			   and hsst.similar_code = similar_hdd.drug_code
			  left join htc_material_dict similar_hmd
			    on hsst.group_id = similar_hmd.group_id
			   and hsst.hos_id = similar_hmd.hos_id
			   and hsst.copy_code = similar_hmd.copy_code
			   and hsst.similar_code = similar_hmd.mate_code
			   and similar_hmd.is_stop = '0'
		 where hsst.group_id = #{group_id}
		   and hsst.hos_id = #{hos_id}
		   and hsst.copy_code = #{copy_code}
		   and hsst.scheme_code = #{scheme_code}
		   and hsst.drgs_code = #{drgs_code}
		   and hsst.charge_nature_code = #{charge_nature_code}
		   and hsst.charge_code = #{charge_code}
        
	</select>
	<select id="queryHtcgSchemeSimilarTreat" parameterType="java.util.Map" resultMap="schemeSimilarTreat" >
        
        select hsst.group_id,
       hsst.hos_id,
       hsst.copy_code,
       hsst.scheme_code,
       hs.scheme_name,
       hsst.drgs_code,
       hd.drgs_name,
       hsst.charge_nature_code,
       hcn.charge_nature_name,
       hsst.charge_code as charge_code,
       decode(hsst.charge_nature_code,
              '01',
              charge_ccia.charge_item_name,
              '02',
              charge_hdd.drug_name,
              '03',
              charge_hmd.mate_name) as charge_name,
       hsst.similar_code,
       decode(hsst.charge_nature_code,
              '01',
              similar_ccia.charge_item_name,
              '02',
              similar_hdd.drug_name,
              '03',
              similar_hmd.mate_name) as similar_name
  from htcg_scheme_similar_treat hsst
  left join htcg_scheme hs
    on hsst.group_id = hs.group_id
   and hsst.hos_id = hs.hos_id
   and hsst.copy_code = hs.copy_code
   and hsst.scheme_code = hs.scheme_code
  left join htcg_drgs hd
    on hsst.group_id = hd.group_id
   and hsst.hos_id = hd.hos_id
   and hsst.copy_code = hd.copy_code
   and hsst.drgs_code = hd.drgs_code
  left join htcg_charge_nature hcn
    on hsst.charge_nature_code = hcn.charge_nature_code
  left join cost_charge_item_arrt charge_ccia
    on hsst.group_id = charge_ccia.group_id
   and hsst.hos_id = charge_ccia.hos_id
   and hsst.copy_code = charge_ccia.copy_code
   and hsst.charge_code = charge_ccia.charge_item_code
  left join htcg_drug_dict charge_hdd
    on hsst.group_id = charge_hdd.group_id
   and hsst.hos_id = charge_hdd.hos_id
   and hsst.copy_code = charge_hdd.copy_code
   and hsst.charge_code = charge_hdd.drug_code
  left join htc_material_dict charge_hmd
    on hsst.group_id = charge_hmd.group_id
   and hsst.hos_id = charge_hmd.hos_id
   and hsst.copy_code = charge_hmd.copy_code
   and hsst.charge_code = charge_hmd.mate_code
   and charge_hmd.is_stop = 0
  left join cost_charge_item_arrt similar_ccia
    on hsst.group_id = similar_ccia.group_id
   and hsst.hos_id = similar_ccia.hos_id
   and hsst.copy_code = similar_ccia.copy_code
   and hsst.similar_code = similar_ccia.charge_item_code
  left join htcg_drug_dict similar_hdd
    on hsst.group_id = similar_hdd.group_id
   and hsst.hos_id = similar_hdd.hos_id
   and hsst.copy_code = similar_hdd.copy_code
   and hsst.similar_code = similar_hdd.drug_code
  left join htc_material_dict similar_hmd
    on hsst.group_id = similar_hmd.group_id
   and hsst.hos_id = similar_hmd.hos_id
   and hsst.copy_code = similar_hmd.copy_code
   and hsst.similar_code = similar_hmd.mate_code
   and similar_hmd.is_stop = '0'
	<where> hsst.group_id = #{group_id}
	    and hsst.hos_id = #{hos_id}
	    and hsst.copy_code = #{copy_code}
	    <if test="scheme_code != null and scheme_code != ''">
           and hsst.scheme_code = #{scheme_code}
        </if>
        <if test="drgs_code != null and drgs_code != ''">
           and hsst.drgs_code = #{drgs_code}
        </if>
        <if test="charge_nature_code != null and charge_nature_code != ''">
           and hsst.charge_nature_code = #{charge_nature_code}
        </if>
	</where>
	  order by hsst.group_id,hsst.hos_id,hsst.copy_code,hsst.scheme_code,hsst.drgs_code,hsst.charge_nature_code
    </select>
</mapper>

