<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.books.subjaccount.AccMultiPlanMapper">
 
	<resultMap id="accMultiPlan" type="com.chd.hrp.acc.entity.AccMultiPlan">
        <result property="plan_code" column="plan_code"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="plan_name" column="plan_name"/>
        <result property="analy_type" column="analy_type"/>
        <result property="note" column="note"/>
	</resultMap>
	<resultMap id="accMultiPlanMap" type="java.util.Map">
        <result property="plan_code" column="plan_code"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="plan_name" column="plan_name"/>
        <result property="analy_type" column="analy_type"/>
        <result property="note" column="note"/>
	</resultMap>
	
	<resultMap type="com.chd.hrp.acc.entity.HrpAccSelect" id="hrpAccSelect">
		<result property="id" column="id" />
		<result property="text" column="text" />
		<result property="nature_code" column="nature_code" />
		<result property="nature_name" column="nature_name" />
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
	</resultMap>
	
    <insert id="addAccMultiPlan" useGeneratedKeys="true" >
    
        INSERT INTO ACC_MULTI_PLAN (
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    plan_code
             ,
             		plan_name
             ,
             		subj_code
             ,
             		analy_type
             ,
             		note
			 
        ) VALUES (
					#{group_id}
			 ,
                    #{hos_id}
			 ,
                    #{copy_code}
			 ,
                    #{plan_code}
             ,
             		#{plan_name}
             ,
             		#{subj_code}
             ,
             		#{analy_type}
             ,
             		#{note}
        )
    
    </insert>
	<insert id="addBatchAccMultiPlan" parameterType="java.util.List" >
    
        INSERT INTO ACC_MULTI_PLAN (
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    plan_code
             ,
             		plan_name
             ,
             		subj_code
             ,
             		analy_type
             ,
             		note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
					#{item.group_id}
			 ,
                    #{item.hos_id}
			 ,
                    #{item.copy_code}
			 ,
                    #{item.plan_code}
             ,
             		#{item.plan_name}
             ,
             		#{item.subj_code}
             ,
             		#{item.analy_type}
             ,
             		#{item.note}		 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateAccMultiPlan" parameterType="java.util.Map">
    
        UPDATE ACC_MULTI_PLAN SET
			 plan_name = #{plan_name,jdbcType=VARCHAR},
			 subj_code = #{subj_code,jdbcType=VARCHAR},
			 note = #{note,jdbcType=VARCHAR},
			 analy_type = #{analy_type,jdbcType=INTEGER}
        WHERE 
		 plan_code = #{plan_code,jdbcType=INTEGER}
			  and 
		 group_id = #{group_id,jdbcType=INTEGER}
			  and 
		 hos_id = #{hos_id,jdbcType=INTEGER}
			  and 
		 copy_code = #{copy_code,jdbcType=VARCHAR}
			 
	</update>
	<update id="updateBatchAccMultiPlan" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE ACC_MULTI_PLAN SET
			 plan_name = #{item.plan_name},
			 note = #{item.note},
			 analy_type = #{item.analy_type}
        WHERE 
		 plan_code = #{item.plan_code}
			  and 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 copy_code = #{item.copy_code}
			 
    </foreach>
	</update>

    <delete id="deleteAccMultiPlan" parameterType="java.util.Map">
   
        DELETE FROM ACC_MULTI_PLAN WHERE
	        plan_code = #{plan_code}   and 
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id}   and 
	        copy_code = #{copy_code} 
   
    </delete>
    <delete id="deleteBatchAccMultiPlan" parameterType="java.util.List">
        DELETE FROM ACC_MULTI_PLAN WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 plan_code = #{item.plan_code}
			  and 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 copy_code = #{item.copy_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryAccMultiPlanByCode" resultType="com.chd.hrp.acc.entity.AccMultiPlan" parameterType="string" >
	  
        SELECT 
            plan_code,
            group_id,
            hos_id,
            copy_code,
            plan_name,
           	analy_type,
           	note
		FROM ACC_MULTI_PLAN 
	        where
		       plan_code = #{column_code,jdbcType=VARCHAR} 
	    	 and group_id = #{group_id,jdbcType=INTEGER} 
	    	  and hos_id = #{hos_id,jdbcType=INTEGER}  
	    	 and  copy_code = #{copy_code,jdbcType=VARCHAR}  
	 
	        
	</select>
	<select id="queryAccMultiPlan" parameterType="java.util.Map" resultMap="accMultiPlan" >
      
        SELECT 
            plan_code,
            group_id,
            hos_id,
            copy_code,
            plan_name,
           	analy_type,
           	note
        FROM ACC_MULTI_PLAN 
            <where>                     
			    <if test="plan_code != null and plan_code != ''">
                    AND plan_code = #{plan_code}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="plan_name != null and plan_name != ''">
                    AND plan_name = #{plan_name}
               </if>
        </where>   
				order by plan_code asc
    </select>
	<select id="queryByCode" parameterType="java.util.Map" resultMap="accMultiPlanMap" >
      
        SELECT 
            plan_code,
            group_id,
            hos_id,
            copy_code,
            plan_name,
           	analy_type,
           	subj_code,
           	note
        FROM ACC_MULTI_PLAN 
   	   where 
           group_id = #{group_id}
       AND hos_id = #{hos_id}
       AND copy_code = #{copy_code}
       AND plan_code = #{plan_code}
    </select>
    
    <select id="queryAccSubjList" resultMap="hrpAccSelect">
		SELECT
		subj_code id,
		subj_code||' '||SUBJ_NAME text
		FROM ACC_SUBJ
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="acc_year != null  and acc_year != ''">
				and acc_year = #{acc_year}
			</if>
			<if test="subj_id != null and subj_id != ''">
				and subj_id = #{subj_id}
			</if>
			<if test="subj_nature_code != null  and subj_nature_code != ''">
				and SUBJ_NATURE_CODE = #{subj_nature_code}
			</if>
			<if test="SUBJ_NATURE_CODE1 != null  and SUBJ_NATURE_CODE1 != ''">
				and SUBJ_NATURE_CODE in (#{SUBJ_NATURE_CODE1},#{SUBJ_NATURE_CODE2})
			</if>
			 <if test="check_type_id != null  and check_type_id != ''">
			 	and (check1 = #{check_type_id} or check2 = #{check_type_id} or check3 = #{check_type_id} or check4 = #{check_type_id})
			 </if>
			 <!-- <if test="subj_nature_code != null and subj_nature_code !='' ">
			 	and subj_nature_code=#{subj_nature_code}
			 </if> -->
			 <if test="subj_type_code != null and subj_type_code !='' ">
			 	and (subj_type_code = #{subj_type_code}
				 <if test="subj_type_code1 != null and subj_type_code1 !='' ">
				 	or subj_type_code1 = #{subj_type_code1}
				 </if>
				 )
			 </if>
			 <if test="is_last != null and is_last !='' ">
			 	and is_last=#{is_last}
			 </if>
			 <if test="check_type_code != null and check_type_code !='' ">
			 	and (check1 in (check_type_code) 
			 			or check2 in (check_type_code) 
			 			or check3 in (check_type_code)
			 			or check4 in (check_type_code))
			 </if>
			 <if test="extras != null and extras != '' ">
			 	and subj_nature_code&lt;&gt;#{extras}
			 </if>
			<if test="subj_code != null and subj_code != ''">
				and SUBJ_CODE like '${subj_code}%' 
			</if>
		</where>
		order by SUBJ_CODE
	</select>
    <select id="quertMaxMulti" resultType="java.lang.String" parameterType="java.util.Map">
    select max(a.plan_code)
	  from ACC_MULTI_PLAN a
	 where a.group_id = #{group_id}
	   and a.hos_id = #{hos_id}
	   and a.copy_code = #{copy_code}
    
    </select>
</mapper>

