<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmCustomTemplateReportConfMapper">
	
	<!-- 结果集 -->
	<resultMap id="prmCustomTemplateReportConfMap" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="template_code" column="template_code"/>
		<result property="template_type" column="template_type"/>
		<result property="template_name" column="template_name"/>
		<result property="template_kind_code" column="template_kind_code"/>
		<result property="template_sql" column="template_sql"/>
	</resultMap>
	
	<!-- 模板分类结果集 -->
	<resultMap id="prmTemplateKindMap" type="java.util.Map">
		<result property="template_kind_code" column="template_kind_code"/>
		<result property="template_kind_name" column="template_kind_name"/>
	</resultMap>
	
	
	<resultMap type="java.util.Map" id="hpmSelect">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>	
	
	<!-- 查询 -->
	<select id="queryPrmCustomTemplateReportConf" parameterType="java.util.Map" resultType="com.chd.hrp.prm.entity.PrmCustomTemplateReportConf">
		SELECT 
			atrc.group_id	,
		  	atrc.hos_id	,
		  	atrc.copy_code	,
		  	atrc.template_code	,
		  	atrc.template_type	,
		  	atrc.template_name	,
		  	atrc.template_kind_code,
		  	atk.template_kind_name,
		  	atrc.template_sql
		FROM PRM_TEMPLATE_REPORT_CONF atrc
		LEFT JOIN PRM_TEMPLATE_KIND atk
		ON
			atrc.template_kind_code = atk.template_kind_code
			and atk.is_stop = 0
		WHERE
			atrc.group_id = #{group_id}
			AND atrc.hos_id = #{hos_id}
			AND atrc.copy_code = #{copy_code}
			
			<if test="template_code != null and template_code != ''">
				AND atrc.template_code = #{template_code}
			</if>
			
			<if test="template_name != null and template_name != ''">
				AND atrc.template_name = #{template_name}
			</if>
			
			<if test="template_type != null and template_type != ''">
				AND atrc.template_type = #{template_type}
			</if>
		ORDER BY atrc.template_type ASC
	</select>
	
	
	<!-- 根据编码查询 -->
	<select id="queryPrmCustomTemplateReportConfByCode" parameterType="java.util.Map" resultType="com.chd.hrp.prm.entity.PrmCustomTemplateReportConf">
		SELECT 
			GROUP_ID	,
		  	HOS_ID	,
		  	COPY_CODE	,
		  	TEMPLATE_CODE	,
		  	TEMPLATE_TYPE	,
		  	TEMPLATE_NAME	,
		  	TEMPLATE_KIND_CODE,
		  	TEMPLATE_SQL
		FROM PRM_TEMPLATE_REPORT_CONF
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			
			<if test="template_code != null and template_code != ''">
				AND template_code = #{template_code}
			</if>
			
			<if test="template_type != null and template_type != ''">
				AND template_type = #{template_type}
			</if>
	</select>
	
	
	<!-- 查询菜单 -->
	<select id="queryPrmCustomTemplateReportTree" parameterType="java.util.Map" resultType="java.util.TreeMap">
		SELECT 
			DISTINCT template_code,template_name,template_kind_code
		FROM PRM_TEMPLATE_REPORT_CONF
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
		ORDER BY template_code ASC
	</select>
	
	
	<!-- 添加 -->
	<insert id="addPrmCustomTemplateReportConf" parameterType="java.util.Map">
		INSERT INTO PRM_TEMPLATE_REPORT_CONF(
			GROUP_ID	,
		  	HOS_ID	,
		  	COPY_CODE	,
		  	TEMPLATE_CODE	,
		  	TEMPLATE_TYPE	,
		  	TEMPLATE_NAME	,
		  	TEMPLATE_KIND_CODE,
		  	TEMPLATE_CODE,
		  	TEMPLATE_SQL
		) VALUES(
			#{group_id},
			#{hos_id},
			#{copy_code},
			#{template_code},
			#{template_type},
			#{template_name},
			#{template_kind_code},
			#{template_code},
			#{template_sql}
		)
	</insert>
	
	
	<!-- 批量添加 -->
	<insert id="addBatchPrmCustomTemplateReportConf" parameterType="java.util.Map">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
			INSERT INTO PRM_TEMPLATE_REPORT_CONF(
				GROUP_ID	,
			  	HOS_ID	,
			  	COPY_CODE	,
			  	TEMPLATE_CODE	,
			  	TEMPLATE_TYPE	,
			  	TEMPLATE_NAME	,
			  	TEMPLATE_KIND_CODE,
			  	TEMPLATE_SQL
			) VALUES(
				#{item.group_id},
				#{item.hos_id},
				#{item.copy_code},
				#{item.template_code},
				#{item.template_type},
				#{item.template_name},
				#{item.template_kind_code},
				#{item.template_sql}
			)
		</foreach>
	</insert>
	
	
	<!-- 修改 -->
	<update id="updatePrmCustomTemplateReportConf" parameterType="java.util.Map">
		SELECT 1 FROM DUAL
	</update>
	
	<!-- 删除-->
	<delete id="deletePrmCustomTemplateReportConf" parameterType="java.util.Map">
		DELETE FROM PRM_TEMPLATE_REPORT_CONF
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND template_code = #{template_code}
			
			<if test="template_type != null and template_type != '' ">
				AND template_type = #{template_type}
			</if>
	</delete>
	
	
	<!-- 查询模板分类 -->
	<select id="queryPrmTemplateKindList" parameterType="java.util.Map" resultMap="prmTemplateKindMap">
		SELECT
			template_kind_code,
			template_kind_name
		FROM PRM_TEMPLATE_KIND
		WHERE
			is_stop = 0 
	</select>
	
	<select id="queryPrmTemplateKind" resultMap="hpmSelect">
	SELECT 
		  	template_kind_code as id,
		  	template_kind_name as text
		FROM PRM_TEMPLATE_KIND
		WHERE
		  	is_stop =0
			AND (
		  		template_kind_code LIKE '%${key}%' or 
		  		template_kind_name LIKE '%${key}%' or
		  		spell_code LIKE '%${key}%' or
		  		wbx_code LIKE '%${key}%' 
		  	)
	
	</select>
</mapper>