<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.back.source.AssBackSourceOtherMapper">
	
	<resultMap id="assBackSourceOther" type="com.chd.hrp.ass.entity.back.source.AssBackSourceOther">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_back_no" column="ass_back_no"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="source_id" column="source_id"/>
	<result property="price" column="price"/>
	<result property="now_depre" column="now_depre"/>
	<result property="now_manage_depre" column="now_manage_depre"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_manage_depre" column="add_manage_depre"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="assBackSourceOtherMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_back_no" column="ass_back_no"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="source_id" column="source_id"/>
	<result property="price" column="price"/>
	<result property="now_depre" column="now_depre"/>
	<result property="now_manage_depre" column="now_manage_depre"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_manage_depre" column="add_manage_depre"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="note" column="note"/>
	</resultMap>
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_BACK_SOURCE_Other (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="ass_back_no != null and ass_back_no != ''">
		ass_back_no
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no
		,
		</if>
		<if test="source_id != null and source_id != ''">
		source_id
		,
		</if>
		<if test="price != null and price != ''">
		price
		,
		</if>
		<if test="now_depre != null and now_depre != ''">
		now_depre
		,
		</if>
		<if test="now_manage_depre != null and now_manage_depre != ''">
		now_manage_depre
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		add_depre
		,
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		add_manage_depre
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_back_no != null and ass_back_no != ''">
		#{ass_back_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		#{ass_card_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="source_id != null and source_id != ''">
		#{source_id,jdbcType=INTEGER}
		,
		</if>
		<if test="price != null and price != ''">
		#{price,jdbcType=INTEGER}
		,
		</if>
		<if test="now_depre != null and now_depre != ''">
		#{now_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="now_manage_depre != null and now_manage_depre != ''">
		#{now_manage_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		#{add_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		#{add_manage_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		#{cur_money,jdbcType=INTEGER}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		#{fore_money,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_BACK_SOURCE_Other (
		group_id
		,
		hos_id
		,
		copy_code
		,
		ass_back_no
		,
		ass_card_no
		,
		source_id
		,
		price
		,
		now_depre
		,
		now_manage_depre
		,
		add_depre
		,
		add_manage_depre
		,
		cur_money
		,
		fore_money
		,
		note
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.ass_back_no,jdbcType=VARCHAR}
			,
			#{item.ass_card_no,jdbcType=VARCHAR}
			,
			#{item.source_id,jdbcType=INTEGER}
			,
			<if test="item.price != null and item.price != ''">#{item.price,jdbcType=INTEGER}</if>
			<if test="item.price == null or item.price == ''">null price</if>
			,
			<if test="item.now_depre != null and item.now_depre != ''">#{item.now_depre,jdbcType=INTEGER}</if>
			<if test="item.now_depre == null or item.now_depre == ''">0 now_depre</if>
			,
			<if test="item.now_manage_depre != null and item.now_manage_depre != ''">#{item.now_manage_depre,jdbcType=INTEGER}</if>
			<if test="item.now_manage_depre == null or item.now_manage_depre == ''">0 now_manage_depre</if>
			,
			<if test="item.add_depre != null and item.add_depre != ''">#{item.add_depre,jdbcType=INTEGER}</if>
			<if test="item.add_depre == null or item.add_depre == ''">null add_depre</if>
			,
			<if test="item.add_manage_depre != null and item.add_manage_depre != ''">#{item.add_manage_depre,jdbcType=INTEGER}</if>
			<if test="item.add_manage_depre == null or item.add_manage_depre == ''">null add_manage_depre</if>
			,
			<if test="item.cur_money != null and item.cur_money != ''">#{item.cur_money,jdbcType=INTEGER}</if>
			<if test="item.cur_money == null or item.cur_money == ''">null cur_money</if>
			,
			<if test="item.fore_money != null and item.fore_money != ''">#{item.fore_money,jdbcType=INTEGER}</if>
			<if test="item.fore_money == null or item.fore_money == ''">null fore_money</if>
			,
			<if test="item.note != null and item.note != ''">#{item.note,jdbcType=INTEGER}</if>
			<if test="item.note == null or item.note == ''">null note</if>
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ASS_BACK_SOURCE_Other 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="price != null and price != ''">
		price = #{price,jdbcType=INTEGER}
		,
		</if>
		<if test="now_depre != null and now_depre != ''">
		now_depre = #{now_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="now_manage_depre != null and now_manage_depre != ''">
		now_manage_depre = #{now_manage_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		add_depre = #{add_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money = #{cur_money,jdbcType=INTEGER}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money = #{fore_money,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_back_no != null and ass_back_no != ''">
		AND ass_back_no = #{ass_back_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="now_depre != null and now_depre != ''">
		AND now_depre = #{now_depre,jdbcType=INTEGER}
		</if>
		<if test="now_manage_depre != null and now_manage_depre != ''">
		AND now_manage_depre = #{now_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		AND add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ASS_BACK_SOURCE_Other 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.price != null and item.price != ''">
			price = #{item.price,jdbcType=INTEGER}
			,
			</if>
			<if test="item.now_depre != null and item.now_depre != ''">
			now_depre = #{item.now_depre,jdbcType=INTEGER}
			,
			</if>
			<if test="item.now_manage_depre != null and item.now_manage_depre != ''">
			now_manage_depre = #{item.now_manage_depre,jdbcType=INTEGER}
			,
			</if>
			<if test="item.add_depre != null and item.add_depre != ''">
			add_depre = #{item.add_depre,jdbcType=INTEGER}
			,
			</if>
			<if test="item.add_manage_depre != null and item.add_manage_depre != ''">
			add_manage_depre = #{item.add_manage_depre,jdbcType=INTEGER}
			,
			</if>
			<if test="item.cur_money != null and item.cur_money != ''">
			cur_money = #{item.cur_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.fore_money != null and item.fore_money != ''">
			fore_money = #{item.fore_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.ass_back_no != null and item.ass_back_no != ''">
			AND ass_back_no = #{item.ass_back_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.ass_card_no != null and item.ass_card_no != ''">
			AND ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.source_id != null and item.source_id != ''">
			AND source_id = #{item.source_id,jdbcType=INTEGER}
			</if>  
			<if test="item.price != null and item.price != ''">
			AND price = #{item.price,jdbcType=INTEGER}
			</if>  
			<if test="item.now_depre != null and item.now_depre != ''">
			AND now_depre = #{item.now_depre,jdbcType=INTEGER}
			</if>  
			<if test="item.now_manage_depre != null and item.now_manage_depre != ''">
			AND now_manage_depre = #{item.now_manage_depre,jdbcType=INTEGER}
			</if>  
			<if test="item.add_depre != null and item.add_depre != ''">
			AND add_depre = #{item.add_depre,jdbcType=INTEGER}
			</if>  
			<if test="item.add_manage_depre != null and item.add_manage_depre != ''">
			AND add_manage_depre = #{item.add_manage_depre,jdbcType=INTEGER}
			</if>  
			<if test="item.cur_money != null and item.cur_money != ''">
			AND cur_money = #{item.cur_money,jdbcType=INTEGER}
			</if>  
			<if test="item.fore_money != null and item.fore_money != ''">
			AND fore_money = #{item.fore_money,jdbcType=INTEGER}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{item.note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ASS_BACK_SOURCE_Other 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_back_no != null and ass_back_no != ''">
		AND ass_back_no = #{ass_back_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ASS_BACK_SOURCE_Other 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.ass_back_no != null and item.ass_back_no != ''">
				AND ass_back_no = #{item.ass_back_no,jdbcType=VARCHAR}
				</if>
				<if test="item.ass_card_no != null and item.ass_card_no != ''">
				AND ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
				</if>
				<if test="item.source_id != null and item.source_id != ''">
				AND source_id = #{item.source_id,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assBackSourceOther" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_back_no,
		ass_card_no,
		source_id,
		price,
		now_depre,
		now_manage_depre,
		add_depre,
		add_manage_depre,
		cur_money,
		fore_money,
		note
		FROM ASS_BACK_SOURCE_Other 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_back_no != null and ass_back_no != ''">
		AND ass_back_no = #{ass_back_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="now_depre != null and now_depre != ''">
		AND now_depre = #{now_depre,jdbcType=INTEGER}
		</if>
		<if test="now_manage_depre != null and now_manage_depre != ''">
		AND now_manage_depre = #{now_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		AND add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryByCode" resultMap="assBackSourceOther"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_back_no,
		ass_card_no,
		source_id,
		price,
		now_depre,
		now_manage_depre,
		add_depre,
		add_manage_depre,
		cur_money,
		fore_money,
		note
		FROM ASS_BACK_SOURCE_Other 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		ass_back_no = #{ass_back_no,jdbcType=VARCHAR}   and 
		ass_card_no = #{ass_card_no,jdbcType=VARCHAR}   and 
		source_id = #{source_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assBackSourceOther"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_back_no,
		ass_card_no,
		source_id,
		price,
		now_depre,
		now_manage_depre,
		add_depre,
		add_manage_depre,
		cur_money,
		fore_money,
		note
		FROM ASS_BACK_SOURCE_Other 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_back_no != null and ass_back_no != ''">
		AND ass_back_no = #{ass_back_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="now_depre != null and now_depre != ''">
		AND now_depre = #{now_depre,jdbcType=INTEGER}
		</if>
		<if test="now_manage_depre != null and now_manage_depre != ''">
		AND now_manage_depre = #{now_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		AND add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assBackSourceOther"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_back_no,
		ass_card_no,
		source_id,
		price,
		now_depre,
		now_manage_depre,
		add_depre,
		add_manage_depre,
		cur_money,
		fore_money,
		note
		FROM ASS_BACK_SOURCE_Other 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_back_no != null and ass_back_no != ''">
		AND ass_back_no = #{ass_back_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="now_depre != null and now_depre != ''">
		AND now_depre = #{now_depre,jdbcType=INTEGER}
		</if>
		<if test="now_manage_depre != null and now_manage_depre != ''">
		AND now_manage_depre = #{now_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		AND add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

