<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.contract.AssContractGroupHosMapper">
	
	<resultMap id="assContractGroupHos" type="com.chd.hrp.ass.entity.contract.AssContractGroupHos">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="group_contract_id" column="group_contract_id"/>
	<result property="hos_contract_id" column="hos_contract_id"/>
	</resultMap>
	
	<insert id="addAssContractGroupHos" useGeneratedKeys="true" >
	
		INSERT INTO ASS_contract_GROUP_HOS (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		group_contract_id
		,
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		hos_contract_id
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		#{group_contract_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		#{hos_contract_id,jdbcType=INTEGER}
		,
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatchAssContractGroupHos" parameterType="java.util.List" >
	
		INSERT INTO ASS_Contract_GROUP_HOS (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		group_contract_id
		,
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		hos_contract_id
		,
		</if>
		</trim>
		) select ASS_Contract_GROUP_HOS_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
			#{item.group_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_id != null and hos_id != ''">
			#{item.hos_id},jdbcType=INTEGER}
			,
			</if>
			<if test="copy_code != null and copy_code != ''">
			#{item.copy_code},jdbcType=VARCHAR}
			,
			</if>
			<if test="group_contract_id != null and group_contract_id != ''">
			#{item.group_contract_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_contract_id != null and hos_contract_id != ''">
			#{item.hos_contract_id},jdbcType=INTEGER}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateAssContractGroupHos" parameterType="java.util.Map">
	
		UPDATE ass_Contract_group_hos 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="group_id != null and group_id != ''">
		group_id = #{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id = #{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code = #{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		group_contract_id = #{group_contract_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		hos_contract_id = #{hos_contract_id,jdbcType=INTEGER}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		AND group_contract_id = #{group_contract_id,jdbcType=INTEGER}
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		AND hos_contract_id = #{hos_contract_id,jdbcType=INTEGER}
		</if>
		</where>  
	</update>
	<update id="updateBatchAssContractGroupHos" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_Contract_group_hos 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="group_id != null and group_id != ''">
			group_id = #{item.group_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_id != null and hos_id != ''">
			hos_id = #{item.hos_id},jdbcType=INTEGER}
			,
			</if>
			<if test="copy_code != null and copy_code != ''">
			copy_code = #{item.copy_code},jdbcType=VARCHAR}
			,
			</if>
			<if test="group_contract_id != null and group_contract_id != ''">
			group_contract_id = #{item.group_contract_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_contract_id != null and hos_contract_id != ''">
			hos_contract_id = #{item.hos_contract_id},jdbcType=INTEGER}
			,
			</if>
			</trim>
			<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="group_contract_id != null and group_contract_id != ''">
			AND group_contract_id = #{group_contract_id,jdbcType=INTEGER}
			</if>  
			<if test="hos_contract_id != null and hos_contract_id != ''">
			AND hos_contract_id = #{hos_contract_id,jdbcType=INTEGER}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="deleteAssContractGroupHos" parameterType="java.util.Map">
	
		DELETE FROM ass_Contract_group_hos 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		AND group_contract_id = #{group_contract_id,jdbcType=INTEGER}
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		AND hos_contract_id = #{hos_contract_id,jdbcType=INTEGER}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatchAssContractGroupHos" parameterType="java.util.List">
		DELETE FROM ass_contract_group_hos 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
				</if>
				<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				</if>
				<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
				</if>
				<if test="group_contract_id != null and group_contract_id != ''">
				AND group_contract_id = #{group_contract_id,jdbcType=INTEGER}
				</if>
				<if test="hos_contract_id != null and hos_contract_id != ''">
				AND hos_contract_id = #{hos_contract_id,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="queryAssContractGroupHos" parameterType="java.util.Map" resultMap="assContractGroupHos" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		group_contract_id,
		hos_contract_id
		FROM ASS_contract_GROUP_HOS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		AND group_contract_id = #{group_contract_id,jdbcType=INTEGER}
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		AND hos_contract_id = #{hos_contract_id,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssContractGroupHosByCode" resultMap="assContractGroupHos"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		group_contract_id,
		hos_contract_id
		FROM ass_contract_group_hos  
	
	</select>
	<select id="queryAssContractGroupHosByUniqueness" resultMap="assContractGroupHos"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		group_contract_id,
		hos_contract_id
		FROM ASS_Contract_GROUP_HOS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		AND group_contract_id = #{group_contract_id,jdbcType=INTEGER}
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		AND hos_contract_id = #{hos_contract_id,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssContractGroupHosExists" resultMap="assContractGroupHos"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		group_contract_id,
		hos_contract_id
		FROM ASS_Contract_GROUP_HOS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="group_contract_id != null and group_contract_id != ''">
		AND group_contract_id = #{group_contract_id,jdbcType=INTEGER}
		</if>
		<if test="hos_contract_id != null and hos_contract_id != ''">
		AND hos_contract_id = #{hos_contract_id,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

