<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.wagedata.AccDeptWageItemMapper">

	<resultMap id="accWagePay" type="com.chd.hrp.acc.entity.AccWagePay">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="wage_code" column="wage_code"/>
        <result property="wage_name" column="wage_name"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="emp_id" column="emp_id"/>
        <result property="emp_no" column="emp_no"/>
        <result property="pay_id" column="pay_id"/>
        <result property="dept_id" column="dept_id"/>
        <result property="dept_no" column="dept_no"/>
        <result property="kind_code" column="kind_code"/>
        <result property="kind_name" column="kind_name"/>
        <result property="pay_type_code" column="pay_type_code"/>
        <result property="pay_type_name" column="pay_type_name"/>
        <result property="station_code" column="station_code"/>
        <result property="station_name" column="station_name"/>
        <result property="duty_name" column="duty_name"/>
        <result property="duty_code" column="duty_code"/>
        <result property="sex" column="sex"/>
        <result property="id_number" column="id_number"/>
        <result property="user_id" column="user_id"/>
        <result property="create_date" column="create_date"/>
        <result property="state" column="state"/>
        <result property="note" column="note"/>
	</resultMap>

	
	<select id="queryAccDeptWageItem" parameterType="java.util.Map" resultType="java.util.Map" >
      
       select '合计' acc_year,'' dept_code, '' dept_name,'' emp_code,
		'' emp_name ${sum_item},'' note 
		from acc_wage_pay awp left join hos_emp_dict hed on
	  awp.group_id = hed.group_id
	  and awp.hos_id = hed.hos_id
	  and awp.emp_id = hed.emp_id
	  and awp.emp_no = hed.emp_no and hed.is_stop=0
	  left join hos_dept_dict hdd on 
	  hdd.group_id = awp.group_id
	  and hdd.hos_id = awp.hos_id
	  and hdd.dept_id = awp.dept_id
	  and hdd.dept_no = awp.dept_no
            <where>
            	<if test="scheme_id != null and scheme_id != ''">
				 exists(
			     select awsk.kind_code from acc_wage_s_kind awsk where 
			     awp.kind_code = awsk.kind_code and awsk.scheme_id =#{scheme_id}
			     )    
				</if>                      
			    <if test="group_id != null and group_id != ''">
                    AND awp.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND awp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND awp.copy_code = #{copy_code}
               </if>
			    <if test="wage_code != null and wage_code != ''">
                    AND awp.wage_code = #{wage_code}
               </if>
               <if test="dept_code != null and dept_code != ''">
                    AND hdd.dept_id = #{dept_code}
               </if>
               <if test="emp_code != null and emp_code != ''">
                    AND awp.emp_id = #{emp_code}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND awp.acc_year = #{acc_year}
               </if>
              <if test="acc_month != null and acc_month != ''">
                and   awp.acc_month &gt;=#{acc_month}
               </if>
               <if test="year_month != null and year_month != ''">
                 and  awp.acc_month   &lt;= #{year_month}
               </if>
               
        </where>   
	        group by awp.group_id,awp.hos_id,awp.copy_code
			union all
	       select * from　(
	       select 
	       awp.acc_year||'.'||awp.acc_month acc_year,
	       hdd.dept_code,
	       hdd.dept_name,
	       hed.emp_code,
	       hed.emp_name
	       ${item_code}
		   ,awp.note 
		  from acc_wage_pay awp
		  left join hos_emp_dict hed on
		  awp.group_id = hed.group_id
		  and awp.hos_id = hed.hos_id
		  and awp.emp_id = hed.emp_id
		  and awp.emp_no = hed.emp_no and hed.is_stop=0
		  left join hos_dept_dict hdd on 
		  hdd.group_id = awp.group_id
		  and hdd.hos_id = awp.hos_id
		  and hdd.dept_id = awp.dept_id
		  and hdd.dept_no = awp.dept_no
            <where>
            	<if test="scheme_id != null and scheme_id != ''">
				 exists(
			     select awsk.kind_code from acc_wage_s_kind awsk where 
			     awp.kind_code = awsk.kind_code and awsk.scheme_id =#{scheme_id}
			     )    
				</if>                      
			    <if test="group_id != null and group_id != ''">
                    AND awp.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND awp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND awp.copy_code = #{copy_code}
               </if>
			    <if test="wage_code != null and wage_code != ''">
                    AND awp.wage_code = #{wage_code}
               </if>
               <if test="kind_code != null and kind_code != ''">
                    AND awp.kind_code = #{kind_code}
               </if>
               <if test="dept_code != null and dept_code != ''">
                    AND hdd.dept_id = #{dept_code}
               </if>
               <if test="emp_code != null and emp_code != ''">
                    AND awp.emp_id = #{emp_code}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND awp.acc_year = #{acc_year}
               </if>
                 <if test="acc_month != null and acc_month != ''">
                and   awp.acc_month &gt;=#{acc_month}
               </if>
               <if test="year_month != null and year_month != ''">
                 and  awp.acc_month   &lt;= #{year_month}
               </if>
        </where>  
	      order by hdd.kind_code desc,hdd.dept_code )
    </select>
    
    <select id="queryAccDeptWageSum" parameterType="java.util.Map" resultType="java.util.Map" >
      with a_table as(
	      select  awp.kind_name, ado.out_code,ado.out_name type_name ${item_code}
				from acc_wage_pay awp left join acc_dept_attr ada
				on awp.group_id =ada.group_id and awp.hos_id = ada.hos_id
				and awp.dept_id=ada.dept_id 
				left join acc_dept_out ado on ada.out_code = ado.out_code 
				left join hos_dept_dict hdd 
				on awp.group_id =hdd.group_id and awp.hos_id = hdd.hos_id
				and awp.dept_id =hdd.dept_id and awp.dept_no = hdd.dept_no
	            <where>
				    <if test="group_id != null and group_id != ''">
	                    AND awp.group_id = #{group_id}
	               </if>
				    <if test="hos_id != null and hos_id != ''">
	                    AND awp.hos_id = #{hos_id}
	               </if>
				    <if test="copy_code != null and copy_code != ''">
	                    AND awp.copy_code = #{copy_code}
	               </if>
				    <if test="wage_code != null and wage_code != ''">
	                    AND awp.wage_code = #{wage_code}
	               </if>
	               <if test="kind_code != null and kind_code != ''">
	                    AND awp.kind_code = #{kind_code}
	               </if>
	               <if test="dept_code != null and dept_code != ''">
	                    AND hdd.dept_id = #{dept_code}
	               </if>
	               <if test="emp_code != null and emp_code != ''">
	                    AND awp.emp_id = #{emp_code}
	               </if>
				    <if test="acc_year != null and acc_year != ''">
	                    AND awp.acc_year = #{acc_year}
	               </if>
	               <if test="acc_month != null and acc_month != ''">
	                    AND awp.acc_month = #{acc_month}
	               </if>
	        </where>  
		      group by awp.kind_name, ado.out_name, awp.kind_code, ado.out_code
    		order by awp.kind_code desc,ado.out_name 
      ),b_table as(
      	select  awp.kind_name, '88' out_code,'小计' as type_name ${item_code}
				from acc_wage_pay awp left join acc_dept_attr ada
				on awp.group_id =ada.group_id and awp.hos_id = ada.hos_id
				and awp.dept_id=ada.dept_id 
				left join acc_dept_out ado on ada.out_code = ado.out_code 
				left join hos_dept_dict hdd 
				on awp.group_id =hdd.group_id and awp.hos_id = hdd.hos_id
				and awp.dept_id =hdd.dept_id and awp.dept_no = hdd.dept_no
	            <where>
				    <if test="group_id != null and group_id != ''">
	                    AND awp.group_id = #{group_id}
	               </if>
				    <if test="hos_id != null and hos_id != ''">
	                    AND awp.hos_id = #{hos_id}
	               </if>
				    <if test="copy_code != null and copy_code != ''">
	                    AND awp.copy_code = #{copy_code}
	               </if>
				    <if test="wage_code != null and wage_code != ''">
	                    AND awp.wage_code = #{wage_code}
	               </if>
	               <if test="kind_code != null and kind_code != ''">
	                    AND awp.kind_code = #{kind_code}
	               </if>
	               <if test="dept_code != null and dept_code != ''">
	                    AND hdd.dept_id = #{dept_code}
	               </if>
	               <if test="emp_code != null and emp_code != ''">
	                    AND awp.emp_id = #{emp_code}
	               </if>
				    <if test="acc_year != null and acc_year != ''">
	                    AND awp.acc_year = #{acc_year}
	               </if>
	               <if test="acc_month != null and acc_month != ''">
	                    AND awp.acc_month = #{acc_month}
	               </if>
	        </where>  
		       group by awp.kind_name, awp.kind_code
    			order by awp.kind_code
      ),c_table as(
      	select '总合计' kind_name,'99' out_code,' ' type_name ${item_code}
				from acc_wage_pay awp left join acc_dept_attr ada
				on awp.group_id =ada.group_id and awp.hos_id = ada.hos_id
				and awp.dept_id=ada.dept_id 
				left join acc_dept_out ado on ada.out_code = ado.out_code 
				left join hos_dept_dict hdd 
				on awp.group_id =hdd.group_id and awp.hos_id = hdd.hos_id
				and awp.dept_id =hdd.dept_id and awp.dept_no = hdd.dept_no
	            <where>
				    <if test="group_id != null and group_id != ''">
	                    AND awp.group_id = #{group_id}
	               </if>
				    <if test="hos_id != null and hos_id != ''">
	                    AND awp.hos_id = #{hos_id}
	               </if>
				    <if test="copy_code != null and copy_code != ''">
	                    AND awp.copy_code = #{copy_code}
	               </if>
				    <if test="wage_code != null and wage_code != ''">
	                    AND awp.wage_code = #{wage_code}
	               </if>
	               <if test="kind_code != null and kind_code != ''">
	                    AND awp.kind_code = #{kind_code}
	               </if>
	               <if test="dept_code != null and dept_code != ''">
	                    AND hdd.dept_id = #{dept_code}
	               </if>
	               <if test="emp_code != null and emp_code != ''">
	                    AND awp.emp_id = #{emp_code}
	               </if>
				    <if test="acc_year != null and acc_year != ''">
	                    AND awp.acc_year = #{acc_year}
	               </if>
	               <if test="acc_month != null and acc_month != ''">
	                    AND awp.acc_month = #{acc_month}
	               </if>
	        </where>  
      )select * from (
		select * from a_table 
		union all
		select * from b_table
		union all
		select * from c_table
		) a order by a.kind_name,a.out_code 
    </select>
    
    <select id="queryAccDeptWageItemSum" parameterType="java.util.Map" resultType="java.util.Map" >
      select * from (
		select wage_code,
		emp_code, emp_name,
		to_char(nvl(sum(decode(acc_month, '01', money)),0)) as month1,
	    to_char(nvl(sum(decode(acc_month, '02', money)),0)) as month2,
	    to_char(nvl(sum(decode(acc_month, '03', money)),0)) as month3,
	    to_char(nvl(sum(decode(acc_month, '04', money)),0)) as month4,
	    to_char(nvl(sum(decode(acc_month, '05', money)),0)) as month5,
	    to_char(nvl(sum(decode(acc_month, '06', money)),0)) as month6,
	    to_char(nvl(sum(decode(acc_month, '07', money)),0)) as month7,
	    to_char(nvl(sum(decode(acc_month, '08', money)),0)) as month8,
	    to_char(nvl(sum(decode(acc_month, '09', money)),0)) as month9,
	    to_char(nvl(sum(decode(acc_month, '10', money)),0)) as month10,
	    to_char(nvl(sum(decode(acc_month, '11', money)),0)) as month11,
	    to_char(nvl(sum(decode(acc_month, '12', money)),0)) as month12,
		sort_code ${wage_columns}
		from (select awi.sort_code,awi.emp_code,awi.emp_name,hdd.dept_name,
		awp.* from (select group_id, hos_id, copy_code,
		emp_id,acc_year,wage_code,acc_month,dept_id,dept_no,note, money,months
		from acc_wage_pay awp unpivot(money for months in (${column_item}))
		) awp left join hos_dept_dict hdd on awp.group_id = hdd.group_id
		and awp.hos_id = hdd.hos_id
		and awp.dept_id = hdd.dept_id
		and awp.dept_no = hdd.dept_no
		  left join hos_emp awi on awi.group_id=awp.group_id and
    awi.hos_id=awp.hos_id and awi.emp_id =awp.emp_id 
		where awp.wage_code = #{wage_code}
		and awp.acc_year = #{acc_year}
		<if test="dept_id != null and dept_id != ''">
             AND awp.dept_id = #{dept_id}
        </if>
		and to_number(awp.acc_month) in
		('01','02','03','04','05','06','07','08','09','10','11','12')) tab
		group by wage_code, emp_code, emp_name,sort_code
		<!-- union all
		select '' wage_code,
		'' item_code,
		'备注' item_name,
		max(decode(acc_month, '01', note)) as month1,
		max(decode(acc_month, '02', note)) as month2,
		max(decode(acc_month, '03', note)) as month3,
		max(decode(acc_month, '04', note)) as month4,
		max(decode(acc_month, '05', note)) as month5,
		max(decode(acc_month, '06', note)) as month6,
		max(decode(acc_month, '07', note)) as month7,
		max(decode(acc_month, '08', note)) as month8,
		max(decode(acc_month, '09', note)) as month9,
	    max(decode(acc_month, '10', note)) as month10,
	    max(decode(acc_month, '11', note)) as month11,
	    max(decode(acc_month, '12', note)) as month12,
	    10000 sort_code
	    ${wage_columns_sum}
		from (select awi.sort_code,awi.emp_code,awi.emp_name,hdd.dept_name,
	    awp.* from (select group_id, hos_id, copy_code,
	    emp_id,acc_year,wage_code,acc_month,dept_id,dept_no, note,months
	    from acc_wage_pay awp unpivot(note for months in (note))
	    ) awp left join hos_dept_dict hdd on awp.group_id = hdd.group_id
	    and awp.hos_id = hdd.hos_id
	    and awp.dept_id = hdd.dept_id
	    and awp.dept_no = hdd.dept_no
	    left join hos_emp awi on awi.group_id=awp.group_id and
    	awi.hos_id=awp.hos_id and awi.emp_id =awp.emp_id 
		where awp.wage_code = #{wage_code}
		and awp.acc_year = #{acc_year}
		<if test="dept_id != null and dept_id != ''">
             AND awp.dept_id = #{dept_id}
        </if>
		and to_number(awp.acc_month) in
		('01','02','03','04','05','06','07','08','09','10','11','12')) tab
		 -->
		) a order by a.sort_code 
    </select>
</mapper>

