<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.wagedata.AccWageLogMapper">

	<resultMap id="accWageLog" type="com.chd.hrp.acc.entity.AccWageLog">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="wage_code" column="wage_code"/>
        <result property="wage_name" column="wage_name"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="user_id" column="user_id"/>
        <result property="create_date" column="create_date"/>
        <result property="note" column="note"/>
	</resultMap>
	
    <insert id="addAccWageLog" useGeneratedKeys="true" >
    
        INSERT INTO ACC_WAGE_LOG (
                   
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    wage_code
			 ,
					acc_year
			 ,
			 		acc_month
			 ,
			 		user_id
			 ,
			 		create_date
			 ,
                    note
			 
        ) VALUES (

					#{group_id}
			 ,
                    #{hos_id}
			 ,
                    #{copy_code}
			 ,
                    #{wage_code}
			 ,
					#{acc_year}
			 ,
			 		#{acc_month}
			 ,
			 		#{user_id}
			 ,
			 		#{create_date}
			 ,
                    #{note}		
 
        )
    
    </insert>
	<insert id="addBatchAccWageLog" parameterType="java.util.List" >
    
        INSERT INTO ACC_WAGE_LOG (
        
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    wage_code
			 ,
					acc_year
			 ,
			 		acc_month
			 ,
			 		user_id
			 ,
			 		create_date
			 ,
                    note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select
         		
					#{item.group_id}
			 ,
                    #{item.hos_id}
			 ,
                    #{item.copy_code}
			 ,
                    #{item.wage_code}
			 ,
					#{item.acc_year}
			 ,
			 		#{item.acc_month}
			 ,
			 		#{item.user_id}
			 ,
			 		to_date(sysdate,'yyyy-MM-dd')
			 ,
                    #{item.note}	
		
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateAccWageLog" parameterType="java.util.Map">
    
        UPDATE ACC_WAGE_LOG SET
        
       	note = #{note}
			 
        WHERE 
        
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 copy_code = #{copy_code}
		 	  and 
		 acc_year = #{acc_year}
		 	  and 
		 acc_month = #{acc_month}
		 	  and 
		 wage_code = #{wage_code}
		     
   
	</update>
	<update id="updateBatchAccWageLog" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE ACC_WAGE_LOG SET
			 
			note = #{item.note}
			 
			 
        WHERE 
		 wage_code = #{item.wage_code}
			  and 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 copy_code = #{item.copy_code}
			 
    </foreach>
	</update>

    <delete id="deleteAccWageLog" parameterType="java.util.Map">
   
        DELETE FROM ACC_WAGE_LOG WHERE
	        wage_code = #{wage_code}   and
	        acc_year = #{acc_year}     and 
	        acc_month = #{acc_month}   and 
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id}   and 
	        copy_code = #{copy_code} 
   
    </delete>
    <delete id="deleteBatchAccWageLog" parameterType="java.util.List">
        DELETE FROM ACC_WAGE_LOG WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			wage_code = #{item.wage_code}   and
	        acc_year = #{item.acc_year}     and 
	        acc_month = #{item.acc_month}   and 
	        group_id = #{item.group_id}   and 
	        hos_id = #{item.hos_id}   and 
	        copy_code = #{item.copy_code} 
		</foreach>
        
   
    </delete>
    
    <select id="queryAccWageLogByCode" resultType="com.chd.hrp.acc.entity.AccWageLog" parameterType="string" >
	  
        SELECT 
            group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    wage_code
			 ,
					acc_year
			 ,
			 		acc_month
			 ,
			 		user_id
			 ,
			 		create_date
			 ,
                    note
		FROM ACC_WAGE_LOG 
	        WHERE 
		    wage_code = #{wage_code}   and
	        acc_year = #{acc_year}     and 
	        acc_month = #{acc_month}   and 
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id}   and 
	        copy_code = #{copy_code}  
        
	</select>
	<select id="queryAccWageLog" parameterType="java.util.Map" resultMap="accWageLog" >
      
       		SELECT 
            		group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    wage_code
			 ,
					acc_year
			 ,
			 		acc_month
			 ,
			 		user_id
			 ,
			 		create_date
			 ,
                    note
		FROM ACC_WAGE_LOG 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="wage_code != null and wage_code != ''">
                    AND wage_code = #{wage_code}
               </if>
			    
        </where>   
				order by wage_code asc
    </select>
    
</mapper>

