<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.sc.HrPageTemplateMapper">

	<resultMap id="hrPageTemplate" type="com.chd.hrp.hr.entity.sc.HrPageTemplate">
		<result property="template_code" column="template_code" />
		<result property="template_name" column="template_name" />
		<result property="template_type" column="template_type" />
		<result property="template_img"  column="template_img" />
		<result property="template_path" column="template_path" />
		<result property="template_sort" column="template_sort" />
		<result property="template_json" column="template_json" />
		<result property="template_note" column="template_note" />
	</resultMap>

	
	<select id="queryHrPageTemplate" resultMap="hrPageTemplate"  parameterType="java.util.Map" >
	        select template_code,
			       template_name,
			       template_type,
			       template_img,
			       template_path,
			       template_sort,
			       template_json,
			       template_note
			  from hr_page_template
			  <where>
			   <if test="template_code != null and template_code != ''">
		        and template_code = #{template_code}
		       </if>
		       <if test="template_type != null and template_type != ''">
		        and template_type = #{template_type}
		       </if>
			  </where>
			  order by template_type,template_sort
	</select>
	
	<select id="queryHrPageTemplateByCode" resultMap="hrPageTemplate"  parameterType="java.util.Map" >
	        select template_code,
			       template_name,
			       template_type,
			       template_img,
			       template_path,
			       template_sort,
			       template_json,
			       template_note
			  from hr_page_template
			  where template_code = #{template_code}
			  order by template_type,template_sort
	</select>
	
</mapper>

