<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.sc.HrTableTypeMapper">

	<resultMap id="hrTableType" type="com.chd.hrp.hr.entity.sc.HrTableType">
		<result property="type_tab_code" column="type_tab_code" />
		<result property="type_tab_name" column="type_tab_name" />
		<result property="table_sort" column="table_sort" />
		<result property="table_note" column="table_note" />
	</resultMap>

	<resultMap id="hrTableTypeMap" type="java.util.Map">
		<result property="type_tab_code" column="type_tab_code" />
		<result property="type_tab_name" column="type_tab_name" />
		<result property="table_sort" column="table_sort" />
		<result property="table_note" column="table_note" />
	</resultMap>

	<insert id="add" useGeneratedKeys="true">

		INSERT INTO HR_TABLE_TYPE (
		  type_tab_code,type_tab_name,table_sort,table_note
		) VALUES (
		  #{type_tab_code,jdbcType=VARCHAR},
		  #{type_tab_name,jdbcType=VARCHAR},
		  #{table_sort,jdbcType=INTEGER},
		  #{table_note,jdbcType=VARCHAR}
		)

	</insert>
	<insert id="addBatch" parameterType="java.util.List">

		INSERT INTO HR_TABLE_TYPE (
			type_tab_code,
			type_tab_name,
			table_sort,
			table_note

		) select t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.type_tab_code,jdbcType=VARCHAR},
			#{item.type_tab_name,jdbcType=VARCHAR},
			#{item.table_sort,jdbcType=INTEGER},
			#{item.table_note,jdbcType=VARCHAR}

			from dual
		</foreach>
		)t
	</insert>

	<update id="update" parameterType="java.util.Map">

		UPDATE HR_TABLE_TYPE SET
			type_tab_name = #{type_tab_name,jdbcType=VARCHAR},
			table_sort = #{table_sort,jdbcType=INTEGER},
			table_note = #{table_note,jdbcType=VARCHAR}
		where type_tab_code = #{type_tab_code,jdbcType=VARCHAR}
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE HR_TABLE_TYPE
			<trim prefix="SET" suffixOverrides=",">
				<if test="item.type_tab_name != null and item.type_tab_name != ''">
					type_tab_name = #{item.type_tab_name,jdbcType=VARCHAR},
				</if>
				<if test="item.table_sort != null and item.table_sort != ''">
					table_sort = #{item.table_sort,jdbcType=INTEGER},
				</if>
				<if test="item.table_note != null and item.table_note != ''">
					table_note = #{item.table_note,jdbcType=VARCHAR},
				</if>
			</trim>
			where type_tab_code = #{item.type_tab_code,jdbcType=VARCHAR}
		</foreach>
	</update>

	<delete id="delete" parameterType="java.util.Map">

		DELETE FROM HR_TABLE_TYPE
		where type_tab_code = #{type_tab_code,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteBatchHrTableType" parameterType="java.util.List">
		DELETE FROM HR_TABLE_TYPE
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				type_tab_code = #{item.type_tab_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrTableType">

		SELECT
		type_tab_code,
		type_tab_name,
		table_sort,
		table_note
		FROM HR_TABLE_TYPE
		<where>
			<if test="type_tab_code != null and type_tab_code != ''">
				AND type_tab_code = #{type_tab_code,jdbcType=VARCHAR}
			</if>
			<if test="type_tab_name != null and type_tab_name != ''">
				AND type_tab_name = #{type_tab_name,jdbcType=VARCHAR}
			</if>
		</where>
		order by table_sort asc
	</select>
	
	<select id="queryByCode" resultMap="hrTableType" parameterType="java.util.Map">

		SELECT
		type_tab_code,
		type_tab_name,
		table_sort,
		table_note
		FROM HR_TABLE_TYPE
		WHERE type_tab_code = #{type_tab_code,jdbcType=VARCHAR}
			<if test="type_tab_name != null and type_tab_name != ''">
			OR  type_tab_name = #{type_tab_name,jdbcType=VARCHAR}
			</if>
	</select>
	
	<!-- 用于判断编码或者名称是否存在 -->
	<select id="queryTableTypeExits" parameterType="java.util.Map" resultType="Integer">

		SELECT
			count(1)
		FROM HR_TABLE_TYPE
		WHERE (
				type_tab_code = #{type_tab_code,jdbcType=VARCHAR}
				<if test="type_tab_name != null and type_tab_name != ''">
					OR  type_tab_name = #{type_tab_name,jdbcType=VARCHAR}
				</if>
			)
	</select>
	
	<select id="queryByUniqueness" resultMap="hrTableType"
		parameterType="java.util.Map">

		SELECT
		type_tab_code,
		type_tab_name,
		table_sort,
		table_note
		FROM HR_TABLE_TYPE
		<where>
			<if test="type_tab_code != null and type_tab_code != ''">
				AND type_tab_code = #{type_tab_code,jdbcType=VARCHAR}
			</if>
			<if test="type_tab_name != null and type_tab_name != ''">
				AND type_tab_name = #{type_tab_name,jdbcType=VARCHAR}
			</if>
			<if test="table_note != null and table_note != ''">
				AND table_note = #{table_note,jdbcType=VARCHAR}
			</if>
		</where>
		order by table_sort asc
	</select>
	
	<select id="queryExists" resultMap="hrTableType" parameterType="java.util.Map">

		SELECT
			type_tab_code,
			type_tab_name,
			srot,
			table_note
		FROM HR_TABLE_TYPE
		<where>
			<if test="type_tab_code != null and type_tab_code != ''">
				AND type_tab_code = #{type_tab_code,jdbcType=VARCHAR}
			</if>
			<if test="type_tab_name != null and type_tab_name != ''">
				AND type_tab_name = #{type_tab_name,jdbcType=VARCHAR}
			</if>
			<if test="table_note != null and table_note != ''">
				AND table_note = #{table_note,jdbcType=VARCHAR}
			</if>
		</where>
		order by table_sort asc
	</select>
	
	<select id="queryTypeTabByName" resultMap="hrTableTypeMap" parameterType="java.util.Map">
		SELECT
			type_tab_code,
			type_tab_name
		FROM HR_TABLE_TYPE
	   WHERE
			type_tab_name = #{type_tab_name,jdbcType=VARCHAR}
	</select>
	
</mapper>

