<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.guanLiReports.AssDeptScrapMapper">


	<resultMap id="deptScrapSummryMap"
		type="java.util.Map">
		<result property="dept_name" column="dept_name" />
		<result property="price_01" column="'01'_price" />
		<result property="depre_money_01" column="'01'_depre_money" />
		<result property="cur_money_01" column="'01'_cur_money" />
		
		<result property="price_02" column="'02'_price" />
		<result property="depre_money_02" column="'02'_depre_money" />
		<result property="cur_money_02" column="'02'_cur_money" />
		
		<result property="price_03" column="'03'_price" />
		<result property="depre_money_03" column="'03'_depre_money" />
		<result property="cur_money_03" column="'03'_cur_money" />
		
		<result property="price_04" column="'04'_price" />
		<result property="depre_money_04" column="'04'_depre_money" />
		<result property="cur_money_04" column="'04'_cur_money" />
		
		<result property="price_05" column="'05'_price" />
		<result property="depre_money_05" column="'05'_depre_money" />
		<result property="cur_money_05" column="'05'_cur_money" />
		
		<result property="price_06" column="'06'_price" />
		<result property="depre_money_06" column="'06'_depre_money" />
		<result property="cur_money_06" column="'06'_cur_money" />
		
		<result property="price_07" column="'07'_price" />
		<result property="depre_money_07" column="'07'_depre_money" />
		<result property="cur_money_07" column="'07'_cur_money" />

	</resultMap>
	<select id="queryAssDeptScrapSummry" parameterType="java.util.Map"
		resultMap="deptScrapSummryMap">
		  with  temp as(
			     select t1.ass_naturs,t2.dept_name,t1.price,t1.depre_money, t1.cur_money  from v_ass_card t1
			     left join hos_dept_dict t2 on
					t1.GROUP_ID = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.DEPT_ID = t2.dept_id
					and t2.is_stop = 0
					where  
					t1.group_id = #{group_id}
					and t1.hos_id = #{hos_id}
					and t1.copy_code = #{copy_code}
					and use_state = 7 
			   		and DISPOSE_TYPE in(11,12)
			   		and to_char(dispose_date,'YYYYMM') between #{year_month_begin} and #{year_month_end}
			     	union all
			     select '07' ass_naturs,t2.dept_name,sum(price) price,sum(depre_money) depre_money,sum(cur_money) cur_money from v_ass_card t1
			    	 left join hos_dept_dict t2 on
			    	t1.GROUP_ID = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.DEPT_ID = t2.dept_id
					and t2.is_stop = 0
				     where  
				     t1.group_id = #{group_id}
					 and t1.hos_id = #{hos_id}
					 and t1.copy_code = #{copy_code}
				     and use_state = 7 
				     and DISPOSE_TYPE in(11,12)
				     and to_char(dispose_date,'YYYYMM') between #{year_month_begin} and #{year_month_end}
				     group by t2.dept_name
			)
			select * from (select t1.ass_naturs,t1.dept_name,t1.price,t1.depre_money, t1.cur_money 
			from temp t1
			
			) 
			pivot (sum(price) price,sum(depre_money) depre_money,sum(cur_money)  cur_money for ass_naturs in ('01','02','03','04','05','06','07'))
			
			union all
			
			select * from (select t1.ass_naturs,'合计' dept_name,t1.price,t1.depre_money, t1.cur_money 
			from temp t1
			
			) 
			pivot (sum(price) price,sum(depre_money) depre_money,sum(cur_money)  cur_money for ass_naturs in ('01','02','03','04','05','06','07'))
		

	</select>
	
	<!-- 打印 -->
	<select id="queryAssDeptScrapSummryPrint" parameterType="java.util.Map" resultMap="deptScrapSummryMap">
		with  temp as(
			     select t1.ass_naturs,t2.dept_name,t1.price,t1.depre_money, t1.cur_money  from v_ass_card t1
			     left join hos_dept_dict t2 on
					t1.GROUP_ID = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.DEPT_ID = t2.dept_id
					and t2.is_stop = 0
					where  
					t1.group_id = #{group_id}
					and t1.hos_id = #{hos_id}
					and t1.copy_code = #{copy_code}
					and use_state = 7 
			   		and DISPOSE_TYPE in(11,12)
			   		and to_char(dispose_date,'YYYYMM') between #{year_month_begin} and #{year_month_end}
			     	union all
			     select '07' ass_naturs,t2.dept_name,sum(price) price,sum(depre_money) depre_money,sum(cur_money) cur_money from v_ass_card t1
			    	 left join hos_dept_dict t2 on
			    	t1.GROUP_ID = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.DEPT_ID = t2.dept_id
					and t2.is_stop = 0
				     where  
				     t1.group_id = #{group_id}
					 and t1.hos_id = #{hos_id}
					 and t1.copy_code = #{copy_code}
				     and use_state = 7 
				     and DISPOSE_TYPE in(11,12)
				     and to_char(dispose_date,'YYYYMM') between #{year_month_begin} and #{year_month_end}
				     group by t2.dept_name
			)
			select * from (select t1.ass_naturs,t1.dept_name,t1.price,t1.depre_money, t1.cur_money 
			from temp t1
			
			) 
			pivot (sum(price) price,sum(depre_money) depre_money,sum(cur_money)  cur_money for ass_naturs in ('01','02','03','04','05','06','07'))
			
			union all
			
			select * from (select t1.ass_naturs,'合计' dept_name,t1.price,t1.depre_money, t1.cur_money 
			from temp t1
			
			) 
			pivot (sum(price) price,sum(depre_money) depre_money,sum(cur_money)  cur_money for ass_naturs in ('01','02','03','04','05','06','07'))
	</select>

</mapper>

