<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.guanLiReports.AssResourceSetMapper">
	
	<resultMap id="assResourceSet" type="com.chd.hrp.ass.entity.guanLiReports.AssResourceSet">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="source_id" column="source_id"/>
	<result property="source_code" column="source_code"/>
	<result property="source_name" column="source_name"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="in_date" column="in_date"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_type_id" column="ass_type_id"/>
	<result property="ass_type_code" column="ass_type_code"/>
	<result property="ass_type_name" column="ass_type_name"/>
	<result property="price" column="price"/>
	<result property="depre_money" column="depre_money"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	</resultMap>
	
	<resultMap id="assResourceSetMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="source_id" column="source_id"/>
	<result property="source_code" column="source_code"/>
	<result property="source_name" column="source_name"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_type_id" column="ass_type_id"/>
	<result property="ass_type_code" column="ass_type_code"/>
	<result property="ass_type_name" column="ass_type_name"/>
	<result property="price" column="price"/>
	<result property="depre_money" column="depre_money"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	</resultMap>
	 <select id="queryAssResourceSet" parameterType="java.util.Map" resultMap="assResourceSet" >
	
		with temp as (
			SELECT  arss.group_id,
       arss.hos_id,
       arss.copy_code,
       arss.ass_card_no,
       arss.source_id,
       card.ass_id,
       card.ass_no,
       hs.source_code,
       hs.source_name,
       arss.price,
       arss.ass_naturs ass_nature,
       card.use_state,
       acus.state_name,
       card.ven_id,
       card.ven_no,
       card.in_date,
       hsd.sup_name ven_name,
       card.dept_id,
       card.dept_no,
       hdd.dept_name,
       card.ass_spec || '' || card.ass_mondl ass_spec
  FROM V_ASS_RESOURCE arss

  left join HOS_SOURCE hs
    on arss.source_id = hs.source_id
	and arss.group_id = hs.group_id
      and arss.hos_id = hs.hos_id
  left join V_ASS_CARD card
    on arss.group_id = card.group_id
   and arss.hos_id = card.hos_id
   and arss.copy_code = card.copy_code
   and arss.ass_card_no = card.ass_card_no

  left join ass_card_use_state acus
    on card.use_state = acus.state_code
   and acus.is_stop = 0

  left join hos_dept_dict hdd
    on card.group_id = hdd.group_id
   and card.hos_id = hdd.hos_id
   and card.dept_id = hdd.dept_id
   and hdd.is_stop = 0

  left join hos_sup_dict hsd
    on card.group_id = hsd.group_id
   and card.hos_id = hsd.hos_id
   and card.ven_id = hsd.sup_id
   and hsd.is_stop = 0
 where arss.group_id = #{group_id, jdbcType = INTEGER}
      
   AND arss.hos_id = #{hos_id, jdbcType = INTEGER}
      
   AND arss.copy_code = #{copy_code, jdbcType = VARCHAR}
   
				)
      
		 select * from (
		 SELECT 
		         t.group_id,
		         t.hos_id,
		         t.copy_code,
		         t.ass_card_no,
		         t.source_id,
		         t.source_code,
		         t.source_name,
		         t.ass_id,
		         t.ass_no,
		          t.in_date,
		         ass.ass_code,
		         ass.ass_name,
		         ass_t.ass_type_id,
		         ass_t.ass_type_code,
		         ass_t.ass_type_name,
		         t.price,
		         t.state_name,
		         t.ven_name,
		         t.dept_name
		    FROM temp t
		    left join ass_no_dict ass
		      on t.group_id = ass.group_id
		     and t.hos_id = ass.hos_id
		     and t.copy_code = ass.copy_code
		     and t.ass_id = ass.ass_id
		     and t.ass_no = ass.ass_no
		   
		   left join ass_type_dict ass_t
		      on ass.group_id = ass_t.group_id
		     and ass.hos_id = ass_t.hos_id
		     and ass.copy_code = ass_t.copy_code
		     and ass.ass_type_id = ass_t.ass_type_id
		     
		WHERE
		 	t.group_id = #{group_id,jdbcType=INTEGER}
		
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND t.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="ass_type_code != null and ass_type_code !=''">
			    AND ass_t.ass_type_code like '${ass_type_code}%'
		    </if>
			<if test="ass_nature != null and ass_nature != ''">
				AND t.ass_nature = #{ass_nature,jdbcType=VARCHAR}
			</if>
			<if test="source_id != null and source_id != ''">
				AND t.source_id = #{source_id,jdbcType=INTEGER}
			</if>
			<if test="ass_id != null and ass_id != ''">
				AND t.ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
				AND t.ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
			<if test="ven_id != null and ven_id != ''">
				AND t.ven_id = #{ven_id,jdbcType=INTEGER}
			</if>
			<if test="ven_no != null and ven_no != ''">
				AND t.ven_no = #{ven_no,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND t.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND t.dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
			<if test="use_state != null and use_state != ''">
				AND t.use_state = #{use_state,jdbcType=INTEGER}
			</if>
			<if test="ass_card_no != null and ass_card_no != ''">
				AND t.ass_card_no like '%'|| upper(#{ass_card_no,jdbcType=VARCHAR}) ||'%'
			</if>
				<if test="year_month_beg != null and year_month_beg != ''">
			   	 and t.in_date &gt;= to_date(#{year_month_beg},'YYYY-MM-DD')
			   </if>
			  <if test="year_month_end != null and year_month_end != ''">
			   	   and t.in_date &lt;= to_date(#{year_month_end},'YYYY-MM-DD')
			    </if>
	 		 order by t.ass_card_no
		) tt
		 union all
	   
	   SELECT 
		         null group_id,
		         null hos_id,
		         null copy_code,
		         '合计' ass_card_no,
		         null source_id,
		         null source_code,
		         null source_name,
		         null ass_id,
		         null ass_no,
		          null in_date,
		         null ass_code,
		         null ass_name,
		         null ass_type_id,
		         null ass_type_code,
		         null ass_type_name,
		         sum(t.price) price,
		         null state_name,
		         null ven_name,
		         null dept_name
		    FROM temp t
		    left join ass_no_dict ass
		      on t.group_id = ass.group_id
		     and t.hos_id = ass.hos_id
		     and t.copy_code = ass.copy_code
		     and t.ass_id = ass.ass_id
		     and t.ass_no = ass.ass_no
		     
		     left join ass_type_dict ass_t
		      on ass.group_id = ass_t.group_id
		     and ass.hos_id = ass_t.hos_id
		     and ass.copy_code = ass_t.copy_code
		     and ass.ass_type_id = ass_t.ass_type_id
		     
		   
		WHERE
		 	t.group_id = #{group_id,jdbcType=INTEGER}
		
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND t.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="ass_type_code != null and ass_type_code !=''">
			    AND ass_t.ass_type_code like '${ass_type_code}%'
		    </if>
			<if test="ass_nature != null and ass_nature != ''">
				AND t.ass_nature = #{ass_nature,jdbcType=VARCHAR}
			</if>
			<if test="source_id != null and source_id != ''">
				AND t.source_id = #{source_id,jdbcType=INTEGER}
			</if>
			<if test="ass_id != null and ass_id != ''">
				AND t.ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
				AND t.ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
			<if test="ven_id != null and ven_id != ''">
				AND t.ven_id = #{ven_id,jdbcType=INTEGER}
			</if>
			<if test="ven_no != null and ven_no != ''">
				AND t.ven_no = #{ven_no,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND t.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND t.dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
			<if test="use_state != null and use_state != ''">
				AND t.use_state = #{use_state,jdbcType=INTEGER}
			</if>
			<if test="ass_card_no != null and ass_card_no != ''">
				AND t.ass_card_no like '%'|| upper(#{ass_card_no,jdbcType=VARCHAR}) ||'%'
			</if>
			<if test="year_month_beg != null and year_month_beg != ''">
		   	   and t.in_date &gt;= to_date(#{year_month_beg},'YYYY-MM-DD')
		      </if>
		      <if test="year_month_end != null and year_month_end != ''">
		   	   and t.in_date &lt;= to_date(#{year_month_end},'YYYY-MM-DD')
		      </if>
	</select>
	
	<!-- 打印 -->
	<select id="queryAssResourceSetPrint" parameterType="java.util.Map" resultMap="assResourceSetMap">
	
		with temp as (
			SELECT  arss.group_id,
       arss.hos_id,
       arss.copy_code,
       arss.ass_card_no,
       arss.source_id,
       card.ass_id,
       card.ass_no,
       hs.source_code,
       hs.source_name,
       arss.price,
       arss.ass_naturs ass_nature,
       card.use_state,
       acus.state_name,
       card.ven_id,
       card.ven_no,
       card.in_date,
       hsd.sup_name ven_name,
       card.dept_id,
       card.dept_no,
       hdd.dept_name,
       card.ass_spec || '' || card.ass_mondl ass_spec
  FROM V_ASS_RESOURCE arss

  left join HOS_SOURCE hs
    on arss.source_id = hs.source_id
	and arss.group_id = hs.group_id
      and arss.hos_id = hs.hos_id
  left join V_ASS_CARD card
    on arss.group_id = card.group_id
   and arss.hos_id = card.hos_id
   and arss.copy_code = card.copy_code
   and arss.ass_card_no = card.ass_card_no

  left join ass_card_use_state acus
    on card.use_state = acus.state_code
   and acus.is_stop = 0

  left join hos_dept_dict hdd
    on card.group_id = hdd.group_id
   and card.hos_id = hdd.hos_id
   and card.dept_id = hdd.dept_id
   and hdd.is_stop = 0

  left join hos_sup_dict hsd
    on card.group_id = hsd.group_id
   and card.hos_id = hsd.hos_id
   and card.ven_id = hsd.sup_id
   and hsd.is_stop = 0
 where arss.group_id = #{group_id, jdbcType = INTEGER}
      
   AND arss.hos_id = #{hos_id, jdbcType = INTEGER}
      
   AND arss.copy_code = #{copy_code, jdbcType = VARCHAR}
   
				)
      
		 select * from (
		 SELECT 
		         t.group_id,
		         t.hos_id,
		         t.copy_code,
		         t.ass_card_no,
		         t.source_id,
		         t.source_code,
		         t.source_name,
		         t.ass_id,
		         t.ass_no,
		          t.in_date,
		         ass.ass_code,
		         ass.ass_name,
		         ass_t.ass_type_id,
		         ass_t.ass_type_code,
		         ass_t.ass_type_name,
		         t.price,
		         t.state_name,
		         t.ven_name,
		         t.dept_name
		    FROM temp t
		    left join ass_no_dict ass
		      on t.group_id = ass.group_id
		     and t.hos_id = ass.hos_id
		     and t.copy_code = ass.copy_code
		     and t.ass_id = ass.ass_id
		     and t.ass_no = ass.ass_no
		   
		   left join ass_type_dict ass_t
		      on ass.group_id = ass_t.group_id
		     and ass.hos_id = ass_t.hos_id
		     and ass.copy_code = ass_t.copy_code
		     and ass.ass_type_id = ass_t.ass_type_id
		     
		WHERE
		 	t.group_id = #{group_id,jdbcType=INTEGER}
		
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND t.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="ass_type_code != null and ass_type_code !=''">
			    AND ass_t.ass_type_code like '${ass_type_code}%'
		    </if>
			<if test="ass_nature != null and ass_nature != ''">
				AND t.ass_nature = #{ass_nature,jdbcType=VARCHAR}
			</if>
			<if test="source_id != null and source_id != ''">
				AND t.source_id = #{source_id,jdbcType=INTEGER}
			</if>
			<if test="ass_id != null and ass_id != ''">
				AND t.ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
				AND t.ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
			<if test="ven_id != null and ven_id != ''">
				AND t.ven_id = #{ven_id,jdbcType=INTEGER}
			</if>
			<if test="ven_no != null and ven_no != ''">
				AND t.ven_no = #{ven_no,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND t.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND t.dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
			<if test="use_state != null and use_state != ''">
				AND t.use_state = #{use_state,jdbcType=INTEGER}
			</if>
			<if test="ass_card_no != null and ass_card_no != ''">
				AND t.ass_card_no like '%'|| upper(#{ass_card_no,jdbcType=VARCHAR}) ||'%'
			</if>
				<if test="year_month_beg != null and year_month_beg != ''">
			   	 and t.in_date &gt;= to_date(#{year_month_beg},'YYYY-MM-DD')
			   </if>
			  <if test="year_month_end != null and year_month_end != ''">
			   	   and t.in_date &lt;= to_date(#{year_month_end},'YYYY-MM-DD')
			    </if>
	 		 order by t.ass_card_no
		) tt
		 union all
	   
	   SELECT 
		         null group_id,
		         null hos_id,
		         null copy_code,
		         '合计' ass_card_no,
		         null source_id,
		         null source_code,
		         null source_name,
		         null ass_id,
		         null ass_no,
		          null in_date,
		         null ass_code,
		         null ass_name,
		         null ass_type_id,
		         null ass_type_code,
		         null ass_type_name,
		         sum(t.price) price,
		         null state_name,
		         null ven_name,
		         null dept_name
		    FROM temp t
		    left join ass_no_dict ass
		      on t.group_id = ass.group_id
		     and t.hos_id = ass.hos_id
		     and t.copy_code = ass.copy_code
		     and t.ass_id = ass.ass_id
		     and t.ass_no = ass.ass_no
		     
		     left join ass_type_dict ass_t
		      on ass.group_id = ass_t.group_id
		     and ass.hos_id = ass_t.hos_id
		     and ass.copy_code = ass_t.copy_code
		     and ass.ass_type_id = ass_t.ass_type_id
		     
		   
		WHERE
		 	t.group_id = #{group_id,jdbcType=INTEGER}
		
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND t.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="ass_type_code != null and ass_type_code !=''">
			    AND ass_t.ass_type_code like '${ass_type_code}%'
		    </if>
			<if test="ass_nature != null and ass_nature != ''">
				AND t.ass_nature = #{ass_nature,jdbcType=VARCHAR}
			</if>
			<if test="source_id != null and source_id != ''">
				AND t.source_id = #{source_id,jdbcType=INTEGER}
			</if>
			<if test="ass_id != null and ass_id != ''">
				AND t.ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
				AND t.ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
			<if test="ven_id != null and ven_id != ''">
				AND t.ven_id = #{ven_id,jdbcType=INTEGER}
			</if>
			<if test="ven_no != null and ven_no != ''">
				AND t.ven_no = #{ven_no,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND t.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND t.dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
			<if test="use_state != null and use_state != ''">
				AND t.use_state = #{use_state,jdbcType=INTEGER}
			</if>
			<if test="ass_card_no != null and ass_card_no != ''">
				AND t.ass_card_no like '%'|| upper(#{ass_card_no,jdbcType=VARCHAR}) ||'%'
			</if>
			<if test="year_month_beg != null and year_month_beg != ''">
		   	   and t.in_date &gt;= to_date(#{year_month_beg},'YYYY-MM-DD')
		      </if>
		      <if test="year_month_end != null and year_month_end != ''">
		   	   and t.in_date &lt;= to_date(#{year_month_end},'YYYY-MM-DD')
		      </if>
	</select>
	
</mapper>

