<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.guanLiReports.AssScrapBySummryMapper">
	
	<resultMap id="assDepreBreakage" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="dis_r_no" column="dis_r_no"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="year_month" column="year_month"/>
	<result property="dispose_type" column="dispose_type"/>
	<result property="dispose_type_name" column="dispose_type_name"/>
	<result property="naturs_code" column="naturs_code"/>
	<result property="naturs_name" column="naturs_name"/>
	<result property="location" column="location"/>
	
	<result property="dispose_income" column="dispose_income"/>
	<result property="dispose_cost" column="dispose_cost"/>
	<result property="dispose_tax" column="dispose_tax"/>
	<result property="price" column="price"/>
	<result property="depre_money" column="depre_money"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="in_date" column="in_date"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_mondl" column="ass_mondl"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_type_id" column="ass_type_id"/>
	<result property="ass_type_code" column="ass_type_code"/>
	<result property="ass_type_name" column="ass_type_name"/>
	
	<result property="store_id" column="store_id"/>
	<result property="store_no" column="store_no"/>
	<result property="store_code" column="store_code"/>
	<result property="store_name" column="store_name"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_emp_name" column="create_emp_name"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="audit_emp_name" column="audit_emp_name"/>
	<result property="apply_date" column="apply_date"/>
	<result property="state" column="state"/>
	<result property="confirm_emp_name" column="confirm_emp_name"/>
	<result property="confirm_date" column="confirm_date"/>
	<result property="note" column="note"/>
	</resultMap>
	
	
		<!--  资产报损查询   -->
	<select id="query" parameterType="java.util.Map" resultMap="assDepreBreakage" >
		
			with temp as(
				<!-- 专用设备查询  -->
				select  
					adrds.group_id,
					adrds.hos_id,
					adrds.copy_code,
					adrds.dis_r_no ,
					adrds.ass_card_no,
					adrds.dispose_income,
					adrds.dispose_cost,
					adrds.dispose_tax,
					acs.price,
					acs.depre_money,
					acs.cur_money,
					acs.fore_money,
					acs.in_date,
					acs.ass_spec,
					acs.ass_mondl,
					acs.ass_brand,
					assd.ass_id,
					assd.ass_no,
					assd.ass_code,
					assd.ass_name,
					atd.ass_type_id,
					atd.ass_type_code,
					atd.ass_type_name,
					to_char(adrs.create_date ,'yyyyMM') year_month,
					adrs.dispose_type ,
					adt.dispose_type_name ,
					'02' naturs_code ,
					'专用设备' naturs_name ,
					acs.location ,
					acs.store_id ,
					acs.store_no ,
					hsd.store_code ,
					hsd.store_name ,
					acs.dept_id ,
					acs.dept_no ,
					hdd.dept_code ,
					hdd.dept_name ,
					adrs.create_emp ,
					su1.user_name create_emp_name,
					adrs.create_date ,
					adrs.audit_emp ,
					su2.user_name audit_emp_name,
					adrs.apply_date ,
					adrs.state ,
					<!-- 记账人 记账日期   -->
					su2.user_name confirm_emp_name,
					adrs.apply_date confirm_date ,
					adrds.note
					
				from ASS_DISPOSAL_R_DETAIL_SPECIAL adrds 
				left join ASS_DISPOSAL_R_SPECIAL adrs
					on
						adrds.group_id = adrs.group_id
						and adrds.hos_id  = adrs.hos_id
						and adrds.copy_code  = adrs.copy_code
						and adrds.dis_r_no  = adrs.dis_r_no
				left join ASS_DISPOSE_TYPE adt
					on
						adrs.dispose_type = adt.dispose_type_code
				left join sys_user su1 
					on
						adrs.group_id = su1.group_id
						and adrs.hos_id = su1.hos_id
						and adrs.create_emp = su1.user_id
						and su1.is_stop = 0
				left join sys_user su2 
					on
						adrs.group_id = su2.group_id
						and adrs.hos_id = su2.hos_id
						and adrs.audit_emp = su2.user_id
						and su1.is_stop = 0
				left join ass_card_special acs 
					on
						adrds.group_id = acs.group_id
						and adrds.hos_id  = acs.hos_id
						and adrds.copy_code  = acs.copy_code
						and adrds.ass_card_no  = acs.ass_card_no
						
				left join ass_no_dict assd
				    on
				        acs.group_id = assd.group_id
				        and acs.hos_id = assd.hos_id
				        and acs.copy_code = assd.copy_code
				        and acs.ass_id = assd.ass_id
				        and acs.ass_no = assd.ass_no
				        
				left join ass_type_dict atd
				    on
				    	assd.group_id = atd.group_id
				    	and assd.hos_id = atd.hos_id
				    	and assd.copy_code = atd.copy_code
				    	and assd.ass_type_id = atd.ass_type_id
				        
				left join hos_store_dict hsd 
					on 
						acs.group_id = hsd.group_id
						and acs.hos_id  = hsd.hos_id
						and acs.store_id = hsd.store_id 
						and hsd.is_stop = 0
				left join hos_dept_dict hdd 
					on 
						acs.group_id = hdd.group_id
						and acs.hos_id  = hdd.hos_id
						and acs.dept_id = hdd.dept_id 
						and hdd.is_stop = 0
				where      
					adrs.state = 2  
					AND adrds.group_id = ${group_id}
					AND adrds.hos_id = ${hos_id}
					AND adrds.copy_code = ${copy_code}
			union all
				<!--  一般设备查询 -->
				select  
					adrdg.group_id,
					adrdg.hos_id,
					adrdg.copy_code,
					adrdg.dis_r_no ,
					adrdg.ass_card_no,
					adrdg.dispose_income,
					adrdg.dispose_cost,
					adrdg.dispose_tax,
					acg.price,
					acg.depre_money,
					acg.cur_money,
					acg.fore_money,
					acg.in_date,
					acg.ass_spec,
					acg.ass_mondl,
					acg.ass_brand,
					assd.ass_id,
					assd.ass_no,
					assd.ass_code,
					assd.ass_name,
					atd.ass_type_id,
					atd.ass_type_code,
					atd.ass_type_name,
					to_char(adrg.create_date ,'yyyyMM') year_month,
					adrg.dispose_type ,
					adt.dispose_type_name ,
					'03' naturs_code ,
					'一般设备' naturs_name ,
					acg.location ,
					acg.store_id ,
					acg.store_no ,
					hsd.store_code ,
					hsd.store_name ,
					acg.dept_id ,
					acg.dept_no ,
					hdd.dept_code ,
					hdd.dept_name ,
					adrg.create_emp ,
					su1.user_name create_emp_name,
					adrg.create_date ,
					adrg.audit_emp ,
					su2.user_name audit_emp_name,
					adrg.apply_date ,
					adrg.state ,
					<!-- 记账人 记账日期   -->
					su2.user_name confirm_emp_name,
					adrg.apply_date confirm_date ,
					adrdg.note 
					
				from ASS_DISPOSAL_R_DETAIL_GENERAL adrdg 
				left join ASS_DISPOSAL_R_GENERAL adrg
					on
						adrdg.group_id = adrg.group_id
						and adrdg.hos_id  = adrg.hos_id
						and adrdg.copy_code  = adrg.copy_code
						and adrdg.dis_r_no  = adrg.dis_r_no
				left join ASS_DISPOSE_TYPE adt
					on
						adrg.dispose_type = adt.dispose_type_code
				left join sys_user su1 
					on
						adrg.group_id = su1.group_id
						and adrg.hos_id = su1.hos_id
						and adrg.create_emp = su1.user_id
						and su1.is_stop = 0
				left join sys_user su2 
					on
						adrg.group_id = su2.group_id
						and adrg.hos_id = su2.hos_id
						and adrg.audit_emp = su2.user_id
						and su1.is_stop = 0
				left join ass_card_general acg 
					on
						adrdg.group_id = acg.group_id
						and adrdg.hos_id  = acg.hos_id
						and adrdg.copy_code  = acg.copy_code
						and adrdg.ass_card_no  = acg.ass_card_no
			
				left join ass_no_dict assd
				    on
				        acg.group_id = assd.group_id
				        and acg.hos_id = assd.hos_id
				        and acg.copy_code = assd.copy_code
				        and acg.ass_id = assd.ass_id
				        and acg.ass_no = assd.ass_no
				        
				left join ass_type_dict atd
				    on
				    	assd.group_id = atd.group_id
				    	and assd.hos_id = atd.hos_id
				    	and assd.copy_code = atd.copy_code
				    	and assd.ass_type_id = atd.ass_type_id
				        
				left join hos_store_dict hsd 
					on 
						acg.group_id = hsd.group_id
						and acg.hos_id  = hsd.hos_id
						and acg.store_id = hsd.store_id 
						and hsd.is_stop = 0
				left join hos_dept_dict hdd 
					on 
						acg.group_id = hdd.group_id
						and acg.hos_id  = hdd.hos_id
						and acg.dept_id = hdd.dept_id 
						and hdd.is_stop = 0
				where      
					adrg.state = 2  
					AND adrdg.group_id = ${group_id}
					AND adrdg.hos_id = ${hos_id}
					AND adrdg.copy_code = ${copy_code}
			union all
				<!--  房屋及建筑查询 -->
				select  
					adrdh.group_id,
					adrdh.hos_id,
					adrdh.copy_code,
					adrdh.dis_r_no ,
					adrdh.ass_card_no,
					adrdh.dispose_income,
					adrdh.dispose_cost,
					adrdh.dispose_tax,
					ach.price,
					ach.depre_money,
					ach.cur_money,
					ach.fore_money,
					ach.in_date,
					null ass_spec,
					null ass_mondl,
					null ass_brand,
					assd.ass_id,
					assd.ass_no,
					assd.ass_code,
					assd.ass_name,
					atd.ass_type_id,
					atd.ass_type_code,
					atd.ass_type_name,
					to_char(adrh.create_date ,'yyyyMM') year_month,
					adrh.dispose_type ,
					adt.dispose_type_name ,
					'01' naturs_code ,
					'房屋及建筑' naturs_name ,
					ach.location ,
					0 store_id ,
					0 store_no ,
					'' store_code ,
					'' store_name ,
					ach.dept_id ,
					ach.dept_no ,
					hdd.dept_code ,
					hdd.dept_name ,
					adrh.create_emp ,
					su1.user_name create_emp_name,
					adrh.create_date ,
					adrh.audit_emp ,
					su2.user_name audit_emp_name,
					adrh.apply_date ,
					adrh.state ,
					<!-- 记账人 记账日期   -->
					su2.user_name confirm_emp_name,
					adrh.apply_date confirm_date ,
					adrdh.note 
					
				from ASS_DISPOSAL_R_DETAIL_HOUSE adrdh 
				left join ASS_DISPOSAL_R_HOUSE adrh
					on
						adrdh.group_id = adrh.group_id
						and adrdh.hos_id  = adrh.hos_id
						and adrdh.copy_code  = adrh.copy_code
						and adrdh.dis_r_no  = adrh.dis_r_no
				left join ASS_DISPOSE_TYPE adt
					on
						adrh.dispose_type = adt.dispose_type_code
				left join sys_user su1 
					on
						adrh.group_id = su1.group_id
						and adrh.hos_id = su1.hos_id
						and adrh.create_emp = su1.user_id
						and su1.is_stop = 0
				left join sys_user su2 
					on
						adrh.group_id = su2.group_id
						and adrh.hos_id = su2.hos_id
						and adrh.audit_emp = su2.user_id
						and su1.is_stop = 0
				left join ass_card_HOUSE ach 
					on
						adrdh.group_id = ach.group_id
						and adrdh.hos_id  = ach.hos_id
						and adrdh.copy_code  = ach.copy_code
						and adrdh.ass_card_no  = ach.ass_card_no
				
				left join ass_no_dict assd
				    on
				        ach.group_id = assd.group_id
				        and ach.hos_id = assd.hos_id
				        and ach.copy_code = assd.copy_code
				        and ach.ass_id = assd.ass_id
				        and ach.ass_no = assd.ass_no
				        
				left join ass_type_dict atd
				    on
				    	assd.group_id = atd.group_id
				    	and assd.hos_id = atd.hos_id
				    	and assd.copy_code = atd.copy_code
				    	and assd.ass_type_id = atd.ass_type_id
				        
				left join hos_dept_dict hdd 
					on 
						ach.group_id = hdd.group_id
						and ach.hos_id  = hdd.hos_id
						and ach.dept_id = hdd.dept_id 
						and hdd.is_stop = 0
				where      
					adrh.state = 2  
					AND adrdh.group_id = ${group_id}
					AND adrdh.hos_id = ${hos_id}
					AND adrdh.copy_code = ${copy_code}
			union all
				<!--  其他固定资产 -->
				select  
					adrdo.group_id,
					adrdo.hos_id,
					adrdo.copy_code,
					adrdo.dis_r_no ,
					adrdo.ass_card_no,
					adrdo.dispose_income,
					adrdo.dispose_cost,
					adrdo.dispose_tax,
					aco.price,
					aco.depre_money,
					aco.cur_money,
					aco.fore_money,
					aco.in_date,
					aco.ass_spec,
					aco.ass_mondl,
					aco.ass_brand,
					assd.ass_id,
					assd.ass_no,
					assd.ass_code,
					assd.ass_name,
					atd.ass_type_id,
					atd.ass_type_code,
					atd.ass_type_name,
					to_char(adro.create_date ,'yyyyMM') year_month,
					adro.dispose_type ,
					adt.dispose_type_name ,
					'04' naturs_code ,
					'其他固定资产' naturs_name ,
					aco.location ,
					aco.store_id ,
					aco.store_no ,
					hsd.store_code ,
					hsd.store_name ,
					aco.dept_id ,
					aco.dept_no ,
					hdd.dept_code ,
					hdd.dept_name ,
					adro.create_emp ,
					su1.user_name create_emp_name,
					adro.create_date ,
					adro.audit_emp ,
					su2.user_name audit_emp_name,
					adro.apply_date ,
					adro.state ,
					<!-- 记账人 记账日期   -->
					su2.user_name confirm_emp_name,
					adro.apply_date confirm_date ,
					adrdo.note 
					
				from ASS_DISPOSAL_R_DETAIL_OTHER adrdo
				left join ASS_DISPOSAL_R_OTHER adro
					on
						adrdo.group_id = adro.group_id
						and adrdo.hos_id  = adro.hos_id
						and adrdo.copy_code  = adro.copy_code
						and adrdo.dis_r_no  = adro.dis_r_no
				left join ASS_DISPOSE_TYPE adt
					on
						adro.dispose_type = adt.dispose_type_code
				left join sys_user su1 
					on
						adro.group_id = su1.group_id
						and adro.hos_id = su1.hos_id
						and adro.create_emp = su1.user_id
						and su1.is_stop = 0
				left join sys_user su2 
					on
						adro.group_id = su2.group_id
						and adro.hos_id = su2.hos_id
						and adro.audit_emp = su2.user_id
						and su1.is_stop = 0
				left join ass_card_other aco
					on
						adrdo.group_id = aco.group_id
						and adrdo.hos_id  = aco.hos_id
						and adrdo.copy_code  = aco.copy_code
						and adrdo.ass_card_no  = aco.ass_card_no
				
				left join ass_no_dict assd
				    on
				        aco.group_id = assd.group_id
				        and aco.hos_id = assd.hos_id
				        and aco.copy_code = assd.copy_code
				        and aco.ass_id = assd.ass_id
				        and aco.ass_no = assd.ass_no
				        
				left join ass_type_dict atd
				    on
				    	assd.group_id = atd.group_id
				    	and assd.hos_id = atd.hos_id
				    	and assd.copy_code = atd.copy_code
				    	and assd.ass_type_id = atd.ass_type_id
				        
				left join hos_store_dict hsd 
					on 
						aco.group_id = hsd.group_id
						and aco.hos_id  = hsd.hos_id
						and aco.store_id = hsd.store_id 
						and hsd.is_stop = 0
				left join hos_dept_dict hdd 
					on 
						aco.group_id = hdd.group_id
						and aco.hos_id  = hdd.hos_id
						and aco.dept_id = hdd.dept_id 
						and hdd.is_stop = 0
				where      
					adro.state = 2  
					AND adrdo.group_id = ${group_id}
					AND adrdo.hos_id = ${hos_id}
					AND adrdo.copy_code = ${copy_code}
			union all
				<!--  其他无形资产 -->
				select  
					adrdi.group_id,
					adrdi.hos_id,
					adrdi.copy_code,
					adrdi.dis_r_no ,
					adrdi.ass_card_no,
					adrdi.dispose_income,
					adrdi.dispose_cost,
					adrdi.dispose_tax,
					aci.price,
					aci.depre_money,
					aci.cur_money,
					aci.fore_money,
					aci.in_date,
					null ass_spec,
					null ass_mondl,
					aci.ass_brand,
					assd.ass_id,
					assd.ass_no,
					assd.ass_code,
					assd.ass_name,
					atd.ass_type_id,
					atd.ass_type_code,
					atd.ass_type_name,
					to_char(adri.create_date ,'yyyyMM') year_month,
					adri.dispose_type ,
					adt.dispose_type_name ,
					'05' naturs_code ,
					'其他无形资产' naturs_name ,
					aci.location ,
					aci.store_id ,
					aci.store_no ,
					hsd.store_code ,
					hsd.store_name ,
					aci.dept_id ,
					aci.dept_no ,
					hdd.dept_code ,
					hdd.dept_name ,
					adri.create_emp ,
					su1.user_name create_emp_name,
					adri.create_date ,
					adri.audit_emp ,
					su2.user_name audit_emp_name,
					adri.apply_date ,
					adri.state ,
					<!-- 记账人 记账日期   -->
					su2.user_name confirm_emp_name,
					adri.apply_date confirm_date ,
					adrdi.note 
					
				from ASS_DISPOSAL_R_DETAIL_INASSET adrdi
				left join ASS_DISPOSAL_R_INASSETS adri
					on
						adrdi.group_id = adri.group_id
						and adrdi.hos_id  = adri.hos_id
						and adrdi.copy_code  = adri.copy_code
						and adrdi.dis_r_no  = adri.dis_r_no
				left join ASS_DISPOSE_TYPE adt
					on
						adri.dispose_type = adt.dispose_type_code
				left join sys_user su1 
					on
						adri.group_id = su1.group_id
						and adri.hos_id = su1.hos_id
						and adri.create_emp = su1.user_id
						and su1.is_stop = 0
				left join sys_user su2 
					on
						adri.group_id = su2.group_id
						and adri.hos_id = su2.hos_id
						and adri.audit_emp = su2.user_id
						and su1.is_stop = 0
				left join ass_card_inassets aci
					on
						adrdi.group_id = aci.group_id
						and adrdi.hos_id  = aci.hos_id
						and adrdi.copy_code  = aci.copy_code
						and adrdi.ass_card_no  = aci.ass_card_no
				
				left join ass_no_dict assd
				    on
				        aci.group_id = assd.group_id
				        and aci.hos_id = assd.hos_id
				        and aci.copy_code = assd.copy_code
				        and aci.ass_id = assd.ass_id
				        and aci.ass_no = assd.ass_no
				        
				left join ass_type_dict atd
				    on
				    	assd.group_id = atd.group_id
				    	and assd.hos_id = atd.hos_id
				    	and assd.copy_code = atd.copy_code
				    	and assd.ass_type_id = atd.ass_type_id
				        
				left join hos_store_dict hsd 
					on 
						aci.group_id = hsd.group_id
						and aci.hos_id  = hsd.hos_id
						and aci.store_id = hsd.store_id 
						and hsd.is_stop = 0
				left join hos_dept_dict hdd 
					on 
						aci.group_id = hdd.group_id
						and aci.hos_id  = hdd.hos_id
						and aci.dept_id = hdd.dept_id 
						and hdd.is_stop = 0
				where      
					adri.state = 2  
					AND adrdi.group_id = ${group_id}
					AND adrdi.hos_id = ${hos_id}
					AND adrdi.copy_code = ${copy_code}
			union all
				<!--  土地使用权 -->
				select  
					adrdl.group_id,
					adrdl.hos_id,
					adrdl.copy_code,
					adrdl.dis_r_no ,
					adrdl.ass_card_no,
					adrdl.dispose_income,
					adrdl.dispose_cost,
					adrdl.dispose_tax,
					acl.price,
					acl.depre_money,
					acl.cur_money,
					acl.fore_money,
					acl.in_date,
					null ass_spec,
					null ass_mondl,
					null ass_brand,
					assd.ass_id,
					assd.ass_no,
					assd.ass_code,
					assd.ass_name,
					atd.ass_type_id,
					atd.ass_type_code,
					atd.ass_type_name,
					to_char(adrl.create_date ,'yyyyMM') year_month,
					adrl.dispose_type ,
					adt.dispose_type_name ,
					'06' naturs_code ,
					'土地使用权' naturs_name ,
					acl.location ,
					0 store_id ,
					0 store_no ,
					'' store_code ,
					'' store_name ,
					acl.dept_id ,
					acl.dept_no ,
					hdd.dept_code ,
					hdd.dept_name ,
					adrl.create_emp ,
					su1.user_name create_emp_name,
					adrl.create_date ,
					adrl.audit_emp ,
					su2.user_name audit_emp_name ,
					adrl.apply_date ,
					adrl.state ,
					<!-- 记账人 记账日期   -->
					su2.user_name confirm_emp_name,
					adrl.apply_date confirm_date ,
					adrdl.note 
					
				from ASS_DISPOSAL_R_DETAIL_Land adrdl
				left join ASS_DISPOSAL_R_Land adrl
					on
						adrdl.group_id = adrl.group_id
						and adrdl.hos_id  = adrl.hos_id
						and adrdl.copy_code  = adrl.copy_code
						and adrdl.dis_r_no  = adrl.dis_r_no
				left join ASS_DISPOSE_TYPE adt
					on
						adrl.dispose_type = adt.dispose_type_code
				left join sys_user su1 
					on
						adrl.group_id = su1.group_id
						and adrl.hos_id = su1.hos_id
						and adrl.create_emp = su1.user_id
						and su1.is_stop = 0
				left join sys_user su2 
					on
						adrl.group_id = su2.group_id
						and adrl.hos_id = su2.hos_id
						and adrl.audit_emp = su2.user_id
						and su1.is_stop = 0
				left join ass_card_land acl
					on
						adrdl.group_id = acl.group_id
						and adrdl.hos_id  = acl.hos_id
						and adrdl.copy_code  = acl.copy_code
						and adrdl.ass_card_no  = acl.ass_card_no
				
				left join ass_no_dict assd
				    on
				        acl.group_id = assd.group_id
				        and acl.hos_id = assd.hos_id
				        and acl.copy_code = assd.copy_code
				        and acl.ass_id = assd.ass_id
				        and acl.ass_no = assd.ass_no
				        
				left join ass_type_dict atd
				    on
				    	assd.group_id = atd.group_id
				    	and assd.hos_id = atd.hos_id
				    	and assd.copy_code = atd.copy_code
				    	and assd.ass_type_id = atd.ass_type_id
				        
				left join hos_dept_dict hdd 
					on 
						acl.group_id = hdd.group_id
						and acl.hos_id  = hdd.hos_id
						and acl.dept_id = hdd.dept_id 
						and hdd.is_stop = 0
				where      
					adrl.state = 2  
					AND adrdl.group_id = ${group_id}
					AND adrdl.hos_id = ${hos_id}
					AND adrdl.copy_code = ${copy_code}
				 ) 
			select * from (
				select * from temp t
				where 
					t.group_id = #{group_id,jdbcType=INTEGER}
					AND t.hos_id = #{hos_id,jdbcType=INTEGER}
					AND t.copy_code = #{copy_code,jdbcType=VARCHAR}
					<if test="year_month_beg != null and year_month_beg != '' ">
					AND to_number(t.year_month) &gt;= to_number(#{year_month_beg})
					</if>
					<if test="year_month_end != null and year_month_end != '' ">
					AND to_number(t.year_month) &lt;= to_number(#{year_month_end})
					</if>
					<if test="ass_dis_no != null and ass_dis_no != '' ">
					AND t.dis_r_no like '${ass_dis_no}%'
					</if>
					<if test="ass_nature != null and ass_nature != '' ">
					AND t.naturs_code = #{ass_nature,jdbcType=VARCHAR}
					</if>
					<if test="bus_type_code != null and bus_type_code != '' ">
					AND t.dispose_type = #{bus_type_code,jdbcType=VARCHAR}
					</if>
					<if test="store_id != null and store_id != '' ">
					AND t.store_id = #{store_id,jdbcType=INTEGER}
					</if>
					<if test="dept_id != null and dept_id != '' ">
					AND t.dept_id = #{dept_id,jdbcType=INTEGER}
					</if>
				
				union all
				
				select 
					null group_id,
					null hos_id,
					null copy_code,
					null dis_r_no ,
					null ass_card_no,
					sum(t.dispose_income) dispose_income,
					sum(t.dispose_cost) dispose_cost,
					sum(t.dispose_tax) dispose_tax,
					sum(t.price) price,
					sum(t.depre_money) depre_money,
					sum(t.cur_money) cur_money,
					sum(t.fore_money) fore_money,
					null in_date,
					null ass_spec,
					null ass_mondl,
					null ass_brand,
					null ass_id,
					null ass_no,
					null ass_code,
					null ass_name,
					null ass_type_id,
					null ass_type_code,
					null ass_type_name,
					'合计' year_month,
					null dispose_type ,
					null dispose_type_name ,
					null naturs_code ,
					null  naturs_name ,
					null location ,
					null store_id ,
					null store_no ,
					null store_code ,
					null store_name ,
					null dept_id ,
					null dept_no ,
					null dept_code ,
					null dept_name ,
					null create_emp ,
					null create_emp_name,
					null create_date ,
					null audit_emp ,
					null audit_emp_name ,
					null apply_date ,
					null state ,
					<!-- 记账人 记账日期   -->
					null confirm_emp_name,
					null confirm_date ,
					null note 
				 from temp t
				where 
					t.group_id = #{group_id,jdbcType=INTEGER}
					AND t.hos_id = #{hos_id,jdbcType=INTEGER}
					AND t.copy_code = #{copy_code,jdbcType=VARCHAR}
					<if test="year_month_beg != null and year_month_beg != '' ">
					AND to_number(t.year_month) &gt;= to_number(#{year_month_beg})
					</if>
					<if test="year_month_end != null and year_month_end != '' ">
					AND to_number(t.year_month) &lt;= to_number(#{year_month_end})
					</if>
					<if test="ass_dis_no != null and ass_dis_no != '' ">
					AND t.dis_r_no like '${ass_dis_no}%'
					</if>
					<if test="ass_nature != null and ass_nature != '' ">
					AND t.naturs_code = #{ass_nature,jdbcType=VARCHAR}
					</if>
					<if test="bus_type_code != null and bus_type_code != '' ">
					AND t.dispose_type = #{bus_type_code,jdbcType=VARCHAR}
					</if>
					<if test="store_id != null and store_id != '' ">
					AND t.store_id = #{store_id,jdbcType=INTEGER}
					</if>
					<if test="dept_id != null and dept_id != '' ">
					AND t.dept_id = #{dept_id,jdbcType=INTEGER}
					</if>
			) tt
			
			order by tt.ass_code
			
	</select>
	
	<!-- 打印 -->
	<select id="queryAssScrapBySummryPrint" parameterType="java.util.Map" resultMap="assDepreBreakage">
	with temp as(
				<!-- 专用设备查询  -->
				select adrds.group_id, adrds.hos_id, adrds.copy_code, adrds.dis_r_no, adrds.ass_card_no
      , adrds.dispose_income, adrds.dispose_cost, adrds.dispose_tax, acs.price, acs.depre_money
      , acs.cur_money, acs.fore_money, to_char(acs.in_date,'yyyy-mm-dd') in_date, acs.ass_spec, acs.ass_mondl
      , acs.ass_brand, assd.ass_id, assd.ass_no, assd.ass_code, assd.ass_name
      , atd.ass_type_id, atd.ass_type_code, atd.ass_type_name
      , to_char(adrs.create_date, 'yyyyMM') as year_month, adrs.dispose_type
      , adt.dispose_type_name, '01' as naturs_code, '专用设备' as naturs_name, acs.location, acs.store_id
      , acs.store_no, hsd.store_code, hsd.store_name, acs.dept_id, acs.dept_no
      , hdd.dept_code, hdd.dept_name, adrs.create_emp, su1.user_name as create_emp_name,to_char(adrs.create_date,'yyyy-mm-dd') create_date
      , adrs.audit_emp, su2.user_name as audit_emp_name, to_char(adrs.apply_date,'yyyy-mm-dd') apply_date , adrs.state, su2.user_name as confirm_emp_name
      , to_char(adrs.apply_date,'yyyy-mm-dd') confirm_date, adrds.note
    from ASS_DISPOSAL_R_DETAIL_SPECIAL adrds
    left join ASS_DISPOSAL_R_SPECIAL adrs on adrds.group_id = adrs.group_id
    and adrds.hos_id = adrs.hos_id
    and adrds.copy_code = adrs.copy_code
    and adrds.dis_r_no = adrs.dis_r_no 
    left join ASS_DISPOSE_TYPE adt on adrs.dispose_type = adt.dispose_type_code 
    left join sys_user su1 on adrs.group_id = su1.group_id
    and adrs.hos_id = su1.hos_id
    and adrs.create_emp = su1.user_id
    and su1.is_stop = 0 
    left join sys_user su2 on adrs.group_id = su2.group_id
    and adrs.hos_id = su2.hos_id
    and adrs.audit_emp = su2.user_id
    and su1.is_stop = 0 
    left join ass_card_special acs on adrds.group_id = acs.group_id
    and adrds.hos_id = acs.hos_id
    and adrds.copy_code = acs.copy_code
    and adrds.ass_card_no = acs.ass_card_no 
    left join ass_no_dict assd on acs.group_id = assd.group_id
    and acs.hos_id = assd.hos_id
    and acs.copy_code = assd.copy_code
    and acs.ass_id = assd.ass_id
    and acs.ass_no = assd.ass_no 
    left join ass_type_dict atd on assd.group_id = atd.group_id
    and assd.hos_id = atd.hos_id
    and assd.copy_code = atd.copy_code
    and assd.ass_type_id = atd.ass_type_id 
    left join hos_store_dict hsd on acs.group_id = hsd.group_id
    and acs.hos_id = hsd.hos_id
    and acs.store_id = hsd.store_id
    and hsd.is_stop = 0 
      left join hos_dept_dict hdd on acs.group_id = hdd.group_id
    and acs.hos_id = hdd.hos_id
    and acs.dept_id = hdd.dept_id
    and hdd.is_stop = 0 
				where      
					adrs.state = 2  
					AND adrds.group_id = ${group_id}
					AND adrds.hos_id = ${hos_id}
					AND adrds.copy_code = ${copy_code}
			union all
				<!--  一般设备查询 -->
				select adrdg.group_id, adrdg.hos_id, adrdg.copy_code, adrdg.dis_r_no, adrdg.ass_card_no
      , adrdg.dispose_income, adrdg.dispose_cost, adrdg.dispose_tax, acg.price, acg.depre_money
      , acg.cur_money, acg.fore_money, to_char(acg.in_date,'yyyy-mm-dd') in_date, acg.ass_spec, acg.ass_mondl
      , acg.ass_brand, assd.ass_id, assd.ass_no, assd.ass_code, assd.ass_name
      , atd.ass_type_id, atd.ass_type_code, atd.ass_type_name
      , to_char(adrg.create_date, 'yyyyMM') as year_month, adrg.dispose_type
      , adt.dispose_type_name, '02' as naturs_code, '一般设备' as naturs_name, acg.location, acg.store_id
      , acg.store_no, hsd.store_code, hsd.store_name, acg.dept_id, acg.dept_no
      , hdd.dept_code, hdd.dept_name, adrg.create_emp, su1.user_name as create_emp_name, to_char(adrg.create_date,'yyyy-mm-dd') create_date
      , adrg.audit_emp, su2.user_name as audit_emp_name, to_char(adrg.apply_date,'yyyy-mm-dd') apply_date, adrg.state, su2.user_name as confirm_emp_name
      , to_char(adrg.apply_date,'yyyy-mm-dd') confirm_date, adrdg.note
    from ASS_DISPOSAL_R_DETAIL_GENERAL adrdg
    left join ASS_DISPOSAL_R_GENERAL adrg on adrdg.group_id = adrg.group_id
    and adrdg.hos_id = adrg.hos_id
    and adrdg.copy_code = adrg.copy_code
    and adrdg.dis_r_no = adrg.dis_r_no 
    left join ASS_DISPOSE_TYPE adt on adrg.dispose_type = adt.dispose_type_code 
    left join sys_user su1 on adrg.group_id = su1.group_id
    and adrg.hos_id = su1.hos_id
    and adrg.create_emp = su1.user_id
    and su1.is_stop = 0 
    left join sys_user su2 on adrg.group_id = su2.group_id
    and adrg.hos_id = su2.hos_id
    and adrg.audit_emp = su2.user_id
    and su1.is_stop = 0 
    left join ass_card_general acg on adrdg.group_id = acg.group_id
    and adrdg.hos_id = acg.hos_id
    and adrdg.copy_code = acg.copy_code
    and adrdg.ass_card_no = acg.ass_card_no 
    left join ass_no_dict assd on acg.group_id = assd.group_id
    and acg.hos_id = assd.hos_id
    and acg.copy_code = assd.copy_code
    and acg.ass_id = assd.ass_id
    and acg.ass_no = assd.ass_no 
    left join ass_type_dict atd on assd.group_id = atd.group_id
    and assd.hos_id = atd.hos_id
    and assd.copy_code = atd.copy_code
    and assd.ass_type_id = atd.ass_type_id 
    left join hos_store_dict hsd on acg.group_id = hsd.group_id
    and acg.hos_id = hsd.hos_id
    and acg.store_id = hsd.store_id
    and hsd.is_stop = 0 
      left join hos_dept_dict hdd on acg.group_id = hdd.group_id
    and acg.hos_id = hdd.hos_id
    and acg.dept_id = hdd.dept_id
    and hdd.is_stop = 0 
				where      
					adrg.state = 2  
					AND adrdg.group_id = ${group_id}
					AND adrdg.hos_id = ${hos_id}
					AND adrdg.copy_code = ${copy_code}
			union all
				<!--  房屋及建筑查询 -->
				 select adrdh.group_id, adrdh.hos_id, adrdh.copy_code, adrdh.dis_r_no, adrdh.ass_card_no
      , adrdh.dispose_income, adrdh.dispose_cost, adrdh.dispose_tax, ach.price, ach.depre_money
      , ach.cur_money, ach.fore_money, to_char(ach.in_date,'yyyy-mm-dd') in_date, null as ass_spec, null as ass_mondl
      , null as ass_brand, assd.ass_id, assd.ass_no, assd.ass_code, assd.ass_name
      , atd.ass_type_id, atd.ass_type_code, atd.ass_type_name
      , to_char(adrh.create_date, 'yyyyMM') as year_month, adrh.dispose_type
      , adt.dispose_type_name, '03' as naturs_code, '房屋及建筑' as naturs_name, ach.location, 0 as store_id
      , 0 as store_no, null as store_code, null as store_name, ach.dept_id, ach.dept_no
      , hdd.dept_code, hdd.dept_name, adrh.create_emp, su1.user_name as create_emp_name, to_char(adrh.create_date,'yyyy-mm-dd') create_date
      , adrh.audit_emp, su2.user_name as audit_emp_name, to_char(adrh.apply_date,'yyyy-mm-dd') apply_date, adrh.state, su2.user_name as confirm_emp_name
      , to_char(adrh.apply_date,'yyyy-mm-dd') confirm_date, adrdh.note
    from ASS_DISPOSAL_R_DETAIL_HOUSE adrdh
    left join ASS_DISPOSAL_R_HOUSE adrh on adrdh.group_id = adrh.group_id
    and adrdh.hos_id = adrh.hos_id
    and adrdh.copy_code = adrh.copy_code
    and adrdh.dis_r_no = adrh.dis_r_no 
    left join ASS_DISPOSE_TYPE adt on adrh.dispose_type = adt.dispose_type_code 
    left join sys_user su1 on adrh.group_id = su1.group_id
    and adrh.hos_id = su1.hos_id
    and adrh.create_emp = su1.user_id
    and su1.is_stop = 0 
    left join sys_user su2 on adrh.group_id = su2.group_id
    and adrh.hos_id = su2.hos_id
    and adrh.audit_emp = su2.user_id
    and su1.is_stop = 0 
    left join ass_card_HOUSE ach on adrdh.group_id = ach.group_id
    and adrdh.hos_id = ach.hos_id
    and adrdh.copy_code = ach.copy_code
    and adrdh.ass_card_no = ach.ass_card_no 
    left join ass_no_dict assd on ach.group_id = assd.group_id
    and ach.hos_id = assd.hos_id
    and ach.copy_code = assd.copy_code
    and ach.ass_id = assd.ass_id
    and ach.ass_no = assd.ass_no 
    left join ass_type_dict atd on assd.group_id = atd.group_id
    and assd.hos_id = atd.hos_id
    and assd.copy_code = atd.copy_code
    and assd.ass_type_id = atd.ass_type_id 
      left join hos_dept_dict hdd on ach.group_id = hdd.group_id
    and ach.hos_id = hdd.hos_id
    and ach.dept_id = hdd.dept_id
    and hdd.is_stop = 0 
				where      
					adrh.state = 2  
					AND adrdh.group_id = ${group_id}
					AND adrdh.hos_id = ${hos_id}
					AND adrdh.copy_code = ${copy_code}
			union all
				<!--  其他固定资产 -->
				 select adrdo.group_id, adrdo.hos_id, adrdo.copy_code, adrdo.dis_r_no, adrdo.ass_card_no
      , adrdo.dispose_income, adrdo.dispose_cost, adrdo.dispose_tax, aco.price, aco.depre_money
      , aco.cur_money, aco.fore_money, to_char(aco.in_date,'yyyy-mm-dd') in_date, aco.ass_spec, aco.ass_mondl
      , aco.ass_brand, assd.ass_id, assd.ass_no, assd.ass_code, assd.ass_name
      , atd.ass_type_id, atd.ass_type_code, atd.ass_type_name
      , to_char(adro.create_date, 'yyyyMM') as year_month, adro.dispose_type
      , adt.dispose_type_name, '04' as naturs_code, '其他固定资产' as naturs_name, aco.location, aco.store_id
      , aco.store_no, hsd.store_code, hsd.store_name, aco.dept_id, aco.dept_no
      , hdd.dept_code, hdd.dept_name, adro.create_emp, su1.user_name as create_emp_name, to_char(adro.create_date,'yyyy-mm-dd') create_date
      , adro.audit_emp, su2.user_name as audit_emp_name, to_char(adro.apply_date,'yyyy-mm-dd') apply_date, adro.state, su2.user_name as confirm_emp_name
      , to_char(adro.apply_date,'yyyy-mm-dd') confirm_date, adrdo.note
    from ASS_DISPOSAL_R_DETAIL_OTHER adrdo
    left join ASS_DISPOSAL_R_OTHER adro on adrdo.group_id = adro.group_id
    and adrdo.hos_id = adro.hos_id
    and adrdo.copy_code = adro.copy_code
    and adrdo.dis_r_no = adro.dis_r_no 
    left join ASS_DISPOSE_TYPE adt on adro.dispose_type = adt.dispose_type_code 
    left join sys_user su1 on adro.group_id = su1.group_id
    and adro.hos_id = su1.hos_id
    and adro.create_emp = su1.user_id
    and su1.is_stop = 0 
    left join sys_user su2 on adro.group_id = su2.group_id
    and adro.hos_id = su2.hos_id
    and adro.audit_emp = su2.user_id
    and su1.is_stop = 0 
    left join ass_card_other aco on adrdo.group_id = aco.group_id
    and adrdo.hos_id = aco.hos_id
    and adrdo.copy_code = aco.copy_code
    and adrdo.ass_card_no = aco.ass_card_no 
    left join ass_no_dict assd on aco.group_id = assd.group_id
    and aco.hos_id = assd.hos_id
    and aco.copy_code = assd.copy_code
    and aco.ass_id = assd.ass_id
    and aco.ass_no = assd.ass_no 
    left join ass_type_dict atd on assd.group_id = atd.group_id
    and assd.hos_id = atd.hos_id
    and assd.copy_code = atd.copy_code
    and assd.ass_type_id = atd.ass_type_id 
    left join hos_store_dict hsd on aco.group_id = hsd.group_id
    and aco.hos_id = hsd.hos_id
    and aco.store_id = hsd.store_id
    and hsd.is_stop = 0 
      left join hos_dept_dict hdd on aco.group_id = hdd.group_id
    and aco.hos_id = hdd.hos_id
    and aco.dept_id = hdd.dept_id
    and hdd.is_stop = 0 
				where      
					adro.state = 2  
					AND adrdo.group_id = ${group_id}
					AND adrdo.hos_id = ${hos_id}
					AND adrdo.copy_code = ${copy_code}
			union all
				<!--  其他无形资产 -->
				select adrdi.group_id, adrdi.hos_id, adrdi.copy_code, adrdi.dis_r_no, adrdi.ass_card_no
      , adrdi.dispose_income, adrdi.dispose_cost, adrdi.dispose_tax, aci.price, aci.depre_money
      , aci.cur_money, aci.fore_money, to_char(aci.in_date,'yyyy-mm-dd') in_date, null as ass_spec, null as ass_mondl
      , aci.ass_brand, assd.ass_id, assd.ass_no, assd.ass_code, assd.ass_name
      , atd.ass_type_id, atd.ass_type_code, atd.ass_type_name
      , to_char(adri.create_date, 'yyyyMM') as year_month, adri.dispose_type
      , adt.dispose_type_name, '05' as naturs_code, '其他无形资产' as naturs_name, aci.location, aci.store_id
      , aci.store_no, hsd.store_code, hsd.store_name, aci.dept_id, aci.dept_no
      , hdd.dept_code, hdd.dept_name, adri.create_emp, su1.user_name as create_emp_name, to_char(adri.create_date,'yyyy-mm-dd') create_date
      , adri.audit_emp, su2.user_name as audit_emp_name, to_char(adri.apply_date,'yyyy-mm-dd') apply_date, adri.state, su2.user_name as confirm_emp_name
      , to_char(adri.apply_date,'yyyy-mm-dd') confirm_date, adrdi.note
    from ASS_DISPOSAL_R_DETAIL_INASSET adrdi
    left join ASS_DISPOSAL_R_INASSETS adri on adrdi.group_id = adri.group_id
    and adrdi.hos_id = adri.hos_id
    and adrdi.copy_code = adri.copy_code
    and adrdi.dis_r_no = adri.dis_r_no 
    left join ASS_DISPOSE_TYPE adt on adri.dispose_type = adt.dispose_type_code 
    left join sys_user su1 on adri.group_id = su1.group_id
    and adri.hos_id = su1.hos_id
    and adri.create_emp = su1.user_id
    and su1.is_stop = 0 
    left join sys_user su2 on adri.group_id = su2.group_id
    and adri.hos_id = su2.hos_id
    and adri.audit_emp = su2.user_id
    and su1.is_stop = 0 
    left join ass_card_inassets aci on adrdi.group_id = aci.group_id
    and adrdi.hos_id = aci.hos_id
    and adrdi.copy_code = aci.copy_code
    and adrdi.ass_card_no = aci.ass_card_no 
    left join ass_no_dict assd on aci.group_id = assd.group_id
    and aci.hos_id = assd.hos_id
    and aci.copy_code = assd.copy_code
    and aci.ass_id = assd.ass_id
    and aci.ass_no = assd.ass_no 
    left join ass_type_dict atd on assd.group_id = atd.group_id
    and assd.hos_id = atd.hos_id
    and assd.copy_code = atd.copy_code
    and assd.ass_type_id = atd.ass_type_id 
    left join hos_store_dict hsd on aci.group_id = hsd.group_id
    and aci.hos_id = hsd.hos_id
    and aci.store_id = hsd.store_id
    and hsd.is_stop = 0 
      left join hos_dept_dict hdd on aci.group_id = hdd.group_id
    and aci.hos_id = hdd.hos_id
    and aci.dept_id = hdd.dept_id
    and hdd.is_stop = 0 
				where      
					adri.state = 2  
					AND adrdi.group_id = ${group_id}
					AND adrdi.hos_id = ${hos_id}
					AND adrdi.copy_code = ${copy_code}
			union all
				<!--  土地使用权 -->
				select adrdl.group_id, adrdl.hos_id, adrdl.copy_code, adrdl.dis_r_no, adrdl.ass_card_no
      , adrdl.dispose_income, adrdl.dispose_cost, adrdl.dispose_tax, acl.price, acl.depre_money
      , acl.cur_money, acl.fore_money, to_char(acl.in_date,'yyyy-mm-dd') in_date, null as ass_spec, null as ass_mondl
      , null as ass_brand, assd.ass_id, assd.ass_no, assd.ass_code, assd.ass_name
      , atd.ass_type_id, atd.ass_type_code, atd.ass_type_name
      , to_char(adrl.create_date, 'yyyyMM') as year_month, adrl.dispose_type
      , adt.dispose_type_name, '06' as naturs_code, '土地使用权' as naturs_name, acl.location, 0 as store_id
      , 0 as store_no, null as store_code, null as store_name, acl.dept_id, acl.dept_no
      , hdd.dept_code, hdd.dept_name, adrl.create_emp, su1.user_name as create_emp_name, to_char(adrl.create_date,'yyyy-mm-dd') create_date
      , adrl.audit_emp, su2.user_name as audit_emp_name, to_char(adrl.apply_date,'yyyy-mm-dd') apply_date, adrl.state, su2.user_name as confirm_emp_name
      , to_char(adrl.apply_date,'yyyy-mm-dd') confirm_date, adrdl.note
    from ASS_DISPOSAL_R_DETAIL_Land adrdl
    left join ASS_DISPOSAL_R_Land adrl on adrdl.group_id = adrl.group_id
    and adrdl.hos_id = adrl.hos_id
    and adrdl.copy_code = adrl.copy_code
    and adrdl.dis_r_no = adrl.dis_r_no 
    left join ASS_DISPOSE_TYPE adt on adrl.dispose_type = adt.dispose_type_code 
    left join sys_user su1 on adrl.group_id = su1.group_id
    and adrl.hos_id = su1.hos_id
    and adrl.create_emp = su1.user_id
    and su1.is_stop = 0 
    left join sys_user su2 on adrl.group_id = su2.group_id
    and adrl.hos_id = su2.hos_id
    and adrl.audit_emp = su2.user_id
    and su1.is_stop = 0 
    left join ass_card_land acl on adrdl.group_id = acl.group_id
    and adrdl.hos_id = acl.hos_id
    and adrdl.copy_code = acl.copy_code
    and adrdl.ass_card_no = acl.ass_card_no 
    left join ass_no_dict assd on acl.group_id = assd.group_id
    and acl.hos_id = assd.hos_id
    and acl.copy_code = assd.copy_code
    and acl.ass_id = assd.ass_id
    and acl.ass_no = assd.ass_no 
    left join ass_type_dict atd on assd.group_id = atd.group_id
    and assd.hos_id = atd.hos_id
    and assd.copy_code = atd.copy_code
    and assd.ass_type_id = atd.ass_type_id 
      left join hos_dept_dict hdd on acl.group_id = hdd.group_id
    and acl.hos_id = hdd.hos_id
    and acl.dept_id = hdd.dept_id
    and hdd.is_stop = 0 
				where      
					adrl.state = 2  
					AND adrdl.group_id = ${group_id}
					AND adrdl.hos_id = ${hos_id}
					AND adrdl.copy_code = ${copy_code}
				 ) 
			select * from (
				select * from temp t
				where 
					t.group_id = #{group_id,jdbcType=INTEGER}
					AND t.hos_id = #{hos_id,jdbcType=INTEGER}
					AND t.copy_code = #{copy_code,jdbcType=VARCHAR}
					<if test="year_month_beg != null and year_month_beg != '' ">
					AND to_number(t.year_month) &gt;= to_number(#{year_month_beg})
					</if>
					<if test="year_month_end != null and year_month_end != '' ">
					AND to_number(t.year_month) &lt;= to_number(#{year_month_end})
					</if>
					<if test="ass_dis_no != null and ass_dis_no != '' ">
					AND t.dis_r_no like '${ass_dis_no}%'
					</if>
					<if test="ass_nature != null and ass_nature != '' ">
					AND t.naturs_code = #{ass_nature,jdbcType=VARCHAR}
					</if>
					<if test="bus_type_code != null and bus_type_code != '' ">
					AND t.dispose_type = #{bus_type_code,jdbcType=VARCHAR}
					</if>
					<if test="store_id != null and store_id != '' ">
					AND t.store_id = #{store_id,jdbcType=INTEGER}
					</if>
					<if test="dept_id != null and dept_id != '' ">
					AND t.dept_id = #{dept_id,jdbcType=INTEGER}
					</if>
				
				union all
				
				select 
					null group_id,
					null hos_id,
					null copy_code,
					null dis_r_no ,
					null ass_card_no,
					sum(t.dispose_income) dispose_income,
					sum(t.dispose_cost) dispose_cost,
					sum(t.dispose_tax) dispose_tax,
					sum(t.price) price,
					sum(t.depre_money) depre_money,
					sum(t.cur_money) cur_money,
					sum(t.fore_money) fore_money,
					null in_date,
					null ass_spec,
					null ass_mondl,
					null ass_brand,
					null ass_id,
					null ass_no,
					null ass_code,
					null ass_name,
					null ass_type_id,
					null ass_type_code,
					null ass_type_name,
					'合计' year_month,
					null dispose_type ,
					null dispose_type_name ,
					null naturs_code ,
					null  naturs_name ,
					null location ,
					null store_id ,
					null store_no ,
					null store_code ,
					null store_name ,
					null dept_id ,
					null dept_no ,
					null dept_code ,
					null dept_name ,
					null create_emp ,
					null create_emp_name,
					null create_date ,
					null audit_emp ,
					null audit_emp_name ,
					null apply_date ,
					null state ,
					<!-- 记账人 记账日期   -->
					null confirm_emp_name,
					null confirm_date ,
					null note 
				 from temp t
				where 
					t.group_id = #{group_id,jdbcType=INTEGER}
					AND t.hos_id = #{hos_id,jdbcType=INTEGER}
					AND t.copy_code = #{copy_code,jdbcType=VARCHAR}
					<if test="year_month_beg != null and year_month_beg != '' ">
					AND to_number(t.year_month) &gt;= to_number(#{year_month_beg})
					</if>
					<if test="year_month_end != null and year_month_end != '' ">
					AND to_number(t.year_month) &lt;= to_number(#{year_month_end})
					</if>
					<if test="ass_dis_no != null and ass_dis_no != '' ">
					AND t.dis_r_no like '${ass_dis_no}%'
					</if>
					<if test="ass_nature != null and ass_nature != '' ">
					AND t.naturs_code = #{ass_nature,jdbcType=VARCHAR}
					</if>
					<if test="bus_type_code != null and bus_type_code != '' ">
					AND t.dispose_type = #{bus_type_code,jdbcType=VARCHAR}
					</if>
					<if test="store_id != null and store_id != '' ">
					AND t.store_id = #{store_id,jdbcType=INTEGER}
					</if>
					<if test="dept_id != null and dept_id != '' ">
					AND t.dept_id = #{dept_id,jdbcType=INTEGER}
					</if>
			) tt
			
			order by tt.ass_code
	
	</select>
</mapper>