<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.CusDictMapper">

	<resultMap id="cusDict" type="com.chd.hrp.sys.entity.CusDict">
        <result property="cus_no" column="cus_no"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="cus_id" column="cus_id"/>
        <result property="cus_code" column="cus_code"/>
        <result property="cus_name" column="cus_name"/>
        <result property="type_code" column="type_code"/>
        <result property="sort_code" column="sort_code"/>
        <result property="note" column="note"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="user_code" column="user_code"/>
        <result property="create_date" column="create_date"/>
        <result property="dlog" column="dlog"/>
        <result property="is_stop" column="is_stop"/>
        <result property="type_name" column="type_name"/>
        <result property="contact" column="contact"/>
        <result property="is_mat" column="is_mat" />
		<result property="is_ass" column="is_ass" />
		<result property="is_med" column="is_med" />
		<result property="is_sup" column="is_sup" />
		<result property="is_disable" column="is_disable" />
	</resultMap>
	
	<resultMap id="cusDict1" type="java.util.Map">
        <result property="cus_no" column="cus_no"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="cus_id" column="cus_id"/>
        <result property="cus_code" column="cus_code"/>
        <result property="cus_name" column="cus_name"/>
        <result property="type_code" column="type_code"/>
        <result property="sort_code" column="sort_code"/>
        <result property="note" column="note"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="user_code" column="user_code"/>
        <result property="create_date" column="create_date"/>
        <result property="dlog" column="dlog"/>
        <result property="is_stop" column="is_stop"/>
        <result property="type_name" column="type_name"/>
        <result property="contact" column="contact"/>
        <result property="is_mat" column="is_mat" />
		<result property="is_ass" column="is_ass" />
		<result property="is_med" column="is_med" />
		<result property="is_sup" column="is_sup" />
		<result property="is_disable" column="is_disable" />
	</resultMap>
	
    <insert id="addCusDict" useGeneratedKeys="true" >
    
        INSERT INTO HOS_CUS_DICT (
                    cus_no
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    cus_id
			 ,
                    cus_code
			 ,
                    cus_name
			 ,
			      	type_code
			 ,
                    sort_code
			 ,
                    note
			 ,
			      	spell_code
			 ,
                    wbx_code
			 ,
                    user_code
			 ,
                    create_date
			 ,
                    dlog
			 ,
                    is_stop
              ,
			     	is_mat
		     ,
	 	     		is_ass
		    ,
	            	is_med 
	            	,
		          is_sup 
	            	,
		     is_disable 
			 
        ) VALUES (
HOS_CUS_DICT_SEQ.nextval			 ,
#{group_id}			 ,
#{hos_id}			 ,
#{cus_id}			 ,
#{cus_code}			 ,
#{cus_name}			 ,
#{type_code}			 ,
#{sort_code}			 ,
#{note}			 ,
#{spell_code}			 ,
#{wbx_code}			 ,
#{user_code}			 ,
#{create_date}			 ,
#{dlog}			 ,
'0',
#{is_mat} ,
#{is_ass} ,
#{is_med} 	,
#{is_sup} 	,
#{is_disable}				 
        )
    
    </insert>
	<insert id="addBatchCusDict" parameterType="java.util.List" >
    
        INSERT INTO HOS_CUS_DICT (
                    cus_no
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    cus_id
			 ,
                    cus_code
			 ,
                    cus_name
			 ,
			      	type_code
			 ,
                    sort_code
			 ,
                    note
			 ,
			      	spell_code
			 ,
                    wbx_code
			 ,
                    user_code
			 ,
                    create_date
			 ,
                    dlog
			 ,
                    is_stop
			 
        )  select HOS_CUS_DICT_SEQ.nextval , t.* from (
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.group_id}			 ,
#{item.hos_id}			 ,
#{item.cus_id}			 ,
#{item.cus_code}			 ,
#{item.cus_name}			 ,
#{item.type_code}			 ,
#{item.sort_code}			 ,
#{item.note}			 ,
#{item.spell_code}			 ,
#{item.wbx_code}			 ,
#{item.user_code}			 ,
#{item.create_date}			 ,
#{item.dlog}			 ,
#{item.is_stop}			 
		 from dual 
		</foreach>
    ) t
    </insert>
	<update id="updateCusDictState" parameterType="java.util.Map">
    
        UPDATE hos_cus_dict SET
			 is_stop = 1
			 
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 cus_id = #{cus_id}
			  and 
		 cus_code = #{cus_code}
   
	</update>
	<update id="updateCusDict" parameterType="java.util.Map">
    
        UPDATE hos_cus_dict SET
			 cus_name = #{cus_name}
			 ,
			 user_code = #{user_code}
			 ,
			 create_date = #{create_date}
			 ,
			 note = #{note}
			 ,
			 is_stop = #{is_stop}
			 
        WHERE 
		 cus_no = #{cus_no}
			  and 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 cus_id = #{cus_id}
			  and 
		 cus_code = #{cus_code}
			 
   
	</update>
	
	<update id="updateBatchCusDict" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE hos_cus_dict SET
			 cus_name = #{cus_name}
			 ,
			 user_code = #{user_code}
			 ,
			 create_date = #{create_date}
			 ,
			 note = #{note}
			 ,
			 is_stop = #{is_stop}
			 
        WHERE 
		 cus_no = #{item.cus_no}
			  and 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 cus_id = #{item.cus_id}
			  and 
		 cus_code = #{item.cus_code}
			 
    </foreach>
	</update>

    <delete id="deleteCusDict" parameterType="java.util.Map">
   
        DELETE FROM hos_cus_dict WHERE
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id}   and 
	        cus_id = #{cus_id}   
	        
   
    </delete>
    <delete id="deleteBatchCusDict" parameterType="java.util.List">
        DELETE FROM hos_cus_dict WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 cus_id = #{item.cus_id}
			  and 
		 cus_code = #{item.cus_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryCusDictByCode" resultType="com.chd.hrp.sys.entity.CusDict" parameterType="string" >
	  
        SELECT 
            cus_no,
            group_id,
            hos_id,
            cus_id,
            cus_code,
            cus_name,
            user_code,
            create_date,
            note,
            is_stop
		FROM hos_cus_dict 
	        WHERE 
		        cus_no = #{cus_no}   and 
		        group_id = #{group_id}   and 
		        hos_id = #{hos_id}   and 
		        cus_id = #{cus_id}   and 
		        cus_code = #{cus_code} 
        
	</select>
	<select id="queryCusDict" parameterType="java.util.Map" resultMap="cusDict" >
      
        SELECT 
            hcd.cus_no ,
             hcd.group_id ,
             hcd.hos_id ,
             hcd.cus_id ,
             hcd.cus_code ,
             hcd.cus_name,
  	      hcd.type_code ,
             hcd.sort_code ,
             hct.type_name,
             aca.contact, 
             hcd.note ,
  	      hcd.spell_code ,
             hcd.wbx_code ,
             hcd.user_code ,
             hcd.create_date ,
             hcd.dlog ,
            hcd.is_stop,
            hcd.is_disable
	        FROM HOS_CUS_DICT hcd 
	        left join acc_cus_attr aca
	        	on hcd.group_id= aca.group_id 
	        	and hcd.hos_id = aca.hos_id
	        	and hcd.cus_id = aca.cus_id 
	        left join hos_cus_type hct 
	        	on
	        	hcd.group_id = hct.group_id 
	        	and hcd.hos_id = hct.hos_id
	        	and hcd.type_code = hct.type_code 
            <where>               
             hcd.is_stop = 0       
			    <if test="cus_no != null and cus_no != ''">
                    AND hcd.cus_no = #{cus_no}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND hcd.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hcd.hos_id = #{hos_id}
               </if>
			    <if test="cus_id != null and cus_id != ''">
                    AND hcd.cus_id = #{cus_id}
               </if>
			    <if test="cus_code != null and cus_code != ''">
                    AND hcd.cus_code = #{cus_code}
               </if>
			    <if test="cus_name != null and cus_name != ''">
                    AND hcd.cus_name = #{cus_name}
               </if>
			    <if test="user_code != null and user_code != ''">
                    AND hcd.user_code = #{user_code}
               </if>
			    <if test="create_date != null and create_date != ''">
                    AND hcd.create_date = #{create_date}
               </if>
			    <if test="note != null and note != ''">
                    AND hcd.note = #{note}
               </if>
               <if test="is_disable != null and is_disable != ''">
                    AND hcd.is_disable = #{is_disable}
               </if>
               <if test="type_code != null and type_code != ''">
                    AND hct.type_code = #{type_code}
               </if>
               <if test="queryTree != null and queryTree != ''">
               		and hcd.${select_code} like '%${queryTree}%'
               </if>
        </where>   
				order by hcd.create_date desc
    </select>
    
    <select id="queryCusDictList" parameterType="java.util.Map" resultMap="cusDict">
		SELECT hc.group_id,
			   hc.hos_id,
			   hc.cus_id,
			   hc.cus_code,
			   hc.type_code,
			   hct.type_name,
			   hc.cus_name,
			   hc.sort_code,
			   hc.spell_code,
			   hc.wbx_code,
			   hc.is_stop,
			   hc.is_disable,
			   hc.note
		FROM HOS_CUS_dict hc 
		left join HOS_CUS_TYPE hct
			   ON hc.group_id = hct.group_id 
			  and hc.hos_id = hct.hos_id 
			  and hc.type_code = hct.type_code
		<where>
			hc.is_stop = 0
			<if test="group_id != null and group_id != ''">
				AND hc.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hc.hos_id = #{hos_id}
			</if>
			<if test="cus_id != null and cus_id != ''">
				AND hc.cus_id = #{cus_id}
			</if>
			<if test="cus_code != null and cus_code != ''">
				AND hc.cus_code = #{cus_code}
			</if>
			<if test="type_code != null and type_code != ''">
				AND hc.type_code = #{type_code}
			</if>
			<if test="cus_name != null and cus_name != ''">
				AND hc.cus_name = #{cus_name}
			</if>
			<if test="sort_code != null and sort_code != ''">
				AND hc.sort_code = #{sort_code}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND hc.spell_code = #{spell_code}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND hc.wbx_code = #{wbx_code}
			</if>
			<if test="is_disable != null and is_disable != ''">
				AND hc.is_disable = #{is_disable}
			</if>
			<if test="note != null and note != ''">
				AND hc.note = #{note}
			</if>
		</where>
		order by hc.cus_code asc
	</select>
	
	<!--     打印 -->
	<select id="queryCusDictPrint" parameterType="java.util.Map" resultMap="cusDict1" >
      
        SELECT 
            hcd.cus_no ,
             hcd.group_id ,
             hcd.hos_id ,
             hcd.cus_id ,
             hcd.cus_code ,
             hcd.cus_name,
  	      hcd.type_code ,
             hcd.sort_code ,
             hct.type_name,
             aca.contact, 
             hcd.note ,
  	      hcd.spell_code ,
             hcd.wbx_code ,
             hcd.user_code ,
             hcd.create_date ,
             hcd.dlog ,
            hcd.is_stop,
            hcd.is_disable
	        FROM HOS_CUS_DICT hcd 
	        left join acc_cus_attr aca
	        	on hcd.group_id= aca.group_id 
	        	and hcd.hos_id = aca.hos_id
	        	and hcd.cus_id = aca.cus_id 
	        left join hos_cus_type hct 
	        	on
	        	hcd.group_id = hct.group_id 
	        	and hcd.hos_id = hct.hos_id
	        	and hcd.type_code = hct.type_code 
            <where>               
             hcd.is_stop = 0       
			    <if test="cus_no != null and cus_no != ''">
                    AND hcd.cus_no = #{cus_no}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND hcd.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hcd.hos_id = #{hos_id}
               </if>
			    <if test="cus_id != null and cus_id != ''">
                    AND hcd.cus_id = #{cus_id}
               </if>
			    <if test="cus_code != null and cus_code != ''">
                    AND hcd.cus_code = #{cus_code}
               </if>
			    <if test="cus_name != null and cus_name != ''">
                    AND hcd.cus_name = #{cus_name}
               </if>
			    <if test="user_code != null and user_code != ''">
                    AND hcd.user_code = #{user_code}
               </if>
			    <if test="create_date != null and create_date != ''">
                    AND hcd.create_date = #{create_date}
               </if>
			    <if test="note != null and note != ''">
                    AND hcd.note = #{note}
               </if>
                    AND hcd.is_stop = 0
               <if test="is_disable != null and is_disable != ''">
                    AND hcd.is_disable = #{is_disable}
               </if>
               <if test="type_code != null and type_code != ''">
                    AND hct.type_code = #{type_code}
               </if>
               <if test="queryTree != null and queryTree != ''">
               		and hcd.${select_code} like '%${queryTree}%'
               </if>
        </where>   
				order by hcd.create_date desc
    </select>
	
	<update id="updateCusDict_Cus" parameterType="java.util.Map">
    
        UPDATE hos_cus_dict SET
        	cus_code = #{cus_code}
			 ,
			 cus_name = #{cus_name}
			 ,
			 type_code = #{type_code}
			 ,
			 sort_code = #{sort_code}
			 ,
			 note = #{note}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 user_code = #{user_code}
			 ,
			 create_date = #{create_date}
			 ,
			 dlog = #{dlog}
			 ,		
			is_disable = #{is_disable}
			,
			 is_mat = #{is_mat}
			 ,
		     is_ass = #{is_ass}
		     ,
		     is_med = #{is_med}
	
			 
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 cus_id = #{cus_id}
			  and 
		 cus_code = #{cus_codeOld}
   		and is_stop = 0
	</update>
	
	<!--用于集团化管理   集团客户选择器     集团客户字典查询    -->
	<select id="queryGroupCusDict" parameterType="java.util.Map" resultMap="cusDict" >
      
        SELECT 
            hcd.cus_no ,
             hcd.group_id ,
             hcd.hos_id ,
             hcd.cus_id ,
             hcd.cus_code ,
             hcd.cus_name,
  	      hcd.type_code ,
             hcd.sort_code ,
             hct.type_name,
             aca.contact, 
             hcd.note ,
  	      hcd.spell_code ,
             hcd.wbx_code ,
             hcd.user_code ,
             hcd.create_date ,
             hcd.dlog ,
            hcd.is_stop,
            hcd.is_disable
	        FROM HOS_CUS_DICT hcd 
	        left join acc_cus_attr aca
	        	on hcd.group_id= aca.group_id 
	        	and hcd.hos_id = aca.hos_id
	        	and hcd.cus_id = aca.cus_id 
	        left join hos_cus_type hct 
	        	on
	        	hcd.group_id = hct.group_id 
	        	and hcd.hos_id = hct.hos_id
	        	and hcd.type_code = hct.type_code 
            <where>               
             hcd.is_stop = 0       
			    <if test="cus_no != null and cus_no != ''">
                    AND hcd.cus_no = #{cus_no}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND hcd.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hcd.hos_id = #{hos_id}
               </if>
			    <if test="cus_id != null and cus_id != ''">
                    AND hcd.cus_id = #{cus_id}
               </if>
			    <if test="cus_code != null and cus_code != ''">
                    AND hcd.cus_code = #{cus_code}
               </if>
			    <if test="cus_name != null and cus_name != ''">
                    AND hcd.cus_name = #{cus_name}
               </if>
			    <if test="user_code != null and user_code != ''">
                    AND hcd.user_code = #{user_code}
               </if>
			    <if test="create_date != null and create_date != ''">
                    AND hcd.create_date = #{create_date}
               </if>
			    <if test="note != null and note != ''">
                    AND hcd.note = #{note}
               </if>
               <if test="is_stop != null and is_stop != ''">
                    AND hcd.is_stop = #{is_stop}
               </if>
               <if test="type_code != null and type_code != ''">
                    AND hct.type_code = #{type_code}
               </if>
               <if test="queryTree != null and queryTree != ''">
               		and hcd.${select_code} like '%${queryTree}%'
               </if>
        </where>   
				order by hcd.create_date desc
    </select>
    
</mapper>

