<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.DeptMapper">

	<resultMap id="dept" type="com.chd.hrp.sys.entity.Dept">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_code" column="dept_code" />
		<result property="kind_code" column="kind_code" />
		<result property="dept_name" column="dept_name" />
		<result property="super_code" column="super_code" />
		<result property="udefine_code" column="udefine_code" />
		<result property="sort_code" column="sort_code" />
		<result property="is_stop" column="is_stop" />
		<result property="is_last" column="is_last" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="note" column="note" />
		<result property="dept_level" column="dept_level" />
	</resultMap>
	<resultMap id="deptmap" type="java.util.Map" >
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="kind_code" column="kind_code" />
		<result property="kind_name" column="kind_name" />

	</resultMap>
	<insert id="addDept" useGeneratedKeys="true">

		INSERT INTO HOS_DEPT (
		group_id
		,
		hos_id
		,
		dept_id
		,
		dept_code
		,
		kind_code
		,
		dept_name
		,
		super_code
		,
		udefine_code
		,
		sort_code
		,
		is_stop
		,
		is_last
		,
		spell_code
		,
		wbx_code
		,
		note
		,
		dept_level

		) VALUES (
		#{group_id,jdbcType=INTEGER} ,
		#{hos_id,jdbcType=INTEGER} ,
		HOS_DEPT_SEQ.nextval ,
		#{dept_code,jdbcType=VARCHAR} ,
		#{kind_code,jdbcType=VARCHAR} ,
		#{dept_name,jdbcType=VARCHAR} ,
		#{super_code,jdbcType=VARCHAR} ,
		#{udefine_code,jdbcType=VARCHAR} ,
		#{sort_code,jdbcType=INTEGER} ,
		#{is_stop,jdbcType=INTEGER} ,
		#{is_last,jdbcType=INTEGER} ,
		#{spell_code,jdbcType=VARCHAR} ,
		#{wbx_code,jdbcType=VARCHAR} ,
		#{note,jdbcType=VARCHAR} ,
		#{dept_level,jdbcType=INTEGER}
		)

	</insert>
	<select id="queryCurrentSequence" resultType="java.lang.Long">
		select
		HOS_DEPT_SEQ.currval group_id from dual
	</select>
	<insert id="addBatchDept" parameterType="java.util.List">

		INSERT INTO HOS_DEPT (
		dept_id
		,
		group_id
		,
		hos_id
		,
		dept_code
		,
		kind_code
		,
		dept_name
		,
		super_code
		,
		udefine_code
		,
		sort_code
		,
		is_stop
		,
		is_last
		,
		spell_code
		,
		wbx_code
		,
		note
		,
		dept_level

		) select HOS_DEPT_SEQ.nextval , t.*
		from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.dept_code} ,
			#{item.kind_code} ,
			#{item.dept_name} ,
			#{item.super_code} ,
			#{item.udefine_code} ,
			#{item.sort_code} ,
			#{item.is_stop} ,
			#{item.is_last} ,
			#{item.spell_code} ,
			#{item.wbx_code} ,
			#{item.note} ,
			#{item.dept_level}
			from dual
		</foreach>
		) t
	</insert>

	<update id="updateDept" parameterType="java.util.Map">

		UPDATE hos_dept
		<trim prefix="SET" suffixOverrides=",">
				dept_code = #{dept_code,jdbcType=VARCHAR}
				,
				kind_code = #{kind_code,jdbcType=VARCHAR}
				,
				dept_name = #{dept_name,jdbcType=VARCHAR}
				,
				super_code = #{super_code,jdbcType=VARCHAR}
				,
				udefine_code = #{udefine_code,jdbcType=VARCHAR}
				,
				sort_code = #{sort_code,jdbcType=INTEGER}
				,
				is_stop = #{is_disable,jdbcType=INTEGER} <!-- _dict 的 is_disable 与不带_dict 的 is_stop 一个含义  -->
				,
				is_last = #{is_last,jdbcType=INTEGER}
				,
				spell_code = #{spell_code,jdbcType=VARCHAR}
				,
				wbx_code = #{wbx_code,jdbcType=VARCHAR}
				,
				note = #{note,jdbcType=VARCHAR}
				,
				dept_level = #{dept_level,jdbcType=INTEGER},
		</trim>
		WHERE
		group_id = #{group_id,jdbcType=INTEGER}
		and
		hos_id =
		#{hos_id,jdbcType=INTEGER}
		and
		dept_id = #{dept_id,jdbcType=INTEGER}
	</update>

	<update id="updateDeptCode" parameterType="java.util.Map">

		UPDATE hos_dept SET
		dept_code = #{dept_code}
		WHERE
		group_id = #{group_id}
		and
		hos_id =
		#{hos_id}
		and
		dept_id = #{dept_id}

	</update>
<update id="updateIsLast" parameterType="java.util.Map">

		UPDATE hos_dept SET
		is_last = #{is_last}
		WHERE
		group_id = #{group_id}
		and
		hos_id =
		#{hos_id}
		and
		dept_code = #{dept_id}</update>
	<update id="updateDeptName" parameterType="java.util.Map">

		UPDATE hos_dept SET
		dept_name = #{dept_name}
		,
		spell_code = #{spell_code}
		,
		wbx_code =
		#{wbx_code}

		WHERE
		group_id = #{group_id}
		and
		hos_id = #{hos_id}
		and
		dept_id
		= #{dept_id}
	</update>

	<update id="updateBatchDept" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE hos_dept SET
			kind_code = #{kind_code}
			,
			dept_name = #{dept_name}
			,
			super_code = #{super_code}
			,
			udefine_code =
			#{udefine_code}
			,
			sort_code = #{sort_code}
			,
			is_stop = #{is_stop}
			,
			is_last = #{is_last}
			,
			spell_code = #{spell_code}
			,
			wbx_code =
			#{wbx_code}
			,
			note = #{note}
			,
			dept_level = #{dept_level}

			WHERE
			group_id =
			#{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			dept_id =
			#{item.dept_id}

		</foreach>
	</update>
<update id="updateBatchSuperCode" parameterType="java.util.List">

	<foreach collection="list" item="item" index="index"
			open="begin" close=";end;" separator=";">
			UPDATE hos_dept SET
			
			kind_code = #{map.kind_code}
			WHERE
			group_id =
			#{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			dept_id =
			#{item.dept_id}

		</foreach>
		</update>
		<update id="updateBatchStop"  parameterType="java.util.List">

	<foreach collection="list" item="item" index="index"
			open="begin" close=";end;" separator=";">
			UPDATE hos_dept SET
			is_stop = #{map.is_stop}
			WHERE
			group_id =
			#{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			dept_id =
			#{item.dept_id}

		</foreach></update>
	<delete id="deleteDept" parameterType="java.util.Map">

		DELETE FROM hos_dept WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		dept_id = #{dept_id}
	</delete>
	<delete id="deleteBatchDept" parameterType="java.util.List">
		DELETE FROM hos_dept WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and
			hos_id =
			#{item.hos_id}
			and
			dept_id = #{item.dept_id}
		</foreach>


	</delete>

	<select id="queryDeptByCode" resultType="com.chd.hrp.sys.entity.Dept"
		parameterType="java.util.Map">

		SELECT
		hd.group_id,
		hd.hos_id,
		hd.dept_id,
		hd.dept_code,
		hd.kind_code,
		hdk.kind_name,
		hd.dept_name,
		hd.super_code,
		(select dept_name from
		hos_dept h where h.group_id = hd.group_id and h.hos_id
		= hd.hos_id and
		h.dept_code = hd.super_code) super_name,
		hd.udefine_code,
		hd.sort_code,
		hd.is_stop,
		hd.is_disable,
		hd.is_last,
		hd.spell_code,
		hd.wbx_code,
		hd.note,
		hd.dept_level
		FROM hos_dept_dict hd
		left join hos_dept_kind hdk on
		hd.group_id =
		hdk.group_id and
		hd.hos_id =
		hdk.hos_id and
		hd.kind_code = hdk.kind_code
		<where>
                hd.is_stop=0 
			<if test="group_id != null and group_id != ''">
				AND hd.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hd.hos_id = #{hos_id}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND hd.dept_id = #{dept_id}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND hd.dept_code = #{dept_code}
			</if>
			<if test="kind_code != null and kind_code != ''">
				AND hd.kind_code = #{kind_code}
			</if>
		</where>
	</select>
	<select id="queryDeptByCodeName" resultMap="deptmap"
		parameterType="java.util.Map">
select hdk.group_id, hdk.hos_id,  hdk.kind_code
  , hdk.kind_name
from  hos_dept_kind hdk 
	<where>
			<if test="group_id != null and group_id != ''">
				AND hdk.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hdk.hos_id = #{hos_id}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND hdk.kind_code = #{dept_code}
			</if>
		</where>
	</select>
	<select id="queryDept" parameterType="java.util.Map" resultMap="dept">

		SELECT
		group_id,
		hos_id,
		dept_id,
		dept_code,
		kind_code,
		dept_name,
		super_code,
		udefine_code,
		sort_code,
		is_stop,
		is_last,
		spell_code,
		wbx_code,
		note,
		dept_level
		FROM HOS_DEPT
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND ( dept_code like '${dept_code}%' or
				dept_name like
				'%${dept_code}%'
				)
			</if>
			<if test="kind_code != null and kind_code != ''">
				AND kind_code = #{kind_code}
			</if>
			<if test="dept_name != null and dept_name != ''">
				AND dept_name like '%${dept_name}%'
			</if>
			<if test="super_code != null and super_code != ''">
				AND super_code = #{super_code}
			</if>
			<if test="udefine_code != null and udefine_code != ''">
				AND udefine_code = #{udefine_code}
			</if>
			<if test="sort_code != null and sort_code != ''">
				AND sort_code = #{sort_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop}
			</if>
			<if test="is_last != null and is_last != ''">
				AND is_last = #{is_last}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code like '%${spell_code}%'
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code like '%${wbx_code}%'
			</if>
			<if test="note != null and note != ''">
				AND note = #{note}
			</if>
			<if test="dept_level != null and dept_level != ''">
				AND dept_level = #{dept_level}
			</if>
		</where>
		order by dept_code asc
	</select>

	<select id="queryDeptById" resultType="com.chd.hrp.sys.entity.Dept"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		dept_id,
		dept_code,
		kind_code,
		dept_name,
		super_code,
		udefine_code,
		sort_code,
		is_stop,
		is_last,
		spell_code,
		wbx_code,
		note,
		dept_level
		FROM hos_dept
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id != #{dept_id}
			</if>
			AND ( dept_code = #{dept_code} or dept_name = #{dept_name} )

		</where>
	</select>
	<select id="queryDeptByIdName" resultType="com.chd.hrp.sys.entity.Dept"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		dept_id,
		dept_code,
		kind_code,
		dept_name,
		super_code,
		udefine_code,
		sort_code,
		is_stop,
		is_last,
		spell_code,
		wbx_code,
		note,
		dept_level
		FROM hos_dept
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id != #{dept_id}
			</if>
			
	<if test="dept_code != null and dept_code != ''">
				AND  dept_code != #{dept_code}
			</if>
and dept_name = #{dept_name} 

		</where>
	</select>
<select id="qureySurpDept" resultType="com.chd.hrp.sys.entity.Dept"
		parameterType="java.util.Map">
		SELECT
		group_id,
		hos_id,
		dept_id,
		dept_code,
		kind_code,
		dept_name,
		super_code,
		udefine_code,
		sort_code,
		is_stop,
		is_last,
		spell_code,
		wbx_code,
		note,
		dept_level
		FROM hos_dept
		where
		 group_id = #{group_id}
		AND hos_id = #{hos_id}
		and dept_code=#{super_code}
		 </select>
	<select id="queryMaxDept_sort" resultType="com.chd.hrp.sys.entity.Dept"
		parameterType="java.util.Map">
		select Max(sort_code) as sort_code

		from HOS_DEPT

		<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != '' ">
				and hos_id = #{hos_id}
			</if>
		</where>

	</select>

	<select id="queryDept_sort" resultType="com.chd.hrp.sys.entity.Dept"
		parameterType="java.util.Map">
		select sort_code

		from HOS_DEPT

		<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != '' ">
				and hos_id = #{hos_id}
			</if>
			<if test="dept_id != null  and dept_id != '' ">
				and dept_id != #{dept_id}
			</if>
			<if test=" sort_code != null  and sort_code != '' ">
				and sort_code = #{sort_code}
			</if>
		</where>

	</select>

	<select id="qureySurp_code" resultType="java.util.Map"
		parameterType="java.util.Map">
		select dept_id,is_last,super_code,kind_code

		from HOS_DEPT

		<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != '' ">
				and hos_id = #{hos_id}
			</if>
			<if test=" super_code != null  and super_code != '' ">
				and dept_code = #{super_code}
			</if>
		</where>

	</select>
	<select id="qureySurpcode" resultType="java.util.Map"
		parameterType="java.util.Map">
		select super_code

		from HOS_DEPT

		<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != '' ">
				and hos_id = #{hos_id}
			</if>
			<if test=" super_code != null  and super_code != '' ">
				and super_code = #{super_code}
			</if>
		</where>
</select>
	<select id="queryDeptOrg" parameterType="java.util.Map" resultType="java.util.Map">
		select a.dept_code "name",a.dept_name "title",a.dept_level "dept_level",
		a.super_code "super_code"
		from HOS_DEPT_dict a
		where a.group_id = #{group_id} AND a.hos_id = #{hos_id} and a.is_stop=0
		<!-- and exists (
			select 1
			from v_user_data_perm b
			where a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and to_char(a.dept_id) = b.perm_code
			and b.user_id =#{user_id,jdbcType=VARCHAR}
			and b.TABLE_CODE = upper('HOS_DEPT_DICT')
			and (b.is_read = 1 or b.is_write = 1)
		)	 -->
		order by a.dept_code
	</select>
	<select id="queryBySuperCode"  resultType="com.chd.hrp.sys.entity.Dept"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		dept_id,
		dept_code,
		kind_code,
		dept_name,
		super_code,
		udefine_code,
		sort_code,
		is_stop,
		is_last,
		spell_code,
		wbx_code,
		note,
		dept_level
		FROM hos_dept
		where
		 group_id = #{group_id}
		AND hos_id = #{hos_id}
		<!-- 查询下级及下级的子集 -->
		 start with super_code= #{dept_code,jdbcType=VARCHAR} connect by prior dept_code = super_code
			
		</select>
</mapper>

