<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.HosTypeMapper">

	<resultMap id="hosType" type="com.chd.hrp.sys.entity.HosType">
        <result property="type_code" column="type_code"/>
        <result property="type_name" column="type_name"/>
        <result property="is_stop" column="is_stop"/>
        <result property="note" column="note"/>
	</resultMap>
	
    <insert id="addHosType" useGeneratedKeys="true" >
    
        INSERT INTO DIC_HOS_TYPE (
                    type_code
			 ,
                    type_name
			 ,
                    is_stop
			 ,
                    note
			 
        ) VALUES (
#{type_code}			 ,
#{type_name}			 ,
#{is_stop}			 ,
#{note}			 
        )
    
    </insert>
	<insert id="addBatchHosType" parameterType="java.util.List" >
    
        INSERT INTO DIC_HOS_TYPE (
                    type_code
			 ,
                    type_name
			 ,
                    is_stop
			 ,
                    note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.type_code}			 ,
#{item.type_name}			 ,
#{item.is_stop}			 ,
#{item.note}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateHosType" parameterType="java.util.Map">
    
        UPDATE dic_hos_type SET
			 type_name = #{type_name}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 
        WHERE 
		 type_code = #{type_code}
			 
   
	</update>
	<update id="updateBatchHosType" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE dic_hos_type SET
			 type_name = #{type_name}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 
        WHERE 
		 type_code = #{item.type_code}
			 
    </foreach>
	</update>

    <delete id="deleteHosType" parameterType="java.util.Map">
   
        DELETE FROM dic_hos_type WHERE
	        type_code = #{type_code} 
   
    </delete>
    <delete id="deleteBatchHosType" parameterType="java.util.List">
        DELETE FROM dic_hos_type WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 type_code = #{item.type_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryHosTypeByCode" resultType="com.chd.hrp.sys.entity.HosType" parameterType="string" >
	  
        SELECT 
            type_code,
            type_name,
            is_stop,
            note
		FROM dic_hos_type 
	        WHERE 
		        type_code = #{type_code} 
        
	</select>
	<select id="queryHosType" parameterType="java.util.Map" resultMap="hosType" >
      
        SELECT 
            type_code,
            type_name,
            is_stop,
            note
        FROM DIC_HOS_TYPE 
            <where>                     
			    <if test="type_code != null and type_code != '' and type_code != '%%'">
                    AND type_code like #{type_code}
               </if>
			    <if test="type_name != null and type_name != '' and type_name != '%%'">
                    AND type_name like #{type_name}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
        </where>   
				order by type_code asc
    </select>
	
</mapper>

