<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.InfoMapper">

	<resultMap id="info" type="com.chd.hrp.sys.entity.Info">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="hos_code" column="hos_code"/>
        <result property="hos_name" column="hos_name"/>
        <result property="hos_simple" column="hos_simple"/>
        <result property="super_code" column="super_code"/>
        <result property="hos_level" column="hos_level"/>
        <result property="hos_city" column="hos_city"/>
        <result property="hos_sort" column="hos_sort"/>
        <result property="hos_contact" column="hos_contact"/>
        <result property="hos_phone" column="hos_phone"/>
        <result property="hos_email" column="hos_email"/>
        <result property="hos_zipcode" column="hos_zipcode"/>
        <result property="hos_type" column="hos_type"/>
        <result property="hos_address" column="hos_address"/>
        <result property="is_last" column="is_last"/>
        <result property="is_stop" column="is_stop"/>
        <result property="note" column="note"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
	</resultMap>
	
    <insert id="addInfo" useGeneratedKeys="true" >
    
        INSERT INTO HOS_INFO (
                    group_id
			 ,
                    hos_id
			 ,
                    hos_code
			 ,
                    hos_name
			 ,
                    hos_simple
			 ,
                    super_code
			 ,
                    hos_level
			 ,
                    hos_city
			 ,
                    hos_sort
			 ,
                    hos_contact
			 ,
                    hos_phone
			 ,
                    hos_email
			 ,
                    hos_zipcode
			 ,
                    hos_type
			 ,
                    hos_address
			 ,
                    is_last
			 ,
                    is_stop
			 ,
                    note
			 ,
                    spell_code
			 ,
                    wbx_code
			 
        ) VALUES (
#{group_id}			 ,
HOS_INFO_DICT_SEQ.nextval			 ,
#{hos_code}			 ,
#{hos_name}			 ,
#{hos_simple}			 ,
#{super_code}			 ,
#{hos_level}			 ,
#{hos_city}			 ,
#{hos_sort}			 ,
#{hos_contact}			 ,
#{hos_phone}			 ,
#{hos_email}			 ,
#{hos_zipcode}			 ,
#{hos_type}			 ,
#{hos_address}			 ,
#{is_last}			 ,
#{is_stop}			 ,
#{note}			 ,
#{spell_code}			 ,
#{wbx_code}			 
        )
    
    </insert>
    <select id="queryCurrentSequence" resultType="java.lang.Long">
		select HOS_INFO_DICT_SEQ.currval hos_id from dual
	</select>
	<insert id="addBatchInfo" parameterType="java.util.List" >
    
        INSERT INTO HOS_INFO (
                    group_id
			 ,
                    hos_id
			 ,
                    hos_code
			 ,
                    hos_name
			 ,
                    hos_simple
			 ,
                    super_code
			 ,
                    hos_level
			 ,
                    hos_city
			 ,
                    hos_sort
			 ,
                    hos_contact
			 ,
                    hos_phone
			 ,
                    hos_email
			 ,
                    hos_zipcode
			 ,
                    hos_type
			 ,
                    hos_address
			 ,
                    is_last
			 ,
                    is_stop
			 ,
                    note
			 ,
                    spell_code
			 ,
                    wbx_code
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.group_id}			 ,
#{item.hos_id}			 ,
#{item.hos_code}			 ,
#{item.hos_name}			 ,
#{item.hos_simple}			 ,
#{item.super_code}			 ,
#{item.hos_level}			 ,
#{item.hos_city}			 ,
#{item.hos_sort}			 ,
#{item.hos_contact}			 ,
#{item.hos_phone}			 ,
#{item.hos_email}			 ,
#{item.hos_zipcode}			 ,
#{item.hos_type}			 ,
#{item.hos_address}			 ,
#{item.is_last}			 ,
#{item.is_stop}			 ,
#{item.note}			 ,
#{item.spell_code}			 ,
#{item.wbx_code}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateInfo" parameterType="java.util.Map">
	
        UPDATE hos_info SET
			 hos_code = #{hos_code}
			 ,
			 hos_name = #{hos_name}
			 ,
			 hos_simple = #{hos_simple}
			 ,
			 super_code = #{super_code}
			 ,
			 hos_level = #{hos_level}
			 ,
			 hos_city = #{hos_city}
			 ,
			 <if test="hos_sort != null and hos_sort != '' ">
				 hos_sort = #{hos_sort}
				 ,
			 </if>
			 hos_contact = #{hos_contact}
			 ,
			 hos_phone = #{hos_phone}
			 ,
			 hos_email = #{hos_email}
			 ,
			 hos_zipcode = #{hos_zipcode}
			 ,
			 hos_type = #{hos_type}
			 ,
			 hos_address = #{hos_address}
			 ,
			 is_last = #{is_last}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
		 
	
	</update>
	
	<update id="updateInfoName" parameterType="java.util.Map">
    
        UPDATE hos_info SET
			 hos_name = #{hos_name}
			 ,
			 hos_simple = #{hos_simple}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			 
   
	</update>
	
	<update id="updateInfoCode" parameterType="java.util.Map">
    
        UPDATE hos_info SET
			 hos_code = #{hos_code}
			 
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			 
   
	</update>
	
	<update id="updateBatchInfo" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE hos_info SET
			 hos_code = #{hos_code}
			 ,
			 hos_name = #{hos_name}
			 ,
			 hos_simple = #{hos_simple}
			 ,
			 super_code = #{super_code}
			 ,
			 hos_level = #{hos_level}
			 ,
			 hos_city = #{hos_city}
			 ,
			 hos_sort = #{hos_sort}
			 ,
			 hos_contact = #{hos_contact}
			 ,
			 hos_phone = #{hos_phone}
			 ,
			 hos_email = #{hos_email}
			 ,
			 hos_zipcode = #{hos_zipcode}
			 ,
			 hos_type = #{hos_type}
			 ,
			 hos_address = #{hos_address}
			 ,
			 is_last = #{is_last}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 
        WHERE 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			 
    </foreach>
	</update>

    <delete id="deleteInfo" parameterType="java.util.Map">
   
        DELETE FROM hos_info WHERE
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id} 
   
    </delete>
    <delete id="deleteBatchInfo" parameterType="java.util.List">
        DELETE FROM hos_info WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryInfoByCode" resultType="com.chd.hrp.sys.entity.Info" parameterType="string" >
	  
        SELECT 
            h.group_id,
            h.hos_id,
            h.hos_code,
            h.hos_name,
            h.hos_simple,
            h.super_code,
            h.hos_level,
            h.hos_city,
            h.hos_sort,
            h.hos_contact,
            h.hos_phone,
            h.hos_email,
            h.hos_zipcode,
            h.hos_type,
            h.hos_address,
            h.is_last,
            h.is_stop,
            h.note,
            h.spell_code,
            h.wbx_code,
            u.user_id,u.user_code
		FROM hos_info h
		left join sys_user u on h.group_id=u.group_id and h.hos_id=u.hos_id and u.type_code=4
	    WHERE  h.group_id = #{group_id}   and  h.hos_id = #{hos_id} 
        
	</select>
	
	<select id="queryInfoSortMax" parameterType="java.util.Map" resultType="java.lang.Integer">
			select max(hos_sort)+1 max_sort from hos_info where group_id = #{group_id}
	</select>
	
	<select id="queryInfo" parameterType="java.util.Map" resultMap="info" >
      
        SELECT 
            group_id,
            hos_id,
            hos_code,
            hos_name,
            hos_simple,
            super_code,
            hos_level,
            hos_city,
            hos_sort,
            hos_contact,
            hos_phone,
            hos_email,
            hos_zipcode,
            hos_type,
            hos_address,
            is_last,
            is_stop,
            note,
            spell_code,
            wbx_code
        FROM HOS_INFO 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="hos_code != null and hos_code != ''">
                    AND hos_code = #{hos_code}
               </if>
			    <if test="hos_name != null and hos_name != ''">
                    AND hos_name = #{hos_name}
               </if>
			    <if test="hos_simple != null and hos_simple != ''">
                    AND hos_simple = #{hos_simple}
               </if>
			    <if test="super_code != null and super_code != ''">
                    AND super_code = #{super_code}
               </if>
			    <if test="hos_level != null and hos_level != ''">
                    AND hos_level = #{hos_level}
               </if>
			    <if test="hos_city != null and hos_city != ''">
                    AND hos_city = #{hos_city}
               </if>
			    <if test="hos_sort != null and hos_sort != ''">
                    AND hos_sort = #{hos_sort}
               </if>
			    <if test="hos_contact != null and hos_contact != ''">
                    AND hos_contact = #{hos_contact}
               </if>
			    <if test="hos_phone != null and hos_phone != ''">
                    AND hos_phone = #{hos_phone}
               </if>
			    <if test="hos_email != null and hos_email != ''">
                    AND hos_email = #{hos_email}
               </if>
			    <if test="hos_zipcode != null and hos_zipcode != ''">
                    AND hos_zipcode = #{hos_zipcode}
               </if>
			    <if test="hos_type != null and hos_type != ''">
                    AND hos_type = #{hos_type}
               </if>
			    <if test="hos_address != null and hos_address != ''">
                    AND hos_address = #{hos_address}
               </if>
			    <if test="is_last != null and is_last != ''">
                    AND is_last = #{is_last}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
        </where>   
				order by hos_sort asc
    </select>
	
</mapper>

