<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.InitProcMapper">
	<!-- 当建账套的时候初始化内置数据 -->
	<select id="saveInitCopyProc" statementType="CALLABLE"
		parameterType="java.util.Map" resultType="java.util.Map"> 
		<![CDATA[
	  {call init_copy_data_proc(#{group_id},#{hos_id},#{copy_code})}
	  ]]>
	</select>
	<!-- 当建医院的时候初始化内置数据 -->
	<select id="saveInitHosProc" statementType="CALLABLE"
		parameterType="java.util.Map" resultType="java.util.Map"> 
		<![CDATA[
	  {call init_hos_data_proc(#{group_id},#{hos_id})}
	  ]]>
	</select>
	<!-- 当建系统的时候初始化内置数据 -->
	<select id="saveInitSysProc" statementType="CALLABLE"
		parameterType="java.util.Map" resultType="java.util.Map"> 
		<![CDATA[
	  {call init_data_proc }
	  ]]>
	</select>
	
	<!-- 当建会计年度的时候初始化内置数据 -->
	<select id="saveInitYearProc" statementType="CALLABLE"
		parameterType="java.util.Map" resultType="java.util.Map"> 
		<![CDATA[
	  {call init_year_data_proc(#{group_id},#{hos_id},#{copy_code},#{acc_year})}
	  ]]>
	</select>
	
	<!-- 当建集团的时候初始化内置数据 -->
	<select id="saveInitGroupProc" statementType="CALLABLE"
		parameterType="java.util.Map" resultType="java.util.Map"> 
		<![CDATA[
	  {call init_group_data_proc(#{group_id},#{hos_id})}
	  ]]>
	</select>

</mapper>

