<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.ModStartMapper">

	<resultMap id="modStart" type="com.chd.hrp.sys.entity.ModStart">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="mod_code" column="mod_code"/>
        <result property="start_year" column="start_year"/>
        <result property="start_month" column="start_month"/>
        <result property="create_user" column="create_user"/>
        <result property="create_date" column="create_date"/>
	</resultMap>
	
    <insert id="addModStart" useGeneratedKeys="true" >
    
        INSERT INTO SYS_MOD_START (
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    mod_code
			 ,
                    start_year
			 ,
                    start_month
			 ,
                    create_user
			 ,
                    create_date
			 
        ) VALUES (
#{group_id}			 ,
nvl(#{hos_id},0)			 ,
#{copy_code}			 ,
#{mod_code}			 ,
#{start_year}			 ,
#{start_month}			 ,
#{create_user}			 ,
#{create_date}			 
        )
    
    </insert>
	<insert id="addBatchModStart" parameterType="java.util.List" >
    
        INSERT INTO SYS_MOD_START (
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    mod_code
			 ,
                    start_year
			 ,
                    start_month
			 ,
                    create_user
			 ,
                    create_date
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.group_id}			 ,
nvl(#{item.hos_id},0)			 ,
#{item.copy_code}			 ,
#{item.mod_code}			 ,
#{item.start_year}			 ,
#{item.start_month}			 ,
#{item.create_user}			 ,
#{item.create_date}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateModStart" parameterType="java.util.Map">
    
        UPDATE sys_mod_start SET
			 start_year = #{start_year}
			 ,
			 start_month = #{start_month}
			 ,
			 create_user = #{create_user}
			 ,
			 create_date = #{create_date}
			 
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = nvl(#{hos_id},0)
			  and 
		 copy_code = #{copy_code}
			  and 
		 mod_code = #{mod_code}
			 
   
	</update>
	<update id="updateBatchModStart" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE sys_mod_start SET
			 start_year = #{start_year}
			 ,
			 start_month = #{start_month}
			 ,
			 create_user = #{create_user}
			 ,
			 create_date = #{create_date}
			 
        WHERE 
		 group_id = #{item.group_id}
			  and 
		 hos_id = nvl(#{item.hos_id},0)
			  and 
		 copy_code = #{item.copy_code}
			  and 
		 mod_code = #{item.mod_code}
			 
    </foreach>
	</update>

    <delete id="deleteModStart" parameterType="java.util.Map">
   
        DELETE FROM sys_mod_start WHERE
	        group_id = #{group_id}   and 
	        hos_id = nvl(#{hos_id},0)   and 
	        copy_code = #{copy_code}   and 
	        mod_code = #{mod_code} 
   
    </delete>
    <delete id="deleteBatchModStart" parameterType="java.util.List">
        DELETE FROM sys_mod_start WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 group_id = #{item.group_id}
			  and 
		 hos_id = nvl(#{item.hos_id},0)
			  and 
		 copy_code = #{item.copy_code}
			  and 
		 mod_code = #{item.mod_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryModStartByCode" resultType="com.chd.hrp.sys.entity.ModStart" parameterType="string" >
	  
        SELECT 
            group_id,
            hos_id,
            copy_code,
            mod_code,
            start_year,
            start_month,
            create_user,
            create_date
		FROM sys_mod_start 
	        WHERE 
		        group_id = #{group_id}   and 
		        hos_id = nvl(#{hos_id},0)   and 
		        copy_code = #{copy_code}   and 
		        mod_code = #{mod_code} 
	</select>
	
    
    <select id="existsModStartByCode" resultType="com.chd.hrp.sys.entity.ModStart" parameterType="string" >
	  
        SELECT 
            group_id,
            hos_id,
            copy_code,
            mod_code,
            start_year,
            start_month,
            create_user,
            create_date
		FROM sys_mod_start 
	        WHERE 
		        group_id = #{group_id}   and 
		        hos_id = nvl(#{hos_id},0)   and 
		        copy_code = #{copy_code}   and 
		        mod_code = #{mod_code} 
		        and start_year is not null 
		        and start_month is not null 
	</select>
	<select id="queryModStart" parameterType="java.util.Map" resultMap="modStart" >
      
        SELECT 
            group_id,
            hos_id,
            copy_code,
            mod_code,
            start_year,
            start_month,
            create_user,
            create_date
        FROM SYS_MOD_START 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
               <if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="mod_code != null and mod_code != ''">
                    AND mod_code = #{mod_code}
               </if>
			    <if test="start_year != null and start_year != ''">
                    AND start_year = #{start_year}
               </if>
			    <if test="start_month != null and start_month != ''">
                    AND start_month = #{start_month}
               </if>
			    <if test="create_user != null and create_user != ''">
                    AND create_user = #{create_user}
               </if>
			    <if test="create_date != null and create_date != ''">
                    AND create_date = #{create_date}
               </if>
        </where>   
    </select>
    
    <select id="queryModStartByModeCode" parameterType="java.util.Map"  resultType ="java.lang.String">

            select start_year||''||start_month 
        FROM SYS_MOD_START 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
               <if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="mod_code != null and mod_code != ''">
                    AND mod_code = #{mod_code}
               </if>
        </where>   
		
    </select>
    <select id="queryAccLeder" parameterType="java.util.Map"  resultType ="java.lang.Integer">
		Select <!-- leger_id -->
		count(*) 
		FROM acc_leder
		<where>
			<if test="group_id != null and group_id != ''">
                AND group_id = #{group_id}
            </if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
		</where>
	</select>
	
	<select id="queryAccVouch" parameterType="java.util.Map"  resultType ="java.lang.Integer">
		Select count(*)
		FROM acc_vouch
		<where>
			<if test="group_id != null and group_id != ''">
                AND group_id = #{group_id}
            </if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			and  state > 0
		</where>
	</select>
	
	<select id="queryAccVouchCheck" parameterType="java.util.Map"  resultType ="java.lang.Integer">
		Select count(*) 
			FROM acc_vouch_check
			<where>
				<if test="group_id != null and group_id != ''">
	                AND group_id = #{group_id}
	            </if>
				<if test="hos_id != null and hos_id != ''">
					AND hos_id = #{hos_id}
				</if>
				<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
				<if test="copy_code != null and copy_code != ''">
					AND copy_code = #{copy_code}
				</if>
				<if test="acc_year != null and acc_year != ''">
					AND acc_year = #{acc_year}
				</if>
			</where>
	</select>
	
	<select id="queryAccTell" parameterType="java.util.Map"  resultType ="java.lang.Integer">
		Select count(*)
		FROM acc_tell
		<where>
			<if test="group_id != null and group_id != ''">
                AND group_id = #{group_id}
            </if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
		</where>
	</select>
	<!-- 物流系统启用时 查询MAT_INV_DICT 当前单位账套下面有数据不允许保存 -->
	<select id="queryMatInvDict" parameterType="java.util.Map"  resultType ="java.util.Map">
		Select inv_no , inv_id 
		FROM MAT_INV_DICT
		<where>
			<if test="group_id != null and group_id != ''">
                AND group_id = #{group_id}
            </if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
		</where>
		
	</select>
	
	
	<!-- 药品系统启用时 查询MED_INV_DICT 当前单位账套下面有数据不允许保存 -->
	<select id="queryMedInvDict" parameterType="java.util.Map"  resultType ="java.util.Map">
		Select inv_no , inv_id 
		FROM MED_INV_DICT
		<where>
			<if test="group_id != null and group_id != ''">
                AND group_id = #{group_id}
            </if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
		</where>
		
	</select>
	
	
	
	<select id="queryAccBankCheck" parameterType="java.util.Map"  resultType ="java.lang.Integer">
		Select count(*)
		FROM acc_bank_check
		<where>
			<if test="group_id != null and group_id != ''">
                AND group_id = #{group_id}
            </if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
		</where>
	</select>
	
	<select id="queryAccTellDay" parameterType="java.util.Map"  resultType ="java.lang.Integer">
		Select count(*)
		FROM acc_tell_day
		<where>
			<if test="group_id != null and group_id != ''">
                AND group_id = #{group_id}
            </if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
		</where>
	</select>
	
	<select id="queryAccWagePay" parameterType="java.util.Map"  resultType ="java.lang.Integer">
		Select count(*)
		FROM acc_wage_pay
		<where>
			<if test="group_id != null and group_id != ''">
                AND group_id = #{group_id}
            </if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="hos_id == null and hos_id == ''">
				AND hos_id = nvl(#{hos_id},0)
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
		</where>
	</select>
	
	<select id="querySysModStart" parameterType="java.util.Map"  resultType ="java.util.Map">
		select mod_code "mod_code",start_year||start_month "mod_start" from sys_mod_start 
		where group_id = #{group_id} AND hos_id = nvl(#{hos_id},0) AND copy_code = #{copy_code} 
		and mod_code like #{mod_code}||'%' and start_month is not null
	</select>
	
</mapper>

