<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.PoliticalMapper">

	<resultMap id="political" type="com.chd.hrp.sys.entity.Political">
        <result property="political_code" column="political_code"/>
        <result property="political_name" column="political_name"/>
        <result property="is_stop" column="is_stop"/>
        <result property="note" column="note"/>
	</resultMap>
	
    <insert id="addPolitical" useGeneratedKeys="true" >
    
        INSERT INTO DIC_POLITICAL (
                    political_code
			 ,
                    political_name
			 ,
                    is_stop
			 ,
                    note
			 
        ) VALUES (
#{political_code}			 ,
#{political_name}			 ,
#{is_stop}			 ,
#{note}			 
        )
    
    </insert>
	<insert id="addBatchPolitical" parameterType="java.util.List" >
    
        INSERT INTO DIC_POLITICAL (
                    political_code
			 ,
                    political_name
			 ,
                    is_stop
			 ,
                    note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.political_code}			 ,
#{item.political_name}			 ,
#{item.is_stop}			 ,
#{item.note}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updatePolitical" parameterType="java.util.Map">
    
        UPDATE dic_political SET
			 political_name = #{political_name}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 
        WHERE 
		 political_code = #{political_code}
			 
   
	</update>
	<update id="updateBatchPolitical" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE dic_political SET
			 political_name = #{political_name}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 
        WHERE 
		 political_code = #{item.political_code}
			 
    </foreach>
	</update>

    <delete id="deletePolitical" parameterType="java.util.Map">
   
        DELETE FROM dic_political WHERE
	        political_code = #{political_code} 
   
    </delete>
    <delete id="deleteBatchPolitical" parameterType="java.util.List">
        DELETE FROM dic_political WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 political_code = #{item.political_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryPoliticalByCode" resultType="com.chd.hrp.sys.entity.Political" parameterType="string" >
	  
        SELECT 
            political_code,
            political_name,
            is_stop,
            note
		FROM dic_political 
	        WHERE 
		        political_code = #{political_code} 
        
	</select>
	<select id="queryPolitical" parameterType="java.util.Map" resultMap="political" >
      
        SELECT 
            political_code,
            political_name,
            is_stop,
            note
        FROM DIC_POLITICAL 
            <where>                     
			    <if test="political_code != null and political_code != '' and political_code != '%%'">
                    AND political_code like #{political_code}
               </if>
			    <if test="political_name != null and political_name != '' and political_name != '%%'">
                    AND political_name like #{political_name}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
        </where>   
				order by political_code asc
    </select>
	
</mapper>

