<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.RoleMapper">

	<resultMap id="role" type="com.chd.hrp.sys.entity.Role">
        <result property="role_id" column="role_id"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="role_name" column="role_name"/>
        <result property="is_stop" column="is_stop"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="note" column="note"/>
	</resultMap>
	
    <insert id="addRole" useGeneratedKeys="true" >
    
        INSERT INTO SYS_ROLE (
                    role_id
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    role_name
			 ,
                    sj_id,is_stop
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    note
			 
        ) VALUES (
SYS_ROLE_SEQ.nextval			 ,
#{group_id}			 ,
#{hos_id}			 ,
#{role_name}			 ,
#{sj_id}			 ,
#{is_stop}			 ,
#{spell_code}			 ,
#{wbx_code}			 ,
#{note}			 
        )
    
    </insert>
	<insert id="addBatchRole" parameterType="java.util.List" >
    
        INSERT INTO SYS_ROLE (
                    role_id
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    role_name
			 ,
                    is_stop
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.role_id}			 ,
#{item.group_id}			 ,
#{item.hos_id}			 ,
#{item.role_name}			 ,
#{item.is_stop}			 ,
#{item.spell_code}			 ,
#{item.wbx_code}			 ,
#{item.note}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateRole" parameterType="java.util.Map">
    
        UPDATE sys_role SET 
			 role_name = #{role_name}
			 ,
			 is_stop = #{is_stop}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 note = #{note}
			 
        WHERE 
		 role_id = #{role_id}
			 
   
	</update>
	<update id="updateBatchRole" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE sys_role SET
			 group_id = #{group_id}
			 ,
			 hos_id = #{hos_id}
			 ,
			 role_name = #{role_name}
			 ,
			 is_stop = #{is_stop}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 note = #{note}
			 
        WHERE 
		 role_id = #{item.role_id}
			 
    </foreach>
	</update>

    <delete id="deleteRole" parameterType="java.util.Map">
   
        DELETE FROM sys_role WHERE
	        role_id = #{role_id} 
   
    </delete>
    <delete id="deleteBatchRole" parameterType="java.util.List">
        DELETE FROM sys_role WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 role_id = #{item.role_id}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryRoleByCode" resultType="com.chd.hrp.sys.entity.Role" parameterType="string" >
	  
        SELECT 
            r.role_id,
            r.group_id,
            r.hos_id,
            r.role_name,
            r.is_stop,
            r.spell_code,
            r.wbx_code,
            r.note,
            u.user_code||' '||u.user_name sj_user
		FROM sys_role r
		left join sys_user u on r.sj_id=u.user_id
	        WHERE 
	        	r.group_id = #{group_id}
	        and	r.hos_id = #{hos_id}
	        and	r.role_id = #{role_id}
        
	</select>
	<select id="queryRole" parameterType="java.util.Map" resultMap="role" >
      
        SELECT 
            role_id,
            group_id,
            hos_id,
            role_name,
            is_stop,
            spell_code,
            wbx_code,
            note
        FROM SYS_ROLE 
        where  group_id = #{group_id}  AND hos_id = #{hos_id}
        <if test='type_code ==0 or  type_code ==1 '>
			and sj_id=#{user_id}
		</if>
	    <if test="role_id != null and role_id != ''">
                  AND role_id = #{role_id}
             </if>
	    <if test="role_name != null and role_name != ''">
                  AND role_name = #{role_name}
             </if>
	    <if test="is_stop != null and is_stop != ''">
                  AND is_stop = #{is_stop}
             </if>
	    <if test="spell_code != null and spell_code != ''">
                  AND spell_code = #{spell_code}
             </if>
	    <if test="wbx_code != null and wbx_code != ''">
                  AND wbx_code = #{wbx_code}
             </if>
	    <if test="note != null and note != ''">
                  AND note = #{note}
             </if>
		order by role_id asc
    </select>
	
	<select id="queryRoleUser" parameterType="java.util.Map" resultType="java.util.Map" >
		select u.user_id,u.user_code,u.user_name,
		e.emp_code||' '||e.emp_name emp_name,
		sj.user_code||' '||sj.user_name sj_user,
		case u.is_stop when 0 then '启用' else '停用' end is_stop_name
		from sys_role_user r
		left join sys_user u on r.user_id=u.user_id
		left join sys_user sj on u.sj_id=sj.user_id
		left join hos_emp_dict e on u.emp_code=e.emp_id and e.is_stop=0
		where r.role_id=#{role_id}
		<if test="user_id_sel != null and user_id_sel != ''">
             AND u.user_id = #{user_id_sel}
        </if>
         order by u.user_code
	</select>
	
	<select id="queryRoleUserByAdd" parameterType="java.util.Map" resultType="java.util.Map" >
		select u.user_id,u.user_code,u.user_name,
		e.emp_code||' '||e.emp_name emp_name,
		sj.user_code||' '||sj.user_name sj_user,
		case u.is_stop when 0 then '启用' else '停用' end is_stop_name
		from sys_user u
		left join sys_user sj on u.sj_id=sj.user_id
		left join hos_emp_dict e on u.emp_code=e.emp_id and e.is_stop=0
		where u.group_id=#{group_id} and u.hos_id=#{hos_id} 
		and u.user_id not in(
			select r.user_id from sys_role_user r where r.role_id=#{role_id}
		)
		<if test='type_code ==0 or  type_code ==1 '>
			and u.sj_id=#{user_id}
		</if>
		<if test="user_id_sel != null and user_id_sel != ''">
             AND u.user_id = #{user_id_sel}
        </if>
        order by u.user_code
	</select>
	
	<resultMap id="roleMap" type="java.util.Map">
		<result property="level1" column="level1" />
		<result property="max_level" column="max_level" />
		<result property="max_length" column="max_length" />
		<result property="level2" column="level2" />
		<result property="level3" column="level3" />
		<result property="level4" column="level4" />
		<result property="level5" column="level5" />
		<result property="level6" column="level6" />
		<result property="level7" column="level7" />
		<result property="level8" column="level8" />
		<result property="level9" column="level9" />
		<result property="level10" column="level10" />
		<result property="is_auto" column="is_auto" />
		<result property="max_level" column="max_level" />
		<result property="max_length" column="max_length" />
	</resultMap>
	
	<select id="getHosRules" parameterType="java.util.Map" resultMap="roleMap">
		SELECT distinct max_level ,max_length,
		level1,level2,level3,level4,level5,level6,level7,level8,level9, level10, is_auto, max_level, max_length
		from hos_rules
		where group_id =#{group_id,jdbcType=INTEGER}
		<if test="hos_id != null and hos_id !='' ">
			and hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code !='' and  mod_code != '00'">
			and copy_code = #{copy_code}
		</if>
		and mod_code = #{mod_code,jdbcType=VARCHAR}
		and proj_code = #{proj_code,jdbcType=VARCHAR}
	</select>
	
</mapper>

