<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.StationMapper">

	<resultMap id="station" type="com.chd.hrp.sys.entity.Station">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="station_code" column="station_code"/>
        <result property="station_name" column="station_name"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="is_stop" column="is_stop"/>
        <result property="note" column="note"/>
	</resultMap>
	
    <insert id="addStation" useGeneratedKeys="true" >
    
        INSERT INTO HOS_STATION (
                    group_id
			 ,
                    hos_id
			 ,
                    station_code
			 ,
                    station_name
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    is_stop
			 ,
                    note
			 
        ) VALUES (
#{group_id}			 ,
#{hos_id}			 ,
#{station_code}			 ,
#{station_name}			 ,
#{spell_code}			 ,
#{wbx_code}			 ,
#{is_stop}			 ,
#{note}			 
        )
    
    </insert>
	<insert id="addBatchStation" parameterType="java.util.List" >
    
        INSERT INTO HOS_STATION (
                    group_id
			 ,
                    hos_id
			 ,
                    station_code
			 ,
                    station_name
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    is_stop
			 ,
                    note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.group_id,jdbcType=INTEGER}			 ,
#{item.hos_id,jdbcType=INTEGER}			 ,
#{item.station_code,jdbcType=VARCHAR}			 ,
#{item.station_name,jdbcType=VARCHAR}			 ,
#{item.spell_code,jdbcType=VARCHAR}			 ,
#{item.wbx_code,jdbcType=VARCHAR}			 ,
#{item.is_stop,jdbcType=INTEGER}			 ,
#{item.note,jdbcType=VARCHAR}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateStation" parameterType="java.util.Map">
    
        UPDATE hos_station SET
			 station_name = #{station_name}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 station_code = #{station_code}
			 
   
	</update>
	<update id="updateBatchStation" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE hos_station SET
			 station_name = #{station_name}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 
        WHERE 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 station_code = #{item.station_code}
			 
    </foreach>
	</update>

    <delete id="deleteStation" parameterType="java.util.Map">
   
        DELETE FROM hos_station WHERE
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id}   and 
	        station_code = #{station_code} 
   
    </delete>
    <delete id="deleteBatchStation" parameterType="java.util.List">
        DELETE FROM hos_station WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 station_code = #{item.station_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryStationByCode" resultType="com.chd.hrp.sys.entity.Station" parameterType="string" >
	  
        SELECT 
            group_id,
            hos_id,
            station_code,
            station_name,
            spell_code,
            wbx_code,
            is_stop,
            note
		FROM hos_station 
	        WHERE 
		        group_id = #{group_id}   and 
		        hos_id = #{hos_id}   and 
		        station_code = #{station_code} 
        
	</select>
	<select id="queryStation" parameterType="java.util.Map" resultMap="station" >
      
        SELECT 
            group_id,
            hos_id,
            station_code,
            station_name,
            spell_code,
            wbx_code,
            is_stop,
            note
        FROM HOS_STATION 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="station_code != null and station_code != '' and station_code != '%%'">
                    AND station_code like #{station_code}
               </if>
			    <if test="station_name != null and station_name != '' and station_name != '%%'">
                    AND station_name like #{station_name}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
        </where>   
				order by group_id asc
    </select>
	
</mapper>

