<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.SysHisDeptMapper">
	<resultMap id="map" type="java.util.Map">
        <result property="his_dept_code" column="his_dept_code"/>
        <result property="his_dept_name" column="his_dept_name"/>
        <result property="his_dept_id" column="his_dept_id"/>
        <result property="his_dept_note" column="his_dept_note"/>
	</resultMap>

	<insert id="addBatchSysHisDept" parameterType="java.util.List" >
    
        insert into sys_his_dept
        (his_dept_code, his_dept_name, his_dept_id, his_dept_note)
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
			#{item.his_dept_code},
			#{item.his_dept_name},
			#{item.his_dept_id},
			#{item.his_dept_note}			 
		 from dual 
		</foreach>
    </insert>
    
    <delete id="deleteBatchSysHisDept" parameterType="java.util.List">
         delete sys_his_dept where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 his_dept_code = #{item.his_dept_code}
		</foreach>
    </delete>
    
    <select id="querySysHisDeptByCode" parameterType="java.util.Map" resultMap="map" >
         select his_dept_code, his_dept_name, his_dept_id, his_dept_note 
         from sys_his_dept
         where his_dept_code = #{his_dept_code}
         order by his_dept_code 
    </select>
    
	<select id="querySysHisDept" parameterType="java.util.Map" resultMap="map" >
         select his_dept_code, his_dept_name, his_dept_id, his_dept_note 
         from sys_his_dept
         <where>
          	<if test="his_dept_code != null and his_dept_code != ''">
			and his_dept_code like #{his_dept_code}||'%'
			</if>
         </where>
         order by his_dept_code
    </select>
</mapper>

