<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.info.basic.HosSupProductMapper">
	
	<resultMap id="hosSupProduct" type="com.chd.hrp.mat.entity.HosSupProduct">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="sup_id" column="sup_id"/>
		<result property="sup_code" column="sup_code"/>
		<result property="sup_name" column="sup_name"/>
		<result property="fac_id" column="fac_id"/>
		<result property="fac_code" column="fac_code"/>
		<result property="fac_name" column="fac_name"/>
		<result property="product_id" column="product_id"/>
		<result property="product_no" column="product_no"/>
		<result property="cert_date" column="cert_date"/>
		<result property="cert_start_date" column="cert_start_date"/>
		<result property="cert_end_date" column="cert_end_date"/>
		<result property="issuing_authority" column="issuing_authority"/>
		<result property="cert_memo" column="cert_memo"/>
		<result property="cert_state" column="cert_state"/> 
	</resultMap>
	
	<select id="queryHosSupProductSeq"  resultType="java.lang.Long" useCache="false" flushCache="true">	
		select HOS_SUP_PRODUCT_SEQ.nextval from dual
	</select>
	
	<select id="queryHosSupProduct" resultType="java.util.Map" parameterType="java.util.Map" >
		SELECT a.group_id, a.hos_id, a.sup_id, b.sup_code, b.sup_name, a.fac_id,c.fac_name,c.fac_code,
			a.product_no,a.product_id,a.cert_date,a.cert_start_date,a.cert_end_date,a.issuing_authority,a.cert_memo,a.cert_state
		FROM hos_sup_product a
		LEFT JOIN hos_sup_dict b ON a.group_id = b.group_id AND a.hos_id = b.hos_id
			AND a.sup_id = b.sup_id and b.is_stop = 0
		left join hos_fac_dict c on a.group_id = c.group_id and a.hos_id = c.hos_id 
			and a.fac_id = c.fac_id and c.is_stop = 0
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.sup_id = #{sup_id,jdbcType=INTEGER}
		order by a.product_id
	</select>
	
	<insert id="addHosSupProduct" parameterType="java.util.Map" >
		
		INSERT INTO hos_sup_product (
			group_id, hos_id, sup_id, fac_id,product_no ,product_id
			<if test="cert_date != null and cert_date != ''">, cert_date</if>
			<if test="cert_start_date != null and cert_start_date != ''">, cert_start_date</if>
			<if test="cert_end_date != null and cert_end_date != ''">, cert_end_date</if>
			<if test="issuing_authority != null and issuing_authority != ''">, issuing_authority</if>
			<if test="cert_memo != null and cert_memo != ''">, cert_memo</if>
			<if test="cert_state != null and cert_state != ''">, cert_state</if>
		) VALUES(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{sup_id,jdbcType=INTEGER},
			#{fac_id,jdbcType=INTEGER},
			#{product_no,jdbcType=VARCHAR},
			#{product_id,jdbcType=INTEGER}
			<if test="cert_date != null and cert_date != ''">, #{cert_date,jdbcType=DATE}</if>
			<if test="cert_start_date != null and cert_start_date != ''">, #{cert_start_date,jdbcType=DATE}</if>
			<if test="cert_end_date != null and cert_end_date != ''">, #{cert_end_date,jdbcType=DATE}</if>
			<if test="issuing_authority != null and issuing_authority != ''">, #{issuing_authority,jdbcType=VARCHAR}</if>
			<if test="cert_memo != null and cert_memo != ''">, #{cert_memo,jdbcType=VARCHAR}</if>
			<if test="cert_state != null and cert_state != ''">, #{cert_state,jdbcType=INTEGER}</if>
		)
	</insert>
	
	<insert id="addHosSupProductBatch" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO hos_sup_product (
				group_id, hos_id, sup_id, fac_id,product_no,product_no
				<if test="item.cert_date != null and item.cert_date != ''">, cert_date</if>
				<if test="item.cert_start_date != null and item.cert_start_date != ''">, cert_start_date</if>
				<if test="item.cert_end_date != null and item.cert_end_date != ''">, cert_end_date</if>
				<if test="item.issuing_authority != null and item.issuing_authority != ''">, issuing_authority</if>
				<if test="item.cert_memo != null and item.cert_memo != ''">, cert_memo</if>
				<if test="item.cert_state != null and item.cert_state != ''">, cert_state</if>
			) VALUES (
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.sup_id,jdbcType=INTEGER},
				#{item.fac_id,jdbcType=INTEGER},
				#{item.product_no,jdbcType=VARCHAR},
				#{item.product_id,jdbcType=INTEGER}
				<if test="item.cert_date != null and item.cert_date != ''">, #{item.cert_date,jdbcType=DATE}</if>
				<if test="item.cert_start_date != null and item.cert_start_date != ''">, #{item.cert_start_date,jdbcType=DATE}</if>
				<if test="item.cert_end_date != null and item.cert_end_date != ''">, #{item.cert_end_date,jdbcType=DATE}</if>
				<if test="item.issuing_authority != null and item.issuing_authority != ''">, #{item.issuing_authority,jdbcType=VARCHAR}</if>
				<if test="item.cert_memo != null and item.cert_memo != ''">, #{item.cert_memo,jdbcType=VARCHAR}</if>
				<if test="item.cert_state != null and item.cert_state != ''">, #{item.cert_state,jdbcType=INTEGER}</if>
		</foreach>
	</insert>
	 
	<delete id="deleteHosSupProduct" parameterType="java.util.Map">
		DELETE FROM hos_sup_product 
		WHERE group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}  
			and sup_id = #{sup_id,jdbcType=INTEGER}
			and product_id = #{product_id,jdbcType=INTEGER}  
			<if test="fac_id != null and fac_id != ''">
				and fac_id = #{fac_id,jdbcType=INTEGER}
			</if>
	</delete>
	
	<delete id="deleteHosSupProductBatch" parameterType="java.util.List">
		DELETE FROM hos_sup_product WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and sup_id = #{item.sup_id,jdbcType=INTEGER}
				and product_id = #{item.product_id,jdbcType=INTEGER}
				<if test="item.fac_id != null and item.fac_id != ''">
					and fac_id = #{item.fac_id,jdbcType=INTEGER}
				</if>
			</foreach>
	</delete>
</mapper>

