<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.info.basic.MatInstruTypeMapper">
	
	<resultMap id="matInstruType" type="com.chd.hrp.mat.entity.MatInstruType">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="instru_type_id" column="instru_type_id"/>
		<result property="instru_type_code" column="instru_type_code"/>
		<result property="instru_type_name" column="instru_type_name"/>
		<result property="super_code" column="super_code"/>
		<result property="super_name" column="super_name"/>
		<result property="type_level" column="type_level"/>
		<result property="is_last" column="is_last"/>
		<result property="is_stop" column="is_stop"/>
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
	</resultMap>
	
	<insert id="addMatInstruType" useGeneratedKeys="true" >
		INSERT INTO MAT_INSTRU_TYPE (
			instru_type_id, group_id, hos_id, copy_code, instru_type_code, instru_type_name, super_code, type_level, is_last, 
			is_stop, spell_code, wbx_code
		) VALUES (
			#{instru_type_id,jdbcType=INTEGER}, 
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{instru_type_code,jdbcType=VARCHAR},
			#{instru_type_name,jdbcType=VARCHAR},
			#{super_code,jdbcType=VARCHAR},
			#{type_level,jdbcType=INTEGER},
			#{is_last,jdbcType=INTEGER},
			#{is_stop,jdbcType=INTEGER},
			#{spell_code,jdbcType=VARCHAR},
			#{wbx_code,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="addBatchMatInstruType" parameterType="java.util.List" >
		INSERT INTO MAT_INSTRU_TYPE (
			group_id, hos_id, copy_code, instru_type_id, instru_type_code, instru_type_name, super_code, 
			type_level, is_last, is_stop, spell_code, wbx_code
		) 
		SELECT t.* FROM(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			SELECT 		
				#{item.group_id,jdbcType=INTEGER} group_id, 
				#{item.hos_id,jdbcType=INTEGER} hos_id, 
				#{item.copy_code,jdbcType=VARCHAR} copy_code, 
				#{item.instru_type_id,jdbcType=INTEGER} instru_type_id, 
				#{item.instru_type_code,jdbcType=VARCHAR} instru_type_code, 
				#{item.instru_type_name,jdbcType=VARCHAR} instru_type_name, 
				#{item.super_code,jdbcType=VARCHAR} super_code, 
				#{item.type_level,jdbcType=INTEGER} type_level, 
				#{item.is_last,jdbcType=INTEGER} is_last, 
				#{item.is_stop,jdbcType=INTEGER} is_stop, 
				#{item.spell_code,jdbcType=VARCHAR} spell_code, 
				#{item.wbx_code,jdbcType=VARCHAR} wbx_code
			FROM DUAL
		</foreach>
		)t
	</insert>
	
	<update id="updateMatInstruType" parameterType="java.util.Map">
		UPDATE MAT_INSTRU_TYPE 
		<set>
			<if test="instru_type_code != '' and instru_type_code != null">
				instru_type_code = #{instru_type_code,jdbcType=VARCHAR}, 
			</if>
			<if test="instru_type_name != '' and instru_type_name != null">
				instru_type_name = #{instru_type_name,jdbcType=VARCHAR}, 
			</if>
			<if test="super_code != '' and super_code != null">
				super_code = #{super_code,jdbcType=VARCHAR}, 
			</if>
			<if test="is_last != '' and is_last != null">
				is_last = #{is_last,jdbcType=INTEGER},
			</if>
			<if test="is_stop != '' and is_stop != null">
				is_stop = #{is_stop,jdbcType=INTEGER},
			</if>
			<if test="type_level != '' and type_level != null">
				type_level = #{type_level,jdbcType=INTEGER},
			</if>
			<if test="spell_code != '' and spell_code != null">
				spell_code = #{spell_code,jdbcType=VARCHAR}, 
			</if>
			<if test="wbx_code != '' and wbx_code != null">
				wbx_code = #{wbx_code,jdbcType=VARCHAR}, 
			</if>
		</set>
		<where>
			<if test="group_id != '' and group_id != null">
				group_id =#{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != '' and hos_id != null">
				and hos_id =#{hos_id,jdbcType=INTEGER} 
			</if>
			<if test="copy_code != '' and copy_code != null">
				and copy_code =#{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="instru_type_id != '' and instru_type_id != null">
				and instru_type_id =#{instru_type_id,jdbcType=INTEGER} 
			</if>
		</where>
	</update>
	
	<update id="updateBatchMatInstruType" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE MAT_INSTRU_TYPE 
			<set>
				<if test="item.instru_type_code != '' and item.instru_type_code != null">
					instru_type_code = #{item.instru_type_code,jdbcType=VARCHAR}, 
				</if>
				<if test="item.instru_type_name != '' and item.instru_type_name != null">
					instru_type_name = #{item.instru_type_name,jdbcType=VARCHAR}, 
				</if>
				<if test="item.super_code != '' and item.super_code != null">
					super_code = #{item.super_code,jdbcType=VARCHAR}, 
				</if>
				<if test="item.is_last != '' and item.is_last != null">
					is_last = #{item.is_last,jdbcType=INTEGER},
				</if>
				<if test="item.is_stop != '' and item.is_stop != null">
					is_stop = #{item.is_stop,jdbcType=INTEGER},
				</if>
				<if test="item.type_level != '' and item.type_level != null">
					type_level = #{item.type_level,jdbcType=INTEGER},
				</if>
				<if test="item.spell_code != '' and item.spell_code != null">
					spell_code = #{item.spell_code,jdbcType=VARCHAR}, 
				</if>
				<if test="item.wbx_code != '' and item.wbx_code != null">
					wbx_code = #{item.wbx_code,jdbcType=VARCHAR}, 
				</if>
			</set>
			<where>
				<if test="item.group_id != '' and item.group_id != null">
					group_id =#{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != '' and item.hos_id != null">
					and hos_id =#{item.hos_id,jdbcType=INTEGER} 
				</if>
				<if test="item.copy_code != '' and item.copy_code != null">
					and copy_code =#{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.instru_type_id != '' and item.instru_type_id != null">
					and instru_type_id =#{item.instru_type_id,jdbcType=INTEGER} 
				</if>
			</where>
		</foreach>
	</update>
	
	<delete id="deleteMatInstruType" parameterType="java.util.Map">
		DELETE FROM MAT_INSTRU_TYPE 
		<where>
			<if test="group_id != '' and group_id != null">
				group_id =#{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != '' and hos_id != null">
				and hos_id =#{hos_id,jdbcType=INTEGER} 
			</if>
			<if test="copy_code != '' and copy_code != null">
				and copy_code =#{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="instru_type_id != '' and instru_type_id != null">
				and instru_type_id =#{instru_type_id,jdbcType=INTEGER} 
			</if>
		</where>
		
	</delete>
	
	<delete id="deleteBatchMatInstruType" parameterType="java.util.List">
		DELETE FROM MAT_INSTRU_TYPE WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			and hos_id = #{item.hos_id,jdbcType=INTEGER}
			and copy_code = #{item.copy_code,jdbcType=VARCHAR}
			and instru_type_id = #{item.instru_type_id,jdbcType=INTEGER}
		</foreach>
	</delete>
	
	<select id="queryMatInstruType" parameterType="java.util.Map" resultMap="matInstruType" >
		SELECT 
			group_id,
			hos_id,
			copy_code,
			instru_type_id,
			instru_type_code,
			instru_type_name,
			super_code,
			type_level,
			is_last,
			is_stop,
			spell_code,
			wbx_code
		FROM MAT_INSTRU_TYPE 
		<where>                     
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
		</where>   
		order by instru_type_code asc
	</select>
	
	<select id="queryMatInstruTypeByCode" resultMap="matInstruType" parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			copy_code,
			instru_type_id,
			instru_type_code,
			instru_type_name,
			super_code,
			type_level,
			is_last,
			is_stop,
			spell_code,
			wbx_code
		FROM MAT_INSTRU_TYPE 
		<where>                     
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="instru_type_code != null and instru_type_code != ''">
				AND instru_type_code = #{instru_type_code,jdbcType=VARCHAR}
			</if>
		</where>  
	</select>
	
	<select id="queryMatInstruTypeByUniqueness" resultMap="matInstruType" parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			copy_code,
			instru_type_id,
			instru_type_code,
			instru_type_name,
			super_code,
			type_level,
			is_last,
			is_stop,
			spell_code,
			wbx_code
		FROM MAT_INSTRU_TYPE 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="instru_type_id != null and instru_type_id != ''">
			AND instru_type_id = #{instru_type_id,jdbcType=INTEGER}
			</if>
			<if test="instru_type_code != null and instru_type_code != ''">
			AND instru_type_code = #{instru_type_code,jdbcType=VARCHAR}
			</if>
			<if test="instru_type_name != null and instru_type_name != ''">
			AND instru_type_name = #{instru_type_name,jdbcType=VARCHAR}
			</if>
			<if test="super_code != null and super_code != ''">
			AND super_code = #{super_code,jdbcType=VARCHAR}
			</if>
			<if test="type_level != null and type_level != ''">
			AND type_level = #{type_level,jdbcType=INTEGER}
			</if>
			<if test="is_last != null and is_last != ''">
			AND is_last = #{is_last,jdbcType=INTEGER}
			</if>
			<if test="is_stop != null and is_stop != ''">
			AND is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
			<if test="spell_code != null and spell_code != ''">
			AND spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
			AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
		</where>   
		order by instru_type_code asc
	</select>

	<select id="queryMatInstruTypeById" resultMap="matInstruType" parameterType="java.util.Map" >
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.instru_type_id,
			a.instru_type_code,
			a.instru_type_name,
			a.super_code,
			b.instru_type_name super_name,
			a.type_level,
			a.is_last,
			a.is_stop,
			a.spell_code,
			a.wbx_code
		FROM MAT_INSTRU_TYPE a
		left join MAT_INSTRU_TYPE b
		 on a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.super_code = b.instru_type_code
		<where>                     
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="instru_type_id != null and instru_type_id != ''">
				AND a.instru_type_id = #{instru_type_id,jdbcType=INTEGER}
			</if>
		</where>  
	</select>
	
	<select id="queryMatInstruTypeListForImport" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT instru_type_code, instru_type_name,instru_type_id, type_level
		FROM MAT_INSTRU_TYPE 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
		 AND hos_id = #{hos_id,jdbcType=INTEGER}
		 AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>

	<update id="updateMatInstruTypeIsLastForImport" parameterType="java.util.Map">
		UPDATE MAT_INSTRU_TYPE 
		SET is_last = 0
		WHERE group_id = #{map.group_id,jdbcType=INTEGER} 
		AND hos_id = #{map.hos_id,jdbcType=INTEGER}
		AND copy_code = #{map.copy_code,jdbcType=VARCHAR}
		AND instru_type_id in(
			SELECT instru_type_id FROM (
				<foreach collection="list" item="instru_type_id" index="index" separator="UNION ALL">
					SELECT #{instru_type_id} instru_type_id FROM DUAL
				</foreach>
			) t
		)
	</update>
	
	<select id="queryIsInvUse" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from mat_inv
		<where>
		 	group_id = #{group_id,jdbcType=INTEGER} 
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="instru_type_id != '' and instru_type_id != null">
			and instru_type_id = #{instru_type_id,jdbcType=INTEGER}
		</if>
		</where>
	</select>
	
	<update id="updateLast" parameterType="java.util.Map">
        UPDATE MAT_INSTRU_TYPE 
        SET is_last = 1
        where group_id =#{group_id,jdbcType=INTEGER}
              and hos_id =#{hos_id,jdbcType=INTEGER} 
              and copy_code =#{copy_code,jdbcType=VARCHAR}
              and instru_type_code =#{instru_type_code,jdbcType=INTEGER} 
              and (select count(*) from MAT_INSTRU_TYPE
              where group_id = #{group_id,jdbcType=INTEGER}
                and hos_id = #{hos_id,jdbcType=INTEGER}
                and copy_code = #{copy_code,jdbcType=VARCHAR}
                and super_code = #{instru_type_code,jdbcType=INTEGER}
                ) = 0
    </update>
    
    <select id="selectSuperCode" parameterType="java.util.Map" resultType="java.lang.String">
        select super_code 
        from MAT_INSTRU_TYPE
        where group_id = #{group_id,jdbcType=INTEGER}
        and hos_id = #{hos_id,jdbcType=INTEGER}
        and copy_code = #{copy_code,jdbcType=VARCHAR}
        and INSTRU_TYPE_code = #{instru_type_code,jdbcType=INTEGER}
    </select>
</mapper>

