<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.med.dao.info.fim.MedFimTypeMapper">

<resultMap type="java.util.Map" id="MedFimType">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="fim_type_name" column="fim_type_name"/>
		<result property="fim_type_code" column="fim_type_code"/>
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
		<result property="is_stop" column="is_stop"/>

</resultMap>
<select id="queryMedFimTypeMain" parameterType="java.util.Map" resultMap="MedFimType">
	select group_id,
       hos_id,
       copy_code,
       fim_type_name,
       fim_type_code,
       spell_code,
       wbx_code,
       is_stop
  from med_fim_type
  where  group_id=#{group_id}
  and hos_id=#{hos_id}
  and copy_code=#{copy_code}
  <if test="fim_type_code!=null and fim_type_code!='' ">
  	and fim_type_code=#{fim_type_code} 
  </if>
  <if test="fim_type_name !=mull and fim_type_name!=''">
   and fim_type_name = #{fim_type_name} or spell_code = #{fim_type_name} or wbx_code= #{fim_type_name}
  </if>
  <if test="is_stop!=null and is_stop!=''">
  	and is_stop=#{is_stop}
  </if>
  order by fim_type_code
</select>
<select id="queryByCode" parameterType="java.util.Map" resultType="com.chd.hrp.med.entity.MedFimType" >
	select group_id,
       hos_id,
       copy_code,
       fim_type_name,
       fim_type_code,
       spell_code,
       wbx_code,
       is_stop
  from med_fim_type
  where fim_type_code=#{fim_type_code}
  and group_id=#{group_id}
  and hos_id=#{hos_id}
  and copy_code=#{copy_code}
</select>
<insert id="add"  useGeneratedKeys="true" >
insert into med_fim_type
  (group_id,
   hos_id,
   copy_code,
   fim_type_name,
   fim_type_code,
   spell_code,
   wbx_code,
   is_stop )
values
  (#{group_id,jdbcType=INTEGER},
   #{hos_id,jdbcType=INTEGER},
   #{copy_code,jdbcType=VARCHAR},
   #{fim_type_name,jdbcType=VARCHAR},
   #{fim_type_code,jdbcType=VARCHAR},
   #{spell_code,jdbcType=VARCHAR},
   #{wbx_code,jdbcType=VARCHAR},
   #{is_stop,jdbcType=INTEGER}
   )
</insert>
<update id="update" parameterType="java.util.Map"   >
	update med_fim_type
	   set  
	       fim_type_name = #{fim_type_name,jdbcType=VARCHAR},
	       spell_code =#{spell_code,jdbcType=VARCHAR},
	       wbx_code = #{wbx_code,jdbcType=VARCHAR},
	       is_stop = #{is_stop,jdbcType=VARCHAR}
	 where group_id = #{group_id,jdbcType=INTEGER}
	   and hos_id = #{hos_id,jdbcType=INTEGER}
	   and copy_code = #{copy_code,jdbcType=VARCHAR}
	   and fim_type_code = #{fim_type_code,jdbcType=VARCHAR}


</update>
<select id="queryMedFimTypeIsExists"  parameterType="java.util.Map" resultType="java.lang.Integer">
	select  count(*)  from med_type
	where group_id = #{group_id,jdbcType=INTEGER}
	   and hos_id = #{hos_id,jdbcType=INTEGER}
	   and copy_code = #{copy_code,jdbcType=VARCHAR}
	   and fim_type_code = #{fim_type_code,jdbcType=VARCHAR}
</select>

<delete id="deleteBatch" parameterType="java.util.List"  >
	delete med_fim_type where
	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
	  group_id = #{item.group_id}
	   and hos_id = #{item.hos_id}
	   and copy_code = #{item.copy_code}
	   and fim_type_code = #{item.fim_type_code}
	   </foreach>
</delete>
</mapper>

