<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.info.basic.MatStoreTypeMapper">
	
	<resultMap id="matStoreType" type="com.chd.hrp.mat.entity.MatStoreType">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="store_id" column="store_id"/>
	<result property="mat_type_id" column="mat_type_id"/>
	</resultMap>
	
	<resultMap id="map" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="mat_type_id" column="mat_type_id"/>
	<result property="mat_type_code" column="mat_type_code"/>
	<result property="mat_type_name" column="mat_type_name"/>
	<result property="store_id" column="store_id"/>
	</resultMap>
	<insert id="addMatStoreType" useGeneratedKeys="true" >
	
		INSERT INTO MAT_STORE_TYPE (
		group_id
		,
		hos_id
		,
		copy_code
		,
		store_id
		,
		mat_type_id
		
		) VALUES (
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{store_id,jdbcType=INTEGER}
		,
		#{mat_type_id,jdbcType=INTEGER}
		
		)
	
	</insert>
	<insert id="addBatchMatStoreType" parameterType="java.util.List" >
	
		INSERT INTO MAT_STORE_TYPE (
		group_id
		,
		hos_id
		,
		copy_code
		,
		store_id
		,
		mat_type_id
		
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.store_id,jdbcType=INTEGER}
			,
			#{item.mat_type_id,jdbcType=INTEGER}
				from dual
		</foreach>
	</insert>
	
	<update id="updateMatStoreType" parameterType="java.util.Map">
	
		UPDATE mat_store_type SET
		WHERE 
		group_id =#{group_id,jdbcType=INTEGER}
		 and 
		hos_id =#{hos_id,jdbcType=INTEGER}
		 and 
		copy_code =#{copy_code,jdbcType=VARCHAR}
		 and 
		store_id =#{store_id,jdbcType=INTEGER}
		 and 
		mat_type_id =#{mat_type_id,jdbcType=INTEGER}
		
	
	</update>
	<update id="updateBatchMatStoreType" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE mat_store_type SET
			WHERE 
			group_id = #{item.group_id,jdbcType=INTEGER}
			 and 
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			 and 
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			 and 
			store_id = #{item.store_id,jdbcType=INTEGER}
			 and 
			mat_type_id = #{item.mat_type_id,jdbcType=INTEGER}
			
		</foreach>
	</update>
	
	<delete id="deleteMatStoreType" parameterType="java.util.Map">
	
		DELETE FROM mat_store_type 
		<where>
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="store_id != null and store_id != ''">
			AND store_id = #{store_id,jdbcType=INTEGER}
			</if>
			<if test="mat_type_id != null and mat_type_id != ''">
			AND mat_type_id = #{mat_type_id,jdbcType=INTEGER}
		</if> 
		</where>
	
	</delete>
	<delete id="deleteBatchMatStoreType" parameterType="java.util.List">
		DELETE FROM mat_store_type 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				 and 
				hos_id = #{item.hos_id,jdbcType=INTEGER}
				 and 
				copy_code = #{item.copy_code,jdbcType=VARCHAR}
				 and 
				store_id = #{item.store_id,jdbcType=INTEGER}
				<if test="item.mat_type_id != null and item.mat_type_id != '' ">
					and mat_type_id = #{item.mat_type_id,jdbcType=INTEGER}
				</if>
			</foreach>
		</where>
			
	
	</delete>
	<select id="queryMatStoreType" parameterType="java.util.Map" resultMap="matStoreType" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		store_id,
		mat_type_id
		FROM MAT_STORE_TYPE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="store_id != null and store_id != ''">
		AND store_id = #{store_id,jdbcType=INTEGER}
		</if>
		<if test="mat_type_id != null and mat_type_id != ''">
		AND mat_type_id = #{mat_type_id,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryMatStoreTypeByCode" resultType="com.chd.hrp.mat.entity.MatStoreType" parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		store_id,
		mat_type_id
		FROM mat_store_type 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="store_id != null and store_id != ''">
		AND store_id = #{store_id,jdbcType=INTEGER}
		</if>
		<if test="mat_type_id != null and mat_type_id != ''">
		AND mat_type_id = #{mat_type_id,jdbcType=INTEGER}
		</if>
		</where>    
	</select>
	<select id="queryMatStoreTypeByUniqueness" resultType="com.chd.hrp.mat.entity.MatStoreType" parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		store_id,
		mat_type_id
		FROM MAT_STORE_TYPE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="store_id != null and store_id != ''">
		AND store_id = #{store_id,jdbcType=INTEGER}
		</if>
		<if test="mat_type_id != null and mat_type_id != ''">
		AND mat_type_id = #{mat_type_id,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<!-- 查询出物资类别字典表 MAT_TYPE中IS_STOP=0的所有物资类别记录 -->
	<select id="queryStoreType" parameterType="java.util.Map" resultMap="map" >
	
		SELECT 
		mt.group_id,
		mt.hos_id,
		mt.copy_code,
		mt.mat_type_id,
		mt.mat_type_code,
		mt.mat_type_name,
		mst.store_id 
		FROM MAT_TYPE mt left join MAT_STORE_TYPE mst
			ON
				mt.group_id = mst.group_id  and 
				mt.hos_id = mst.hos_id  and
				mt.copy_code = mst.copy_code  and
				mt.mat_type_id = mst.mat_type_id 
				
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND mt.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mt.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mt.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="mat_type_id != null and mat_type_id != ''">
		AND mt.mat_type_id = #{mat_type_id,jdbcType=INTEGER}
		</if>
		<if test="mat_type_code != null and mat_type_code != ''">
		AND mt.mat_type_code like '${mat_type_code}%'
		</if>
		<if test="type_level != null and type_level != ''">
		AND mt.type_level = #{type_level,jdbcType=INTEGER}
		</if>
		<if test="store_id != null and store_id != ''">
		 AND mst.store_id = #{store_id,jdbcType=INTEGER}
		</if>
		
		and mt.is_stop = 0
		and mt.is_last = 1
		</where>   
		order by mt.mat_type_code asc
	</select>
	
	<select id="queryExist" parameterType="java.util.Map" resultType="java.lang.Long" >
	
		SELECT count(mat_type_id)
		FROM MAT_STORE_TYPE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="store_id != null and store_id != ''">
		AND store_id = #{store_id,jdbcType=INTEGER}
		</if>
		<if test="mat_type_id != null and mat_type_id != ''">
		AND mat_type_id = #{mat_type_id,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	
	
	<select id="queryMatTypeByStore" parameterType="java.util.Map" resultMap="map" >
	
		SELECT 
		mt.group_id,
		mt.hos_id,
		mt.copy_code,
		mt.mat_type_id,
		mt.mat_type_code,
		mt.mat_type_name
		
		FROM MAT_TYPE mt 
		where 
	mt.mat_type_id  not in 
	(
	  select mat_type_id from  MAT_STORE_TYPE
         where store_id=#{store_id,jdbcType=INTEGER}
	   <if test="group_id != null and group_id != ''">
		 AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
	)
		                    
		<if test="group_id != null and group_id != ''">
		AND mt.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mt.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mt.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="mat_type_id != null and mat_type_id != ''">
		AND mt.mat_type_code like '${mat_type_id}%'
		</if>
		
		 
		and mt.is_stop = 0
		and mt.is_last=1
		  
		order by mt.mat_type_code asc
	</select>
	
	
	<delete id="deleteBatchMatTypeByStore" parameterType="java.util.List">
		DELETE FROM MAT_STORE_TYPE
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				and store_id = #{item.store_id,jdbcType=INTEGER}
				<if test=" item.mat_type_id != null and item.mat_type_id != ''">
					and mat_type_id = #{item.mat_type_id,jdbcType=INTEGER}
				</if>
			</foreach>
		</where>

	</delete>
	
	
	<insert id="addBatchMatTypeByStore" parameterType="java.util.List">
		INSERT INTO MAT_STORE_TYPE (
			group_id , 
			hos_id , 
			copy_code , 
			store_id , 
			mat_type_id
			
		)
		<foreach collection="list" item="item" index="index" separator="union all">
			SELECT 
				#{item.group_id,jdbcType=INTEGER} , 
				#{item.hos_id,jdbcType=INTEGER} , 
				#{item.copy_code,jdbcType=VARCHAR} , 
				#{item.store_id,jdbcType=INTEGER} , 
				#{item.mat_type_id,jdbcType=INTEGER}
			FROM dual
		</foreach>
	</insert>
	
</mapper>

