<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.info.basic.MatTypeMapper">
	
	<resultMap id="matType" type="com.chd.hrp.mat.entity.MatType">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="mat_type_id" column="mat_type_id"/>
	<result property="mat_type_code" column="mat_type_code"/>
	<result property="mat_type_no" column="mat_type_no"/>
	<result property="mat_type_name" column="mat_type_name"/>
	<result property="super_code" column="super_code"/>
	<result property="super_name" column="super_name"/>
	<result property="type_level" column="type_level"/>
	<result property="is_last" column="is_last"/>
	<result property="is_stop" column="is_stop"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="note" column="note"/>
	<result property="is_budg" column="is_budg"/>
	<result property="is_auto_exp" column="is_auto_exp"/>
	<result property="fim_type_code" column="fim_type_code"/>
	</resultMap>
	
	<select id="queryMatTypeSeq"  resultType="java.lang.Integer" useCache="false" flushCache="true">
		SELECT MAT_TYPE_SEQ.nextval as mat_type_id FROM DUAL
	</select>
	
	<insert id="addMatType" useGeneratedKeys="true" >
		<selectKey resultType="java.lang.Integer" order="BEFORE"  keyProperty="mat_type_id">
			SELECT MAT_TYPE_SEQ.nextval as mat_type_id FROM DUAL
		</selectKey> 
		INSERT INTO MAT_TYPE (
			mat_type_id, group_id, hos_id, copy_code, mat_type_code, mat_type_name, super_code, type_level, is_last, 
			is_stop, spell_code, wbx_code, note, is_auto_exp,fim_type_code
		) VALUES (
			#{mat_type_id,jdbcType=INTEGER}, 
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{mat_type_code,jdbcType=VARCHAR},
			#{mat_type_name,jdbcType=VARCHAR},
			#{super_code,jdbcType=VARCHAR},
			#{type_level,jdbcType=INTEGER},
			#{is_last,jdbcType=INTEGER},
			#{is_stop,jdbcType=INTEGER},
			#{spell_code,jdbcType=VARCHAR},
			#{wbx_code,jdbcType=VARCHAR},
			#{note,jdbcType=VARCHAR},
			#{is_auto_exp,jdbcType=INTEGER},
			#{fim_type_code,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="addBatchMatType" parameterType="java.util.List" >
		INSERT INTO MAT_TYPE (
			group_id, hos_id, copy_code, mat_type_id, mat_type_code, mat_type_name, super_code, 
			type_level, is_last, is_stop, spell_code, wbx_code, note, is_budg, is_auto_exp, FIM_TYPE_CODE
		) 
		SELECT t.* FROM(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			SELECT 		
				#{item.group_id,jdbcType=INTEGER} group_id, 
				#{item.hos_id,jdbcType=INTEGER} hos_id, 
				#{item.copy_code,jdbcType=VARCHAR} copy_code, 
				#{item.mat_type_id,jdbcType=INTEGER} mat_type_id, 
				#{item.mat_type_code,jdbcType=VARCHAR} mat_type_code, 
				#{item.mat_type_name,jdbcType=VARCHAR} mat_type_name, 
				#{item.super_code,jdbcType=VARCHAR} super_code, 
				#{item.type_level,jdbcType=INTEGER} type_level, 
				#{item.is_last,jdbcType=INTEGER} is_last, 
				#{item.is_stop,jdbcType=INTEGER} is_stop, 
				#{item.spell_code,jdbcType=VARCHAR} spell_code, 
				#{item.wbx_code,jdbcType=VARCHAR} wbx_code, 
				#{item.note,jdbcType=VARCHAR} note, 
				#{item.is_budg,jdbcType=INTEGER} is_budg, 
				#{item.is_auto_exp,jdbcType=INTEGER} is_auto_exp,
				#{item.fim_type_code,jdbcType=VARCHAR} fim_type_code
			FROM DUAL
		</foreach>
		)t
	</insert>
	
	<update id="updateMatType" parameterType="java.util.Map">
		UPDATE mat_type SET
			is_stop = #{is_stop,jdbcType=INTEGER}, 
			is_auto_exp = #{is_auto_exp,jdbcType=INTEGER}, 
			note = #{note,jdbcType=VARCHAR},
			fim_type_code = #{fim_type_code,jdbcType=VARCHAR}
		WHERE 
			group_id =#{group_id,jdbcType=INTEGER}
			and hos_id =#{hos_id,jdbcType=INTEGER}
		 	and copy_code =#{copy_code,jdbcType=VARCHAR}
			and mat_type_id =#{mat_type_id,jdbcType=INTEGER}
	</update>
	
	<update id="updateMatTypeByDict" parameterType="java.util.Map">
		UPDATE mat_type SET
			mat_type_code = #{mat_type_code,jdbcType=VARCHAR}, 
			mat_type_name = #{mat_type_name,jdbcType=VARCHAR},
			super_code = #{super_code,jdbcType=VARCHAR},
			is_last = #{is_last,jdbcType=INTEGER},
			is_stop = #{is_stop,jdbcType=INTEGER},
			is_auto_exp = #{is_auto_exp,jdbcType=INTEGER},
			spell_code = #{spell_code,jdbcType=VARCHAR},
			wbx_code = #{wbx_code,jdbcType=VARCHAR},
			note = #{note,jdbcType=VARCHAR}
		WHERE 
			group_id =#{group_id,jdbcType=INTEGER}
			and hos_id =#{hos_id,jdbcType=INTEGER}
		 	and copy_code =#{copy_code,jdbcType=VARCHAR}
			and mat_type_id =#{mat_type_id,jdbcType=INTEGER}
	</update>
	
	<update id="updateMatTypeIsLast" parameterType="java.util.Map">
		UPDATE mat_type SET
			is_last = #{is_last,jdbcType=INTEGER}
		WHERE group_id =#{group_id,jdbcType=INTEGER}
		 and hos_id =#{hos_id,jdbcType=INTEGER}
		 and copy_code =#{copy_code,jdbcType=VARCHAR}
		 and mat_type_id =#{mat_type_id,jdbcType=INTEGER}
		 <if test="mat_type_code != null and mat_type_code != ''">
		 	and mat_type_code =#{mat_type_code,jdbcType=VARCHAR}
		 </if>
		 <if test="type_level != null and type_level != ''">
		 	and type_level =#{type_level,jdbcType=VARCHAR}
		 </if>
	</update>
	
	 <update id="updateMatTypeSuperIsLastByIds" parameterType="java.util.Map" >
		update mat_type a set is_last = 1 
		where group_id = #{group_id,jdbcType=INTEGER}
		 	and hos_id = #{hos_id,jdbcType=INTEGER}
		 	and copy_code = #{copy_code,jdbcType=VARCHAR}
		 	and mat_type_id in (
				select mat_type_id from mat_type
				where group_id = #{group_id,jdbcType=INTEGER}
		 			and hos_id = #{hos_id,jdbcType=INTEGER}
		 			and copy_code = #{copy_code,jdbcType=VARCHAR}
					and mat_type_code in (
						select super_code from mat_type_dict 
						where group_id = #{group_id,jdbcType=INTEGER}
		 					and hos_id = #{hos_id,jdbcType=INTEGER}
		 					and copy_code = #{copy_code,jdbcType=VARCHAR}
		 					and is_stop = 0
							and mat_type_id in(${mat_type_id})
					)
			) 
			and (
				select count(*) from mat_type 
				start with  mat_type_id = a.mat_type_id
					and group_id = a.group_id
		 			and hos_id = a.hos_id
		 			and copy_code = a.copy_code
				connect by prior mat_type_code = super_code
			) = 1
   </update>
	
	<update id="updateBatchMatType" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE mat_type SET
			mat_type_code = #{mat_type_code,jdbcType=VARCHAR}
			,
			mat_type_name = #{mat_type_name,jdbcType=VARCHAR}
			,
			super_code = #{super_code,jdbcType=VARCHAR}
			,
			type_level = #{type_level,jdbcType=INTEGER}
			,
			is_last = #{is_last,jdbcType=INTEGER}
			,
			is_stop = #{is_stop,jdbcType=INTEGER}
			,
			spell_code = #{spell_code,jdbcType=VARCHAR}
			,
			wbx_code = #{wbx_code,jdbcType=VARCHAR}
			,
			note = #{note,jdbcType=VARCHAR}
			,
			is_budg = #{is_budg,jdbcType=INTEGER}
			,
			is_auto_exp = #{is_auto_exp,jdbcType=INTEGER}
			
			WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			 and 
			hos_id = #{hos_id,jdbcType=INTEGER}
			 and 
			copy_code = #{copy_code,jdbcType=VARCHAR}
			 and 
			mat_type_id = #{mat_type_id,jdbcType=INTEGER}
			
		</foreach>
	</update>
	
	<delete id="deleteMatType" parameterType="java.util.Map">
		DELETE FROM mat_type 
		WHERE group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR} 
			and mat_type_id in
			(
			 select mat_type_id from MAT_TYPE
			 where group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR} 
	                  start with  mat_type_id in (#{mat_type_id,jdbcType=INTEGER})
	                  connect by prior mat_type_code = super_code
	           
			)
			
			
			
	</delete>
	
	<delete id="deleteBatchMatType" parameterType="java.util.List">
		DELETE FROM mat_type WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{group_id,jdbcType=INTEGER}
			and hos_id = #{hos_id,jdbcType=INTEGER}
			and copy_code = #{copy_code,jdbcType=VARCHAR}
			and mat_type_id = #{mat_type_id,jdbcType=INTEGER}
		</foreach>
	</delete>
	<select id="queryMatType" parameterType="java.util.Map" resultMap="matType" >
		SELECT 
			group_id,
			hos_id,
			copy_code,
			mat_type_id,
			mat_type_code,
			mat_type_name,
			super_code,
			type_level,
			is_last,
			is_stop,
			spell_code,
			wbx_code,
			note,
			is_budg,
			is_auto_exp,
			fim_type_code
		FROM MAT_TYPE 
		<where>                     
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
		</where>   
		order by mat_type_code asc
	</select>
	<select id="queryMatTypeByCode" resultMap="matType" parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			copy_code,
			mat_type_id,
			mat_type_code,
			mat_type_name,
			super_code,
			type_level,
			is_last,
			is_stop,
			spell_code,
			wbx_code,
			note,
			is_budg,
			is_auto_exp
		FROM mat_type 
		WHERE group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}  
			and copy_code = #{copy_code,jdbcType=VARCHAR}  
			and mat_type_code = #{mat_type_code,jdbcType=VARCHAR}
	</select>
	<select id="queryMatTypeByUniqueness" resultMap="matType" parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			copy_code,
			mat_type_id,
			mat_type_code,
			mat_type_name,
			super_code,
			type_level,
			is_last,
			is_stop,
			spell_code,
			wbx_code,
			note,
			is_budg,
			is_auto_exp
		FROM MAT_TYPE 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="mat_type_id != null and mat_type_id != ''">
			AND mat_type_id = #{mat_type_id,jdbcType=INTEGER}
			</if>
			<if test="mat_type_code != null and mat_type_code != ''">
			AND mat_type_code = #{mat_type_code,jdbcType=VARCHAR}
			</if>
			<if test="mat_type_name != null and mat_type_name != ''">
			AND mat_type_name = #{mat_type_name,jdbcType=VARCHAR}
			</if>
			<if test="super_code != null and super_code != ''">
			AND super_code = #{super_code,jdbcType=VARCHAR}
			</if>
			<if test="type_level != null and type_level != ''">
			AND type_level = #{type_level,jdbcType=INTEGER}
			</if>
			<if test="is_last != null and is_last != ''">
			AND is_last = #{is_last,jdbcType=INTEGER}
			</if>
			<if test="is_stop != null and is_stop != ''">
			AND is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
			<if test="spell_code != null and spell_code != ''">
			AND spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
			AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
			AND note = #{note,jdbcType=VARCHAR}
			</if>
			<if test="is_budg != null and is_budg != ''">
			AND is_budg = #{is_budg,jdbcType=INTEGER}
			</if>
			<if test="is_auto_exp != null and is_auto_exp != ''">
			AND is_auto_exp = #{is_auto_exp,jdbcType=INTEGER}
			</if>
		</where>   
		order by mat_type_code asc
	</select>

	<select id="queryMatTypeById" resultMap="matType" parameterType="java.util.Map" >
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			mtd.mat_type_no,
			a.mat_type_id,
			a.mat_type_code,
			a.mat_type_name,
			a.super_code,
			b.mat_type_name super_name,
			a.type_level,
			a.is_last,
			a.is_stop,
			a.spell_code,
			a.wbx_code,
			a.note,
			a.is_budg,
			a.is_auto_exp,
			a.fim_type_code
		FROM mat_type a
		left join mat_type b
			on a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.super_code = b.mat_type_code
		left join mat_type_dict mtd
		on a.group_id = mtd.group_id
			and a.hos_id = mtd.hos_id
			and a.copy_code = mtd.copy_code
			and a.mat_type_id = mtd.mat_type_id
			and mtd.is_stop = '0'
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}   
			and a.hos_id = #{hos_id,jdbcType=INTEGER}  
			and a.copy_code = #{copy_code,jdbcType=VARCHAR}  
			and a.mat_type_id = #{mat_type_id,jdbcType=INTEGER} 
	</select>
	
	<select id="queryMatTypeListForImport" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT mt.mat_type_code, mt.mat_type_name, mt.mat_type_id, mt.type_level, mt.FIM_TYPE_CODE, mft.FIM_TYPE_NAME
        FROM mat_type mt
        LEFT JOIN mat_fim_type mft
        ON
          mt.group_id = mft.group_id
          AND mt.hos_id = mft.hos_id
          AND mt.copy_code = mft.copy_code
          AND mt.FIM_TYPE_CODE = mft.FIM_TYPE_CODE
        WHERE mt.group_id = #{group_id,jdbcType=INTEGER} 
            AND mt.hos_id = #{hos_id,jdbcType=INTEGER}
            AND mt.copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
	
	<select id="queryMatFimTypeListForImport" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT fim_type_code, fim_type_name
		FROM mat_fim_type 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
	
	<update id="updateMatTypeIsLastForImport" parameterType="java.util.Map">
		BEGIN 
			UPDATE mat_type 
			SET is_last = 0
			WHERE group_id = #{map.group_id,jdbcType=INTEGER} 
				AND hos_id = #{map.hos_id,jdbcType=INTEGER}
				AND copy_code = #{map.copy_code,jdbcType=VARCHAR}
				AND mat_type_id in(
					SELECT mat_type_id FROM (
						<foreach collection="list" item="mat_type_id" index="index" separator="UNION ALL">
							SELECT #{mat_type_id} mat_type_id FROM DUAL
						</foreach>
					) t
				);
		
			UPDATE mat_type_dict 
			SET is_last = 0
			WHERE group_id = #{map.group_id,jdbcType=INTEGER} 
				AND hos_id = #{map.hos_id,jdbcType=INTEGER}
				AND copy_code = #{map.copy_code,jdbcType=VARCHAR}
				AND mat_type_id in(
					SELECT mat_type_id FROM (
						<foreach collection="list" item="mat_type_id" index="index" separator="UNION ALL">
							SELECT #{mat_type_id} mat_type_id FROM DUAL
						</foreach>
					) t
				);
		END;
	</update>
</mapper>

