<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.info.HtcgIdentityTypeMapper">

	<resultMap id="identityTypeMap" type="com.chd.hrp.htcg.entity.info.HtcgIdentityType">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="identity_code" column="identity_code" />
		<result property="identity_name" column="identity_name" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="is_stop" column="is_stop" />
	</resultMap>
	
	<insert id="addHtcgIdentityType" useGeneratedKeys="true">
		insert into htcg_identity_type
			(
				group_id,
				hos_id,
				copy_code,
				identity_code,
				identity_name,
				spell_code,
				wbx_code,
				is_stop
			)
		values(
			#{group_id},  
        	#{hos_id}, 
			#{copy_code},
			#{identity_code},
			#{identity_name},
			#{spell_code},
			#{wbx_code},
			#{is_stop}
			)
	</insert>
	
	<insert id="addBatchHtcgIdentityType" parameterType="java.util.List">
		insert into htcg_identity_type
			(
				group_id,
				hos_id,
				copy_code,
				identity_code,
				identity_name,
				spell_code,
				wbx_code,
				is_stop
			) 
		<foreach collection="list" item="item" separator="union all">
			select  
				#{item.group_id},
				#{item.hos_id},
				#{item.copy_code},
				#{item.identity_code},
				#{item.identity_name},
				#{item.spell_code},
				#{item.wbx_code},
				#{item.is_stop}
			from dual
		</foreach>
	</insert>
	
	<delete id="deleteHtcgIdentityType" parameterType="java.util.Map">
	     delete from htcg_identity_type 
	      where group_id = #{item.group_id}
		  and hos_id = #{item.hos_id}
		  and copy_code= #{item.copy_code}
		  and identity_code= #{item.identity_code}
	   
	</delete>
	
	<delete id="deleteBatchHtcgIdentityType" parameterType="java.util.List">
		delete from htcg_identity_type where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			  group_id = #{item.group_id}
			  and hos_id = #{item.hos_id}
			  and copy_code= #{item.copy_code}
			  and identity_code= #{item.identity_code}
			
		</foreach>
		 
	</delete>  
	 
    
	<update id="updateHtcgIdentityType" parameterType="java.util.Map">
	 	update htcg_identity_type set
	        identity_name = #{identity_name},
	        is_stop =#{is_stop},
	        spell_code= #{spell_code},
		    wbx_code= #{wbx_code}
        where group_id = #{group_id}  
		      and hos_id = #{hos_id}
		      and copy_code = #{copy_code}    
		      and identity_code=#{identity_code}
		 
	</update>
	
	<select id="queryHtcgIdentityTypeByCode" parameterType="java.util.Map" resultMap="identityTypeMap">
		select
			group_id ,
            hos_id,
            copy_code ,
			identity_code,
			identity_name,
			spell_code ,
            wbx_code ,
			is_stop
		from htcg_identity_type
		where  group_id = #{group_id}  
   	    and hos_id = #{hos_id} 
        and copy_code = #{copy_code}
        and identity_code =#{identity_code}
	</select>
	
	
	<select id="queryHtcgIdentityType" parameterType="java.util.Map" resultMap="identityTypeMap">
		select
		 	group_id ,
            hos_id,
            copy_code ,
			identity_code,
			identity_name,
			spell_code ,
            wbx_code ,
			is_stop
		from htcg_identity_type
		<where> 
		       group_id = #{group_id}  
    	   and hos_id = #{hos_id} 
           and copy_code = #{copy_code}
		<if test="identity_code!= null and identity_code != ''">
			 AND ( identity_code like '%${identity_code}%' or
			       identity_name like '%${identity_code}%' or
			       spell_code  like '%${identity_code}%' or
			        wbx_code like '%${identity_code}%' 
          			 )
		</if>
		<if test="is_stop != null and is_stop!= ''">
			and is_stop = #{is_stop}
		</if>
		</where>
		order by identity_code 
	</select>
	
</mapper>