<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.fkxy.pactinfo.PactDetFKXYMapper">
	<resultMap id="pactDetFKXY"
		type="com.chd.hrp.pac.entity.fkxy.pactinfo.PactDetFKXYEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pact_code" column="pact_code" />
		<result property="detail_id" column="detail_id" />
		<result property="subject_type" column="subject_type" />
		<result property="subject_id" column="subject_id" />
		<result property="subject_no" column="subject_no" />
		<result property="item_spec" column="item_spec" />
		<result property="item_model" column="item_model" />
		<result property="price" column="price" />
		<result property="note" column="note" />
		<result property="subject_type_name" column="subject_type_name" />
		<result property="subject_name" column="subject_name" />
		<result property="unit_code" column="unit_code" />
		<result property="unit_name" column="unit_name" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_name" column="fac_name" />
		<result property="subject_name" column="subject_name"/>
		
	</resultMap>
    	<resultMap id="pactDetFKXYMateril" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pact_code" column="pact_code" />
		<result property="detail_id" column="detail_id" />
		<result property="subject_type" column="subject_type" />
		<result property="subject_id" column="subject_id" />
		<result property="subject_no" column="subject_no" />
		<result property="item_spec" column="item_spec" />
		<result property="item_model" column="item_model" />
		<result property="price" column="price" />
		<result property="note" column="note" />
		<result property="subject_type_name" column="subject_type_name" />
		<result property="subject_name" column="subject_name" />
		<result property="unit_code" column="unit_code" />
		<result property="unit_name" column="unit_name" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_name" column="fac_name" />
		<result property="subject_name" column="subject_name"/>
		<result property="subject_code" column="subject_code"/>
	</resultMap>
	<select id="query" parameterType="java.util.Map"
		resultMap="pactDetFKXY">
		SELECT
			pdf.PACT_CODE,pdf.DETAIL_ID,pdf.item_name,pdf.SUBJECT_TYPE,pdd.VALUE_NAME as subject_type_name,pdf.SUBJECT_ID,to_char(cast(temp.ass_name as varchar2(20))) as subject_name,pdf.SUBJECT_NO,pdf.ITEM_SPEC,pdf.ITEM_MODEL,pdf.PRICE,pdf.NOTE,pdf.UNIT_CODE, hu.UNIT_NAME,pdf.FAC_ID,hf.FAC_NAME
		FROM
			${table_code } pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN ASS_NO_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.ass_id and pdf.subject_type = '01'
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
			LEFT JOIN HOS_FAC_DICT hf on pdf.GROUP_ID = hf.GROUP_ID and pdf.HOS_ID = hf.HOS_ID and pdf.FAC_ID = hf.FAC_ID
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '01'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
			pdf.PACT_CODE,pdf.DETAIL_ID,pdf.item_name,pdf.SUBJECT_TYPE,pdd.VALUE_NAME as subject_type_name,pdf.SUBJECT_ID,to_char(cast(temp.inv_name as varchar2(20))) as subject_name,pdf.SUBJECT_NO,pdf.ITEM_SPEC,pdf.ITEM_MODEL,pdf.PRICE,pdf.NOTE,pdf.UNIT_CODE, hu.UNIT_NAME,pdf.FAC_ID,hf.FAC_NAME
		FROM
			${table_code } pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN MAT_INV_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.INV_ID and pdf.subject_type = '03'
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
			LEFT JOIN HOS_FAC_DICT hf on pdf.GROUP_ID = hf.GROUP_ID and pdf.HOS_ID = hf.HOS_ID and pdf.FAC_ID = hf.FAC_ID
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '03'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
			pdf.PACT_CODE,pdf.DETAIL_ID,pdf.item_name,pdf.SUBJECT_TYPE,pdd.VALUE_NAME as subject_type_name,pdf.SUBJECT_ID,to_char(cast(temp.inv_name as varchar2(20))) as subject_name,pdf.SUBJECT_NO,pdf.ITEM_SPEC,pdf.ITEM_MODEL,pdf.PRICE,pdf.NOTE,pdf.UNIT_CODE, hu.UNIT_NAME,pdf.FAC_ID,hf.FAC_NAME
		FROM
			${table_code} pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN MED_INV_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.INV_ID and pdf.subject_type = '04'
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
			LEFT JOIN HOS_FAC_DICT hf on pdf.GROUP_ID = hf.GROUP_ID and pdf.HOS_ID = hf.HOS_ID and pdf.FAC_ID = hf.FAC_ID
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '04'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
			pdf.PACT_CODE,pdf.DETAIL_ID,pdf.item_name,pdf.SUBJECT_TYPE,pdd.VALUE_NAME as subject_type_name,pdf.SUBJECT_ID,to_char(cast(temp.sub_name as varchar2(20))) as subject_name,pdf.SUBJECT_NO,pdf.ITEM_SPEC,pdf.ITEM_MODEL,pdf.PRICE,pdf.NOTE,pdf.UNIT_CODE, hu.UNIT_NAME,pdf.FAC_ID,hf.FAC_NAME
		FROM
			${table_code} pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN PACT_ELSE_SUB_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.SUB_ID and pdf.subject_type = '05' and temp.is_new = 0
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
			LEFT JOIN HOS_FAC_DICT hf on pdf.GROUP_ID = hf.GROUP_ID and pdf.HOS_ID = hf.HOS_ID and pdf.FAC_ID = hf.FAC_ID
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '05'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
	</select>
	
	<select id="queryMaxDetailId" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT max(DETAIL_ID) from PACT_DET_FKXY
		<where>
			group_id=#{group_id,jdbcType=NUMERIC}
			and hos_id=#{hos_id,jdbcType=NUMERIC}
			and copy_code=#{copy_code,jdbcType=VARCHAR}
			and pact_code = #{pact_code,jdbcType=VARCHAR}
		</where>
	</select>
	
	<select id="queryByPactCodeList" parameterType="java.util.Map" resultMap="pactDetFKXY">
		SELECT PACT_CODE,DETAIL_ID,SUBJECT_ID,SUBJECT_NO,SUBJECT_TYPE,PRICE,NOTE from PACT_DET_FKXY
		WHERE group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		AND PACT_CODE IN
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator=",">
			#{item}
		</foreach>
	</select>
	

	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_DET_FKXY (
			group_id,hos_id,copy_code,pact_code,DETAIL_ID,SUBJECT_TYPE,SUBJECT_ID,SUBJECT_NO,ITEM_SPEC,ITEM_MODEL,PRICE,NOTE,FAC_ID,FAC_NO,UNIT_CODE,item_name
		)
		VALUES(
			#{group_id,jdbcType=NUMERIC},
			#{hos_id,jdbcType=NUMERIC},
			#{copy_code,jdbcType=VARCHAR},
			#{pact_code,jdbcType=VARCHAR},
			#{detail_id,jdbcType=NUMERIC},
			#{subject_type,jdbcType=VARCHAR},
			#{subject_id,jdbcType=NUMERIC},
			#{subject_no,jdbcType=NUMERIC},
			#{item_spec,jdbcType=VARCHAR},
			#{item_model,jdbcType=VARCHAR},
			#{price,jdbcType=NUMERIC},
			#{note,jdbcType=VARCHAR},
			#{fac_id,jdbcType=NUMERIC},
			#{fac_no,jdbcType=NUMERIC},
			#{unit_code,jdbcType=VARCHAR},
			#{item_name,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="addBatch" parameterType="java.util.List">
		INSERT INTO PACT_DET_FKXY (
			group_id,hos_id,copy_code,pact_code,DETAIL_ID,SUBJECT_TYPE,SUBJECT_ID,SUBJECT_NO,ITEM_SPEC,ITEM_MODEL,PRICE,NOTE,FAC_ID,FAC_NO,UNIT_CODE,item_name
		)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.group_id,jdbcType=NUMERIC},
			#{item.hos_id,jdbcType=NUMERIC},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.pact_code,jdbcType=VARCHAR},
			#{item.detail_id,jdbcType=NUMERIC},
			#{item.subject_type,jdbcType=VARCHAR},
			#{item.subject_id,jdbcType=NUMERIC},
			#{item.subject_no,jdbcType=NUMERIC},
			#{item.item_spec,jdbcType=VARCHAR},
			#{item.item_model,jdbcType=VARCHAR},
			#{item.price,jdbcType=NUMERIC},
			#{item.note,jdbcType=VARCHAR},
			#{item.fac_id,jdbcType=NUMERIC},
			#{item.fac_no,jdbcType=NUMERIC},
			#{item.unit_code,jdbcType=VARCHAR},
			#{item.item_name,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>

	<delete id="deleteAllBatch">
		DELETE FROM PACT_DET_FKXY
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND DETAIL_ID = #{item.detail_id,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	<delete id="deletePactDetFKXYByPactCode">
		DELETE FROM PACT_DET_FKXY
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	
	<select id="queryPactFKXYMaterial" resultMap="pactDetFKXYMateril" parameterType="java.util.Map" >
	select a.group_id,a.hos_id,a.copy_code,a.inv_id  subject_id,a.inv_code subject_code,
		a.inv_name  subject_name,a.inv_model  item_spec,a.plan_price  price,
		hu.unit_name ,c.fac_id,c.fac_name
        from mat_inv_dict a
        left join hos_fac c  
        	on a.group_id=c.group_id
        	and a.hos_id=c.hos_id
            and a.fac_id=c.fac_id
            and c.is_stop=0
        left join mat_inv_sup mis 
        	on a.group_id = mis.group_id
		  and a.hos_id = mis.hos_id and a.copy_code=mis.copy_code
		  and a.inv_id=mis.inv_id and mis.is_default=1
		  left join hos_sup hs on mis.group_id=hs.group_id
		  and mis.hos_id=hs.hos_id and mis.sup_id=hs.sup_id
		  and hs.is_stop=0
		left join MAT_STORE_INV dhc
			 on a.group_id =dhc.group_id
			and a.hos_id = dhc.hos_id 
			and a.copy_code= dhc.copy_code
			and a.inv_id = dhc.inv_id
		left join MAT_TYPE dhcc 
			on a.group_id = dhcc.group_id
			and a.hos_id =dhcc.hos_id 
			and a.copy_code = dhcc.copy_code
			and a.mat_type_id = dhcc.mat_type_id
		LEFT JOIN HOS_UNIT hu 
			on a.GROUP_ID = hu.GROUP_ID 
			AND a.HOS_ID = hu.HOS_ID 
			AND a.unit_code = hu.UNIT_CODE
		 where 
			 a.group_id = #{group_id,jdbcType=INTEGER}
			
			and a.hos_id = #{hos_id,jdbcType=INTEGER}
			
			and a.copy_code = #{copy_code,jdbcType=VARCHAR}
	
			<if test="sup_no != null and sup_no != ''">
				and hs.sup_id = #{sup_no,jdbcType=INTEGER}
			</if>
		
		   <if test ="mat_store !=null and mat_store !=''">
		      and dhc.store_id = #{mat_store,jdbcType=INTEGER}
		   </if>
			<if test="inv_category != null and inv_category != ''">
				and dhcc.mat_type_id=#{inv_category,jdbcType=INTEGER}
			</if>
			
	
		order by a.inv_code
	
	</select>
</mapper>