<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.fkxy.pactinfo.PactChangeAfterFKXYMapper">
	<resultMap id="pactMainFKXYCEntity"
		type="com.chd.hrp.pac.entity.fkxy.pactinfo.PactMainFKXYEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" /> 
		<result property="pact_code" column="pact_code" />
		<result property="pact_type_code" column="pact_type_code" />
		<result property="pact_type_name" column="pact_type_name" />
		<result property="state_code" column="state_code" />
		<result property="state_code_name" column="state_code_name" />
		<result property="pact_name" column="pact_name" />
		<result property="original_code" column="original_code" />
		<result property="master_pact_code" column="master_pact_code" />
		<result property="sign_date" column="sign_date" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_name" column="dept_name" />
		<result property="emp_id" column="emp_id" />
		<result property="emp_name" column="emp_name" />
		<result property="sup_id" column="sup_id" />
		<result property="sup_no" column="sup_no" />
		<result property="sup_name" column="sup_name" />
		<result property="opp_emp" column="opp_emp" />
		<result property="opp_phone" column="opp_phone" />
		<result property="trade_type" column="trade_type" />
		<result property="trade_name" column="trade_name" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="is_bid" column="is_bid" />
		<result property="organ_type" column="organ_type" />
		<result property="organ_name" column="organ_name" />
		<result property="buy_type" column="buy_type" />
		<result property="but_name" column="but_name" />
		<result property="is_init" column="is_init" />
		<result property="state" column="state" />
		<result property="state_name" column="state_name" />
		<result property="maker" column="maker" />
		<result property="maker_name" column="maker_name" />
		<result property="make_date" column="make_date" />
		<result property="checker" column="checker" />
		<result property="checker_name" column="checker_name" />
		<result property="check_date" column="check_date" />
		<result property="confirmer" column="confirmer" />
		<result property="confirmer_name" column="confirmer_name" />
		<result property="comfirm_date" column="comfirm_date" />
		<result property="stoper" column="stoper" />
		<result property="stoper_name" column="stoper_name" />
		<result property="stop_date" column="stop_date" />
		<result property="filer" column="filer" />
		<result property="filer_name" column="filer_name" />
		<result property="file_date" column="file_date" />
		<result property="proj_id" column="proj_id" />
		<result property="proj_no" column="proj_no" />
		<result property="warning_day" column="warning_day" />
		<result property="cont_term1" column="cont_term1" />
		<result property="cont_term2" column="cont_term2" />
		<result property="cont_term3" column="cont_term3" />
		<result property="cont_term4" column="cont_term4" />
		<result property="cont_term5" column="cont_term5" />
		<result property="cont_term6" column="cont_term6" />
		<result property="note" column="note" />
		<result property="change_code" column="change_code" />
		<result property="is_total_cont" column="is_total_cont" />
		<result property="is_price_cont" column="is_price_cont" />
	</resultMap>
	
	<resultMap id="pactMainFKXYC" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" /> 
		<result property="pact_code" column="pact_code" />
		<result property="pact_type_code" column="pact_type_code" />
		<result property="pact_type_name" column="pact_type_name" />
		<result property="state_code" column="state_code" />
		<result property="state_code_name" column="state_code_name" />
		<result property="pact_name" column="pact_name" />
		<result property="original_code" column="original_code" />
		<result property="master_pact_code" column="master_pact_code" />
		<result property="sign_date" column="sign_date" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_name" column="dept_name" />
		<result property="emp_id" column="emp_id" />
		<result property="emp_name" column="emp_name" />
		<result property="sup_id" column="sup_id" />
		<result property="sup_no" column="sup_no" />
		<result property="sup_name" column="sup_name" />
		<result property="opp_emp" column="opp_emp" />
		<result property="opp_phone" column="opp_phone" />
		<result property="trade_type" column="trade_type" />
		<result property="trade_name" column="trade_name" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="is_bid" column="is_bid" />
		<result property="organ_type" column="organ_type" />
		<result property="organ_name" column="organ_name" />
		<result property="buy_type" column="buy_type" />
		<result property="but_name" column="but_name" />
		<result property="is_init" column="is_init" />
		<result property="state" column="state" />
		<result property="state_name" column="state_name" />
		<result property="maker" column="maker" />
		<result property="maker_name" column="maker_name" />
		<result property="make_date" column="make_date" />
		<result property="checker" column="checker" />
		<result property="checker_name" column="checker_name" />
		<result property="check_date" column="check_date" />
		<result property="confirmer" column="confirmer" />
		<result property="confirmer_name" column="confirmer_name" />
		<result property="comfirm_date" column="comfirm_date" />
		<result property="stoper" column="stoper" />
		<result property="stoper_name" column="stoper_name" />
		<result property="stop_date" column="stop_date" />
		<result property="filer" column="filer" />
		<result property="filer_name" column="filer_name" />
		<result property="file_date" column="file_date" />
		<result property="proj_id" column="proj_id" />
		<result property="proj_no" column="proj_no" />
		<result property="warning_day" column="warning_day" />
		<result property="cont_term1" column="cont_term1" />
		<result property="cont_term2" column="cont_term2" />
		<result property="cont_term3" column="cont_term3" />
		<result property="cont_term4" column="cont_term4" />
		<result property="cont_term5" column="cont_term5" />
		<result property="cont_term6" column="cont_term6" />
		<result property="note" column="note" />
		<result property="change_code" column="change_code" />
		<result property="is_total_cont" column="is_total_cont" />
		<result property="is_price_cont" column="is_price_cont" />
	</resultMap>
	
	<resultMap id="pactDetFKXYC" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" /> 
		<result property="pact_code" column="pact_code" />
		<result property="detail_id" column="detail_id" />
		<result property="subject_type" column="subject_type" />
		<result property="subject_id" column="subject_id" />
		<result property="subject_no" column="subject_no" />
		<result property="item_spec" column="item_spec" />
		<result property="item_model" column="item_model" />
		<result property="fac_no" column="fac_no" />
		<result property="fac_id" column="fac_id" />
		<result property="unit_code" column="unit_code" />
		<result property="price" column="price" />
		<result property="note" column="note" />
		<result property="item_name" column="item_name" />
		<result property="change_code" column="change_code" />
	</resultMap>
	
	<select id="queryMainFKXYC" parameterType="java.util.Map"
		resultMap="pactMainFKXYC">
		select 
			group_id,
			hos_id,
			copy_code,
			pact_code,
			change_code,
			pact_type_code,
			state_code,
			pact_name,
			original_code,
			master_pact_code,
			sign_date,
			dept_id,
			dept_no,
			emp_id,
			sup_id,
			sup_no,
			opp_emp,
			opp_phone,
			trade_type,
			start_date,
			end_date,
			is_bid,
			organ_type,
			buy_type,
			is_init,
			state,
			maker,
			make_date,
			proj_id,
			proj_no,
			checker,
			check_date,
			confirmer,
			confirm_date,
			stoper,
			stop_date,
			filer,
			file_date,
			cont_term1,
			cont_term2,	
			cont_term3,
			cont_term4,
			cont_term5,	
			cont_term6, 
			note,
			pact_money,
			is_total_cont,
			is_price_cont
		from pact_main_fkxy_c 
		<where>
			group_id=#{group_id,jdbcType=NUMERIC}
			and hos_id=#{hos_id,jdbcType=NUMERIC}
			and copy_code=#{copy_code,jdbcType=VARCHAR}
			<if test="pact_code != null and pact_code != ''">
				and pact_code = #{pact_code,jdbcType=VARCHAR} 
			</if>
		</where>
		order by TO_NUMBER(SUBSTR(CHANGE_CODE, LENGTH(PACT_CODE) + 2, LENGTH(CHANGE_CODE))) desc
	</select>
	
	<select id="queryDetFKXYC" parameterType="java.util.Map"
		resultMap="pactDetFKXYC">
		select 
			group_id,
			hos_id,
			copy_code,
			pact_code,
			change_code,
			detail_id,
			subject_type,
			subject_id,
			subject_no,
			item_spec,
			item_model,
			fac_id,
			fac_no,
			unit_code,
			price,
			note,
			item_name
		from pact_det_fkxy_c 
		<where>
			group_id=#{group_id,jdbcType=NUMERIC}
			and hos_id=#{hos_id,jdbcType=NUMERIC}
			and copy_code=#{copy_code,jdbcType=VARCHAR}
			<if test="pact_code != null and pact_code != ''">
				and pact_code = #{pact_code,jdbcType=VARCHAR}
			</if>
			<if test="change_code != null and change_code != ''">
				and change_code = #{change_code,jdbcType=VARCHAR}
			</if>
		</where>
		order by TO_NUMBER(SUBSTR(CHANGE_CODE, LENGTH(PACT_CODE) + 2, LENGTH(CHANGE_CODE))) desc
	</select>

	<insert id="add" parameterType="java.util.Map">
		INSERT INTO pact_main_fkxy (
			group_id,
			hos_id,
			copy_code,
			pact_code,
			pact_type_code,
			state_code,
			pact_name,
			original_code,
			master_pact_code,
			sign_date,
			dept_id,
			dept_no,
			emp_id,
			sup_id,
			sup_no,
			opp_emp,
			opp_phone,
			trade_type,
			start_date,
			end_date,
			is_bid,
			organ_type,
			buy_type,
			is_init,
			state,
			maker,
			make_date,
			proj_id,
			cont_term1,
			cont_term2,	
			cont_term3,
			cont_term4,
			cont_term5,	
			cont_term6, 
			note,
			pact_money,
			is_total_cont,
			is_price_cont
		)
		VALUES(
			#{group_id,jdbcType=NUMERIC},
			#{hos_id,jdbcType=NUMERIC},
			#{copy_code,jdbcType=VARCHAR},
			#{pact_code,jdbcType=VARCHAR},
			#{pact_type_code,jdbcType=VARCHAR},
			#{state_code,jdbcType=VARCHAR},
			#{pact_name,jdbcType=VARCHAR},
			#{original_code,jdbcType=VARCHAR},
			#{master_pact_code,jdbcType=VARCHAR},
			to_date(#{sign_date},'yyyy-MM-dd'),
			#{dept_id,jdbcType=NUMERIC},
			#{dept_no,jdbcType=NUMERIC},
			#{emp_id,jdbcType=NUMERIC},
			#{sup_id,jdbcType=NUMERIC},
			#{sup_no,jdbcType=NUMERIC},
			#{opp_emp,jdbcType=VARCHAR},
			#{opp_phone,jdbcType=VARCHAR},
			#{trade_type,jdbcType=VARCHAR},
			to_date(#{start_date},'yyyy-MM-dd'),
			to_date(#{end_date},'yyyy-MM-dd'),
			#{is_bid,jdbcType=NUMERIC},
			#{organ_type,jdbcType=VARCHAR},
			#{buy_type,jdbcType=VARCHAR},
			#{is_init,jdbcType=NUMERIC},
			#{state,jdbcType=NUMERIC},
			#{maker,jdbcType=NUMERIC},
			to_date(#{make_date},'yyyy-MM-dd'),
			#{proj_id,jdbcType=NUMERIC},
			#{cont_term1,jdbcType=VARCHAR},
			#{cont_term2,jdbcType=VARCHAR},	
			#{cont_term3,jdbcType=VARCHAR},
			#{cont_term4,jdbcType=VARCHAR},
			#{cont_term5,jdbcType=VARCHAR},	
			#{cont_term6,jdbcType=VARCHAR}, 
			#{note,jdbcType=VARCHAR},
			#{pact_money,jdbcType=VARCHAR},
			#{is_total_cont,jdbcType=NUMERIC},
			#{is_price_cont,jdbcType=NUMERIC}
		)
	</insert>

	<update id="updateMainFKXY" parameterType="java.util.Map">
		UPDATE PACT_MAIN_FKXY SET
		<if test="state_code != null and state_code != ''">
			state_code=#{state_code,jdbcType=VARCHAR},
		</if>
		<if test="pact_name != null and pact_name != ''">
			pact_name=#{pact_name,jdbcType=VARCHAR},
		</if>
			original_code=#{original_code,jdbcType=VARCHAR},
			master_pact_code=#{master_pact_code,jdbcType=VARCHAR},
		<if test="sign_date != null and sign_date != ''">
			sign_date=to_date(#{sign_date},'yyyy-MM-dd'),
		</if>
		<if test="dept_id != null and dept_id != ''">
			dept_id=#{dept_id,jdbcType=NUMERIC},
		</if>
		<if test="dept_no != null and dept_no != ''">
			dept_no=#{dept_no,jdbcType=NUMERIC},
		</if>
		<if test="emp_id != null and emp_id != ''">
			emp_id=#{emp_id,jdbcType=NUMERIC},
		</if>
		<if test="sup_id != null and sup_id != ''">
			sup_id=#{sup_id,jdbcType=NUMERIC},
		</if>
		<if test="sup_no != null and sup_no != ''">
			sup_no=#{sup_no,jdbcType=NUMERIC},
		</if>
		<if test="opp_emp != null and opp_emp != ''">
			opp_emp=#{opp_emp,jdbcType=VARCHAR},
		</if>
			opp_phone=#{opp_phone,jdbcType=VARCHAR},
			trade_type=#{trade_type,jdbcType=VARCHAR},
		<if test="curr_code != null and curr_code != ''">
			curr_code=#{curr_code,jdbcType=VARCHAR},
		</if>
		<if test="start_date != null and start_date != ''">
			start_date=to_date(#{start_date},'yyyy-MM-dd'),
		</if>
		<if test="end_date != null and end_date != ''">
			end_date=to_date(#{end_date},'yyyy-MM-dd'),
		</if>
			organ_type=#{organ_type,jdbcType=VARCHAR},
			buy_type=#{buy_type,jdbcType=VARCHAR},
		<if test="state != null and state != ''">
			state=#{state,jdbcType=NUMERIC},
		</if>
		<if test="cont_term1 != null and cont_term1 != ''">
			cont_term1=#{cont_term1,jdbcType=VARCHAR},
		</if>
		<if test="cont_term2 != null and cont_term2 != ''">
			cont_term2=#{cont_term2,jdbcType=VARCHAR},
		</if>
		<if test="cont_term3 != null and cont_term3 != ''">
			cont_term3=#{cont_term3,jdbcType=VARCHAR},
		</if>
		<if test="cont_term4 != null and cont_term4 != ''">
			cont_term4=#{cont_term4,jdbcType=VARCHAR},
		</if>
		<if test="cont_term5 != null and cont_term5 != ''">
			cont_term5=#{cont_term5,jdbcType=VARCHAR},
		</if>
		<if test="cont_term6 != null and cont_term6 != ''">
			cont_term6=#{cont_term6,jdbcType=VARCHAR},
		</if>
		<if test="note != null and note != ''">
			note=#{note,jdbcType=VARCHAR},
		</if>
		<if test="pact_money != null and pact_money != ''">
			pact_money=#{pact_money,jdbcType=VARCHAR},
		</if>
		proj_id = #{proj_id},
		is_bid=#{is_bid,jdbcType=NUMERIC}
		where
		group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code,jdbcType=VARCHAR}
		and pact_code = #{pact_code,jdbcType=VARCHAR}
	</update>
	
	<update id="updateChangeFKXYState" parameterType="java.util.Map">
		UPDATE PACT_CHANGE_FKXY SET
		<if test="submiter != null and submiter != ''">
			submiter = #{submiter,jdbcType=NUMERIC},
		</if>
		<if test="submit_date != null and submit_date != ''">
			submit_date = to_date(#{submit_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="confirmer != null and confirmer != ''">
			confirmer = #{confirmer,jdbcType=NUMERIC},
		</if>
		<if test="confirm_date != null and confirm_date != ''">
			confirm_date = to_date(#{confirm_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		state=#{state,jdbcType=NUMERIC}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND change_code = #{change_code,jdbcType=VARCHAR}
	</update>

	<delete id="deleteChangeMain">
		delete from ${change_table} where 
		group_id = #{item.group_id,jdbcType=NUMERIC}
		and hos_id = #{item.hos_id,jdbcType=NUMERIC}
		and copy_code = #{item.copy_code,jdbcType=VARCHAR}
		and pact_code in 
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator=",">
			#{item.pact_code,jdbcType=VARCHAR}
		</foreach>
		and change_code in 
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator=",">
			#{item.change_code,jdbcType=VARCHAR}
		</foreach>
	</delete>
	
	<delete id="deleteCopyMain">
		delete from ${main_table} where 
		group_id = #{item.group_id,jdbcType=NUMERIC}
		and hos_id = #{item.hos_id,jdbcType=NUMERIC}
		and copy_code = #{item.copy_code,jdbcType=VARCHAR}
		and pact_code in 
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator=",">
			#{item.pact_code,jdbcType=VARCHAR}
		</foreach>
		and change_code in 
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator=",">
			#{item.change_code,jdbcType=VARCHAR}
		</foreach>
	</delete>
	
	<delete id="deleteCopyDet">
		delete from ${det_table} where 
		group_id = #{item.group_id,jdbcType=NUMERIC}
		and hos_id = #{item.hos_id,jdbcType=NUMERIC}
		and copy_code = #{item.copy_code,jdbcType=VARCHAR}
		and pact_code in 
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator=",">
			#{item.pact_code,jdbcType=VARCHAR}
		</foreach>
		and change_code in 
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator=",">
			#{item.change_code,jdbcType=VARCHAR}
		</foreach>
	</delete>
	
	<update id="updateDetFKXY" parameterType="java.util.Map">
		UPDATE PACT_MAIN_FKXY SET
		<if test="state_code != null and state_code != ''">
			state_code=#{state_code,jdbcType=VARCHAR},
		</if>
		<if test="pact_name != null and pact_name != ''">
			pact_name=#{pact_name,jdbcType=VARCHAR},
		</if>
			original_code=#{original_code,jdbcType=VARCHAR},
			master_pact_code=#{master_pact_code,jdbcType=VARCHAR},
		<if test="sign_date != null and sign_date != ''">
			sign_date=to_date(#{sign_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="dept_id != null and dept_id != ''">
			dept_id=#{dept_id,jdbcType=NUMERIC},
		</if>
		<if test="dept_no != null and dept_no != ''">
			dept_no=#{dept_no,jdbcType=NUMERIC},
		</if>
		<if test="emp_id != null and emp_id != ''">
			emp_id=#{emp_id,jdbcType=NUMERIC},
		</if>
		<if test="sup_id != null and sup_id != ''">
			sup_id=#{sup_id,jdbcType=NUMERIC},
		</if>
		<if test="sup_no != null and sup_no != ''">
			sup_no=#{sup_no,jdbcType=NUMERIC},
		</if>
		<if test="opp_emp != null and opp_emp != ''">
			opp_emp=#{opp_emp,jdbcType=VARCHAR},
		</if>
			opp_phone=#{opp_phone,jdbcType=VARCHAR},
			trade_type=#{trade_type,jdbcType=VARCHAR},
		<if test="curr_code != null and curr_code != ''">
			curr_code=#{curr_code,jdbcType=VARCHAR},
		</if>
		<if test="start_date != null and start_date != ''">
			start_date=to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="end_date != null and end_date != ''">
			end_date=to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
			organ_type=#{organ_type,jdbcType=VARCHAR},
			buy_type=#{buy_type,jdbcType=VARCHAR},
		<if test="state != null and state != ''">
			state=#{state,jdbcType=NUMERIC},
		</if>
		<if test="cont_term1 != null and cont_term1 != ''">
			cont_term1=#{cont_term1,jdbcType=VARCHAR},
		</if>
		<if test="cont_term2 != null and cont_term2 != ''">
			cont_term2=#{cont_term2,jdbcType=VARCHAR},
		</if>
		<if test="cont_term3 != null and cont_term3 != ''">
			cont_term3=#{cont_term3,jdbcType=VARCHAR},
		</if>
		<if test="cont_term4 != null and cont_term4 != ''">
			cont_term4=#{cont_term4,jdbcType=VARCHAR},
		</if>
		<if test="cont_term5 != null and cont_term5 != ''">
			cont_term5=#{cont_term5,jdbcType=VARCHAR},
		</if>
		<if test="cont_term6 != null and cont_term6 != ''">
			cont_term6=#{cont_term6,jdbcType=VARCHAR},
		</if>
		<if test="note != null and note != ''">
			note=#{note,jdbcType=VARCHAR},
		</if>
		proj_id = #{proj_id},
		is_bid=#{is_bid,jdbcType=NUMERIC}
		where
		group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code,jdbcType=VARCHAR}
		and pact_code = #{pact_code,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteAllBatch">
		DELETE FROM PACT_DET_FKXY
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	
	<delete id="deletePactDetFKXYAllBatch">
		DELETE FROM PACT_DET_FKXY_C
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND change_code = #{item.change_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	
	<insert id="addBatch" parameterType="java.util.List">
		INSERT INTO PACT_DET_FKXY (
			group_id,hos_id,copy_code,pact_code,detail_id,subject_type,subject_id,subject_no,item_spec,item_model,price,note,fac_id,fac_no,unit_code,item_name
		)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.group_id,jdbcType=NUMERIC},
			#{item.hos_id,jdbcType=NUMERIC},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.pact_code,jdbcType=VARCHAR},
			#{item.detail_id,jdbcType=NUMERIC},
			#{item.subject_type,jdbcType=VARCHAR},
			#{item.subject_id,jdbcType=NUMERIC},
			#{item.subject_no,jdbcType=NUMERIC},
			#{item.item_spec,jdbcType=VARCHAR},
			#{item.item_model,jdbcType=VARCHAR},
			#{item.price,jdbcType=NUMERIC},
			#{item.note,jdbcType=VARCHAR},
			#{item.fac_id,jdbcType=NUMERIC},
			#{item.fac_no,jdbcType=NUMERIC},
			#{item.unit_code,jdbcType=VARCHAR},
			#{item.item_name,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>
	
	<update id="updateState" parameterType="java.util.Map">
		UPDATE PACT_MAIN_FKXY_C SET
		<if test="state_code != null and state_code != ''">
			state_code=#{state_code,jdbcType=VARCHAR},
		</if>
		<if test="checker != null and checker != ''">
			checker=#{checker,jdbcType=NUMERIC},
		</if>
		<if test="check_date != null and check_date != ''">
			check_date=to_date(#{check_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="confirmer != null and confirmer != ''">
			confirmer=#{confirmer,jdbcType=NUMERIC},
		</if>
		<if test="confirm_date != null and confirm_date != ''">
			confirm_date= to_date(#{confirm_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="stoper != null and stoper != ''">
			stoper=#{stoper,jdbcType=NUMERIC},
		</if>
		<if test="stop_date != null and stop_date != ''">
			stop_date=to_date(#{stop_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="filer != null and filer != ''">
			filer=#{filer,jdbcType=NUMERIC},
		</if>
		<if test="file_date != null and file_date != ''"> 
			file_date=to_date(#{file_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		state=#{state,jdbcType=NUMERIC}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND change_code = #{change_code,jdbcType=VARCHAR}
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
	</update>
	
	<select id="queryByCode" parameterType="java.util.Map"
		resultMap="pactMainFKXYCEntity">
		select 
			pact_code,
			change_code,
			pact_type_code,
			state_code,
			pact_name,
			original_code,
			master_pact_code,
			sign_date,
			dept_id,
			dept_no,
			emp_id,
			sup_id,
			sup_no,
			opp_emp,
			opp_phone,
			trade_type,
			start_date,
			end_date,
			is_bid,
			organ_type,
			buy_type,
			is_init,
			state,
			maker,
			make_date,
			proj_id,
			proj_no,
			cont_term1,
			cont_term2,	
			cont_term3,
			cont_term4,
			cont_term5,	
			cont_term6, 
			note,
			pact_money,
			is_total_cont,
			is_price_cont
		from pact_main_fkxy_c 
		<where>
			group_id=#{group_id,jdbcType=NUMERIC}
			and hos_id=#{hos_id,jdbcType=NUMERIC}
			and copy_code=#{copy_code,jdbcType=VARCHAR}
			and change_code = #{change_code,jdbcType=VARCHAR}
			<if test="pact_code != null and pact_code != ''">
				and pact_code=#{pact_code,jdbcType=VARCHAR}
			</if>
		</where>
			
	</select>
	
	<update id="updateMainFKXYC" parameterType="java.util.Map">
		UPDATE PACT_MAIN_FKXY_C SET
		<if test="state_code != null and state_code != ''">
			state_code=#{state_code,jdbcType=VARCHAR},
		</if>
		<if test="pact_name != null and pact_name != ''">
			pact_name=#{pact_name,jdbcType=VARCHAR},
		</if>
			original_code=#{original_code,jdbcType=VARCHAR},
			master_pact_code=#{master_pact_code,jdbcType=VARCHAR},
		<if test="sign_date != null and sign_date != ''">
			sign_date=to_date(#{sign_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="dept_id != null and dept_id != ''">
			dept_id=#{dept_id,jdbcType=NUMERIC},
		</if>
		<if test="dept_no != null and dept_no != ''">
			dept_no=#{dept_no,jdbcType=NUMERIC},
		</if>
		<if test="emp_id != null and emp_id != ''">
			emp_id=#{emp_id,jdbcType=NUMERIC},
		</if>
		<if test="sup_id != null and sup_id != ''">
			sup_id=#{sup_id,jdbcType=NUMERIC},
		</if>
		<if test="sup_no != null and sup_no != ''">
			sup_no=#{sup_no,jdbcType=NUMERIC},
		</if>
		<if test="opp_emp != null and opp_emp != ''">
			opp_emp=#{opp_emp,jdbcType=VARCHAR},
		</if>
			opp_phone=#{opp_phone,jdbcType=VARCHAR},
			trade_type=#{trade_type,jdbcType=VARCHAR},
		<if test="curr_code != null and curr_code != ''">
			curr_code=#{curr_code,jdbcType=VARCHAR},
		</if>
		<if test="start_date != null and start_date != ''">
			start_date=to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="end_date != null and end_date != ''">
			end_date=to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
			organ_type=#{organ_type,jdbcType=VARCHAR},
			buy_type=#{buy_type,jdbcType=VARCHAR},
		<if test="state != null and state != ''">
			state=#{state,jdbcType=NUMERIC},
		</if>
		<if test="cont_term1 != null and cont_term1 != ''">
			cont_term1=#{cont_term1,jdbcType=VARCHAR},
		</if>
		<if test="cont_term2 != null and cont_term2 != ''">
			cont_term2=#{cont_term2,jdbcType=VARCHAR},
		</if>
		<if test="cont_term3 != null and cont_term3 != ''">
			cont_term3=#{cont_term3,jdbcType=VARCHAR},
		</if>
		<if test="cont_term4 != null and cont_term4 != ''">
			cont_term4=#{cont_term4,jdbcType=VARCHAR},
		</if>
		<if test="cont_term5 != null and cont_term5 != ''">
			cont_term5=#{cont_term5,jdbcType=VARCHAR},
		</if>
		<if test="cont_term6 != null and cont_term6 != ''">
			cont_term6=#{cont_term6,jdbcType=VARCHAR},
		</if>
		<if test="note != null and note != ''">
			note=#{note,jdbcType=VARCHAR},
		</if>
		<if test="pact_money != null and pact_money != ''">
			pact_money=#{pact_money,jdbcType=NUMERIC},
		</if>
		proj_id = #{proj_id},
		is_bid=#{is_bid,jdbcType=NUMERIC},
		is_total_cont=#{is_total_cont,jdbcType=NUMERIC},
		is_price_cont=#{is_price_cont,jdbcType=NUMERIC}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
		AND change_code = #{change_code,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteDetFKXYC">
		DELETE FROM PACT_DET_FKXY_C
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND change_code = #{item.change_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	
	<insert id="addDetFKXYC" parameterType="java.util.List">
		INSERT INTO PACT_DET_FKXY_C (
			group_id,hos_id,copy_code,pact_code,detail_id,subject_type,subject_id,subject_no,item_spec,item_model,price,note,fac_id,fac_no,unit_code,item_name,change_code
		)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.group_id,jdbcType=NUMERIC},
			#{item.hos_id,jdbcType=NUMERIC},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.pact_code,jdbcType=VARCHAR},
			#{item.detail_id,jdbcType=NUMERIC},
			#{item.subject_type,jdbcType=VARCHAR},
			#{item.subject_id,jdbcType=NUMERIC},
			#{item.subject_no,jdbcType=NUMERIC},
			#{item.item_spec,jdbcType=VARCHAR},
			#{item.item_model,jdbcType=VARCHAR},
			#{item.price,jdbcType=NUMERIC},
			#{item.note,jdbcType=VARCHAR},
			#{item.fac_id,jdbcType=NUMERIC},
			#{item.fac_no,jdbcType=NUMERIC},
			#{item.unit_code,jdbcType=VARCHAR},
			#{item.item_name,jdbcType=VARCHAR},
			#{item.change_code,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>
	
</mapper>