<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.dura.check.MatDuraDeptCheckRelaMapper">
	
	<resultMap id="matDuraDeptCheckRela" type="com.chd.hrp.mat.entity.MatDuraDeptCheckRela">
		<result property="hos_id" column="hos_id"/>
		<result property="group_id" column="group_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="check_id" column="check_id"/>
		<result property="out_dura_id" column="out_dura_id"/>
		<result property="out_dura_no" column="out_dura_no"/>
		<result property="in_dura_id" column="in_dura_id"/>
		<result property="in_dura_no" column="in_dura_no"/>
	</resultMap> 
	
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO MAT_DURA_DEPT_CHECK_RELA (
		<trim suffix="" suffixOverrides=",">
			<if test="hos_id != null and hos_id != ''">hos_id,</if>
			<if test="group_id != null and group_id != ''">group_id,</if>
			<if test="copy_code != null and copy_code != ''">copy_code,</if>
			<if test="check_id != null and check_id != ''">check_id,</if>
			<if test="in_dura_id != null and in_dura_id != ''">in_dura_id,</if>
			<if test="out_dura_id != null and out_dura_id != ''">out_dura_id,</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			<if test="hos_id != null and hos_id != ''">#{hos_id,jdbcType=INTEGER},</if>
			<if test="group_id != null and group_id != ''">#{group_id,jdbcType=INTEGER},</if>
			<if test="copy_code != null and copy_code != ''">#{copy_code,jdbcType=VARCHAR},</if>
			<if test="check_id != null and check_id != ''">#{check_id,jdbcType=INTEGER},</if>
			<if test="in_dura_id != null and in_dura_id != ''">#{in_dura_id,jdbcType=INTEGER},</if>
			<if test="out_dura_id != null and out_dura_id != ''">#{out_dura_id,jdbcType=INTEGER},</if>
		</trim>		
		)
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List" >
		INSERT INTO MAT_DURA_DEPT_CHECK_RELA (
			hos_id, group_id, copy_code, check_id,  in_dura_id, out_dura_id
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.hos_id,jdbcType=INTEGER},
				#{item.group_id,jdbcType=INTEGER},
				#{item.copy_code,jdbcType=VARCHAR},
				#{item.check_id,jdbcType=INTEGER},
				#{item.in_dura_id,jdbcType=INTEGER},
				#{item.out_dura_id,jdbcType=INTEGER}
		    from dual
		</foreach>
	</insert>
	
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM MAT_DURA_DEPT_CHECK_RELA
		where hos_id = #{hos_id,jdbcType=INTEGER}
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND check_id = #{check_id,jdbcType=INTEGER}
			<if test="in_dura_id != null and in_dura_id != ''">
				AND in_dura_id = #{in_dura_id,jdbcType=INTEGER}
			</if>
			<if test="out_dura_id != null and out_dura_id != ''">
				AND out_dura_id = #{out_dura_id,jdbcType=INTEGER}
			</if>
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM MAT_DURA_DEPT_CHECK_RELA 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
					group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND check_id = #{item.check_id,jdbcType=INTEGER}
				<if test="item.in_dura_id != null and item.in_dura_id != ''">
					AND in_dura_id = #{item.in_dura_id,jdbcType=INTEGER}
				</if>
				<if test="item.out_dura_id != null and item.out_dura_id != ''">
					AND out_dura_id = #{item.out_dura_id,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	
	<select id="queryByCode" parameterType="java.util.Map" resultMap="matDuraDeptCheckRela">
	
		SELECT group_id,hos_id,copy_code,check_id,in_dura_id,out_dura_id 
		FROM MAT_DURA_DEPT_CHECK_RELA
		where hos_id = #{hos_id,jdbcType=INTEGER}
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND check_id = #{check_id,jdbcType=INTEGER}
	</select>
</mapper>