<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.analysis.c09.C09Mapper">

	<resultMap id="c0901" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
	</resultMap>
	<resultMap id="c0902" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
	</resultMap>
	<resultMap id="c0903" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
	</resultMap>
	<resultMap id="c0904" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="hos_code" column="hos_code" />
		<result property="hos_name" column="hos_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
	</resultMap>
	<resultMap id="c0905" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="hos_code" column="hos_code" />
		<result property="hos_name" column="hos_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
	</resultMap>
	<resultMap id="c0906" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="hos_code" column="hos_code" />
		<result property="hos_name" column="hos_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
	</resultMap>

	<select id="queryAnalysisC0901" parameterType="java.util.Map"
		resultMap="c0901">
		 with temp as 
(
		select
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0901
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if> -->
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year||acc_month between #{begin_date} and #{end_date}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND dept_code = #{dept_code}
			</if>
			and dept_code in (
			  select hd.dept_code
			 		 from v_user_data_perm b
					 left join hos_dept hd
					 on b.group_id = hd.group_id
					 and b.hos_id = hd.hos_id
					 and b.perm_code = hd.dept_id
					 where b.group_id = #{group_id}
					 and b.hos_id = #{hos_id}
					 and  b.user_id = #{user_id}
					 and  b.table_code = 'HOS_DEPT_DICT'
					 and (b.is_write = 1 or b.is_read = 1)
			
			)
		</where>
		)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by dept_code
	</select>
	
	<select id="queryC0901Print" parameterType="java.util.Map"	resultType="java.util.Map">
		 with temp as 
(
		select
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0901
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if> -->
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year||acc_month between #{begin_date} and #{end_date}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND dept_code = #{dept_code}
			</if>
			and dept_code in (
			  select hd.dept_code
			 		 from v_user_data_perm b
					 left join hos_dept hd
					 on b.group_id = hd.group_id
					 and b.hos_id = hd.hos_id
					 and b.perm_code = hd.dept_id
					 where b.group_id = #{group_id}
					 and b.hos_id = #{hos_id}
					 and  b.user_id = #{user_id}
					 and  b.table_code = 'HOS_DEPT_DICT'
					 and (b.is_write = 1 or b.is_read = 1)
			
			)
		</where>
		)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by dept_code
	</select>

	<delete id="deleteCostAnalysisC0901" parameterType="java.util.Map">

		DELETE FROM
		cost_c0901 WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}

	</delete>

	<insert id="addCostAnalysisC0901" parameterType="java.util.Map">

		INSERT INTO
		cost_c0901 (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		dept_code
		,
		dept_name
		,
		t_1
		,
		t_2
		,
		t_3
		,
		t_4
		,
		t_5
		,
		t_6
		,
		t_7
		,
		t_8
		,
		t_9
		)
		select
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{acc_year} ,
		#{acc_month} ,
		a.dept_code,
		a.dept_name,
		c.workload,
		d.all_income/c.workload,
		b.change_cost/c.workload,
		(d.all_income-b.all_cost)/c.workload,
		d.all_income,
		b.fixed_cost,
		b.change_cost,
		b.fixed_cost/((d.all_income-b.change_cost)/c.workload),
		(b.fixed_cost/((d.all_income-b.change_cost)/c.workload))*(d.all_income/c.workload)
		from (
		select dept_id,dept_no,dept_code,dept_name from Hos_Dept_Dict
		where dept_id in (select dept_id from acc_dept_attr where natur_code
		='01'
		and group_id = #{group_id} and
		hos_id = #{hos_id})
		and is_stop='0'
		and is_last='1'
		and group_id = #{group_id} and
		hos_id = #{hos_id}
		) a
		left join
		(
		select dat.dept_id,
		sum(case cost_dic.nature_id when 1 then
		dir_amount + dat.dir_man_amount +
		dat.dir_ass_amount +
		dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount else 0 end ) fixed_cost,
		sum( case
		cost_dic.nature_id when 2 then dir_amount + dat.dir_man_amount +
		dat.dir_ass_amount + dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount else 0 end ) change_cost,
		sum(dir_amount +
		dat.dir_man_amount +
		dat.dir_ass_amount + dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount) all_cost
		from
		COST_DEPT_COST dat
		left join COST_ITEM_DICT cost_dic on
		dat.cost_item_id=cost_dic.cost_item_id and cost_dic.group_id =
		#{group_id} and
		cost_dic.hos_id = #{hos_id} and
		cost_dic.copy_code =
		#{copy_code}
		where
		dat.group_id = #{group_id} and
		dat.hos_id = #{hos_id}
		and
		dat.copy_code = #{copy_code} and
		dat.acc_year = #{acc_year} and
		dat.acc_month = #{acc_month}
		group by dat.dept_id
		) b on
		a.dept_id=b.dept_id
		left join
		(
		select dept_id,sum(clinic_num) workload
		from COST_CLINIC_WORK
		where group_id = #{group_id} and
		hos_id =
		#{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month = #{acc_month}
		group by dept_id
		)c
		on a.dept_id=c.dept_id
		left
		join
		(
		select appl_dept_id dept_id,sum(money) all_income from
		cost_income
		where group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}
		group by appl_dept_id
		) d on a.dept_id=d.dept_id

	</insert>

	<select id="queryAnalysisC0902" parameterType="java.util.Map"
		resultMap="c0902">
		 with temp as 
(
		select
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0902
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year||acc_month between #{begin_date} and #{end_date}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND dept_code = #{dept_code}
			</if>
				and dept_code in (
			  select hd.dept_code
			 		 from v_user_data_perm b
					 left join hos_dept hd
					 on b.group_id = hd.group_id
					 and b.hos_id = hd.hos_id
					 and b.perm_code = hd.dept_id
					 where b.group_id = #{group_id}
					 and b.hos_id = #{hos_id}
					 and  b.user_id = #{user_id}
					 and  b.table_code = 'HOS_DEPT_DICT'
					 and (b.is_write = 1 or b.is_read = 1)
			
			)
		</where>
		)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by dept_code
	</select>
	
	<select id="queryC0902Print" parameterType="java.util.Map"	resultType="java.util.Map">
		 with temp as 
(
		select
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0902
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year||acc_month between #{begin_date} and #{end_date}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND dept_code = #{dept_code}
			</if>
				and dept_code in (
			  select hd.dept_code
			 		 from v_user_data_perm b
					 left join hos_dept hd
					 on b.group_id = hd.group_id
					 and b.hos_id = hd.hos_id
					 and b.perm_code = hd.dept_id
					 where b.group_id = #{group_id}
					 and b.hos_id = #{hos_id}
					 and  b.user_id = #{user_id}
					 and  b.table_code = 'HOS_DEPT_DICT'
					 and (b.is_write = 1 or b.is_read = 1)
			
			)
		</where>
		)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by dept_code
	</select>
	
	<delete id="deleteCostAnalysisC0902" parameterType="java.util.Map">

		DELETE FROM
		cost_c0902 WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}

	</delete>

	<insert id="addCostAnalysisC0902" parameterType="java.util.Map">
		INSERT INTO
		cost_c0902 (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		dept_code
		,
		dept_name
		,
		t_1
		,
		t_2
		,
		t_3
		,
		t_4
		,
		t_5
		,
		t_6
		,
		t_7
		,
		t_8
		,
		t_9
		)
		select
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{acc_year} ,
		#{acc_month} ,
		a.dept_code,
		a.dept_name,
		c.workload,
		d.all_income/c.workload,
		b.change_cost/c.workload,
		(d.all_income-b.all_cost)/c.workload,
		d.all_income,
		b.fixed_cost,
		b.change_cost,
		b.fixed_cost/((d.all_income-b.change_cost)/c.workload),
		(b.fixed_cost/((d.all_income-b.change_cost)/c.workload))*(d.all_income/c.workload)
		from (
		select dept_id,dept_no,dept_code,dept_name from Hos_Dept_Dict
		where dept_id in (select dept_id from acc_dept_attr where natur_code
		='02'
		and group_id = #{group_id} and
		hos_id = #{hos_id})
		and is_stop='0'
		and is_last='1'
		and group_id = #{group_id} and
		hos_id = #{hos_id}
		) a
		left join
		(
		select dat.dept_id,
		sum(case cost_dic.nature_id when 1 then
		dir_amount + dat.dir_man_amount +
		dat.dir_ass_amount +
		dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount else 0 end ) fixed_cost,
		sum( case
		cost_dic.nature_id when 2 then dir_amount + dat.dir_man_amount +
		dat.dir_ass_amount + dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount else 0 end ) change_cost,
		sum(dir_amount +
		dat.dir_man_amount +
		dat.dir_ass_amount + dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount) all_cost
		from
		COST_DEPT_COST dat
		left join COST_ITEM_DICT cost_dic on
		dat.cost_item_id=cost_dic.cost_item_id and cost_dic.group_id =
		#{group_id} and
		cost_dic.hos_id = #{hos_id} and
		cost_dic.copy_code =
		#{copy_code}
		where
		dat.group_id = #{group_id} and
		dat.hos_id = #{hos_id}
		and
		dat.copy_code = #{copy_code} and
		dat.acc_year = #{acc_year} and
		dat.acc_month = #{acc_month}
		group by dat.dept_id
		) b on
		a.dept_id=b.dept_id
		left join
		(
		select dept_id,sum(bed_use_day_num)
		workload
		from cost_inhos_work
		where group_id = #{group_id} and
		hos_id =
		#{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}
		group by dept_id
		)c
		on a.dept_id=c.dept_id
		left
		join
		(
		select
		appl_dept_id dept_id,sum(money) all_income from cost_income
		where
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code =
		#{copy_code} and
		acc_year = #{acc_year} and
		acc_month = #{acc_month}
		group by appl_dept_id
		) d on a.dept_id=d.dept_id
	</insert>

	<select id="queryAnalysisC0903" parameterType="java.util.Map"
		resultMap="c0903">
		 with temp as 
(
		select
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0903
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year || acc_month between #{begin_date} and #{end_date}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND dept_code = #{dept_code}
			</if>
				and dept_code in (
			  select hd.dept_code
			 		 from v_user_data_perm b
					 left join hos_dept hd
					 on b.group_id = hd.group_id
					 and b.hos_id = hd.hos_id
					 and b.perm_code = hd.dept_id
					 where b.group_id = #{group_id}
					 and b.hos_id = #{hos_id}
					 and  b.user_id = #{user_id}
					 and  b.table_code = 'HOS_DEPT_DICT'
					 and (b.is_write = 1 or b.is_read = 1)
			
			)
		</where>
		)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by dept_code
	</select>
	
	<select id="queryC0903Print" parameterType="java.util.Map"	resultType="java.util.Map">
		 with temp as 
(
		select
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0903
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year || acc_month between #{begin_date} and #{end_date}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND dept_code = #{dept_code}
			</if>
				and dept_code in (
			  select hd.dept_code
			 		 from v_user_data_perm b
					 left join hos_dept hd
					 on b.group_id = hd.group_id
					 and b.hos_id = hd.hos_id
					 and b.perm_code = hd.dept_id
					 where b.group_id = #{group_id}
					 and b.hos_id = #{hos_id}
					 and  b.user_id = #{user_id}
					 and  b.table_code = 'HOS_DEPT_DICT'
					 and (b.is_write = 1 or b.is_read = 1)
			
			)
		</where>
		)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by dept_code
	</select>
	
	<delete id="deleteCostAnalysisC0903" parameterType="java.util.Map">

		DELETE FROM
		cost_c0903 WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}

	</delete>

	<insert id="addCostAnalysisC0903" parameterType="java.util.Map">
		INSERT INTO
		cost_c0903 (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		dept_code
		,
		dept_name
		,
		t_1
		,
		t_2
		,
		t_3
		,
		t_4
		,
		t_5
		,
		t_6
		,
		t_7
		,
		t_8
		,
		t_9
		)
		select
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{acc_year} ,
		#{acc_month} ,
		a.dept_code,
		a.dept_name,
		c.workload,
		d.all_income/c.workload,
		b.change_cost/c.workload,
		(d.all_income-b.all_cost)/c.workload,
		d.all_income,
		b.fixed_cost,
		b.change_cost,
		b.fixed_cost/((d.all_income-b.change_cost)/c.workload),
		(b.fixed_cost/((d.all_income-b.change_cost)/c.workload))*(d.all_income/c.workload)
		from (
		select dept_id,dept_no,dept_code,dept_name from Hos_Dept_Dict
		where dept_id in (select dept_id from acc_dept_attr where type_code
		='02'
		and group_id = #{group_id} and
		hos_id = #{hos_id})
		and is_stop='0'
		and is_last='1'
		and group_id = #{group_id} and
		hos_id = #{hos_id}
		) a
		left join
		(
		select dat.dept_id,
		sum(case cost_dic.nature_id when 1 then
		dir_amount + dat.dir_man_amount +
		dat.dir_ass_amount +
		dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount else 0 end ) fixed_cost,
		sum( case
		cost_dic.nature_id when 2 then dir_amount + dat.dir_man_amount +
		dat.dir_ass_amount + dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount else 0 end ) change_cost,
		sum(dir_amount +
		dat.dir_man_amount +
		dat.dir_ass_amount + dat.dir_med_amount +
		dat.indir_ass_man_amount +
		dat.indir_med_man_amount +
		dat.indir_ass_med_man_amount +
		dat.indir_med_ass_amount) all_cost
		from
		COST_DEPT_COST dat
		left join COST_ITEM_DICT cost_dic on
		dat.cost_item_id=cost_dic.cost_item_id and cost_dic.group_id =
		#{group_id} and
		cost_dic.hos_id = #{hos_id} and
		cost_dic.copy_code =
		#{copy_code}
		where
		dat.group_id = #{group_id} and
		dat.hos_id = #{hos_id}
		and
		dat.copy_code = #{copy_code} and
		dat.acc_year = #{acc_year} and
		dat.acc_month = #{acc_month}
		group by dat.dept_id
		) b on
		a.dept_id=b.dept_id
		left join
		(
		select server_by_dept_id dept_id,
		SUM(server_num) AS workload
		FROM COST_INNER_SERVER
		where group_id =
		#{group_id} and
		hos_id = #{hos_id}
		and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}
		group by
		server_by_dept_id
		)c
		on a.dept_id=c.dept_id
		left join
		(
		select
		exec_dept_id
		dept_id,sum(money) all_income from cost_income
		where
		group_id =
		#{group_id} and
		hos_id = #{hos_id} and
		copy_code =
		#{copy_code} and
		acc_year = #{acc_year} and
		acc_month = #{acc_month}
		group by
		exec_dept_id
		) d on a.dept_id=d.dept_id
	</insert>

	<select id="queryAnalysisC0904" parameterType="java.util.Map"
		resultMap="c0904">
		 with temp as 
(
		select
		group_id,
		hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0904
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year || acc_month between #{begin_date} and #{end_date}
			</if>
		</where>
			)select acc_year,
		hos_code,hos_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		hos_code,hos_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by hos_code
	</select>
	
	<select id="queryC0904Print" parameterType="java.util.Map"	resultType="java.util.Map">
		 with temp as 
(
		select
		group_id,
		hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0904
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year || acc_month between #{begin_date} and #{end_date}
			</if>
		</where>
			)select acc_year,
		hos_code,hos_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		hos_code,hos_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by hos_code
	</select>
	
	<delete id="deleteCostAnalysisC0904" parameterType="java.util.Map">

		DELETE FROM
		cost_c0904 WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}

	</delete>

	<insert id="addCostAnalysisC0904" parameterType="java.util.Map">
		INSERT INTO
		cost_c0904 (
		group_id
		,
		hos_id
		,
		acc_year
		,
		acc_month
		,
		hos_code
		,
		hos_name
		,
		t_1
		,
		t_2
		,
		t_3
		,
		t_4
		,
		t_5
		,
		t_6
		,
		t_7
		,
		t_8
		,
		t_9
		)
		select a.group_id,
		a.hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3,
		sum(t_4) t_4,
		sum(t_5) t_5,
		sum(t_6) t_6,
		sum(t_7) t_7,
		sum(t_8) t_8,
		sum(t_9) t_9
		from cost_c0901 a
		left join hos_info_dict b
		on a.group_id =
		b.group_id
		and a.hos_id = b.hos_id
		where
		a.group_id =
		#{group_id} and
		a.hos_id
		= #{hos_id} and
		acc_year = #{acc_year}
		and
		acc_month = #{acc_month}
		group
		by a.group_id,
		a.hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name
	</insert>

	<select id="queryAnalysisC0905" parameterType="java.util.Map"
		resultMap="c0905">
		 with temp as 
(
		select
		group_id,
		hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0905
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year || acc_month between #{begin_date} and #{end_date}
			</if>
		</where>
		)select acc_year,
		hos_code,hos_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		hos_code,hos_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by hos_code
	</select>
	
	<select id="queryC0905Print" parameterType="java.util.Map"	resultType="java.util.Map">
		 with temp as 
(
		select
		group_id,
		hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0905
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year || acc_month between #{begin_date} and #{end_date}
			</if>
		</where>
		)select acc_year,
		hos_code,hos_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		hos_code,hos_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by hos_code
	</select>
	
	<delete id="deleteCostAnalysisC0905" parameterType="java.util.Map">

		DELETE FROM
		cost_c0905 WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}

	</delete>

	<insert id="addCostAnalysisC0905" parameterType="java.util.Map">
		INSERT INTO
		cost_c0905 (
		group_id
		,
		hos_id
		,
		acc_year
		,
		acc_month
		,
		hos_code
		,
		hos_name
		,
		t_1
		,
		t_2
		,
		t_3
		,
		t_4
		,
		t_5
		,
		t_6
		,
		t_7
		,
		t_8
		,
		t_9
		)
		select a.group_id,
		a.hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3,
		sum(t_4) t_4,
		sum(t_5) t_5,
		sum(t_6) t_6,
		sum(t_7) t_7,
		sum(t_8) t_8,
		sum(t_9) t_9
		from cost_c0902 a
		left join hos_info_dict b
		on a.group_id =
		b.group_id
		and a.hos_id = b.hos_id
		where
		a.group_id =
		#{group_id} and
		a.hos_id
		= #{hos_id} and
		acc_year = #{acc_year}
		and
		acc_month = #{acc_month}
		group
		by a.group_id,
		a.hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name
	</insert>

	<select id="queryAnalysisC0906" parameterType="java.util.Map"
		resultMap="c0906">
		 with temp as 
(
		select
		group_id,
		hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0906
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year || acc_month between #{begin_date} and #{end_date}
			</if>
		</where>
		)select acc_year,
		hos_code,hos_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		hos_code,hos_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by hos_code
	</select>
	
	<select id="queryC0906Print" parameterType="java.util.Map"	resultType="java.util.Map">
		 with temp as 
(
		select
		group_id,
		hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3,
		t_4,
		t_5,
		t_6,
		t_7,
		t_8,
		t_9
		from COST_C0906
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND acc_year || acc_month between #{begin_date} and #{end_date}
			</if>
		</where>
		)select acc_year,
		hos_code,hos_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9 from temp
		group by acc_year,
		hos_code,hos_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9) from temp
		order by hos_code
	</select>
	
	<delete id="deleteCostAnalysisC0906" parameterType="java.util.Map">

		DELETE FROM
		cost_c0906 WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}

	</delete>

	<insert id="addCostAnalysisC0906" parameterType="java.util.Map">
		INSERT INTO
		cost_c0906 (
		group_id
		,
		hos_id
		,
		acc_year
		,
		acc_month
		,
		hos_code
		,
		hos_name
		,
		t_1
		,
		t_2
		,
		t_3
		,
		t_4
		,
		t_5
		,
		t_6
		,
		t_7
		,
		t_8
		,
		t_9
		)
		select a.group_id,
		a.hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3,
		sum(t_4) t_4,
		sum(t_5) t_5,
		sum(t_6) t_6,
		sum(t_7) t_7,
		sum(t_8) t_8,
		sum(t_9) t_9
		from cost_c0903 a
		left join hos_info_dict b
		on a.group_id =
		b.group_id
		and a.hos_id = b.hos_id
		where
		a.group_id =
		#{group_id} and
		a.hos_id
		= #{hos_id} and
		acc_year = #{acc_year}
		and
		acc_month = #{acc_month}
		group
		by a.group_id,
		a.hos_id,
		acc_year,
		acc_month,
		hos_code,
		hos_name

	</insert>

</mapper>

