<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.check.land.AssCheckApDetailLandMapper">
	
	<resultMap id="assCheckApDetailLand" type="com.chd.hrp.ass.entity.check.land.AssCheckApDetailLand">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="check_ap_no" column="check_ap_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_model" column="ass_model"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="acc_amount" column="acc_amount"/>
	<result property="price" column="price"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="p_reason" column="p_reason"/>
	<result property="fac_id" column="fac_id"/>
	<result property="fac_name" column="fac_name"/>
	</resultMap>
		
	<resultMap id="assCheckApDetailLandMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="check_ap_no" column="check_ap_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_model" column="ass_model"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="acc_amount" column="acc_amount"/>
	<result property="price" column="price"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="p_reason" column="p_reason"/>
	<result property="fac_id" column="fac_id"/>
	<result property="fac_name" column="fac_name"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_CHECK_AP_DETAIL_LAND (
			group_id,
			hos_id,
			copy_code,
			check_ap_no,
			ass_id,
			ass_no,
			acc_amount,
			price,
			add_depre,
			add_depre_month,
			cur_money,
			fore_money,
			p_reason
		) VALUES (
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{check_ap_no,jdbcType=VARCHAR},
			#{ass_id,jdbcType=INTEGER},
			#{ass_no,jdbcType=INTEGER},
			#{acc_amount,jdbcType=INTEGER},
			#{price,jdbcType=INTEGER},
			#{add_depre,jdbcType=INTEGER},
			#{add_depre_month,jdbcType=INTEGER},
			#{cur_money,jdbcType=INTEGER},
			#{fore_money,jdbcType=INTEGER},
			#{p_reason,jdbcType=VARCHAR}
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_CHECK_AP_DETAIL_LAND (
			group_id,
			hos_id,
			copy_code,
			check_ap_no,
			ass_id,
			ass_no,
			acc_amount,
			price,
			add_depre,
			add_depre_month,
			cur_money,
			fore_money,
			p_reason		
		)
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.check_ap_no,jdbcType=VARCHAR},
			#{item.ass_id,jdbcType=INTEGER},
			#{item.ass_no,jdbcType=INTEGER},
			#{item.acc_amount,jdbcType=INTEGER},
			#{item.price,jdbcType=INTEGER},
			#{item.add_depre,jdbcType=INTEGER},
			#{item.add_depre_month,jdbcType=INTEGER},
			#{item.cur_money,jdbcType=INTEGER},
			#{item.fore_money,jdbcType=INTEGER},
			#{item.p_reason,jdbcType=VARCHAR}			
		    from dual
		</foreach>
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_check_ap_detail_land 
		<set>
			acc_amount = #{acc_amount,jdbcType=INTEGER},
			price = #{price,jdbcType=INTEGER},
			add_depre = #{add_depre,jdbcType=INTEGER},
			add_depre_month = #{add_depre_month,jdbcType=INTEGER},
			cur_money = #{cur_money,jdbcType=INTEGER},
			fore_money = #{fore_money,jdbcType=INTEGER},
			p_reason = #{p_reason,jdbcType=VARCHAR}
		</set>
		<where>                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND check_ap_no = #{check_ap_no,jdbcType=VARCHAR}
			AND ass_id = #{ass_id,jdbcType=INTEGER}
			AND ass_no = #{ass_no,jdbcType=INTEGER}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_check_ap_detail_land 
			<set> 
				<if test="item.acc_amount != null and item.acc_amount != ''">
				acc_amount = #{item.acc_amount,jdbcType=INTEGER},
				</if>
				<if test="item.price != null and item.price != ''">
				price = #{item.price,jdbcType=INTEGER},
				</if>
				<if test="item.add_depre != null and item.add_depre != ''">
				add_depre = #{item.add_depre,jdbcType=INTEGER},
				</if>
				<if test="item.add_depre_month != null and item.add_depre_month != ''">
				add_depre_month = #{item.add_depre_month,jdbcType=INTEGER},
				</if>
				<if test="item.cur_money != null and item.cur_money != ''">
				cur_money = #{item.cur_money,jdbcType=INTEGER},
				</if>
				<if test="item.fore_money != null and item.fore_money != ''">
				fore_money = #{item.fore_money,jdbcType=INTEGER},
				</if>
				<if test="item.p_reason != null and item.p_reason != ''">
				p_reason = #{item.p_reason,jdbcType=VARCHAR}
				</if>
			</set>
			<where>                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND check_ap_no = #{item.check_ap_no,jdbcType=VARCHAR}
				AND ass_id = #{item.ass_id,jdbcType=INTEGER}
				AND ass_no = #{item.ass_no,jdbcType=INTEGER}
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_check_ap_detail_land 
		where                     
		group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND check_ap_no = #{check_ap_no,jdbcType=VARCHAR}
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_check_ap_detail_land 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND check_ap_no = #{item.check_ap_no,jdbcType=VARCHAR}
				<if test="item.ass_id != null and item.ass_id != ''">
				AND ass_id = #{item.ass_id,jdbcType=INTEGER}
				</if>
				<if test="item.ass_no != null and item.ass_no != ''">
				AND ass_no = #{item.ass_no,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assCheckApDetailLand" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.check_ap_no,
			a.ass_id||'@'||a.ass_no ass_id,
			a.ass_no,
			c.ass_code,
			c.ass_name,
			c.ass_spec,
			c.ass_model,
			c.ass_brand,
			a.acc_amount,
			a.price,
			a.add_depre,
			a.add_depre_month,
			a.cur_money,
			a.fore_money,
			a.p_reason,
			d.fac_id,
			d.fac_name
		FROM ASS_CHECK_AP_DETAIL_LAND a
		left join ass_no_dict c on
			a.group_id = c.group_id
			and a.hos_id = c.hos_id
			and a.copy_code = c.copy_code 
			and a.ass_id = c.ass_id
			and a.ass_no = c.ass_no
			and c.is_stop = 0
		left join hos_fac_dict d on
		a.group_id = d.group_id
		and a.hos_id = d.hos_id
		and c.fac_id = d.fac_id
		and d.is_stop = 0
		<where>                     
			a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="check_ap_no != null and check_ap_no != ''">
			AND a.check_ap_no = #{check_ap_no,jdbcType=VARCHAR}
			</if>
			<if test="ass_id != null and ass_id != ''">
			AND a.ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
			AND a.ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
			<if test="acc_amount != null and acc_amount != ''">
			AND a.acc_amount = #{acc_amount,jdbcType=INTEGER}
			</if>
			<if test="price != null and price != ''">
			AND a.price = #{price,jdbcType=INTEGER}
			</if>
			<if test="add_depre != null and add_depre != ''">
			AND a.add_depre = #{add_depre,jdbcType=INTEGER}
			</if>
			<if test="add_depre_month != null and add_depre_month != ''">
			AND a.add_depre_month = #{add_depre_month,jdbcType=INTEGER}
			</if>
			<if test="cur_money != null and cur_money != ''">
			AND a.cur_money = #{cur_money,jdbcType=INTEGER}
			</if>
			<if test="fore_money != null and fore_money != ''">
			AND a.fore_money = #{fore_money,jdbcType=INTEGER}
			</if>
			<if test="p_reason != null and p_reason != ''">
			AND a.p_reason = #{p_reason,jdbcType=VARCHAR}
			</if>
		</where>   
		order by a.group_id asc
	</select>
	<select id="queryByCode" resultMap="assCheckApDetailLand"  parameterType="java.util.Map" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.check_ap_no,
			a.ass_id||'@'||a.ass_no ass_id,
			a.ass_no,
			c.ass_code,
			c.ass_name,
			c.ass_spec,
			c.ass_model,
			c.ass_brand,
			a.acc_amount,
			a.price,
			a.add_depre,
			a.add_depre_month,
			a.cur_money,
			a.fore_money,
			a.p_reason,
			d.fac_id,
			d.fac_name
		FROM ASS_CHECK_AP_DETAIL_LAND a
		left join ass_no_dict c on
			a.group_id = c.group_id
			and a.hos_id = c.hos_id
			and a.copy_code = c.copy_code 
			and a.ass_id = c.ass_id
			and a.ass_no = c.ass_no
			and c.is_stop = 0
		left join hos_fac_dict d on
			a.group_id = d.group_id
			and a.hos_id = d.hos_id
			and c.fac_id = d.fac_id
			and d.is_stop = 0
		<where>                     
			a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND a.check_ap_no = #{check_ap_no,jdbcType=VARCHAR}
			<if test="ass_id != null and ass_id != ''">
			AND a.ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
			AND a.ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
		</where>   
	
	</select>
	<select id="queryByUniqueness" resultMap="assCheckApDetailLand"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			check_ap_no,
			ass_id,
			ass_no,
			acc_amount,
			price,
			add_depre,
			add_depre_month,
			cur_money,
			fore_money,
			p_reason
		FROM ASS_CHECK_AP_DETAIL_LAND 
		<where>                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="check_ap_no != null and check_ap_no != ''">
			AND check_ap_no = #{check_ap_no,jdbcType=VARCHAR}
			</if>
			<if test="ass_id != null and ass_id != ''">
			AND ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
			AND ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
			<if test="acc_amount != null and acc_amount != ''">
			AND acc_amount = #{acc_amount,jdbcType=INTEGER}
			</if>
			<if test="price != null and price != ''">
			AND price = #{price,jdbcType=INTEGER}
			</if>
			<if test="add_depre != null and add_depre != ''">
			AND add_depre = #{add_depre,jdbcType=INTEGER}
			</if>
			<if test="add_depre_month != null and add_depre_month != ''">
			AND add_depre_month = #{add_depre_month,jdbcType=INTEGER}
			</if>
			<if test="cur_money != null and cur_money != ''">
			AND cur_money = #{cur_money,jdbcType=INTEGER}
			</if>
			<if test="fore_money != null and fore_money != ''">
			AND fore_money = #{fore_money,jdbcType=INTEGER}
			</if>
			<if test="p_reason != null and p_reason != ''">
			AND p_reason = #{p_reason,jdbcType=VARCHAR}
			</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assCheckApDetailLand"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			check_ap_no,
			ass_id,
			ass_no,
			acc_amount,
			price,
			add_depre,
			add_depre_month,
			cur_money,
			fore_money,
			p_reason
		FROM ASS_CHECK_AP_DETAIL_LAND 
		<where>                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="check_ap_no != null and check_ap_no != ''">
			AND check_ap_no = #{check_ap_no,jdbcType=VARCHAR}
			</if>
			<if test="ass_id != null and ass_id != ''">
			AND ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
			AND ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
			<if test="acc_amount != null and acc_amount != ''">
			AND acc_amount = #{acc_amount,jdbcType=INTEGER}
			</if>
			<if test="price != null and price != ''">
			AND price = #{price,jdbcType=INTEGER}
			</if>
			<if test="add_depre != null and add_depre != ''">
			AND add_depre = #{add_depre,jdbcType=INTEGER}
			</if>
			<if test="add_depre_month != null and add_depre_month != ''">
			AND add_depre_month = #{add_depre_month,jdbcType=INTEGER}
			</if>
			<if test="cur_money != null and cur_money != ''">
			AND cur_money = #{cur_money,jdbcType=INTEGER}
			</if>
			<if test="fore_money != null and fore_money != ''">
			AND fore_money = #{fore_money,jdbcType=INTEGER}
			</if>
			<if test="p_reason != null and p_reason != ''">
			AND p_reason = #{p_reason,jdbcType=VARCHAR}
			</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

