<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.check.land.AssChkRdetailLandMapper">
	
	<resultMap id="assChkRdetailLand" type="com.chd.hrp.ass.entity.check.land.AssChkRdetailLand">
	<result property="group_id" column="group_id"/> 
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_chk_no" column="ass_chk_no"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="price" column="price"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_manage_depre" column="add_manage_depre"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="assChkRdetailLandMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_chk_no" column="ass_chk_no"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="price" column="price"/>
	<result property="now_depre" column="now_depre"/>
	<result property="now_manage_depre" column="now_manage_depre"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_manage_depre" column="add_manage_depre"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="note" column="note"/>
	<result property="store_no" column="store_no"/>
	<result property="pl_amount" column="pl_amount"/>
	<result property="store_id" column="store_id"/>
	<result property="check_no" column="check_no"/>
	<result property="check_plan_no" column="check_plan_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_CHK_R_DETAIL_LAND (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="ass_chk_no != null and ass_chk_no != ''">
		ass_chk_no
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no
		,
		</if>
		<if test="price != null and price != ''">
		price
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		add_depre
		,
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		add_manage_depre
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_chk_no != null and ass_chk_no != ''">
		#{ass_chk_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		#{ass_card_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="price != null and price != ''">
		#{price,jdbcType=INTEGER}
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		#{add_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		#{add_manage_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		#{cur_money,jdbcType=INTEGER}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		#{fore_money,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_CHK_R_DETAIL_LAND (
		group_id
		,
		hos_id
		,
		copy_code
		,
		ass_chk_no
		,
		ass_card_no
		,
		price
		,
		add_depre
		,
		add_manage_depre
		,
		cur_money
		,
		fore_money
		,
		note
		
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.ass_chk_no,jdbcType=VARCHAR}
			,
			#{item.ass_card_no,jdbcType=VARCHAR}
			,
			#{item.price,jdbcType=INTEGER}
			,
			#{item.add_depre,jdbcType=INTEGER}
			,
			#{item.add_manage_depre,jdbcType=INTEGER}
			,
			#{item.cur_money,jdbcType=INTEGER}
			,
			#{item.fore_money,jdbcType=INTEGER}
			,
			#{item.note,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_chk_r_detail_land 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="price != null and price != ''">
		price = #{price,jdbcType=INTEGER}
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		add_depre = #{add_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money = #{cur_money,jdbcType=INTEGER}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money = #{fore_money,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_chk_no != null and ass_chk_no != ''">
		AND ass_chk_no = #{ass_chk_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		AND add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_chk_r_detail_land 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.price != null and item.price != ''">
			price = #{item.price,jdbcType=INTEGER}
			,
			</if>
			<if test="item.add_depre != null and item.add_depre != ''">
			add_depre = #{item.add_depre,jdbcType=INTEGER}
			,
			</if>
			<if test="item.add_manage_depre != null and item.add_manage_depre != ''">
			add_manage_depre = #{item.add_manage_depre,jdbcType=INTEGER}
			,
			</if>
			<if test="item.cur_money != null and item.cur_money != ''">
			cur_money = #{item.cur_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.fore_money != null and item.fore_money != ''">
			fore_money = #{item.fore_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.ass_chk_no != null and item.ass_chk_no != ''">
			AND ass_chk_no = #{item.ass_chk_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.ass_card_no != null and item.ass_card_no != ''">
			AND ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.price != null and item.price != ''">
			AND price = #{item.price,jdbcType=INTEGER}
			</if>  
			<if test="item.add_depre != null and item.add_depre != ''">
			AND add_depre = #{item.add_depre,jdbcType=INTEGER}
			</if>  
			<if test="item.add_manage_depre != null and item.add_manage_depre != ''">
			AND add_manage_depre = #{item.add_manage_depre,jdbcType=INTEGER}
			</if>  
			<if test="item.cur_money != null and item.cur_money != ''">
			AND cur_money = #{item.cur_money,jdbcType=INTEGER}
			</if>  
			<if test="item.fore_money != null and item.fore_money != ''">
			AND fore_money = #{item.fore_money,jdbcType=INTEGER}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{item.note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_chk_r_detail_land 
		where                     
		group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND ass_chk_no = #{ass_chk_no,jdbcType=VARCHAR}
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_chk_r_detail_land 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND ass_chk_no = #{item.ass_chk_no,jdbcType=VARCHAR}
				<if test="item.ass_card_no != null and item.ass_card_no != ''">
				AND ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assChkRdetailLand" >
	
		SELECT 
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.ass_chk_no,
		a.ass_card_no,
		c.ass_id,
		c.ass_no,
		c.ass_code,
		c.ass_name,
		a.price,
		a.add_depre,
		a.add_manage_depre,
		a.cur_money,
		a.fore_money,
		a.note
		FROM ASS_CHK_R_DETAIL_LAND a
		left join ass_card_land b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_card_no = b.ass_card_no
		
		left join ass_no_dict c on
		b.group_id = c.group_id
		and b.hos_id = c.hos_id
		and b.copy_code = c.copy_code 
		and b.ass_id = c.ass_id
		and c.is_stop = 0
		where                    
		a.group_id = #{group_id,jdbcType=INTEGER}
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="ass_chk_no != null and ass_chk_no != ''">
		AND a.ass_chk_no = #{ass_chk_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND a.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="price != null and price != ''">
		AND a.price = #{price,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND a.add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		AND a.add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND a.cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND a.fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND a.note = #{note,jdbcType=VARCHAR}
		</if>
		order by a.group_id asc
	</select>
	<select id="queryByCode" resultMap="assChkRdetailLand"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_chk_no,
		ass_card_no,
		price,
		add_depre,
		add_manage_depre,
		cur_money,
		fore_money,
		note
		FROM ass_chk_r_detail_land 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		ass_chk_no = #{ass_chk_no,jdbcType=VARCHAR}   and 
		ass_card_no = #{ass_card_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByAssChkNo" resultMap="assChkRdetailLand"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_chk_no,
		ass_card_no,
		price,
		add_depre,
		add_manage_depre,
		cur_money,
		fore_money,
		note
		FROM ass_chk_r_detail_land 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER} 
		and hos_id = #{hos_id,jdbcType=INTEGER} 
		and copy_code = #{copy_code,jdbcType=VARCHAR} 
		and ass_chk_no = #{ass_chk_no,jdbcType=VARCHAR}
	
	</select>
	<select id="queryByUniqueness" resultMap="assChkRdetailLand"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_chk_no,
		ass_card_no,
		price,
		add_depre,
		add_manage_depre,
		cur_money,
		fore_money,
		note
		FROM ASS_CHK_R_DETAIL_LAND 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_chk_no != null and ass_chk_no != ''">
		AND ass_chk_no = #{ass_chk_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		AND add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assChkRdetailLand"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_chk_no,
		ass_card_no,
		price,
		add_depre,
		add_manage_depre,
		cur_money,
		fore_money,
		note
		FROM ASS_CHK_R_DETAIL_LAND 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_chk_no != null and ass_chk_no != ''">
		AND ass_chk_no = #{ass_chk_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_manage_depre != null and add_manage_depre != ''">
		AND add_manage_depre = #{add_manage_depre,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryStoreStore" parameterType="java.util.List" resultMap="assChkRdetailLandMap">
	
	select t6.check_no,t6.check_plan_no,t1.ass_card_no,t1.ass_id,t1.pl_amount,t5.price,t5.fore_money,t5.cur_money,t5.manage_depre_money add_manage_depre,t5.depre_money add_depre,t1.group_id,t1.hos_id,t1.copy_code
    from ASS_CHECK_DETAIL_LAND t1
    left join ass_no_dict t2 on t1.group_id = t2.group_id
    and t1.hos_id = t2.hos_id
    and t1.copy_code = t2.copy_code
    and t1.ass_id = t2.ass_id
    and t1.ass_no = t2.ass_no
    and t2.is_stop = 0 
    left join ass_type_dict t3 on t3.group_id = t2.group_id
    and t3.hos_id = t2.hos_id
    and t3.copy_code = t2.copy_code
    and t3.ass_type_id = t2.ass_type_id
    and t3.is_last = 1
    and t3.is_stop = 0 
    left join ass_card_LAND t5 on t1.group_id = t5.group_id
    and t1.hos_id = t5.hos_id
    and t1.copy_code = t5.copy_code
    and t1.ass_card_no = t5.ass_card_no 
      left join ASS_CHECK_LAND t6 on t1.check_no = t6.check_no
    and t1.check_plan_no = t6.check_plan_no 
	where
	<foreach item="item" index="index" collection="list" open="(" separator="or" close=")"> 
    	<if test="item.hos_id != null and item.hos_id !=null">
			t1.hos_id = #{item.hos_id,jdbcType=INTEGER}  and	
		</if>
		<if test="item.check_no != null and item.check_no !=null">
			t1.check_no = #{item.check_no,jdbcType=INTEGER}  and	
		</if>
		<if test="item.group_id != null and item.group_id !=null">
			t1.group_id =#{item.group_id,jdbcType=INTEGER} 	and	
		</if>	
		<if test="item.copy_code != null and item.copy_code !=null">	
			t1.copy_code =#{item.copy_code,jdbcType=VARCHAR} and	
		</if>
		
		<if test="item.ass_id != null and item.ass_id !=null">
			t1.ass_id = #{item.ass_id,jdbcType=INTEGER}  and	
		</if>
		<if test="item.ass_no != null and item.ass_no !=null">	
			t1.ass_no = #{item.ass_no,jdbcType=VARCHAR} and	
		</if>
		<if test="item.ass_card_no != null and item.ass_card_no !=null">	
			t1.ass_card_no = #{item.ass_card_no,jdbcType=INTEGER} and 
		</if>
		<if test="item.pl_amount != null and item.pl_amount !=null">	
			t1.pl_amount &lt; 0 and 
		</if>	
		<if test="item.check_plan_no != null and item.check_plan_no !=null">	
			t1.check_plan_no =#{item.check_plan_no,jdbcType=VARCHAR}
		</if>
	</foreach>
	
	
	
	
	</select>
</mapper>

