<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.contract.AssContractDetailMapper">
	
	<resultMap id="assContractDetail" type="com.chd.hrp.ass.entity.contract.AssContractDetail">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="contract_id" column="contract_id"/>
	<result property="contract_detail_id" column="contract_detail_id"/>
	<result property="contract_no" column="contract_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_model" column="ass_model"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="fac_id" column="fac_id"/>
	<result property="fac_no" column="fac_no"/>
	<result property="fac_code" column="fac_code"/>
	<result property="fac_name" column="fac_name"/>
	<result property="contract_amount" column="contract_amount"/>
	<result property="contract_price" column="contract_price"/>
	<result property="send_date" column="send_date"/>
	<result property="keep_repair_times" column="keep_repair_times"/>
	<result property="times_unit" column="times_unit"/>
	<result property="is_fix" column="is_fix"/>
	<result property="is_accept" column="is_accept"/>
	<result property="is_bid" column="is_bid"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<resultMap id="assContractDetail1" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="contract_id" column="contract_id"/>
	<result property="contract_detail_id" column="contract_detail_id"/>
	<result property="contract_no" column="contract_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_model" column="ass_model"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="fac_id" column="fac_id"/>
	<result property="fac_no" column="fac_no"/>
	<result property="fac_code" column="fac_code"/>
	<result property="fac_name" column="fac_name"/>
	<result property="contract_amount" column="contract_amount"/>
	<result property="contract_price" column="contract_price"/>
	<result property="send_date" column="send_date"/>
	<result property="keep_repair_times" column="keep_repair_times"/>
	<result property="times_unit" column="times_unit"/>
	<result property="is_fix" column="is_fix"/>
	<result property="is_accept" column="is_accept"/>
	<result property="is_bid" column="is_bid"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="addAssContractDetail" useGeneratedKeys="true" >
	
		INSERT INTO ASS_CONTRACT_DETAIL (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		contract_id
		,
		</if>
<!-- 		<if test="contract_detail_id != null and contract_detail_id != ''"> -->
		contract_detail_id
		,
<!-- 		</if> -->
		<if test="contract_no != null and contract_no != ''">
		contract_no
		,
		</if>
		<if test="ass_id != null and ass_id != ''">
		ass_id
		,
		</if>
		<if test="ass_no != null and ass_no != ''">
		ass_no
		,
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		ass_spec
		,
		</if>
		<if test="ass_model != null and ass_model != ''">
		ass_model
		,
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		ass_brand
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		fac_id
		,
		</if>
		<if test="fac_no != null and fac_no != ''">
		fac_no
		,
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		contract_amount
		,
		</if>
		<if test="contract_price != null and contract_price != ''">
		contract_price
		,
		</if>
		<if test="send_date != null and send_date != ''">
		send_date
		,
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		keep_repair_times
		,
		</if>
		<if test="times_unit != null and times_unit != ''">
		times_unit
		,
		</if>
		<if test="is_fix != null and is_fix != ''">
		is_fix
		,
		</if>
		<if test="is_accept != null and is_accept != ''">
		is_accept
		,
		</if>
		<if test="is_bid != null and is_bid != ''">
		is_bid
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		#{contract_id,jdbcType=INTEGER}
		,
		</if>
<!-- 		<if test="contract_detail_id != null and contract_detail_id != ''"> -->
		ASS_CONTRACT_DETAIL_SEQ.nextval
		,
<!-- 		</if> -->
		<if test="contract_no != null and contract_no != ''">
		#{contract_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_id != null and ass_id != ''">
		#{ass_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_no != null and ass_no != ''">
		#{ass_no,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		#{ass_spec,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_model != null and ass_model != ''">
		#{ass_model,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		#{ass_brand,jdbcType=VARCHAR}
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		#{fac_id,jdbcType=INTEGER}
		,
		</if>
		<if test="fac_no != null and fac_no != ''">
		#{fac_no,jdbcType=INTEGER}
		,
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		#{contract_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="contract_price != null and contract_price != ''">
		#{contract_price,jdbcType=INTEGER}
		,
		</if>
		<if test="send_date != null and send_date != ''">
		#{send_date,jdbcType=DATE}
		,
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		#{keep_repair_times,jdbcType=INTEGER}
		,
		</if>
		<if test="times_unit != null and times_unit != ''">
		#{times_unit,jdbcType=INTEGER}
		,
		</if>
		<if test="is_fix != null and is_fix != ''">
		#{is_fix,jdbcType=INTEGER}
		,
		</if>
		<if test="is_accept != null and is_accept != ''">
		#{is_accept,jdbcType=INTEGER}
		,
		</if>
		<if test="is_bid != null and is_bid != ''">
		#{is_bid,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatchAssContractDetail" parameterType="java.util.List" >
	
		INSERT INTO ASS_CONTRACT_DETAIL (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		contract_id
		,
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		contract_detail_id
		,
		</if>
		<if test="contract_no != null and contract_no != ''">
		contract_no
		,
		</if>
		<if test="ass_id != null and ass_id != ''">
		ass_id
		,
		</if>
		<if test="ass_no != null and ass_no != ''">
		ass_no
		,
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		ass_spec
		,
		</if>
		<if test="ass_model != null and ass_model != ''">
		ass_model
		,
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		ass_brand
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		fac_id
		,
		</if>
		<if test="fac_no != null and fac_no != ''">
		fac_no
		,
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		contract_amount
		,
		</if>
		<if test="contract_price != null and contract_price != ''">
		contract_price
		,
		</if>
		<if test="send_date != null and send_date != ''">
		send_date
		,
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		keep_repair_times
		,
		</if>
		<if test="times_unit != null and times_unit != ''">
		times_unit
		,
		</if>
		<if test="is_fix != null and is_fix != ''">
		is_fix
		,
		</if>
		<if test="is_accept != null and is_accept != ''">
		is_accept
		,
		</if>
		<if test="is_bid != null and is_bid != ''">
		is_bid
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) select ASS_CONTRACT_DETAIL_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
			#{item.group_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_id != null and hos_id != ''">
			#{item.hos_id},jdbcType=INTEGER}
			,
			</if>
			<if test="copy_code != null and copy_code != ''">
			#{item.copy_code},jdbcType=VARCHAR}
			,
			</if>
			<if test="contract_id != null and contract_id != ''">
			#{item.contract_id},jdbcType=INTEGER}
			,
			</if>
			<if test="contract_detail_id != null and contract_detail_id != ''">
			#{item.contract_detail_id},jdbcType=INTEGER}
			,
			</if>
			<if test="contract_no != null and contract_no != ''">
			#{item.contract_no},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_id != null and ass_id != ''">
			#{item.ass_id},jdbcType=INTEGER}
			,
			</if>
			<if test="ass_no != null and ass_no != ''">
			#{item.ass_no},jdbcType=INTEGER}
			,
			</if>
			<if test="ass_spec != null and ass_spec != ''">
			#{item.ass_spec},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_model != null and ass_model != ''">
			#{item.ass_model},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_brand != null and ass_brand != ''">
			#{item.ass_brand},jdbcType=VARCHAR}
			,
			</if>
			<if test="fac_id != null and fac_id != ''">
			#{item.fac_id},jdbcType=INTEGER}
			,
			</if>
			<if test="fac_no != null and fac_no != ''">
			#{item.fac_no},jdbcType=INTEGER}
			,
			</if>
			<if test="contract_amount != null and contract_amount != ''">
			#{item.contract_amount},jdbcType=INTEGER}
			,
			</if>
			<if test="contract_price != null and contract_price != ''">
			#{item.contract_price},jdbcType=INTEGER}
			,
			</if>
			<if test="send_date != null and send_date != ''">
			#{item.send_date},jdbcType=DATE}
			,
			</if>
			<if test="keep_repair_times != null and keep_repair_times != ''">
			#{item.keep_repair_times},jdbcType=INTEGER}
			,
			</if>
			<if test="times_unit != null and times_unit != ''">
			#{item.times_unit},jdbcType=INTEGER}
			,
			</if>
			<if test="is_fix != null and is_fix != ''">
			#{item.is_fix},jdbcType=INTEGER}
			,
			</if>
			<if test="is_accept != null and is_accept != ''">
			#{item.is_accept},jdbcType=INTEGER}
			,
			</if>
			<if test="is_bid != null and is_bid != ''">
			#{item.is_bid},jdbcType=INTEGER}
			,
			</if>
			<if test="note != null and note != ''">
			#{item.note},jdbcType=VARCHAR}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateAssContractDetail" parameterType="java.util.Map">
	
		UPDATE ass_contract_detail 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="contract_no != null and contract_no != ''">
		contract_no = #{contract_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_id != null and ass_id != ''">
		ass_id = #{ass_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_no != null and ass_no != ''">
		ass_no = #{ass_no,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		ass_spec = #{ass_spec,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_model != null and ass_model != ''">
		ass_model = #{ass_model,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		ass_brand = #{ass_brand,jdbcType=VARCHAR}
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		fac_id = #{fac_id,jdbcType=INTEGER}
		,
		</if>
		<if test="fac_no != null and fac_no != ''">
		fac_no = #{fac_no,jdbcType=INTEGER}
		,
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		contract_amount = #{contract_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="contract_price != null and contract_price != ''">
		contract_price = #{contract_price,jdbcType=INTEGER}
		,
		</if>
		<if test="send_date != null and send_date != ''">
		send_date = #{send_date,jdbcType=DATE}
		,
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
		,
		</if>
		<if test="times_unit != null and times_unit != ''">
		times_unit = #{times_unit,jdbcType=INTEGER}
		,
		</if>
		<if test="is_fix != null and is_fix != ''">
		is_fix = #{is_fix,jdbcType=INTEGER}
		,
		</if>
		<if test="is_accept != null and is_accept != ''">
		is_accept = #{is_accept,jdbcType=INTEGER}
		,
		</if>
		<if test="is_bid != null and is_bid != ''">
		is_bid = #{is_bid,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		AND contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
		</if>
		<if test="contract_no != null and contract_no != ''">
		AND contract_no = #{contract_no,jdbcType=VARCHAR}
		</if>
<!-- 		<if test="ass_id != null and ass_id != ''"> -->
<!-- 		AND ass_id = #{ass_id,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="ass_no != null and ass_no != ''"> -->
<!-- 		AND ass_no = #{ass_no,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="ass_spec != null and ass_spec != ''"> -->
<!-- 		AND ass_spec = #{ass_spec,jdbcType=VARCHAR} -->
<!-- 		</if> -->
<!-- 		<if test="ass_model != null and ass_model != ''"> -->
<!-- 		AND ass_model = #{ass_model,jdbcType=VARCHAR} -->
<!-- 		</if> -->
<!-- 		<if test="ass_brand != null and ass_brand != ''"> -->
<!-- 		AND ass_brand = #{ass_brand,jdbcType=VARCHAR} -->
<!-- 		</if> -->
<!-- 		<if test="fac_id != null and fac_id != ''"> -->
<!-- 		AND fac_id = #{fac_id,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="fac_no != null and fac_no != ''"> -->
<!-- 		AND fac_no = #{fac_no,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="contract_amount != null and contract_amount != ''"> -->
<!-- 		AND contract_amount = #{contract_amount,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="contract_price != null and contract_price != ''"> -->
<!-- 		AND contract_price = #{contract_price,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="send_date != null and send_date != ''"> -->
<!-- 		AND send_date = #{send_date,jdbcType=DATE} -->
<!-- 		</if> -->
<!-- 		<if test="keep_repair_times != null and keep_repair_times != ''"> -->
<!-- 		AND keep_repair_times = #{keep_repair_times,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="times_unit != null and times_unit != ''"> -->
<!-- 		AND times_unit = #{times_unit,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="is_fix != null and is_fix != ''"> -->
<!-- 		AND is_fix = #{is_fix,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="is_accept != null and is_accept != ''"> -->
<!-- 		AND is_accept = #{is_accept,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="is_bid != null and is_bid != ''"> -->
<!-- 		AND is_bid = #{is_bid,jdbcType=INTEGER} -->
<!-- 		</if> -->
<!-- 		<if test="note != null and note != ''"> -->
<!-- 		AND note = #{note,jdbcType=VARCHAR} -->
<!-- 		</if> -->
		</where>  
	</update>
	<update id="updateBatchAssContractDetail" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_contract_detail 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="contract_no != null and contract_no != ''">
			contract_no = #{item.contract_no},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_id != null and ass_id != ''">
			ass_id = #{item.ass_id},jdbcType=INTEGER}
			,
			</if>
			<if test="ass_no != null and ass_no != ''">
			ass_no = #{item.ass_no},jdbcType=INTEGER}
			,
			</if>
			<if test="ass_spec != null and ass_spec != ''">
			ass_spec = #{item.ass_spec},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_model != null and ass_model != ''">
			ass_model = #{item.ass_model},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_brand != null and ass_brand != ''">
			ass_brand = #{item.ass_brand},jdbcType=VARCHAR}
			,
			</if>
			<if test="fac_id != null and fac_id != ''">
			fac_id = #{item.fac_id},jdbcType=INTEGER}
			,
			</if>
			<if test="fac_no != null and fac_no != ''">
			fac_no = #{item.fac_no},jdbcType=INTEGER}
			,
			</if>
			<if test="contract_amount != null and contract_amount != ''">
			contract_amount = #{item.contract_amount},jdbcType=INTEGER}
			,
			</if>
			<if test="contract_price != null and contract_price != ''">
			contract_price = #{item.contract_price},jdbcType=INTEGER}
			,
			</if>
			<if test="send_date != null and send_date != ''">
			send_date = #{item.send_date},jdbcType=DATE}
			,
			</if>
			<if test="keep_repair_times != null and keep_repair_times != ''">
			keep_repair_times = #{item.keep_repair_times},jdbcType=INTEGER}
			,
			</if>
			<if test="times_unit != null and times_unit != ''">
			times_unit = #{item.times_unit},jdbcType=INTEGER}
			,
			</if>
			<if test="is_fix != null and is_fix != ''">
			is_fix = #{item.is_fix},jdbcType=INTEGER}
			,
			</if>
			<if test="is_accept != null and is_accept != ''">
			is_accept = #{item.is_accept},jdbcType=INTEGER}
			,
			</if>
			<if test="is_bid != null and is_bid != ''">
			is_bid = #{item.is_bid},jdbcType=INTEGER}
			,
			</if>
			<if test="note != null and note != ''">
			note = #{item.note},jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="contract_id != null and contract_id != ''">
			AND contract_id = #{contract_id,jdbcType=INTEGER}
			</if>  
			<if test="contract_detail_id != null and contract_detail_id != ''">
			AND contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
			</if>  
			<if test="contract_no != null and contract_no != ''">
			AND contract_no = #{contract_no,jdbcType=VARCHAR}
			</if>  
			<if test="ass_id != null and ass_id != ''">
			AND ass_id = #{ass_id,jdbcType=INTEGER}
			</if>  
			<if test="ass_no != null and ass_no != ''">
			AND ass_no = #{ass_no,jdbcType=INTEGER}
			</if>  
			<if test="ass_spec != null and ass_spec != ''">
			AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
			</if>  
			<if test="ass_model != null and ass_model != ''">
			AND ass_model = #{ass_model,jdbcType=VARCHAR}
			</if>  
			<if test="ass_brand != null and ass_brand != ''">
			AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
			</if>  
			<if test="fac_id != null and fac_id != ''">
			AND fac_id = #{fac_id,jdbcType=INTEGER}
			</if>  
			<if test="fac_no != null and fac_no != ''">
			AND fac_no = #{fac_no,jdbcType=INTEGER}
			</if>  
			<if test="contract_amount != null and contract_amount != ''">
			AND contract_amount = #{contract_amount,jdbcType=INTEGER}
			</if>  
			<if test="contract_price != null and contract_price != ''">
			AND contract_price = #{contract_price,jdbcType=INTEGER}
			</if>  
			<if test="send_date != null and send_date != ''">
			AND send_date = #{send_date,jdbcType=DATE}
			</if>  
			<if test="keep_repair_times != null and keep_repair_times != ''">
			AND keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
			</if>  
			<if test="times_unit != null and times_unit != ''">
			AND times_unit = #{times_unit,jdbcType=INTEGER}
			</if>  
			<if test="is_fix != null and is_fix != ''">
			AND is_fix = #{is_fix,jdbcType=INTEGER}
			</if>  
			<if test="is_accept != null and is_accept != ''">
			AND is_accept = #{is_accept,jdbcType=INTEGER}
			</if>  
			<if test="is_bid != null and is_bid != ''">
			AND is_bid = #{is_bid,jdbcType=INTEGER}
			</if>  
			<if test="note != null and note != ''">
			AND note = #{note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="deleteAssContractDetail" parameterType="java.util.Map">
	
		DELETE FROM ass_contract_detail 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		AND contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
		</if>
		<if test="contract_no != null and contract_no != ''">
		AND contract_no = #{contract_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		AND contract_amount = #{contract_amount,jdbcType=INTEGER}
		</if>
		<if test="contract_price != null and contract_price != ''">
		AND contract_price = #{contract_price,jdbcType=INTEGER}
		</if>
		<if test="send_date != null and send_date != ''">
		AND send_date = #{send_date,jdbcType=DATE}
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		AND keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
		</if>
		<if test="times_unit != null and times_unit != ''">
		AND times_unit = #{times_unit,jdbcType=INTEGER}
		</if>
		<if test="is_fix != null and is_fix != ''">
		AND is_fix = #{is_fix,jdbcType=INTEGER}
		</if>
		<if test="is_accept != null and is_accept != ''">
		AND is_accept = #{is_accept,jdbcType=INTEGER}
		</if>
		<if test="is_bid != null and is_bid != ''">
		AND is_bid = #{is_bid,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	
	<delete id="deleteBatchAssContractDetail" parameterType="java.util.List">
		DELETE FROM ass_contract_detail WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
			group_id = #{item.group_id,jdbcType=INTEGER}
			</if>
			<if test="item.hos_id != null and item.hos_id != ''">
			and hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>
			<if test="item.copy_code != null and item.copy_code != ''">
			and copy_code =#{item.copy_code,jdbcType=VARCHAR}
			</if>
			<if test="item.contract_id != null and item.contract_id != ''">
				and contract_id = #{item.contract_id,jdbcType=INTEGER}
			</if>
			<if test="item.contract_detail_id != null and item.contract_detail_id != ''">
				and contract_detail_id = #{item.contract_detail_id,jdbcType=INTEGER}
			</if>
			</foreach>
	
	</delete>
<!-- 	<delete id="deleteBatchAssContractDetail" parameterType="java.util.List"> -->
<!-- 		DELETE FROM ass_contract_detail  -->
<!-- 		<where> -->
<!-- 			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")"> -->
<!-- 				<if test="group_id != null and group_id != ''"> -->
<!-- 				AND group_id = #{item.group_id,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="hos_id != null and hos_id != ''"> -->
<!-- 				AND hos_id = #{item.hos_id,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="copy_code != null and copy_code != ''"> -->
<!-- 				AND copy_code = #{item.copy_code,jdbcType=VARCHAR} -->
<!-- 				</if> -->
<!-- 				<if test="contract_id != null and contract_id != ''"> -->
<!-- 				AND contract_id = #{item.contract_id,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="contract_detail_id != null and contract_detail_id != ''"> -->
<!-- 				AND contract_detail_id = #{item.contract_detail_id,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="contract_no != null and contract_no != ''"> -->
<!-- 				AND contract_no = #{contract_no,jdbcType=VARCHAR} -->
<!-- 				</if> -->
<!-- 				<if test="ass_id != null and ass_id != ''"> -->
<!-- 				AND ass_id = #{ass_id,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="ass_no != null and ass_no != ''"> -->
<!-- 				AND ass_no = #{ass_no,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="ass_spec != null and ass_spec != ''"> -->
<!-- 				AND ass_spec = #{ass_spec,jdbcType=VARCHAR} -->
<!-- 				</if> -->
<!-- 				<if test="ass_model != null and ass_model != ''"> -->
<!-- 				AND ass_model = #{ass_model,jdbcType=VARCHAR} -->
<!-- 				</if> -->
<!-- 				<if test="ass_brand != null and ass_brand != ''"> -->
<!-- 				AND ass_brand = #{ass_brand,jdbcType=VARCHAR} -->
<!-- 				</if> -->
<!-- 				<if test="fac_id != null and fac_id != ''"> -->
<!-- 				AND fac_id = #{fac_id,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="fac_no != null and fac_no != ''"> -->
<!-- 				AND fac_no = #{fac_no,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="contract_amount != null and contract_amount != ''"> -->
<!-- 				AND contract_amount = #{contract_amount,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="contract_price != null and contract_price != ''"> -->
<!-- 				AND contract_price = #{contract_price,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="send_date != null and send_date != ''"> -->
<!-- 				AND send_date = #{send_date,jdbcType=DATE} -->
<!-- 				</if> -->
<!-- 				<if test="keep_repair_times != null and keep_repair_times != ''"> -->
<!-- 				AND keep_repair_times = #{keep_repair_times,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="times_unit != null and times_unit != ''"> -->
<!-- 				AND times_unit = #{times_unit,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="is_fix != null and is_fix != ''"> -->
<!-- 				AND is_fix = #{is_fix,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="is_accept != null and is_accept != ''"> -->
<!-- 				AND is_accept = #{is_accept,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="is_bid != null and is_bid != ''"> -->
<!-- 				AND is_bid = #{is_bid,jdbcType=INTEGER} -->
<!-- 				</if> -->
<!-- 				<if test="note != null and note != ''"> -->
<!-- 				AND note = #{note,jdbcType=VARCHAR} -->
<!-- 				</if> -->
<!-- 			</foreach> -->
<!-- 	    </where>   -->
<!-- 	</delete> -->
	<select id="queryAssContractDetail" parameterType="java.util.Map" resultMap="assContractDetail" >
	
		SELECT distinct
    a.group_id,
    a.hos_id,
    a.copy_code,
    a.contract_id,
    a.contract_detail_id,
    a.contract_no,
    a.ass_id,
    a.ass_no,
    an.ass_code,
    an.ass_name,
    a.ass_spec,
    a.ass_model,
    a.ass_brand,
    a.fac_id,
    a.fac_no,
    h.fac_code,
    h.fac_name,
    a.contract_amount,
    a.contract_price,
    a.send_date,
    a.keep_repair_times,
    a.times_unit,
    a.is_fix,
    a.is_accept,
    a.is_bid,
    a.note
    FROM ASS_CONTRACT_DETAIL a
    left join ass_no_dict an on a.group_id=an.group_id and a.hos_id=an.hos_id and a.ass_id=an.ass_id and an.is_stop=0
    left join hos_fac h on a.group_id=h.group_id and a.hos_id=h.hos_id and a.fac_id=h.fac_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND a.contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		AND a.contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
		</if>
		<if test="contract_no != null and contract_no != ''">
		AND a.contract_no = #{contract_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND a.ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND a.ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND a.ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND a.ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND a.ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND a.fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND a.fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		AND a.contract_amount = #{contract_amount,jdbcType=INTEGER}
		</if>
		<if test="contract_price != null and contract_price != ''">
		AND a.contract_price = #{contract_price,jdbcType=INTEGER}
		</if>
		<if test="send_date != null and send_date != ''">
		AND a.send_date = #{send_date,jdbcType=DATE}
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		AND a.keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
		</if>
		<if test="times_unit != null and times_unit != ''">
		AND a.times_unit = #{times_unit,jdbcType=INTEGER}
		</if>
		<if test="is_fix != null and is_fix != ''">
		AND a.is_fix = #{is_fix,jdbcType=INTEGER}
		</if>
		<if test="is_accept != null and is_accept != ''">
		AND a.is_accept = #{is_accept,jdbcType=INTEGER}
		</if>
		<if test="is_bid != null and is_bid != ''">
		AND a.is_bid = #{is_bid,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND a.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryAssContractDetailList" parameterType="java.util.Map" resultMap="assContractDetail" >
	
		SELECT 
		    a.group_id,
		    a.hos_id,
		    a.copy_code,
		    a.ass_id,
		    a.ass_no,
		    a.ass_spec,
		    a.ass_model,
		    a.ass_brand,
		    a.fac_id,
		    a.fac_no,
		    sum(a.contract_amount) contract_amount,
		    sum(a.contract_price) contract_price,
		    atd.ass_naturs ass_nature
    FROM ASS_CONTRACT_DETAIL a
    left join ass_no_dict an on a.group_id=an.group_id and a.hos_id=an.hos_id and a.ass_id=an.ass_id and an.is_stop=0
    left join ASS_TYPE_DICT atd on
			 an.copy_code = atd.copy_code
			and an.hos_id = atd.hos_id
			and an.group_id = atd.group_id
			and an.ass_type_id = atd.ass_type_id
    left join hos_fac h on a.group_id=h.group_id and a.hos_id=h.hos_id and a.fac_id=h.fac_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND a.contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		AND a.contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
		</if>
		<if test="contract_no != null and contract_no != ''">
		AND a.contract_no = #{contract_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND a.ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND a.ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND a.ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND a.ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND a.ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND a.fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND a.fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		AND a.contract_amount = #{contract_amount,jdbcType=INTEGER}
		</if>
		<if test="contract_price != null and contract_price != ''">
		AND a.contract_price = #{contract_price,jdbcType=INTEGER}
		</if>
		<if test="send_date != null and send_date != ''">
		AND a.send_date = #{send_date,jdbcType=DATE}
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		AND a.keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
		</if>
		<if test="times_unit != null and times_unit != ''">
		AND a.times_unit = #{times_unit,jdbcType=INTEGER}
		</if>
		<if test="is_fix != null and is_fix != ''">
		AND a.is_fix = #{is_fix,jdbcType=INTEGER}
		</if>
		<if test="is_accept != null and is_accept != ''">
		AND a.is_accept = #{is_accept,jdbcType=INTEGER}
		</if>
		<if test="is_bid != null and is_bid != ''">
		AND a.is_bid = #{is_bid,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND a.note = #{note,jdbcType=VARCHAR}
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		AND atd.ass_naturs = #{ass_nature,jdbcType=VARCHAR}
		</if>
		<if test="contract_ids != null and contract_ids != ''">
			AND a.contract_id in (${contract_ids})
		</if>
		</where>  
		group by  
		a.group_id,
		a.hos_id,
		a.copy_code,
	    a.ass_id,
	    a.ass_no,
	    a.ass_spec,
	    a.ass_model,
	    a.ass_brand,
	    a.fac_id,
	    a.fac_no,
	    atd.ass_naturs 
		order by a.group_id asc
	</select>
	
	<select id="queryAssContractDetailByUpdate" parameterType="java.util.Map" resultMap="assContractDetail1" >
	
		SELECT distinct
    a.group_id,
    a.hos_id,
    a.copy_code,
    a.contract_id,
    a.contract_detail_id,
    a.contract_no,
    a.ass_id ||'@'|| a.ass_no ass_id,
    a.ass_no,
    an.ass_code,
    an.ass_name,
    a.ass_spec,
    a.ass_model,
    a.ass_brand,
    a.fac_id ||'@'|| a.fac_no fac_id,
    a.fac_no,
    h.fac_code,
    h.fac_name,
    a.contract_amount,
    a.contract_price,
    a.send_date,
    a.keep_repair_times,
    a.times_unit,
    a.is_fix,
    a.is_accept,
    a.is_bid,
    a.note
    FROM ASS_CONTRACT_DETAIL a
    left join ass_no_dict an on a.group_id=an.group_id and a.hos_id=an.hos_id and a.ass_id=an.ass_id and an.is_stop=0
    left join hos_fac h on a.group_id=h.group_id and a.hos_id=h.hos_id and a.fac_id=h.fac_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND a.contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		AND a.contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
		</if>
		<if test="contract_no != null and contract_no != ''">
		AND a.contract_no = #{contract_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND a.ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND a.ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND a.ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND a.ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND a.ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND a.fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND a.fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		AND a.contract_amount = #{contract_amount,jdbcType=INTEGER}
		</if>
		<if test="contract_price != null and contract_price != ''">
		AND a.contract_price = #{contract_price,jdbcType=INTEGER}
		</if>
		<if test="send_date != null and send_date != ''">
		AND a.send_date = #{send_date,jdbcType=DATE}
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		AND a.keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
		</if>
		<if test="times_unit != null and times_unit != ''">
		AND a.times_unit = #{times_unit,jdbcType=INTEGER}
		</if>
		<if test="is_fix != null and is_fix != ''">
		AND a.is_fix = #{is_fix,jdbcType=INTEGER}
		</if>
		<if test="is_accept != null and is_accept != ''">
		AND a.is_accept = #{is_accept,jdbcType=INTEGER}
		</if>
		<if test="is_bid != null and is_bid != ''">
		AND a.is_bid = #{is_bid,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND a.note = #{note,jdbcType=VARCHAR}
		</if>
		<if test="isExistsIns != null and isExistsIns != ''">
		AND not exists (select 1 from ASS_INS_CONTRACT_MAP bb where  a.group_id=bb.group_id and a.hos_id = bb.hos_id and a.copy_code=bb.copy_code and a.contract_id = bb.contract_id)
		</if>
		
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryAssContractDetailByCode" resultMap="assContractDetail"  parameterType="java.util.Map" >
	
	SELECT distinct
    a.group_id,
    a.hos_id,
    a.copy_code,
    a.contract_id,
    a.contract_detail_id,
    a.contract_no,
    a.ass_id,
    a.ass_no,
    an.ass_code,
    an.ass_name,
    a.ass_spec,
    a.ass_model,
    a.ass_brand,
    a.fac_id,
    a.fac_no,
    h.fac_name,
    a.contract_amount,
    a.contract_price,
    a.send_date,
    a.keep_repair_times,
    a.times_unit,
    a.is_fix,
    a.is_accept,
    a.is_bid,
    a.note
    FROM ASS_CONTRACT_DETAIL a
    left join ass_no_dict an on a.group_id=an.group_id and a.hos_id=an.hos_id and a.ass_id=an.ass_id and an.is_stop=0
    left join hos_fac h on a.group_id=h.group_id and a.hos_id=h.hos_id and a.fac_id=h.fac_id
		WHERE 
		a.group_id = #{group_id,jdbcType=INTEGER}   and 
		a.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		a.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		a.contract_id = #{contract_id,jdbcType=INTEGER}   and 
		a.contract_detail_id = #{contract_detail_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryAssContractDetailByUniqueness" resultMap="assContractDetail"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		contract_id,
		contract_detail_id,
		contract_no,
		ass_id,
		ass_no,
		ass_spec,
		ass_model,
		ass_brand,
		fac_id,
		fac_no,
		contract_amount,
		contract_price,
		send_date,
		keep_repair_times,
		times_unit,
		is_fix,
		is_accept,
		is_bid,
		note
		FROM ASS_CONTRACT_DETAIL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		AND contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
		</if>
		<if test="contract_no != null and contract_no != ''">
		AND contract_no = #{contract_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		AND contract_amount = #{contract_amount,jdbcType=INTEGER}
		</if>
		<if test="contract_price != null and contract_price != ''">
		AND contract_price = #{contract_price,jdbcType=INTEGER}
		</if>
		<if test="send_date != null and send_date != ''">
		AND send_date = #{send_date,jdbcType=DATE}
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		AND keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
		</if>
		<if test="times_unit != null and times_unit != ''">
		AND times_unit = #{times_unit,jdbcType=INTEGER}
		</if>
		<if test="is_fix != null and is_fix != ''">
		AND is_fix = #{is_fix,jdbcType=INTEGER}
		</if>
		<if test="is_accept != null and is_accept != ''">
		AND is_accept = #{is_accept,jdbcType=INTEGER}
		</if>
		<if test="is_bid != null and is_bid != ''">
		AND is_bid = #{is_bid,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssContractDetailExists" resultMap="assContractDetail"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		contract_id,
		contract_detail_id,
		contract_no,
		ass_id,
		ass_no,
		ass_spec,
		ass_model,
		ass_brand,
		fac_id,
		fac_no,
		contract_amount,
		contract_price,
		send_date,
		keep_repair_times,
		times_unit,
		is_fix,
		is_accept,
		is_bid,
		note
		FROM ASS_CONTRACT_DETAIL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		AND contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
		</if>
		<if test="contract_no != null and contract_no != ''">
		AND contract_no = #{contract_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		AND contract_amount = #{contract_amount,jdbcType=INTEGER}
		</if>
		<if test="contract_price != null and contract_price != ''">
		AND contract_price = #{contract_price,jdbcType=INTEGER}
		</if>
		<if test="send_date != null and send_date != ''">
		AND send_date = #{send_date,jdbcType=DATE}
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		AND keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
		</if>
		<if test="times_unit != null and times_unit != ''">
		AND times_unit = #{times_unit,jdbcType=INTEGER}
		</if>
		<if test="is_fix != null and is_fix != ''">
		AND is_fix = #{is_fix,jdbcType=INTEGER}
		</if>
		<if test="is_accept != null and is_accept != ''">
		AND is_accept = #{is_accept,jdbcType=INTEGER}
		</if>
		<if test="is_bid != null and is_bid != ''">
		AND is_bid = #{is_bid,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	
	<select id="queryAssContractDetailHosList" resultMap="assContractDetail"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			ass_id,
			ass_no,
			ass_spec,
			ass_model,
			ass_brand,
			fac_id,
			fac_no,
			sum(contract_amount) contract_amount
		FROM ASS_CONTRACT_DETAIL 
		where                     
		 group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND contract_id in (${contract_ids})
		group by group_id,hos_id,copy_code,ass_id,ass_no,ass_spec,ass_model,ass_brand,fac_id,fac_no
	</select>
	
	<select id="queryByAssContractDetail" resultMap="assContractDetail"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		contract_id,
		contract_detail_id,
		contract_no,
		ass_id,
		ass_no,
		ass_spec,
		ass_model,
		ass_brand,
		fac_id,
		fac_no,
		contract_amount,
		contract_price,
		send_date,
		keep_repair_times,
		times_unit,
		is_fix,
		is_accept,
		is_bid,
		note
		FROM ASS_CONTRACT_DETAIL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="contract_detail_id != null and contract_detail_id != ''">
		AND contract_detail_id = #{contract_detail_id,jdbcType=INTEGER}
		</if>
		<if test="contract_no != null and contract_no != ''">
		AND contract_no = #{contract_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="contract_amount != null and contract_amount != ''">
		AND contract_amount = #{contract_amount,jdbcType=INTEGER}
		</if>
		<if test="contract_price != null and contract_price != ''">
		AND contract_price = #{contract_price,jdbcType=INTEGER}
		</if>
		<if test="send_date != null and send_date != ''">
		AND send_date = #{send_date,jdbcType=DATE}
		</if>
		<if test="keep_repair_times != null and keep_repair_times != ''">
		AND keep_repair_times = #{keep_repair_times,jdbcType=INTEGER}
		</if>
		<if test="times_unit != null and times_unit != ''">
		AND times_unit = #{times_unit,jdbcType=INTEGER}
		</if>
		<if test="is_fix != null and is_fix != ''">
		AND is_fix = #{is_fix,jdbcType=INTEGER}
		</if>
		<if test="is_accept != null and is_accept != ''">
		AND is_accept = #{is_accept,jdbcType=INTEGER}
		</if>
		<if test="is_bid != null and is_bid != ''">
		AND is_bid = #{is_bid,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

