<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.contract.AssContractBondMapper">
	
	<resultMap id="assContractBond" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="acct_year" column="acct_year"/>
	<result property="bond_no" column="bond_no"/>
	<result property="contract_id" column="contract_id"/>
	<result property="contract_name" column="contract_name"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="ven_code" column="ven_code"/>
	<result property="ven_name" column="ven_name"/>
	<result property="create_date" column="create_date"/>
	<result property="bond_flag" column="bond_flag"/>
	<result property="pay_flag" column="pay_flag"/>
	<result property="pay_money" column="pay_money"/>
	<result property="state" column="state"/>
	<result property="bill_no" column="bill_no"/>
	<result property="check_no" column="check_no"/>
	<result property="reason" column="reason"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_CONTRACT_BOND (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="acct_year != null and acct_year != ''">
		acct_year
		,
		</if>
		<if test="bond_no != null and bond_no != ''">
		bond_no
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		contract_id
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="bond_flag != null and bond_flag != ''">
		bond_flag
		,
		</if>
		<if test="pay_flag != null and pay_flag != ''">
		pay_flag
		,
		</if>
		<if test="pay_money != null and pay_money != ''">
		pay_money
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="bill_no != null and bill_no != ''">
		bill_no
		,
		</if>
		<if test="check_no != null and check_no != ''">
		check_no
		,
		</if>
		<if test="reason != null and reason != ''">
		reason
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="acct_year != null and acct_year != ''">
		#{acct_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="bond_no != null and bond_no != ''">
		#{bond_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		#{contract_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		#{ven_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		#{ven_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		#{create_date,jdbcType=DATE}
		,
		</if>
		<if test="bond_flag != null and bond_flag != ''">
		#{bond_flag,jdbcType=VARCHAR}
		,
		</if>
		<if test="pay_flag != null and pay_flag != ''">
		#{pay_flag,jdbcType=VARCHAR}
		,
		</if>
		<if test="pay_money != null and pay_money != ''">
		#{pay_money,jdbcType=INTEGER}
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=INTEGER}
		,
		</if>
		<if test="bill_no != null and bill_no != ''">
		#{bill_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="check_no != null and check_no != ''">
		#{check_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="reason != null and reason != ''">
		#{reason,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_CONTRACT_BOND (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="acct_year != null and acct_year != ''">
		acct_year
		,
		</if>
		<if test="bond_no != null and bond_no != ''">
		bond_no
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		contract_id
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="bond_flag != null and bond_flag != ''">
		bond_flag
		,
		</if>
		<if test="pay_flag != null and pay_flag != ''">
		pay_flag
		,
		</if>
		<if test="pay_money != null and pay_money != ''">
		pay_money
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="bill_no != null and bill_no != ''">
		bill_no
		,
		</if>
		<if test="check_no != null and check_no != ''">
		check_no
		,
		</if>
		<if test="reason != null and reason != ''">
		reason
		,
		</if>
		</trim>
		) select ASS_CONTRACT_BOND_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="item.group_id != null and item.group_id != ''">
			#{item.group_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.hos_id != null and item.hos_id != ''">
			#{item.hos_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.copy_code != null and item.copy_code != ''">
			#{item.copy_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.acct_year != null and item.acct_year != ''">
			#{item.acct_year,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bond_no != null and item.bond_no != ''">
			#{item.bond_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.contract_id != null and item.contract_id != ''">
			#{item.contract_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.ven_id != null and item.ven_id != ''">
			#{item.ven_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.ven_no != null and item.ven_no != ''">
			#{item.ven_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.create_date != null and item.create_date != ''">
			#{item.create_date,jdbcType=DATE}
			,
			</if>
			<if test="item.bond_flag != null and item.bond_flag != ''">
			#{item.bond_flag,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.pay_flag != null and item.pay_flag != ''">
			#{item.pay_flag,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.pay_money != null and item.pay_money != ''">
			#{item.pay_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.state != null and item.state != ''">
			#{item.state,jdbcType=INTEGER}
			,
			</if>
			<if test="item.bill_no != null and item.bill_no != ''">
			#{item.bill_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.check_no != null and item.check_no != ''">
			#{item.check_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.reason != null and item.reason != ''">
			#{item.reason,jdbcType=VARCHAR}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_contract_bond 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="acct_year != null and acct_year != ''">
		acct_year = #{acct_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		contract_id = #{contract_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id = #{ven_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no = #{ven_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date = #{create_date,jdbcType=DATE}
		,
		</if>
		<if test="bond_flag != null and bond_flag != ''">
		bond_flag = #{bond_flag,jdbcType=VARCHAR}
		,
		</if>
		<if test="pay_flag != null and pay_flag != ''">
		pay_flag = #{pay_flag,jdbcType=VARCHAR}
		,
		</if>
		<if test="pay_money != null and pay_money != ''">
		pay_money = #{pay_money,jdbcType=INTEGER}
		,
		</if>
		<if test="state != null and state != ''">
		state = #{state,jdbcType=INTEGER}
		,
		</if>
		<if test="bill_no != null and bill_no != ''">
		bill_no = #{bill_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="check_no != null and check_no != ''">
		check_no = #{check_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="reason != null and reason != ''">
		reason = #{reason,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_contract_bond 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.acct_year != null and item.acct_year != ''">
			acct_year = #{item.acct_year,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.contract_id != null and item.contract_id != ''">
			contract_id = #{item.contract_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.ven_id != null and item.ven_id != ''">
			ven_id = #{item.ven_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.ven_no != null and item.ven_no != ''">
			ven_no = #{item.ven_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.create_date != null and item.create_date != ''">
			create_date = #{item.create_date,jdbcType=DATE}
			,
			</if>
			<if test="item.bond_flag != null and item.bond_flag != ''">
			bond_flag = #{item.bond_flag,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.pay_flag != null and item.pay_flag != ''">
			pay_flag = #{item.pay_flag,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.pay_money != null and item.pay_money != ''">
			pay_money = #{item.pay_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.state != null and item.state != ''">
			state = #{item.state,jdbcType=INTEGER}
			,
			</if>
			<if test="item.bill_no != null and item.bill_no != ''">
			bill_no = #{item.bill_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.check_no != null and item.check_no != ''">
			check_no = #{item.check_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.reason != null and item.reason != ''">
			reason = #{item.reason,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.acct_year != null and item.acct_year != ''">
			AND acct_year = #{acct_year,jdbcType=VARCHAR}
			</if>  
			<if test="item.bond_no != null and item.bond_no != ''">
			AND bond_no = #{bond_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.contract_id != null and item.contract_id != ''">
			AND contract_id = #{contract_id,jdbcType=INTEGER}
			</if>  
			<if test="item.ven_id != null and item.ven_id != ''">
			AND ven_id = #{ven_id,jdbcType=INTEGER}
			</if>  
			<if test="item.ven_no != null and item.ven_no != ''">
			AND ven_no = #{ven_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.create_date != null and item.create_date != ''">
			AND create_date = #{create_date,jdbcType=DATE}
			</if>  
			<if test="item.bond_flag != null and item.bond_flag != ''">
			AND bond_flag = #{bond_flag,jdbcType=VARCHAR}
			</if>  
			<if test="item.pay_flag != null and item.pay_flag != ''">
			AND pay_flag = #{pay_flag,jdbcType=VARCHAR}
			</if>  
			<if test="item.pay_money != null and item.pay_money != ''">
			AND pay_money = #{pay_money,jdbcType=INTEGER}
			</if>  
			<if test="item.state != null and item.state != ''">
			AND state = #{state,jdbcType=INTEGER}
			</if>  
			<if test="item.bill_no != null and item.bill_no != ''">
			AND bill_no = #{bill_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.check_no != null and item.check_no != ''">
			AND check_no = #{check_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.reason != null and item.reason != ''">
			AND reason = #{reason,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_contract_bond 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_year != null and acct_year != ''">
		AND acct_year = #{acct_year,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="bond_flag != null and bond_flag != ''">
		AND bond_flag = #{bond_flag,jdbcType=VARCHAR}
		</if>
		<if test="pay_flag != null and pay_flag != ''">
		AND pay_flag = #{pay_flag,jdbcType=VARCHAR}
		</if>
		<if test="pay_money != null and pay_money != ''">
		AND pay_money = #{pay_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="bill_no != null and bill_no != ''">
		AND bill_no = #{bill_no,jdbcType=VARCHAR}
		</if>
		<if test="check_no != null and check_no != ''">
		AND check_no = #{check_no,jdbcType=VARCHAR}
		</if>
		<if test="reason != null and reason != ''">
		AND reason = #{reason,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_contract_bond 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code}
				</if>
				<if test="item.bond_no != null and item.bond_no != ''">
				AND bond_no = #{item.bond_no}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assContractBond" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.acct_year,
			a.bond_no,
			a.contract_id,
			b.contract_name,
			a.ven_id,
			a.ven_no,
			hsd.sup_code ven_code,
			hsd.sup_name ven_name,
			a.create_date,
			a.bond_flag,
			a.pay_flag,
			a.pay_money,
			a.state,
			a.bill_no,
			a.check_no,
			a.reason
		FROM ASS_CONTRACT_BOND a
		left join ASS_CONTRACT_MAIN b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.contract_id = b.contract_id
		left join HOS_SUP_DICT hsd on 
		a.group_id=hsd.group_id and 
		a.hos_id=hsd.hos_id and 
		a.ven_id=hsd.sup_id and 
		a.ven_no=hsd.sup_no and
		hsd.is_stop = 0
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_year != null and acct_year != ''">
		AND a.acct_year = #{acct_year,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND a.bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND a.contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND a.ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND a.ven_no = #{ven_no,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND a.create_date = TO_DATE(#{create_date,jdbcType=VARCHAR},'yyyy-mm-dd') 
		</if>
		<if test="bond_flag != null and bond_flag != ''">
		AND a.bond_flag = #{bond_flag,jdbcType=VARCHAR}
		</if>
		<if test="pay_flag != null and pay_flag != ''">
		AND a.pay_flag = #{pay_flag,jdbcType=VARCHAR}
		</if>
		<if test="pay_money != null and pay_money != ''">
		AND a.pay_money = #{pay_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="bill_no != null and bill_no != ''">
		AND a.bill_no = #{bill_no,jdbcType=VARCHAR}
		</if>
		<if test="check_no != null and check_no != ''">
		AND a.check_no = #{check_no,jdbcType=VARCHAR}
		</if>
		<if test="reason != null and reason != ''">
		AND a.reason = #{reason,jdbcType=VARCHAR}
		</if>
		</where>   
		order by a.bond_no asc
	</select>
	<select id="queryByCode" resultType="com.chd.hrp.ass.entity.contract.AssContractBond"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acct_year,
		bond_no,
		contract_id,
		ven_id,
		ven_no,
		create_date,
		bond_flag,
		pay_flag,
		pay_money,
		state,
		bill_no,
		check_no,
		reason
		FROM ass_contract_bond 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		bond_no = #{bond_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assContractBond"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acct_year,
		bond_no,
		contract_id,
		ven_id,
		ven_no,
		create_date,
		bond_flag,
		pay_flag,
		pay_money,
		state,
		bill_no,
		check_no,
		reason
		FROM ASS_CONTRACT_BOND 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_year != null and acct_year != ''">
		AND acct_year = #{acct_year,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="bond_flag != null and bond_flag != ''">
		AND bond_flag = #{bond_flag,jdbcType=VARCHAR}
		</if>
		<if test="pay_flag != null and pay_flag != ''">
		AND pay_flag = #{pay_flag,jdbcType=VARCHAR}
		</if>
		<if test="pay_money != null and pay_money != ''">
		AND pay_money = #{pay_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="bill_no != null and bill_no != ''">
		AND bill_no = #{bill_no,jdbcType=VARCHAR}
		</if>
		<if test="check_no != null and check_no != ''">
		AND check_no = #{check_no,jdbcType=VARCHAR}
		</if>
		<if test="reason != null and reason != ''">
		AND reason = #{reason,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assContractBond"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acct_year,
		bond_no,
		contract_id,
		ven_id,
		ven_no,
		create_date,
		bond_flag,
		pay_flag,
		pay_money,
		state,
		bill_no,
		check_no,
		reason
		FROM ASS_CONTRACT_BOND 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_year != null and acct_year != ''">
		AND acct_year = #{acct_year,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="bond_flag != null and bond_flag != ''">
		AND bond_flag = #{bond_flag,jdbcType=VARCHAR}
		</if>
		<if test="pay_flag != null and pay_flag != ''">
		AND pay_flag = #{pay_flag,jdbcType=VARCHAR}
		</if>
		<if test="pay_money != null and pay_money != ''">
		AND pay_money = #{pay_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="bill_no != null and bill_no != ''">
		AND bill_no = #{bill_no,jdbcType=VARCHAR}
		</if>
		<if test="check_no != null and check_no != ''">
		AND check_no = #{check_no,jdbcType=VARCHAR}
		</if>
		<if test="reason != null and reason != ''">
		AND reason = #{reason,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

