<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.contract.AssContractBankMapper">
	
	<resultMap id="assContractBank" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="acct_year" column="acct_year"/>
	<result property="bond_no" column="bond_no"/>
	<result property="contract_id" column="contract_id"/>
	<result property="contract_name" column="contract_name"/>
	<result property="create_date" column="create_date"/>
	<result property="pay_money" column="pay_money"/>
	<result property="state" column="state"/>
	<result property="reason" column="reason"/>
	<result property="bank_info" column="bank_info"/>
	<result property="bank_emp" column="bank_emp"/>
	<result property="bank_emp_name" column="bank_emp_name"/>
	<result property="bank_tel" column="bank_tel"/>
	<result property="bank_account" column="bank_account"/>
	<result property="delegate" column="delegate"/>
	<result property="delegate_emp" column="delegate_emp"/>
	<result property="delegate_emp_name" column="delegate_emp_name"/>
	<result property="delegate_tel" column="delegate_tel"/>
	<result property="hos_info" column="hos_info"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_CONTRACT_BANK (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="acct_year != null and acct_year != ''">
		acct_year
		,
		</if>
		<if test="bond_no != null and bond_no != ''">
		bond_no
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		contract_id
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="pay_money != null and pay_money != ''">
		pay_money
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="reason != null and reason != ''">
		reason
		,
		</if>
		<if test="bank_info != null and bank_info != ''">
		bank_info
		,
		</if>
		<if test="bank_emp != null and bank_emp != ''">
		bank_emp
		,
		</if>
		<if test="bank_tel != null and bank_tel != ''">
		bank_tel
		,
		</if>
		<if test="bank_account != null and bank_account != ''">
		bank_account
		,
		</if>
		<if test="delegate != null and delegate != ''">
		delegate
		,
		</if>
		<if test="delegate_emp != null and delegate_emp != ''">
		delegate_emp
		,
		</if>
		<if test="delegate_tel != null and delegate_tel != ''">
		delegate_tel
		,
		</if>
		<if test="hos_info != null and hos_info != ''">
		hos_info
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="acct_year != null and acct_year != ''">
		#{acct_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="bond_no != null and bond_no != ''">
		#{bond_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		#{contract_id,jdbcType=INTEGER}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		#{create_date,jdbcType=DATE}
		,
		</if>
		<if test="pay_money != null and pay_money != ''">
		#{pay_money,jdbcType=INTEGER}
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=INTEGER}
		,
		</if>
		<if test="reason != null and reason != ''">
		#{reason,jdbcType=VARCHAR}
		,
		</if>
		<if test="bank_info != null and bank_info != ''">
		#{bank_info,jdbcType=VARCHAR}
		,
		</if>
		<if test="bank_emp != null and bank_emp != ''">
		#{bank_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="bank_tel != null and bank_tel != ''">
		#{bank_tel,jdbcType=VARCHAR}
		,
		</if>
		<if test="bank_account != null and bank_account != ''">
		#{bank_account,jdbcType=VARCHAR}
		,
		</if>
		<if test="delegate != null and delegate != ''">
		#{delegate,jdbcType=VARCHAR}
		,
		</if>
		<if test="delegate_emp != null and delegate_emp != ''">
		#{delegate_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="delegate_tel != null and delegate_tel != ''">
		#{delegate_tel,jdbcType=VARCHAR}
		,
		</if>
		<if test="hos_info != null and hos_info != ''">
		#{hos_info,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_CONTRACT_BANK (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="acct_year != null and acct_year != ''">
		acct_year
		,
		</if>
		<if test="bond_no != null and bond_no != ''">
		bond_no
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		contract_id
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="pay_money != null and pay_money != ''">
		pay_money
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="reason != null and reason != ''">
		reason
		,
		</if>
		<if test="bank_info != null and bank_info != ''">
		bank_info
		,
		</if>
		<if test="bank_emp != null and bank_emp != ''">
		bank_emp
		,
		</if>
		<if test="bank_tel != null and bank_tel != ''">
		bank_tel
		,
		</if>
		<if test="bank_account != null and bank_account != ''">
		bank_account
		,
		</if>
		<if test="delegate != null and delegate != ''">
		delegate
		,
		</if>
		<if test="delegate_emp != null and delegate_emp != ''">
		delegate_emp
		,
		</if>
		<if test="delegate_tel != null and delegate_tel != ''">
		delegate_tel
		,
		</if>
		<if test="hos_info != null and hos_info != ''">
		hos_info
		,
		</if>
		</trim>
		) select ASS_CONTRACT_BANK_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="item.group_id != null and item.group_id != ''">
			#{item.group_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.hos_id != null and item.hos_id != ''">
			#{item.hos_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.copy_code != null and item.copy_code != ''">
			#{item.copy_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.acct_year != null and item.acct_year != ''">
			#{item.acct_year,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bond_no != null and item.bond_no != ''">
			#{item.bond_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.contract_id != null and item.contract_id != ''">
			#{item.contract_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.create_date != null and item.create_date != ''">
			#{item.create_date,jdbcType=DATE}
			,
			</if>
			<if test="item.pay_money != null and item.pay_money != ''">
			#{item.pay_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.state != null and item.state != ''">
			#{item.state,jdbcType=INTEGER}
			,
			</if>
			<if test="item.reason != null and item.reason != ''">
			#{item.reason,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bank_info != null and item.bank_info != ''">
			#{item.bank_info,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bank_emp != null and item.bank_emp != ''">
			#{item.bank_emp,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bank_tel != null and item.bank_tel != ''">
			#{item.bank_tel,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bank_account != null and item.bank_account != ''">
			#{item.bank_account,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.delegate != null and item.delegate != ''">
			#{item.delegate,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.delegate_emp != null and item.delegate_emp != ''">
			#{item.delegate_emp,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.delegate_tel != null and item.delegate_tel != ''">
			#{item.delegate_tel,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.hos_info != null and item.hos_info != ''">
			#{item.hos_info,jdbcType=VARCHAR}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_contract_bank 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="acct_year != null and acct_year != ''">
		acct_year = #{acct_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="contract_id != null and contract_id != ''">
		contract_id = #{contract_id,jdbcType=INTEGER}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date = #{create_date,jdbcType=DATE}
		,
		</if>
		<if test="pay_money != null and pay_money != ''">
		pay_money = #{pay_money,jdbcType=INTEGER}
		,
		</if>
		<if test="state != null and state != ''">
		state = #{state,jdbcType=INTEGER}
		,
		</if>
		<if test="reason != null and reason != ''">
		reason = #{reason,jdbcType=VARCHAR}
		,
		</if>
		<if test="bank_info != null and bank_info != ''">
		bank_info = #{bank_info,jdbcType=VARCHAR}
		,
		</if>
		<if test="bank_emp != null and bank_emp != ''">
		bank_emp = #{bank_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="bank_tel != null and bank_tel != ''">
		bank_tel = #{bank_tel,jdbcType=VARCHAR}
		,
		</if>
		<if test="bank_account != null and bank_account != ''">
		bank_account = #{bank_account,jdbcType=VARCHAR}
		,
		</if>
		<if test="delegate != null and delegate != ''">
		delegate = #{delegate,jdbcType=VARCHAR}
		,
		</if>
		<if test="delegate_emp != null and delegate_emp != ''">
		delegate_emp = #{delegate_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="delegate_tel != null and delegate_tel != ''">
		delegate_tel = #{delegate_tel,jdbcType=VARCHAR}
		,
		</if>
		<if test="hos_info != null and hos_info != ''">
		hos_info = #{hos_info,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_contract_bank 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.acct_year != null and item.acct_year != ''">
			acct_year = #{item.acct_year,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.contract_id != null and item.contract_id != ''">
			contract_id = #{item.contract_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.create_date != null and item.create_date != ''">
			create_date = #{item.create_date,jdbcType=DATE}
			,
			</if>
			<if test="item.pay_money != null and item.pay_money != ''">
			pay_money = #{item.pay_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.state != null and item.state != ''">
			state = #{item.state,jdbcType=INTEGER}
			,
			</if>
			<if test="item.reason != null and item.reason != ''">
			reason = #{item.reason,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bank_info != null and item.bank_info != ''">
			bank_info = #{item.bank_info,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bank_emp != null and item.bank_emp != ''">
			bank_emp = #{item.bank_emp,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bank_tel != null and item.bank_tel != ''">
			bank_tel = #{item.bank_tel,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bank_account != null and item.bank_account != ''">
			bank_account = #{item.bank_account,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.delegate != null and item.delegate != ''">
			delegate = #{item.delegate,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.delegate_emp != null and item.delegate_emp != ''">
			delegate_emp = #{item.delegate_emp,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.delegate_tel != null and item.delegate_tel != ''">
			delegate_tel = #{item.delegate_tel,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.hos_info != null and item.hos_info != ''">
			hos_info = #{item.hos_info,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.acct_year != null and item.acct_year != ''">
			AND acct_year = #{acct_year,jdbcType=VARCHAR}
			</if>  
			<if test="item.bond_no != null and item.bond_no != ''">
			AND bond_no = #{bond_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.contract_id != null and item.contract_id != ''">
			AND contract_id = #{contract_id,jdbcType=INTEGER}
			</if>  
			<if test="item.create_date != null and item.create_date != ''">
			AND create_date = #{create_date,jdbcType=DATE}
			</if>  
			<if test="item.pay_money != null and item.pay_money != ''">
			AND pay_money = #{pay_money,jdbcType=INTEGER}
			</if>  
			<if test="item.state != null and item.state != ''">
			AND state = #{state,jdbcType=INTEGER}
			</if>  
			<if test="item.reason != null and item.reason != ''">
			AND reason = #{reason,jdbcType=VARCHAR}
			</if>  
			<if test="item.bank_info != null and item.bank_info != ''">
			AND bank_info = #{bank_info,jdbcType=VARCHAR}
			</if>  
			<if test="item.bank_emp != null and item.bank_emp != ''">
			AND bank_emp = #{bank_emp,jdbcType=VARCHAR}
			</if>  
			<if test="item.bank_tel != null and item.bank_tel != ''">
			AND bank_tel = #{bank_tel,jdbcType=VARCHAR}
			</if>  
			<if test="item.bank_account != null and item.bank_account != ''">
			AND bank_account = #{bank_account,jdbcType=VARCHAR}
			</if>  
			<if test="item.delegate != null and item.delegate != ''">
			AND delegate = #{delegate,jdbcType=VARCHAR}
			</if>  
			<if test="item.delegate_emp != null and item.delegate_emp != ''">
			AND delegate_emp = #{delegate_emp,jdbcType=VARCHAR}
			</if>  
			<if test="item.delegate_tel != null and item.delegate_tel != ''">
			AND delegate_tel = #{delegate_tel,jdbcType=VARCHAR}
			</if>  
			<if test="item.hos_info != null and item.hos_info != ''">
			AND hos_info = #{hos_info,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_contract_bank 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_year != null and acct_year != ''">
		AND acct_year = #{acct_year,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="pay_money != null and pay_money != ''">
		AND pay_money = #{pay_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="reason != null and reason != ''">
		AND reason = #{reason,jdbcType=VARCHAR}
		</if>
		<if test="bank_info != null and bank_info != ''">
		AND bank_info = #{bank_info,jdbcType=VARCHAR}
		</if>
		<if test="bank_emp != null and bank_emp != ''">
		AND bank_emp = #{bank_emp,jdbcType=VARCHAR}
		</if>
		<if test="bank_tel != null and bank_tel != ''">
		AND bank_tel = #{bank_tel,jdbcType=VARCHAR}
		</if>
		<if test="bank_account != null and bank_account != ''">
		AND bank_account = #{bank_account,jdbcType=VARCHAR}
		</if>
		<if test="delegate != null and delegate != ''">
		AND delegate = #{delegate,jdbcType=VARCHAR}
		</if>
		<if test="delegate_emp != null and delegate_emp != ''">
		AND delegate_emp = #{delegate_emp,jdbcType=VARCHAR}
		</if>
		<if test="delegate_tel != null and delegate_tel != ''">
		AND delegate_tel = #{delegate_tel,jdbcType=VARCHAR}
		</if>
		<if test="hos_info != null and hos_info != ''">
		AND hos_info = #{hos_info,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_contract_bank 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code}
				</if>
				<if test="item.bond_no != null and item.bond_no != ''">
				AND bond_no = #{item.bond_no}
				</if>
				
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assContractBank" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.acct_year,
			a.bond_no,
			a.contract_id,
			b.contract_name,
			a.create_date,
			a.pay_money,
			a.state,
			a.reason,
			a.bank_info,
			a.bank_emp,
			su.user_name bank_emp_name,
			a.bank_tel,
			a.bank_account,
			a.delegate,
			a.delegate_emp,
			su1.user_name delegate_emp_name,
			a.delegate_tel,
			a.hos_info
		FROM ASS_CONTRACT_BANK a
		left join ASS_CONTRACT_MAIN b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.contract_id = b.contract_id
		left join SYS_USER su on 
    	a.group_id=su.group_id and 
    	a.hos_id=su.hos_id and 
    	a.bank_emp=su.user_id
    	left join Sys_User su1 on 
    	a.group_id=su1.group_id and 
    	a.hos_id=su1.hos_id and 
    	a.delegate_emp=su1.user_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_year != null and acct_year != ''">
		AND a.acct_year = #{acct_year,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND a.bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND a.contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND a.create_date =TO_DATE(#{create_date,jdbcType=VARCHAR},'yyyy-mm-dd') 
		</if>
		<if test="pay_money != null and pay_money != ''">
		AND a.pay_money = #{pay_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="reason != null and reason != ''">
		AND a.reason = #{reason,jdbcType=VARCHAR}
		</if>
		<if test="bank_info != null and bank_info != ''">
		AND a.bank_info = #{bank_info,jdbcType=VARCHAR}
		</if>
		<if test="bank_emp != null and bank_emp != ''">
		AND su.user_name = #{bank_emp,jdbcType=VARCHAR}
		</if>
		<if test="bank_tel != null and bank_tel != ''">
		AND a.bank_tel = #{bank_tel,jdbcType=VARCHAR}
		</if>
		<if test="bank_account != null and bank_account != ''">
		AND a.bank_account = #{bank_account,jdbcType=VARCHAR}
		</if>
		<if test="delegate != null and delegate != ''">
		AND a.delegate = #{delegate,jdbcType=VARCHAR}
		</if>
		<if test="delegate_emp != null and delegate_emp != ''">
		AND su1.user_name = #{delegate_emp,jdbcType=VARCHAR}
		</if>
		<if test="delegate_tel != null and delegate_tel != ''">
		AND a.delegate_tel = #{delegate_tel,jdbcType=VARCHAR}
		</if>
		<if test="hos_info != null and hos_info != ''">
		AND a.hos_info = #{hos_info,jdbcType=VARCHAR}
		</if>
		</where>   
		order by a.bond_no asc
	</select>
	<select id="queryByCode" resultType="com.chd.hrp.ass.entity.contract.AssContractBank"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acct_year,
		bond_no,
		contract_id,
		create_date,
		pay_money,
		state,
		reason,
		bank_info,
		bank_emp,
		bank_tel,
		bank_account,
		delegate,
		delegate_emp,
		delegate_tel,
		hos_info
		FROM ass_contract_bank a
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		bond_no = #{bond_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assContractBank"  parameterType="java.util.Map" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.acct_year,
			a.bond_no,
			a.contract_id,
			a.create_date,
			a.pay_money,
			a.state,
			a.reason,
			a.bank_info,
			a.bank_emp,
			a.bank_tel,
			a.bank_account,
			a.delegate,
			a.delegate_emp,
			a.delegate_tel,
			a.hos_info
		FROM ASS_CONTRACT_BANK a
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_year != null and acct_year != ''">
		AND a.acct_year = #{acct_year,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND a.bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND a.contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND a.create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="pay_money != null and pay_money != ''">
		AND a.pay_money = #{pay_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="reason != null and reason != ''">
		AND a.reason = #{reason,jdbcType=VARCHAR}
		</if>
		<if test="bank_info != null and bank_info != ''">
		AND a.bank_info = #{bank_info,jdbcType=VARCHAR}
		</if>
		<if test="bank_emp != null and bank_emp != ''">
		AND a.bank_emp = #{bank_emp,jdbcType=VARCHAR}
		</if>
		<if test="bank_tel != null and bank_tel != ''">
		AND a.bank_tel = #{bank_tel,jdbcType=VARCHAR}
		</if>
		<if test="bank_account != null and bank_account != ''">
		AND a.bank_account = #{bank_account,jdbcType=VARCHAR}
		</if>
		<if test="delegate != null and delegate != ''">
		AND a.delegate = #{delegate,jdbcType=VARCHAR}
		</if>
		<if test="delegate_emp != null and delegate_emp != ''">
		AND a.delegate_emp = #{delegate_emp,jdbcType=VARCHAR}
		</if>
		<if test="delegate_tel != null and delegate_tel != ''">
		AND a.delegate_tel = #{delegate_tel,jdbcType=VARCHAR}
		</if>
		<if test="hos_info != null and hos_info != ''">
		AND a.hos_info = #{hos_info,jdbcType=VARCHAR}
		</if>
		</where>   
		order by a.bond_no asc
	</select>
	<select id="queryExists" resultMap="assContractBank"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acct_year,
		bond_no,
		contract_id,
		create_date,
		pay_money,
		state,
		reason,
		bank_info,
		bank_emp,
		bank_tel,
		bank_account,
		delegate,
		delegate_emp,
		delegate_tel,
		hos_info
		FROM ASS_CONTRACT_BANK 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_year != null and acct_year != ''">
		AND acct_year = #{acct_year,jdbcType=VARCHAR}
		</if>
		<if test="bond_no != null and bond_no != ''">
		AND bond_no = #{bond_no,jdbcType=VARCHAR}
		</if>
		<if test="contract_id != null and contract_id != ''">
		AND contract_id = #{contract_id,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="pay_money != null and pay_money != ''">
		AND pay_money = #{pay_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="reason != null and reason != ''">
		AND reason = #{reason,jdbcType=VARCHAR}
		</if>
		<if test="bank_info != null and bank_info != ''">
		AND bank_info = #{bank_info,jdbcType=VARCHAR}
		</if>
		<if test="bank_emp != null and bank_emp != ''">
		AND bank_emp = #{bank_emp,jdbcType=VARCHAR}
		</if>
		<if test="bank_tel != null and bank_tel != ''">
		AND bank_tel = #{bank_tel,jdbcType=VARCHAR}
		</if>
		<if test="bank_account != null and bank_account != ''">
		AND bank_account = #{bank_account,jdbcType=VARCHAR}
		</if>
		<if test="delegate != null and delegate != ''">
		AND delegate = #{delegate,jdbcType=VARCHAR}
		</if>
		<if test="delegate_emp != null and delegate_emp != ''">
		AND delegate_emp = #{delegate_emp,jdbcType=VARCHAR}
		</if>
		<if test="delegate_tel != null and delegate_tel != ''">
		AND delegate_tel = #{delegate_tel,jdbcType=VARCHAR}
		</if>
		<if test="hos_info != null and hos_info != ''">
		AND hos_info = #{hos_info,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

