<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.business.dept.HtcTaskChargeCostDeptMapper">

	<resultMap id="htcTaskChargeCostDeptMap" type="com.chd.hrp.htc.entity.task.business.dept.HtcTaskChargeCostDept">
	    <result property="group_id" column="group_id" />
	    <result property="hos_id" column="hos_id" />
	    <result property="copy_code" column="copy_code" />
	    <result property="acc_year" column="acc_year" />
	    <result property="plan_code" column="plan_code" />
	    <result property="proj_dept_id" column="proj_dept_id" />
	    <result property="proj_dept_code" column="proj_dept_code" />
	    <result property="proj_dept_name" column="proj_dept_name" />
	    <result property="charge_item_id" column="charge_item_id" />
	    <result property="work_code" column="work_code" />
	    <result property="cost_item_id" column="cost_item_id" />
	    <result property="charge_item_code" column="charge_item_code" />
	    <result property="charge_item_name" column="charge_item_name" />
	    <result property="charge_money" column="charge_money" />
	    <result property="charge_num" column="charge_num" />
	    <result property="amount" column="amount" />
	    <result property="dir_cost" column="dir_cost" />
	    <result property="pub_cost" column="pub_cost" />
	    <result property="man_cost" column="man_cost" />
	    <result property="mea_cost" column="mea_cost" />
	    <result property="source_id" column="source_id" />
	</resultMap>
	
	<select id="queryHtcTaskChargeCostDept" parameterType="java.util.Map" resultMap="htcTaskChargeCostDeptMap">
					 select 
					    htccd.group_id,
						htccd.hos_id,
						htccd.copy_code,
						htccd.acc_year,
						htccd.plan_code,
						htccd.proj_dept_id,
						hpd.proj_dept_code,
						hpd.proj_dept_name,
						htccd.charge_item_id,
						ccia.charge_item_code,
						ccia.charge_item_name,
						htccd.work_code,
						htccd.cost_item_id,
						htccd.charge_money,
						htccd.charge_num,
						hcddc.amount,
						htccd.dir_cost,
						htccd.pub_cost,
						htccd.man_cost,
						htccd.mea_cost,
						htccd.source_id
					 from htc_task_charge_cost_dept htccd
					 left join htc_proj_dept hpd
					 on hpd.group_id = htccd.group_id
					 and hpd.hos_id = htccd.hos_id
					 and hpd.copy_code = htccd.copy_code
					 and hpd.proj_dept_id = htccd.proj_dept_id
					 left join cost_charge_item_arrt ccia
					 on ccia.group_id = htccd.group_id
					 and ccia.hos_id = htccd.hos_id
					 and ccia.copy_code = htccd.copy_code
					 and ccia.charge_item_id = htccd.charge_item_id
					 left join htc_charge_direct_dept_cost hcddc  
					 on htccd.group_id = hcddc.group_id
					 and htccd.hos_id = hcddc.hos_id
					 and htccd.copy_code = hcddc.copy_code 
					 and htccd.acc_year = hcddc.acc_year 
					 and htccd.plan_code = hcddc.plan_code 
					 and htccd.proj_dept_id = hcddc.proj_dept_id 
					 and htccd.charge_item_id = hcddc.charge_item_id 
					 and htccd.cost_item_id = hcddc.cost_item_id
					 and htccd.source_id = hcddc.source_id
			      <where>   htccd.group_id = #{group_id}
					    and htccd.hos_id = #{hos_id}
					    and htccd.copy_code = #{copy_code}
					    <if test="acc_year != null and acc_year != ''">
                          and htccd.acc_year = #{acc_year}
			            </if>
						<if test="plan_code != null and plan_code != ''">
			              and htccd.plan_code = #{plan_code}
			            </if>
			            <if test="proj_dept_id != null and proj_dept_id != ''">
			              and htccd.proj_dept_id = #{proj_dept_id}
			            </if>
                  </where>   
						                          
				
	</select>

	<select id="collectHtcTaskChargeCostDept" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map"> 
		   <![CDATA[ {call pkg_htc_app.prc_task_charge_dept_cost(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year,jdbcType=VARCHAR, mode=IN},
	        #{plan_code,jdbcType=VARCHAR, mode=IN},
	        #{proj_dept_id,jdbcType=INTEGER, mode=IN},
	        #{err_txt,jdbcType=VARCHAR,mode=OUT}
           )} 
		 ]]>
	</select>
   
</mapper>

