<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.ins.AssInsMainMapper">   
	
	<resultMap id="assInsMain" type="com.chd.hrp.ass.entity.ins.AssInsMain">  
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ins_id" column="ins_id"/>
	<result property="ins_no" column="ins_no"/>
	<result property="ass_year" column="ass_year"/>
	<result property="ass_month" column="ass_month"/>
	<result property="ins_date" column="ins_date"/>
	<result property="pact_code" column="pact_code"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	<result property="ins_money" column="ins_money"/>
	<result property="accept_desc" column="accept_desc"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_emp_name" column="create_emp_name"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="audit_emp_name" column="audit_emp_name"/>
	<result property="audit_date" column="audit_date"/>
	<result property="state" column="state"/>
	</resultMap>
	
	<resultMap id="assInsMainMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ins_id" column="ins_id"/>
	<result property="ins_no" column="ins_no"/>
	<result property="ass_year" column="ass_year"/>
	<result property="ass_month" column="ass_month"/>
	<result property="ins_date" column="ins_date"/>
	<result property="pact_code" column="pact_code"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	<result property="ins_money" column="ins_money"/>
	<result property="accept_desc" column="accept_desc"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_emp_name" column="create_emp_name"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="audit_emp_name" column="audit_emp_name"/>
	<result property="audit_date" column="audit_date"/>
	<result property="state" column="state"/>
	</resultMap>
	<select id="queryAssInsMainSequence" resultType="java.lang.Long">
		select ASS_INS_MAIN_SEQ.currval val from dual
	</select>
	<insert id="addAssInsMain" useGeneratedKeys="true" >
	
		INSERT INTO ASS_INS_MAIN (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		ins_id
		,
		<if test="ins_no != null and ins_no != ''">
		ins_no
		,
		</if>
		<if test="ass_year != null and ass_year != ''">
		ass_year
		,
		</if>
		<if test="ass_month != null and ass_month != ''">
		ass_month
		,
		</if>
		<if test="ins_date != null and ins_date != ''">
		ins_date
		,
		</if>
		<if test="pact_code != null and pact_code != ''">
		pact_code
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		dept_id
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		dept_no
		,
		</if>
		<if test="ins_money != null and ins_money != ''">
		ins_money
		,
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		accept_desc
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
 
		ASS_INS_MAIN_SEQ.nextval
		,
 
		<if test="ins_no != null and ins_no != ''">
		#{ins_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_year != null and ass_year != ''">
		#{ass_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_month != null and ass_month != ''">
		#{ass_month,jdbcType=VARCHAR}
		,
		</if>
		<if test="ins_date != null and ins_date != ''">
		#{ins_date,jdbcType=DATE}
		,
		</if>
		<if test="pact_code != null and pact_code != ''">
		#{pact_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		#{ven_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		#{ven_no,jdbcType=INTEGER}
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		#{dept_id,jdbcType=INTEGER}
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		#{dept_no,jdbcType=INTEGER}
		,
		</if>
		<if test="ins_money != null and ins_money != ''">
		#{ins_money,jdbcType=INTEGER}
		,
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		#{accept_desc,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		#{create_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		#{create_date,jdbcType=DATE}
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		#{audit_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		#{audit_date,jdbcType=DATE}
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=INTEGER}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatchAssInsMain" parameterType="java.util.List" >
	
		INSERT INTO ASS_INS_MAIN (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="ins_id != null and ins_id != ''">
		ins_id
		,
		</if>
		<if test="ins_no != null and ins_no != ''">
		ins_no
		,
		</if>
		<if test="ass_year != null and ass_year != ''">
		ass_year
		,
		</if>
		<if test="ass_month != null and ass_month != ''">
		ass_month
		,
		</if>
		<if test="ins_date != null and ins_date != ''">
		ins_date
		,
		</if>
		<if test="pact_code != null and pact_code != ''">
		pact_code
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		dept_id
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		dept_no
		,
		</if>
		<if test="ins_money != null and ins_money != ''">
		ins_money
		,
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		accept_desc
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		</trim>
		) select ASS_INS_MAIN_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
			#{item.group_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_id != null and hos_id != ''">
			#{item.hos_id},jdbcType=INTEGER}
			,
			</if>
			<if test="copy_code != null and copy_code != ''">
			#{item.copy_code},jdbcType=VARCHAR}
			,
			</if>
			<if test="ins_id != null and ins_id != ''">
			#{item.ins_id},jdbcType=INTEGER}
			,
			</if>
			<if test="ins_no != null and ins_no != ''">
			#{item.ins_no},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_year != null and ass_year != ''">
			#{item.ass_year},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_month != null and ass_month != ''">
			#{item.ass_month},jdbcType=VARCHAR}
			,
			</if>
			<if test="ins_date != null and ins_date != ''">
			#{item.ins_date},jdbcType=DATE}
			,
			</if>
			<if test="pact_code != null and pact_code != ''">
			#{item.pact_code},jdbcType=INTEGER}
			,
			</if>
			<if test="ven_id != null and ven_id != ''">
			#{item.ven_id},jdbcType=INTEGER}
			,
			</if>
			<if test="ven_no != null and ven_no != ''">
			#{item.ven_no},jdbcType=INTEGER}
			,
			</if>
			<if test="dept_id != null and dept_id != ''">
			#{item.dept_id},jdbcType=INTEGER}
			,
			</if>
			<if test="dept_no != null and dept_no != ''">
			#{item.dept_no,jdbcType=INTEGER}
			,
			</if>
			<if test="ins_money != null and ins_money != ''">
			#{item.ins_money,jdbcType=INTEGER}
			,
			</if>
			<if test="accept_desc != null and accept_desc != ''">
			#{item.accept_desc},jdbcType=VARCHAR}
			,
			</if>
			<if test="create_emp != null and create_emp != ''">
			#{item.create_emp},jdbcType=INTEGER}
			,
			</if>
			<if test="create_date != null and create_date != ''">
			#{item.create_date},jdbcType=DATE}
			,
			</if>
			<if test="audit_emp != null and audit_emp != ''">
			#{item.audit_emp},jdbcType=INTEGER}
			,
			</if>
			<if test="audit_date != null and audit_date != ''">
			#{item.audit_date},jdbcType=DATE}
			,
			</if>
			<if test="state != null and state != ''">
			#{item.state},jdbcType=INTEGER}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateAssInsMain" parameterType="java.util.Map">
	
		UPDATE ass_ins_main 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="ins_no != null and ins_no != ''">
		ins_no = #{ins_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_year != null and ass_year != ''">
		ass_year = #{ass_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_month != null and ass_month != ''">
		ass_month = #{ass_month,jdbcType=VARCHAR}
		,
		</if>
		<if test="ins_date != null and ins_date != ''">
		ins_date = #{ins_date,jdbcType=DATE}
		,
		</if>
		<if test="pact_code != null and pact_code != ''">
		pact_code = #{pact_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id = #{ven_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no = #{ven_no,jdbcType=INTEGER}
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		dept_id = #{dept_id,jdbcType=INTEGER}
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		dept_no = #{dept_no,jdbcType=INTEGER}
		,
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		accept_desc = #{accept_desc,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp = #{create_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date = #{create_date,jdbcType=DATE}
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp = #{audit_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date = #{audit_date,jdbcType=DATE}
		,
		</if>
		<if test="state != null and state != ''">
		state = #{state,jdbcType=INTEGER}
		,
		</if>
		<if test="ins_money != null and ins_money != ''">
		ins_money = #{ins_money,jdbcType=INTEGER}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ins_id != null and ins_id != ''">
		AND ins_id = #{ins_id,jdbcType=INTEGER}
		</if>
		 
		</where>  
	</update>
	<update id="updateBatchAssInsMain" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_ins_main 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="ins_no != null and ins_no != ''">
			ins_no = #{item.ins_no},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_year != null and ass_year != ''">
			ass_year = #{item.ass_year},jdbcType=VARCHAR}
			,
			</if>
			<if test="ass_month != null and ass_month != ''">
			ass_month = #{item.ass_month},jdbcType=VARCHAR}
			,
			</if>
			<if test="ins_date != null and ins_date != ''">
			ins_date = #{item.ins_date},jdbcType=DATE}
			,
			</if>
			<if test="pact_code != null and pact_code != ''">
			pact_code = #{item.pact_code},jdbcType=INTEGER}
			,
			</if>
			<if test="ven_id != null and ven_id != ''">
			ven_id = #{item.ven_id},jdbcType=INTEGER}
			,
			</if>
			<if test="ven_no != null and ven_no != ''">
			ven_no = #{item.ven_no},jdbcType=INTEGER}
			,
			</if>
			<if test="dept_id != null and dept_id != ''">
			dept_id = #{item.dept_id},jdbcType=INTEGER}
			,
			</if>
			<if test="dept_no != null and dept_no != ''">
			dept_no = #{item.dept_no},jdbcType=INTEGER}
			,
			</if>
			<if test="accept_desc != null and accept_desc != ''">
			accept_desc = #{item.accept_desc},jdbcType=VARCHAR}
			,
			</if>
			<if test="create_emp != null and create_emp != ''">
			create_emp = #{item.create_emp},jdbcType=INTEGER}
			,
			</if>
			<if test="create_date != null and create_date != ''">
			create_date = #{item.create_date},jdbcType=DATE}
			,
			</if>
			<if test="audit_emp != null and audit_emp != ''">
			audit_emp = #{item.audit_emp},jdbcType=INTEGER}
			,
			</if>
			<if test="audit_date != null and audit_date != ''">
			audit_date = #{item.audit_date},jdbcType=DATE}
			,
			</if>
			<if test="state != null and state != ''">
			state = #{item.state},jdbcType=INTEGER}
			,
			</if>
			<if test="item.ins_money != null and item.ins_money != ''">
			ins_money = #{item.ins_money,jdbcType=INTEGER}
			,
			</if>
			</trim>
			<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="ins_id != null and ins_id != ''">
			AND ins_id = #{ins_id,jdbcType=INTEGER}
			</if>  
			<if test="ins_no != null and ins_no != ''">
			AND ins_no = #{ins_no,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="deleteAssInsMain" parameterType="java.util.Map">
	
		DELETE FROM ass_ins_main 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ins_id != null and ins_id != ''">
		AND ins_id = #{ins_id,jdbcType=INTEGER}
		</if>
		<if test="ins_no != null and ins_no != ''">
		AND ins_no = #{ins_no,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatchAssInsMain" parameterType="java.util.List">
	        DELETE FROM ass_ins_main WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			and
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			and
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND 
			ins_id = #{item.ins_id,jdbcType=INTEGER}
            
		</foreach>
	</delete>
	<select id="queryAssInsMain" parameterType="java.util.Map" resultMap="assInsMain" >
		select * from (
		SELECT a.group_id,
		       a.hos_id,
		       a.copy_code,
		       a.ins_id,
		       a.ins_no,
		       a.ass_year,
		       a.ass_month,
		       a.ins_date,
		       a.pact_code,
		       a.ven_id,
		       a.ven_no,
		       h1.sup_code,
		       h1.sup_name,
		       a.dept_id,
		       a.dept_no,
		       h.dept_code,
		       h.dept_name,
		       a.accept_desc,
		       a.create_emp,
		       s.user_name     create_emp_name,
		       a.create_date,
		       a.audit_emp,
		       s1.user_name    audit_emp_name,
		       a.audit_date,
		      case when a.state = 0 then '新建' when a.state = 1 then '审核'  else '' end state_name ,
		     <!--   a.state, -->
		       a.ins_money
		  FROM ASS_INS_MAIN a
		  left join HOS_DEPT_DICT h
		    on a.group_id = h.group_id
		   and a.hos_id = h.hos_id
		   and a.dept_id = h.dept_id
		   and h.is_stop = 0
		  left join HOS_SUP_DICT h1
		    on a.group_id = h1.group_id
		   and a.hos_id = h1.hos_id
		   and a.ven_id = h1.sup_id
		   and h1.is_stop = 0
		  left join sys_user s
		    on s.group_id = a.group_id
		   and s.hos_id = a.hos_id
		   and s.user_id = a.create_emp
		  left join sys_user s1
		    on a.group_id = s1.group_id
		   and a.hos_id = s1.hos_id
		   and s1.user_id = a.audit_emp
		
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ins_id != null and ins_id != ''">
		AND a.ins_id = #{ins_id,jdbcType=INTEGER}
		</if>
		<if test="ins_no != null and ins_no != ''">
		AND a.ins_no like  '%${ins_no}%'
		</if>
		<if test="ass_year != null and ass_year != '' and ass_year1 != null and ass_year1 != ''">
		AND a.ass_year between #{ass_year} and #{ass_year1}
		</if>
		<if test="ass_month != null and ass_month != '' and ass_month1 != null and ass_month1 != ''">
		AND a.ass_month between #{ass_month} and #{ass_month1}
		</if>
		<if test="ins_date1 != null and ins_date1 != '' and ins_date2!= null and ins_date2 != ''">
		AND a.ins_date between to_date(#{ins_date1},'yyyy-MM-dd') and to_date(#{ins_date2},'yyyy-MM-dd')
		</if>
		<if test="pact_code != null and pact_code != ''">
		AND a.pact_code = #{pact_code,jdbcType=INTEGER}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND a.ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND a.ven_no = #{ven_no,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND a.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND a.dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		AND a.accept_desc = #{accept_desc,jdbcType=VARCHAR}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND a.create_emp = #{create_emp,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND a.create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_date != null and audit_date != '' and audit_date1 != null and audit_dateq != ''">
		AND a.audit_date  between to_date(#{audit_date},'yyyy-MM-dd') and to_date(#{audit_date1},'yyyy-MM-dd')
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND a.audit_emp = #{audit_emp,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="isExistsIns != null and isExistsIns != ''">
		AND  not exists(select 1 from ASS_INS_CONTRACT_MAP b 
		where 
			b.group_id = #{group_id} and b.hos_id = #{hos_id} and b.copy_code = #{copy_code} and a.ins_id = b.ins_id
		)
		</if>
		<if test="isExistsAccept != null and isExistsAccept != ''">
		AND  not exists(select 1 from ASS_ACCEPT_INS_MAP b 
		where 
			b.group_id = #{group_id} and b.hos_id = #{hos_id} and b.copy_code = #{copy_code} and a.ins_id = b.ins_id
		)
		</if>
		</where>
		union all

	select 0  group_id,
       null hos_id,
       null copy_code,
       null  ins_id,
       null ins_no,
       null apply_year,
       null apply_month,
       null ins_date,
       null pact_code,
       null  ven_id,
       null  ven_no,
       null sup_code,
       null sup_name,
       null  dept_id,
       null dept_no,
       null dept_code,
       null dept_name, 
       '合计' accept_desc,
       null  create_emp,
       null create_emp_name,
       null create_date,
       null  audit_emp,
       null audit_emp_name,
       null audit_date,
       null state,
       sum(a.ins_money) ins_money
	  	FROM ASS_INS_MAIN a
			   left join HOS_DEPT_DICT h
			    on a.group_id = h.group_id
			   and a.hos_id = h.hos_id
			   and a.dept_id = h.dept_id
			   and h.is_stop = 0
			  left join HOS_SUP_DICT h1
			    on a.group_id = h1.group_id
			   and a.hos_id = h1.hos_id
			   and a.ven_id = h1.sup_id
			   and h1.is_stop = 0
			  left join sys_user s
			    on s.group_id = a.group_id
			   and s.hos_id = a.hos_id
			   and s.user_id = a.create_emp
			  left join sys_user s1
			    on a.group_id = s1.group_id
			   and a.hos_id = s1.hos_id
			   and s1.user_id = a.audit_emp
			
			<where>                     
			<if test="group_id != null and group_id != ''">
			AND a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="ins_id != null and ins_id != ''">
			AND a.ins_id = #{ins_id,jdbcType=INTEGER}
			</if>
			<if test="ins_no != null and ins_no != ''">
			AND a.ins_no like  '%${ins_no}%'
			</if>
			<if test="ass_year != null and ass_year != ''">
			AND a.ass_year = #{ass_year,jdbcType=VARCHAR}
			</if>
			<if test="ass_month != null and ass_month != '' and ass_month1 != null and ass_month1 != ''">
			AND a.ass_month between #{ass_month} and #{ass_month1}
			</if>
			<if test="ins_date1 != null and ins_date1 != '' and ins_date2!= null and ins_date2 != ''">
			AND a.ins_date between to_date(#{ins_date1},'yyyy-MM-dd') and to_date(#{ins_date2},'yyyy-MM-dd')
			</if>
			<if test="pact_code != null and pact_code != ''">
			AND a.pact_code = #{pact_code,jdbcType=INTEGER}
			</if>
			<if test="ven_id != null and ven_id != ''">
			AND a.ven_id = #{ven_id,jdbcType=INTEGER}
			</if>
			<if test="ven_no != null and ven_no != ''">
			AND a.ven_no = #{ven_no,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
			AND a.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
			AND a.dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
			<if test="accept_desc != null and accept_desc != ''">
			AND a.accept_desc = #{accept_desc,jdbcType=VARCHAR}
			</if>
			<if test="create_emp != null and create_emp != ''">
			AND a.create_emp = #{create_emp,jdbcType=INTEGER}
			</if>
			<if test="create_date != null and create_date != ''">
			AND a.create_date = #{create_date,jdbcType=DATE}
			</if>
			<if test="audit_date != null and audit_date != '' and audit_date1 != null and audit_dateq != ''">
			AND a.audit_date  between to_date(#{audit_date},'yyyy-MM-dd') and to_date(#{audit_date1},'yyyy-MM-dd')
			</if>
			<if test="audit_emp != null and audit_emp != ''">
			AND a.audit_emp = #{audit_emp,jdbcType=DATE}
			</if>
			<if test="state != null and state != ''">
			AND a.state = #{state,jdbcType=INTEGER}
			</if>
			<if test="isExistsIns != null and isExistsIns != ''">
			AND  not exists(select 1 from ASS_INS_CONTRACT_MAP b 
			where 
				b.group_id = #{group_id} and b.hos_id = #{hos_id} and b.copy_code = #{copy_code} and a.ins_id = b.ins_id
			)
			</if>
			<if test="isExistsAccept != null and isExistsAccept != ''">
			AND  not exists(select 1 from ASS_ACCEPT_INS_MAP b 
			where 
				b.group_id = #{group_id} and b.hos_id = #{hos_id} and b.copy_code = #{copy_code} and a.ins_id = b.ins_id
			)
			</if>
			</where>
			) t
		order by t.ins_no desc
	</select>
	<select id="queryAssInsMainByCode" resultMap="assInsMain"  parameterType="java.util.Map" >
	
		SELECT 
			aim.group_id,
			aim.hos_id,
			aim.copy_code,
			aim.ins_id,
			aim.ins_no,
			aim.ass_year,
			aim.ass_month,
			aim.ins_date,
			aim.pact_code,
			aim.ven_id,
			aim.ven_no,
			aim.dept_id,
			aim.dept_no,
			hdd.dept_code,
			hdd.dept_name,
			aim.accept_desc,
			aim.create_emp,
			aim.create_date,
			aim.audit_emp,
			aim.audit_date,
			aim.state,
    		aim.ins_money
		FROM ass_ins_main aim 
		
		left join HOS_DEPT_DICT hdd on
		aim.group_id = hdd.group_id
		and aim.hos_id = hdd.hos_id
		and aim.dept_id = hdd.dept_id
		and aim.dept_no = hdd.dept_no
		WHERE 
			aim.group_id = #{group_id,jdbcType=INTEGER}   and 
			aim.hos_id = #{hos_id,jdbcType=INTEGER}   and 
			aim.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			aim.ins_id = #{ins_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryAssInsMainByUniqueness" resultMap="assInsMain"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ins_id,
		ins_no,
		ass_year,
		ass_month,
		ins_date,
		pact_code,
		ven_id,
		ven_no,
		dept_id,
		dept_no,
		accept_desc,
		create_emp,
		create_date,
		audit_emp,
		audit_date,
		state,
		ins_money
		FROM ASS_INS_MAIN 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ins_id != null and ins_id != ''">
		AND ins_id = #{ins_id,jdbcType=INTEGER}
		</if>
		<if test="ins_no != null and ins_no != ''">
		AND ins_no = #{ins_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_year != null and ass_year != ''">
		AND ass_year = #{ass_year,jdbcType=VARCHAR}
		</if>
		<if test="ass_month != null and ass_month != ''">
		AND ass_month = #{ass_month,jdbcType=VARCHAR}
		</if>
		<if test="ins_date != null and ins_date != ''">
		AND ins_date = #{ins_date,jdbcType=DATE}
		</if>
		<if test="pact_code != null and pact_code != ''">
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		AND accept_desc = #{accept_desc,jdbcType=VARCHAR}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp,jdbcType=INTEGER}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND audit_date = #{audit_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssInsMainExists" resultMap="assInsMain"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ins_id,
		ins_no,
		ass_year,
		ass_month,
		ins_date,
		pact_code,
		ven_id,
		ven_no,
		dept_id,
		dept_no,
		accept_desc,
		create_emp,
		create_date,
		audit_emp,
		audit_date,
		state,
		ins_money
		FROM ASS_INS_MAIN 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ins_id != null and ins_id != ''">
		AND ins_id = #{ins_id,jdbcType=INTEGER}
		</if>
		<if test="ins_no != null and ins_no != ''">
		AND ins_no = #{ins_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_year != null and ass_year != ''">
		AND ass_year = #{ass_year,jdbcType=VARCHAR}
		</if>
		<if test="ass_month != null and ass_month != ''">
		AND ass_month = #{ass_month,jdbcType=VARCHAR}
		</if>
		<if test="ins_date != null and ins_date != ''">
		AND ins_date = #{ins_date,jdbcType=DATE}
		</if>
		<if test="pact_code != null and pact_code != ''">
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		AND accept_desc = #{accept_desc,jdbcType=VARCHAR}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp,jdbcType=INTEGER}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp,jdbcType=INTEGER}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND audit_date = #{audit_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<update id="updateToExamine" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_ins_main set state = 1,audit_emp = #{item.audit_emp},audit_date = #{item.audit_date} 
			where
			 group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND ins_id = #{item.ins_id,jdbcType=INTEGER}
		</foreach>
	</update>
	<update id="updateNotToExamine" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_ins_main set state = 0 ,audit_emp = #{item.audit_emp},audit_date = #{item.audit_date}
			where 
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND ins_id = #{item.ins_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<update id="updateInsMoney" parameterType="java.util.Map">
			UPDATE ass_ins_main set ins_money = #{ins_money,jdbcType=INTEGER}
			where
			 group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND ins_id = #{ins_id,jdbcType=INTEGER}
	</update>
	<!-- 资产打印主表 -->
	<select id="queryassInsMainBatch" parameterType="java.util.Map"  resultType="java.util.Map">
	SELECT   a.ins_id as id,a.group_id,a.hos_id,a.copy_code,a.ins_no,a.ass_year,a.ass_month,
         to_char(a.ins_date, 'yyyy-mm-dd') ins_date,a.ven_id,a.ven_no,h.sup_code ven_code,
       h.sup_name ven_name,
         to_char(a.CREATE_DATE, 'yyyy-mm-dd') CREATE_DATE,to_char(a.AUDIT_DATE, 'yyyy-mm-dd') AUDIT_DATE,
         s1.user_name AUDIT_EMP,s2.user_name CREATE_EMP,to_char(a.ins_money,'FM999,999,990.00') ins_money,a.accept_desc,d.dept_code,d.dept_name,
         case when a.state = 0 then '新建' when a.state = 1 then '审核'  else '' end state 
       
         
     
		      
      FROM ASS_INS_MAIN a
   
    left join HOS_SUP_DICT h on h.group_id =a.group_id and h.hos_id =a.hos_id and h.sup_id=a.ven_id and h.is_stop =0 
       
    
     left join sys_user s1 on s1.group_id =a.group_id and s1.hos_id =a.hos_id and s1.user_id =a.AUDIT_EMP
     
    left join sys_user s2 on s2.group_id =a.group_id and s2.hos_id =a.hos_id and s2.user_id =a.CREATE_EMP
     
    left join HOS_DEPT_DICT d on d.group_id=a.group_id and d.hos_id =a.hos_id and d.dept_id =a.dept_id and d.is_stop=0
    
    
    
   
		<where>
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			and a.ins_id in  (${paraId})
			
		</where>
	</select>
	<select id="querassInsMainByPrint" parameterType="java.util.Map" resultType="java.util.Map">
SELECT   a.ins_id as id,a.group_id,a.hos_id,a.copy_code,a.ins_no,a.ass_year,a.ass_month,
         to_char(a.ins_date, 'yyyy-mm-dd') ins_date,a.ven_id,a.ven_no,h.sup_code ven_code,
       h.sup_name ven_name,
         to_char(a.CREATE_DATE, 'yyyy-mm-dd') CREATE_DATE,to_char(a.AUDIT_DATE, 'yyyy-mm-dd') AUDIT_DATE,
         s1.user_name AUDIT_EMP,s2.user_name CREATE_EMP,to_char(a.ins_money,'FM999,999,990.00') ins_money,a.accept_desc,d.dept_code,d.dept_name,
         case when a.state = 0 then '新建' when a.state = 1 then '审核'  else '' end state 
       
         
     
		      
      FROM ASS_INS_MAIN a
   
    left join HOS_SUP_DICT h on h.group_id =a.group_id and h.hos_id =a.hos_id and h.sup_id=a.ven_id and h.is_stop =0 
       
    
     left join sys_user s1 on s1.group_id =a.group_id and s1.hos_id =a.hos_id and s1.user_id =a.AUDIT_EMP
     
    left join sys_user s2 on s2.group_id =a.group_id and s2.hos_id =a.hos_id and s2.user_id =a.CREATE_EMP
     
    left join HOS_DEPT_DICT d on d.group_id=a.group_id and d.hos_id =a.hos_id and d.dept_id =a.dept_id and d.is_stop=0
    
    
    
    
   
		<where>
			<if test="group_id !=null and group_id !='' ">
				and a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id !=null and hos_id !='' ">
				and a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code !=null and copy_code !='' ">
				and a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			
			<if test="ins_no !=null and ins_no !='' ">
				and a.ins_no = #{ins_no,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<!-- 资产打印从表 -->
	<select id="queryassInsMain_detail" parameterType="java.util.Map" resultType="java.util.Map">
			select a.ins_id as id, a.group_id, a.hos_id, a.copy_code, d.ass_name
			, d.ass_no, a.ass_model, a.ass_spec, a.ass_brand, f.fac_no
			, f.fac_name, a.ins_amount, to_char(a.ins_money,'FM999,999,990.00')  ins_money_detail, a.ins_company, a.ins_tele
			, a.ins_engr, a.ins_desc,to_char(a.ins_price,'FM999,999,990.00') ins_price
		from ASS_INS_DETAIL a
		left join ASS_NO_DICT d on d.group_id = a.group_id
		and d.hos_id = a.hos_id
		and d.copy_code = a.copy_code
		and d.ass_id = a.ass_id
		and d.is_stop = 0 
			left join hos_fac_dict f on f.fac_no = a.fac_no
		and f.group_id = a.group_id
		and f.hos_id = a.hos_id
		and f.fac_id = a.fac_id
		and f.is_stop = 0 
		where
			a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			  <if test="paraId != null and paraId != ''">
				 AND a.ins_id in (${paraId})
				</if>
				<if test="ins_id != null and ins_id != ''">
					and a.ins_id = #{ins_id,jdbcType=INTEGER}
				</if>
			
		 <!-- <where>
			<if test="group_id !=null and group_id !='' ">
				and a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id !=null and hos_id !='' ">
				and a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code !=null and copy_code !='' ">
				and a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="ins_id !=null and ins_id !='' ">
				and a.ins_id = #{ins_id,jdbcType=VARCHAR}
			</if>
			<if test="ins_id !=null and p_num ==1">
				and a.ins_id in (${paraId})
			</if>
			<if test="ins_id !=null and p_num ==0">
				and  a.ins_id =#{ins_id,jdbcType=NUMERIC}
			</if>	
		</where> -->
  
		
		
			
	</select>
	
	<!-- 打印状态 -->
	<select id="queryInsMainState" parameterType="java.util.Map" resultType="java.lang.String">
	SELECT ins_no  FROM ASS_INS_MAIN 
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="paraId != null and paraId != ''">
			AND ins_id in  (${paraId})
			</if>
			<if test="ins_id != null and ins_id != ''">
			AND ins_id = #{ins_id,jdbcType=VARCHAR}
			</if>
			<!-- 前台传参   1 确认 -->
			and state != #{state,jdbcType=INTEGER}
	
	
	</select>
</mapper>

