<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.payable.base.BudgNoManagerMapper">

	<resultMap id="budgNoManager" type="com.chd.hrp.acc.entity.payable.BudgNoManager">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="table_code" column="table_code" />
		<result property="year" column="year" />
		<result property="month" column="month" />
		<result property="table_name" column="table_name" />
		<result property="prefixe" column="prefixe" />
		<result property="max_no" column="max_no" />
		<result property="seq_no" column="seq_no" />
		<result property="wxb_code" column="wxb_code" />
		<result property="spell_code" column="spell_code" />
	</resultMap>

	<insert id="addBudgNoManager" useGeneratedKeys="true">

		INSERT INTO budg_no_manage (
			group_id,
			hos_id,
			copy_code,
			table_code,
			year,
			month,
			table_name,
			prefixe,
			max_no,
			seq_no
		) VALUES (
			#{group_id, jdbcType=INTEGER},
			#{hos_id, jdbcType=INTEGER},
			#{copy_code, jdbcType=VARCHAR},
			#{table_code, jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{month,jdbcType=VARCHAR},
			#{table_name, jdbcType=VARCHAR},
			#{prefixe, jdbcType=VARCHAR},
			#{max_no, jdbcType=INTEGER},
			#{seq_no, jdbcType=INTEGER} 
		)
	</insert>

	<insert id="addBatchBudgNoManager" parameterType="java.util.List">

		INSERT INTO budg_no_manage (
		table_code
		,
		group_id
		,
		hos_id
		,
		copy_code
		,

		table_name
		,
		prefixe
		,
		seq_no
		,
		year
		,
		month
		) select t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.table_code} ,
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.copy_code} ,
			#{item.table_name} ,
			#{item.prefixe} ,
			#{item.seq_no},
			#{item.year},
			#{item.month}
		</foreach>
		)t
	</insert>

	<update id="updateBudgNoManager" parameterType="java.util.Map">

		UPDATE budg_no_manage SET
		seq_no = #{seq_no,jdbcType=INTEGER}
		WHERE
		group_id = #{group_id,jdbcType=INTEGER}
		and
		hos_id = #{hos_id,jdbcType=INTEGER}
		and
		copy_code = #{copy_code,jdbcType=VARCHAR}
		and
		table_code = #{table_code,jdbcType=VARCHAR}


	</update>
	<update id="updateBatchBudgNoManager" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE budg_no_manage SET
			seq_no =
			#{item.seq_no,jdbcType=INTEGER}
			WHERE
			group_id = #{item.item.group_id,jdbcType=INTEGER}
			and
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			and
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			and
			table_code = #{item.table_code,jdbcType=VARCHAR}

		</foreach>
	</update>

	<delete id="deleteBudgNoManager" parameterType="java.util.Map">

		DELETE FROM budg_no_manage WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		table_code = #{table_code}

	</delete>
	<delete id="deleteBatchBudgNoManager" parameterType="java.util.List">
		DELETE FROM budg_no_manage WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			table_code = #{item.table_code}

		</foreach>

	</delete>
	<select id="queryBudgNoManager" parameterType="java.util.Map"
		resultMap="budgNoManager">

		SELECT
		group_id,
		hos_id,
		copy_code,
		table_name,
		table_code,
		prefixe,
		seq_no,
		max_no,
		year,
		month
		FROM budg_no_manage
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="table_name != null and table_name != ''">
				and table_name = #{table_name}
			</if>
			<if test="table_code != null and table_code != ''">
				and table_code = #{table_code}
			</if>
			<if test="prefixe != null and prefixe != ''">
				and prefixe = #{prefixe}
			</if>
		</where>
		order by group_id asc
	</select>
	<select id="queryBudgNoManagerByCode" resultType="com.chd.hrp.acc.entity.payable.BudgNoManager"
		parameterType="string">

		SELECT
		group_id,
		hos_id,
		copy_code,
		table_code,
		table_name,
		prefixe,
		seq_no,
		max_no,
		year,
		month
		FROM budg_no_manage
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code}
		AND table_code = #{table_code}
		and year = #{year,jdbcType=VARCHAR}
		<if test="month != null and month != '' ">
		and month = #{month,jdbcType=VARCHAR}
		</if>
	</select>
	<update id="updateBudgNoManagerMaxNo" parameterType="java.util.Map">

		update budg_no_manage set
		max_no = max_no+1
		where
		group_id = #{group_id,jdbcType=INTEGER}
		and
		hos_id = #{hos_id,jdbcType=INTEGER}
		and
		copy_code = #{copy_code,jdbcType=VARCHAR}
		and
		table_code = #{table_code,jdbcType=VARCHAR}
		
		<if test="year != null and year != '' ">
			and year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="month != null and month != '' ">
			and month = #{month,jdbcType=VARCHAR}
		</if>
		
	</update>
	
	<insert id="addBudgProjSetUpApplyCode" parameterType="java.util.Map">
		insert into budg_no_manage
			  (group_id,
			   hos_id,
			   copy_code,
			   table_code,
			   table_name,
			   prefixe,
			   year,
			   seq_no,
			   max_no
				)
			values
			  (#{group_id},
			   #{hos_id},
			   #{copy_code},
			   #{table_code},
			   #{table_name},
			   #{prefixe},
			   #{year},
			   #{seq_no},
			   #{max_no}
			   )
	</insert>
	
	<select id="queryBudgProjSetUpApplyCode" parameterType="java.util.Map" resultMap="budgNoManager">
		select group_id,
				hos_id,
				copy_code,
				table_code,
				table_name,
				prefixe,
				seq_no,
				max_no,
				year,
				month
		  from budg_no_manage 
		 where group_id = #{group_id,jdbcType=INTEGER}
		      and hos_id = #{hos_id,jdbcType=INTEGER}
		      and copy_code = #{copy_code,jdbcType=VARCHAR}
		      and table_code=#{table_code,jdbcType=VARCHAR}
		      and year=#{year}
	</select>
	
	<update id="updateBudgProjSetUpApplyCode" parameterType="java.util.Map" >
		update budg_no_manage
		   set   max_no = #{max_no}
		 where group_id = #{group_id}
		      and hos_id = #{hos_id}
		      and copy_code = #{copy_code}
		      and table_code=#{table_code}
	</update>
	
<!-- 	是否已存在最大流水号 -->
	<select id="queryIsExists" resultType="java.lang.Integer" parameterType="java.util.Map">

		SELECT
			count(max_no)
		FROM budg_no_manage
		WHERE
			group_id = #{group_id} 
			AND hos_id = #{hos_id} 
			AND copy_code = #{copy_code}
			AND table_code = #{table_code}
			<if test="year != null and year != '' ">
				and year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="month != null and month != '' ">
				and month = #{month,jdbcType=VARCHAR}
			</if>
		
	</select>
	
<!-- 	获取已存在最大流水号 -->
	<select id="queryMaxCode" resultType="java.lang.String" parameterType="java.util.Map">

		SELECT
			max_no
		FROM budg_no_manage
		WHERE
			group_id = #{group_id} 
			AND hos_id = #{hos_id} 
			AND copy_code = #{copy_code}
			AND table_code = #{table_code}
			<if test="year != null and year != '' ">
				and year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="month != null and month != '' ">
				and month = #{month,jdbcType=VARCHAR}
			</if>
		
	</select>
	
</mapper>

