<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiDeptKindMapper">

	<resultMap id="PrmDeptKind" type="com.chd.hrp.hpm.entity.AphiDeptKind">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="dept_kind_code" column="dept_kind_code" />
		<result property="dept_kind_name" column="dept_kind_name" />
		<result property="dept_kind_note" column="dept_kind_note" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="is_stop" column="is_stop" />
	</resultMap>

	<insert id="addPrmDeptKind" useGeneratedKeys="true">

		INSERT INTO aphi_DEPT_KIND (
		group_id
		,
		hos_id
		,
		copy_code
		,
		dept_kind_code
		,
		dept_kind_name
		,
		dept_kind_note
		,
		spell_code
		,
		wbx_code
		,
		is_stop

		) VALUES (
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{dept_kind_code} ,
		#{dept_kind_name} ,
		#{dept_kind_note} ,
		#{spell_code} ,
		#{wbx_code} ,
		#{is_stop}
		)

	</insert>
	<insert id="addBatchPrmDeptKind" parameterType="java.util.List">

		INSERT INTO aphi_DEPT_KIND (
		group_id
		,
		hos_id
		,
		copy_code
		,
		dept_kind_code
		,
		dept_kind_name
		,
		dept_kind_note
		,
		spell_code
		,
		wbx_code
		,
		is_stop

		) select aphi_DEPT_KIND_SEQ.nextval , t.* from(
		
		<foreach collection="list" item="item" index="index" separator=" union all ">
			
			select
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.copy_code} ,
			#{item.dept_kind_code} ,
			#{item.dept_kind_name} ,
			#{item.dept_kind_note} ,
			#{item.spell_code} ,
			#{item.wbx_code} ,
			#{item.is_stop}

		</foreach>
		)t
		
	</insert>

	<update id="updatePrmDeptKind" parameterType="java.util.Map">

		UPDATE aphi_dept_kind SET
		dept_kind_name = #{dept_kind_name}
		,
		dept_kind_note =
		#{dept_kind_note}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_stop = #{is_stop}
		WHERE
		group_id = #{group_id}
		and
		hos_id = #{hos_id}
		and
		copy_code = #{copy_code}
		and
		dept_kind_code = #{dept_kind_code}


	</update>
	
	
	<update id="updateBatchPrmDeptKind" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
			UPDATE aphi_dept_kind SET
			dept_kind_name =
			#{dept_kind_name}
			,
			dept_kind_note = #{dept_kind_note}
			,
			spell_code =
			#{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_stop = #{is_stop}

			WHERE
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			dept_kind_code = #{item.dept_kind_code}

		</foreach>
	</update>

	<delete id="deletePrmDeptKind" parameterType="java.util.Map">

		DELETE FROM aphi_dept_kind WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		dept_kind_code = #{dept_kind_code}

	</delete>
	
	
	<delete id="deleteBatchPrmDeptKind" parameterType="java.util.List">
		DELETE FROM aphi_dept_kind WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			dept_kind_code = #{item.dept_kind_code}

		</foreach>

	</delete>
	
	
	<select id="queryPrmDeptKind" parameterType="java.util.Map"
		resultMap="PrmDeptKind">

		SELECT
		group_id,
		hos_id,
		copy_code,
		dept_kind_code,
		dept_kind_name,
		dept_kind_note,
		spell_code,
		wbx_code,
		is_stop
		FROM aphi_DEPT_KIND
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="dept_kind_code != null and dept_kind_code != ''">
				AND dept_kind_code = #{dept_kind_code}
			</if>
			<if test="dept_kind_name != null and dept_kind_name != ''">
				AND dept_kind_name = #{dept_kind_name}
			</if>
			<if test="dept_kind_note != null and dept_kind_note != ''">
				AND dept_kind_note = #{dept_kind_note}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop}
			</if>
		</where>
		order by dept_kind_code asc
	</select>
	<select id="queryPrmDeptKindByCode" resultType="com.chd.hrp.hpm.entity.AphiDeptKind" parameterType="string">

		SELECT
		group_id,
		hos_id,
		copy_code,
		dept_kind_code,
		dept_kind_name,
		dept_kind_note,
		spell_code,
		wbx_code,
		is_stop
		FROM aphi_dept_kind
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		dept_kind_code = #{dept_kind_code}

	</select>

</mapper>

