<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiCostitemConfMapper">

	<resultMap id="costitemConf" type="com.chd.hrp.hpm.entity.AphiCostitemConf">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="cost_item_code" column="cost_item_code" />
		<result property="dept_name" column="dept_name" />
		<result property="cost_iitem_name" column="cost_iitem_name" />
		<result property="is_acc" column="is_acc" />
		<result property="is_prim_cost" column="is_prim_cost" />
		<result property="is_calc_cost" column="is_calc_cost" />
	</resultMap>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addCostitemConf" useGeneratedKeys="true">

		INSERT INTO aphi_costitem_conf (
		group_id,
		hos_id,
		copy_code ,
		dept_id,
		dept_no ,
		cost_item_code ,
		is_acc ,
		is_prim_cost ,
		is_calc_cost
		) VALUES (
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR} ,
		#{dept_id,jdbcType=NUMERIC} ,
		#{dept_no,jdbcType=NUMERIC} ,
		#{cost_item_code,jdbcType=VARCHAR} ,
		#{is_acc,jdbcType=NUMERIC} ,
		#{is_prim_cost,jdbcType=NUMERIC} ,
		#{is_calc_cost,jdbcType=NUMERIC}
		)

	</insert>
	<insert id="addBatchCostitemConf" parameterType="java.util.Map">
		INSERT INTO aphi_costitem_conf (
		group_id,
		hos_id,
		copy_code ,
		dept_id,
		dept_no ,
		cost_item_code ,
		is_acc ,
		is_prim_cost ,
		is_calc_cost
		)
		<foreach collection="list" item="item" index="index" separator=" union all ">
		select
			#{item.group_id,jdbcType=NUMERIC} ,
			#{item.hos_id,jdbcType=NUMERIC} ,
			#{item.copy_code,jdbcType=VARCHAR} ,
			#{item.dept_id,jdbcType=NUMERIC} ,
			#{item.dept_no,jdbcType=NUMERIC} ,
			#{item.cost_item_code,jdbcType=VARCHAR} ,
			#{item.is_acc,jdbcType=NUMERIC} ,
			#{item.is_prim_cost,jdbcType=NUMERIC} ,
			#{item.is_calc_cost,jdbcType=NUMERIC}
			from dual
		</foreach>
	</insert>
	<update id="updateCostitemConf" parameterType="java.util.Map">

		UPDATE aphi_costitem_conf SET
		is_acc = #{is_acc},
		is_prim_cost = #{is_prim_cost},
		is_calc_cost = #{is_calc_cost}
		WHERE group_id = #{group_id} 
		and hos_id = #{hos_id} 
		and copy_code = #{copy_code} 
		and dept_id = #{dept_id}
		AND cost_item_code = #{cost_item_code}
		AND dept_no = #{dept_no}

	</update>

	<delete id="deleteCostitemConf" parameterType="java.util.Map">

		DELETE FROM aphi_costitem_conf WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code}
		AND dept_id = #{dept_id} AND
		cost_item_code = #{cost_item_code}
		AND dept_no = #{dept_no}

	</delete>

	<delete id="clearCostitemConf" parameterType="java.util.Map">

		DELETE FROM APHI_COSTITEM_CONF

		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>

			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>

			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no}
			</if>

		</where>

	</delete>

	<select id="queryCostitemConfByCode" resultType="com.chd.hrp.hpm.entity.AphiCostitemConf"
		parameterType="string">

		SELECT a.group_id,
		a.hos_id,
		a.copy_code,
		a.dept_id,
		a.dept_no,
		b.dept_name,
		a.cost_item_code,
		c.cost_iitem_name,
		a.is_acc,
		a.is_prim_cost,
		a.is_calc_cost
		FROM APHI_COSTITEM_CONF a
		left join Aphi_Dept_Dict b
		on a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.dept_id = b.dept_id
		and a.dept_no = b.dept_no
		left join APHI_COSTITEM c
		on a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.copy_code = c.copy_code
		and a.cost_item_code = c.cost_item_code
		WHERE a.dept_id = b.dept_id
		and a.cost_item_code = c.cost_item_code
		and a.group_id = #{group_id} 
		and a.hos_id = #{hos_id} 
		and a.copy_code = #{copy_code}
		<if test="dept_no != null and dept_no != ''">
			AND a.dept_no = #{dept_no}
		</if>
		AND a.dept_id = #{dept_id} and
		a.cost_item_code = #{cost_item_code}
		<!-- SELECT <include refid="CostitemConf.columns" /> <![CDATA[ FROM aphi_costitem_conf 
			WHERE comp_code = #{comp_code} and copy_code = #{copy_code} and dept_code 
			= #{dept_code} and cost_item_code = #{cost_item_code} ]]> -->
		
	</select>
	<select id="queryCostitemConf" parameterType="java.util.Map"
		resultMap="costitemConf">


		SELECT a.group_id,
		a.hos_id,
		a.copy_code,
		a.dept_id,
		a.dept_no,
		b.dept_name,
		a.cost_item_code,
		c.cost_iitem_name,
		a.is_acc,
		a.is_prim_cost,
		a.is_calc_cost
		FROM APHI_COSTITEM_CONF a
		left join Aphi_Dept_Dict b
		on a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.dept_id = b.dept_id
		and a.dept_no = b.dept_no
		left join APHI_COSTITEM c
		on a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.copy_code = c.copy_code
		and a.cost_item_code = c.cost_item_code
		<where>
			a.dept_id = b.dept_id and a.cost_item_code = c.cost_item_code
			<if test="dept_kind_code != null and dept_kind_code != ''">
				AND b.dept_kind_code = #{dept_kind_code}
			</if>
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id}
			</if>

			<if test="hos_id != null and hos_id != ''">
				AND a.hos_id = #{hos_id}
			</if>

			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND a.dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND a.dept_no = #{dept_no}
			</if>
			<if test="cost_item_code != null and cost_item_code != ''">
				AND a.cost_item_code = #{cost_item_code}
			</if>
			<if test="is_acc != null and is_acc != ''">
				AND a.is_acc = #{is_acc}
			</if>
			<if test="is_prim_cost != null and is_prim_cost != ''">
				AND a.is_prim_cost = #{is_prim_cost}
			</if>
			<if test="is_calc_cost != null and is_calc_cost != ''">
				AND a.is_calc_cost = #{is_calc_cost}
			</if>
			and exists(
				select 1 from v_user_data_perm perm where perm.group_id = #{group_id}
				and perm.hos_id = #{hos_id} and perm.copy_code = #{copy_code}
				and perm.user_id = #{user_id}
				and perm.mod_code = '09' and perm.table_code = 'APHI_DEPT_DICT'
				and perm.perm_code = a.dept_id and perm.is_read = 1 and perm.is_write = 1
		)
		</where>
		order by a.group_id asc
	</select>

</mapper>

