<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiTargetMapper">
	
	<resultMap id="prmTarget" type="com.chd.hrp.hpm.entity.AphiTarget">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="target_code" column="target_code"/>
	<result property="nature_code" column="nature_code"/>
	<result property="target_name" column="target_name"/>
	<result property="target_nature" column="target_nature"/>
	<result property="target_note" column="target_note"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<insert id="addPrmTarget" useGeneratedKeys="true" >
	
		INSERT INTO aphi_TARGET (
		group_id
		,
		hos_id
		,
		copy_code
		,
		target_code
		,
		target_name
		,
		target_nature
		,
		target_note
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) VALUES (
			#{group_id,jdbcType=NUMERIC}		,
			#{hos_id,jdbcType=NUMERIC}		,
			#{copy_code,jdbcType=VARCHAR}		,
			#{target_code,jdbcType=VARCHAR}		,
			#{target_name,jdbcType=VARCHAR}		,
			#{target_nature,jdbcType=VARCHAR}		,
			#{target_note,jdbcType=VARCHAR}		,
			#{spell_code,jdbcType=VARCHAR}		,
			#{wbx_code,jdbcType=VARCHAR}		,
			#{is_stop,jdbcType=NUMERIC}		
		)
	
	</insert>
	<insert id="addBatchPrmTarget" parameterType="java.util.List" >
	
		INSERT INTO aphi_TARGET (
		group_id
		,
		hos_id
		,
		copy_code
		,
		target_code
		,
		target_name
		,
		target_nature
		,
		target_note
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=NUMERIC}			,
				#{item.hos_id,jdbcType=NUMERIC}			,
				#{item.copy_code,jdbcType=VARCHAR}			,
				#{item.target_code,jdbcType=VARCHAR}			,
				#{item.target_name,jdbcType=VARCHAR}			,
				#{item.target_nature,jdbcType=VARCHAR}			,
				#{item.target_note,jdbcType=VARCHAR}			,
				#{item.spell_code,jdbcType=VARCHAR}			,
				#{item.wbx_code,jdbcType=VARCHAR}			,
				#{item.is_stop,jdbcType=NUMERIC}	
			from dual		
		</foreach>
		)t
	</insert>
	
	<update id="updatePrmTarget" parameterType="java.util.Map">
	
		UPDATE aphi_target SET
		
		target_name = #{target_name}
		,
		target_nature = #{target_nature}
		,
		target_note = #{target_note}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_stop = #{is_stop}
		
		WHERE 
		group_id = #{group_id}
		 and 
		hos_id = #{hos_id}
		 and 
		copy_code = #{copy_code}
		 and 
		target_code = #{target_code}
		
	
	</update>
	<update id="updateBatchPrmTarget" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE aphi_target SET
			target_name = #{target_name}
			,
			target_nature = #{target_nature}
			,
			target_note = #{target_note}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_stop = #{is_stop}
			
			WHERE 
			group_id = #{item.group_id}
			 and 
			hos_id = #{item.hos_id}
			 and 
			copy_code = #{item.copy_code}
			 and 
			target_code = #{item.target_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmTarget" parameterType="java.util.Map">
	
		DELETE FROM aphi_target WHERE
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		target_code = #{target_code} 
	
	</delete>
	<delete id="deleteBatchPrmTarget" parameterType="java.util.List">
		DELETE FROM aphi_target WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id}
				 and 
				hos_id = #{item.hos_id}
				 and 
				copy_code = #{item.copy_code}
				 and 
				target_code = #{item.target_code}
				
			</foreach>
	
	</delete>
	<select id="queryPrmTarget" parameterType="java.util.Map" resultMap="prmTarget" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		target_code,
		target_name,
		target_nature,
		target_note,
		spell_code,
		wbx_code,
		is_stop
		FROM aphi_TARGET 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="target_code != null and target_code != ''">
		AND target_code = #{target_code}
		</if>
		<if test="target_name != null and target_name != ''">
		AND target_name like '${target_name}%'
		</if>
		<if test="target_nature != null and target_nature != ''">
		AND target_nature = #{target_nature}
		</if>
		<if test="target_note != null and target_note != ''">
		AND target_note = #{target_note}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		</where>   
		order by target_code asc
	</select>
	
	<select id="queryPrmTargetNature" parameterType="java.util.Map" resultMap="prmTarget" >
	
		SELECT 
	        pt.group_id,
	        pt.hos_id,
	        pt.copy_code,
		    pt.target_code,
		    pt.target_name,
		    ptn.nature_name target_nature,
		    pt.target_note,
		    pt.spell_code,
		    pt.wbx_code,
		    pt.is_stop
    	FROM aphi_TARGET pt
    	LEFT JOIN APHI_TARGET_NATURE ptn 
    	ON 
	     	ptn.group_id = pt.group_id 
	     	AND ptn.hos_id = pt.hos_id 
	     	AND ptn.copy_code = pt.copy_code 
	    	AND ptn.nature_code = pt.target_nature
	 	<where>                     
			<if test="group_id != null and group_id != ''">
			AND pt.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND pt.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND pt.copy_code = #{copy_code}
			</if>
			<if test="target_code != null and target_code != ''">
			AND pt.target_code = #{target_code}
			</if>
			<if test="target_name != null and target_name != ''">
			AND pt.target_name = #{target_name}
			</if>
			<if test="target_nature != null and target_nature != ''">
			AND pt.target_nature = #{target_nature}
			</if>
			<if test="target_note != null and target_note != ''">
			AND pt.target_note = #{target_note}
			</if>
			<if test="spell_code != null and spell_code != ''">
			AND pt.spell_code = #{spell_code}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
			AND pt.wbx_code = #{wbx_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
			AND pt.is_stop = #{is_stop}
			</if>
			
			<if test="is_method != null and is_method != '' ">
				<if test="is_method == 0">
					AND pt.target_code NOT IN(
		          		SELECT 
		          			target_code 
		          		FROM APHI_TARGET_METHOD
		          		WHERE 
		          			group_id = #{group_id}
		          			AND hos_id = #{hos_id}
		          			AND copy_code = #{copy_code}
		      		)
				</if>
				
				<if test="is_method == 1">
					AND pt.target_code IN(
		          		SELECT 
		          			target_code 
		          		FROM APHI_TARGET_METHOD
		          		WHERE 
		          			group_id = #{group_id}
		          			AND hos_id = #{hos_id}
		          			AND copy_code = #{copy_code}
		      		)
				</if>
			</if>
		</where>   
		ORDER BY pt.target_code ASC
	</select>
	<select id="queryPrmTargetByCode" resultType="com.chd.hrp.hpm.entity.AphiTarget" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		target_code,
		target_name,
		target_nature,
		target_note,
		spell_code,
		wbx_code,
		is_stop
		FROM aphi_target 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		target_code = #{target_code} 
	
	</select>
    
    
    <select id="queryPrmTargetNatureGetByCode" resultType="com.chd.hrp.hpm.entity.AphiTarget" parameterType="string" >
	
				  SELECT 
        pt.group_id,
        pt.hos_id,
        pt.copy_code,
	    pt.target_code,
	    pt.target_name,
	    ptn.nature_code target_nature_code,
	    ptn.nature_name target_nature,
	    pt.target_note,
	    pt.spell_code,
	    pt.wbx_code,
	    pt.is_stop
    FROM aphi_TARGET pt
    left join aphi_TARGET_NATURE ptn on
     ptn.group_id = pt.group_id 
     and ptn.hos_id = pt.hos_id 
     and ptn.copy_code = pt.copy_code 
    and ptn.nature_code = pt.target_nature
    
		WHERE 
		pt.group_id = #{group_id}   and 
		pt.hos_id = #{hos_id}   and 
		pt.copy_code = #{copy_code}   and 
		pt.target_code = #{target_code} 
	
	</select>
    <select id="queryPrmTargetNatureDanbiao" parameterType="java.util.Map" resultMap="prmTarget" >
	
		 SELECT  
		    group_id,
             hos_id,
            copy_code,
            nature_code,
            nature_name,
            spell_code,
            wbx_code,
            is_stop
        FROM aphi_target_nature 
            <where>                     
			  	<if test="group_id != null and group_id != ''">
					AND group_id = #{group_id}
			 	</if>
				<if test="hos_id != null and hos_id != ''">
					AND hos_id = #{hos_id}
				</if>
				<if test="copy_code != null and copy_code != ''">
					AND  copy_code = #{copy_code}
				</if>
			    <if test="nature_code != null and nature_code != ''">
                    AND nature_code = #{nature_code}
               </if>
			    <if test="nature_name != null and nature_name != '%%'">
                    AND nature_name like #{nature_name}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
        </where>   
				order by nature_code asc
	</select>
	
	
	<select id="queryPrmTargetNatureCreate" parameterType="java.util.Map" resultMap="prmTarget">
	  
	  	select   
	  	
	  	    prm.target_code,
	  	    
	  	    prm.target_name
	  	    
	  	 from aphi_TARGET prm
	  	 
         LEFT JOIN aphi_TARGET_METHOD ptm on 
         prm.group_id = ptm.group_id
         and prm.hos_id = ptm.hos_id
         and prm.copy_code = ptm.copy_code
         and prm.target_code = ptm.target_code   
         
            where ptm.method_code  in ('01')
            
            and TARGET_NATURE = #{target_nature}
	
	</select>
	
    	<select id="queryPrmTargetNatureCreateCalculate" parameterType="java.util.Map" resultMap="prmTarget">
	  
	  	select   
	  	
	  	    prm.target_code,
	  	    
	  	    prm.target_name
	  	    
	  	 from aphi_TARGET prm
	  	 
         LEFT JOIN aphi_TARGET_METHOD ptm on 
        	 prm.group_id = ptm.group_id
         and prm.hos_id = ptm.hos_id
         and prm.copy_code = ptm.copy_code
         and prm.target_code = ptm.target_code   
            where ptm.method_code in ('02','03')
            
            and TARGET_NATURE = #{target_nature}
	
	</select>
	
	
	<select id="queryPrmTargetByName" resultType="com.chd.hrp.hpm.entity.AphiTarget" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		target_code,
		target_name,
		target_nature,
		target_note,
		spell_code,
		wbx_code,
		is_stop
		FROM aphi_target 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		target_name = #{target_name} 
	
	</select>
</mapper>

