<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiTargetMethodParaMapper">
	
	<resultMap id="prmTargetMethodPara" type="com.chd.hrp.hpm.entity.AphiTargetMethodPara">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="method_code" column="method_code"/>
	<result property="method_name" column="method_name"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<insert id="addPrmTargetMethodPara" useGeneratedKeys="true" >
	
		INSERT INTO aphi_TARGET_METHOD_PARA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		method_code
		,
		method_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{method_code}		,
#{method_name}		,
#{spell_code}		,
#{wbx_code}		,
#{is_stop}		
		)
	
	</insert>
	<insert id="addPrmTargetMethod" useGeneratedKeys="true" >
	
		INSERT INTO aphi_TARGET_METHOD (
		group_id
		,
		hos_id
		,
		copy_code
		,
		target_code
		,
		fun_para_code
		,
		method_code
		,
		formula_code
		,
		fun_code
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{target_code}		,
#{fun_para_code}		,
#{method_code}		,
#{formula_code}		,
#{fun_code}		
		)
	
	</insert>
	
	<insert id="addBatchPrmTargetMethodPara" parameterType="java.util.List" >
	
		INSERT INTO aphi_TARGET_METHOD_PARA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		method_code
		,
		method_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) select aphi_TARGET_METHOD_PARA_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.group_id}			,
#{item.hos_id}			,
#{item.copy_code}			,
#{item.method_code}			,
#{item.method_name}			,
#{item.spell_code}			,
#{item.wbx_code}			,
#{item.is_stop}			
		
		</foreach>
		)t
	</insert>
	
	<update id="updatePrmTargetMethodPara" parameterType="java.util.Map">
	
		UPDATE aphi_target_method_para SET
		method_name = #{method_name}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_stop = #{is_stop}
		
		WHERE 
		group_id = #{group_id}
		 and 
		hos_id = #{hos_id}
		 and 
		copy_code = #{copy_code}
		 and 
		method_code = #{method_code}
		
	
	</update>
	<update id="updateBatchPrmTargetMethodPara" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE aphi_target_method_para SET
			method_name = #{method_name}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_stop = #{is_stop}
			
			WHERE 
			group_id = #{item.group_id}
			 and 
			hos_id = #{item.hos_id}
			 and 
			copy_code = #{item.copy_code}
			 and 
			method_code = #{item.method_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmTargetMethodPara" parameterType="java.util.Map">
	
		DELETE FROM aphi_target_method_para WHERE
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		method_code = #{method_code} 
	
	</delete>
	<delete id="deleteBatchPrmTargetMethodPara" parameterType="java.util.List">
		DELETE FROM aphi_target_method_para WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id}
				 and 
				hos_id = #{item.hos_id}
				 and 
				copy_code = #{item.copy_code}
				 and 
				method_code = #{item.method_code}
				
			</foreach>
	
	</delete>
	<select id="queryPrmTargetMethodPara" parameterType="java.util.Map" resultMap="prmTargetMethodPara" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		method_code,
		method_name,
		spell_code,
		wbx_code,
		is_stop
		FROM aphi_TARGET_METHOD_PARA 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="method_code != null and method_code != ''">
		AND method_code = #{method_code}
		</if>
		<if test="method_name != null and method_name != ''">
		AND method_name = #{method_name}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryPrmTargetMethodParaByCode" resultType="com.chd.hrp.prm.entity.PrmTargetMethodPara" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		method_code,
		method_name,
		spell_code,
		wbx_code,
		is_stop
		FROM aphi_target_method_para 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		method_code = #{method_code} 
	
	</select>


</mapper>

