<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiDeptDictMapper">
	
	<resultMap id="PrmDeptDict" type="com.chd.hrp.hpm.entity.AphiDeptDict">
	<result property="dept_no" column="dept_no"/>
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="dept_note" column="dept_note"/>
	<result property="dept_kind_code" column="dept_kind_code"/>
	<result property="nature_code" column="nature_code"/>
	<result property="is_avg" column="is_avg"/>
	<result property="user_code" column="user_code"/>
	<result property="create_date" column="create_date"/>
	<result property="note" column="note"/>
	<result property="is_stop" column="is_stop"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	</resultMap>
	
	<insert id="addPrmDeptDict" useGeneratedKeys="true" >
	
		INSERT INTO aphi_DEPT_DICT (
		dept_no
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		dept_id
		,
		dept_code
		,
		dept_name
		,
		dept_note
		,
		dept_kind_code
		,
		nature_code
		,
		is_avg
		,
		user_code
		,
		create_date
		,
		note
		,
		is_stop
		,
		spell_code
		,
		wbx_code
		
		) VALUES (
#{dept_no}		,
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{dept_id},
#{dept_code}		,
#{dept_name}		,
#{dept_note}		,
#{dept_kind_code}		,
#{nature_code}		,
#{is_avg}		,
#{user_code}		,
#{create_date}		,
#{note}		,
#{is_stop}		,
#{spell_code}		,
#{wbx_code}		
		)
	
	</insert>
	<insert id="addBatchAphiDeptDict" parameterType="java.util.List" >
	
		INSERT INTO aphi_DEPT_DICT (
		dept_no
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		dept_id
		,
		dept_code
		,
		dept_name
		,
		dept_note
		,
		dept_kind_code
		,
		nature_code
		,
		is_avg
		,
		user_code
		,
		create_date
		,
		note
		,
		is_stop
		,
		spell_code
		,
		wbx_code
		
		)  
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.dept_no}			,
#{item.group_id}			,
#{item.hos_id}			,
#{item.copy_code}			,
#{item.dept_id}			,
#{item.dept_code}			,
#{item.dept_name}			,
#{item.dept_note}			,
#{item.dept_kind_code}			,
#{item.nature_code}			,
#{item.is_avg}			,
#{item.user_code}			,
#{item.create_date}			,
#{item.note}			,
#{item.is_stop}			,
#{item.spell_code}			,
#{item.wbx_code}			
		from dual
		</foreach>
	 
	</insert>
	
	<update id="updatePrmDeptDict" parameterType="java.util.Map">
	
		UPDATE aphi_dept_dict SET
		dept_code = #{dept_code}
		,
		dept_name = #{dept_name}
		,
		dept_note = #{dept_note}
		,
		dept_kind_code = #{dept_kind_code}
		,
		nature_code = #{nature_code}
		,
		is_avg = #{is_avg}
		,
		user_code = #{user_code}
		,
		create_date = #{create_date}
		,
		note = #{note}
		,
		is_stop = #{is_stop}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		
		WHERE 
		
		group_id = #{group_id}
		 and 
		hos_id = #{hos_id}
		 and 
		copy_code = #{copy_code}
		 and 
		dept_id = #{dept_id}
		
		<if test="dept_no != null and dept_no != '' ">
			AND dept_no = #{dept_no}
		</if>
		
		<!-- 用于科室信息变更时,不保留历史记录的情况下,只更改非停用状态的数据 -->
		<!-- <if test="save_history == 0">
			AND is_stop = '0'
		</if> -->
	</update>
	<update id="updateBatchPrmDeptDict" parameterType="java.util.List">
	<!-- 
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE aphi_dept_dict SET
			dept_code = #{dept_code}
			,
			dept_name = #{dept_name}
			,
			dept_note = #{dept_note}
			,
			dept_kind_code = #{dept_kind_code}
			,
			nature_code = #{nature_code}
			,
			is_avg = #{is_avg}
			,
			user_code = #{user_code}
			,
			create_date = #{create_date}
			,
			note = #{note}
			,
			is_stop = #{is_stop}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			
			WHERE 
			dept_no = #{item.dept_no}
			 and 
			group_id = #{item.group_id}
			 and 
			hos_id = #{item.hos_id}
			 and 
			copy_code = #{item.copy_code}
			 and 
			dept_id = #{item.dept_id}
			
		</foreach>
		 -->
		 
		 <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE aphi_dept_dict 
			<trim prefix="SET"  suffixOverrides=","> 
				<if test="item.dept_code != null and item.dept_code != ''">
					dept_code = #{item.dept_code},
				</if>
				<if test="item.dept_name != null and item.dept_name != ''">
					dept_name = #{item.dept_name},
				</if>
				<if test="item.dept_note != null and item.dept_note != ''">
					dept_note = #{item.dept_note},
				</if>
				<if test="item.dept_kind_code != null and item.dept_kind_code != ''">
					dept_kind_code = #{item.dept_kind_code},
				</if>
				<if test="item.nature_code != null and item.nature_code != ''">
					nature_code = #{item.nature_code},
				</if>
				
				<if test="item.spell_code != null and item.spell_code != ''">
					spell_code = #{item.spell_code},
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					wbx_code = #{item.wbx_code},
				</if>
				<if test="item.is_avg != null and item.is_avg != ''">
					is_avg = #{item.is_avg},
				</if>
				<if test="item.is_stop != null and item.is_stop != ''">
					is_stop = #{item.is_stop},
				</if>
				<if test="item.user_code != null and item.user_code != ''">
					user_code = #{item.user_code},
				</if>
				<if test="item.create_date != null and item.create_date != ''">
					create_date = #{item.create_date},
				</if>
				<if test="item.note != null and item.note != ''">
					note = #{item.note},
				</if>
				
				
			</trim>
		<where>                     
		<if test="item.group_id != null and item.group_id != ''">
		AND group_id = #{item.group_id}
		</if>
		<if test="item.hos_id != null and item.hos_id != ''">
		AND hos_id = #{item.hos_id}
		</if>
		<if test="item.copy_code != null and item.copy_code != ''">
		AND copy_code = #{item.copy_code}
		</if>
		<if test="item.acc_year != null and item.acc_year != ''">
		AND acc_year = #{item.acc_year}
		</if>
		<if test="item.dept_id != null and item.dept_id != ''">
		AND dept_id = #{item.dept_id}
		</if> 
		<if test="item.dept_no != null and item.dept_no != ''">
		AND dept_no = #{item.dept_no}
		</if> 
		</where>
		</foreach>
	</update>
	
	<delete id="deletePrmDeptDict" parameterType="java.util.Map">
	
		DELETE FROM aphi_dept_dict WHERE
		dept_no = #{dept_no}   and 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		dept_id = #{dept_id} 
	
	</delete>
	<delete id="deleteBatchPrmDeptDict" parameterType="java.util.List">
		DELETE FROM aphi_dept_dict WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				dept_no = #{item.dept_no}
				 and 
				group_id = #{item.group_id}
				 and 
				hos_id = #{item.hos_id}
				 and 
				copy_code = #{item.copy_code}
				 and 
				dept_id = #{item.dept_id}
				
			</foreach>
	
	</delete>
	<select id="queryPrmDeptDict" parameterType="java.util.Map" resultMap="PrmDeptDict" >
	
		SELECT 
		dept_no,
		group_id,
		hos_id,
		copy_code,
		dept_id,
		dept_code,
		dept_name,
		dept_note,
		dept_kind_code,
		nature_code,
		is_avg,
		user_code,
		create_date,
		note,
		is_stop,
		spell_code,
		wbx_code
		FROM aphi_DEPT_DICT 
		<where>                     
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id}
		</if>
		<if test="dept_code != null and dept_code != ''">
		AND dept_code = #{dept_code}
		</if>
		<if test="dept_name != null and dept_name != ''">
		AND dept_name = #{dept_name}
		</if>
		<if test="dept_note != null and dept_note != ''">
		AND dept_note = #{dept_note}
		</if>
		<if test="dept_kind_code != null and dept_kind_code != '' and dept_kind_code != 'null'">
		AND dept_kind_code = #{dept_kind_code}
		</if>
		<if test="nature_code != null and nature_code != ''">
		AND nature_code = #{nature_code}
		</if>
		<if test="is_avg != null and is_avg != ''">
		AND is_avg = #{is_avg}
		</if>
		<if test="user_code != null and user_code != ''">
		AND user_code = #{user_code}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = dept_id and a.is_read = 1 and a.is_write = 1
			)
		</where>   
		order by dept_no asc
	</select>
	<select id="queryPrmDeptDictByCode" resultType="com.chd.hrp.hpm.entity.AphiDeptDict" parameterType="string" >
	
		SELECT 
		dept_no,
		group_id,
		hos_id,
		copy_code,
		dept_id,
		dept_code,
		dept_name,
		dept_note,
		dept_kind_code,
		nature_code,
		is_avg,
		user_code,
		create_date,
		note,
		is_stop,
		spell_code,
		wbx_code
		FROM aphi_dept_dict 
		WHERE 
		dept_no = #{dept_no}   and 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		dept_id = #{dept_id} 
		and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = dept_id and a.is_read = 1 and a.is_write = 1
			)
	</select>
	
	<!-- 查询序列 --> 
	<select id="queryAphiDeptDictSeqNextval" resultType="Integer" flushCache="true">
		SELECT aphi_dept_dcit_seq.nextval FROM DUAL
	</select>
	
	<!-- 修改停用状态 -->
	<update id="updateAphiDeptDictIsStopState" parameterType="java.util.Map">
		UPDATE APHI_DEPT_DICT
		SET is_stop = 1
		WHERE
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and dept_id = #{dept_id}
	</update>
	
	<!-- 查询当前科室最大变更号 -->
	<select id="queryAphiDeptDictMaxNo" parameterType="java.util.Map" resultType="Integer">
		SELECT 
			MAX(dict.dept_no) FROM APHI_DEPT_DICT dict
		WHERE
	      dict.group_id = #{group_id}
	      AND dict.hos_id = #{hos_id}
	      AND dict.copy_code = #{copy_code}
	      AND dict.dept_id = #{dept_id}
	</select>
	
	<select id="queryAphiDeptDictExits" parameterType="java.util.Map" resultType="com.chd.hrp.hpm.entity.AphiDeptDict">
		SELECT 
			dept_no,
			group_id,
			hos_id,
			copy_code,
			dept_id,
			dept_code,
			dept_name,
			dept_note,
			dept_kind_code,
			nature_code,
			is_avg,
			user_code,
			create_date,
			note,
			is_stop,
			spell_code,
			wbx_code
			FROM aphi_dept_dict 
		WHERE 
			group_id = #{group_id}   and 
			hos_id = #{hos_id}   and 
			copy_code = #{copy_code}   and 
			dept_code = #{dept_code} and
			is_stop = '0'
	</select>
	
	<!-- 科室与收入项目关系配置表 -->
	<select id="queryDeptIncomeAdd" parameterType="java.util.Map" resultMap="PrmDeptDict">
	
		SELECT 
		dept_no,
		group_id,
		hos_id,
		copy_code,
		dept_id,
		dept_code,
		dept_name,
		dept_note,
		dept_kind_code,
		nature_code,
		is_avg,
		user_code,
		create_date,
		note,
		is_stop,
		spell_code,
		wbx_code
		FROM aphi_DEPT_DICT 
		<where>                     
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id}
		</if>
		<if test="dept_code != null and dept_code != ''">
		AND dept_code = #{dept_code}
		</if>
		<if test="dept_name != null and dept_name != ''">
		AND dept_name = #{dept_name}
		</if>
		<if test="dept_note != null and dept_note != ''">
		AND dept_note = #{dept_note}
		</if>
		<if test="dept_kind_code != null and dept_kind_code != '' and dept_kind_code != 'null'">
		AND dept_kind_code = #{dept_kind_code}
		</if>
		<if test="nature_code != null and nature_code != ''">
		AND nature_code = #{nature_code}
		</if>
		<if test="is_avg != null and is_avg != ''">
		AND is_avg = #{is_avg}
		</if>
		<if test="user_code != null and user_code != ''">
		AND user_code = #{user_code}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		</where>   
		order by dept_no asc
	</select>
</mapper>

