<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiSelectDictMapper">

<resultMap type="java.util.Map" id="hpmSelect">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
	<!-- 奖金项目下拉框 -->
	<select id="queryItemAllDict" resultMap="hpmSelect" >
		select 	item_code id,	item_name text from	aphi_item 
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="app_mod_code != null and app_mod_code != ''">
				AND app_mod_code in (${app_mod_code})
			</if>
			<if test="key != null and key != ''">  
				AND (item_code like '${key}%'
				or item_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
			<!-- and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_ITEM'
				and a.perm_code = item_code and a.is_read = 1 and a.is_write = 1
			) -->
			and exists (select 1 from v_user_data_perm a where a.group_id = #{group_id,jdbcType = INTEGER}
	        and a.hos_id = #{hos_id,jdbcType = INTEGER} and a.copy_code = #{copy_code,jdbcType = VARCHAR}
	        and a.user_id = #{user_id,jdbcType = INTEGER}
	        and a.mod_code = '09' and a.table_code = 'APHI_ITEM'
	        and a.perm_code = item_code and a.is_read = 1 and a.is_write = 1)
		</where>
		order by item_code
	</select>
	
	<select id="queryAppModDict" resultMap="hpmSelect" >
		select 	app_mod_code id,	app_mod_name text from	aphi_app_mod  
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (app_mod_code like '${key}%'
				or app_mod_name like '${key}%')
			</if>
		</where>
		order by app_mod_code
	</select>
	
	<select id="queryDeptKindDict" resultMap="hpmSelect" >
		select 	dept_kind_code id,	dept_kind_name text from	aphi_dept_kind  
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (dept_kind_code like '${key}%'
				or dept_kind_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where>
		 order by dept_kind_code
	</select>
	
	<select id="queryDeptNatureDict" resultMap="hpmSelect" >
		select 	nature_code id,	nature_name text from	aphi_dept_nature 
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (nature_code like '${key}%'
				or nature_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by nature_code
	</select>
	
	<select id="queryDeptDict" resultMap="hpmSelect" >
		
		<if test="para_value == 0">
			select 	
				dept_id || ',' || dept_no id,	
				dept_code || ' ' || dept_name text 
			from	aphi_dept_dict  
			<where>
				is_stop=0
				<if test="group_id != null and group_id != ''">
					AND group_id = #{group_id}
				</if>
				<if test="hos_id != null and hos_id != ''">
					and hos_id = #{hos_id} 
				</if>
				<if test="copy_code != null and copy_code != ''">
					AND copy_code = #{copy_code}
				</if>
				<if test="nature_code != null and nature_code != ''">
					AND nature_code in (${nature_code})
				</if>
				<if test="dept_kind_code != null and dept_kind_code != ''">
					AND dept_kind_code in (${dept_kind_code})
				</if>
				
				<if test="key != null and key != ''">
					AND (dept_code like '${key}%'
					or dept_name like '${key}%'
					or SPELL_CODE like '${key}%'
					or wbx_code like '${key}%')
				</if>
			</where> 
			order by dept_code
		</if>
	
	
		<if test="para_value == 1">
			select 	
				dept_id || ',' || dept_no id,	
				dept_code || ' ' || dept_name text 
			from	hos_dept_dict  
			<where>
				is_stop=0
				<if test="group_id != null and group_id != ''">
					AND group_id = #{group_id}
				</if>
				<if test="hos_id != null and hos_id != ''">
					and hos_id = #{hos_id} 
				</if>
				<if test="nature_code != null and nature_code != ''">
					AND nature_code in (${nature_code})
				</if>
				<if test="dept_kind_code != null and dept_kind_code != ''">
					AND dept_kind_code in (${dept_kind_code})
				</if>
				
				<if test="key != null and key != ''">
					AND (dept_code like '${key}%'
					or dept_name like '${key}%'
					or SPELL_CODE like '${key}%'
					or wbx_code like '${key}%')
				</if>
			</where> 
			order by dept_code
		</if>
	</select>
	
	<select id="queryDeptDictByPerm" resultMap="hpmSelect" >
		select 	
			dept_id || ',' || dept_no id,	
			dept_code || ' ' || dept_name text 
		from	aphi_dept_dict  
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="nature_code != null and nature_code != ''">
				AND nature_code in (${nature_code})
			</if>
			<if test="dept_kind_code != null and dept_kind_code != ''">
				AND dept_kind_code in (${dept_kind_code})
			</if>
			
			<if test="key != null and key != ''">
				AND (dept_code like '${key}%'
				or dept_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
			AND is_stop = 0 
			
			and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = dept_id and a.is_read = 1 and a.is_write = 1
			)
		</where> 
		order by dept_code
	</select>
	
	<!-- 科室字典，传入时间 -->
	<select id="queryDeptDictTime" resultMap="hpmSelect" >
		select b.dept_id || ',' || b.dept_no as id, b.dept_code || ' ' || b.dept_name as text 
			       from APHI_DEPT_SCHEME_SEQ a 
			    left join APHI_DEPT_DICT b 
			    on a.group_id =b.group_id
			    and a.hos_id = b.hos_id
			    and a.copy_code = b.copy_code
			    and a.dept_id = b.dept_id
			    and a.dept_no = b.dept_no
			    left join APHI_SCHEME_CONF c 
			    on a.group_id = c.group_id
			    and a.hos_id = c.hos_id
			    and a.copy_code = c.copy_code
			    and a.scheme_seq_no = c.scheme_seq_no
			    where a.group_id = #{group_id}
			    and a.hos_id = #{hos_id}
			    and a.copy_code = #{copy_code}
			    and c.acct_year = #{acct_year}
			    and c.acct_month = #{acct_month} 
			    and b.is_stop = 0
			<if test="nature_code != null and nature_code != ''">
				AND b.nature_code in (${nature_code})
			</if>
			<if test="dept_kind_code != null and dept_kind_code != ''">
				AND b.dept_kind_code in (${dept_kind_code})
			</if>
			
			<if test="key != null and key != ''">
				AND (b.dept_code like '${key}%'
				or b.dept_name like '${key}%'
				or b.SPELL_CODE like '${key}%'
				or b.wbx_code like '${key}%')
			</if>
			and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = b.dept_id and a.is_read = 1 and a.is_write = 1
			)
			  group by b.dept_id,b.dept_no,b.dept_code,b.dept_name
		order by dept_code
	</select>
	
	<select id="queryDeptRefDict" resultMap="hpmSelect" >
		select 	ref_code id,	ref_name text from	aphi_DeptRefDict  
		<where>
			1=1
			<if test="key != null and key != ''">
				AND (
					ref_code like '${key}%'
					or ref_name like '${key}%'
				)
				
			</if>
		</where> 
		order by ref_code
	</select>
	
	<select id="querySysDeptDict" resultMap="hpmSelect" >
		select 	dept_code id,	dept_name text from	sys_dept  
		<where>
			1=1
			
			<if test="key != null and key != ''">
				AND (dept_code like '${key}%'
				or dept_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
				
			</if>
		</where> 
		order by dept_code
	</select>
	
	<select id="queryEmpDutyDict" resultMap="hpmSelect" >
	
		<if test="para_value == 0">
			select  	duty_code id,	duty_name text from	aphi_emp_duty  
		</if>
		
		<if test="para_value == 1">
			select  	duty_code id,	duty_name text from	v_aphi_emp_duty  
		</if>
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != '' and para_value == 0">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (duty_code like '${key}%'
				or duty_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by duty_code
	</select>
	
	<select id="queryEmpDict" resultMap="hpmSelect" >
		<if test="para_value == 0">
			SELECT    	
				a.emp_id || ',' || a.emp_no id,	
				a.emp_name text 
			FROM	APHI_EMP_DICT a 
		</if>
		
		<if test="para_value == 1">
			with emp_dict as (
				select max(emp_no) as emp_no,emp_id from 
				hos_emp_dict
				where group_id = #{group_id}
				and hos_id = #{hos_id}
				group by emp_id
			)
			SELECT    	
				distinct a.emp_id || ',' || a.emp_no id,	
				a.emp_name text 
			FROM	v_aphi_emp_dict a
			left join emp_dict ed on a.emp_no = ed.emp_no and a.emp_id = ed.emp_id
		</if>
		<where>
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and a.hos_id = #{hos_id} 
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND dept_code = #{dept_code}
			</if>
			<if test="key != null and key != ''">
				AND (a.emp_code like '${key}%'
				or a.emp_name like '${key}%'
				or a.SPELL_CODE like '${key}%'
				or a.wbx_code like '${key}%')
			</if>
		</where> 
		order by a.emp_id
	</select>
	
	<select id="queryEmpDictByCode" resultMap="hpmSelect">
		SELECT    	
			emp_code id,	
			emp_name text 
		FROM	APHI_EMP_DICT 
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND dept_code = #{dept_code}
			</if>
			<if test="key != null and key != ''">
				AND (emp_code like '${key}%'
				or emp_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by emp_id
	</select>
	
	<select id="queryTargetNatureDict" resultMap="hpmSelect" >
		select   	nature_code id,	nature_name text from	aphi_target_nature   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (nature_code like '${key}%'
				or nature_name like '${key}%'
				or spell_code like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by nature_code
	</select>
	
	<select id="queryAphiIncomeItem" resultMap="hpmSelect" >
		select 	income_item_code id,	income_item_name text from	aphi_incomeitem   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (income_item_code like '${key}%'
				or income_item_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by income_item_code
	</select>
	
	<select id="queryAphiCostItem" resultMap="hpmSelect" >
		select  	cost_item_code id,	cost_iitem_name text from	aphi_costItem   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (cost_item_code like '${key}%'
				or cost_iitem_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by cost_item_code
	</select>
	
	<select id="queryTargetMethodPara" resultMap="hpmSelect" >
		select  	method_code as id,	method_name as text from	APHI_TARGET_METHOD_PARA   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="method_code != null and method_code != ''">
				AND method_code = ${method_code}
			</if>
			<if test="key != null and key != ''">
				AND (method_code like '${key}%'
				or method_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by method_code
	</select>
	
	<select id="queryFormula" resultMap="hpmSelect" >
		select 	formula_code as id,	formula_name as text from	APHI_FORMULA   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (formula_code like '${key}%'
				or formula_name like '${key}%')
			</if>
		</where> 
		order by formula_code
	</select>
	
	<select id="queryFun" resultMap="hpmSelect" >
		select 	fun_code as id,	fun_name as text from	APHI_FUN   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (fun_code like '${key}%'
				or fun_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by fun_code
	</select>
	
	<!-- 查询指标:不带编码 -->
	<select id="queryTarget" resultMap="hpmSelect" >
		select 	target_code as id,target_name as text from	APHI_TARGET   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="nature_code != null and nature_code != ''">
			AND nature_code in (#{nature_code})
			</if>
			<if test="target_nature != null and target_nature != ''">
			AND target_nature in (#{target_nature})
			</if>
			<if test="key != null and key != ''">
				AND (target_code like '${key}%'
				or target_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by target_code
	</select>
	
	<!-- 查询指标:带编码 -->
	<select id="queryTargetCode" resultMap="hpmSelect" >
		select 	target_code as id,target_code || ' ' ||target_name as text from	APHI_TARGET   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="nature_code != null and nature_code != ''">
			AND nature_code in (#{nature_code})
			</if>
			<if test="target_nature != null and target_nature != ''">
			AND target_nature in (#{target_nature})
			</if>
			<if test="key != null and key != ''">
				AND (target_code like '${key}%'
				or target_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by target_code
	</select>
	
	<select id="queryTargetMethod" resultMap="hpmSelect" >
	select 

		t.target_code as id,
		t.target_name  as text 
	from aphi_target t
		left join aphi_target_method atm on t.target_code = atm.target_code and t.group_id = atm.group_id and t.hos_id = atm.hos_id and t.copy_code = atm.copy_code
		<where>
			t.is_stop=0
			<if test="group_id != null and group_id != ''">
				AND t.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and t.hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND t.copy_code = #{copy_code}
			</if>
			<if test="target_nature != null and target_nature != ''">
			AND t.target_nature in (#{target_nature})
			</if>
			<if test="method_code != null and method_code != ''">
			AND atm.method_code in (#{method_code})
			</if>
			<if test="key != null and key != ''">
				AND (t.target_code like '${key}%'
				or t.target_name like '${key}%'
				or t.SPELL_CODE like '${key}%'
				or t.wbx_code like '${key}%')
			</if>
		</where> 
		order by t.target_code
	</select>
	
	<select id="querySysComp" resultMap="hpmSelect" >
		select  	group_id as id,	comp_name as text from	sys_comp   
		<where>
			is_stop=0
			
			<if test="key != null and key != ''">
				AND (group_id like '${key}%'
				or comp_name like '${key}%')
			</if>
		</where> 
		order by group_id
	</select>
	<select id="querySysCopy" resultMap="hpmSelect" >
		select  	COPY_CODE as id,	COPY_NAME as text from	sys_copy   
		<where>
			is_stop=0

			<if test="key != null and key != ''">
				AND (COPY_CODE like '${key}%'
				or COPY_NAME like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by COPY_CODE
	</select>
	
	<select id="queryWorkItem" resultMap="hpmSelect" >
		select 	work_item_code as id,	work_item_name as text from	aphi_workitem   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (work_item_code like '${key}%'
				or work_item_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by work_item_code
	</select>
	
	<select id="queryIncomeItemSeq" resultMap="hpmSelect" >
		select  	income_item_code as id,	income_item_name as text from	aphi_incomeitem_seq   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (income_item_code like '${key}%'
				or income_item_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by income_item_code
	</select>
	
	<!-- 收入项目根据日期查询 -->
	<select id="queryIncomeItemSeqTime" resultMap="hpmSelect">
		select a.income_item_code as id, a.income_item_name as text 
		  from APHI_INCOMEITEM_SEQ a
		  left join APHI_SCHEME_CONF b
		    on a.scheme_seq_no = b.scheme_seq_no
		   and a.group_id = b.group_id
		   and a.hos_id = b.hos_id
		   and a.copy_code = b.copy_code
		 where a.group_id = #{group_id}
		   and a.hos_id = #{hos_id}
		   and a.copy_code = #{copy_code}
		   and a.is_stop = 0
		   <if test="acct_year != null and acct_year != ''">
		   		and b.acct_year = #{acct_year}
		   </if>
		   <if test="acct_month != null and acct_month != ''">
		   		and b.acct_month = #{acct_month}
		   </if>
		   <if test="key != null and key != ''">
				AND (a.income_item_code like '${key}%'
				or a.income_item_name like '${key}%'
				or a.SPELL_CODE like '${key}%'
				or a.wbx_code like '${key}%')
			</if>
		   order by a.income_item_code
	</select>
	
	<select id="queryCostItemSeq" resultMap="hpmSelect" >
		select 	cost_item_code as id,	cost_iitem_name as text from	aphi_costitem_seq   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (cost_item_code like '${key}%'
				or cost_iitem_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by cost_item_code
	</select>
	
	<!-- 支出项目根据日期查询 -->
	<select id="queryCostItemSeqTime" resultMap="hpmSelect">
	select a.cost_item_code as id,a.cost_iitem_name as text
           from APHI_COSTITEM_SEQ  a
      left join APHI_SCHEME_CONF b
        on a.scheme_seq_no = b.scheme_seq_no
       and a.group_id = b.group_id
       and a.hos_id = b.hos_id
       and a.copy_code = b.copy_code
     where a.group_id = #{group_id}
       and a.hos_id = #{hos_id}
       and a.copy_code = #{copy_code}
       and a.is_stop = 0
       <if test="acct_year != null and acct_year != ''">
	   		and b.acct_year = #{acct_year}
	   </if>
	   <if test="acct_month != null and acct_month != ''">
	   		and b.acct_month = #{acct_month}
	   </if>
       <if test="key != null and key != ''">
			AND (a.cost_item_code like '${key}%'
			or a.cost_iitem_name like '${key}%'
			or a.SPELL_CODE like '${key}%'
			or a.wbx_code like '${key}%')
		</if>
       order by a.cost_item_code
	</select>
	
	<select id="queryWorkItemSeq" resultMap="hpmSelect" >
		select 	work_item_code as id,	work_item_name as text from	aphi_workitem_seq   
		<where>
			is_stop=0
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (work_item_code like '${key}%'
				or work_item_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by work_item_code
	</select>
	<!-- 工作量指标根据日期查询 -->
	<select id="queryHpmWorkitemSeqTime" resultMap="hpmSelect">
		 select a.work_item_code as id,a.work_item_name as text
				from APHI_WORKITEM_SEQ a 
				left join APHI_SCHEME_CONF b 
				on a.group_id = b.group_id
				and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code
				and a.scheme_seq_no = b.scheme_seq_no
				where a.is_stop = 0
					and a.group_id = #{group_id}
					and a.hos_id = #{hos_id}
					and a.copy_code = #{copy_code}
					and a.is_stop = 0
				  <if test="acct_year != null and acct_year != ''">
				   		and b.acct_year = #{acct_year}
				  </if>
				  <if test="acct_month != null and acct_month != ''">
				   		and b.acct_month = #{acct_month}
				  </if>
				  <if test="key != null and key != ''">
					AND (a.work_item_code like '${key}%'
					or a.work_item_name like '${key}%'
					or a.SPELL_CODE like '${key}%'
					or a.wbx_code like '${key}%')
				</if>
				order by a.work_item_code
	</select>
	
	<select id="querySchemeSeq" resultMap="hpmSelect" >
		select	
		
		to_char(scheme_seq_no) as id,
		to_char(scheme_seq_no) as text 
		from	aphi_scheme_seq   
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
		</where> 
		order by scheme_seq_no desc
	</select>
	
	<select id="queryHpmFunType" resultMap="hpmSelect" >
		select 
			TYPE_CODE as id,
			TYPE_NAME as text 
		from APHI_FUN_TYPE 
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (TYPE_CODE like '${key}%'
				or TYPE_NAME like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by TYPE_CODE
	</select>
	<select id="queryHpmComType" resultMap="hpmSelect" >
		select 
		
		COM_TYPE_CODE as id,
		com_type_code  ||' '||  com_type_name text
		from APHI_COM_TYPE 
		<where>
			<if test="key != null and key != ''">
				AND (COM_TYPE_CODE like '${key}%'
				or COM_TYPE_NAME like '${key}%'
				)
			</if>
		</where> 
		order by COM_TYPE_CODE
	</select>
	<select id="queryHpmFunParaMethod" resultMap="hpmSelect" >
		select 
		
		para_code as id,
		para_code  ||' '||  para_name text
		from APHI_FUN_PARA_METHOD 
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
				AND para_sql is not null
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (para_code like '${key}%'
				or para_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by para_code
	</select>
	
	<select id="querySubSchemeSeqDict" resultMap="hpmSelect" >
		select 
		to_char(sub_scheme_seq_no) as id,
		to_char(sub_scheme_seq_no) as text 
		from aphi_sub_scheme_seq 
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
		</where> 
		order by sub_scheme_seq_no desc
	</select>
	<select id="queryCostTypeDict" resultMap="hpmSelect" >
		select   
		cost_type_code as id,
		cost_type_name as text 
		from Aphi_CostType 
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				AND (cost_type_code like '${key}%'
				or cost_type_name like '${key}%'
				or SPELL_CODE like '${key}%'
				or wbx_code like '${key}%')
			</if>
		</where> 
		order by cost_type_code
	</select>
	
	<select id="queryWorkItemSeqMore" resultMap="hpmSelect" >
		
		select   
to_char(c.work_item_code) as id,
to_char(c.work_item_name) as text

from aphi_scheme_conf a
left join Aphi_WorkItem_Conf_Seq b on a.scheme_seq_no=b.scheme_seq_no
left join aphi_workitem_seq c on b.work_item_code=c.work_item_code
		<where>
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and a.hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code}
			</if>
			<if test="acct_month != null and acct_month != ''">
				AND a.acct_month = #{acct_month}
			</if>
			<if test="acct_year != null and acct_year != ''">
				AND a.acct_year = #{acct_year}
			</if>
			<if test="key != null and key != ''">
				AND (c.work_item_code like '${key}%'
				or c.work_item_name like '${key}%'
				or c.SPELL_CODE like '${key}%'
				or c.wbx_code like '${key}%')
			</if>
		</where> 
		order by c.work_item_code
	</select>
	
	<!-- 查询 函数参数类型 -->
	<select id="queryHpmFunParaType" resultMap="hpmSelect">
		SELECT 
			to_char(com_type_code) as id,
			to_char(com_type_name) as text
		FROM APHI_COM_TYPE
		<where>
			<if test="group_id != null and group_id != '' ">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != '' ">
				AND copy_code = #{copy_code}
			</if>
			
			<if test="key != null and key != ''">
				AND (
					com_type_code like '${key}%'
					or com_type_name like '${key}%'
				)
			</if>		
		</where>
	</select>
	
	<!-- 查询  科室性质-->
	<select id="queryHpmDeptNature" resultMap="hpmSelect">
		SELECT 
			to_char(nature_code) as id,
			to_char(nature_name) as text
		FROM APHI_DEPT_NATURE
		<where>
			<if test="group_id != null and group_id != '' ">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id} 
			</if>
			<if test="copy_code != null and copy_code != '' ">
				AND copy_code = #{copy_code}
			</if>
			
			<if test="key != null and key != ''">
				AND (
					nature_code like '${key}%'
					or nature_name like '${key}%'
					or spell_code like '${key}%'
					or wbx_code like '${key}%'
				)
			</if>		
		</where>
	</select>
	
	<select id="queryHpmOraclePkg" resultMap="hpmSelect">
		SELECT 
		object_name id, object_name text
  	FROM user_procedures
		<where>
			 object_type = 'PACKAGE'
			 and subprogram_id = 0
  		     and object_name like 'PKG_HPM_FUN%'
			<if test="key != null and key != ''">
				and (
				object_name  like '%${key}%'
				)
			</if>
		</where>
		order by object_name
	</select>
	
	<!-- 查询 集团 -->
	<select id="querySysGroupDict" resultMap="hpmSelect">
		SELECT 
			group_id id,
			group_name text
		FROM SYS_GROUP_DICT
		WHERE
			is_stop = 0
	</select>
	
	<select id="queryAphiDeptDict" resultMap="hpmSelect">
		SELECT 
		  dept_id AS id,
		  dept_code || ''|| dept_name AS text
		FROM APHI_DEPT_DICT
		WHERE 
			group_id = #{group_id}
		  	AND hos_id = #{hos_id}
		  	AND (
		  		dept_code LIKE '%${key}%' or 
		  		dept_name LIKE '%${key}%' or
		  		spell_code LIKE '%${key}%' or
		  		wbx_code LIKE '%${key}%' 
		  	)
		  	AND is_stop = 0
	</select>
	
	<select id="queryAphiDeptHip" resultMap="hpmSelect">
		SELECT 
		  dept_id AS id,
		  dept_name AS text
		FROM APHI_DEPT_HIP
		WHERE 
			group_id = #{group_id}
		  	AND hos_id = #{hos_id}
		  	AND (
		  		dept_code LIKE '%${key}%' or 
		  		dept_name LIKE '%${key}%' or
		  		spell_code LIKE '%${key}%' or
		  		wbx_code LIKE '%${key}%' 
		  	)
		  	AND is_stop = 0
	</select>
	
	<select id="queryAphiEmpItem" resultMap="hpmSelect">
		SELECT 
		  item_code AS id,
		  item_name AS text
		FROM APHI_EMP_ITEM
		WHERE 
			group_id = #{group_id}
		  	AND hos_id = #{hos_id}
		  	AND copy_code = #{copy_code}
		  	AND (
		  		item_code LIKE '%${key}%' or 
		  		item_name LIKE '%${key}%' or
		  		spell_code LIKE '%${key}%' or
		  		wbx_code LIKE '%${key}%' 
		  	)
		  	AND is_stop = 0
	</select>
	
	<!-- 查询模板分类字典 -->
	<select id="queryAphiTemplateKind" resultMap="hpmSelect">
		SELECT 
		  	template_kind_code as id,
		  	template_kind_name as text
		FROM APHI_TEMPLATE_KIND
		WHERE
		  	is_stop =0
			AND (
		  		template_kind_code LIKE '%${key}%' or 
		  		template_kind_name LIKE '%${key}%' or
		  		spell_code LIKE '%${key}%' or
		  		wbx_code LIKE '%${key}%' 
		  	)
	</select>
</mapper>
