<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiDeptBonusGrantItemMapper">

	<resultMap id="deptBonusGrant" type="com.chd.hrp.hpm.entity.AphiDeptBonusGrantItem">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acct_year" column="acct_year" />
		<result property="acct_month" column="acct_month" />
		<result property="is_audit" column="is_audit" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="bonus_money" column="bonus_money" />
		<result property="activity_money" column="activity_money" />
		<result property="activity_percent" column="activity_percent" />
		<result property="grant_money" column="grant_money" />
	</resultMap>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addDeptBonusGrantItem" useGeneratedKeys="true">

		INSERT INTO aphi_dept_bonus_grant_item (
		group_id ,
		hos_id ,
		copy_code ,
		acct_year ,
		acct_month ,
		dept_id,
		dept_no ,
		item_code,
		is_audit, 
		bonus_money ,
		activity_money ,
		activity_percent ,
		grant_money
		) VALUES (
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{acct_year} ,
		#{acct_month} ,
		#{dept_id} ,
		#{dept_no} ,
		#{item_code},
		#{is_audit} ,
		ROUND(#{bonus_money},2) ,
		ROUND(#{activity_money},2) ,
		ROUND(#{activity_percent},2) ,
		ROUND(#{grant_money},2)
		)

	</insert>
	
	<update id="updateBatchDeptBonusGrantItem" parameterType="java.util.Map">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
			UPDATE aphi_dept_bonus_grant_item
				SET is_audit = #{item.is_audit}
			WHERE
				group_id = #{item.group_id}
				AND hos_id = #{item.hos_id}
				AND copy_code = #{item.copy_code}
				AND acct_year = #{item.acct_year}
				AND acct_month = #{item.acct_month}
				AND dept_id = #{item.dept_id}
				AND dept_no = #{item.dept_no}
				AND item_code = #{item.item_code}
		</foreach>
	</update>

	<update id="updateDeptBonusGrantItem" parameterType="java.util.Map">
		
		UPDATE aphi_dept_bonus_grant_item
			<trim prefix="SET" suffixOverrides=",">
				<if test="grant_money != null">
					grant_money = #{grant_money},
				</if>
				<if test="activity_money != null">
					activity_money = #{activity_money},
				</if>
				<if test="activity_percent != null">
					activity_percent = #{activity_percent},
				</if>
				<if test="is_audit != null">
					is_audit = #{is_audit},
				</if>
			</trim>
			<where>
				<if test="group_id != null and group_id != ''">
					AND group_id = #{group_id}
				</if>
				<if test="hos_id != null and hos_id != ''">
					AND hos_id = #{hos_id}
				</if>
				<if test="copy_code != null and copy_code != ''">
					AND copy_code = #{copy_code}
				</if>
				<if test="acct_month != null and acct_month != ''">
					AND acct_month = #{acct_month}
				</if>
				<if test="acc_year != null and acc_year != ''">
					AND acc_year = #{acc_year}
				</if>
				<if test="dept_id != null and dept_id != ''">
					AND dept_id = #{dept_id}
				</if>
				<if test="dept_no != null and dept_no != ''">
					AND dept_no = #{dept_no}
				</if>
				<if test="item_code != null and item_code != ''">
					AND item_code = #{item_code}
				</if>
			</where>

	</update>

	<delete id="deleteDeptBonusGrantItem" parameterType="java.util.Map">

		DELETE FROM aphi_dept_bonus_grant_item
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acct_year != null and acct_year != ''">
				AND acct_year = #{acct_year}
			</if>
			<if test="acct_month != null and acct_month != ''">
				AND acct_month = #{acct_month}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no}
			</if>
			<if test="item_code != null and item_code != ''">
				AND item_code = #{item_code}
			</if>
			<if test="is_audit != null and is_audit != ''">
				AND is_audit = #{is_audit}
			</if>
		</where>

	</delete>

	<delete id="deleteDeptBonusGrantItemById" parameterType="String">

		DELETE FROM aphi_dept_bonus_grant_item WHERE id=id

	</delete>

	<select id="queryDeptBonusGrantItemByCode" resultType="com.chd.hrp.hpm.entity.AphiDeptBonusGrantItem"
		parameterType="string">

		SELECT
		group_id,
		hos_id,
		copy_code,
		acct_year,
		acct_month,
		dept_id,
		dept_no,
		item_code,
		is_audit,
		round(bonus_money,2) bonus_money,
		round(activity_money,2) activity_money,
		activity_percent,
		round(grant_money,2) grant_money
		FROM aphi_dept_bonus_grant_item
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acct_year = #{acct_year} and
		acct_month = #{acct_month}
		AND dept_id = #{dept_id}
		<if test="dept_no != null and dept_no != ''">
			AND dept_no = #{dept_no}
		</if>
		<if test="item_code != null and item_code != ''">
			AND item_code = #{item_code}
		</if>
		<if test="is_audit != null and is_audit != ''">
			AND is_audit = #{is_audit}
		</if>

	</select>
	<select id="queryDeptBonusGrantItem" parameterType="java.util.Map"
		resultMap="deptBonusGrant">

		SELECT adbg.group_id,
		adbg.hos_id,
		adbg.copy_code,
		adbg.acct_year,
		adbg.acct_month,
		adbg.dept_id,
		adbg.dept_no,
		adbg.is_audit,
		ad.dept_code,
		ad.dept_name,
		adbg.item_code,
		ai.item_name,
		round(adbg.bonus_money,2) bonus_money,
		round(adbg.activity_money,2) activity_money,
		adbg.activity_percent,
		round(adbg.grant_money,2) grant_money
		FROM aphi_dept_bonus_grant_item adbg
		left join aphi_dept_dict ad
		on adbg.group_id = ad.group_id
		and adbg.hos_id = ad.hos_id
		and adbg.copy_code = ad.copy_code
		and adbg.dept_id = ad.dept_id
		and adbg.dept_no = ad.dept_no
		
		left join aphi_item ai
		on adbg.group_id = ai.group_id
		and adbg.hos_id = ai.hos_id
		and adbg.copy_code = ai.copy_code 
		and adbg.item_code = ai.item_code
		
		<where>
			<if test="group_id != null and group_id != ''">
				AND adbg.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND adbg.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND adbg.copy_code = #{copy_code}
			</if>
			<if test="acct_year != null and acct_year != ''">
				AND adbg.acct_year = #{acct_year}
			</if>
			<if test="acct_month != null and acct_month != ''">
				AND adbg.acct_month = #{acct_month}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND adbg.dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND adbg.dept_no = #{dept_no}
			</if>
			<if test="item_code != null and item_code != ''">
				AND adbg.item_code = #{item_code}
			</if>
			<if test="bonus_money != null and bonus_money != ''">
				AND adbg.bonus_money = #{bonus_money}
			</if>
			<if test="activity_money != null and activity_money != ''">
				AND adbg.activity_money = #{activity_money}
			</if>
			<if test="activity_percent != null and activity_percent != ''">
				AND adbg.activity_percent = #{activity_percent}
			</if>
			<if test="grant_money != null and grant_money != ''">
				AND adbg.grant_money = #{grant_money}
			</if>
			<if test="is_audit != null and is_audit != ''">
				AND adbg.is_audit = #{is_audit}
			</if>
			
			and exists(
				select 1 from sys_user_perm_data a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = adbg.dept_id and a.is_read = 1 and a.is_write = 1
			)
		</where>
		order by ad.dept_code asc
	</select>
	
	<!-- 打印-查询 -->
	<select id="queryDeptBonusGrantItemPrint" parameterType="java.util.Map"
		resultType="java.util.TreeMap">

		SELECT adbg.group_id,
		adbg.hos_id,
		adbg.copy_code,
		adbg.acct_year || adbg.acct_month as acct_yearm,
		adbg.dept_id,
		adbg.dept_no,
		case when adbg.is_audit=1 then '是' when adbg.is_audit=0 then  '否' end is_audit,
		ad.dept_code,
		ad.dept_name,
		adbg.item_code,
		ai.item_name,
		round(adbg.bonus_money,2) bonus_money,
		round(adbg.activity_money,2) activity_money,
		adbg.activity_percent,
		round(adbg.grant_money,2) grant_money
		FROM aphi_dept_bonus_grant_item adbg
		left join aphi_dept_dict ad
		on adbg.group_id = ad.group_id
		and adbg.hos_id = ad.hos_id
		and adbg.copy_code = ad.copy_code
		and adbg.dept_id = ad.dept_id
		and adbg.dept_no = ad.dept_no
		
		left join aphi_item ai
		on adbg.group_id = ai.group_id
		and adbg.hos_id = ai.hos_id
		and adbg.copy_code = ai.copy_code 
		and adbg.item_code = ai.item_code

		<where>
			<if test="group_id != null and group_id != ''">
				AND adbg.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND adbg.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND adbg.copy_code = #{copy_code}
			</if>
			<if test="acct_year != null and acct_year != ''">
				AND adbg.acct_year = #{acct_year}
			</if>
			<if test="acct_month != null and acct_month != ''">
				AND adbg.acct_month = #{acct_month}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND adbg.dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND adbg.dept_no = #{dept_no}
			</if>
			<if test="item_code != null and item_code != ''">
				AND adbg.item_code = #{item_code}
			</if>
			<if test="bonus_money != null and bonus_money != ''">
				AND adbg.bonus_money = #{bonus_money}
			</if>
			<if test="activity_money != null and activity_money != ''">
				AND adbg.activity_money = #{activity_money}
			</if>
			<if test="activity_percent != null and activity_percent != ''">
				AND adbg.activity_percent = #{activity_percent}
			</if>
			<if test="grant_money != null and grant_money != ''">
				AND adbg.grant_money = #{grant_money}
			</if>
			<if test="is_audit != null and is_audit != ''">
				AND adbg.is_audit = #{is_audit}
			</if>
			
			and exists(
				select 1 from sys_user_perm_data a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = adbg.dept_id and a.is_read = 1 and a.is_write = 1
			)
		</where>
		order by ad.dept_code asc
	</select>

</mapper>

