<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiCostitemPercSeqMapper">

	<resultMap id="costitemPercSeq" type="com.chd.hrp.hpm.entity.AphiCostitemPercSeq">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="scheme_seq_no" column="scheme_seq_no" />
		<result property="cost_item_code" column="cost_item_code" />
		<result property="is_acc" column="is_acc" />
		<result property="cost_percent" column="cost_percent" />
	</resultMap>

	<insert id="addCostitemPercSeq" useGeneratedKeys="true">

		INSERT INTO
		aphi_costitem_perc_seq (
		group_id ,
		hos_id ,
		copy_code ,
		scheme_seq_no ,
		cost_item_code ,
		is_acc ,
		cost_percent
		) VALUES (
		#{group_id},
		#{hos_id},
		#{copy_code} ,
		#{scheme_seq_no} ,
		#{cost_item_code} ,
		#{is_acc} ,
		#{cost_percent}
		)

	</insert>

	<update id="updateCostitemPercSeq" parameterType="java.util.Map">

		UPDATE
		aphi_costitem_perc_seq SET
		is_acc = #{is_acc} and
		cost_percent =
		#{cost_percent}
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		scheme_seq_no = #{scheme_seq_no} and
		cost_item_code = #{cost_item_code}

	</update>

	<delete id="deleteCostitemPercSeq" parameterType="java.util.Map">

		DELETE FROM
		aphi_costitem_perc_seq WHERE
		group_id = #{group_id} and
		hos_id =
		#{hos_id} and
		copy_code = #{copy_code} and
		scheme_seq_no =
		#{scheme_seq_no} and
		cost_item_code = #{cost_item_code}

	</delete>

	<select id="queryCostitemPercSeqByCode" resultType="com.chd.hrp.hpm.entity.AphiCostitemPercSeq"
		parameterType="string">

		SELECT
		group_id,
		hos_id,
		copy_code,
		scheme_seq_no,
		cost_item_code,
		is_acc,
		cost_percent
		FROM aphi_costitem_perc_seq
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code =
		#{copy_code} and
		scheme_seq_no = #{scheme_seq_no} and
		cost_item_code =
		#{cost_item_code}
	</select>
	<select id="queryCostitemPercSeq" parameterType="java.util.Map"
		resultMap="costitemPercSeq">

		SELECT
		group_id,
		hos_id,
		copy_code,
		scheme_seq_no,
		cost_item_code,
		is_acc,
		cost_percent
		FROM aphi_costitem_perc_seq
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>

			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>

			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="scheme_seq_no != null and scheme_seq_no != ''">
				AND scheme_seq_no = #{scheme_seq_no}
			</if>
			<if test="cost_item_code != null and cost_item_code != ''">
				AND cost_item_code = #{cost_item_code}
			</if>
			<if test="is_acc != null and is_acc != ''">
				AND is_acc = #{is_acc}
			</if>
			<if test="cost_percent != null and cost_percent != ''">
				AND cost_percent = #{cost_percent}
			</if>
		</where>
		order by group_id asc
	</select>

</mapper>

