<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.apply.AssApplyPlanMapMapper">

	<resultMap id="assApplyPlanMap" type="com.chd.hrp.ass.entity.apply.AssApplyPlanMap">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="apply_id" column="apply_id" />
		<result property="plan_id" column="plan_id" />
	</resultMap>

	<insert id="addAssApplyPlanMap" useGeneratedKeys="true">

		INSERT INTO ASS_APPLY_PLAN_MAP (
		group_id
		,
		hos_id
		,
		copy_code
		,
		apply_id
		,
		plan_id

		) VALUES (
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{apply_id,jdbcType=INTEGER}
		,
		#{plan_id,jdbcType=INTEGER}

		)

	</insert>
	<insert id="addBatchAssApplyPlanMap" parameterType="java.util.List">

		INSERT INTO ASS_APPLY_PLAN_MAP (
		group_id
		,
		hos_id
		,
		copy_code
		,
		apply_id
		,
		plan_id

		) select ASS_APPLY_PLAN_MAP_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{apply_id,jdbcType=INTEGER}
			,
			#{plan_id,jdbcType=INTEGER}

		</foreach>
		)t
	</insert>

	<update id="updateAssApplyPlanMap" parameterType="java.util.Map">

		UPDATE ass_apply_plan_map SET
		group_id = #{group_id,jdbcType=INTEGER}
		,
		hos_id = #{hos_id,jdbcType=INTEGER}
		,
		copy_code =
		#{copy_code,jdbcType=VARCHAR}
		,
		apply_id = #{apply_id,jdbcType=INTEGER}
		,
		plan_id =
		#{plan_id,jdbcType=INTEGER}

		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="apply_id != null and apply_id != ''">
				AND apply_id = #{apply_id,jdbcType=INTEGER}
			</if>
			<if test="plan_id != null and plan_id != ''">
				AND plan_id = #{plan_id,jdbcType=VARCHAR}
			</if>
		</where>

	</update>
	<update id="updateBatchAssApplyPlanMap" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE ass_apply_plan_map SET
			group_id = #{group_id,jdbcType=INTEGER}
			,
			hos_id = #{hos_id,jdbcType=INTEGER}
			,
			copy_code =
			#{copy_code,jdbcType=VARCHAR}
			,
			apply_id = #{apply_id,jdbcType=INTEGER}
			,
			plan_id =
			#{plan_id,jdbcType=INTEGER}

			<where>
				<if test="group_id != null and group_id != ''">
					AND group_id = #{group_id,jdbcType=INTEGER}
				</if>
				<if test="hos_id != null and hos_id != ''">
					AND hos_id = #{hos_id,jdbcType=INTEGER}
				</if>
				<if test="copy_code != null and copy_code != ''">
					AND copy_code = #{copy_code,jdbcType=VARCHAR}
				</if>
				<if test="apply_id != null and apply_id != ''">
					AND apply_id = #{apply_id,jdbcType=INTEGER}
				</if>
				<if test="plan_id != null and plan_id != ''">
					AND plan_id = #{plan_id,jdbcType=INTEGER}
				</if>
			</where>
		</foreach>
	</update>

	<delete id="deleteAssApplyPlanMap" parameterType="java.util.Map">

		DELETE FROM ass_apply_plan_map
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="apply_id != null and apply_id != ''">
				AND apply_id = #{apply_id,jdbcType=INTEGER}
			</if>
			<if test="plan_id != null and plan_id != ''">
				AND plan_id = #{plan_id,jdbcType=INTEGER}
			</if>
		</where>

	</delete>
	<delete id="deleteBatchAssApplyPlanMap" parameterType="java.util.List">
		DELETE FROM ass_apply_plan_map  where 
		
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			and
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			and
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			and 
		    plan_id = #{item.plan_id,jdbcType=INTEGER}

		</foreach>
 

	</delete>
	<select id="queryAssApplyPlanMap" parameterType="java.util.Map"
		resultMap="assApplyPlanMap">

		SELECT
		group_id,
		hos_id,
		copy_code,
		apply_id,
		plan_id
		FROM
		ASS_APPLY_PLAN_MAP
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="apply_id != null and apply_id != ''">
				AND apply_id = #{apply_id,jdbcType=INTEGER}
			</if>
			<if test="plan_id != null and plan_id != ''">
				AND plan_id = #{plan_id,jdbcType=INTEGER}
			</if>
		</where>
		order by group_id asc
	</select>
	<select id="queryAssApplyPlanMapByCode" resultType="com.chd.hrp.ass.entity.apply.AssApplyPlanMap"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		apply_id,
		plan_id
		FROM
		ass_apply_plan_map
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="apply_id != null and apply_id != ''">
				AND apply_id = #{apply_id,jdbcType=INTEGER}
			</if>
			<if test="plan_id != null and plan_id != ''">
				AND plan_id = #{plan_id,jdbcType=INTEGER}
			</if>
		</where>

	</select>
	<select id="queryAssApplyPlanMapByUniqueness" resultType="com.chd.hrp.ass.entity.apply.AssApplyPlanMap"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		apply_id,
		plan_id
		FROM
		ASS_APPLY_PLAN_MAP
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="apply_id != null and apply_id != ''">
				AND apply_id = #{apply_id,jdbcType=INTEGER}
			</if>
			<if test="plan_id != null and plan_id != ''">
				AND plan_id = #{plan_id,jdbcType=INTEGER}
			</if>
		</where>
		order by group_id asc
	</select>

</mapper>

