<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.income.cost.deptincome.HtcIncomeDeptIncomeMapper">
	<resultMap id="htcIncomeDeptIncome" type="com.chd.hrp.htc.entity.income.cost.deptincome.HtcIncomeDeptIncome">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="income_detail_id" column="income_detail_id"/>
        <result property="appl_dept_id" column="appl_dept_id"/>
		<result property="appl_dept_no" column="appl_dept_no"/>
		<result property="appl_dept_code" column="appl_dept_code"/>
        <result property="appl_dept_name" column="appl_dept_name"/>
        <result property="exec_dept_id" column="exec_dept_id"/>
        <result property="exec_dept_no" column="exec_dept_no"/>
        <result property="exec_dept_code" column="exec_dept_code"/>
        <result property="exec_dept_name" column="exec_dept_name"/>
        <result property="charge_kind_id" column="charge_kind_id"/>
        <result property="charge_kind_code" column="charge_kind_code"/>
        <result property="charge_kind_name" column="charge_kind_name"/>
        <result property="charge_item_id" column="charge_item_id"/>
        <result property="charge_item_code" column="charge_item_code"/>
        <result property="charge_item_name" column="charge_item_name"/>
		<result property="price" column="price" />
		<result property="num" column="num" />
		<result property="money" column="money" />
		<result property="busi_data_source_code" column="busi_data_source_code" />
		<result property="busi_data_source_name" column="busi_data_source_name" />
		<result property="create_user" column="create_user" />
		<result property="create_date" column="create_date" />
	</resultMap>

	<insert id="addHtcIncomeDeptIncome" useGeneratedKeys="true">

		  insert into cost_income_detail
					  (group_id,
					   hos_id,
					   copy_code,
					   income_detail_id,
					   acc_year,
					   acc_month,
					   charge_kind_id,
					   charge_item_id,
					   appl_dept_id,
					   appl_dept_no,
					   exec_dept_id,
					   exec_dept_no,
					   price,
					   num,
					   money,
					   busi_data_source_code,
					   create_user,
					   create_date)
					values
					  (#{group_id},
					   #{hos_id},
					   #{copy_code},
					   cost_income_detail_seq.nextval,
					   #{acc_year},
					   #{acc_month},
					   #{charge_kind_id},
					   #{charge_item_id},
					   #{appl_dept_id},
					   #{appl_dept_no},
					   #{exec_dept_id},
					   #{exec_dept_no},
					   #{money}/#{num},
					   #{num},
					   #{money},
					   #{busi_data_source_code},
					   #{create_user},
					   #{create_date})

	</insert>
	
	
	<insert id="addBatchHtcIncomeDeptIncome" parameterType="java.util.List">

		insert into cost_income_detail
		              (income_detail_id,
		               group_id,
					   hos_id,
					   copy_code,
					   acc_year,
					   acc_month,
					   charge_kind_id,
					   charge_item_id,
					   appl_dept_id,
					   appl_dept_no,
					   exec_dept_id,
					   exec_dept_no,
					   price,
					   num,
					   money,
					   busi_data_source_code,
					   create_user,
					   create_date)
			select cost_income_detail_seq.nextval, t.*
				from(
				<foreach collection="list" item="item" index="index"
					separator=" union all ">
					select
					#{item.group_id} ,
					#{item.hos_id} ,
					#{item.copy_code} ,
					#{item.acc_year} ,
					#{item.acc_month} ,
					#{item.charge_kind_id} ,
					#{item.charge_item_id} ,
					#{item.appl_dept_id} ,
					#{item.appl_dept_no} ,
					#{item.exec_dept_id} ,
					#{item.exec_dept_no} ,
					#{item.price},
					#{item.num} ,
					#{item.money},
					#{item.busi_data_source_code},
					#{item.create_user},
					#{item.create_date}
					from dual
				</foreach>
				) t
	</insert>

	<update id="updateHtcIncomeDeptIncome" parameterType="java.util.Map">

	     	update cost_income_detail
			    set  charge_kind_id = #{charge_kind_id},
				     charge_item_id = #{charge_item_id},
				     appl_dept_id = #{appl_dept_id},
				     appl_dept_no = #{appl_dept_no},
				     exec_dept_id = #{exec_dept_id},
				     exec_dept_no = #{exec_dept_no},
				     price = #{money}/#{num},
				     num = #{num},
				     money = #{money},
				     busi_data_source_code = #{busi_data_source_code},
				     create_user = #{create_user},
				     create_date = #{create_date}
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and income_detail_id = #{income_detail_id}

	</update>

	<delete id="deleteHtcIncomeDeptIncome" parameterType="java.util.Map">

		     delete cost_income_detail
			  where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and income_detail_id = #{item.income_detail_id}
					 

	</delete>
	
	<delete id="deleteBatchHtcIncomeDeptIncome" parameterType="java.util.List">
	
         delete from cost_income_detail where 
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				       group_id = #{item.group_id}
				   and hos_id = #{item.hos_id}
				   and copy_code = #{item.copy_code}
				   and income_detail_id = #{item.income_detail_id}
			</foreach>
		
	</delete>



	 <select id="queryHtcIncomeDeptIncomeByCode" resultMap="htcIncomeDeptIncome"
		parameterType="java.util.Map">

		 select    cid.group_id,
			       cid.hos_id,
			       cid.copy_code,
			       cid.acc_year,
			       cid.acc_month,
				   cid.income_detail_id,
			       cid.appl_dept_id,
			       cid.appl_dept_no,
			       appl_hdd.dept_code       appl_dept_code,
			       appl_hdd.dept_name       appl_dept_name,
			       cid.exec_dept_id,
			       cid.exec_dept_no,
			       exec_hdd.dept_code       exec_dept_code,
			       exec_hdd.dept_name       exec_dept_name,
			       cid.charge_kind_id,
				   ccka.charge_kind_code,
			       ccka.charge_kind_name,
			       cid.charge_item_id,
				   ccia.charge_item_code,
			       ccia.charge_item_name,
			       cid.price,
			       cid.num,
			       cid.money,
			       cbsd.busi_data_source_code,
			       cbsd.busi_data_source_name,
			       cid.create_user,
			       cid.create_date
			  from cost_income_detail cid
			  left join cost_charge_item_arrt ccia
			    on cid.group_id = ccia.group_id
			   and cid.hos_id = ccia.hos_id
			   and cid.copy_code = ccia.copy_code
			   and cid.charge_item_id = ccia.charge_item_id
			  left join cost_charge_kind_arrt ccka
			    on cid.group_id = ccka.group_id
			   and cid.hos_id = ccka.hos_id
			   and cid.copy_code = ccka.copy_code
			   and cid.charge_kind_id = ccka.charge_kind_id
			  left join hos_dept_dict appl_hdd
			    on cid.group_id = appl_hdd.group_id
			   and cid.hos_id = appl_hdd.hos_id
			   and cid.appl_dept_id = appl_hdd.dept_id
			  left join hos_dept_dict exec_hdd
			    on cid.group_id = exec_hdd.group_id
			   and cid.hos_id = exec_hdd.hos_id
			   and cid.exec_dept_id = exec_hdd.dept_id
			  left join cost_busi_sourec_dict cbsd
			    on cbsd.busi_data_source_code = cid.busi_data_source_code
			   and cbsd.busi_data_source_type = 1
			 where appl_hdd.is_stop = 0
			   and exec_hdd.is_stop = 0
			   and cid.group_id =  #{group_id}
			   and cid.hos_id = #{hos_id}
			   and cid.copy_code = #{copy_code}
			   and cid.income_detail_id = #{income_detail_id}

				  
	</select> 
	
	<select id="queryHtcIncomeDeptIncome" parameterType="java.util.Map"
		resultMap="htcIncomeDeptIncome">

			with  temp as (	
				select cid.group_id,
							 cid.hos_id,
							 cid.copy_code,
							 cid.acc_year,
							 cid.acc_month,
							 cid.income_detail_id,
							 cid.appl_dept_id,
							 cid.appl_dept_no,
							 appl_hdd.dept_code       appl_dept_code,
							 appl_hdd.dept_name       appl_dept_name,
							 cid.exec_dept_id,
							 cid.exec_dept_no,
							 exec_hdd.dept_code       exec_dept_code,
							 exec_hdd.dept_name       exec_dept_name,
							 cid.charge_kind_id,
							 ccka.charge_kind_code,
							 ccka.charge_kind_name,
							 cid.charge_item_id,
							 ccia.charge_item_code,
							 ccia.charge_item_name,
							 cid.price,
							 cid.num,
							 cid.money,
							 cbsd.busi_data_source_code,
							 cbsd.busi_data_source_name,
							 cid.create_user,
							 cid.create_date
					from cost_income_detail cid
					left join cost_charge_item_arrt ccia
						on cid.group_id = ccia.group_id
					 and cid.hos_id = ccia.hos_id
					 and cid.copy_code = ccia.copy_code
					 and cid.charge_item_id = ccia.charge_item_id
					left join cost_charge_kind_arrt ccka
						on cid.group_id = ccka.group_id
					 and cid.hos_id = ccka.hos_id
					 and cid.copy_code = ccka.copy_code
					 and cid.charge_kind_id = ccka.charge_kind_id
					left join hos_dept_dict appl_hdd
						on cid.group_id = appl_hdd.group_id
					 and cid.hos_id = appl_hdd.hos_id
					 and cid.appl_dept_id = appl_hdd.dept_id
					left join hos_dept_dict exec_hdd
						on cid.group_id = exec_hdd.group_id
					 and cid.hos_id = exec_hdd.hos_id
					 and cid.exec_dept_id = exec_hdd.dept_id
					left join cost_busi_sourec_dict cbsd
						on cbsd.busi_data_source_code = cid.busi_data_source_code
					 and cbsd.busi_data_source_type = 1
				 where  appl_hdd.is_stop = 0
					 and exec_hdd.is_stop = 0
					 and cid.group_id = #{group_id}
					 and cid.hos_id = #{hos_id}
					 and cid.copy_code = #{copy_code}
					 and cid.acc_year || cid.acc_month = #{year_month}
				  <if test="appl_dept_id != null and appl_dept_id != ''">
			         and cid.appl_dept_id = #{appl_dept_id}
			      </if>
			      <if test="exec_dept_id != null and exec_dept_id != ''">
			         and cid.exec_dept_id = #{exec_dept_id}
			      </if>
			      <if test="charge_kind_id != null and charge_kind_id != ''">
			         and cid.charge_kind_id = #{charge_kind_id}
			      </if>
			      <if test="charge_item_id != null and charge_item_id != ''">
			         and cid.charge_item_id = #{charge_item_id}
			      </if>
			     
				)select       group_id,
							  hos_id,
							  copy_code,
							  acc_year,
							  acc_month,
							  income_detail_id,
							  appl_dept_id,
							  appl_dept_no,
							  appl_dept_code,
							  appl_dept_name,
							  exec_dept_id,
							  exec_dept_no,
							  exec_dept_code,
							  exec_dept_name,
							  charge_kind_id,
							  charge_kind_code,
							  charge_kind_name,
							  charge_item_id,
							  charge_item_code,
							  charge_item_name,
							  price,
							  num,
							  money,
							  busi_data_source_code,
							  busi_data_source_name,
							  create_user,
							  create_date
				 from temp
				 union all
				 select null,
							  null,
							  null,
							  '合',
							  '计',
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  null,
							  sum(num),
							  sum(money),
							  null,
							  null,
							  null,
							  null
				 from temp    
				 order by group_id,hos_id,copy_code,acc_year,acc_month,appl_dept_code,exec_dept_code
	</select>

</mapper>

