<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.training.setting.HrGenreTypeMapper">

	<resultMap id="hrTrainType" type="com.chd.hrp.hr.entity.training.setting.HrGenreType">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="is_stop" column="is_stop" />
		<result property="is_stop_name" column="is_stop_name" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="note" column="note" />
	</resultMap>

	<resultMap id="hrTrainTypeMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="is_stop" column="is_stop" />
		<result property="is_stop_name" column="is_stop_name" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="note" column="note" />
	</resultMap>

	<insert id="add" useGeneratedKeys="true">

		INSERT INTO HR_TRAIN_TYPE (
		<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
				group_id
				,
			</if>
			<if test="hos_id != null and hos_id != ''">
				hos_id
				,
			</if>
				type_code
				,
				type_name
				,
				is_stop
				,
			<if test="spell_code != null and spell_code != ''">
				spell_code
				,
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				wbx_code
				,
			</if>
				note
				,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
				#{group_id,jdbcType=INTEGER}
				,
			</if>
			<if test="hos_id != null and hos_id != ''">
				#{hos_id,jdbcType=INTEGER}
				,
			</if>
				#{type_code,jdbcType=VARCHAR}
				,
				#{type_name,jdbcType=VARCHAR}
				,
				#{is_stop,jdbcType=INTEGER}
				,
			<if test="spell_code != null and spell_code != ''">
				#{spell_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				#{wbx_code,jdbcType=VARCHAR}
				,
			</if>
				#{note,jdbcType=VARCHAR}

		</trim>
		)

	</insert>
	<insert id="addBatch" parameterType="java.util.List">

		INSERT INTO HR_TRAIN_TYPE (
		group_id
		,
		hos_id
		,
		type_code
		,
		type_name
		,
		is_stop
		,
		spell_code
		,
		wbx_code
		,
		note

		) select t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.type_code,jdbcType=VARCHAR}
			,
			#{item.type_name,jdbcType=VARCHAR}
			,
			#{item.is_stop,jdbcType=INTEGER}
			,
			#{item.spell_code,jdbcType=VARCHAR}
			,
			#{item.wbx_code,jdbcType=VARCHAR}
			,
			#{item.note,jdbcType=VARCHAR}

			from dual
		</foreach>
		)t
	</insert>

	<update id="update" parameterType="java.util.Map">

		UPDATE HR_TRAIN_TYPE
		<trim prefix="SET" suffixOverrides=",">
				type_name = #{type_name,jdbcType=VARCHAR}
				,
				is_stop = #{is_stop,jdbcType=INTEGER}
				,
			<if test="spell_code != null and spell_code != ''">
				spell_code = #{spell_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				wbx_code = #{wbx_code,jdbcType=VARCHAR}
				,
			</if>
				note = #{note,jdbcType=VARCHAR}
				,
		</trim>
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>

		</where>
	</update>
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE HR_TRAIN_TYPE
			<trim prefix="SET" suffixOverrides=",">
					type_name = #{item.type_name,jdbcType=VARCHAR}
					,
					is_stop = #{item.is_stop,jdbcType=INTEGER}
					,
				<if test="item.spell_code != null and item.spell_code != ''">
					spell_code = #{item.spell_code,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
					,
				</if>
					note = #{item.note,jdbcType=VARCHAR}
					,
			</trim>
			<where>
				<if test="item.group_id != null and item.group_id != ''">
					AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.type_code != null and item.type_code != ''">
					AND type_code = #{item.type_code,jdbcType=VARCHAR}
				</if>
				<!-- <if test="item.type_name != null and item.type_name != ''">
					AND type_name = #{item.type_name,jdbcType=VARCHAR}
				</if>
				<if test="item.is_stop != null and item.is_stop != ''">
					AND is_stop = #{item.is_stop,jdbcType=INTEGER}
				</if>
				<if test="item.spell_code != null and item.spell_code != ''">
					AND spell_code = #{item.spell_code,jdbcType=VARCHAR}
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					AND wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
				</if>
				<if test="item.note != null and item.note != ''">
					AND note = #{item.note,jdbcType=VARCHAR}
				</if> -->
			</where>
		</foreach>
	</update>

	<delete id="delete" parameterType="java.util.Map">

		DELETE FROM HR_TRAIN_TYPE
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="type_name != null and type_name != ''">
				AND type_name = #{type_name,jdbcType=VARCHAR}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note,jdbcType=VARCHAR}
			</if> -->
		</where>
	</delete>
	<delete id="deleteGenreType" parameterType="java.util.List">
		DELETE FROM HR_TRAIN_TYPE
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
					 group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.type_code != null and item.type_code != ''">
					AND type_code = #{item.type_code,jdbcType=VARCHAR}
				</if>
				<!-- <if test="item.type_name != null and item.type_name != ''">
					AND type_name = #{item.type_name,jdbcType=VARCHAR}
				</if>
				<if test="item.is_stop != null and item.is_stop != ''">
					AND is_stop = #{item.is_stop,jdbcType=INTEGER}
				</if>
				<if test="item.spell_code != null and item.spell_code != ''">
					AND spell_code = #{item.spell_code,jdbcType=VARCHAR}
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					AND wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
				</if>
				<if test="item.note != null and item.note != ''">
					AND note = #{item.note,jdbcType=VARCHAR}
				</if> -->
			</foreach>
		</where>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrTrainType">

		SELECT
		group_id,
		hos_id,
		type_code,
		type_name,
		case when is_stop = 0 then '否' when is_stop = 1 then '是'  else '' end is_stop_name ,
		spell_code,
		wbx_code,
		note
		FROM HR_TRAIN_TYPE
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="type_code != null and type_code != ''">
				AND type_code like '%${type_code}%'
			</if>
			<if test="type_name != null and type_name != ''">
				AND type_name like '%${type_name}%'
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note,jdbcType=VARCHAR}
			</if>
		</where>
		order by type_code asc
	</select>
	<select id="queryByCode" resultMap="hrTrainType" parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		type_code,
		type_name,
		is_stop,
		spell_code,
		wbx_code,
		note
		FROM HR_TRAIN_TYPE
		WHERE
		group_id = #{group_id,jdbcType=INTEGER} and
		hos_id = #{hos_id,jdbcType=INTEGER} and
		(type_code = #{type_code,jdbcType=VARCHAR}
	<if test="type_name != null and type_name != ''">
or
		type_name = #{type_name,jdbcType=VARCHAR}
		</if>
		)
	</select>
	<select id="queryByCodeName" resultMap="hrTrainType" parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		type_code,
		type_name,
		is_stop,
		spell_code,
		wbx_code,
		note
		FROM HR_TRAIN_TYPE
		WHERE
		group_id = #{group_id,jdbcType=INTEGER} and
		hos_id = #{hos_id,jdbcType=INTEGER} and
		(type_code = #{type_code,jdbcType=VARCHAR}
	<if test="type_name != null and type_name != ''">
or
		type_name = #{type_name,jdbcType=VARCHAR}
		</if>
		)</select>
	<select id="queryByUniqueness" resultMap="hrTrainType"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		type_code,
		type_name,
		is_stop,
		spell_code,
		wbx_code,
		note
		FROM HR_TRAIN_TYPE
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="type_name != null and type_name != ''">
				AND type_name = #{type_name,jdbcType=VARCHAR}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note,jdbcType=VARCHAR}
			</if>
		</where>
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="hrTrainType" parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		type_code,
		type_name,
		is_stop,
		spell_code,
		wbx_code,
		note
		FROM HR_TRAIN_TYPE
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="type_name != null and type_name != ''">
				AND type_name = #{type_name,jdbcType=VARCHAR}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note,jdbcType=VARCHAR}
			</if>
		</where>
		order by group_id asc
	</select>
	
		<select id="queryGenreTypeById" resultMap="hrTrainType"
		parameterType="java.util.Map">

	SELECT 
		group_id,
		hos_id,
		type_code,
		type_name,
		is_stop,
		spell_code,
		wbx_code,
		note
		FROM HR_TRAIN_TYPE 
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			
			AND ( type_code = #{type_code} or type_name = #{type_name} )

		</where>
	</select>
	
	
		<select id="queryGenreTypeByIdName" resultMap="hrTrainType"
		parameterType="java.util.Map">

	SELECT 
		group_id,
		hos_id,
		type_code,
		type_name,
		is_stop,
		spell_code,
		wbx_code,
		note
		FROM HR_TRAIN_TYPE 
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			
			AND type_code != #{type_code} and type_name = #{type_name} 

		</where>
	</select>
	<select id="queryUseGenreType" resultType="java.lang.Integer" >
	select count(*) from HR_TRAIN_PLAN
	where 
	group_id = #{group_id}
	and hos_id = #{hos_id}
	and TRAIN_TYPE_CODE=#{type_code}</select>
</mapper>

