<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiCustomTemplateReportMapper">
	
	<!-- 查询 -->
	<select id="queryAphiCustomTemplateReportForParseSql" parameterType="java.util.Map" resultType="java.util.TreeMap">
		${sql}
	</select>
	
	
	<!-- 生成 -->
	<insert id="initAphiCustomTemplateReportForParseSql" parameterType="java.util.Map">
		DECLARE BEGIN
			${sql}
		END;
	</insert>
	
	
	<!-- 修改 -->
	<update id="updateAphiCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</update>
	
	
	<!-- 审核 -->
	<update id="auditAphiCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</update>
	
	
	<!-- 反审核 -->
	<update id="reAuditAphiCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteAphiCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</delete>
	
	<!-- 添加-->
	<insert id="addAphiCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</insert>
</mapper>