<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.cert.MatWarnTypeMapper">
	
	<select id="queryMatWarnType" parameterType="java.util.Map" resultType="java.util.Map">
		select group_id,
		       hos_id,
		       copy_code,
		       warn_type_code,
		       warn_type_name,
		       warn_way,
		       days,
		       space,
		       space_due,
		       is_stop,
		       is_sys,
		       is_warn,
		       icon_name,
		       icon_url,
		       oper_name,
		       oper_date,
		       note
		  from MAT_WARN_TYPE
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id, jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id, jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and copy_code = #{copy_code, jdbcType=VARCHAR}
			</if>
			<if test="warn_type_code != null and warn_type_code != ''">
				and (
					warn_type_code like '%${warn_type_code}%'
				 or warn_type_name like '%${warn_type_code}%'
				)
			</if>
		</where>		  
	</select>
	
	<resultMap type="java.util.Map" id="warnTypeMap">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="warn_type_code" column="warn_type_code"/>
		<result property="warn_type_name" column="warn_type_name"/>
		<result property="warn_way" column="warn_way"/>
		<result property="days" column="days"/>
		<result property="space" column="space"/>
		<result property="space_due" column="space_due"/>
		<result property="is_stop" column="is_stop"/>
		<result property="is_sys" column="is_sys"/>
		<result property="is_warn" column="is_warn"/>
		<result property="icon_name" column="icon_name"/>
		<result property="icon_url" column="icon_url"/>
		<result property="oper_name" column="oper_name"/>
		<result property="oper_date" column="oper_date"/>
		<result property="note" column="note"/>
	</resultMap>
	
	<select id="queryMatWarnTypeByCode" parameterType="java.util.Map" resultMap="warnTypeMap">
		select group_id,
		       hos_id,
		       copy_code,
		       warn_type_code,
		       warn_type_name,
		       warn_way,
		       days,
		       space,
		       space_due,
		       is_stop,
		       is_sys,
		       is_warn,
		       icon_name,
		       icon_url,
		       oper_name,
		       oper_date,
		       note
		  from MAT_WARN_TYPE
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id, jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id, jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and copy_code = #{copy_code, jdbcType=VARCHAR}
			</if>
			<if test="warn_type_code != null and warn_type_code != ''">
				and warn_type_code = #{warn_type_code, jdbcType=VARCHAR}
			</if>
		</where>		  
	</select>
	
	<insert id="saveMatWarnType" parameterType="java.util.Map">
		insert into MAT_WARN_TYPE
		  (group_id,
		   hos_id,
		   copy_code,
		   warn_type_code,
		   warn_type_name,
		   warn_way,
		   days,
		   space,
		   space_due,
		   is_stop,
		   is_sys,
		   is_warn,
		   icon_name,
		   icon_url,
		   oper_name,
		   oper_date,
		   note)
		values
		  (#{group_id, jdbcType=INTEGER},
		   #{hos_id, jdbcType=INTEGER},
		   #{copy_code, jdbcType=VARCHAR},
		   #{warn_type_code, jdbcType=VARCHAR},
		   #{warn_type_name, jdbcType=VARCHAR},
		   #{warn_way, jdbcType=INTEGER},
		   #{days, jdbcType=FLOAT},
		   #{space, jdbcType=INTEGER},
		   #{space_due, jdbcType=VARCHAR},
		   #{is_stop, jdbcType=INTEGER},
		   #{is_sys, jdbcType=INTEGER},
		   #{is_warn, jdbcType=INTEGER},
		   #{icon_name, jdbcType=VARCHAR},
		   #{icon_url, jdbcType=VARCHAR},
		   #{oper_name, jdbcType=VARCHAR},
		   #{oper_date, jdbcType=DATE},
		   #{note, jdbcType=VARCHAR}
		  )
	</insert>
	
	<delete id="deleteMatWarnType" parameterType="java.util.Map">
		delete from MAT_WARN_TYPE
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id, jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id, jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and copy_code = #{copy_code, jdbcType=VARCHAR}
			</if>
			<if test="warn_type_code != null and warn_type_code != ''">
				and warn_type_code = #{warn_type_code, jdbcType=VARCHAR}
			</if>
			<if test="warn_type_codes != null and warn_type_codes != ''">
				and warn_type_code in (${warn_type_codes})
			</if>
		</where>
	</delete>
	
	<update id="updateMatWarnTypeState" parameterType="java.util.Map">
		update MAT_WARN_TYPE 
		<set>
			<if test="is_stop != null and is_stop != ''">
				is_stop = #{is_stop, jdbcType=INTEGER},
			</if>
			<if test="oper_name != null and oper_name != ''">
				oper_name = #{oper_name, jdbcType=VARCHAR},
			</if>
			<if test="oper_date != null and oper_date != ''">
				oper_date = #{oper_date, jdbcType=DATE},
			</if>
		</set>
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id, jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id, jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and copy_code = #{copy_code, jdbcType=VARCHAR}
			</if>
			<if test="warn_type_code != null and warn_type_code != ''">
				and warn_type_code = #{warn_type_code, jdbcType=VARCHAR}
			</if>
			<if test="warn_type_codes != null and warn_type_codes != ''">
				and warn_type_code in (${warn_type_codes})
			</if>
		</where>
	</update>
	
	<update id="updateMatWarnType" parameterType="java.util.Map">
		update MAT_WARN_TYPE 
		<set>
			<if test="warn_type_code != null and warn_type_code != ''">
				warn_type_code = #{warn_type_code, jdbcType=VARCHAR},
			</if>
			<if test="warn_type_name != null and warn_type_name != ''">
				warn_type_name = #{warn_type_name, jdbcType=VARCHAR},
			</if>
			<if test="warn_way != null and warn_way != ''">
				warn_way = #{warn_way, jdbcType=INTEGER},
			</if>
			<if test="days != null and days != ''">
				days = #{days, jdbcType=FLOAT},
			</if>
			<if test="space != null and space != ''">
				space = #{space, jdbcType=INTEGER},
			</if>
			<if test="is_stop != null and is_stop != ''">
				is_stop = #{is_stop, jdbcType=INTEGER},
			</if>
			<if test="is_warn != null and is_warn != ''">
				is_warn = #{is_warn, jdbcType=INTEGER},
			</if>
			<if test="icon_url != null and icon_url != ''">
				icon_url = #{icon_url, jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id, jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id, jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and copy_code = #{copy_code, jdbcType=VARCHAR}
			</if>
			<if test="old_code != null and old_code != ''">
				and warn_type_code = #{old_code, jdbcType=VARCHAR}
			</if>
		</where>
	</update>
</mapper>

