<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.toptodown.plan.BudgHosYearIncomePlanMapper">
	
	<resultMap id="budgMedIncomeEditPlan" type="com.chd.hrp.budg.entity.BudgMedIncomeEditPlan">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	<result property="subj_name_all" column="subj_name_all"/>
	<result property="subj_level" column="subj_level"/>
	<result property="is_single_count" column="is_single_count"/>
	<result property="edit_method" column="edit_method"/>
	<result property="edit_method_name" column="edit_method_name"/>
	<result property="get_way" column="get_way"/>
	<result property="get_way_name" column="get_way_name"/>
	<result property="formula_id" column="formula_id"/>
	<result property="formula_name" column="formula_name"/>
	<result property="fun_id" column="fun_id"/>
	<result property="fun_name" column="fun_name"/>
	<result property="resolve_or_sum" column="resolve_or_sum"/>
	<result property="resolve_or_sum_name" column="resolve_or_sum_name"/>
	<result property="resolve_way" column="resolve_way"/>
	<result property="resolve_way_name" column="resolve_way_name"/>
	</resultMap>
		
	<resultMap id="budgMedIncomeEditPlanMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="subj_code" column="subj_code"/>
	<result property="is_single_count" column="is_single_count"/>
	<result property="edit_method" column="edit_method"/>
	<result property="get_way" column="get_way"/>
	<result property="formula_id" column="formula_id"/>
	<result property="fun_id" column="fun_id"/>
	<result property="resolve_or_sum" column="resolve_or_sum"/>
	<result property="resolve_way" column="resolve_way"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_MED_INCOME_EDIT_PLAN (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			subj_code
			,
			is_single_count
			,
			edit_method
			,
			get_way
			,
			formula_id
			,
			fun_id
			,
			resolve_or_sum
			,
			resolve_way
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{subj_code,jdbcType=VARCHAR}
			,
			#{is_single_count,jdbcType=INTEGER}
			,
			#{edit_method,jdbcType=VARCHAR}
			,
			#{get_way,jdbcType=VARCHAR}
			,
			#{formula_id,jdbcType=VARCHAR}
			,
			#{fun_id,jdbcType=VARCHAR}
			,
			#{resolve_or_sum,jdbcType=VARCHAR}
			,
			#{resolve_way,jdbcType=VARCHAR}
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_MED_INCOME_EDIT_PLAN (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			subj_code
			,
			is_single_count
			,
			edit_method
			,
			get_way
			,
			formula_id
			,
			fun_id
			,
			resolve_or_sum
			,
			resolve_way
		
		) select BUDG_MED_INCOME_EDIT_PLAN_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER}
				,
				#{item.hos_id,jdbcType=INTEGER}
				,
				#{item.copy_code,jdbcType=VARCHAR}
				,
				#{item.budg_year,jdbcType=VARCHAR}
				,
				#{item.subj_code,jdbcType=VARCHAR}
				,
				#{item.is_single_count,jdbcType=INTEGER}
				,
				#{item.edit_method,jdbcType=VARCHAR}
				,
				#{item.get_way,jdbcType=VARCHAR}
				,
				#{item.formula_id,jdbcType=VARCHAR}
				,
				#{item.fun_id,jdbcType=VARCHAR}
				,
				#{item.resolve_or_sum,jdbcType=VARCHAR}
				,
				#{item.resolve_way,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<insert id="addGenerateBatch" parameterType="java.util.Map" >
	
		INSERT INTO BUDG_MED_INCOME_EDIT_PLAN (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			subj_code
			,
			is_single_count
			,
			edit_method
			,
			get_way
			,
			formula_id
			,
			fun_id
			,
			resolve_or_sum
			,
			resolve_way)
			 
		SELECT 
	         a.group_id,
	         a.hos_id,
	         a.copy_code,
	         a.budg_year,
	         a.subj_code,
	         '1' IS_SINGLE_COUNT,
	         null EDIT_METHOD,
	         null GET_WAY,
	         null FORMULA_ID,
	         null FUN_ID,
	         null RESOLVE_OR_SUM,
	         null RESOLVE_WAY
	    FROM BUDG_INCOME_SUBJ a
	    <!-- left join budg_income_type_set b 
	    on a.group_id = b.group_id
		   and a.hos_id = b.hos_id
		   and a.copy_code = b.copy_code
		   and a.budg_year = b.budg_year
		   and a.subj_code = b.subj_code -->
		where 
		   a.group_id = #{group_id,jdbcType=INTEGER}
		   AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		   AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		   AND a.budg_year = #{budg_year,jdbcType=VARCHAR}
		  <!--  AND a.subj_code like '4001%' -->
		   AND a.type_code = '01'
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_med_income_edit_plan set
			is_single_count = #{is_single_count,jdbcType=INTEGER}
			,
			edit_method = #{edit_method,jdbcType=VARCHAR}
			,
			get_way = #{get_way,jdbcType=VARCHAR}
			,
			formula_id = #{formula_id,jdbcType=VARCHAR}
			,
			fun_id = #{fun_id,jdbcType=VARCHAR}
			,
			resolve_or_sum = #{resolve_or_sum,jdbcType=VARCHAR}
			,
			resolve_way = #{resolve_way,jdbcType=VARCHAR}
			
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_med_income_edit_plan set
				is_single_count = #{item.is_single_count,jdbcType=INTEGER}
				,
				edit_method = #{item.edit_method,jdbcType=VARCHAR}
				,
				get_way = #{item.get_way,jdbcType=VARCHAR}
				,
				formula_id = #{item.formula_id,jdbcType=VARCHAR}
				,
				fun_id = #{item.fun_id,jdbcType=VARCHAR}
				,
				resolve_or_sum = #{item.resolve_or_sum,jdbcType=VARCHAR}
				,
				resolve_way = #{item.resolve_way,jdbcType=VARCHAR}
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_med_income_edit_plan 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="subj_code != null and subj_code != ''">
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_med_income_edit_plan 
		where
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
			</foreach>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgMedIncomeEditPlan" >
	
		SELECT 
		    bmp.group_id,
		    bmp.hos_id,
		    bmp.copy_code,
		    bmp.budg_year,
		    bmp.subj_code,
		    bis.subj_name,
		    bis.subj_name_all,
		    bis.subj_level,
		    bmp.is_single_count,
		    bmp.edit_method,
		    em.value_name edit_method_name,
		    bmp.get_way,
		    gw.value_name get_way_name,
		    bmp.formula_id,
		    bfs.formula_name,
		    bmp.fun_id,
		    bf.fun_name,
		    bmp.resolve_or_sum,
		    ros.value_name resolve_or_sum_name,
		    bmp.resolve_way,
		    rw.value_name resolve_way_name
	    FROM BUDG_MED_INCOME_EDIT_PLAN bmp
	    left join budg_income_subj bis 
	    	on
	      		bmp.group_id=bis.group_id 
	      		and bmp.hos_id=bis.hos_id 
	      		and bmp.copy_code=bis.copy_code
	    		and bmp.subj_code=bis.subj_code 
	    		and bmp.budg_year=bis.budg_year
	    Left join BUDG_FORMULA_SET  bfs
			on 
				bmp.group_id = bfs.group_id
				and bmp.hos_id = bfs.hos_id
				and bmp.copy_code= bfs.copy_code
				and bmp.formula_id = bfs.formula_id
		Left join BUDG_FUN  bf
			on 
				bmp.group_id = bf.group_id
				and bmp.hos_id = bf.hos_id
				and bmp.copy_code= bf.copy_code
				and bmp.fun_id = bf.fun_code
	    left join budg_sys_dict em 
	    	on 
	    		em.value_code=bmp.edit_method
	    		and em.f_code='EDIT_METHOD'
	    left join budg_sys_dict gw 
	    	on 
	    		gw.value_code=bmp.get_way
	    		and gw.f_code='GET_WAY'
	    left join budg_sys_dict ros 
	    	on 
	    		ros.value_code=bmp.resolve_or_sum
	    		and ros.f_code='RESOLVE_OR_SUM'
	    left join budg_sys_dict rw 
	    	on 
	    		rw.value_code=bmp.resolve_way
	   			 and rw.f_code='RESOLVE_WAY'
		where                     
			bmp.group_id = #{group_id,jdbcType=INTEGER}
			
			AND bmp.hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND bmp.copy_code = #{copy_code,jdbcType=VARCHAR}
			
			<if test="budg_year != null and budg_year != ''">
			AND bmp.budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
				<if test="subj_code != null and subj_code != ''">
				  and bmp.subj_code in (
	          select bis2.subj_code from budg_income_subj bis2
	          start with bis2.subj_code=#{subj_code,jdbcType=VARCHAR} connect by bis2.super_code=prior bis2.subj_code
	        )  
			</if>
			<if test="subj_level != null and subj_level != ''">
			AND bis.subj_level = #{subj_level,jdbcType=INTEGER}
			</if>
			order by bmp.subj_code asc
	</select>
	<select id="queryByCode" resultMap="budgMedIncomeEditPlan"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		subj_code,
		is_single_count,
		edit_method,
		get_way,
		formula_id,
		fun_id,
		resolve_or_sum,
		resolve_way
		FROM budg_med_income_edit_plan 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		budg_year = #{budg_year,jdbcType=VARCHAR}   and 
		subj_code = #{subj_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgMedIncomeEditPlan"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		subj_code,
		is_single_count,
		edit_method,
		get_way,
		formula_id,
		fun_id,
		resolve_or_sum,
		resolve_way
		FROM BUDG_MED_INCOME_EDIT_PLAN 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="is_single_count != null and is_single_count != ''">
		AND is_single_count = #{is_single_count,jdbcType=INTEGER}
		</if>
		<if test="edit_method != null and edit_method != ''">
		AND edit_method = #{edit_method,jdbcType=VARCHAR}
		</if>
		<if test="get_way != null and get_way != ''">
		AND get_way = #{get_way,jdbcType=VARCHAR}
		</if>
		<if test="formula_id != null and formula_id != ''">
		AND formula_id = #{formula_id,jdbcType=VARCHAR}
		</if>
		<if test="fun_id != null and fun_id != ''">
		AND fun_id = #{fun_id,jdbcType=VARCHAR}
		</if>
		<if test="resolve_or_sum != null and resolve_or_sum != ''">
		AND resolve_or_sum = #{resolve_or_sum,jdbcType=VARCHAR}
		</if>
		<if test="resolve_way != null and resolve_way != ''">
		AND resolve_way = #{resolve_way,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgMedIncomeEditPlan"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		subj_code,
		is_single_count,
		edit_method,
		get_way,
		formula_id,
		fun_id,
		resolve_or_sum,
		resolve_way
		FROM BUDG_MED_INCOME_EDIT_PLAN 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="is_single_count != null and is_single_count != ''">
		AND is_single_count = #{is_single_count,jdbcType=INTEGER}
		</if>
		<if test="edit_method != null and edit_method != ''">
		AND edit_method = #{edit_method,jdbcType=VARCHAR}
		</if>
		<if test="get_way != null and get_way != ''">
		AND get_way = #{get_way,jdbcType=VARCHAR}
		</if>
		<if test="formula_id != null and formula_id != ''">
		AND formula_id = #{formula_id,jdbcType=VARCHAR}
		</if>
		<if test="fun_id != null and fun_id != ''">
		AND fun_id = #{fun_id,jdbcType=VARCHAR}
		</if>
		<if test="resolve_or_sum != null and resolve_or_sum != ''">
		AND resolve_or_sum = #{resolve_or_sum,jdbcType=VARCHAR}
		</if>
		<if test="resolve_way != null and resolve_way != ''">
		AND resolve_way = #{resolve_way,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<!-- 根据科目编码查询数据是否已经存在   避免重复添加  -->
	<select id="queryBudgMedIncomeEditPlanByCode" parameterType="java.util.Map" resultType="Integer">
		SELECT 
			count(0)
		FROM budg_med_income_edit_plan 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   
		and hos_id = #{hos_id,jdbcType=INTEGER}   
		and copy_code = #{copy_code,jdbcType=VARCHAR} 
		and budg_year = #{budg_year,jdbcType=VARCHAR}   
		and subj_code = #{subj_code,jdbcType=VARCHAR} 
		
	</select>
	
	
</mapper>

