<?xml version="1.0" encoding = "GB2312"?>
<ROOT>
<IP>http://192.168.50.54</IP><!-- NC IP地址 -->
<HttpPort>448</HttpPort><!-- NC HTTP 监听端口 -->
<SignPort>449</SignPort><!-- NC 签名服务 监听端口 -->
<CIS>120790001527532</CIS><!-- 集团编号/集团CIS号-->
<BankCode>102</BankCode><!-- 归属银行编号 -->
<ID>TZZXYY.y.1207</ID><!-- 证书的全名称 U盾上显示的label -->
</ROOT>
