<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.AssBillNoMapper">

	<resultMap id="assBillNo" type="com.chd.hrp.ass.entity.dict.AssBillNo">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="bill_table" column="bill_table" />
		<result property="bill_name" column="bill_name" />
		<result property="pref" column="pref" />
		<result property="max_no" column="max_no" />
		<result property="seq_no" column="seq_no" />
		<result property="wxb_code" column="wxb_code" />
		<result property="spell_code" column="spell_code" />
		<result property="is_year" column="is_year" />
		<result property="is_month" column="is_month" />
		<result property="is_day" column="is_day" />
		<result property="is_store" column="is_store" />
		<result property="is_year_point" column="is_year_point" />
		<result property="is_month_point" column="is_month_point" />
		<result property="is_day_point" column="is_day_point" />
		<result property="is_store_point" column="is_store_point" />
	</resultMap>
	<resultMap id="assBillNoMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="bill_table" column="bill_table" />
		<result property="pref" column="pref" />
		<result property="max_no" column="max_no" />
		<result property="seq_no" column="seq_no" />
		<result property="year" column="year" />
		<result property="month" column="month" />
		<result property="day" column="day" />
		<result property="store_code" column="store_code" />
		
	</resultMap>
	<resultMap id="table_map" type="java.util.Map">
		<result property="table_count" column="table_count" />
		
	</resultMap>

	<insert id="addAssBillNo" useGeneratedKeys="true">

		INSERT INTO ASS_BILL_NO (
			group_id ,
			hos_id ,
			copy_code ,
			bill_table	,
			bill_name ,
			pref ,
			wbx_code	,
			spell_code ,
			max_no    ,
			seq_no ,
			is_year,
			is_month,
			is_day,
			is_store ,
			is_year_point  ,
			is_month_point ,
			is_day_point   ,
			is_store_point ,
			pref_point     ,
			is_read        
		) VALUES (
			#{group_id} ,
			#{hos_id} ,
			#{copy_code} ,
			#{bill_table} ,
			#{bill_name} ,
			#{pref} ,
			#{wbx_code} ,
			#{spell_code},
			#{max_no}   ,
			#{seq_no} ,
			#{is_year} ,
			#{is_month} ,
			#{is_day} ,
			#{is_store},
			#{is_year_point}  ,
			#{is_month_point} ,
			#{is_day_point}   ,
			#{is_store_point} ,
			#{pref_point}     ,
			#{is_read}   
		)

	</insert>
	<insert id="addBatchAssBillNo" parameterType="java.util.List">

		INSERT INTO ASS_BILL_NO (
			group_id ,
			hos_id ,
			copy_code ,
			bill_table	,
			bill_name ,
			pref ,
			wbx_code	,
			spell_code ,
			max_no    ,
			seq_no ,
			is_year,
			is_month,
			is_day,
			is_store ,
			is_year_point  ,
			is_month_point ,
			is_day_point   ,
			is_store_point ,
			pref_point     ,
			is_read        

		) select t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
				#{item.group_id} ,
				#{item.hos_id} ,
				#{item.copy_code} ,
				#{item.bill_table} ,
				#{item.bill_name} ,
				#{item.pref} ,
				#{item.wbx_code} ,
				#{item.spell_code},
				#{item.max_no}   ,
				#{item.seq_no} ,
				#{item.is_year} ,
				#{item.is_month} ,
				#{item.is_day} ,
				#{item.is_store},
				#{item.is_year_point}  ,
				#{item.is_month_point} ,
				#{item.is_day_point}   ,
				#{item.is_store_point} ,
				#{item.pref_point}     ,
				#{item.is_read}   

		</foreach>
		)t
	</insert>

	<update id="updateAssBillNo" parameterType="java.util.Map">

		UPDATE ass_bill_no SET
		seq_no = #{seq_no,jdbcType=INTEGER}
		<if test="pref != null and pref != ''">
				, pref = #{pref}
		</if>
		<if test="is_year != null and is_year != ''">
				, is_year = #{is_year}
		</if>
		<if test="is_month != null and is_month != ''">
				, is_month = #{is_month}
		</if>
		<if test="is_day != null and is_day != ''">
				, is_day = #{is_day}
		</if>
		<if test="is_store != null and is_store != ''">
				, is_store = #{is_store}
		</if>
		WHERE
		group_id = #{group_id,jdbcType=INTEGER}
		and
		hos_id = #{hos_id,jdbcType=INTEGER}
		and
		copy_code = #{copy_code,jdbcType=VARCHAR}
		and
		bill_table = #{bill_table,jdbcType=INTEGER}


	</update>
	<update id="updateBatchAssBillNo" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE ass_bill_no SET
			seq_no =
			#{item.seq_no,jdbcType=INTEGER}
			<if test="item.pref != null and item.pref != ''">
				, pref = #{item.pref}
			</if>
			<if test="item.is_year != null and item.is_year != ''">
				, is_year = #{item.is_year}
			</if>
			<if test="item.is_month != null and item.is_month != ''">
				, is_month = #{item.is_month}
			</if>
			<if test="item.is_day != null and item.is_day != ''">
				, is_day = #{item.is_day}
			</if>
			<if test="item.is_store != null and item.is_store != ''">
				, is_store = #{item.is_store}
			</if>
			WHERE
			group_id = #{item.item.group_id,jdbcType=INTEGER}
			and
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			and
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			and
			bill_table = #{item.bill_table,jdbcType=INTEGER}

		</foreach>
	</update>

	<delete id="deleteAssBillNo" parameterType="java.util.Map">

		DELETE FROM ass_bill_no WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		bill_table = #{bill_table}

	</delete>
	<delete id="deleteBatchAssBillNo" parameterType="java.util.List">
		DELETE FROM ass_bill_no WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			bill_table = #{item.bill_table}

		</foreach>

	</delete>
	<select id="queryAssBillNo" parameterType="java.util.Map"
		resultMap="assBillNo">

		SELECT
		group_id,
		hos_id,
		copy_code,
		bill_name,
		bill_table,
		pref,
		seq_no,
		max_no,
		wbx_code,
		spell_code,
		is_year,
		is_month,
		is_day,
		is_store,
		is_year_point,
		is_month_point,
		is_day_point,
		is_store_point
		FROM ASS_BILL_NO
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="bill_table != null and bill_table != ''">
				AND bill_name like '%${bill_table}%'
			</if>
			<!-- <if test="bill_table != null and bill_table != ''">
				AND bill_table like '%${bill_table}%'
			</if> -->
			<if test="pref != null and pref != ''">
				AND pref = #{pref}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code}
			</if>
		</where>
		order by bill_name,bill_table asc
	</select>
	<select id="queryAssBillNoByCode" resultType="com.chd.hrp.ass.entity.dict.AssBillNo"
		parameterType="java.util.Map">
 
		SELECT
		group_id,
		hos_id,
		copy_code,
		bill_table,
		bill_name,
		pref,
		seq_no,
		max_no,
		wbx_code,
		spell_code,
		is_year,
		is_month,
		is_day,
		is_store,
		pref_point
      ,is_year_point
      ,is_month_point
      ,is_store_point
		FROM ass_bill_no
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code}
		AND bill_table = #{bill_table}

	</select>
	<update id="updateAssBillNoMaxNo" parameterType="java.util.Map">

		UPDATE ass_bill_no SET
		max_no = max_no+1
		WHERE
		group_id = #{group_id,jdbcType=INTEGER}
		and
		hos_id = #{hos_id,jdbcType=INTEGER}
		and
		copy_code = #{copy_code,jdbcType=VARCHAR}
		and
		bill_table = #{bill_table,jdbcType=VARCHAR}


	</update>
	<insert id="insertAssBillNoManage" parameterType="java.util.Map">

        insert into ASS_BILL_NO_MANAGE(
        group_id,
        hos_id,
        copy_code,
        bill_table,
        pref,
        year,
        month,
        day,
        store_code,
        max_no
        ) 
        VALUES (
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{bill_table} ,
		#{pref} ,
		#{year} ,
		#{month},
		#{day},
		#{store_code},
		1
		)
		
	</insert>
	<update id="updateAssBillNoManageMaxNo" parameterType="java.util.Map">

		UPDATE ASS_BILL_NO_MANAGE SET
		max_no = max_no+1
		WHERE
		group_id = #{group_id,jdbcType=INTEGER}
		and
		hos_id = #{hos_id,jdbcType=INTEGER}
		and
		copy_code = #{copy_code,jdbcType=VARCHAR}
		and
		bill_table = #{bill_table,jdbcType=VARCHAR}
			<if test="pref != null and pref != ''">
		   	 	AND pref = #{pref}
		    </if>
		    <if test="pref == null or pref == ''">
		    AND (pref is null or pref='')
		   </if>
			<if test="store_code != null and store_code != ''">
				AND store_code = #{store_code}
			</if>
			<if test="store_code == null or store_code == ''">
				AND store_code is null
			</if>
			
			<if test="year != null and year != ''">
				AND year = #{year}
			</if>
			<if test="year == null or year == ''">
				AND year is null
			</if>
			
			<if test="month != null and month != ''">
				AND month = #{month}
			</if>
			<if test="month == null or month == ''">
				AND month is null
			</if>
			
			<if test="day != null and day != ''">
				AND day = #{day}
			</if>
			<if test="day == null or day == ''">
				AND day is null
			</if>
	</update>
	<select id="queryAssBillNoManageByCode" parameterType="java.util.Map"
		resultMap="assBillNoMap">

		SELECT
		group_id,
		hos_id,
		copy_code,
		bill_table,
		pref,
		year,
		month,
		day,
		store_code,
		max_no
		FROM ASS_BILL_NO_MANAGE
		where group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND bill_table = #{bill_table}
			<if test="pref != null and pref != ''">
		    AND pref = #{pref}
		   </if>
		   <if test="pref == null or pref == ''">
		    AND (pref is null or pref='')
		   </if>
		   <if test="store_code != null and store_code != ''">
		    AND store_code = #{store_code}
		   </if>
			<if test="store_code == null or store_code == ''">
				AND store_code is null
			</if>
			
			<if test="year != null and year != ''">
				AND year = #{year}
			</if>
			<if test="year == null or year == ''">
				AND year is null
			</if>
			
			<if test="month != null and month != ''">
				AND month = #{month}
			</if>
			<if test="month == null or month == ''">
				AND month is null
			</if>
			
			<if test="day != null and day != ''">
				AND day = #{day}
			</if>
			<if test="day == null or day == ''">
				AND day is null
			</if>
			
	</select>
	<select id="queryAssBillNoIsExists" parameterType="java.util.Map"
		resultType="int" >
		${sql}
	</select>
	 
</mapper>

