<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.AssCardSetViewMapper">

	<resultMap id="assCardSetView" type="com.chd.hrp.ass.entity.dict.AssCardSetView">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="ass_naturs" column="ass_naturs" />
		<result property="naturs_name" column="naturs_name" />
		<result property="table_name" column="table_name" />
		<result property="col_code" column="col_code" />
		<result property="col_name" column="col_name" />
		<result property="type_code" column="type_code" />
		<result property="seq_no" column="seq_no" />
		<result property="is_view" column="is_view" />
		<result property="re_url" column="re_url" />
		<result property="is_change" column="is_change" />
		<result property="column_width" column="column_width" />
		<result property="text_align" column="text_align" />
		<result property="field_area" column="field_area" />
		<result property="field_width" column="field_width" />
		<result property="is_tab_view" column="is_tab_view"  />  
		<result property="is_verify" column="is_verify"    /> 
		<result property="is_pk" column="is_pk"  />      
		<result property="is_init_view" column="is_init_view"  /> 
		<result property="is_init_tab_view" column="is_init_tab_view" />
		<result property="is_insert_view" column="is_insert_view" />  
		<result property="is_default" column="is_default"  />   
		<result property="default_value" column="default_value" /> 
		<result property="default_text" column="default_text" /> 
		
		<result property="is_read" column="is_read"  />   
		<result property="is_insert_read" column="is_insert_read" /> 
		<result property="is_init_read" column="is_init_read" /> 
		
	</resultMap>


	<update id="update" parameterType="java.util.Map">

		UPDATE ass_card_set_view
		<trim prefix="SET" suffixOverrides=",">
			<if test="col_code != null and col_code != ''">
				col_code = #{col_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="col_name != null and col_name != ''">
				col_name = #{col_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="type_code != null and type_code != ''">
				type_code = #{type_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="seq_no != null and seq_no != ''">
				seq_no = #{seq_no,jdbcType=INTEGER}
				,
			</if>
			<if test="is_view != null and is_view != ''">
				is_view = #{is_view,jdbcType=INTEGER}
				,
			</if>
			<if test="re_url != null and re_url != ''">
				re_url = #{re_url,jdbcType=INTEGER}
				,
			</if>
			<if test="is_change != null and is_change != ''">
				is_change = #{is_change,jdbcType=INTEGER}
				,
			</if>
			<if test="column_width != null and column_width != ''">
				column_width = #{column_width,jdbcType=INTEGER}
				,
			</if>
			<if test="text_align != null and text_align != ''">
				text_align = #{text_align,jdbcType=VARCHAR}
				,
			</if>
			<if test="field_area != null and field_area != ''">
				field_area = #{field_area,jdbcType=INTEGER}
				,
			</if>
			<if test="field_width != null and field_width != ''">
				field_width = #{field_width,jdbcType=INTEGER}
				,
			</if>
			<if test="is_tab_view != null and is_tab_view != ''">
				is_tab_view = #{is_tab_view,jdbcType=INTEGER} 
				,
			</if>
			<if test="is_verify != null and is_verify != ''">
				is_verify = #{is_verify,jdbcType=INTEGER}
				,
			</if>
			<if test="is_pk != null and is_pk != ''">
				is_pk = #{is_pk,jdbcType=INTEGER}     
				,
			</if>
			<if test="is_init_view != null and is_init_view != ''">
				is_init_view = #{is_init_view,jdbcType=INTEGER}
				,
			</if>
			<if test="is_init_tab_view != null and is_init_tab_view != ''">
				is_init_tab_view = #{is_init_tab_view,jdbcType=INTEGER}
				,
			</if>
			<if test="is_insert_view != null and is_insert_view != ''">
				is_insert_view = #{is_insert_view,jdbcType=INTEGER}
				,
			</if>
			<if test="is_default != null and is_default != ''">
				is_default = #{is_default,jdbcType=INTEGER}  
				,
			</if>
			<if test="default_value != null and default_value != ''">
				default_value = #{default_value,jdbcType=VARCHAR}
				,
			</if>
			<if test="default_text != null and default_text != ''">
				default_text = #{default_text,jdbcType=VARCHAR}
				,
			</if>
			<if test="is_read != null and is_read != ''">
				is_read = #{is_read,jdbcType=INTEGER}  
				,
			</if>
			<if test="is_insert_read != null and is_insert_read != ''">
				is_insert_read = #{is_insert_read,jdbcType=INTEGER}
				,
			</if>
			<if test="is_init_read != null and is_init_read != ''">
				is_init_read = #{is_init_read,jdbcType=INTEGER}
				,
			</if>
		</trim>
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="ass_naturs != null and ass_naturs != ''">
				AND ass_naturs = #{ass_naturs,jdbcType=VARCHAR}
			</if>
			<if test="table_name != null and table_name != ''">
				AND table_name = #{table_name,jdbcType=VARCHAR}
			</if>
			<if test="col_code != null and col_code != ''">
				AND col_code = #{col_code,jdbcType=VARCHAR}
			</if>
		</where>
	</update>
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE ass_card_set_view
			<trim prefix="SET" suffixOverrides=",">
				<if test="item.seq_no != null and item.seq_no != ''">
					seq_no = #{item.seq_no,jdbcType=INTEGER}
					,
				</if>
				<if test="item.is_view != null and item.is_view != ''">
					is_view = #{item.is_view,jdbcType=INTEGER}
					,
				</if>
				<if test="item.column_width != null and item.column_width != ''">
					column_width = #{item.column_width,jdbcType=INTEGER}
					,
				</if>
				<if test="item.text_align != null and item.text_align != ''">
					text_align = #{item.text_align,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.col_name != null and item.col_name != ''">
					col_name = #{item.col_name,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.field_area != null and item.field_area != ''">
					field_area = #{item.field_area,jdbcType=INTEGER}
					,
				</if>
				<if test="item.field_width != null and item.field_width != ''">
					field_width = #{item.field_width,jdbcType=INTEGER}
					,
				</if>
				<if test="item.is_tab_view != null and item.is_tab_view != ''">
					is_tab_view = #{item.is_tab_view,jdbcType=INTEGER} 
					,
				</if>
				<if test="item.is_verify != null and item.is_verify != ''">
					is_verify = #{item.is_verify,jdbcType=INTEGER}
					,
				</if>
				<if test="item.is_pk != null and item.is_pk != ''">
					is_pk = #{item.is_pk,jdbcType=INTEGER}     
					,
				</if>
				<if test="item.is_init_view != null and item.is_init_view != ''">
					is_init_view = #{item.is_init_view,jdbcType=INTEGER}
					,
				</if>
				<if test="item.is_init_tab_view != null and item.is_init_tab_view != ''">
					is_init_tab_view = #{item.is_init_tab_view,jdbcType=INTEGER}
					,
				</if>
				<if test="item.is_insert_view != null and item.is_insert_view != ''">
					is_insert_view = #{item.is_insert_view,jdbcType=INTEGER}
					,
				</if>
				<if test="item.is_default != null and item.is_default != ''">
					is_default = #{item.is_default,jdbcType=INTEGER}  
					,
				</if>
				<if test="item.default_value != null and item.default_value != ''">
					default_value = #{item.default_value,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.default_text != null and item.default_text != ''">
					default_text = #{item.default_text,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.is_read != null and item.is_read != ''">
					is_read = #{item.is_read,jdbcType=INTEGER}  
					,
				</if>
				<if test="item.is_insert_read != null and item.is_insert_read != ''">
					is_insert_read = #{item.is_insert_read,jdbcType=INTEGER}
					,
				</if>
				<if test="item.is_init_read != null and item.is_init_read != ''">
					is_init_read = #{item.is_init_read,jdbcType=INTEGER}
					,
				</if>
			</trim>
			<where>
				<if test="item.group_id != null and item.group_id != ''">
					AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.ass_naturs != null and item.ass_naturs != ''">
					AND ass_naturs = #{item.ass_naturs,jdbcType=VARCHAR}
				</if>
				<if test="item.table_name != null and item.table_name != ''">
					AND table_name = #{item.table_name,jdbcType=VARCHAR}
				</if>
				<if test="item.col_code != null and item.col_code != ''">
					AND col_code = #{item.col_code,jdbcType=VARCHAR}
				</if>
			</where>
		</foreach>
	</update>
	<select id="query" parameterType="java.util.Map" resultMap="assCardSetView">

		SELECT
		acsv.group_id,
		acsv.hos_id,
		acsv.copy_code,
		acsv.ass_naturs,
		an.naturs_name,
		acsv.table_name,
		acsv.col_code,
		acsv.col_name,
		acsv.type_code,
		acsv.seq_no,
		acsv.is_view,
		acsv.re_url,
		acsv.is_change,
		acsv.column_width,
		acsv.text_align,
		acsv.field_area,
		acsv.field_width,
		acsv.is_tab_view,     
		acsv.is_verify,       
		acsv.is_pk,           
		acsv.is_init_view,    
		acsv.is_init_tab_view,
		acsv.is_insert_view,  
		acsv.is_default,      
		acsv.default_value,
		acsv.default_text,
		acsv.is_read,
		acsv.is_insert_read,
		acsv.is_init_read
		FROM ASS_CARD_SET_VIEW acsv
		left join ass_naturs an on
		acsv.ass_naturs = an.naturs_code
		<where>
			<if test="group_id != null and group_id != ''">
				AND acsv.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND acsv.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND acsv.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="ass_naturs != null and ass_naturs != ''">
				AND acsv.ass_naturs = #{ass_naturs,jdbcType=VARCHAR}
			</if>
			<if test="table_name != null and table_name != ''">
				AND acsv.table_name = #{table_name,jdbcType=VARCHAR}
			</if>
			<if test="col_code != null and col_code != ''">
				AND acsv.col_code = #{col_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND acsv.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="seq_no != null and seq_no != ''">
				AND acsv.seq_no = #{seq_no,jdbcType=INTEGER}
			</if>
			<if test="is_view != null and is_view != ''">
				AND acsv.is_view = #{is_view,jdbcType=INTEGER}
			</if>
			<if test="is_tab_view != null and is_tab_view != ''">
				AND acsv.is_tab_view = #{is_tab_view,jdbcType=INTEGER}
			</if>
			<if test="is_verify != null and is_verify != ''">
				AND acsv.is_verify = #{is_verify,jdbcType=INTEGER}
			</if>
			<if test="is_pk != null and is_pk != ''">
				AND acsv.is_pk = #{is_pk,jdbcType=INTEGER}
			</if>
			<if test="is_init_view != null and is_init_view != ''">
				AND acsv.is_init_view = #{is_init_view,jdbcType=INTEGER}
			</if>
			<if test="is_init_tab_view != null and is_init_tab_view != ''">
				AND acsv.is_init_tab_view = #{is_init_tab_view,jdbcType=INTEGER}
			</if>
			<if test="is_insert_view != null and is_insert_view != ''">
				AND acsv.is_insert_view = #{is_insert_view,jdbcType=INTEGER}
			</if>
			<if test="is_default != null and is_default != ''">
				AND acsv.is_default = #{is_default,jdbcType=INTEGER}
			</if>
			<if test="default_value != null and default_value != ''">
				AND acsv.default_value = #{default_value,jdbcType=INTEGER}
			</if>
			<if test="col_name !=null and col_name !='' ">
				and acsv.col_name like concat(concat('%',#{col_name,jdbcType=VARCHAR}),'%')
			</if>
		</where>
		order by acsv.ass_naturs, acsv.seq_no asc
	</select>
	<select id="queryByCode" resultMap="assCardSetView"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		ass_naturs,
		table_name,
		col_code,
		col_name,
		type_code,
		seq_no,
		is_view,
		re_url,
		is_change,
		column_width,
		text_align,
		field_area,
		field_width,
		is_tab_view,     
		is_verify,       
		is_pk,           
		is_init_view,    
		is_init_tab_view,
		is_insert_view,  
		is_default,      
		default_value,
		default_text,
		is_read,
		is_insert_read,
		is_init_read
		FROM ass_card_set_view
		WHERE
		group_id = #{group_id,jdbcType=INTEGER} and
		hos_id = #{hos_id,jdbcType=INTEGER} and
		copy_code = #{copy_code,jdbcType=VARCHAR} and
		ass_naturs = #{ass_naturs,jdbcType=VARCHAR} and
		table_name = #{table_name,jdbcType=VARCHAR} and
		col_code = #{col_code,jdbcType=VARCHAR}

	</select>
	<select id="queryByUniqueness" resultMap="assCardSetView"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		ass_naturs,
		table_name,
		col_code,
		col_name,
		type_code,
		seq_no,
		is_view,
		re_url,
		is_change,
		column_width,
		text_align,
		field_area,
		field_width,
		is_tab_view,     
		is_verify,       
		is_pk,           
		is_init_view,    
		is_init_tab_view,
		is_insert_view,  
		is_default,      
		default_value,
		default_text,
		is_read,
		is_insert_read,
		is_init_read
		FROM ASS_CARD_SET_VIEW
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="ass_naturs != null and ass_naturs != ''">
				AND ass_naturs = #{ass_naturs,jdbcType=VARCHAR}
			</if>
			<if test="table_name != null and table_name != ''">
				AND table_name = #{table_name,jdbcType=VARCHAR}
			</if>
			<if test="col_code != null and col_code != ''">
				AND col_code = #{col_code,jdbcType=VARCHAR}
			</if>
			<if test="col_name != null and col_name != ''">
				AND col_name = #{col_name,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="seq_no != null and seq_no != ''">
				AND seq_no = #{seq_no,jdbcType=INTEGER}
			</if>
			<if test="is_view != null and is_view != ''">
				AND is_view = #{is_view,jdbcType=INTEGER}
			</if>
			<if test="is_tab_view != null and is_tab_view != ''">
				AND is_tab_view = #{is_tab_view,jdbcType=INTEGER}
			</if>
			<if test="is_verify != null and is_verify != ''">
				AND is_verify = #{is_verify,jdbcType=INTEGER}
			</if>
			<if test="is_pk != null and is_pk != ''">
				AND is_pk = #{is_pk,jdbcType=INTEGER}
			</if>
			<if test="is_init_view != null and is_init_view != ''">
				AND is_init_view = #{is_init_view,jdbcType=INTEGER}
			</if>
			<if test="is_init_tab_view != null and is_init_tab_view != ''">
				AND is_init_tab_view = #{is_init_tab_view,jdbcType=INTEGER}
			</if>
			<if test="is_insert_view != null and is_insert_view != ''">
				AND is_insert_view = #{is_insert_view,jdbcType=INTEGER}
			</if>
			<if test="is_default != null and is_default != ''">
				AND is_default = #{is_default,jdbcType=INTEGER}
			</if>
			<if test="default_value != null and default_value != ''">
				AND default_value = #{default_value,jdbcType=INTEGER}
			</if>
		</where>
		order by seq_no asc
	</select>
	<select id="queryExists" resultMap="assCardSetView"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		ass_naturs,
		table_name,
		col_code,
		col_name,
		type_code,
		seq_no,
		is_view,
		re_url,
		is_change,
		column_width,
		text_align,
		field_area,
		field_width,
		is_tab_view,     
		is_verify,       
		is_pk,           
		is_init_view,    
		is_init_tab_view,
		is_insert_view,  
		is_default,      
		default_value,
		default_text,
		is_read,
		is_insert_read,
		is_init_read
		FROM ASS_CARD_SET_VIEW
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="ass_naturs != null and ass_naturs != ''">
				AND ass_naturs = #{ass_naturs,jdbcType=VARCHAR}
			</if>
			<if test="table_name != null and table_name != ''">
				AND table_name = #{table_name,jdbcType=VARCHAR}
			</if>
			<if test="col_code != null and col_code != ''">
				AND col_code = #{col_code,jdbcType=VARCHAR}
			</if>
			<if test="col_name != null and col_name != ''">
				AND col_name = #{col_name,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="seq_no != null and seq_no != ''">
				AND seq_no = #{seq_no,jdbcType=INTEGER}
			</if>
			<if test="is_view != null and is_view != ''">
				AND is_view = #{is_view,jdbcType=INTEGER}
			</if>
			<if test="is_tab_view != null and is_tab_view != ''">
				AND is_tab_view = #{is_tab_view,jdbcType=INTEGER}
			</if>
			<if test="is_verify != null and is_verify != ''">
				AND is_verify = #{is_verify,jdbcType=INTEGER}
			</if>
			<if test="is_pk != null and is_pk != ''">
				AND is_pk = #{is_pk,jdbcType=INTEGER}
			</if>
			<if test="is_init_view != null and is_init_view != ''">
				AND is_init_view = #{is_init_view,jdbcType=INTEGER}
			</if>
			<if test="is_init_tab_view != null and is_init_tab_view != ''">
				AND is_init_tab_view = #{is_init_tab_view,jdbcType=INTEGER}
			</if>
			<if test="is_insert_view != null and is_insert_view != ''">
				AND is_insert_view = #{is_insert_view,jdbcType=INTEGER}
			</if>
			<if test="is_default != null and is_default != ''">
				AND is_default = #{is_default,jdbcType=INTEGER}
			</if>
			<if test="default_value != null and default_value != ''">
				AND default_value = #{default_value,jdbcType=INTEGER}
			</if>
		</where>
		order by ass_naturs asc,seq_no asc
	</select>
</mapper>

