<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.AssGBcodeMapper">

	<resultMap id="gbcode" type="com.chd.hrp.ass.entity.dict.AssGBcode">
		<result property="gb_code" column="gb_code" />
		<result property="gb_name" column="gb_name" />
		<result property="supper_code" column="supper_code" />
		<result property="gb_level" column="gb_level" />
		<result property="is_last" column="is_last" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="is_stop" column="is_stop" />
		<result property="note" column="note" />
	</resultMap>


	<!-- 查询所有 -->
	<select id="queryAssGBcode" resultMap="gbcode" parameterType="java.util.Map">
		select
		gb.gb_code,
		gb.gb_name,
		gb.supper_code,
		gb.gb_level,
		gb.is_last,
		gb.is_stop,
		gb.note

		from ASS_GB_DICT gb

		<where>
			<if test="gb_code != null and gb_code != ''">
		AND (gb_code like '%${gb_code}%' or
		      gb_name like '%${gb_code}%' or
		      spell_code  like '%${gb_code}%' or
		      wbx_code like '%${gb_code}%' 
            )
		</if>
			<if test="gb_name != null and gb_name != ''">
		AND (gb_code like '%${gb_name}%' or
		      gb_name like '%${gb_name}%' or
		      spell_code  like '%${gb_name}%' or
		      wbx_code like '%${gb_name}%' 
            )
		</if>
			<if test="is_last != null and is_last != ''">
		AND is_last = #{is_last}
		</if>
		</where>
	</select>


	<!-- 根据编码查询 -->
	<select id="queryAssGBcodeByCode" resultMap="gbcode"
		parameterType="java.util.Map">
		select
		gb.gb_code,
		gb.gb_name,
		gb.supper_code,
		gb.gb_level,
		gb.is_last,
		gb.is_stop,
		gb.note

		from ASS_GB_DICT gb

		where
		<if test="gb_code !=null and gb_code != ''">
			gb.gb_code=#{gb_code}
		</if>



	</select>


	<!--查询数据重复根据 gb_code -->
	<select id="queryAssGBcodeByUniqueness" resultMap="gbcode"
		parameterType="java.util.Map">
		select
		gb.gb_code,
		gb.gb_name,
		gb.supper_code,
		gb.gb_level,
		gb.is_last,
		gb.is_stop,
		gb.note

		from ASS_GB_DICT gb

		where
		gb.gb_code=#{gb_code}

	</select>
	<!-- 根据名称查询 -->
	<select id="queryAssGBcodeByUniquenessname" resultMap="gbcode"
		parameterType="java.util.Map">
		select
		gb.gb_code,
		gb.gb_name,
		gb.supper_code,
		gb.gb_level,
		gb.is_last,
		gb.is_stop,
		gb.note

		from ASS_GB_DICT gb

		where
		gb.gb_name=#{gb_name}

	</select>
	<!-- 查询是否有子记录 -->
	<select id="queryAssGBcodeChild" parameterType="java.util.Map"
		resultMap="gbcode">
		select
		gb.gb_code,
		gb.gb_name,
		gb.supper_code,
		gb.gb_level,
		gb.is_last,
		gb.is_stop,
		gb.note

		from ASS_GB_DICT gb
		where
		supper_code = #{gb_code}
	</select>
	<insert id="addBatchAssGBcode" parameterType="java.util.List">

		INSERT INTO ASS_GB_DICT (
		gb_code,
		gb_name,
		supper_code,
		gb_level,
		is_last,

		spell_code
		,
		wbx_code
		,
		is_stop,
		note
		) select ASS_GB_DICT.nextval ,
		t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.gb_code} ,
			#{item.gb_name} ,
			#{item.supper_code} ,
			#{item.gb_level} ,
			#{item.is_last} ,
			#{item.spell_code} ,
			#{item.wbx_code} ,
			#{item.is_stop} ,
			#{item.note}

		</foreach>
		)t

	</insert>
	<insert id="addAssGBcode">
		INSERT INTO ASS_GB_DICT (
		gb_code,
		gb_name,
		supper_code,
		gb_level,
		is_last,

		spell_code
		,
		wbx_code
		,
		is_stop,
		note)
		VALUES(
		#{gb_code,jdbcType=VARCHAR} ,
		#{gb_name,jdbcType=VARCHAR} ,
		#{supper_code,jdbcType=VARCHAR} ,
		#{gb_level,jdbcType=INTEGER} ,
		#{is_last,jdbcType=INTEGER} ,
		#{spell_code,jdbcType=VARCHAR} ,
		#{wbx_code,jdbcType=VARCHAR} ,
		#{is_stop,jdbcType=INTEGER} ,
		#{note,jdbcType=VARCHAR}



		)


	</insert>
	<update id="updateAssGBcode" parameterType="java.util.Map">

		UPDATE ASS_GB_DICT
		SET
		is_last = #{is_last}
		WHERE
		gb_code = #{supper_code}


	</update>

	<update id="updateBatchAssGBcode" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE ASS_GB_DICT SET
			gb_name = #{gb_name}
			,
			spell_code = #{spell_code},
			wbx_code = #{wbx_code}
			,
			is_stop =
			#{is_stop}

			WHERE
			gb_code = #{gb_code}


		</foreach>
	</update>


	<delete id="deleteAssGBcodeBySuperCode" parameterType="java.util.Map">

		DELETE
		FROM
		ASS_GB_DICT WHERE
		supper_code = #{supper_code}

	</delete>
<delete id="deleteAssGBcode"> 
	DELETE
		FROM
		ASS_GB_DICT WHERE
		gb_code = #{gb_code}
</delete>
	<delete id="deleteAssFinaDict" parameterType="java.util.Map">

		DELETE FROM
		ASS_GB_DICT WHERE


		<if test="gb_code !=null and gb_code''">
			gb_code = #{gb_code}
		</if>
	</delete>
	<!--批量删除 -->
	<delete id="deleteBatchAssFinaDict" parameterType="java.util.List">
		DELETE FROM ASS_GB_DICT WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">

			and
			gb_code =
			#{item.gb_code}

		</foreach>

	</delete>





</mapper>

