<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.AssHosFacBankMapper">
	
	<resultMap id="hosFacBank" type="com.chd.hrp.ass.entity.dict.AssHosFacBank">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="fac_id" column="fac_id"/>
		<result property="fac_code" column="fac_code"/>
		<result property="fac_name" column="fac_name"/>
		<result property="bank_no" column="bank_no"/>
		<result property="bank_name" column="bank_name"/>
	</resultMap>
	
	<!-- 材料生产厂商结果集 -->
	<select id="queryHosFacBank" resultMap="hosFacBank" parameterType="java.util.Map" >
		SELECT a.group_id, a.hos_id, a.fac_id, b.fac_code, b.fac_name, a.bank_name, a.bank_no
		FROM hos_fac_bank a
		LEFT JOIN hos_fac_dict b
			ON a.group_id = b.group_id
			AND a.hos_id = b.hos_id
			AND a.fac_id = b.fac_id
		<!-- 	AND a.fac_no = b.fac_no -->
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.fac_id = #{fac_id,jdbcType=INTEGER}
	</select>
	<!-- 新增生产厂商材料对应关系 -->
	<insert id="addHosFacBank" parameterType="java.util.List" >
		INSERT INTO HOS_fac_BANK (
			group_id, hos_id, fac_id, bank_name, bank_no
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 	
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.fac_id,jdbcType=INTEGER},
				#{item.bank_name,jdbcType=VARCHAR},
				#{item.bank_no,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>
	<!-- 新增生产厂商材料对应关系 -->
	<delete id="deleteHosFacBank" parameterType="java.util.Map">
		DELETE FROM hos_fac_bank 
		WHERE group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}  
			and fac_id = #{fac_id,jdbcType=INTEGER} 
	</delete>
	<!-- 材料批量删除 -->
	<delete id="deleteHosFacBankBatch" parameterType="java.util.List">
		DELETE FROM hos_fac_bank WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and fac_id = #{item.fac_id,jdbcType=INTEGER}
			</foreach>
	</delete>
</mapper>

