<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.AssLandSourceDictMapper">
	
	<resultMap id="assLandSourceDict" type="com.chd.hrp.ass.entity.dict.AssLandSourceDict">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="land_source_code" column="land_source_code"/>
	<result property="land_source_name" column="land_source_name"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
		
	<resultMap id="assLandSourceDictMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="land_source_code" column="land_source_code"/>
	<result property="land_source_name" column="land_source_name"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_LAND_SOURCE_DICT (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="land_source_code != null and land_source_code != ''">
		land_source_code
		,
		</if>
		<if test="land_source_name != null and land_source_name != ''">
		land_source_name
		,
		</if>
		<if test="spell_code != null and spell_code != ''">
		spell_code
		,
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		wbx_code
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="land_source_code != null and land_source_code != ''">
		#{land_source_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="land_source_name != null and land_source_name != ''">
		#{land_source_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="spell_code != null and spell_code != ''">
		#{spell_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		#{wbx_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		#{is_stop,jdbcType=INTEGER}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_LAND_SOURCE_DICT (
		group_id
		,
		hos_id
		,
		copy_code
		,
		land_source_code
		,
		land_source_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) select ASS_LAND_SOURCE_DICT_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.land_source_code,jdbcType=VARCHAR}
			,
			#{item.land_source_name,jdbcType=VARCHAR}
			,
			#{item.spell_code,jdbcType=VARCHAR}
			,
			#{item.wbx_code,jdbcType=VARCHAR}
			,
			#{item.is_stop,jdbcType=INTEGER}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_land_source_dict 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="land_source_name != null and land_source_name != ''">
		land_source_name = #{land_source_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="spell_code != null and spell_code != ''">
		spell_code = #{spell_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		wbx_code = #{wbx_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop = #{is_stop,jdbcType=INTEGER}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="land_source_code != null and land_source_code != ''">
		AND land_source_code = #{land_source_code,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_land_source_dict 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.land_source_name != null and item.land_source_name != ''">
			land_source_name = #{item.land_source_name,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.spell_code != null and item.spell_code != ''">
			spell_code = #{item.spell_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.wbx_code != null and item.wbx_code != ''">
			wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.is_stop != null and item.is_stop != ''">
			is_stop = #{item.is_stop,jdbcType=INTEGER}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.land_source_code != null and item.land_source_code != ''">
			AND land_source_code = #{item.land_source_code,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_land_source_dict 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="land_source_code != null and land_source_code != ''">
		AND land_source_code = #{land_source_code,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_land_source_dict 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND land_source_code = #{item.land_source_code,jdbcType=VARCHAR}
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assLandSourceDict" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		land_source_code,
		land_source_name,
		spell_code,
		wbx_code,
		is_stop
		FROM ASS_LAND_SOURCE_DICT 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="land_source_code != null and land_source_code != ''">
		 AND ( land_source_code like '%${land_source_code}%' or
		 land_source_name like '%${land_source_code}%' or
		  land_source_name  like '%${land_source_code}%' or   
		   land_source_name like '%${land_source_code}%' )  
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code,jdbcType=VARCHAR}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryByCode" resultMap="assLandSourceDict"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		land_source_code,
		land_source_name,
		spell_code,
		wbx_code,
		is_stop
		FROM ass_land_source_dict 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		land_source_code = #{land_source_code,jdbcType=VARCHAR} 
	
	</select>
		<select id="queryByName" resultMap="assLandSourceDict"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		land_source_code,
		land_source_name,
		spell_code,
		wbx_code,
		is_stop
		FROM ass_land_source_dict 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		land_source_name = #{land_source_name,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assLandSourceDict"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		land_source_code,
		land_source_name,
		spell_code,
		wbx_code,
		is_stop
		FROM ASS_LAND_SOURCE_DICT 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="land_source_code != null and land_source_code != ''">
		AND land_source_code = #{land_source_code,jdbcType=VARCHAR}
		</if>
		<if test="land_source_name != null and land_source_name != ''">
		AND land_source_name = #{land_source_name,jdbcType=VARCHAR}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code,jdbcType=VARCHAR}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assLandSourceDict"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		land_source_code,
		land_source_name,
		spell_code,
		wbx_code,
		is_stop
		FROM ASS_LAND_SOURCE_DICT 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="land_source_code != null and land_source_code != ''">
		AND land_source_code = #{land_source_code,jdbcType=VARCHAR}
		</if>
		<if test="land_source_name != null and land_source_name != ''">
		AND land_source_name = #{land_source_name,jdbcType=VARCHAR}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code,jdbcType=VARCHAR}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryAssLandSourceDictByUniqueness" resultMap="assLandSourceDict"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		land_source_code,
		land_source_name,
		spell_code,
		wbx_code,
		is_stop
		FROM ASS_LAND_SOURCE_DICT 
		where              
		 group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="land_source_code != null and land_source_code != ''">
		AND land_source_code = #{land_source_code,jdbcType=VARCHAR}
		</if>
		<if test="land_source_name != null and land_source_name != ''">
		AND land_source_name = #{land_source_name,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>

