<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.AssTypeDictMapper">

	<resultMap id="assTypeDict" type="com.chd.hrp.ass.entity.dict.AssTypeDict">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="ass_type_id" column="ass_type_id" />
		<result property="ass_type_code" column="ass_type_code" />
		<result property="ass_type_name" column="ass_type_name" />
		<result property="super_code" column="super_code" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="is_last" column="is_last" />
		<result property="type_level" column="type_level" />
		<result property="ass_naturs" column="ass_naturs" />
		<result property="is_stop" column="is_stop" />
		<result property="acc_type_code" column="acc_type_code" />
		<result property="acc_type_name" column="acc_type_name" />
		<result property="manage_depre_amount" column="manage_depre_amount"/>
	</resultMap>
	<resultMap id="by_tree" type="java.util.Map">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="pId" column="pId" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
	</resultMap>

	<insert id="addAssTypeDict" useGeneratedKeys="true">

		INSERT INTO
		ASS_TYPE_DICT (
		group_id
		,
		hos_id
		,
		copy_code
		,
		ass_type_id
		,
		ass_type_code
		,
		ass_type_name
		,
		super_code
		,
		spell_code
		,
		wbx_code
		,
		is_last
		,
		type_level
		,
		ass_naturs
		,
		is_stop
		,
		acc_type_code,
		manage_depre_amount
		) VALUES (
		#{group_id,jdbcType=INTEGER} ,
		#{hos_id,jdbcType=INTEGER} ,
		#{copy_code,jdbcType=INTEGER} ,
		ASS_TYPE_DICT_SEQ.nextval ,
		#{ass_type_code,jdbcType=VARCHAR} ,
		#{ass_type_name,jdbcType=VARCHAR} ,
		#{super_code,jdbcType=VARCHAR} ,
		#{spell_code,jdbcType=VARCHAR} ,
		#{wbx_code,jdbcType=VARCHAR} ,
		1,
		#{type_level,jdbcType=INTEGER} ,
		#{ass_naturs,jdbcType=VARCHAR} ,
		#{is_stop,jdbcType=INTEGER},
		#{acc_type_code,jdbcType=VARCHAR},
		
		#{manage_depre_amount,jdbcType=INTEGER}
	
		)

	</insert>
	<insert id="addBatchAssTypeDict" parameterType="java.util.List">

		INSERT INTO ASS_TYPE_DICT (
		ass_type_id,
		group_id
		,
		hos_id
		,
		copy_code
		,
		ass_type_code
		,
		ass_type_name
		,
		super_code
		,
		spell_code
		,
		wbx_code
		,
		is_last
		,
		type_level
		,
		ass_naturs
		,
		is_stop
		,
		acc_type_code,
		manage_depre_amount
		) select ASS_TYPE_DICT_SEQ.nextval , t.*
		from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
				#{item.group_id,jdbcType=INTEGER} ,
		#{item.hos_id,jdbcType=INTEGER} ,
		#{item.copy_code,jdbcType=INTEGER} ,
		#{item.ass_type_code,jdbcType=VARCHAR} ,
		#{item.ass_type_name,jdbcType=VARCHAR} ,
		#{item.super_code,jdbcType=VARCHAR} ,
		#{item.spell_code,jdbcType=VARCHAR} ,
		#{item.wbx_code,jdbcType=VARCHAR} ,
		#{item.is_last,jdbcType=INTEGER} ,
		#{item.type_level,jdbcType=INTEGER} ,
		#{item.ass_naturs,jdbcType=VARCHAR} ,
		#{item.is_stop,jdbcType=INTEGER},
		#{item.acc_type_code,jdbcType=VARCHAR},
		#{item..manage_depre_amount,jdbcType=INTEGER}
			from dual
		</foreach>
		)t
	</insert>

	<update id="updateAssTypeDict" parameterType="java.util.Map">

		UPDATE ass_type_dict
		<trim prefix="SET" suffixOverrides=",">
			<if test="ass_type_name != null and ass_type_name != ''">
				ass_type_name = #{ass_type_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="super_code != null and super_code != ''">
				super_code = #{super_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="spell_code != null and spell_code != ''">
				spell_code = #{spell_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				wbx_code = #{wbx_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="is_last != null and is_last != ''">
				is_last = #{is_last,jdbcType=INTEGER}
				,
			</if>
			<if test="type_level != null and type_level != ''">
				type_level = #{type_level,jdbcType=INTEGER}
				,
			</if>
			<if test="ass_naturs != null and ass_naturs != ''">
				ass_naturs = #{ass_naturs,jdbcType=VARCHAR}
				,
			</if>
			<if test="is_stop != null and is_stop != ''">
				is_stop = #{is_stop,jdbcType=INTEGER}
				,
			</if>
			<if test="acc_type_code != null and acc_type_code != ''">
				acc_type_code = #{acc_type_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="manage_depre_amount !=null and manage_depre_amount !=''">
			manage_depre_amount=#{manage_depre_amount,jdbcType=INTEGER}
			</if>
		</trim>

		WHERE
		group_id = #{group_id}
		and
		hos_id = #{hos_id}
		and
		copy_code =
		#{copy_code}
		and
		ass_type_id = #{ass_type_id}


	</update>
	<update id="updateBatchAssTypeDict" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE ass_type_dict

			<trim prefix="SET" suffixOverrides=",">
				<if test="ass_type_name != null and ass_type_name != ''">
					ass_type_name = #{ass_type_name,jdbcType=VARCHAR}
					,
				</if>
				<if test="super_code != null and super_code != ''">
					super_code = #{super_code,jdbcType=VARCHAR}
					,
				</if>
				<if test="spell_code != null and spell_code != ''">
					spell_code = #{spell_code,jdbcType=VARCHAR}
					,
				</if>
				<if test="wbx_code != null and wbx_code != ''">
					wbx_code = #{wbx_code,jdbcType=VARCHAR}
					,
				</if>
				<if test="is_last != null and is_last != ''">
					is_last = #{is_last,jdbcType=INTEGER}
					,
				</if>
				<if test="type_level != null and type_level != ''">
					type_level = #{type_level,jdbcType=INTEGER}
					,
				</if>
				<if test="ass_naturs != null and ass_naturs != ''">
					ass_naturs = #{ass_naturs,jdbcType=VARCHAR}
					,
				</if>
				<if test="is_stop != null and is_stop != ''">
					is_stop = #{is_stop,jdbcType=INTEGER}
					,
				</if>
				<if test="acc_type_code != null and acc_type_code != ''">
					acc_type_code = #{acc_type_code,jdbcType=INTEGER}
					,
				</if>
			</trim>
			WHERE
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			ass_type_id = #{item.ass_type_id}

		</foreach>
	</update>
	
	<update id="updateAssTypeDictByCode" parameterType="java.util.Map">
		UPDATE ass_type_dict
		<trim prefix="SET" suffixOverrides=",">
			<if test="ass_type_name != null and ass_type_name != ''">
				ass_type_name = #{ass_type_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="super_code != null and super_code != ''">
				super_code = #{super_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="spell_code != null and spell_code != ''">
				spell_code = #{spell_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				wbx_code = #{wbx_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="is_last != null and is_last != ''">
				is_last = #{is_last,jdbcType=INTEGER}
				,
			</if>
			<if test="type_level != null and type_level != ''">
				type_level = #{type_level,jdbcType=INTEGER}
				,
			</if>
			<if test="ass_naturs != null and ass_naturs != ''">
				ass_naturs = #{ass_naturs,jdbcType=VARCHAR}
				,
			</if>
			<if test="is_stop != null and is_stop != ''">
				is_stop = #{is_stop,jdbcType=INTEGER}
				,
			</if>
			<if test="acc_type_code != null and acc_type_code != ''">
				acc_type_code = #{acc_type_code,jdbcType=VARCHAR}
				,
			</if>
		</trim>

		WHERE
		group_id = #{group_id}
		and	hos_id = #{hos_id}
		and	copy_code =	#{copy_code}
		and	ass_type_code = #{ass_type_code}
	</update>

	<delete id="deleteAssTypeDict" parameterType="java.util.Map">

		DELETE FROM
		ass_type_dict WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		ass_type_id = #{ass_type_id}

	</delete>
	<delete id="deleteAssTypeDictBySuperCode" parameterType="java.util.Map">

		DELETE FROM
		ass_type_dict WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		super_code = #{super_code}

	</delete>
	<delete id="deleteBatchAssTypeDict" parameterType="java.util.List">
		DELETE FROM ass_type_dict WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and
			hos_id =
			#{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			ass_type_id =
			#{item.ass_type_id}

		</foreach>

	</delete>
	<select id="queryAssTypeDict" parameterType="java.util.Map"
		resultMap="assTypeDict">
		SELECT
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.ass_type_id,
			a.ass_type_code,
			a.ass_type_name,
			a.super_code,
			a.spell_code,
			a.wbx_code,
			a.is_last,
			a.type_level,
			a.ass_naturs,
			a.is_stop,
			a.acc_type_code,
			b.fina_type_name acc_type_name,
			
			nvl(a.manage_depre_amount,0) as manage_depre_amount
		FROM ASS_TYPE_DICT a
		left join ass_fina_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.acc_type_code = b.fina_type_code
		<where>
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND a.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code}
			</if>
			<if test="ass_type_id != null and ass_type_id != ''">
				AND a.ass_type_id = #{ass_type_id}
			</if>
			<if test="ass_type_code != null and ass_type_code != ''">
				AND (
				a.ass_type_code like '${ass_type_code}%' or
				a.ass_type_name like
				'%${ass_type_code}%'
				or
				a.spell_code like
				'%${ass_type_code}%' or
				a.wbx_code like '%${ass_type_code}%'
				)
			</if>
			<if test="ass_type_name != null and ass_type_name != ''">
				AND a.ass_type_name = #{ass_type_name}
			</if>
			<if test="super_code != null and super_code != ''">
				AND a.super_code = #{super_code}
			</if>
			<if test="is_last != null and is_last != ''">
				AND a.is_last = #{is_last}
			</if>
			<if test="type_level != null and type_level != ''">
				AND a.type_level = #{type_level}
			</if>
			<if test="ass_naturs != null and ass_naturs != ''">
				AND a.ass_naturs = #{ass_naturs}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND a.is_stop = #{is_stop}
			</if>
			<if test="ass_fassetcode !=null and ass_fassetcode != '' ">
				AND a.ass_naturs != #{ass_fassetcode}
			</if>
		</where>
		order by a.ass_type_code asc
	</select>
	<select id="queryAssTypeDictByCode" resultType="com.chd.hrp.ass.entity.dict.AssTypeDict"
		parameterType="java.util.Map">

		SELECT
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.ass_type_id,
			a.ass_type_code,
			a.ass_type_name,
			a.super_code,
			a.spell_code,
			a.wbx_code,
			a.is_last,
			a.type_level,
			a.ass_naturs,
			a.is_stop,
			a.acc_type_code,
			b.fina_type_name acc_type_name,
			a.manage_depre_amount
		FROM ASS_TYPE_DICT a
		left join ass_fina_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.acc_type_code = b.fina_type_code
		WHERE
		a.group_id =#{group_id}
		and a.hos_id = #{hos_id} 
		and a.copy_code = #{copy_code} 
		<if test="ass_type_id != null and ass_type_id != ''">
			AND a.ass_type_id = #{ass_type_id}
		</if>
		<if test="ass_type_code != null and ass_type_code != ''">
			AND a.ass_type_code = #{ass_type_code}
		</if>
	</select>
	
	<select id="queryAssTypeDictByCodeOrName" resultType="com.chd.hrp.ass.entity.dict.AssTypeDict"
		parameterType="java.util.Map">

		SELECT
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.ass_type_id,
			a.ass_type_code,
			a.ass_type_name,
			a.super_code,
			a.spell_code,
			a.wbx_code,
			a.is_last,
			a.type_level,
			a.ass_naturs,
			a.is_stop,
			a.acc_type_code,
			a.manage_depre_amount
		FROM ASS_TYPE_DICT a
		WHERE
		a.group_id =#{group_id}
		and a.hos_id = #{hos_id} 
		and a.copy_code = #{copy_code} 
		AND (a.ass_type_code = #{ass_type_code}	OR a.ass_type_name = #{ass_type_name})
		and a.is_stop = 0
	</select>
	
	<select id="queryAssTypeDictByUniqueness" resultType="com.chd.hrp.ass.entity.dict.AssTypeDict"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		ass_type_id,
		ass_type_code,
		ass_type_name,
		super_code,
		spell_code,
		wbx_code,
		is_last,
		type_level,
		ass_naturs,
		is_stop,
		acc_type_code,
		manage_depre_amount
		FROM
		ASS_TYPE_DICT
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="ass_type_id != null and ass_type_id != ''">
				AND ass_type_id = #{ass_type_id}
			</if>
			<if test="ass_type_code != null and ass_type_code != ''">
				AND ass_type_code = #{ass_type_code}
			</if>
			<if test="ass_type_name != null and ass_type_name != ''">
				AND ass_type_name = #{ass_type_name}
			</if>
		</where>
		order by group_id asc
	</select>
	<select id="queryAssTypeDictByTree" parameterType="java.util.Map"
		resultMap="by_tree">

		SELECT
		group_id,
		hos_id,
		copy_code,
		ass_type_id,
		ass_type_code id,
		ass_type_code ||'
		'||ass_type_name name,
		super_code pId,
		acc_type_code
		FROM ASS_TYPE_DICT
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="ass_type_id != null and ass_type_id != ''">
				AND ass_type_id = #{ass_type_id}
			</if>
			<if test="ass_type_code != null and ass_type_code != ''">
				AND (
				ass_type_code like '${ass_type_code}%' or
				ass_type_name like
				'%${ass_type_code}%'
				or
				spell_code like
				'%${ass_type_code}%' or
				wbx_code like '%${ass_type_code}%'
				)
			</if>
			<if test="ass_type_name != null and ass_type_name != ''">
				AND ass_type_name = #{ass_type_name}
			</if>
			<if test="super_code != null and super_code != ''">
				AND super_code = #{super_code}
			</if>
			<if test="is_last != null and is_last != ''">
				AND is_last = #{is_last}
			</if>
			<if test="type_level != null and type_level != ''">
				AND type_level = #{type_level}
			</if>
			<if test="ass_naturs != null and ass_naturs != ''">
				AND ass_naturs = #{ass_naturs}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop}
			</if>
		</where>
		order by ass_type_code asc
	</select>
	<select id="querycount"  parameterType="java.util.Map"
		resultMap="assTypeDict">
		SELECT
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.ass_type_id,
			a.ass_type_code,
			a.ass_type_name,
			a.super_code,
			a.spell_code,
			a.wbx_code,
			a.is_last,
			a.type_level,
			a.ass_naturs,
			a.is_stop,
			a.acc_type_code,
			a.manage_depre_amount
		FROM
		ASS_TYPE_DICT a
		where super_code=(
	SELECT
	ass_type_code
		FROM
		ASS_TYPE_DICT
		<where>
	
	<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="ass_type_id != null and ass_type_id != ''">
				AND ass_type_id = #{ass_type_id}
			</if>
	</where>)
	</select>
	
	<!-- 查询子集zhaon -->
	<select id="queryAssTypeDiceChild" parameterType="java.util.Map" resultMap="assTypeDict">
		SELECT
		group_id,
		hos_id,
		copy_code,
		ass_type_id,
		ass_type_code,
		ass_type_name,
		super_code,
		spell_code,
		wbx_code,
		is_last,
		type_level,
		ass_naturs,
		is_stop,
		acc_type_code
		manage_depre_amount
		FROM
		ASS_TYPE_DICT
		where
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND super_code = #{ass_type_code}
	</select>
	
	<select id="queryAssTypeDiceChildd" parameterType="java.util.Map" resultMap="assTypeDict">
	SELECT
		group_id,
		hos_id,
		copy_code,
		ass_type_id,
		ass_type_code,
		ass_type_name,
		super_code,
		spell_code,
		wbx_code,
		is_last,
		type_level,
		ass_naturs,
		is_stop,
		acc_type_code
		manage_depre_amount
		FROM
		ASS_TYPE_DICT
		where
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND ass_type_code = #{ass_type_code,jdbcType=VARCHAR}
			and is_last = 1
	 
	</select>
</mapper>

