<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.analysis.c04.C04Mapper">

	<resultMap id="c0401" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
		<result property="t_10" column="t_10" />
	</resultMap>
	<resultMap id="c0402" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
		<result property="t_10" column="t_10" />
	</resultMap>
	<resultMap id="c0403" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="hos_code" column="hos_code" />
		<result property="hos_name" column="hos_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
		<result property="t_10" column="t_10" />
	</resultMap>
	<resultMap id="c0404" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
		<result property="t_10" column="t_10" />
	</resultMap>
 
   <insert id = "addAnalysisC0401"  parameterType="java.util.Map">
       INSERT INTO cost_c0401
       (
         group_id,
         hos_id,
         copy_code,
         acc_year,
         acc_month,
         dept_code,
         dept_name,
         t_1,
         t_2,
         t_3,
         t_4,
         t_5,
         t_6,
         t_7,
         t_8,
         t_9,
         t_10
       )
select
        gg.group_id,gg.hos_id,gg.copy_code,gg.acc_year,gg.acc_month,gg.dept_code,gg.dept_name,
        nvl(gg.g_current,0) + nvl(bb.b_current,0) t1 ,nvl(gg.g_accumulated,0) + nvl(bb.b_accumulated,0) t2,
          gg.g_current t3,gg.g_accumulated t4, gg.g_current/(nvl(gg.g_current,0) + nvl(bb.b_current,0)) t5,
          gg.g_accumulated /(nvl(gg.g_accumulated,0) + nvl(bb.b_accumulated,0)) t6,
          bb.b_current t7,bb.b_accumulated t8, bb.b_current/(nvl(gg.g_current,0) + nvl(bb.b_current,0)) t9,
          bb.b_accumulated /(nvl(gg.g_accumulated,0) + nvl(bb.b_accumulated,0)) t10
      from
       (
    select
      g.group_id,g.hos_id,g.copy_code,g.acc_year ,g.acc_month,
          g.dept_id,g.dept_no,g.dept_code,g.dept_name,g.dir_amount g_current,b.dir_amount g_accumulated
     from
        (
          select
          cddd.group_id,cddd.hos_id,cddd.copy_code,cddd.acc_year,cddd.acc_month,
          cddd.dept_id,cddd.dept_no,hdd.dept_code,hdd.dept_name,sum(nvl(cddd.dir_amount,0)) dir_amount
          from cost_dept_dri_data cddd
          left join cost_item_dict_no cidn  on cddd.group_id = cidn.group_id
          and cddd.hos_id = cidn.hos_id and cddd.copy_code = cidn.copy_code
          and cddd.cost_item_id = cidn.cost_item_id  and cddd.cost_item_no = cidn.cost_item_no
          left join cost_dept_nature cdn on cdn.nature_id = cidn.nature_id
          left join hos_dept_dict hdd on  hdd.group_id = cddd.group_id and hdd.hos_id = cddd.hos_id
          and hdd.dept_id = cddd.dept_id and hdd.dept_no = cddd.dept_no
          where cddd.acc_year || '' || cddd.acc_month =  #{year_month,jdbcType=VARCHAR}
          and cdn.nature_name = '固定成本'
          and cidn.is_stop = '0' and hdd.is_stop = '0'
          and cddd.dir_amount != 0
          group by cddd.group_id,cddd.hos_id,cddd.copy_code,cddd.acc_year,cddd.acc_month,
          cddd.dept_id,cddd.dept_no,hdd.dept_code,hdd.dept_name
          )g
          inner join
          (
          select
          cddd.group_id,cddd.hos_id,cddd.copy_code,
          cddd.dept_id,cddd.dept_no,hdd.dept_code,hdd.dept_name,sum(nvl(cddd.dir_amount,0)) dir_amount
          from cost_dept_dri_data cddd
          left join cost_item_dict_no cidn  on cddd.group_id = cidn.group_id
          and cddd.hos_id = cidn.hos_id and cddd.copy_code = cidn.copy_code
          and cddd.cost_item_id = cidn.cost_item_id  and cddd.cost_item_no = cidn.cost_item_no
          left join cost_dept_nature cdn on cdn.nature_id = cidn.nature_id
          left join hos_dept_dict hdd on  hdd.group_id = cddd.group_id and hdd.hos_id = cddd.hos_id
          and hdd.dept_id = cddd.dept_id and hdd.dept_no = cddd.dept_no
          where cddd.acc_year || '' || cddd.acc_month &lt;=  #{year_month,jdbcType=VARCHAR}
          and cdn.nature_name = '固定成本'
          and cidn.is_stop = '0' and hdd.is_stop = '0'
          and cddd.dir_amount != 0
          group by cddd.group_id,cddd.hos_id,cddd.copy_code,
          cddd.dept_id,cddd.dept_no,hdd.dept_code,hdd.dept_name
          )b on g.group_id = b.group_id and g.hos_id = b.hos_id and g.copy_code = b.copy_code
            and g.dept_id = b.dept_id and g.dept_no = b.dept_no

      )gg
      left join
     (
     select
      g.group_id,g.hos_id,g.copy_code,g.acc_year ,g.acc_month,
          g.dept_id,g.dept_no,g.dept_code,g.dept_name,g.dir_amount b_current,b.dir_amount b_accumulated
     from
        (
          select
          cddd.group_id,cddd.hos_id,cddd.copy_code,cddd.acc_year,cddd.acc_month,
          cddd.dept_id,cddd.dept_no,hdd.dept_code,hdd.dept_name,sum(nvl(cddd.dir_amount,0)) dir_amount
          from cost_dept_dri_data cddd
          left join cost_item_dict_no cidn  on cddd.group_id = cidn.group_id
          and cddd.hos_id = cidn.hos_id and cddd.copy_code = cidn.copy_code
          and cddd.cost_item_id = cidn.cost_item_id  and cddd.cost_item_no = cidn.cost_item_no
          left join cost_dept_nature cdn on cdn.nature_id = cidn.nature_id
          left join hos_dept_dict hdd on  hdd.group_id = cddd.group_id and hdd.hos_id = cddd.hos_id
          and hdd.dept_id = cddd.dept_id and hdd.dept_no = cddd.dept_no
          where cddd.acc_year || '' || cddd.acc_month =  #{year_month,jdbcType=VARCHAR}
          and cdn.nature_name = '变动成本'
          and cidn.is_stop = '0' and hdd.is_stop = '0'
          and cddd.dir_amount != 0
          group by cdn.nature_name,cddd.group_id,cddd.hos_id,cddd.copy_code,cddd.acc_year,cddd.acc_month,
          cddd.dept_id,cddd.dept_no,hdd.dept_code,hdd.dept_name
          )g
          left join
          (
          select
          cddd.group_id,cddd.hos_id,cddd.copy_code,
          cddd.dept_id,cddd.dept_no,hdd.dept_code,hdd.dept_name,sum(nvl(cddd.dir_amount,0)) dir_amount
          from cost_dept_dri_data cddd
          left join cost_item_dict_no cidn  on cddd.group_id = cidn.group_id
          and cddd.hos_id = cidn.hos_id and cddd.copy_code = cidn.copy_code
          and cddd.cost_item_id = cidn.cost_item_id  and cddd.cost_item_no = cidn.cost_item_no
          left join cost_dept_nature cdn on cdn.nature_id = cidn.nature_id
          left join hos_dept_dict hdd on  hdd.group_id = cddd.group_id and hdd.hos_id = cddd.hos_id
          and hdd.dept_id = cddd.dept_id and hdd.dept_no = cddd.dept_no
          where cddd.acc_year || '' || cddd.acc_month &lt;= #{year_month,jdbcType=VARCHAR}
          and cdn.nature_name = '变动成本'
          and cidn.is_stop = '0' and hdd.is_stop = '0'
          and cddd.dir_amount != 0
          group by cddd.group_id,cddd.hos_id,cddd.copy_code,
          cddd.dept_id,cddd.dept_no,hdd.dept_code,hdd.dept_name
          )b on g.group_id = b.group_id and g.hos_id = b.hos_id and g.copy_code = b.copy_code
            and g.dept_id = b.dept_id and g.dept_no = b.dept_no
          )bb  on gg.group_id = bb.group_id and gg.hos_id = bb.hos_id and gg.copy_code = bb.copy_code
               and  gg.acc_year = bb.acc_year and gg.acc_month = bb.acc_month
               and gg.dept_id = bb.dept_id and gg.dept_no = bb.dept_no
               order by gg.dept_code
   </insert>

    <delete id="deleteAnalysisC0401"  parameterType="java.util.Map">
       delete from cost_c0401
       <where>
               <if test="group_id != null and group_id != ''">
                     group_id = #{group_id,jdbcType=INTEGER}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id,jdbcType=INTEGER}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code,jdbcType=VARCHAR}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year,jdbcType=VARCHAR}
               </if>
                <if test="acc_month != null and acc_month != ''">
                    AND acc_month = #{acc_month,jdbcType=VARCHAR}
               </if>
               
       </where>
    
    </delete>

	<select id="queryAnalysisC0401" parameterType="java.util.Map"
		resultMap="c0401">
		 with temp as 
(
		select group_id, hos_id, copy_code, acc_year, acc_month, dept_code, dept_name,
		 t_1, t_2, t_3, t_4, t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0401
		 <where>
			    <if test="group_id != null and group_id != ''">
                     group_id = #{group_id,jdbcType=INTEGER}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id,jdbcType=INTEGER}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code,jdbcType=VARCHAR}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year,jdbcType=VARCHAR}
               </if>
                <if test="acc_month != null and acc_month != ''">
                    AND acc_month = #{acc_month,jdbcType=VARCHAR}
               </if>
                 <if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || acc_month = #{year_month_begin} 
			</if>
               <if test="dept_code != null and dept_code != ''">
                    AND dept_code = #{dept_code,jdbcType=VARCHAR}
               </if>
               <if test="dept_name != null and dept_name != ''">
                    AND dept_name = #{dept_name,jdbcType=VARCHAR}
               </if>
               <if test="t_1 != null and t_1 != ''">
                    AND t_1 = #{t_1,jdbcType=INTEGER}
               </if>
               <if test="t_2 != null and t_2 != ''">
                    AND t_2 = #{t_2,jdbcType=INTEGER}
               </if>
               <if test="t_3 != null and t_3 != ''">
                    AND t_3 = #{t_3,jdbcType=INTEGER}
               </if>
               <if test="t_4 != null and t_4 != ''">
                    AND t_4 = #{t_4,jdbcType=INTEGER}
               </if>
               <if test="t_5 != null and t_5 != ''">
                    AND t_5 = #{t_5,jdbcType=INTEGER}
               </if>
               <if test="t_6 != null and t_6 != ''">
                    AND t_6 = #{t_6,jdbcType=INTEGER}
               </if>
               <if test="t_7 != null and t_7 != ''">
                    AND t_7 = #{t_7,jdbcType=INTEGER}
               </if>
               <if test="t_8 != null and t_8 != ''">
                    AND t_8 = #{t_8,jdbcType=INTEGER}
               </if>
               <if test="t_9 != null and t_9 != ''">
                    AND t_9 = #{t_9,jdbcType=INTEGER}
               </if>
               <if test="t_10 != null and t_10 != ''">
                    AND t_10 = #{t_10,jdbcType=INTEGER}
               </if>
		</where>
		)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by dept_code
	</select>
	
	<select id="queryC0401Print" parameterType="java.util.Map"	resultType="java.util.Map">
		 with temp as 
(
		select group_id, hos_id, copy_code, acc_year, acc_month, dept_code, dept_name,
		 t_1, t_2, t_3, t_4, t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0401
		 <where>
			    <if test="group_id != null and group_id != ''">
                     group_id = #{group_id,jdbcType=INTEGER}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id,jdbcType=INTEGER}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code,jdbcType=VARCHAR}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year,jdbcType=VARCHAR}
               </if>
                <if test="acc_month != null and acc_month != ''">
                    AND acc_month = #{acc_month,jdbcType=VARCHAR}
               </if>
                 <if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || acc_month = #{year_month_begin} 
			</if>
               <if test="dept_code != null and dept_code != ''">
                    AND dept_code = #{dept_code,jdbcType=VARCHAR}
               </if>
               <if test="dept_name != null and dept_name != ''">
                    AND dept_name = #{dept_name,jdbcType=VARCHAR}
               </if>
               <if test="t_1 != null and t_1 != ''">
                    AND t_1 = #{t_1,jdbcType=INTEGER}
               </if>
               <if test="t_2 != null and t_2 != ''">
                    AND t_2 = #{t_2,jdbcType=INTEGER}
               </if>
               <if test="t_3 != null and t_3 != ''">
                    AND t_3 = #{t_3,jdbcType=INTEGER}
               </if>
               <if test="t_4 != null and t_4 != ''">
                    AND t_4 = #{t_4,jdbcType=INTEGER}
               </if>
               <if test="t_5 != null and t_5 != ''">
                    AND t_5 = #{t_5,jdbcType=INTEGER}
               </if>
               <if test="t_6 != null and t_6 != ''">
                    AND t_6 = #{t_6,jdbcType=INTEGER}
               </if>
               <if test="t_7 != null and t_7 != ''">
                    AND t_7 = #{t_7,jdbcType=INTEGER}
               </if>
               <if test="t_8 != null and t_8 != ''">
                    AND t_8 = #{t_8,jdbcType=INTEGER}
               </if>
               <if test="t_9 != null and t_9 != ''">
                    AND t_9 = #{t_9,jdbcType=INTEGER}
               </if>
               <if test="t_10 != null and t_10 != ''">
                    AND t_10 = #{t_10,jdbcType=INTEGER}
               </if>
		</where>
		)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by dept_code
	</select>
	
	<select id="queryAnalysisC0402" parameterType="java.util.Map"
		resultMap="c0402">
		 with temp as 
(
		select group_id, hos_id, copy_code, acc_year, acc_month, dept_code, dept_name,
		 t_1, t_2, t_3, t_4, t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0402
		 <where>
			    <if test="group_id != null and group_id != ''">
                     group_id = #{group_id,jdbcType=INTEGER}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id,jdbcType=INTEGER}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code,jdbcType=VARCHAR}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year,jdbcType=VARCHAR}
               </if>
                <if test="acc_month != null and acc_month != ''">
                    AND acc_month = #{acc_month,jdbcType=VARCHAR}
               </if>
               <if test="dept_code != null and dept_code != ''">
                    AND dept_code = #{dept_code,jdbcType=VARCHAR}
               </if>
               <if test="dept_name != null and dept_name != ''">
                    AND dept_name = #{dept_name,jdbcType=VARCHAR}
               </if>
               <if test="t_1 != null and t_1 != ''">
                    AND t_1 = #{t_1,jdbcType=INTEGER}
               </if>
               <if test="t_2 != null and t_2 != ''">
                    AND t_2 = #{t_2,jdbcType=INTEGER}
               </if>
               <if test="t_3 != null and t_3 != ''">
                    AND t_3 = #{t_3,jdbcType=INTEGER}
               </if>
               <if test="t_4 != null and t_4 != ''">
                    AND t_4 = #{t_4,jdbcType=INTEGER}
               </if>
               <if test="t_5 != null and t_5 != ''">
                    AND t_5 = #{t_5,jdbcType=INTEGER}
               </if>
               <if test="t_6 != null and t_6 != ''">
                    AND t_6 = #{t_6,jdbcType=INTEGER}
               </if>
               <if test="t_7 != null and t_7 != ''">
                    AND t_7 = #{t_7,jdbcType=INTEGER}
               </if>
               <if test="t_8 != null and t_8 != ''">
                    AND t_8 = #{t_8,jdbcType=INTEGER}
               </if>
               <if test="t_9 != null and t_9 != ''">
                    AND t_9 = #{t_9,jdbcType=INTEGER}
               </if>
               <if test="t_10 != null and t_10 != ''">
                    AND t_10 = #{t_10,jdbcType=INTEGER}
               </if>
		</where>
			)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by dept_code
	</select>
	
	
	 <insert id = "addAnalysisC0403"  parameterType="java.util.Map">
       INSERT INTO cost_c0403
       (
         group_id,
         hos_id,
         acc_year,
         acc_month,
         hos_code,
         hos_name,
         t_1,
         t_2,
         t_3,
         t_4,
         t_5,
         t_6,
         t_7,
         t_8,
         t_9,
         t_10
       )
select
        gg.group_id,gg.hos_id,gg.acc_year,gg.acc_month,gg.hos_code,gg.hos_name,
        nvl(gg.g_current,0) + nvl(bb.b_current,0) t1 ,nvl(gg.g_accumulated,0) + nvl(bb.b_accumulated,0) t2,
          gg.g_current t3,gg.g_accumulated t4, gg.g_current/(nvl(gg.g_current,0) + nvl(bb.b_current,0)) t5,
          gg.g_accumulated /(nvl(gg.g_accumulated,0) + nvl(bb.b_accumulated,0)) t6,
          bb.b_current t7,bb.b_accumulated t8, bb.b_current/(nvl(gg.g_current,0) + nvl(bb.b_current,0)) t9,
          bb.b_accumulated /(nvl(gg.g_accumulated,0) + nvl(bb.b_accumulated,0)) t10
      from
       (
    select
      g.group_id,g.hos_id,g.acc_year ,g.acc_month,g.hos_code,g.hos_name,
          g.dir_amount g_current,b.dir_amount g_accumulated
     from
        (
          select
          cddd.group_id,cddd.hos_id,cddd.acc_year,cddd.acc_month,hid.hos_code,hid.hos_name,
          sum(nvl(cddd.dir_amount,0)) dir_amount
          from cost_dept_dri_data cddd
          left join cost_item_dict_no cidn  on cddd.group_id = cidn.group_id
          and cddd.hos_id = cidn.hos_id and cddd.copy_code = cidn.copy_code
          and cddd.cost_item_id = cidn.cost_item_id  and cddd.cost_item_no = cidn.cost_item_no
          left join cost_dept_nature cdn on cdn.nature_id = cidn.nature_id
          left join hos_info_dict hid on hid.group_id = cddd.group_id and hid.hos_id = cddd.hos_id
          where cddd.acc_year || '' || cddd.acc_month = #{year_month,jdbcType=VARCHAR}
          and cdn.nature_name = '固定成本'
          and cidn.is_stop = '0'
          and cddd.dir_amount != 0
          and hid.is_stop = '0'
          group by cddd.group_id,cddd.hos_id,cddd.copy_code,cddd.acc_year,cddd.acc_month,hid.hos_code,hid.hos_name
          )g
          inner join
          (
          select
          cddd.group_id,cddd.hos_id,cddd.copy_code,hid.hos_code,hid.hos_name,
          sum(nvl(cddd.dir_amount,0)) dir_amount
          from cost_dept_dri_data cddd
          left join cost_item_dict_no cidn  on cddd.group_id = cidn.group_id
          and cddd.hos_id = cidn.hos_id and cddd.copy_code = cidn.copy_code
          and cddd.cost_item_id = cidn.cost_item_id  and cddd.cost_item_no = cidn.cost_item_no
          left join cost_dept_nature cdn on cdn.nature_id = cidn.nature_id
          left join hos_info_dict hid on hid.group_id = cddd.group_id and hid.hos_id = cddd.hos_id
          where cddd.acc_year || '' || cddd.acc_month &lt;= #{year_month,jdbcType=VARCHAR}
          and cdn.nature_name = '固定成本'
          and cidn.is_stop = '0'
          and cddd.dir_amount != 0
          and hid.is_stop = '0'
          group by cddd.group_id,cddd.hos_id,cddd.copy_code,hid.hos_code,hid.hos_name
          )b on g.group_id = b.group_id and g.hos_id = b.hos_id 
      )gg
      left join
     (
     select
      g.group_id,g.hos_id,g.copy_code,g.acc_year ,g.acc_month,g.hos_code,g.hos_name,
        g.dir_amount b_current,b.dir_amount b_accumulated
     from
        (
          select
          cddd.group_id,cddd.hos_id,cddd.copy_code,cddd.acc_year,cddd.acc_month,hid.hos_code,hid.hos_name,
          sum(nvl(cddd.dir_amount,0)) dir_amount
          from cost_dept_dri_data cddd
          left join cost_item_dict_no cidn  on cddd.group_id = cidn.group_id
          and cddd.hos_id = cidn.hos_id and cddd.copy_code = cidn.copy_code
          and cddd.cost_item_id = cidn.cost_item_id  and cddd.cost_item_no = cidn.cost_item_no
          left join cost_dept_nature cdn on cdn.nature_id = cidn.nature_id
          left join hos_info_dict hid on hid.group_id = cddd.group_id and hid.hos_id = cddd.hos_id
          where cddd.acc_year || '' || cddd.acc_month = #{year_month,jdbcType=VARCHAR}
          and cdn.nature_name = '变动成本'
          and cidn.is_stop = '0'
          and cddd.dir_amount != 0
          and hid.is_stop = '0'
          group by cdn.nature_name,cddd.group_id,cddd.hos_id,cddd.copy_code,cddd.acc_year,cddd.acc_month,hid.hos_code,hid.hos_name
          )g
          left join
          (
          select
          cddd.group_id,cddd.hos_id,hid.hos_code,hid.hos_name,
          sum(nvl(cddd.dir_amount,0)) dir_amount
          from cost_dept_dri_data cddd
          left join cost_item_dict_no cidn  on cddd.group_id = cidn.group_id
          and cddd.hos_id = cidn.hos_id and cddd.copy_code = cidn.copy_code
          and cddd.cost_item_id = cidn.cost_item_id  and cddd.cost_item_no = cidn.cost_item_no
          left join cost_dept_nature cdn on cdn.nature_id = cidn.nature_id
          left join hos_info_dict hid on hid.group_id = cddd.group_id and hid.hos_id = cddd.hos_id
          where cddd.acc_year || '' || cddd.acc_month &lt;= #{year_month,jdbcType=VARCHAR}
          and cdn.nature_name = '变动成本'
          and cidn.is_stop = '0'
          and cddd.dir_amount != 0
          and hid.is_stop = '0'
          group by cddd.group_id,cddd.hos_id,cddd.copy_code,hid.hos_code,hid.hos_name
          )b on g.group_id = b.group_id and g.hos_id = b.hos_id 
          )bb  on gg.group_id = bb.group_id and gg.hos_id = bb.hos_id 
               and  gg.acc_year = bb.acc_year and gg.acc_month = bb.acc_month
   </insert>
   
     <delete id="deleteAnalysisC0403"  parameterType="java.util.Map">
       delete from cost_c0403
       <where>
               <if test="group_id != null and group_id != ''">
                     group_id = #{group_id,jdbcType=INTEGER}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id,jdbcType=INTEGER}
               </if>
<!-- 			    <if test="copy_code != null and copy_code != ''"> -->
<!--                     AND copy_code = #{copy_code,jdbcType=VARCHAR} -->
<!--                </if> -->
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year,jdbcType=VARCHAR}
               </if>
                <if test="acc_month != null and acc_month != ''">
                    AND acc_month = #{acc_month,jdbcType=VARCHAR}
               </if>
               
       </where>
    </delete>
	<select id="queryAnalysisC0403" parameterType="java.util.Map"
		resultMap="c0403">
		 with temp as 
(
		select group_id, hos_id, acc_year, acc_month, hos_code, hos_name,
		 t_1, t_2, t_3, t_4, t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0403
		 <where>
			    <if test="group_id != null and group_id != ''">
                     group_id = #{group_id,jdbcType=INTEGER}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id,jdbcType=INTEGER}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year,jdbcType=VARCHAR}
               </if>
                <if test="acc_month != null and acc_month != ''">
                    AND acc_month = #{acc_month,jdbcType=VARCHAR}
               </if>
               <!--   <if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' ">
				AND acc_year || acc_month = #{year_month_begin} 
			 </if>
		</where>
			)select acc_year,
		hos_code,hos_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		hos_code,hos_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by hos_code
	</select>
	
	<select id="queryC0403Print" parameterType="java.util.Map"	resultType="java.util.Map">
		 with temp as 
(
		select group_id, hos_id, acc_year, acc_month, hos_code, hos_name,
		 t_1, t_2, t_3, t_4, t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0403
		 <where>
			    <if test="group_id != null and group_id != ''">
                     group_id = #{group_id,jdbcType=INTEGER}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id,jdbcType=INTEGER}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year,jdbcType=VARCHAR}
               </if>
                <if test="acc_month != null and acc_month != ''">
                    AND acc_month = #{acc_month,jdbcType=VARCHAR}
               </if>
               <!--   <if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' ">
				AND acc_year || acc_month = #{year_month_begin} 
			 </if>
		</where>
			)select acc_year,
		hos_code,hos_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		hos_code,hos_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by hos_code
	</select>
	
	<select id="queryAnalysisC0404" parameterType="java.util.Map"
		resultMap="c0404">
		 with temp as 
(
		select group_id, hos_id, copy_code, acc_year, acc_month, dept_code, dept_name,
		 t_1, t_2, t_3, t_4, t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0404
		 <where>
			    <if test="group_id != null and group_id != ''">
                     group_id = #{group_id,jdbcType=INTEGER}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id,jdbcType=INTEGER}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code,jdbcType=VARCHAR}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year,jdbcType=VARCHAR}
               </if>
                <if test="acc_month != null and acc_month != ''">
                    AND acc_month = #{acc_month,jdbcType=VARCHAR}
               </if>
               <if test="dept_code != null and dept_code != ''">
                    AND dept_code = #{dept_code,jdbcType=VARCHAR}
               </if>
               <if test="dept_name != null and dept_name != ''">
                    AND dept_name = #{dept_name,jdbcType=VARCHAR}
               </if>
               <if test="t_1 != null and t_1 != ''">
                    AND t_1 = #{t_1,jdbcType=INTEGER}
               </if>
               <if test="t_2 != null and t_2 != ''">
                    AND t_2 = #{t_2,jdbcType=INTEGER}
               </if>
               <if test="t_3 != null and t_3 != ''">
                    AND t_3 = #{t_3,jdbcType=INTEGER}
               </if>
               <if test="t_4 != null and t_4 != ''">
                    AND t_4 = #{t_4,jdbcType=INTEGER}
               </if>
               <if test="t_5 != null and t_5 != ''">
                    AND t_5 = #{t_5,jdbcType=INTEGER}
               </if>
               <if test="t_6 != null and t_6 != ''">
                    AND t_6 = #{t_6,jdbcType=INTEGER}
               </if>
               <if test="t_7 != null and t_7 != ''">
                    AND t_7 = #{t_7,jdbcType=INTEGER}
               </if>
               <if test="t_8 != null and t_8 != ''">
                    AND t_8 = #{t_8,jdbcType=INTEGER}
               </if>
               <if test="t_9 != null and t_9 != ''">
                    AND t_9 = #{t_9,jdbcType=INTEGER}
               </if>
               <if test="t_10 != null and t_10 != ''">
                    AND t_10 = #{t_10,jdbcType=INTEGER}
               </if>
		</where>
			)select acc_year,
		dept_code,dept_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		dept_code,dept_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by dept_code
	</select>

</mapper>

