<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.ss.HrNoRuleMapper">   <!-- namespace名字必须和 dao 层 接口 名字一致-->

	<resultMap id="hrNoRuleMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<!-- <result property="copy_code" column="copy_code" /> -->
		<result property="table_code" column="table_code" />
		<result property="table_name" column="table_name" />
		<result property="prefixe" column="prefixe" />
		<result property="is_year" column="is_year" />
		<result property="is_month" column="is_month" />
		<result property="is_day" column="is_day" />
		<result property="seq_no" column="seq_no" />
	</resultMap>
	
	<!-- 查询 总记录数  id 必须和 dao 层接口 中的方法名配套对应。 -->
<!-- 	<select id="queryRuleByCode" resultMap="hrNoRuleMap" parameterType="String">
		SELECT 
			count (group_id)
		FROM hr_no_rule
		WHERE
			group_id=#{group_id}
			and hos_id=#{hos_id}
			and copy_code=#{copy_code}
			and table_code=#{table_code}
	</select> -->
	<!-- 查询全部的记录    id 必须和 dao 层接口 中的方法名配套对应。-->
	<select id="queryRule" resultMap="hrNoRuleMap" parameterType="java.util.Map">
		SELECT group_id,
			hos_id,
			<!-- copy_code, -->
			table_code,
			table_name,
			prefixe,
			is_year,
			is_month,
			is_day,
			seq_no 
		FROM hr_no_rule
		WHERE
			group_id=#{group_id}
			and hos_id=#{hos_id}
			<!-- and copy_code=#{copy_code} -->
			<if test="rule_message != null and rule_message != ''">
			 <!-- 输入了业务单号，查询指定内容 -->
				and (table_name like '%${rule_message}%'
				or prefixe like '%${rule_message}%')
			</if>
	</select>
	
	<insert id="addHrNoRule" parameterType="java.util.List">
		INSERT INTO HR_NO_RULE
			(group_id,hos_id,
			<!-- copy_code, -->
			table_code,table_name,prefixe,is_year,is_month,is_day,seq_no)
		VALUES
			( #{group_id},#{hos_id}, 
			<!-- #{copy_code}, -->
			#{table_code},#{table_name},#{prefixe}, #{is_year},#{is_month}, #{is_day}, #{seq_no} )
	</insert>
	
	<update id="saveHrNoRule" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
		UPDATE hr_no_rule SET
			 table_name=#{item.table_name},
			 prefixe=#{item.prefixe},
			 is_year=#{item.is_year},
			 is_month=#{item.is_month},
			 is_day=#{item.is_day},
			 seq_no=#{item.seq_no}
		WHERE
			group_id = #{item.group_id}
		AND hos_id = #{item.hos_id}
		<!-- AND copy_code = #{item.copy_code} -->
		AND table_code = #{item.table_code}	
		</foreach>
	</update>
	
	<delete id="deleHrNoRule" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
		DELETE FROM hr_no_rule
		WHERE
			group_id=#{item.group_id}
		AND hos_id=#{item.hos_id}
		<!-- AND copy_code=#{item.copy_code} -->
		AND table_code=#{item.table_code}
		</foreach>
	</delete>
	
</mapper>