<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.calculation.HtcgDeptDrgsCostQueryMapper">
	<resultMap id="htcgDeptPdrgsCost" type="com.chd.hrp.htcg.entity.calculation.HtcgDeptPdrgsCost">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="period_type_code" column="period_type_code" /> 
		<result property="period_type_name" column="period_type_name" />
		<result property="period_code" column="period_code" />
		<result property="period_name" column="period_name" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="scheme_code" column="scheme_code" />
		<result property="scheme_name" column="scheme_name" />
		<result property="drgs_code" column="drgs_code" />
		<result property="drgs_name" column="drgs_name" />
		<result property="out_dept_id" column="out_dept_id" /> 
		<result property="out_dept_code" column="out_dept_code" /> 
		<result property="out_dept_name" column="out_dept_name" /> 
		<result property="clp_p_step" column="clp_p_step" />
		<result property="clp_step_name" column="clp_step_name" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="charge_nature_code" column="charge_nature_code" />
		<result property="amount" column="amount" />
		<result property="price" column="price" />
		<result property="income_money" column="income_money"  />
		<result property="cost_price" column="cost_price" />
		<result property="cost_money" column="cost_money" />
		<result property="profit_money" column="profit_money" />
		<result property="recipe_type_code" column="recipe_type_code" />
		<result property="recipe_type_name" column="recipe_type_name" />
	</resultMap>

	<select id="queryHtcgDeptDrgsCostQuery" parameterType="java.util.Map" resultMap="htcgDeptPdrgsCost"> 
					    select hdpdc.group_id,
                       hdpdc.hos_id,
                       hdpdc.copy_code,
                       hdpdc.period_type_code,
                       hpt.period_type_name,
                       hpd.period_code,
                       hpd.period_name,
                       hdpdc.acc_year,
                       hdpdc.acc_month,
                       hdpdc.scheme_code,
                       hs.scheme_name,
                       hdpdc.drgs_code,
                       hd.drgs_name,
                       hdpdc.out_dept_id,
                       out_hd.dept_code as out_dept_code,
                       out_hd.dept_name as out_dept_name,
                       sum(hdpdc.amount) as amount,
                       sum(hdpdc.price) as price,
                       sum(hdpdc.income_money) as income_money,
                       sum(hdpdc.cost_price) as cost_price,
                       sum(hdpdc.cost_money) as cost_money
                  from htcg_dept_p_drgs_cost hdpdc
                  left join htcg_period_type hpt
                    on hpt.period_type_code = hdpdc.period_type_code
                  left join htcg_period_dict hpd
                    on hpd.period_type_code = hdpdc.period_type_code
                   and hpd.period_code = hdpdc.acc_month
                  left join htcg_scheme hs
                    on hs.group_id = hdpdc.group_id
                   and hs.hos_id = hdpdc.hos_id
                   and hs.copy_code = hdpdc.copy_code
                   and hs.scheme_code = hdpdc.scheme_code
                  left join htcg_drgs hd
                    on hd.group_id = hdpdc.group_id
                   and hd.hos_id = hdpdc.hos_id
                   and hd.copy_code = hdpdc.copy_code
                   and hd.drgs_code = hdpdc.drgs_code
                  left join hos_dept out_hd
                    on out_hd.group_id = hdpdc.group_id
                   and out_hd.hos_id = hdpdc.hos_id
                   and out_hd.dept_id = hdpdc.out_dept_id
                  left join htcg_clp_step_dict hcsd
                    on hcsd.group_id = hdpdc.group_id
                   and hcsd.hos_id = hdpdc.hos_id
                   and hcsd.copy_code = hdpdc.copy_code
                   and hcsd.clp_step_code = hdpdc.clp_p_step
                  left join cost_charge_item_arrt ccia
                    on ccia.group_id = hdpdc.group_id
                   and ccia.hos_id = hdpdc.hos_id
                   and ccia.copy_code = hdpdc.copy_code
                   and ccia.charge_item_code = hdpdc.item_code
                  left join htcg_drug_dict hdd
                    on hdd.group_id = hdpdc.group_id
                   and hdd.hos_id = hdpdc.hos_id
                   and hdd.copy_code = hdpdc.copy_code
                   and hdd.drug_code = hdpdc.item_code
                  left join htc_material_dict hmd
                    on hmd.group_id = hdpdc.group_id
                   and hmd.hos_id = hdpdc.hos_id
                   and hmd.copy_code = hdpdc.copy_code
                   and hmd.mate_code = hdpdc.item_code
                  left join htcg_recipe_type hrt
                    on hrt.group_id = hdpdc.group_id
                   and hrt.hos_id = hdpdc.hos_id
                   and hrt.copy_code = hdpdc.copy_code
                   and hrt.recipe_type_code = hdpdc.recipe_type_code
				  <where> hdpdc.group_id = #{group_id}
					   and hdpdc.hos_id = #{hos_id}
					   and hdpdc.copy_code = #{copy_code}
					    <if test="scheme_code != null and scheme_code != ''">
						   and hdpdc.scheme_code = #{scheme_code}
						</if>
					    <if test="acc_year != null and acc_year != ''">
						   and hdpdc.acc_year = #{acc_year}
						</if>
						<if test="period_type_code != null and period_type_code != ''">
							and hdpdc.period_type_code = #{period_type_code}
						</if>
						<if test="period_code != null and period_code != ''">
							and hpd.period_code = #{period_code}
						</if>
					 </where>
					 group by hdpdc.group_id,
                          hdpdc.hos_id,
                          hdpdc.copy_code,
                          hdpdc.period_type_code,
                          hpt.period_type_name,
                          hpd.period_code,
                          hpd.period_name,
                          hdpdc.acc_year,
                          hdpdc.acc_month,
                          hdpdc.scheme_code,
                          hs.scheme_name,
                          hdpdc.drgs_code,
                          hd.drgs_name,
                          hdpdc.out_dept_id,
                          out_hd.dept_code,
                          out_hd.dept_name
			
	</select>

</mapper>

