<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.calculation.HtcgChargeCostDeptMapper">
	<resultMap id="htcgChargeCostDept" type="com.chd.hrp.htcg.entity.calculation.HtcgChargeCostDept">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="period_type_code" column="period_type_code" />
		<result property="period_type_name" column="period_type_name" />
		<result property="period_code" column="period_code" />
		<result property="period_name" column="period_name" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="proj_dept_id" column="proj_dept_id" />
		<result property="proj_dept_code" column="proj_dept_code" />
		<result property="proj_dept_name" column="proj_dept_name" />
		<result property="charge_item_code" column="charge_item_code" />
		<result property="charge_item_name" column="charge_item_name" />
		<result property="charge_num" column="charge_num" />
		<result property="charge_price" column="charge_price" />
		<result property="charge_money" column="charge_money" />
		<result property="dir_cost" column="dir_cost" />
		<result property="pub_cost" column="pub_cost" />
		<result property="man_cost" column="man_cost" />
		<result property="mea_cost" column="mea_cost" />
		<result property="cost_price" column="cost_price" />
		<result property="cost_money" column="cost_money" />
		<result property="profit_money" column="profit_money" />
		<result property="source_id" column="source_id" />
		<result property="source_code" column="source_code" />
		<result property="source_name" column="source_name" />
	</resultMap>
	
	<resultMap id="htcgChargeCostSchemeRela" type="java.util.Map">
	    <result property="group_id" column="group_id" />
	    <result property="hos_id" column="hos_id" />
	    <result property="copy_code" column="copy_code" />
	    <result property="acc_year" column="acc_year" />
	    <result property="scheme_code" column="scheme_code" />
	    <result property="scheme_name" column="scheme_name" />
	    <result property="period_type_code" column="period_type_code" />
	    <result property="period_type_name" column="period_type_name" />
	    <result property="period_code" column="period_code" />
	    <result property="period_name" column="period_name" />
	    <result property="plan_code" column="plan_code" />
	    <result property="plan_name" column="plan_name" />
	</resultMap>

    <insert id="addBatchHtcgChargeCostSchemeRela" parameterType="java.util.List">
                insert into htcg_charge_cost_scheme_rela
						  (group_id,
						   hos_id,
						   copy_code,
						   acc_year,
						   scheme_code,
						   period_type_code,
						   period_code,
						   plan_code)
		        <foreach collection="list" item="item" separator="union all">
				     select 
				            #{item.group_id},
				            #{item.hos_id},
				            #{item.copy_code},
				            #{item.acc_year},
				            #{item.scheme_code},
				            #{item.period_type_code},
				            #{item.period_code},
				            #{item.plan_code} 
				      from dual
		    </foreach>
    </insert>
    
    <select id="initHtcgChargeCostDept" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
              <![CDATA[
			{call pkg_htcg_cal.prc_htcg_charge_cost_dept(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
    </select>
    
    <delete id= "deleteBatchHtcgChargeCostSchemeRela" parameterType="java.util.List">
                 delete htcg_charge_cost_scheme_rela where   
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			       group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and acc_year = #{item.acc_year}
			   and scheme_code = #{item.scheme_code}
			   and period_type_code = #{item.period_type_code}
			   and period_code = #{item.period_code}
			   and plan_code = #{item.plan_code}
		</foreach>
    </delete>
    
     <delete id= "deleteBathcHtcgChargeCostDept" parameterType="java.util.List">
             delete htcg_charge_cost_dept where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			       group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and period_type_code = #{item.period_type_code}
			   and acc_year = #{item.acc_year}
			   and acc_month = #{item.acc_month}
			   and proj_dept_id = #{item.proj_dept_id}
			   and charge_item_code = #{item.charge_item_code}
			   and source_id = #{item.source_id}
		</foreach>
    </delete>
    <select id = "queryHtcgChargeCostSchemeRela" parameterType="java.util.Map" resultMap="htcgChargeCostSchemeRela">
			 select    
				hsc.group_id,
				hsc.hos_id,
				hsc.copy_code,
				hsc.acc_year,
				hsc.scheme_code,
				hs.scheme_name,
				hsc.period_type_code,
				hpt.period_type_name,
				hpd.period_code,
				hpd.period_name,
				hccsr.plan_code,
				hps.plan_name
			 from htcg_scheme_conf hsc
			 left join htcg_period_type hpt
			 on hpt.period_type_code = hsc.period_type_code
			 left join htcg_period_dict hpd
			 on hpd.period_type_code = hsc.period_type_code
			 and hpd.period_code = hsc.acc_month
			 left join htcg_scheme hs
			 on hsc.group_id = hs.group_id
			 and hsc.hos_id = hs.hos_id
			 and hsc.copy_code = hs.copy_code
			 and hsc.scheme_code = hs.scheme_code
			 left join htcg_charge_cost_scheme_rela hccsr
			 on hccsr.group_id = hsc.group_id
			 and hccsr.hos_id = hsc.hos_id
			 and hccsr.copy_code = hsc.copy_code
			 and hccsr.period_type_code = hsc.period_type_code
			 and hccsr.period_code = hsc.acc_month
			 and hccsr.scheme_code = hsc.scheme_code
			 and hsc.acc_year = hccsr.acc_year
			 left join htc_plan_set hps
			 on hps.group_id = hccsr.group_id
			 and hps.hos_id = hccsr.hos_id
			 and hps.copy_code = hccsr.copy_code
			 and hps.acc_year = hccsr.acc_year
			 and hps.plan_code = hccsr.plan_code
			 <where> hsc.group_id = #{group_id}
				 and hsc.hos_id = #{hos_id}
				 and hsc.copy_code = #{copy_code}
				 and hsc.acc_year = #{acc_year}
	 		    <if test="scheme_code != null and scheme_code != ''">
				 and hsc.scheme_code = #{scheme_code}
			    </if>
			 </where>
			 order by  hsc.group_id,hsc.hos_id,hsc.copy_code,hsc.scheme_code,hsc.period_type_code,hpd.period_code
    </select>
    
    
    <select id = "queryHtcgChargeCostDept" parameterType="java.util.Map" resultMap="htcgChargeCostDept">
                        		with temp as(
								      select hccd.group_id,
											 hccd.hos_id,
											 hccd.copy_code,
											 hccd.period_type_code,
											 hpt.period_type_name,
											 hpd.period_code,
											 hpd.period_name,
											 hccd.acc_year,
											 hccd.acc_month,
											 hccd.proj_dept_id,
											 hpdd.proj_dept_code,
											 hpdd.proj_dept_name,
											 ccia.charge_item_code,
											 ccia.charge_item_name,
											 hccd.charge_num,
											divide( hccd.charge_money ,hccd.charge_num) charge_price,
											 hccd.charge_money,
											 hccd.dir_cost,
											 hccd.pub_cost,
											 hccd.man_cost,
											 hccd.mea_cost,
											divide (nvl(hccd.dir_cost,0) + nvl(hccd.pub_cost,0) + 
											 nvl(hccd.man_cost,0) + nvl(hccd.mea_cost,0),hccd.charge_num) cost_price,
											 nvl(hccd.dir_cost,0) + nvl(hccd.pub_cost,0) +
											 nvl(hccd.man_cost,0) + nvl(hccd.mea_cost,0) cost_money,
											 hccd.charge_money  - (nvl(hccd.dir_cost,0) + nvl(hccd.pub_cost,0) +
											 nvl(hccd.man_cost,0) + nvl(hccd.mea_cost,0)) profit_money,
											 hccd.source_id,
											 hs.source_code,
											 hs.source_name
									from htcg_charge_cost_dept hccd
									left join htcg_period_type hpt
										on hccd.period_type_code = hpt.period_type_code
									left join htcg_period_dict hpd
										on hpd.period_type_code = hccd.period_type_code
									 and hpd.period_code = hccd.acc_month
									left join htc_proj_dept hpdd
										on hpdd.group_id = hccd.group_id
									 and hpdd.hos_id = hccd.hos_id
									 and hpdd.copy_code = hccd.copy_code
									 and hpdd.proj_dept_id = hccd.proj_dept_id
									left join cost_charge_item_arrt ccia
										on ccia.group_id = hccd.group_id
									 and ccia.hos_id = hccd.hos_id
									 and ccia.copy_code = hccd.copy_code
									 and ccia.charge_item_code = hccd.charge_item_code
									left join hos_source hs
										on hs.group_id = hccd.group_id
									 and hs.hos_id = hccd.hos_id
									 and hs.source_id = hccd.source_id
									 <where> hccd.group_id = #{group_id}
									  and  hccd.hos_id = #{hos_id}
									  and  hccd.copy_code = #{copy_code}
									  <if test="acc_year != null and acc_year != ''">
										 and hccd.acc_year = #{acc_year}
									  </if>
									   <if test="period_type_code != null and period_type_code != ''">
										 and hccd.period_type_code = #{period_type_code}
									  </if>
									   <if test="period_code != null and period_code != ''">
										 and hpd.period_code = #{period_code}
									  </if>
									    <if test="proj_dept_code != null and proj_dept_code != ''">
										 and hpdd.proj_dept_code = #{proj_dept_code}
									  </if>
									    <if test="charge_item_code != null and charge_item_code != ''">
										 and ccia.charge_item_code = #{charge_item_code}
									  </if>
									 </where>
									)select 
									 group_id,
									 hos_id,
									 copy_code,
									 period_type_code,
									 period_type_name,
									 period_code,
									 period_name,
									 acc_year,
									 acc_month,
									 proj_dept_id,
									 proj_dept_code,
									 proj_dept_name,
									 charge_item_code,
									 charge_item_name,
									 charge_num,
									 charge_price,
									 charge_money,
									 dir_cost,
									 pub_cost,
									 man_cost,
									 mea_cost,
									 cost_price,
									 cost_money,
									 profit_money,
									 source_id,
									 source_code,
									 source_name
									 from temp
					order by group_id,hos_id,copy_code,period_type_code,period_code
							
    </select>
</mapper>

