<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.empbonus.BudgAwardsItemAdjMapper">
	
	<resultMap id="budgAwardsItemAdj" type="com.chd.hrp.budg.entity.BudgAwardsItemAdj">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="emp_type_code" column="emp_type_code"/>
	<result property="awards_item_code" column="awards_item_code"/>
	<result property="adj_amount" column="adj_amount"/>
	<result property="adj_rate" column="adj_rate"/>
	<result property="adj_month" column="adj_month"/>
	<result property="remark" column="remark"/>
	</resultMap>
		
	<resultMap id="budgAwardsItemAdjMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="emp_type_code" column="emp_type_code"/>
	<result property="type_name" column="type_name"/>
	<result property="awards_item_code" column="awards_item_code"/>
	<result property="awards_item_name" column="awards_item_name"/>
	<result property="adj_amount" column="adj_amount"/>
	<result property="adj_rate" column="adj_rate"/>
	<result property="adj_month" column="adj_month"/>
	<result property="remark" column="remark"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_AWARDS_ITEM_ADJ (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			emp_type_code
			,
			awards_item_code
			,
			adj_rate
			,
			adj_amount
			,
			adj_month
			,
			remark
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{emp_type_code,jdbcType=VARCHAR}
			,
			#{awards_item_code,jdbcType=VARCHAR}
			,
			#{adj_rate,jdbcType=INTEGER}
			,
			#{adj_amount,jdbcType=INTEGER}
			,
			#{adj_month,jdbcType=VARCHAR}
			,
			#{remark,jdbcType=VARCHAR}
		)
	
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_AWARDS_ITEM_ADJ (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			emp_type_code
			,
			awards_item_code
			,
			adj_rate
			,
			adj_amount
			,
			adj_month
			,
			remark
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER}
				,
				#{item.hos_id,jdbcType=INTEGER}
				,
				#{item.copy_code,jdbcType=VARCHAR}
				,
				#{item.budg_year,jdbcType=VARCHAR}
				,
				#{item.emp_type_code,jdbcType=VARCHAR}
				,
				#{item.awards_item_code,jdbcType=VARCHAR}
				,
				#{item.adj_rate,jdbcType=INTEGER}
				,
				#{item.adj_amount,jdbcType=INTEGER}
				,
				#{item.adj_month,jdbcType=VARCHAR}
				,
				#{item.remark,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE BUDG_AWARDS_ITEM_ADJ 
		SET	
			adj_amount = #{adj_amount,jdbcType=INTEGER}
			,
			adj_rate = #{adj_rate,jdbcType=INTEGER}
			,
			adj_month = #{item.adj_month,jdbcType=VARCHAR}
			,
			remark = #{item.remark,jdbcType=VARCHAR}
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND emp_type_code = #{emp_type_code,jdbcType=VARCHAR}
			
			AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_AWARDS_ITEM_ADJ 
			SET
				adj_amount = #{item.adj_amount,jdbcType=INTEGER}
				,
				adj_rate = #{item.adj_rate,jdbcType=INTEGER}
				,
				adj_month = #{item.adj_month,jdbcType=VARCHAR}
				,
				remark = #{item.remark,jdbcType=VARCHAR}
			WHERE                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				
				AND emp_type_code = #{item.emp_type_code,jdbcType=VARCHAR}
				
				AND awards_item_code = #{item.awards_item_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM BUDG_AWARDS_ITEM_ADJ 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND emp_type_code = #{emp_type_code,jdbcType=VARCHAR}
			
			AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_AWARDS_ITEM_ADJ 
		WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				
				AND emp_type_code = #{item.emp_type_code,jdbcType=VARCHAR}
				
				AND awards_item_code = #{item.awards_item_code,jdbcType=VARCHAR}
			</foreach>
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="budgAwardsItemAdjMap" >
	
		select baia.group_id,
		       baia.hos_id,
		       baia.copy_code,
		       baia.budg_year,
		       baia.emp_type_code,
		       bet.type_name,
		       baia.awards_item_code,
		       baid.awards_item_name, 
		       baia.adj_amount,
		       baia.adj_rate,
		       baia.adj_month,
		       baia.remark
		from BUDG_AWARDS_ITEM_ADJ baia
		left join budg_emp_type bet
		on baia.group_id = bet.group_id
		   and baia.hos_id = bet.hos_id
		   and baia .copy_code = bet.copy_code
		   and baia.emp_type_code = bet.type_code
		left join BUDG_AWARDS_ITEM_DICT baid
		on baia.group_id = baid.group_id
		   and baia.hos_id = baid.hos_id
		   and baia.copy_code = baid.copy_code
		   and baia.awards_item_code = baid.awards_item_code
		WHERE                     
		baia.group_id = #{group_id,jdbcType=INTEGER}
		
		AND baia.hos_id = #{hos_id,jdbcType=INTEGER}
		
		AND baia.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="budg_year != null and budg_year != ''">
			AND baia.budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="emp_type_code != null and emp_type_code != ''">
			AND baia.emp_type_code = #{emp_type_code,jdbcType=VARCHAR}
		</if>
		<if test="awards_item_code != null and awards_item_code != ''">
			AND baia.awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="queryByCode" resultMap="budgAwardsItemAdj"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			emp_type_code,
			awards_item_code,
			adj_amount,
			adj_rate,
			adj_month,
			remark
		FROM BUDG_AWARDS_ITEM_ADJ 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
			emp_type_code = #{emp_type_code,jdbcType=VARCHAR}   and 
			awards_item_code = #{awards_item_code,jdbcType=VARCHAR} 
	</select>
	
	<select id="queryByUniqueness" resultMap="budgAwardsItemAdj"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			emp_type_code,
			awards_item_code,
			adj_amount,
			adj_rate,
			adj_month,
			remark
		FROM BUDG_AWARDS_ITEM_ADJ 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND emp_type_code = #{emp_type_code,jdbcType=VARCHAR}
			
			AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		
	</select>
	
	<select id="queryExists" resultMap="budgAwardsItemAdj"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			emp_type_code,
			awards_item_code,
			adj_amount,
			adj_rate,
			adj_month,
			remark
		FROM BUDG_AWARDS_ITEM_ADJ 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND emp_type_code = #{emp_type_code,jdbcType=VARCHAR}
			
			AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		
	</select>
	
	<select id="queryDataExists" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
		SELECT 
			count(0)
		FROM BUDG_AWARDS_ITEM_ADJ 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND emp_type_code = #{emp_type_code,jdbcType=VARCHAR}
			
			AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		
	</select>
</mapper>

