<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.tell.AccBankVeriMapper">

	<resultMap id="accBankVeri" type="com.chd.hrp.acc.entity.AccBankVeri">
        <result property="veri_id" column="veri_id"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="bank_id" column="bank_id"/>
        <result property="tell_id" column="tell_id"/>
        <result property="vouch_check_id" column="vouch_check_id"/>
        <result property="vouch_id" column="vouch_id"/>
        <result property="veri_money" column="veri_money"/>
        <result property="create_user" column="create_user"/>
        <result property="create_date" column="create_date"/>
        <result property="is_auto" column="is_auto"/>
	</resultMap>
	
    <insert id="addAccBankVeri" useGeneratedKeys="true" >
    
        INSERT INTO acc_bank_veri (
                    veri_id
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    acc_year
			 ,
                    bank_id
			 ,
                    tell_id
			 ,
                    vouch_check_id
			 ,
                    vouch_id
			 ,
                    veri_money
             ,
             		create_user
             ,
             		create_date
             ,
             		is_auto				
             ,
             		veri_check_id		       
			 
        ) VALUES (
acc_bank_veri_SEQ.nextval,
#{group_id}			 ,
#{hos_id}			 ,
#{copy_code}			 ,
#{acc_year}			 ,
#{bank_id}			 ,
#{tell_id}			 ,
#{vouch_check_id}			 ,
#{vouch_id}			 ,
#{veri_money}		 ,
#{create_user}	     ,
#{create_date}       ,
#{is_auto},
#{veri_check_id}
        )
    
    </insert>
    
    <insert id="addAccBankVeriLog" useGeneratedKeys="true" >
    
        INSERT INTO acc_bank_veri_log (
                    log_id
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    acc_year
			 ,
             		create_user
             ,
             		create_date
             ,
             		note				       
			 
        ) VALUES (
ACC_BANK_VERI_LOG_SEQ.nextval,
#{group_id}			 ,
#{hos_id}			 ,
#{copy_code}			 ,
#{acc_year}			 ,
#{create_user}	     ,
#{create_date}       ,
#{note}
        )
    
    </insert>
    
    
	<insert id="addBatchAccBankVeri" parameterType="java.util.List" >
    
        INSERT INTO acc_bank_veri (
                    veri_id
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    acc_year
			 ,
                    bank_id
			 ,
                    tell_id
			 ,
                    vouch_check_id
			 ,
                    vouch_id
			 ,
                    veri_money
             ,
             		create_user
             ,
             		create_date
             ,
             		is_auto	
			 ,
			 		veri_check_id
        ) 
        select acc_bank_veri_SEQ.nextval,a.* from (
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
		#{item.group_id}			 ,
		#{item.hos_id}			 ,
		#{item.copy_code}			 ,
		#{item.acc_year}			 ,
		#{item.bank_id}			 ,
		#{item.tell_id}			 ,
		#{item.vouch_check_id}			 ,
		#{item.vouch_id}			 ,
		#{item.veri_money}		 ,
		#{item.create_user}	     ,
		#{item.create_date}       ,
		#{item.is_auto}		      ,
		#{item.veri_check_id}
		 from dual 
		</foreach>
    	) a
    </insert>


    <delete id="deleteAccBankVeri" parameterType="java.util.Map">
   
        DELETE FROM acc_bank_veri WHERE
	        veri_id = #{veri_id} 
   
    </delete>
    
    <delete id="deleteAccBankVeriBySubjAndDate" parameterType="java.util.Map">
        DELETE FROM acc_bank_veri WHERE
  		  create_date between to_date('${create_date1}','yyyy-MM-dd') and to_date('${create_date2}','yyyy-MM-dd')
  		  and exists(select 1 from acc_bank_veri a,ACC_BANK_CHECK b where a.bank_id = b.bank_id and b.subj_id = #{subj_id})
    </delete>
    
    <delete id="deleteBatchAccBankVeri" parameterType="java.util.List">
        DELETE FROM acc_bank_veri WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 veri_id = #{item.veri_id}
		</foreach>
   
    </delete>
    
    <select id="queryAccBankVeriByCode" resultType="com.chd.hrp.acc.entity.AccBankVeri" parameterType="string" >
	  
        SELECT 
            veri_id			 ,
			group_id			 ,
			hos_id			 ,
			copy_code			 ,
			acc_year			 ,
			bank_id			 ,
			tell_id			 ,
			vouch_check_id			 ,
			vouch_id			 ,
			veri_money		 ,
			create_user	     ,
			create_date       ,
			is_auto
		FROM acc_bank_veri 
	        WHERE 
		        veri_id = #{veri_id} 
        
	</select>
	
	
	<select id="queryAccBankVeri" parameterType="java.util.Map" resultMap="accBankVeri" >
      
        SELECT 
            veri_id			 ,
			group_id			 ,
			hos_id			 ,
			copy_code			 ,
			acc_year			 ,
			bank_id			 ,
			tell_id			 ,
			vouch_check_id			 ,
			vouch_id			 ,
			veri_money		 ,
			create_user	     ,
			create_date       ,
			is_auto
        FROM acc_bank_veri 
            <where>                     
			    <if test="veri_id != null and veri_id != ''">
                    AND veri_id = #{veri_id}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="acc_year != null and acc_year != ''">
                    AND acc_year = #{acc_year}
               </if>
			    <if test="bank_id != null and bank_id != ''">
                    AND bank_id = #{bank_id}
               </if>
			    <if test="tell_id != null and tell_id != ''">
                    AND tell_id = #{tell_id}
               </if>
			    <if test="vouch_check_id != null and vouch_check_id != ''">
                    AND vouch_check_id = #{vouch_check_id}
               </if>
			    <if test="vouch_id != null and vouch_id != ''">
                    AND vouch_id = #{vouch_id}
               </if>
			    <if test="veri_money != null and veri_money != ''">
                    AND veri_money = #{veri_money}
               </if>
               <if test="create_user != null and create_user != ''">
                    AND create_user = #{create_user}
               </if>
               <if test="create_date != null and create_date != ''">
                    AND create_date = #{create_date}
               </if>
               <if test="is_auto != null and is_auto != ''">
                    AND is_auto = #{is_auto}
               </if>
        </where>   
				order by veri_id asc
    </select>
	
</mapper>

