<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.in.AssInDetailGeneralMapper">   
	
	<resultMap id="assInDetailGeneral" type="com.chd.hrp.ass.entity.in.AssInDetailGeneral">  
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_in_no" column="ass_in_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_model" column="ass_model"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="fac_id" column="fac_id"/>
	<result property="fac_no" column="fac_no"/>
	<result property="unit_code" column="unit_code"/>
	<result property="in_amount" column="in_amount"/>
	<result property="price" column="price"/>
	<result property="note" column="note"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_manage_depre" column="add_manage_depre"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	
	</resultMap>
		
	<resultMap id="assInDetailGeneralMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
			<result property="hos_id" column="hos_id"/>
			<result property="copy_code" column="copy_code"/>
			<result property="ass_in_no"           column="ass_in_no"           />
			<result property="ass_id"              column="ass_id"              />
			<result property="ass_no"              column="ass_no"              />
			<result property="ass_spec"            column="ass_spec"            />
			<result property="ass_model"           column="ass_model"           />
			<result property="ass_brand"           column="ass_brand"           />
			<result property="fac_id"              column="fac_id"              />
			<result property="fac_no"              column="fac_no"              />
			<result property="unit_code"           column="unit_code"           />
			<result property="in_amount"           column="in_amount"           />
			<result property="price"               column="price"               />
			<result property="note"                column="note"                />
			<result property="is_measure"          column="is_measure"          />
			<result property="is_depre "           column="is_depre "           />
			<result property="ass_depre_code"      column="ass_depre_code"      />
			<result property="depre_years"         column="depre_years"         />
			<result property="gb_code"             column="gb_code"             />
			<result property="is_bar"              column="is_bar"              />
			<result property="bar_type"            column="bar_type"            />
			<result property="is_manage_depre"     column="is_manage_depre"     />
			<result property="manage_depr_method"  column="manage_depr_method"  />
			<result property="manage_depre_amount" column="manage_depre_amount" />
			<result property="bus_type_code"       column="bus_type_code"       />
			<result property="store_id"            column="store_id"            />
			<result property="store_no"            column="store_no"            />
			<result property="ven_id"              column="ven_id"              />
			<result property="ven_no"              column="ven_no"              />
			<result property="purc_emp"            column="purc_emp"            />
			<result property="dept_id"             column="dept_id"             />
			<result property="dept_no"             column="dept_no"             />
			<result property="ass_purpose"         column="ass_purpose"         />
			<result property="proj_id"             column="proj_id"             />
			<result property="proj_no"             column="proj_no"             />
			<result property="note"                column="note"                />
			<result property="is_depre"            column="is_depre"        />
			<result property="reg_no"            column="reg_no"        />
			<result property="measure_type"            column="measure_type"        />
			<result property="measure_king_code"            column="measure_king_code"        />
			<result property="common_name"            column="common_name"        />
			<result property="type_code"            column="type_code"        />
			<result property="store_code"            column="store_code"        />
			<result property="year"            column="year"        />
			<result property="month"            column="month"        />
			<result property="pact_code" column="pact_code"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_IN_DETAIL_General (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="ass_in_no != null and ass_in_no != ''">
		ass_in_no
		,
		</if>
		<if test="ass_id != null and ass_id != ''">
		ass_id
		,
		</if>
		<if test="ass_no != null and ass_no != ''">
		ass_no
		,
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		ass_spec
		,
		</if>
		<if test="ass_model != null and ass_model != ''">
		ass_model
		,
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		ass_brand
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		fac_id
		,
		</if>
		<if test="fac_no != null and fac_no != ''">
		fac_no
		,
		</if>
		<if test="unit_code != null and unit_code != ''">
		unit_code
		,
		</if>
		<if test="in_amount != null and in_amount != ''">
		in_amount
		,
		</if>
		<if test="price != null and price != ''">
		price
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		<if test="ass_purpose != null and ass_purpose != ''">
		ass_purpose
		,
		</if>
		<if test="reg_no != null and reg_no != ''">
		reg_no
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_in_no != null and ass_in_no != ''">
		#{ass_in_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_id != null and ass_id != ''">
		#{ass_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_no != null and ass_no != ''">
		#{ass_no,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		#{ass_spec,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_model != null and ass_model != ''">
		#{ass_model,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		#{ass_brand,jdbcType=VARCHAR}
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		#{fac_id,jdbcType=INTEGER}
		,
		</if>
		<if test="fac_no != null and fac_no != ''">
		#{fac_no,jdbcType=INTEGER}
		,
		</if>
		<if test="unit_code != null and unit_code != ''">
		#{unit_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="in_amount != null and in_amount != ''">
		#{in_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="price != null and price != ''">
		#{price,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_purpose != null and ass_purpose != ''">
		#{ass_purpose,jdbcType=VARCHAR}
		,
		</if>
		<if test="reg_no != null and reg_no != ''">
		#{reg_no,jdbcType=VARCHAR}
		,
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_IN_DETAIL_General (
		group_id
		,
		hos_id
		,
		copy_code
		,
		ass_in_no
		,
		ass_id
		,
		ass_no
		,
		ass_spec
		,
		ass_model
		,
		ass_brand
		,
		fac_id
		,
		fac_no
		,
		unit_code
		,
		in_amount
		,
		price
		,
		note
		,
		ass_purpose
		,
		reg_no
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.ass_in_no,jdbcType=VARCHAR}
			,
			#{item.ass_id,jdbcType=INTEGER}
			,
			#{item.ass_no,jdbcType=INTEGER}
			,
			#{item.ass_spec,jdbcType=VARCHAR}
			,
			#{item.ass_model,jdbcType=VARCHAR}
			,
			#{item.ass_brand,jdbcType=VARCHAR}
			,
			#{item.fac_id,jdbcType=INTEGER}
			,
			#{item.fac_no,jdbcType=INTEGER}
			,
			#{item.unit_code,jdbcType=VARCHAR}
			,
			#{item.in_amount,jdbcType=INTEGER}
			,
			#{item.price,jdbcType=INTEGER}
			,
			#{item.note,jdbcType=VARCHAR}
			,
			#{item.ass_purpose,jdbcType=VARCHAR}
			,
			#{item.reg_no,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_in_detail_General 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="ass_spec != null and ass_spec != ''">
		ass_spec = #{ass_spec,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_model != null and ass_model != ''">
		ass_model = #{ass_model,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		ass_brand = #{ass_brand,jdbcType=VARCHAR}
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		fac_id = #{fac_id,jdbcType=INTEGER}
		,
		</if>
		<if test="fac_no != null and fac_no != ''">
		fac_no = #{fac_no,jdbcType=INTEGER}
		,
		</if>
		<if test="unit_code != null and unit_code != ''">
		unit_code = #{unit_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="in_amount != null and in_amount != ''">
		in_amount = #{in_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="price != null and price != ''">
		price = #{price,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		<if test="ass_purpose != null and ass_purpose != ''">
		ass_purpose = #{ass_purpose,jdbcType=VARCHAR}
		,
		</if>
		<if test="reg_no != null and reg_no != ''">
		reg_no = #{reg_no,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_in_no != null and ass_in_no != ''">
		AND ass_in_no = #{ass_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_in_detail_General 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.ass_spec != null and item.ass_spec != ''">
			ass_spec = #{item.ass_spec,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.ass_model != null and item.ass_model != ''">
			ass_model = #{item.ass_model,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.ass_brand != null and item.ass_brand != ''">
			ass_brand = #{item.ass_brand,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.fac_id != null and item.fac_id != ''">
			fac_id = #{item.fac_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.fac_no != null and item.fac_no != ''">
			fac_no = #{item.fac_no,jdbcType=INTEGER}
			,
			</if>
			<if test="item.unit_code != null and item.unit_code != ''">
			unit_code = #{item.unit_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.in_amount != null and item.in_amount != ''">
			in_amount = #{item.in_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.price != null and item.price != ''">
			price = #{item.price,jdbcType=INTEGER}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.ass_purpose != null and item.ass_purpose != ''">
			ass_purpose = #{item.ass_purpose,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.reg_no != null and item.reg_no != ''">
			reg_no = #{item.reg_no,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.ass_in_no != null and item.ass_in_no != ''">
			AND ass_in_no = #{item.ass_in_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.ass_id != null and item.ass_id != ''">
			AND ass_id = #{item.ass_id,jdbcType=INTEGER}
			</if>  
			<if test="item.ass_no != null and item.ass_no != ''">
			AND ass_no = #{item.ass_no,jdbcType=INTEGER}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_in_detail_General 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_in_no != null and ass_in_no != ''">
		AND ass_in_no = #{ass_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_in_detail_General 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.ass_in_no != null and item.ass_in_no != ''">
				AND ass_in_no = #{item.ass_in_no,jdbcType=VARCHAR}
				</if>
				<if test="item.ass_id != null and item.ass_id != ''">
				AND ass_id = #{item.ass_id,jdbcType=INTEGER}
				</if>
				<if test="item.ass_no != null and item.ass_no != ''">
				AND ass_no = #{item.ass_no,jdbcType=INTEGER}
				</if>
				<if test="item.ass_spec != null and item.ass_spec != ''">
				AND ass_spec = #{item.ass_spec,jdbcType=VARCHAR}
				</if>
				<if test="item.ass_model != null and item.ass_model != ''">
				AND ass_model = #{item.ass_model,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assInDetailGeneral" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.ass_in_no,
			a.ass_id||'@'||a.ass_no ass_id,
			a.ass_no,
			b.ass_code,
			b.ass_name,
			a.ass_spec,
			a.ass_model,
			a.ass_brand,
			a.fac_id||'@'||a.fac_no fac_id,
			a.fac_no,
			c.fac_code||' '||c.fac_name fac_name,
			a.unit_code,
			hu.unit_name,
			a.in_amount,
			a.price,
			a.note,
			a.ass_purpose,
			aud.equi_usage_name ass_purpose_name,
			a.reg_no,
			acm.cert_inv_name reg_name
		FROM ASS_IN_DETAIL_General a
		left join ass_no_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_id = b.ass_id
		and b.is_stop = 0
		left join hos_fac_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.fac_id = c.fac_id
		and c.is_stop = 0
		left join hos_unit hu on
		a.group_id = hu.group_id
		and a.hos_id = hu.hos_id
		and a.unit_code = hu.unit_code
		and hu.is_stop = 0
		
		left join ASS_USAGE_DICT aud on
		a.group_id = aud.group_id
		and a.hos_id = aud.hos_id
		and a.copy_code = aud.copy_code
		and a.ass_purpose = aud.equi_usage_code
		
		left join ASS_CERT_MAIN acm on
		a.group_id = acm.group_id
		and a.hos_id = acm.hos_id
		and a.copy_code = acm.copy_code
		and a.reg_no = acm.cert_code
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_in_no != null and ass_in_no != ''">
		AND a.ass_in_no = #{ass_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND a.ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND a.ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND a.ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND a.ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND a.ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND a.fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND a.fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="unit_code != null and unit_code != ''">
		AND a.unit_code = #{unit_code,jdbcType=VARCHAR}
		</if>
		<if test="in_amount != null and in_amount != ''">
		AND a.in_amount = #{in_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND a.price = #{price,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND a.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by a.ass_id asc
	</select>
	
	<select id="queryByInit" parameterType="java.util.Map" resultMap="assInDetailGeneralMap" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.ass_in_no,
			a.ass_id,
			a.ass_no,
			a.ass_spec,
			a.ass_model,
			a.ass_brand,
			a.fac_id,
			a.fac_no,
			a.unit_code,
			a.in_amount,
			a.price,
			a.note,
			b.is_measure,
			b.is_depre ,
			b.ass_depre_code,
			b.depre_years,
			b.gb_code,
			b.is_bar,
			b.bar_type,
			b.is_manage_depre,
			b.manage_depr_method,
			b.manage_depre_amount,
			'01' bus_type_code,
			d.store_id,
			d.store_no,
			d.ven_id,
			d.ven_no,
			d.purc_emp,     
			d.dept_id,      
			d.dept_no,      
			a.ass_purpose,  
			d.proj_id,      
			d.proj_no,      
			d.note,
			a.reg_no,
			b.measure_type,
			b.measure_king_code,
			b.common_name,
			b.type_code,
			e.store_code,
			to_char(d.create_date,'YYYY') year,
			to_char(d.create_date,'MM') month        
		FROM ASS_IN_DETAIL_General a
		left join ass_no_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_id = b.ass_id
		and b.is_stop = 0
		left join ASS_IN_MAIN_General d on
		a.group_id = d.group_id
		and a.hos_id = d.hos_id
		and a.copy_code = d.copy_code
		and a.ass_in_no = d.ass_in_no
		left join hos_store_dict e on 
		e.group_id=d.group_id
		and e.hos_id=d.hos_id
		and e.store_id=d.store_id
		and e.is_stop=0
		
		<where>                     
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="ass_in_no != null and ass_in_no != ''">
		AND a.ass_in_no = #{ass_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND a.ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND a.ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND a.ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND a.ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_ids != null and ass_ids != ''">
		AND a.ass_id in (${ass_ids})
		</if>
		<if test="ass_nos != null and ass_nos != ''">
		AND a.ass_no in (${ass_nos})
		</if>
		<if test="ass_specs != null and ass_specs != ''">
		AND a.ass_spec in (${ass_specs})
		</if>
		<if test="ass_models != null and ass_models != ''">
		AND a.ass_model in (${ass_models})
		</if>
		</where>   
		order by a.ass_id asc
	</select>
	
	
	
	<select id="queryByCode" resultMap="assInDetailGeneral"  parameterType="java.util.Map" >
	SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.ass_in_no,
			a.ass_id,
			a.ass_no,
			b.ass_code,
			b.ass_name,
			a.ass_spec,
			a.ass_model,
			a.ass_brand,
			a.fac_id,
			a.fac_no,
			c.fac_code,
			c.fac_name,
			a.unit_code,
			hu.unit_name,
			a.in_amount,
			a.price,
			a.note,
			a.ass_purpose,
			a.reg_no
		FROM ASS_IN_DETAIL_General a
		left join ass_no_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_id = b.ass_id
		and b.is_stop = 0
		left join hos_fac_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.fac_id = c.fac_id
		and c.is_stop = 0
		left join hos_unit hu on
		a.group_id = hu.group_id
		and a.hos_id = hu.hos_id
		and a.unit_code = hu.unit_code
		and hu.is_stop = 0
		left join ASS_USAGE_DICT aud on
		a.group_id = aud.group_id
		and a.hos_id = aud.hos_id
		and a.copy_code = aud.copy_code
		and a.ass_purpose = aud.equi_usage_code
		WHERE 
		a.group_id = #{group_id,jdbcType=INTEGER}   and 
		a.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		a.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		a.ass_in_no = #{ass_in_no,jdbcType=VARCHAR}   and 
		a.ass_id = #{ass_id,jdbcType=INTEGER}   and 
		a.ass_no = #{ass_no,jdbcType=INTEGER} 
	
	</select>
	
	
	<select id="queryByAssInNo" resultMap="assInDetailGeneral"  parameterType="java.util.Map" >
	SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.ass_in_no,
			a.ass_id,
			a.ass_no,
			b.ass_code,
			b.ass_name,
			a.ass_spec,
			a.ass_model,
			a.ass_brand,
			a.fac_id,
			a.fac_no,
			c.fac_code,
			c.fac_name,
			a.unit_code,
			hu.unit_name,
			a.in_amount,
			a.price,
			a.note,
			a.ass_purpose,
			a.reg_no
		FROM ASS_IN_DETAIL_General a
		left join ass_no_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_id = b.ass_id
		and b.is_stop = 0
		left join hos_fac_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.fac_id = c.fac_id
		and c.is_stop = 0
		left join hos_unit hu on
		a.group_id = hu.group_id
		and a.hos_id = hu.hos_id
		and a.unit_code = hu.unit_code
		and hu.is_stop = 0
		WHERE 
		a.group_id = #{group_id,jdbcType=INTEGER}   and 
		a.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		a.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		a.ass_in_no = #{ass_in_no,jdbcType=VARCHAR}
	</select>
	
	
	
	<select id="queryByUniqueness" resultMap="assInDetailGeneral"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_in_no,
		ass_id,
		ass_no,
		ass_spec,
		ass_model,
		ass_brand,
		fac_id,
		fac_no,
		unit_code,
		in_amount,
		price,
		note,
		ass_purpose
		FROM ASS_IN_DETAIL_General 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_in_no != null and ass_in_no != ''">
		AND ass_in_no = #{ass_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="unit_code != null and unit_code != ''">
		AND unit_code = #{unit_code,jdbcType=VARCHAR}
		</if>
		<if test="in_amount != null and in_amount != ''">
		AND in_amount = #{in_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assInDetailGeneral"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_in_no,
		ass_id,
		ass_no,
		ass_spec,
		ass_model,
		ass_brand,
		fac_id,
		fac_no,
		unit_code,
		in_amount,
		price,
		note,
		ass_purpose
		FROM ASS_IN_DETAIL_General 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_in_no != null and ass_in_no != ''">
		AND ass_in_no = #{ass_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="unit_code != null and unit_code != ''">
		AND unit_code = #{unit_code,jdbcType=VARCHAR}
		</if>
		<if test="in_amount != null and in_amount != ''">
		AND in_amount = #{in_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryAssBackGeneralDetail" resultMap="assInDetailGeneral" parameterType="java.util.Map">
			select a.group_id,
			       a.hos_id,
			       a.copy_code,
			       a.ass_in_no,
			       a.ass_id,
			       a.ass_no,
			       b.ass_card_no,
			       sum(b.price) price,
			       sum(b.depre_money) add_depre,
			       sum(b.manage_depre_money) add_manage_depre,
			       sum(b.cur_money) cur_money,
			       sum(b.fore_money) fore_money
			  from ass_in_detail_General a
			  left join ass_card_General b
			    on a.group_id = b.group_id
			   and a.hos_id = b.hos_id
			   and a.copy_code = b.copy_code
			   and a.ass_in_no = b.ass_in_no
			   and a.ass_id = b.ass_id
			   and a.ass_no = b.ass_no
			  <where>
						<if test="group_id != null and group_id != ''">
							AND a.group_id = #{group_id,jdbcType=INTEGER}
						</if>
						<if test="hos_id != null and hos_id != ''">
							AND a.hos_id = #{hos_id,jdbcType=INTEGER}
						</if>
						<if test="copy_code != null and copy_code != ''">
							AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
						</if>
						
						<if test="ass_in_nos != null and ass_in_nos != ''">
						AND a.ass_in_no in (
						<foreach collection="ass_in_nos" item="item" index="index" separator=",">
					        #{item}
					      </foreach>
					      )
					    </if>
					</where> 
			   
			 group by a.group_id,
			          a.hos_id,
			          a.ass_in_no,
			          a.ass_id,
			          a.ass_no,
			          b.ass_card_no,
			          a.copy_code
		
	
	</select>
</mapper>

