<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.sms.MatSupSmsMapper">

	<resultMap id="matSupSms" type="java.util.Map">

		<result property="hos_id" column="hos_id" />
		<result property="group_id" column="group_id" />
		<result property="copy_code" column="copy_code" />
		<result property="order_id" column="order_id" />
		<result property="messageid" column="messageid" />
		<result property="messagecontent" column="messagecontent" />
		<result property="destinationaddress" column="destinationaddress" />
		<result property="extendcode" column="extendcode" />
		<result property="sendtype" column="sendtype" />
		<result property="sendtime" column="sendtime" />
		<result property="iswappush" column="iswappush" />
		<result property="wapurl" column="wapurl" />
		<result property="createtime" column="createtime" />
		<result property="applicationid" column="applicationid" />
		<result property="password" column="password" />
		<result property="status" column="status" />
	</resultMap>
	<resultMap id="matOrderMain" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		
		<result property="order_id" column="order_id"/>
		<result property="order_code" column="order_code"/>
		<result property="order_date" column="order_date"/>
		
		<result property="pur_type" column="pur_type"/>
		<result property="pur_type_name" column="pur_type_name"/>
		
		<result property="order_type" column="order_type"/>
		<result property="order_type_name" column="order_type_name"/>
		
		<result property="brif" column="brif"/>
		<result property="sup_id" column="sup_id"/>
		<result property="sup_no" column="sup_no"/>
		<result property="sup_code" column="sup_code"/>
		<result property="sup_name" column="sup_name"/>
		
		<result property="dept_id" column="dept_id"/>
		<result property="dept_no" column="dept_no"/>
		<result property="dept_code" column="dept_code"/>
		<result property="dept_name" column="dept_name"/>
		
		<result property="stocker" column="stocker"/>
		<result property="stocker_name" column="stocker_name"/>
		
		<result property="pur_hos_id" column="pur_hos_id"/>
		<result property="pur_hos_no" column="pur_hos_no"/>
		<result property="pur_hos_code" column="pur_hos_code"/>
		<result property="pur_hos_name" column="pur_hos_name"/>
		
		<result property="take_hos_id" column="take_hos_id"/>
		<result property="take_hos_no" column="take_hos_no"/>
		<result property="take_hos_code" column="take_hos_code"/>
		<result property="take_hos_name" column="take_hos_name"/>
		
		<result property="pay_hos_id" column="pay_hos_id"/>
		<result property="pay_hos_no" column="pay_hos_no"/>
		<result property="pay_hos_code" column="pay_hos_code"/>
		<result property="pay_hos_name" column="pay_hos_name"/>
		<result property="stock_type_code" column="stock_type_code"/>
		<result property="stock_type_name" column="stock_type_name"/>
		
		<result property="pay_code" column="pay_code"/>
		<result property="pay_name" column="pay_name"/>
		<result property="arr_address" column="arr_address"/>
		
		<result property="maker" column="maker"/>
		<result property="maker_name" column="maker_name"/>
		<result property="make_date" column="make_date"/>
		
		<result property="checker" column="checker"/>
		<result property="checker_name" column="checker_name"/>
		<result property="check_date" column="check_date"/>
		
		<result property="state" column="state"/>
		<result property="is_notice" column="is_notice"/>
		<result property="notice_date" column="notice_date"/>
		<result property="note" column="note"/>
		<result property="is_dir" column="is_dir"/>
		<result property="dir_dept_id" column="dir_dept_id"/>
		<result property="dir_dept_no" column="dir_dept_no"/>
		<result property="dir_dept_code" column="dir_dept_code"/>
		<result property="dir_dept_name" column="dir_dept_name"/>
		
		<result property="arrive_date" column="arrive_date"/>
		<result property="telephone" column="telephone"/>
		<result property="inv_amount" column="inv_amount"/>
		<result property="come_from" column="come_from"/><!-- 订单来源 -->
		
	</resultMap>
	<insert id="add" parameterType="java.util.Map">

		insert into mat_sup_sms
		(id,
		group_id, hos_id, copy_code, order_id, messagecontent,
		destinationaddress,
		createtime, status)
		values
		(mat_sup_sms_seq.nextval,
		#{group_id,jdbcType=INTEGER} ,
		#{hos_id,jdbcType=INTEGER} , 
		#{copy_code,jdbcType=VARCHAR} ,
		#{order_id,jdbcType=INTEGER} ,
		#{messagecontent,jdbcType=VARCHAR} ,
		#{destinationaddress,jdbcType=VARCHAR} ,
		#{createtime},
		#{status,jdbcType=VARCHAR}
		)
	</insert>
	<update id="update" parameterType="java.util.Map">
		update mat_sup_sms
		set 
		messagecontent =
		#{messagecontent,jdbcType=VARCHAR} ,
		destinationaddress = #{destinationaddress,jdbcType=VARCHAR},
		createtime
		= #{createtime},
		status = #{status}
		where group_id =
		#{group_id,jdbcType=INTEGER}
		and hos_id
		= #{hos_id,jdbcType=INTEGER}
		and
		copy_code =
		#{copy_code,jdbcType=VARCHAR}
		and order_id =
		#{order_id,jdbcType=INTEGER} ;

	</update>
	
		<!-- 根据order_id返回订单主表信息 -->
	<select id="queryOrderByCode" resultMap="matOrderMain" parameterType="java.util.Map" >
		 select  
		      mom.group_id,
              mom.hos_id,
              mom.copy_code,
              mom.order_id,
              mom.order_code,
              mom.sup_id,
              mom.sup_no,
              mom.pur_type,--采购方式
              mom.order_type,--订单类型
              mom.stock_type_code,--采购类型
              mom.pay_code,--付款方式
              mom.pur_hos_id,
              hc.hos_no pur_hos_no,
              hc.hos_code pur_hos_code,
              hc.hos_name pur_hos_name,--采购单位
              mom.take_hos_id,
              hc1.hos_no take_hos_no,
              hc1.hos_code take_hos_code,
              hc1.hos_name take_hos_name,--收货单位
              mom.dept_id,--采购部门 
              mom.dept_no,
              hdd.dept_code,
              hdd.dept_name,
              mom.stocker,
              he.emp_name stocker_name,
              ms.mobile telephone,
              md.inv_amount,
              hsd.sup_name
		from mat_order_main mom
		left join hos_sup_dict hsd on mom.sup_id = hsd.sup_id 
		     and mom.hos_id = hsd.hos_id
		     and mom.group_id = hsd.group_id
				and hsd.is_stop = 0
		left join hos_dept_dict hdd on hdd.dept_id = mom.dept_id 
		     and hdd.hos_id = mom.hos_id 
		     and hdd.group_id = mom.group_id 
			 and hdd.is_stop = 0
		left join hos_emp he on he.emp_id = mom.stocker
		     and he.hos_id = mom.hos_id
		     and he.group_id = mom.group_id
		     and he.is_stop = 0 
		left join v_hos_dict hc on hc.hos_id = mom.pur_hos_id
		     and hc.group_id = mom.group_id
		     and hc.is_stop = 0
		left join v_hos_dict hc1 on hc1.hos_id = mom.take_hos_id
		     and hc1.group_id = mom.group_id
		     and hc1.is_stop = 0
		
		left join sys_user su on su.user_id = mom.maker
			and su.hos_id = mom.hos_id
			and su.group_id = mom.group_id
		left join sys_user su1 on su1.user_id = mom.checker
			and su1.hos_id = mom.hos_id
			and su1.group_id = mom.group_id
			
	    left join ASS_SUP_ATTR ms on ms.group_id=mom.group_id
	    and ms.hos_id=mom.hos_id and ms.sup_id=mom.sup_id
	    
	    left join (
		  select group_id, hos_id, copy_code,order_id, count(order_detail_id) inv_amount
		  from mat_order_detail t
		 where group_id =#{group_id,jdbcType=INTEGER}
		   and hos_id =#{hos_id,jdbcType=INTEGER}
		   and copy_code = #{copy_code,jdbcType=VARCHAR}
		   and order_id =#{order_id,jdbcType=INTEGER}
		   group by group_id, hos_id, copy_code,order_id
		  ) md on  md.group_id=mom.group_id
	    and md.hos_id=mom.hos_id and md.order_id=mom.order_id
		where 
		mom.group_id =#{group_id,jdbcType=INTEGER}
		AND mom.hos_id =#{hos_id,jdbcType=INTEGER}
		and mom.copy_code = #{copy_code,jdbcType=VARCHAR}
		and mom.order_id = #{order_id,jdbcType=INTEGER}
		<if test="order_code != null and order_code != ''">
			and mom.order_code = #{order_code,jdbcType=VARCHAR}
		</if>
		and mom.order_id not in(select sms.order_id from MAT_SUP_SMS sms 
		where sms.group_id=mom.group_id and sms.hos_id=mom.hos_id and sms.copy_code=mom.copy_code)
		 order by mom.order_id desc
	</select>
</mapper>