<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.AssDepreMethodDictMapper">
	
	<resultMap id="assDepreMethodDict" type="com.chd.hrp.ass.entity.dict.AssDepreMethodDict">
	<result property="ass_depre_code" column="ass_depre_code"/>
	<result property="ass_depre_name" column="ass_depre_name"/>
	<result property="ass_depre_define" column="ass_depre_define"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<insert id="addAssDepreMethodDict" useGeneratedKeys="true" >
	
		INSERT INTO ASS_DEPRE_METHOD_DICT (
		ass_depre_code
		,
		ass_depre_name
		,
		ass_depre_define
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) VALUES (
#{ass_depre_code}		,
#{ass_depre_name}		,
#{ass_depre_define}		,
#{spell_code}		,
#{wbx_code}		,
#{is_stop}		
		)
	
	</insert>
	<insert id="addBatchAssDepreMethodDict" parameterType="java.util.List" >
	
		INSERT INTO ASS_DEPRE_METHOD_DICT (
		ass_depre_code
		,
		ass_depre_name
		,
		ass_depre_define
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) select ASS_DEPRE_METHOD_DICT_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.ass_depre_code}			,
#{item.ass_depre_name}			,
#{item.ass_depre_define}			,
#{item.spell_code}			,
#{item.wbx_code }			,
#{item.is_stop}			
		
		</foreach>
		)t
	</insert>
	
	<update id="updateAssDepreMethodDict" parameterType="java.util.Map">
	
		UPDATE ass_depre_method_dict SET
		
		ass_depre_name = #{ass_depre_name}
		,
		ass_depre_define = #{ass_depre_define}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_stop = #{is_stop}
		
		WHERE 
		ass_depre_code = #{ass_depre_code}
		
	
	</update>
	<update id="updateBatchAssDepreMethodDict" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE ass_depre_method_dict SET
			ass_depre_name = #{ass_depre_name}
			,
			ass_depre_define = #{ass_depre_define}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_stop = #{is_stop}
			
			WHERE 
			ass_depre_code = #{item.ass_depre_code}
			
		</foreach>
	</update>
	
	<delete id="deleteAssDepreMethodDict" parameterType="java.util.Map">
	
		DELETE FROM ass_depre_method_dict WHERE
		ass_depre_code = #{ass_depre_code} 
	
	</delete>
	<delete id="deleteBatchAssDepreMethodDict" parameterType="java.util.List">
		DELETE FROM ass_depre_method_dict WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				ass_depre_code = #{item.ass_depre_code}
				
			</foreach>
	
	</delete>
	<select id="queryAssDepreMethodDict" parameterType="java.util.Map" resultMap="assDepreMethodDict" >
	
		SELECT 
		ass_depre_code,
		ass_depre_name,
		ass_depre_define,
		spell_code,
		wbx_code,
		is_stop
		FROM ASS_DEPRE_METHOD_DICT 
		<where>                     
		<if test="ass_depre_code != null and ass_depre_code != ''">
		AND (ass_depre_code like '%${ass_depre_code}%' or
		      ass_depre_name like '%${ass_depre_code}%' or
		      spell_code  like '%${ass_depre_code}%' or
		      wbx_code like '%${ass_depre_code}%' 
            )
		</if>
		<if test="ass_depre_name != null and ass_depre_name != ''">
		AND (ass_depre_code like '%${ass_depre_name}%' or
		      ass_depre_name like '%${ass_depre_name}%' or
		      spell_code  like '%${ass_depre_name}%' or
		      wbx_code like '%${ass_depre_name}%' 
            )
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		</where>   
		order by ass_depre_code asc
	</select>
	<select id="queryAssDepreMethodDictByCode" resultType="com.chd.hrp.ass.entity.dict.AssDepreMethodDict" parameterType="string" >
	
		SELECT 
		ass_depre_code,
		ass_depre_name,
		ass_depre_define,
		spell_code,
		wbx_code,
		is_stop
		FROM ass_depre_method_dict 
		WHERE 
		ass_depre_code = #{ass_depre_code} 
	
	</select>

</mapper>

