<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.AssHosSupBankMapper">
	
	<resultMap id="hosSupBank" type="com.chd.hrp.ass.entity.dict.AssHosSupBank">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="sup_id" column="sup_id"/>
		<result property="sup_code" column="sup_code"/>
		<result property="sup_name" column="sup_name"/>
		<result property="bank_name" column="bank_name"/>
		<result property="bank_no" column="bank_no"/>
		
		<result property="bank_area_number" column="bank_area_number"/>
		<result property="bank_code" column="bank_code"/>
		<result property="bank_area_name" column="bank_area_name"/>
		<result property="bank_full_name" column="bank_full_name"/>
		<result property="is_default" column="is_default"/>
	</resultMap>
	
	<!-- 材料供应商结果集 -->
	<select id="queryHosSupBank" resultMap="hosSupBank" parameterType="java.util.Map" >
		SELECT a.group_id, a.hos_id, a.sup_id, b.sup_code, b.sup_name, a.bank_name, a.bank_no,
		a.bank_area_number,a.bank_code,a.bank_area_name,a.bank_full_name,a.is_default
		FROM hos_sup_bank a
		LEFT JOIN hos_sup_dict b
			ON a.group_id = b.group_id
			AND a.hos_id = b.hos_id
			AND a.sup_id = b.sup_id
			AND b.is_stop = 0
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.sup_id = #{sup_id,jdbcType=INTEGER}
	</select>
	<!-- 新增供应商银行对应关系 -->
	<insert id="addHosSupBank" parameterType="java.util.List" >
		INSERT INTO HOS_SUP_BANK (
			group_id, hos_id, sup_id, bank_name, bank_no,
			bank_area_number,bank_code,bank_area_name,bank_full_name,is_default
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 	
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.sup_id,jdbcType=INTEGER},
				#{item.bank_name,jdbcType=VARCHAR},
				#{item.bank_no,jdbcType=VARCHAR},
				#{item.bank_area_number,jdbcType=INTEGER},
				#{item.bank_code,jdbcType=VARCHAR},
				#{item.bank_area_name,jdbcType=VARCHAR},
				#{item.bank_full_name,jdbcType=VARCHAR},
				#{item.is_default,jdbcType=INTEGER}
			from dual
		</foreach>
	</insert>
	<!-- 新增供应商材料对应关系 -->
	<delete id="deleteHosSupBank" parameterType="java.util.Map">
		DELETE FROM hos_sup_bank 
		WHERE group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}  
			and sup_id = #{sup_id,jdbcType=INTEGER} 
	</delete>
	<!-- 材料批量删除 -->
	<delete id="deleteHosSupBankBatch" parameterType="java.util.List">
		DELETE FROM hos_sup_bank WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and sup_id = #{item.sup_id,jdbcType=INTEGER}
			</foreach>
	</delete>
</mapper>

