<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.med.dao.storage.check.MedCheckDetailMapper">
	
	<resultMap id="medCheckDetail"  type="com.chd.hrp.med.entity.MedCheckDetail">
	<result property="hos_id" column="hos_id"/>
	<result property="group_id" column="group_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="check_id" column="check_id"/>
	<result property="check_code" column="check_code"/>
	<result property="detail_id" column="detail_id"/>
	<result property="inv_id" column="inv_id"/>
	<result property="inv_no" column="inv_no"/>
	<result property="batch_no" column="batch_no"/>
	<result property="bar_code" column="bar_code"/>
	<result property="location_id" column="location_id"/>
	<result property="cur_amount" column="cur_amount"/>
	<result property="chk_amount" column="chk_amount"/>
	<result property="price" column="price"/>
	<result property="inva_date" column="inva_date"/>
	<result property="disinfect_date" column="disinfect_date"/>
	<result property="note" column="note"/>
	<result property="bid_code" column="bid_code"/>
	</resultMap>
	
	<select id="queryMedCheckDetailSeq"  resultType="java.lang.Long" useCache="false" flushCache="true">		
		select MED_CHECK_DETAIL_SEQ.nextval from dual
	</select>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO MED_CHECK_DETAIL (
		<trim suffix="" suffixOverrides=",">
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="check_id != null and check_id != ''">
		check_id
		,
		</if>
		<if test="check_code != null and check_code != ''">
		check_code
		,
		</if>
		<if test="detail_id != null and detail_id != ''">
		detail_id
		,
		</if>
		<if test="inv_id != null and inv_id != ''">
		inv_id
		,
		</if>
		<if test="inv_no != null and inv_no != ''">
		inv_no
		,
		</if>
		<if test="batch_no != null and batch_no != ''">
		batch_no
		,
		</if>
		<if test="bar_code != null and bar_code != ''">
		bar_code
		,
		</if>
		<if test="location_id != null and location_id != ''">
		location_id
		,
		</if>
		<if test="cur_amount != null and cur_amount != ''">
		cur_amount
		,
		</if>
		<if test="chk_amount != null and chk_amount != ''">
		chk_amount
		,
		</if>
		<if test="price != null and price != ''">
		price
		,
		</if>
		<if test="inva_date != null and inva_date != ''">
		inva_date
		,
		</if>
		<if test="disinfect_date != null and disinfect_date != ''">
		disinfect_date
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="check_id != null and check_id != ''">
		#{check_id,jdbcType=INTEGER}
		,
		</if>
		<if test="check_code != null and check_code != ''">
		#{check_code,jdbcType=INTEGER}
		,
		</if>
		<if test="detail_id != null and detail_id != ''">
		#{detail_id,jdbcType=INTEGER}
		,
		</if>
		<if test="inv_id != null and inv_id != ''">
		#{inv_id,jdbcType=INTEGER}
		,
		</if>
		<if test="inv_no != null and inv_no != ''">
		#{inv_no,jdbcType=INTEGER}
		,
		</if>
		<if test="batch_no != null and batch_no != ''">
		#{batch_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="bar_code != null and bar_code != ''">
		#{bar_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="location_id != null and location_id != ''">
		#{location_id,jdbcType=INTEGER}
		,
		</if>
		<if test="cur_amount != null and cur_amount != ''">
		#{cur_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="chk_amount != null and chk_amount != ''">
		#{chk_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="price != null and price != ''">
		#{price,jdbcType=INTEGER}
		,
		</if>
		<if test="inva_date != null and inva_date != ''">
		#{inva_date,jdbcType=DATE}
		,
		</if>
		<if test="disinfect_date != null and disinfect_date != ''">
		#{disinfect_date,jdbcType=DATE}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO MED_CHECK_DETAIL (
				group_id,
				hos_id,
				copy_code,
				check_id,
				check_code,
				detail_id,
				inv_id
				<if test="item.inv_no != null and item.inv_no != ''">, inv_no</if>
				<if test="item.batch_no != null and item.batch_no != ''">, batch_no</if>
				<if test="item.bar_code != null and item.bar_code != ''">, bar_code</if>
				<if test="item.location_id != null">, location_id</if>		
				<if test="item.cur_amount != null and item.cur_amount != ''">, cur_amount</if>
				<if test="item.chk_amount != null and item.chk_amount != ''">, chk_amount</if>
				<if test="item.price != null and item.price!= ''">, price</if>
				<if test="item.inva_date != null and item.inva_date != ''">, inva_date</if>
				<if test="item.disinfect_date != null and item.disinfect_date!= ''">, disinfect_date</if>
				<if test="item.note != null and item.note != ''">, note</if>
			)VALUES (
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.copy_code,jdbcType=VARCHAR},
				#{item.check_id,jdbcType=INTEGER},
				#{item.check_code,jdbcType=INTEGER},
				#{item.detail_id,jdbcType=INTEGER},
				#{item.inv_id,jdbcType=INTEGER}
				<if test="item.inv_no != null and item.inv_no != ''">, #{item.inv_no,jdbcType=INTEGER}</if>
				<if test="item.batch_no != null and item.batch_no != ''">, #{item.batch_no,jdbcType=VARCHAR}</if>
				<if test="item.bar_code != null and item.bar_code != ''">, #{item.bar_code,jdbcType=VARCHAR}</if>
				<if test="item.location_id != null">, #{item.location_id,jdbcType=INTEGER}</if>		
				<if test="item.cur_amount != null and item.cur_amount != ''">, #{item.cur_amount,jdbcType=INTEGER}</if>
				<if test="item.chk_amount != null and item.chk_amount != ''">, #{item.chk_amount,jdbcType=INTEGER}</if>
				<if test="item.price != null and item.price!= ''">, #{item.price,jdbcType=INTEGER}</if>
				<if test="item.inva_date != null and item.inva_date != ''">, to_date(#{item.inva_date,jdbcType=VARCHAR},'yyyy/MM/dd')</if>
				<if test="item.disinfect_date != null and item.disinfect_date!= ''">, to_date(#{item.disinfect_date,jdbcType=VARCHAR},'yyyy/MM/dd')</if>
				<if test="item.note != null and item.note != ''">, #{item.note,jdbcType=VARCHAR}</if>
			)
		</foreach>
		
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE med_check_detail 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="inv_id != null and inv_id != ''">
		inv_id = #{inv_id,jdbcType=INTEGER}
		,
		</if>
		<if test="inv_no != null and inv_no != ''">
		inv_no = #{inv_no,jdbcType=INTEGER}
		,
		</if>
		<if test="batch_no != null and batch_no != ''">
		batch_no = #{batch_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="bar_code != null and bar_code != ''">
		bar_code = #{bar_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="location_id != null">
		location_id = #{location_id,jdbcType=INTEGER}
		,
		</if>
		<if test="cur_amount != null and cur_amount != ''">
		cur_amount = #{cur_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="chk_amount != null and chk_amount != ''">
		chk_amount = #{chk_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="price != null and price != ''">
		price = #{price,jdbcType=INTEGER}
		,
		</if>
		<if test="inva_date != null">
		inva_date = #{inva_date,jdbcType=DATE}
		,
		</if>
		<if test="disinfect_date != null">
		disinfect_date = #{disinfect_date,jdbcType=DATE}
		,
		</if>
		<if test="note != null">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="check_id != null and check_id != ''">
		AND check_id = #{check_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="inv_id != null and inv_id != ''">
		AND inv_id = #{inv_id,jdbcType=INTEGER}
		</if>
		<if test="inv_no != null and inv_no != ''">
		AND inv_no = #{inv_no,jdbcType=INTEGER}
		</if>
		<if test="batch_no != null and batch_no != ''">
		AND batch_no = #{batch_no,jdbcType=VARCHAR}
		</if>
		<if test="bar_code != null and bar_code != ''">
		AND bar_code = #{bar_code,jdbcType=VARCHAR}
		</if>
		<if test="location_id != null and location_id != ''">
		AND location_id = #{location_id,jdbcType=INTEGER}
		</if>
		<if test="cur_amount != null and cur_amount != ''">
		AND cur_amount = #{cur_amount,jdbcType=INTEGER}
		</if>
		<if test="chk_amount != null and chk_amount != ''">
		AND chk_amount = #{chk_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="inva_date != null and inva_date != ''">
		AND inva_date = #{inva_date,jdbcType=DATE}
		</if>
		<if test="disinfect_date != null and disinfect_date != ''">
		AND disinfect_date = #{disinfect_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE med_check_detail 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.inv_id != null and item.inv_id != ''">
			inv_id = #{item.inv_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.inv_no != null and item.inv_no != ''">
			inv_no = #{item.inv_no,jdbcType=INTEGER}
			,
			</if>
			<if test="item.batch_no != null and item.batch_no != ''">
			batch_no = #{item.batch_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bar_code != null and item.bar_code != ''">
			bar_code = #{item.bar_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.location_id != null">
			location_id = #{item.location_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.cur_amount != null and item.cur_amount != ''">
			cur_amount = #{item.cur_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.chk_amount != null and item.chk_amount != ''">
			chk_amount = #{item.chk_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.price != null and item.price != ''">
			price = #{item.price,jdbcType=INTEGER}
			,
			</if>
			<if test="item.inva_date != null">
			inva_date = #{item.inva_date,jdbcType=DATE}
			,
			</if>
			<if test="item.disinfect_date != null">
			disinfect_date = #{item.disinfect_date,jdbcType=DATE}
			,
			</if>
			<if test="item.note != null">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.check_id != null and item.check_id != ''">
			AND check_id = #{check_id,jdbcType=INTEGER}
			</if>  
			<if test="item.detail_id != null and item.detail_id != ''">
			AND detail_id = #{detail_id,jdbcType=INTEGER}
			</if>  
			<if test="item.inv_id != null and item.inv_id != ''">
			AND inv_id = #{inv_id,jdbcType=INTEGER}
			</if>  
			<if test="item.inv_no != null and item.inv_no != ''">
			AND inv_no = #{inv_no,jdbcType=INTEGER}
			</if>  
			<if test="item.batch_no != null and item.batch_no != ''">
			AND batch_no = #{batch_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.bar_code != null and item.bar_code != ''">
			AND bar_code = #{bar_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.location_id != null and item.location_id != ''">
			AND location_id = #{location_id,jdbcType=INTEGER}
			</if>  
			<if test="item.cur_amount != null and item.cur_amount != ''">
			AND cur_amount = #{cur_amount,jdbcType=INTEGER}
			</if>  
			<if test="item.chk_amount != null and item.chk_amount != ''">
			AND chk_amount = #{chk_amount,jdbcType=INTEGER}
			</if>  
			<if test="item.price != null and item.price != ''">
			AND price = #{price,jdbcType=INTEGER}
			</if>  
			<if test="item.inva_date != null and item.inva_date != ''">
			AND inva_date = #{inva_date,jdbcType=DATE}
			</if>  
			<if test="item.disinfect_date != null and item.disinfect_date != ''">
			AND disinfect_date = #{disinfect_date,jdbcType=DATE}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM med_check_detail 
		<where>                     
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="check_id != null and check_id != ''">
		AND check_id = #{check_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="inv_id != null and inv_id != ''">
		AND inv_id = #{inv_id,jdbcType=INTEGER}
		</if>
		<if test="inv_no != null and inv_no != ''">
		AND inv_no = #{inv_no,jdbcType=INTEGER}
		</if>
		<if test="batch_no != null and batch_no != ''">
		AND batch_no = #{batch_no,jdbcType=VARCHAR}
		</if>
		<if test="bar_code != null and bar_code != ''">
		AND bar_code = #{bar_code,jdbcType=VARCHAR}
		</if>
		<if test="location_id != null and location_id != ''">
		AND location_id = #{location_id,jdbcType=INTEGER}
		</if>
		<if test="cur_amount != null and cur_amount != ''">
		AND cur_amount = #{cur_amount,jdbcType=INTEGER}
		</if>
		<if test="chk_amount != null and chk_amount != ''">
		AND chk_amount = #{chk_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="inva_date != null and inva_date != ''">
		AND inva_date = #{inva_date,jdbcType=DATE}
		</if>
		<if test="disinfect_date != null and disinfect_date != ''">
		AND disinfect_date = #{disinfect_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM med_check_detail 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
					group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.check_id != null and item.check_id != ''">
				AND check_id = #{item.check_id,jdbcType=INTEGER}
				</if>
				<if test="item.detail_id != null and item.detail_id != ''">
				AND detail_id = #{item.detail_id,jdbcType=INTEGER}
				</if>
				<if test="item.inv_id != null and item.inv_id != ''">
				AND inv_id = #{item.inv_id,jdbcType=INTEGER}
				</if>
				<if test="item.inv_no != null and item.inv_no != ''">
				AND inv_no = #{item.inv_no,jdbcType=INTEGER}
				</if>
				<if test="item.batch_no != null and item.batch_no != ''">
				AND batch_no = #{item.batch_no,jdbcType=VARCHAR}
				</if>
				<if test="item.bar_code != null and item.bar_code != ''">
				AND bar_code = #{item.bar_code,jdbcType=VARCHAR}
				</if>
				<if test="item.location_id != null and item.location_id != ''">
				AND location_id = #{item.location_id,jdbcType=INTEGER}
				</if>
				<if test="item.cur_amount != null and item.cur_amount != ''">
				AND cur_amount = #{item.cur_amount,jdbcType=INTEGER}
				</if>
				<if test="item.chk_amount != null and item.chk_amount != ''">
				AND chk_amount = #{item.chk_amount,jdbcType=INTEGER}
				</if>
				<if test="item.price != null and item.price != ''">
				AND price = #{item.price,jdbcType=INTEGER}
				</if>
				<if test="item.inva_date != null and item.inva_date != ''">
				AND inva_date = #{item.inva_date,jdbcType=DATE}
				</if>
				<if test="item.disinfect_date != null and item.disinfect_date != ''">
				AND disinfect_date = #{item.disinfect_date,jdbcType=DATE}
				</if>
				<if test="item.note != null and item.note != ''">
				AND note = #{item.note,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="medCheckDetail" >
	
		SELECT 
		hos_id,
		group_id,
		copy_code,
		check_id,
		check_code,
		detail_id,
		inv_id,
		inv_no,
		batch_no,
		bar_code,
		location_id,
		cur_amount,
		chk_amount,
		price,
		inva_date,
		disinfect_date,
		note
		FROM MED_CHECK_DETAIL 
		<where>                     
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="check_id != null and check_id != ''">
		AND check_id = #{check_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="inv_id != null and inv_id != ''">
		AND inv_id = #{inv_id,jdbcType=INTEGER}
		</if>
		<if test="inv_no != null and inv_no != ''">
		AND inv_no = #{inv_no,jdbcType=INTEGER}
		</if>
		<if test="batch_no != null and batch_no != ''">
		AND batch_no = #{batch_no,jdbcType=VARCHAR}
		</if>
		<if test="bar_code != null and bar_code != ''">
		AND bar_code = #{bar_code,jdbcType=VARCHAR}
		</if>
		<if test="location_id != null and location_id != ''">
		AND location_id = #{location_id,jdbcType=INTEGER}
		</if>
		<if test="cur_amount != null and cur_amount != ''">
		AND cur_amount = #{cur_amount,jdbcType=INTEGER}
		</if>
		<if test="chk_amount != null and chk_amount != ''">
		AND chk_amount = #{chk_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="inva_date != null and inva_date != ''">
		AND inva_date = #{inva_date,jdbcType=DATE}
		</if>
		<if test="disinfect_date != null and disinfect_date != ''">
		AND disinfect_date = #{disinfect_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by hos_id asc
	</select>
	<select id="queryByCode" resultMap="medCheckDetail"  parameterType="java.util.Map" >
	
		SELECT 
		hos_id,
		group_id,
		copy_code,
		check_id,
		check_code,
		detail_id,
		inv_id,
		inv_no,
		batch_no,
		bar_code,
		location_id,
		cur_amount,
		chk_amount,
		price,
		inva_date,
		disinfect_date,
		note
		FROM med_check_detail 
		WHERE 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		check_id = #{check_id,jdbcType=INTEGER}   and 
		detail_id = #{detail_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryByUniqueness" resultMap="medCheckDetail"  parameterType="java.util.Map" >
	
		SELECT 
		hos_id,
		group_id,
		copy_code,
		check_id,
		check_code,
		detail_id,
		inv_id,
		inv_no,
		batch_no,
		bar_code,
		location_id,
		cur_amount,
		chk_amount,
		price,
		inva_date,
		disinfect_date,
		note
		FROM MED_CHECK_DETAIL 
		<where>                     
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="check_id != null and check_id != ''">
		AND check_id = #{check_id,jdbcType=INTEGER}
		</if>
		<if test="inv_id != null and inv_id != ''">
		AND inv_id = #{inv_id,jdbcType=INTEGER}
		</if>
		<if test="inv_no != null and inv_no != ''">
		AND inv_no = #{inv_no,jdbcType=INTEGER}
		</if>
		<if test="batch_no != null and batch_no != ''">
		AND batch_no = #{batch_no,jdbcType=VARCHAR}
		</if>
		<if test="bar_code != null and bar_code != ''">
		AND bar_code = #{bar_code,jdbcType=VARCHAR}
		</if>
		<if test="location_id != null and location_id != ''">
		AND location_id = #{location_id,jdbcType=INTEGER}
		</if>
		<if test="cur_amount != null and cur_amount != ''">
		AND cur_amount = #{cur_amount,jdbcType=INTEGER}
		</if>
		<if test="chk_amount != null and chk_amount != ''">
		AND chk_amount = #{chk_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="inva_date != null and inva_date != ''">
		AND inva_date = #{inva_date,jdbcType=DATE}
		</if>
		<if test="disinfect_date != null and disinfect_date != ''">
		AND disinfect_date = #{disinfect_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by hos_id asc
	</select>
	<select id="queryExists" resultMap="medCheckDetail"  parameterType="java.util.Map" >
	
		SELECT 
		hos_id,
		group_id,
		copy_code,
		check_id,
		check_code,
		detail_id,
		inv_id,
		inv_no,
		batch_no,
		bar_code,
		location_id,
		cur_amount,
		chk_amount,
		price,
		inva_date,
		disinfect_date,
		note
		FROM MED_CHECK_DETAIL 
		<where>                     
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="check_id != null and check_id != ''">
		AND check_id = #{check_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="inv_id != null and inv_id != ''">
		AND inv_id = #{inv_id,jdbcType=INTEGER}
		</if>
		<if test="inv_no != null and inv_no != ''">
		AND inv_no = #{inv_no,jdbcType=INTEGER}
		</if>
		<if test="batch_no != null and batch_no != ''">
		AND batch_no = #{batch_no,jdbcType=VARCHAR}
		</if>
		<if test="bar_code != null and bar_code != ''">
		AND bar_code = #{bar_code,jdbcType=VARCHAR}
		</if>
		<if test="location_id != null and location_id != ''">
		AND location_id = #{location_id,jdbcType=INTEGER}
		</if>
		<if test="cur_amount != null and cur_amount != ''">
		AND cur_amount = #{cur_amount,jdbcType=INTEGER}
		</if>
		<if test="chk_amount != null and chk_amount != ''">
		AND chk_amount = #{chk_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="inva_date != null and inva_date != ''">
		AND inva_date = #{inva_date,jdbcType=DATE}
		</if>
		<if test="disinfect_date != null and disinfect_date != ''">
		AND disinfect_date = #{disinfect_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by hos_id asc
	</select>
	
	<select id="queryMedCheckDetailByCheckID"  parameterType="java.util.Map"  resultType="java.util.HashMap">
		SELECT 
		    mcd.hos_id as hos_id,
		    mcd.group_id as group_id,
		    mcd.copy_code as copy_code,
		    mid.bid_code as bid_code,
		    mcd.check_id as check_id,
		    hf.fac_name as fac_name,
		    mcd.check_code as check_code,
		    mcd.detail_id as detail_id,
		    mcd.inv_id as inv_id,
		    mcd.inv_no as inv_no,
		    mcd.batch_no as batch_no,
		    mcd.bar_code as bar_code,
		    mcd.location_id as location_id,
		    mcd.cur_amount as cur_amount,
		    mcd.cur_amount*mcd.price as cur_money,
		    mcd.chk_amount as chk_amount,
		    mcd.chk_amount*mcd.price as chk_money,
		    mcd.chk_amount - mcd.cur_amount as pl_amount,
		    (mcd.chk_amount*mcd.price) - (mcd.cur_amount*mcd.price) as pl_money,
		    mcd.price as price,
		    mcd.inva_date as inva_date,
		    mcd.disinfect_date as disinfect_date,
		    mcd.note as note,
		    mid.inv_code as inv_code,
		    mid.inv_name as inv_name,
		    mid.inv_model as inv_model,
		    mid.unit_code as unit_code,
		    hu.unit_name as unit_name,
		    mld.location_code as location_new_code,
		    mld.location_name as location_new_name,
		    mfb.left_amount as left_amount
		FROM MED_CHECK_DETAIL mcd
		left join med_check_main mcm on mcd.group_id=mcm.group_id and mcd.hos_id=mcm.hos_id and mcd.copy_code=mcm.copy_code
			and mcd.check_id=mcm.check_id
		left join med_inv_dict mid on mcd.group_id = mid.group_id and mcd.hos_id = mid.hos_id and mcd.copy_code = mid.copy_code and mcd.inv_no = mid.inv_no and mcd.inv_id = mid.inv_id
		left join hos_fac_dict hf on hf.group_id = mid.group_id and hf.hos_id = mid.hos_id and hf.fac_id = mid.fac_id and hf.fac_no = mid.fac_no
		LEFT JOIN hos_unit hu ON mid.group_id = hu.group_id and mid.hos_id = hu.hos_id and mid.unit_code = hu.unit_code 
		left join med_store_inv msi on mcd.group_id = msi.group_id
			and mcd.hos_id = msi.hos_id and mcd.copy_code = msi.copy_code
			and mcd.inv_id = msi.inv_id
			and msi.store_id = #{store_id,jdbcType=INTEGER}
			left join med_location_dict mld on msi.group_id = mld.group_id
			and msi.hos_id = mld.hos_id
			and msi.copy_code = mld.copy_code
			and msi.location_id = mld.location_id
			and mld.is_stop = 0 
		left join (
			select group_id,hos_id,copy_code,inv_id,bar_code,batch_no,store_id,price,sum(left_amount) as left_amount
			from med_fifo_balance  
			group by group_id,hos_id,copy_code,inv_id,bar_code,batch_no,store_id,price
		) mfb on mcd.group_id = mfb.group_id and mcd.hos_id = mfb.hos_id  
			and mcd.copy_code = mfb.copy_code and mcd.inv_id = mfb.inv_id 
			and mcd.batch_no = mfb.batch_no and mcd.bar_code = mfb.bar_code  
			and mcm.store_id = mfb.store_id and mcd.price = mfb.price
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND mcd.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mcd.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mcd.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="check_id != null and check_id != ''">
		AND mcd.check_id = #{check_id,jdbcType=INTEGER}
		</if>
		</where>
		<if test="sortname != null and sortname != '' ">
			order by ${sortname} ${sortorder}
		</if>
		
		<if test="sortname == null or sortname == '' ">
			order by mcd.detail_id asc
		</if>   
	</select>
	
	<!-- 生成出入库单取盘盈明细 -->
	<select id="queryMedCheckDetailProfitForInOut"  parameterType="java.util.Map"  resultType="java.util.Map">
		SELECT 
		    mcd.inv_no, 
		    mcd.inv_id, 
		    mid.inv_code, 
		    mid.inv_name, 
		    mcd.batch_no,
		    mcd.bar_code as sn,
		    mcd.bar_code,
		    round(mcd.price, ap.para_value) as price, 
		    mcd.chk_amount-mcd.cur_amount as amount, 
		    round(mcd.price*(mcd.chk_amount-mcd.cur_amount), ap1.para_value) as amount_money,
			case 
				when (mcd.inva_date is null or mcd.inva_date = '') and mid.is_quality = 1 
					then case ap2.para_value when '0' then null else sysdate + ap2.para_value end
				else mcd.inva_date
			end as inva_date,
			mcd.disinfect_date,
			nvl(mid.is_per_bar,0) is_per_bar,
			mid.is_highvalue
		FROM MED_CHECK_DETAIL mcd
		left join med_inv_dict mid
			on mcd.group_id = mid.group_id
			and mcd.hos_id = mid.hos_id
			and mcd.copy_code = mid.copy_code
			and mcd.inv_id = mid.inv_id
			and mcd.inv_no = mid.inv_no
		left join acc_para ap 
			on mcd.group_id = ap.group_id
			and mcd.hos_id = ap.hos_id
			and mcd.copy_code = ap.copy_code
			and ap.mod_code = '08'
			and ap.para_code = '08006'
		left join acc_para ap1 
			on mcd.group_id = ap1.group_id
			and mcd.hos_id = ap1.hos_id
			and mcd.copy_code = ap1.copy_code
			and ap1.mod_code = '08'
			and ap1.para_code = '08005'
		left join acc_para ap2 
			on mcd.group_id = ap2.group_id
			and mcd.hos_id = ap2.hos_id
			and mcd.copy_code = ap2.copy_code
			and ap2.mod_code = '08'
			and ap2.para_code = '08009'
		where mcd.group_id = #{group_id,jdbcType=INTEGER}
			AND mcd.hos_id = #{hos_id,jdbcType=INTEGER}
			AND mcd.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND mcd.check_id = #{check_id,jdbcType=INTEGER}
			AND mcd.chk_amount - mcd.cur_amount > 0
		order by mcd.detail_id asc
	</select>
	
	<!-- 生成出入库单取盘亏明细 -->
	<select id="queryMedCheckDetailLossForInOut"  parameterType="java.util.Map"  resultType="java.util.HashMap">
		SELECT 
		    mcd.inv_no, 
		    mcd.inv_id, 
		    mid.inv_code, 
		    mid.inv_name, 
		    mcd.batch_no,
		    mcd.bar_code as sn,
		    mcd.bar_code,
		    round(mcd.price, ap.para_value) as price, 
		    mcd.cur_amount-mcd.chk_amount as amount, 
		    round(mcd.price*(mcd.cur_amount-mcd.chk_amount), ap1.para_value) as amount_money,
			case 
				when (mcd.inva_date is null or mcd.inva_date = '') and mid.is_quality = 1 
					then case ap2.para_value when '0' then null else sysdate + ap2.para_value end
				else mcd.inva_date
			end as inva_date,
			mcd.disinfect_date
		FROM MED_CHECK_DETAIL mcd
		left join med_inv_dict mid
			on mcd.group_id = mid.group_id
			and mcd.hos_id = mid.hos_id
			and mcd.copy_code = mid.copy_code
			and mcd.inv_id = mid.inv_id
			and mcd.inv_no = mid.inv_no
		left join acc_para ap 
			on mcd.group_id = ap.group_id
			and mcd.hos_id = ap.hos_id
			and mcd.copy_code = ap.copy_code
			and ap.mod_code = '08'
			and ap.para_code = '08006'
		left join acc_para ap1 
			on mcd.group_id = ap1.group_id
			and mcd.hos_id = ap1.hos_id
			and mcd.copy_code = ap1.copy_code
			and ap1.mod_code = '08'
			and ap1.para_code = '08005'
		left join acc_para ap2 
			on mcd.group_id = ap2.group_id
			and mcd.hos_id = ap2.hos_id
			and mcd.copy_code = ap2.copy_code
			and ap2.mod_code = '08'
			and ap2.para_code = '08009'
		where mcd.group_id = #{group_id,jdbcType=INTEGER}
			AND mcd.hos_id = #{hos_id,jdbcType=INTEGER}
			AND mcd.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND mcd.check_id = #{check_id,jdbcType=INTEGER}
			AND mcd.cur_amount - mcd.chk_amount > 0
		order by mcd.detail_id asc
	</select>
	
	<!-- 生成出入库单取盘亏明细 -->
	<select id="queryAffiFifoInv"  parameterType="java.util.Map"  resultType="java.util.HashMap">
		with w_fifo_temp as (
			select 
				group_id,
				hos_id,
		        copy_code,
		        left_amount,  --当前库存数量
		        left_money,  --当前库存金额
		        batch_sn,  --批次
		        location_id
			from med_fifo_balance
			where group_id = #{group_id,jdbcType=INTEGER}
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
				AND store_id = #{store_id,jdbcType=INTEGER}
				AND inv_id = #{inv_id,jdbcType=INTEGER}
				AND batch_no = #{batch_no,jdbcType=VARCHAR}
				AND bar_code = #{bar_code,jdbcType=VARCHAR}
		),
		w_out_temp as (
			select 
				a.inv_id,
		        a.batch_sn,  --批次
		        sum(a.amount) as imme_amount ,  --MED_FIFO_BALANCE库存数量 减 明细表出库未确认的库存
		        sum(a.amount_money) as imme_amount_money
			from med_out_detail a
			left join med_out_main b 
				on a.group_id = b.group_id and a.hos_id = b.hos_id 
				and a.copy_code = b.copy_code and a.out_id = b.out_id
			where
				<![CDATA[ b.state < 3 ]]>
				AND a.group_id = #{group_id,jdbcType=INTEGER}
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
				AND b.store_id = #{store_id,jdbcType=INTEGER}
				AND a.inv_id = #{inv_id,jdbcType=INTEGER}
				AND a.batch_no = #{batch_no,jdbcType=VARCHAR}
				AND a.bar_code = #{bar_code,jdbcType=VARCHAR}
			group by a.inv_id, a.batch_sn
		)
		select 
			a.batch_sn,   --批次
			a.location_id,  --货位ID
			nvl(a.left_amount,0) - nvl(b.imme_amount,0) AS imme_amount,
			nvl(a.left_money,0) - nvl(b.imme_amount_money,0) AS imme_amount_money
		from w_fifo_temp a
		left join w_out_temp b 
			on a.batch_sn= b.batch_sn 
		where 
			nvl(a.left_amount,0) - nvl(b.imme_amount,0) > 0
	</select>
</mapper>

