<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.AccElementAnalyzeMapper">

	<resultMap id="mod" type="com.chd.hrp.acc.entity.AccAlyFac">
		<result property="group_id" column="group_id" />
		<result property="fac_code" column="fac_code" />
		<result property="create_date" column="create_date" />
	</resultMap>
	
	<!-- code,name 模糊查询 -->
	<select id="queryElements" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * FROM ACC_ALY_FAC 
		WHERE GROUP_ID = #{GROUP_ID} 
		and HOS_ID = #{HOS_ID} 
		and COPY_CODE = #{COPY_CODE}
		and (FAC_CODE like concat('%', concat(#{FAC_CODE}, '%')) or FAC_NAME like concat('%', concat(#{FAC_NAME}, '%')))
	</select>
	
	<!-- 精确查询 -->
	<select id="queryElementForUpdata" parameterType="java.util.Map" resultType="java.util.Map">
		select * from ACC_ALY_FAC
		WHERE GROUP_ID = #{GROUP_ID}
		and HOS_ID=#{HOS_ID}
		and COPY_CODE=#{COPY_CODE}
		and FAC_CODE=#{FAC_CODE}
	</select>

	<!-- 查询子级 -->
	<select id="querySonElements" parameterType="java.util.Map" resultType="java.util.Map">
		select * from ACC_ALY_FAC 
		where GROUP_ID = #{GROUP_ID} 
		and HOS_ID=#{HOS_ID}
		and COPY_CODE=#{COPY_CODE}
		and SUPER_CODE=#{SUPER_CODE}
	</select>
	
	<select id="queryAccElementAnalysis" parameterType="java.util.Map" resultType="java.util.Map">
		select * from ACC_ALY_FAC 
	</select>
	<!--添加-->
	<insert id="addElements">
		
		INSERT INTO ACC_ALY_FAC (
		<trim suffix="" suffixOverrides=",">
			<if test="IS_LAST != null and IS_LAST != ''">
				IS_LAST ,
			</if>
			<if test="IS_STOP != null and IS_STOP != ''">
				IS_STOP ,
			</if>
			<if test="SPELL_CODE != null and SPELL_CODE != ''">
				SPELL_CODE ,
			</if>
			<if test="NOTE != null and NOTE != ''">
				NOTE ,
			</if>
			<if test="GROUP_ID  != null and GROUP_ID  != ''">
				GROUP_ID ,
			</if>
			<if test="HOS_ID != null and HOS_ID != ''">
				HOS_ID ,
			</if>
			<if test="COPY_CODE != null and COPY_CODE != ''">
				COPY_CODE ,
			</if>
			<if test="FAC_CODE != null and FAC_CODE != ''">
				FAC_CODE ,
			</if>
			<if test="FAC_NAME != null and FAC_NAME != ''">
				FAC_NAME ,
			</if>
			<if test="SUPER_CODE != null and SUPER_CODE != ''">
				SUPER_CODE ,
			</if>
			<if test="ZB_UNIT != null and ZB_UNIT != ''">
				ZB_UNIT ,
			</if>
			<if test="FMA_EN != null and FMA_EN != ''">
				FMA_EN ,
			</if>
			<if test="FMA_CN != null and FMA_CN != ''">
				FMA_CN ,
			</if>

		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			<if test="IS_LAST != null and IS_LAST != ''">
				#{IS_LAST,jdbcType=INTEGER} ,
			</if>
			<if test="IS_STOP != null and IS_STOP != ''">
				#{IS_STOP,jdbcType=INTEGER} ,
			</if>
			<if test="SPELL_CODE != null and SPELL_CODE != ''">
				#{SPELL_CODE,jdbcType=VARCHAR} ,
			</if>
			<if test="NOTE != null and NOTE != ''">
				#{NOTE,jdbcType=VARCHAR} ,
			</if>
			<if test="GROUP_ID  != null and GROUP_ID  != ''">
				#{GROUP_ID,jdbcType=INTEGER} ,
			</if>
			<if test="HOS_ID != null and HOS_ID != ''">
				#{HOS_ID,jdbcType=INTEGER} ,
			</if>
			<if test="COPY_CODE != null and COPY_CODE != ''">
				#{COPY_CODE,jdbcType=VARCHAR} ,
			</if>
			<if test="FAC_CODE != null and FAC_CODE != ''">
				#{FAC_CODE,jdbcType=VARCHAR} ,
			</if>
			<if test="FAC_NAME != null and FAC_NAME != ''">
				#{FAC_NAME,jdbcType=VARCHAR} ,
			</if>
			<if test="SUPER_CODE != null and SUPER_CODE != ''">
				#{SUPER_CODE,jdbcType=VARCHAR} ,
			</if>
			<if test="ZB_UNIT != null and ZB_UNIT != ''">
				#{ZB_UNIT,jdbcType=VARCHAR} ,
			</if>
			<if test="FMA_EN != null and FMA_EN != ''">
				#{FMA_EN,jdbcType=VARCHAR} ,
			</if>
			<if test="FMA_CN != null and FMA_CN != ''">
				#{FMA_CN,jdbcType=VARCHAR} ,
			</if>

		</trim>
		)	
		
	</insert>
	
	<update id="updataElements">
		
		UPDATE ACC_ALY_FAC
		<trim prefix="SET" suffixOverrides=",">
			<if test="IS_LAST != null and IS_LAST != ''">
				IS_LAST = #{IS_LAST} ,
			</if>
			<if test="IS_STOP != null and IS_STOP != ''">
				IS_STOP = #{IS_STOP} ,
			</if>
			<if test="SPELL_CODE != null and SPELL_CODE != ''">
				SPELL_CODE = #{SPELL_CODE} ,
			</if>
			<if test="NOTE != null and NOTE != ''">
				NOTE = #{NOTE} ,
			</if>
			<if test="FAC_NAME != null and FAC_NAME != ''">
				FAC_NAME = #{FAC_NAME} ,
			</if>
			<if test="SUPER_CODE != null and SUPER_CODE != ''">
				SUPER_CODE = #{SUPER_CODE} ,
			</if>
			<if test="ZB_UNIT != null and ZB_UNIT != ''">
				ZB_UNIT = #{ZB_UNIT} ,
			</if>
			<if test="FMA_EN != null and FMA_EN != ''">
				FMA_EN = #{FMA_EN} ,
			</if>
			<if test="FMA_CN != null and FMA_CN != ''">
				FMA_CN = #{FMA_CN} ,
			</if>
		</trim>	
		WHERE GROUP_ID = #{GROUP_ID} 
		and HOS_ID=#{HOS_ID}
		and COPY_CODE=#{COPY_CODE}
		and FAC_CODE=#{FAC_CODE}
		
	</update>

	<!--删除-->
	<delete id="deleteElements">
		DELETE FROM"ACC_ALY_FAC" 
		WHERE GROUP_ID = #{GROUP_ID} 
		and HOS_ID=#{HOS_ID}
		and COPY_CODE=#{COPY_CODE}
		and FAC_CODE=#{FAC_CODE}
	</delete>
</mapper>

