<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.AccInitialBalanceCalibrationMapper">

	<resultMap id="initialBalanceCalibration" type="com.chd.hrp.acc.entity.AccInitialBalanceCalibration">
		<result property="subj_code" column="subj_code"/>
        <result property="unit_name" column="unit_name"/>
        <result property="bank_name" column="bank_name"/>
        <result property="debit" column="debit"/>
        <result property="credit" column="credit"/>
	</resultMap>
	
	<resultMap id="initialBalanceCalibrationMap" type="java.util.Map">
        <result property="unit_name" column="unit_name"/>
        <result property="bank_name" column="bank_name"/>
        <result property="debit" column="debit"/>
        <result property="credit" column="credit"/>
	</resultMap>
	
	<resultMap id="accTellMap" type="java.util.Map">
        <result property="subj_code" column="subj_code"/>
        <result property="unit_name" column="unit_name"/>
        <result property="bank_name" column="bank_name"/>
        <result property="debit" column="debit"/>
        <result property="credit" column="credit"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="assMap">
	</resultMap>
	
	<select id="collectInitialBalanceCalibration" statementType="CALLABLE" parameterType="java.util.Map" resultMap="initialBalanceCalibration">
      
        <![CDATA[ 
		{call act_balance_subjinitial(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{para_flag,jdbcType=INTEGER, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=com.chd.hrp.acc.dao.AccInitialBalanceCalibrationMapper.initialBalanceCalibration}
        )} 
		 ]]>
    </select>
    
    
    <select id="collectInitialBalanceCalibrationPrint" statementType="CALLABLE" parameterType="java.util.Map" resultMap="initialBalanceCalibrationMap">
      
        <![CDATA[ 
		{call act_balance_subjinitial(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{para_flag,jdbcType=INTEGER, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=com.chd.hrp.acc.dao.AccInitialBalanceCalibrationMapper.initialBalanceCalibrationMap}
        )} 
		 ]]>
    </select>
    
    <select id="collectBalanceAdjust" statementType="CALLABLE" parameterType="java.util.Map" resultMap="initialBalanceCalibration">
      
        <![CDATA[ 
		{call act_balance_adjust(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},
	        #{acc_date,jdbcType=VARCHAR, mode=IN}, 
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{is_account,jdbcType=INTEGER, mode=IN},
	        #{para_flag,jdbcType=INTEGER, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,resultMap=com.chd.hrp.acc.dao.AccInitialBalanceCalibrationMapper.initialBalanceCalibration}
        )} 
		 ]]>
    </select>
	
	<select id="collectBalanceAdjustByPrint" statementType="CALLABLE" parameterType="java.util.Map">
        <![CDATA[ 
		{call act_balance_adjust(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},
	        #{acc_date,jdbcType=VARCHAR, mode=IN},  
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{is_account,jdbcType=INTEGER, mode=IN},
	        #{para_flag,jdbcType=INTEGER, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,resultMap=com.chd.hrp.acc.dao.AccInitialBalanceCalibrationMapper.assMap,javaType=java.sql.ResultSet}
        )} 
		 ]]>
    </select>
</mapper>

