<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.budgcash.BudgCashPlanMapper">
	
	<resultMap id="budgCashPlan" type="com.chd.hrp.budg.entity.BudgCashPlan">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="plan_code" column="plan_code"/>
	<result property="event" column="event"/>
	<result property="remark" column="remark"/>
	<result property="maker" column="maker"/>
	<result property="make_date" column="make_date"/>
	<result property="checker" column="checker"/>
	<result property="check_date" column="check_date"/>
	<result property="state" column="state"/>
	</resultMap>
		
	<resultMap id="budgCashPlanMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="plan_code" column="plan_code"/>
	<result property="event" column="event"/>
	<result property="remark" column="remark"/>
	<result property="maker" column="maker"/>
	<result property="make_date" column="make_date"/>
	<result property="checker" column="checker"/>
	<result property="check_date" column="check_date"/>
	<result property="state" column="state"/>
	<result property="state_name" column="state_name"/>
	<result property="mak_emp_name" column="mak_emp_name"/>
	<result property="che_emp_name" column="che_emp_name"/>
	</resultMap>
	
	<resultMap id="CashItemMap" type="java.util.Map">
	<result property="id" column="id"/>
	<result property="text" column="text"/>
	</resultMap>
	
	<resultMap id="budgCashPlanDetMap" type="java.util.Map">
	
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="plan_code" column="plan_code"/>
	<result property="month" column="month"/>
	<result property="cash_item_id" column="cash_item_id"/>
	<result property="cash_item_code" column="cash_item_code"/>
	<result property="cash_item_name" column="cash_item_name"/>
	<result property="cash_type_name" column="cash_type_name"/>
	<result property="amount" column="amount"/>
	<result property="itemName" column="itemName"/>
	<result property="typeName" column="typeName"/>
	
	<result property="m01" column="m01"/>
	<result property="m02" column="m02"/>
	<result property="m03" column="m03"/>
	<result property="m04" column="m04"/>
	<result property="m05" column="m05"/>
	<result property="m06" column="m06"/>
	<result property="m07" column="m07"/>
	<result property="m08" column="m08"/>
	<result property="m09" column="m09"/>
	<result property="m10" column="m10"/>
	<result property="m11" column="m11"/>
	<result property="m12" column="m12"/>
	</resultMap>
	
	
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_CASH_PLAN (
		group_id
		,
		hos_id
		,
		copy_code
		,
		budg_year
		,
		plan_code
		,
		event
		,
		remark
		,
		maker
		,
		make_date
		,
		checker
		,
		check_date
		,
		state
		) VALUES (
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{budg_year,jdbcType=VARCHAR}
		,
		#{plan_code,jdbcType=VARCHAR}
		,
		#{event,jdbcType=VARCHAR}
		,
		#{remark,jdbcType=VARCHAR}
		,
		#{maker,jdbcType=INTEGER}
		,
		#{make_date,jdbcType=DATE}
		,
		#{checker,jdbcType=INTEGER}
		,
		#{check_date,jdbcType=DATE}
		,
		#{state,jdbcType=VARCHAR}
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_CASH_PLAN (
		group_id
		,
		hos_id
		,
		copy_code
		,
		budg_year
		,
		plan_code
		,
		event
		,
		remark
		,
		maker
		,
		make_date
		,
		checker
		,
		check_date
		,
		state
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.plan_code,jdbcType=VARCHAR}
			,
			#{item.event,jdbcType=VARCHAR}
			,
			#{item.remark,jdbcType=VARCHAR}
			,
			#{item.maker,jdbcType=INTEGER}
			,
			#{item.make_date,jdbcType=DATE}
			,
			#{item.checker,jdbcType=INTEGER}
			,
			#{item.check_date,jdbcType=DATE}
			,
			#{item.state,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)t
	</insert>
	
<!-- 	批量添加资金计划明细 -->
	<insert id="addPLanDetBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_CASH_PLAN_DET (
		group_id
		,
		hos_id
		,
		copy_code
		,
		budg_year
		,
		plan_code
		,
		month
		,
		cash_item_id
		,
		amount
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.plan_code,jdbcType=VARCHAR}
			,
			#{item.month,jdbcType=VARCHAR}
			,
			#{item.cash_item_id,jdbcType=INTEGER}
			,
			#{item.amount,jdbcType=INTEGER}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE BUDG_CASH_PLAN 
		SET
			event = #{event,jdbcType=VARCHAR}
			,
			remark = #{remark,jdbcType=VARCHAR}
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
			
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_CASH_PLAN 
			SET
				event = #{item.event,jdbcType=VARCHAR}
				,
				remark = #{item.remark,jdbcType=VARCHAR}
			WHERE                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				
				AND plan_code = #{item.plan_code,jdbcType=VARCHAR}
				
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM BUDG_CASH_PLAN 
		WHERE                     
		group_id = #{group_id,jdbcType=INTEGER}
		
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		
		AND plan_code = #{plan_code,jdbcType=VARCHAR}
		
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_CASH_PLAN 
		WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				
				AND plan_code = #{item.plan_code,jdbcType=VARCHAR}
			</foreach>
	</delete>
	
<!-- 	删除资金计划明细 -->
	<delete id="deletePlanDet" parameterType="java.util.Map">
		DELETE FROM BUDG_CASH_PLAN_DET 
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
			
	</delete>
<!-- 	批量删除资金计划明细 -->
	<delete id="deletePlanDetBatch" parameterType="java.util.List">
		DELETE FROM BUDG_CASH_PLAN_DET 
		WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				
				AND plan_code = #{item.plan_code,jdbcType=VARCHAR}
			</foreach>
	</delete>
	
<!-- 	查询资金计划明细   -->
	<select id="queryBudgCashPlanDet" parameterType="java.util.Map" resultMap="budgCashPlanDetMap" >
		SELECT bcp.group_id,
		       bcp.hos_id,
		       bcp.copy_code,
		       bcp.budg_year,
		       bcp.plan_code,
		       bcp.cash_item_id,
		       aed.cash_item_name,
		       aed.cash_item_name itemName,
		       act.cash_type_name,
		       act.cash_type_name typeName,
		       sum(case when bcp.month = '01' then bcp.amount else 0 end) m01,
		       sum(case when bcp.month = '02' then bcp.amount else 0 end) m02,
		       sum(case when bcp.month = '03' then bcp.amount else 0 end) m03,
		       sum(case when bcp.month = '04' then bcp.amount else 0 end) m04,
		       sum(case when bcp.month = '05' then bcp.amount else 0 end) m05,
		       sum(case when bcp.month = '06' then bcp.amount else 0 end) m06,
		       sum(case when bcp.month = '07' then bcp.amount else 0 end) m07,
		       sum(case when bcp.month = '08' then bcp.amount else 0 end) m08,
		       sum(case when bcp.month = '09' then bcp.amount else 0 end) m09,
		       sum(case when bcp.month = '10' then bcp.amount else 0 end) m10,
		       sum(case when bcp.month = '11' then bcp.amount else 0 end) m11,
		       sum(case when bcp.month = '12' then bcp.amount else 0 end) m12
  		FROM budg_cash_plan_det bcp
  		LEFT JOIN acc_cash_item aed
		    ON bcp.group_id = aed.group_id
		   	AND bcp.hos_id = aed.hos_id
		   	AND bcp.copy_code = aed.copy_code
		   	AND bcp.cash_item_id = aed.cash_item_id
  		LEFT JOIN acc_cash_type act
		   ON aed.group_id = act.group_id
		   AND aed.hos_id = act.hos_id
		   AND aed.copy_code = act.copy_code
		   AND aed.cash_type_id = act.cash_type_id
	    WHERE                     
			bcp.group_id = #{group_id,jdbcType=INTEGER}
			
			AND bcp.hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND bcp.copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND bcp.budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND bcp.plan_code = #{plan_code,jdbcType=VARCHAR}
 
		 GROUP BY bcp.group_id,
		       bcp.hos_id,
		       bcp.copy_code,
		       bcp.budg_year,
		       bcp.plan_code,
		       bcp.cash_item_id,
		       act.cash_type_name,
		       aed.cash_item_name
	</select>
	
	<select id="query" parameterType="java.util.Map" resultMap="budgCashPlanMap" >
	
		SELECT 
			bcp.group_id,
			bcp.hos_id,
			bcp.copy_code,
			bcp.budg_year,
			bcp.plan_code,
			bcp.event,
			bcp.remark,
			bcp.maker,
			bcp.make_date,
			bcp.checker,
			bcp.check_date,
			bcp.state,
			bsd.value_name as state_name,
			aed.emp_name as mak_emp_name,
			hed.emp_name as che_emp_name
		FROM budg_cash_plan bcp
		LEFT JOIN hos_emp_dict aed
		ON
			bcp.group_id=aed.group_id
			AND bcp.hos_id=aed.hos_id
			AND bcp.maker=aed.emp_id
			AND aed.is_stop=0
		LEFT JOIN hos_emp_dict hed
		ON
			bcp.group_id=hed.group_id
			AND bcp.hos_id=hed.hos_id
			AND bcp.checker=hed.emp_id
			AND hed.is_stop=0
		LEFT JOIN budg_sys_dict bsd
		ON
			bcp.state =bsd.value_code
			AND bsd.f_code= 'STATE'	
		WHERE                     
			bcp.group_id = #{group_id,jdbcType=INTEGER}
			
			AND bcp.hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND bcp.copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND bcp.budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="event != null and event != ''">
			    AND bcp.event like '%${event}%'
			</if>
			<if test="state != null and state != ''">
			    AND bcp.state = #{state,jdbcType=VARCHAR}
			</if>
	</select>
	
	<select id="queryByCode" resultMap="budgCashPlan"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			plan_code,
			event,
			remark,
			maker,
			make_date,
			checker,
			check_date,
			state
		FROM BUDG_CASH_PLAN 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
			plan_code = #{plan_code,jdbcType=VARCHAR} 
	
	</select>
	
	<select id="queryEventDataExist" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
		SELECT 
			count(event)
		FROM BUDG_CASH_PLAN 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
			event = #{event,jdbcType=VARCHAR}
	
	</select>
<!-- 	修改时查询数据是否已经存在   修改专用 -->
	<select id="queryEventDataExistForupdate" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
		SELECT 
			count(event)
		FROM BUDG_CASH_PLAN 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
			event = #{event,jdbcType=VARCHAR} and
			<if test="plan_code != null and plan_code != ''">
				plan_code != #{plan_code,jdbcType=VARCHAR}
			</if>
	
	</select>
	
	<select id="queryByUniqueness" resultMap="budgCashPlan"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			plan_code,
			event,
			remark,
			maker,
			make_date,
			checker,
			check_date,
			state
		FROM BUDG_CASH_PLAN 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
		
	</select>
	<select id="queryExists" resultMap="budgCashPlan"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			plan_code,
			event,
			remark,
			maker,
			make_date,
			checker,
			check_date,
			state
		FROM BUDG_CASH_PLAN 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
	</select>
	
<!-- 	查询月份数据是否已经结转 -->
	<select id="queryMonthFlag" resultType="string"  parameterType="java.util.Map" >
	
		SELECT 
			cash_flag
		FROM budg_carry 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
			
			AND month = #{month,jdbcType=VARCHAR}
	</select>
	
<!-- 	查询系统启用年度 -->
	<select id="querySysYear" resultType="string"  parameterType="java.util.Map" >
	
		SELECT 
		   start_year
   		FROM sys_mod_start
 		WHERE       
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND mod_code = '0206'
	</select>
	
<!-- 	查询系统启用月份 -->
	<select id="querySysMonth" resultType="string"  parameterType="java.util.Map" >
	
		SELECT 
		   start_month
   		FROM sys_mod_start
 		WHERE       
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND mod_code = '0206'
	</select>
	
	<!-- 根据主键  查询现金流量项目下拉框 -->
	<select id="queryCashItem" parameterType="java.util.Map" resultMap="CashItemMap" >
		SELECT 
		  cash_item_id as id, 
		  cash_item_code || ' ' || cash_item_name as text
  		FROM acc_cash_item
 		WHERE
		   group_id = #{group_id,jdbcType=INTEGER}
			
		   AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		   AND copy_code = #{copy_code,jdbcType=VARCHAR}
		   <if test="cash_type_id != null and cash_type_id != ''">
		   		AND cash_type_id = #{cash_type_id,jdbcType=INTEGER}
		   </if>	
		   AND is_stop = 0
		   <if test="key != null and key != ''">
				AND (cash_item_code like '${key}%' or
					cash_item_name like '%${key}%' or
					spell_code like '%${key}%' or
					wbx_code like '%${key}%' )
			</if>
			order by cash_item_code
	</select>
	
<!-- 	查询数据状态 -->
	<select id="queryState" resultType="java.lang.String"  parameterType="java.util.Map" >
	
		SELECT 
			state
		FROM BUDG_CASH_PLAN 
		WHERE                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
			
	</select>
	
	<!-- 	审核  销审 状态更改 -->
	<update id="updateReviewState" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_CASH_PLAN 
			SET
				checker = #{item.checker,jdbcType=INTEGER}
				,
				check_date = #{item.check_date,jdbcType=DATE}
				,
				state = #{item.state,jdbcType=VARCHAR}
			WHERE                    
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND plan_code = #{item.plan_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<!-- 查询现金流量项目表中所有未停用的现金流量项目id code等基本信息   匹配数据用-->
	<select id="queryBudgCashFlowBeginDict" parameterType="java.util.Map" resultMap="budgCashPlanDetMap" >
		SELECT 
	      cash_item_id,cash_item_code
    	FROM acc_cash_item
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND is_stop = 0 
	</select>
	
</mapper>

