<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.biandongmonthly.AssMonthlyReportDeptMapper">
	
	
	
	<resultMap id="paySearchMap" type="java.util.Map">
		<result property="ass_card_no" column="ass_card_no"/>
		<result property="ass_name" column="ass_name"/>
		<result property="ass_type_name" column="ass_type_name"/>
		<result property="naturs_name" column="naturs_name"/>
		<result property="ven_name" column="ven_name"/>
		<result property="in_date" column="in_date"/>
		<result property="ass_spec" column="ass_spec"/>
		<result property="ass_mondl" column="ass_mondl"/>
		<result property="ass_brand" column="ass_brand"/>
		<result property="ven_name" column="ven_name"/>
		<result property="ass_seq_no" column="ass_seq_no"/>
		<result property="ass_in_no" column="ass_in_no"/>
		<result property="equi_usage_name" column="equi_usage_name"/>
		<result property="dept_name" column="dept_name"/>
		<result property="store_name" column="store_name"/>
		<result property="price" column="price"/>
		<result property="depre_money" column="depre_money"/>
		<result property="cur_money" column="cur_money"/>
		<result property="sort" column="sort"/>
	</resultMap>
	
	
	
	<select id="queryPaySearch" parameterType="java.util.Map" resultMap="paySearchMap">
		with temp as(
			select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
						, t.run_date, t.ass_spec, t.ass_mondl, t.ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
						, t.ass_seq_no, t.ass_in_no, t5.equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, t7.store_code || ' ' || t7.store_name as store_name
						, t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
						, t2.ass_type_id, t2.acc_type_code, t.ass_purpose, t.store_id, t.store_no
						, t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
						, t.buy_type,t.dispose_type,t.dispose_date
					from ass_card_special t
					left join ass_no_dict t1 on 
		      t.group_id = t1.group_id
					and t.hos_id = t1.hos_id
					and t.copy_code = t1.copy_code
					and t.ass_id = t1.ass_id
					and t1.is_stop = 0 
					left join ass_type_dict t2 on 
		      t1.group_id = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.copy_code = t2.copy_code
					and t1.ass_type_id = t2.ass_type_id 
					left join ass_naturs t3 on 
		      t2.ass_naturs = t3.naturs_code 
					left join hos_sup_dict t4 on 
		      t.group_id = t4.group_id
					and t.hos_id = t4.hos_id
					and t.ven_id = t4.sup_id
					and t4.is_stop = 0 
					left join ass_usage_dict t5 on
		       t.group_id = t5.group_id
					and t.hos_id = t5.hos_id
					and t.copy_code = t5.copy_code
					and t.ass_purpose = t5.equi_usage_code 
					left join hos_dept_dict t6 on 
		      t.group_id = t6.group_id
					and t.hos_id = t6.hos_id
					and t.dept_id = t6.dept_id
					and t6.is_stop = 0 
					left join hos_store_dict t7 on 
		      t.group_id = t7.group_id
					and t.hos_id = t7.hos_id
					and t.store_id = t7.store_id
					and t7.is_stop = 0 
		      
					where t.group_id = #{group_id}
						and t.hos_id = #{hos_id}
						and t.copy_code = #{copy_code}
						and t.in_date is not null
						
					union all
					select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
						, t.run_date, t.ass_spec, t.ass_mondl, t.ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
						, t.ass_seq_no, t.ass_in_no, t5.equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, t7.store_code || ' ' || t7.store_name as store_name
						, t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
						, t2.ass_type_id, t2.acc_type_code, t.ass_purpose, t.store_id, t.store_no
						, t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
						, t.buy_type,t.dispose_type,t.dispose_date
					from ass_card_general t
					left join ass_no_dict t1 on t.group_id = t1.group_id
					and t.hos_id = t1.hos_id
					and t.copy_code = t1.copy_code
					and t.ass_id = t1.ass_id
					and t1.is_stop = 0 
					left join ass_type_dict t2 on t1.group_id = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.copy_code = t2.copy_code
					and t1.ass_type_id = t2.ass_type_id 
					left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
					left join hos_sup_dict t4 on t.group_id = t4.group_id
					and t.hos_id = t4.hos_id
					and t.ven_id = t4.sup_id
					and t4.is_stop = 0 
					left join ass_usage_dict t5 on t.group_id = t5.group_id
					and t.hos_id = t5.hos_id
					and t.copy_code = t5.copy_code
					and t.ass_purpose = t5.equi_usage_code 
					left join hos_dept_dict t6 on t.group_id = t6.group_id
					and t.hos_id = t6.hos_id
					and t.dept_id = t6.dept_id
					and t6.is_stop = 0 
						left join hos_store_dict t7 on t.group_id = t7.group_id
					and t.hos_id = t7.hos_id
					and t.store_id = t7.store_id
					and t7.is_stop = 0 
		     
		      
					where t.group_id = #{group_id}
						and t.hos_id = #{hos_id}
						and t.copy_code = #{copy_code}
						and t.in_date is not null
					  
					union all
					select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
						, t.run_date, null as ass_spec, null as ass_mondl, null as ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
						, null as ass_seq_no, t.ass_in_no, t5.equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, t7.store_code || ' ' || t7.store_name as store_name
						, t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
						, t2.ass_type_id, t2.acc_type_code, null as ass_purpose, null as store_id, null as store_no
						, t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
						, t.buy_type,t.dispose_type,t.dispose_date
					from ass_card_inassets t
					left join ass_no_dict t1 on t.group_id = t1.group_id
					and t.hos_id = t1.hos_id
					and t.copy_code = t1.copy_code
					and t.ass_id = t1.ass_id
					and t1.is_stop = 0 
					left join ass_type_dict t2 on t1.group_id = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.copy_code = t2.copy_code
					and t1.ass_type_id = t2.ass_type_id 
					left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
					left join hos_sup_dict t4 on t.group_id = t4.group_id
					and t.hos_id = t4.hos_id
					and t.ven_id = t4.sup_id
					and t4.is_stop = 0 
					left join ass_usage_dict t5 on t.group_id = t5.group_id
					and t.hos_id = t5.hos_id
					and t.copy_code = t5.copy_code
					and t.ass_purpose = t5.equi_usage_code 
					left join hos_dept_dict t6 on t.group_id = t6.group_id
					and t.hos_id = t6.hos_id
					and t.dept_id = t6.dept_id
					and t6.is_stop = 0 
						left join hos_store_dict t7 on t.group_id = t7.group_id
					and t.hos_id = t7.hos_id
					and t.store_id = t7.store_id
					and t7.is_stop = 0 
		      
					where t.group_id = #{group_id}
						and t.hos_id = #{hos_id}
						and t.copy_code = #{copy_code}
						and t.in_date is not null
						
					union all
					select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
						, t.run_date, null as ass_spec, null as ass_mondl, null as ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
						, null as ass_seq_no, t.ass_in_no, null as equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, null as store_name
						, t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
						, t2.ass_type_id, t2.acc_type_code, null as ass_purpose, null as store_id, null as store_no
						, t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
						, t.buy_type,t.dispose_type,t.dispose_date
					from ass_card_house t
					left join ass_no_dict t1 on t.group_id = t1.group_id
					and t.hos_id = t1.hos_id
					and t.copy_code = t1.copy_code
					and t.ass_id = t1.ass_id
					and t1.is_stop = 0 
					left join ass_type_dict t2 on t1.group_id = t2.group_id
		      and t1.hos_id = t2.hos_id
		      and t1.copy_code = t2.copy_code
		      and t1.ass_type_id = t2.ass_type_id 
		      left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
		      left join hos_sup_dict t4 on t.group_id = t4.group_id
		      and t.hos_id = t4.hos_id
		      and t.ven_id = t4.sup_id
		      and t4.is_stop = 0 
		        left join hos_dept_dict t6 on t.group_id = t6.group_id
		      and t.hos_id = t6.hos_id
		      and t.dept_id = t6.dept_id
		      and t6.is_stop = 0 
		     
		      where t.group_id = #{group_id}
					and t.hos_id = #{hos_id}
					and t.copy_code = #{copy_code}
		        and t.in_date is not null
		       
		      union all
		      select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
		        , t.run_date, t.ass_spec, t.ass_mondl, t.ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
		        , t.ass_seq_no, t.ass_in_no, t5.equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, t7.store_code || ' ' || t7.store_name as store_name
		        , t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
		        , t2.ass_type_id, t2.acc_type_code, t.ass_purpose, t.store_id, t.store_no
		        , t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
		        , t.buy_type,t.dispose_type,t.dispose_date
		      from ass_card_other t
		      left join ass_no_dict t1 on t.group_id = t1.group_id
		      and t.hos_id = t1.hos_id
		      and t.copy_code = t1.copy_code
		      and t.ass_id = t1.ass_id
		      and t1.is_stop = 0 
		      left join ass_type_dict t2 on t1.group_id = t2.group_id
		      and t1.hos_id = t2.hos_id
		      and t1.copy_code = t2.copy_code
		      and t1.ass_type_id = t2.ass_type_id 
		      left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
		      left join hos_sup_dict t4 on t.group_id = t4.group_id
		      and t.hos_id = t4.hos_id
		      and t.ven_id = t4.sup_id
		      and t4.is_stop = 0 
		      left join ass_usage_dict t5 on t.group_id = t5.group_id
		      and t.hos_id = t5.hos_id
		      and t.copy_code = t5.copy_code
		      and t.ass_purpose = t5.equi_usage_code 
		      left join hos_dept_dict t6 on t.group_id = t6.group_id
		      and t.hos_id = t6.hos_id
		      and t.dept_id = t6.dept_id
		      and t6.is_stop = 0 
		        left join hos_store_dict t7 on t.group_id = t7.group_id
		      and t.hos_id = t7.hos_id
		      and t.store_id = t7.store_id
		      and t7.is_stop = 0 
		      
		      where t.group_id = #{group_id}
					and t.hos_id = #{hos_id}
					and t.copy_code = #{copy_code}
		        and t.in_date is not null
		        
		      union all
		      select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
		        , t.run_date, null as ass_spec, null as ass_mondl, null as ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
		        , null as ass_seq_no, t.ass_in_no, null as equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, null as store_name
		        , t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
		        , t2.ass_type_id, t2.acc_type_code, null as ass_purpose, null as store_id, null as store_no
		        , t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
		        , t.buy_type,t.dispose_type,t.dispose_date
		      from ass_card_land t
		      left join ass_no_dict t1 on t.group_id = t1.group_id
		      and t.hos_id = t1.hos_id
		      and t.copy_code = t1.copy_code
		      and t.ass_id = t1.ass_id
		      and t1.is_stop = 0 
		      left join ass_type_dict t2 on t1.group_id = t2.group_id
		      and t1.hos_id = t2.hos_id
		      and t1.copy_code = t2.copy_code
		      and t1.ass_type_id = t2.ass_type_id 
		      left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
		      left join hos_sup_dict t4 on t.group_id = t4.group_id
		      and t.hos_id = t4.hos_id
		      and t.ven_id = t4.sup_id
		      and t4.is_stop = 0 
		        left join hos_dept_dict t6 on t.group_id = t6.group_id
		      and t.hos_id = t6.hos_id
		      and t.dept_id = t6.dept_id
		      and t6.is_stop = 0 
		      
		      where t.group_id = #{group_id}
					and t.hos_id = #{hos_id}
					and t.copy_code = #{copy_code}
		        and t.in_date is not null
		)
		select *
		from (
			select t.*, row_number() over(ORDER BY t.ass_card_no) sort from temp t
			<where>
				   <if test="use_state != null and use_state != ''">
			      	and t.use_state = #{use_state}
			       </if>
			       <if test="dept_id != null and dept_id != ''">
			      	and t.dept_id = #{dept_id}
			       </if>
			       <if test="ass_card_no != null and ass_card_no != ''">
					and t.ass_card_no like '%${ass_card_no}%'
				   </if>
			       <if test="ass_id != null and ass_id != ''">
					and t.ass_id = #{ass_id}
				   </if>
				   <if test="store_id != null and store_id != ''">
					and t.store_id = #{store_id}
				   </if>
				   <if test="ven_id != null and ven_id != ''">
					and t.ven_id = #{ven_id}
				   </if>
				   <if test="ass_natrue != null and ass_natrue != ''">
					and t.naturs_code = #{ass_natrue}
				   </if>
				   <if test="ass_bus_type != null and ass_bus_type != ''">
					and t.buy_type = #{ass_bus_type}
				   </if>
				   <if test="dispose_type != null and dispose_type != ''">
					and t.dispose_type = #{dispose_type}
				   </if>
				   <if test="ass_type_id != null and ass_type_id != ''">
					AND t.ass_type_id = #{ass_type_id}
				   </if>
				   <if test="fina_type_code != null and fina_type_code != ''">
					AND t.acc_type_code = #{fina_type_code}
				   </if>
				   <if test="ass_purpose != null and ass_purpose != ''">
					AND t.ass_purpose = #{ass_purpose}
				   </if>
				   <if test="in_date_beg != null and in_date_beg != '' and in_date_end != null and in_date_end != ''">
				    AND t.in_date between to_date(#{in_date_beg},'YYYY-MM-DD') and to_date(#{in_date_end},'YYYY-MM-DD')
				   </if>
				   <if test="run_date_beg != null and run_date_beg != '' and run_date_end != null and run_date_end != ''">
				    AND t.run_date between to_date(#{run_date_beg},'YYYY-MM-DD') and to_date(#{run_date_end},'YYYY-MM-DD')
				   </if>
				   <if test="dispose_date_beg != null and dispose_date_date_beg != '' and dispose_date_date_end != null and dispose_date_date_end != ''">
				    AND t.dispose_date between to_date(#{dispose_date_date_beg},'YYYY-MM-DD') and to_date(#{dispose_date_date_end},'YYYY-MM-DD')
				   </if>
			</where>
			
			union all
			
			select 
			'合计' ass_card_no, null ass_name, null ass_type_name, null naturs_code,null naturs_name, null in_date
			, null run_date, null ass_spec, null ass_mondl, null ass_brand, null ven_name
			, null ass_seq_no, null ass_in_no, null equi_usage_name, null dept_name, null store_name
			, null dept_id, null dept_no, null use_state, null ass_id, null ass_no
			, null ass_type_id, null acc_type_code, null ass_purpose, null store_id, null store_no
			, null ven_id, null ven_no,sum(t.price) price,sum(t.cur_money) cur_money,sum(t.depre_money) depre_money
			, null buy_type,null dispose_type,null sort,null dispose_date
			from temp t
			<where>
				   <if test="use_state != null and use_state != ''">
			      	and t.use_state = #{use_state}
			       </if>
			       <if test="dept_id != null and dept_id != ''">
			      	and t.dept_id = #{dept_id}
			       </if>
			       <if test="ass_card_no != null and ass_card_no != ''">
					and t.ass_card_no like '%${ass_card_no}%'
				   </if>
			       <if test="ass_id != null and ass_id != ''">
					and t.ass_id = #{ass_id}
				   </if>
				   <if test="store_id != null and store_id != ''">
					and t.store_id = #{store_id}
				   </if>
				   <if test="ven_id != null and ven_id != ''">
					and t.ven_id = #{ven_id}
				   </if>
				   <if test="ass_natrue != null and ass_natrue != ''">
					and t.naturs_code = #{ass_natrue}
				   </if>
				   <if test="ass_type_id != null and ass_type_id != ''">
					AND t.ass_type_id = #{ass_type_id}
				   </if>
				   <if test="ass_bus_type != null and ass_bus_type != ''">
					and t.buy_type = #{ass_bus_type}
				   </if>
				   <if test="dispose_type != null and dispose_type != ''">
					and t.dispose_type = #{dispose_type}
				   </if>
				   <if test="fina_type_code != null and fina_type_code != ''">
					AND t.acc_type_code = #{fina_type_code}
				   </if>
				   <if test="ass_purpose != null and ass_purpose != ''">
					AND t.ass_purpose = #{ass_purpose}
				   </if>
				   <if test="in_date_beg != null and in_date_beg != '' and in_date_end != null and in_date_end != ''">
				    AND t.in_date between to_date(#{in_date_beg},'YYYY-MM-DD') and to_date(#{in_date_end},'YYYY-MM-DD')
				   </if>
				   <if test="run_date_beg != null and run_date_beg != '' and run_date_end != null and run_date_end != ''">
				    AND t.run_date between to_date(#{run_date_beg},'YYYY-MM-DD') and to_date(#{run_date_end},'YYYY-MM-DD')
				   </if>
				   <if test="dispose_date_beg != null and dispose_date_date_beg != '' and dispose_date_date_end != null and dispose_date_date_end != ''">
				    AND t.dispose_date between to_date(#{dispose_date_date_beg},'YYYY-MM-DD') and to_date(#{dispose_date_date_end},'YYYY-MM-DD')
				   </if>
			</where>
					
    	) t
    		
    	order by t.ass_card_no
	
	</select>
	
	<!-- 打印  -->
	<select id="queryAssMonthlyReportMainPrint" parameterType="java.util.Map" resultMap="paySearchMap">
	with temp as(
			select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
						, t.run_date, t.ass_spec, t.ass_mondl, t.ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
						, t.ass_seq_no, t.ass_in_no, t5.equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, t7.store_code || ' ' || t7.store_name as store_name
						, t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
						, t2.ass_type_id, t2.acc_type_code, t.ass_purpose, t.store_id, t.store_no
						, t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
						, t.buy_type,t.dispose_type,t.dispose_date
					from ass_card_special t
					left join ass_no_dict t1 on 
		      t.group_id = t1.group_id
					and t.hos_id = t1.hos_id
					and t.copy_code = t1.copy_code
					and t.ass_id = t1.ass_id
					and t1.is_stop = 0 
					left join ass_type_dict t2 on 
		      t1.group_id = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.copy_code = t2.copy_code
					and t1.ass_type_id = t2.ass_type_id 
					left join ass_naturs t3 on 
		      t2.ass_naturs = t3.naturs_code 
					left join hos_sup_dict t4 on 
		      t.group_id = t4.group_id
					and t.hos_id = t4.hos_id
					and t.ven_id = t4.sup_id
					and t4.is_stop = 0 
					left join ass_usage_dict t5 on
		       t.group_id = t5.group_id
					and t.hos_id = t5.hos_id
					and t.copy_code = t5.copy_code
					and t.ass_purpose = t5.equi_usage_code 
					left join hos_dept_dict t6 on 
		      t.group_id = t6.group_id
					and t.hos_id = t6.hos_id
					and t.dept_id = t6.dept_id
					and t6.is_stop = 0 
					left join hos_store_dict t7 on 
		      t.group_id = t7.group_id
					and t.hos_id = t7.hos_id
					and t.store_id = t7.store_id
					and t7.is_stop = 0 
		      
					where t.group_id = #{group_id}
						and t.hos_id = #{hos_id}
						and t.copy_code = #{copy_code}
						and t.in_date is not null
						
					union all
					select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
						, t.run_date, t.ass_spec, t.ass_mondl, t.ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
						, t.ass_seq_no, t.ass_in_no, t5.equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, t7.store_code || ' ' || t7.store_name as store_name
						, t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
						, t2.ass_type_id, t2.acc_type_code, t.ass_purpose, t.store_id, t.store_no
						, t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
						, t.buy_type,t.dispose_type,t.dispose_date
					from ass_card_general t
					left join ass_no_dict t1 on t.group_id = t1.group_id
					and t.hos_id = t1.hos_id
					and t.copy_code = t1.copy_code
					and t.ass_id = t1.ass_id
					and t1.is_stop = 0 
					left join ass_type_dict t2 on t1.group_id = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.copy_code = t2.copy_code
					and t1.ass_type_id = t2.ass_type_id 
					left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
					left join hos_sup_dict t4 on t.group_id = t4.group_id
					and t.hos_id = t4.hos_id
					and t.ven_id = t4.sup_id
					and t4.is_stop = 0 
					left join ass_usage_dict t5 on t.group_id = t5.group_id
					and t.hos_id = t5.hos_id
					and t.copy_code = t5.copy_code
					and t.ass_purpose = t5.equi_usage_code 
					left join hos_dept_dict t6 on t.group_id = t6.group_id
					and t.hos_id = t6.hos_id
					and t.dept_id = t6.dept_id
					and t6.is_stop = 0 
						left join hos_store_dict t7 on t.group_id = t7.group_id
					and t.hos_id = t7.hos_id
					and t.store_id = t7.store_id
					and t7.is_stop = 0 
		     
		      
					where t.group_id = #{group_id}
						and t.hos_id = #{hos_id}
						and t.copy_code = #{copy_code}
						and t.in_date is not null
					  
					union all
					select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
						, t.run_date, null as ass_spec, null as ass_mondl, null as ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
						, null as ass_seq_no, t.ass_in_no, t5.equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, t7.store_code || ' ' || t7.store_name as store_name
						, t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
						, t2.ass_type_id, t2.acc_type_code, null as ass_purpose, null as store_id, null as store_no
						, t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
						, t.buy_type,t.dispose_type,t.dispose_date
					from ass_card_inassets t
					left join ass_no_dict t1 on t.group_id = t1.group_id
					and t.hos_id = t1.hos_id
					and t.copy_code = t1.copy_code
					and t.ass_id = t1.ass_id
					and t1.is_stop = 0 
					left join ass_type_dict t2 on t1.group_id = t2.group_id
					and t1.hos_id = t2.hos_id
					and t1.copy_code = t2.copy_code
					and t1.ass_type_id = t2.ass_type_id 
					left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
					left join hos_sup_dict t4 on t.group_id = t4.group_id
					and t.hos_id = t4.hos_id
					and t.ven_id = t4.sup_id
					and t4.is_stop = 0 
					left join ass_usage_dict t5 on t.group_id = t5.group_id
					and t.hos_id = t5.hos_id
					and t.copy_code = t5.copy_code
					and t.ass_purpose = t5.equi_usage_code 
					left join hos_dept_dict t6 on t.group_id = t6.group_id
					and t.hos_id = t6.hos_id
					and t.dept_id = t6.dept_id
					and t6.is_stop = 0 
						left join hos_store_dict t7 on t.group_id = t7.group_id
					and t.hos_id = t7.hos_id
					and t.store_id = t7.store_id
					and t7.is_stop = 0 
		      
					where t.group_id = #{group_id}
						and t.hos_id = #{hos_id}
						and t.copy_code = #{copy_code}
						and t.in_date is not null
						
					union all
					select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
						, t.run_date, null as ass_spec, null as ass_mondl, null as ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
						, null as ass_seq_no, t.ass_in_no, null as equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, null as store_name
						, t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
						, t2.ass_type_id, t2.acc_type_code, null as ass_purpose, null as store_id, null as store_no
						, t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
						, t.buy_type,t.dispose_type,t.dispose_date
					from ass_card_house t
					left join ass_no_dict t1 on t.group_id = t1.group_id
					and t.hos_id = t1.hos_id
					and t.copy_code = t1.copy_code
					and t.ass_id = t1.ass_id
					and t1.is_stop = 0 
					left join ass_type_dict t2 on t1.group_id = t2.group_id
		      and t1.hos_id = t2.hos_id
		      and t1.copy_code = t2.copy_code
		      and t1.ass_type_id = t2.ass_type_id 
		      left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
		      left join hos_sup_dict t4 on t.group_id = t4.group_id
		      and t.hos_id = t4.hos_id
		      and t.ven_id = t4.sup_id
		      and t4.is_stop = 0 
		        left join hos_dept_dict t6 on t.group_id = t6.group_id
		      and t.hos_id = t6.hos_id
		      and t.dept_id = t6.dept_id
		      and t6.is_stop = 0 
		     
		      where t.group_id = #{group_id}
					and t.hos_id = #{hos_id}
					and t.copy_code = #{copy_code}
		        and t.in_date is not null
		       
		      union all
		      select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
		        , t.run_date, t.ass_spec, t.ass_mondl, t.ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
		        , t.ass_seq_no, t.ass_in_no, t5.equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, t7.store_code || ' ' || t7.store_name as store_name
		        , t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
		        , t2.ass_type_id, t2.acc_type_code, t.ass_purpose, t.store_id, t.store_no
		        , t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
		        , t.buy_type,t.dispose_type,t.dispose_date
		      from ass_card_other t
		      left join ass_no_dict t1 on t.group_id = t1.group_id
		      and t.hos_id = t1.hos_id
		      and t.copy_code = t1.copy_code
		      and t.ass_id = t1.ass_id
		      and t1.is_stop = 0 
		      left join ass_type_dict t2 on t1.group_id = t2.group_id
		      and t1.hos_id = t2.hos_id
		      and t1.copy_code = t2.copy_code
		      and t1.ass_type_id = t2.ass_type_id 
		      left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
		      left join hos_sup_dict t4 on t.group_id = t4.group_id
		      and t.hos_id = t4.hos_id
		      and t.ven_id = t4.sup_id
		      and t4.is_stop = 0 
		      left join ass_usage_dict t5 on t.group_id = t5.group_id
		      and t.hos_id = t5.hos_id
		      and t.copy_code = t5.copy_code
		      and t.ass_purpose = t5.equi_usage_code 
		      left join hos_dept_dict t6 on t.group_id = t6.group_id
		      and t.hos_id = t6.hos_id
		      and t.dept_id = t6.dept_id
		      and t6.is_stop = 0 
		        left join hos_store_dict t7 on t.group_id = t7.group_id
		      and t.hos_id = t7.hos_id
		      and t.store_id = t7.store_id
		      and t7.is_stop = 0 
		      
		      where t.group_id = #{group_id}
					and t.hos_id = #{hos_id}
					and t.copy_code = #{copy_code}
		        and t.in_date is not null
		        
		      union all
		      select t.ass_card_no, t1.ass_code || ' ' || t1.ass_name as ass_name, t2.ass_type_name,t3.naturs_code, t3.naturs_name, t.in_date
		        , t.run_date, null as ass_spec, null as ass_mondl, null as ass_brand, t4.sup_code || ' ' || t4.sup_name as ven_name
		        , null as ass_seq_no, t.ass_in_no, null as equi_usage_name, t6.dept_code || ' ' || t6.dept_name as dept_name, null as store_name
		        , t.dept_id, t.dept_no, t.use_state, t.ass_id, t.ass_no
		        , t2.ass_type_id, t2.acc_type_code, null as ass_purpose, null as store_id, null as store_no
		        , t.ven_id, t.ven_no,t.price,t.cur_money,t.depre_money
		        , t.buy_type,t.dispose_type,t.dispose_date
		      from ass_card_land t
		      left join ass_no_dict t1 on t.group_id = t1.group_id
		      and t.hos_id = t1.hos_id
		      and t.copy_code = t1.copy_code
		      and t.ass_id = t1.ass_id
		      and t1.is_stop = 0 
		      left join ass_type_dict t2 on t1.group_id = t2.group_id
		      and t1.hos_id = t2.hos_id
		      and t1.copy_code = t2.copy_code
		      and t1.ass_type_id = t2.ass_type_id 
		      left join ass_naturs t3 on t2.ass_naturs = t3.naturs_code 
		      left join hos_sup_dict t4 on t.group_id = t4.group_id
		      and t.hos_id = t4.hos_id
		      and t.ven_id = t4.sup_id
		      and t4.is_stop = 0 
		        left join hos_dept_dict t6 on t.group_id = t6.group_id
		      and t.hos_id = t6.hos_id
		      and t.dept_id = t6.dept_id
		      and t6.is_stop = 0 
		      
		      where t.group_id = #{group_id}
					and t.hos_id = #{hos_id}
					and t.copy_code = #{copy_code}
		        and t.in_date is not null
		)
		select *
		from (
			select t.*, row_number() over(ORDER BY t.ass_card_no) sort from temp t
			<where>
				   <if test="use_state != null and use_state != ''">
			      	and t.use_state = #{use_state}
			       </if>
			       <if test="dept_id != null and dept_id != ''">
			      	and t.dept_id = #{dept_id}
			       </if>
			       <if test="ass_card_no != null and ass_card_no != ''">
					and t.ass_card_no like '%${ass_card_no}%'
				   </if>
			       <if test="ass_id != null and ass_id != ''">
					and t.ass_id = #{ass_id}
				   </if>
				   <if test="store_id != null and store_id != ''">
					and t.store_id = #{store_id}
				   </if>
				   <if test="ven_id != null and ven_id != ''">
					and t.ven_id = #{ven_id}
				   </if>
				   <if test="ass_natrue != null and ass_natrue != ''">
					and t.naturs_code = #{ass_natrue}
				   </if>
				   <if test="ass_bus_type != null and ass_bus_type != ''">
					and t.buy_type = #{ass_bus_type}
				   </if>
				   <if test="dispose_type != null and dispose_type != ''">
					and t.dispose_type = #{dispose_type}
				   </if>
				   <if test="ass_type_id != null and ass_type_id != ''">
					AND t.ass_type_id = #{ass_type_id}
				   </if>
				   <if test="fina_type_code != null and fina_type_code != ''">
					AND t.acc_type_code = #{fina_type_code}
				   </if>
				   <if test="ass_purpose != null and ass_purpose != ''">
					AND t.ass_purpose = #{ass_purpose}
				   </if>
				   <if test="in_date_beg != null and in_date_beg != '' and in_date_end != null and in_date_end != ''">
				    AND t.in_date between to_date(#{in_date_beg},'YYYY-MM-DD') and to_date(#{in_date_end},'YYYY-MM-DD')
				   </if>
				   <if test="run_date_beg != null and run_date_beg != '' and run_date_end != null and run_date_end != ''">
				    AND t.run_date between to_date(#{run_date_beg},'YYYY-MM-DD') and to_date(#{run_date_end},'YYYY-MM-DD')
				   </if>
				   <if test="dispose_date_beg != null and dispose_date_date_beg != '' and dispose_date_date_end != null and dispose_date_date_end != ''">
				    AND t.dispose_date between to_date(#{dispose_date_date_beg},'YYYY-MM-DD') and to_date(#{dispose_date_date_end},'YYYY-MM-DD')
				   </if>
			</where>
			
			union all
			
			select 
			'合计' ass_card_no, null ass_name, null ass_type_name, null naturs_code,null naturs_name, null in_date
			, null run_date, null ass_spec, null ass_mondl, null ass_brand, null ven_name
			, null ass_seq_no, null ass_in_no, null equi_usage_name, null dept_name, null store_name
			, null dept_id, null dept_no, null use_state, null ass_id, null ass_no
			, null ass_type_id, null acc_type_code, null ass_purpose, null store_id, null store_no
			, null ven_id, null ven_no,sum(t.price) price,sum(t.cur_money) cur_money,sum(t.depre_money) depre_money
			, null buy_type,null dispose_type,null sort,null dispose_date
			from temp t
			<where>
				   <if test="use_state != null and use_state != ''">
			      	and t.use_state = #{use_state}
			       </if>
			       <if test="dept_id != null and dept_id != ''">
			      	and t.dept_id = #{dept_id}
			       </if>
			       <if test="ass_card_no != null and ass_card_no != ''">
					and t.ass_card_no like '%${ass_card_no}%'
				   </if>
			       <if test="ass_id != null and ass_id != ''">
					and t.ass_id = #{ass_id}
				   </if>
				   <if test="store_id != null and store_id != ''">
					and t.store_id = #{store_id}
				   </if>
				   <if test="ven_id != null and ven_id != ''">
					and t.ven_id = #{ven_id}
				   </if>
				   <if test="ass_natrue != null and ass_natrue != ''">
					and t.naturs_code = #{ass_natrue}
				   </if>
				   <if test="ass_type_id != null and ass_type_id != ''">
					AND t.ass_type_id = #{ass_type_id}
				   </if>
				   <if test="ass_bus_type != null and ass_bus_type != ''">
					and t.buy_type = #{ass_bus_type}
				   </if>
				   <if test="dispose_type != null and dispose_type != ''">
					and t.dispose_type = #{dispose_type}
				   </if>
				   <if test="fina_type_code != null and fina_type_code != ''">
					AND t.acc_type_code = #{fina_type_code}
				   </if>
				   <if test="ass_purpose != null and ass_purpose != ''">
					AND t.ass_purpose = #{ass_purpose}
				   </if>
				   <if test="in_date_beg != null and in_date_beg != '' and in_date_end != null and in_date_end != ''">
				    AND t.in_date between to_date(#{in_date_beg},'YYYY-MM-DD') and to_date(#{in_date_end},'YYYY-MM-DD')
				   </if>
				   <if test="run_date_beg != null and run_date_beg != '' and run_date_end != null and run_date_end != ''">
				    AND t.run_date between to_date(#{run_date_beg},'YYYY-MM-DD') and to_date(#{run_date_end},'YYYY-MM-DD')
				   </if>
				   <if test="dispose_date_beg != null and dispose_date_date_beg != '' and dispose_date_date_end != null and dispose_date_date_end != ''">
				    AND t.dispose_date between to_date(#{dispose_date_date_beg},'YYYY-MM-DD') and to_date(#{dispose_date_date_end},'YYYY-MM-DD')
				   </if>
			</where>
					
    	) t
    		
    	order by t.ass_card_no
	
	</select>
	
	
</mapper>

