<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.guanLiReports.AssDepreciationSectionMainMapper">
	
	<resultMap id="assDepreciationSectionMain" type="com.chd.hrp.ass.entity.guanLiReports.AssDepreciationSectionMain">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="depre_year" column="depre_year"/>
	<result property="depre_month" column="depre_month"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="source_id" column="source_id"/>
	<result property="use_dept_id" column="use_dept_id"/>
	<result property="use_dept_no" column="use_dept_no"/>
	<result property="use_percent" column="use_percent"/>
	<result property="now_depre_amount" column="now_depre_amount"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="add_depre_amount" column="add_depre_amount"/>
	<result property="remain_price" column="remain_price"/>
	<result property="operator" column="operator"/>
	<result property="deal_date" column="deal_date"/>
	<result property="equi_depre_code" column="equi_depre_code"/>
	<result property="store_id" column="store_id"/>
	<result property="store_no" column="store_no"/>
	<result property="prim_money" column="prim_money"/>
	<result property="is_rise_vou" column="is_rise_vou"/>
	<result property="rise_vou_time" column="rise_vou_time"/>
	<result property="is_take_cost" column="is_take_cost"/>
	<result property="take_cost_time" column="take_cost_time"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="zc_price" column="zc_price"/>
	<result property="cz_price" column="cz_price"/>
	<result property="jx_price" column="jx_price"/>
	<result property="ky_price" column="ky_price"/>
	</resultMap>
	

	<resultMap id="assDepreciationSectionMainMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="depre_year" column="depre_year"/>
	<result property="depre_month" column="depre_month"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="source_id" column="source_id"/>
	<result property="use_dept_id" column="use_dept_id"/>
	<result property="use_dept_no" column="use_dept_no"/>
	<result property="use_percent" column="use_percent"/>
	<result property="now_depre_amount" column="now_depre_amount"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="add_depre_amount" column="add_depre_amount"/>
	<result property="remain_price" column="remain_price"/>
	<result property="operator" column="operator"/>
	<result property="deal_date" column="deal_date"/>
	<result property="equi_depre_code" column="equi_depre_code"/>
	<result property="store_id" column="store_id"/>
	<result property="store_no" column="store_no"/>
	<result property="prim_money" column="prim_money"/>
	<result property="is_rise_vou" column="is_rise_vou"/>
	<result property="rise_vou_time" column="rise_vou_time"/>
	<result property="is_take_cost" column="is_take_cost"/>
	<result property="take_cost_time" column="take_cost_time"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="zc_price" column="zc_price"/>
	<result property="cz_price" column="cz_price"/>
	<result property="jx_price" column="jx_price"/>
	<result property="ky_price" column="ky_price"/>
	</resultMap>
	
	<!-- 	资产折旧专用  -->
	<select id="querySpecial" parameterType="java.util.Map" resultMap="assDepreciationSectionMain" >
	
	SELECT
	 adas.group_id,
    adas.hos_id,
	adas.copy_code,
    adas.depre_year,
    adas.depre_month,
    adas.use_dept_id, 
    hdd.dept_code dept_code,
    hdd.dept_name dept_name,
    sum(now_depre_amount) as now_depre_amount,
    sum(add_depre_month) as add_depre_month,
    sum(add_depre_amount) as add_depre_amount
   
    FROM ASS_DEPRE_ACC_Special adas
    left join Hos_Dept_Dict hdd on adas.use_dept_id=hdd.dept_id  
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND adas.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND adas.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND adas.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="depre_year != null and depre_year != ''">
		AND adas.depre_year = #{depre_year,jdbcType=VARCHAR}
		</if>
		<if test="depre_month != null and depre_month != ''">
		AND adas.depre_month = #{depre_month,jdbcType=VARCHAR}
		</if>
		<if test="use_dept_id != null and use_dept_id != ''">
		AND adas.use_dept_id = #{use_dept_id,jdbcType=INTEGER}
		</if>
		<if test="depre_year_month != null and depre_year_month != ''">
		AND adas.depre_year || '' ||  adas.depre_month = #{depre_year_month,jdbcType=DATE}
		</if>
		</where>  
		group by (hdd.dept_code,hdd.dept_name,adas.use_dept_id,adas.depre_month,adas.depre_year, adas.group_id,adas.hos_id,adas.copy_code)
		order by group_id asc
	</select>
	
	<!-- 查询资产折旧报表-部门 -->
	<select id="queryAssDepreciationSectionMain"  parameterType="java.util.Map" resultMap="assDepreciationSectionMain">
	
	
		with temp as
				 (select 
				         dept_code,
				         dept_name,
				         kind_code,
				         nvl(sum(zc_price), 0) zc_price,
				         nvl(sum(cz_price), 0) cz_price,
				         nvl(sum(ky_price),  0) ky_price,
				         nvl(sum(jx_price), 0) jx_price,
				         sum(NOW_DEPRE_AMOUNT) NOW_DEPRE_AMOUNT,
				         case
				           when kind_code = '01' then
				                    1
				                   when kind_code = '02' then
				                    2
				                   when kind_code = '03' then
				                    3
				                   when kind_code = '04' then
				                    4
				         end as flag
				    from (select 
				                 dept_code,
				                 dept_name,
				                 kind_code,
				                 t1.source_id,
				                 case
				                   when kind_code = '01' then
				                    1
				                   when kind_code = '02' then
				                    2
				                   when kind_code = '03' then
				                    3
				                   when kind_code = '04' then
				                    4
				                 end as flag,
				                 sum(NOW_DEPRE_AMOUNT) as price,
				                 sum(NOW_DEPRE_AMOUNT) as NOW_DEPRE_AMOUNT
				            from v_ass_depre_acc t1
				            left join hos_dept_dict t2
				              on t1.group_id = t2.group_id
				             and t1.hos_id = t2.hos_id
				             and t1.USE_DEPT_ID = t2.dept_id
				             and t2.is_stop = 0
				            left join hos_source s
				              on s.group_id = t1.group_id
				             and s.hos_id = t1.hos_id
				             and s.source_id = t1.SOURCE_ID
				             
				              left join v_ass_card tt on 
				             	t1.group_id = tt.group_id
				               AND t1.hos_id = tt.hos_id
				               AND t1.copy_code = tt.copy_code
				               and t1.ass_naturs=tt.ass_naturs
				               AND t1.ass_card_no=tt.ass_card_no
				              LEFT JOIN ass_no_dict t3
				                ON tt.group_id = t3.group_id
				               AND tt.hos_id = t3.hos_id
				               AND tt.copy_code = t3.copy_code
				               AND tt.ass_id = t3.ass_id
				               AND t3.is_stop = 0
				              LEFT JOIN ass_type_dict t4
				                ON t3.group_id = t4.group_id
				               AND t3.hos_id = t4.hos_id
				               AND t3.copy_code = t4.copy_code
				               AND t3.ass_type_id = t4.ass_type_id
				               AND t4.is_stop = 0
				              
				           WHERE t1.group_id = #{group_id,jdbcType=INTEGER}
							     AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
							     AND t1.copy_code = #{copy_code,jdbcType=VARCHAR}
							      and nvl(t1.note,0) != '冲减' 
							     
							     <if test="ass_nature != null and ass_nature != ''">
									<if test="ass_nature == '02'">
									  and (t1.ass_naturs = #{ass_nature,jdbcType=VARCHAR} or t4.ass_type_code  like '0403%' )
									</if>
									<if test="ass_nature == '04'">
										  and (t1.ass_naturs = #{ass_nature,jdbcType=VARCHAR} and t4.ass_type_code not like '0403%') 
									</if>
									<if test="ass_nature != '02' and ass_nature != '04'">
										  and t1.ass_naturs = #{ass_nature,jdbcType=VARCHAR}
									</if>
								 </if>
							     
							     
							     <if test="year_month_begin != null and year_month_begin != ''">
									AND t1.DEPRE_YEAR || t1.DEPRE_MONTH between #{year_month_begin} and #{year_month_end}
								</if>
								<if test="use_dept_id != null and use_dept_id != ''">
							     AND t1.use_dept_id = #{use_dept_id,jdbcType=INTEGER}
							     </if>
				           group by 
				                    dept_code,
				                    dept_name,
				                    kind_code,
				                    t1.source_id) t1 pivot(sum(price) as price for source_id in('1' as ZC,
				                                                                                '2' as CZ,
				                                                                                '3' as KY,
				                                                                                '4' as JX))
				   group by dept_code, dept_name,kind_code, flag)
				select *
				  from (select dept_code,
				               dept_name,
				               flag,
				               zc_price,
				               cz_price,
				               ky_price,
				               jx_price,
				               NOW_DEPRE_AMOUNT
				          from temp
				           union all
				        select null as deot_code,
				               '临床小计',
				               1,
				              sum(zc_price),
				               sum( cz_price),
				              sum(  ky_price),
				              sum( jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				         where dept_code like '1%'
				        union all
				        select null as deot_code,
				               '医技小计',
				               2,
				              sum(zc_price),
				               sum( cz_price),
				              sum(  ky_price),
				              sum( jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				         where dept_code like '2%'
				        union all
				        select null as deot_code,
				               '医辅小计',
				               3,
				              sum(zc_price),
				               sum( cz_price),
				              sum(  ky_price),
				              sum( jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				         where dept_code like '3%'
				        union all
				        select null as deot_code,
				               '管理小计',
				               4,
				               sum(zc_price),
				               sum( cz_price),
				              sum(  ky_price),
				              sum( jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				         where dept_code like '4%'
				        union all
				        select null as dept_code,
				               '合计',
				               5,
				               sum(zc_price),
				               sum(cz_price),
				               sum(ky_price),
				               sum(jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				      ) t
				       
				 where nvl(NOW_DEPRE_AMOUNT, -1) != -1
		
		 ORDER BY flag, dept_code, dept_name
		
		
	</select>
	
	<!-- 打印 -->
	<select id="queryAssDepreciationSectionPrint" parameterType="java.util.Map" resultMap="assDepreciationSectionMainMap">
		with temp as
				 (select 
				         dept_code,
				         dept_name,
				         kind_code,
				         nvl(sum(zc_price), 0) zc_price,
				         nvl(sum(cz_price), 0) cz_price,
				         nvl(sum(ky_price),  0) ky_price,
				         nvl(sum(jx_price), 0) jx_price,
				         sum(NOW_DEPRE_AMOUNT) NOW_DEPRE_AMOUNT,
				         case
				           when kind_code = '01' then
				                    1
				                   when kind_code = '02' then
				                    2
				                   when kind_code = '03' then
				                    3
				                   when kind_code = '04' then
				                    4
				         end as flag
				    from (select 
				                 dept_code,
				                 dept_name,
				                 kind_code,
				                 t1.source_id,
				                 case
				                   when kind_code = '01' then
				                    1
				                   when kind_code = '02' then
				                    2
				                   when kind_code = '03' then
				                    3
				                   when kind_code = '04' then
				                    4
				                 end as flag,
				                 sum(NOW_DEPRE_AMOUNT) as price,
				                 sum(NOW_DEPRE_AMOUNT) as NOW_DEPRE_AMOUNT
				            from v_ass_depre_acc t1
				            left join hos_dept_dict t2
				              on t1.group_id = t2.group_id
				             and t1.hos_id = t2.hos_id
				             and t1.USE_DEPT_ID = t2.dept_id
				             and t2.is_stop = 0
				            left join hos_source s
				              on s.group_id = t1.group_id
				             and s.hos_id = t1.hos_id
				             and s.source_id = t1.SOURCE_ID
				             
				              left join v_ass_card tt on 
				             	t1.group_id = tt.group_id
				               AND t1.hos_id = tt.hos_id
				               AND t1.copy_code = tt.copy_code
				               and t1.ass_naturs=tt.ass_naturs
				               AND t1.ass_card_no=tt.ass_card_no
				              LEFT JOIN ass_no_dict t3
				                ON tt.group_id = t3.group_id
				               AND tt.hos_id = t3.hos_id
				               AND tt.copy_code = t3.copy_code
				               AND tt.ass_id = t3.ass_id
				               AND t3.is_stop = 0
				              LEFT JOIN ass_type_dict t4
				                ON t3.group_id = t4.group_id
				               AND t3.hos_id = t4.hos_id
				               AND t3.copy_code = t4.copy_code
				               AND t3.ass_type_id = t4.ass_type_id
				               AND t4.is_stop = 0
				              
				           WHERE t1.group_id = #{group_id,jdbcType=INTEGER}
							     AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
							     AND t1.copy_code = #{copy_code,jdbcType=VARCHAR}
							      and nvl(t1.note,0) != '冲减' 
							     
							     <if test="ass_nature != null and ass_nature != ''">
									<if test="ass_nature == '02'">
									  and (t1.ass_naturs = #{ass_nature,jdbcType=VARCHAR} or t4.ass_type_code  like '0403%' )
									</if>
									<if test="ass_nature == '04'">
										  and (t1.ass_naturs = #{ass_nature,jdbcType=VARCHAR} and t4.ass_type_code not like '0403%') 
									</if>
									<if test="ass_nature != '02' and ass_nature != '04'">
										  and t1.ass_naturs = #{ass_nature,jdbcType=VARCHAR}
									</if>
								 </if>
							     
							     
							     <if test="year_month_begin != null and year_month_begin != ''">
									AND t1.DEPRE_YEAR || t1.DEPRE_MONTH between #{year_month_begin} and #{year_month_end}
								</if>
								<if test="use_dept_id != null and use_dept_id != ''">
							     AND t1.use_dept_id = #{use_dept_id,jdbcType=INTEGER}
							     </if>
				           group by 
				                    dept_code,
				                    dept_name,
				                    kind_code,
				                    t1.source_id) t1 pivot(sum(price) as price for source_id in('1' as ZC,
				                                                                                '2' as CZ,
				                                                                                '3' as KY,
				                                                                                '4' as JX))
				   group by dept_code, dept_name,kind_code, flag)
				select *
				  from (select dept_code,
				               dept_name,
				               flag,
				               zc_price,
				               cz_price,
				               ky_price,
				               jx_price,
				               NOW_DEPRE_AMOUNT
				          from temp
				           union all
				        select null as deot_code,
				               '临床小计',
				               1,
				              sum(zc_price),
				               sum( cz_price),
				              sum(  ky_price),
				              sum( jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				         where dept_code like '1%'
				        union all
				        select null as deot_code,
				               '医技小计',
				               2,
				              sum(zc_price),
				               sum( cz_price),
				              sum(  ky_price),
				              sum( jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				         where dept_code like '2%'
				        union all
				        select null as deot_code,
				               '医辅小计',
				               3,
				              sum(zc_price),
				               sum( cz_price),
				              sum(  ky_price),
				              sum( jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				         where dept_code like '3%'
				        union all
				        select null as deot_code,
				               '管理小计',
				               4,
				               sum(zc_price),
				               sum( cz_price),
				              sum(  ky_price),
				              sum( jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				         where dept_code like '4%'
				        union all
				        select null as dept_code,
				               '合计',
				               5,
				               sum(zc_price),
				               sum(cz_price),
				               sum(ky_price),
				               sum(jx_price),
				               sum(NOW_DEPRE_AMOUNT)
				          from temp
				      ) t
				       
				 where nvl(NOW_DEPRE_AMOUNT, -1) != -1
		
		 ORDER BY flag, dept_code, dept_name
	</select>
</mapper>

