<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.guanLiReports.AssDepreciationUseTimeMapper">
	
	<resultMap id="assDepreciationUseTime" type="com.chd.hrp.ass.entity.guanLiReports.AssDepreciationUseTime">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="depre_year" column="depre_year"/>
	<result property="depre_month" column="depre_month"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="source_id" column="source_id"/>
	<result property="use_dept_id" column="use_dept_id"/>
	<result property="use_dept_no" column="use_dept_no"/>
	<result property="use_percent" column="use_percent"/>
	<result property="now_depre_amount" column="now_depre_amount"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="add_depre_amount" column="add_depre_amount"/>
	<result property="remain_price" column="remain_price"/>
	<result property="operator" column="operator"/>
	<result property="deal_date" column="deal_date"/>
	<result property="equi_depre_code" column="equi_depre_code"/>
	<result property="store_id" column="store_id"/>
	<result property="store_no" column="store_no"/>
	<result property="prim_money" column="prim_money"/>
	<result property="is_rise_vou" column="is_rise_vou"/>
	<result property="rise_vou_time" column="rise_vou_time"/>
	<result property="is_take_cost" column="is_take_cost"/>
	<result property="take_cost_time" column="take_cost_time"/>
	<result property="ass_name" column="ass_name"/>
	</resultMap>
	
	<resultMap id="assDepreciationUseTimeMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="depre_year" column="depre_year"/>
	<result property="depre_month" column="depre_month"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="source_id" column="source_id"/>
	<result property="use_dept_id" column="use_dept_id"/>
	<result property="use_dept_no" column="use_dept_no"/>
	<result property="use_percent" column="use_percent"/>
	<result property="now_depre_amount" column="now_depre_amount"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="add_depre_amount" column="add_depre_amount"/>
	<result property="remain_price" column="remain_price"/>
	<result property="operator" column="operator"/>
	<result property="deal_date" column="deal_date"/>
	<result property="equi_depre_code" column="equi_depre_code"/>
	<result property="store_id" column="store_id"/>
	<result property="store_no" column="store_no"/>
	<result property="prim_money" column="prim_money"/>
	<result property="is_rise_vou" column="is_rise_vou"/>
	<result property="rise_vou_time" column="rise_vou_time"/>
	<result property="is_take_cost" column="is_take_cost"/>
	<result property="take_cost_time" column="take_cost_time"/>
	<result property="ass_name" column="ass_name"/>
	</resultMap>
	
	<!-- 	资产折旧一般 -->
	<select id="queryUseTime" parameterType="java.util.Map" resultMap="assDepreciationUseTime" >
	with temp as (
			SELECT arss.group_id,
		         arss.hos_id,
		         arss.copy_code,
		         arss.depre_year,
		          arss.depre_month,
		         arss.ass_card_no,
		         arss.now_depre_amount,
		         arss.add_depre_month,
		         arss.add_depre_amount,
		         '02' ass_nature
		    FROM ASS_DEPRE_ACC_SPECIAL arss
		    where 
			    arss.group_id = #{group_id,jdbcType=INTEGER}
			
				AND arss.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND arss.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	arss.depre_year||''||arss.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT args.group_id,
		         args.hos_id,
		         args.copy_code,
		         args.depre_year,
		          args.depre_month,
		         args.ass_card_no,
		         args.now_depre_amount,
		         args.add_depre_month,
		         args.add_depre_amount,
		         '03' ass_nature
		    FROM ASS_DEPRE_ACC_GENERAL args
		   where 
			    args.group_id = #{group_id,jdbcType=INTEGER}
			
				AND args.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND args.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	args.depre_year||''||args.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT arhs.group_id,
		         arhs.hos_id,
		         arhs.copy_code,
		         arhs.depre_year,
		          arhs.depre_month,
		         arhs.ass_card_no,
		         arhs.now_depre_amount,
		         arhs.add_depre_month,
		         arhs.add_depre_amount,
		         '01' ass_nature
		    FROM ASS_DEPRE_ACC_HOUSE arhs
		   
		   where 
			    arhs.group_id = #{group_id,jdbcType=INTEGER}
			
				AND arhs.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND arhs.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	arhs.depre_year||''||arhs.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT aros.group_id,
		         aros.hos_id,
		         aros.copy_code,
		         aros.depre_year,
		          aros.depre_month,
		         aros.ass_card_no,
		         aros.now_depre_amount,
		         aros.add_depre_month,
		         aros.add_depre_amount,
		         '04' ass_nature
		    FROM ASS_DEPRE_ACC_OTHER aros
		   
		   where 
			    aros.group_id = #{group_id,jdbcType=INTEGER}
			
				AND aros.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND aros.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	aros.depre_year||''||aros.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT aris.group_id,
		         aris.hos_id,
		         aris.copy_code,
		         aris.depre_year,
		          aris.depre_month,
		         aris.ass_card_no,
		         aris.now_depre_amount,
		         aris.add_depre_month,
		         aris.add_depre_amount,
		         '05' ass_nature
		    FROM ASS_DEPRE_ACC_INASSETS aris
		   
		   where 
			    aris.group_id = #{group_id,jdbcType=INTEGER}
			
				AND aris.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND aris.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	aris.depre_year||''||aris.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT arls.group_id,
		         arls.hos_id,
		         arls.copy_code,
		         arls.depre_year,
		          arls.depre_month,
		         arls.ass_card_no,
		         arls.now_depre_amount,
		         arls.add_depre_month,
		         arls.add_depre_amount,
		         '06' ass_nature
		    FROM ASS_DEPRE_ACC_LAND arls
		  
		   where 
			    arls.group_id = #{group_id,jdbcType=INTEGER}
			
				AND arls.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND arls.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	arls.depre_year||''||arls.depre_month = #{depre_year_month}
				</if>
				
				)				
		, temp_query as (
		SELECT 
		 group_id,
		 hos_id,
		copy_code,
		depre_year,
		depre_month,
		ass_card_no,
		now_depre_amount,
		add_depre_month,
		add_depre_amount
		FROM temp
		WHERE
		 	group_id = #{group_id,jdbcType=INTEGER}
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
			<if test="ass_nature != null and ass_nature != ''">
				AND ass_nature = #{ass_nature,jdbcType=VARCHAR}
			</if>
	)   select group_id, hos_id, copy_code, depre_year, depre_month
			, ass_card_no, now_depre_amount, add_depre_month, add_depre_amount 
			from temp_query
			<where>
				group_id = #{group_id,jdbcType=INTEGER}
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
			<if test="depre_year_month != null and depre_year_month != ''">
				and	depre_year||''||depre_month = #{depre_year_month}
				</if>
				<if test="ass_card_no != null and ass_card_no != ''">
				and	ass_card_no = #{ass_card_no}
				</if>
			</where>
			union all
			 select null, null, null, '合计', null
			, null, sum(now_depre_amount), sum(add_depre_month), sum(add_depre_amount) 
			from temp_query
			<where>
				group_id = #{group_id,jdbcType=INTEGER}
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
			<if test="depre_year_month != null and depre_year_month != ''">
				and	depre_year||''||depre_month = #{depre_year_month}
				</if>
				<if test="ass_card_no != null and ass_card_no != ''">
				and	ass_card_no = #{ass_card_no}
				</if>
			</where>
	</select>
	
	<!-- 打印 -->
	<select id="queryAssDepreciationUseTimePrint" parameterType="java.util.Map" resultMap="assDepreciationUseTimeMap">
	with temp as (
			SELECT arss.group_id,
		         arss.hos_id,
		         arss.copy_code,
		         arss.depre_year,
		          arss.depre_month,
		         arss.ass_card_no,
		         arss.now_depre_amount,
		         arss.add_depre_month,
		         arss.add_depre_amount,
		         '02' ass_nature
		    FROM ASS_DEPRE_ACC_SPECIAL arss
		    where 
			    arss.group_id = #{group_id,jdbcType=INTEGER}
			
				AND arss.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND arss.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	arss.depre_year||''||arss.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT args.group_id,
		         args.hos_id,
		         args.copy_code,
		         args.depre_year,
		          args.depre_month,
		         args.ass_card_no,
		         args.now_depre_amount,
		         args.add_depre_month,
		         args.add_depre_amount,
		         '03' ass_nature
		    FROM ASS_DEPRE_ACC_GENERAL args
		   where 
			    args.group_id = #{group_id,jdbcType=INTEGER}
			
				AND args.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND args.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	args.depre_year||''||args.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT arhs.group_id,
		         arhs.hos_id,
		         arhs.copy_code,
		         arhs.depre_year,
		          arhs.depre_month,
		         arhs.ass_card_no,
		         arhs.now_depre_amount,
		         arhs.add_depre_month,
		         arhs.add_depre_amount,
		         '01' ass_nature
		    FROM ASS_DEPRE_ACC_HOUSE arhs
		   
		   where 
			    arhs.group_id = #{group_id,jdbcType=INTEGER}
			
				AND arhs.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND arhs.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	arhs.depre_year||''||arhs.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT aros.group_id,
		         aros.hos_id,
		         aros.copy_code,
		         aros.depre_year,
		          aros.depre_month,
		         aros.ass_card_no,
		         aros.now_depre_amount,
		         aros.add_depre_month,
		         aros.add_depre_amount,
		         '04' ass_nature
		    FROM ASS_DEPRE_ACC_OTHER aros
		   
		   where 
			    aros.group_id = #{group_id,jdbcType=INTEGER}
			
				AND aros.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND aros.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	aros.depre_year||''||aros.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT aris.group_id,
		         aris.hos_id,
		         aris.copy_code,
		         aris.depre_year,
		          aris.depre_month,
		         aris.ass_card_no,
		         aris.now_depre_amount,
		         aris.add_depre_month,
		         aris.add_depre_amount,
		         '05' ass_nature
		    FROM ASS_DEPRE_ACC_INASSETS aris
		   
		   where 
			    aris.group_id = #{group_id,jdbcType=INTEGER}
			
				AND aris.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND aris.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	aris.depre_year||''||aris.depre_month = #{depre_year_month}
				</if>
		  union all
		  SELECT arls.group_id,
		         arls.hos_id,
		         arls.copy_code,
		         arls.depre_year,
		          arls.depre_month,
		         arls.ass_card_no,
		         arls.now_depre_amount,
		         arls.add_depre_month,
		         arls.add_depre_amount,
		         '06' ass_nature
		    FROM ASS_DEPRE_ACC_LAND arls
		  
		   where 
			    arls.group_id = #{group_id,jdbcType=INTEGER}
			
				AND arls.hos_id = #{hos_id,jdbcType=INTEGER}
			
				AND arls.copy_code = #{copy_code,jdbcType=VARCHAR}
				<if test="depre_year_month != null and depre_year_month != ''">
				and	arls.depre_year||''||arls.depre_month = #{depre_year_month}
				</if>
				
				)				
		, temp_query as (
		SELECT 
		 group_id,
		 hos_id,
		copy_code,
		depre_year,
		depre_month,
		ass_card_no,
		now_depre_amount,
		add_depre_month,
		add_depre_amount
		FROM temp
		WHERE
		 	group_id = #{group_id,jdbcType=INTEGER}
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
			<if test="ass_nature != null and ass_nature != ''">
				AND ass_nature = #{ass_nature,jdbcType=VARCHAR}
			</if>
	)   select group_id, hos_id, copy_code, depre_year, depre_month
			, ass_card_no, now_depre_amount, add_depre_month, add_depre_amount 
			from temp_query
			<where>
				group_id = #{group_id,jdbcType=INTEGER}
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
			<if test="depre_year_month != null and depre_year_month != ''">
				and	depre_year||''||depre_month = #{depre_year_month}
				</if>
				<if test="ass_card_no != null and ass_card_no != ''">
				and	ass_card_no = #{ass_card_no}
				</if>
			</where>
			union all
			 select null, null, null, '合计', null
			, null, sum(now_depre_amount), sum(add_depre_month), sum(add_depre_amount) 
			from temp_query
			<where>
				group_id = #{group_id,jdbcType=INTEGER}
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
			<if test="depre_year_month != null and depre_year_month != ''">
				and	depre_year||''||depre_month = #{depre_year_month}
				</if>
				<if test="ass_card_no != null and ass_card_no != ''">
				and	ass_card_no = #{ass_card_no}
				</if>
			</where>
	</select>
	
</mapper>

