<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.medicalmanagement.HrClinicDocWorkMapper">
	
	<resultMap id="hrClinicDocWork" type="com.chd.hrp.hr.entity.medicalmanagement.HrClinicDocWork">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="emp_id" column="emp_id"/>
	<result property="emp_name" column="emp_name"/>
	<result property="year_month" column="year_month"/>
	<result property="man_patient_num" column="man_patient_num"/>
	<result property="cmi" column="cmi"/>
	<result property="rw_patient_num" column="rw_patient_num"/>
	<result property="man_oper_num" column="man_oper_num"/>
	<result property="man_oper_perc" column="man_oper_perc"/>
	<result property="avg_inhos_charge" column="avg_inhos_charge"/>
	<result property="avg_inhos_days" column="avg_inhos_days"/>
	<result property="med_val_add" column="med_val_add"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="hrClinicDocWorkMap" type="java.util.Map">
		<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="emp_id" column="emp_id"/>
	<result property="emp_name" column="emp_name"/>
	<result property="year_month" column="year_month"/>
	<result property="man_patient_num" column="man_patient_num"/>
	<result property="cmi" column="cmi"/>
	<result property="rw_patient_num" column="rw_patient_num"/>
	<result property="man_oper_num" column="man_oper_num"/>
	<result property="man_oper_perc" column="man_oper_perc"/>
	<result property="avg_inhos_charge" column="avg_inhos_charge"/>
	<result property="avg_inhos_days" column="avg_inhos_days"/>
	<result property="med_val_add" column="med_val_add"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO HR_CLINIC_DOC_WORK (
		<trim suffix="" suffixOverrides=",">
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		man_patient_num,
		cmi,
		rw_patient_num,
		man_oper_num,
		man_oper_perc,
		avg_inhos_charge,
		avg_inhos_days,
		med_val_add,
		note,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER},
		#{hos_id,jdbcType=INTEGER},
		#{dept_id,jdbcType=INTEGER},
		#{emp_id,jdbcType=INTEGER},
		#{year_month,jdbcType=VARCHAR},
		#{man_patient_num,jdbcType=INTEGER},
		#{cmi,jdbcType=INTEGER},
		#{rw_patient_num,jdbcType=INTEGER},
		#{man_oper_num,jdbcType=INTEGER},
		#{man_oper_perc,jdbcType=INTEGER},
		#{avg_inhos_charge,jdbcType=INTEGER},
		#{avg_inhos_days,jdbcType=INTEGER},
		#{med_val_add,jdbcType=INTEGER},
		#{note,jdbcType=VARCHAR}
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_CLINIC_DOC_WORK (
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		man_patient_num,
		cmi,
		rw_patient_num,
		man_oper_num,
		man_oper_perc,
		avg_inhos_charge,
		avg_inhos_days,
		med_val_add,
		note
		)(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.dept_id,jdbcType=INTEGER},
			#{item.emp_id,jdbcType=INTEGER},
			#{item.year_month,jdbcType=VARCHAR},
			#{item.man_patient_num,jdbcType=INTEGER},
			#{item.cmi,jdbcType=INTEGER},
			#{item.rw_patient_num,jdbcType=INTEGER},
			#{item.man_oper_num,jdbcType=INTEGER},
			#{item.man_oper_perc,jdbcType=INTEGER},
			#{item.avg_inhos_charge,jdbcType=INTEGER},
			#{item.avg_inhos_days,jdbcType=INTEGER},
			#{item.med_val_add,jdbcType=INTEGER},
			#{item.note,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)
	</insert>
	<insert id="addBatchClinicalWorkload" parameterType="java.util.List" >
	
		INSERT INTO HR_CLINIC_DOC_WORK (
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		man_patient_num,
		cmi,
		rw_patient_num,
		man_oper_num,
		man_oper_perc,
		avg_inhos_charge,
		avg_inhos_days,
		med_val_add,
		note
		)(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{map.group_id,jdbcType=INTEGER},
			#{map.hos_id,jdbcType=INTEGER},
			#{item.dept_id,jdbcType=INTEGER},
			#{item.emp_id,jdbcType=INTEGER},
			#{item.year_month,jdbcType=VARCHAR},
			#{item.man_patient_num,jdbcType=INTEGER},
			#{item.cmi,jdbcType=INTEGER},
			#{item.rw_patient_num,jdbcType=INTEGER},
			#{item.man_oper_num,jdbcType=INTEGER},
			#{item.man_oper_perc,jdbcType=INTEGER},
			#{item.avg_inhos_charge,jdbcType=INTEGER},
			#{item.avg_inhos_days,jdbcType=INTEGER},
			#{item.med_val_add,jdbcType=INTEGER},
			#{item.note,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_clinic_doc_work 
		<trim prefix="SET"  suffixOverrides=","> 
		man_patient_num = #{man_patient_num,jdbcType=INTEGER},
		cmi = #{cmi,jdbcType=INTEGER},
		rw_patient_num = #{rw_patient_num,jdbcType=INTEGER},
		man_oper_num = #{man_oper_num,jdbcType=INTEGER},
		man_oper_perc = #{man_oper_perc,jdbcType=INTEGER},
		avg_inhos_charge = #{avg_inhos_charge,jdbcType=INTEGER},
		avg_inhos_days = #{avg_inhos_days,jdbcType=INTEGER},
		med_val_add = #{med_val_add,jdbcType=INTEGER},
		note = #{note,jdbcType=VARCHAR},
		</trim>
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		AND year_month = #{year_month,jdbcType=VARCHAR}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_clinic_doc_work 
			<trim prefix="SET"  suffixOverrides=","> 
			man_patient_num = #{item.man_patient_num,jdbcType=INTEGER},
			cmi = #{item.cmi,jdbcType=INTEGER},
			rw_patient_num = #{item.rw_patient_num,jdbcType=INTEGER},
			man_oper_num = #{item.man_oper_num,jdbcType=INTEGER},
			man_oper_perc = #{item.man_oper_perc,jdbcType=INTEGER},
			avg_inhos_charge = #{item.avg_inhos_charge,jdbcType=INTEGER},
			avg_inhos_days = #{item.avg_inhos_days,jdbcType=INTEGER},
			med_val_add = #{item.med_val_add,jdbcType=INTEGER},
			note = #{item.note,jdbcType=VARCHAR},
			</trim>
			<where>                     
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND dept_id = #{item.dept_id,jdbcType=INTEGER}
			AND emp_id = #{item.emp_id,jdbcType=INTEGER}
			AND year_month = #{item.year_month,jdbcType=VARCHAR}
			</where>  			
		</foreach>
	</update>
	
	<delete id="deletehrClinicDocWork" parameterType="java.util.Map">
	
		DELETE FROM hr_clinic_doc_work 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		<!-- AND dept_id = #{dept_id,jdbcType=INTEGER}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		AND year_month = #{year_month,jdbcType=VARCHAR} -->
		</where>  
	</delete>
	<delete id="deleteClinicalWorkload" parameterType="java.util.List">
		DELETE FROM hr_clinic_doc_work 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				 group_id = #{map.group_id,jdbcType=INTEGER}
				AND hos_id = #{map.hos_id,jdbcType=INTEGER}
				
				<if test="item.dept_id != null and item.dept_id != ''">
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.emp_id != null and item.emp_id != ''">
				AND emp_id = #{item.emp_id,jdbcType=INTEGER}
				</if>
				<if test="item.year_month != null and item.year_month != ''">
				AND year_month = #{item.year_month,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	   
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrClinicDocWork" >
	
	  SELECT 
    hc.group_id,
    hc.hos_id,
    hc.dept_id,
    hd.dept_name,
    hc.emp_id,
    hc.he.emp_name,
    hc.year_month,
    hc.man_patient_num,
    hc.cmi,
    hc.rw_patient_num,
    hc.man_oper_num,
    hc.man_oper_perc,
    hc.avg_inhos_charge,
    hc.avg_inhos_days,
    hc.med_val_add,
    hc.note
    FROM HR_CLINIC_DOC_WORK  hc left join hos_emp he on hc.emp_id=he.emp_id
    and hc.group_id=he.group_id and hc.hos_id=he.hos_id 
    and he.is_stop=0
    left join hos_dept_dict hd on hc.dept_id=hd.dept_id 
    and  hc.group_id=hd.group_id and hc.hos_id=hd.hos_id 
    and hd.is_stop=0
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND hc.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hc.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND hc.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND hc.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year_month != null and year_month != ''">
		AND hc.year_month = #{year_month,jdbcType=VARCHAR}
		</if>
		<if test="man_patient_num != null and man_patient_num != ''">
		AND hc.man_patient_num = #{man_patient_num,jdbcType=INTEGER}
		</if>
		<if test="cmi != null and cmi != ''">
		AND hc.cmi = #{cmi,jdbcType=INTEGER}
		</if>
		<if test="rw_patient_num != null and rw_patient_num != ''">
		AND hc.rw_patient_num = #{rw_patient_num,jdbcType=INTEGER}
		</if>
		<if test="man_oper_num != null and man_oper_num != ''">
		AND hc.man_oper_num = #{man_oper_num,jdbcType=INTEGER}
		</if>
		<if test="man_oper_perc != null and man_oper_perc != ''">
		AND hc.man_oper_perc = #{man_oper_perc,jdbcType=INTEGER}
		</if>
		<if test="avg_inhos_charge != null and avg_inhos_charge != ''">
		AND hc.avg_inhos_charge = #{avg_inhos_charge,jdbcType=INTEGER}
		</if>
		<if test="avg_inhos_days != null and avg_inhos_days != ''">
		AND hc.avg_inhos_days = #{avg_inhos_days,jdbcType=INTEGER}
		</if>
		<if test="med_val_add != null and med_val_add != ''">
		AND hc.med_val_add = #{med_val_add,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND hc.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by  hc.year_month asc
	</select>
	<select id="queryByCode" resultMap="hrClinicDocWork"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		man_patient_num,
		cmi,
		rw_patient_num,
		man_oper_num,
		man_oper_perc,
		avg_inhos_charge,
		avg_inhos_days,
		med_val_add,
		note
		FROM hr_clinic_doc_work 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		emp_id = #{emp_id,jdbcType=INTEGER}   and 
		year_month = #{year_month,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByCodeClinicDocWork" resultMap="hrClinicDocWork"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		man_patient_num,
		cmi,
		rw_patient_num,
		man_oper_num,
		man_oper_perc,
		avg_inhos_charge,
		avg_inhos_days,
		med_val_add,
		note
		FROM hr_clinic_doc_work 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		emp_id = #{emp_id,jdbcType=INTEGER}   and 
		year_month = #{year_month,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="hrClinicDocWork"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		man_patient_num,
		cmi,
		rw_patient_num,
		man_oper_num,
		man_oper_perc,
		avg_inhos_charge,
		avg_inhos_days,
		med_val_add,
		note
		FROM HR_CLINIC_DOC_WORK 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year_month != null and year_month != ''">
		AND year_month = #{year_month,jdbcType=VARCHAR}
		</if>
		<if test="man_patient_num != null and man_patient_num != ''">
		AND man_patient_num = #{man_patient_num,jdbcType=INTEGER}
		</if>
		<if test="cmi != null and cmi != ''">
		AND cmi = #{cmi,jdbcType=INTEGER}
		</if>
		<if test="rw_patient_num != null and rw_patient_num != ''">
		AND rw_patient_num = #{rw_patient_num,jdbcType=INTEGER}
		</if>
		<if test="man_oper_num != null and man_oper_num != ''">
		AND man_oper_num = #{man_oper_num,jdbcType=INTEGER}
		</if>
		<if test="man_oper_perc != null and man_oper_perc != ''">
		AND man_oper_perc = #{man_oper_perc,jdbcType=INTEGER}
		</if>
		<if test="avg_inhos_charge != null and avg_inhos_charge != ''">
		AND avg_inhos_charge = #{avg_inhos_charge,jdbcType=INTEGER}
		</if>
		<if test="avg_inhos_days != null and avg_inhos_days != ''">
		AND avg_inhos_days = #{avg_inhos_days,jdbcType=INTEGER}
		</if>
		<if test="med_val_add != null and med_val_add != ''">
		AND med_val_add = #{med_val_add,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="hrClinicDocWork"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		man_patient_num,
		cmi,
		rw_patient_num,
		man_oper_num,
		man_oper_perc,
		avg_inhos_charge,
		avg_inhos_days,
		med_val_add,
		note
		FROM HR_CLINIC_DOC_WORK 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year_month != null and year_month != ''">
		AND year_month = #{year_month,jdbcType=VARCHAR}
		</if>
		<if test="man_patient_num != null and man_patient_num != ''">
		AND man_patient_num = #{man_patient_num,jdbcType=INTEGER}
		</if>
		<if test="cmi != null and cmi != ''">
		AND cmi = #{cmi,jdbcType=INTEGER}
		</if>
		<if test="rw_patient_num != null and rw_patient_num != ''">
		AND rw_patient_num = #{rw_patient_num,jdbcType=INTEGER}
		</if>
		<if test="man_oper_num != null and man_oper_num != ''">
		AND man_oper_num = #{man_oper_num,jdbcType=INTEGER}
		</if>
		<if test="man_oper_perc != null and man_oper_perc != ''">
		AND man_oper_perc = #{man_oper_perc,jdbcType=INTEGER}
		</if>
		<if test="avg_inhos_charge != null and avg_inhos_charge != ''">
		AND avg_inhos_charge = #{avg_inhos_charge,jdbcType=INTEGER}
		</if>
		<if test="avg_inhos_days != null and avg_inhos_days != ''">
		AND avg_inhos_days = #{avg_inhos_days,jdbcType=INTEGER}
		</if>
		<if test="med_val_add != null and med_val_add != ''">
		AND med_val_add = #{med_val_add,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

