<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.medicalmanagement.HrDealDetailMapper">
	
	<resultMap id="hrDealDetail" type="com.chd.hrp.hr.entity.medicalmanagement.HrDealDetail">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="emp_id" column="emp_id"/>
	<result property="emp_name" column="emp_name"/>
	<result property="emp_nature" column="emp_nature"/>
	<result property="ratio" column="ratio"/>
	<result property="damage" column="damage"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="hrDealDetailMap" type="java.util.Map">
		<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="emp_id" column="emp_id"/>
	<result property="dept_code" column="dept_code"/>
	<result property="emp_name" column="emp_name"/>
	<result property="emp_nature" column="emp_nature"/>
	<result property="ratio" column="ratio"/>
	<result property="damage" column="damage"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO HR_DEAL_DETAIL (
		<trim suffix="" suffixOverrides=",">
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		dept_id,
		emp_id,
		emp_nature,
		ratio,
		damage,
		note,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER},
		#{hos_id,jdbcType=INTEGER},
		#{occ_date,jdbcType=DATE},
		#{plaint_date,jdbcType=DATE},
		#{in_hos_no,jdbcType=VARCHAR},
		#{dept_id,jdbcType=INTEGER},
		#{emp_id,jdbcType=INTEGER},
		#{emp_nature,jdbcType=VARCHAR},
		#{ratio,jdbcType=INTEGER},
		#{damage,jdbcType=INTEGER},
		#{note,jdbcType=VARCHAR}
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_DEAL_DETAIL (
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		dept_id,
		emp_id,
		emp_nature,
		ratio,
		damage,
		note
		) (
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.occ_date,jdbcType=DATE},
			#{item.plaint_date,jdbcType=DATE},
			#{item.in_hos_no,jdbcType=VARCHAR},
			#{item.dept_id,jdbcType=INTEGER},
			#{item.emp_id,jdbcType=INTEGER},
			#{item.emp_nature,jdbcType=VARCHAR},
			#{item.ratio,jdbcType=INTEGER},
			#{item.damage,jdbcType=INTEGER},
			#{item.note,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_deal_detail 
		<trim prefix="SET"  suffixOverrides=","> 
		emp_nature = #{emp_nature,jdbcType=VARCHAR},
		ratio = #{ratio,jdbcType=INTEGER},
		damage = #{damage,jdbcType=INTEGER},
		note = #{note,jdbcType=VARCHAR},
		</trim>
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND occ_date = #{occ_date,jdbcType=DATE}
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_deal_detail 
			<trim prefix="SET"  suffixOverrides=","> 
			emp_nature = #{item.emp_nature,jdbcType=VARCHAR},
			ratio = #{item.ratio,jdbcType=INTEGER},
			damage = #{item.damage,jdbcType=INTEGER},
			note = #{item.note,jdbcType=VARCHAR},
			</trim>
			<where>                     
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND occ_date = #{item.occ_date,jdbcType=DATE}
			AND plaint_date = #{item.plaint_date,jdbcType=DATE}
			AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
			AND dept_id = #{item.dept_id,jdbcType=INTEGER}
			AND emp_id = #{item.emp_id,jdbcType=INTEGER}
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM hr_deal_detail 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND occ_date = #{occ_date,jdbcType=DATE}
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</where>  
	</delete>
	<delete id="deleteBatchDeal" parameterType="java.util.List">
		DELETE FROM hr_deal_detail 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				 group_id = #{map.group_id,jdbcType=INTEGER}
				AND hos_id = #{map.hos_id,jdbcType=INTEGER}
				<if test="item.occ_date != null and item.occ_date != ''">
				AND occ_date = #{item.occ_date,jdbcType=DATE}
				</if>
				<if test="item.plaint_date != null and item.plaint_date != ''">
				AND plaint_date = #{item.plaint_date,jdbcType=DATE}
				</if>
				<if test="item.in_hos_no != null and item.in_hos_no != ''">
				AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<delete id="deleteBatchUpdate" parameterType="java.util.List">
		DELETE FROM hr_deal_detail 
		
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.occ_date != null and item.occ_date != ''">
				AND occ_date = #{item.occ_date,jdbcType=DATE}
				</if>
				<if test="item.plaint_date != null and item.plaint_date != ''">
				AND plaint_date = #{item.plaint_date,jdbcType=DATE}
				</if>
				<if test="item.in_hos_no != null and item.in_hos_no != ''">
				AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrDealDetailMap" >
	
    SELECT 
     hr.group_id,
    hr.hos_id,
     hr.occ_date,
     hr.plaint_date,
     hr.in_hos_no,
     hr.dept_id,
     hd.dept_no||'@'|| hd.dept_id dept_code,
    hd.dept_name,
     hr.emp_id,
    he.emp_name,
     hr.emp_nature,
     hr.ratio,
     hr.damage,
     hr.note
    FROM HR_DEAL_DETAIL hr left join hos_emp he on hr.emp_id=he.emp_id and hr.group_id=he.group_id and hr.hos_id=he.hos_id
    left join hos_dept_dict hd on hr.dept_id=hd.dept_id and hr.group_id=hd.group_id and hr.hos_id=hd.hos_id and hd.is_stop = 0
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND hr.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hr.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND hr.occ_date = #{occ_date,jdbcType=DATE}
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND hr.plaint_date = #{plaint_date,jdbcType=DATE}
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND hr.in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND hr.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND hr.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="emp_nature != null and emp_nature != ''">
		AND hr.emp_nature = #{emp_nature,jdbcType=VARCHAR}
		</if>
		<if test="ratio != null and ratio != ''">
		AND hr.ratio = #{ratio,jdbcType=INTEGER}
		</if>
		<if test="damage != null and damage != ''">
		AND hr.damage = #{damage,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND hr.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by hr.group_id asc
	</select>
	<select id="queryByCode" resultMap="hrDealDetail"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		dept_id,
		emp_id,
		emp_nature,
		ratio,
		damage,
		note
		FROM hr_deal_detail 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		occ_date = #{occ_date,jdbcType=DATE}   and 
		plaint_date = #{plaint_date,jdbcType=DATE}   and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		emp_id = #{emp_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryByUniqueness" resultMap="hrDealDetail"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		dept_id,
		emp_id,
		emp_nature,
		ratio,
		damage,
		note
		FROM HR_DEAL_DETAIL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND occ_date = #{occ_date,jdbcType=DATE}
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="emp_nature != null and emp_nature != ''">
		AND emp_nature = #{emp_nature,jdbcType=VARCHAR}
		</if>
		<if test="ratio != null and ratio != ''">
		AND ratio = #{ratio,jdbcType=INTEGER}
		</if>
		<if test="damage != null and damage != ''">
		AND damage = #{damage,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="hrDealDetail"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		dept_id,
		emp_id,
		emp_nature,
		ratio,
		damage,
		note
		FROM HR_DEAL_DETAIL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND occ_date = #{occ_date,jdbcType=DATE}
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="emp_nature != null and emp_nature != ''">
		AND emp_nature = #{emp_nature,jdbcType=VARCHAR}
		</if>
		<if test="ratio != null and ratio != ''">
		AND ratio = #{ratio,jdbcType=INTEGER}
		</if>
		<if test="damage != null and damage != ''">
		AND damage = #{damage,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

