<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.medicalmanagement.HrPlaintMapper">
	
	<resultMap id="hrPlaint" type="com.chd.hrp.hr.entity.medicalmanagement.HrPlaint">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="patient" column="patient"/>
	<result property="sex_code" column="sex_code"/>
	<result property="sex_name" column="sex_name"/>
	<result property="age" column="age"/>
	<result property="plainter" column="plainter"/>
	<result property="plaint_tel" column="plaint_tel"/>
	<result property="patient_ref" column="patient_ref"/>
	<result property="content" column="content"/>
	<result property="is_commit" column="is_commit"/>
	<result property="commit_name" column="commit_name"/>
	</resultMap>
		
	<resultMap id="hrPlaintMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="patient" column="patient"/>
	<result property="sex_code" column="sex_code"/>
	<result property="sex_name" column="sex_name"/>
	<result property="age" column="age"/>
	<result property="plainter" column="plainter"/>
	<result property="plaint_tel" column="plaint_tel"/>
	<result property="patient_ref" column="patient_ref"/>
	<result property="content" column="content"/>
	<result property="is_commit" column="is_commit"/>
	<result property="commit_name" column="commit_name"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO HR_PLAINT (
		<trim suffix="" suffixOverrides=",">
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		patient,
		sex_code,
		age,
		plainter,
		plaint_tel,
		patient_ref,
		content,
		is_commit,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER},
		#{hos_id,jdbcType=INTEGER},
		#{occ_date,jdbcType=DATE},
		#{plaint_date,jdbcType=DATE},
		#{in_hos_no,jdbcType=VARCHAR},
		#{patient,jdbcType=VARCHAR},
		#{sex_code,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER},
		#{plainter,jdbcType=VARCHAR},
		#{plaint_tel,jdbcType=VARCHAR},
		#{patient_ref,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{is_commit,jdbcType=INTEGER}
		</trim>		
		)
	
	</insert>
	<insert id="addBatchPlaint" parameterType="java.util.List" >
	
		INSERT INTO HR_PLAINT (
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		patient,
		sex_code,
		age,
		plainter,
		plaint_tel,
		patient_ref,
		content,
		is_commit
		) (
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{map.group_id,jdbcType=INTEGER},
			#{map.hos_id,jdbcType=INTEGER},
			#{item.occ_date,jdbcType=DATE}, 
			#{item.plaint_date,jdbcType=DATE}, 
			#{item.in_hos_no,jdbcType=VARCHAR},
			#{item.patient,jdbcType=VARCHAR},
			#{item.sex_code,jdbcType=VARCHAR},
			#{item.age,jdbcType=INTEGER},
			#{item.plainter,jdbcType=VARCHAR},
			#{item.plaint_tel,jdbcType=VARCHAR},
			#{item.patient_ref,jdbcType=VARCHAR},
			#{item.content,jdbcType=VARCHAR},
			#{item.is_commit,jdbcType=INTEGER}
		    from dual
		</foreach>
		)
		</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_PLAINT (
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		patient,
		sex_code,
		age,
		plainter,
		plaint_tel,
		patient_ref,
		content,
		is_commit
		) (
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			 to_date(#{item.occ_date},'YYYY-MM-DD'),
			<!-- #{item.occ_date,jdbcType=DATE},  -->
				 to_date(#{item.plaint_date},'YYYY-MM-DD'),
			<!-- #{item.plaint_date,jdbcType=DATE},  -->
			#{item.in_hos_no,jdbcType=VARCHAR},
			#{item.patient,jdbcType=VARCHAR},
			#{item.sex_code,jdbcType=VARCHAR},
			#{item.age,jdbcType=INTEGER},
			#{item.plainter,jdbcType=VARCHAR},
			#{item.plaint_tel,jdbcType=VARCHAR},
			#{item.patient_ref,jdbcType=VARCHAR},
			#{item.content,jdbcType=VARCHAR},
			#{item.is_commit,jdbcType=INTEGER}
		    from dual
		</foreach>
		)
	</insert>
	
	
	<delete id="deletehrPlaint" parameterType="java.util.Map">
	
		DELETE FROM hr_plaint 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		<!-- AND occ_date = #{occ_date,jdbcType=DATE}
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR} -->
		</where>  
	</delete>
	<delete id="deletePlaint" parameterType="java.util.List">
		
			DELETE FROM HR_PLAINT 
			<where>
			
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			 	group_id = #{map.group_id,jdbcType=INTEGER}
				AND hos_id = #{map.hos_id,jdbcType=INTEGER}
					<if test="item.occ_date != null and item.occ_date != ''">
				AND occ_date = #{item.occ_date,jdbcType=DATE}
				</if>
					<if test="item.plaint_date != null and item.plaint_date != ''">
				AND plaint_date = #{item.plaint_date,jdbcType=DATE}
				</if>
					<if test="item.in_hos_no != null and item.in_hos_no != ''">
				AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
				</if>
		</foreach>
		</where>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrPlaint" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		patient,
		sex_code,
		case when sex_code = 1  then '男' when sex_code =2 then '女'  else '' end  sex_name,
		age,
		plainter,
		plaint_tel,
		patient_ref,
		content,
		is_commit,
		case when is_commit = 0  then '未提交' when is_commit =1 then '已提交'  else '' end  commit_name
		FROM HR_PLAINT 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND occ_date = to_date(#{occ_date}, 'YYYY-MM-DD')
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND plaint_date =to_date(#{plaint_date}, 'YYYY-MM-DD')
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND in_hos_no like '%${in_hos_no}%'
		</if>
		<if test="patient != null and patient != ''">
		AND patient like '%${patient}%'
		</if>
		<if test="sex_code != null and sex_code != ''">
		AND sex_code = #{sex_code,jdbcType=VARCHAR}
		</if>
		<if test="age != null and age != ''">
		AND age = #{age,jdbcType=INTEGER}
		</if>
		<if test="plainter != null and plainter != ''">
		AND plainter like '%${plainter}%'
		</if>
		<if test="plaint_tel != null and plaint_tel != ''">
		AND plaint_tel like '%${plaint_tel}%'
		</if>
		<if test="patient_ref != null and patient_ref != ''">
		AND patient_ref = #{patient_ref,jdbcType=VARCHAR}
		</if>
		<if test="content != null and content != ''">
		AND content like '%${content}%'
		</if>
		<if test="is_commit != null and is_commit != ''">
		AND is_commit = #{is_commit,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryByCode" resultMap="hrPlaint"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		patient,
		sex_code,
		age,
		plainter,
		plaint_tel,
		patient_ref,
		content,
		is_commit
		FROM hr_plaint 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		occ_date = to_date(#{occ_date},'YYYY-MM-DD')   and 
		plaint_date = to_date(#{plaint_date},'YYYY-MM-DD')   and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByCodePlaint" resultMap="hrPlaint"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		patient,
		sex_code,
		age,
		plainter,
		plaint_tel,
		patient_ref,
		content,
		is_commit
		FROM hr_plaint 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		occ_date = #{occ_date,jdbcType=DATE}   and 
		plaint_date = #{plaint_date,jdbcType=DATE}   and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
	
	</select>
	<!-- 修改提交状态（批量） -->
	<update id="updateIsCommit" parameterType="java.util.Map">
		UPDATE HR_PLAINT
		<trim prefix="SET" suffixOverrides=",">
			is_commit = #{is_commit,jdbcType=INTEGER}
		</trim>
		<where>
				group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND occ_date = #{occ_date,jdbcType=DATE}
			AND plaint_date = #{plaint_date,jdbcType=DATE}
			AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</where>
	</update>
	
	<!-- 修改提交状态（批量） -->
	<update id="updateIsCommitBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" open="begin" close=";end;" separator=";">
			UPDATE HR_PLAINT
			<trim prefix="SET" suffixOverrides=",">
				is_commit = #{item.is_commit,jdbcType=INTEGER}
			</trim>
			<where>
					group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND occ_date = #{item.occ_date,jdbcType=DATE}
				AND plaint_date = #{item.plaint_date,jdbcType=DATE}
				AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
			</where>
		</foreach>
	</update>
	
	<select id="queryPlaintByPrint" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
			group_id,
			hos_id,
			occ_date,
			plaint_date,
			in_hos_no,
			patient,
			sex_code,
			case when sex_code = 1  then '男' when sex_code =2 then '女'  else '' end  sex_name,
			age,
			plainter,
			plaint_tel,
			patient_ref,
			content,
			is_commit,
			case when is_commit = 0  then '未提交' when is_commit =1 then '已提交'  else '' end  commit_name
		FROM HR_PLAINT 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND occ_date = to_date(#{occ_date}, 'YYYY-MM-DD')
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND plaint_date =to_date(#{plaint_date}, 'YYYY-MM-DD')
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="patient != null and patient != ''">
		AND patient = #{patient,jdbcType=VARCHAR}
		</if>
		<if test="sex_code != null and sex_code != ''">
		AND sex_code = #{sex_code,jdbcType=VARCHAR}
		</if>
		<if test="age != null and age != ''">
		AND age = #{age,jdbcType=INTEGER}
		</if>
		<if test="plainter != null and plainter != ''">
		AND plainter = #{plainter,jdbcType=VARCHAR}
		</if>
		<if test="plaint_tel != null and plaint_tel != ''">
		AND plaint_tel = #{plaint_tel,jdbcType=VARCHAR}
		</if>
		<if test="patient_ref != null and patient_ref != ''">
		AND patient_ref = #{patient_ref,jdbcType=VARCHAR}
		</if>
		<if test="content != null and content != ''">
		AND content = #{content,jdbcType=VARCHAR}
		</if>
		<if test="is_commit != null and is_commit != ''">
		AND is_commit = #{is_commit,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
		</select>
	
	<!-- 通过提交状态查记录数 -->
	<select id="queryByIsCommit" resultType="java.lang.Integer">
		select count(*)
		from hr_plaint
		where group_id = #{map.group_id,jdbcType=INTEGER}
		  and hos_id = #{map.hos_id,jdbcType=INTEGER}
		  and is_commit = #{map.is_commt,jdbcType=INTEGER}
		  and (
		      <foreach collection="list" item="item" separator=" or ">
		          (
			          occ_date = to_date(#{item.occ_date},'YYYY-MM-DD') and
					  plaint_date = to_date(#{item.plaint_date},'YYYY-MM-DD') and 
					  in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR} 
		          )
		      </foreach>
		  )
	</select>
</mapper>

