<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.medicalmanagement.HrResearchMapper">
	
	<resultMap id="hrResearch" type="com.chd.hrp.hr.entity.medicalmanagement.HrResearch">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="prob_nature" column="prob_nature"/>
	<result property="prob_nature_name" column="prob_nature_name"/>
	<result property="prob_type" column="prob_type"/>
	<result property="prob_type_name" column="prob_type_name"/>
	<result property="case_discuss" column="case_discuss"/>
	<result property="case_no" column="case_no"/>
	<result property="join_doc" column="join_doc"/>
	<result property="opinion" column="opinion"/>
	<result property="prob_reason" column="prob_reason"/>
	<result property="is_commit" column="is_commit"/>
	<result property="commit_name" column="commit_name"/>
	<result property="plainter" column="plainter"/>
	<result property="patient" column="patient"/>
	<result property="plaint_tel" column="plaint_tel"/>
	<result property="patient_ref" column="patient_ref"/>
	<result property="content" column="content"/>
	</resultMap>
		
	<resultMap id="hrResearchMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="prob_nature" column="prob_nature"/>
	<result property="prob_nature_name" column="prob_nature_name"/>
	<result property="prob_type" column="prob_type"/>
	<result property="prob_type_name" column="prob_type_name"/>
	<result property="case_discuss" column="case_discuss"/>
	<result property="case_no" column="case_no"/>
	<result property="join_doc" column="join_doc"/>
	<result property="opinion" column="opinion"/>
	<result property="prob_reason" column="prob_reason"/>
	<result property="is_commit" column="is_commit"/>
	<result property="commit_name" column="commit_name"/>
	<result property="plainter" column="plainter"/>
	<result property="patient" column="patient"/>
	<result property="plaint_tel" column="plaint_tel"/>
	<result property="patient_ref" column="patient_ref"/>
	<result property="content" column="content"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="hrSelectMap">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
	
	<resultMap id="hrPlaint" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="patient" column="patient"/>
	<result property="sex_code" column="sex_code"/>
	<result property="sex_name" column="sex_name"/>
	<result property="age" column="age"/>
	<result property="plainter" column="plainter"/>
	<result property="plaint_tel" column="plaint_tel"/>
	<result property="patient_ref" column="patient_ref"/>
	<result property="content" column="content"/>
	<result property="is_commit" column="is_commit"/>
	<result property="commit_name" column="commit_name"/>
	</resultMap>
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO HR_RESEARCH (
		<trim suffix="" suffixOverrides=",">
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		prob_nature,
		prob_type,
		case_discuss,
		case_no,
		join_doc,
		opinion,
		prob_reason,
		is_commit,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER},
		#{hos_id,jdbcType=INTEGER},
		to_date(#{occ_date},'YYYY-MM-DD'),
		to_date(#{plaint_date},'YYYY-MM-DD'),
		#{in_hos_no,jdbcType=VARCHAR},
		#{prob_nature,jdbcType=VARCHAR},
		#{prob_type,jdbcType=VARCHAR},
		#{case_discuss,jdbcType=VARCHAR},
		#{case_no,jdbcType=VARCHAR},
		#{join_doc,jdbcType=VARCHAR},
		#{opinion,jdbcType=VARCHAR},
		#{prob_reason,jdbcType=VARCHAR},
		#{is_commit,jdbcType=INTEGER}
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_RESEARCH (
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		prob_nature,
		prob_type,
		case_discuss,
		case_no,
		join_doc,
		opinion,
		prob_reason,
		is_commit
		) select HR_RESEARCH_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.occ_date,jdbcType=DATE},
			#{item.plaint_date,jdbcType=DATE},
			#{item.in_hos_no,jdbcType=VARCHAR},
			#{item.prob_nature,jdbcType=VARCHAR},
			#{item.prob_type,jdbcType=VARCHAR},
			#{item.case_discuss,jdbcType=VARCHAR},
			#{item.case_no,jdbcType=VARCHAR},
			#{item.join_doc,jdbcType=VARCHAR},
			#{item.opinion,jdbcType=VARCHAR},
			#{item.prob_reason,jdbcType=VARCHAR},
			#{item.is_commit,jdbcType=INTEGER}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_research 
		<trim prefix="SET"  suffixOverrides=","> 
		prob_nature = #{prob_nature,jdbcType=VARCHAR},
		prob_type = #{prob_type,jdbcType=VARCHAR},
		case_discuss = #{case_discuss,jdbcType=VARCHAR},
		case_no = #{case_no,jdbcType=VARCHAR},
		join_doc = #{join_doc,jdbcType=VARCHAR},
		opinion = #{opinion,jdbcType=VARCHAR},
		prob_reason = #{prob_reason,jdbcType=VARCHAR},
		is_commit = #{is_commit,jdbcType=INTEGER},
		</trim>
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND occ_date =	to_date(#{occ_date},'YYYY-MM-DD')
		AND plaint_date = to_date(#{plaint_date},'YYYY-MM-DD')
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_research 
			<trim prefix="SET"  suffixOverrides=","> 
			prob_nature = #{item.prob_nature,jdbcType=VARCHAR},
			prob_type = #{item.prob_type,jdbcType=VARCHAR},
			case_discuss = #{item.case_discuss,jdbcType=VARCHAR},
			case_no = #{item.case_no,jdbcType=VARCHAR},
			join_doc = #{item.join_doc,jdbcType=VARCHAR},
			opinion = #{item.opinion,jdbcType=VARCHAR},
			prob_reason = #{item.prob_reason,jdbcType=VARCHAR},
			is_commit = #{item.is_commit,jdbcType=INTEGER},
			</trim>
			<where>                     
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND occ_date = #{item.occ_date,jdbcType=DATE}
			AND plaint_date = #{item.plaint_date,jdbcType=DATE}
			AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM hr_research 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND occ_date = #{occ_date,jdbcType=DATE}
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</where>  
	</delete>
	<delete id="deleteResearch" parameterType="java.util.List">
		DELETE FROM hr_research 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			     group_id = #{map.group_id,jdbcType=INTEGER}
				AND hos_id = #{map.hos_id,jdbcType=INTEGER}
				<if test="item.occ_date != null and item.occ_date != ''">
				AND occ_date = #{item.occ_date,jdbcType=DATE}
				</if>
				<if test="item.plaint_date != null and item.plaint_date != ''">
				AND plaint_date = #{item.plaint_date,jdbcType=DATE}
				</if>
				<if test="item.in_hos_no != null and item.in_hos_no != ''">
				AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrResearch" >
	
	select hr.group_id, hr.hos_id, hr.occ_date, hr.plaint_date, hr.in_hos_no
  , hr.prob_nature,hfd.field_col_name prob_nature_name, hr.prob_type,hfd1.field_col_name prob_type_name, hr.case_discuss, hr.case_no, hr.join_doc
  , hr.opinion, hr.prob_reason, hr.is_commit
  , case 
    when hr.is_commit = 0 then '未提交'
    when hr.is_commit = 1 then '已提交'
    else null
  end as commit_name, hp.patient, hp.PLAINTER, hp.plaint_tel, hp.content
  , hp.patient_ref
from HR_RESEARCH hr
  left join HR_PLAINT hp on hp.in_hos_no = hr.in_hos_no
and hp.group_id = hr.group_id
and hp.hos_id = hr.hos_id 
left join hr_fiied_data hfd on hr.group_id=hfd.group_id and hr.hos_id=hfd.hos_id
and hr.PROB_NATURE=hfd.field_col_code and hfd.field_tab_code='DIC_PROB_NATURE'
left join hr_fiied_data hfd1 on hr.group_id=hfd1.group_id and hr.hos_id=hfd1.hos_id
and hr.PROB_NATURE=hfd1.field_col_code and hfd1.field_tab_code='DIC_PROB_TYPE'
		<where>                     
	<if test="group_id != null and group_id != ''">
		AND hp.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hp.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND hp.occ_date = to_date(#{occ_date}, 'YYYY-MM-DD')
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND hp.plaint_date =to_date(#{plaint_date}, 'YYYY-MM-DD')
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND hp.in_hos_no like '%${in_hos_no}%'
		</if>
		<if test="patient != null and patient != ''">
		AND hp.patient like '%${patient}%'
		</if>
		<if test="sex_code != null and sex_code != ''">
		AND hp.sex_code = #{sex_code,jdbcType=VARCHAR}
		</if>
		<if test="age != null and age != ''">
		AND hp.age = #{age,jdbcType=INTEGER}
		</if>
		<if test="plainter != null and plainter != ''">
		AND hp.plainter like '%${plainter}%'
		</if>
		<if test="plaint_tel != null and plaint_tel != ''">
		AND hp.plaint_tel like '%${plaint_tel}%'
		</if>
		<if test="patient_ref != null and patient_ref != ''">
		AND hp.patient_ref = #{patient_ref,jdbcType=VARCHAR}
		</if>
		<if test="content != null and content != ''">
		AND hp.content like '%${content}%'
		</if>
		<if test="is_commit != null and is_commit != ''">
		AND hp.is_commit = #{is_commit,jdbcType=INTEGER}
		</if>
		</where>   
		order by hp.in_hos_no asc
	</select>
	<select id="queryByCodeResearch" resultMap="hrResearch"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		prob_nature,
		prob_type,
		case_discuss,
		case_no,
		join_doc,
		opinion,
		prob_reason,
		is_commit
		FROM hr_research 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		occ_date = to_date(#{occ_date},'yyyy-mm-dd') and 
		plaint_date = to_date(#{plaint_date},'yyyy-mm-dd')  and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
	
	</select>
		<select id="queryByCode" resultMap="hrResearch"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		prob_nature,
		prob_type,
		case_discuss,
		case_no,
		join_doc,
		opinion,
		prob_reason,
		is_commit
		FROM hr_research 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		occ_date = #{occ_date,jdbcType=DATE} and 
		plaint_date = #{plaint_date,jdbcType=DATE} and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByCodeAdd" resultMap="hrResearch"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		prob_nature,
		prob_type,
		case_discuss,
		case_no,
		join_doc,
		opinion,
		prob_reason,
		is_commit
		FROM hr_research 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		occ_date = to_date(#{occ_date},'YYYY-MM-DD')   and 
		plaint_date = to_date(#{plaint_date},'YYYY-MM-DD')   and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="hrResearch"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		prob_nature,
		prob_type,
		case_discuss,
		case_no,
		join_doc,
		opinion,
		prob_reason,
		is_commit
		FROM HR_RESEARCH 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND occ_date = #{occ_date,jdbcType=DATE}
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="prob_nature != null and prob_nature != ''">
		AND prob_nature = #{prob_nature,jdbcType=VARCHAR}
		</if>
		<if test="prob_type != null and prob_type != ''">
		AND prob_type = #{prob_type,jdbcType=VARCHAR}
		</if>
		<if test="case_discuss != null and case_discuss != ''">
		AND case_discuss = #{case_discuss,jdbcType=VARCHAR}
		</if>
		<if test="case_no != null and case_no != ''">
		AND case_no = #{case_no,jdbcType=VARCHAR}
		</if>
		<if test="join_doc != null and join_doc != ''">
		AND join_doc = #{join_doc,jdbcType=VARCHAR}
		</if>
		<if test="opinion != null and opinion != ''">
		AND opinion = #{opinion,jdbcType=VARCHAR}
		</if>
		<if test="prob_reason != null and prob_reason != ''">
		AND prob_reason = #{prob_reason,jdbcType=VARCHAR}
		</if>
		<if test="is_commit != null and is_commit != ''">
		AND is_commit = #{is_commit,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="hrResearch"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		prob_nature,
		prob_type,
		case_discuss,
		case_no,
		join_doc,
		opinion,
		prob_reason,
		is_commit
		FROM HR_RESEARCH 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND occ_date = #{occ_date,jdbcType=DATE}
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="prob_nature != null and prob_nature != ''">
		AND prob_nature = #{prob_nature,jdbcType=VARCHAR}
		</if>
		<if test="prob_type != null and prob_type != ''">
		AND prob_type = #{prob_type,jdbcType=VARCHAR}
		</if>
		<if test="case_discuss != null and case_discuss != ''">
		AND case_discuss = #{case_discuss,jdbcType=VARCHAR}
		</if>
		<if test="case_no != null and case_no != ''">
		AND case_no = #{case_no,jdbcType=VARCHAR}
		</if>
		<if test="join_doc != null and join_doc != ''">
		AND join_doc = #{join_doc,jdbcType=VARCHAR}
		</if>
		<if test="opinion != null and opinion != ''">
		AND opinion = #{opinion,jdbcType=VARCHAR}
		</if>
		<if test="prob_reason != null and prob_reason != ''">
		AND prob_reason = #{prob_reason,jdbcType=VARCHAR}
		</if>
		<if test="is_commit != null and is_commit != ''">
		AND is_commit = #{is_commit,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryinHosNo"  parameterType="java.util.Map"
		resultMap="hrSelectMap">
		select hp.in_hos_no as  id ,hp.in_hos_no ||' '||hp.patient as text  from HR_PLAINT  hp
         where hp.is_commit=1
         and hp.group_id = #{group_id,jdbcType=INTEGER}   and 
		hp.hos_id = #{hos_id,jdbcType=INTEGER}  
		</select>
		
		<select id="queryinHosNoDetail" resultMap="hrPlaint"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		to_char(occ_date,'yyyy-mm-dd') occ_date,
		to_char(plaint_date,'yyyy-mm-dd') plaint_date,
		in_hos_no,
		patient,
		sex_code,
		age,
		plainter,
		plaint_tel,
		patient_ref,
		content,
		is_commit
		FROM hr_plaint 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}    and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
	
	</select>
	
	<!-- 修改提交状态（单条） -->
	<update id="updateIsCommit" parameterType="java.util.Map">
		UPDATE HR_RESEARCH
		<trim prefix="SET" suffixOverrides=",">
			is_commit = #{is_commit,jdbcType=INTEGER}
		</trim>
		<where>
				group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND occ_date = #{occ_date,jdbcType=DATE}  
	        AND plaint_date = #{plaint_date,jdbcType=DATE}
	        AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
		</where>
	</update>
	<!-- 修改提交状态（批量） -->
	<update id="updateIsCommitBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" open="begin" close=";end;" separator=";">
			UPDATE HR_RESEARCH
			<trim prefix="SET" suffixOverrides=",">
				is_commit = #{item.is_commit,jdbcType=INTEGER}
			</trim>
			<where>
					group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND occ_date = #{item.occ_date,jdbcType=DATE}  
		        AND plaint_date = #{item.plaint_date,jdbcType=DATE}
		        AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR} 
			</where>
		</foreach>
	</update>
			
			<resultMap id="hrResearchDMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="prob_nature" column="prob_nature"/>
	<result property="prob_type" column="prob_type"/>
	<result property="nature_name" column="nature_name"/>
	<result property="prob_name" column="prob_name"/>
	<result property="case_discuss" column="case_discuss"/>
	<result property="case_name" column="case_name"/>
	<result property="case_no" column="case_no"/>
	<result property="join_doc" column="join_doc"/>
	<result property="opinion" column="opinion"/>
	<result property="prob_reason" column="prob_reason"/>
	<result property="is_commit" column="is_commit"/>
	<result property="commit_name" column="commit_name"/>
	<result property="plainter" column="plainter"/>
	<result property="patient" column="patient"/>
	<result property="plaint_tel" column="plaint_tel"/>
	<result property="content" column="content"/>
	</resultMap>
	
			<select id="queryByCodeResearchD"  resultMap="hrResearchDMap"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		prob_nature,
		case when prob_nature = 01  then '无责任' when prob_nature = 02  then '投诉 ' when prob_nature = 03  then '纠纷' when prob_nature = 04  then '初定纠纷'
		when prob_nature = 05  then '纠纷结案'   else '' end  nature_name,
		prob_type,
		case when prob_type = 01  then '技术问题' when prob_type = 02  then '沟通不足 ' when prob_type = 03  then '责任心不足' when prob_type = 04  then '服务态度不佳'
		when prob_type = 05  then '违反常规治疗'   when prob_type = 06  then '其他' else '' end  prob_name,
		case_discuss,
		case when case_discuss = 0  then '无' when case_discuss = 1  then '有 ' else '' end  case_name,
		case_no,
		join_doc,
		opinion,
		prob_reason,
		is_commit
		FROM hr_research 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		occ_date = to_date(#{occ_date},'YYYY-MM-DD')   and 
		plaint_date = to_date(#{plaint_date},'YYYY-MM-DD')   and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryResearchByPrint" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
    hr.group_id,
    hr.hos_id,
    hr.occ_date,
    hr.plaint_date,
    hr.in_hos_no,
    hr.prob_nature,
    hr.prob_type,
    hr.case_discuss,
    hr.case_no,
    hr.join_doc,
    hr.opinion,
    hr.prob_reason,
    hr.is_commit,
    case when hr.is_commit = 0  then '未提交' when hr.is_commit =1 then '已提交'  else '' end  commit_name,
    hp.patient,
    hp.PLAINTER,
    hp.plaint_tel,
    hp.content
    from HR_RESEARCH hr
    left join HR_PLAINT hp
    on hp.in_hos_no=hr.in_hos_no and hp.group_id=hr.group_id and hp.hos_id=hr.hos_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND hp.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hp.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND hp.occ_date =to_date(#{occ_date},'YYYY-MM-DD')
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND hp.plaint_date = to_date(#{plaint_date},'YYYY-MM-DD')
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND hp.in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="patient != null and patient != ''">
		AND hp.patient = #{patient,jdbcType=VARCHAR}
		</if>
		<if test="plainter != null and plainter != ''">
		AND hp.plainter = #{plainter,jdbcType=VARCHAR}
		</if>
		<if test="plaint_tel != null and plaint_tel != ''">
		AND hp.plaint_tel = #{plaint_tel,jdbcType=VARCHAR}
		</if>
		<if test="patient_ref != null and patient_ref != ''">
		AND hp.patient_ref = #{patient_ref,jdbcType=VARCHAR}
		</if>
		<if test="content != null and content != ''">
		AND hp.content = #{content,jdbcType=VARCHAR}
		</if>
		</where>   
		order by hp.group_id asc
	</select>
	
	<!-- 通过提交状态查记录数 -->
	<select id="queryByIsCommit" resultType="java.lang.Integer">
		select count(*)
		from HR_RESEARCH
		where group_id = #{map.group_id, jdbcType=INTEGER}
		  and hos_id = #{map.hos_id, jdbcType=INTEGER}
		  and is_commit = #{map.is_commit, jdbcType=INTEGER}
		  and (
			  <foreach collection="list" item="item" index="index" separator="or" >
			  	  (
			  	      occ_date = #{item.occ_date,jdbcType=DATE} and 
					  plaint_date = #{item.plaint_date,jdbcType=DATE} and 
					  in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR} 
			  	  )
		      </foreach>
		  )
	</select>
</mapper>

