<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.medicalmanagement.HrTechDocWorkMapper">
	
	<resultMap id="hrTechDocWork" type="com.chd.hrp.hr.entity.medicalmanagement.HrTechDocWork">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="emp_id" column="emp_id"/>
	<result property="emp_name" column="emp_name"/>
	<result property="year_month" column="year_month"/>
	<result property="rep_mz" column="rep_mz"/>
	<result property="rep_zy" column="rep_zy"/>
	<result property="rep_tj" column="rep_tj"/>
	<result property="rep_sum" column="rep_sum"/>
	<result property="aut_mz" column="aut_mz"/>
	<result property="aut_zy" column="aut_zy"/>
	<result property="aut_tj" column="aut_tj"/>
	<result property="aut_sum" column="aut_sum"/>
	<result property="tech_money" column="tech_money"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="hrTechDocWorkMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="emp_id" column="emp_id"/>
	<result property="emp_name" column="emp_name"/>
	<result property="year_month" column="year_month"/>
	<result property="rep_mz" column="rep_mz"/>
	<result property="rep_zy" column="rep_zy"/>
	<result property="rep_tj" column="rep_tj"/>
	<result property="rep_sum" column="rep_sum"/>
	<result property="aut_mz" column="aut_mz"/>
	<result property="aut_zy" column="aut_zy"/>
	<result property="aut_tj" column="aut_tj"/>
	<result property="aut_sum" column="aut_sum"/>
	<result property="tech_money" column="tech_money"/>
	<result property="note" column="note"/>
	</resultMap>
	
		<resultMap type="java.util.Map" id="hrEmpMap">
		<result property="emp_id" column="emp_id" />
		<result property="emp_name" column="emp_name" />
	</resultMap>
	
	
		<resultMap type="java.util.Map" id="hrDeptMap">
		<result property="dept_no" column="dept_no" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
	   </resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO HR_TECH_DOC_WORK (
		<trim suffix="" suffixOverrides=",">
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		rep_mz,
		rep_zy,
		rep_tj,
		rep_sum,
		aut_mz,
		aut_zy,
		aut_tj,
		aut_sum,
		tech_money,
		note,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER},
		#{hos_id,jdbcType=INTEGER},
		#{dept_id,jdbcType=INTEGER},
		#{emp_id,jdbcType=INTEGER},
		#{year_month,jdbcType=VARCHAR},
		#{rep_mz,jdbcType=INTEGER},
		#{rep_zy,jdbcType=INTEGER},
		#{rep_tj,jdbcType=INTEGER},
		#{rep_sum,jdbcType=INTEGER},
		#{aut_mz,jdbcType=INTEGER},
		#{aut_zy,jdbcType=INTEGER},
		#{aut_tj,jdbcType=INTEGER},
		#{aut_sum,jdbcType=INTEGER},
		#{tech_money,jdbcType=INTEGER},
		#{note,jdbcType=VARCHAR}
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_TECH_DOC_WORK (
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		rep_mz,
		rep_zy,
		rep_tj,
		rep_sum,
		aut_mz,
		aut_zy,
		aut_tj,
		aut_sum,
		tech_money,
		note
		) (
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.dept_id,jdbcType=INTEGER},
			#{item.emp_id,jdbcType=INTEGER},
			#{item.year_month,jdbcType=VARCHAR},
			#{item.rep_mz,jdbcType=INTEGER},
			#{item.rep_zy,jdbcType=INTEGER},
			#{item.rep_tj,jdbcType=INTEGER},
			#{item.rep_sum,jdbcType=INTEGER},
			#{item.aut_mz,jdbcType=INTEGER},
			#{item.aut_zy,jdbcType=INTEGER},
			#{item.aut_tj,jdbcType=INTEGER},
			#{item.aut_sum,jdbcType=INTEGER},
			#{item.tech_money,jdbcType=INTEGER},
			#{item.note,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)
	</insert>
	
	
	
	<delete id="deletehrTechDocWork" parameterType="java.util.Map">
	
		DELETE FROM hr_tech_doc_work 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
	<!-- 	AND dept_id = #{dept_id,jdbcType=INTEGER}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		AND year_month = #{year_month,jdbcType=VARCHAR} -->
		</where>  
	</delete>
	<delete id="deleteTechDocWorkload" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
			DELETE FROM hr_tech_doc_work 
			WHERE
			 	group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				AND emp_id = #{item.emp_id,jdbcType=INTEGER}
				AND year_month = #{item.year_month,jdbcType=VARCHAR}
		</foreach>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrTechDocWork" >
	
		SELECT 
		hc.group_id,
        hc.hos_id,
        hc.dept_id,
        hd.dept_name,
        hc.emp_id,
        hc.he.emp_name,
		hc.year_month,
		hc.rep_mz,
		hc.rep_zy,
		hc.rep_tj,
		hc.rep_sum,
		hc.aut_mz,
		hc.aut_zy,
		hc.aut_tj,
		hc.aut_sum,
		hc.tech_money,
		hc.note
		FROM HR_TECH_DOC_WORK  hc left join hos_emp he on hc.emp_id=he.emp_id
    and hc.group_id=he.group_id and hc.hos_id=he.hos_id 
    and he.is_stop=0
    left join hos_dept_dict hd on hc.dept_id=hd.dept_id 
    and  hc.group_id=hd.group_id and hc.hos_id=hd.hos_id 
    and hd.is_stop=0
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND hc.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hc.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND hc.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND hc.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year_month != null and year_month != ''">
		AND hc.year_month = #{year_month,jdbcType=VARCHAR}
		</if>
		<if test="rep_mz != null and rep_mz != ''">
		AND hc.rep_mz = #{rep_mz,jdbcType=INTEGER}
		</if>
		<if test="rep_zy != null and rep_zy != ''">
		AND hc.rep_zy = #{rep_zy,jdbcType=INTEGER}
		</if>
		<if test="rep_tj != null and rep_tj != ''">
		AND hc.rep_tj = #{rep_tj,jdbcType=INTEGER}
		</if>
		<if test="rep_sum != null and rep_sum != ''">
		AND hc.rep_sum = #{rep_sum,jdbcType=INTEGER}
		</if>
		<if test="aut_mz != null and aut_mz != ''">
		AND hc.aut_mz = #{aut_mz,jdbcType=INTEGER}
		</if>
		<if test="aut_zy != null and aut_zy != ''">
		AND hc.aut_zy = #{aut_zy,jdbcType=INTEGER}
		</if>
		<if test="aut_tj != null and aut_tj != ''">
		AND hc.aut_tj = #{aut_tj,jdbcType=INTEGER}
		</if>
		<if test="aut_sum != null and aut_sum != ''">
		AND hc.aut_sum = #{aut_sum,jdbcType=INTEGER}
		</if>
		<if test="tech_money != null and tech_money != ''">
		AND hc.tech_money = #{tech_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND hc.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by <!-- hc.group_id, hc.emp_id, -->hc.year_month asc
	</select>
	<select id="queryByCode" resultMap="hrTechDocWork"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		rep_mz,
		rep_zy,
		rep_tj,
		rep_sum,
		aut_mz,
		aut_zy,
		aut_tj,
		aut_sum,
		tech_money,
		note
		FROM hr_tech_doc_work 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		emp_id = #{emp_id,jdbcType=INTEGER}   and 
		year_month = #{year_month,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByCodeTechDocWork" resultMap="hrTechDocWork"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		rep_mz,
		rep_zy,
		rep_tj,
		rep_sum,
		aut_mz,
		aut_zy,
		aut_tj,
		aut_sum,
		tech_money,
		note
		FROM hr_tech_doc_work 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		emp_id = #{emp_id,jdbcType=INTEGER}   and 
		year_month = #{year_month,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="hrTechDocWork"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		rep_mz,
		rep_zy,
		rep_tj,
		rep_sum,
		aut_mz,
		aut_zy,
		aut_tj,
		aut_sum,
		tech_money,
		note
		FROM HR_TECH_DOC_WORK 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year_month != null and year_month != ''">
		AND year_month = #{year_month,jdbcType=VARCHAR}
		</if>
		<if test="rep_mz != null and rep_mz != ''">
		AND rep_mz = #{rep_mz,jdbcType=INTEGER}
		</if>
		<if test="rep_zy != null and rep_zy != ''">
		AND rep_zy = #{rep_zy,jdbcType=INTEGER}
		</if>
		<if test="rep_tj != null and rep_tj != ''">
		AND rep_tj = #{rep_tj,jdbcType=INTEGER}
		</if>
		<if test="rep_sum != null and rep_sum != ''">
		AND rep_sum = #{rep_sum,jdbcType=INTEGER}
		</if>
		<if test="aut_mz != null and aut_mz != ''">
		AND aut_mz = #{aut_mz,jdbcType=INTEGER}
		</if>
		<if test="aut_zy != null and aut_zy != ''">
		AND aut_zy = #{aut_zy,jdbcType=INTEGER}
		</if>
		<if test="aut_tj != null and aut_tj != ''">
		AND aut_tj = #{aut_tj,jdbcType=INTEGER}
		</if>
		<if test="aut_sum != null and aut_sum != ''">
		AND aut_sum = #{aut_sum,jdbcType=INTEGER}
		</if>
		<if test="tech_money != null and tech_money != ''">
		AND tech_money = #{tech_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="hrTechDocWork"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		dept_id,
		emp_id,
		year_month,
		rep_mz,
		rep_zy,
		rep_tj,
		rep_sum,
		aut_mz,
		aut_zy,
		aut_tj,
		aut_sum,
		tech_money,
		note
		FROM HR_TECH_DOC_WORK 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year_month != null and year_month != ''">
		AND year_month = #{year_month,jdbcType=VARCHAR}
		</if>
		<if test="rep_mz != null and rep_mz != ''">
		AND rep_mz = #{rep_mz,jdbcType=INTEGER}
		</if>
		<if test="rep_zy != null and rep_zy != ''">
		AND rep_zy = #{rep_zy,jdbcType=INTEGER}
		</if>
		<if test="rep_tj != null and rep_tj != ''">
		AND rep_tj = #{rep_tj,jdbcType=INTEGER}
		</if>
		<if test="rep_sum != null and rep_sum != ''">
		AND rep_sum = #{rep_sum,jdbcType=INTEGER}
		</if>
		<if test="aut_mz != null and aut_mz != ''">
		AND aut_mz = #{aut_mz,jdbcType=INTEGER}
		</if>
		<if test="aut_zy != null and aut_zy != ''">
		AND aut_zy = #{aut_zy,jdbcType=INTEGER}
		</if>
		<if test="aut_tj != null and aut_tj != ''">
		AND aut_tj = #{aut_tj,jdbcType=INTEGER}
		</if>
		<if test="aut_sum != null and aut_sum != ''">
		AND aut_sum = #{aut_sum,jdbcType=INTEGER}
		</if>
		<if test="tech_money != null and tech_money != ''">
		AND tech_money = #{tech_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryEmpByCode" resultMap="hrEmpMap"  parameterType="java.util.Map">
	
	select he.emp_id ,  he.emp_name 
		  from hos_emp he
		<where>
			<if test="group_id != null and group_id != ''">
				he.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and he.hos_id = #{hos_id}
			</if>
			<if test="dept_id != null and dept_id != ''">
				and he.dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				and he.dept_no = #{dept_no}
			</if>
				AND (he.emp_code = #{emp_id} OR he.emp_name = #{emp_name})
		</where>
		order by he.emp_id
	
	</select>
	<select id="queryDeptDictByCodeOrName"  resultMap="hrDeptMap"  parameterType="java.util.Map">
		SELECT
<!-- 		dept_no, -->
		group_id,
		hos_id,
		dept_id,
		dept_code,
		dept_name
		FROM hos_dept
		where
		is_stop = 0
		AND group_id = #{group_id}
		AND hos_id = #{hos_id}
		AND (dept_code = #{dept_code} OR dept_name = #{dept_name})
	
	
	
	</select>
</mapper>

