<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.base.budgcostfasset.BudgAssNatursMapper">
	
	<resultMap id="assNaturs" type="com.chd.hrp.ass.entity.dict.AssNaturs">
	<result property="naturs_code" column="naturs_code"/>
	<result property="naturs_name" column="naturs_name"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_NATURS (
			naturs_code
			,
			naturs_name
		
		) VALUES (
			#{naturs_code}		,
			#{naturs_name}		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_NATURS (
			naturs_code
			,
			naturs_name
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.naturs_code}			,
			#{item.naturs_name}			
			from dual 
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_naturs SET
		naturs_name = #{naturs_name}
		
		WHERE 
		naturs_code = #{naturs_code}
		
	
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE ass_naturs SET
			naturs_name = #{naturs_name}
			
			WHERE 
			naturs_code = #{item.naturs_code}
			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_naturs WHERE
		naturs_code = #{naturs_code} 
	
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_naturs WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				naturs_code = #{item.naturs_code}
				
			</foreach>
	
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assNaturs" >
	
		SELECT 
		naturs_code,
		naturs_name
		FROM ASS_NATURS 
		<where>                     
		<if test="naturs_code != null and naturs_code != ''">
		AND naturs_code = #{naturs_code}
		</if>
		<if test="naturs_name != null and naturs_name != ''">
		AND naturs_name like '%${naturs_name}%'
		</if>
		</where>   
		order by naturs_code asc
	</select>
	<select id="queryByCode" resultType="com.chd.hrp.ass.entity.dict.AssNaturs" parameterType="string" >
	
		SELECT 
		naturs_code,
		naturs_name
		FROM ass_naturs 
		WHERE 
		naturs_code = #{naturs_code} 
	
	</select>

</mapper>

