<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.acc.dao.vouch.AccDifferMapper">

	<resultMap id="resultMap"  type="java.util.Map">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="diff_item_code" column="diff_item_code"/>
        <result property="diff_item_name" column="diff_item_name"/>
        <result property="diff_type_code" column="diff_type_code"/>
        <result property="diff_dire" column="diff_dire"/>
        <result property="diff_obj" column="diff_obj"/>
        <result property="is_default" column="is_default"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="is_stop" column="is_stop"/>
	</resultMap>
	<resultMap type="java.util.Map" id="typeresult">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="diff_type_code" column="diff_type_code"/>
		<result property="diff_type_name" column="diff_type_name"/>
		<result property="diff_dire" column="diff_dire"/>
		<result property="diff_obj" column="diff_obj"/>
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
		<result property="is_stop" column="is_stop"/>
		<result property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>

    <insert id="addAccDifferItem" parameterType="java.util.Map" >
        INSERT INTO acc_diff_item 
        (GROUP_ID,
		   HOS_ID,
		   COPY_CODE,
		   DIFF_ITEM_CODE,
		   DIFF_ITEM_NAME,
		   DIFF_TYPE_CODE,
		   DIFF_DIRE,
		   DIFF_OBJ,
		   IS_DEFAULT,
		   SPELL_CODE,
		   WBX_CODE,
		   IS_STOP
        ) 
        values(
			#{group_id},
			#{hos_id},
			#{copy_code},
			#{diff_item_code},
			#{diff_item_name},
			#{diff_type_code},
			#{diff_dire},
			#{diff_obj},
			#{is_default},
			#{spell_code},
			#{wbx_code},
			#{is_stop}
		)
	</insert>
	
	<update id="updateAccDifferItem" parameterType="java.util.Map">
		UPDATE acc_diff_item SET
			diff_item_name = #{diff_item_name},
			diff_dire = #{diff_dire},
			diff_obj = #{diff_obj},
			is_default = #{is_default},
			spell_code = #{spell_code},
			wbx_code = #{wbx_code},
			is_stop = #{is_stop} 
        WHERE 
		 diff_item_code = #{diff_item_code}
		 and group_id = #{group_id}
		 and hos_id = #{hos_id}
		 and copy_code = #{copy_code}
	</update>
	
	<delete id="deleteAccDifferItem" parameterType="java.util.List">
        DELETE FROM acc_diff_item WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and diff_item_code = #{item.diff_item_code}
		</foreach>
    </delete>
		
	<select id="queryAccDifferItem" parameterType="java.util.Map" resultMap="resultMap">
		select 
		GROUP_ID,
		   HOS_ID,
		   COPY_CODE,
		   DIFF_ITEM_CODE,
		   DIFF_ITEM_NAME,
		   DIFF_TYPE_CODE,
		   DIFF_DIRE,
		   DIFF_OBJ,
		   IS_DEFAULT,
		   SPELL_CODE,
		   WBX_CODE,
		   IS_STOP
		from acc_diff_item 
		<where>
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			<if test="diff_type_code !=null and diff_type_code != ''">
				and DIFF_TYPE_CODE = #{diff_type_code}
			</if>
			<if test="diff_item_code !=null and diff_item_code != ''">
				and DIFF_ITEM_CODE = #{diff_item_code}
			</if>
			<if test="is_stop !=null and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
		</where>
		order by diff_item_code
	</select>	
	
	<select id="queryAccDifferItemByCode" parameterType="java.util.Map" resultMap="resultMap">
		select 
		GROUP_ID,
		   HOS_ID,
		   COPY_CODE,
		   DIFF_ITEM_CODE,
		   DIFF_ITEM_NAME,
		   DIFF_TYPE_CODE,
		   DIFF_DIRE,
		   DIFF_OBJ,
		   IS_DEFAULT,
		   SPELL_CODE,
		   WBX_CODE,
		   IS_STOP
		from acc_diff_item 
		<where>
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and DIFF_ITEM_CODE = #{diff_item_code}
			<if test="diff_type_code !=null and diff_type_code != ''">
				and DIFF_TYPE_CODE = #{diff_type_code}
			</if>
			<if test="is_stop !=null and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="is_default !=null and is_default != ''">
				and is_default = #{is_default}
			</if>
		</where>
	</select>	
	
	<select id="queryAccDifferType" parameterType="java.util.Map" resultMap="typeresult">
		select GROUP_ID,
		  HOS_ID,
		  COPY_CODE,
		  DIFF_TYPE_CODE as "id",
		  DIFF_TYPE_NAME as "name",
		  DIFF_DIRE,
		  DIFF_OBJ,
		  SPELL_CODE,
		  WBX_CODE,
		  IS_STOP
		from acc_diff_type
		where
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			<if test="is_stop !=null and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
	</select>
	
	<select id="queryAccDifferTypeByCode" parameterType="java.util.Map" resultMap="typeresult">
		select GROUP_ID,
		 HOS_ID,
		 COPY_CODE,
		 DIFF_TYPE_CODE,
		 DIFF_TYPE_NAME,
		 DIFF_DIRE,
		 DIFF_OBJ,
		 SPELL_CODE,
		 WBX_CODE,
		 IS_STOP
		from acc_diff_type
		where
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and diff_type_code = #{diff_type_code}
	</select>
	
	<insert id="addAccDifferType" parameterType="java.util.Map">
		insert into ACC_DIFF_TYPE
		(GROUP_ID,
		 HOS_ID,
		 COPY_CODE,
		 DIFF_TYPE_CODE,
		 DIFF_TYPE_NAME,
		 DIFF_DIRE,
		 DIFF_OBJ,
		 SPELL_CODE,
		 WBX_CODE,
		 IS_STOP) 
		 VALUES(
		 	#{group_id},
		 	#{hos_id},
		 	#{copy_code},
		 	#{diff_type_code},
		 	#{diff_type_name},
		 	#{diff_dire},
		 	#{diff_obj},
		 	#{spell_code},
		 	#{wbx_code},
		 	#{is_stop}
		 )
	</insert>
	
	<delete id="deleteAccDifferType" parameterType="java.util.Map">
		delete from acc_diff_type 
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and diff_type_code = #{diff_type_code}
	</delete>
	
	<update id="updateAccDifferType" parameterType="java.util.Map">
		update acc_diff_type set
		diff_type_name = #{diff_type_name},
		diff_dire = #{diff_dire},
		diff_obj = #{diff_obj},
		spell_code = #{spell_code},
		wbx_code = #{wbx_code},
		is_stop = #{is_stop}
		where 
		group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and diff_type_code = #{diff_type_code}
	</update>
	
	<select id="queryDifferItemTree" parameterType="java.util.Map" resultType="java.util.Map">
		select 'top' as "id",'全部' as "name" ,'-' as "pid" from dual
		union all
		select diff_type_code as "id",diff_type_name as "name" , 'top' as "pid" from ACC_DIFF_TYPE
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and is_stop = 0
		union all
		select diff_item_code as "id",diff_item_name as "name" ,DIFF_TYPE_CODE as "pid" from ACC_DIFF_ITEM
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and is_stop = 0
	</select>
</mapper>

