<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.business.med.BudgMedCostExecuteMapper">
	
	<resultMap id="budgMedCostExecute" type="com.chd.hrp.budg.entity.BudgMedCostExecute">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="year" column="year"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="month" column="month"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	<result property="amount" column="amount"/>
	<result property="remark" column="remark"/>
	</resultMap>
		
	<resultMap id="budgMedCostExecuteMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="year" column="year"/>
	<result property="dept_id" column="dept_id"/>
	<result property="month" column="month"/>
	<result property="subj_code" column="subj_code"/>
	<result property="amount" column="amount"/>
	<result property="remark" column="remark"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_MED_COST_EXECUTE (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="year != null and year != ''">
		year
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		dept_id
		,
		</if>
		<if test="month != null and month != ''">
		month
		,
		</if>
		<if test="subj_code != null and subj_code != ''">
		subj_code
		,
		</if>
		<if test="amount != null and amount != ''">
		amount
		,
		</if>
		<if test="remark != null and remark != ''">
		remark
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="year != null and year != ''">
		#{year,jdbcType=VARCHAR}
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		#{dept_id,jdbcType=INTEGER}
		,
		</if>
		<if test="month != null and month != ''">
		#{month,jdbcType=VARCHAR}
		,
		</if>
		<if test="subj_code != null and subj_code != ''">
		#{subj_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="amount != null and amount != ''">
		#{amount,jdbcType=INTEGER}
		,
		</if>
		<if test="remark != null and remark != ''">
		#{remark,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_MED_COST_EXECUTE (
		group_id
		,
		hos_id
		,
		copy_code
		,
		year
		,
		dept_id
		,
		month
		,
		subj_code
		,
		amount
		,
		remark
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.year,jdbcType=VARCHAR}
			,
			#{item.dept_id,jdbcType=INTEGER}
			,
			#{item.month,jdbcType=VARCHAR}
			,
			#{item.subj_code,jdbcType=VARCHAR}
			,
			#{item.amount,jdbcType=INTEGER}
			,
			#{item.remark,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_med_cost_execute 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="amount != null and amount != ''">
		amount = #{amount,jdbcType=INTEGER}
		,
		</if>
		<if test="remark != null and remark != ''">
		remark = #{remark,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_med_cost_execute 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.amount != null and item.amount != ''">
			amount = #{item.amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.remark != null and item.remark != ''">
			remark = #{item.remark,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.year != null and item.year != ''">
			AND year = #{item.year,jdbcType=VARCHAR}
			</if>  
			<if test="item.dept_id != null and item.dept_id != ''">
			AND dept_id = #{item.dept_id,jdbcType=INTEGER}
			</if>  
			<if test="item.month != null and item.month != ''">
			AND month = #{item.month,jdbcType=VARCHAR}
			</if>  
			<if test="item.subj_code != null and item.subj_code != ''">
			AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_med_cost_execute 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_med_cost_execute 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				    group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.year != null and item.year != ''">
				AND year = #{item.year,jdbcType=VARCHAR}
				</if>
				<if test="item.dept_id != null and item.dept_id != ''">
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.month != null and item.month != ''">
				AND month = #{item.month,jdbcType=VARCHAR}
				</if>
				<if test="item.subj_code != null and item.subj_code != ''">
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgMedCostExecute" >
	
		SELECT 
			bmce.group_id,
			bmce.hos_id,
			bmce.copy_code,
			bmce.year,
			bmce.dept_id,
			hdd.dept_code,
			hdd.dept_name,
			bmce.month,
			bmce.subj_code,
			asj.subj_name,
			bmce.amount,
			bmce.remark
		FROM BUDG_MED_COST_EXECUTE bmce
		left join hos_dept_dict hdd 
			on 
				bmce.group_id = hdd.group_id 
				and bmce.hos_id = hdd.hos_id 
				and bmce.dept_id = hdd.dept_id
		left join budg_cost_subj asj 
			on 
				bmce.group_id = asj.group_id 
				and bmce.hos_id = asj.hos_id 
				and bmce.copy_code = asj.copy_code 
				and bmce.year = asj.budg_year 
				and bmce.subj_code = asj.subj_code
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND bmce.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND bmce.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND bmce.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND bmce.year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND bmce.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND bmce.month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND bmce.subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="subj_level != null and subj_level != ''">
		AND asj.subj_level = #{subj_level,jdbcType=INTEGER}
		</if>
		<if test="amount != null and amount != ''">
		AND bmce.amount = #{amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND bmce.remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by bmce.group_id asc
	</select>
	<select id="queryByCode" resultMap="budgMedCostExecute"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		month,
		subj_code,
		amount,
		remark
		FROM budg_med_cost_execute 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		year = #{year,jdbcType=VARCHAR}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		month = #{month,jdbcType=VARCHAR}   and 
		subj_code = #{subj_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgMedCostExecute"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		month,
		subj_code,
		amount,
		remark
		FROM BUDG_MED_COST_EXECUTE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="amount != null and amount != ''">
		AND amount = #{amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgMedCostExecute"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		month,
		subj_code,
		amount,
		remark
		FROM BUDG_MED_COST_EXECUTE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="amount != null and amount != ''">
		AND amount = #{amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<!-- 医疗支出执行数据  采集时 （财务取数）  删除 采集年月 数据 -->
	<delete id="deleteMonthData" parameterType="java.util.Map">
	
		DELETE FROM budg_med_cost_execute 
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND year = #{year,jdbcType=VARCHAR}
			AND month = #{month,jdbcType=VARCHAR}
	</delete>
	
	<!-- 采集  所选年度月份 执行数据 -->
	<insert id="collectData">
			<!-- 插入收入数据 -->
			INSERT INTO budg_med_cost_execute (
				group_id , hos_id , copy_code , year , dept_id , month , subj_code , amount
			) 
			with temp as (
				select a.group_id , a.hos_id , a.copy_code , a.acc_year , a.check1_id dept_id , a.acc_month , b.subj_code ,
						nvl(sum(a.this_od),0) amount
				from acc_leder_check  a
				left  join  acc_subj b
					on
						a.group_id = b.group_id 
						and a.hos_id = b.hos_id
						and a.copy_code = b.copy_code
						and a.acc_year = b.acc_year
						and a.subj_id = b.subj_id
				where 
					a.group_id = #{group_id,jdbcType=INTEGER}
					AND a.hos_id = #{hos_id,jdbcType=INTEGER}
					AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
					AND a.acc_year = #{year,jdbcType=VARCHAR}
					AND a.acc_month = #{month,jdbcType=VARCHAR}
					AND a.subj_id in (
						select subj_id from  acc_subj where acc_year = #{year,jdbcType=VARCHAR}
							and ( subj_code like '5001%' or subj_code like '5301%')
					)
					AND a.check1_id is not null
				group by a.group_id , a.hos_id , a.copy_code , a.acc_year , a.check1_id , a.acc_month , b.subj_code 
			) 
			
			select a.group_id , a.hos_id , a.copy_code , a.acc_year year , a.dept_id , a.acc_month  month , b.subj_code ,
						nvl(sum(a.amount),0) amount
			from temp a 
			left  join budg_acc_subj_ship b
				on
					a.group_id = b.group_id 
					and a.hos_id = b.hos_id
					and a.copy_code = b.copy_code
					and a.acc_year = b.budg_year
					and a.subj_code = b.acc_subj_code2
					and b.subj_type = '05'
			where 
				a.group_id = #{group_id,jdbcType=INTEGER}
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
				AND a.acc_year = #{year,jdbcType=VARCHAR}
				AND a.acc_month = #{month,jdbcType=VARCHAR}
			group by a.group_id , a.hos_id , a.copy_code , a.acc_year , a.acc_month ,a.dept_id ,  b.subj_code 
			order by a.group_id , a.hos_id , a.copy_code , a.acc_year , a.acc_month ,a.dept_id ,  b.subj_code 
	</insert>
	
</mapper>

