<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.salarymanagement.accumulationfund.HrFundBaseCalMapper">

	<resultMap type="java.util.Map" id="hrFundBaseCalMap">
		<result property="cal_id" column="cal_id"/>
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="kind_code" column="kind_code"/>
		<result property="kind_name" column="kind_name"/>
		<result property="cal_name" column="cal_name"/>
		<result property="cal_eng" column="cal_eng"/>
		<result property="pay_base" column="pay_base"/>
		<result property="note" column="note"/>
	</resultMap>
	<resultMap type="com.chd.hrp.hr.entity.salarymanagement.accumulationfund.HrFundBaseCal" id="hrFundBaseCal">
		<result property="cal_id" column="cal_id"/>
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="kind_code" column="kind_code"/>
		<result property="kind_name" column="kind_name"/>
		<result property="cal_name" column="cal_name"/>
		<result property="cal_eng" column="cal_eng"/>
		<result property="note" column="note"/>
	</resultMap>
	
	<!-- 添加（保存） -->
	<insert id="add" parameterType="java.util.Map">
		insert into hr_fund_base_cal (
			cal_id, group_id, hos_id, kind_code, cal_name, cal_eng, note
		) values (
			hr_fund_base_cal_cal_id_seq.nextval,
			#{group_id, jdbcType=INTEGER},
			#{hos_id, jdbcType=INTEGER},
			#{kind_code, jdbcType=VARCHAR},
			#{cal_name, jdbcType=VARCHAR},
			#{cal_eng, jdbcType=VARCHAR},
			#{note, jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		update hr_fund_base_cal
		set kind_code = #{kind_code, jdbcType=VARCHAR},
			cal_name = #{cal_name, jdbcType=VARCHAR},
			cal_eng = #{cal_eng, jdbcType=VARCHAR},
			note = #{note, jdbcType=VARCHAR}
		where cal_id = #{cal_id, jdbcType=INTEGER}
	</update>
	
	<!-- 删除（批量）by 主键 -->
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from hr_fund_base_cal
		where 
		<foreach collection="list" item="item" separator=" or ">
			cal_id = #{item.cal_id, jdbcType=INTEGER}
		</foreach>
	</delete>

	<!-- 主查询 -->
	<select id="query" resultMap="hrFundBaseCalMap" parameterType="java.util.Map">
		select t1.cal_id,
			t1.group_id,
			t1.hos_id,
			t1.kind_code,
			case
				when t1.kind_code is null then '全部'
			else t2.kind_name end as kind_name,
			t1.cal_name,
			t1.note,
			'编辑' as pay_base
		from hr_fund_base_cal t1
		left join hos_emp_kind t2
			   on t2.group_id = t1.group_id
			  and t2.hos_id = t1.hos_id
			  and t2.kind_code = t1.kind_code
		where t1.group_id = #{group_id, jdbcType=INTEGER}
		  and t1.hos_id = #{hos_id, jdbcType=INTEGER}
		  <if test="kind_code != null and kind_code != ''">
		      and t1.kind_code = #{kind_code, jdbcType=VARCHAR}
		  </if>
	</select>
	
	<select id="queryExists" resultMap="hrFundBaseCal" parameterType="java.util.Map">
		select t1.cal_id,
			t1.group_id,
			t1.hos_id,
			t1.kind_code,
			case
				when t1.kind_code is null then '全部'
			else t2.kind_name end as kind_name,
			t1.cal_name,
			t1.note
		from hr_fund_base_cal t1
		left join hos_emp_kind t2
			   on t2.group_id = t1.group_id
			  and t2.hos_id = t1.hos_id
			  and t2.kind_code = t1.kind_code
		where t1.group_id = #{group_id, jdbcType=INTEGER}
		  and t1.hos_id = #{hos_id, jdbcType=INTEGER}
		  and t1.kind_code = #{kind_code, jdbcType=VARCHAR}
		  and t1.cal_id != #{cal_id, jdbcType=INTEGER}
	</select>
</mapper>