<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.business.HtcSrouceTestMapper">
	<resultMap id="htcSrouceTestMap" type="com.chd.hrp.htc.entity.task.business.HtcSrouceTest">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="acc_year" column="acc_year"/>
        <result property="copy_code" column="copy_code"/>
        <result property="plan_code" column="plan_code"/>
        <result property="plan_name" column="plan_name"/>
        <result property="proj_dept_id" column="proj_dept_id"/>
        <result property="proj_dept_code" column="proj_dept_code"/>
        <result property="proj_dept_name" column="proj_dept_name"/>
        <result property="cost_item_id" column="cost_item_id"/>
        <result property="cost_item_code" column="cost_item_code"/>
        <result property="cost_item_name" column="cost_item_name"/>
        <result property="total_cost" column="total_cost"/>
        <result property="charge_direct_cost" column="charge_direct_cost"/>
        <result property="mate_charge_cost" column="mate_charge_cost"/>
        <result property="work_cost" column="work_cost"/>
        <result property="source_id" column="source_id"/>
        <result property="source_code" column="source_code"/>
        <result property="source_name" column="source_name"/>
	</resultMap>
	
	<select id="queryHtcSrouceTest" parameterType="java.util.Map" resultMap="htcSrouceTestMap" >
      
            select hst.group_id,
			       hst.hos_id,
				   hst.copy_code,
			       hst.acc_year,
			       hst.plan_code,
				   hps.plan_name,
			       hst.proj_dept_id,
				   hpd.proj_dept_code,
				   hpd.proj_dept_name,
			       sum(hst.total_cost) total_cost,
			       sum(hst.charge_direct_cost) charge_direct_cost,
			       sum(hst.mate_charge_cost) mate_charge_cost,
			       sum(hst.work_cost) work_cost
			  from htc_srouce_test hst
				left join htc_plan_set hps
				on hst.group_id = hps.group_id
				and hst.hos_id = hps.hos_id
				and hst.copy_code = hps.copy_code
				and hst.acc_year = hps.acc_year
				and hst.plan_code = hps.plan_code
				left join htc_proj_dept hpd
				on hpd.group_id = hst.group_id
				and hpd.hos_id = hst.hos_id
				and hpd.copy_code = hst.copy_code
				and hpd.proj_dept_id = hst.proj_dept_id
				left join cost_item_dict hid
				on hid.group_id = hst.group_id
				and hid.hos_id = hst.hos_id
				and hid.copy_code  = hst.copy_code
				and hid.cost_item_id = hst.cost_item_id
				left join hos_source hs
				on hs.group_id = hst.group_id
				and hs.hos_id = hst.hos_id
				and hs.source_id = hst.source_id
				<where> hst.group_id = #{group_id}
			       and  hst.hos_id = #{hos_id}
				   and  hst.copy_code = #{copy_code}
				   and  hst.acc_year = #{acc_year}
				 <if test="plan_code != null and plan_code != ''">
	                and hst.plan_code = #{plan_code}
	             </if>
				</where>
				group by   hst.group_id,
					       hst.hos_id,
						   hst.copy_code,
					       hst.acc_year,
					       hst.plan_code,
						   hps.plan_name,
					       hst.proj_dept_id,
						   hpd.proj_dept_code,
						   hpd.proj_dept_name
				 order by  hst.group_id,
					       hst.hos_id,
						   hst.copy_code,
					       hst.acc_year,
					       hst.plan_code,
						   hpd.proj_dept_code
			           
    </select>
	
	<select id="checkHtcSrouceTest" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map"> 
		   <![CDATA[ {call htc_srouce_test_proc(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year,jdbcType=VARCHAR, mode=IN},
	        #{plan_code,jdbcType=VARCHAR, mode=IN},
	        #{err_txt,jdbcType=VARCHAR,mode=OUT}
           )} 
		 ]]>
	</select>
	
	
	<select id="queryHtcSrouceTestCostItem" parameterType="java.util.Map" resultMap="htcSrouceTestMap" >
      
            		    select   hst.group_id,
								 hst.hos_id,
							     hst.copy_code,
								 hst.acc_year,
								 hst.plan_code,
							     hps.plan_name,
								 hst.proj_dept_id,
							     hpd.proj_dept_code,
							     hpd.proj_dept_name,
								 hst.cost_item_id,
								 hid.cost_item_code,
								 hid.cost_item_name,
								 sum(hst.total_cost) total_cost,
								 sum(hst.charge_direct_cost) charge_direct_cost,
								 sum(hst.mate_charge_cost) mate_charge_cost,
								 sum(hst.work_cost) work_cost
						from htc_srouce_test hst
						left join htc_plan_set hps
						on hst.group_id = hps.group_id
						and hst.hos_id = hps.hos_id
						and hst.copy_code = hps.copy_code
						and hst.acc_year = hps.acc_year
						and hst.plan_code = hps.plan_code
						left join htc_proj_dept hpd
						on hpd.group_id = hst.group_id
						and hpd.hos_id = hst.hos_id
						and hpd.copy_code = hst.copy_code
						and hpd.proj_dept_id = hst.proj_dept_id
						left join cost_item_dict hid
						on hid.group_id = hst.group_id
						and hid.hos_id = hst.hos_id
						and hid.copy_code  = hst.copy_code
						and hid.cost_item_id = hst.cost_item_id
						left join hos_source hs
						on hs.group_id = hst.group_id
						and hs.hos_id = hst.hos_id
						and hs.source_id = hst.source_id
						where hst.group_id = #{group_id}
						and hst.hos_id = #{hos_id}
						and hst.copy_code = #{copy_code}
						and hst.acc_year = #{acc_year}
						and hst.plan_code = #{plan_code}
						and hst.proj_dept_id = #{proj_dept_id}
						group by   hst.group_id,
					               hst.hos_id,
						           hst.copy_code,
					               hst.acc_year,
					               hst.plan_code,
						           hps.plan_name,
					               hst.proj_dept_id,
						           hpd.proj_dept_code,
						           hpd.proj_dept_name,
								   hst.cost_item_id,
								   hid.cost_item_code,
								   hid.cost_item_name
						 order by  hst.group_id,
									 hst.hos_id,
								     hst.copy_code,
									 hst.acc_year,
									 hst.plan_code,
								     hps.plan_name,
								     hpd.proj_dept_code,
									 hid.cost_item_code
    </select>
    
	<select id="queryHtcSrouceTestCostItemSource" parameterType="java.util.Map" resultMap="htcSrouceTestMap" >
              		     select  hst.group_id,
								 hst.hos_id,
							     hst.copy_code,
								 hst.acc_year,
								 hst.plan_code,
							     hps.plan_name,
								 hst.proj_dept_id,
							     hpd.proj_dept_code,
							     hpd.proj_dept_name,
								 hst.cost_item_id,
								 hid.cost_item_code,
								 hid.cost_item_name,
								 sum(hst.total_cost) total_cost,
								 sum(hst.charge_direct_cost) charge_direct_cost,
								 sum(hst.mate_charge_cost) mate_charge_cost,
								 sum(hst.work_cost) work_cost,
								 hst.source_id,
								 hs.source_code,
								 hs.source_name
						from htc_srouce_test hst
						left join htc_plan_set hps
						on hst.group_id = hps.group_id
						and hst.hos_id = hps.hos_id
						and hst.copy_code = hps.copy_code
						and hst.acc_year = hps.acc_year
						and hst.plan_code = hps.plan_code
						left join htc_proj_dept hpd
						on hpd.group_id = hst.group_id
						and hpd.hos_id = hst.hos_id
						and hpd.copy_code = hst.copy_code
						and hpd.proj_dept_id = hst.proj_dept_id
						left join cost_item_dict hid
						on hid.group_id = hst.group_id
						and hid.hos_id = hst.hos_id
						and hid.copy_code  = hst.copy_code
						and hid.cost_item_id = hst.cost_item_id
						left join hos_source hs
						on hs.group_id = hst.group_id
						and hs.hos_id = hst.hos_id
						and hs.source_id = hst.source_id
						where hst.group_id = #{group_id}
						and hst.hos_id = #{hos_id}
						and hst.copy_code = #{copy_code}
						and hst.acc_year = #{acc_year}
						and hst.plan_code = #{plan_code}
						and hst.proj_dept_id = #{proj_dept_id}
						and hst.cost_item_id = #{cost_item_id}
						group by   hst.group_id,
					               hst.hos_id,
						           hst.copy_code,
					               hst.acc_year,
					               hst.plan_code,
						           hps.plan_name,
					               hst.proj_dept_id,
						           hpd.proj_dept_code,
						           hpd.proj_dept_name,
								   hst.cost_item_id,
								   hid.cost_item_code,
								   hid.cost_item_name,
								   hst.source_id,
								   hs.source_code,
								   hs.source_name
					    order by    hst.group_id,
									 hst.hos_id,
								     hst.copy_code,
									 hst.acc_year,
									 hst.plan_code,
								     hpd.proj_dept_code,
									 hid.cost_item_code,
									 hs.source_code
    </select>
</mapper>

