<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.project.adjust.BudgProjAdjMapper">
	
	<resultMap id="budgProjAdj" type="com.chd.hrp.budg.entity.BudgProjAdj">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="adj_code" column="adj_code"/>
	<result property="proj_id" column="proj_id"/>
	<result property="proj_no" column="proj_no"/>
	<result property="remark" column="remark"/>
	<result property="file_url" column="file_url"/>
	<result property="maker" column="maker"/>
	<result property="make_date" column="make_date"/>
	<result property="checker" column="checker"/>
	<result property="check_date" column="check_date"/>
	<result property="state" column="state"/>
	</resultMap>
		
	<resultMap id="budgProjAdjMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="adj_code" column="adj_code"/>
	<result property="proj_id" column="proj_id"/>
	<result property="proj_no" column="proj_no"/>
	<result property="remark" column="remark"/>
	<result property="file_url" column="file_url"/>
	<result property="maker" column="maker"/>
	<result property="make_date" column="make_date"/>
	<result property="checker" column="checker"/>
	<result property="check_date" column="check_date"/>
	<result property="state" column="state"/>
	
	<result property="source_id" column="source_id"/>
	<result property="source_code" column="source_code"/>
	<result property="source_name" column="source_name"/>
	<result property="payment_item_id" column="payment_item_id"/>
	<result property="payment_item_no" column="payment_item_no"/>
	<result property="payment_item_code" column="payment_item_code"/>
	<result property="payment_item_name" column="payment_item_name"/>
	<result property="adj_amount" column="adj_amount"/>
	<result property="bef_remain_amount" column="bef_remain_amount"/>
	<result property="aft_remain_amount" column="aft_remain_amount"/>
	
	<result property="adj_amount" column="adj_amount"/>
	<result property="con_emp_name" column="con_emp_name"/>
	<result property="che_emp_name" column="che_emp_name"/>
	<result property="emp_name" column="emp_name"/>
	<result property="proj_name" column="proj_name"/>
	<result property="source_name" column="source_name"/>
	<result property="state_name" column="state_name"/>
	</resultMap>
	
	<resultMap id="budgProjAdjDetailMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="adj_code" column="adj_code"/>
	<result property="proj_id" column="proj_id"/>
	<result property="source_id" column="source_id"/>
	<result property="payment_item_id" column="payment_item_id"/>
	<result property="payment_item_no" column="payment_item_no"/>
	<result property="adj_amount" column="adj_amount"/>
	<result property="text" column="text"/>
	
	<result property="source_code" column="source_code"/>
	<result property="source_name" column="source_name"/>
	<result property="payment_item_code" column="payment_item_code"/>
	<result property="payment_item_name" column="payment_item_name"/>
	<result property="bef_remain_amount" column="bef_remain_amount"/>
	<result property="aft_remain_amount" column="aft_remain_amount"/>
	</resultMap>
	
	<resultMap id="budgProjDetailYearMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="proj_id" column="proj_id"/>
	<result property="source_id" column="source_id"/>
	<result property="payment_item_id" column="payment_item_id"/>
	<result property="b_budg_amount" column="b_budg_amount"/>
	<result property="b_cost_amount" column="b_cost_amount"/>
	<result property="b_remain_amoun" column="b_remain_amoun"/>
	<result property="budg_amount" column="budg_amount"/>
	<result property="cost_amount" column="cost_amount"/>
	<result property="y_budg_amount" column="y_budg_amount"/>
	<result property="y_cost_amount" column="y_cost_amount"/>
	<result property="remain_amoun" column="remain_amoun"/>
	<result property="rate" column="rate"/>
	<result property="t_rate" column="t_rate"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_PROJ_ADJ (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			adj_code
			,
			proj_id
			,
			proj_no
			,
			remark
			,
			file_url
			,
			maker
			,
			make_date
			,
			checker
			,
			check_date
			,
			state
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{adj_code,jdbcType=VARCHAR}
			,
			#{proj_id,jdbcType=INTEGER}
			,
			#{proj_no,jdbcType=INTEGER}
			,
			#{remark,jdbcType=VARCHAR}
			,
			#{file_url,jdbcType=VARCHAR}
			,
			#{maker,jdbcType=INTEGER}
			,
			#{make_date,jdbcType=DATE}
			,
			#{checker,jdbcType=INTEGER}
			,
			#{check_date,jdbcType=DATE}
			,
			#{state,jdbcType=VARCHAR}
			
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_PROJ_ADJ (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			adj_code
			,
			proj_id
			,
			proj_no
			,
			remark
			,
			file_url
			,
			maker
			,
			make_date
			,
			checker
			,
			check_date
			,
			state
			
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.adj_code,jdbcType=VARCHAR}
			,
			#{item.proj_id,jdbcType=INTEGER}
			,
			#{item.proj_no,jdbcType=INTEGER}
			,
			#{item.remark,jdbcType=VARCHAR}
			,
			#{item.file_url,jdbcType=VARCHAR}
			,
			#{item.maker,jdbcType=INTEGER}
			,
			#{item.make_date,jdbcType=DATE}
			,
			#{item.checker,jdbcType=INTEGER}
			,
			#{item.check_date,jdbcType=DATE}
			,
			#{item.state,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_proj_adj 
		SET
			remark = #{remark,jdbcType=VARCHAR}
			,
			file_url = #{file_url,jdbcType=VARCHAR}
			
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND adj_code = #{adj_code,jdbcType=VARCHAR}
			AND proj_id = #{proj_id,jdbcType=INTEGER}
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_adj 
			SET
				proj_no = #{item.proj_no,jdbcType=INTEGER}
				,
				remark = #{item.remark,jdbcType=VARCHAR}
				,
				file_url = #{item.file_url,jdbcType=VARCHAR}
				,
				maker = #{item.maker,jdbcType=INTEGER}
				,
				make_date = #{item.make_date,jdbcType=DATE}
				,
				checker = #{item.checker,jdbcType=INTEGER}
				,
				check_date = #{item.check_date,jdbcType=DATE}
				,
				state = #{item.state,jdbcType=VARCHAR}
			WHERE                    
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND adj_code = #{item.adj_code,jdbcType=VARCHAR}
				AND proj_id = #{item.proj_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_proj_adj 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND adj_code = #{adj_code,jdbcType=VARCHAR}
			AND proj_id = #{proj_id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_proj_adj 
		WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND adj_code = #{item.adj_code,jdbcType=VARCHAR}
				AND proj_id = #{item.proj_id,jdbcType=INTEGER}
			</foreach>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgProjAdjMap" >
		
		SELECT 
			bpa.group_id,
			bpa.hos_id,
			bpa.copy_code,
			bpa.budg_year,
			bpa.adj_code,
			bpa.proj_id,
			bpa.proj_no,
			bpa.remark,
			bpa.file_url,
			bpa.maker,
			bpa.make_date,
			bpa.checker,
			bpa.check_date,
			bpa.state,
			bsd.value_name as state_name,
			aed.emp_name,
			hed.emp_name as che_emp_name,
			a.emp_name as con_emp_name,
			hpd.proj_name 
		FROM BUDG_PROJ_ADJ bpa 
		LEFT JOIN hos_emp_dict aed
		ON
			bpa.group_id=aed.group_id
			AND bpa.hos_id=aed.hos_id
			AND bpa.maker=aed.emp_id
			AND aed.is_stop=0
		LEFT JOIN hos_emp_dict hed
		ON
			bpa.group_id=hed.group_id
			AND bpa.hos_id=hed.hos_id
			AND bpa.checker=hed.emp_id
			AND hed.is_stop=0
		LEFT JOIN hos_proj_dict  hpd
		ON
			bpa.group_id=hpd.group_id
			AND bpa.hos_id=hpd.hos_id
			AND bpa.proj_id=hpd.proj_id	
		LEFT JOIN budg_sys_dict  bsd
		ON
			bpa.state =bsd.value_code
			AND bsd.f_code= 'STATE_T'	
		LEFT JOIN ACC_PROJ_ATTR apa
		ON
			bpa.group_id=apa.group_id
			AND bpa.hos_id=apa.hos_id
			AND bpa.proj_id=apa.proj_id
		LEFT JOIN  hos_emp_dict a
          ON 
            apa.group_id=a.group_id 
            and apa.hos_id=a.hos_id
            and apa.con_emp_id=a.emp_id
            and a.is_stop = 0
 		WHERE 
 		    bpa.group_id = #{group_id}
   			AND bpa.hos_id = #{hos_id}
   			AND bpa.copy_code = #{copy_code}
   			<if test="budg_year != null and budg_year != ''">
   			AND bpa.budg_year = #{budg_year}
   			</if>
   			<if test="proj_id != null and proj_id != ''">
   	  		AND bpa.proj_id = #{proj_id}
   	  		</if>
   			<if test="state != null and state != ''">
   	  		AND bpa.state = #{state}
   	  		</if>
	
	</select>
	
<!-- 	查询调整添加页面信息 -->
	<select id="queryAdjAdd" parameterType="java.util.Map" resultMap="budgProjAdjMap" >
		
		select 
			   bpdy.group_id ,
			   bpdy.hos_id ,
			   bpdy.copy_code ,
			   bpdy.budg_year ,
		       bpdy.source_id,
		       hs.source_code,
		       hs.source_name,
		       bpdy.payment_item_id,
		       bpid.payment_item_no,
		       bpid.payment_item_code,
		       bpid.payment_item_name,
		       bpdy.remain_amoun as bef_remain_amount,
		       nvl(bpad.adj_amount , 0) adj_amount ,
		       (nvl(bpdy.remain_amoun,0) + nvl(bpad.adj_amount , 0)) aft_remain_amount
		  from BUDG_PROJ_DETAIL_YEAR bpdy
		  LEFT JOIN budg_proj_adj_detail bpad
		    ON bpdy.group_id = bpad.group_id
			   AND bpdy.hos_id = bpad.hos_id
			   AND bpdy.copy_code = bpad.copy_code
			   AND bpdy.budg_year = bpad.budg_year
			   AND bpdy.source_id = bpad.source_id
			   AND bpdy.proj_id = bpad.proj_id
			   AND bpdy.payment_item_id = bpad.payment_item_id
		  LEFT JOIN hos_source hs
		    ON bpdy.group_id = hs.group_id
			   AND bpdy.hos_id = hs.hos_id
			   AND bpdy.source_id = hs.source_id
		  LEFT JOIN budg_payment_item_dict bpid
		    ON bpdy.group_id = bpid.group_id
			   AND bpdy.hos_id = bpid.hos_id
			   AND bpdy.payment_item_id = bpid.payment_item_id
 		WHERE
 		    bpdy.group_id = #{group_id}
   			AND bpdy.hos_id = #{hos_id}
   			AND bpdy.copy_code = #{copy_code}
   			AND bpdy.budg_year = #{budg_year}
   	  		AND bpdy.proj_id = #{proj_id}
   	  		AND bpdy.source_id = #{source_id}
   	  		AND bpdy.payment_item_id = #{payment_item_id}
	</select>
	
	<select id="queryByCode" resultMap="budgProjAdjMap"  parameterType="java.util.Map" >
	
		SELECT 
			bpa.group_id,
			bpa.hos_id,
			bpa.copy_code,
			bpa.budg_year,
			bpa.adj_code,
			bpa.proj_id,
			bpa.proj_no,
			bpa.remark,
			bpa.file_url,
			bpa.maker,
			bpa.make_date,
			bpa.checker,
			bpa.check_date,
			bpa.state,
			bsd.value_name as state_name,
			aed.emp_name,
			hed.emp_name as che_emp_name,
			a.emp_name as con_emp_name,
			hpd.proj_name 
		FROM BUDG_PROJ_ADJ bpa 
		LEFT JOIN hos_emp_dict aed
		ON
			bpa.group_id=aed.group_id
			AND bpa.hos_id=aed.hos_id
			AND bpa.maker=aed.emp_id
			AND aed.is_stop=0
		LEFT JOIN hos_emp_dict hed
		ON
			bpa.group_id=hed.group_id
			AND bpa.hos_id=hed.hos_id
			AND bpa.checker=hed.emp_id
			AND hed.is_stop=0
		LEFT JOIN hos_proj_dict  hpd
		ON
			bpa.group_id=hpd.group_id
			AND bpa.hos_id=hpd.hos_id
			AND bpa.proj_id=hpd.proj_id	
		LEFT JOIN budg_sys_dict  bsd
		ON
			bpa.state =bsd.value_code
			AND bsd.f_code= 'STATE_T'	
		LEFT JOIN ACC_PROJ_ATTR apa
		ON
			bpa.group_id=apa.group_id
			AND bpa.hos_id=apa.hos_id
			AND bpa.proj_id=apa.proj_id
		LEFT JOIN  hos_emp_dict a
          ON 
            apa.group_id=a.group_id 
            and apa.hos_id=a.hos_id
            and apa.con_emp_id=a.emp_id
            and a.is_stop = 0
		WHERE 
			bpa.group_id = #{group_id}   and 
			bpa.hos_id = #{hos_id}   and 
			bpa.copy_code = #{copy_code}   and 
			bpa.budg_year = #{budg_year}   and
			bpa.adj_code = #{adj_code}   and 
			bpa.proj_id = #{proj_id} 
	
	</select>
	
<!-- 	查询项目预算调整明细  -->
	<select id="queryBudgProjAdjDetail" parameterType="java.util.Map" resultMap="budgProjAdjDetailMap" >
	
		select 
			   bpad.group_id ,
			   bpad.hos_id ,
			   bpad.copy_code ,
			   bpad.budg_year ,
			   bpad.adj_code ,
		       bpad.source_id,
		       hs.source_code,
		       hs.source_name,
		       bpid.payment_item_code || ' ' || bpid.payment_item_name as text,
		       bpid.payment_item_no || ','  || bpad.payment_item_id as payment_item_id,
		       bpid.payment_item_no,
		       bpid.payment_item_code,
		       bpid.payment_item_name,
		       nvl(bpdy.remain_amoun,0) as bef_remain_amount,
		       bpad.adj_amount ,
		       (nvl(bpdy.remain_amoun,0) + nvl(bpad.adj_amount , 0)) aft_remain_amount
		  FROM budg_proj_adj_detail bpad
		  LEFT JOIN BUDG_PROJ_DETAIL_YEAR bpdy
		    ON bpad.group_id = bpdy.group_id
			   AND bpad.hos_id = bpdy.hos_id
			   AND bpad.copy_code = bpdy.copy_code
			   AND bpad.budg_year = bpdy.budg_year
			   AND bpad.source_id = bpdy.source_id
			   AND bpad.proj_id = bpdy.proj_id
			   AND bpad.payment_item_id = bpdy.payment_item_id
		  LEFT JOIN hos_source hs
		    ON bpad.group_id = hs.group_id
			   AND bpad.hos_id = hs.hos_id
			   AND bpad.source_id = hs.source_id
		  LEFT JOIN budg_payment_item_dict bpid
		    ON bpad.group_id = bpid.group_id
			   AND bpad.hos_id = bpid.hos_id
			   AND bpad.payment_item_id = bpid.payment_item_id
 		WHERE 
 		    bpad.group_id = #{group_id,jdbcType=INTEGER}
			AND bpad.hos_id = #{hos_id,jdbcType=INTEGER}
			AND bpad.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND bpad.budg_year = #{budg_year,jdbcType=VARCHAR}
			AND bpad.adj_code = #{adj_code,jdbcType=VARCHAR}
			AND bpad.proj_id = #{proj_id,jdbcType=INTEGER}
	</select>
	
<!-- 	查询项目预算年度明细   审核销审方法使用-->
	<select id="queryYearDetailByCode" resultMap="budgProjDetailYearMap"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			proj_id,
			source_id,
			payment_item_id,
			b_budg_amount,
			b_cost_amount,
			b_remain_amoun,
			budg_amount,
			cost_amount,
			y_budg_amount,
			y_cost_amount,
			remain_amoun,
			rate,
			t_rate
		FROM budg_proj_detail_year 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
			proj_id = #{proj_id,jdbcType=INTEGER}   and 
			source_id = #{source_id,jdbcType=INTEGER}   and 
			payment_item_id = #{payment_item_id,jdbcType=INTEGER} 
	
	</select>
	
	<!-- 	更新项目预算年度明细数据   审核销审方法使用-->
	<update id="updateYearDetailBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_detail_year 
			SET
			budg_amount = #{item.budg_amount,jdbcType=INTEGER}
			,
			y_budg_amount = #{item.y_budg_amount,jdbcType=INTEGER}
			,
			remain_amoun = #{item.remain_amoun,jdbcType=INTEGER}
			,
			rate = #{item.rate,jdbcType=INTEGER}
			,
			t_rate = #{item.t_rate,jdbcType=INTEGER}
	
		WHERE                     
			group_id = #{item.group_id,jdbcType=INTEGER}
			
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
			
			AND proj_id = #{item.proj_id,jdbcType=INTEGER}
			
			AND source_id = #{item.source_id,jdbcType=INTEGER}
			
			AND payment_item_id = #{item.payment_item_id,jdbcType=INTEGER}
		 			
		</foreach>
	</update>
	
	<insert id="addYearDetailBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_PROJ_DETAIL_YEAR (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			proj_id
			,
			source_id
			,
			payment_item_id
			,
			b_budg_amount
			,
			b_cost_amount
			,
			b_remain_amoun
			,
			budg_amount
			,
			cost_amount
			,
			y_budg_amount
			,
			y_cost_amount
			,
			remain_amoun
			,
			rate
			,
			t_rate
		
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.proj_id,jdbcType=INTEGER}
			,
			#{item.source_id,jdbcType=INTEGER}
			,
			#{item.payment_item_id,jdbcType=INTEGER}
			,
			#{item.b_budg_amount,jdbcType=INTEGER}
			,
			#{item.b_cost_amount,jdbcType=INTEGER}
			,
			#{item.b_remain_amoun,jdbcType=INTEGER}
			,
			#{item.budg_amount,jdbcType=INTEGER}
			,
			#{item.cost_amount,jdbcType=INTEGER}
			,
			#{item.y_budg_amount,jdbcType=INTEGER}
			,
			#{item.y_cost_amount,jdbcType=INTEGER}
			,
			#{item.remain_amoun,jdbcType=INTEGER}
			,
			#{item.rate,jdbcType=INTEGER}
			,
			#{item.t_rate,jdbcType=INTEGER}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<select id="queryByUniqueness" resultMap="budgProjAdj"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			adj_code,
			proj_id,
			proj_no,
			remark,
			file_url,
			maker,
			make_date,
			checker,
			check_date,
			state
			FROM BUDG_PROJ_ADJ 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND adj_code = #{adj_code,jdbcType=VARCHAR}
			AND proj_id = #{proj_id,jdbcType=INTEGER}
			<if test="proj_no != null and proj_no != ''">
			AND proj_no = #{proj_no,jdbcType=INTEGER}
			</if>
			<if test="remark != null and remark != ''">
			AND remark = #{remark,jdbcType=VARCHAR}
			</if>
			<if test="file_url != null and file_url != ''">
			AND file_url = #{file_url,jdbcType=VARCHAR}
			</if>
			<if test="maker != null and maker != ''">
			AND maker = #{maker,jdbcType=INTEGER}
			</if>
			<if test="make_date != null and make_date != ''">
			AND make_date = #{make_date,jdbcType=DATE}
			</if>
			<if test="checker != null and checker != ''">
			AND checker = #{checker,jdbcType=INTEGER}
			</if>
			<if test="check_date != null and check_date != ''">
			AND check_date = #{check_date,jdbcType=DATE}
			</if>
			<if test="state != null and state != ''">
			AND state = #{state,jdbcType=VARCHAR}
			</if>
	</select>
	<select id="queryExists" resultMap="budgProjAdj"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			adj_code,
			proj_id,
			proj_no,
			remark,
			file_url,
			maker,
			make_date,
			checker,
			check_date,
			state
		FROM BUDG_PROJ_ADJ 
		WHERE                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND adj_code = #{adj_code,jdbcType=VARCHAR}
			AND proj_id = #{proj_id,jdbcType=INTEGER}
	</select>
	
	<select id="queryState" resultType="java.lang.String"  parameterType="java.util.Map" >
	
		SELECT 
			state
		FROM BUDG_PROJ_ADJ 
		WHERE                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND adj_code = #{adj_code,jdbcType=VARCHAR}
			AND proj_id = #{proj_id,jdbcType=INTEGER}
	</select>
	
<!-- 	提交 撤回 状态更改 -->
	<update id="updateSubmitState" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_adj 
			SET
				maker = #{item.maker,jdbcType=INTEGER}
				,
				make_date = #{item.make_date,jdbcType=DATE}
				,
				state = #{item.state,jdbcType=VARCHAR}
			WHERE                    
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND adj_code = #{item.adj_code,jdbcType=VARCHAR}
				AND proj_id = #{item.proj_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
<!-- 	审核  销审 状态更改 -->
	<update id="updateReviewState" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_adj 
			SET
				checker = #{item.checker,jdbcType=INTEGER}
				,
				check_date = #{item.check_date,jdbcType=DATE}
				,
				state = #{item.state,jdbcType=VARCHAR}
			WHERE                    
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND adj_code = #{item.adj_code,jdbcType=VARCHAR}
				AND proj_id = #{item.proj_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
</mapper>

