<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.accDictType.AccDictTypeMapper">

	
	<!-- dict,type模糊查询 -->
	<select id="queryDictMp" parameterType="java.util.Map" resultType="java.util.Map">
		select h.dict_code, h.dict_name, h.type_code, h.type_name,
		case h.is_stop when 1 then '停用' else '启用' end  is_stop,
		h.note, h.spell_code,h.sort_code, h.table_code,
		i.dict_name ywtype_name,  i.dict_code ywtype_code
        from HOS_DICT_TYPE h , INIT_ACC_DICT i
        where h.TABLE_CODE = #{yw_type}
        <if test="yw_dict  != null and yw_dict  != ''">
			and ( h.DICT_CODE like '%${yw_dict}%' or h.DICT_NAME like '%${yw_dict}%' )
		</if>
		<if test="data_type  != null and data_type  != ''">
			and ( h.TYPE_CODE like '%${data_type}%' or h.TYPE_NAME like '%${data_type}%' )
		</if>
        and h.TABLE_CODE=i.DICT_CODE
        and i.TABLE_CODE='HOS_DICT_TYPE' and i.TYPE_CODE=#{mod_code}
        and GROUP_ID = #{group_id}
		and HOS_ID=#{hos_id}
		and COPY_CODE=#{copy_code}
	</select>
	<select id="queryDictCodeMp" parameterType="java.util.Map" resultType="java.util.Map">
		select dict_code, dict_name, type_code, type_name,
		is_stop, note, spell_code, sort_code, table_code
        from HOS_DICT_TYPE 
        where TABLE_CODE = #{table_code}
        and DICT_CODE = #{dict_code}
        and GROUP_ID = #{group_id}
		and HOS_ID=#{hos_id}
		and COPY_CODE=#{copy_code}
	</select>
	


	<!--添加-->
	<insert id="addDictMp">
		INSERT INTO HOS_DICT_TYPE (
		<trim suffix="" suffixOverrides=",">
			<if test="group_id  != null and group_id  != ''">
				group_id ,
			</if>
			<if test="hos_id != null and hos_id != ''">
				hos_id ,
			</if>
			<if test="copy_code != null and copy_code != ''">
				copy_code ,
			</if>
			<if test="table_code != null and table_code != ''">
				table_code ,
			</if>
			<if test="dict_code != null and dict_code != ''">
				dict_code ,
			</if>
			<if test="dict_name != null and dict_name != ''">
				dict_name ,
			</if>
			<if test="type_code != null and type_code != ''">
				type_code ,
			</if>
			<if test="type_name != null and type_name != ''">
				type_name ,
			</if>
			<if test="is_stop  != null and is_stop  != ''">
				is_stop ,
			</if>
			<if test="spell_code != null and spell_code != ''">
				spell_code ,
			</if>
			<if test="sort_code != null and sort_code != ''">
				sort_code ,
			</if>
			<if test="note != null and note != ''">
				note ,
			</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			<if test="group_id  != null and group_id  != ''">
				#{group_id,jdbcType=INTEGER} ,
			</if>
			<if test="hos_id != null and hos_id != ''">
				#{hos_id,jdbcType=INTEGER} ,
			</if>
			<if test="copy_code != null and copy_code != ''">
				#{copy_code,jdbcType=VARCHAR} ,
			</if>
			<if test="table_code != null and table_code != ''">
				#{table_code,jdbcType=INTEGER} ,
			</if>
			<if test="dict_code != null and dict_code != ''">
				#{dict_code,jdbcType=VARCHAR} ,
			</if>
			<if test="dict_name  != null and dict_name != ''">
				#{dict_name,jdbcType=VARCHAR} ,
			</if>
			<if test="type_code != null and type_code != ''">
				#{type_code,jdbcType=VARCHAR} ,
			</if>
			<if test="type_name != null and type_name != ''">
				#{type_name,jdbcType=VARCHAR} ,
			</if>
			<if test="is_stop != null and is_stop != ''">
				#{is_stop,jdbcType=INTEGER} ,
			</if>
			<if test="spell_code != null and spell_code != ''">
				#{spell_code,jdbcType=VARCHAR} ,
			</if>
			<if test="sort_code != null and sort_code != ''">
				#{sort_code,jdbcType=INTEGER} ,
			</if>
			<if test="note != null and note != ''">
				#{note,jdbcType=VARCHAR} ,
			</if>
		</trim>
		)	
	</insert>

	<!--删除-->
	<delete id="deleteDictMp">
		DELETE FROM HOS_DICT_TYPE
		WHERE GROUP_ID = #{group_id}
		and HOS_ID=#{hos_id}
		and COPY_CODE=#{copy_code}
		and TABLE_CODE=#{table_code}
		and DICT_CODE=#{dict_code}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM hos_dict_type 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND dict_code = #{item.dict_code,jdbcType=VARCHAR}	
				AND table_code = #{item.table_code,jdbcType=VARCHAR}	
			</foreach>
	    </where>  
	</delete>

	<!--修改-->
	<update id="updateDictMp">
		UPDATE HOS_DICT_TYPE
		<trim prefix="SET" suffixOverrides=",">
			<if test="dict_name  != null and dict_name != ''">
				dict_name=#{dict_name} ,
			</if>
			<if test="type_code != null and type_code != ''">
				type_code=#{type_code} ,
			</if>
			<if test="type_name != null and type_name != ''">
				type_name=#{type_name} ,
			</if>
			<if test="is_stop != null and is_stop != ''">
				is_stop=#{is_stop} ,
			</if>
			<if test="spell_code != null and spell_code != ''">
				spell_code=#{spell_code} ,
			</if>
			<if test="sort_code != null and sort_code != ''">
				sort_code=#{sort_code} ,
			</if>
			<if test="note != null and note != ''">
				note=#{note} ,
			</if>
		</trim>	
		WHERE group_id = #{group_id}
		and hos_id=#{hos_id}
		and copy_code=#{copy_code}
		and dict_code=#{dict_code}
		and table_code=#{table_code}
	</update>

</mapper>

