<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiPatientArrearsMapper">
	
	<!-- 报表查询、本期、上期、同比 -->
	<select id="queryAphiDeptTargerByTargetCode" parameterType="java.util.Map" resultType="java.util.Map">
		select target_value as "target_value" from 
		aphi_dept_target_data 
		where group_id = #{group_id}
		and hos_id=#{hos_id} and copy_code = #{copy_code}
		and acct_year = #{acc_year} and acct_month = #{acc_month}
		and dept_id = #{dept_id} and dept_no = #{dept_no}
		and target_code = 'T05' and is_audit = 1
	</select>
	
	<delete id="deleteBatchPatientArrears" parameterType="java.util.Map">
		DELETE FROM aphi_patient_arrears WHERE
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and dept_id = #{dept_id}
			and acct_year = #{acc_year}
			and acct_month = #{acc_month}
	</delete>
	
	<insert id="addBatchPatientArrears" parameterType="java.util.List">
		insert into aphi_patient_arrears
		(
		group_id,
		hos_id,
		copy_code,
		acct_year,
		acct_month,
		dept_id,
		dept_no,
		patient_no,
		patient_name,
		leave_date,
		sum_money,
		pre_money,
		arrears_money,
		note
		)
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id},
			#{item.hos_id},
			#{item.copy_code},
			#{item.acc_year},
			#{item.acc_month},
			#{item.dept_id},
			#{item.dept_no},
			#{item.patient_no},
			#{item.patient_name},
			#{item.leavel_date},
			#{item.sum_money},
			#{item.pre_money},
			#{item.arrears_money},
			#{item.note}
			from dual
		</foreach>
	</insert>
</mapper>
