<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostControlMapper">

	<resultMap id="c0601" type="java.util.Map">
		<result property="id" column="id" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="type_code" column="type_code" />
		<result property="natur_code" column="natur_code" />
		<result property="sort_code" column="sort_code" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="dept_code_hb" column="dept_code_hb" />
		<result property="dept_name_hb" column="dept_name_hb" />
		<result property="hos_name" column="hos_name" />
		<result property="hos_code" column="hos_code" />
		<result property="hos_name_hb" column="hos_name_hb" />
		<result property="hos_code_hb" column="hos_code_hb" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
	</resultMap>
	


	<select id="queryAnalysisC0601" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.dept_code,
		a.dept_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.dept_code dept_code_hb,
		b.dept_name dept_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0601

		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="natur_code != null and natur_code != ''">
				AND natur_code = #{natur_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3,
		t_1 desc)) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0601
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="natur_code != null and natur_code != ''">
				AND natur_code = #{natur_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3,
		t_1 desc)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND
		a.copy_code = b.copy_code
		AND a.id = b.id
 )select id,group_id,hos_id,copy_code,dept_code,dept_name,
				 t_1,t_2, t_3,dept_code_hb, dept_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	<select id="queryAnalysisC0602" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.dept_code,
		a.dept_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.dept_code dept_code_hb,
		b.dept_name dept_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0602

		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="source_attr != null and source_attr != ''">
				AND source_id in ${source_attr}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			 	AND acc_year || acc_month = #{year_month_begin} 
			
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1 )) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0602
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="source_attr != null and source_attr != ''">
				AND source_id in ${source_attr}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_begin}
			 
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1 )) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND
		a.copy_code = b.copy_code
		AND a.id = b.id
 )select id,group_id,hos_id,copy_code,dept_code,dept_name,
				 t_1,t_2, t_3,dept_code_hb, dept_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	<select id="queryAnalysisC0603" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.dept_code,
		a.dept_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.dept_code dept_code_hb,
		b.dept_name dept_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0604

		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="source_attr != null and source_attr != ''">
				AND source_id in ${source_attr}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			
				AND acc_year || acc_month = #{year_month_begin}
			 
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1 )) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0604
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="source_attr != null and source_attr != ''">
				AND source_id in ${source_attr}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			
				AND acc_year || acc_month = #{year_month_begin}
			 
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND
		a.copy_code = b.copy_code
		AND a.id = b.id
 )select id,group_id,hos_id,copy_code,dept_code,dept_name,
				 t_1,t_2, t_3,dept_code_hb, dept_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	<select id="queryAnalysisC0604" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.dept_code,
		a.dept_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.dept_code dept_code_hb,
		b.dept_name dept_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0604

		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="source_attr != null and source_attr != ''">
				AND source_id in ${source_attr}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			
				AND acc_year || acc_month = #{year_month_begin} 
	
			
				AND type_code = '04'
			
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1)) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0604
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="source_attr != null and source_attr != ''">
				AND source_id in ${source_attr}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			
				AND acc_year || acc_month = #{year_month_begin} 
			
<!-- 			<if test="type_code != null and type_code != ''"> -->
<!-- 				AND type_code = #{type_code,jdbcType=VARCHAR} -->
<!-- 			</if> -->
             AND type_code = '04'
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1 )) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND
		a.copy_code = b.copy_code
		AND a.id = b.id
)select id,group_id,hos_id,copy_code,dept_code,dept_name,
				 t_1,t_2, t_3,dept_code_hb, dept_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	
	<select id="queryAnalysisC0605" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.dept_code,
		a.dept_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.dept_code dept_code_hb,
		b.dept_name dept_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0605

		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1 )) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0605
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND
		a.copy_code = b.copy_code
		AND a.id = b.id
  )select id,group_id,hos_id,copy_code,dept_code,dept_name,
				 t_1,t_2, t_3,dept_code_hb, dept_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	
	<select id="queryAnalysisC0606" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.dept_code,
		a.dept_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.dept_code dept_code_hb,
		b.dept_name dept_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0606

		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1 )) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0606
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by group_id,
		hos_id,
		copy_code,
		dept_code,
		dept_name
		order by t_3 desc,
		t_1 )) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND
		a.copy_code = b.copy_code
		AND a.id = b.id
  )select id,group_id,hos_id,copy_code,dept_code,dept_name,
				 t_1,t_2, t_3,dept_code_hb, dept_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	<select id="queryAnalysisC0607" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.hos_code,
		a.hos_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.hos_code hos_code_hb,
		b.hos_name hos_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0603 t1
		left join hos_info t2 on t1.group_id=t2.group_id and t1.hos_id=t2.hos_id
		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name
		order by t_3,
		t_1 desc)) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0603 t1
		left join hos_info t2 on t1.group_id=t2.group_id and t1.hos_id=t2.hos_id
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name
		order by t_3,
		t_1 desc)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND a.id = b.id
)select id,group_id,hos_id,hos_code,hos_name,
				 t_1,t_2, t_3,hos_code_hb, hos_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	<select id="queryAnalysisC0608" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.hos_code,
		a.hos_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.hos_code hos_code_hb,
		b.hos_name hos_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0604 t1
		left join hos_info t2 on t1.group_id=t2.group_id and t1.hos_id=t2.hos_id
		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name
		order by t_3,
		t_1 desc)) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0604 t1
		left join hos_info t2 on t1.group_id=t2.group_id and t1.hos_id=t2.hos_id
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name
		order by t_3,
		t_1 desc)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND a.id = b.id
)select id,group_id,hos_id,hos_code,hos_name,
				 t_1,t_2, t_3,hos_code_hb, hos_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	
	<select id="queryAnalysisC0609" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.hos_code,
		a.hos_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.hos_code hos_code_hb,
		b.hos_name hos_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0605 t1
		left join hos_info t2 on t1.group_id=t2.group_id and t1.hos_id=t2.hos_id
		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name
		order by t_3 desc,
		t_1 )) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0605 t1
		left join hos_info t2 on t1.group_id=t2.group_id and t1.hos_id=t2.hos_id
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name
		order by t_3 desc,
		t_1)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND a.id = b.id
)select id,group_id,hos_id,hos_code,hos_name,
				 t_1,t_2, t_3,hos_code_hb, hos_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	
	<select id="queryAnalysisC0610" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.hos_code,
		a.hos_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.hos_code hos_code_hb,
		b.hos_name hos_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0606 t1
		left join hos_info t2 on t1.group_id=t2.group_id and t1.hos_id=t2.hos_id
		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			   </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name
		order by t_3 desc,
		t_1)) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		hos_code,
		hos_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0606 t1
		left join hos_info t2 on t1.group_id=t2.group_id and t1.hos_id=t2.hos_id
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			   </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		hos_code,
		hos_name
		order by t_3 desc,
		t_1)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND a.id = b.id
)select id,group_id,hos_id,hos_code,hos_name,
				 t_1,t_2, t_3,hos_code_hb, hos_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	<select id="queryAnalysisC0611" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.dept_code,
		a.dept_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.dept_code dept_code_hb,
		b.dept_name dept_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0607 t1
		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
				
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			   </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		dept_code,
		dept_name
		order by t_3 desc)) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0607 t1
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			   </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		dept_code,
		dept_name
		order by t_3 desc)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND a.id = b.id
 )select id,group_id,hos_id,dept_code,dept_name,
				 t_1,t_2, t_3,dept_code_hb, dept_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>
	<select id="queryAnalysisC0612" parameterType="java.util.Map"
		resultMap="c0601">
 with temp as 
(
		SELECT a.id,
		a.group_id,
		a.hos_id,
		a.dept_code,
		a.dept_name,
		a.t_1,
		a.t_2,
		a.t_3,
		b.dept_code dept_code_hb,
		b.dept_name dept_name_hb,
		b.t_1 t_4,
		b.t_2 t_5,
		b.t_3 t_6
		FROM
		(select rownum id,
		group_id,
		hos_id,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0608 t1
		<where>
			sort_code='1'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		dept_code,
		dept_name
		order by t_3 desc)) a
		LEFT JOIN (select rownum id,
		group_id,
		hos_id,
		dept_code,
		dept_name,
		t_1,
		t_2,
		t_3
		from (select t1.group_id,
		t1.hos_id,
		dept_code,
		dept_name,
		sum(t_1) t_1,
		sum(t_2) t_2,
		sum(t_3) t_3
		FROM COST_C0608 t1
		<where>
			sort_code='2'
			<if test="group_id != null and group_id != ''">
				AND t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			
			<!-- <if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if
				test="acc_month1 != null and acc_month1 != '' and acc_month2 != null and acc_month2 != ''">
				AND acc_month between #{acc_month1} and #{acc_month2}
			</if> -->
			<if test="year_month_begin != null and year_month_begin != '' and year_month_end != null and year_month_end != ''">
				AND acc_year || acc_month between #{year_month_begin} and #{year_month_end}
			 </if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		group by t1.group_id,
		t1.hos_id,
		dept_code,
		dept_name
		order by t_3 desc)) b
		ON a.group_id = b.group_id
		AND a.hos_id = b.hos_id
		AND a.id = b.id
 )select id,group_id,hos_id,dept_code,dept_name,
				 t_1,t_2, t_3,dept_code_hb, dept_name_hb,t_4,t_5,t_6 from temp
   union all
   select  null,null, null,null ,null, sum(t_1), sum(t_2), sum(t_3) ,null ,null, sum(t_4), sum(t_5), sum(t_6) from temp
    
	</select>

</mapper>

