<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostWageDetailMapMapper">

	<resultMap id="costWageDetailMap" type="com.chd.hrp.cost.entity.CostWageDetailMap">
        <result property="id" column="id"/>
        <result property="wage_code" column="wage_code"/>
        <result property="wage_column" column="wage_column"/>
	</resultMap>
	
    <insert id="addCostWageDetailMap" useGeneratedKeys="true" >
    
        INSERT INTO COST_WAGE_DETAIL_MAP 
		(
            id,
            wage_code,
            wage_column
        ) 
		VALUES 
		(
		 COST_WAGE_DETAIL_MAP_SEQ.NEXTVAL,
		 #{wage_item_code},
		  'wage'||''||COST_WAGE_DETAIL_MAP_SEQ.NEXTVAL
        )
    
    </insert>
	
	<insert id="addBatchCostWageDetailMap" parameterType="java.util.List" >
    
        INSERT INTO COST_WAGE_DETAIL_MAP 
		(
    		id,
    		wage_code,
    		wage_column
        ) 
		<!-- 没有序列的变通调整 顺序要调整一下 -->
		select COST_WAGE_DETAIL_MAP_SEQ.NEXTVAL,A.* FROM (
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
		    #{item.wage_item_code},
		    #{item.wage_column}
		 from dual 
		</foreach>
		) A
    
    </insert>

	<update id="updateCostWageDetailMap" parameterType="java.util.Map">
    
        UPDATE cost_wage_detail_map SET
        WHERE 
		    id = #{id} and 
		    wage_code = #{wage_code} and 
		    wage_column = #{wage_column}
   
	</update>
	
	<update id="updateBatchCostWageDetailMap" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE cost_wage_detail_map SET
        WHERE 
		    id = #{item.id} and 
		    wage_code = #{item.wage_code} and 
		    wage_column = #{item.wage_column}
    </foreach>
	</update>

    <delete id="deleteCostWageDetailMap" parameterType="java.util.Map">
   
        DELETE FROM cost_wage_detail_map 
			WHERE
				id = #{id}  and 
				wage_code = #{wage_code}  and 
				wage_column = #{wage_column}
   
    </delete>
	
    <delete id="deleteBatchCostWageDetailMap" parameterType="java.util.List">
        DELETE FROM cost_wage_detail_map 
			WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			    id = #{item.id} and 
			    wage_code = #{item.wage_code} and 
			    wage_column = #{item.wage_column}
			</foreach>
        
    </delete>
    
    <select id="queryCostWageDetailMapByCode" resultType="com.chd.hrp.cost.entity.CostWageDetailMap" parameterType="string" >
	  
        SELECT 
            id,
            wage_code,
            wage_column
		FROM cost_wage_detail_map 
	        <where>                     
			    <if test="id != null and id != ''">
                    AND id = #{id}
               </if>
			    <if test="wage_code != null and wage_code != ''">
                    AND wage_code = #{wage_code}
               </if>
			    <if test="wage_column != null and wage_column != ''">
                    AND wage_column = #{wage_column}
               </if>
        </where>   	  
        
	</select>
	<select id="queryCostWageDetailMap" parameterType="java.util.Map" resultMap="costWageDetailMap" >
      
        SELECT 
            id,
            wage_code,
            wage_column
        FROM COST_WAGE_DETAIL_MAP 
            <where>                     
			    <if test="id != null and id != ''">
                    AND id = #{id}
               </if>
			    <if test="wage_code != null and wage_code != ''">
                    AND wage_code = #{wage_code}
               </if>
			    <if test="wage_column != null and wage_column != ''">
                    AND wage_column = #{wage_column}
               </if>
        </where>   
				order by id asc
    </select>
    
    <select id="querySequence" resultType="com.chd.hrp.cost.entity.CostWageDetailMap" parameterType="string" >
    select COST_WAGE_DETAIL_MAP_SEQ.NEXTVAL as id from dual
    </select>
	
</mapper>

