<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostBonusCostRelaMapper">

	<resultMap id="costBonusCostRela" type="com.chd.hrp.cost.entity.CostBonusCostRela">
        <result property="id" column="id"/>
     	<result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="emp_kind_code" column="emp_kind_code"/>
        <result property="bonus_item_code" column="bonus_item_code"/>
        <result property="emp_kind_name" column="emp_kind_name"/>
        <result property="bonus_item_name" column="bonus_item_name"/>
        <result property="cost_item_id" column="cost_item_id"/>
        <result property="cost_item_no" column="cost_item_no"/>
        <result property="cost_item_code" column="cost_item_code"/>
        <result property="cost_item_name" column="cost_item_name"/>
	</resultMap>
	
    <insert id="addCostBonusCostRela" useGeneratedKeys="true" >
    
        INSERT INTO COST_BONUS_COST_RELA 
		(
            id,
            group_id,
            hos_id,
            copy_code,
            acc_year,
            acc_month,
            emp_kind_code,
            bonus_item_code,
            cost_item_id,
            cost_item_no
        ) 
		VALUES 
		(
		 COST_BONUS_COST_RELA_SEQ.NEXTVAL,
		 #{group_id},
		 #{hos_id},
		 #{copy_code},
		 #{acc_year},
		 #{acc_month},
		 #{emp_kind_code},
		 #{bonus_item_code},
		 #{cost_item_id},
		 #{cost_item_no}
        )
    
    </insert>
	
	<insert id="addBatchCostBonusCostRela" parameterType="java.util.List" >
    
        INSERT INTO COST_BONUS_COST_RELA 
		(
    		id,
    		group_id,
    		hos_id,
    		copy_code,
    		acc_year,
    		acc_month,
    		emp_kind_code,
    		bonus_item_code,
    		cost_item_id,
    		cost_item_no
        ) 
		<!-- 没有序列的变通调整 顺序要调整一下 -->
		select COST_BONUS_COST_RELA_SEQ.NEXTVAL,A.* FROM (
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
		    #{item.group_id,jdbcType=INTEGER},
		    #{item.hos_id,jdbcType=INTEGER},
		    #{item.copy_code,jdbcType=INTEGER},
		    #{item.acc_year,jdbcType=INTEGER},
		     #{item.acc_month,jdbcType=INTEGER},
		    #{item.emp_kind_code,jdbcType=INTEGER},
		    #{item.bonus_item_code,jdbcType=INTEGER},
		    #{item.cost_item_id,jdbcType=INTEGER},
		    #{item.cost_item_no,jdbcType=INTEGER}
		 from dual 
		</foreach>
		) A
    
    </insert>

	<update id="updateCostBonusCostRela" parameterType="java.util.Map">
    
        UPDATE cost_bonus_cost_rela SET
			 group_id = #{group_id,jdbcType=INTEGER},
			 hos_id = #{hos_id,jdbcType=INTEGER},
			 copy_code = #{copy_code,jdbcType=VARCHAR},
			 acc_year = #{acc_year,jdbcType=VARCHAR},
			  acc_month = #{acc_month,jdbcType=VARCHAR},
			 emp_kind_code = #{emp_kind_code,jdbcType=VARCHAR},
			 bonus_item_code = #{bonus_item_code,jdbcType=VARCHAR},
			 cost_item_id = #{cost_item_id,jdbcType=INTEGER},
			 cost_item_no = #{cost_item_no,jdbcType=INTEGER}
        WHERE 
		    id = #{id,jdbcType=INTEGER}
   
	</update>
	
	<update id="updateBatchCostBonusCostRela" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE cost_bonus_cost_rela SET
			 group_id = #{group_id},
			 hos_id = #{hos_id},
			 copy_code = #{copy_code},
			  acc_year = #{acc_year} ,
		    acc_month = #{acc_month} ,
			 emp_kind_code = #{emp_kind_code},
			 bonus_item_code = #{bonus_item_code},
			 cost_item_id = #{cost_item_id},
			 cost_item_no = #{cost_item_no}
        WHERE 
		    id = #{item.id}
    </foreach>
	</update>

    <delete id="deleteCostBonusCostRela" parameterType="java.util.Map">
   
        DELETE FROM cost_bonus_cost_rela 
			WHERE
				id = #{id}
   
    </delete>
	
    <delete id="deleteBatchCostBonusCostRela" parameterType="java.util.List">
        DELETE FROM cost_bonus_cost_rela 
			WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			    id = #{item.id}
			    and
			    group_id = #{item.group_id}
			    			    and
			    hos_id = #{item.hos_id}
			    			    and
			    copy_code = #{item.copy_code}
			    			    and
			     acc_year = #{item.acc_year} and 
		    	acc_month = #{item.acc_month} and 
			    emp_kind_code = #{item.emp_kind_code}
			    			    and
			    bonus_item_code = #{item.bonus_item_code}
			</foreach>
        
    </delete>
    
    <select id="queryCostBonusCostRelaByCode" resultType="com.chd.hrp.cost.entity.CostBonusCostRela" parameterType="string" >
	  
        SELECT 
	        cbcr.id, 
	        cbcr.group_id, 
			cbcr.hos_id, 
			cbcr.copy_code,
			cbcr.acc_year,
            cbcr.acc_month,
			cbcr.emp_kind_code,
			cbcr.bonus_item_code,
			ceta.emp_kind_name,
			cbia.bonus_item_name,
			cbcr.cost_item_id, 
			cbcr.cost_item_no,
			cidn.cost_item_code,
			cidn.cost_item_name
			FROM cost_bonus_cost_rela cbcr
			LEFT JOIN cost_emp_type_attr ceta ON cbcr.group_id = ceta.group_id
			AND cbcr.hos_id = ceta.hos_id
			AND cbcr.copy_code = ceta.copy_code
			AND cbcr.emp_kind_code = ceta.emp_kind_code 
			LEFT JOIN COST_BONUS_ITEM_ARRT cbia ON cbcr.group_id = cbia.group_id
			AND cbcr.hos_id = cbia.hos_id
			AND cbcr.copy_code = cbia.copy_code
			AND cbcr.bonus_item_code = cbia.bonus_item_code
			left join COST_ITEM_DICT_NO cidn ON cbcr.group_id = cidn.group_id
			AND cbcr.hos_id = cidn.hos_id
			AND cbcr.copy_code = cidn.copy_code
			AND cbcr.cost_item_id = cidn.cost_item_id
			AND cbcr.cost_item_no = cidn.cost_item_no
	        <where> 
	        cbia.is_stop= '0'   
	        and cidn.is_stop= '0'         
	        <if test="id != null and id != ''">
                    AND cbcr.id = #{id}
               </if>           
			    <if test="group_id != null and group_id != ''">
                    AND cbcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cbcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cbcr.copy_code = #{copy_code}
               </if>
			    <if test="year_month != null and year_month != ''">
                    AND cbcr.acc_year || '' || cbcr.acc_month = #{year_month}
               </if>
               <if test="acc_year != null and acc_year != ''">
                    AND cbcr.acc_year = #{acc_year}
               </if>
               <if test="acc_month != null and acc_month != ''">
                    AND cbcr.acc_month = #{acc_month}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cbcr.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="bonus_item_code != null and bonus_item_code != ''">
                    AND cbcr.bonus_item_code = #{bonus_item_code}
               </if>
			    <if test="cost_item_id != null and cost_item_id != ''">
                    AND cbcr.cost_item_id = #{cost_item_id}
               </if>
			    <if test="cost_item_no != null and cost_item_no != ''">
                    AND cbcr.cost_item_no = #{cost_item_no}
               </if>
        </where>   	  
        
	</select>
	<select id="queryCostBonusCostRela" parameterType="java.util.Map" resultMap="costBonusCostRela" >
      
        SELECT 
	        cbcr.id, 
	        cbcr.group_id, 
			cbcr.hos_id, 
			cbcr.copy_code,
			cbcr.acc_year,
            cbcr.acc_month, 
            cbcr.acc_year||''||cbcr.acc_month as year_month,
			cbcr.emp_kind_code,
			cbcr.bonus_item_code,
			ceta.emp_kind_name,
			cbia.bonus_item_name,
			cbcr.cost_item_id, 
			cbcr.cost_item_no,
			cidn.cost_item_code,
			cidn.cost_item_name
			FROM cost_bonus_cost_rela cbcr
			LEFT JOIN cost_emp_type_attr ceta ON cbcr.group_id = ceta.group_id
			AND cbcr.hos_id = ceta.hos_id
			AND cbcr.copy_code = ceta.copy_code
			AND cbcr.emp_kind_code = ceta.emp_kind_code 
			LEFT JOIN COST_BONUS_ITEM_ARRT cbia ON cbcr.group_id = cbia.group_id
			AND cbcr.hos_id = cbia.hos_id
			AND cbcr.copy_code = cbia.copy_code
			AND cbcr.bonus_item_code = cbia.bonus_item_code
			left join COST_ITEM_DICT_NO cidn ON cbcr.group_id = cidn.group_id
			AND cbcr.hos_id = cidn.hos_id
			AND cbcr.copy_code = cidn.copy_code
			AND cbcr.cost_item_id = cidn.cost_item_id
			AND cbcr.cost_item_no = cidn.cost_item_no
            <where>     
             cbia.is_stop= '0'   
	        and cidn.is_stop= '0'                     
			    <if test="id != null and id != ''">
                    AND cbcr.id = #{id}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND cbcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cbcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cbcr.copy_code = #{copy_code}
               </if>
			   <if test=" b_year_month != null and b_year_month != '' and e_year_month != null and e_year_month != ''">
                  AND cbcr.acc_year ||''|| cbcr.acc_month between #{b_year_month} and  #{e_year_month}
            </if>
               <if test="acc_year != null and acc_year != ''">
                    AND cbcr.acc_year = #{acc_year}
               </if>
               <if test="acc_month != null and acc_month != ''">
                    AND cbcr.acc_month = #{acc_month}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cbcr.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="bonus_item_code != null and bonus_item_code != ''">
                    AND cbcr.bonus_item_code = #{bonus_item_code}
               </if>
			    <if test="cost_item_id != null and cost_item_id != ''">
                    AND cbcr.cost_item_id = #{cost_item_id}
               </if>
			    <if test="cost_item_no != null and cost_item_no != ''">
                    AND cbcr.cost_item_no = #{cost_item_no}
               </if>
        </where>   
				order by cbcr.id asc
    </select>
	<select id="queryCostBonusCostRelaPrint" parameterType="java.util.Map" resultType="java.util.Map" >
      
        SELECT 
	        cbcr.id, 
	        cbcr.group_id, 
			cbcr.hos_id, 
			cbcr.copy_code,
			cbcr.acc_year,
            cbcr.acc_month, 
            cbcr.acc_year||''||cbcr.acc_month as year_month,
			cbcr.emp_kind_code,
			cbcr.bonus_item_code,
			ceta.emp_kind_name,
			cbia.bonus_item_name,
			cbcr.cost_item_id, 
			cbcr.cost_item_no,
			cidn.cost_item_code,
			cidn.cost_item_name
			FROM cost_bonus_cost_rela cbcr
			LEFT JOIN cost_emp_type_attr ceta ON cbcr.group_id = ceta.group_id
			AND cbcr.hos_id = ceta.hos_id
			AND cbcr.copy_code = ceta.copy_code
			AND cbcr.emp_kind_code = ceta.emp_kind_code 
			LEFT JOIN COST_BONUS_ITEM_ARRT cbia ON cbcr.group_id = cbia.group_id
			AND cbcr.hos_id = cbia.hos_id
			AND cbcr.copy_code = cbia.copy_code
			AND cbcr.bonus_item_code = cbia.bonus_item_code
			left join COST_ITEM_DICT_NO cidn ON cbcr.group_id = cidn.group_id
			AND cbcr.hos_id = cidn.hos_id
			AND cbcr.copy_code = cidn.copy_code
			AND cbcr.cost_item_id = cidn.cost_item_id
			AND cbcr.cost_item_no = cidn.cost_item_no
            <where>     
             cbia.is_stop= '0'   
	        and cidn.is_stop= '0'                     
			    <if test="id != null and id != ''">
                    AND cbcr.id = #{id}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND cbcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cbcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cbcr.copy_code = #{copy_code}
               </if>
			   <if test=" b_year_month != null and b_year_month != '' and e_year_month != null and e_year_month != ''">
                  AND cbcr.acc_year ||''|| cbcr.acc_month between #{b_year_month} and  #{e_year_month}
            </if>
               <if test="acc_year != null and acc_year != ''">
                    AND cbcr.acc_year = #{acc_year}
               </if>
               <if test="acc_month != null and acc_month != ''">
                    AND cbcr.acc_month = #{acc_month}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cbcr.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="bonus_item_code != null and bonus_item_code != ''">
                    AND cbcr.bonus_item_code = #{bonus_item_code}
               </if>
			    <if test="cost_item_id != null and cost_item_id != ''">
                    AND cbcr.cost_item_id = #{cost_item_id}
               </if>
			    <if test="cost_item_no != null and cost_item_no != ''">
                    AND cbcr.cost_item_no = #{cost_item_no}
               </if>
        </where>   
				order by cbcr.id asc
    </select>
</mapper>

