<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostServeItemDictMapper">

	<resultMap id="costServeItemDict" type="com.chd.hrp.cost.entity.CostServeItemDict">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="server_item_code" column="server_item_code"/>
        <result property="server_item_name" column="server_item_name"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="is_stop" column="is_stop"/>
	</resultMap>
	
    <insert id="addCostServeItemDict" useGeneratedKeys="true" >
    
        INSERT INTO COST_SERVE_ITEM_DICT 
		(
            group_id,
            hos_id,
            copy_code,
            server_item_code,
            server_item_name,
            spell_code,
            wbx_code,
            is_stop
        ) 
		VALUES 
		(
		 #{group_id},
		 #{hos_id},
		 #{copy_code},
		 #{server_item_code},
		 #{server_item_name},
		 #{spell_code},
		 #{wbx_code},
		 #{is_stop}
        )
    </insert>

	<update id="updateCostServeItemDict" parameterType="java.util.Map">
    
        UPDATE COST_SERVE_ITEM_DICT SET
			 server_item_name = #{server_item_name},
			 spell_code = #{spell_code},
			 wbx_code = #{wbx_code},
			 is_stop = #{is_stop}
        WHERE 
		    group_id = #{group_id} and 
		    hos_id = #{hos_id} and 
		    copy_code = #{copy_code} and 
		    server_item_code = #{server_item_code} 
   
	</update>
 
	
    <delete id="deleteBatchCostServeItemDict" parameterType="java.util.List">
        DELETE FROM COST_SERVE_ITEM_DICT 
			WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			    group_id = #{item.group_id} and 
			    hos_id = #{item.hos_id} and 
			    copy_code = #{item.copy_code} and 
			    server_item_code = #{item.server_item_code}
			</foreach>
        
    </delete>
    
    <select id="queryCostServeItemDictByCode" resultType="com.chd.hrp.cost.entity.CostServeItemDict" parameterType="string" >
	  
        SELECT 
            group_id,
            hos_id,
            copy_code,
            server_item_code,
            server_item_name,
            spell_code,
            wbx_code,
            is_stop
		FROM COST_SERVE_ITEM_DICT 
	        <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="server_item_code != null and server_item_code != ''">
                    AND server_item_code = #{server_item_code}
               </if>
        </where>   	  
        
	</select>
	<select id="queryCostServeItemDict" parameterType="java.util.Map" resultMap="costServeItemDict" >
        
     SELECT 
            group_id,
            hos_id,
            copy_code,
            server_item_code,
            server_item_name,
            spell_code,
            wbx_code,
            is_stop
		FROM COST_SERVE_ITEM_DICT 
	        <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="server_item_code != null and server_item_code != ''">
                    AND server_item_code = #{server_item_code}
               </if>
			    <if test="server_item_name != null and server_item_name != ''">
                    AND server_item_name = #{server_item_name}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
        </where> 
    </select>
	<select id="queryCostServeItemDictPrint" parameterType="java.util.Map" resultType="java.util.Map" >
        
     SELECT 
            group_id,
            hos_id,
            copy_code,
            server_item_code,
            server_item_name,
            spell_code,
            wbx_code,
            is_stop
		FROM COST_SERVE_ITEM_DICT 
	        <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="server_item_code != null and server_item_code != ''">
                    AND server_item_code = #{server_item_code}
               </if>
			    <if test="server_item_name != null and server_item_name != ''">
                    AND server_item_name = #{server_item_name}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
        </where> 
    </select>
</mapper>

