<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostWageCostRelaMapper">

	<resultMap id="costWageCostRela" type="com.chd.hrp.cost.entity.CostWageCostRela">
        <result property="id" column="id"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="emp_kind_code" column="emp_kind_code"/>
        <result property="wage_item_code" column="wage_item_code"/>
        <result property="emp_kind_name" column="emp_kind_name"/>
        <result property="wage_item_name" column="wage_item_name"/>
        <result property="cost_item_id" column="cost_item_id"/>
        <result property="cost_item_no" column="cost_item_no"/>
        <result property="cost_item_code" column="cost_item_code"/>
        <result property="cost_item_name" column="cost_item_name"/>
	</resultMap>
	
     <insert id="addCostWageCostRela" useGeneratedKeys="true" >
    
        INSERT INTO COST_WAGE_COST_RELA 
		(
            id,
            group_id,
            hos_id,
            copy_code,
            acc_year,
            acc_month,
            emp_kind_code,
            wage_item_code,
            cost_item_id,
            cost_item_no
        ) 
		VALUES 
		(
		 COST_WAGE_COST_RELA_SEQ.NEXTVAL,
		 #{group_id,jdbcType=INTEGER},
		 #{hos_id,jdbcType=INTEGER},
		 #{copy_code,jdbcType=VARCHAR},
		 #{acc_year,jdbcType=VARCHAR},
		 #{acc_month,jdbcType=VARCHAR},
		 #{emp_kind_code,jdbcType=VARCHAR},
		 #{wage_item_code,jdbcType=VARCHAR},
		 #{cost_item_id,jdbcType=INTEGER},
		 #{cost_item_no,jdbcType=INTEGER}
        )
    
    </insert>
	
	<insert id="addBatchCostWageCostRela" parameterType="java.util.List" >
    
        INSERT INTO COST_WAGE_COST_RELA 
		(
    		id,
    		group_id,
    		hos_id,
    		copy_code,
    		acc_year,
    	    acc_month,
    		emp_kind_code,
    		wage_item_code,
    		cost_item_id,
    		cost_item_no
        ) 
		<!-- 没有序列的变通调整 顺序要调整一下 -->
		select COST_WAGE_COST_RELA_SEQ.NEXTVAL,A.* FROM (
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
		    #{item.group_id},
		    #{item.hos_id},
		    #{item.copy_code},
		    #{item.acc_year},
		    #{item.acc_month},
		    #{item.emp_kind_code},
		    #{item.wage_item_code},
		    #{item.cost_item_id},
		    #{item.cost_item_no}
		 from dual 
		</foreach>
		) A
    
    </insert>

	<update id="updateCostWageCostRela" parameterType="java.util.Map">
    
        UPDATE cost_wage_cost_rela SET
			 group_id = #{group_id},
			 hos_id = #{hos_id},
			 copy_code = #{copy_code},
			 acc_year = #{acc_year},
		     acc_month = #{acc_month},
			 emp_kind_code = #{emp_kind_code},
			 wage_item_code = #{wage_item_code},
			 cost_item_id = #{cost_item_id},
			 cost_item_no = #{cost_item_no}
        WHERE 
		    id = #{id}
   
	</update>
	
	<update id="updateBatchCostWageCostRela" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE cost_wage_cost_rela SET
			 group_id = #{group_id},
			 hos_id = #{hos_id},
			 copy_code = #{copy_code},
			 acc_year = #{acc_year},
			 acc_month = #{acc_month},
			 emp_kind_code = #{emp_kind_code},
			 wage_item_code = #{wage_item_code},
			 cost_item_id = #{cost_item_id},
			 cost_item_no = #{cost_item_no}
        WHERE 
		    id = #{item.id}
    </foreach>
	</update>

    <delete id="deleteCostWageCostRela" parameterType="java.util.Map">
   
        DELETE FROM cost_wage_cost_rela 
			WHERE
				id = #{id}
   
    </delete>
	
    <delete id="deleteBatchCostWageCostRela" parameterType="java.util.List">
			  DELETE FROM cost_wage_cost_rela 
        <where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			    <if test="item.group_id != null and item.group_id != ''">
                     group_id = #{item.group_id,jdbcType=INTEGER}
               </if>
			    <if test="item.hos_id != null and item.hos_id != ''">
                    AND hos_id = #{item.hos_id,jdbcType=INTEGER}
               </if>
			    <if test="item.copy_code != null and item.copy_code != ''">
                    AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
               </if>
               <if test="item.id != null and item.id != ''">
                    id = #{item.id,jdbcType=INTEGER}
               </if>
                <if test="item.acc_year != null and item.acc_year != ''">
                    AND acc_year = #{item.acc_year,jdbcType=VARCHAR}
               </if>
                <if test="item.acc_month != null and item.acc_month != ''">
                    AND acc_month  = #{item.acc_month,jdbcType=VARCHAR}
               </if>
			</foreach>
         </where>
        
    </delete>
    
    <select id="queryCostWageCostRelaByCode" resultType="com.chd.hrp.cost.entity.CostWageCostRela" parameterType="string" >
	  
        SELECT 
		cwcr.id, 
		cwcr.group_id,
		cwcr.hos_id,
		cwcr.copy_code,
		cwcr.acc_year,
		cwcr.acc_month,
		cwcr.emp_kind_code,
		ceta.emp_kind_name,
		cwcr.wage_item_code,
		cwia.wage_item_name,
		cwcr.cost_item_id,
		cwcr.cost_item_no,
		cidn.cost_item_code,
		cidn.cost_item_name
		FROM cost_wage_cost_rela cwcr LEFT JOIN cost_emp_type_attr ceta ON cwcr.group_id = ceta.group_id
		AND cwcr.hos_id = ceta.hos_id
		AND cwcr.copy_code = ceta.copy_code
		AND cwcr.emp_kind_code = ceta.emp_kind_code 
		LEFT JOIN COST_WAGE_ITEM_ARRT cwia ON cwcr.group_id = cwia.group_id
		AND cwcr.hos_id = cwia.hos_id
		AND cwcr.copy_code = cwia.copy_code
		AND cwcr.wage_item_code = cwia.wage_item_code 
		left join COST_ITEM_DICT_NO cidn ON cwcr.group_id = cidn.group_id
			AND cwcr.hos_id = cidn.hos_id
			AND cwcr.copy_code = cidn.copy_code
			AND cwcr.cost_item_id = cidn.cost_item_id
			AND cwcr.cost_item_no = cidn.cost_item_no
	        <where>             
	        cwia.is_stop = '0'  and   cidn.is_stop = '0'         
			    <if test="id != null and id != ''">
                    AND cwcr.id = #{id}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND cwcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cwcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cwcr.copy_code = #{copy_code}
               </if>
			    <if test="year_month != null and year_month != ''">
                     AND cwcr.acc_year || '' || cwcr.acc_month  = #{year_month}
               </if>
                <if test="acc_year != null and acc_year != ''">
                    AND cwcr.acc_year  = #{acc_year}
               </if>
               <if test="acc_month != null and acc_month != ''">
                    AND cwcr.acc_month = #{acc_month}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cwcr.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="wage_item_code != null and wage_item_code != ''">
                    AND cwcr.wage_item_code = #{wage_item_code}
               </if>
			    <if test="cost_item_id != null and cost_item_id != ''">
                    AND cwcr.cost_item_id = #{cost_item_id}
               </if>
			    <if test="cost_item_no != null and cost_item_no != ''">
                    AND cwcr.cost_item_no = #{cost_item_no}
               </if>
        </where>   	  
        
	</select>
	<select id="queryCostWageCostRela" parameterType="java.util.Map" resultMap="costWageCostRela" >
      
         SELECT 
		cwcr.id, 
		cwcr.group_id,
		cwcr.hos_id,
		cwcr.copy_code,
		cwcr.acc_year,
		cwcr.acc_month,
		cwcr.acc_year||cwcr.acc_month as year_month,
		cwcr.emp_kind_code,
		ceta.emp_kind_name,
		cwcr.wage_item_code,
		cwia.wage_item_name,
		cwcr.cost_item_id,
		cwcr.cost_item_no,
		cidn.cost_item_code,
		cidn.cost_item_name
		FROM cost_wage_cost_rela cwcr LEFT JOIN cost_emp_type_attr ceta ON cwcr.group_id = ceta.group_id
		AND cwcr.hos_id = ceta.hos_id
		AND cwcr.copy_code = ceta.copy_code
		AND cwcr.emp_kind_code = ceta.emp_kind_code 
		LEFT JOIN COST_WAGE_ITEM_ARRT cwia ON cwcr.group_id = cwia.group_id
		AND cwcr.hos_id = cwia.hos_id
		AND cwcr.copy_code = cwia.copy_code
		AND cwcr.wage_item_code = cwia.wage_item_code
		left join COST_ITEM_DICT_NO cidn ON cwcr.group_id = cidn.group_id
			AND cwcr.hos_id = cidn.hos_id
			AND cwcr.copy_code = cidn.copy_code
			AND cwcr.cost_item_id = cidn.cost_item_id
			AND cwcr.cost_item_no = cidn.cost_item_no 
            <where>     
            cwia.is_stop = '0'  and   cidn.is_stop = '0' 
			    <if test="group_id != null and group_id != ''">
                    AND cwcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cwcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cwcr.copy_code = #{copy_code}
               </if>
			   <if test=" b_year_month != null and b_year_month != '' and e_year_month != null and e_year_month != ''">
                  AND cwcr.acc_year ||''|| cwcr.acc_month between #{b_year_month} and  #{e_year_month}
            </if>
                <if test="acc_year != null and acc_year != ''">
                    AND cwcr.acc_year = #{acc_year}
               </if>
               <if test="acc_month != null and acc_month != ''">
                    AND cwcr.acc_month = #{acc_month}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cwcr.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="wage_item_code != null and wage_item_code != ''">
                    AND cwcr.wage_item_code = #{wage_item_code}
               </if>
			    <if test="cost_item_id != null and cost_item_id != ''">
                    AND cwcr.cost_item_id = #{cost_item_id}
               </if>
			    <if test="cost_item_no != null and cost_item_no != ''">
                    AND cwcr.cost_item_no = #{cost_item_no}
               </if>
        </where>   
				order by cwcr.group_id asc
    </select>
	<select id="queryCostWageCostRelaPrint" parameterType="java.util.Map" resultType="java.util.Map" >
      
         SELECT 
		cwcr.id, 
		cwcr.group_id,
		cwcr.hos_id,
		cwcr.copy_code,
		cwcr.acc_year,
		cwcr.acc_month,
		cwcr.acc_year||cwcr.acc_month as year_month,
		cwcr.emp_kind_code,
		ceta.emp_kind_name,
		cwcr.wage_item_code,
		cwia.wage_item_name,
		cwcr.cost_item_id,
		cwcr.cost_item_no,
		cidn.cost_item_code,
		cidn.cost_item_name
		FROM cost_wage_cost_rela cwcr LEFT JOIN cost_emp_type_attr ceta ON cwcr.group_id = ceta.group_id
		AND cwcr.hos_id = ceta.hos_id
		AND cwcr.copy_code = ceta.copy_code
		AND cwcr.emp_kind_code = ceta.emp_kind_code 
		LEFT JOIN COST_WAGE_ITEM_ARRT cwia ON cwcr.group_id = cwia.group_id
		AND cwcr.hos_id = cwia.hos_id
		AND cwcr.copy_code = cwia.copy_code
		AND cwcr.wage_item_code = cwia.wage_item_code
		left join COST_ITEM_DICT_NO cidn ON cwcr.group_id = cidn.group_id
			AND cwcr.hos_id = cidn.hos_id
			AND cwcr.copy_code = cidn.copy_code
			AND cwcr.cost_item_id = cidn.cost_item_id
			AND cwcr.cost_item_no = cidn.cost_item_no 
            <where>     
            cwia.is_stop = '0'  and   cidn.is_stop = '0' 
			    <if test="group_id != null and group_id != ''">
                    AND cwcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cwcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cwcr.copy_code = #{copy_code}
               </if>
			   <if test=" b_year_month != null and b_year_month != '' and e_year_month != null and e_year_month != ''">
                  AND cwcr.acc_year ||''|| cwcr.acc_month between #{b_year_month} and  #{e_year_month}
            </if>
                <if test="acc_year != null and acc_year != ''">
                    AND cwcr.acc_year = #{acc_year}
               </if>
               <if test="acc_month != null and acc_month != ''">
                    AND cwcr.acc_month = #{acc_month}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cwcr.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="wage_item_code != null and wage_item_code != ''">
                    AND cwcr.wage_item_code = #{wage_item_code}
               </if>
			    <if test="cost_item_id != null and cost_item_id != ''">
                    AND cwcr.cost_item_id = #{cost_item_id}
               </if>
			    <if test="cost_item_no != null and cost_item_no != ''">
                    AND cwcr.cost_item_no = #{cost_item_no}
               </if>
        </where>   
				order by cwcr.group_id asc
    </select>
</mapper>

