<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.cost.dao.CostAllocationProcessMapper">

	<resultMap id="costAllocationProcess"
		type="java.util.Map">

		<result property="ass_amount" column="ass_amount" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="dept_id" column="dept_id" />
		<result property="server_dept_id" column="server_dept_id" />
		<result property="cost_item_id" column="cost_item_id" />
		<result property="source_id" column="source_id" />
		
		<result property="source_code" column="source_code" />
		<result property="source_name" column="source_name" />
		<result property="cost_item_code" column="cost_item_code" />
		<result property="cost_item_name" column="cost_item_name" />
		<result property="server_dept_code" column="server_dept_code" />
		<result property="server_dept_name" column="server_dept_name" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		
		<result property="dir_amount" column="dir_amount" />
		<result property="dir_man_amount" column="dir_man_amount" />
		<result property="dir_ass_amount" column="dir_ass_amount" />
		<result property="dir_med_amount" column="dir_med_amount" />
		<result property="indir_ass_man_amount"
			column="indir_ass_man_amount" />
		<result property="indir_med_man_amount"
			column="indir_med_man_amount" />
		<result property="indir_ass_med_man_amount"
			column="indir_ass_med_man_amount" />
		<result property="indir_med_ass_amount"
			column="indir_med_ass_amount" />
	</resultMap>

	<insert id="addBatchCostAllocationProcess"
		parameterType="java.util.List">

		INSERT INTO COST_ALLOCATION_PROCESS
		(
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		dept_id,
		server_dept_id,
		cost_item_id,
		source_id,
		dir_amount,
		dir_man_amount,
		dir_ass_amount,
		dir_med_amount,
		indir_ass_man_amount,
		indir_med_man_amount,
		indir_ass_med_man_amount,
		indir_med_ass_amount
		)

		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.acc_year,jdbcType=VARCHAR},
			#{item.acc_month,jdbcType=VARCHAR},
			#{item.dept_id,jdbcType=INTEGER},
			#{item.dept_no,jdbcType=INTEGER},
			#{item.server_dept_id,jdbcType=INTEGER},
			#{item.server_dept_no,jdbcType=INTEGER},
			#{item.cost_item_id,jdbcType=INTEGER},
			#{item.cost_item_no,jdbcType=INTEGER},
			#{item.source_id,jdbcType=INTEGER},
			#{item.dir_amount,jdbcType=INTEGER},
			#{item.equal_amount,jdbcType=INTEGER},
			#{item.dir_man_amount,jdbcType=INTEGER},
			#{item.dir_ass_amount,jdbcType=INTEGER},
			#{item.dir_med_amount,jdbcType=INTEGER},
			#{item.indir_ass_man_amount,jdbcType=INTEGER},
			#{item.indir_med_man_amount,jdbcType=INTEGER},
			#{item.indir_ass_med_man_amount,jdbcType=INTEGER},
			#{item.indir_med_ass_amount,jdbcType=INTEGER}
			from dual
		</foreach>

	</insert>


	<delete id="deleteCostAllocationProcess"
		parameterType="java.util.Map">

		DELETE FROM COST_ALLOCATION_PROCESS
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND acc_month = #{acc_month}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no}
			</if>
			<if test="server_dept_id != null and server_dept_id != ''">
				AND server_dept_id = #{server_dept_id}
			</if>
			<if test="server_dept_no != null and server_dept_no != ''">
				AND server_dept_no = #{server_dept_no}
			</if>
			<if test="cost_item_id != null and cost_item_id != ''">
				AND cost_item_id = #{cost_item_id}
			</if>
			<if test="cost_item_no != null and cost_item_no != ''">
				AND cost_item_no = #{cost_item_no}
			</if>
			<if test="source_id != null and source_id != ''">
				AND source_id = #{source_id}
			</if>
		</where>
	</delete>
	<select id="queryCostAllocationProcess"
		parameterType="java.util.Map" resultMap="costAllocationProcess">
		select t1.group_id,
		t1.hos_id,
		t1.copy_code,
		t1.acc_year,
		t1.acc_month,
		t1.dept_id,
		t1.server_dept_id,
		t1.cost_item_id,
		t1.source_id,
		t1.dir_amount,
		t1.dir_man_amount,
		t1.dir_ass_amount,
		t1.dir_med_amount,
		t1.indir_ass_man_amount,
		t1.indir_med_man_amount,
		t1.indir_ass_med_man_amount,
		t1.indir_med_ass_amount,
		t2.dept_code,
		t2.dept_name,
		t3.dept_code server_dept_code,
		t3.dept_name server_dept_name,
		t4.cost_item_code,
		t4.cost_item_name,
		t5.source_code,
		t5.source_name
		from cost_allocation_process t1
		left join hos_dept t2
		on t1.group_id = t2.group_id
		and t1.hos_id = t2.hos_id
		and t1.dept_id = t2.dept_id
		left join hos_dept t3
		on t1.group_id = t3.group_id
		and t1.hos_id = t3.hos_id
		and t1.server_dept_id = t3.dept_id
		left join cost_item_dict t4
		on t1.group_id = t4.group_id
		and t1.hos_id = t4.hos_id
		and t1.copy_code = t4.copy_code
		and t1.cost_item_id = t4.cost_item_id
		left join hos_source t5
		on t1.group_id = t5.group_id
		and t1.hos_id = t5.hos_id
		and t1.source_id = t5.source_id
		<where>
			t1.group_id = #{group_id}
			AND t1.hos_id = #{hos_id}
			AND t1.copy_code = #{copy_code}
			
			<if test="year_month != null and year_month != ''">
				AND t1.acc_year||t1.acc_month = #{year_month}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND t1.acc_year = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND t1.acc_month = #{acc_month}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND t1.dept_id = #{dept_id}
			</if>
			<if test="server_dept_id != null and server_dept_id != ''">
				AND t1.server_dept_id = #{server_dept_id}
			</if>
			<if test="cost_item_id != null and cost_item_id != ''">
				AND t1.cost_item_id = #{cost_item_id}
			</if>
			<if test="source_id != null and source_id != ''">
				AND t1.source_id = #{source_id}
			</if>
		</where>
	</select>
</mapper>

