<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostEmpKindWageItemSetMapper">

	<resultMap id="costEmpKindWageItemSet" type="com.chd.hrp.cost.entity.CostEmpKindWageItemSet">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="emp_kind_code" column="emp_kind_code"/>
        <result property="wage_item_code" column="wage_item_code"/>
	</resultMap>
	<resultMap type="com.chd.hrp.cost.entity.HrpCostSelect" id="hrpCostSelect">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
	
    <insert id="addCostEmpKindWageItemSet" useGeneratedKeys="true" >
    
        INSERT INTO COST_EMP_KIND_WAGE_ITEM_SET 
		(
            group_id,
            hos_id,
            copy_code,
            emp_kind_code,
            wage_item_code
        ) 
		VALUES 
		(
		 #{group_id},
		 #{hos_id},
		 #{copy_code},
		 #{emp_kind_code},
		 #{wage_item_code}
        )
    
    </insert>
	
	<insert id="addBatchCostEmpKindWageItemSet" parameterType="java.util.List" >
    
        INSERT INTO COST_EMP_KIND_WAGE_ITEM_SET 
		(
    		group_id,
    		hos_id,
    		copy_code,
    		emp_kind_code,
    		wage_item_code
        ) 
		<!-- 没有序列的变通调整 顺序要调整一下 -->
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
		    #{item.group_id},
		    #{item.hos_id},
		    #{item.copy_code},
		    #{item.emp_kind_code},
		    #{item.wage_item_code}
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateCostEmpKindWageItemSet" parameterType="java.util.Map">
    
        UPDATE cost_emp_kind_wage_item_set SET
        WHERE 
		    group_id = #{group_id} and 
		    hos_id = #{hos_id} and 
		    copy_code = #{copy_code} and 
		    emp_kind_code = #{emp_kind_code} and 
		    wage_item_code = #{wage_item_code}
   
	</update>
	
	<update id="updateBatchCostEmpKindWageItemSet" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE cost_emp_kind_wage_item_set SET
        WHERE 
		    group_id = #{item.group_id} and 
		    hos_id = #{item.hos_id} and 
		    copy_code = #{item.copy_code} and 
		    emp_kind_code = #{item.emp_kind_code} and 
		    wage_item_code = #{item.wage_item_code}
    </foreach>
	</update>

    <delete id="deleteCostEmpKindWageItemSet" parameterType="java.util.Map">
   
        DELETE FROM cost_emp_kind_wage_item_set 
			WHERE
				group_id = #{group_id}  and 
				hos_id = #{hos_id}  and 
				copy_code = #{copy_code}  and 
				emp_kind_code = #{emp_kind_code}  and 
				wage_item_code = #{wage_item_code}
   
    </delete>
	
    <delete id="deleteBatchCostEmpKindWageItemSet" parameterType="java.util.List">
        DELETE FROM cost_emp_kind_wage_item_set 
			WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			    group_id = #{item.group_id} and 
			    hos_id = #{item.hos_id} and 
			    copy_code = #{item.copy_code} and 
			    emp_kind_code = #{item.emp_kind_code} and 
			    wage_item_code = #{item.wage_item_code}
			</foreach>
        
    </delete>
    
    
    <select id="queryCostEmpKindWageItemSetByCode" resultType="com.chd.hrp.cost.entity.CostEmpKindWageItemSet" parameterType="string" >
	  
        SELECT 
           cekws.group_id,
            cekws.hos_id,
            cekws.copy_code,
            cekws.emp_kind_code,
            ceta.emp_kind_name,
            cekws.wage_item_code,
            cwia.wage_item_name
		    FROM cost_emp_kind_wage_item_set cekws left join cost_emp_type_attr ceta 
		    on cekws.group_id = ceta.group_id
		    AND cekws.hos_id = ceta.hos_id
		    AND cekws.copy_code = ceta.copy_code
		    AND cekws.emp_kind_code = ceta.emp_kind_code 
		    LEFT JOIN COST_WAGE_ITEM_ARRT cwia 
		    ON cekws.group_id = cwia.group_id
		    AND cekws.hos_id = cwia.hos_id
		    AND cekws.copy_code = cwia.copy_code
		    AND cekws.wage_item_code = cwia.wage_item_code
	        <where>          
	         cwia.is_stop='0'              
			    <if test="group_id != null and group_id != ''">
                    AND cekws.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cekws.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cekws.copy_code = #{copy_code}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cekws.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="wage_item_code != null and wage_item_code != ''">
                    AND cekws.wage_item_code = #{wage_item_code}
               </if>
        </where>   	  
        
	</select>
	<select id="queryCostEmpKindWageItemSet" parameterType="java.util.Map" resultMap="costEmpKindWageItemSet" >
      
        SELECT 
           cekws.group_id,
            cekws.hos_id,
            cekws.copy_code,
            cekws.emp_kind_code,
            ceta.emp_kind_name,
            cekws.wage_item_code,
            cwia.wage_item_name
		    FROM cost_emp_kind_wage_item_set cekws left join cost_emp_type_attr ceta 
		    on cekws.group_id = ceta.group_id
		    AND cekws.hos_id = ceta.hos_id
		    AND cekws.copy_code = ceta.copy_code
		    AND cekws.emp_kind_code = ceta.emp_kind_code 
		    LEFT JOIN COST_WAGE_ITEM_ARRT cwia 
		    ON cekws.group_id = cwia.group_id
		    AND cekws.hos_id = cwia.hos_id
		    AND cekws.copy_code = cwia.copy_code
		    AND cekws.wage_item_code = cwia.wage_item_code
            <where>            
            cwia.is_stop='0'         
			    <if test="group_id != null and group_id != ''">
                    AND cekws.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cekws.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cekws.copy_code = #{copy_code}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cekws.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="wage_item_code != null and wage_item_code != ''">
                    AND cekws.wage_item_code = #{wage_item_code}
               </if>
        </where>   
				order by cekws.group_id asc
    </select>
    
    <select id="queryCostEmpKindWageItemSetPrint" parameterType="java.util.Map" resultType="java.util.Map" >
      
        SELECT 
           cekws.group_id,
            cekws.hos_id,
            cekws.copy_code,
            cekws.emp_kind_code,
            ceta.emp_kind_name,
            cekws.wage_item_code,
            cwia.wage_item_name
		    FROM cost_emp_kind_wage_item_set cekws left join cost_emp_type_attr ceta 
		    on cekws.group_id = ceta.group_id
		    AND cekws.hos_id = ceta.hos_id
		    AND cekws.copy_code = ceta.copy_code
		    AND cekws.emp_kind_code = ceta.emp_kind_code 
		    LEFT JOIN COST_WAGE_ITEM_ARRT cwia 
		    ON cekws.group_id = cwia.group_id
		    AND cekws.hos_id = cwia.hos_id
		    AND cekws.copy_code = cwia.copy_code
		    AND cekws.wage_item_code = cwia.wage_item_code
            <where>            
            cwia.is_stop='0'         
			    <if test="group_id != null and group_id != ''">
                    AND cekws.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cekws.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cekws.copy_code = #{copy_code}
               </if>
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cekws.emp_kind_code = #{emp_kind_code}
               </if>
			    <if test="wage_item_code != null and wage_item_code != ''">
                    AND cekws.wage_item_code = #{wage_item_code}
               </if>
        </where>   
				order by cekws.group_id asc
    </select>
    
    <select id="queryCostEmpWageList"  resultMap="hrpCostSelect">
      
        select 
		cekwis.wage_item_code id,
		cwia.wage_item_name text
		from COST_EMP_KIND_WAGE_ITEM_SET cekwis 
		left join cost_wage_item_arrt cwia
		on  cekwis.group_id = cwia.group_id and cekwis.hos_id = cwia.hos_id 
		and cekwis.copy_code = cwia.copy_code
		and cekwis.wage_item_code = cwia.wage_item_code 
            <where>   
            cwia.is_stop='0'
            	<if test="group_id != null and group_id != ''">
                    AND cekwis.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cekwis.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cekwis.copy_code = #{copy_code}
               </if>              
			    <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cekwis.emp_kind_code = #{emp_kind_code}
               </if> 
        </where>   
          group by cekwis.wage_item_code,cwia.wage_item_name
				order by cekwis.wage_item_code asc
    </select>
    
    <select id="queryCostEmpWageMap"  resultMap="hrpCostSelect">
      
        select 
		cwia.wage_item_code id,
		cwia.wage_item_name text
		from  cost_wage_item_arrt cwia
            <where>   
             cwia.wage_item_code not in
            (select cekws.wage_item_code from cost_emp_kind_wage_item_set cekws
            where cekws.emp_kind_code = #{emp_kind_code}
            and cekws.scheme_id = #{scheme_id}
            )
            and cwia.is_stop='0' 
            	<if test="group_id != null and group_id != ''">
                    AND cwia.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cwia.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cwia.copy_code = #{copy_code}
               </if>              
        </where>   
          group by cwia.wage_item_code,cwia.wage_item_name
				order by cwia.wage_item_code asc
    </select>
    
    <select id="queryCostEmpWageItemList"  resultMap="hrpCostSelect">
      
      SELECT cekws.wage_item_code AS id, cwia.wage_item_name AS text
	FROM cost_emp_kind_wage_item_set cekws
	LEFT JOIN cost_wage_item_arrt cwia ON 
cekws.wage_item_code = cwia.wage_item_code
            <where>   
            and cwia.is_stop='0' 
            	<if test="group_id != null and group_id != ''">
                    AND cwia.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cwia.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cwia.copy_code = #{copy_code}
               </if>            
                <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND cwss.emp_kind_code = #{emp_kind_code}
               </if> 
               <if test="scheme_id != null and scheme_id != ''">
                    AND cwss.scheme_id = #{scheme_id}
               </if> 
        </where>   
          group by cekws.wage_item_code,cwia.wage_item_name
				order by cekws.wage_item_code asc
    </select>
    
    <select id="queryCostEmpWageItem"  resultMap="hrpCostSelect">
      
      SELECT cwia.wage_item_code AS id, cwia.wage_item_name AS text
	FROM cost_wage_item_arrt cwia 
            <where>   
            and cwia.is_stop='0' 
            	<if test="group_id != null and group_id != ''">
                    AND cwia.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cwia.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cwia.copy_code = #{copy_code}
               </if>            
        </where>   
          group by cwia.wage_item_code,cwia.wage_item_name
				order by cwia.wage_item_code asc
    </select>
    
    <!-- 2016/10/27 lxj 
    	按条件查询数据数量
    -->
    <select id="queryCostEmpKindWageItemSetByBatchCode" parameterType="java.util.Map" resultType="Integer" >
      
        SELECT count(*)
        FROM COST_EMP_KIND_WAGE_ITEM_SET
		    WHERE
            <foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
                    (group_id = #{item.group_id}
                    AND hos_id = #{item.hos_id}
                    AND copy_code = #{item.copy_code}
                    AND emp_kind_code = #{item.emp_kind_code}
                    AND wage_item_code = #{item.wage_item_code}
            		)
            </foreach>
    </select>
    
	<!-- 通过职工分类查询工资项编码 -->
	<select id="queryCostEmpKindWageItemSetByEmpKindCode"  parameterType="java.util.Map" resultMap="costEmpKindWageItemSet">
	           SELECT 
                group_id,
                hos_id,
                copy_code,
                emp_kind_code,
                wage_item_code
         FROM cost_emp_kind_wage_item_set
	        <where>  
            	<if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
                </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>   
                <if test="emp_kind_code != null and emp_kind_code != ''">
                    AND emp_kind_code = #{emp_kind_code}
               </if>          
          </where>  
	</select>
	
</mapper>

