<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostParaDeptMapper">

	<resultMap id="costParaDept" type="com.chd.hrp.cost.entity.CostParaDept">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="bill_code" column="bill_code" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="type_code" column="type_code" />
		<result property="natur_code" column="natur_code" />
		<result property="para_code" column="para_code" />
	</resultMap>

	<resultMap id="costParaDeptMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="bill_code" column="bill_code" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="para_code" column="para_code" />
	</resultMap>

	<insert id="add" useGeneratedKeys="true">

		INSERT INTO COST_PARA_DEPT (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		bill_code
		,
		dept_id
		,
		dept_no
		,
		type_code
		,
		natur_code
		,
		para_code
		) VALUES (
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{acc_year,jdbcType=VARCHAR}
		,
		#{acc_month,jdbcType=VARCHAR}
		,
		#{bill_code,jdbcType=INTEGER}
		,
		#{dept_id,jdbcType=INTEGER}
		,
		#{dept_no,jdbcType=INTEGER}

		#{type_code,jdbcType=VARCHAR}
		,
		#{natur_code,jdbcType=VARCHAR}
		,
		#{para_code,jdbcType=VARCHAR}
		)

	</insert>
	<insert id="addBatch" parameterType="java.util.List">

		INSERT INTO COST_PARA_DEPT (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		bill_code
		,
		dept_id
		,
		dept_no
		,type_code
		,natur_code
		,para_code
		)
		select t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id}
			,
			#{item.hos_id}
			,
			#{item.copy_code}
			,
			#{item.acc_year}
			,
			#{item.acc_month}
			,
			#{item.bill_code}
			,
			#{item.dept_id}
			,
			#{item.dept_no}
			,
			#{item.type_code}
			,
			#{item.natur_code}
			,
			#{item.para_code}

			from dual
		</foreach>
		)t
	</insert>
	<insert id="addBatchByGenerate" parameterType="java.util.Map">

		INSERT INTO COST_PARA_DEPT (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		bill_code
		,
		dept_id
		,
		dept_no
		,type_code
		,natur_code
		,para_code
		)

		SELECT t1.group_id,
		t1.hos_id,
		 #{copy_code,jdbcType=VARCHAR} copy_code,
		 #{acc_year,jdbcType=VARCHAR} acc_year,
		#{acc_month,jdbcType=VARCHAR} acc_month,
		#{bill_code} bill_code,
		t1.dept_id,
		t3.dept_no,
		t1.type_code,
		t1.natur_code,
		t1.para_code 
		from ACC_DEPT_ATTR t1
		inner join hos_dept_dict t3
		on
		t1.group_id =
		t3.group_id
		and t1.hos_id = t3.hos_id
		and t1.dept_id =
		t3.dept_id
		where
		t3.is_stop = 0
		and
		t3.is_last=1
		and
		t1.group_id = #{group_id,jdbcType=INTEGER}
		and t1.hos_id =
		#{hos_id,jdbcType=INTEGER}
		and
		t1.type_code in ${type_code}
		<if test="natur_code != null and natur_code != ''">
			and t1.natur_code in
			${natur_code}
		</if>
		<if test="para_code != null and para_code != ''">
			and t1.para_code =
			${natur_code}
		</if>
	</insert>

	<update id="update" parameterType="java.util.Map">

		UPDATE cost_para_dept
		<trim prefix="SET" suffixOverrides=",">
		</trim>
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="bill_code != null and bill_code != ''">
				AND bill_code = #{bill_code,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
		</where>
	</update>
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE cost_para_dept
			<trim prefix="SET" suffixOverrides=",">
			</trim>
			<where>
				<if test="item.group_id != null and item.group_id != ''">
					AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.acc_year != null and item.acc_year != ''">
					AND acc_year = #{item.acc_year,jdbcType=VARCHAR}
				</if>
				<if test="item.acc_month != null and item.acc_month != ''">
					AND acc_month = #{item.acc_month,jdbcType=VARCHAR}
				</if>
				<if test="item.bill_code != null and item.bill_code != ''">
					AND bill_code = #{item.bill_code,jdbcType=INTEGER}
				</if>
				<if test="item.dept_id != null and item.dept_id != ''">
					AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.dept_no != null and item.dept_no != ''">
					AND dept_no = #{item.dept_no,jdbcType=INTEGER}
				</if>
			</where>
		</foreach>
	</update>

	<delete id="delete" parameterType="java.util.Map">

		DELETE FROM cost_para_dept
		<where>
			<if test="group_id != null and group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="bill_code != null and bill_code != ''">
				AND bill_code = #{bill_code,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
		</where>
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM cost_para_dept
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
					group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.acc_year != null and item.acc_year != ''">
					AND acc_year = #{item.acc_year,jdbcType=VARCHAR}
				</if>
				<if test="item.acc_month != null and item.acc_month != ''">
					AND acc_month = #{item.acc_month,jdbcType=VARCHAR}
				</if>
				<if test="item.bill_code != null and item.bill_code != ''">
					AND bill_code = #{item.bill_code,jdbcType=INTEGER}
				</if>
				<if test="item.dept_id != null and item.dept_id != ''">
					AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.dept_no != null and item.dept_no != ''">
					AND dept_no = #{item.dept_no,jdbcType=INTEGER}
				</if>
			</foreach>
		</where>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="costParaDept">

		SELECT
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.acc_year,
		a.acc_month,
		a.bill_code,
		a.dept_id,
		a.dept_no,
		dept_code,
		dept_name
		FROM
		COST_PARA_DEPT
		a
		LEFT JOIN hos_dept_dict b ON
		a.group_id =
		b.group_id
		AND a.hos_id =
		b.hos_id
		AND a.dept_id =
		b.dept_id
		and a.dept_no
		= b.dept_no
		<where>
			 b.is_last = 1
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND a.acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND a.acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="bill_code != null and bill_code != ''">
				AND a.bill_code = #{bill_code,jdbcType=INTEGER}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND b.dept_code like '${dept_code}%'
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND a.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			
		</where>
		order by dept_code asc
	</select>
	<select id="queryCostParaDeptPrint" parameterType="java.util.Map" resultType="java.util.Map">

		SELECT
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.acc_year,
		a.acc_month,
		a.bill_code,
		a.dept_id,
		a.dept_no,
		dept_code,
		dept_name
		FROM
		COST_PARA_DEPT
		a
		LEFT JOIN hos_dept_dict b ON
		a.group_id =
		b.group_id
		AND a.hos_id =
		b.hos_id
		AND a.dept_id =
		b.dept_id
		and a.dept_no
		= b.dept_no
		<where>
			b.is_stop = 0
			AND b.is_last = 1
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND a.acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND a.acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="bill_code != null and bill_code != ''">
				AND a.bill_code = #{bill_code,jdbcType=INTEGER}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND b.dept_code like '${dept_code}%'
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND a.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND a.dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
		</where>
		order by dept_code asc
	</select>
	<select id="queryByCode" resultMap="costParaDept" parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		bill_code,
		dept_id,
		dept_no
		FROM
		cost_para_dept
		WHERE
		group_id = #{group_id,jdbcType=INTEGER}
		and
		hos_id = #{hos_id,jdbcType=INTEGER} and
		copy_code =
		#{copy_code,jdbcType=VARCHAR} and
		acc_year =
		#{acc_year,jdbcType=VARCHAR} and
		acc_month =
		#{acc_month,jdbcType=VARCHAR} and
		bill_code =
		#{bill_code,jdbcType=INTEGER} and
		dept_id = #{dept_id,jdbcType=INTEGER}
		and
		dept_no = #{dept_no,jdbcType=INTEGER}

	</select>
	<select id="queryByUniqueness" resultMap="costParaDept"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		bill_code,
		dept_id,
		dept_no
		FROM
		COST_PARA_DEPT
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="bill_code != null and bill_code != ''">
				AND bill_code = #{bill_code,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
		</where>
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="costParaDept" parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		bill_code,
		dept_id,
		dept_no
		FROM
		COST_PARA_DEPT
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year,jdbcType=VARCHAR}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND acc_month = #{acc_month,jdbcType=VARCHAR}
			</if>
			<if test="bill_code != null and bill_code != ''">
				AND bill_code = #{bill_code,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
		</where>
		order by group_id asc
	</select>
</mapper>

