<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.check.special.AssCheckDpDetailSpecialMapper">
	
	<resultMap id="assCheckDpDetailSpecial" type="com.chd.hrp.ass.entity.check.special.AssCheckDpDetailSpecial">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="check_plan_no" column="check_plan_no"/>
	<result property="check_no" column="check_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="acc_amount" column="acc_amount"/>
	<result property="price" column="price"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="p_reason" column="p_reason"/>
	</resultMap>
		
	<resultMap id="assCheckDpDetailSpecialMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="check_plan_no" column="check_plan_no"/>
	<result property="check_no" column="check_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="acc_amount" column="acc_amount"/>
	<result property="price" column="price"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="p_reason" column="p_reason"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_CHECK_DP_DETAIL_SPECIAL (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="check_plan_no != null and check_plan_no != ''">
		check_plan_no
		,
		</if>
		<if test="check_no != null and check_no != ''">
		check_no
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		dept_id
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		dept_no
		,
		</if>
		<if test="ass_id != null and ass_id != ''">
		ass_id
		,
		</if>
		<if test="ass_no != null and ass_no != ''">
		ass_no
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no
		,
		</if>
		<if test="acc_amount != null and acc_amount != ''">
		acc_amount
		,
		</if>
		<if test="price != null and price != ''">
		price
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		add_depre
		,
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		add_depre_month
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money
		,
		</if>
		<if test="p_reason != null and p_reason != ''">
		p_reason
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code}
		,
		</if>
		<if test="check_plan_no != null and check_plan_no != ''">
		#{check_plan_no}
		,
		</if>
		<if test="check_no != null and check_no != ''">
		#{check_no}
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		#{dept_id}
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		#{dept_no}
		,
		</if>
		<if test="ass_id != null and ass_id != ''">
		#{ass_id}
		,
		</if>
		<if test="ass_no != null and ass_no != ''">
		#{ass_no}
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		#{ass_card_no}
		,
		</if>
		<if test="acc_amount != null and acc_amount != ''">
		#{acc_amount}
		,
		</if>
		<if test="price != null and price != ''">
		#{price}
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		#{add_depre}
		,
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		#{add_depre_month}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		#{cur_money}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		#{fore_money}
		,
		</if>
		<if test="p_reason != null and p_reason != ''">
		#{p_reason}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_CHECK_DP_DETAIL_SPECIAL (
		group_id
		,
		hos_id
		,
		copy_code
		,
		check_plan_no
		,
		check_no
		,
		dept_id
		,
		dept_no
		,
		ass_id
		,
		ass_no
		,
		ass_card_no
		,
		acc_amount
		,
		price
		,
		add_depre
		,
		add_depre_month
		,
		cur_money
		,
		fore_money
		,
		p_reason
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id}
			,
			#{item.hos_id}
			,
			#{item.copy_code}
			,
			#{item.check_plan_no}
			,
			#{item.check_no}
			,
			#{item.dept_id}
			,
			#{item.dept_no}
			,
			#{item.ass_id}
			,
			#{item.ass_no}
			,
			nvl(#{item.ass_card_no},'') ass_card_no
			,
			nvl(#{item.acc_amount},0) acc_amount
			,
			nvl(#{item.price},0) price
			,
			nvl(#{item.add_depre},0) add_depre
			,
			nvl(#{item.add_depre_month},0) add_depre_month
			,
			nvl(#{item.cur_money},0) cur_money
			,
			nvl(#{item.fore_money},0) fore_money
			,
			nvl(#{item.p_reason},'') p_reason
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_check_dp_detail_special 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no = #{ass_card_no}
		,
		</if>
		<if test="acc_amount != null and acc_amount != ''">
		acc_amount = #{acc_amount}
		,
		</if>
		<if test="price != null and price != ''">
		price = #{price}
		,
		</if>
		<if test="add_depre != null and add_depre != ''">
		add_depre = #{add_depre}
		,
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		add_depre_month = #{add_depre_month}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money = #{cur_money}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money = #{fore_money}
		,
		</if>
		<if test="p_reason != null and p_reason != ''">
		p_reason = #{p_reason}
		,
		</if>
		</trim>
		where                 
		AND group_id = #{group_id}
		AND hos_id = #{hos_id}
		AND copy_code = #{copy_code}
		AND check_plan_no = #{check_plan_no}
		AND check_no = #{check_no}
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no}
		</if>
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_check_dp_detail_special 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.ass_card_no != null and item.ass_card_no != ''">
			ass_card_no = #{item.ass_card_no}
			,
			</if>
			<if test="item.acc_amount != null and item.acc_amount != ''">
			acc_amount = #{item.acc_amount}
			,
			</if>
			<if test="item.price != null and item.price != ''">
			price = #{item.price}
			,
			</if>
			<if test="item.add_depre != null and item.add_depre != ''">
			add_depre = #{item.add_depre}
			,
			</if>
			<if test="item.add_depre_month != null and item.add_depre_month != ''">
			add_depre_month = #{item.add_depre_month}
			,
			</if>
			<if test="item.cur_money != null and item.cur_money != ''">
			cur_money = #{item.cur_money}
			,
			</if>
			<if test="item.fore_money != null and item.fore_money != ''">
			fore_money = #{item.fore_money}
			,
			</if>
			<if test="item.p_reason != null and item.p_reason != ''">
			p_reason = #{item.p_reason}
			,
			</if>
			</trim>
			where                 
		AND group_id = #{group_id}
		AND hos_id = #{hos_id}
		AND copy_code = #{copy_code}
		AND check_plan_no = #{check_plan_no}
		AND check_no = #{check_no}
			<if test="item.dept_id != null and item.dept_id != ''">
			AND dept_id = #{item.dept_id}
			</if>  
			<if test="item.dept_no != null and item.dept_no != ''">
			AND dept_no = #{item.dept_no}
			</if>  
			<if test="item.ass_id != null and item.ass_id != ''">
			AND ass_id = #{item.ass_id}
			</if>  
			<if test="item.ass_no != null and item.ass_no != ''">
			AND ass_no = #{item.ass_no}
			</if>  
			<if test="item.ass_card_no != null and item.ass_card_no != ''">
			AND ass_card_no = #{item.ass_card_no}
			</if>  
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_check_dp_detail_special 
		where                 
		AND group_id = #{group_id}
		AND hos_id = #{hos_id}
		AND copy_code = #{copy_code}
		AND check_plan_no = #{check_plan_no}
		AND check_no = #{check_no}
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no}
		</if>
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_check_dp_detail_special 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code}
				</if>
				<if test="item.check_plan_no != null and item.check_plan_no != ''">
				AND check_plan_no = #{item.check_plan_no}
				</if>
				<if test="item.check_no != null and item.check_no != ''">
				AND check_no = #{item.check_no}
				</if>
				<if test="item.dept_id != null and item.dept_id != ''">
				AND dept_id = #{item.dept_id}
				</if>
				<if test="item.dept_no != null and item.dept_no != ''">
				AND dept_no = #{item.dept_no}
				</if>
				<if test="item.ass_id != null and item.ass_id != ''">
				AND ass_id = #{item.ass_id}
				</if>
				<if test="item.ass_no != null and item.ass_no != ''">
				AND ass_no = #{item.ass_no}
				</if>
				<if test="item.ass_card_no != null and item.ass_card_no != ''">
				AND ass_card_no = #{item.ass_card_no}
				</if>
			</foreach>
	    </where>  
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="assCheckDpDetailSpecialMap" >
		SELECT 
		    a.ass_card_no,a.acc_amount,a.price,a.add_depre_month,a.cur_money,a.fore_money,ad.ass_name,ad.ass_id||'@'||ad.ass_no ass_id  ,ad.ass_code
			from ASS_CHECK_DP_DETAIL_SPECIAL a left join ASS_NO_DICT ad
			            on ad.group_id = a.group_id
						and ad.hos_id = a.hos_id
						and ad.copy_code = a.copy_code
						and ad.ass_id=a.ass_id
						and ad.is_stop = 0
	    where                 
	    a.group_id = #{group_id}
	    AND a.hos_id = #{hos_id}
	    AND a.copy_code = #{copy_code}
	    	and a.check_plan_no=#{check_plan_no_s}
			and a.check_no=#{check_no}
   	 order by a.ass_card_no asc
	</select>
	
	<select id="queryAll" parameterType="java.util.Map" resultMap="assCheckDpDetailSpecialMap" >
	select * from (	
		SELECT 
		    a.ass_card_no,a.acc_amount,a.price,a.add_depre_month,a.cur_money,a.fore_money,ad.ass_name,ad.ass_id||'@'||ad.ass_no ass_id  ,ad.ass_code
			from ASS_CHECK_DP_DETAIL_SPECIAL a left join ASS_NO_DICT ad
			            on ad.group_id = a.group_id
						and ad.hos_id = a.hos_id
						and ad.copy_code = a.copy_code
						and ad.ass_id=a.ass_id
						and ad.is_stop = 0
	    where                 
	    a.group_id = #{group_id}
	    AND a.hos_id = #{hos_id}
	    AND a.copy_code = #{copy_code}
	    	and a.check_plan_no=#{check_plan_no_s}
			and a.check_no=#{check_no}
		
		union all
		
		SELECT 
		    a.ass_card_no,a.acc_amount,a.price,a.add_depre_month,a.cur_money,a.fore_money,ad.ass_name,ad.ass_id||'@'||ad.ass_no ass_id  ,ad.ass_code
			from ASS_CHECK_DP_DETAIL_General a left join ASS_NO_DICT ad
			            on ad.group_id = a.group_id
						and ad.hos_id = a.hos_id
						and ad.copy_code = a.copy_code
						and ad.ass_id=a.ass_id
						and ad.is_stop = 0
	    where                 
	    a.group_id = #{group_id}
	    AND a.hos_id = #{hos_id}
	    AND a.copy_code = #{copy_code}
	    	and a.check_plan_no=#{check_plan_no_g}
			and a.check_no=#{check_no}	
		
		union all
		
		SELECT 
		    a.ass_card_no,a.acc_amount,a.price,a.add_depre_month,a.cur_money,a.fore_money,ad.ass_name,ad.ass_id||'@'||ad.ass_no ass_id  ,ad.ass_code
			from ASS_CHECK_DP_DETAIL_other a left join ASS_NO_DICT ad
			            on ad.group_id = a.group_id
						and ad.hos_id = a.hos_id
						and ad.copy_code = a.copy_code
						and ad.ass_id=a.ass_id
						and ad.is_stop = 0
	    where                 
	    a.group_id = #{group_id}
	    AND a.hos_id = #{hos_id}
	    AND a.copy_code = #{copy_code}
	    	and a.check_plan_no=#{check_plan_no_o}
			and a.check_no=#{check_no}	
    ) t
    order by t.ass_card_no asc
	</select>
	<select id="queryByCode" resultMap="assCheckDpDetailSpecial"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		check_plan_no,
		check_no,
		dept_id,
		dept_no,
		ass_id,
		ass_no,
		ass_card_no,
		acc_amount,
		price,
		add_depre,
		add_depre_month,
		cur_money,
		fore_money,
		p_reason
		FROM ass_check_dp_detail_special 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		check_plan_no = #{check_plan_no}   and 
		check_no = #{check_no}   and 
		dept_id = #{dept_id}   and 
		dept_no = #{dept_no}   and 
		ass_id = #{ass_id}   and 
		ass_no = #{ass_no} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assCheckDpDetailSpecial"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		check_plan_no,
		check_no,
		dept_id,
		dept_no,
		ass_id,
		ass_no,
		ass_card_no,
		acc_amount,
		price,
		add_depre,
		add_depre_month,
		cur_money,
		fore_money,
		p_reason
		FROM ASS_CHECK_DP_DETAIL_SPECIAL 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		check_plan_no = #{check_plan_no}   and 
		check_no = #{check_no}   and 
		dept_id = #{dept_id}   and 
		dept_no = #{dept_no}   and 
		ass_id = #{ass_id}   and 
		ass_no = #{ass_no} 
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no}
		</if>
		order by ass_id asc
	</select>
	<select id="queryExists" resultMap="assCheckDpDetailSpecial"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		check_plan_no,
		check_no,
		dept_id,
		dept_no,
		ass_id,
		ass_no,
		ass_card_no,
		acc_amount,
		price,
		add_depre,
		add_depre_month,
		cur_money,
		fore_money,
		p_reason
		FROM ASS_CHECK_DP_DETAIL_SPECIAL 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		check_plan_no = #{check_plan_no}   and 
		check_no = #{check_no}   and 
		dept_id = #{dept_id}   and 
		dept_no = #{dept_no}   and 
		ass_id = #{ass_id}   and 
		ass_no = #{ass_no} 
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no}
		</if>
		order by ass_id asc
	</select>
	
	<!-- 查询主表 -->
	<select id="queryAssInSpecialPrintTemlateByMains"  parameterType="java.util.Map" resultType="java.util.Map">
  select t1.check_no,t1.check_plan_no,t1.check_date,t1.dept_no,t1.dept_id,t1.summary,
  case when t1.state = 0 then '新建' when t1.state = 1 then '审核' else '' end state,t1.note,t1.dept_no,t2.user_name,t4.dept_name  from  ASS_CHECK_D_SPECIAL  t1
 left join sys_user t2 on t1.group_id = t2.group_id
  and t1.hos_id = t2.hos_id
 and t1.check_emp = t2.user_id 
 left join hos_dept t4 on t1.group_id = t4.group_id
    and t1.hos_id = t4.hos_id
    and t1.dept_id = t4.dept_id
    and t4.is_stop = 0
    	where                     
			t1.group_id = #{group_id}
			AND t1.hos_id = #{hos_id}
			AND t1.copy_code = #{copy_code}
			AND t1.check_no = #{check_no}
	</select>
	<select id="queryAssInSpecialPrintTemlateByDetails" parameterType="java.util.Map" resultType="java.util.Map">
	select t1.ass_card_no,t1.ass_id,t1.ass_no,t1.acc_amount,T1.CUR_MONEY,
  T1.FORE_MONEY,T1.P_REASON,T1.PRICE,T1.ADD_DEPRE,t1.add_depre_month,t2.ass_name
  from  ASS_CHECK_DP_DETAIL_SPECIAL  t1
 left join ass_dict t2 on t1.group_id = t2.group_id
  and t1.hos_id = t2.hos_id
 and t1.ass_id=t2.ass_id
	where                     
			t1.group_id = #{group_id}
			AND t1.hos_id = #{hos_id}
			AND t1.copy_code = #{copy_code}
			AND t1.check_no in  (#{check_no,jdbcType=VARCHAR})
	
	</select>
		
</mapper>

