<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.UpdateMapper">

	

	

	<update id="update" parameterType="java.util.Map">
	begin
			${sql}
			;end ;
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
				<foreach collection="list" item="item"  index="index" open="begin" close=";end;" separator=";"  >
			${item}
		</foreach>
	</update>

		

</mapper>

