<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.pac.dao.skht.pactinfo.PactDetSourSKHTMapper">
	<resultMap id="pactMainSKHT"
		type="com.chd.hrp.pac.entity.skht.pactinfo.PactDetSourSKHTEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pact_code" column="pact_code" />
		<result property="detail_id" column="detail_id" />
		<result property="source_id" column="source_id" />
		<result property="budg_money" column="budg_money" />
		<result property="buy_money" column="buy_money" />
		<result property="source_name" column="source_name" />
	</resultMap>

	<select id="query" parameterType="java.util.Map"
		resultMap="pactMainSKHT">
		SELECT
		p.PACT_CODE,p.DETAIL_ID,p.SOURCE_ID,p.BUDG_MONEY,p.BUY_MONEY,h.source_name
		FROM
		PACT_DET_SOUR_SKHT p
		LEFT JOIN HOS_SOURCE h ON p.SOURCE_ID=h.SOURCE_ID and p.group_id = h.group_id and p.hos_id=h.hos_id
		<where>
			p.group_id=#{group_id,jdbcType=NUMERIC}
			and p.hos_id=#{hos_id,jdbcType=NUMERIC}
			and p.copy_code=#{copy_code,jdbcType=VARCHAR}
			and p.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			<if test="detail_id != null and detail_id != ''">
				and p.DETAIL_ID=#{detail_id,jdbcType=NUMERIC}
			</if>
		</where>
	</select>


	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_DET_SOUR_SKHT (
		GROUP_ID,HOS_ID,COPY_CODE,PACT_CODE,DETAIL_ID,SOURCE_ID,BUDG_MONEY,BUY_MONEY)
		VALUES(
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{pact_code,jdbcType=VARCHAR},
		#{detail_id,jdbcType=NUMERIC},
		#{source_id,jdbcType=NUMERIC},
		#{budg_money,jdbcType=NUMERIC},
		#{buy_money,jdbcType=NUMERIC}
		)
	</insert>

	<insert id="addBatch" parameterType="java.util.List">
		INSERT INTO PACT_DET_SOUR_SKHT (
		GROUP_ID,HOS_ID,COPY_CODE,PACT_CODE,DETAIL_ID,SOURCE_ID,BUDG_MONEY,BUY_MONEY)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.group_id,jdbcType=NUMERIC},
			#{item.hos_id,jdbcType=NUMERIC},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.pact_code,jdbcType=VARCHAR},
			#{item.detail_id,jdbcType=NUMERIC},
			#{item.source_id,jdbcType=NUMERIC},
			#{item.budg_money,jdbcType=NUMERIC},
			#{item.buy_money,jdbcType=NUMERIC}
			from dual
		</foreach>
	</insert>

	<delete id="deleteAllBatch">
		DELETE FROM PACT_DET_SOUR_SKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				and detail_id = #{item.detail_id,jdbcType=NUMERIC}
				AND source_id = #{item.source_id,jdbcType=NUMERIC}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteByPactCode" parameterType="java.util.Map">
		DELETE FROM
		PACT_DET_SOUR_SKHT WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		and HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteByDetailId">
		DELETE FROM PACT_DET_SOUR_SKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				and detail_id = #{item.detail_id,jdbcType=NUMERIC}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteByPactCodeList">
		DELETE FROM PACT_DET_SOUR_SKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
</mapper>