<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.medicalmanagement.HrAuthorityViewMapper">
	<resultMap id="hrAuthorityView" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="emp_id" column="emp_id"/>
    <result property="emp_code" column="emp_code"/>
	<result property="emp_name" column="emp_name"/>
	<result property="prescription" column="prescription"/>
	<result property="venom" column="venom"/>
	<result property="special" column="special"/>
	<result property="generalLevel" column="generalLevel"/>
	<result property="limitLevel" column="limitLevel"/>
	<result property="specialLevel" column="specialLevel"/>
	<result property="state" column="state"/>
	<result property="note" column="note"/>
	</resultMap>
	
	
	<select id="query" parameterType="java.util.Map" resultMap="hrAuthorityView" >
select hd.emp_id, he.emp_name, he.emp_code
  ,   wmsys.wm_concat(case 
    when hd.perm_type = '01' then 1
  end) as prescription
  , wmsys.wm_concat(case 
    when hd.perm_type = '02' then 1
  end) as venom, wmsys.wm_concat(case 
    when hd.perm_type = '03' then 1
  end) as special
  , wmsys.wm_concat(case 
    when hd.perm_type = '0401' then 1
  end) as generalLevel, wmsys.wm_concat(case 
    when hd.perm_type = '0402' then 1
  end) as limitLevel
  , wmsys.wm_concat(case 
    when hd.perm_type = '0403' then 1
  end) as specialLevel, hd.state, hd.note
from hos_emp he 
  left join  HR_DRUG_PERM hd on hd.emp_id = he.emp_id
and hd.group_id = he.group_id
and hd.hos_id = he.hos_id
left join HR_DRUG_PERM_DETAIL hdd on hd.group_id=hdd.group_id
and hd.hos_id=hdd.hos_id
and hd.emp_id=hdd.emp_id 
and he.is_stop='0'
		<where>   
		                  
		<if test="group_id != null and group_id != ''">
		AND hd.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hd.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND hd.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
	<if test="apply_date != null and apply_date != ''">
		AND hd.get_date &gt;= to_date(#{apply_date},'YYYY-MM-DD')
		</if>
		<if test="end_date != null and end_date != ''">
		AND hd.get_date &lt;= to_date(#{end_date},'YYYY-MM-DD')
		</if>
		<if test="apply_date != null and apply_date != ''">
		AND hd.stop_date &gt;= to_date(#{apply_date},'YYYY-MM-DD')
		</if>
		<if test="end_date != null and end_date != ''">
		AND hd.stop_date &lt;= to_date(#{end_date},'YYYY-MM-DD')
		</if>
		<if test="apply_date != null and apply_date != ''">
		AND hd.apply_date &gt;= to_date(#{apply_date},'YYYY-MM-DD')
		</if>
		<if test="end_date != null and end_date != ''">
		AND hd.apply_date &lt;= to_date(#{end_date},'YYYY-MM-DD')
		</if>
		</where>   
	group by hd.emp_id,he.emp_code,he.emp_name,hd.state,hd.note
	</select>

		<select id="queryAuthorityViewByPrint" parameterType="java.util.Map" resultType="java.util.Map" >
	select hd.emp_id, he.emp_name, he.emp_code
  ,   wmsys.wm_concat(case 
    when hd.perm_type = '01' then '有'
  end) as prescription
  , wmsys.wm_concat(case 
    when hd.perm_type = '02' then '有'
  end) as venom, wmsys.wm_concat(case 
    when hd.perm_type = '03' then '有'
  end) as special
  , wmsys.wm_concat(case 
    when hd.perm_type = '0401' then '有'
  end) as generalLevel, wmsys.wm_concat(case 
    when hd.perm_type = '0402' then '有'
  end) as limitLevel
  , wmsys.wm_concat(case 
    when hd.perm_type = '0403' then '有'
  end) as specialLevel, hd.state, hd.note
from hos_emp he 
  left join  HR_DRUG_PERM hd on hd.emp_id = he.emp_id
and hd.group_id = he.group_id
and hd.hos_id = he.hos_id
left join HR_DRUG_PERM_DETAIL hdd on hd.group_id=hdd.group_id
and hd.hos_id=hdd.hos_id
and hd.emp_id=hdd.emp_id 
and he.is_stop='0'
		<where>   
		                  
		<if test="group_id != null and group_id != ''">
		AND hd.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hd.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND hd.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
	<if test="apply_date != null and apply_date != ''">
		AND hd.get_date &gt;= to_date(#{apply_date},'YYYY-MM-DD')
		</if>
		<if test="end_date != null and end_date != ''">
		AND hd.get_date &lt;= to_date(#{end_date},'YYYY-MM-DD')
		</if>
		<if test="apply_date != null and apply_date != ''">
		AND hd.stop_date &gt;= to_date(#{apply_date},'YYYY-MM-DD')
		</if>
		<if test="end_date != null and end_date != ''">
		AND hd.stop_date &lt;= to_date(#{end_date},'YYYY-MM-DD')
		</if>
		<if test="apply_date != null and apply_date != ''">
		AND hd.apply_date &gt;= to_date(#{apply_date},'YYYY-MM-DD')
		</if>
		<if test="end_date != null and end_date != ''">
		AND hd.apply_date &lt;= to_date(#{end_date},'YYYY-MM-DD')
		</if>
		</where>   
	group by hd.emp_id,he.emp_code,he.emp_name,hd.state,hd.note
	</select>
	
</mapper>

