<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.medicalmanagement.HrDealMapper">
	
	<resultMap id="hrDeal" type="com.chd.hrp.hr.entity.medicalmanagement.HrDeal">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="deal_type" column="deal_type"/>
	<result property="damage" column="damage"/>
	<result property="other" column="other"/>
	<result property="is_commit" column="is_commit"/>
	<result property="commit_name" column="commit_name"/>
	<result property="plainter" column="plainter"/>
	<result property="patient" column="patient"/>
	<result property="plaint_tel" column="plaint_tel"/>
	<result property="patient_ref" column="patient_ref"/>
	<result property="content" column="content"/>
	</resultMap>
		
	<resultMap id="hrDealMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="occ_date" column="occ_date"/>
	<result property="plaint_date" column="plaint_date"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="deal_type" column="deal_type"/>
	<result property="damage" column="damage"/>
	<result property="other" column="other"/>
	<result property="is_commit" column="is_commit"/>
	<result property="commit_name" column="commit_name"/>
	<result property="plainter" column="plainter"/>
	<result property="patient" column="patient"/>
	<result property="plaint_tel" column="plaint_tel"/>
	<result property="patient_ref" column="patient_ref"/>
	<result property="content" column="content"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO HR_DEAL (
		<trim suffix="" suffixOverrides=",">
			group_id,
			hos_id,
			occ_date,
			plaint_date,
			in_hos_no,
			deal_type,
			damage,
			other,
			deal_date,
			is_commit,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			to_date(#{occ_date},'YYYY-MM-DD'),
			to_date(#{plaint_date},'YYYY-MM-DD'),
			#{in_hos_no,jdbcType=VARCHAR},
			#{deal_type,jdbcType=VARCHAR},
			#{damage,jdbcType=INTEGER},
			#{other,jdbcType=VARCHAR},
			to_date(#{deal_date},'YYYY-MM-DD'),
			#{is_commit,jdbcType=INTEGER}
		</trim>		
		)
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_DEAL (
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		deal_type,
		damage,
		other,
		is_commit
		) select HR_DEAL_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.occ_date,jdbcType=DATE},
			#{item.plaint_date,jdbcType=DATE},
			#{item.in_hos_no,jdbcType=VARCHAR},
			#{item.deal_type,jdbcType=VARCHAR},
			#{item.damage,jdbcType=INTEGER},
			#{item.other,jdbcType=VARCHAR},
			#{item.is_commit,jdbcType=INTEGER}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_deal 
		<trim prefix="SET"  suffixOverrides=","> 
		deal_type = #{deal_type,jdbcType=VARCHAR},
		damage = #{damage,jdbcType=INTEGER},
		other = #{other,jdbcType=VARCHAR},
		is_commit = #{is_commit,jdbcType=INTEGER},
		</trim>
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND occ_date =	to_date(#{occ_date},'YYYY-MM-DD')
		AND plaint_date = to_date(#{plaint_date},'YYYY-MM-DD')
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_deal 
			<trim prefix="SET"  suffixOverrides=","> 
			deal_type = #{item.deal_type,jdbcType=VARCHAR},
			damage = #{item.damage,jdbcType=INTEGER},
			other = #{item.other,jdbcType=VARCHAR},
			is_commit = #{item.is_commit,jdbcType=INTEGER},
			</trim>
			<where>                     
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND occ_date = #{item.occ_date,jdbcType=DATE}
			AND plaint_date = #{item.plaint_date,jdbcType=DATE}
			AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM hr_deal 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND occ_date = #{occ_date,jdbcType=DATE}
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</where>  
	</delete>
	<delete id="deleteDeal" parameterType="java.util.List">
		DELETE FROM hr_deal 
		<where>
				<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				 group_id = #{map.group_id,jdbcType=INTEGER}
				AND hos_id = #{map.hos_id,jdbcType=INTEGER}
				<if test="item.occ_date != null and item.occ_date != ''">
				AND occ_date = #{item.occ_date,jdbcType=DATE}
				</if>
				<if test="item.plaint_date != null and item.plaint_date != ''">
				AND plaint_date = #{item.plaint_date,jdbcType=DATE}
				</if>
				<if test="item.in_hos_no != null and item.in_hos_no != ''">
				AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrDeal" >
	
	  SELECT 
    hd.group_id,
    hd.hos_id,
    hd.occ_date,
    hd.plaint_date,
    hd.in_hos_no,
    hd.deal_type,
    hd.damage,
    hd.other,
    hd.is_commit,
      case when hd.is_commit = 0  then '未提交' when hd.is_commit =1 then '已提交'  else '' end  commit_name,
      hp.patient,
    hp.PLAINTER,
    hp.plaint_tel,
    hp.PATIENT_REF,
    hp.content
    FROM HR_DEAL hd left join HR_PLAINT hp
    on hp.in_hos_no=hd.in_hos_no and hp.group_id=hd.group_id and hp.hos_id=hd.hos_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND hp.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hp.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND hp.occ_date = to_date(#{occ_date}, 'YYYY-MM-DD')
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND hp.plaint_date =to_date(#{plaint_date}, 'YYYY-MM-DD')
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND hp.in_hos_no like '%${in_hos_no}%'
		</if>
		<if test="patient != null and patient != ''">
		AND hp.patient like '%${patient}%'
		</if>
		<if test="sex_code != null and sex_code != ''">
		AND hp.sex_code = #{sex_code,jdbcType=VARCHAR}
		</if>
		<if test="age != null and age != ''">
		AND hp.age = #{age,jdbcType=INTEGER}
		</if>
		<if test="plainter != null and plainter != ''">
		AND hp.plainter like '%${plainter}%'
		</if>
		<if test="plaint_tel != null and plaint_tel != ''">
		AND hp.plaint_tel like '%${plaint_tel}%'
		</if>
		<if test="patient_ref != null and patient_ref != ''">
		AND hp.patient_ref = #{patient_ref,jdbcType=VARCHAR}
		</if>
		<if test="content != null and content != ''">
		AND hp.content like '%${content}%'
		</if>
		<if test="is_commit != null and is_commit != ''">
		AND hp.is_commit = #{is_commit,jdbcType=INTEGER}
		</if>
		</where>   
		order by hp.group_id asc
	</select>
	<select id="queryByCode" resultMap="hrDeal"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		deal_type,
		damage,
		other,
		is_commit
		FROM hr_deal 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
	    occ_date = to_date(#{occ_date},'YYYY-MM-DD')   and 
		plaint_date = to_date(#{plaint_date},'YYYY-MM-DD')   and 
		in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByCodeCon" resultMap="hrDeal"  parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			occ_date,
			plaint_date,
			in_hos_no,
			deal_type,
			damage,
			other,
			is_commit
		FROM hr_deal 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER} and
			hos_id = #{hos_id,jdbcType=INTEGER} and
		    occ_date = #{occ_date,jdbcType=DATE} and
			plaint_date = #{plaint_date,jdbcType=DATE} and
			in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
	</select>
	<select id="queryExists" resultMap="hrDeal"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		occ_date,
		plaint_date,
		in_hos_no,
		deal_type,
		damage,
		other,
		is_commit
		FROM HR_DEAL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND occ_date = #{occ_date,jdbcType=DATE}
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND plaint_date = #{plaint_date,jdbcType=DATE}
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="deal_type != null and deal_type != ''">
		AND deal_type = #{deal_type,jdbcType=VARCHAR}
		</if>
		<if test="damage != null and damage != ''">
		AND damage = #{damage,jdbcType=INTEGER}
		</if>
		<if test="other != null and other != ''">
		AND other = #{other,jdbcType=VARCHAR}
		</if>
		<if test="is_commit != null and is_commit != ''">
		AND is_commit = #{is_commit,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<!-- 修改提交状态(单条) -->
	<update id="updateIsCommit" parameterType="java.util.Map">
		UPDATE HR_DEAL
		<trim prefix="SET" suffixOverrides=",">
			is_commit = #{is_commit,jdbcType=INTEGER}
		</trim>
		<where>
				group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND occ_date = #{occ_date,jdbcType=DATE}  
	        AND plaint_date = #{plaint_date,jdbcType=DATE}
	        AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
		</where>
	</update>
	<!-- 修改提交状态（单条） -->
	<update id="confirmDeal" parameterType="java.util.Map">
		UPDATE HR_DEAL
		<trim prefix="SET" suffixOverrides=",">
			is_commit = #{is_commit,jdbcType=INTEGER}
		</trim>
		<where>
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND occ_date = #{occ_date,jdbcType=DATE}  
	        AND plaint_date = #{plaint_date,jdbcType=DATE}
	        AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
		</where>
	</update>
	<!-- 修改提交状态（批量） -->
	<update id="confirmDealBatch">
		<foreach collection="list" item="item" open="begin" close=";end;" separator=";">
			UPDATE HR_DEAL
			<trim prefix="SET" suffixOverrides=",">
				is_commit = #{item.is_commit,jdbcType=INTEGER}
			</trim>
			<where>
					group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND occ_date = #{item.occ_date,jdbcType=DATE}  
		        AND plaint_date = #{item.plaint_date,jdbcType=DATE}
		        AND in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR} 
			</where>
		</foreach>
	</update>
	<!-- 撤回（单条） -->
	<update id="reConfirmDeal" parameterType="java.util.Map">
		UPDATE HR_DEAL
		<trim prefix="SET" suffixOverrides=",">
			is_commit = #{is_commit,jdbcType=INTEGER}
		</trim>
		<where>
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND occ_date = #{occ_date,jdbcType=DATE}  
	        AND plaint_date = #{plaint_date,jdbcType=DATE}
	        AND in_hos_no = #{in_hos_no,jdbcType=VARCHAR} 
		</where>
	</update>
	
	<select id="queryDealByPrint" parameterType="java.util.Map" resultType="java.util.Map">
	  SELECT 
    hd.group_id,
    hd.hos_id,
    hd.occ_date,
    hd.plaint_date,
    hd.in_hos_no,
    hd.deal_type,
    hd.damage,
    hd.other,
    hd.is_commit,
      case when hd.is_commit = 0  then '未提交' when hd.is_commit =1 then '已提交'  else '' end  commit_name,
      hp.patient,
    hp.PLAINTER,
    hp.plaint_tel,
    hp.content
    FROM HR_DEAL hd left join HR_PLAINT hp
    on hp.in_hos_no=hd.in_hos_no and hp.group_id=hd.group_id and hp.hos_id=hd.hos_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND hp.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hp.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="occ_date != null and occ_date != ''">
		AND hp.occ_date =to_date(#{occ_date},'YYYY-MM-DD')
		</if>
		<if test="plaint_date != null and plaint_date != ''">
		AND hp.plaint_date = to_date(#{plaint_date},'YYYY-MM-DD')
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND hp.in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="patient != null and patient != ''">
		AND hp.patient = #{patient,jdbcType=VARCHAR}
		</if>
		<if test="plainter != null and plainter != ''">
		AND hp.plainter = #{plainter,jdbcType=VARCHAR}
		</if>
		<if test="plaint_tel != null and plaint_tel != ''">
		AND hp.plaint_tel = #{plaint_tel,jdbcType=VARCHAR}
		</if>
		<if test="patient_ref != null and patient_ref != ''">
		AND hp.patient_ref = #{patient_ref,jdbcType=VARCHAR}
		</if>
		<if test="content != null and content != ''">
		AND hp.content = #{content,jdbcType=VARCHAR}
		</if>
		</where>   
		order by hp.group_id asc
	
	
	</select>
		<resultMap type="java.util.Map" id="hrSelectMap">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
	<select id="queryResearchInHosNo"  parameterType="java.util.Map"
		resultMap="hrSelectMap">
		 select hp.in_hos_no as id, hp.in_hos_no || null || hr.patient as text
from HR_RESEARCH hp
 left join Hr_Plaint hr on hp.in_hos_no=hr.in_hos_no and hp.group_id=hr.group_id and hp.hos_id=hr.hos_id
         where hp.is_commit=1
         and hp.group_id = #{group_id,jdbcType=INTEGER}   and 
		hp.hos_id = #{hos_id,jdbcType=INTEGER}  
		</select>
	<!-- 通过提交状态查记录数 -->
	<select id="queryByIsCommit" resultType="java.lang.Integer">
		select count(*)
		from hr_deal
		where group_id = #{map.group_id, jdbcType=INTEGER}
		  and hos_id = #{map.hos_id, jdbcType=INTEGER}
		  and is_commit = #{map.is_commit, jdbcType=INTEGER}
		  and (
		      <foreach collection="list" item="item" separator=" or ">
		          (
		              occ_date = #{item.occ_date,jdbcType=DATE} and
					  plaint_date = #{item.plaint_date,jdbcType=DATE} and
					  in_hos_no = #{item.in_hos_no,jdbcType=VARCHAR}
		          )
		      </foreach>
		  )
	</select>
</mapper>

