<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.medicalmanagement.HrEmpTechRefMapper">
	
	<resultMap id="hrEmpTechRef" type="com.chd.hrp.hr.entity.medicalmanagement.HrEmpTechRef">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="app_no" column="app_no"/>
	<result property="emp_id" column="emp_id"/>
	<result property="oper_name" column="oper_name"/>
	<result property="ref_oper_name" column="ref_oper_name"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="hrEmpTechRefMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="app_no" column="app_no"/>
	<result property="emp_id" column="emp_id"/>
	<result property="oper_name" column="oper_name"/>
	<result property="ref_oper_name" column="ref_oper_name"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="addTechRef" parameterType="java.util.List" >
	
		INSERT INTO HR_EMP_TECH_REF (
		group_id,
		hos_id,
		app_no,
		emp_id,
		oper_name,
		ref_oper_name,
		note
		) (
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{map.group_id,jdbcType=INTEGER},
			#{map.hos_id,jdbcType=INTEGER},
			#{item.app_no,jdbcType=VARCHAR},
			#{item.emp_id,jdbcType=INTEGER},
			#{item.oper_name,jdbcType=VARCHAR},
			#{item.ref_oper_name,jdbcType=VARCHAR},
			#{item.note,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_emp_tech_ref 
		<trim prefix="SET"  suffixOverrides=","> 
		note = #{note,jdbcType=VARCHAR},
		</trim>
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND app_no = #{app_no,jdbcType=VARCHAR}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		AND oper_name = #{oper_name,jdbcType=VARCHAR}
		AND ref_oper_name = #{ref_oper_name,jdbcType=VARCHAR}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_emp_tech_ref 
			<trim prefix="SET"  suffixOverrides=","> 
			oper_name = #{item.oper_name,jdbcType=VARCHAR},
			ref_oper_name = #{item.ref_oper_name,jdbcType=VARCHAR},
			note = #{item.note,jdbcType=VARCHAR},
			</trim>
			<where>                     
			AND group_id = #{map.group_id,jdbcType=INTEGER}
			AND hos_id = #{map.hos_id,jdbcType=INTEGER}
			AND app_no = #{item.app_no,jdbcType=VARCHAR}
		<!-- 	AND emp_id = #{item.emp_id,jdbcType=INTEGER}
			AND oper_name = #{item.oper_name,jdbcType=VARCHAR}
			AND ref_oper_name = #{item.ref_oper_name,jdbcType=VARCHAR} -->
			</where>  			
		</foreach>
	</update>
	
	<update id="updateBatchRef" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_emp_tech_ref 
			<trim prefix="SET"  suffixOverrides=","> 
				oper_name = #{item.oper_name,jdbcType=VARCHAR},
			ref_oper_name = #{item.ref_oper_name,jdbcType=VARCHAR},
			note = #{item.note,jdbcType=VARCHAR},
			</trim>
			<where>                     
			AND group_id = #{map.group_id,jdbcType=INTEGER}
			AND hos_id = #{map.hos_id,jdbcType=INTEGER}
			AND app_no = #{item.app_no,jdbcType=VARCHAR}
		<!-- 	AND emp_id = #{item.emp_id,jdbcType=INTEGER}
			AND oper_name = #{item.oper_name,jdbcType=VARCHAR}
			AND ref_oper_name = #{item.ref_oper_name,jdbcType=VARCHAR} -->
			</where>  			
		</foreach>
	</update>
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM hr_emp_tech_ref 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND app_no = #{app_no,jdbcType=VARCHAR}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		AND oper_name = #{oper_name,jdbcType=VARCHAR}
		AND ref_oper_name = #{ref_oper_name,jdbcType=VARCHAR}
		</where>  
	</delete>
		<delete id="deleteHrTechRef" parameterType="java.util.List">
		DELETE FROM hr_emp_tech_ref 
		<where>
		
					<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				 group_id = #{map.group_id,jdbcType=INTEGER}
			
				AND hos_id = #{map.hos_id,jdbcType=INTEGER}
				<if test="item.app_no != null and item.app_no != ''">
				AND app_no = #{item.app_no,jdbcType=VARCHAR}
				</if>
				<!-- <if test="item.emp_id != null and item.emp_id != ''">
				AND emp_id = #{item.emp_id,jdbcType=INTEGER}
				</if>
				<if test="item.oper_name != null and item.oper_name != ''">
				AND oper_name = #{item.oper_name,jdbcType=VARCHAR}
				</if> -->
			<!-- 	<if test="item.ref_oper_name != null and item.ref_oper_name != ''">
				AND ref_oper_name = #{item.ref_oper_name,jdbcType=VARCHAR}
				</if> -->
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrEmpTechRef" >
	
		SELECT 
		group_id,
		hos_id,
		app_no,
		emp_id,
		oper_name,
		ref_oper_name,
		note
		FROM HR_EMP_TECH_REF 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="app_no != null and app_no != ''">
		AND app_no = #{app_no,jdbcType=VARCHAR}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="oper_name != null and oper_name != ''">
		AND oper_name = #{oper_name,jdbcType=VARCHAR}
		</if>
		<if test="ref_oper_name != null and ref_oper_name != ''">
		AND ref_oper_name = #{ref_oper_name,jdbcType=VARCHAR}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>

	<select id="queryByCodeRef" parameterType="java.util.Map" resultMap="hrEmpTechRef">
	SELECT 
		group_id,
		hos_id,
		app_no,
		emp_id,
		oper_name,
		ref_oper_name,
		note
		FROM HR_EMP_TECH_REF 
	where 
	 group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND app_no = #{app_no,jdbcType=VARCHAR}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		<!-- and ref_oper_name=#{ref_oper_name,jdbcType=VARCHAR} -->
	</select>
	
</mapper>

