<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.deptcost.HtcDeptFassetDetailMapper">
	<resultMap id="htcDeptFassetDetailMap" type="com.chd.hrp.htc.entity.task.deptcost.HtcDeptFassetDetail">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month"/>
		<result property="dept_no" column="dept_no" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="asset_type_code" column="asset_type_code" />
		<result property="asset_type_name" column="asset_type_name" />
	    <result property="asset_code" column="asset_code" />
		<result property="asset_name" column="asset_name" />
		<result property="depre_amount" column="depre_amount" />
		<result property="source_id" column="source_id" />
		<result property="source_code" column="source_code" />
		<result property="source_name" column="source_name" />
		<result property="cost_item_id" column="cost_item_id" />
		<result property="cost_item_no" column="cost_item_no" />
		<result property="cost_item_code" column="cost_item_code" />
		<result property="cost_item_name" column="cost_item_name" />
		<result property="tot_amount" column="tot_amount" />
		<result property="num_amount" column="num_amount" />
	</resultMap>

	<insert id="addHtcDeptFassetDetail" useGeneratedKeys="true">
				insert into htc_dept_fasset_detail
				  (group_id,
				   hos_id,
				   copy_code,
				   acc_year,
				   acc_month,
				   dept_no,
				   dept_id,
				   asset_code,
				   depre_amount,
				   source_id)
				values
				  (#{group_id},
				   #{hos_id},
				   #{copy_code},
				   #{acc_year},
				   #{acc_month},
				   #{dept_no},
				   #{dept_id},
				   #{asset_code},
				   #{depre_amount},
				   #{source_id})
	</insert>
	
	<update id="updateHtcDeptFassetDetail" parameterType="java.util.Map">

		update htc_dept_fasset_detail
		 set   depre_amount = #{depre_amount},
		       source_id = #{source_id}
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and acc_year = #{acc_year}
		   and acc_month = #{acc_month}
		   and dept_no = #{dept_no}
		   and dept_id = #{dept_id}
		   and asset_code = #{asset_code}

	</update>

	<delete id="deleteBatchHtcDeptFassetDetail" parameterType="java.util.List">
		delete htc_dept_fasset_detail where
		<foreach collection="list" index="index" item="item" separator="or" >
		(
			   group_id = #{item.group_id}
		   and hos_id = #{item.hos_id}
		   and copy_code = #{item.copy_code}
		   and acc_year = #{item.acc_year}
		   and acc_month = #{item.acc_month}
		   and dept_no = #{item.dept_no}
		   and dept_id = #{item.dept_id}
		   and asset_code = #{item.asset_code}
		)
		</foreach>
	</delete>

	<select id="queryHtcDeptFassetDetailByCode" parameterType="java.util.Map" resultMap="htcDeptFassetDetailMap">
	              select hdfd.group_id,
						 hdfd.hos_id,
						 hdfd.copy_code,
						 hdfd.acc_year,
						 hdfd.acc_month,
						 hdfd.dept_no,
						 hdfd.dept_id,
						 hdd.dept_code,
						 hdd.dept_name,
						 hftd.asset_type_code,
						 hftd.asset_type_name,
						 hdfd.asset_code,
						 hfd.asset_name,
						 hfd.start_date,
						 hfd.end_date,
						 hfd.prim_value,
						 hfd.dep_year,
						 hdfd.depre_amount,
						 hdfd.source_id,
						 hs.source_code,
						 hs.source_name
				from htc_dept_fasset_detail hdfd
				left join hos_dept_dict hdd
				on hdfd.group_id = hdd.group_id
				and hdfd.hos_id = hdd.hos_id
				and hdfd.dept_no = hdd.dept_no
				and hdfd.dept_id = hdd.dept_id
				left join htc_fasset_dict hfd
				on hfd.group_id = hdfd.group_id
				and hfd.hos_id = hdfd.hos_id
				and hfd.copy_code = hdfd.copy_code
				and hfd.asset_code = hdfd.asset_code
			 	left join htc_fasset_type_dict hftd
				on hftd.group_id = hfd.group_id
				and hftd.hos_id = hfd.hos_id
				and hftd.copy_code = hfd.copy_code
				and hftd.asset_type_code = hfd.asset_type_code
				left join hos_source hs
				on hs.group_id = hdfd.group_id
				and hs.hos_id = hdfd.hos_id
				and hs.source_id = hdfd.source_id
				 where hdfd.group_id = #{group_id}
				   and hdfd.hos_id = #{hos_id}
				   and hdfd.copy_code = #{copy_code}
				   and hdfd.acc_year = #{acc_year}
				   and hdfd.acc_month = #{acc_month}
				   and hdfd.dept_no = #{dept_no}
				   and hdfd.dept_id = #{dept_id}
				   and hdfd.asset_code = #{asset_code}
	</select>
	<select id="queryHtcDeptFassetDetail" parameterType="java.util.Map" resultMap="htcDeptFassetDetailMap">

		         	  select hdfd.group_id,
							 hdfd.hos_id,
							 hdfd.copy_code,
							 hdfd.acc_year,
							 hdfd.acc_month,
							 hdfd.dept_no,
							 hdfd.dept_id,
							 hdd.dept_code,
							 hdd.dept_name,
							 hftd.asset_type_code,
							 hftd.asset_type_name,
							 hdfd.asset_code,
							 hfd.asset_name,
							 hfd.start_date,
							 hfd.end_date,
							 hfd.prim_value,
							 hfd.dep_year,
							 hdfd.depre_amount,
							 hdfd.source_id,
							 hs.source_code,
							 hs.source_name
					from htc_dept_fasset_detail hdfd
					left join hos_dept_dict hdd
					on hdfd.group_id = hdd.group_id
					and hdfd.hos_id = hdd.hos_id
					and hdfd.dept_no = hdd.dept_no
					and hdfd.dept_id = hdd.dept_id
					left join htc_fasset_dict hfd
					on hfd.group_id = hdfd.group_id
					and hfd.hos_id = hdfd.hos_id
					and hfd.copy_code = hdfd.copy_code
					and hfd.asset_code = hdfd.asset_code
				 	left join htc_fasset_type_dict hftd
					on hftd.group_id = hfd.group_id
					and hftd.hos_id = hfd.hos_id
					and hftd.copy_code = hfd.copy_code
					and hftd.asset_type_code = hfd.asset_type_code
					left join hos_source hs
					on hs.group_id = hdfd.group_id
					and hs.hos_id = hdfd.hos_id
					and hs.source_id = hdfd.source_id
			<where>   hdfd.group_id = #{group_id}
			      and hdfd.hos_id = #{hos_id}
			      and hdfd.copy_code = #{copy_code}
			      <if test="start_year_month != null and start_year_month != '' and end_year_month != null and end_year_month != ''">
						and hdfd.acc_year || hdfd.acc_month between #{start_year_month} and #{end_year_month}
				  </if>
				  <if test="dept_no != null and dept_no != '' ">
					and hdfd.dept_no = #{dept_no}
				  </if>
				  <if test="dept_id != null and dept_id != '' ">
						and hdfd.dept_id = #{dept_id}
				  </if>
				  <if test="asset_type_code != null and asset_type_code != '' ">
						and hftd.asset_type_code = #{asset_type_code}
				  </if>
				  <if test="asset_code != null and asset_code != '' ">
						and hdfd.asset_code = #{asset_code}
				  </if>
				  <if test="source_id != null and source_id != '' ">
						and hdfd.source_id = #{source_id}
				  </if>
			</where>
		order by hdfd.group_id,hdfd.hos_id,hdfd.copy_code,hdfd.acc_year,hdfd.acc_month
	</select>
    
    <select id="queryHtcDeptFassetCostDetail" parameterType="java.util.Map"
		resultMap="htcDeptFassetDetailMap">
		                select hdfd.group_id,
				               hdfd.hos_id,
				               hdfd.copy_code,
				               hdfd.acc_year,
				               hdfd.acc_month,
				               hdfd.dept_no,
				               hdfd.dept_id,
				               hdd.dept_code,
				               hdd.dept_name,
				               hftd.asset_type_code,
				               hftd.asset_type_name,
				               hdfd.asset_code,
				               hfd.asset_name,
				               hfd.start_date,
				               hfd.end_date,
				               hfd.prim_value,
				               hfd.dep_year,
				               hdfd.depre_amount,
				               hdfd.source_id,
				               hs.source_code,
				               hs.source_name,
							   cidn.cost_item_id,
							   cidn.cost_item_no,
							   cidn.cost_item_code,
							   cidn.cost_item_name
			          from htc_dept_fasset_detail hdfd
			          left join hos_dept_dict hdd
			          on hdfd.group_id = hdd.group_id
			          and hdfd.hos_id = hdd.hos_id
			          and hdfd.dept_no = hdd.dept_no
			          and hdfd.dept_id = hdd.dept_id
			          left join htc_fasset_dict hfd
			          on hfd.group_id = hdfd.group_id
			          and hfd.hos_id = hdfd.hos_id
			          and hfd.copy_code = hdfd.copy_code
			          and hfd.asset_code = hdfd.asset_code
			           left join htc_fasset_type_dict hftd
			          on hftd.group_id = hfd.group_id
			          and hftd.hos_id = hfd.hos_id
			          and hftd.copy_code = hfd.copy_code
			          and hftd.asset_type_code = hfd.asset_type_code
			          left join hos_source hs
			          on hs.group_id = hdfd.group_id
			          and hs.hos_id = hdfd.hos_id
			          and hs.source_id = hdfd.source_id
					left join htc_fasset_cost_rela hfcr
					on hfcr.group_id = hdfd.group_id
					and hfcr.hos_id = hdfd.hos_id
					and hfcr.copy_code = hdfd.copy_code
					and hfcr.acc_year = hdfd.acc_year
					and hfcr.asset_type_code = hftd.asset_type_code
					left join cost_item_dict_no cidn
					on cidn.group_id = hfcr.group_id
					and cidn.hos_id = hfcr.hos_id
					and cidn.copy_code = hfcr.copy_code
					and cidn.cost_item_no = hfcr.cost_item_no
					and cidn.cost_item_id = hfcr.cost_item_id
			<where>   hdfd.group_id = #{group_id}
			      and hdfd.hos_id = #{hos_id}
			      and hdfd.copy_code = #{copy_code}
			      <if test="start_year_month != null and start_year_month != '' and end_year_month != null and end_year_month != ''">
						AND hdfd.acc_year || hdfd.acc_month between #{start_year_month} and #{end_year_month}
				  </if>
				  	  <if test="dept_no != null and dept_no != '' ">
					and hdfd.dept_no = #{dept_no}
				  </if>
				  <if test="dept_id != null and dept_id != '' ">
						and hdfd.dept_id = #{dept_id}
				  </if>
				  <if test="asset_type_code != null and asset_type_code != '' ">
						and hftd.asset_type_code = #{asset_type_code}
				  </if>
				  <if test="asset_code != null and asset_code != '' ">
						and hdfd.asset_code = #{asset_code}
				  </if>
				  <if test="source_id != null and source_id != '' ">
						and hdfd.source_id = #{source_id}
				  </if>
			</where>
		 order by hdfd.group_id,hdfd.hos_id,hdfd.copy_code,hdfd.acc_year,hdfd.acc_month
	</select>
	
	
	<select id="checkHtcDeptFassetCostDetail" parameterType="java.util.Map"
		resultMap="htcDeptFassetDetailMap">
			        select hdfd.group_id,
	                       hdfd.hos_id,
	                       hdfd.copy_code,
	                     <if test="check_way == 'month' ">
					       hdfd.acc_year,
						   hdfd.acc_month,
						 </if>
	                       hdfd.dept_no,
	                       hdfd.dept_id,
	                       hdd.dept_code,
	                       hdd.dept_name,
	                       cidn.cost_item_id,
	                       cidn.cost_item_no,
	                       cidn.cost_item_code,
	                       cidn.cost_item_name,
						   sum(hdcd.prime_amount) tot_amount,
						   sum(hdfd.depre_amount) num_amount
		                from htc_dept_fasset_detail hdfd
		                left join hos_dept_dict hdd
		                on hdfd.group_id = hdd.group_id
		                and hdfd.hos_id = hdd.hos_id
		                and hdfd.dept_no = hdd.dept_no
		                and hdfd.dept_id = hdd.dept_id
		                left join htc_fasset_dict hfd
		                on hfd.group_id = hdfd.group_id
		                and hfd.hos_id = hdfd.hos_id
		                and hfd.copy_code = hdfd.copy_code
		                and hfd.asset_code = hdfd.asset_code
		                 left join htc_fasset_type_dict hftd
		                on hftd.group_id = hfd.group_id
		                and hftd.hos_id = hfd.hos_id
		                and hftd.copy_code = hfd.copy_code
		                and hftd.asset_type_code = hfd.asset_type_code
		                left join hos_source hs
		                on hs.group_id = hdfd.group_id
		                and hs.hos_id = hdfd.hos_id
		                and hs.source_id = hdfd.source_id
			          left join htc_fasset_cost_rela hfcr
			          on hfcr.group_id = hdfd.group_id
			          and hfcr.hos_id = hdfd.hos_id
			          and hfcr.copy_code = hdfd.copy_code
			          and hfcr.acc_year = hdfd.acc_year
			          and hfcr.asset_type_code = hftd.asset_type_code
			          left join cost_item_dict_no cidn
			          on cidn.group_id = hfcr.group_id
			          and cidn.hos_id = hfcr.hos_id
			          and cidn.copy_code = hfcr.copy_code
			          and cidn.cost_item_no = hfcr.cost_item_no
			          and cidn.cost_item_id = hfcr.cost_item_id
					left join htc_dept_cost_data hdcd
					on hdcd.group_id = hdfd.group_id
					and hdcd.hos_id = hdfd.hos_id
					and hdcd.copy_code = hdfd.copy_code
					and hdcd.acc_year = hdfd.acc_year
					and hdcd.acc_month = hdfd.acc_month
					and hdcd.dept_no = hdfd.dept_no
					and hdcd.dept_id = hdfd.dept_id
					and hdcd.cost_item_no = cidn.cost_item_no
					and hdcd.cost_item_id = cidn.cost_item_id
					and hdcd.source_id = hdfd.source_id
					<where>  hdfd.group_id = #{group_id}
						and  hdfd.hos_id = #{hos_id}
						and  hdfd.copy_code = #{copy_code}
					<if test="start_year_month != null and start_year_month != '' and end_year_month != null and end_year_month != ''">
						and hdfd.acc_year || hdfd.acc_month between #{start_year_month} and #{end_year_month}
					</if>
					</where>
					group by       hdfd.group_id,
			                       hdfd.hos_id,
			                       hdfd.copy_code,
			                     <if test="check_way == 'month' ">
							       hdfd.acc_year,
								   hdfd.acc_month,
								 </if>
			                       hdfd.dept_no,
			                       hdfd.dept_id,
			                       hdd.dept_code,
			                       hdd.dept_name,
			                       cidn.cost_item_id,
			                       cidn.cost_item_no,
			                       cidn.cost_item_code,
			                       cidn.cost_item_name
					
				
	</select>
</mapper>

