<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.skht.changeaftersign.PactChangeAfterSignSKHTMapper">

<resultMap type="java.util.Map" id="SKHTbyCus">
<result property="id" column="id"/>
<result property="text" column="text"/>
</resultMap>

<resultMap type="java.util.Map" id="SKHTByChangeCode">
<result property="group_id" column="group_id"/>
<result property="hos_id" column="hos_id"/>
<result property="copy_code" column="copy_code"/>
<result property="change_code" column="change_code"/>
<result property="pact_code" column="pact_code"/>
<result property="change_date" column="change_date"/>
<result property="change_reason" column="change_reason"/>
<result property="operator" column="operator"/>
<result property="is_exe" column="is_exe"/>
<result property="maker" column="maker"/>

<result property="make_date" column="make_date"/>
<result property="submiter" column="submiter"/>
<result property="submit_date" column="submit_date"/>
<result property="confirmer" column="confirm_date"/>
<result property="state" column="state"/>
<result property="is_money_c" column="is_money_c"/>
<result property="rec_id" column="rec_id"/>
<result property="summary" column="summary"/>
<result property="rec_date" column="rec_date"/>
<result property="rec_cond" column="rec_cond"/>
<result property="plan_money" column="plan_money"/>
<result property="cus_no" column="cus_no"/>
</resultMap>
<resultMap id="pactMainSKHTL"
		type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pact_code" column="pact_code" />
		<result property="detail_id" column="detail_id" />
		<result property="subject_type" column="subject_type" />
		<result property="subject_id" column="subject_id" />
		<result property="subject_no" column="subject_no" />
		<result property="item_spec" column="item_spec" />
		<result property="item_model" column="item_model" />
		<result property="amount" column="amount" />
		<result property="price" column="price" />
		<result property="money" column="money" />
		
		<result property="changeamount" column="changeamount" />
		<result property="changeprice" column="changeprice" />
		<result property="changemoney" column="changemoney" />
		
		<result property="amountafter" column="amountafter" />
		<result property="priceafter" column="priceafter" />
		<result property="moneyafter" column="moneyafter" />
		
		<result property="arrive_date" column="arrive_date" />
		<result property="keep_repair_month" column="keep_repair_month" />
		<result property="note" column="note" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_name" column="dept_name" />
		<result property="subject_type_name" column="subject_type_name" />
		<result property="subject_name" column="subject_name" />
		<result property="subject_code" column="subject_code" />
		<result property="unit_code" column="unit_code" />
		<result property="unit_name" column="unit_name" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_name" column="fac_name" />
	</resultMap>
	
<select id="querySKHTbyCus" parameterType="java.util.Map" resultMap="SKHTbyCus">
select pact_code as id,pact_name as text from pact_main_skht a
where a.group_id=#{group_id} and a.hos_id=#{hos_id} and a.copy_code=#{copy_code}
 and a.cus_no=#{cus_no} and a.cus_id=#{cus_id}  and a.state_code=12 and a.state=3
 
 and exists(
   select 1 from v_user_data_perm b where b.table_code='PACT_TYPE_SKHT'
   and a.GROUP_ID = b.GROUP_ID  and a.HOS_ID =b.HOS_ID and a.pact_type_code=b.perm_code
   and user_id=#{user_id} and b.is_write=1
   union all
   
    select 1 from v_user_data_perm c where c.table_code='PACT_TYPE_SKHT'
   and a.GROUP_ID = c.GROUP_ID  and a.HOS_ID =c.HOS_ID and a.pact_type_code=c.perm_code
   and user_id=#{user_id} and c.is_write=1
 
 )

</select>

<select id="queryExitsPactOthers" parameterType="java.util.Map" resultType="java.lang.String">
select count(*) count from pact_change_skht where 
 group_id=#{group_id} and hos_id=#{hos_id} and copy_code=#{copy_code}
 and pact_code =#{pact_code} and is_exe=1 and state!=3
</select>

<insert id="addChangeSKHTMapper" parameterType="java.util.Map">
 insert into pact_change_skht
   (group_id, hos_id, copy_code, change_code, pact_code, change_date, change_reason,
    operator, is_exe, maker, make_date, state, is_money_c, rec_id, summary, rec_date, 
    rec_cond, plan_money)
 values
(#{group_id},#{hos_id},#{copy_code},#{change_code},#{pact_code},to_date(#{change_date},'yyyy-MM-dd'),
#{change_reason},#{user_id},#{is_exe},#{user_id},to_Date(#{make_date},'yyyy-MM-dd'),1,#{is_money_c},#{rec_id},#{summary},
 to_date(#{rec_date},'yyyy-MM-dd'),#{rec_cond},#{plan_money})
</insert>

<select id="querySKHTByChangeCode" parameterType="java.util.Map" resultMap="SKHTByChangeCode">
select c.group_id, c.hos_id, c.copy_code, c.change_code, c.pact_code, c.change_date, c.change_reason, c.operator,
 c.is_exe, c.maker, c.make_date, c.submiter, c.submit_date, c.confirmer, c.confirm_date, c.state, c.is_money_c, 
 c.rec_id, c.summary, c.rec_date, c.rec_cond, c.plan_money,s.cus_id,s.cus_no
from pact_change_skht c
 left join pact_main_skht s on c.GROUP_ID = s.GROUP_ID
and c.HOS_ID = s.HOS_ID
and c.COPY_CODE = s.COPY_CODE
and c.PACT_CODE = s.PACT_CODE
 where c.change_code=#{change_code} and c.pact_code=#{pact_code}
 and  c.group_id=#{group_id} and c.hos_id=#{hos_id} and c.copy_code=#{copy_code}

</select>

	<insert id="copyPactDetSKHT" parameterType="java.util.Map">
 		INSERT INTO PACT_DET_SKHT_C (
		change_code,GROUP_ID,HOS_ID,COPY_CODE,PACT_CODE,DETAIL_ID,SUBJECT_TYPE,SUBJECT_ID,SUBJECT_NO,ITEM_SPEC,ITEM_MODEL,AMOUNT,PRICE,MONEY,arrive_date,KEEP_REPAIR_MONTH,NOTE,DEPT_ID,DEPT_NO,unit_code
		)
values(
			#{change_code,jdbcType=VARCHAR},
			#{group_id,jdbcType=NUMERIC},
			#{hos_id,jdbcType=NUMERIC},
			#{copy_code,jdbcType=VARCHAR},
			#{pact_code,jdbcType=VARCHAR},
			#{detail_id,jdbcType=NUMERIC},
			#{subject_type,jdbcType=VARCHAR},
			#{subject_id,jdbcType=NUMERIC},
			#{subject_no,jdbcType=NUMERIC},
			#{item_spec,jdbcType=VARCHAR},
			#{item_model,jdbcType=VARCHAR},
			#{amountafter,jdbcType=NUMERIC},
			#{priceafter,jdbcType=NUMERIC},
			#{moneyafter,jdbcType=NUMERIC},
			to_Date(#{arrive_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
			#{keep_repair_month,jdbcType=NUMERIC},
			#{note,jdbcType=VARCHAR},
			#{dept_id,jdbcType=NUMERIC},
			#{dept_no,jdbcType=NUMERIC},
			#{unit_code,jdbcType=NUMERIC}
)
 	</insert>
 	
 	<insert id="addPactPlanSKHT" parameterType="java.util.Map">
 insert into pact_plan_skht_c
   (group_id, hos_id, copy_code, pact_code, change_code, plan_detail_id, rec_id, summary, rec_date, rec_cond, plan_money)
 
  select #{group_id},#{hos_id},#{copy_code},#{pact_code},#{change_code}, nvl(max(plan_detail_id),0)+1, #{rec_id},
  #{summary}, to_date(#{rec_date},'yyyy-MM-dd'), #{rec_cond}, #{plan_money} from pact_plan_skht_c where 
    group_id=#{group_id} and hos_id=#{hos_id} and copy_code=#{copy_code} and pact_code=#{pact_code}
    and change_code=#{change_code}
 	</insert>
 	
 	<select id="queryEdit" parameterType="java.util.Map"
		resultMap="pactMainSKHTL">
		SELECT
	   pdf.PACT_CODE, pdf.DETAIL_ID, pdf.SUBJECT_TYPE, pdf.keep_repair_month, pdd.VALUE_NAME as subject_type_name
      , pdf.SUBJECT_ID, to_char(cast(temp.ass_name as varchar2(20))) as subject_name,temp.ass_code as subject_code, pdf.SUBJECT_NO
      , pdf.ITEM_SPEC, pdf.ITEM_MODEL, nvl(mc.amount_b,0) AMOUNT,nvl(mc.price_b,0) PRICE, nvl(mc.money_b,0) MONEY
      , pdf.arrive_date, pdf.NOTE, pdf.DEPT_ID
      , pdf.DEPT_ID || '@' || pdf.DEPT_NO as DEPT_NO, hdd.DEPT_NAME
      , pdf.UNIT_CODE, hu.UNIT_NAME, nvl(pdf.AMOUNT,0) as amountafter, nvl(pdf.PRICE,0) as priceafter, nvl(pdf.MONEY,0) as moneyafter
      , nvl(mc.amount_c,0) as changeamount, nvl(mc.price_c,0) as changeprice, nvl(mc.money_c,0) as changemoney
		FROM
			${table_name}  pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN ASS_NO_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.ass_id and pdf.subject_type = '01'
			LEFT JOIN HOS_DEPT_DICT hdd on pdf.GROUP_ID = hdd.group_id and pdf.hos_id= hdd.hos_id and pdf.dept_no = hdd.dept_id
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
		    left join PACT_MONEY_C_SKHT mc on pdf.GROUP_ID =mc.group_id
            and pdf.hos_id = mc.hos_id and pdf.copy_code=mc.copy_code
            and pdf.PACT_CODE=mc.PACT_CODE and pdf.change_code=mc.change_code
            and pdf.detail_id=mc.detail_id and pdf.subject_id=mc.subject_id
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '01'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
			 pdf.PACT_CODE, pdf.DETAIL_ID, pdf.SUBJECT_TYPE, pdf.keep_repair_month, pdd.VALUE_NAME as subject_type_name
      , pdf.SUBJECT_ID,to_char(cast(temp.inv_name as varchar2(20))) as subject_name,temp.inv_code as subject_code, pdf.SUBJECT_NO
      , pdf.ITEM_SPEC, pdf.ITEM_MODEL, nvl(mc.amount_b,0) AMOUNT,nvl(mc.price_b,0) PRICE, nvl(mc.money_b,0) MONEY
      , pdf.arrive_date, pdf.NOTE, pdf.DEPT_ID
      , pdf.DEPT_ID || '@' || pdf.DEPT_NO as DEPT_NO, hdd.DEPT_NAME
      , pdf.UNIT_CODE, hu.UNIT_NAME, nvl(pdf.AMOUNT,0) as amountafter, nvl(pdf.PRICE,0) as priceafter, nvl(pdf.MONEY,0) as moneyafter
      , nvl(mc.amount_c,0) as changeamount, nvl(mc.price_c,0) as changeprice, nvl(mc.money_c,0) as changemoney
		 FROM
			${table_name}  pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN MAT_INV_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.INV_ID and pdf.subject_type = '03'
			LEFT JOIN HOS_DEPT_DICT hdd on pdf.GROUP_ID = hdd.group_id and pdf.hos_id= hdd.hos_id and pdf.dept_no = hdd.dept_id
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
		     left join PACT_MONEY_C_SKHT mc on pdf.GROUP_ID =mc.group_id
            and pdf.hos_id = mc.hos_id and pdf.copy_code=mc.copy_code
            and pdf.PACT_CODE=mc.PACT_CODE and pdf.change_code=mc.change_code
            and pdf.detail_id=mc.detail_id and pdf.subject_id=mc.subject_id
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '03'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
		 pdf.PACT_CODE, pdf.DETAIL_ID, pdf.SUBJECT_TYPE, pdf.keep_repair_month, pdd.VALUE_NAME as subject_type_name
      , pdf.SUBJECT_ID, to_char(cast(temp.inv_name as varchar2(20))) as subject_name,temp.inv_code as subject_code, pdf.SUBJECT_NO
      , pdf.ITEM_SPEC, pdf.ITEM_MODEL, nvl(mc.amount_b,0) AMOUNT,nvl(mc.price_b,0) PRICE, nvl(mc.money_b,0) MONEY
      , pdf.arrive_date, pdf.NOTE, pdf.DEPT_ID
      , pdf.DEPT_ID || '@' || pdf.DEPT_NO as DEPT_NO, hdd.DEPT_NAME
      , pdf.UNIT_CODE, hu.UNIT_NAME, nvl(pdf.AMOUNT,0) as amountafter, nvl(pdf.PRICE,0) as priceafter, nvl(pdf.MONEY,0) as moneyafter
      , nvl(mc.amount_c,0) as changeamount, nvl(mc.price_c,0) as changeprice, nvl(mc.money_c,0) as changemoney
		FROM
			${table_name} pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN MED_INV_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.INV_ID and pdf.subject_type = '04'
			LEFT JOIN HOS_DEPT_DICT hdd on pdf.GROUP_ID = hdd.group_id and pdf.hos_id= hdd.hos_id and pdf.dept_no = hdd.dept_id
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
		     left join PACT_MONEY_C_SKHT mc on pdf.GROUP_ID =mc.group_id
            and pdf.hos_id = mc.hos_id and pdf.copy_code=mc.copy_code
            and pdf.PACT_CODE=mc.PACT_CODE and pdf.change_code=mc.change_code
            and pdf.detail_id=mc.detail_id and pdf.subject_id=mc.subject_id
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '04'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
		 pdf.PACT_CODE, pdf.DETAIL_ID, pdf.SUBJECT_TYPE, pdf.keep_repair_month, pdd.VALUE_NAME as subject_type_name
      , pdf.SUBJECT_ID, to_char(cast(temp.sub_name as varchar2(20))) as subject_name, temp.sub_code as subject_code, pdf.SUBJECT_NO
      , pdf.ITEM_SPEC, pdf.ITEM_MODEL, nvl(mc.amount_b,0) AMOUNT,nvl(mc.price_b,0) PRICE, nvl(mc.money_b,0) MONEY
      , pdf.arrive_date, pdf.NOTE, pdf.DEPT_ID
      , pdf.DEPT_ID || '@' || pdf.DEPT_NO as DEPT_NO, hdd.DEPT_NAME
      , pdf.UNIT_CODE, hu.UNIT_NAME, nvl(pdf.AMOUNT,0) as amountafter, nvl(pdf.PRICE,0) as priceafter, nvl(pdf.MONEY,0) as moneyafter
      , nvl(mc.amount_c,0) as changeamount, nvl(mc.price_c,0) as changeprice, nvl(mc.money_c,0) as changemoney
		FROM
			${table_name}  pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN PACT_ELSE_SUB_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.SUB_ID and pdf.subject_type = '05' and temp.is_new = 0
			LEFT JOIN HOS_DEPT_DICT hdd on pdf.GROUP_ID = hdd.group_id and pdf.hos_id= hdd.hos_id and pdf.dept_no = hdd.dept_id
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
		     left join PACT_MONEY_C_SKHT mc on pdf.GROUP_ID =mc.group_id
            and pdf.hos_id = mc.hos_id and pdf.copy_code=mc.copy_code
            and pdf.PACT_CODE=mc.PACT_CODE and pdf.change_code=mc.change_code
            and pdf.detail_id=mc.detail_id and pdf.subject_id=mc.subject_id
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '05'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
	</select>
 	<select id="query" parameterType="java.util.Map"
		resultMap="pactMainSKHTL">
		SELECT
			pdf.PACT_CODE,pdf.DETAIL_ID,pdf.SUBJECT_TYPE,pdf.keep_repair_month,pdd.VALUE_NAME as subject_type_name,pdf.SUBJECT_ID,to_char(cast(temp.ass_name as varchar2(20))) as subject_name,temp.ass_code as subject_code,pdf.SUBJECT_NO,pdf.ITEM_SPEC,pdf.ITEM_MODEL,pdf.AMOUNT,pdf.PRICE,pdf.MONEY,pdf.arrive_date,pdf.NOTE,pdf.DEPT_ID, pdf.DEPT_ID||'@'||pdf.DEPT_NO AS DEPT_NO ,hdd.DEPT_NAME,pdf.UNIT_CODE, hu.UNIT_NAME
		    ,pdf.AMOUNT amountafter,pdf.PRICE priceafter,pdf.MONEY moneyafter,0 changeamount,0 changeprice,0 changemoney
		FROM
			${table_name}  pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN ASS_NO_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.ass_id and pdf.subject_type = '01'
			LEFT JOIN HOS_DEPT_DICT hdd on pdf.GROUP_ID = hdd.group_id and pdf.hos_id= hdd.hos_id and pdf.dept_no = hdd.dept_id
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '01'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
			pdf.PACT_CODE,pdf.DETAIL_ID,pdf.SUBJECT_TYPE,pdf.keep_repair_month,pdd.VALUE_NAME as subject_type_name,pdf.SUBJECT_ID,to_char(cast(temp.inv_name as varchar2(20))) as subject_name,temp.inv_code as subject_code,pdf.SUBJECT_NO,pdf.ITEM_SPEC,pdf.ITEM_MODEL,pdf.AMOUNT,pdf.PRICE,pdf.MONEY,pdf.arrive_date,pdf.NOTE,pdf.DEPT_ID, pdf.DEPT_ID||'@'||pdf.DEPT_NO AS DEPT_NO,hdd.DEPT_NAME,pdf.UNIT_CODE, hu.UNIT_NAME
		     ,pdf.AMOUNT amountafter,pdf.PRICE priceafter,pdf.MONEY moneyafter,0 changeamount,0 changeprice,0 changemoney
		 FROM
			${table_name}  pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN MAT_INV_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.INV_ID and pdf.subject_type = '03'
			LEFT JOIN HOS_DEPT_DICT hdd on pdf.GROUP_ID = hdd.group_id and pdf.hos_id= hdd.hos_id and pdf.dept_no = hdd.dept_id
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '03'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
			pdf.PACT_CODE,pdf.DETAIL_ID,pdf.SUBJECT_TYPE,pdf.keep_repair_month,pdd.VALUE_NAME as subject_type_name,pdf.SUBJECT_ID,to_char(cast(temp.inv_name as varchar2(20))) as subject_name,temp.inv_code as subject_code,pdf.SUBJECT_NO,pdf.ITEM_SPEC,pdf.ITEM_MODEL,pdf.AMOUNT,pdf.PRICE,pdf.MONEY,pdf.arrive_date,pdf.NOTE,pdf.DEPT_ID, pdf.DEPT_ID||'@'||pdf.DEPT_NO AS DEPT_NO ,hdd.DEPT_NAME,pdf.UNIT_CODE, hu.UNIT_NAME
		     ,pdf.AMOUNT amountafter,pdf.PRICE priceafter,pdf.MONEY moneyafter,0 changeamount,0 changeprice,0 changemoney
		FROM
			${table_name} pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN MED_INV_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.INV_ID and pdf.subject_type = '04'
			LEFT JOIN HOS_DEPT_DICT hdd on pdf.GROUP_ID = hdd.group_id and pdf.hos_id= hdd.hos_id and pdf.dept_no = hdd.dept_id
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '04'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
		UNION
		SELECT
			pdf.PACT_CODE,pdf.DETAIL_ID,pdf.SUBJECT_TYPE,pdf.keep_repair_month,pdd.VALUE_NAME as subject_type_name,pdf.SUBJECT_ID,to_char(cast(temp.sub_name as varchar2(20))) as subject_name,temp.sub_code as subject_code,pdf.SUBJECT_NO,pdf.ITEM_SPEC,pdf.ITEM_MODEL,pdf.AMOUNT,pdf.PRICE,pdf.MONEY,pdf.arrive_date,pdf.NOTE,pdf.DEPT_ID, pdf.DEPT_ID||'@'||pdf.DEPT_NO AS DEPT_NO ,hdd.DEPT_NAME,pdf.UNIT_CODE, hu.UNIT_NAME
		     ,pdf.AMOUNT amountafter,pdf.PRICE priceafter,pdf.MONEY moneyafter,0 changeamount,0 changeprice,0 changemoney
		FROM
			${table_name}  pdf
			LEFT JOIN PACT_DICT_DATA pdd ON pdd.F_CODE = 'SUBJECT_TYPE' AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
			LEFT JOIN PACT_ELSE_SUB_DICT temp on pdf.group_id = temp.group_id and pdf.hos_id = temp.hos_id and pdf.copy_code = temp.copy_code and pdf.subject_id = temp.SUB_ID and pdf.subject_type = '05' and temp.is_new = 0
			LEFT JOIN HOS_DEPT_DICT hdd on pdf.GROUP_ID = hdd.group_id and pdf.hos_id= hdd.hos_id and pdf.dept_no = hdd.dept_id
			left join HOS_UNIT hu on pdf.GROUP_ID = hu.GROUP_ID and pdf.HOS_ID = hu.HOS_ID and pdf.UNIT_CODE = hu.UNIT_CODE
		<where>
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '05'
			<if test="change_code != null and change_code != ''">
				and pdf.change_code = #{change_code,jdbcType=VARCHAR }
			</if>
		</where>
	</select>
	
<delete id="deletePactChangeSKHT" parameterType="java.util.List">
 delete from pact_change_skht
 where 
 <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
     group_id=#{item.group_id} and hos_id=#{item.hos_id} and copy_code=#{item.copy_code} and 
       pact_code=#{item.pact_code} and change_code=#{item.change_code}
 </foreach>
</delete>

<delete id="deletePactPlanSKHTC" parameterType="java.util.List">
 delete from pact_plan_skht_c
 where 
 <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
     group_id=#{item.group_id} and hos_id=#{item.hos_id} and copy_code=#{item.copy_code} and 
      pact_code=#{item.pact_code} and change_code=#{item.change_code}
 </foreach>
 </delete>
 
 <delete id="deletePactDetSKHTC" parameterType="java.util.List">
 delete from pact_det_skht_c
 where 
 <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
     group_id=#{item.group_id} and hos_id=#{item.hos_id} and copy_code=#{item.copy_code} and 
     pact_code=#{item.pact_code} and change_code=#{item.change_code}
 </foreach>
</delete>

 <delete id="deletePactMainSKHTC" parameterType="java.util.List">
 delete from pact_main_skht_c
 where 
 <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
     group_id=#{item.group_id} and hos_id=#{item.hos_id} and copy_code=#{item.copy_code} and 
      pact_code=#{item.pact_code} and change_code=#{item.change_code}
 </foreach>
</delete>

<delete id="deletePactMnoeySKHTC" parameterType="java.util.List">
 delete from pact_money_c_skht
 where 
 <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
     group_id=#{item.group_id} and hos_id=#{item.hos_id} and copy_code=#{item.copy_code} and 
     pact_code=#{item.pact_code} and change_code=#{item.change_code}
 </foreach>
</delete>

<update id="updateSubmitPactMainSKHTC"  parameterType="java.util.List">
update pact_change_skht set state=2
where 
 <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
     group_id=#{item.group_id} and hos_id=#{item.hos_id} and copy_code=#{item.copy_code} and 
      pact_code=#{item.pact_code} and change_code=#{item.change_code}
 </foreach>
</update>

<update id="updateCancelPactMainSKHTC"  parameterType="java.util.List">
update pact_change_skht set state=1
where 
 <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
     group_id=#{item.group_id} and hos_id=#{item.hos_id} and copy_code=#{item.copy_code} and 
      pact_code=#{item.pact_code} and change_code=#{item.change_code}
 </foreach>
</update>

 <update id="confirmPactMainSKHTC"  parameterType="java.util.Map">
update pact_change_skht set state=3,confirmer=#{user_id},confirm_date=to_date(#{make_Date},'yyyy-MM-dd')
where 
     group_id=#{group_id} and hos_id=#{hos_id} and copy_code=#{copy_code} and 
     pact_code=#{pact_code} and change_code=#{change_code}

</update>

<update id="updatePactMainSKHTC" parameterType="java.util.Map">
		UPDATE PACT_MAIN_SKHT_C SET
			original_code=#{original_code,jdbcType=VARCHAR},
			master_pact_code=#{master_pact_code,jdbcType=VARCHAR},
		<if test="sign_date != null and sign_date != ''">
			sign_date=to_date(#{sign_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="dept_id != null and dept_id != ''">
			dept_id=#{dept_id,jdbcType=NUMERIC},
		</if>
		<if test="dept_no != null and dept_no != ''">
			dept_no=#{dept_no,jdbcType=NUMERIC},
		</if>
		<if test="emp_id != null and emp_id != ''">
			emp_id=#{emp_id,jdbcType=NUMERIC},
		</if>

		<if test="opp_emp != null and opp_emp != ''">
			opp_emp=#{opp_emp,jdbcType=VARCHAR},
		</if>
			opp_phone=#{opp_phone,jdbcType=VARCHAR},
			pact_money=#{pact_money,jdbcType=NUMERIC},
		<if test="start_date != null and start_date != ''">
			start_date=to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="end_date != null and end_date != ''">
			end_date=to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
			organ_type=#{organ_type,jdbcType=VARCHAR},
			buy_type=#{buy_type,jdbcType=VARCHAR},
			deposit_type=#{deposit_type,jdbcType=VARCHAR},
			deposit_money=#{deposit_money,jdbcType=NUMERIC},

		proj_id=#{proj_id,jdbcType=NUMERIC},
		is_deposit=#{is_deposit,jdbcType=NUMERIC},
		is_bid=#{is_bid,jdbcType=NUMERIC},
		delivery_term=#{delivery_term},
		server=#{server ,jdbcType=VARCHAR},
        ser_emp= #{ser_emp ,jdbcType=VARCHAR},
        ser_phone=#{ser_phone,jdbcType=VARCHAR},
        cont_term1=#{cont_term1,jdbcType=VARCHAR},
        cont_term2=#{cont_term2,jdbcType=VARCHAR},
        cont_term3=#{cont_term3,jdbcType=VARCHAR},
        cont_term4=#{cont_term4,jdbcType=VARCHAR},
        cont_term5=#{cont_term5,jdbcType=VARCHAR},
        cont_term6=#{cont_term6,jdbcType=VARCHAR},
        note=#{note,jdbcType=VARCHAR}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
		and change_code=#{change_code,jdbcType=VARCHAR}
	</update>
	
 <update id="updatePactMainMoney" parameterType="java.util.Map">
	 update pact_main_skht_c m set m.pact_money=(
  select sum(d.money) from pact_det_skht_c d
  where d.group_id=#{group_id} and d.hos_id=#{hos_id} and d.copy_code=#{copy_code}
  and d.pact_code=#{pact_code} and d.change_code=#{change_code}
  )
  where m.group_id=#{group_id} and m.hos_id=#{hos_id} and m.copy_code=#{copy_code}
  and m.pact_code=#{pact_code} and m.change_code=#{change_code}
	</update>

<update id="updatePactChangeSKHT"  parameterType="java.util.Map">
update pact_change_skht
set change_date=to_date(#{change_date},'yyyy-MM-dd'), change_reason=#{change_reason},
    rec_id=#{rec_id}, summary=#{summary}, rec_date=to_date(#{rec_date},'yyyy-MM-dd'), 
    rec_cond=#{rec_cond}, plan_money=#{plan_money}
where  group_id=#{group_id} and hos_id=#{hos_id} and copy_code=#{copy_code}
 and pact_code =#{pact_code} and change_code=#{change_code}
</update>

<insert id="addPactDetBySKHTC" parameterType="java.util.Map">
insert into pact_det_skht
  (group_id, hos_id, copy_code, pact_code, detail_id, subject_type, subject_id, subject_no, dept_id, dept_no,
   item_spec, item_model, unit_code, amount, price, money, arrive_date, keep_repair_month, note)
select group_id, hos_id, copy_code, pact_code, detail_id, subject_type, subject_id, subject_no, dept_id, dept_no,
 item_spec, item_model, unit_code, amount, price, money, arrive_date, keep_repair_month, note
 from pact_det_skht_c 
 where  group_id=#{group_id} and hos_id=#{hos_id} and copy_code=#{copy_code}
 and pact_code =#{pact_code} and change_code=#{change_code} 
</insert>

<insert id="addPactPlanBySKHTC"  parameterType="java.util.Map">
insert into pact_plan_skht
  (group_id, hos_id, copy_code, pact_code, plan_detail_id, rec_id, summary,
   rec_date, rec_cond, plan_money, payed_money, pay_flag)
select
 group_id, hos_id, copy_code, pact_code, plan_detail_id, rec_id, summary,
 rec_date, rec_cond, plan_money, payed_money, pay_flag
from pact_plan_skht_c 
 where  group_id=#{group_id} and hos_id=#{hos_id} and copy_code=#{copy_code}
 and pact_code =#{pact_code} and change_code=#{change_code} 
</insert>

<insert id="addPactMoneycSKHT" parameterType="java.util.Map">
insert into pact_money_c_skht
  (group_id, hos_id, copy_code, pact_code, change_code, detail_id, subject_type, subject_id,
   subject_no, amount_b, price_b, amount_c, price_c, money_c, amount_a, price_a, money_b, money_a)
values(
  #{group_id},#{hos_id},#{copy_code},#{pact_code},#{change_code},#{detail_id},#{subject_type},#{subject_id},#{subject_no},
  #{amount},#{price},#{changeamount},#{changeprice},#{changemoney},#{amountafter},#{priceafter},#{money},#{moneyafter}
)
</insert>
</mapper>