<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.pay.main.AssPayForAccMainMapper">
 	
	<resultMap id="assPayForAccMain" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="vouch_no" column="vouch_no" />
	<result property="vouch_id" column="vouch_id" />
	<result property="vouch_date" column="vouch_date" />
	<result property="result_state" column="result_state" />
	<result property="pay_no" column="pay_no"/>
	<result property="pay_date" column="pay_date"/>
	<result property="pay_bill_type" column="pay_bill_type"/>
	<result property="sup_id" column="sup_id"/>
	<result property="sup_no" column="sup_no"/>
	<result property="ven_code" column="ven_code"/>
	<result property="ven_name" column="ven_name"/>
	<result property="pay_code" column="pay_code"/>
	<result property="pay_type_code" column="pay_type_code"/>
	<result property="acct_code" column="acct_code"/>
	<result property="cheq_no" column="cheq_no"/>
	<result property="payable_money" column="payable_money"/>
	<result property="payed_money" column="payed_money"/>
	<result property="pay_money" column="pay_money"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_emp_name" column="create_emp_name"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="audit_emp_name" column="audit_emp_name"/>
	<result property="audit_date" column="audit_date"/>
	<result property="state" column="state"/>
	<result property="state_name" column="state_name"/>
	<result property="is_init" column="is_init"/>
	<result property="note" column="note"/>
	</resultMap>

	<select id="queryAssPayForAccMain" parameterType="java.util.Map" resultMap="assPayForAccMain" >
	
with tmp1 as
 ( select mpm.group_id, mpm.hos_id, mpm.copy_code, mpm.pay_no
          , max(abnbr.fseqno) as fseqno, max(abnbr.iseqno) as iseqno
        from ass_pay_main mpm
          left join acc_bank_net_buyer_rd abnbr on mpm.pay_no = abnbr.erpsqn
     and abnbr.group_id = #{group_id,jdbcType=INTEGER}
     and abnbr.hos_id = #{hos_id,jdbcType=INTEGER}
     and abnbr.copy_code = #{copy_code,jdbcType=VARCHAR}
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND mpm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mpm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="pay_no != null and pay_no != ''">
		AND mpm.pay_no = #{pay_no,jdbcType=INTEGER}
		</if>
		<if test="beginDate != null and beginDate != '' and endDate !=null and endDate !=''">
		AND mpm.create_date between to_date(#{beginDate,jdbcType=DATE},'yyyy-MM-dd') and to_date(#{endDate,jdbcType=DATE},'yyyy-MM-dd')
		</if>
		<if test="makeBeginDate != null and makeBeginDate != '' and makeEndDate !=null and makeEndDate !=''">
		AND mpm.audit_date between to_date(#{makeBeginDate,jdbcType=DATE},'yyyy-MM-dd') and to_date(#{makeEndDate,jdbcType=DATE},'yyyy-MM-dd')
		</if>
		<if test="pay_bill_type != null and pay_bill_type != ''">
		AND mpm.pay_bill_type = #{pay_bill_type,jdbcType=VARCHAR}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND mpm.ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="store_id != null and store_id != ''">
		AND mpm.store_id = #{store_id,jdbcType=INTEGER}
		</if>
		<if test="pay_code != null and pay_code != ''">
		AND mpm.pay_code = #{pay_code,jdbcType=VARCHAR}
		</if>
		<if test="pay_type_code != null and pay_type_code != ''">
		AND mpm.pay_type_code = #{pay_type_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_code != null and acct_code != ''">
		AND mpm.acct_code = #{acct_code,jdbcType=VARCHAR}
		</if>
		<if test="cheq_no != null and cheq_no != ''">
		AND mpm.cheq_no = #{cheq_no,jdbcType=VARCHAR}
		</if>
		<if test="payable_money != null and payable_money != '' ">
		AND mpm.payable_money = #{payable_money,jdbcType=INTEGER} 
		</if>
		<if test="payed_money != null and payed_money != '' ">
		AND mpm.payed_money = #{payed_money,jdbcType=INTEGER} 
		</if>
		<if test="pay_money != null and pay_money != '' ">
		AND mpm.pay_money = #{pay_money,jdbcType=INTEGER} 
		</if>
		<if test="ceate_emp != null and ceate_emp != ''">
		AND mpm.ceate_emp = #{ceate_emp,jdbcType=INTEGER}
		</if>
		
		<if test="audit_emp != null and audit_emp != ''">
		AND mpm.audit_emp = #{audit_emp,jdbcType=INTEGER}
		</if>
		<if test="chk_date != null and chk_date != ''">
		AND mpm.chk_date = #{chk_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND mpm.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="is_init != null and is_init != ''">
		AND mpm.is_init = #{is_init,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND mpm.note = #{note,jdbcType=VARCHAR}
		</if>
		<if test="ass_nature != null and ass_nature != ''">  
				and exists (
				      select 1
				      from Ass_Pay_Detail ab
				      left join ass_bill_detail aa
				      on aa.group_id = ab.group_id
				      and aa.hos_id = ab.hos_id
				      and aa.copy_code = ab.copy_code
				      and aa.bill_no = ab.bill_no
				      where ab.group_id = mpm.group_id
				        and ab.hos_id = mpm.hos_id
				        and ab.copy_code = mpm.copy_code
				        and ab.pay_no = mpm.pay_no
				        and aa.naturs_code = #{ass_nature}
				    )
	        </if>
		</where> 
		group by mpm.group_id, mpm.hos_id, mpm.copy_code, mpm.pay_no
  
  )

select t1.*,
       acc_vouch_type.vouch_type_short || '-' || acc_vouch.vouch_no as VOUCH_NO,
       acc_vouch.vouch_id,
       acc_vouch.vouch_date
  from ( select null as group_id, null as hos_id, null as copy_code, null as pay_no, null as pay_date
        , null as ven_id, sum(pay_money) as pay_money, null as state, null as state_name
        , null as create_emp, null as create_emp_name, null as create_date, null as audit_emp, null as audit_emp_name
        , null as audit_date, '合计' as note, null as ven_no, null as ven_code, null as ven_name,null result_state
      from tmp1 tmp1
      left join ASS_PAY_MAIN mpm on tmp1.pay_no = mpm.pay_no
           and mpm.group_id = #{group_id,jdbcType=INTEGER}
           and mpm.hos_id = #{hos_id,jdbcType=INTEGER}
           and mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
          left join acc_bank_net_buyer_rd abnbr
            on tmp1.pay_no = abnbr.erpsqn
           and tmp1.fseqno = abnbr.fseqno
           and tmp1.iseqno = abnbr.iseqno
           and abnbr.group_id = #{group_id,jdbcType=INTEGER}
           and abnbr.hos_id = #{hos_id,jdbcType=INTEGER}
           and abnbr.copy_code = #{copy_code,jdbcType=VARCHAR}
           <where>                     
		<if test="group_id != null and group_id != ''">
		AND mpm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mpm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="store_id != null and store_id != '' ">
		and hs.store_id = #{store_id}
		 </if>
		<if test="set_id != null and set_id != '' ">
		and msd.set_id = #{set_id}
		</if>
		<if test="result_state != null and result_state != '' ">
		and abnbr.result in ('5','6','8','95','96')
		</if>
		</where> 
        union
         select tmp1.group_id, tmp1.hos_id, tmp1.copy_code, mpm.pay_no, mpm.pay_date
        , mpm.ven_id, mpm.pay_money, mpm.state
        , case 
          when mpm.state = 0 then '新建'
          when mpm.state = 1 then '审核'
          when mpm.state = 2 then '付款确认'
          else null
        end as state_name, mpm.create_emp, su1.user_name as create_emp_name, mpm.create_date, mpm.audit_emp
        , su2.user_name as audit_emp_name, mpm.audit_date, mpm.note, mpm.ven_no, b.sup_code as ven_code
        , b.sup_name as ven_name
        , case 
          when abnbr.result = 0
          or abnbr.result = 1
          or abnbr.result = 2
          or abnbr.result = 3
          or abnbr.result = 4
          or abnbr.result = 9
          or abnbr.result = 10
          or abnbr.result = 86 then '正在处理'
          when abnbr.result = 5
          or abnbr.result = 6
          or abnbr.result = 8
          or abnbr.result = 95
          or abnbr.result = 96 then '支付失败'
          when abnbr.result = 7
          or abnbr.result = 11 then '支付成功'
          else '未支付'
        end as result_state -- 0 1 2 3 4 9 10 86 正在处理  7 11 处理成功  5 6 8 95 96 处理失败
          from tmp1 tmp1
          left join ASS_PAY_MAIN mpm on tmp1.pay_no = mpm.pay_no
           and mpm.group_id = #{group_id,jdbcType=INTEGER}
           and mpm.hos_id = #{hos_id,jdbcType=INTEGER}
           and mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
          left join acc_bank_net_buyer_rd abnbr
            on tmp1.pay_no = abnbr.erpsqn
           and tmp1.fseqno = abnbr.fseqno
           and tmp1.iseqno = abnbr.iseqno
           and abnbr.group_id = #{group_id,jdbcType=INTEGER}
           and abnbr.hos_id = #{hos_id,jdbcType=INTEGER}
           and abnbr.copy_code = #{copy_code,jdbcType=VARCHAR}
           left join hos_sup_dict b on mpm.group_id = b.group_id
      and mpm.hos_id = b.hos_id
      and mpm.ven_id = b.sup_id
      and b.is_stop = 0 
      left join sys_user su1 on mpm.group_id = su1.group_id
      and mpm.hos_id = su1.hos_id
      and mpm.create_emp = su1.user_id 
        left join sys_user su2 on mpm.group_id = su2.group_id
      and mpm.hos_id = su2.hos_id
      and mpm.audit_emp = su2.user_id 
        <where>                     
		<if test="group_id != null and group_id != ''">
		AND mpm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mpm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="store_id != null and store_id != '' ">
		and hs.store_id = #{store_id}
		 </if>
		<if test="set_id != null and set_id != '' ">
		and msd.set_id = #{set_id}
		</if>
		<if test="result_state != null and result_state != '' ">
		and abnbr.result in ('5','6','8','95','96')
		</if>
		</where> 
        ) t1
  left join ACC_BUSI_LOG_050401
    on ACC_BUSI_LOG_050401.group_id = #{group_id,jdbcType=INTEGER}
   and ACC_BUSI_LOG_050401.hos_id = #{hos_id,jdbcType=INTEGER}
   and ACC_BUSI_LOG_050401.copy_code = #{copy_code,jdbcType=VARCHAR}
    and t1.pay_no = ACC_BUSI_LOG_050401.BUSINESS_NO 
    left join acc_vouch on acc_vouch.group_id = ACC_BUSI_LOG_050401.group_id
    and acc_vouch.hos_id = ACC_BUSI_LOG_050401.hos_id
    and acc_vouch.copy_code = ACC_BUSI_LOG_050401.copy_code
    and acc_vouch.vouch_id = ACC_BUSI_LOG_050401.vouch_id 
      left join acc_vouch_type on acc_vouch_type.group_id = acc_vouch.group_id
    and acc_vouch_type.hos_id = acc_vouch.hos_id
    and acc_vouch_type.copy_code = acc_vouch.copy_code
    and acc_vouch_type.vouch_type_code = acc_vouch.vouch_type_code 
    order by  t1.pay_date desc

	</select>
	
	<!-- 审核、消审-->
	<update id="updateAssPayState" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE mat_pay_main SET
				checker = #{item.checker,jdbcType=INTEGER}
				,
				chk_date = to_date(#{item.chk_date,jdbcType=DATE},'yyyy-MM-dd')
				,
				state = #{item.state,jdbcType=INTEGER}
			
			WHERE 
				group_id = #{item.group_id,jdbcType=INTEGER}
				 and 
				hos_id = #{item.hos_id,jdbcType=INTEGER}
				 and 
				copy_code = #{item.copy_code,jdbcType=VARCHAR}
				 and 
				pay_id = #{item.pay_id,jdbcType=INTEGER}
				 and 
				pay_bill_no = #{item.pay_bill_no,jdbcType=INTEGER}
		</foreach>
	</update>
</mapper>

