<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.dict.cert.AssCertMainMapper">
	
	<resultMap id="assCertMain" type="com.chd.hrp.ass.entity.dict.cert.AssCertMain"> 
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="cert_code" column="cert_code"/>
	<result property="cert_inv_name" column="cert_inv_name"/>
	<result property="fac_id" column="fac_id"/>
	<result property="cert_date" column="cert_date"/>
	<result property="issuing_authority" column="issuing_authority"/>
	<result property="start_date" column="start_date"/>
	<result property="end_date" column="end_date"/>
    <result property="link_person" column="link_person"/>
	<result property="link_tel" column="link_tel"/>
    <result property="link_mobile" column="link_mobile"/>
	<result property="cert_memo" column="cert_memo"/>  
    <result property="file_path" column="file_path"/>
	<result property="file_address" column="file_address"/>  
    <result property="cert_state" column="cert_state"/>
	<result property="state" column="state"/>      
    <result property="create_user" column="create_user"/>     
	</resultMap>
		
	<resultMap id="assCertMainMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="cert_code" column="cert_code"/>
	<result property="cert_inv_name" column="cert_inv_name"/>
	<result property="fac_id" column="fac_id"/>
	<result property="cert_date" column="cert_date"/>
	<result property="issuing_authority" column="issuing_authority"/>
	<result property="start_date" column="start_date"/>
	<result property="end_date" column="end_date"/>
    <result property="link_person" column="link_person"/>
	<result property="link_tel" column="link_tel"/>
    <result property="link_mobile" column="link_mobile"/>
	<result property="cert_memo" column="cert_memo"/>  
    <result property="file_path" column="file_path"/>
	<result property="file_address" column="file_address"/>  
    <result property="cert_state" column="cert_state"/>
	<result property="state" column="state"/>      
    <result property="create_user" column="create_user"/>  
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ass_cert_main (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="cert_code != null and cert_code != ''">
		cert_code
		,
		</if>
		<if test="cert_inv_name != null and cert_inv_name != ''">
		cert_inv_name
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		fac_id
		,
		</if>
		<if test="cert_date != null and cert_date != ''">
		cert_date
		,
		</if>
		<if test="issuing_authority != null and issuing_authority != ''">
		issuing_authority
		,
		</if>
		<if test="start_date != null and start_date != ''">
		start_date
		,
		</if>
		<if test="end_date != null and end_date != ''">
		end_date
		,
		</if>
		<if test="link_person != null and link_person != ''">
		link_person
		,
		</if>
		<if test="link_tel != null and link_tel != ''">
		link_tel
		,
		</if>
		<if test="link_mobile != null and link_mobile != ''">
		link_mobile
		,
		</if>
		<if test="cert_memo != null and cert_memo != ''">
		cert_memo
		,
		</if>
		<if test="file_path != null and file_path != ''">
		file_path
		,
		</if>
		<if test="file_address != null and file_address != ''">
		file_address
		,
		</if>
		<if test="cert_state != null and cert_state != ''">
		cert_state
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="create_user != null and create_user != ''">
		create_user
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="cert_code != null and cert_code != ''">
		#{cert_code}
		,
		</if>
		<if test="cert_inv_name != null and cert_inv_name != ''">
		#{cert_inv_name}
		,
		</if>
		<if test="fac_id != null and fac_id != ''">
		#{fac_id}
		,
		</if>
		<if test="cert_date != null and cert_date != ''">
		to_date(#{cert_date},'YYYY-MM-DD')
		,
		</if>
		<if test="issuing_authority != null and issuing_authority != ''">
		#{issuing_authority}
		,
		</if>
		<if test="start_date != null and start_date != ''">
		to_date(#{start_date},'YYYY-MM-DD')
		,
		</if>
		<if test="end_date != null and end_date != ''">
		to_date(#{end_date},'YYYY-MM-DD')
		,
		</if>
		<if test="link_person != null and link_person != ''">
		#{link_person}
		,
		</if>
		<if test="link_tel != null and link_tel != ''">
		#{link_tel}
		,
		</if>
		<if test="link_mobile != null and link_mobile != ''">
		#{link_mobile}
		,
		</if>
		<if test="cert_memo != null and cert_memo != ''">
		#{cert_memo}
		,
		</if>
		<if test="file_path != null and file_path != ''">
		#{file_path}
		,
		</if>
		<if test="file_address != null and file_address != ''">
		#{file_address}
		,
		</if>
		<if test="cert_state != null and cert_state != ''">
		#{cert_state}
		,
		</if>
		<if test="state != null and state != ''">
		#{state}
		,
		</if>
		<if test="create_user != null and create_user != ''">
		#{create_user}
		,
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ass_cert_main (
			group_id,         
			hos_id,           
			copy_code,        
			cert_code,        
			cert_inv_name,    
			fac_id,           
			cert_date,        
			issuing_authority,
			start_date,       
			end_date,         
			link_person,      
			link_tel,         
			link_mobile,      
			cert_memo,        
			file_path,        
			file_address,     
			cert_state,       
			state,            
			create_user      

		
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.cert_code},        
			#{item.cert_inv_name},    
			#{item.fac_id},           
			#{item.cert_date},        
			#{item.issuing_authority},
			#{item.start_date},       
			#{item.end_date},         
			#{item.link_person},      
			#{item.link_tel},         
			#{item.link_mobile},      
			#{item.cert_memo},        
			#{item.file_path},        
			#{item.file_address},     
			#{item.cert_state},       
			#{item.state},            
			#{item.create_user} 
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateToExamine" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_cert_main set state = 1
			where
			 group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND cert_code = #{item.cert_code,jdbcType=INTEGER}
		</foreach>
	</update>
	<update id="updateNotToExamine" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_cert_main set state = 0 
			where 
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND cert_code = #{item.cert_code,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_cert_main 
		<trim prefix="SET"  suffixOverrides=","> 
			<if test="cert_inv_name != null and cert_inv_name != ''">
			cert_inv_name = #{cert_inv_name}
			,
			</if>
			<if test="fac_id != null and fac_id != ''">
			fac_id = #{fac_id}
			,
			</if>
			<if test="cert_date != null and cert_date != ''">
			cert_date = to_date(#{cert_date},'YYYY-MM-DD')
			,
			</if>
			<if test="issuing_authority != null and issuing_authority != ''">
			issuing_authority = #{issuing_authority}
			,
			</if>
			<if test="start_date != null and start_date != ''">
			start_date = to_date(#{start_date},'YYYY-MM-DD')
			,
			</if>
			<if test="end_date != null and end_date != ''">
			end_date = to_date(#{end_date},'YYYY-MM-DD')
			,
			</if>
			<if test="link_person != null and link_person != ''">
			link_person = #{link_person}
			,
			</if>
			<if test="link_tel != null and link_tel != ''">
			link_tel = #{link_tel}
			,
			</if>
			<if test="link_mobile != null and link_mobile != ''">
			link_mobile = #{link_mobile}
			,
			</if>
			<if test="cert_memo != null and cert_memo != ''">
			cert_memo = #{cert_memo}
			,
			</if>
			<if test="file_path != null and file_path != ''">
			file_path = #{file_path}
			,
			</if>
			<if test="file_address != null and file_address != ''">
			file_address = #{file_address}
			,
			</if>
			<if test="cert_state != null and cert_state != ''">
			cert_state = #{cert_state}
			,
			</if>
		</trim>
			<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="cert_code != null and cert_code != ''">
			AND cert_code = #{cert_code,jdbcType=VARCHAR}
			</if>
			</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_cert_main 
			<trim prefix="SET"  suffixOverrides=","> 
				<if test="item.cert_inv_name != null and item.cert_inv_name != ''">
				cert_inv_name = #{item.cert_inv_name}
				,
				</if>
				<if test="item.fac_id != null and item.fac_id != ''">
				fac_id = #{item.fac_id}
				,
				</if>
				<if test="item.cert_date != null and item.cert_date != ''">
				cert_date = #{item.cert_date}
				,
				</if>
				<if test="item.issuing_authority != null and item.issuing_authority != ''">
				issuing_authority = #{item.issuing_authority}
				,
				</if>
				<if test="item.start_date != null and item.start_date != ''">
				start_date = #{item.start_date}
				,
				</if>
				<if test="item.end_date != null and item.end_date != ''">
				end_date = #{item.end_date}
				,
				</if>
				<if test="item.link_person != null and item.link_person != ''">
				link_person = #{item.link_person}
				,
				</if>
				<if test="item.link_tel != null and item.link_tel != ''">
				link_tel = #{item.link_tel}
				,
				</if>
				<if test="item.link_mobile != null and item.link_mobile != ''">
				link_mobile = #{item.link_mobile}
				,
				</if>
				<if test="item.cert_memo != null and item.cert_memo != ''">
				cert_memo = #{item.cert_memo}
				,
				</if>
				<if test="item.file_path != null and item.file_path != ''">
				file_path = #{item.file_path}
				,
				</if>
				<if test="item.file_address != null and item.file_address != ''">
				file_address = #{item.file_address}
				,
				</if>
				<if test="item.cert_state != null and item.cert_state != ''">
				cert_state = #{item.cert_state}
				,
				</if>
				<if test="item.state != null and item.state != ''">
				state = #{item.state}
				,
				</if>
				<if test="item.create_user != null and item.create_user != ''">
				create_user = #{item.create_user}
				,
				</if>
			</trim>
			<where>                     
				<if test="item.group_id != null and item.group_id != ''">
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>  
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>  
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>  
				<if test="item.cert_code != null and item.cert_code != ''">
				AND cert_code = #{item.cert_code,jdbcType=VARCHAR}
				</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_cert_main 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="cert_code != null and cert_code != ''">
		AND cert_code = #{cert_code,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_cert_main 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND cert_code = #{item.cert_code,jdbcType=VARCHAR}
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assCertMain" >
	
		SELECT 
			t1.group_id,         
			t1.hos_id,           
			t1.copy_code,        
			t1.cert_code,        
			t1.cert_inv_name,    
			t1.fac_id,    
			t2.fac_code||' '||t2.fac_name fac_name,        
			t1.cert_date,        
			t1.issuing_authority,
			t1.start_date,       
			t1.end_date,         
			t1.link_person,      
			t1.link_tel,         
			t1.link_mobile,      
			t1.cert_memo,        
			t1.file_path,        
			t1.file_address,     
			t1.cert_state,    
			case when t1.cert_state = 0  then '未使用' when t1.cert_state = 1 then '使用中' when t1.cert_state = 2 then '已作废' else '' end cert_state_name,   
			t1.state,        
			case when t1.state = 0  then '新建' when t1.state = 1 then '审核' else '' end state_name,    
			t1.create_user,
			t3.user_name create_user_name

		FROM ass_cert_main t1
		
		left join hos_fac_dict t2 on
		t1.group_id = t2.group_id
		and t1.hos_id = t2.hos_id
		and t1.fac_id = t2.fac_id
		and t2.is_stop = 0
		
		left join sys_user t3 on
		t1.group_id = t3.group_id
		and t1.hos_id = t3.hos_id
		and t1.create_user = t3.user_id
		<where>                     
		AND t1.group_id = #{group_id,jdbcType=INTEGER}
		AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
		AND t1.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="cert_code != null and cert_code != ''">
		AND t1.cert_code  like '%${cert_code}%'
		</if>
		<if test="cert_inv_name != null and cert_inv_name != ''">
		AND t1.cert_inv_name like '%${cert_inv_name}%'
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND t1.fac_id = #{fac_id}
		</if>
		<if test="cert_date_begin != null and cert_date_begin != ''">
		AND t1.cert_date &gt;= to_date(#{cert_date_begin},'YYYY-MM-DD')
		</if>
		<if test="cert_date_end != null and cert_date_end != ''">
		AND t1.cert_date &lt;= to_date(#{cert_date_end},'YYYY-MM-DD')
		</if>
		<if test="issuing_authority != null and issuing_authority != ''">
		AND t1.issuing_authority = #{issuing_authority}
		</if>
		<if test="start_date != null and start_date != ''">
		AND t1.start_date = #{start_date}
		</if>
		<if test="end_date != null and end_date != ''">
		AND t1.end_date = #{end_date}
		</if>
		<if test="link_person != null and link_person != ''">
		AND t1.link_person = #{link_person}
		</if>
		<if test="link_tel != null and link_tel != ''">
		AND t1.link_tel = #{link_tel}
		</if>
		<if test="link_mobile != null and link_mobile != ''">
		AND t1.link_mobile = #{link_mobile}
		</if>
		<if test="cert_memo != null and cert_memo != ''">
		AND t1.cert_memo = #{cert_memo}
		</if>
		<if test="file_path != null and file_path != ''">
		AND t1.file_path = #{file_path}
		</if>
		<if test="file_address != null and file_address != ''">
		AND t1.file_address = #{file_address}
		</if>
		<if test="cert_state != null and cert_state != ''">
		AND t1.cert_state = #{cert_state}
		</if>
		<if test="state != null and state != ''">
		AND t1.state = #{state}
		</if>
		<if test="create_user != null and create_user != ''">
		AND t1.create_user = #{create_user}
		</if>
		</where>   
		order by t1.cert_code asc
	</select>
	<select id="queryByCode" resultMap="assCertMain"  parameterType="java.util.Map" >
	
		SELECT 
			t1.group_id,         
			t1.hos_id,           
			t1.copy_code,        
			t1.cert_code,        
			t1.cert_inv_name,    
			t1.fac_id,
			t2.fac_no,    
			t2.fac_code||' '||t2.fac_name fac_name,        
			t1.cert_date,        
			t1.issuing_authority,
			t1.start_date,       
			t1.end_date,         
			t1.link_person,      
			t1.link_tel,         
			t1.link_mobile,      
			t1.cert_memo,        
			t1.file_path,        
			t1.file_address,     
			t1.cert_state,    
			case when t1.cert_state = 0  then '未使用' when t1.cert_state = 1 then '使用中' when t1.cert_state = 2 then '已作废' else '' end cert_state_name,   
			t1.state,        
			case when t1.state = 0  then '新建' when t1.state = 1 then '审核' else '' end state_name,    
			t1.create_user,
			t3.user_name create_user_name

		FROM ass_cert_main t1
		
		left join hos_fac_dict t2 on
		t1.group_id = t2.group_id
		and t1.hos_id = t2.hos_id
		and t1.fac_id = t2.fac_id
		and t2.is_stop = 0
		
		left join sys_user t3 on
		t1.group_id = t3.group_id
		and t1.hos_id = t3.hos_id
		and t1.create_user = t3.user_id
		WHERE 
		t1.group_id = #{group_id,jdbcType=INTEGER}   and 
		t1.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		t1.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		t1.cert_code = #{cert_code,jdbcType=VARCHAR} 
	
	</select>
		<select id="queryByName" resultMap="assCertMain"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,         
			hos_id,           
			copy_code,        
			cert_code,        
			cert_inv_name,    
			fac_id,           
			cert_date,        
			issuing_authority,
			start_date,       
			end_date,         
			link_person,      
			link_tel,         
			link_mobile,      
			cert_memo,        
			file_path,        
			file_address,     
			cert_state,       
			state,            
			create_user  
		FROM ass_cert_main 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		cert_inv_name = #{cert_inv_name,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assCertMain"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,         
			hos_id,           
			copy_code,        
			cert_code,        
			cert_inv_name,    
			fac_id,           
			cert_date,        
			issuing_authority,
			start_date,       
			end_date,         
			link_person,      
			link_tel,         
			link_mobile,      
			cert_memo,        
			file_path,        
			file_address,     
			cert_state,       
			state,            
			create_user  
		FROM ass_cert_main 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="cert_code != null and cert_code != ''">
		AND cert_code = #{cert_code,jdbcType=VARCHAR}
		</if>
		<if test="cert_inv_name != null and cert_inv_name != ''">
		AND cert_inv_name = #{cert_inv_name,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id}
		</if>
		<if test="cert_date != null and cert_date != ''">
		AND cert_date = #{cert_date}
		</if>
		<if test="issuing_authority != null and issuing_authority != ''">
		AND issuing_authority = #{issuing_authority}
		</if>
		<if test="start_date != null and start_date != ''">
		AND start_date = #{start_date}
		</if>
		<if test="end_date != null and end_date != ''">
		AND end_date = #{end_date}
		</if>
		<if test="link_person != null and link_person != ''">
		AND link_person = #{link_person}
		</if>
		<if test="link_tel != null and link_tel != ''">
		AND link_tel = #{link_tel}
		</if>
		<if test="link_mobile != null and link_mobile != ''">
		AND link_mobile = #{link_mobile}
		</if>
		<if test="cert_memo != null and cert_memo != ''">
		AND cert_memo = #{cert_memo}
		</if>
		<if test="file_path != null and file_path != ''">
		AND file_path = #{file_path}
		</if>
		<if test="file_address != null and file_address != ''">
		AND file_address = #{file_address}
		</if>
		<if test="cert_state != null and cert_state != ''">
		AND cert_state = #{cert_state}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state}
		</if>
		<if test="create_user != null and create_user != ''">
		AND create_user = #{create_user}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assCertMain"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,         
			hos_id,           
			copy_code,        
			cert_code,        
			cert_inv_name,    
			fac_id,           
			cert_date,        
			issuing_authority,
			start_date,       
			end_date,         
			link_person,      
			link_tel,         
			link_mobile,      
			cert_memo,        
			file_path,        
			file_address,     
			cert_state,       
			state,            
			create_user  
		FROM ass_cert_main 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="cert_code != null and cert_code != ''">
		AND cert_code = #{cert_code,jdbcType=VARCHAR}
		</if>
		<if test="cert_inv_name != null and cert_inv_name != ''">
		AND cert_inv_name = #{cert_inv_name,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id}
		</if>
		<if test="cert_date != null and cert_date != ''">
		AND cert_date = #{cert_date}
		</if>
		<if test="issuing_authority != null and issuing_authority != ''">
		AND issuing_authority = #{issuing_authority}
		</if>
		<if test="start_date != null and start_date != ''">
		AND start_date = #{start_date}
		</if>
		<if test="end_date != null and end_date != ''">
		AND end_date = #{end_date}
		</if>
		<if test="link_person != null and link_person != ''">
		AND link_person = #{link_person}
		</if>
		<if test="link_tel != null and link_tel != ''">
		AND link_tel = #{link_tel}
		</if>
		<if test="link_mobile != null and link_mobile != ''">
		AND link_mobile = #{link_mobile}
		</if>
		<if test="cert_memo != null and cert_memo != ''">
		AND cert_memo = #{cert_memo}
		</if>
		<if test="file_path != null and file_path != ''">
		AND file_path = #{file_path}
		</if>
		<if test="file_address != null and file_address != ''">
		AND file_address = #{file_address}
		</if>
		<if test="cert_state != null and cert_state != ''">
		AND cert_state = #{cert_state}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state}
		</if>
		<if test="create_user != null and create_user != ''">
		AND create_user = #{create_user}
		</if>
		</where>   
		order by group_id asc
	</select>
	
</mapper>

