<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.info.basic.HtcChargeItemDictMapper">

	<resultMap id="chargeItemDict" type="com.chd.hrp.htc.entity.info.basic.HtcChargeItemDict">
       	<result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="charge_kind_id" column="charge_kind_id"/>
         <result property="charge_kind_code" column="charge_kind_code"/>
        <result property="charge_kind_name" column="charge_kind_name"/>
        <result property="charge_item_id" column="charge_item_id"/>
        <result property="charge_item_code" column="charge_item_code"/>
        <result property="charge_item_name" column="charge_item_name"/>
        <result property="price" column="price"/>
        <result property="is_stop" column="is_stop"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
	</resultMap>
	<insert id="addHtcChargeItemDict" useGeneratedKeys="true" >
    
        insert into cost_charge_item_arrt (
                    group_id,
                    hos_id,
                    copy_code,
                    charge_kind_id,
			        charge_item_id,
                    charge_item_code,
                    charge_item_name,
                    price,
                    is_stop,
                    spell_code,
                    wbx_code
	             ) values (
					#{group_id},
					#{hos_id},
					#{copy_code},
					#{charge_kind_id},
					cost_charge_item_arrt_seq.nextval,
					#{charge_item_code},
					#{charge_item_name},
					#{price},
					#{is_stop},
					#{spell_code},
					#{wbx_code}			 
				 )
    
    </insert>
	<insert id="addBatchHtcChargeItemDict" parameterType="java.util.List" >
    
        INSERT INTO COST_CHARGE_ITEM_ARRT (
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
                    charge_kind_id
			 ,
			        charge_item_id,
                    charge_item_code
			 ,
                    charge_item_name
			 ,
                    price
			 ,
                    is_stop
			 ,
                    spell_code
			 ,
                    wbx_code
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
			#{item.group_id}			 ,
			#{item.hos_id}			 ,
			#{item.copy_code}			 ,
			#{item.charge_kind_id}			 ,
			COST_CHARGE_ITEM_ARRT_SEQ.nextval,
			#{item.charge_item_code}			 ,
			#{item.charge_item_name}			 ,
			#{item.price}			 ,
			#{item.is_stop}			 ,
			#{item.spell_code}			 ,
			#{item.wbx_code}			 
			from dual 
		</foreach>
    
    </insert>

	<update id="updateHtcChargeItemDict" parameterType="java.util.Map">
    
        update cost_charge_item_arrt set
			 charge_item_name = #{charge_item_name},
			 price = #{price},
			 is_stop = #{is_stop},
			 spell_code = #{spell_code},
			 wbx_code = #{wbx_code}
        where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and charge_kind_id = #{charge_kind_id}
		and charge_item_id = #{charge_item_id}
			 
   
	</update>
	<update id="updateBatchHtcChargeItemDict" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        update cost_charge_item_arrt set
			 charge_item_name = #{charge_item_name},
			 price = #{price},
			 is_stop = #{is_stop},
			 spell_code = #{spell_code},
			 wbx_code = #{wbx_code}
        where group_id = #{item.group_id}
		and  hos_id = #{item.hos_id}
		and copy_code = #{item.copy_code}
		and charge_kind_id = #{item.charge_kind_id}
		and charge_item_id = #{item.charge_item_id}
			 
    </foreach>
	</update>

    <delete id="deleteHtcChargeItemDict" parameterType="java.util.Map">
   
        delete from cost_charge_item_arrt 
        where group_id = #{group_id}   
        and  hos_id = #{hos_id}  
        and  copy_code = #{copy_code}  
        and charge_kind_id = #{charge_kind_id}
        and charge_item_id = #{charge_item_id} 
    </delete>
    
    <delete id="deleteBatchHtcChargeItemDict" parameterType="java.util.List">
        delete from cost_charge_item_arrt where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		     group_id = #{item.group_id}
		 and hos_id = #{item.hos_id}
		 and copy_code = #{item.copy_code}
		 and charge_kind_id = #{item.charge_kind_id}
		 and charge_item_id = #{item.charge_item_id}
		</foreach>
    </delete>
    
    <select id="queryHtcChargeItemDictByCode" resultMap="chargeItemDict" parameterType="java.util.Map" >
		     select 
		            ccia.group_id,
		            ccia.hos_id,
		            ccia.copy_code,
		            ccia.charge_kind_id,
					ccka.charge_kind_code,
		            ccka.charge_kind_name,
		            ccia.charge_item_id,
		            ccia.charge_item_code,
		            ccia.charge_item_name,
		            ccia.price,
		            ccia.is_stop,
		            ccia.spell_code,
		            ccia.wbx_code
		        from cost_charge_item_arrt ccia
		        left join cost_charge_kind_arrt ccka on 
		        ccia.group_id = ccka.group_id and 
		        ccia.hos_id = ccka.hos_id and 
		        ccia.copy_code = ccka.copy_code and 
		        ccia.charge_kind_id = ccka.charge_kind_id
	             <where>                     
	                        ccia.group_id = #{group_id}
	                    and ccia.hos_id = #{hos_id}
	                    and ccia.copy_code = #{copy_code}
				    <if test="charge_item_id != null and charge_item_id != ''">
	                    and ccia.charge_item_id = #{charge_item_id}
	                </if>
				    <if test="charge_item_code != null and charge_item_code != ''">
	                     and  ccia.charge_item_code = #{charge_item_code}
	               </if>
	        </where>   
					order by  ccia.group_id,ccia.hos_id,ccia.copy_code,ccia.charge_item_code
	</select>
	<select id="queryHtcChargeItemDict" parameterType="java.util.Map" resultMap="chargeItemDict" >
      
	        select 
	            ccia.group_id,
	            ccia.hos_id,
	            ccia.copy_code,
	            ccia.charge_kind_id,
				ccka.charge_kind_code,
	            ccka.charge_kind_name,
	            ccia.charge_item_id,
	            ccia.charge_item_code,
	            ccia.charge_item_name,
	            ccia.price,
	            ccia.is_stop,
	            ccia.spell_code,
	            ccia.wbx_code
	        from cost_charge_item_arrt ccia
	        left join cost_charge_kind_arrt ccka on 
	        ccia.group_id = ccka.group_id and 
	        ccia.hos_id = ccka.hos_id and 
	        ccia.copy_code = ccka.copy_code and 
	        ccia.charge_kind_id = ccka.charge_kind_id
         <where>                     
                    ccia.group_id = #{group_id}
                    AND ccia.hos_id = #{hos_id}
                    AND ccia.copy_code = #{copy_code}
			    <if test="charge_kind_id != null and charge_kind_id != ''">
                    AND ccia.charge_kind_id = #{charge_kind_id}
               </if>
			    <if test="charge_item_code != null and charge_item_code != ''">
                      AND (ccia.charge_item_code like  '%${charge_item_code}%' 
                    or ccia.charge_item_name like  '%${charge_item_code}%' 
                     or ccia.spell_code like  upper('%${charge_item_code}%') 
                     or ccia.wbx_code like  upper('%${charge_item_code}%') )
               </if>
        </where>   
				order by  ccia.group_id,ccia.hos_id,ccia.copy_code,ccia.charge_item_code
    </select>
    
    
    
	
</mapper>

