<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.making.HtcgIcd9Mapper">

	<resultMap id="icd9" type="com.chd.hrp.htcg.entity.making.HtcgIcd9">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="icd9_code" column="icd9_code"/>
        <result property="icd9_name" column="icd9_name"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="icd9_note" column="icd9_note"/>
	</resultMap>
	 
    <insert id="addHtcgIcd9" useGeneratedKeys="true" >
    
        insert into htcg_icd9 (
            	group_id,
				hos_id,
	            copy_code ,
	            icd9_code ,
	            icd9_name ,
	            spell_code ,
	            wbx_code ,
	            icd9_note 
        ) values (
            #{group_id},  
        	#{hos_id}, 
            #{copy_code} ,
            #{icd9_code} ,
            #{icd9_name} ,
            #{spell_code} ,
            #{wbx_code} ,
            #{icd9_note} 
        )
    
    </insert>
    
    <insert id="addBatchHtcgIcd9" parameterType="java.util.List">
    
        insert into htcg_icd9 (
            group_id,
			hos_id,
            copy_code ,
            icd9_code ,
            icd9_name ,
            spell_code ,
            wbx_code ,
            icd9_note 
        )  
         <foreach collection="list" item="item" separator=" union all">
        	select
            	#{item.group_id},  
        		#{item.hos_id},  
	            #{item.copy_code} ,
	            #{item.icd9_code} ,
	            #{item.icd9_name} ,
	            #{item.spell_code} ,
	            #{item.wbx_code} ,
	            #{item.icd9_note} 
        	from dual
    	</foreach>
    
    </insert>

	<update id="updateHtcgIcd9" parameterType="java.util.Map">
        update htcg_icd9 set
	        icd9_name = #{icd9_name}, 
	        spell_code = #{spell_code}, 
	        wbx_code = #{wbx_code}, 
	        icd9_note = #{icd9_note} 
        where  group_id = #{group_id}  
		       and hos_id = #{hos_id}
	           and copy_code = #{copy_code} 
	           and icd9_code = #{icd9_code}   
	</update>

    <delete id="deleteHtcgIcd9" parameterType="java.util.Map">
        delete from htcg_icd9 
        where  group_id = #{group_id}  
		       and hos_id = #{hos_id}
	           and copy_code = #{copy_code} 
	           and icd9_code = #{icd9_code}
    </delete>

    <delete id="deleteBatchHtcgIcd9" parameterType="java.util.List">
		delete from htcg_icd9 where 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			  group_id = #{item.group_id}
			  and hos_id = #{item.hos_id}
			  and copy_code= #{item.copy_code}
			  and icd9_code = #{item.icd9_code} 
		</foreach>
	</delete>
 
    <select id="queryHtcgIcd9ByCode"  parameterType="java.util.Map" resultMap="icd9" >
        select  group_id,
				hos_id,
	            copy_code,
	            icd9_code,
	            icd9_name,
	            spell_code,
	            wbx_code,
	            icd9_note
		from htcg_icd9 
        where group_id = #{group_id}
			  and hos_id = #{hos_id}
			  and copy_code= #{copy_code}
			  and icd9_code = #{icd9_code}   
	</select>
	<select id="queryHtcgIcd9" parameterType="java.util.Map" resultMap="icd9" >
        select  group_id,
				hos_id,
	            copy_code,
	            icd9_code,
	            icd9_name,
	            spell_code,
	            wbx_code,
	            icd9_note
        from htcg_icd9 
        <where>                     
			    group_id = #{group_id}
			    and hos_id = #{hos_id}
			    and copy_code= #{copy_code}
			    <if test="icd9_code != null and icd9_code != ''">
                    and (icd9_code like '%${icd9_code}%'
	                    or icd9_name like '%${icd9_code}%'
	                    or  spell_code like '%${icd9_code}%'
	                    or wbx_code like '%${icd9_code}%'
                    )
               </if>
        </where>   
				order by  group_id,hos_id,copy_code,icd9_code
    </select>
    
    <select id="queryHtcgIcd9Imp"  resultType="com.chd.hrp.htcg.entity.making.HtcgIcd9" parameterType="string">
     select  group_id,
				hos_id,
	            copy_code,
	            icd9_code,
	            icd9_name,
	            spell_code,
	            wbx_code,
	            icd9_note
        from htcg_icd9 
        <where>                     
			    group_id = #{group_id}
			    and hos_id = #{hos_id}
			    and copy_code= #{copy_code}
			    <if test="icd9_code_name != null and icd9_code_name != ''">
                    and (icd9_code = #{icd9_code_name}
	                    or icd9_name = #{icd9_code_name}
                    )
               </if>
        </where>   
				order by  group_id,hos_id,copy_code,icd9_code
    
    </select>
    
</mapper>

