body,div,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,table,thead,tbody,th,td {    
    margin:0;   
    padding:0;
	}
	
body{ 
	font: 13px/1.8 'Î¢ÈíÑÅºÚ','ËÎÌå',Verdana, Geneva, sans-serif; 
	text-align:left;
	background-color:#fff;
    } 
html,body{height:100%;}
table {border-collapse:collapse; border-spacing:0;} 
img {border:0;} 
ol,ul,li{list-style:none; } 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;} 
input{vertical-align:middle; font-family:Verdana;}
a,a:link{color:#333; text-decoration:none;cursor:pointer;blr:expression(this.onFocus=this.blur())}
a:hover{color:#fa4d01;}
a:focus {outline:0;}
.fleft{ float:left;}
.fright{ float:right;}
.clear{float: none!important; clear: both; overflow: hidden;zoom:1;}
.mt50{margin-top:50px;}
.mt20{margin-top:20px;}
.mr30{margin-right:30px;}

#header{ width:1100px; height:381px; margin:0 auto;}
#imgPlay {width:1100px; height:381px;position:relative; overflow:hidden;zoom:1;}
#imgPlay .imgs LI {
	FLOAT: left; POSITION: relative;
}
#imgPlay .imgs {WIDTH:6600px;}
#imgPlay .btn {
	RIGHT: 280px; OVERFLOW: hidden; WIDTH: 140px; BOTTOM:75px; TEXT-INDENT: -9999px; POSITION: absolute; HEIGHT:30px;
}
#imgPlay .btn A {
	BACKGROUND:url("http://www.bsoft.com.cn/images/detail_btn.png") no-repeat;BACKGROUND-POSITION: 0px 0px; DISPLAY: block; WIDTH: 140px; HEIGHT:30px;
}
#imgPlay .btn A:hover {
	BACKGROUND: url("http://www.bsoft.com.cn/images/detail_btn.png") no-repeat;BACKGROUND-POSITION: 0px -30px;
}
#imgPlay .num {display: inline; left:550px; position: absolute; top: 355px; height:19px;}
#imgPlay .num SPAN {
	DISPLAY: inline-block; BACKGROUND: url("http://www.bsoft.com.cn/images/imgPlayer.png") no-repeat -19px -83px; MARGIN: 0px 2px; OVERFLOW: hidden; WIDTH: 14px; CURSOR: pointer; LINE-HEIGHT: 0; HEIGHT: 13px
}
#imgPlay .num SPAN.on {
	BACKGROUND-POSITION: 1px -83px;
}
#imgPlay .num .lc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url("http://www.bsoft.com.cn/images/lc.png") no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url("http://www.bsoft.com.cn/images/lc.png") no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .rc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url("http://www.bsoft.com.cn/images/lc.png") no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	BACKGROUND: url("http://www.bsoft.com.cn/images/mc.png") repeat-x}
#imgPlay .num .rc {
	BACKGROUND: url("http://www.bsoft.com.cn/images/rc.png") no-repeat}
#imgPlay #numInner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; POSITION: absolute; TOP:355px; TEXT-ALIGN: center;
}


.topBar{ width:394px; height:41px;padding-left:70px; background:url("http://www.bsoft.com.cn/images/top_bar.png") no-repeat left top; position:absolute;right:102px;top:0;}
.topBar a{height:41px; line-height:36px; color:#fff;padding:0 5px;}
.topBar a:hover{color:#fdb825;}
.search{margin-left:80px; border:none; background:transparent; width:65px; height:26px; line-height:24px; color:#fff;}
.btn{ width:50px; height:26px;margin:-3px 0 0 0;background:url("http://www.bsoft.com.cn/images/btn.png") no-repeat left top; border:none; cursor:pointer;outline:0;}

	
	.quick{ width:1000px; height:234px;margin:0 auto;padding:0 50px;background:url("http://www.bsoft.com.cn/images/content_bg.png") no-repeat 0 0;}
	.quick ul{margin-top:-5px;}
	.quick ul li{ height:22px; line-height:1.8em;background:url("http://www.bsoft.com.cn/images/dot.png") no-repeat left center;}
	.quick ul li a{ display:block; color:#fff; padding-left:10px; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; font-size:12px;}
	.quick ul li a:hover{color:#fdb825;}
	.quick_list{width:30%;float:left;margin:30px 0 0 0;padding:0 10px; }
	.quick_list h3{height:25px;margin-bottom:12px;}
	.quick_list h3 span{float:right;margin-top:10px; display:block;border-bottom:1px solid #b1b1b1;  text-align:right;}
	.quick_list h3 span a{color:#fff;font-size:8px;}
	.quick_list h3 span a:hover{color:#fdb825;}
	.quick_list h3.cyxw span{width:67%;}
	.quick_list h3.gscp span{width:56%;}
	.quick_list h3.ghfa span{width:55%;}
	.cyxw{ background:url("http://www.bsoft.com.cn/images/all.png") no-repeat 0 -320px;}
	.gscp{background:url("http://www.bsoft.com.cn/images/all.png") no-repeat 0 -380px;}
	.ghfa{background:url("http://www.bsoft.com.cn/images/all.png") no-repeat 0 -440px;}
	.new_list li{overflow:hidden;zoom:1;}
	.new_list li a { width:65%;}
	.new_list span{ float:right; color:#fff; font-size:11px;}
	.product_list,.plan_list{margin-left:125px;}
	

.content{width:100%;background:url("http://www.bsoft.com.cn/images/bg.jpg") repeat-x left top; text-align:center;margin:0 auto;}
.bg2{ width:1017px;height:100%;margin:0 auto;padding:15px 0 0 0;background:url("http://www.bsoft.com.cn/images/bg2.jpg") no-repeat left top;}
.bg2 h1,.rightMain h1{ height:30px; line-height:30px;padding-left:24px; text-align:left; background:url("http://www.bsoft.com.cn/images/title_bg.png") no-repeat left center; font-size:20px;}
.bg2 h1{margin:0 0 8px 34px;}
.rightMain h1{margin:0 0 8px 0;}
.rightMain h1 span.width3{width:550px;}
.rightMain h1 span.width4{width:570px;}
.rightMain h1 span.width5{width:590px;}
.bg2 h1 span{display:block;height:2px;float:right; border-bottom:2px solid #7ba6bb;margin:15px 40px 0 0;*margin:-15px 40px 0 0;}
.rightMain h1 span{margin:15px 0 0 0;*margin:-15px 0 0 0;}
.bg2 h1 span.width1{width:835px; }
.bg2 h1 span.width2{width:815px; }
.bg2 .White{height:100%;text-align:left;background:#fff;margin:0 7px 0 9px;padding:0 50px 0 50px;}

	
.news li{ width:100%; background:url("http://www.bsoft.com.cn/images/dotline.png") repeat-x bottom;zoom:1;}
.news li.none{ background:none;}
.news li a{display:block;height:28px; line-height:28px;overflow:hidden;}
.news li a img{margin:0 5px;}
.news li span{float:right;margin:4px 0 0 0;color:#444;}
.page{height:30px;line-height:30px;margin:10px 0; border-top:1px solid #bbbbbb;}
.page p{ float:right;*margin:-30px 5px 0 0;}

.text{ height:350px;background:url("http://www.bsoft.com.cn/images/tel.png") no-repeat right bottom;margin-bottom:100px;}
.text p{ text-indent:24px;line-height:2em;}	
.news_text{padding:0 70px;}
.news_text h2,.pro_text h2{ font-size:18px; font-weight:bold; text-align:center; padding:15px 0 5px 0; color:#04689e;}
.news_text p,.pro_text p{ font-size:14px;}
.news_text img{margin:5px;}
.time{display:block; text-align:center; font-size:14px;margin-bottom: 25px;}
a.return{display:block; width:138px; height:39px; line-height:39px; text-align:center;padding-left:10px;background:url("http://www.bsoft.com.cn/images/return.png") no-repeat left top; font-size:18px; font-weight:bold;margin:30px auto; color:#056da3;}
a.return:hover{color:#f60;}


.leftMenu{ width:160px;}
.rightMain{ width:700px; float:right;}
.leftMenu h2,.pro_box h3,.pro_box2 dl dt,.user_box h3{ font-size:18px;}
.leftMenu ul li{ height:35px; line-height:35px; background:url("http://www.bsoft.com.cn/images/arrow.png") no-repeat 0 14px;padding-left:12px; border-bottom:1px solid #d6d6d6; font-size:14px;}
.leftMenu ul li a:hover,.leftMenu ul li.current a{color:#04689e; }

.pro_text h3{background:url("http://www.bsoft.com.cn/images/icon_01.png") no-repeat scroll 0 15px transparent;font-size:16px;color:#04689e;padding-left:15px;}
.pro_text div{padding: 10px 0;margin-bottom:15px;border-bottom:1px dashed #d6d6d6; }
.pro_text div em{ display:block; font-weight:bold; text-indent:24px; line-height:24px;}
.pro_text b{display:block;}
.pro_text div p{margin:0;}
.mid,.mid img{ margin:0 auto; text-align:left; display:block;}
.mid img{margin-top:20px;}

.pro_text h2{margin-bottom:15px;}
.pro_box{ width:300px;margin-bottom:41px;}
.pro_box h3{ height:30px; line-height:30px; background:url("http://www.bsoft.com.cn/images/arrow.png") no-repeat -20px -25px;padding-left:18px; color:#056fa4; border-bottom:1px solid #e6e6e6;}
.pro_box ul{padding:0 5px;}
.pro_box ul li{ height:24px; line-height:24px; background:url("http://www.bsoft.com.cn/images/arrow.png") no-repeat 0 -50px;padding-left:12px;}

.pro_box2 dl{ width:320px; height:91px;float:left;margin:10px 20px 50px 10px;}
.pro_box2 dl dt{color:#056fa4;}
.pro_box2 dl img{ float:left; border:1px solid #7c7c7c;margin-right:8px;}
.pro_box2 dl dd a:hover,.pro_box ul li a:hover{ color:#fa4d01; text-decoration:underline;}
.pro_box2 dl dd{line-height:18px; }
.pro_box2 dl dd.more{ margin-top:8px;text-align:right;padding-right:5px;background:url("http://www.bsoft.com.cn/images/arrow2.png") no-repeat right center;}


.poto{ width:239px; height:300px;background:url("http://www.bsoft.com.cn/images/phot.png") no-repeat left top; text-align:center;}
.poto img{ width:186px; height:230px;margin:10px 0 0 0;}
.bsoft_box p,.news_text p,.pro_text p{ text-indent:24px;margin:0 10px 20px 10px;}
.info_poto,.poto{float:left;margin-right:12px;}
.bsoft_box dl dt{ height:30px; line-height:30px;background:url("http://www.bsoft.com.cn/images/arrow.png") no-repeat -20px -25px;padding-left:18px;margin-bottom:10px; font-size:18px; color:#056fa4;}
.bsoft_box dl{display:block;padding-bottom:20px;margin-bottom:20px; border-bottom:1px dashed #ccc;}
.bsoft_box dl dd{padding-left:18px;}

.title{ width:100%; height:29px; line-height:29px; background:url("http://www.bsoft.com.cn/images/newtitle_bg.png") repeat-x left top; border-left:1px solid #9f9f9f;border-right:1px solid #9f9f9f}
.title span{float:left;width:32%;padding-left:5px;}
.tl{ text-align:left}
.tc{ text-align:center;}
.tr{ text-align:right;}

.newspaper_list{padding:20px 0;margin-bottom:30px;}
.newspaper_list dl{width:330px;}
.newspaper_list dl dt a{display:block; color:#c12c20; font-size:14px; font-weight:bold;margin-bottom:5px;}
.newspaper_list dl dt a:hover{text-decoration:underline;}
.newspaper_list dl dd{line-height:1.2em; text-indent:24px; font-size:12px; border-bottom:1px dashed #ccc;padding-bottom:10px;margin-bottom:10px;}
.paper img{display:block; width:323px;border:1px solid #a8a8a8;}
.paper p{margin-left:35px;}
.paper a{display:inline-block;width:52px; height:21px;margin:5px 6px; background-image:url("http://www.bsoft.com.cn/images/ban_btn.png"); background-repeat:no-repeat;}
a.one{ background-position:0 0;}
a.two{ background-position:0 -22px;}
a.three{ background-position:0 -44px;}
a.four{ background-position:0 -66px;}
a.one:hover{background-position:-60px 0;}
a.two:hover{ background-position:-60px -22px;}
a.three:hover{ background-position:-60px -44px;}
a.four:hover{ background-position:-60px -66px;}
.old_list{padding-bottom:100px;}
.old_list a{ display:inline; float:left;padding:0 25px; font-size:16px;}
.old_list a:hover{ text-decoration:underline;}
.detail h2{ font-size:16px; font-weight:bold;margin:15px 0;color:#c12c20;}
.detail p{ text-indent:24px;}
a.anniu{ display:block;width:52px; height:21px;margin:30px auto; background:url("http://www.bsoft.com.cn/images/anniu.png") no-repeat left top; color:#fff; text-align:center;}

.user_box,.user_box2{ width:100%;margin-bottom:30px;}
.user_box h3,.user_box2 h3{height:30px; line-height:30px; background:url("http://www.bsoft.com.cn/images/arrow.png") no-repeat -20px -25px;padding-left:18px; color:#056fa4; border-bottom:1px solid #e6e6e6;}
.user_box h3 a,.user_box2 h3 a{ display:inline; height:12px;font-size:13px;padding-right:5px;background:url("http://www.bsoft.com.cn/images/arrow2.png") no-repeat right center;margin:-30px 10px 0 5px; border-left:1px solid #ccc;padding:0 5px;}
.user_box table,.user_box2 table{margin:0 5px;}
.user_box table td{ width:49%;height:30px; line-height:30px; background:url("http://www.bsoft.com.cn/images/arrow.png") no-repeat 0 -50px;padding-left:12px;}
.user_box table td .blue{color:#f60; font-weight:bold;}
.user_box table td .blue:hover{ color:#000;}
.jinji_list td{ width:49%; text-align:center;padding:10px 0;}
.jinji_list td p{ line-height:14px;}



.noteScrolWrap {
    position: relative;
    overflow: hidden;
    width:708px;
    padding-bottom: 20px;
}

.bntLeft {
    position: absolute;
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: block;
    left: 0px;
}

.bntRight {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 36px;
    display: block;
    right: 0px;
    z-index: 99;
}
.noteYear{ width:640px; height:34px; background:url("http://www.bsoft.com.cn/images/yearBg.png") repeat-x left top;margin-left: 34px;}

.noteYearC {
    width: 638px;
    height:30px;
	border-right:solid 1px #b2b2b2;
	border-left:solid 1px #b2b2b2;
    position: relative;
}
.noteYear ul{ position:absolute; left:0; top:0; height:50px; width:9999px;}
.noteYear li{ float:left; width:80px; height:34px;padding-top:3px; text-align:center; color:#0d6fb3; font-weight:bold; display:inline; background:url("http://www.bsoft.com.cn/images/noteLi.jpg") no-repeat right top; cursor:pointer;}
.noteYear li.curYear{ font-size:16px; height:47px; padding-top:3px; color:white; background:url("http://www.bsoft.com.cn/images/curyear.png") no-repeat center top; margin-left:-2px; width:84px;}
.noteCntWrap{}
.noteCntItem{ display:none;}
.noteTxt{ width:756px; border-bottom:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5; text-align:center;}

.noteTxt td,.noteTxt th{ border-top:solid 1px #E5E5E5; border-right:solid 1px #E5E5E5; height:36px;}
.noteTxt th{ text-align:left; padding-left:40px; color:white; font-weight:bold; background:#4B92B8; height:28px;}
.noteTxt thead td{ height:50px; background:#E6EBEE; border-right:#CFD3D6 solid 1px; color:#0c3b5c;}
.noteTxt a{ text-decoration:underline; color:#2277a5;}


.noteTxt1{ width:730px; border-bottom:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5; text-align:center;}

.noteTxt1 td,.noteTxt th{ border-top:solid 1px #E5E5E5; border-right:solid 1px #E5E5E5; height:36px;}
.noteTxt1 th{ text-align:left; padding-left:40px; color:white; font-weight:bold; background:#4B92B8; height:28px;}
.noteTxt1 thead td{ height:50px; background:#E6EBEE; border-right:#CFD3D6 solid 1px; color:#0c3b5c;}
.noteTxt1 a{ text-decoration:underline; color:#2277a5;}

.history_List li{line-height:18px;padding:10px 5px; background-color:#efefef;margin-bottom:20px;}
.colored{ color:#ac2d0d;}


.partner_list{ width:600px; margin:20px auto;}
.partner_list li{ float:left;}
.partner_list li a{display:block;width:151px; height:77px;margin:10px 20px;text-indent:-3000px;overflow:hidden; background-image:url("http://www.bsoft.com.cn/images/all.png"); background-repeat: no-repeat;}
a.intel2{ background-position:0 -500px;}
a.IBM2{background-position:0 -600px;}
a.microsoft2{ background-position:0 -700px;}
a.oracle2{background-position:0 -800px;}
a.HP2{background-position:0 -900px;}
a.quovadx2{background-position:0 -1000px;}
a.cisco{background-position:0 -1100px;}
a.huawei{background-position:0 -1200px;}
.man{height:117px; line-height:117px; background:url("http://www.bsoft.com.cn/images/par_peopel.png") no-repeat 40px 0;padding-left:240px; font-size:18px;color:#1e57a1; font-weight:bold;}
.par_daili{ width:665px; height:281px;background:url("http://www.bsoft.com.cn/images/par_bg.png") no-repeat 0 0;margin:0 auto;padding:10px 0;}
.par_lianxi{width:285px; height:180px;border-right:1px dashed #74c4d6; float:left;padding:0 15px;}
.par_lianxi h2{background:url("http://www.bsoft.com.cn/images/lianxi_ico.png") no-repeat 0 0;}
a.download{ font-size:14px; font-weight:bold; text-decoration:underline; color:#00F;padding:0 5px;}
a.download:hover{color:#f60;}
.daili{ width:318px; height:180px; float:right;padding:0 15px;border-left:1px dashed #fff; }
.daili h2,.par_lianxi h2{height:39px; line-height:39px;font-size:16px; color:#000; font-weight:bold;padding-left:50px;} 
.daili h2{background:url("http://www.bsoft.com.cn/images/daili_ico.png") no-repeat 0 0;}
.daili ul,.par_lianxi ul{margin:10px 0 0 0;}
.daili ul li,.par_lianxi ul li{list-style: decimal;margin-left:30px;line-height: 24px;}



.join{margin:20px auto 150px auto;}
.join th{ height:40px; line-height:40px; border-bottom:1px solid #000; font-size:18px; text-indent:2px;}
.join td{ height:40px; line-height:40px; text-indent:5px; font-size:14px; color:#333; border-bottom:1px dashed #888;}
.join td a,.font2{ font-size:18px;color:#056fa4;}
.join td a:hover{ color:#fa4d01;}
.font2{ height:40px; line-height:40px; font-style:italic;}
.font3{font-size:16px;font-style:italic; font-weight:bold; color:#333;}


.contact_list{ width:100%;padding-bottom:80px;background:url("http://www.bsoft.com.cn/images/city.jpg") no-repeat center bottom;}
.contact_list li{padding:15px 0; display:block; border-bottom:1px dashed #ccc; overflow:hidden;zoom:1;}
.contact_list li dl{ display:block; width:49.9%; float:left;}
.contact_list li dl dt{color:#056fa4; font-size:18px;}


.honor_list td{width:30%; text-align:center;margin:0 auto;}
.honor_list td p{line-height:18px;margin-bottom:20px;}
.honor_list td img{margin:10px auto; vertical-align:middle;}



.product_bg{ width:100%; height:650px; background-color:#062d5a;text-align:center;margin:0 auto;}
.product_bg h1{ font-size:26px;padding:10px 0 20px 140px; text-align:left; color:#fff;}


#footer{width:1100px; height:138px; margin:0 auto;padding:25px 0 0 0; background:url("http://www.bsoft.com.cn/images/footer_bg.png") no-repeat left top; font-size:12px;}
.link{ width:1000px;margin:0 auto; text-align:center;}
#footer .font{ width:680px; margin:20px auto 0 auto;}
#footer .font p{ height:40px; color:#fff;line-height:20px; padding:0 0 0 10px;margin-left:10px; border-left:1px solid #fff;}

#footer2{ height:49px; line-height:49px; background:url("http://www.bsoft.com.cn/images/footer_bg2.png") repeat-x left top;}
#footer2 .font{ width:990px; margin:0 auto;padding:0 5px;}
#footer2 .font p{ font-size:12px; color:#fff;}
#footer2 .font div{ margin-top:-30px;}
#footer2 .font div a{ height:14px; line-height:14px;padding:0 7px;color:#fff; border-right:1px solid #fff;}