<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.payable.loanmt.BudgBorrBegainMapper">
	<resultMap id="budgBorrBegain" type="com.chd.hrp.acc.entity.payable.BudgBorrBegain">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="begin_code" column="begin_code" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="proj_id" column="proj_id" />
		<result property="proj_no" column="proj_no" />
		<result property="emp_id" column="emp_id" />
		<result property="emp_no" column="emp_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="proj_code" column="proj_code" />
		<result property="proj_name" column="proj_name" />
		<result property="emp_code" column="emp_code" />
		<result property="emp_name" column="emp_name" />
		<result property="remain_amount" column="remain_amount" />
		<result property="remark" column="remark" />
		<result property="maker" column="maker" />
		<result property="make_date" column="make_date" />
		<result property="checker" column="checker" />
		<result property="checker_name" column="checker_name" />
		<result property="check_date" column="check_date" />
		<result property="state" column="state" />
	</resultMap>
	
	
	<insert id="addBudgBorrBegain" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_BORR_BEGAIN (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="begin_code != null and begin_code != ''">
		begin_code
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		dept_id
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		dept_no
		,
		</if>
		<if test="proj_id != null and proj_id != ''">
		proj_id
		,
		</if>
		<if test="proj_no != null and proj_no != ''">
		proj_no
		,
		</if>
		<if test="emp_id != null and emp_id != ''">
		emp_id
		,
		</if>
		<if test="emp_no != null and emp_no != ''">
		emp_no
		,
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		remain_amount
		,
		</if>
		<if test="remark != null and remark != ''">
		remark
		,
		</if>
		<if test="maker != null and maker != ''">
		maker
		,
		</if>
		<if test="make_date != null and make_date != ''">
		make_date
		,
		</if>
		<if test="checker != null and checker != ''">
		checker
		,
		</if>
		<if test="check_date != null and check_date != ''">
		check_date
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="begin_code != null and begin_code != ''">
		#{begin_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		#{dept_id,jdbcType=INTEGER}
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		#{dept_no,jdbcType=INTEGER}
		,
		</if>
		<if test="proj_id != null and proj_id != ''">
		#{proj_id,jdbcType=INTEGER}
		,
		</if>
		<if test="proj_no != null and proj_no != ''">
		#{proj_no,jdbcType=INTEGER}
		,
		</if>
		<if test="emp_id != null and emp_id != ''">
		#{emp_id,jdbcType=INTEGER}
		,
		</if>
		<if test="emp_no != null and emp_no != ''">
		#{emp_no,jdbcType=INTEGER}
		,
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		#{remain_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="remark != null and remark != ''">
		#{remark,jdbcType=VARCHAR}
		,
		</if>
		<if test="maker != null and maker != ''">
		#{maker,jdbcType=INTEGER}
		,
		</if>
		<if test="make_date != null and make_date != ''">
		#{make_date,jdbcType=DATE}
		,
		</if>
		<if test="checker != null and checker != ''">
		#{checker,jdbcType=INTEGER}
		,
		</if>
		<if test="check_date != null and check_date != ''">
		#{check_date,jdbcType=DATE}
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatchBudgBorrBegain" parameterType="java.util.List" >
	
		INSERT INTO BUDG_BORR_BEGAIN (
		group_id,
		hos_id,
		copy_code,
		begin_code,
		dept_id,
		dept_no,
		proj_id,
		proj_no,
		emp_id,
		emp_no,
		remain_amount,
		remark,
		maker,
		make_date,
		checker,
		check_date,
		state
		
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id},
				#{item.hos_id},
				#{item.copy_code},
				#{item.begin_code},
				#{item.dept_id},
				#{item.dept_no},
				#{item.proj_id},
				#{item.proj_no},
				#{item.emp_id},
				#{item.emp_no},
				#{item.remain_amount},
				#{item.remark},
				#{item.maker},
				#{item.make_date},
				#{item.state}
			from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateBudgBorrBegain" parameterType="java.util.Map">
		UPDATE BUDG_BORR_BEGAIN SET
			dept_id = #{dept_id},
			dept_no = #{dept_no},
			<if test="proj_id != null and proj_id != ''">
				proj_id = #{proj_id},
				proj_no = #{proj_no},
			</if>
			<if test="proj_id == null or proj_id == ''">
				proj_id = null,
				proj_no = null,
			</if>
			emp_id = #{emp_id},
			emp_no = #{emp_no},
			remark = #{remark}
		
		WHERE 
		group_id =#{group_id,jdbcType=INTEGER}
		 and 
		hos_id =#{hos_id,jdbcType=INTEGER}
				 and 
		copy_code =#{copy_code,jdbcType=VARCHAR}
				 and 
		begin_code =#{begin_code,jdbcType=VARCHAR}
	</update>
	<update id="updateBatchBudgBorrBegain" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE BUDG_BORR_BEGAIN SET
			dept_id = #{item.dept_id},
			dept_no = #{item.dept_no},
			proj_id = #{item.proj_id},
			proj_no = #{item.proj_no},
			emp_id = #{item.emp_id},
			emp_no = #{item.emp_no},
			remain_amount = #{item.remain_amount},
			remark = #{item.remark},
			state = #{item.state}
			
			WHERE 
			group_id = #{item.group_id,jdbcType=INTEGER}
			 and 
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			 and 
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			 and 
			begin_code = #{item.begin_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	
	<update id="updateAmount" parameterType="java.util.Map">
		UPDATE BUDG_BORR_BEGAIN SET
			remain_amount = #{remain_amount}
		WHERE 
		group_id =#{group_id,jdbcType=INTEGER}
		 and 
		hos_id =#{hos_id,jdbcType=INTEGER}
				 and 
		copy_code =#{copy_code,jdbcType=VARCHAR}
				 and 
		begin_code =#{begin_code,jdbcType=VARCHAR}
	</update>
	
	
	<update id="updateToExamine" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_BORR_BEGAIN SET
			checker = #{item.checker,jdbcType=INTEGER},
			check_date = to_date(#{item.check_date},'yyyy/MM/dd'),
			state = '1'
			WHERE 
			group_id = #{item.group_id,jdbcType=INTEGER}
			 and 
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			 and 
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			 and 
			begin_code = #{item.begin_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	
	
	<update id="updateNotToExamine" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_BORR_BEGAIN SET
			checker = #{item.checker,jdbcType=INTEGER},
			check_date = #{item.check_date},
			state = '0'
			WHERE 
			group_id = #{item.group_id,jdbcType=INTEGER}
			 and 
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			 and 
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			 and 
			begin_code = #{item.begin_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<delete id="deleteBudgBorrBegain" parameterType="java.util.Map">
	
		DELETE FROM BUDG_BORR_BEGAIN WHERE
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		begin_code = #{begin_code,jdbcType=VARCHAR} 
	
	</delete>
	<delete id="deleteBatchBudgBorrBegain" parameterType="java.util.List">
		DELETE FROM BUDG_BORR_BEGAIN WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				 and 
				hos_id = #{item.hos_id,jdbcType=INTEGER}
				 and 
				copy_code = #{item.copy_code,jdbcType=VARCHAR}
				 and 
				begin_code = #{item.begin_code,jdbcType=VARCHAR}
				
			</foreach>
	
	</delete>
	<select id="queryBudgBorrBegain" parameterType="java.util.Map" resultMap="budgBorrBegain" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.begin_code,
			a.dept_id,
			a.dept_no,
			hdd.dept_code,
			hdd.dept_name,
			a.proj_id,
			a.proj_no,
			hpd.proj_code,
			hpd.proj_name,
			a.emp_id,
			a.emp_no,
			hed.emp_code,
			hed.emp_name,
			a.remain_amount,
			a.remark,
			a.maker,
			u1.user_name maker_name,
			a.make_date,
			a.checker,
			u2.user_name checker_name,
			a.check_date,
			a.state
		FROM BUDG_BORR_BEGAIN a
		left join hos_dept_dict hdd on
		a.group_id = hdd.group_id
		and a.hos_id = hdd.hos_id
		and a.dept_id = hdd.dept_id
		and hdd.is_stop = 0
		left join hos_proj_dict hpd on
		a.group_id = hpd.group_id
		and a.hos_id = hpd.hos_id
		and a.proj_id = hpd.proj_id
		and hpd.is_stop = 0
		left join hos_emp_dict hed on
		a.group_id = hed.group_id
		and a.hos_id = hed.hos_id
		and a.emp_id = hed.emp_id
		and hed.is_stop = 0
		left join sys_user u1 on
		a.group_id = u1.group_id
		and a.hos_id = u1.hos_id
		and a.maker = u1.user_id
		left join sys_user u2 on
		a.group_id = u2.group_id
		and a.hos_id = u2.hos_id
		and a.checker = u2.user_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="begin_code != null and begin_code != ''">
		AND a.begin_code = #{begin_code,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND a.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND a.dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="proj_id != null and proj_id != ''">
		AND a.proj_id = #{proj_id,jdbcType=INTEGER}
		</if>
		<if test="proj_no != null and proj_no != ''">
		AND a.proj_no = #{proj_no,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND a.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="emp_no != null and emp_no != ''">
		AND a.emp_no = #{emp_no,jdbcType=INTEGER}
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		AND a.remain_amount = #{remain_amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND a.remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="maker != null and maker != ''">
		AND a.maker = #{maker,jdbcType=INTEGER}
		</if>
		<if test="make_date != null and make_date != ''">
		AND a.make_date = #{make_date,jdbcType=DATE}
		</if>
		<if test="checker != null and checker != ''">
		AND a.checker = #{checker,jdbcType=INTEGER}
		</if>
		<if test="check_date != null and check_date != ''">
		AND a.check_date = #{check_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=VARCHAR}
		</if>
		</where>   
		order by a.begin_code desc
	</select>
	<select id="queryBudgBorrBegainByCode" resultType="com.chd.hrp.acc.entity.payable.BudgBorrBegain" parameterType="java.util.Map" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.begin_code,
			a.dept_id,
			a.dept_no,
			hdd.dept_code,
			hdd.dept_name,
			a.proj_id,
			a.proj_no,
			hpd.proj_code,
			hpd.proj_name,
			a.emp_id,
			a.emp_no,
			hed.emp_code,
			hed.emp_name,
			a.remain_amount,
			a.remark,
			a.maker,
			u1.user_name maker_name,
			a.make_date,
			a.checker,
			u2.user_name checker_name,
			a.check_date,
			a.state
		FROM BUDG_BORR_BEGAIN a
		left join hos_dept_dict hdd on
		a.group_id = hdd.group_id
		and a.hos_id = hdd.hos_id
		and a.dept_id = hdd.dept_id
		and hdd.is_stop = 0
		left join hos_proj_dict hpd on
		a.group_id = hpd.group_id
		and a.hos_id = hpd.hos_id
		and a.proj_id = hpd.proj_id
		and hpd.is_stop = 0
		left join hos_emp_dict hed on
		a.group_id = hed.group_id
		and a.hos_id = hed.hos_id
		and a.emp_id = hed.emp_id
		and hed.is_stop = 0
		left join sys_user u1 on
		a.group_id = u1.group_id
		and a.hos_id = u1.hos_id
		and a.maker = u1.user_id
		left join sys_user u2 on
		a.group_id = u2.group_id
		and a.hos_id = u2.hos_id
		and a.checker = u2.user_id
		WHERE 
		a.group_id = #{group_id,jdbcType=INTEGER}   and 
		a.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		a.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		a.begin_code = #{begin_code,jdbcType=VARCHAR}
	
	</select>
	<select id="queryBudgBorrBegainByUniqueness" resultType="com.chd.hrp.acc.entity.payable.BudgBorrBegain" parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			begin_code,
			dept_id,
			dept_no,
			proj_id,
			proj_no,
			emp_id,
			emp_no,
			remain_amount,
			remark,
			maker,
			make_date,
			checker,
			check_date,
			state
		FROM BUDG_BORR_BEGAIN 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="begin_code != null and begin_code != ''">
		AND begin_code = #{begin_code,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="proj_id != null and proj_id != ''">
		AND proj_id = #{proj_id,jdbcType=INTEGER}
		</if>
		<if test="proj_no != null and proj_no != ''">
		AND proj_no = #{proj_no,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="emp_no != null and emp_no != ''">
		AND emp_no = #{emp_no,jdbcType=INTEGER}
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		AND remain_amount = #{remain_amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="maker != null and maker != ''">
		AND maker = #{maker,jdbcType=INTEGER}
		</if>
		<if test="make_date != null and make_date != ''">
		AND make_date = #{make_date,jdbcType=DATE}
		</if>
		<if test="checker != null and checker != ''">
		AND checker = #{checker,jdbcType=INTEGER}
		</if>
		<if test="check_date != null and check_date != ''">
		AND check_date = #{check_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryBudgBorrBegainPrint" parameterType="java.util.Map" resultType="java.util.Map">
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.begin_code,
			a.dept_id,
			a.dept_no,
			hdd.dept_code,
			hdd.dept_name,
			a.proj_id,
			a.proj_no,
			hpd.proj_code,
			hpd.proj_name,
			a.emp_id,
			a.emp_no,
			hed.emp_code,
			hed.emp_name,
			a.remain_amount,
			a.remark,
			a.maker,
			u1.user_name maker_name,
			a.make_date,
			a.checker,
			u2.user_name checker_name,
			a.check_date,
			a.state
		FROM BUDG_BORR_BEGAIN a
		left join hos_dept_dict hdd on
		a.group_id = hdd.group_id
		and a.hos_id = hdd.hos_id
		and a.dept_id = hdd.dept_id
		and hdd.is_stop = 0
		left join hos_proj_dict hpd on
		a.group_id = hpd.group_id
		and a.hos_id = hpd.hos_id
		and a.proj_id = hpd.proj_id
		and hpd.is_stop = 0
		left join hos_emp_dict hed on
		a.group_id = hed.group_id
		and a.hos_id = hed.hos_id
		and a.emp_id = hed.emp_id
		and hed.is_stop = 0
		left join sys_user u1 on
		a.group_id = u1.group_id
		and a.hos_id = u1.hos_id
		and a.maker = u1.user_id
		left join sys_user u2 on
		a.group_id = u2.group_id
		and a.hos_id = u2.hos_id
		and a.checker = u2.user_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="begin_code != null and begin_code != ''">
		AND a.begin_code = #{begin_code,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND a.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND a.dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="proj_id != null and proj_id != ''">
		AND a.proj_id = #{proj_id,jdbcType=INTEGER}
		</if>
		<if test="proj_no != null and proj_no != ''">
		AND a.proj_no = #{proj_no,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND a.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="emp_no != null and emp_no != ''">
		AND a.emp_no = #{emp_no,jdbcType=INTEGER}
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		AND a.remain_amount = #{remain_amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND a.remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="maker != null and maker != ''">
		AND a.maker = #{maker,jdbcType=INTEGER}
		</if>
		<if test="make_date != null and make_date != ''">
		AND a.make_date = #{make_date,jdbcType=DATE}
		</if>
		<if test="checker != null and checker != ''">
		AND a.checker = #{checker,jdbcType=INTEGER}
		</if>
		<if test="check_date != null and check_date != ''">
		AND a.check_date = #{check_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=VARCHAR}
		</if>
		</where>   
		order by a.begin_code desc
	</select>
</mapper>

