<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sup.dao.HrpSupSelectMapper">
	<resultMap type="com.chd.hrp.sup.entity.HrpSupSelect" id="hrpSupSelect">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>

	<select id="queryDeptDict" resultMap="hrpSupSelect">
		SELECT
		hdd.dept_id||'.'||hdd.dept_no id,
		hdd.dept_code||'
		'||hdd.dept_name text
		FROM HOS_DEPT_DICT hdd

		<where>
			is_stop = 0
			<if test="group_id != null  and group_id != ''">
				and hdd.group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hdd.hos_id = #{hos_id}
			</if>
			<if test="is_last != null  and is_last != ''">
				and hdd.is_last = #{is_last}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and hdd.is_stop = #{is_stop}
			</if>

			<if test=" key != null  and  key != ''">
				and (
				hdd.dept_code like '%${key}%' or
				hdd.dept_name like
				'%${key}%' or
				hdd.spell_code like '%${key}%' or
				hdd.wbx_code like
				'%${key}%'
				)
			</if>
		</where>
		order by hdd.dept_id
	</select>
	<select id="queryDeptDictLast" resultMap="hrpSupSelect">
		SELECT
		dept_id||'.'||dept_no id,
		dept_code||' '||dept_name text
		FROM
		HOS_DEPT_DICT
		<where>
			is_stop = 0
			and is_last=1
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test=" key != null  and  key != ''">
				and (
				dept_code like '%${key}%' or
				dept_name like
				'%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
		</where>
		order by dept_id
	</select>

	<!-- 供应商字典含变更号 -->
	<select id="querySupDict" resultMap="hrpSupSelect">
		SELECT
		sup_id||','||sup_no id,
		sup_code||' '||sup_name text
		FROM HOS_SUP_DICT
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="sup_id != null  and sup_id != ''">
				and sup_id = #{sup_id}
			</if>
			and is_stop = 0
			<if test="key != null and key != ''">
				and (
				sup_code like '${key}%' or
				sup_name like '%${key}%'
				or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
		</where>
		order by sup_code
	</select>
	<!-- 采购类型 -->
	<select id="querySupStockType" resultMap="hrpSupSelect">
		select stock_type_code id,
		stock_type_name text
		from (
		select stock_type_code,stock_type_name
		from mat_stock_type
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			and is_stop = 0
			<if test="key != null and key != ''">
				and (
				stock_type_code like '${key}%' or
				stock_type_name like '%${key}%'
				or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			and stock_type_code = '02'
		</where>
		union all
		select stock_type_code,stock_type_name
		from mat_stock_type
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			and is_stop = 0
			<if test="key != null and key != ''">
				and (
				stock_type_code like '${key}%' or
				stock_type_name like '%${key}%'
				or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			and stock_type_code not in ('02')
		</where>
		)

	</select>
	<!-- 付款条件下拉框 -->
	<select id="querySupPayTerm" resultMap="hrpSupSelect">
		SELECT
		pay_term_code id ,
		pay_term_code ||' '|| pay_term_name text
		FROM
		MAT_PAY_TERM
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
		
			and is_stop = 0
			<if test="key != null and key != ''">
				and (
				pay_term_code like '${key}%' or
				pay_term_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
		</where>
		order by pay_term_code
	</select>
	<!-- 按照用户权限查询科室：采购部门 下拉框 -->
	<select id="querySupPurDept" resultMap="hrpSupSelect">
		SELECT
		a.dept_id||','||a.dept_no id,
		a.dept_code||' '||a.dept_name text
		FROM HOS_DEPT_DICT a
		<!-- join v_user_data_perm b
		on a.group_id = b.group_id and a.hos_id = b.hos_id
		and b.user_id = #{user_id,jdbcType=INTEGER} and b.table_code =
		'HOS_DEPT_DICT'
		and b.perm_code = a.dept_id and b.is_read = 1 and b.is_write = 1 -->
		LEFT JOIN ACC_DEPT_ATTR c
		ON
		a.group_id = c.group_id
		AND a.hos_id = c.hos_id
		AND a.dept_id = c.dept_id
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
		and a.hos_id = #{hos_id,jdbcType=INTEGER}
		<!-- and b.user_id = #{user_id}
		AND b.table_code = 'HOS_DEPT_DICT'
		AND IS_READ = 1
		AND IS_WRITE = 1 -->
		AND a.group_id = #{group_id}
		<!-- AND b.hos_id = #{hos_id} -->
		AND a.is_stop = 0
		AND c.is_stock = 1
		and a.dept_id in (select b.perm_code from v_user_data_perm b
							where b.group_id =  #{group_id} and  b.hos_id = #{hos_id}
							and b.user_id = #{user_id,jdbcType=INTEGER} and b.table_code = 'HOS_DEPT_DICT'  
							and b.is_read = 1 and b.is_write = 1
							)
		<if test="is_last != null and is_last != ''">
			and a.is_last = #{is_last}
		</if>
		<if test="key != null and key != ''">
			and (
			a.dept_code like '${key}%' or
			a.dept_name like '%${key}%'
			or
			spell_code like '%${key}%' or
			wbx_code like '%${key}%'
			)
		</if>
	</select>
	<!-- 采购员 变更表 -->
	<select id="querySupStockEmp" resultMap="hrpSupSelect">
		select
		emp_id||','||emp_no id,
		emp_code||' '||emp_name text
		from hos_emp_dict
		<where>
			is_stop=0
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			
			<if test="key != null and key != ''">
				and (
				emp_code like '${key}%' or
				emp_name like '%${key}%'
				or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
		</where>
		order by emp_id

	</select>
	<!-- 编制科室 无权限 -->
	<select id="querySupDeptDict" resultMap="hrpSupSelect">
		select a.dept_id||','||a.dept_no id,
		a.dept_code||' '||a.dept_name text
		from hos_dept_dict a
		<where>
			<if test="group_id != null  and group_id != ''">
				and a.group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and a.hos_id = #{hos_id}
			</if>
			<if test="is_last != null and is_last != ''">
				and a.is_last = #{is_last}
			</if>
			and a.is_stop = 0
			<if test="key != null and key != ''">
				and (
				a.dept_code like '${key}%' or
				a.dept_name like '%${key}%'
				or
				a.spell_code like '%${key}%' or
				a.wbx_code like '%${key}%'
				)
			</if>
		</where>
		order by a.dept_code
	</select>
	<!-- 医院名称 -->
	<select id="queryHosInfo" resultMap="hrpSupSelect">
		select hos_id id,hos_code||' '|| hos_name text from hos_info_dict
		<where>
			is_stop = 0
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="key != null and key != ''">
				and (
				a.dept_code like '${key}%' or
				a.dept_name like '%${key}%'
				or
				a.spell_code like '%${key}%' or
				a.wbx_code like '%${key}%'
				)
			</if>
		</where>
	</select>
</mapper>