<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.emp.AccEmpAccountMapper">

	<resultMap id="accEmpAccount" type="com.chd.hrp.acc.entity.AccEmpAccount">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="account_id" column="account_id"/>
        <result property="account_code" column="account_code"/>
        <result property="account_name" column="account_name"/>
        <result property="type_id" column="type_id"/>
        <result property="type_name" column="type_name"/>
        <result property="phone" column="phone"/>	
        <result property="is_stop" column="is_stop"/>
        <result property="note" column="note"/>
        <result property="emp_id" column="emp_id"/>
        <result property="emp_no" column="emp_no"/>
        <result property="emp_code" column="emp_code"/>
        <result property="emp_name" column="emp_name"/>
        <result property="id_number" column="id_number"/>
        <result property="kind_code" column="kind_code"/>
        <result property="kind_name" column="kind_name"/>
        <result property="dept_id" column="dept_id"/>
        <result property="dept_no" column="dept_no"/>
        <result property="dept_code" column="dept_code"/>
        <result property="dept_name" column="dept_name"/>
        
         <result property="emp_bank" column="emp_bank"/>
        <result property="emp_arear" column="emp_arear"/>
         <result property="is_bank_same" column="is_bank_same"/>
        <result property="is_city_same" column="is_city_same"/>
	</resultMap>
	
    <insert id="addAccEmpAccount" useGeneratedKeys="true" >
    
        INSERT INTO ACC_EMP_ACCOUNT (
                   account_id
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
					account_code
			 ,
                    account_name
             ,
             		emp_id
             ,
             		emp_no
             ,
             		type_id
             ,
             		is_stop
             ,
             		note 
             <if test="emp_bank != null and emp_bank != ''">,emp_bank</if>
             
             <if test="emp_arear != null and emp_arear != ''">,emp_arear</if>
             
             <if test="is_bank_same != null and is_bank_same != ''">,is_bank_same</if>
             		
             <if test="is_city_same != null and is_city_same != ''">,is_city_same</if>
			 
        ) VALUES (
				ACC_EMP_ACCOUNT_SEQ.nextval
			 ,
					#{group_id}
			 ,
                    #{hos_id}
			 ,
                    #{copy_code}
			 ,
					#{account_code}
			 ,
                    #{account_name}
             , 
             		#{emp_id}
             ,
             		#{emp_no}
             ,
             		#{type_id}
             ,
             		#{is_stop}
             ,
             		#{note }
             <if test="emp_bank != null and emp_bank != ''">,#{emp_bank}</if>
             
             <if test="emp_arear != null and emp_arear != ''">,#{emp_arear}</if>
             
             <if test="is_bank_same != null and is_bank_same != ''">,#{is_bank_same}</if>
             		
             <if test="is_city_same != null and is_city_same != ''">,#{is_city_same}</if>
 
        )
    
    </insert>
	<insert id="addBatchAccEmpAccount" parameterType="java.util.List" >
    
        INSERT INTO ACC_EMP_ACCOUNT (
        			account_id
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    copy_code
			 ,
					account_code
			 ,
                    account_name
             ,
             		emp_id
             ,
             		emp_no
             ,
             		type_id
             ,
             		is_stop
             ,
             		note 
             ,		emp_bank
             ,		emp_arear
             ,		is_bank_same
             ,      is_city_same
			 
        ) 
        select ACC_EMP_ACCOUNT_SEQ.nextval,a.* from (
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select
         		
					#{item.group_id}
			 ,
                    #{item.hos_id}
			 ,
                    #{item.copy_code}
			 ,
					#{item.account_code}
			 ,
                    #{item.account_name}
             ,
             		#{item.emp_id}
             ,
             		#{item.emp_no}
             ,
             		#{item.type_id}
             ,
             		#{item.is_stop}
             ,
             		#{item.note }
             ,
             		#{item.emp_bank}
             ,
             		#{item.emp_arear}
             ,
             		#{item.is_bank_same}
             ,
             		#{item.is_city_same }		
		
		 from dual 
		</foreach>
     	) a
    </insert>

	<update id="updateAccEmpAccount" parameterType="java.util.Map">
    
        UPDATE ACC_EMP_ACCOUNT SET
        
        			account_code =#{account_code}
			 ,
					account_name=#{account_name}
			 ,
                    emp_id=#{emp_id}
			 ,
			 		emp_no=#{emp_no}
			 ,
                    type_id=#{type_id}
             ,
             		note =#{note}
             ,     
             		emp_bank=#{emp_bank}
             ,
             		emp_arear=#{emp_arear}
             ,
             		is_bank_same=#{is_bank_same}
             ,      is_city_same=#{is_city_same}
             ,		is_stop = #{is_stop}
			 
        WHERE 
        
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 copy_code = #{copy_code}
			  and 
		 account_id = #{account_id}
		     
   
	</update>
	<update id="updateBatchAccEmpAccount" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE ACC_WAGE SET
			 
					account_code =#{item.account_code}
			 ,
					account_name=#{item.account_name}
			 ,
                    emp_id=#{item.emp_id}
			 ,
			 		emp_no=#{item.emp_no}
			 ,
                    type_id=#{item.type_id}
             ,
             		note =#{item.note}
			 
        WHERE 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 copy_code = #{item.copy_code}
			  and 
		 account_id = #{item.account_id}
			  
			 
    </foreach>
	</update>

    <delete id="deleteAccEmpAccount" parameterType="java.util.Map">
   
        DELETE FROM ACC_EMP_ACCOUNT WHERE
	        group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 copy_code = #{copy_code}
			  and 
		 account_id = #{account_id}
   
    </delete>
    <delete id="deleteBatchAccEmpAccount" parameterType="java.util.List">
        DELETE FROM ACC_EMP_ACCOUNT WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 copy_code = #{item.copy_code}
			  and 
		 account_id = #{item.account_id}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryAccEmpAccountByCode" resultType="com.chd.hrp.acc.entity.AccEmpAccount" parameterType="string" >
	  
        select 
        accea.account_id,
        he.group_id,
        he.hos_id,
        accea.copy_code,
        he.emp_id,
        he.emp_no,
        he.emp_code,
        he.emp_name,
        aea.id_number,
        he.kind_code,
        hdd.dept_id,
        hdd.dept_no,
        hdd.dept_code,
        hdd.dept_name,
        accea.account_code,
        accea.account_name,
        awt.type_name,
        awt.type_id,
        accea.note,
        accea.is_stop,
        accea.emp_bank,
        accea.emp_arear,
        accea.is_bank_same,
        accea.is_city_same
        from acc_emp_account accea left join HOS_EMP_dict he 
        on accea.group_id =he.group_id and accea.hos_id = he.hos_id 
        and accea.emp_id = he.emp_id  
        <if test="show_history == 1">
			and accea.emp_no = he.emp_no 
		</if>
		<if test="show_history == 0">
			and he.is_stop = 0
		</if>
        left join ACC_EMP_ATTR aea on he.emp_id = aea.emp_id 
		and he.group_id = aea.group_id and he.hos_id = aea.hos_id 
	    left join hos_dept_dict hdd on he.dept_id = hdd.dept_id 
		<if test="show_history == 1">
			and he.dept_no = hdd.dept_no 
		</if>
		<if test="show_history == 0">
			and hdd.is_stop=0
		</if>
			and he.group_id = hdd.group_id and he.hos_id = hdd.hos_id
	    left join acc_wage_type awt on accea.group_id =awt.group_id
	    and accea.hos_id = awt.hos_id and accea.type_id = awt.type_id and awt.is_stop = 0
	        WHERE 
		 accea.group_id = #{group_id}
			  and 
		 accea.hos_id = #{hos_id}
			  and 
		 accea.copy_code = #{copy_code}
			  and 
		 accea.account_id = #{account_id}
		 <if test="type_id != null and type_id != ''">
		 and accea.type_id = #{type_id}   
		 </if>
        
	</select>
	
	<select id="queryAccEmpAccountByEmp" resultType="com.chd.hrp.acc.entity.AccEmpAccount" parameterType="string" >
	  
        select 
        accea.account_id,
        he.group_id,
        he.hos_id,
        accea.copy_code,
        he.emp_id,
        he.emp_no,
        he.emp_code,
        he.emp_name,
        aea.id_number,
        he.kind_code,
        hdd.dept_id,
        hdd.dept_no,
        hdd.dept_code,
        hdd.dept_name,
        accea.account_code,
        accea.account_name,
        awt.type_name,
        awt.type_id,
        accea.note,
        accea.is_stop,
        accea.emp_bank,
        accea.emp_arear,
        accea.is_bank_same,
        accea.is_city_same
        from acc_emp_account accea left join HOS_EMP_dict he 
        on accea.group_id =he.group_id and accea.hos_id = he.hos_id 
        and accea.emp_id = he.emp_id 
		and he.is_stop = 0

        left join ACC_EMP_ATTR aea on he.emp_id = aea.emp_id 
		and he.group_id = aea.group_id and he.hos_id = aea.hos_id 
	    left join hos_dept_dict hdd on he.dept_id = hdd.dept_id 
		and hdd.is_stop=0
			and he.group_id = hdd.group_id and he.hos_id = hdd.hos_id 
	    left join acc_wage_type awt on accea.group_id =awt.group_id
	    and accea.hos_id = awt.hos_id and accea.type_id = awt.type_id and awt.is_stop = 0
	        WHERE 
		 accea.group_id = #{group_id}
			  and 
		 accea.hos_id = #{hos_id}
			  and 
		 accea.copy_code = #{copy_code}
			  and 
		 accea.emp_id = #{emp_id}
        	  and
         accea.emp_no = #{emp_no}	
	</select>
	
	
	
	<select id="queryAccEmpAccountByBank" parameterType="java.util.Map"  resultType ="java.lang.Integer">
	  
        select 
        count(*)
        from acc_emp_account 
	        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 copy_code = #{copy_code}
			  and 
		 account_code = #{account_code} 
		 
		 <if test="sql_value != null and sql_value != ''">
                   ${sql_value}
         </if>
		 
        	  <!--and emp_id != #{emp_id}  or emp_id = #{emp_id}) -->
	</select>
	
	<select id="queryAccEmpAccountByType" parameterType="java.util.Map"  resultType ="java.lang.Integer">
	  
        select 
        count(*)
        from acc_emp_account 
	        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 copy_code = #{copy_code}
			  and 
		 emp_id = #{emp_id}
		 	  and 
		 type_id = #{type_id} 
        
	</select>
	
	<select id="queryAccEmpAccount" parameterType="java.util.Map" resultMap="accEmpAccount" >
      
        select 
        accea.account_id,
        he.group_id,
        he.hos_id,
        accea.copy_code,
        he.emp_id,
        he.emp_no,
        he.emp_code,
        he.emp_name,
        aea.id_number,
        he.kind_code,
        hdd.dept_id,
        hdd.dept_no,
        hdd.dept_code,
        hdd.dept_name,
        accea.account_code,
        accea.account_name,
        awt.type_name,
        awt.type_id,
        accea.note
        from acc_emp_account accea inner join HOS_EMP_dict he 
        on accea.group_id =he.group_id and accea.hos_id = he.hos_id 
        and accea.emp_id = he.emp_id 
        <if test="show_history == 1">
			and accea.emp_no = he.emp_no 
		</if>
		<if test="show_history == 0">
			and he.is_stop = 0
		</if>
        left join ACC_EMP_ATTR aea on he.emp_id = aea.emp_id 
		and he.group_id = aea.group_id and he.hos_id = aea.hos_id 
	    left join hos_dept_dict hdd on he.dept_id = hdd.dept_id 
		and he.group_id = hdd.group_id and he.hos_id = hdd.hos_id
		<if test="show_history == 1">
			and he.dept_no = hdd.dept_no 
		</if>
		<if test="show_history == 0">
			and hdd.is_stop=0
		</if>
	    left join acc_wage_type awt on accea.group_id =awt.group_id
	    and accea.hos_id = awt.hos_id and accea.type_id = awt.type_id  and awt.is_stop = 0
            <where>       
			    <if test="group_id != null and group_id != ''">
                    AND accea.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND accea.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND accea.copy_code = #{copy_code}
               </if>
               <if test="emp_code != null and emp_code != ''">
                    AND he.emp_code like #{emp_code}||'%'
               </if>
			   <if test="emp_name != null and emp_name != ''">
                    AND (he.emp_name like '%${emp_name}%'
                    or he.spell_code like  '%${emp_name}%'
                    or he.wbx_code like  '%${emp_name}%')
               </if>
               <!-- <if test="kind_code != null and kind_code != ''">
                    AND he.kind_code =#{kind_code}
               </if> -->
               <if test="dept_id != null and dept_id != ''">
                    AND he.dept_id = #{dept_id}
               </if>
                <if test="dept_no != null and dept_no != ''">
                    AND he.dept_no = #{dept_no}
               </if>
        </where>   
				order by accea.account_id asc
    </select>
    
    
    <!-- 职工联表不控制是否停用,只根据职工id和变更号联表查询 -->
    <select id="queryAccEmpAccountList" parameterType="java.util.Map" resultMap="accEmpAccount" >
      
        select 
        accea.account_id,
        he.group_id,
        he.hos_id,
        accea.copy_code,
        he.emp_id,
        he.emp_no,
        he.emp_code,
        he.emp_name,
        aea.id_number,
        he.kind_code,
        hdd.dept_id,
        hdd.dept_no,
        hdd.dept_code,
        hdd.dept_name,
        accea.account_code,
        accea.account_name,
        awt.type_name,
        awt.type_id,
        accea.note
        from acc_emp_account accea inner join HOS_EMP_dict he 
        on accea.group_id =he.group_id and accea.hos_id = he.hos_id 
        and accea.emp_id = he.emp_id 
        <if test="show_history == 1">
			and accea.emp_no = he.emp_no 
		</if>
		<if test="show_history == 0">
			and he.is_stop=0
		</if>
        left join ACC_EMP_ATTR aea on he.emp_id = aea.emp_id 
		and he.group_id = aea.group_id and he.hos_id = aea.hos_id 
	    left join hos_dept_dict hdd on he.dept_id = hdd.dept_id 
		and he.group_id = hdd.group_id and he.hos_id = hdd.hos_id
		<if test="show_history == 1">
			and he.dept_no = hdd.dept_no 
		</if>
		<if test="show_history == 0">
			and hdd.is_stop=0
		</if>
	    left join acc_wage_type awt on accea.group_id =awt.group_id
	    and accea.hos_id = awt.hos_id and accea.type_id = awt.type_id  and awt.is_stop = 0
            <where>       
			    <if test="group_id != null and group_id != ''">
                    AND accea.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND accea.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND accea.copy_code = #{copy_code}
               </if>
               <if test="emp_code != null and emp_code != ''">
                    AND he.emp_code like #{emp_code}||'%'
               </if>
			   <if test="emp_name != null and emp_name != ''">
                    AND (he.emp_name like '%${emp_name}%'
                    or he.spell_code like  '%${emp_name}%'
                    or he.wbx_code like  '%${emp_name}%')
               </if>
               <!-- <if test="kind_code != null and kind_code != ''">
                    AND he.kind_code =#{kind_code}
               </if> -->
               <if test="dept_id != null and dept_id != ''">
                    AND he.dept_id = #{dept_id}
               </if>
                <if test="dept_no != null and dept_no != ''">
                    AND he.dept_no = #{dept_no}
               </if>
        </where>   
				order by accea.account_id asc
    </select>
    
    
    <select id="queryAccEmpAccountIndex" parameterType="java.util.Map" resultMap="accEmpAccount" >
      
        select 
        he.group_id,
         he.hos_id,
        he.emp_id,
        he.emp_code,
        he.emp_name,
        aea.id_number,
        he.kind_code,
        hdd.dept_id,
        hdd.dept_no,
        hdd.dept_code,
        hdd.dept_name
        from HOS_EMP_dict he left join ACC_EMP_ATTR aea on he.emp_id = aea.emp_id
		and he.is_stop=0
		and he.group_id = aea.group_id and he.hos_id = aea.hos_id 
		left join hos_dept_dict hdd on he.dept_id = hdd.dept_id 
	    and he.group_id = hdd.group_id and he.hos_id = hdd.hos_id  
		<if test="show_history == 1">
				and he.dept_no = hdd.dept_no
		</if>
		<if test="show_history == 0">
			and hdd.is_stop=0
		</if>
            <where>  
				NOT EXISTS (SELECT *
			FROM ACC_EMP_ACCOUNT aea where
			<if test="show_history == 1">
				 he.emp_no=aea.emp_no
			</if>
			<if test="show_history == 0">
				 aea.is_stop=0
			</if> and he.emp_id=aea.emp_id
		     and he.group_id=aea.group_id
		    and he.hos_id=aea.hos_id 
		    )
			and he.is_stop=0            
			    <if test="group_id != null and group_id != ''">
                    AND he.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND he.hos_id = #{hos_id}
               </if>
               <if test="emp_code != null and emp_code != ''">
                    AND he.emp_code like #{emp_code}||'%'
               </if>
			   <if test="emp_name != null and emp_name != ''">
                     AND (he.emp_name like '%${emp_name}%'
                    or he.spell_code like  '%${emp_name}%'
                    or he.wbx_code like  '%${emp_name}%')
               </if>
               <if test="kind_code != null and kind_code != ''">
                    AND he.kind_code = #{kind_code}
               </if>
               <if test="dept_id != null and dept_id != ''">
                    AND he.dept_id = #{dept_id}
               </if>
                <if test="dept_no != null and dept_no != ''">
                    AND he.dept_no = #{dept_no}
               </if>
        </where>   
				order by he.emp_code asc
    </select>
    
    <select id="queryAccEmpAccountIndexByCode" resultType="com.chd.hrp.acc.entity.AccEmpAccount" parameterType="string" >
      
        select 
        he.emp_id,
        he.emp_no,
        he.emp_code,
        he.emp_name,
        aea.id_number,
        he.kind_code,
        hdd.dept_id,
        hdd.dept_no,
        hdd.dept_code,
        hdd.dept_name
        from HOS_EMP_DICT he left join ACC_EMP_ATTR aea on he.emp_id = aea.emp_id
		and he.group_id = aea.group_id and he.hos_id = aea.hos_id 
		left join hos_dept_dict hdd on he.dept_id = hdd.dept_id and he.dept_no = hdd.dept_no
	    and he.group_id = hdd.group_id and he.hos_id = hdd.hos_id  and hdd.is_stop=0  
            <where>  
				NOT EXISTS (SELECT *
			FROM ACC_EMP_ACCOUNT aea where he.emp_id=aea.emp_id
		    and he.emp_no=aea.emp_no and he.group_id=aea.group_id
		    and he.hos_id=aea.hos_id 
		    )
			and he.is_stop=0             
			    <if test="group_id != null and group_id != ''">
                    AND he.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND he.hos_id = #{hos_id}
               </if>
               <if test="emp_id != null and emp_id != ''">
                    AND he.emp_id = #{emp_id}
               </if>
               <if test="emp_code != null and emp_code != ''">
                    AND he.emp_code = #{emp_code}
               </if>
			   <if test="emp_name != null and emp_name != ''">
                    AND he.emp_name = #{emp_name}
               </if>
               <if test="dept_id != null and dept_id != ''">
                    AND he.dept_id = #{dept_id}
               </if>
                <if test="dept_no != null and dept_no != ''">
                    AND he.dept_no = #{dept_no}
               </if>
        </where>   
				order by he.emp_code asc
    </select>
    
    <select id="queryAccEmpAccountCount" parameterType="java.util.Map"  resultType ="java.lang.Integer">
      
        SELECT COUNT(1)
		FROM acc_wage_pay  awp 
		WHERE awp.emp_id not in (
		select emp_id from acc_emp_account aea
		where aea.group_id = #{group_id}
		  AND aea.hos_id = #{hos_id}
		  AND aea.copy_code = #{copy_code}
		) 
		  and   awp.group_id = #{group_id}
		  AND awp.hos_id =#{hos_id}
		  AND awp.copy_code = #{copy_code}
		  AND awp.wage_code =#{wage_code}
		  AND awp.acc_year = #{acc_year}
		  AND awp.acc_month = #{acc_month}
    </select>
    
    <select id="queryAccEmpAccountByInter" parameterType="java.util.Map" resultMap="accEmpAccount" >
      
        select 
        he.group_id,
         he.hos_id,
        he.emp_id,
        he.emp_code,
        he.emp_name,
        aea.id_number,
        he.kind_code,
        hdd.dept_id,
        hdd.dept_no,
        hdd.dept_code,
        hdd.dept_name
        from (select awp.group_id,awp.hos_id,awp.copy_code,awp.emp_id,awp.emp_no from acc_wage_pay awp
      LEFT JOIN acc_emp_account aea ON awp.group_id = aea.group_id
      AND awp.hos_id = aea.hos_id
      AND awp.copy_code = aea.copy_code
      AND awp.emp_id = aea.emp_id
      AND awp.emp_no = aea.emp_no
      where awp.copy_code=#{copy_code} and awp.acc_month=#{acc_month} 
        and awp.acc_year=#{acc_year} and awp.wage_code = #{wage_code} and aea.account_code is null
       ) awp
       left join HOS_EMP_dict he 
       on he.emp_id=awp.emp_id
        and he.emp_no=awp.emp_no and he.group_id=awp.group_id
        and he.hos_id=awp.hos_id 
       left join ACC_EMP_ATTR aea on he.emp_id = aea.emp_id
    and he.group_id = aea.group_id and he.hos_id = aea.hos_id 
    left join hos_dept_dict hdd on he.dept_id = hdd.dept_id and he.dept_no = hdd.dept_no
      and he.group_id = hdd.group_id and he.hos_id = hdd.hos_id  and hdd.is_stop=0
		<where>         
			    <if test="group_id != null and group_id != ''">
                    AND awp.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND awp.hos_id = #{hos_id}
               </if>
               <if test="emp_code != null and emp_code != ''">
                    AND he.emp_code like #{emp_code}||'%'
               </if>
			   <if test="emp_name != null and emp_name != ''">
                     AND (he.emp_name like '%${emp_name}%'
                    or he.spell_code like  '%${emp_name}%'
                    or he.wbx_code like  '%${emp_name}%')
               </if>
               <if test="kind_code != null and kind_code != ''">
                    AND he.kind_code = #{kind_code}
               </if>
               <if test="dept_id != null and dept_id != ''">
                    AND he.dept_id = #{dept_id}
               </if>
                <if test="dept_no != null and dept_no != ''">
                    AND he.dept_no = #{dept_no}
               </if>
        </where>   
				order by he.emp_code asc
    </select>
    
    
    <select id="queryAccEmpAccountPrint" parameterType="java.util.Map" resultType="java.util.Map">
      
        select 
        accea.account_id,
        he.group_id,
        he.hos_id,
        accea.copy_code,
        he.emp_id,
        he.emp_no,
        he.emp_code,
        he.emp_name,
        aea.id_number,
        he.kind_code,
        hdd.dept_id,
        hdd.dept_no,
        hdd.dept_code,
        hdd.dept_name,
        accea.account_code,
        accea.account_name,
        awt.type_name,
        awt.type_id,
        accea.note
        from acc_emp_account accea inner join HOS_EMP_dict he 
        on accea.group_id =he.group_id and accea.hos_id = he.hos_id 
        and accea.emp_id = he.emp_id 
        <if test="show_history == 1">
			and accea.emp_no = he.emp_no 
		</if>
		<if test="show_history == 0">
			and he.is_stop = 0
		</if>
        left join ACC_EMP_ATTR aea on he.emp_id = aea.emp_id 
		and he.group_id = aea.group_id and he.hos_id = aea.hos_id 
	    left join hos_dept_dict hdd on he.dept_id = hdd.dept_id 
		and he.group_id = hdd.group_id and he.hos_id = hdd.hos_id
		<if test="show_history == 1">
			and he.dept_no = hdd.dept_no 
		</if>
		<if test="show_history == 0">
			and hdd.is_stop=0
		</if>
	    left join acc_wage_type awt on accea.group_id =awt.group_id
	    and accea.hos_id = awt.hos_id and accea.type_id = awt.type_id  and awt.is_stop = 0
            <where>       
			    <if test="group_id != null and group_id != ''">
                    AND accea.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND accea.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND accea.copy_code = #{copy_code}
               </if>
               <if test="emp_code != null and emp_code != ''">
                    AND he.emp_code like #{emp_code}||'%'
               </if>
			   <if test="emp_name != null and emp_name != ''">
                    AND (he.emp_name like '%${emp_name}%'
                    or he.spell_code like  '%${emp_name}%'
                    or he.wbx_code like  '%${emp_name}%')
               </if>
               <!-- <if test="kind_code != null and kind_code != ''">
                    AND he.kind_code =#{kind_code}
               </if> -->
               <if test="dept_id != null and dept_id != ''">
                    AND he.dept_id = #{dept_id}
               </if>
                <if test="dept_no != null and dept_no != ''">
                    AND he.dept_no = #{dept_no}
               </if>
        </where>   
				order by accea.account_id asc
    </select>
	
	<update id="updateAccEmpAttrIdNumber" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=" ; ">
			<if test="item.id_number != null and item.id_number != ''">
		        UPDATE acc_emp_attr SET id_number =#{item.id_number}
		        WHERE 
				 group_id = #{item.group_id}
					  and 
				 hos_id = #{item.hos_id}
					  and 
				 emp_id= #{item.emp_id}
			</if>
    	</foreach>
	</update> 
	
</mapper>

