<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.account.report.MatAccountReportInvTranMapper">
	
	<!-- 材料调拨汇总表 -->
	<select id="queryMatAccountReportInvTran" resultType="java.util.TreeMap" parameterType="java.util.Map">
		select '移入库' tran_type, c.inv_code, c.inv_name, c.inv_model, e.unit_name, d.mat_type_name, 
			sum(b.amount) as amount, b.price, sum(b.amount_money) as amount_money 
		from mat_out_main a
		left join mat_out_detail b
			on a.group_id = b.group_id 
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.out_id = b.out_id
		left join mat_inv_dict c
			on a.group_id = c.group_id 
			and a.hos_id = c.hos_id
			and a.copy_code = c.copy_code
			and b.inv_id = c.inv_id
			<!-- and ((show_history = 1 and b.inv_no = c.inv_no) or (show_history &lt;&gt; 1 and c.is_stop = 0)) -->
			<if test="show_history == '1'">
				and b.inv_no = c.inv_no
			</if>
			<if test="show_history != '1'">
				and c.is_stop = 0
			</if>
		left join mat_type_dict d
			on a.group_id = d.group_id 
			and a.hos_id = d.hos_id
			and a.copy_code = d.copy_code
			and c.mat_type_id = d.mat_type_id
			<if test="show_history == '1'">
				and c.mat_type_no = d.mat_type_no
			</if>
			<if test="show_history != '1'">
				and d.is_stop = 0
			</if>
		left join hos_unit e
			on a.group_id = e.group_id 
			and a.hos_id = e.hos_id
			and a.copy_code = e.copy_code
			and c.unit_code = e.unit_code
		where a.group_id = #{group_id,jdbcType=INTEGER}
			and a.hos_id = #{hos_id,jdbcType=INTEGER}
			and a.copy_code = #{copy_code,jdbcType=VARCHAR}
			and a.state >= 3
			and a.in_date between #{begin_date,jdbcType=DATE} and #{end_date,jdbcType=DATE}
			and a.store_id = #{store_id,jdbcType=INTEGER}
			<if test="mat_type_id != null and mat_type_id != ''">
				and c.mat_type_id = #{mat_type_id,jdbcType=INTEGER}
			</if>
		group by c.inv_code, c.inv_name, c.inv_model, e.unit_name, d.mat_type_name, b.price
		union all
		select '合计：', '', '', '', '', sum(b.amount) as amount, '', sum(b.amount_money) as amount_money 
		from mat_out_main a
		left join mat_out_detail b
			on a.group_id = b.group_id 
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.out_id = b.out_id
		left join mat_inv_dict c
			on a.group_id = c.group_id 
			and a.hos_id = c.hos_id
			and a.copy_code = c.copy_code
			and b.inv_id = c.inv_id
			<if test="show_history == '1'">
				and b.inv_no = c.inv_no
			</if>
			<if test="show_history != '1'">
				and c.is_stop = 0
			</if>
		left join mat_type_dict d
			on a.group_id = d.group_id 
			and a.hos_id = d.hos_id
			and a.copy_code = d.copy_code
			and c.mat_type_id = d.mat_type_id
			<if test="show_history == '1'">
				and c.mat_type_no = d.mat_type_no
			</if>
			<if test="show_history != '1'">
				and d.is_stop = 0
			</if>
		where a.group_id = #{group_id,jdbcType=INTEGER}
			and a.hos_id = #{hos_id,jdbcType=INTEGER}
			and a.copy_code = #{copy_code,jdbcType=VARCHAR}
			and a.state >= 3
			and a.in_date between #{begin_date,jdbcType=DATE} and #{end_date,jdbcType=DATE}
			and a.store_id = #{store_id,jdbcType=INTEGER}
			<if test="mat_type_id != null and mat_type_id != ''">
				and c.mat_type_id = #{mat_type_id,jdbcType=INTEGER}
			</if>
			<!-- 只显示有权限的库房信息 -->
			and a.store_id in (
				select perm_code from v_user_data_perm  
				where group_id = #{group_id,jdbcType=INTEGER}
					and hos_id = #{hos_id,jdbcType=INTEGER}
					and table_code = 'HOS_STORE_DICT'
					and user_id = #{user_id,jdbcType=INTEGER}
					and is_read = 1 and is_write = 1 
			)
	</select>
</mapper>

