<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.budgcost.empplan.BudgAddEmpDetailMapper">
	
	<resultMap id="budgAddEmpDetail" type="com.chd.hrp.budg.entity.BudgAddEmpDetail">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="plan_year" column="plan_year"/>
		<result property="plan_code" column="plan_code"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_no" column="dept_no"/>
		<result property="emp_type_code" column="emp_type_code"/>
		<result property="in_num" column="in_num"/>
		<result property="add_num" column="add_num"/>
		<result property="in_month" column="in_month"/>
		<result property="reason" column="reason"/>
	</resultMap>
		
	<resultMap id="budgAddEmpDetailMap" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="plan_year" column="plan_year"/>
		<result property="plan_code" column="plan_code"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_name" column="dept_name"/>
		<result property="dept_no" column="dept_no"/>
		<result property="emp_type_code" column="emp_type_code"/>
		<result property="type_name" column="type_name"/>
		<result property="in_num" column="in_num"/>
		<result property="add_num" column="add_num"/>
		<result property="in_month" column="in_month"/>
		<result property="reason" column="reason"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_ADD_EMP_DETAIL (
			group_id
			,
			hos_id
			,
			copy_code
			,
			plan_year
			,
			plan_code
			,
			dept_id
			,
			dept_no
			,
			emp_type_code
			,
			in_month
			,
			in_num
			,
			add_num
			,
			reason
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{plan_year,jdbcType=VARCHAR}
			,
			#{plan_code,jdbcType=VARCHAR}
			,
			#{dept_id,jdbcType=INTEGER}
			,
			#{dept_no,jdbcType=INTEGER}
			,
			#{emp_type_code,jdbcType=VARCHAR}
			,
			#{in_month,jdbcType=VARCHAR}
			,
			#{in_num,jdbcType=INTEGER}
			,
			#{add_num,jdbcType=INTEGER}
			,
			#{reason,jdbcType=VARCHAR}
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_ADD_EMP_DETAIL (
			group_id
			,
			hos_id
			,
			copy_code
			,
			plan_year
			,
			plan_code
			,
			dept_id
			,
			dept_no
			,
			emp_type_code
			,
			in_month
			,
			in_num
			,
			add_num
			,
			reason
		
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.plan_year,jdbcType=VARCHAR}
			,
			#{item.plan_code,jdbcType=VARCHAR}
			,
			#{item.dept_id,jdbcType=INTEGER}
			,
			#{item.dept_no,jdbcType=INTEGER}
			,
			#{item.emp_type_code,jdbcType=VARCHAR}
			,
			#{item.in_month,jdbcType=VARCHAR}
			,
			#{item.in_num,jdbcType=INTEGER}
			,
			#{item.add_num,jdbcType=INTEGER}
			,
			#{item.reason,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_add_emp_detail 
		SET
			in_month = #{in_month,jdbcType=VARCHAR}
			,
			add_num = #{add_num,jdbcType=INTEGER}
			,
			reason = #{reason,jdbcType=VARCHAR}
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
			AND plan_year = #{plan_year,jdbcType=VARCHAR}
			
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
		
			AND dept_id = #{dept_id,jdbcType=INTEGER}
			
			AND dept_no = #{dept_no,jdbcType=INTEGER}
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_add_emp_detail 
			SET
				in_month = #{in_month,jdbcType=VARCHAR}
				,
				add_num = #{add_num,jdbcType=INTEGER}
				,
				reason = #{reason,jdbcType=VARCHAR}
			WHERE                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND plan_year = #{item.plan_year,jdbcType=VARCHAR}
				
				AND plan_code = #{item.plan_code,jdbcType=VARCHAR}
				
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				
				AND dept_no = #{item.dept_no,jdbcType=VARCHAR}
		
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_add_emp_detail 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND plan_year = #{plan_year,jdbcType=VARCHAR}
		
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
		
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_add_emp_detail 
		WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND plan_year = #{item.plan_year,jdbcType=VARCHAR}
				
				AND plan_code = #{item.plan_code,jdbcType=VARCHAR}
			</foreach>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgAddEmpDetailMap" >
	
		SELECT 
	      baed.group_id,
	      baed.hos_id,
	      baed.copy_code,
	      baed.plan_year,
	      baed.plan_code,
	      baed.dept_id ||','||baed.dept_no dept_id,
	      baed.dept_no,
	      hdd.dept_name,
	      baed.emp_type_code,
	      bet.type_name,
	      baed.in_month,
	      baed.in_num,
	      baed.add_num,
	      baed.reason
	    FROM BUDG_ADD_EMP_DETAIL baed
	    left join hos_dept_dict hdd
	    on baed.group_id = hdd.group_id
	    and baed.hos_id = hdd.hos_id
	    and baed.dept_id = hdd.dept_id
	    left join budg_emp_type bet
	    on baed.group_id = bet.group_id
	    and baed.hos_id = bet.hos_id
	    and baed.copy_code = bet.copy_code
	    and baed.emp_type_code = bet.type_code
		WHERE                     
			baed.group_id = #{group_id,jdbcType=INTEGER}
			
			AND baed.hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND baed.copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND baed.plan_year = #{plan_year,jdbcType=VARCHAR}
			
			AND baed.plan_code = #{plan_code,jdbcType=VARCHAR}
	</select>
	<select id="queryByCode" resultMap="budgAddEmpDetail"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			plan_year,
			plan_code,
			dept_id,
			dept_no,
			emp_type_code,
			in_month,
			in_num,
			add_num,
			reason
		FROM budg_add_emp_detail 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}    
			AND copy_code = #{copy_code,jdbcType=VARCHAR}   
			AND plan_year = #{plan_year,jdbcType=VARCHAR}    
			AND plan_code = #{plan_code,jdbcType=VARCHAR}   
			AND dept_id = #{item.dept_id,jdbcType=INTEGER}
			AND dept_no = #{item.dept_no,jdbcType=VARCHAR}
	</select>
	<select id="queryByUniqueness" resultMap="budgAddEmpDetail"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			plan_year,
			plan_code,
			dept_id,
			dept_no,
			emp_type_code,
			in_month,
			in_num,
			add_num,
			reason
		FROM BUDG_ADD_EMP_DETAIL 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND plan_year = #{plan_year,jdbcType=VARCHAR}
			
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
			
			AND dept_id = #{dept_id,jdbcType=INTEGER}
			
			AND dept_no = #{dept_no,jdbcType=INTEGER}
		
	</select>
	<select id="queryExists" resultMap="budgAddEmpDetail"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			plan_year,
			plan_code,
			dept_id,
			dept_no,
			emp_type_code,
			in_month,
			in_num,
			add_num,
			reason
		FROM BUDG_ADD_EMP_DETAIL 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND plan_year = #{plan_year,jdbcType=VARCHAR}
			
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
			
			AND dept_id = #{dept_id,jdbcType=INTEGER}
			
			AND dept_no = #{dept_no,jdbcType=INTEGER}
	
	</select>
	
	<select id="queryDataExists" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
		SELECT 
			count(0)
		FROM BUDG_ADD_EMP_DETAIL 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND plan_year = #{plan_year,jdbcType=VARCHAR}
			
			AND plan_code = #{plan_code,jdbcType=VARCHAR}
			
			AND dept_id = #{dept_id,jdbcType=INTEGER}
			
			AND dept_no = #{dept_no,jdbcType=INTEGER}
	
	</select>
</mapper>

