<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.base.budgawardsitem.BudgAwardsGrantMonthMapper">
	
	<resultMap id="budgAwardsGrantMonth" type="com.chd.hrp.budg.entity.BudgAwardsGrantMonth">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="awards_item_code" column="awards_item_code"/>
	<result property="id" column="id"/>
	<result property="grant_month" column="grant_month"/>
	<result property="start_year" column="start_year"/>
	<result property="start_month" column="start_month"/>
	<result property="end_year" column="end_year"/>
	<result property="end_month" column="end_month"/>
	</resultMap>
		
	<resultMap id="budgAwardsGrantMonthMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="awards_item_code" column="awards_item_code"/>
	<result property="awards_item_name" column="awards_item_name"/>
	<result property="id" column="id"/>
	<result property="grant_month" column="grant_month"/>
	<result property="start_year" column="start_year"/>
	<result property="start_month" column="start_month"/>
	<result property="end_year" column="end_year"/>
	<result property="end_month" column="end_month"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_AWARDS_GRANT_MONTH (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="awards_item_code != null and awards_item_code != ''">
		awards_item_code
		,
		</if>
		<if test="id != null and id != ''">
		id
		,
		</if>
		<if test="grant_month != null and grant_month != ''">
		grant_month
		,
		</if>
		<if test="start_year != null and start_year != ''">
		start_year
		,
		</if>
		<if test="start_month != null and start_month != ''">
		start_month
		,
		</if>
		<if test="end_year != null and end_year != ''">
		end_year
		,
		</if>
		<if test="end_month != null and end_month != ''">
		end_month
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="awards_item_code != null and awards_item_code != ''">
		#{awards_item_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="id != null and id != ''">
		#{id,jdbcType=INTEGER}
		,
		</if>
		<if test="grant_month != null and grant_month != ''">
		#{grant_month,jdbcType=VARCHAR}
		,
		</if>
		<if test="start_year != null and start_year != ''">
		#{start_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="start_month != null and start_month != ''">
		#{start_month,jdbcType=VARCHAR}
		,
		</if>
		<if test="end_year != null and end_year != ''">
		#{end_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="end_month != null and end_month != ''">
		#{end_month,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_AWARDS_GRANT_MONTH (
		group_id
		,
		hos_id
		,
		copy_code
		,
		awards_item_code
		,
		id
		,
		grant_month
		,
		start_year
		,
		start_month
		,
		end_year
		,
		end_month
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.awards_item_code,jdbcType=VARCHAR}
			,
			#{item.id,jdbcType=INTEGER}
			,
			#{item.grant_month,jdbcType=VARCHAR}
			,
			#{item.start_year,jdbcType=VARCHAR}
			,
			#{item.start_month,jdbcType=VARCHAR}
			,
			#{item.end_year,jdbcType=VARCHAR}
			,
			#{item.end_month,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_awards_grant_month 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="grant_month != null and grant_month != ''">
		grant_month = #{grant_month,jdbcType=VARCHAR}
		,
		</if>
		<if test="start_year != null and start_year != ''">
		start_year = #{start_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="start_month != null and start_month != ''">
		start_month = #{start_month,jdbcType=VARCHAR}
		,
		</if>
		<if test="end_year != null and end_year != ''">
		end_year = #{end_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="end_month != null and end_month != ''">
		end_month = #{end_month,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="awards_item_code != null and awards_item_code != ''">
		AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		</if>
		<if test="id != null and id != ''">
		AND id = #{id,jdbcType=INTEGER}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_awards_grant_month 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.grant_month != null and item.grant_month != ''">
			grant_month = #{item.grant_month,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.start_year != null and item.start_year != ''">
			start_year = #{item.start_year,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.start_month != null and item.start_month != ''">
			start_month = #{item.start_month,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.end_year != null and item.end_year != ''">
			end_year = #{item.end_year,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.end_month != null and item.end_month != ''">
			end_month = #{item.end_month,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.awards_item_code != null and item.awards_item_code != ''">
			AND awards_item_code = #{item.awards_item_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.id != null and item.id != ''">
			AND id = #{item.id,jdbcType=INTEGER}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_awards_grant_month 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="awards_item_code != null and awards_item_code != ''">
		AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		</if>
		<if test="id != null and id != ''">
		AND id = #{id,jdbcType=INTEGER}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_awards_grant_month 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.awards_item_code != null and item.awards_item_code != ''">
				AND awards_item_code = #{item.awards_item_code,jdbcType=VARCHAR}
				</if>
				<if test="item.id != null and item.id != ''">
				AND id = #{item.id,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgAwardsGrantMonthMap" >
	
		SELECT 
		bagm.group_id,
		bagm.hos_id,
		bagm.copy_code,
		bagm.awards_item_code,
		baid.awards_item_name ,
		bagm.id,
		CASE bagm.grant_month WHEN '01' THEN '1月' WHEN '02' THEN '2月' WHEN '03' THEN '3月' WHEN '04' THEN '4月'
						WHEN '05' THEN '5月' WHEN '06' THEN '6月' WHEN '07' THEN '7月' WHEN '08' THEN '8月'
						WHEN '09' THEN '9月' WHEN '10' THEN '10月' WHEN '11' THEN '11月'  WHEN '12' THEN '12月' 
						ELSE ' ' END  grant_month ,
		CASE bagm.start_year WHEN '0' THEN '上年' WHEN '1' THEN '本年' ELSE ' ' END start_year,
		CASE bagm.start_month WHEN '01' THEN '1月' WHEN '02' THEN '2月' WHEN '03' THEN '3月' WHEN '04' THEN '4月'
						WHEN '05' THEN '5月' WHEN '06' THEN '6月' WHEN '07' THEN '7月' WHEN '08' THEN '8月'
						WHEN '09' THEN '9月' WHEN '10' THEN '10月' WHEN '11' THEN '11月'  WHEN '12' THEN '12月' 
						ELSE ' ' END  start_month ,
		CASE bagm.end_year WHEN '0' THEN '上年' WHEN '1' THEN '本年' ELSE ' ' END end_year,
		CASE bagm.end_month WHEN '01' THEN '1月' WHEN '02' THEN '2月' WHEN '03' THEN '3月' WHEN '04' THEN '4月'
						WHEN '05' THEN '5月' WHEN '06' THEN '6月' WHEN '07' THEN '7月' WHEN '08' THEN '8月'
						WHEN '09' THEN '9月' WHEN '10' THEN '10月' WHEN '11' THEN '11月'  WHEN '12' THEN '12月' 
						ELSE ' ' END  end_month 
		FROM BUDG_AWARDS_GRANT_MONTH bagm
		LEFT JOIN BUDG_AWARDS_ITEM_DICT baid
			ON
				bagm.group_id  = baid.group_id 
				and bagm.hos_id  = baid.hos_id
				and bagm.copy_code  = baid.copy_code
				and bagm.awards_item_code  = baid.awards_item_code
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND bagm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND bagm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND bagm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="awards_item_code != null and awards_item_code != ''">
		AND bagm.awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		</if>
		<if test="id != null and id != ''">
		AND bagm.id = #{id,jdbcType=INTEGER}
		</if>
		<if test="grant_month != null and grant_month != ''">
		AND bagm.grant_month = #{grant_month,jdbcType=VARCHAR}
		</if>
		<if test="start_year != null and start_year != ''">
		AND bagm.start_year = #{start_year,jdbcType=VARCHAR}
		</if>
		<if test="start_month != null and start_month != ''">
		AND bagm.start_month = #{start_month,jdbcType=VARCHAR}
		</if>
		<if test="end_year != null and end_year != ''">
		AND bagm.end_year = #{end_year,jdbcType=VARCHAR}
		</if>
		<if test="end_month != null and end_month != ''">
		AND bagm.end_month = #{end_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by bagm.awards_item_code, bagm.id asc
	</select>
	<select id="queryByCode" resultMap="budgAwardsGrantMonth"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		awards_item_code,
		id,
		grant_month,
		start_year,
		start_month,
		end_year,
		end_month
		FROM budg_awards_grant_month 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		awards_item_code = #{awards_item_code,jdbcType=VARCHAR}   and 
		id = #{id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgAwardsGrantMonth"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		awards_item_code,
		id,
		grant_month,
		start_year,
		start_month,
		end_year,
		end_month
		FROM BUDG_AWARDS_GRANT_MONTH 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="awards_item_code != null and awards_item_code != ''">
		AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		</if>
		<if test="id != null and id != ''">
		AND id = #{id,jdbcType=INTEGER}
		</if>
		<if test="grant_month != null and grant_month != ''">
		AND grant_month = #{grant_month,jdbcType=VARCHAR}
		</if>
		<if test="start_year != null and start_year != ''">
		AND start_year = #{start_year,jdbcType=VARCHAR}
		</if>
		<if test="start_month != null and start_month != ''">
		AND start_month = #{start_month,jdbcType=VARCHAR}
		</if>
		<if test="end_year != null and end_year != ''">
		AND end_year = #{end_year,jdbcType=VARCHAR}
		</if>
		<if test="end_month != null and end_month != ''">
		AND end_month = #{end_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgAwardsGrantMonth"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		awards_item_code,
		id,
		grant_month,
		start_year,
		start_month,
		end_year,
		end_month
		FROM BUDG_AWARDS_GRANT_MONTH 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="awards_item_code != null and awards_item_code != ''">
		AND awards_item_code = #{awards_item_code,jdbcType=VARCHAR}
		</if>
		<if test="id != null and id != ''">
		AND id = #{id,jdbcType=INTEGER}
		</if>
		<if test="grant_month != null and grant_month != ''">
		AND grant_month = #{grant_month,jdbcType=VARCHAR}
		</if>
		<if test="start_year != null and start_year != ''">
		AND start_year = #{start_year,jdbcType=VARCHAR}
		</if>
		<if test="start_month != null and start_month != ''">
		AND start_month = #{start_month,jdbcType=VARCHAR}
		</if>
		<if test="end_year != null and end_year != ''">
		AND end_year = #{end_year,jdbcType=VARCHAR}
		</if>
		<if test="end_month != null and end_month != ''">
		AND end_month = #{end_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

