<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.business.med.BudgMedPurMapper">
	<resultMap id="budgMed" type="com.chd.hrp.budg.entity.BudgMedPur">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="year" column="year"/>
		<result property="month" column="month"/>
		<result property="med_type_id" column="med_type_id"/>
		<result property="pur_budg" column="pur_budg"/>
		<result property="remark" column="remark"/>
	</resultMap>
	
	<resultMap id="budgMedMap" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="year" column="year"/>
		<result property="month" column="month"/>
		<result property="med_type_id" column="med_type_id"/>
		<result property="med_type_code" column="med_type_code"/>
		<result property="med_type_name" column="med_type_name"/>
		<result property="cost_budg" column="cost_budg"/>
		<result property="pur_budg" column="pur_budg"/>
		<result property="remark" column="remark"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO BUDG_MED_PUR (
			group_id,
			hos_id,
			copy_code,
			year,
			month,
			med_type_id,
			pur_budg,
			remark,
		) VALUES (
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{year,jdbcType=VARCHAR},
			#{month,jdbcType=VARCHAR},
			#{dept_id,jdbcType=INTEGER},
			#{med_type_id,jdbcType=INTEGER}	,
			#{pur_budg,jdbcType=INTEGER},
			#{remark,jdbcType=VARCHAR}
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_MED_PUR (
			group_id,
			hos_id,
			copy_code,
			year,
			month,
			med_type_id,
			pur_budg,
			remark
			) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.copy_code,jdbcType=VARCHAR},
				#{item.year,jdbcType=VARCHAR},
				#{item.month,jdbcType=VARCHAR},
				#{item.med_type_id,jdbcType=INTEGER},
				#{item.pur_budg,jdbcType=INTEGER},	
				#{item.remark,jdbcType=VARCHAR}		
		    from dual
		</foreach>
	</insert>
	
<!-- 	批量添加生成数据 -->
	<insert id="addGenerateBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_MED_PUR (
			group_id,
			hos_id,
			copy_code,
			year,
			month,
			med_type_id,
			pur_budg
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.copy_code,jdbcType=VARCHAR},
				#{item.year,jdbcType=VARCHAR},
				#{item.month,jdbcType=VARCHAR},
				#{item.med_type_id,jdbcType=INTEGER},
				#{item.pur_budg,jdbcType=INTEGER}	
		    from dual
		</foreach>
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE BUDG_MED_PUR SET
			pur_budg = #{pur_budg,jdbcType=INTEGER},
			remark = #{remark,jdbcType=VARCHAR}	
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND year = #{year,jdbcType=VARCHAR}
			AND month = #{month,jdbcType=VARCHAR}
			AND med_type_id = #{med_type_id,jdbcType=INTEGER}
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_MED_PUR SET
				pur_budg = #{item.pur_budg,jdbcType=INTEGER},
			
				remark = #{item.remark,jdbcType=VARCHAR}	
			where                    
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND year = #{item.year,jdbcType=VARCHAR}
				AND month = #{item.month,jdbcType=VARCHAR}
				AND med_type_id = #{item.med_type_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM BUDG_MED_PUR 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND year = #{year,jdbcType=VARCHAR}
			<if test="month != null and month != ''">
		    AND month = #{month,jdbcType=VARCHAR}
		    </if>
		    <if test="med_type_id != null and med_type_id != ''">
		    AND med_type_id = #{med_type_id,jdbcType=INTEGER}
		    </if>
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_MED_PUR 
		where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND year = #{item.year,jdbcType=VARCHAR}
			AND month = #{item.month,jdbcType=VARCHAR}
			AND med_type_id = #{item.med_type_id,jdbcType=INTEGER}
		</foreach>

	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="budgMedMap" >
		with temp as(
			select group_id , hos_id , copy_code , budg_year year , month , med_type_id , sum(cost_budg) cost_budg
			from BUDG_DRUG 
			where 
				group_id = #{group_id}
			    and hos_id = #{hos_id}
			    and copy_code = #{copy_code}
			    <if test="year != null and year != ''">
			    and budg_year = #{year}
			    </if>
			    <if test="month != null and month != ''">
			    and month = #{month}
			    </if>
			    <if test="med_type_id != null and med_type_id != ''">
			    and med_type_id = #{med_type_id}
			    </if>
			 group by group_id , hos_id , copy_code , budg_year , month , med_type_id 
		)
		select 
		    nmm.group_id,
		    nmm.hos_id,
		    nmm.copy_code,
		    nmm.year,
		    nmm.month,
		    nmm.med_type_id,
		    mtd.med_type_name,
		    temp.cost_budg ,
		    nvl(nmm.pur_budg,0) pur_budg,
		    nmm.remark
	    from BUDG_MED_PUR nmm
	    left join MED_TYPE_DICT mtd
		    on nmm.group_id = mtd.group_id
		    and nmm.hos_id = mtd.hos_id
		    and nmm.copy_code = mtd.copy_code
		    and nmm.med_type_id = mtd.med_type_id
		    and mtd.is_stop = 0
		left join temp 
			on
				nmm.group_id = temp.group_id
			    and nmm.hos_id = temp.hos_id
			    and nmm.copy_code = temp.copy_code
			    and nmm.year = temp.year
			    and nmm.month = temp.month
			    and nmm.med_type_id = temp.med_type_id
	    where
		    nmm.group_id = #{group_id}
		    and nmm.hos_id = #{hos_id}
		    and nmm.copy_code = #{copy_code}
		    <if test="year != null and year != ''">
		    and nmm.year = #{year}
		    </if>
		    <if test="month != null and month != ''">
		    and nmm.month = #{month}
		    </if>
		    <if test="med_type_id != null and med_type_id != ''">
		    and nmm.med_type_id = #{med_type_id}
		    </if>
		order by nmm.med_type_id,nmm.month
	</select>
	
	<select id="queryByCode" resultMap="budgMedMap"  parameterType="java.util.Map" >
		select 
	    group_id,hos_id,copy_code,year,month,med_type_id,pur_budg,remark
	    from BUDG_MED_PUR
	    where
		group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and year = #{year}
		and month = #{month}
		and med_type_id = #{med_type_id}
	</select>
	
	<select id="queryByUniqueness" resultMap="budgMedMap"  parameterType="java.util.Map" >
	
	</select>
	
	<select id="queryExists" resultMap="budgMed"  parameterType="java.util.Map" >
		select 
	    group_id,hos_id,copy_code,year,month,med_type_id,pur_budg,remark
	    from BUDG_MED_PUR
	    where
		group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and year = #{year}
		and month = #{month}
		and med_type_id = #{med_type_id}
	</select>
	
	<select id="queryDataExists" resultType="java.lang.Integer"  parameterType="java.util.Map" >
		select 
	     count(1)
	    from BUDG_MED_PUR
	    where
		group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and year = #{year}
		and month = #{month}
		and med_type_id = #{med_type_id}
	</select>
	
	<resultMap type="java.util.Map" id="itemMap">
		<result property="id" column="id"/>
		<result property="text" column="text"/>
	</resultMap>
	
	<select id="queryBudgMedTypeSubj" resultMap="itemMap">
		
		SELECT
			a.med_type_id id,
			b.med_type_code || ' ' || b.med_type_name  text
        FROM BUDG_MED_TYPE_SUBJ a
        left join med_type_dict b
        	on
        		a.group_id = b.group_id
        		and a.hos_id = b.hos_id
        		and a.copy_code = b.copy_code
        		and a.med_type_id = b.med_type_id
        		and b.is_stop = 0
		where
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id} 
			AND a.copy_code = #{copy_code}
			AND a.budg_year = #{budg_year} 
			<if test="key != null and key != ''">
				AND (b.med_type_code like '${key}%' or
					b.med_type_name like '%${key}%' or 
					b.spell_code like '%${key}%' or
					b.wbx_code like '%${key}%' )
			</if>
		order by b.med_type_code
	</select>
	
<!-- 	汇总材料支出编制数据  生成材料采购预算编制 -->
	<select id="getCollectData" parameterType="java.util.Map" resultMap="budgMedMap">
		select group_id,
	       hos_id,
	       copy_code,
	       budg_year year,
	       month,
	       med_type_id,
	       sum(nvl(cost_budg, 0)) pur_budg
		from budg_drug
		where
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and budg_year = #{year}
		group by group_id, hos_id, copy_code, budg_year, month, med_type_id

	</select>
	
	<!-- 查询添加数据是否已存在 -->
	<select id="queryDataExistList" resultType="java.lang.String">
		<foreach collection="list" item="item" index="index" separator=" union all " >
			SELECT to_number(${item.rowNo})+ 1 rowNo
			FROM BUDG_MED_PUR
			where
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND year = #{item.year,jdbcType=VARCHAR}
				AND month = #{item.month,jdbcType=VARCHAR}
				AND med_type_id = #{item.med_type_id,jdbcType=INTEGER}
		</foreach>
	</select>
	
	<!-- 根据 预算年度 、 月份 、药品分类  查询其支出预算 -->
	<select id="queryCostBudg" parameterType="java.util.Map" resultMap="budgMedMap" >
			select  sum(cost_budg) cost_budg
			from BUDG_DRUG
			where
				group_id = #{group_id,jdbcType=INTEGER}
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
				AND budg_year = #{year,jdbcType=VARCHAR}
				AND month = #{month,jdbcType=VARCHAR}
				AND med_type_id = #{med_type_id,jdbcType=INTEGER}
	</select>
	
</mapper>