<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.common.BudgNoRulesMapper">
	
	<resultMap id="rulesMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="table_code" column="table_code"/>
	<result property="table_name" column="table_name"/>
	<result property="prefixe" column="prefixe"/>
	<result property="is_year" column="is_year"/>
	<result property="is_budg_year" column="is_budg_year"/>
	<result property="is_month" column="is_month"/>
	<result property="seq_no" column="seq_no"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_NO_RULE (
			group_id,
			hos_id,
			copy_code,
			table_code,
			table_name,
			prefixe,
			is_year,
			is_budg_year,
			is_month,
			seq_no
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{table_code,jdbcType=VARCHAR}
			,
			#{table_name,jdbcType=VARCHAR}
			,
			#{prefixe,jdbcType=VARCHAR}
			,
			#{is_year,jdbcType=INTEGER}
			,
			#{is_budg_year,jdbcType=INTEGER}
			,
			#{is_month,jdbcType=INTEGER}
			,
			#{seq_no,jdbcType=INTEGER}
		)
	
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE BUDG_NO_RULE 
		SET
			prefixe = #{prefixe,jdbcType=VARCHAR},
			is_year = #{is_year,jdbcType=INTEGER},
			is_budg_year = #{is_budg_year,jdbcType=INTEGER},
			is_month = #{is_month,jdbcType=INTEGER},
			seq_no = #{seq_no,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND table_code = #{table_code,jdbcType=VARCHAR}
			<if test="year != null and year != ''">
				AND year = #{year,jdbcType=VARCHAR}
			</if>			
			<if test="month != null and month != ''">
				AND month = #{month,jdbcType=VARCHAR}
			</if>			
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE BUDG_NO_RULE 
			SET
				prefixe = #{prefixe,jdbcType=VARCHAR},
				is_year = #{is_year,jdbcType=INTEGER},
				is_budg_year = #{is_budg_year,jdbcType=INTEGER},
				is_month = #{is_month,jdbcType=INTEGER},
				seq_no = #{seq_no,jdbcType=INTEGER}
			WHERE
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND table_code = #{item.table_code,jdbcType=VARCHAR}
				<if test="year != null and year != ''">
					AND year = #{item.year,jdbcType=VARCHAR}
				</if>			
				<if test="month != null and month != ''">
					AND month = #{item.month,jdbcType=VARCHAR}
				</if>			
		</foreach>
	</update>
	
	<select id="queryRule" parameterType="java.util.Map" resultMap="rulesMap" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			table_code,
			table_name,
			prefixe,
			is_year,
			is_budg_year,
			is_month,
			seq_no
		FROM BUDG_NO_RULE
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND table_code = #{table_code,jdbcType=VARCHAR}
			
	</select>
	
	<select id="queryByCode" resultMap="rulesMap" parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			table_code,
			table_name,
			prefixe,
			is_year,
			is_budg_year,
			is_month,
			seq_no
		FROM BUDG_NO_RULE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			table_code = #{table_code,jdbcType=VARCHAR} 
	</select>

</mapper>

