<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.common.BudgEditStateMapper">
	
	<resultMap id="stateMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="year" column="year"/>
	<result property="work_flag" column="work_flag"/>
	<result property="med_income_flag" column="med_income_flag"/>
	<result property="else_income_flag" column="else_income_flag"/>
	<result property="med_cost_flag" column="med_cost_flag"/>
	<result property="else_cost_flag" column="else_cost_flag"/>
	<result property="mat_pur_flag" column="mat_pur_flag"/>
	<result property="med_pur_flag" column="med_pur_flag"/>
	</resultMap>
	
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_EDIT_STATE (
			group_id,
			hos_id,
			copy_code,
			year ,
			work_flag  ,
			med_income_flag  , 
			else_income_flag  ,
			med_cost_flag  ,
			else_cost_flag  , 
			mat_pur_flag  ,   
			med_pur_flag   
			
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{year,jdbcType=VARCHAR}
			,
			#{work_flag,jdbcType=INTEGER}
			,
			#{med_income_flag,jdbcType=INTEGER}
			,
			#{else_income_flag,jdbcType=INTEGER}
			,
			#{med_cost_flag,jdbcType=INTEGER}
			,
			#{else_cost_flag,jdbcType=INTEGER}
			,
			#{mat_pur_flag,jdbcType=INTEGER}
			,
			#{med_pur_flag,jdbcType=INTEGER}
			 
		)
	
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE BUDG_EDIT_STATE 
		SET
			work_flag = #{work_flag,jdbcType=INTEGER},
			med_income_flag = #{med_income_flag,jdbcType=INTEGER},
			else_income_flag = #{else_income_flag,jdbcType=INTEGER},
			med_cost_flag = #{med_cost_flag,jdbcType=INTEGER},
			else_cost_flag = #{else_cost_flag,jdbcType=INTEGER},
			mat_pur_flag = #{med_cost_flag,jdbcType=INTEGER},
			med_pur_flag = #{else_cost_flag,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
			UPDATE BUDG_EDIT_STATE 
			SET
				work_flag = #{item.work_flag,jdbcType=INTEGER},
				med_income_flag = #{item.med_income_flag,jdbcType=INTEGER},
				else_income_flag = #{item.else_income_flag,jdbcType=INTEGER},
				med_cost_flag = #{item.med_cost_flag,jdbcType=INTEGER},
				else_cost_flag = #{item.else_cost_flag,jdbcType=INTEGER},
				mat_pur_flag = #{item.med_cost_flag,jdbcType=INTEGER},
				med_pur_flag = #{item.else_cost_flag,jdbcType=INTEGER}
			WHERE
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND year = #{item.year,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<select id="query" parameterType="java.util.Map" resultMap="stateMap" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			year ,
			work_flag  ,
			nvl(work_flag , 1)  work_flag ,
			nvl(med_income_flag , 1)  med_income_flag , 
			nvl(else_income_flag , 1) else_income_flag ,
			nvl(med_cost_flag , 1) med_cost_flag ,
			nvl(else_cost_flag , 1) else_cost_flag , 
			nvl(mat_pur_flag , 1)  mat_pur_flag ,   
			nvl(med_pur_flag , 1)  med_pur_flag  
		FROM BUDG_EDIT_STATE
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
			
	</select>
	
	<select id="queryByCode" resultMap="stateMap" parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			year ,
			nvl(work_flag , 1)  work_flag ,
			nvl(med_income_flag , 1)  med_income_flag , 
			nvl(else_income_flag , 1) else_income_flag ,
			nvl(med_cost_flag , 1) med_cost_flag ,
			nvl(else_cost_flag , 1) else_cost_flag , 
			nvl(mat_pur_flag , 1)  mat_pur_flag ,   
			nvl(med_pur_flag , 1)  med_pur_flag
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询  业务预算可编辑标记  -->
	<select id="queryWorkFlag" resultType="java.lang.String" parameterType="java.util.Map" >
	
		SELECT 
			nvl(work_flag , 1)  work_flag 
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询  医疗收入可编辑标记  -->
	<select id="queryMedIncomeFlag" resultType="java.lang.String" parameterType="java.util.Map" >
	
		SELECT 
			nvl(med_income_flag , 1)  med_income_flag 
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询  其他收入可编辑标记  -->
	<select id="queryElseIncomeFlag" resultType="java.lang.String" parameterType="java.util.Map" >
	
		SELECT 
			nvl(else_income_flag , 1) else_income_flag
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询  医疗支出可编辑标记  -->
	<select id="queryMedCostFlag" resultType="java.lang.String" parameterType="java.util.Map" >
	
		SELECT 
			nvl(med_cost_flag , 1) med_cost_flag 
			
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询  其他支出可编辑标记 -->
	<select id="queryElseCostFlag" resultType="java.lang.String" parameterType="java.util.Map" >
	
		SELECT 
			nvl(else_cost_flag , 1) else_cost_flag 
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询  材料采购可编辑标记  -->
	<select id="queryMatPurFlag" resultType="java.lang.String" parameterType="java.util.Map" >
	
		SELECT 
			nvl(mat_pur_flag , 1)  mat_pur_flag    
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询  药品采购可编辑标记  -->
	<select id="queryMedPurFlag" resultType="java.lang.String" parameterType="java.util.Map" >
	
		SELECT 
			nvl(med_pur_flag , 1)  med_pur_flag
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
	
	<!-- 更新  业务预算可编辑标记 -->
	<update id="updateWorkFlag" parameterType="java.util.Map">
	
		UPDATE BUDG_EDIT_STATE 
		SET
			work_flag = #{work_flag,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
	</update>
	
	<!-- 更新  医疗收入可编辑标记 -->
	<update id="updateMedIncomeFlag" parameterType="java.util.Map">
	
		UPDATE BUDG_EDIT_STATE 
		SET
			med_income_flag = #{med_income_flag,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
	</update>
	
	<!-- 更新  其他收入可编辑标记 -->
	<update id="updateElseIncomeFlag" parameterType="java.util.Map">
	
		UPDATE BUDG_EDIT_STATE 
		SET
			else_income_flag = #{else_income_flag,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
	</update>
	
	<!-- 更新  医疗支出可编辑标记 -->
	<update id="updateMedCostFlag" parameterType="java.util.Map">
	
		UPDATE BUDG_EDIT_STATE 
		SET
			med_cost_flag = #{med_cost_flag,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
	</update>
	<!-- 更新  其他支出可编辑标记 -->
	<update id="updateElseCostFlag" parameterType="java.util.Map">
	
		UPDATE BUDG_EDIT_STATE 
		SET
			else_cost_flag = #{else_cost_flag,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
	</update>
	
	<!-- 更新  材料采购可编辑标记 -->
	<update id="updateMatPurFlag" parameterType="java.util.Map">
	
		UPDATE BUDG_EDIT_STATE 
		SET
			mat_pur_flag = #{mat_pur_flag,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
	</update>
	
	<!-- 更新  药品采购可编辑标记 -->
	<update id="updateMedPurFlag" parameterType="java.util.Map">
	
		UPDATE BUDG_EDIT_STATE 
		SET
			med_pur_flag = #{med_pur_flag,jdbcType=INTEGER}
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{year,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 根据主键查询数据是否存在 -->
	<select id="queryDataExist" resultType="java.lang.Integer" parameterType="java.util.Map" >
	
		SELECT 
			count(1) 
		FROM BUDG_EDIT_STATE 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR} 
	</select>
</mapper>

