<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.common.BudgResolveDataHmMapper">
	
	<resultMap id="resolveData" type="com.chd.hrp.budg.entity.BudgResolveDataHm">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="resolve_data_code" column="resolve_data_code"/>
	<result property="month" column="month"/>
	<result property="value" column="value"/>
	</resultMap>
	
	
	<resultMap id="resolveDataMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="resolve_data_code" column="resolve_data_code"/>
	<result property="month" column="month"/>
	<result property="value" column="value"/>
	</resultMap>
		
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_RESOLVE_DATA_HM (
		group_id
		,
		hos_id
		,
		copy_code
		,
		resolve_data_code
		,
		month 
		,
		value
		
		) VALUES (
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{resolve_data_code,jdbcType=VARCHAR}
		,
		#{month,jdbcType=VARCHAR}
		,
		#{value,jdbcType=INTEGER}
		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_RESOLVE_DATA_HM (
		group_id
		,
		hos_id
		,
		copy_code
		,
		resolve_data_code
		,
		month 
		,
		value
		
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.resolve_data_code,jdbcType=VARCHAR}
			,
			#{item.month,jdbcType=VARCHAR}
			,
			#{item.value,jdbcType=INTEGER}
					from dual
		</foreach>
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE BUDG_RESOLVE_DATA_HM SET
			value = #{value,jdbcType=INTEGER}
		WHERE 
			group_id =#{group_id,jdbcType=INTEGER}
			and hos_id =#{hos_id,jdbcType=INTEGER}
			and copy_code =#{copy_code,jdbcType=VARCHAR}
			and resolve_data_code =#{resolve_data_code,jdbcType=VARCHAR}
			and month =#{month,jdbcType=VARCHAR}
	
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE BUDG_RESOLVE_DATA_HM SET
				value = #{item.value,jdbcType=INTEGER}
			WHERE 
				group_id =#{item.group_id,jdbcType=INTEGER}
				and hos_id =#{item.hos_id,jdbcType=INTEGER}
				and copy_code =#{item.copy_code,jdbcType=VARCHAR}
				and resolve_data_code =#{item.resolve_data_code,jdbcType=VARCHAR}
				and month =#{item.month,jdbcType=VARCHAR}
			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM BUDG_RESOLVE_DATA_HM 
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and resolve_data_code = #{resolve_data_code,jdbcType=VARCHAR} 
			<if test=" month != null and month !='' ">
			and month = #{month,jdbcType=VARCHAR}
			</if>
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_RESOLVE_DATA_HM WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				and resolve_data_code = #{item.resolve_data_code,jdbcType=VARCHAR}
				<if test=" item.month != null and item.month !='' ">
				and month = #{item.month,jdbcType=VARCHAR}
				</if>
				
			</foreach>
	
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="resolveDataMap" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		resolve_data_code,
		month ,
		value
		FROM BUDG_RESOLVE_DATA_HM 
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="resolve_data_code != null and resolve_data_code != ''">
			AND resolve_data_code = #{resolve_data_code,jdbcType=VARCHAR}
			</if>
			<if test="month != null and month != ''">
			AND month = #{month,jdbcType=VARCHAR}
			</if>
		order by resolve_data_code , month asc
	</select>
	<select id="queryByCode" resultType="com.chd.hrp.budg.entity.BudgResolveDataHm" parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		resolve_data_code,
		month ,
		value
		FROM BUDG_RESOLVE_DATA_HM 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and resolve_data_code = #{resolve_data_code,jdbcType=VARCHAR}  
			and month = #{month,jdbcType=VARCHAR}  
	
	</select>
	<select id="queryByUniqueness" resultType="com.chd.hrp.budg.entity.BudgResolveDataHm" parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		resolve_data_code,
		month ,
		value
		FROM BUDG_RESOLVE_DATA_HM 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="resolve_data_code != null and resolve_data_code != ''">
			AND resolve_data_code = #{resolve_data_code,jdbcType=VARCHAR}
			</if>
			<if test="month != null and month != ''">
			and month = #{month,jdbcType=VARCHAR}
			</if>
		</where>   
		order by resolve_data_code asc
	</select>
	
</mapper>

