<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.common.BudgFunProcessMapper">
	
	<resultMap id="countDataMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="code" column="code"/>
	<result property="count_item" column="count_item"/>
	<result property="count_value" column="count_value"/>
	</resultMap>
	
	<resultMap id="funMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="fun_code" column="fun_code"/>
	<result property="fun_name" column="fun_name"/>
	<result property="type_code" column="type_code"/>
	<result property="type_name" column="type_name"/>
	<result property="fun_method_chs" column="fun_method_chs"/>
	<result property="fun_method_eng" column="fun_method_eng"/>
	<result property="fun_note" column="fun_note"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_pre" column="is_pre"/>
	<result property="is_rec" column="is_rec"/>
	<result property="is_stop" column="is_stop"/>
    <result property="prc_name" column="prc_name"/>
	<result property="fun_sql" column="fun_sql"/>
	<result property="pkg_name" column="pkg_name"/>
	<result property="budg_fun_sql" column="budg_fun_sql"/>
	</resultMap>
	
	<resultMap id="returnMap" type="java.util.Map">
	<result property="resultValue" column="resultValue"/>
	<result property="BUDG_APPCODE" column="BUDG_APPCODE"/>
	<result property="BUDG_ERRTEXT" column="BUDG_ERRTEXT"/>
	</resultMap>
	
	<!-- 根据 函数编码 查询函数信息  -->
	<select id="queryFunInfo" parameterType="java.util.Map" resultMap="funMap" >
		SELECT 
			group_id,
			hos_id,
			copy_code,
			fun_code,
			fun_name,
			type_code,
			fun_method_chs,
			fun_method_eng,
			fun_note,
			spell_code,
			wbx_code,
			is_pre,
			is_rec,
			is_stop,
			prc_name,
			pkg_name
			FROM BUDG_FUN 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND fun_code = #{fun_code,jdbcType=VARCHAR}
	</select>
	
	<!-- 函数取值 执行sql 语句 -->
   	<select id="execFunSql" statementType="CALLABLE" parameterType="java.util.Map" resultMap ="returnMap" >
		<![CDATA[ {call ${sql} ,
				#{resultValue,mode=OUT,jdbcType=DOUBLE},
				#{BUDG_APPCODE,mode=OUT,jdbcType=INTEGER},
				#{BUDG_ERRTEXT,mode=OUT,jdbcType=VARCHAR}
				)}
		]]> 
	</select>

</mapper>

