<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.basic.HtcFassetCostRelaMapper">

	<resultMap id="fassetCostRela" type="com.chd.hrp.htc.entity.task.basic.HtcFassetCostRela">
        <result property="group_id" column="group_id" />
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="asset_type_code" column="asset_type_code"/>
        <result property="asset_type_name" column="asset_type_name"/>
        <result property="cost_item_no" column="cost_item_no"/>
        <result property="cost_item_id" column="cost_item_id"/>
        <result property="cost_item_code" column="cost_item_code"/>
        <result property="cost_item_name" column="cost_item_name"/>
	</resultMap>
	
        <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="addHtcFassetCostRela" useGeneratedKeys="true" >
    
         insert into htc_fasset_cost_rela
					  (group_id,
					   hos_id,
					   copy_code,
					   acc_year,
					   asset_type_code,
					   cost_item_no,
					   cost_item_id)
					values
					  (#{group_id},
					   #{hos_id},
					   #{copy_code},
					   #{acc_year},
					   #{asset_type_code},
					   #{cost_item_no},
					   #{cost_item_id})
    </insert>
    
    <insert id="addBatchHtcFassetCostRela" parameterType="java.util.Map">
        insert into htc_fasset_cost_rela
					  (group_id,
					   hos_id,
					   copy_code,
					   acc_year,
					   asset_type_code,
					   cost_item_no,
					   cost_item_id)
      <foreach collection="list" item="item" separator="union all">
                 select 
                       #{group_id},
					   #{hos_id},
					   #{copy_code},
					   #{acc_year},
					   #{asset_type_code},
					   #{cost_item_no},
					   #{cost_item_id}
		         from dual
    </foreach>
    </insert>
    
	<update id="updateHtcFassetCostRela" parameterType="java.util.Map">
        update htc_fasset_cost_rela
		   set cost_item_no = #{cost_item_no},
		       cost_item_id = #{cost_item_id}
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and acc_year = #{acc_year}
		   and asset_type_code = #{asset_type_code}
	</update>

    <delete id="deleteHtcFassetCostRela" parameterType="java.util.Map">
       delete htc_fasset_cost_rela
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and acc_year = #{acc_year}
		   and asset_type_code = #{asset_type_code}
    </delete>

    <delete id="deleteBatchHtcFassetCostRela" parameterType="java.util.List">
           delete htc_fasset_cost_rela where
        <foreach collection="list" index="index" item="item" separator="or" >
		(
			    group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and acc_year = #{item.acc_year} 
			and asset_type_code = #{item.asset_type_code}
		)
   		</foreach>
    </delete>
    
    <select id="queryHtcFassetCostRelaByCode" parameterType="java.util.Map" resultMap="fassetCostRela" >
	  
			  select hfcr.group_id,
			         hfcr.hos_id,
			         hfcr.copy_code,
			         hfcr.acc_year,
			         hfcr.asset_type_code,
				     hftd.asset_type_name,
			         hfcr.cost_item_no,
			         hfcr.cost_item_id,
			         cidn.cost_item_code,
			         cidn.cost_item_name
			  from htc_fasset_cost_rela hfcr
				left join htc_fasset_type_dict hftd
				on hfcr.group_id = hftd.group_id
				and hfcr.hos_id = hftd.hos_id
				and hfcr.copy_code = hftd.copy_code
				and hfcr.asset_type_code = hftd.asset_type_code
				left join cost_item_dict_no cidn
				on cidn.group_id = hfcr.group_id
				and cidn.hos_id = hfcr.hos_id
				and cidn.copy_code = hfcr.copy_code
				and cidn.cost_item_no = hfcr.cost_item_no
				and cidn.cost_item_id = hfcr.cost_item_id
				where hfcr.group_id = #{group_id}
			    and hfcr.hos_id = #{hos_id}
			    and hfcr.copy_code = #{copy_code}
			    and hfcr.acc_year = #{acc_year}
			    and hfcr.asset_type_code = #{asset_type_code}
	</select>
	<select id="queryHtcFassetCostRela" parameterType="java.util.Map" resultMap="fassetCostRela" >
              select hfcr.group_id,
			         hfcr.hos_id,
			         hfcr.copy_code,
			         hfcr.acc_year,
			         hfcr.asset_type_code,
				     hftd.asset_type_name,
			         hfcr.cost_item_no,
			         hfcr.cost_item_id,
			         cidn.cost_item_code,
			         cidn.cost_item_name
			  from htc_fasset_cost_rela hfcr
				left join htc_fasset_type_dict hftd
				on hfcr.group_id = hftd.group_id
				and hfcr.hos_id = hftd.hos_id
				and hfcr.copy_code = hftd.copy_code
				and hfcr.asset_type_code = hftd.asset_type_code
				left join cost_item_dict_no cidn
				on cidn.group_id = hfcr.group_id
				and cidn.hos_id = hfcr.hos_id
				and cidn.copy_code = hfcr.copy_code
				and cidn.cost_item_no = hfcr.cost_item_no
				and cidn.cost_item_id = hfcr.cost_item_id
        <where>    hfcr.group_id = #{group_id}
			    and hfcr.hos_id = #{hos_id}
			    and hfcr.copy_code = #{copy_code}
			    and hfcr.acc_year = #{acc_year}
			<if test="asset_type_code != null and asset_type_code != ''">
                and hfcr.asset_type_code = #{asset_type_code}
            </if>
            <if test="cost_item_no != null and cost_item_no != ''">
                and hfcr.cost_item_no = #{cost_item_no}
            </if>
             <if test="cost_item_id != null and cost_item_id != ''">
                and hfcr.cost_item_id = #{cost_item_id}
            </if>
        </where>   
		order by hfcr.group_id,hfcr.hos_id,hfcr.copy_code,hfcr.acc_year,hfcr.asset_type_code
    </select>
	
</mapper>

