<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.basic.HtcWageCostRelaMapper">
	<resultMap id="wageCostRela" type="com.chd.hrp.htc.entity.task.basic.HtcWageCostRela">
       	<result property="group_id" column="group_id" />
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="people_type_name" column="people_type_name"/>
        <result property="people_type_code" column="people_type_code"/>
        <result property="wage_item_code" column="wage_item_code"/>
        <result property="wage_item_name" column="wage_item_name"/>
        <result property="cost_item_no" column="cost_item_no"/>
        <result property="cost_item_id" column="cost_item_id"/>
        <result property="cost_item_code" column="cost_item_code" />
        <result property="cost_item_name" column="cost_item_name"/>
	</resultMap>

    <insert id="addHtcWageCostRela" useGeneratedKeys="true" >
    
        insert into htc_wage_cost_rela (
            group_id ,
            hos_id ,
            copy_code ,
            acc_year ,
            people_type_code ,
            wage_item_code ,
            cost_item_no,
            cost_item_id 
        ) values (
        	#{group_id} ,
            #{hos_id} ,
            #{copy_code} ,
            #{acc_year} ,
            #{people_type_code} ,
            #{wage_item_code} ,
            #{cost_item_no} ,
            #{cost_item_id} 
        )
    
    </insert>
    
    <insert id="addBatchHtcWageCostRela" parameterType="java.util.List">
    
        insert into htc_wage_cost_rela (
            group_id ,
            hos_id ,
            copy_code ,
            acct_year ,
            people_type_code ,
            wage_item_code ,
            cost_item_id 
        ) values 
		<foreach collection="list" item="item" separator=",">
		(
	            #{item.group_id}
	            #{item.hos_id} ,
	            #{item.copy_code} ,
	            #{item.acct_year} ,
	            #{item.people_type_code} ,
	            #{item.wage_item_code} ,
	            #{item.cost_item_id} 
	        )
	</foreach>
    
    </insert>

	<update id="updateHtcWageCostRela" parameterType="java.util.Map">
        update htc_wage_cost_rela
	   set cost_item_no = #{cost_item_no},
	       cost_item_id = #{cost_item_id}
	 where group_id = #{group_id}
	   and hos_id = #{hos_id}
	   and copy_code = #{copy_code}
	   and acc_year = #{acc_year}
	   and people_type_code = #{people_type_code}
	   and wage_item_code = #{wage_item_code}
	</update>

    <delete id="deleteHtcWageCostRela" parameterType="java.util.Map">
         delete htc_wage_cost_rela
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and acc_year = #{acc_year}
		   and people_type_code = #{people_type_code}
		   and wage_item_code = #{wage_item_code}
    </delete>

    <delete id="deleteBatchHtcWageCostRela" parameterType="java.util.List">
   
          delete htc_wage_cost_rela  where 
        <foreach collection="list" index="index" item="item" separator="or" >
		(
			    group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and acc_year = #{item.acc_year} 
			and people_type_code = #{item.people_type_code}
			and wage_item_code = #{item.wage_item_code} 
		)	
		</foreach>
   
    </delete>
    
    <select id="queryHtcWageCostRelaByCode" resultMap="wageCostRela" parameterType="java.util.Map" >
	  
		    select hwcr.group_id,
			       hwcr.hos_id,
			       hwcr.copy_code,
			       hwcr.acc_year,
			       hwcr.people_type_code,
				   hptd.peop_type_name people_type_name,
			       hwcr.wage_item_code,
				   hwid.wage_item_name,
			       hwcr.cost_item_no,
			       hwcr.cost_item_id,
			       cidn.cost_item_code,
				   cidn.cost_item_name
			  from htc_wage_cost_rela hwcr
				left join htc_people_type_dict hptd
				on hwcr.group_id  = hptd.group_id
			  and hwcr.hos_id  = hptd.hos_id
				and hwcr.copy_code = hptd.copy_code
				and hwcr.people_type_code = hptd.peop_type_code
				left join htc_wage_item_dict hwid
				on hwid.group_id = hwcr.group_id
				and hwid.hos_id = hwcr.hos_id
				and hwid.copy_code = hwcr.copy_code
				and hwid.wage_item_code = hwcr.wage_item_code
				left join cost_item_dict_no cidn
				on cidn.group_id = hwcr.group_id
				and cidn.hos_id = hwcr.hos_id
				and cidn.copy_code = hwcr.copy_code
				and cidn.cost_item_no = hwcr.cost_item_no
				and cidn.cost_item_id = hwcr.cost_item_id
				where  hwcr.group_id = #{group_id}
				   and hwcr.hos_id = #{hos_id}
				   and hwcr.copy_code = #{copy_code}
				   and hwcr.acc_year = #{acc_year}
				   and hwcr.people_type_code = #{people_type_code}
				   and hwcr.wage_item_code = #{wage_item_code}
							
        
	</select>
	<select id="queryHtcWageCostRela" parameterType="java.util.Map" resultMap="wageCostRela" >
      
		    select hwcr.group_id,
			       hwcr.hos_id,
			       hwcr.copy_code,
			       hwcr.acc_year,
			       hwcr.people_type_code,
				   hptd.peop_type_name people_type_name,
			       hwcr.wage_item_code,
				   hwid.wage_item_name,
			       hwcr.cost_item_no,
			       hwcr.cost_item_id,
			       cidn.cost_item_code,
				   cidn.cost_item_name
			  from htc_wage_cost_rela hwcr
				left join htc_people_type_dict hptd
				on hwcr.group_id  = hptd.group_id
			  and hwcr.hos_id  = hptd.hos_id
				and hwcr.copy_code = hptd.copy_code
				and hwcr.people_type_code = hptd.peop_type_code
				left join htc_wage_item_dict hwid
				on hwid.group_id = hwcr.group_id
				and hwid.hos_id = hwcr.hos_id
				and hwid.copy_code = hwcr.copy_code
				and hwid.wage_item_code = hwcr.wage_item_code
				left join cost_item_dict_no cidn
				on cidn.group_id = hwcr.group_id
				and cidn.hos_id = hwcr.hos_id
				and cidn.copy_code = hwcr.copy_code
				and cidn.cost_item_no = hwcr.cost_item_no
				and cidn.cost_item_id = hwcr.cost_item_id
		     <where> hwcr.group_id = #{group_id}
		        and hwcr.hos_id = #{hos_id}
		        and hwcr.copy_code = #{copy_code}
                and hwcr.acc_year = #{acc_year}
			<if test="people_type_code != null and people_type_code != ''">
                AND hwcr.people_type_code = #{people_type_code}
            </if>
		    <if test="wage_item_code != null and wage_item_code != ''">
                AND hwcr.wage_item_code = #{wage_item_code}
            </if>
		    <if test="cost_item_no != null and cost_item_no != ''">
                AND hwcr.cost_item_no = #{cost_item_no}
            </if>
            <if test="cost_item_id != null and cost_item_id != ''">
                AND hwcr.cost_item_id = #{cost_item_id}
            </if>
        </where>   
		order by hwcr.group_id,hwcr.hos_id,hwcr.copy_code,hwcr.people_type_code,hwcr.wage_item_code
    </select>
	
</mapper>

