<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.basic.HtcWorkTypeMapper">
	<resultMap id="workType" type="com.chd.hrp.htc.entity.task.basic.HtcWorkType">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="work_type_code" column="work_type_code"/>
        <result property="work_type_name" column="work_type_name"/>
        <result property="work_type_remark" column="work_type_remark"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
         <result property="is_last" column="is_last"/>
         <result property="is_stop" column="is_stop"/>
	</resultMap>
	
    <insert id="addHtcWorkType" useGeneratedKeys="true" >
    
               insert into htc_work_type
						  (group_id,
						   hos_id,
						   copy_code,
						   work_type_code,
						   work_type_name,
						   work_type_remark,
						   spell_code,
						   wbx_code,
						   is_last,
						   is_stop)
						values
						  (#{group_id},
						   #{hos_id},
						   #{copy_code},
						   #{work_type_code},
						   #{work_type_name},
						   #{work_type_remark},
						   #{spell_code},
						   #{wbx_code},
						   #{is_last},
						   #{is_stop})
    </insert>
    
    
     <insert id="addBatchHtcWorkType" parameterType="java.util.List" >
    
                 insert into htc_work_type
				  (group_id,
				   hos_id,
				   copy_code,
				   work_type_code,
				   work_type_name,
				   work_type_remark,
				   spell_code,
				   wbx_code,
				   is_last,
				   is_stop)
    	<foreach collection="list" item="item" separator="union all">
				 select
				   #{item.group_id},
				   #{item.hos_id},
				   #{item.copy_code},
				   #{item.work_type_code},
				   #{item.work_type_name},
				   #{item.work_type_remark},
				   #{item.spell_code},
				   #{item.wbx_code},
				   #{item.is_last},
				   #{item.is_stop}
				 from dual
		</foreach>
    </insert>

	<update id="updateHtcWorkType" parameterType="java.util.Map">
           update htc_work_type
		   set work_type_name = #{work_type_name},
		       work_type_remark = #{work_type_remark},
		       spell_code = #{spell_code},
		       wbx_code = #{wbx_code},
		       is_last = #{is_last},
		       is_stop = #{is_stop}
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and work_type_code = #{work_type_code}
	</update>

    <delete id="deleteHtcWorkType" parameterType="java.util.Map">
         delete htc_work_type
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and work_type_code = #{work_type_code}
    </delete>

    <delete id="deleteBatchHtcWorkType" parameterType="java.util.List">
        delete htc_work_type where
        <foreach collection="list" index="index" item="item" separator="or" >
		(
			   group_id = #{item.group_id}
		   and hos_id = #{item.hos_id}
		   and copy_code = #{item.copy_code}
		   and work_type_code = #{item.work_type_code}
		)
		</foreach>
    </delete>
    
    <select id="queryHtcWorkTypeByCode" parameterType="java.util.Map" resultMap="workType"  >
                select group_id,
				       hos_id,
				       copy_code,
				       work_type_code,
				       work_type_name,
				       work_type_remark,
				       spell_code,
				       wbx_code,
				       is_last,
				       is_stop
				  from htc_work_type
				  where group_id = #{group_id}
				  and hos_id = #{hos_id}
				  and copy_code = #{copy_code}
				  and work_type_code = #{work_type_code}
				                
	</select>
	<select id="queryHtcWorkType" parameterType="java.util.Map" resultMap="workType" >
                select group_id,
				       hos_id,
				       copy_code,
				       work_type_code,
				       work_type_name,
				       work_type_remark,
				       spell_code,
				       wbx_code,
				       is_last,
				       is_stop
				  from htc_work_type
            <where>   
                      group_id = #{group_id}
				  and hos_id = #{hos_id}
				  and copy_code = #{copy_code}
			    <if test="work_type_code != null and work_type_code != ''">
                    and (work_type_code like '%'||#{work_type_code}||'%'
                      or work_type_name like '%'||#{work_type_code}||'%' )
                    
               </if>
               <if test="is_last != null and is_last != ''">
                 and  is_last = #{is_last}
               </if>
                <if test="is_stop != null and is_stop != ''">
                 and  is_stop = #{is_stop}
               </if>
        </where>   
				order by group_id,hos_id,copy_code,work_type_code
    </select>
</mapper>

