<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.salarymanagement.socialSecurityManage.HrInsurKindMapper">

	<resultMap type="com.chd.hrp.hr.entity.salarymanagement.socialSecurityManage.HrInsurKind" 
			id="hrInsurKind">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="field_tab_code" column="field_tab_code"/>
		<result property="insure_code" column="insure_code"/>
		<result property="insure_name" column="insure_name"/>
		<result property="is_innr" column="is_innr"/>
		<result property="is_stop" column="is_stop"/>
		<result property="is_last" column="is_last"/>
		<result property="is_innr_cn" column="is_innr_cn"/>
		<result property="is_stop_cn" column="is_stop_cn"/>
		<result property="is_last_cn" column="is_last_cn"/>
		<result property="note" column="note"/>
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
	</resultMap>
	<resultMap type="java.util.Map" id="hrInsurKindMap">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="field_tab_code" column="field_tab_code"/>
		<result property="insure_code" column="insure_code"/>
		<result property="insure_name" column="insure_name"/>
		<result property="is_innr" column="is_innr"/>
		<result property="is_stop" column="is_stop"/>
		<result property="is_last" column="is_last"/>
		<result property="is_innr_cn" column="is_innr_cn"/>
		<result property="is_stop_cn" column="is_stop_cn"/>
		<result property="is_last_cn" column="is_last_cn"/>
		<result property="note" column="note"/>
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
	</resultMap>
	
	<!--  -->
	<insert id="addBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" separator=" ; ">
			insert into hr_fiied_data (
				is_innr,
				is_stop,
				is_last,
				field_tab_code
				<if test="item.group_id != null and item.group_id != ''">
					,group_id
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					,hos_id
				</if>
				<if test="item.insure_code != null and item.insure_code != ''">
					,field_col_code
				</if>
				<if test="item.insure_name != null and item.insure_name != ''">
					,field_col_name
				</if>
				<if test="item.spell_code != null and item.spell_code != ''">
					,spell_code
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					,wbx_code
				</if>
				<if test="item.note != null and item.note != ''">
					,note
				</if>
			) values (
				<choose>
					<when test="item.is_innr != null and item.is_innr != ''">
						#{item.is_innr, jdbcType=INTEGER},
					</when>
					<otherwise>0,</otherwise>
				</choose>
				<choose>
					<when test="item.is_stop != null and item.is_stop != ''">
						#{item.is_stop, jdbcType=INTEGER},
					</when>
					<otherwise>0,</otherwise>
				</choose>
				<choose>
					<when test="item.is_last != null and item.is_last != ''">
						#{item.is_last, jdbcType=INTEGER},
					</when>
					<otherwise>1,</otherwise>
				</choose>
				'DIC_INSURE_TYPE'
				<if test="item.group_id != null and item.group_id != ''">
					,#{item.group_id, jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					,#{item.hos_id, jdbcType=INTEGER}
				</if>
				<if test="item.insure_code != null and item.insure_code != ''">
					,#{item.insure_code, jdbcType=VARCHAR}
				</if>
				<if test="item.insure_name != null and item.insure_name != ''">
					,#{item.insure_name, jdbcType=VARCHAR}
				</if>
				<if test="item.spell_code != null and item.spell_code != ''">
					,#{item.spell_code, jdbcType=VARCHAR}
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					,#{item.wbx_code, jdbcType=VARCHAR}
				</if>
				<if test="item.note != null and item.note != ''">
					,#{item.note, jdbcType=VARCHAR}
				</if>
			)
		</foreach>
	</insert>
	
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" separator=" ; ">
			update hr_fiied_data
			set field_tab_code = 'DIC_INSURE_TYPE'
				<if test="item.is_innr != null and item.is_innr != ''">
					,is_innr = #{item.is_innr, jdbcType=INTEGER}
				</if>
				<if test="item.is_stop != null and item.is_stop != ''">
					,is_stop = #{item.is_stop, jdbcType=INTEGER}
				</if>
				<if test="item.is_last != null and item.is_last != ''">
					,is_last = #{item.is_last, jdbcType=INTEGER}
				</if>
				<if test="item.group_id != null and item.group_id != ''">
					,group_id = #{item.group_id, jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					,hos_id = #{item.hos_id, jdbcType=INTEGER}
				</if>
				<if test="item.insure_code != null and item.insure_code != ''">
					,field_col_code = #{item.insure_code, jdbcType=INTEGER}
				</if>
				<if test="item.insure_name != null and item.insure_name != ''">
					,field_col_name = #{item.insure_name, jdbcType=INTEGER}
				</if>
				<if test="item.spell_code != null and item.spell_code != ''">
					,spell_code = #{item.spell_code, jdbcType=INTEGER}
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					,wbx_code = #{item.wbx_code, jdbcType=INTEGER}
				</if>
				<if test="item.note != null and item.note != ''">
					,note = #{item.note, jdbcType=INTEGER}
				</if>
			where group_id = #{item.group_id, jdbcType=INTEGER}
		      and hos_id = #{item.hos_id, jdbcType=INTEGER}
		      and field_col_code = #{item.insure_code, jdbcType=VARCHAR}
		      and field_tab_code = 'DIC_INSURE_TYPE'
		</foreach>
	</update>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from hr_fiied_data
		where field_tab_code = 'DIC_INSURE_TYPE'
		  and (
		      <foreach collection="list" item="item" separator=" or ">
		          (
		              group_id = #{item.group_id, jdbcType=INTEGER} and
		              hos_id = #{item.hos_id, jdbcType=INTEGER} and 
		              field_col_code = #{item.insure_code, jdbcType=VARCHAR}
		          )
		      </foreach>
		  )
	</delete>
	
	<!-- 社保险种主查询 -->
	<select id="query" resultMap="hrInsurKindMap" parameterType="java.util.Map">
		select group_id,
			hos_id,
			field_tab_code,
			field_col_code insure_code,
			field_col_name insure_name,
			is_innr,
			is_stop,
			is_last,
			case
				when is_innr = 1 then '是'
				when is_innr = 0 then '否'
			else '' end as is_innr_cn,
			case
				when is_stop = 1 then '是'
				when is_stop = 0 then '否'
			else '' end as is_stop_cn,
			case
				when is_last = 1 then '是'
				when is_last = 0 then '否'
			else '' end as is_last_cn,
			note
		from hr_fiied_data
		where group_id = #{group_id, jdbcType=INTEGER}
		  and hos_id = #{hos_id, jdbcType=INTEGER}
		  and field_tab_code = 'DIC_INSURE_TYPE'
		  <if test="insure_name != null and insure_name != ''">
			and  field_col_name like '%${insure_name}%' 
			<!-- or field_col_code like '%${insure_name}%' -->
		  </if>
	</select>
	<!-- 社保险种主查询 -->
	<select id="queryInsurKind" resultMap="hrInsurKind" parameterType="java.util.Map">
		select group_id,
			hos_id,
			field_tab_code,
			field_col_code insure_code,
			field_col_name insure_name,
			is_innr,
			is_stop,
			is_last,
			case
				when is_innr = 1 then '是'
				when is_innr = 0 then '否'
			else '' end as is_innr_cn,
			case
				when is_stop = 1 then '是'
				when is_stop = 0 then '否'
			else '' end as is_stop_cn,
			case
				when is_last = 1 then '是'
				when is_last = 0 then '否'
			else '' end as is_last_cn,
			note
		from hr_fiied_data
		where group_id = #{group_id, jdbcType=INTEGER}
		  and hos_id = #{hos_id, jdbcType=INTEGER}
		  and field_tab_code = 'DIC_INSURE_TYPE'
		  <if test="insure_name != null and insure_name != ''">
			  field_col_name like '%${insure_name}%'
		  </if>
	</select>
	
	<select id="queryExists" resultMap="hrInsurKind" parameterType="java.util.Map">
		select field_col_code insure_code,
			field_col_name insure_name
		from hr_fiied_data
		where group_id = #{group_id, jdbcType=INTEGER}
		  and hos_id = #{hos_id, jdbcType=INTEGER}
		  and field_tab_code = 'DIC_INSURE_TYPE'
		  and (field_col_code in (${insure_codes}) or field_col_name in (${insure_names}))
	</select>
</mapper>