<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.salarymanagement.socialSecurityManage.HrInsurBaseMapper">

	<resultMap type="java.util.Map" id="hrInsurBaseMap">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="emp_id" column="emp_id"/>
		<result property="emp_code" column="emp_code"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_name" column="dept_name"/>
		<result property="insur_base" column="insur_base"/>
		<result property="note" column="note"/>
	</resultMap>

	<!-- 主查询 -->
	<select id="query" resultMap="hrInsurBaseMap" parameterType="java.util.Map">
		select t1.group_id,
			t1.hos_id,
			t1.emp_id,
			t2.emp_code,
			t2.emp_name,
			t1.insur_base,
			t3.dept_name,
			t3.dept_id
		from hr_insur_base t1
		left join hos_emp t2
			   on t2.group_id = t1.group_id
			  and t2.hos_id = t1.hos_id
			  and t2.emp_id = t1.emp_id
		left join hos_dept t3
			   on t3.group_id = t1.group_id
			  and t3.hos_id = t1.hos_id
			  and t3.dept_id = t2.dept_id
		where t1.group_id = #{group_id, jdbcType=INTEGER}
		  and t1.hos_id = #{hos_id, jdbcType=INTEGER}
		  <if test = "emp_id != null and emp_id != ''">
		      and t1.emp_id = #{emp_id, jdbcType=INTEGER}
		  </if>
		  <if test = "dept_id != null and dept_id != ''">
		      and t2.dept_id = #{dept_id, jdbcType=INTEGER}
		  </if>
	</select>
</mapper>