<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.measure.AssMeasurePlanAssMapper">
	
	<resultMap id="assMeasurePlanAss" type="com.chd.hrp.ass.entity.measure.AssMeasurePlanAss">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="plan_id" column="plan_id"/>
	<result property="detail_id" column="detail_id"/> 
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_mondl" column="ass_mondl"/>
	<result property="fac_name" column="fac_name"/>
	<!-- <result property="is_inner" column="is_inner"/>
	<result property="outer_measure_org" column="outer_measure_org"/> -->
	<result property="measure_cycle" column="measure_cycle"/>
	<result property="measure_kind" column="measure_kind"/>
	<result property="plan_exec_date" column="plan_exec_date"/>
	<result property="measure_desc" column="measure_desc"/>
	</resultMap>
	
	<resultMap id="assMeasurePlanAss1" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="plan_id" column="plan_id"/>
	<result property="detail_id" column="detail_id"/> 
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_mondl" column="ass_mondl"/>
	<result property="fac_name" column="fac_name"/>
	<!-- <result property="is_inner" column="is_inner"/>
	<result property="outer_measure_org" column="outer_measure_org"/> -->
	<result property="measure_cycle" column="measure_cycle"/>
	<result property="measure_kind" column="measure_kind"/>
	<result property="plan_exec_date" column="plan_exec_date"/>
	<result property="measure_desc" column="measure_desc"/>
	<result property="ass_nature" column="ass_nature"/>
	<result property="dept_name" column="dept_name"/>
	</resultMap>
	
	<insert id="addAssMeasurePlanAss" useGeneratedKeys="true" >
	
		INSERT INTO ASS_MEASURE_PLAN_ASS (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="plan_id != null and plan_id != ''">
		plan_id
		,
		</if>
		detail_id ,
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no
		,
		</if>
		<!-- <if test="is_inner != null and is_inner != ''">
		is_inner
		,
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		outer_measure_org
		,
		</if> -->
		<if test="measure_cycle != null and measure_cycle != ''">
		measure_cycle
		,
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		measure_kind
		,
		</if>
		<if test="plan_exec_date != null and plan_exec_date != ''">
		plan_exec_date
		,
		</if>
		<if test="measure_desc != null and measure_desc != ''">
		measure_desc
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="plan_id != null and plan_id != ''">
		#{plan_id,jdbcType=INTEGER}
		,
		</if>
		ASS_MEASURE_PLAN_ASS_SEQ.nextval,
		<if test="ass_card_no != null and ass_card_no != ''">
		#{ass_card_no,jdbcType=VARCHAR}
		,
		</if>
		<!-- <if test="is_inner != null and is_inner != ''">
		#{is_inner,jdbcType=INTEGER}
		,
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		#{outer_measure_org,jdbcType=VARCHAR}
		,
		</if> -->
		<if test="measure_cycle != null and measure_cycle != ''">
		#{measure_cycle,jdbcType=INTEGER}
		,
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		#{measure_kind,jdbcType=INTEGER}
		,
		</if>
		<if test="plan_exec_date != null and plan_exec_date != ''">
		#{plan_exec_date,jdbcType=DATE}
		,
		</if>
		<if test="measure_desc != null and measure_desc != ''">
		#{measure_desc,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatchAssMeasurePlanAss" parameterType="java.util.List" >
	
		INSERT INTO ASS_MEASURE_PLAN_ASS (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="plan_id != null and plan_id != ''">
		plan_id
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no
		,
		</if>
		<!-- <if test="is_inner != null and is_inner != ''">
		is_inner
		,
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		outer_measure_org
		,
		</if> -->
		<if test="measure_cycle != null and measure_cycle != ''">
		measure_cycle
		,
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		measure_kind
		,
		</if>
		<if test="plan_exec_date != null and plan_exec_date != ''">
		plan_exec_date
		,
		</if>
		<if test="measure_desc != null and measure_desc != ''">
		measure_desc
		,
		</if>
		</trim>
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
			#{item.group_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_id != null and hos_id != ''">
			#{item.hos_id},jdbcType=INTEGER}
			,
			</if>
			<if test="copy_code != null and copy_code != ''">
			#{item.copy_code},jdbcType=VARCHAR}
			,
			</if>
			<if test="plan_id != null and plan_id != ''">
			#{item.plan_id},jdbcType=INTEGER}
			,
			</if>
			<if test="ass_card_no != null and ass_card_no != ''">
			#{item.ass_card_no},jdbcType=VARCHAR}
			,
			</if>
			<!-- <if test="is_inner != null and is_inner != ''">
			#{item.is_inner},jdbcType=INTEGER}
			,
			</if>
			<if test="outer_measure_org != null and outer_measure_org != ''">
			#{item.outer_measure_org},jdbcType=VARCHAR}
			,
			</if> -->
			<if test="measure_cycle != null and measure_cycle != ''">
			#{item.measure_cycle},jdbcType=INTEGER}
			,
			</if>
			<if test="measure_kind != null and measure_kind != ''">
			#{item.measure_kind},jdbcType=INTEGER}
			,
			</if>
			<if test="plan_exec_date != null and plan_exec_date != ''">
			#{item.plan_exec_date},jdbcType=DATE}
			,
			</if>
			<if test="measure_desc != null and measure_desc != ''">
			#{item.measure_desc},jdbcType=VARCHAR}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateAssMeasurePlanAss" parameterType="java.util.Map">
	
		UPDATE ass_measure_plan_ass 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no = #{ass_card_no,jdbcType=INTEGER}
		,
		</if>
		
		<!-- <if test="is_inner != null and is_inner != ''">
		is_inner = #{is_inner,jdbcType=INTEGER}
		,
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		,
		</if> -->
		<if test="measure_cycle != null and measure_cycle != ''">
		measure_cycle = #{measure_cycle,jdbcType=INTEGER}
		,
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		measure_kind = #{measure_kind,jdbcType=INTEGER}
		,
		</if>
		<if test="plan_exec_date != null and plan_exec_date != ''">
		plan_exec_date = #{plan_exec_date,jdbcType=DATE}
		,
		</if>
		<if test="measure_desc != null and measure_desc != ''">
		measure_desc = #{measure_desc,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>   
		group_id = #{group_id,jdbcType=INTEGER}
		
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
	
		AND plan_id = #{plan_id,jdbcType=INTEGER}
	
		and detail_id = #{detail_id,jdbcType=INTEGER}
		
		</where>  
	</update>
	<update id="updateBatchAssMeasurePlanAss" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_measure_plan_ass 
			<trim prefix="SET"  suffixOverrides=","> 
			<!-- <if test="is_inner != null and is_inner != ''">
			is_inner = #{item.is_inner},jdbcType=INTEGER}
			,
			</if>
			<if test="outer_measure_org != null and outer_measure_org != ''">
			outer_measure_org = #{item.outer_measure_org},jdbcType=VARCHAR}
			,
			</if> -->
			<if test="measure_cycle != null and measure_cycle != ''">
			measure_cycle = #{item.measure_cycle},jdbcType=INTEGER}
			,
			</if>
			<if test="measure_kind != null and measure_kind != ''">
			measure_kind = #{item.measure_kind},jdbcType=INTEGER}
			,
			</if>
			<if test="plan_exec_date != null and plan_exec_date != ''">
			plan_exec_date = #{item.plan_exec_date},jdbcType=DATE}
			,
			</if>
			<if test="measure_desc != null and measure_desc != ''">
			measure_desc = #{item.measure_desc},jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="plan_id != null and plan_id != ''">
			AND plan_id = #{plan_id,jdbcType=INTEGER}
			</if>  
			<if test="ass_card_no != null and ass_card_no != ''">
			AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
			</if>  
			<!-- <if test="is_inner != null and is_inner != ''">
			AND is_inner = #{is_inner,jdbcType=INTEGER}
			</if>  
			<if test="outer_measure_org != null and outer_measure_org != ''">
			AND outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
			</if>   -->
			<if test="measure_cycle != null and measure_cycle != ''">
			AND measure_cycle = #{measure_cycle,jdbcType=INTEGER}
			</if>  
			<if test="measure_kind != null and measure_kind != ''">
			AND measure_kind = #{measure_kind,jdbcType=INTEGER}
			</if>  
			<if test="plan_exec_date != null and plan_exec_date != ''">
			AND plan_exec_date = #{plan_exec_date,jdbcType=DATE}
			</if>  
			<if test="measure_desc != null and measure_desc != ''">
			AND measure_desc = #{measure_desc,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="deleteAssMeasurePlanAss" parameterType="java.util.Map">
	
		DELETE FROM ass_measure_plan_ass 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<!-- <if test="is_inner != null and is_inner != ''">
		AND is_inner = #{is_inner,jdbcType=INTEGER}
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		AND outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		</if> -->
		<if test="measure_cycle != null and measure_cycle != ''">
		AND measure_cycle = #{measure_cycle,jdbcType=INTEGER}
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		AND measure_kind = #{measure_kind,jdbcType=INTEGER}
		</if>
		<if test="plan_exec_date != null and plan_exec_date != ''">
		AND plan_exec_date = #{plan_exec_date,jdbcType=DATE}
		</if>
		<if test="measure_desc != null and measure_desc != ''">
		AND measure_desc = #{measure_desc,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatchAssMeasurePlanAss" parameterType="java.util.List">
		DELETE FROM ass_measure_plan_ass 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")"> 
				
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.plan_id != null and item.plan_id != ''">
				AND plan_id = #{item.plan_id,jdbcType=INTEGER}
				</if>
				<if test="item.ass_card_no != null and item.ass_card_no != ''">
				AND ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
				</if>
				<if test="item.detail_id != null and item.detail_id != ''">
				AND detail_id = #{item.detail_id,jdbcType=INTEGER}
				</if>
				
			</foreach>
	    </where>  
	</delete>
	<select id="queryAssMeasurePlanAss" parameterType="java.util.Map" resultMap="assMeasurePlanAss" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		plan_id,
		ass_card_no,
		<!-- is_inner,
		outer_measure_org, -->
		measure_cycle,
		measure_kind,
		plan_exec_date,
		measure_desc
		FROM ASS_MEASURE_PLAN_ASS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<!-- <if test="is_inner != null and is_inner != ''">
		AND is_inner = #{is_inner,jdbcType=INTEGER}
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		AND outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		</if> -->
		<if test="measure_cycle != null and measure_cycle != ''">
		AND measure_cycle = #{measure_cycle,jdbcType=INTEGER}
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		AND measure_kind = #{measure_kind,jdbcType=INTEGER}
		</if>
		<if test="plan_exec_date != null and plan_exec_date != ''">
		AND plan_exec_date = #{plan_exec_date,jdbcType=DATE}
		</if>
		<if test="measure_desc != null and measure_desc != ''">
		AND measure_desc = #{measure_desc,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssMeasurePlanAssByCode" resultMap="assMeasurePlanAss"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		plan_id,
		ass_card_no,
		<!-- is_inner,
		outer_measure_org, -->
		measure_cycle,
		measure_kind,
		plan_exec_date,
		measure_desc
		FROM ass_measure_plan_ass 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		plan_id = #{plan_id,jdbcType=INTEGER}   and 
		ass_card_no = #{ass_card_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryAssMeasurePlanAssByUniqueness" resultMap="assMeasurePlanAss"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		plan_id,
		ass_card_no,
		<!-- is_inner,
		outer_measure_org, -->
		measure_cycle,
		measure_kind,
		plan_exec_date,
		measure_desc
		FROM ASS_MEASURE_PLAN_ASS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<!-- <if test="is_inner != null and is_inner != ''">
		AND is_inner = #{is_inner,jdbcType=INTEGER}
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		AND outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		</if> -->
		<if test="measure_cycle != null and measure_cycle != ''">
		AND measure_cycle = #{measure_cycle,jdbcType=INTEGER}
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		AND measure_kind = #{measure_kind,jdbcType=INTEGER}
		</if>
		<if test="plan_exec_date != null and plan_exec_date != ''">
		AND plan_exec_date = #{plan_exec_date,jdbcType=DATE}
		</if>
		<if test="measure_desc != null and measure_desc != ''">
		AND measure_desc = #{measure_desc,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssMeasurePlanAssExists" resultMap="assMeasurePlanAss"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		plan_id,
		detail_id,
		ass_card_no,
		<!-- is_inner,
		outer_measure_org, -->
		measure_cycle,
		measure_kind,
		plan_exec_date,
		measure_desc
		FROM ASS_MEASURE_PLAN_ASS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<!-- <if test="is_inner != null and is_inner != ''">
		AND is_inner = #{is_inner,jdbcType=INTEGER}
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		AND outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		</if> -->
		<if test="measure_cycle != null and measure_cycle != ''">
		AND measure_cycle = #{measure_cycle,jdbcType=INTEGER}
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		AND measure_kind = #{measure_kind,jdbcType=INTEGER}
		</if>
		<if test="plan_exec_date != null and plan_exec_date != ''">
		AND plan_exec_date = #{plan_exec_date,jdbcType=DATE}
		</if>
		<if test="measure_desc != null and measure_desc != ''">
		AND measure_desc = #{measure_desc,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
		<!-- 专用设备查询 -->
	<select id="queryAssMeasuerAssSpecial" parameterType="java.util.Map" resultMap="assMeasurePlanAss" >
	
SELECT 
amps.group_id, 
amps.hos_id, 
amps.copy_code, 
amps.plan_id, 
amps.detail_id,
amps.ass_card_no , 
andd.ass_code,
andd.ass_name,
andd.ass_spec,
andd.ass_model ass_mondl, 
hfd.fac_name,
<!-- amps.is_inner,
amps.outer_measure_org, -->
amps.measure_cycle,
amps.measure_kind,
amps.measure_desc,
amps.plan_exec_date,
hdd.dept_name
FROM ASS_MEASURE_PLAN_ASS amps 
      left join  ASS_CARD_SPECIAL acs on 
      amps.group_id = acs.group_id
      and amps.hos_id = acs.hos_id
      and amps.copy_code = acs.copy_code
      and amps.ass_card_no = acs.ass_card_no
      left join ASS_NO_DICT andd on
      andd.group_id = acs.group_id
      and andd.hos_id = acs.hos_id
      and andd.copy_code = acs.copy_code
      and andd.ass_id = acs.ass_id 
      and andd.is_stop = 0
      left join HOS_FAC_DICT hfd on 
      andd.group_id = hfd.group_id
      and andd.hos_id = hfd.hos_id
      and andd.fac_id = hfd.fac_id 
      and hfd.is_stop = 0
      left join hos_dept_dict  hdd on
      acs.group_id = hdd.group_id
      and acs.hos_id = hdd.hos_id
      and acs.dept_id = hdd.dept_id
      and hdd.is_stop = 0
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND amps.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND amps.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND amps.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND amps.plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND amps.detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND amps.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="item_code != null and item_code != ''">
		AND amps.item_code = #{item_code,jdbcType=INTEGER}
		</if>
		<if test="item_name != null and item_name != ''">
		AND amps.item_name = #{item_name,jdbcType=INTEGER}
		</if>
		</where>   
		order by amps.group_id asc
	</select>
	
	
	<!-- 一般设备查询 -->
	<select id="queryAssMeasuerAssGeneral" parameterType="java.util.Map" resultMap="assMeasurePlanAss" >
	
SELECT 
amps.group_id, 
amps.hos_id, 
amps.copy_code, 
amps.plan_id, 
amps.detail_id,
amps.ass_card_no , 
andd.ass_code,
andd.ass_name,
andd.ass_spec,
andd.ass_model ass_mondl, 
hfd.fac_name,
<!-- amps.is_inner,
amps.outer_measure_org, -->
amps.measure_cycle,
amps.measure_kind,
amps.measure_desc,
amps.plan_exec_date,
hdd.dept_name
FROM ASS_MEASURE_PLAN_ASS amps 
      left join  ASS_CARD_GENERAL  acs on 
      amps.group_id = acs.group_id
      and amps.hos_id = acs.hos_id
      and amps.copy_code = acs.copy_code
      and amps.ass_card_no = acs.ass_card_no
      left join ASS_NO_DICT andd on
      andd.group_id = acs.group_id
      and andd.hos_id = acs.hos_id
      and andd.copy_code = acs.copy_code
      and andd.ass_id = acs.ass_id 
      and andd.is_stop = 0
      left join HOS_FAC_DICT hfd on 
      andd.group_id = hfd.group_id
      and andd.hos_id = hfd.hos_id
      and andd.fac_id = hfd.fac_id 
      and hfd.is_stop = 0
      left join hos_dept_dict  hdd on
      acs.group_id = hdd.group_id
      and acs.hos_id = hdd.hos_id
      and acs.dept_id = hdd.dept_id
      and hdd.is_stop = 0
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND amps.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND amps.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND amps.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND amps.plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND amps.detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND amps.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="item_code != null and item_code != ''">
		AND amps.item_code = #{item_code,jdbcType=INTEGER}
		</if>
		<if test="item_name != null and item_name != ''">
		AND amps.item_name = #{item_name,jdbcType=INTEGER}
		</if>
		</where>   
		order by amps.group_id asc
	</select>
	
	<!-- 房屋及建筑查询 -->
	<select id="queryAssMeasuerAssHouse" parameterType="java.util.Map" resultMap="assMeasurePlanAss" >
	
SELECT 
amps.group_id, 
amps.hos_id, 
amps.copy_code, 
amps.plan_id, 
amps.detail_id,
amps.ass_card_no , 
andd.ass_code,
andd.ass_name,
andd.ass_spec,
andd.ass_model ass_mondl, 
hfd.fac_name,
<!-- amps.is_inner,
amps.outer_measure_org, -->
amps.measure_cycle,
amps.measure_kind,
amps.measure_desc,
amps.plan_exec_date,
hdd.dept_name
FROM ASS_MEASURE_PLAN_ASS amps 
      left join ASS_CARD_HOUSE  acs on 
      amps.group_id = acs.group_id
      and amps.hos_id = acs.hos_id
      and amps.copy_code = acs.copy_code
      and amps.ass_card_no = acs.ass_card_no
      left join ASS_NO_DICT andd on
      andd.group_id = acs.group_id
      and andd.hos_id = acs.hos_id
      and andd.copy_code = acs.copy_code
      and andd.ass_id = acs.ass_id 
      and andd.is_stop = 0
      left join HOS_FAC_DICT hfd on 
      andd.group_id = hfd.group_id
      and andd.hos_id = hfd.hos_id
      and andd.fac_id = hfd.fac_id 
      and hfd.is_stop = 0
      left join hos_dept_dict  hdd on
      acs.group_id = hdd.group_id
      and acs.hos_id = hdd.hos_id
      and acs.dept_id = hdd.dept_id
      and hdd.is_stop = 0
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND amps.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND amps.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND amps.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND amps.plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND amps.detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND amps.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="item_code != null and item_code != ''">
		AND amps.item_code = #{item_code,jdbcType=INTEGER}
		</if>
		<if test="item_name != null and item_name != ''">
		AND amps.item_name = #{item_name,jdbcType=INTEGER}
		</if>
		</where>   
		order by amps.group_id asc
	</select>
	
	<!-- 其他固定资产查询 -->
	<select id="queryAssMeasuerAssOther" parameterType="java.util.Map" resultMap="assMeasurePlanAss" >
	
SELECT 
amps.group_id, 
amps.hos_id, 
amps.copy_code, 
amps.plan_id, 
amps.detail_id,
amps.ass_card_no , 
andd.ass_code,
andd.ass_name,
andd.ass_spec,
andd.ass_model ass_mondl, 
hfd.fac_name,
<!-- amps.is_inner,
amps.outer_measure_org, -->
amps.measure_cycle,
amps.measure_kind,
amps.measure_desc,
amps.plan_exec_date,
hdd.dept_name
FROM ASS_MEASURE_PLAN_ASS acs on 
      acs.group_id = acs.group_id
      and acs.hos_id = acs.hos_id
      and acs.copy_code = acs.copy_code
      and acs.ass_card_no = acs.ass_card_no
      left join ASS_NO_DICT andd on
      andd.group_id = acs.group_id
      and andd.hos_id = acs.hos_id
      and andd.copy_code = acs.copy_code
      and andd.ass_id = acs.ass_id 
      and andd.is_stop = 0
      left join HOS_FAC_DICT hfd on 
      andd.group_id = hfd.group_id
      and andd.hos_id = hfd.hos_id
      and andd.fac_id = hfd.fac_id 
      and hfd.is_stop = 0
      left join hos_dept_dict  hdd on
      acs.group_id = hdd.group_id
      and acs.hos_id = hdd.hos_id
      and acs.dept_id = hdd.dept_id
      and hdd.is_stop = 0
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND amps.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND amps.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND amps.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND amps.plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND amps.detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND amps.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="item_code != null and item_code != ''">
		AND amps.item_code = #{item_code,jdbcType=INTEGER}
		</if>
		<if test="item_name != null and item_name != ''">
		AND amps.item_name = #{item_name,jdbcType=INTEGER}
		</if>
		</where>   
		order by amps.group_id asc
	</select>
	
	
		<select id="queryByAssMeasurePlanId" resultMap="assMeasurePlanAss"  parameterType="java.util.Map" >
	
			SELECT 
				group_id,
				hos_id,
				copy_code,
				plan_id,
				detail_id,
				ass_card_no ,
			    <!-- is_inner, -->
			    measure_cycle,
			    <!-- outer_measure_org, -->
			    measure_kind,
			    plan_exec_date,
			    measure_desc
			    
			FROM ASS_MEASURE_PLAN_ASS 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="plan_id != null and plan_id != ''">
			AND plan_id = #{plan_id,jdbcType=INTEGER}
			</if> 
			<if test="ass_card_no != null and ass_card_no != ''">
			AND ass_card_no = #{ass_card_no,jdbcType=INTEGER}
			</if>
			<!-- <if test="is_inner != null and is_inner != ''">
			AND is_inner = #{is_inner,jdbcType=INTEGER}
			</if> -->
			<if test="measure_cycle != null and measure_cycle != ''">
			AND measure_cycle = #{measure_cycle,jdbcType=INTEGER}
			</if>
			<!-- <if test="outer_measure_org != null and outer_measure_org != ''">
			AND outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
			</if> -->
			<if test="measure_kind != null and measure_kind != ''">
			AND measure_kind = #{measure_kind,jdbcType=INTEGER}
			</if>
			<if test="plan_exec_date != null and plan_exec_date != ''">
			AND plan_exec_date = #{plan_exec_date,jdbcType=INTEGER}
			</if>
			<if test="measure_desc != null and measure_desc != ''">
			AND measure_desc = #{measure_desc,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	
	<select id="queryMeasurePlanRec" resultMap="assMeasurePlanAss1">
		SELECT amps.group_id,
			       amps.hos_id,
			       amps.copy_code,
			       amps.plan_id,
			       amps.detail_id,
			       amps.ass_card_no,
			       andd.ass_code,
			       andd.ass_name,
			       andd.ass_spec,
			       andd.ass_model ass_mondl,
			       hfd.fac_name,
			      <!--  amps.is_inner,
			       amps.outer_measure_org, -->
			       amps.measure_cycle,
			       amps.measure_kind,
			       amps.measure_desc,
			       amps.plan_exec_date,
			       aa.ass_nature,
			       hdd.dept_name
			  FROM ASS_MEASURE_PLAN_ASS amps
			  left join ass_measure_plan aa
			  on amps.group_id = aa.group_id
			  and amps.hos_id = aa.hos_id
			  and amps.copy_code = aa.copy_code
			  and amps.plan_id = aa.plan_id
			  
			  left join ASS_CARD_SPECIAL acs
			    on amps.ass_card_no = acs.ass_card_no
			  left join ASS_NO_DICT andd
			    on acs.ass_id = andd.ass_id
			   and acs.ass_no = andd.ass_no
			  left join HOS_FAC_DICT hfd
			    on andd.fac_id = hfd.fac_id
			   and andd.fac_no = hfd.fac_no
			   
			   left join HOS_DEPT_DICT hdd
			    on acs.dept_id = hdd.dept_id
			   and hdd.is_stop = 0
			<where>                     
		<if test="group_id != null and group_id != ''">
		AND amps.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND amps.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND amps.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND amps.plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND amps.detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND amps.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="item_code != null and item_code != ''">
		AND amps.item_code = #{item_code,jdbcType=INTEGER}
		</if>
		<if test="item_name != null and item_name != ''">
		AND amps.item_name = #{item_name,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		and aa.state = 1	
		</if>
		</where>   
		order by amps.group_id asc
	
	</select>
</mapper>

