<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.pac.dao.fkht.change.PactMoneyCFKHTMapper">
	<resultMap type="java.util.Map" id="moneyMap">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pact_code" column="pact_code" />
		<result property="change_code" column="change_code" />
		<result property="detail_id" column="detail_id" />
		<result column="subject_type" property="subject_type"/>
		<result column="subject_type_name" property="subject_type_name"/>
		<result column="subject_id" property="subject_id"/>
		<result column="subject_no" property="subject_no"/>
		<result column="subject_code" property="subject_code"/>
		<result column="subject_name" property="subject_name"/>
		<result column="amount_a" property="amount_a"/>
		<result column="price_a" property="price_a"/>
		<result column="money_a" property="money_a"/>
		<result column="amount_b" property="amount_b"/>
		<result column="price_b" property="price_b"/>
		<result column="money_b" property="money_b"/>
		<result column="amount_c" property="amount_c"/>
		<result column="price_c" property="price_c"/>
		<result column="money_c" property="money_c"/>
		
		<result column="amount" property="amount"/>
		<result column="price" property="price"/>
		<result column="money" property="money"/>
		<result column="before_amount" property="before_amount"/>
		<result column="before_price" property="before_price"/>
		<result column="before_money" property="before_money"/>
		<result column="change_amount" property="change_amount"/>
		<result column="change_price" property="change_price"/>
		<result column="change_money" property="change_money"/>
	</resultMap>
	
	<insert id="add" parameterType="java.util.Map">
		insert into pact_money_c_fkht(
			group_id,hos_id,copy_code,pact_code,change_code,detail_id,subject_type,subject_id,
			subject_no,amount_b,price_b,money_b ,amount_c,price_c,money_c,amount_a,price_a,money_a
		) values( 
			#{group_id,jdbcType=NUMERIC},
			#{hos_id,jdbcType=NUMERIC},
			#{copy_code,jdbcType=VARCHAR},
			#{pact_code,jdbcType=VARCHAR},
			#{change_code,jdbcType=VARCHAR},
			#{detail_id,jdbcType=NUMERIC},
			#{subject_type,jdbcType=VARCHAR},
			#{subject_id,jdbcType=NUMERIC},
			#{subject_no,jdbcType=NUMERIC},
			#{amount_b,jdbcType=NUMERIC},
			#{price_b,jdbcType=NUMERIC},
			#{money_b,jdbcType=NUMERIC},
			#{amount_c,jdbcType=NUMERIC},
			#{price_c,jdbcType=NUMERIC},
			#{money_c,jdbcType=NUMERIC},
			#{amount_a,jdbcType=NUMERIC},
			#{price_a,jdbcType=NUMERIC},
			#{money_a,jdbcType=NUMERIC}
		)
 	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO pact_money_c_fkht (
			group_id,hos_id,copy_code,pact_code,change_code,detail_id,subject_type,subject_id,
			subject_no,amount_b,price_b,money_b ,amount_c,price_c,money_c,amount_a,price_a,money_a
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=NUMERIC},
				#{item.hos_id,jdbcType=NUMERIC},
				#{item.copy_code,jdbcType=VARCHAR},
				#{item.pact_code,jdbcType=VARCHAR},
				#{item.change_code,jdbcType=VARCHAR},
				#{item.detail_id,jdbcType=NUMERIC},
				#{item.subject_type,jdbcType=VARCHAR},
				#{item.subject_id,jdbcType=NUMERIC},
				#{item.subject_no,jdbcType=NUMERIC},
				#{item.amount_b,jdbcType=NUMERIC},
				#{item.price_b,jdbcType=NUMERIC},
				#{item.money_b,jdbcType=NUMERIC},
				#{item.amount_c,jdbcType=NUMERIC},
				#{item.price_c,jdbcType=NUMERIC},
				#{item.money_c,jdbcType=NUMERIC},
				#{item.amount_a,jdbcType=NUMERIC},
				#{item.price_a,jdbcType=NUMERIC},
				#{item.money_a,jdbcType=NUMERIC}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE pact_money_c_fkht set
			amount_c = #{amount_c,jdbcType=NUMERIC},
			price_c = #{price_c,jdbcType=NUMERIC},
			money_c = #{money_c,jdbcType=NUMERIC},
			amount_a = #{amount_a,jdbcType=NUMERIC},
			price_a = #{price_a,jdbcType=NUMERIC},
			money_a = #{money_a,jdbcType=NUMERIC}
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pact_code = #{pact_code,jdbcType=VARCHAR}
			AND change_code = #{change_code,jdbcType=VARCHAR}
			AND detail_id = #{detail_id,jdbcType=NUMERIC}
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE pact_money_c_fkht set
			amount_c = #{item.amount_c,jdbcType=NUMERIC},
			price_c = #{item.price_c,jdbcType=NUMERIC},
			money_c = #{item.money_c,jdbcType=NUMERIC},
			amount_a = #{item.amount_a,jdbcType=NUMERIC},
			price_a = #{item.price_a,jdbcType=NUMERIC},
			money_a = #{item.money_a,jdbcType=NUMERIC}
		where                     
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			AND change_code = #{item.change_code,jdbcType=VARCHAR}
			AND detail_id = #{item.detail_id,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map" >
		delete from pact_money_c_fkht
		where 
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pact_code = #{pact_code,jdbcType=VARCHAR}
			AND change_code = #{change_code,jdbcType=VARCHAR}
			<if test="detail_id != null and detail_id != '' ">
			AND detail_id = #{detail_id,jdbcType=NUMERIC}
			</if>
			
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM pact_money_c_fkht 
		where
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			AND change_code = #{item.change_code,jdbcType=VARCHAR}
			<if test="item.detail_id != null and item.detail_id != ''">
			AND detail_id = #{item.detail_id,jdbcType=NUMERIC}
			</if>
			</foreach>
	</delete>
	
	<!-- 查询 -->
	<select id="query" parameterType="java.util.Map" resultMap="moneyMap">
		select group_id,hos_id,copy_code,pact_code,change_code,detail_id,subject_type,subject_id,
			subject_no,amount_b,price_b,money_b ,amount_c,price_c,money_c,amount_a,price_a,money_a
		from pact_money_c_fkht
		where
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pact_code = #{pact_code,jdbcType=VARCHAR}
			AND change_code = #{change_code,jdbcType=VARCHAR}
			AND detail_id = #{change_code,jdbcType=NUMERIC}
	</select>
	
	<select id="queryByCode" parameterType="java.util.Map" resultMap="moneyMap">
		select group_id,hos_id,copy_code,pact_code,change_code,detail_id,subject_type,subject_id,
			subject_no,amount_b,price_b,money_b ,amount_c,price_c,money_c,amount_a,price_a,money_a
		from pact_money_c_fkht
		where
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pact_code = #{pact_code,jdbcType=VARCHAR}
			AND change_code = #{change_code,jdbcType=VARCHAR}
			AND detail_id = #{change_code,jdbcType=NUMERIC}
	</select>
	
	
	<!-- 签订后合同变动 修改页面 明细数据查询 -->
	<select id="queryPactChangeFKHTAfterDetUpdate" parameterType="java.util.Map" resultMap="moneyMap">
		SELECT pdf.group_id,pdf.hos_id,pdf.copy_code ,pdf.pact_code,pdf.change_code ,pdf.detail_id,pdf.subject_type,
			pdd.value_name as subject_type_name,pdf.subject_id,temp.ass_code subject_code ,
			temp.ass_name as subject_name,pdf.subject_no,pdf.amount_a amount ,pdf.price_a price ,pdf.money_a money ,
			pdf.amount_b before_amount ,pdf.price_b before_price ,pdf.money_b before_money, pdf.amount_c change_amount,
			pdf.price_c change_price , pdf.money_c change_money
		FROM pact_money_c_fkht pdf
		LEFT JOIN PACT_DICT_DATA pdd 
			ON pdd.F_CODE = 'SUBJECT_TYPE' 
			AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
		LEFT JOIN ASS_NO_DICT temp 
			on pdf.group_id = temp.group_id 
			and pdf.hos_id = temp.hos_id 
			and pdf.copy_code = temp.copy_code 
			and pdf.subject_id = temp.ass_id 
			and pdf.subject_no = temp.ass_no 
			and pdf.subject_type = '01'
		
		where
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '01'
			and pdf.change_code = #{change_code,jdbcType=VARCHAR }
		UNION
		SELECT pdf.group_id,pdf.hos_id,pdf.copy_code ,pdf.pact_code,pdf.change_code,pdf.detail_id,pdf.subject_type,
			pdd.value_name as subject_type_name,pdf.subject_id,temp.inv_code subject_code ,
			temp.inv_name as subject_name,pdf.subject_no,pdf.amount_a,pdf.price_a,pdf.money_a,
			pdf.amount_b,pdf.price_b,pdf.money_b, pdf.amount_c,pdf.price_c,pdf.money_c
		FROM pact_money_c_fkht pdf
		LEFT JOIN PACT_DICT_DATA pdd 
			ON pdd.F_CODE = 'SUBJECT_TYPE' 
			AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
		LEFT JOIN MAT_INV_DICT temp 
			on pdf.group_id = temp.group_id 
			and pdf.hos_id = temp.hos_id 
			and pdf.copy_code = temp.copy_code 
			and pdf.subject_id = temp.INV_ID
			and pdf.subject_no = temp.INV_NO 
			and pdf.subject_type = '03'
		
		where
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '03'
			and pdf.change_code = #{change_code,jdbcType=VARCHAR }
		UNION
		SELECT
			pdf.group_id,pdf.hos_id,pdf.copy_code ,pdf.pact_code,pdf.change_code,pdf.detail_id,pdf.subject_type,
			pdd.value_name as subject_type_name,pdf.subject_id,temp.inv_code subject_code ,
			temp.inv_name as subject_name,pdf.subject_no,pdf.amount_a,pdf.price_a,pdf.money_a,
			pdf.amount_b,pdf.price_b,pdf.money_b, pdf.amount_c,pdf.price_c,pdf.money_c
		FROM pact_money_c_fkht pdf
		LEFT JOIN PACT_DICT_DATA pdd 
			ON pdd.F_CODE = 'SUBJECT_TYPE' 
			AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
		LEFT JOIN MED_INV_DICT temp 
			on pdf.group_id = temp.group_id 
			and pdf.hos_id = temp.hos_id 
			and pdf.copy_code = temp.copy_code 
			and pdf.subject_id = temp.INV_ID 
			and pdf.subject_no = temp.INV_no 
			and pdf.subject_type = '04'
		
		where
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '04'
			and pdf.change_code = #{change_code,jdbcType=VARCHAR }
		UNION
		SELECT pdf.group_id,pdf.hos_id,pdf.copy_code ,pdf.pact_code,pdf.change_code,pdf.detail_id,pdf.subject_type,
			pdd.value_name as subject_type_name,pdf.subject_id,temp.sub_code subject_code ,
			temp.sub_name as subject_name,pdf.subject_no,pdf.amount_a,pdf.price_a,pdf.money_a,
			pdf.amount_b,pdf.price_b,pdf.money_b, pdf.amount_c,pdf.price_c,pdf.money_c
		FROM pact_money_c_fkht pdf
		LEFT JOIN PACT_DICT_DATA pdd 
			ON pdd.F_CODE = 'SUBJECT_TYPE' 
			AND pdf.SUBJECT_TYPE = pdd.VALUE_CODE
		LEFT JOIN PACT_ELSE_SUB_DICT temp 
			on pdf.group_id = temp.group_id 
			and pdf.hos_id = temp.hos_id 
			and pdf.copy_code = temp.copy_code 
			and pdf.subject_id = temp.SUB_ID 
			and pdf.subject_no = temp.SUB_NO 
			and pdf.subject_type = '05' 
			and temp.is_new = 0
		where
			pdf.group_id=#{group_id,jdbcType=NUMERIC}
			and pdf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and pdf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and pdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			and pdf.subject_type = '05'
			and pdf.change_code = #{change_code,jdbcType=VARCHAR }
	</select>
</mapper>