<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.record.DicMarriageMapper">
	
	<resultMap id="dicMarriage" type="com.chd.hrp.hr.entity.record.DicMarriage">
	<result property="marriage_code" column="marriage_code"/>
	<result property="marriage_name" column="marriage_name"/>
	<result property="is_stop" column="is_stop"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="dicMarriageMap" type="java.util.Map">
	<result property="marriage_code" column="marriage_code"/>
	<result property="marriage_name" column="marriage_name"/>
	<result property="is_stop" column="is_stop"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO DIC_MARRIAGE (
		<trim suffix="" suffixOverrides=",">
		<if test="marriage_code != null and marriage_code != ''">
		marriage_code
		,
		</if>
		<if test="marriage_name != null and marriage_name != ''">
		marriage_name
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="marriage_code != null and marriage_code != ''">
		#{marriage_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="marriage_name != null and marriage_name != ''">
		#{marriage_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		#{is_stop,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO DIC_MARRIAGE (
		marriage_code
		,
		marriage_name
		,
		is_stop
		,
		note
		
		) select DIC_MARRIAGE_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.marriage_code,jdbcType=VARCHAR}
			,
			#{item.marriage_name,jdbcType=VARCHAR}
			,
			#{item.is_stop,jdbcType=INTEGER}
			,
			#{item.note,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE dic_marriage 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="marriage_name != null and marriage_name != ''">
		marriage_name = #{marriage_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop = #{is_stop,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="marriage_code != null and marriage_code != ''">
		AND marriage_code = #{marriage_code,jdbcType=VARCHAR}
		</if>
		<if test="marriage_name != null and marriage_name != ''">
		AND marriage_name = #{marriage_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE dic_marriage 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.marriage_name != null and item.marriage_name != ''">
			marriage_name = #{item.marriage_name,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.is_stop != null and item.is_stop != ''">
			is_stop = #{item.is_stop,jdbcType=INTEGER}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.marriage_code != null and item.marriage_code != ''">
			AND marriage_code = #{item.marriage_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.marriage_name != null and item.marriage_name != ''">
			AND marriage_name = #{item.marriage_name,jdbcType=VARCHAR}
			</if>  
			<if test="item.is_stop != null and item.is_stop != ''">
			AND is_stop = #{item.is_stop,jdbcType=INTEGER}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{item.note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM dic_marriage 
		<where>                     
		<if test="marriage_code != null and marriage_code != ''">
		AND marriage_code = #{marriage_code,jdbcType=VARCHAR}
		</if>
		<if test="marriage_name != null and marriage_name != ''">
		AND marriage_name = #{marriage_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM dic_marriage 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.marriage_code != null and item.marriage_code != ''">
				AND marriage_code = #{item.marriage_code,jdbcType=VARCHAR}
				</if>
				<if test="item.marriage_name != null and item.marriage_name != ''">
				AND marriage_name = #{item.marriage_name,jdbcType=VARCHAR}
				</if>
				<if test="item.is_stop != null and item.is_stop != ''">
				AND is_stop = #{item.is_stop,jdbcType=INTEGER}
				</if>
				<if test="item.note != null and item.note != ''">
				AND note = #{item.note,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="dicMarriage" >
	
		SELECT 
		marriage_code,
		marriage_name,
		is_stop,
		note
		FROM DIC_MARRIAGE 
		<where>                     
		<if test="marriage_code != null and marriage_code != ''">
		AND marriage_code = #{marriage_code,jdbcType=VARCHAR}
		</if>
		<if test="marriage_name != null and marriage_name != ''">
		AND marriage_name = #{marriage_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by marriage_code asc
	</select>
	<select id="queryByCode" resultMap="dicMarriage"  parameterType="java.util.Map" >
	
		SELECT 
		marriage_code,
		marriage_name,
		is_stop,
		note
		FROM dic_marriage 
		WHERE 
		marriage_code = #{marriage_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="dicMarriage"  parameterType="java.util.Map" >
	
		SELECT 
		marriage_code,
		marriage_name,
		is_stop,
		note
		FROM DIC_MARRIAGE 
		<where>                     
		<if test="marriage_code != null and marriage_code != ''">
		AND marriage_code = #{marriage_code,jdbcType=VARCHAR}
		</if>
		<if test="marriage_name != null and marriage_name != ''">
		AND marriage_name = #{marriage_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by marriage_code asc
	</select>
	<select id="queryExists" resultMap="dicMarriage"  parameterType="java.util.Map" >
	
		SELECT 
		marriage_code,
		marriage_name,
		is_stop,
		note
		FROM DIC_MARRIAGE 
		<where>                     
		<if test="marriage_code != null and marriage_code != ''">
		AND marriage_code = #{marriage_code,jdbcType=VARCHAR}
		</if>
		<if test="marriage_name != null and marriage_name != ''">
		AND marriage_name = #{marriage_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by marriage_code asc
	</select>
</mapper>

