<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.record.HrStatisticTabStrucMapper">
	<resultMap type="java.util.Map" id="setTabMap">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="statistic_code" column="statistic_code"/>
		<result property="statistic_name" column="statistic_name"/>
		<result property="tab_code" column="tab_code"/>
		<result property="tab_name" column="tab_name"/>
		<result property="col_code" column="col_code"/>
		<result property="col_name" column="col_name"/>
		<result property="sort" column="sort"/>
	</resultMap>
	<select id="queryHrStatisticSetTab" parameterType="java.util.Map" resultMap="setTabMap">
		select t.group_id,
		       t.hos_id,
		       t.statistic_code,
		       t.tab_code,
		       ts.tab_name,
		       t.col_code,
		       cs.col_name,
		       t.sort
		  from HR_STATISTIC_TAB_STRUC t
		  left join hr_tab_struc ts
		    on t.group_id = ts.group_id
		   and t.hos_id = ts.hos_id
		   and t.tab_code = ts.tab_code
		  left join hr_col_struc cs
		    on t.group_id = cs.group_id
		   and t.hos_id = cs.hos_id
		   and t.tab_code = cs.tab_code
		   and t.col_code = cs.col_code
		 where t.group_id = #{group_id}
		   and t.hos_id = #{hos_id}
		   <if test="statistic_code != null and statistic_code != ''">
		   and t.statistic_code = #{statistic_code}
		   </if>
		 order by t.sort 
	</select>
	
	<insert id="insertHrStatisticSetTab" parameterType="java.util.Map">
		insert into HR_STATISTIC_TAB_STRUC
		  (group_id, hos_id, statistic_code, tab_code, col_code, sort)
		<foreach collection="list" item="item" index="index" separator="union all">
		  select #{item.group_id}, #{item.hos_id}, #{item.statistic_code}, #{item.tab_code}, #{item.col_code}, #{item.sort} from dual
		</foreach>
		
	</insert>
	
	<delete id="deleteHrStatisticSetTab" parameterType="java.util.Map">
		delete from HR_STATISTIC_TAB_STRUC
		 where
		   group_id = #{group_id,jdbcType=INTEGER}
		   AND hos_id = #{hos_id,jdbcType=INTEGER}
		   AND statistic_code = #{statistic_code,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteBatchHrStatisticSetTab" parameterType="java.util.Map">
		delete from HR_STATISTIC_TAB_STRUC
		 where
		 <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		   group_id = #{item.group_id,jdbcType=INTEGER}
		   AND hos_id = #{item.hos_id,jdbcType=INTEGER}
		   AND statistic_code = #{item.statistic_code,jdbcType=VARCHAR}
		   AND tab_code = #{item.tab_code,jdbcType=VARCHAR}
		   AND col_code = #{item.col_code,jdbcType=VARCHAR}
		 </foreach>
	</delete>
</mapper>

