<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.accept.AssAcceptMainMapper">
	
	<resultMap id="assAcceptMain" type="com.chd.hrp.ass.entity.accept.AssAcceptMain">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="accept_id" column="accept_id"/>
		<result property="accept_no" column="accept_no"/>
		<result property="ass_year" column="ass_year"/>
		<result property="ass_month" column="ass_month"/>
		<result property="pact_code" column="pact_code"/>
		<result property="ven_id" column="ven_id"/>
		<result property="ven_no" column="ven_no"/>
		<result property="ven_code" column="ven_code"/>
		<result property="ven_name" column="ven_name"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_no" column="dept_no"/>
		<result property="dept_code" column="dept_code"/>
		<result property="dept_name" column="dept_name"/>
		<result property="accept_emp" column="accept_emp"/>
		<result property="accept_emp_name" column="accept_emp_name"/>
		<result property="accept_date" column="accept_date"/>
		<result property="create_emp" column="create_emp"/>
		<result property="create_emp_name" column="create_emp_name"/>
		<result property="create_date" column="create_date"/>
		<result property="audit_emp" column="audit_emp"/>
		<result property="audit_emp_name" column="audit_emp_name"/>
		<result property="audit_date" column="audit_date"/>
		<result property="state" column="state"/>
		<result property="accept_desc" column="accept_desc"/>
		<result property="device_code" column="device_code"/>
		<result property="device_name" column="device_name"/>
		<result property="buy_code" column="buy_code"/>
		<result property="buy_name" column="buy_name"/>
		<result property="source_code" column="source_code"/>
		<result property="source_name" column="source_name"/>
		<result property="ass_naturs" column="ass_naturs"/>
		<result property="naturs_name" column="naturs_name"/>
		<result property="in_state" column="in_state"/>
	</resultMap>
	
	<resultMap id="assAcceptMainMap" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="accept_id" column="accept_id"/>
		<result property="accept_no" column="accept_no"/>
		<result property="ass_year" column="ass_year"/>
		<result property="ass_month" column="ass_month"/>
		<result property="pact_code" column="pact_code"/>
		<result property="ven_id" column="ven_id"/>
		<result property="ven_no" column="ven_no"/>
		<result property="ven_code" column="ven_code"/>
		<result property="ven_name" column="ven_name"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_no" column="dept_no"/>
		<result property="dept_code" column="dept_code"/>
		<result property="dept_name" column="dept_name"/>
		<result property="accept_emp" column="accept_emp"/>
		<result property="accept_emp_name" column="accept_emp_name"/>
		<result property="accept_date" column="accept_date"/>
		<result property="create_emp" column="create_emp"/>
		<result property="create_emp_name" column="create_emp_name"/>
		<result property="create_date" column="create_date"/>
		<result property="audit_emp" column="audit_emp"/>
		<result property="audit_emp_name" column="audit_emp_name"/>
		<result property="audit_date" column="audit_date"/>
		<result property="state" column="state"/>
		<result property="accept_desc" column="accept_desc"/>
		<result property="device_code" column="device_code"/>
		<result property="device_name" column="device_name"/>
		<result property="buy_code" column="buy_code"/>
		<result property="buy_name" column="buy_name"/>
		<result property="source_code" column="source_code"/>
		<result property="source_name" column="source_name"/>
		<result property="ass_naturs" column="ass_naturs"/>
		<result property="naturs_name" column="naturs_name"/>
		<result property="in_state" column="in_state"/>
	</resultMap>
	 <select id="queryCurrentSequence" resultType="java.lang.Long">
		select ASS_ACCEPT_MAIN_SEQ.currval val from dual
	</select>
	
	<insert id="addAssAcceptMain" useGeneratedKeys="true" >
	
		INSERT INTO ASS_ACCEPT_MAIN (
		group_id
		,
		hos_id
		,
		copy_code
		,
		accept_id
		,
		accept_no
		,
		ass_year
		,
		ass_month
		,
		pact_code
		,
		ven_id
		,
		ven_no
		,
		dept_id
		,
		dept_no
		,
		accept_emp
		,
		accept_date
		,
		create_emp
		,
		create_date
		,
		audit_emp
		,
		audit_date
		,
		state
		,
		accept_desc,
		device_code,
		buy_code,
		source_code,
		ass_naturs,
		in_state
		
		) VALUES (
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		ASS_ACCEPT_MAIN_SEQ.nextval
		,
		#{accept_no,jdbcType=VARCHAR}
		,
		#{ass_year,jdbcType=VARCHAR}
		,
		#{ass_month,jdbcType=VARCHAR}
		,
		#{pact_code,jdbcType=VARCHAR}
		,
		#{ven_id,jdbcType=INTEGER}
		,
		#{ven_no,jdbcType=INTEGER}
		,
		#{dept_id,jdbcType=INTEGER}
		,
		#{dept_no,jdbcType=INTEGER}
		,
		#{accept_emp,jdbcType=INTEGER}
		,
		#{accept_date,jdbcType=DATE}
		,
		#{create_emp,jdbcType=INTEGER}
		,
		#{create_date,jdbcType=DATE}
		,
		#{audit_emp,jdbcType=INTEGER}
		,
		#{audit_date,jdbcType=DATE}
		,
		#{state,jdbcType=INTEGER}
		,
		#{accept_desc,jdbcType=VARCHAR}
		,
		#{device_code,jdbcType=VARCHAR}
		,
		#{buy_code,jdbcType=VARCHAR}
		,
		#{source_code,jdbcType=VARCHAR}
		,
		#{ass_naturs,jdbcType=VARCHAR}
		,
		#{in_state,jdbcType=INTEGER}
		)
	
	</insert>
	<insert id="initContract" parameterType="java.util.List" >
	
		INSERT INTO ASS_ACCEPT_MAIN (
		group_id
		,
		hos_id
		,
		pact_code
		
		
		) select t.group_id,t.hos_id,t.pact_code from(
		     select group_id,hos_id,pact_code
		     from ASS_CONTRACT_MAIN
		)t
	</insert>
	<insert id="addBatchAssAcceptMain" parameterType="java.util.List" >
	
		INSERT INTO ASS_ACCEPT_MAIN (
		accept_id
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		accept_no
		,
		ass_year
		,
		ass_month
		,
		pact_code
		,
		ven_id
		,
		ven_no
		,
		dept_id
		,
		dept_no
		,
		accept_emp
		,
		accept_date
		,
		create_emp
		,
		create_date
		,
		audit_emp
		,
		audit_date
		,
		state
		,
		accept_desc
		
		) select ASS_ACCEPT_MAIN_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id},jdbcType=INTEGER}
			,
			#{item.hos_id},jdbcType=INTEGER}
			,
			#{item.copy_code},jdbcType=VARCHAR}
			,
			#{item.accept_no},jdbcType=VARCHAR}
			,
			#{item.ass_year},jdbcType=VARCHAR}
			,
			#{item.ass_month},jdbcType=VARCHAR}
			,
			#{item.pact_code},jdbcType=VARCHAR}
			,
			#{item.ven_id},jdbcType=INTEGER}
			,
			#{item.ven_no},jdbcType=INTEGER}
			,
			#{item.dept_id},jdbcType=INTEGER}
			,
			#{item.dept_no},jdbcType=INTEGER}
			,
			#{item.accept_emp},jdbcType=INTEGER}
			,
			#{item.accept_date},jdbcType=DATE}
			,
			#{item.create_emp},jdbcType=INTEGER}
			,
			#{item.create_date},jdbcType=DATE}
			,
			#{item.audit_emp},jdbcType=INTEGER}
			,
			#{item.audit_date},jdbcType=DATE}
			,
			#{item.state},jdbcType=INTEGER}
			,
			#{item.accept_desc},jdbcType=VARCHAR}
			
			from dual 
		</foreach>
		)t
	</insert>
	
	<update id="updateAssAcceptMain" parameterType="java.util.Map">
	
		UPDATE ass_accept_main 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="accept_no != null and accept_no != ''">
		accept_no = #{accept_no}
		,
		</if>
		<if test="ass_year != null and ass_year != ''">
		ass_year = #{ass_year}
		,
		</if>
		<if test="ass_month != null and ass_month != ''">
		ass_month = #{ass_month}
		,
		</if>
		<if test="pact_code != null and pact_code != ''">
		pact_code = #{pact_code}
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id = #{ven_id}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no = #{ven_no}
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		dept_id = #{dept_id}
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		dept_no = #{dept_no}
		,
		</if>
		<if test="accept_emp != null and accept_emp != ''">
		accept_emp = #{accept_emp}
		,
		</if>
		<if test="accept_date != null and accept_date != ''">
		accept_date = #{accept_date}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp = #{create_emp}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date = #{create_date}
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp = #{audit_emp}
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date = #{audit_date}
		,
		</if>
		<if test="state != null and state != ''">
		state = #{state}
		,
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		accept_desc = #{accept_desc}
		,
		</if>
		<if test="device_code != null and device_code != ''">
		device_code = #{device_code}
		,
		</if>
		<if test="buy_code != null and buy_code != ''">
		buy_code = #{buy_code}
		,
		</if>
		<if test="source_code != null and source_code != ''">
		source_code = #{source_code}
		
		</if>
		</trim>
		
		<where>
		<if test="group_id != null and group_id != ''">
		AND group_id =#{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id =#{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code =#{copy_code}
		</if>
		<if test="accept_id != null and accept_id != ''">
		AND accept_id =#{accept_id}
		</if>
		</where>
    </update>
	<update id="updateBatchAssAcceptMain" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE ass_accept_main SET
			accept_no = #{item.accept_no},jdbcType=VARCHAR}
			,
			ass_year = #{item.ass_year},jdbcType=VARCHAR}
			,
			ass_month = #{item.ass_month},jdbcType=VARCHAR}
			,
			pact_code = #{item.pact_code},jdbcType=VARCHAR}
			,
			ven_id = #{item.ven_id},jdbcType=INTEGER}
			,
			ven_no = #{item.ven_no},jdbcType=INTEGER}
			,
			dept_id = #{item.dept_id},jdbcType=INTEGER}
			,
			dept_no = #{item.dept_no},jdbcType=INTEGER}
			,
			accept_emp = #{item.accept_emp},jdbcType=INTEGER}
			,
			accept_date = #{item.accept_date},jdbcType=DATE}
			,
			create_emp = #{item.create_emp},jdbcType=INTEGER}
			,
			create_date = #{item.create_date},jdbcType=DATE}
			,
			accept_desc = #{item.accept_desc},jdbcType=VARCHAR}
			
			WHERE 
			group_id = #{item.group_id},jdbcType=INTEGER}
			 and 
			hos_id = #{item.hos_id},jdbcType=INTEGER}
			 and 
			copy_code = #{item.copy_code},jdbcType=VARCHAR}
			 and 
			accept_id = #{item.accept_id},jdbcType=INTEGER}
			
		</foreach>
	</update>
	
	<delete id="deleteAssAcceptMain" parameterType="java.util.Map">
	
		DELETE FROM ass_accept_main WHERE
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		accept_id = #{accept_id,jdbcType=INTEGER} 
	
	</delete>
	<delete id="deleteBatchAssAcceptMain" parameterType="java.util.List">
		DELETE FROM ass_accept_main WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id}
				 and 
				hos_id = #{item.hos_id}
				 and 
				copy_code = #{item.copy_code}
				 and 
				accept_id = #{item.accept_id}
				
			</foreach>
	
	</delete>
	<update id="updateToExamine" parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		UPDATE ass_accept_main set state = 1,audit_emp = #{item.audit_emp},audit_date = #{item.audit_date} 
		where
		 group_id = #{item.group_id,jdbcType=INTEGER}
		AND hos_id = #{item.hos_id,jdbcType=INTEGER}
		AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
		AND accept_id = #{item.accept_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<update id="updateNotToExamine" parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		UPDATE ass_accept_main set state = 0 ,audit_emp = null,audit_date = null
		where 
		group_id = #{item.group_id,jdbcType=INTEGER}
		AND hos_id = #{item.hos_id,jdbcType=INTEGER}
		AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
		AND accept_id = #{item.accept_id,jdbcType=INTEGER}
		</foreach>
	</update>
	<select id="queryAssAcceptMain" parameterType="java.util.Map" resultMap="assAcceptMain" >
	
		SELECT 
			aam.group_id,
			aam.hos_id,
			aam.copy_code,
			aam.accept_id,
			aam.accept_no,
			aam.ass_year,
			aam.ass_month,
			aam.pact_code,
			aam.ven_id,
			aam.ven_no,
			hsd.sup_code ven_code,
			hsd.sup_name ven_name,
			aam.dept_id,
			aam.dept_no,
			hdd.dept_code,
			hdd.dept_name,
			aam.accept_emp,
			su1.user_name accept_emp_name,
			aam.accept_date,
			aam.create_emp,
			su2.user_name create_emp_name,
			aam.create_date,
			aam.audit_emp,
			su3.user_name audit_emp_name,
			aam.audit_date,
			aam.state,
			aam.accept_desc,
			aam.device_code,
			aam.buy_code,
			aam.source_code,hs.source_name,ad.device_name,asd.buy_name,
			aam.ass_naturs,an.naturs_name,aam.in_state
		FROM ass_accept_main aam 
		left join HOS_SUP_DICT hsd on 
		aam.group_id = hsd.group_id
		and aam.hos_id = hsd.hos_id
		and aam.ven_id = hsd.sup_id
		and hsd.is_stop = 0
		left join HOS_DEPT_DICT hdd on 
		aam.group_id = hdd.group_id
		and aam.hos_id = hdd.hos_id
		and aam.dept_id = hdd.dept_id
		and hdd.is_stop = 0
		left join SYS_USER su1 on
		aam.group_id = su1.group_id
		and aam.hos_id = su1.hos_id
		and aam.accept_emp = su1.user_id
		left join SYS_USER su2 on
		aam.group_id = su2.group_id
		and aam.hos_id = su2.hos_id
		and aam.create_emp = su2.user_id
		left join SYS_USER su3 on
		aam.group_id = su3.group_id
		and aam.hos_id = su3.hos_id
		and aam.audit_emp = su3.user_id
		left join HOS_SOURCE hs on aam.group_id=hs.group_id
	    and aam.hos_id=hs.hos_id and aam.source_code=hs.source_code 
	    left join ASS_DEVICE_DICT ad on aam.group_id=ad.group_id
	    and aam.hos_id=ad.hos_id and aam.device_code=ad.device_code 
	    left join ASS_BUY_DICT asd on aam.group_id=asd.group_id
	    and aam.hos_id=asd.hos_id and aam.buy_code=asd.buy_code 
	     left join ass_naturs an on an.naturs_code=aam.ass_naturs
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND aam.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND aam.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND aam.copy_code = #{copy_code}
		</if>
		<if test="accept_id != null and accept_id != ''">
		AND aam.accept_id = #{accept_id}
		</if>
		<if test="accept_no != null and accept_no != ''">
		AND aam.accept_no = #{accept_no,}
		</if>
		<if test="ass_year != null and ass_year != ''">
		AND aam.ass_year = #{ass_year}
		</if>
		<if test="ass_month != null and ass_month != ''">
		AND aam.ass_month = #{ass_month}
		</if>
		<if test="pact_code != null and pact_code != ''">
		AND aam.pact_code = #{pact_code}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND aam.ven_id = #{ven_id}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND aam.dept_id = #{dept_id}
		</if>
		<if test="accept_emp != null and accept_emp != ''">
		AND aam.accept_emp = #{accept_emp}
		</if>
		<if test="accept_date1 != null and accept_date1 != ''">
		AND aam.accept_date &gt;= to_date(#{accept_date1},'yyyy-MM-dd')
		</if>
		<if test="accept_date2 != null and accept_date2 != ''">
		AND aam.accept_date &lt;= to_date(#{accept_date2},'yyyy-MM-dd')
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND aam.create_emp = #{create_emp}
		</if>
		<if test="create_date != null and create_date != ''">
		AND aam.create_date = #{create_date}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND aam.audit_emp = #{audit_emp}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND aam.audit_date = #{audit_date}
		</if>
		<if test="state != null and state != ''">
		AND aam.state = #{state}
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		AND aam.accept_desc = #{accept_desc}
		</if>
		<if test="ass_naturs != null and ass_naturs != ''">
		AND aam.ass_naturs = #{ass_naturs}
		</if>
		<if test="in_state != null and in_state != ''">
		AND aam.in_state = #{in_state}
		</if>
		</where>   
		order by aam.accept_no desc
	</select>
	<select id="queryAssAcceptMainByCode" resultType="com.chd.hrp.ass.entity.accept.AssAcceptMain" parameterType="java.util.Map" >
	
		SELECT 
			aam.group_id,
			aam.hos_id,
			aam.copy_code,
			aam.accept_id,
			aam.accept_no,
			aam.ass_year,
			aam.ass_month,
			aam.pact_code,
			aam.ven_id,
			aam.ven_no,
			hsd.sup_code ven_code,
			hsd.sup_name ven_name,
			aam.dept_id,
			aam.dept_no,
			hdd.dept_code,
			hdd.dept_name,
			aam.accept_emp,
			su1.user_name accept_emp_name,
			aam.accept_date,
			aam.create_emp,
			su2.user_name create_emp_name,
			aam.create_date,
			aam.audit_emp,
			su3.user_name audit_emp_name,
			aam.audit_date,
			aam.state,
			aam.accept_desc,
			aam.device_code,
			aam.buy_code,
			aam.source_code,hs.source_name,ad.device_name,asd.buy_name,
			aam.ass_naturs,an.naturs_name,aam.in_state
		FROM ass_accept_main aam 
		left join HOS_SUP_DICT hsd on 
		aam.group_id = hsd.group_id
		and aam.hos_id = hsd.hos_id
		and aam.ven_id = hsd.sup_id
		and hsd.is_stop = 0
		left join HOS_DEPT_DICT hdd on 
		aam.group_id = hdd.group_id
		and aam.hos_id = hdd.hos_id
		and aam.dept_id = hdd.dept_id
		and hdd.is_stop = 0
		left join SYS_USER su1 on
		aam.group_id = su1.group_id
		and aam.hos_id = su1.hos_id
		and aam.accept_emp = su1.user_id
		left join SYS_USER su2 on
		aam.group_id = su2.group_id
		and aam.hos_id = su2.hos_id
		and aam.create_emp = su2.user_id
		left join SYS_USER su3 on
		aam.group_id = su3.group_id
		and aam.hos_id = su3.hos_id
		and aam.audit_emp = su3.user_id
		left join HOS_SOURCE hs on aam.group_id=hs.group_id
	    and aam.hos_id=hs.hos_id and aam.source_code=hs.source_code 
	    left join ASS_DEVICE_DICT ad on aam.group_id=ad.group_id
	    and aam.hos_id=ad.hos_id and aam.device_code=ad.device_code 
	    left join ASS_BUY_DICT asd on aam.group_id=asd.group_id
	    and aam.hos_id=asd.hos_id and aam.buy_code=asd.buy_code 
	    left join ass_naturs an on aam.ass_naturs=an.naturs_code
		WHERE 
		aam.group_id = #{group_id}   and 
		aam.hos_id = #{hos_id}   and 
		aam.copy_code = #{copy_code}    
		<if test="accept_id != null and accept_id != ''">
		AND aam.accept_id = #{accept_id}
		</if>
		<if test="accept_no != null and accept_no != ''">
		AND aam.accept_no = #{accept_no}
		</if>
	
	</select>
	<select id="queryAssAcceptMainByUniqueness" resultType="com.chd.hrp.ass.entity.accept.AssAcceptMain" parameterType="java.util.Map" >
	
		SELECT 
			aam.group_id,
			aam.hos_id,
			aam.copy_code,
			aam.accept_id,
			aam.accept_no,
			aam.ass_year,
			aam.ass_month,
			aam.pact_code,
			aam.ven_id,
			aam.ven_no,
			hsd.sup_code ven_code,
			hsd.sup_name ven_name,
			aam.dept_id,
			aam.dept_no,
			hdd.dept_code,
			hdd.dept_name,
			aam.accept_emp,
			su1.user_name accept_emp_name,
			aam.accept_date,
			aam.create_emp,
			su2.user_name create_emp_name,
			aam.create_date,
			aam.audit_emp,
			su3.user_name audit_emp_name,
			aam.audit_date,
			aam.state,
			aam.accept_desc
		FROM ass_accept_main aam 
		left join HOS_SUP_DICT hsd on 
		aam.group_id = hsd.group_id
		and aam.hos_id = hsd.hos_id
		and aam.ven_id = hsd.sup_id
		and hsd.is_stop = 0
		left join HOS_DEPT_DICT hdd on 
		aam.group_id = hdd.group_id
		and aam.hos_id = hdd.hos_id
		and aam.dept_id = hdd.dept_id
		and hdd.is_stop = 0
		left join SYS_USER su1 on
		aam.group_id = su1.group_id
		and aam.hos_id = su1.hos_id
		and aam.accept_emp = su1.user_id
		left join SYS_USER su2 on
		aam.group_id = su2.group_id
		and aam.hos_id = su2.hos_id
		and aam.create_emp = su2.user_id
		left join SYS_USER su3 on
		aam.group_id = su3.group_id
		and aam.hos_id = su3.hos_id
		and aam.audit_emp = su3.user_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND aam.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND aam.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND aam.copy_code = #{copy_code}
		</if>
		<if test="accept_id != null and accept_id != ''">
		AND aam.accept_id = #{accept_id}
		</if>
		<if test="accept_no != null and accept_no != ''">
		AND aam.accept_no = #{accept_no}
		</if>
		<if test="ass_year != null and ass_year != ''">
		AND aam.ass_year = #{ass_year}
		</if>
		<if test="ass_month != null and ass_month != ''">
		AND aam.ass_month = #{ass_month}
		</if>
		<if test="pact_code != null and pact_code != ''">
		AND aam.pact_code = #{pact_code}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND aam.ven_id = #{ven_id}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND aam.ven_no = #{ven_no}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND aam.dept_id = #{dept_id}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND aam.dept_no = #{dept_no}
		</if>
		<if test="accept_emp != null and accept_emp != ''">
		AND aam.accept_emp = #{accept_emp}
		</if>
		<if test="accept_date != null and accept_date != ''">
		AND aam.accept_date = #{accept_date}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND aam.create_emp = #{create_emp}
		</if>
		<if test="create_date != null and create_date != ''">
		AND aam.create_date = #{create_date}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND aam.audit_emp = #{audit_emp}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND aam.audit_date = #{audit_date}
		</if>
		<if test="state != null and state != ''">
		AND aam.state = #{state}
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		AND aam.accept_desc = #{accept_desc}
		</if>
		</where>   
		order by aam.create_date asc
	</select>
	
	<select id="queryAssAcceptMainUniqueness" resultMap="assAcceptMain"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			accept_id,
			accept_no,
			ass_year,
			ass_month,
			pact_code,
			ven_id,
			ven_no,
			dept_id,
			dept_no,
			accept_emp,
			accept_date,
			create_emp,
			create_date,
			audit_emp,
			audit_date,
			state,
			accept_desc
		FROM ass_accept_main 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="accept_id != null and accept_id != ''">
		AND accept_id = #{accept_id}
		</if>
		<if test="accept_no != null and accept_no != ''">
		AND accept_no = #{accept_no}
		</if>
		<if test="ass_year != null and ass_year != ''">
		AND ass_year = #{ass_year}
		</if>
		<if test="ass_month != null and ass_month != ''">
		AND ass_month = #{ass_month}
		</if>
		<if test="pact_code != null and pact_code != ''">
		AND pact_code = #{pact_code}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no}
		</if>
		<if test="accept_emp != null and accept_emp != ''">
		AND accept_emp = #{accept_emp}
		</if>
		<if test="accept_date1 != null and accept_date1 != ''">
		AND aam.accept_date =#(accept_date))
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp}
		</if>
		
		<if test="state != null and state != ''">
		AND state = #{state}
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		AND accept_desc = #{accept_desc}
		</if>
		</where>   
		order by group_id asc
	</select>
	
    <select id="queryAssAcceptMainExists" parameterType="java.util.Map" resultMap="assAcceptMain" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			accept_id,
			accept_no,
			ass_year,
			ass_month,
			pact_code,
			ven_id,
			ven_no,
			dept_id,
			dept_no,
			accept_emp,
			accept_date,
			create_emp,
			create_date,
			audit_emp,
			audit_date,
			state,
			accept_desc,
			device_code,
			buy_code,
			source_code
		FROM ass_accept_main 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="accept_id != null and accept_id != ''">
		AND accept_id = #{accept_id}
		</if>
		<if test="accept_no != null and accept_no != ''">
		AND accept_no = #{accept_no,}
		</if>
		<if test="ass_year != null and ass_year != ''">
		AND ass_year = #{ass_year}
		</if>
		<if test="ass_month != null and ass_month != ''">
		AND ass_month = #{ass_month}
		</if>
		<if test="pact_code != null and pact_code != ''">
		AND pact_code = #{pact_code}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no}
		</if>
		<if test="accept_emp != null and accept_emp != ''">
		AND accept_emp = #{accept_emp}
		</if>
		<if test="accept_date1 != null and accept_date1 != ''">
		AND aam.accept_date =#(accept_date))
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND audit_date = #{audit_date}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state}
		</if>
		<if test="accept_desc != null and accept_desc != ''">
		AND accept_desc = #{accept_desc}
		</if>
		</where>   
		order by create_date asc
	</select>
	<!-- 资产验收打印主表 -->
	<select id="queryAssAcceptBatch" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT a.accept_id as id,a.group_id,a.hos_id,a.copy_code,a.accept_no,a.ass_year,a.ass_month,a.ven_id,a.ven_no,h.sup_code ven_code,
       h.sup_name ven_name,to_char(a.AUDIT_DATE, 'yyyy-mm-dd') AUDIT_DATE,to_char(a.CREATE_DATE, 'yyyy-mm-dd') CREATE_DATE,
       to_char(a.ACCEPT_DATE, 'yyyy-mm-dd') ACCEPT_DATE,
       a.accept_desc,s.user_name accept_emp ,s1.user_name AUDIT_EMP,s2.user_name CREATE_EMP,d.dept_code,d.dept_name,
       case when a.state = 0 then '新建' when a.state = 1 then '审核'  else '' end state 

    FROM ASS_ACCEPT_MAIN a
   
    left join HOS_SUP_DICT h on h.group_id =a.group_id and h.hos_id =a.hos_id and h.sup_id=a.ven_id and h.is_stop =0 
       
    left join sys_user s on s.group_id =a.group_id and s.hos_id =a.hos_id and s.user_id =a.accept_emp
    
     left join sys_user s1 on s.group_id =a.group_id and s1.hos_id =a.hos_id and s1.user_id =a.AUDIT_EMP
     
    left join sys_user s2 on s2.group_id =a.group_id and s2.hos_id =a.hos_id and s2.user_id =a.CREATE_EMP
     
    left join HOS_DEPT_DICT d on d.group_id=a.group_id and d.hos_id =a.hos_id and d.dept_id =a.dept_id and d.is_stop=0
   
		where	
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.accept_id in (${paraId})
			<!-- <where>
			<if test="group_id !=null and group_id !='' ">
				and aam.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id !=null and hos_id !='' ">
				and aam.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code !=null and copy_code !='' ">
				and aam.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			and aam.accept_id in  (${paraId})
		</where> -->
		
	</select>
	
	<select id="querAssAcceptByPrint" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT a.accept_id as id,a.group_id,a.hos_id,a.copy_code,a.accept_no,a.ass_year,a.ass_month,a.ven_id,a.ven_no,h.sup_code ven_code,
       h.sup_name ven_name,to_char(a.AUDIT_DATE, 'yyyy-mm-dd') AUDIT_DATE,to_char(a.CREATE_DATE, 'yyyy-mm-dd') CREATE_DATE,
        to_char(a.ACCEPT_DATE, 'yyyy-mm-dd') ACCEPT_DATE,
       a.accept_desc,s.user_name accept_emp ,s1.user_name AUDIT_EMP,s2.user_name CREATE_EMP,d.dept_code,d.dept_name,
       case when a.state = 0 then '新建' when a.state = 1 then '审核'  else '' end state 
       

    FROM ASS_ACCEPT_MAIN a
   
    left join HOS_SUP_DICT h on h.group_id =a.group_id and h.hos_id =a.hos_id and h.sup_id=a.ven_id and h.is_stop =0 
       
    left join sys_user s on s.group_id =a.group_id and s.hos_id =a.hos_id and s.user_id =a.accept_emp
    
     left join sys_user s1 on s.group_id =a.group_id and s1.hos_id =a.hos_id and s1.user_id =a.AUDIT_EMP
     
    left join sys_user s2 on s2.group_id =a.group_id and s2.hos_id =a.hos_id and s2.user_id =a.CREATE_EMP
     
    left join HOS_DEPT_DICT d on d.group_id=a.group_id and d.hos_id =a.hos_id and d.dept_id =a.dept_id and d.is_stop=0
   
			
			where                     
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.accept_no = #{accept_no}
			
			<!-- <where>
			<if test="group_id !=null and group_id !='' ">
				and aam.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id !=null and hos_id !='' ">
				and aam.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code !=null and copy_code !='' ">
				and aam.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="accept_no !=null and accept_no !='' ">
				and aam.accept_no = #{accept_no,jdbcType=INTEGER}
			</if>
		</where> -->
	</select>
	<!-- 资产验收打印从表 -->
	<select id="queryAssAccept_detail" parameterType="java.util.Map" resultType="java.util.Map">
		select a.accept_id as id ,a.group_id,a.hos_id,a.copy_code,d.ass_code,d.ass_name,d.ass_no,a.ass_model,a.ass_spec,a.ass_brand,
       f.fac_no,f.fac_code,f.fac_name,a.accept_amount,a.accept_desc INS_ACCEPT_DESC,
      to_char(a.accept_price,'FM999,999,990.00') accept_price,to_char(a.accept_money,'FM999,999,990.00') accept_money,
       case when a.is_well = 0 then '通过' when a.is_well = 1 then '未通过'   when a.is_well = 2 then '不适用' else '' end is_well 
	    from ASS_ACCEPT_DETAIL a  
	    left join ASS_NO_DICT d on d.group_id = a.group_id and d.hos_id = a.hos_id and d.copy_code=a.copy_code and d.ass_id =a.ass_id and
	                           d.ass_no =a.ass_no and d.is_stop = 0
	    left join  hos_fac_dict f on f.fac_no=a.fac_no and f.group_id=a.group_id and f.hos_id =a.hos_id and f.fac_id =a.fac_id and f.is_stop= 0
		where
			a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			 <if test="paraId != null and paraId != ''">
					 AND a.accept_id in (${paraId})
					</if>
					<if test="accept_id != null and accept_id != ''">
					and a.accept_id = #{accept_id,jdbcType=INTEGER}
					</if>
		
	 <!-- <where>
			<if test="group_id !=null and group_id !='' ">
				and a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id !=null and hos_id !='' ">
				and a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code !=null and copy_code !='' ">
				and a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="accept_id !=null and accept_id !='' ">
				and a.accept_id = #{accept_id,jdbcType=VARCHAR}
			</if>
			<if test="accept_id !=null and p_num ==1">
				and a.accept_id in (${paraId})
			</if>
			<if test="accept_id !=null and p_num ==0">
				and  a.accept_id =#{accept_id,jdbcType=NUMERIC}
			</if>	
		</where>
 -->	
	
	</select>
	
	<!-- 打印状态 -->
	<select id="queryAcceptMainState" parameterType="java.util.Map" resultType="java.lang.String">
	select accept_no from ASS_ACCEPT_MAIN
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="paraId != null and paraId != ''">
			AND accept_id in  (${paraId})
			</if>
			<if test="accept_id != null and accept_id != ''">
			AND accept_id = #{accept_id,jdbcType=VARCHAR}
			</if>
			<!-- 前台传参   1 确认 -->
			and state != #{state,jdbcType=INTEGER}
	
	</select>
	<update id="updateAcceptMainInState" parameterType="java.util.Map">
		UPDATE ass_accept_main SET
		in_state = #{in_state,jdbcType=INTEGER}
		WHERE
		group_id =#{group_id,jdbcType=INTEGER}
		and 
		hos_id =#{hos_id,jdbcType=INTEGER}
		and 
		copy_code =#{copy_code,jdbcType=VARCHAR}
		and 
		accept_id =#{accept_id,jdbcType=INTEGER}
	</update>
	
</mapper>

