<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.eqc.dao.base.AssEqcServiceConsumableMapper">
	
	<resultMap id="assEqcServiceConsumable" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="charge_kind_id" column="charge_kind_id"/>
	<result property="charge_kind_name" column="charge_kind_name"/>
	<result property="consum_code" column="consum_code"/>
	<result property="consum_desc" column="consum_desc"/>
	<result property="unit_name" column="unit_name"/>
	<result property="quantity" column="quantity"/>
	<result property="quantity_type" column="quantity_type"/>
	<result property="quantity_type_name" column="quantity_type_name"/>
	<result property="month_stat_flag" column="month_stat_flag"/>
	<result property="month_stat_flag_name" column="month_stat_flag_name"/>
	<result property="cycle_num" column="cycle_num"/>
	<result property="cycle_nuit" column="cycle_nuit"/>
	<result property="cycle_nuit_name" column="cycle_nuit_name"/>
	<result property="type_name" column="type_name"/>
	<result property="type_name_name" column="type_name_name"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_EQ_SERV_CONSUM (
			group_id
			,
			hos_id
			,
			copy_code
			,
			charge_kind_id
			,
			consum_code
			,
			quantity
			,
			quantity_type
			,
			month_stat_flag
			,
			cycle_num
			,
			cycle_nuit
			,
			type_name
		
		) VALUES (
			#{group_id}		,
			#{hos_id}		,
			#{copy_code}		,
			#{charge_kind_id}		,
			#{consum_code}		,
			#{quantity}		,
			#{quantity_type}		,
			#{month_stat_flag}		,
			#{cycle_num}		,
			#{cycle_nuit}		,
			#{type_name}		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_EQ_SERV_CONSUM (
			group_id
			,
			hos_id
			,
			copy_code
			,
			charge_kind_id
			,
			consum_code
			,
			quantity
			,
			quantity_type
			,
			month_stat_flag
			,
			cycle_num
			,
			cycle_nuit
			,
			type_name
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id}			,
				#{item.hos_id}			,
				#{item.copy_code}			,
				#{item.charge_kind_id}			,
				#{item.consum_code}			,
				#{item.quantity}			,
				#{item.quantity_type}			,
				#{item.month_stat_flag}			,
				#{item.cycle_num}			,
				#{item.cycle_nuit}			,
				#{item.type_name}			
			from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ASS_EQ_SERV_CONSUM SET
			quantity = #{quantity}	,
			quantity_type = #{quantity_type}	,
			month_stat_flag = #{month_stat_flag} ,
			cycle_num = #{cycle_num} 	,
			cycle_nuit = #{cycle_nuit} ,
			type_name = #{type_name}
		
		WHERE 
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and charge_kind_id = #{charge_kind_id}
			and consum_code = #{consum_code}
		
	
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ASS_EQ_SERV_CONSUM SET
			quantity = #{item.quantity}	,
			quantity_type = #{item.quantity_type}	,
			month_stat_flag = #{item.month_stat_flag} ,
			cycle_num = #{item.cycle_num}		,
			cycle_nuit = #{item.cycle_nuit}	,
			type_name = #{item.type_name}
			
			WHERE 
				group_id = #{item.group_id}
				and hos_id = #{item.hos_id}
				and copy_code = #{item.copy_code}
				and charge_kind_id = #{item.charge_kind_id}
				and consum_code = #{item.consum_code}
			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ASS_EQ_SERV_CONSUM 
		WHERE
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and charge_kind_id = #{charge_kind_id}
			and consum_code = #{consum_code}
	
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ASS_EQ_SERV_CONSUM WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id}
				and hos_id = #{item.hos_id}
				and copy_code = #{item.copy_code}
				and charge_kind_id = #{item.charge_kind_id}
				and consum_code = #{item.consum_code}
				
			</foreach>
	
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assEqcServiceConsumable" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.charge_kind_id,
			b.charge_kind_name ,
			a.consum_code,
			c.consum_desc,
			d.unit_name ,
			a.quantity,
			a.quantity_type,
			case a.quantity_type when '1' then '绝对量' when '2' then '相对量' else '相对量已计算绝对量' end quantity_type_name,
			a.month_stat_flag,
			case  a.month_stat_flag when '1' then '是' else '否' end month_stat_flag_name ,
			a.cycle_num,
			a.cycle_nuit,
			case a.cycle_nuit when '1' then '年' when '2' then '月' when '3' then '天' else '时' end cycle_nuit_name ,
			a.type_name ,
			case a.type_name when '1' then '使用'  else '质控' end type_name_name 
		FROM ASS_EQ_SERV_CONSUM a
		left join COST_CHARGE_KIND_ARRT b
			on a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.charge_kind_id = b.charge_kind_id
		left join ASS_EQ_Consumable_Item c
			on a.group_id = c.group_id
			and a.hos_id = c.hos_id
			and a.copy_code = c.copy_code
			and a.consum_code = c.consum_code
		left join hos_unit d
			on c.group_id = d.group_id
			and c.hos_id = d.hos_id
			and c.unit_code = d.unit_code
			and d.is_stop = 0
		where                     
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			<if test="charge_kind_id != null and charge_kind_id != ''">
			AND a.charge_kind_id = #{charge_kind_id}
			</if>
			<if test="consum_code != null and consum_code != ''">
			AND a.consum_code = #{consum_code}
			</if>
			<if test="quantity != null and quantity != ''">
			AND a.quantity = #{quantity}
			</if>
			<if test="quantity_type != null and quantity_type != ''">
			AND a.quantity_type = #{quantity_type}
			</if>
			<if test="unit_code != null and unit_code != ''">
			AND d.unit_code = #{unit_code}
			</if>
			<if test="month_stat_flag != null and month_stat_flag != ''">
			AND a.month_stat_flag = #{month_stat_flag}
			</if>
			<if test="cycle_num != null and cycle_num != ''">
			AND a.cycle_num = #{cycle_num}
			</if>
			<if test="cycle_nuit != null and cycle_nuit != ''">
			AND a.cycle_nuit = #{cycle_nuit}
			</if>
			<if test="type_name != null and type_name != ''">
			AND a.type_name = #{type_name}
			</if>
		order by b.charge_kind_code asc
	</select>
	<select id="queryByCode" resultMap="assEqcServiceConsumable" parameterType="string" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			charge_kind_id,
			consum_code,
			quantity,
			quantity_type,
			month_stat_flag,
			cycle_num,
			cycle_nuit,
			type_name
		FROM ASS_EQ_SERV_CONSUM 
		WHERE 
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and charge_kind_id = #{charge_kind_id}
			and consum_code = #{consum_code}
	
	</select>
	
	<!-- 查询添加数据是否已存在 -->
	<select id="queryDataExist" resultType="java.lang.String">
		<foreach collection="list" item="item" index="index" separator=" union all " >
			SELECT to_number(${item.rowNo})+ 1 rowNo
			FROM ASS_EQ_SERV_CONSUM
			where
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND charge_kind_id = #{item.charge_kind_id,jdbcType=INTEGER}
				AND consum_code = #{item.consum_code,jdbcType=VARCHAR}
		</foreach>
	</select>

</mapper>

