<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.relative.business.hos.HtcRelativeChargeCostHosMapper">

	<resultMap id="chargeCostHos" type="com.chd.hrp.htc.entity.relative.business.hos.HtcRelativeChargeCostHos">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id" />
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="plan_code" column="plan_code"/>
        <result property="plan_name" column="plan_name"/>
        <result property="charge_item_id" column="charge_item_id"/>
        <result property="charge_item_code" column="charge_item_code"/>
        <result property="charge_item_name" column="charge_item_name"/>
        <result property="charge_num" column="charge_num"/>
        <result property="charge_money" column="charge_money"/>
        <result property="dir_cost" column="dir_cost"/>
        <result property="pub_cost" column="pub_cost"/>
        <result property="man_cost" column="man_cost"/>
        <result property="mea_cost" column="mea_cost"/>
        <result property="source_id" column="source_id"/>
        <result property="source_code" column="source_code"/>
        <result property="source_name" column="source_name"/>
	</resultMap>
	
	<select id="addHtcRelativeChargeCostHos" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map"> 
		   <![CDATA[ {call pkg_htc_app.prc_relative_charge_hos_cost(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year,jdbcType=VARCHAR, mode=IN},
	        #{plan_code,jdbcType=VARCHAR, mode=IN},
	        #{err_txt,jdbcType=VARCHAR,mode=OUT}
           )} 
		 ]]>
	</select>
	 
   <select id="queryHtcRelativeChargeCostHos" parameterType="java.util.Map" resultMap="chargeCostHos">
	    select hrcch.group_id,
		       hrcch.hos_id,
		       hrcch.copy_code,
		       hrcch.acc_year,
		       hrcch.plan_code,
			   hps.plan_name,
		       hrcch.charge_item_id,
			   ccia.charge_item_code,
			   ccia.charge_item_name,
		       hrcch.charge_num,
		       hrcch.charge_money,
		       hrcch.dir_cost,
		       hrcch.pub_cost,
		       hrcch.man_cost,
		       hrcch.mea_cost,
		       hrcch.source_id,
			   hs.source_code,
			   hs.source_name
		  from htc_relative_charge_cost_hos hrcch
			left join htc_plan_set hps
			on hrcch.group_id = hps.group_id
			and hrcch.hos_id = hps.hos_id
			and hrcch.copy_code = hps.copy_code
			and hrcch.acc_year = hps.acc_year
			and hrcch.plan_code = hps.plan_code
			left join cost_charge_item_arrt ccia
			on ccia.group_id = hrcch.group_id
			and ccia.hos_id = hrcch.hos_id
			and ccia.copy_code = hrcch.copy_code
			and ccia.charge_item_id = hrcch.charge_item_id
			left join hos_source hs
			on hrcch.group_id = hs.group_id
			and hrcch.hos_id = hs.hos_id
			and hrcch.source_id = hs.source_id
			<if test="plan_code != null and plan_code != ''">
                and hrcch.plan_code = #{plan_code}
		     </if>
		order by   hrcch.group_id,
			       hrcch.hos_id,
			       hrcch.copy_code,
			       hrcch.acc_year,
			       hrcch.plan_code,
				   ccia.charge_item_code
   </select>
</mapper>

