@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
a:focus{outline:none;}
html,body{
	height:100%;
	font-family: microsoft yahei;
}
.form-control[readonly]{
	cursor:pointer;
	background-color:#eee;
}
.index {
	width: 100%;
	height: 100%;
}

.login_header{
	height:13%;
	min-height:60px;	
	min-width:800px;
}
.hospital{
	font-family:"microsoft yahei",DFKai-SB,KaiTi;
	font-size:30px;
	text-align: center;
}
.loginboxP_cq {
	width: 328px;
	height: 340px;
	background: #fff;
	position: absolute;
	top: 45%;
    margin-top: -180px;
	right: 12%;
	padding: 20px 20px 0px;
	box-shadow: 0 3px 8px #aaa;
}
.disabledField{
	background:#f3f3f3;
}
.logininput-dep {
	cursor: pointer;
    background-image: url(../images/logon/logon_input_dep_bg.png);
}
.x-grid3-row-selected {
	background-color: #a3bae9 !important; 
	background-image: none;
	border-color:#a3bae9;
	color:#fff;
}
.loginboxP_cq .alert-danger i {
	margin: 0 10px 0 0;
}
.loginboxP_cq .alert-danger {
	position: absolute;
	width: 288px;
	margin: -43px 0 0 0;
	height: 36px;
	border-radius: 0px;
	padding: 8px 10px 0;
}
.loginbox_cq .alert-danger {
	margin: -28px 0 0 0;
    height: 26px;
    padding: 3px 10px 0;
}
.loginboxP_cq .tcq {
	border-bottom: 1px dashed #ccc;
	padding: 0 0 16px 0 ;
	font-size: 1.8rem;
	margin:0 0 50px 0;
}
.loginbox_cq .tcq {
	margin:0 0 30px 0;
}
.loginboxP_cq .form-group {
	margin: 30px 0 20px 0;
}
.loginbox_cq .form-group {
	margin: 20px 0 1px 0;
}
.loginboxP_cq .input-group-addon {
	border-radius: 0px;
}
.loginboxP_cq .input-group-addon i {
	font-size: 1.6rem;
}
.loginboxP_cq input {
	box-shadow: none;
	-webkit-box-shadow:none;
	border-radius: 0px;
	height: 38px; 
}
.loginboxP_cq button {
	margin: 30px 0 0 0;
	height: 38px;
	line-height: 3px;
	border-radius:0px;
}
.loginbox_cq button {
	margin: 23px 0 0 0;
}
.loginbox_cq a {
	color: green;
	margin-top: 8px;
    display: block;
    
}
.loginbox_cq a.edit_pw {
	float: left;
	width:90px;
}
.loginbox_cq a.edit_loc {
	float: right;
}
.loginboxP_cq .input-group .input-group-addon{
	padding:0;
	width:30px;
}
.loginboxP_cq .input-group .form-control{
	width:258px;
}
.login_carousel{
	height:62%;
}
.login_row{
	height:18%;
}
.login_footer{
	height:7%;	
	clear:both;
}
.login_footer a{
	text-decoration:none;
	color:#666;
}
.login_footer a i {
	margin: 0 4px 0 0;
}
.login_footer a.red {
	color: #df5959;
}
.login_footer a.green {
	color: #369620;
}
.login_footer .log_f{
	left: 50%;
    float: left;
    position: relative;
    margin-left: -420px;
}
.login_footer .log_f div , .login_footer .log_f i , .login_footer .log_f span , .login_footer .log_f a {
	float: left;
	
}
.login_footer .log_f .login_logo {
	float: left;
	margin: -4px 4px 0 0;
}
.login_footer .log_f .login_logo:nth-child(2) {
	margin-right:10px;
}
.login_footer .log_f .login_logo i {
	float: right;
	color: #0096B1;
	margin: -2px 0 0 4px;
}
.login_footer .log_f i , .login_footer .log_f span , .login_footer .log_f a {
	padding-top:0.5%;
}
li{
	list-style-type:none;
}
.login_carousel_picture{
	height:100%;
	width:100%;
	}
.login_indicators li{
	border:2px solid #000;
	width:12px;
	height:12px;
	margin:0 1px;
	opacity: 0.4;
}
.login_indicators{
	bottom:-5px;
}
.login_indicators .active{
	background:#939394;
}
.login_row_4{	
	margin:0 auto;
	width:850px;
	padding:20px 0;
}
.login_row_4 li{
	float:left;
	padding:0 45px;	
}
.login_QRcode{
	float:left;
}
.login_QRcode img{
	padding:0 0 0 5px;
}
.login_QRcode .login_br {
	margin: 5px 0 0 5px;
}
.login_icon_1{
	width:22px;
	height:22px;
	background:#01bc01;
	color:#FFF;
	text-align:center;
	padding:3px 0 0 0;
}
.login_icon_2{
	width:22px;
	height:22px;
	background:#ff8b00;
	color:#FFF;
	text-align:center;
	padding:3px 0 0 0;
}
.login_icon_3{
	width:22px;
	height:22px;
	background:#009deb;
	color:#FFF;
	text-align:center;
	padding:3px 0 0 0;
}
.login_icon_4{
	width:22px;
	height:22px;
	background:#ff7373;
	color:#FFF;
	text-align:center;
	padding:3px 0 0 0;
}
strong{
	color:#333;
	font-size:16px;
	font-weight:normal;
	}

.login_br{
	margin:5px 0 0 0;
	color:#666;
	font-size:12px;
	}
.login_footer{
	text-align:center;
	font-size:12px;
	color:#666;
	padding:1% 0;
}
.login_up_color{
	color:#df5959;
}
.login_down_color{
	color:#369620;
}
.index span{
	padding:0 3px;	
}
.login_up{
	color:#df5959;
	font-style:normal;
}
.login_down{
	color:#369620;
	font-style:normal;
}
.login_box_opacity{
	background:#000;
	width:290px;
	height:315px;
	border-radius:4px;
	top:20%;
	left:67%;
	opacity:0.45;
	color:#FFF;
	z-index:2;
	position:absolute;	
}
.login_box{
	width:290px;
	height:315px;
	border-radius:4px;
	top:20%;
	left:67%;
	color:#FFF;
	z-index:3;
	position:absolute;
	display:none;		
}
.login_box_qr{
	width:290px;
	height:305px;
	border-radius:4px;
	top:20%;
	left:67%;
	color:#FFF;
	z-index:3;
	position:absolute;
	display:none;
}
.active{
	display:block;
	}
.login_box_qrimg{	
	margin:-10px 0 20px 80px;
	width:135px;
		
}
.pleaseusephone{
	text-align:center;
	font-size:16px;
	font-family:"ו";
}
.qrcode_target{
	position: absolute;
    width: 58px;
    height: 58px;
    display: block;
    top: 0;
    right: 0;
	background-image:url(../images/login_box_QRcode.png);
	background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;
}
.qrcode-target-hide {
    background-position: -262px -260px;
}
.qrcode-target-show {
    background-position: -201px -201px;
}
.login_box_loginsystem{
	font-size:20px;
	text-align:center;
	margin:30px 0 45px 0;
}
.retry{
	position:absolute;
	margin:-29px 0 0 26px;
	border:2px solid #de0442;
	color:#de0442;
	background:#ffe8e8;
	padding:2px 0;
	width:236px;
	}
.login_checkbox{
	margin-bottom:0;	
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{
	padding-top:3px;
}
.login_form-group{
	margin-bottom:20px;
}
.checkbox{
	font-size:12px;
	}
.login_box_remember{
	margin-top:15px;
}
.carousel-control.left,.carousel-control.right{
	top:35%;
	background:none;
	margin:0 1%;
	height:100px;
	width:40px;
}
.login_carousel a:hover{
	background:#000;
	opacity:0.5;	
}
.login_carousel a i{
	margin:100% 0;
}
.in_img {
	background-size:contain !important;	
	background-position: center !important;
	background-repeat: repeat-x !important;
	-ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.carousel-control {
	filter:none !important;
}
.img1{
	background:url("../images/logon/1.jpg");
}
.img2{
	background:url("../images/logon/2.jpg");
}
.img3{
	background:url("../images/logon/3.jpg");
}
.imgCJ{
	background:url("../images/logon/CJ.jpg");
}
.imgDW{
	background:url("../images/logon/DW.jpg");
}
.imgGQ{
	background:url("../images/logon/GQ.jpg");
}
.imgLD{
	background:url("../images/logon/LD.jpg");
}
.imgYD{
	background:url("../images/logon/YD.jpg");
}
.imgZQ{
	background:url("../images/logon/ZQ.jpg");
}
.img10{
	background:url("../images/10.jpg");
}
.logon-center-right{
	position:absolute;
	top:8px;
	right:35px;
}