<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.eqc.dao.query.AssEqUseRecordQueryMapper">
	
	<select id="queryEqUseMain" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			a.group_id,a.hos_id,a.copy_code,a.ur_rowid,
			a.analysis_code, 
			z.analysis_name,
			a.use_date,a.start_time,a.end_date,a.end_time,a.work_load_num,
			a.unit_code, d.unit_name ,	a.dept_code,e.dept_name ,
			a.patient_id,	a.patient_sex,a.patient_age,a.patient_name,
			a.price,a.total_fee,a.alone_pay_num,a.year,
			a.month, a.month || '月' month_name,
			a.charge_kind_id,f.charge_kind_name ,
			a.busi_data_source_code, h.busi_data_source_name ,
			a.ex_id,a.is_input_flag,
			a.status, case a.status when '0' then '新增' when '1' then '提交'when '2' then '审核' else '作废' end status_name ,
			a.invalid_flag,a.remark,a.doctor_order_id,a.operator,
			a.positive_flag,a.sample_no,a.exposure_num,a.start_date,
			a.other_info,
			a.add_user, su1.user_name add_user_name , a.add_date, a.add_time,
			a.update_user, su2.user_name update_user_name , a.update_date,a.update_time,
			a.cancel_date,a.cancel_time,a.cancel_user,su3.user_name cancel_user_name ,
			a.submit_date,a.submit_time,a.submit_user,su4.user_name submit_user_name ,
			a.audit_date,a.audit_time,a.audit_user,su5.user_name audit_user_name 
		FROM ASS_EQ_USE_RECORDM a

		left join hos_unit d
			on	a.group_id = d.group_id
			and a.hos_id = d.hos_id
			and a.unit_code = d.unit_code 
			and d.is_stop = 0
		left join hos_dept_dict e
			on	a.group_id = e.group_id
			and a.hos_id = e.hos_id
			and a.dept_code = e.dept_id ||',' ||e.dept_no 
		left join COST_CHARGE_KIND_ARRT f
			on	a.group_id = f.group_id
			and a.hos_id = f.hos_id
			and a.copy_code = f.copy_code
			and a.charge_kind_id = f.charge_kind_id 	
		left join COST_BUSI_SOUREC_DICT h
			on	a.busi_data_source_code = h.busi_data_source_code
		left join sys_user su1
			on	a.group_id = su1.group_id
			and a.hos_id = su1.hos_id
			and a.add_user = su1.user_id 
		left join sys_user su2
			on	a.group_id = su2.group_id
			and a.hos_id = su2.hos_id
			and a.update_user = su2.user_id 
		left join sys_user su3
			on	a.group_id = su3.group_id
			and a.hos_id = su3.hos_id
			and a.cancel_user = su3.user_id 
		left join sys_user su4
			on	a.group_id = su4.group_id
			and a.hos_id = su4.hos_id
			and a.submit_user = su4.user_id 
		left join sys_user su5
			on	a.group_id = su5.group_id
			and a.hos_id = su5.hos_id
			and a.audit_user = su5.user_id 
		left join ASS_Benefit_Analysis_Object  z
        	on  a.group_id = z.group_id
      		and a.hos_id = z.hos_id
      		and a.copy_code = z.copy_code
      		and a.analysis_code = z.analysis_code	
		where                     
				a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			<if test="analysis_code != null and analysis_code != ''">
			AND a.analysis_code = #{analysis_code}
			</if>			
			<if test="charge_kind_id != null and charge_kind_id != ''">
			AND a.charge_kind_id = #{charge_kind_id}
			</if>

			<if test="price != null and price != ''">
			AND a.price = #{price}
			</if>
			<if test="work_load_num != null and work_load_num != ''">
			AND a.work_load_num = #{work_load_num}
			</if>
			<if test="unit_code != null and unit_code != ''">
			AND a.unit_code = #{unit_code}
			</if>
			<if test="use_date != null and use_date != ''">
			AND a.use_date = to_date(#{use_date},'yyyy-MM-dd')
			</if>
			<if test="end_date != null and end_date != ''">
			AND a.end_date = to_date(#{end_date},'yyyy-MM-dd')
			</if>
			<if test="dept_code != null and dept_code != ''">
			AND a.dept_code = #{dept_code}
			</if>
			<if test="remark != null and remark != ''">
			AND a.remark = #{remark}
			</if>
			<if test="patient_id != null and patient_id != ''">
			AND (a.patient_id like #{patient_id}||'%' or a.patient_name like '%' || #{patient_id}||'%' )
			</if>
			<if test="start_time != null and start_time != ''">
			AND a.start_time = to_date(#{start_time},'yyyy-MM-dd')
			</if>
			<if test="year != null and year != ''">
			AND a.year = #{year}
			</if>
			<if test="month != null and month != ''">
			AND a.month = #{month}
			</if>
		order by analysis_code asc
	</select>
	
	<select id="queryEqUseDetail" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			a.group_id,a.hos_id,a.copy_code,a.ur_rowid,
			a.analysis_code, 
			z.analysis_name,
			a.use_date,a.start_time,a.end_date,a.end_time,a.work_load_num,
			a.unit_code, d.unit_name ,	a.dept_code,e.dept_name ,
			a.patient_id,	a.patient_sex,a.patient_age,a.patient_name,
			a.price,a.total_fee,a.alone_pay_num,a.year,
			a.month, a.month || '月' month_name,
			a.charge_item_id,f.charge_item_name ,
			a.busi_data_source_code, h.busi_data_source_name ,
			a.ex_id,a.is_input_flag,
			a.status, case a.status when '0' then '新增' when '1' then '提交'when '2' then '审核' else '作废' end status_name ,
			a.invalid_flag,a.remark,a.doctor_order_id,a.operator,
			a.positive_flag,a.sample_no,a.exposure_num,a.start_date,
			a.other_info,
			a.add_user, su1.user_name add_user_name , a.add_date, a.add_time,
			a.update_user, su2.user_name update_user_name , a.update_date,a.update_time,
			a.cancel_date,a.cancel_time,a.cancel_user,su3.user_name cancel_user_name ,
			a.submit_date,a.submit_time,a.submit_user,su4.user_name submit_user_name ,
			a.audit_date,a.audit_time,a.audit_user,su5.user_name audit_user_name 
		FROM ASS_EQ_USE_RECORDD a

		left join hos_unit d
			on	a.group_id = d.group_id
			and a.hos_id = d.hos_id
			and a.unit_code = d.unit_code 
			and d.is_stop = 0
		left join hos_dept_dict e
			on	a.group_id = e.group_id
			and a.hos_id = e.hos_id
			and a.dept_code = e.dept_id ||',' ||e.dept_no 
		left join COST_CHARGE_ITEM_ARRT f
			on	a.group_id = f.group_id
			and a.hos_id = f.hos_id
			and a.copy_code = f.copy_code
			and a.charge_item_id = f.charge_item_id 	
		left join COST_BUSI_SOUREC_DICT h
			on	a.busi_data_source_code = h.busi_data_source_code
		left join sys_user su1
			on	a.group_id = su1.group_id
			and a.hos_id = su1.hos_id
			and a.add_user = su1.user_id 
		left join sys_user su2
			on	a.group_id = su2.group_id
			and a.hos_id = su2.hos_id
			and a.update_user = su2.user_id 
		left join sys_user su3
			on	a.group_id = su3.group_id
			and a.hos_id = su3.hos_id
			and a.cancel_user = su3.user_id 
		left join sys_user su4
			on	a.group_id = su4.group_id
			and a.hos_id = su4.hos_id
			and a.submit_user = su4.user_id 
		left join sys_user su5
			on	a.group_id = su5.group_id
			and a.hos_id = su5.hos_id
			and a.audit_user = su5.user_id 
		left join ASS_Benefit_Analysis_Object  z
        	on  a.group_id = z.group_id
      		and a.hos_id = z.hos_id
      		and a.copy_code = z.copy_code
      		and a.analysis_code = z.analysis_code	
		where                     
				a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			<if test="analysis_code != null and analysis_code != ''">
			AND a.analysis_code = #{analysis_code}
			</if>			
			<if test="charge_item_id != null and charge_item_id != ''">
			AND a.charge_item_id = #{charge_item_id}
			</if>

			<if test="price != null and price != ''">
			AND a.price = #{price}
			</if>
			<if test="work_load_num != null and work_load_num != ''">
			AND a.work_load_num = #{work_load_num}
			</if>
			<if test="unit_code != null and unit_code != ''">
			AND a.unit_code = #{unit_code}
			</if>
			<if test="use_date != null and use_date != ''">
			AND a.use_date = to_date(#{use_date},'yyyy-MM-dd')
			</if>
			<if test="end_date != null and end_date != ''">
			AND a.end_date = to_date(#{end_date},'yyyy-MM-dd')
			</if>
			<if test="dept_code != null and dept_code != ''">
			AND a.dept_code = #{dept_code}
			</if>
			<if test="remark != null and remark != ''">
			AND a.remark = #{remark}
			</if>
			<if test="patient_id != null and patient_id != ''">
			AND (a.patient_id like #{patient_id}||'%' or a.patient_name like '%' || #{patient_id}||'%' )
			</if>
			<if test="start_time != null and start_time != ''">
			AND a.start_time = to_date(#{start_time},'yyyy-MM-dd')
			</if>
			<if test="year != null and year != ''">
			AND a.year = #{year}
			</if>
			<if test="month != null and month != ''">
			AND a.month = #{month}
			</if>
		order by analysis_code asc
	</select>

</mapper>

