<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiDeptBonusCalculationMapper">
	<resultMap type="com.chd.hrp.hpm.entity.AphiDeptBonusData" id="deptBonusCalculation">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acct_year" column="acct_year" />
		<result property="acct_month" column="acct_month" />
		<result property="item_code" column="item_code" />
		<result property="dept_id" column="dept_id"/>
		<result property="dept_no" column="dept_no"/>
		<result property="emp_code" column="emp_code" />
		<result property="item_name" column="item_name" />
		<result property="dept_name" column="dept_name" />
		<result property="bonus_money" column="bonus_money" />
		<result property="dept_kind_code" column="dept_kind_code" />
		<result property="dept_kind_name" column="dept_kind_name" />
		<result property="formula_code" column="formula_code" />
		<result property="method_code" column="method_code" />
		<result property="formula_name" column="formula_name" />
		<result property="formula_method_chs" column="formula_method_chs" />
		<result property="target_value_hosp" column="target_value_hosp" />
		<result property="target_value_dept_kind" column="target_value_dept_kind" />
		<result property="target_value_dept" column="target_value_dept" />

		<result property="target_code" column="target_code" />
		<result property="target_name" column="target_name" />
		<result property="target_nature" column="target_nature" />
	</resultMap>

	<select id="queryDeptBonusForBonusMoney" resultType="java.util.Map">
		SELECT
		'${acct_year_start}${acct_month_start}-${acct_year_end}${acct_month_end}' as year_month,
		<if test="sql != null and sql != ''">
			${sql}
		</if>
		<if test="sql_sum != null and sql_sum != ''">
			${sql_sum}
		</if>
		ad.dept_code,
		ad.dept_name
		FROM
		aphi_dept_bonus_data adbd
		left join aphi_dept_dict ad
		on
		adbd.group_id = ad.group_id
		and adbd.hos_id = ad.hos_id
		and adbd.copy_code = ad.copy_code
		and adbd.dept_id = ad.dept_id
		and adbd.dept_no = ad.dept_no

		<where>
			 adbd.group_id = #{group_id}
	              	AND adbd.hos_id = #{hos_id} 
                    AND adbd.copy_code = #{copy_code}
			   		AND adbd.acct_year  between #{acct_year_start} and #{acct_year_end}
               		AND adbd.acct_month  between #{acct_month_start} and #{acct_month_end}
			<if test="dept_id != null and dept_id != ''">
				AND adbd.dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND adbd.dept_no = #{dept_no}
			</if>
			<if test="nature_code != null and nature_code != ''">
				AND ad.nature_code in (${nature_code})
			</if>
			<if test="dept_kind_code != null and dept_kind_code != ''">
				AND ad.dept_kind_code = #{dept_kind_code}
			</if>
			and exists(
				select 1 from v_user_data_perm perm where perm.group_id = #{group_id}
				and perm.hos_id = #{hos_id} and perm.copy_code = #{copy_code}
				and perm.user_id = #{user_id}
				and perm.mod_code = '09' and perm.table_code = 'APHI_DEPT_DICT'
				and perm.perm_code = ad.dept_id and perm.is_read = 1 and perm.is_write = 1
		)
		</where>
		group by
		ad.dept_code,ad.dept_name
		order by ad.dept_code asc
	</select>
	
	
	<select id="queryDeptBonusForBonusMoneyPrint" resultType="java.util.Map">
		SELECT
		'${acct_year_start}${acct_month_start}-${acct_year_end}${acct_month_end}' as year_month,
		<if test="sql != null and sql != ''">
			${sql}
		</if>
		<if test="sql_sum != null and sql_sum != ''">
			${sql_sum}
		</if>
		ad.dept_code,
		ad.dept_name
		FROM
		aphi_dept_bonus_data adbd
		left join aphi_dept_dict ad
		on
		adbd.group_id =
		ad.group_id
		and adbd.hos_id = ad.hos_id
		and
		adbd.copy_code = ad.copy_code
		and adbd.dept_id = ad.dept_id
		and
		adbd.dept_no = ad.dept_no 
		<where>
			 adbd.group_id = #{group_id}
	              	AND adbd.hos_id = #{hos_id} 
                    AND adbd.copy_code = #{copy_code}
			   		AND adbd.acct_year  between #{acct_year_start} and #{acct_year_end}
               		AND adbd.acct_month  between #{acct_month_start} and #{acct_month_end}
			<if test="dept_id != null and dept_id != ''">
				AND adbd.dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND adbd.dept_no = #{dept_no}
			</if>
			<if test="nature_code != null and nature_code != ''">
				AND ad.nature_code in (${nature_code})
			</if>
			and exists(
				select 1 from v_user_data_perm perm where perm.group_id = #{group_id}
				and perm.hos_id = #{hos_id} and perm.copy_code = #{copy_code}
				and perm.user_id = #{user_id}
				and perm.mod_code = '09' and perm.table_code = 'APHI_DEPT_DICT'
				and perm.perm_code = ad.dept_id and perm.is_read = 1 and perm.is_write = 1
			)
		</where>
		group by
		ad.dept_code,ad.dept_name
		order by ad.dept_code asc
	</select>
</mapper>