<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.autovouch.AccBusiTemplateMapper">
 
	<resultMap id="accBusiTemplate" type="com.chd.hrp.acc.entity.autovouch.AccBusiTemplate">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="mod_code" column="mod_code" />
		<result property="busi_type_code" column="busi_type_code" />
		<result property="template_code" column="template_code" />
		<result property="template_name" column="template_name" />
		<result property="vouch_type_code" column="vouch_type_code" />
		<result property="vouch_type_name" column="vouch_type_name" />
		<result property="summary" column="summary" />
		<result property="is_detail_summary" column="is_detail_summary" />
	</resultMap>

	<select id="queryAccBusiTemplate" parameterType="java.util.Map" resultMap="accBusiTemplate">

select abt.group_id, abt.hos_id, abt.copy_code, abt.acc_year, abt.mod_code, abt.busi_type_code, 
       abt.template_code, abt.template_name, abt.vouch_type_code, abt.summary, abt.is_detail_summary,avt.vouch_type_name from acc_busi_template abt
left join acc_vouch_type avt on abt.group_id = avt.group_id and abt.hos_id = avt.hos_id and abt.copy_code = avt.copy_code and abt.vouch_type_code = avt.vouch_type_code
		
		where 
		
		abt.group_id = #{group_id} and abt.hos_id = #{hos_id} and abt.copy_code = #{copy_code} 
		
		<if test="acc_year != null and acc_year != ''">
				and abt.acc_year = #{acc_year}
		</if>
		<if test="mod_code != null and mod_code != ''">
				and abt.mod_code = #{mod_code}
		</if>
		<if test="busi_type_code != null and busi_type_code != ''">
				and abt.busi_type_code = #{busi_type_code}
		</if>
		<if test="template_code != null and template_code != ''">
				and abt.template_code = #{template_code}
		</if>
		
		order by abt.acc_year, abt.mod_code,abt.template_code
	</select>
	
		<select id="queryAccBusiTemplateByCode" parameterType="java.util.Map" resultMap="accBusiTemplate">

select abt.group_id, abt.hos_id, abt.copy_code, abt.acc_year, abt.mod_code, abt.busi_type_code, 
       abt.template_code, abt.template_name, abt.vouch_type_code, abt.summary, abt.is_detail_summary,avt.vouch_type_name from acc_busi_template abt
left join acc_vouch_type avt on abt.group_id = avt.group_id and abt.hos_id = avt.hos_id and abt.copy_code = avt.copy_code and abt.vouch_type_code = avt.vouch_type_code
		
		where 
		
		abt.group_id = #{group_id} and abt.hos_id = #{hos_id} and abt.copy_code = #{copy_code} 
		
		<if test="acc_year != null and acc_year != ''">
				and abt.acc_year = #{acc_year}
		</if>
		<if test="mod_code != null and mod_code != ''">
				and abt.mod_code = #{mod_code}
		</if>
		<if test="busi_type_code != null and busi_type_code != ''">
				and abt.busi_type_code = #{busi_type_code}
		</if>
		<if test="template_code != null and template_code != ''">
				and abt.template_code = #{template_code}
		</if>
		
		order by abt.acc_year, abt.mod_code,abt.template_code
	</select>
	
	<insert id="addAccBusiTemplate">
	
	insert into acc_busi_template
  (group_id, hos_id, copy_code, acc_year, mod_code, busi_type_code, template_code, template_name, vouch_type_code, summary, is_detail_summary)
values (
	#{group_id,jdbcType=INTEGER}, 
	#{hos_id,jdbcType=INTEGER}, 
	#{copy_code,jdbcType=VARCHAR}, 
	#{acc_year,jdbcType=VARCHAR}, 
	#{mod_code,jdbcType=VARCHAR}, 
	#{busi_type_code,jdbcType=VARCHAR}, 
	#{template_code,jdbcType=VARCHAR}, 
	#{template_name,jdbcType=VARCHAR}, 
	#{vouch_type_code,jdbcType=VARCHAR}, 
	#{summary,jdbcType=VARCHAR},
	#{is_detail_summary,jdbcType=INTEGER})

	</insert>
	<update id="updateAccBusiTemplate">

update acc_busi_template set 
	template_name =#{template_name,jdbcType=VARCHAR} , 
	vouch_type_code = #{vouch_type_code,jdbcType=VARCHAR} , 
	summary = #{summary,jdbcType=VARCHAR} ,
	is_detail_summary = #{is_detail_summary,jdbcType=INTEGER}
where 
	group_id = #{group_id,jdbcType=INTEGER} and 
	hos_id = #{hos_id,jdbcType=INTEGER} and 
	copy_code = #{copy_code,jdbcType=VARCHAR} and 
	acc_year = #{acc_year,jdbcType=VARCHAR} and 
	mod_code = #{mod_code,jdbcType=VARCHAR} and 
	busi_type_code = #{busi_type_code,jdbcType=VARCHAR} and 
	template_code = #{template_code,jdbcType=VARCHAR}
	

	</update>

	<delete id="deleteBatchAccBusiTemplate"  parameterType="java.util.List">
		delete acc_busi_template WHERE
		<foreach collection="list" index="index"  item="item" open="("  separator="or" close=")">

			group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and acc_year = #{item.acc_year}
			and mod_code = #{item.mod_code}
			and busi_type_code = #{item.busi_type_code}
			and template_code = #{item.template_code}

		</foreach>
	</delete>
	
	<select id="queryAccBusiRelaForMetaCode" parameterType="java.util.Map" resultType="java.util.Map">

select abr.meta_code, abm.meta_name, abm.type_table, abm.is_auto, abm.where_sql, abm.is_inout_type, abm.is_resource, abm.is_store,abm.kind_code from acc_busi_rela abr
left join acc_busi_meta abm on abr.group_id = abm.group_id and abr.hos_id = abm.hos_id and abr.copy_code = abm.copy_code and abr.meta_code = abm.meta_code

		where
		
		abr.group_id = #{group_id} and abr.hos_id = #{hos_id} and abr.copy_code = #{copy_code} 

		and abr.mod_code = #{mod_code} and  abr.busi_type_code = #{busi_type_code}
		
		order by abr.meta_code
	</select>
	
		<select id="queryAccBusiMetaByCode" parameterType="java.util.Map" resultType="com.chd.hrp.acc.entity.autovouch.AccBusiMeta">

select group_id, hos_id, copy_code, meta_code, meta_name, type_table, is_auto, where_sql, is_inout_type, is_resource, is_store from acc_busi_meta

		where
		
		group_id = #{group_id} and hos_id = #{hos_id} and copy_code = #{copy_code} 

		and meta_code = #{meta_code}
		
		order by meta_code
	</select>
	
	
		<select id="queryAccBusiRelaForAccSubj" parameterType="java.util.Map" resultType="java.util.Map">
		
select subj_id, subj_code, subj_name_all subj_name from acc_subj
		where
		
		group_id = #{group_id} and hos_id = #{hos_id} and copy_code = #{copy_code} and acc_year=#{acc_year} 
		and is_last=1
		<if test="where_sql != null and where_sql != ''">
				and ${where_sql}
		</if>
		<if test="subj_like != null and subj_like != ''">
				and (subj_code like '${subj_like}%'  or subj_name like '%${subj_like}%')
		</if>
		order by subj_code
	</select>
	
	<select id="queryAccBusiHosStore" parameterType="java.util.Map" resultType="java.util.Map">

        select 
          store_code,
          store_name,
          store_id
        from hos_store
		where
		
		group_id = #{group_id} and hos_id = #{hos_id} 
        
        and is_stop=0
        ${whereSql} 
        order by store_code
		
	</select>
	<select id="queryAccBusiHosResource" parameterType="java.util.Map" resultType="java.util.Map">

        select 
          
          source_code,
          source_name,
          source_id
        from HOS_SOURCE
		where
		
		group_id = #{group_id} and hos_id = #{hos_id} 
        
        and is_stop=0
        
		
	</select>
	
	<select id="queryAccBusiRelaForStoreAutoSet" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT a.${t_id_field} as id_field, a.${t_code_field} as code_field, a.${t_name_field} as name_field, 
			<if test="t_no_field != null and t_no_field != '' ">
				a.${t_no_field} 
			</if>
			<if test="t_no_field == null or t_no_field == '' ">
				'' 
			</if>
			as no_field, 
			b.group_id, b.hos_id, b.copy_code, b.acc_year, b.mod_code, b.meta_code, b.sub_type_id, 
			b.store_id, b.subj_code, c.subj_code || ' ' || c.subj_name_all as subj_name
		FROM ${table_id} a 
		LEFT JOIN acc_busi_map b 
			ON b.group_id = #{group_id,jdbcType=INTEGER} 
			AND b.hos_id = #{hos_id,jdbcType=INTEGER} 
			AND b.copy_code = #{copy_code,jdbcType=VARCHAR} 
			AND b.acc_year = #{acc_year,jdbcType=VARCHAR} 
			AND b.mod_code = #{mod_code,jdbcType=VARCHAR}
			AND b.meta_code = #{meta_code,jdbcType=VARCHAR}
			AND a.${t_id_field} = b.type_id 
			<if test="t_table_level != null and t_table_level > 0">
				AND a.group_id = b.group_id 
			</if>
			<if test="t_table_level != null and t_table_level > 1">
				AND a.hos_id = b.hos_id 
			</if>
			<if test="t_table_level != null and t_table_level > 2">
				AND a.copy_code = b.copy_code 
			</if>
			<if test="t_no_field != null">
				AND a.is_stop=0
			</if>
		LEFT JOIN acc_subj c 
			ON b.group_id = c.group_id 
			AND b.hos_id = c.hos_id 
			AND b.copy_code = c.copy_code 
			AND b.acc_year = c.acc_year 
			AND b.subj_code = c.subj_code 
		WHERE 1 = 1 
			<if test="t_table_level != null and t_table_level > 0">
				AND a.group_id = #{group_id,jdbcType=INTEGER} 
			</if>
			<if test="t_table_level != null and t_table_level > 1">
				AND a.hos_id = #{hos_id,jdbcType=INTEGER} 
			</if>
			<if test="t_table_level != null and t_table_level > 2">
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR} 
			</if>
			<if test="t_table_level != null and t_table_level > 3">
				AND a.${t_acc_year} = #{acc_year,jdbcType=VARCHAR} 
			</if>
			<if test="where_sql != null and where_sql != '' ">
				AND ${t_where_sql}
			</if>
			<if test="code_field != null and code_field != '' ">
				AND a.${t_code_field} like '${code_field}%'
			</if>
			<if test="level_field != null and level_field != '' ">
				AND a.${t_level_field} = #{level_field,jdbcType=INTEGER}
			</if>
			<if test="is_last != null and is_last != '' ">
				AND a.is_last = #{is_last,jdbcType=INTEGER}
			</if>
			<if test="is_set != null and is_set == 1 ">
				AND b.type_id IS NULL  
			</if>
		ORDER BY a.${t_code_field}
	</select>
	
	<select id="queryAccSubjForAutoSet" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT subj_code, subj_code || ' ' || subj_name_all subj_name
		FROM acc_subj 
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND acc_year = #{acc_year,jdbcType=VARCHAR}
			<if test="kind_code != null and kind_code != '' ">
				AND kind_code = #{kind_code,jdbcType=VARCHAR}
			</if> 
			<if test="where_sql != null and where_sql != '' ">
				AND ${where_sql}
			</if>
	</select>
	
	<delete id="deleteAccBusiMapByStore" parameterType="java.util.Map">
		DELETE FROM acc_busi_map 
		WHERE group_id = #{map.group_id,jdbcType=INTEGER}
			AND hos_id = #{map.hos_id,jdbcType=INTEGER}
			AND copy_code = #{map.copy_code,jdbcType=VARCHAR}
			AND acc_year = #{map.acc_year,jdbcType=VARCHAR}
			AND mod_code = #{map.mod_code,jdbcType=VARCHAR}
			AND meta_code = #{map.meta_code,jdbcType=VARCHAR}
			AND exists (
				SELECT 1 
				FROM (
					SELECT tmp1.${map.t_id_field} as type_id, tmp.store_id 
					FROM (
						<foreach collection="list" item="item" index="index" separator="union">
							SELECT 
								#{item.code_field,jdbcType=INTEGER} as code_field, 
								#{item.store_id,jdbcType=INTEGER} as store_id 
							 FROM DUAL 
						</foreach>
					)tmp 
					LEFT JOIN ${map.table_id} tmp1
						<if test="map.t_table_level == null or map.t_table_level == '' or map.t_table_level &lt;= 0">
							ON tmp1.${map.t_code_field} = tmp.code_field 
						</if>
						<if test="map.t_table_level != null and map.t_table_level > 0">
							ON tmp1.${map.t_code_field} like tmp.code_field || '%' 
							AND tmp1.group_id = #{map.group_id,jdbcType=INTEGER} 
						</if>
						<if test="map.t_table_level != null and map.t_table_level > 1">
							AND tmp1.hos_id = #{map.hos_id,jdbcType=INTEGER} 
						</if>
						<if test="map.t_table_level != null and map.t_table_level > 2">
							AND tmp1.copy_code = #{map.copy_code,jdbcType=VARCHAR} 
						</if>
						<if test="map.t_table_level != null and map.t_table_level > 3">
							AND tmp1.${map.t_acc_year} = #{map.acc_year,jdbcType=VARCHAR} 
						</if>
					GROUP BY tmp1.${map.t_id_field}, tmp.store_id 
				) tmp2 
				WHERE acc_busi_map.type_id = tmp2.type_id 
					AND (acc_busi_map.store_id IS NULL OR acc_busi_map.store_id = tmp2.store_id) 
			)
	</delete>
	
	<insert id="addAccBusiMapByStore" parameterType="java.util.Map">
		INSERT INTO acc_busi_map(
			group_id, hos_id, copy_code, acc_year, mod_code, meta_code, 
			type_id, sub_type_id, out_code, source_nature_code, store_id, subj_code
		)
		SELECT #{map.group_id,jdbcType=INTEGER} as group_id, 
			#{map.hos_id,jdbcType=INTEGER} as hos_id, 
			#{map.copy_code,jdbcType=VARCHAR} as copy_code, 
			#{map.acc_year,jdbcType=VARCHAR} as acc_year, 
			#{map.mod_code,jdbcType=VARCHAR} as mod_code, 
			#{map.meta_code,jdbcType=VARCHAR} as meta_code, 
			tmp1.${map.t_id_field} as type_id, 
			tmp1.${map.t_id_field} as sub_type_id, 
			null as out_code, 
			null as source_nature_code, 
			tmp.store_id as  store_id, 
			tmp.subj_code as subj_code 
		FROM (
			<foreach collection="list" item="item" index="index" separator="union all">
				SELECT #{item.type_id,jdbcType=INTEGER} as type_id, 
					#{item.code_field,jdbcType=VARCHAR} as code_field, 
					#{item.store_id,jdbcType=INTEGER} as store_id, 
					#{item.subj_code,jdbcType=VARCHAR} as subj_code
				FROM DUAL
			</foreach>
		)tmp 
		LEFT JOIN ${map.table_id} tmp1
			<if test="map.t_table_level == null or map.t_table_level == '' or map.t_table_level &lt;= 0">
				ON tmp1.${map.t_code_field} = tmp.code_field 
			</if>
			<if test="map.t_table_level != null and map.t_table_level > 0">
				ON tmp1.${map.t_code_field} like tmp.code_field || '%' 
				AND tmp1.group_id = #{map.group_id,jdbcType=INTEGER} 
			</if>
			<if test="map.t_table_level != null and map.t_table_level > 1">
				AND tmp1.hos_id = #{map.hos_id,jdbcType=INTEGER} 
			</if>
			<if test="map.t_table_level != null and map.t_table_level > 2">
				AND tmp1.copy_code = #{map.copy_code,jdbcType=VARCHAR} 
			</if>
			<if test="map.t_table_level != null and map.t_table_level > 3">
				AND tmp1.${map.t_acc_year} = #{map.acc_year,jdbcType=VARCHAR} 
			</if>
		GROUP BY tmp1.${map.t_id_field}, tmp.store_id, tmp.subj_code 
	</insert>
</mapper>

