<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.autovouch.AccPatientTypeMapper">

	<resultMap id="accPatientType" type="com.chd.hrp.acc.entity.autovouch.AccPatientType">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="patient_type_code" column="patient_type_code" />
		<result property="patient_type_name" column="patient_type_name" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="is_stop" column="is_stop" />
		<result property="note" column="note" />
	</resultMap>


	<insert id="addAccPatientType">

insert into acc_patient_type
  (group_id, hos_id, copy_code, patient_type_code, patient_type_name, spell_code, wbx_code, is_stop, note)
values(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{patient_type_code,jdbcType=VARCHAR},
			#{patient_type_name,jdbcType=VARCHAR},
			#{spell_code,jdbcType=VARCHAR},
			#{wbx_code,jdbcType=VARCHAR},
			#{is_stop,jdbcType=INTEGER},
			#{note,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteAccPatientType">
		
		delete acc_patient_type
		
 		where 
 		
 		group_id =  #{group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{hos_id,jdbcType=INTEGER}
   		
   		and copy_code = #{copy_code,jdbcType=VARCHAR}
   		 
   		and patient_type_code = #{patient_type_code,jdbcType=VARCHAR}

	</delete>
	
	<delete id="updateAccPatientType">
		
		update acc_patient_type set 
		
		patient_type_name = #{patient_type_name,jdbcType=VARCHAR},
		
		spell_code = #{spell_code,jdbcType=VARCHAR},
		
		wbx_code = #{wbx_code,jdbcType=VARCHAR},
		
		is_stop = #{is_stop,jdbcType=INTEGER},
		
		note = #{note,jdbcType=VARCHAR}
       
 		where
 		
 		group_id =  #{group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{hos_id,jdbcType=INTEGER}
   		
   		and copy_code = #{copy_code,jdbcType=VARCHAR}
   		 
   		and patient_type_code = #{patient_type_code,jdbcType=VARCHAR}

	</delete>
	
	<select id="queryAccPatientTypeByCode" parameterType="java.util.Map" resultMap="accPatientType">

select group_id, hos_id, copy_code, patient_type_code, patient_type_name, spell_code, wbx_code, is_stop, note from acc_patient_type

		where 
		
		group_id = #{group_id} and hos_id = #{hos_id} and copy_code = #{copy_code} 
		
		<if test="patient_type_code != null and patient_type_code != ''">
				and patient_type_code = #{patient_type_code}
		</if>
	
		order by patient_type_code
	</select>
	
	<select id="queryAccPatientType" parameterType="java.util.Map" resultMap="accPatientType">

select group_id, hos_id, copy_code, patient_type_code, patient_type_name, spell_code, wbx_code, is_stop, note from acc_patient_type

		where 
		
		group_id = #{group_id} and hos_id = #{hos_id} and copy_code = #{copy_code} 
		
		<if test="patient_type_code != null and patient_type_code != ''">
		
				and patient_type_code = #{patient_type_code}
				
		</if>

		order by patient_type_code
	</select>


</mapper>

