<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.organize.HosStationLevelMapper">
	
	<resultMap id="hrStationLevel" type="com.chd.hrp.hr.entity.orangnize.HosStationLevel">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="station_level_code" column="station_level_code"/>
		<result property="station_level_name" column="station_level_name"/>
		<result property="is_stop" column="is_stop"/>
		<result property="is_stop_name" column="is_stop_name" />
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
		<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO hos_station_level (
			group_id		,
			hos_id		,
			station_level_code		,
			station_level_name		
			<if test="is_stop!=null and is_stop!=''">
				,is_stop		
			</if>
			<if test="spell_code!=null and spell_code!=''">
				,spell_code		
			</if>
			<if test="wbx_code!=null and wbx_code!=''">
				,wbx_code		
			</if>
			<if test="note !=null ">
				,note
			</if>
		) VALUES (
			#{group_id,jdbcType=INTEGER}		,
			#{hos_id,jdbcType=INTEGER}		,
			#{station_level_code,jdbcType=VARCHAR}		,
			#{station_level_name,jdbcType=VARCHAR}		
			<if test="is_stop!=null and is_stop!=''">
				,#{is_stop,jdbcType=INTEGER}		
			</if>
			<if test="spell_code != null and spell_code != ''">
				,#{spell_code,jdbcType=VARCHAR}		
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				,#{wbx_code,jdbcType=VARCHAR}		
			</if>
			<if test="note !=null ">
				,#{note,jdbcType=VARCHAR}	
			</if>	
		)
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO hos_station_level (
				group_id		,
				hos_id		,
				station_level_code		,
				station_level_name		
				<if test="item.is_stop!=null and item.is_stop!=''">
					,is_stop		
				</if>
				<if test="item.note !=null ">
					,note
				</if>
				<if test="item.spell_code!=null and item.spell_code!=''">
					,spell_code		
				</if>
				<if test="item.wbx_code!=null and item.wbx_code!=''">
					,wbx_code		
				</if>
			) VALUES (
				#{item.group_id,jdbcType=INTEGER}		,
				#{item.hos_id,jdbcType=INTEGER}		,
				#{item.station_level_code,jdbcType=VARCHAR}		,
				#{item.station_level_name,jdbcType=VARCHAR}		
				<if test="item.is_stop!=null and item.is_stop!=''">
					,#{item.is_stop,jdbcType=INTEGER}		
				</if>
				<if test="item.note !=null ">
					,#{item.note,jdbcType=VARCHAR}	
				</if>
				<if test="item.spell_code != null and item.spell_code != ''">
					,#{item.spell_code,jdbcType=VARCHAR}		
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					,#{item.wbx_code,jdbcType=VARCHAR}		
				</if>	
			)
		</foreach>
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE hos_station_level set
			station_level_name = #{station_level_name,jdbcType=VARCHAR},
			is_stop = #{is_stop,jdbcType=INTEGER}
			<if test="spell_code!=null">
				,spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code!=null">
				,wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>		
			<if test="note!=null">
				,note = #{note,jdbcType=VARCHAR}
			</if>
		<where>                     
			 	group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND station_level_code = #{station_level_code,jdbcType=VARCHAR}
		</where>  
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hos_station_level set 
				station_level_name = #{item.station_level_name,jdbcType=VARCHAR}		,
				is_stop = #{item.is_stop,jdbcType=INTEGER}		
				<if test="item.spell_code!=null">
					,spell_code = #{item.spell_code,jdbcType=VARCHAR}
				</if>
				<if test="item.wbx_code!=null">
					,wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
				</if>	
				<if test="item.note!=null">
					,note = #{item.note,jdbcType=VARCHAR}
				</if>
			<where>                     
				 	group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND station_level_code = #{item.station_level_code,jdbcType=VARCHAR}
			</where>  
		</foreach>
	</update>
	
	<delete id="deleteHrStationLevel" parameterType="java.util.Map">
		DELETE FROM hos_station_level 
		<where>                     
			 	group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND station_level_code = #{station_level_code,jdbcType=VARCHAR}
		</where>  
	</delete>
	
	<delete id="deleteBatchHrStationLevel" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			DELETE FROM hos_station_level 
			<where>                     
				 	group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND station_level_code = #{item.station_level_code,jdbcType=VARCHAR}
			</where>  
		</foreach>
	</delete>
	
	<select id="queryStationLevel" parameterType="java.util.Map" resultMap="hrStationLevel" >
		SELECT 
			group_id,
			hos_id,
			station_level_code,
			station_level_name,
			case when is_stop = 0 then '否' when is_stop = 1 then '是'  else '' end is_stop_name ,
			note,
			spell_code,wbx_code
		FROM hos_station_level 
		<where>                     
			 	group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			<if test="station_level_code != null and station_level_code != ''">
				AND station_level_code like '%${station_level_code}%'
			</if>
			<if test="station_level_name != null and station_level_name != ''">
				AND station_level_name like '%${station_level_name}%'
			</if>
		</where>   
		order by station_level_code asc
	</select>
	
	
	<select id="queryStationLevelByPrint" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			group_id,
			hos_id,
			station_level_code,
			station_level_name,
			case when is_stop = 0 then '否' when is_stop = 1 then '是'  else '' end is_stop_name ,
			note,
			spell_code,wbx_code
		FROM hos_station_level 
		<where>                     
			 	group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			<if test="station_level_code != null and station_level_code != ''">
				AND station_level_code like '%${station_level_code}%'
			</if>
			<if test="station_level_name != null and station_level_name != ''">
				AND station_level_name like '%${station_level_name}%'
			</if>
		</where>   
		order by station_level_code asc
	</select>
	<select id="queryDutyLevelByCode" resultMap="hrStationLevel" parameterType="java.util.Map">
		SELECT 
			group_id,
			hos_id,
			station_level_code,
			station_level_name,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station_level 
		<where>
			 	group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND ( station_level_code = #{station_level_code})
		</where>
	</select>
	
	<select id="queryHrStationLevelByCode" resultMap="hrStationLevel"  parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			station_level_code,
			station_level_name,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station_level 
		WHERE 
				group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and (station_level_code = #{station_level_code,jdbcType=VARCHAR} or station_level_name = #{station_level_name,jdbcType=VARCHAR})
	</select>
	
	<select id="queryHrStationLevelByName" resultMap="hrStationLevel"  parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			station_level_code,
			station_level_name,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station_level 
		WHERE 
				group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and (station_level_name = #{station_level_name,jdbcType=VARCHAR})
	</select>
	
	<select id="queryByUniqueness" resultMap="hrStationLevel"  parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			station_level_code,
			station_level_name,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station_level 
		<where>                     
				group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND station_level_code = #{station_level_code,jdbcType=VARCHAR}
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryExists" resultMap="hrStationLevel"  parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			station_level_code,
			station_level_name,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station_level 
		<where>                     
				group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			<if test="station_level_code != null and station_level_code != ''">
			AND station_level_code = #{station_level_code,jdbcType=VARCHAR}
			</if>
			<if test="station_level_name != null and station_level_name != ''">
			AND station_level_name = #{station_level_name,jdbcType=VARCHAR}
			</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryListLevel" resultMap="hrStationLevel"  parameterType="java.util.Map">
	select a.station_level_code  from hos_station a
			<where> 
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">                    
				 	a.group_id = #{item.group_id,jdbcType=INTEGER}
				AND a.hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND a.station_level_code = #{item.station_level_code,jdbcType=VARCHAR}
		  
		</foreach>
			</where>
	</select>
			<resultMap type="java.util.Map" id="hrSelectMap">
		<result property="id" column="id" />
		<result property="text" column="text" />
		<result property="name" column="name" />
		<result property="label" column="label" />
		<result property="type" column="type" />
		<result property="is_write" column="is_write" />
	</resultMap>
<select id="queryStationLevelList" resultMap="hrSelectMap" parameterType="java.util.Map">
			select station_level_code as id, station_level_name as text
			from hos_station_level
			where group_id = #{group_id}
				and hos_id = #{hos_id}
			order by station_level_code
		</select>
</mapper>

