<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.organize.HosStationInfoMapper">

	<resultMap id="hrStation" type="com.chd.hrp.hr.entity.orangnize.HosStation">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="station_code" column="station_code" />
		<result property="station_name" column="station_name" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="duty_code" column="duty_code" />
		<result property="duty_name" column="duty_name" />
		<result property="station_level_code" column="station_level_code" />
		<result property="station_level_name" column="station_level_name" />
		<result property="is_stop" column="is_stop" />
		<result property="is_stop_name" column="is_stop_name" />
		<result property="note" column="note" />
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code" />
	</resultMap>

	<insert id="add" useGeneratedKeys="true">
		INSERT INTO hos_station (
				group_id,
				hos_id,
				station_code,
				station_name,
				duty_code,
				station_level_code,
				is_stop
				<if test="dept_id != null ">
					,dept_id
				</if>
				<if test="note != null ">
					,note
				</if>
				<if test="spell_code!=null and spell_code!=''">
					,spell_code		
				</if>
				<if test="wbx_code!=null and wbx_code!=''">
					,wbx_code		
				</if>
		) VALUES (
				#{group_id,jdbcType=INTEGER}				,
				#{hos_id,jdbcType=INTEGER}				,
				#{station_code,jdbcType=VARCHAR}				,
				#{station_name,jdbcType=VARCHAR}				,
				#{duty_code,jdbcType=VARCHAR}				,
				#{station_level_code,jdbcType=VARCHAR}				,
				#{is_stop,jdbcType=INTEGER}			
				<if test="dept_id != null ">
					,#{dept_id,jdbcType=INTEGER}
				</if>	
				<if test="note != null ">
					,#{note,jdbcType=VARCHAR}
				</if>
				<if test="spell_code != null and spell_code != ''">
					,#{spell_code,jdbcType=VARCHAR}		
				</if>
				<if test="wbx_code != null and wbx_code != ''">
					,#{wbx_code,jdbcType=VARCHAR}		
				</if>
		)
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO hos_station (
					group_id,
					hos_id,
					station_code,
					station_name,
					duty_code,
					station_level_code,
					is_stop
					<if test="item.dept_id != null ">
						,dept_id
					</if>
					<if test="item.note != null ">
						,note
					</if>
					<if test="item.spell_code!=null and item.spell_code!=''">
						,spell_code		
					</if>
					<if test="item.wbx_code!=null and item.wbx_code!=''">
						,wbx_code		
					</if>
			) VALUES (
					#{item.group_id,jdbcType=INTEGER}				,
					#{item.hos_id,jdbcType=INTEGER}				,
					#{item.station_code,jdbcType=VARCHAR}				,
					#{item.station_name,jdbcType=VARCHAR}				,
					#{item.duty_code,jdbcType=VARCHAR}				,
					#{item.station_level_code,jdbcType=VARCHAR}				,
					#{item.is_stop,jdbcType=INTEGER}
					<if test="item.dept_id != null ">
						,#{item.dept_id,jdbcType=INTEGER}
					</if>				
					<if test="item.note != null ">
						,#{item.note,jdbcType=VARCHAR}
					</if>
					<if test="item.spell_code != null and item.spell_code != ''">
						,#{item.spell_code,jdbcType=VARCHAR}		
					</if>
					<if test="item.wbx_code != null and item.wbx_code != ''">
						,#{item.wbx_code,jdbcType=VARCHAR}		
					</if>
			)
		</foreach>
	</insert>

	<update id="update" parameterType="java.util.Map">
		UPDATE hos_station set
			station_name = #{station_name,jdbcType=VARCHAR},
			duty_code = #{duty_code,jdbcType=VARCHAR},
			station_level_code = #{station_level_code,jdbcType=VARCHAR},
			is_stop = #{is_stop,jdbcType=INTEGER}
			<if test="dept_id != null ">
				,dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="note != null ">
				,note = #{note,jdbcType=VARCHAR}
			</if>
			<if test="spell_code!=null">
				,spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code!=null">
				,wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
		<where>
				group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND station_code = #{station_code,jdbcType=VARCHAR}
		</where>
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE hos_station set
				station_name = #{item.station_name,jdbcType=VARCHAR},
				duty_code = #{item.duty_code,jdbcType=VARCHAR},
				station_level_code = #{item.station_level_code,jdbcType=VARCHAR},
				is_stop = #{item.is_stop,jdbcType=INTEGER}
				<if test="item.dept_id != null ">
					,dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.spell_code!=null">
					,spell_code = #{item.spell_code,jdbcType=VARCHAR}
				</if>
				<if test="item.wbx_code!=null">
					,wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
				</if>	
				<if test="item.note!=null">
					,note = #{item.note,jdbcType=VARCHAR}
				</if>
			<where>
					group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND station_code = #{item.station_code,jdbcType=VARCHAR}
			</where>
		</foreach>
	</update>

	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM hos_station
		<where>
				group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			<if test="station_code != null and station_code != ''">
				AND station_code = #{station_code,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>
	
	<delete id="deleteBatchStationInfo" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			DELETE FROM hos_station 
			<where>                     
				 	group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND station_code = #{item.station_code,jdbcType=VARCHAR}
			</where>  
		</foreach>
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="hrStation">
		SELECT
			a.group_id,
			a.hos_id,
			a.station_code,
			a.station_name,
			b.dept_id,b.dept_no,b.dept_code||' '||b.dept_name dept_name,
			c.duty_code,c.duty_name,
			d.station_level_code,d.station_level_name,
			case when a.is_stop = 0 then '否' when a.is_stop = 1 then '是'  else '' end is_stop_name ,
			a.note,a.spell_code,a.wbx_code
		FROM hos_station a
		left join hos_dept_dict b on a.group_id=b.group_id and a.hos_id=b.hos_id and a.dept_id=b.dept_id and b.is_stop=0
		left join hos_duty c on a.group_id=c.group_id and a.hos_id=c.hos_id and a.duty_code=c.duty_code and c.is_stop=0
		left join hos_station_level d on a.group_id=d.group_id and a.hos_id=d.hos_id and a.station_level_code=d.station_level_code
		<!-- 	and d.is_stop = 0 -->
		<where>
					a.group_id = #{group_id,jdbcType=INTEGER}
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			<if test="station_code != null and station_code != ''">
				AND a.station_code like '%${station_code}%'
			</if>
			<if test="station_name != null and station_name != ''">
				AND a.station_name like '%${station_name}%'
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND a.is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND b.dept_code = #{dept_id}
			</if>
		</where>
		order by a.station_code asc
	</select>
	
	<select id="queryByCode" resultMap="hrStation" parameterType="java.util.Map">
		SELECT
			a.group_id, a.hos_id,
			a.station_code, a.station_name,
			nvl(b.dept_id,0) dept_id, b.dept_no, b.dept_code, b.dept_name,
			c.duty_code, c.duty_name,
			d.station_level_code, d.station_level_name,
			case when a.is_stop = 0 then '否' when a.is_stop = 1 then '是'  else '' end is_stop_name, a.is_stop,
			a.note, a.spell_code, a.wbx_code
		FROM hos_station a
		left join hos_dept_dict b on a.group_id=b.group_id and a.hos_id=b.hos_id and a.dept_id=b.dept_id and b.is_stop=0
		left join hos_duty c on a.group_id=c.group_id and a.hos_id=c.hos_id and a.duty_code=c.duty_code and c.is_stop=0
		left join hos_station_level d on a.group_id=d.group_id and a.hos_id=d.hos_id and a.station_level_code=d.station_level_code
			and d.is_stop = 0
		<where>
				a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.station_code = #{station_code, jdbcType=VARCHAR}
		</where>
	</select>
	
	<select id="queryInfoByCode" resultMap="hrStation" parameterType="java.util.Map">
		SELECT
			group_id,
			hos_id,
			station_code,
			station_name,
			dept_id,duty_code,station_level_code,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station
		where group_id=#{group_id}
			and hos_id = #{hos_id}
			and station_code = #{station_code}
	</select>
	
	<select id="queryInfoByName" resultMap="hrStation" parameterType="java.util.Map">
		SELECT
			group_id,
			hos_id,
			station_code,
			station_name,
			dept_id,duty_code,station_level_code,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station
		where group_id=#{group_id}
			and hos_id = #{hos_id}
			and (station_name = #{station_name})
	</select>
	
	
	<select id="queryByUniqueness" resultMap="hrStation" parameterType="java.util.Map">
		SELECT
			group_id,
			hos_id,
			station_code,
			station_name,
			dept_id,duty_code,station_level_code,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station
		<where>
				AND group_id = #{group_id,jdbcType=INTEGER}
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			<if test="station_code != null and station_code != ''">
				AND station_code = #{station_code,jdbcType=VARCHAR}
			</if>
			<if test="station_name != null and station_name != ''">
				AND station_name = #{station_name,jdbcType=VARCHAR}
			</if>
		</where>
		order by station_code asc
	</select>
	
	<select id="queryExists" resultMap="hrStation" parameterType="java.util.Map">

		SELECT
			group_id,
			hos_id,
			station_code,
			station_name,
			dept_id,duty_code,station_level_code,
			is_stop,
			note,spell_code,wbx_code
		FROM hos_station
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="station_code != null and station_code != ''">
				AND station_code = #{station_code,jdbcType=VARCHAR}
			</if>
			<if test="station_name != null and station_name != ''">
				AND station_name = #{station_name,jdbcType=VARCHAR}
			</if>
		</where>
		order by group_id asc
	</select>
	
	<select id="queryStationInfoPrint" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.group_id,
			a.hos_id,
			a.station_code,
			a.station_name,
			b.dept_id,b.dept_no,b.dept_code||' '||b.dept_name dept_name,
			c.duty_code,c.duty_name,
			d.station_level_code,d.station_level_name,
			case when a.is_stop = 0 then '否' when a.is_stop = 1 then '是'  else '' end is_stop_name ,
			a.note,a.spell_code,a.wbx_code
		FROM hos_station a
		left join hos_dept_dict b on a.group_id=b.group_id and a.hos_id=b.hos_id and a.dept_id=b.dept_id and b.is_stop=0
		left join hos_duty c on a.group_id=c.group_id and a.hos_id=c.hos_id and a.duty_code=c.duty_code and c.is_stop=0
		left join hos_station_level d on a.group_id=d.group_id and a.hos_id=d.hos_id and a.station_level_code=d.station_level_code
			and d.is_stop = 0
		<where>
					a.group_id = #{group_id,jdbcType=INTEGER}
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			<if test="station_code != null and station_code != ''">
				AND a.station_code like '%${station_code}%'
			</if>
			<if test="station_name != null and station_name != ''">
				AND a.station_name like '%${station_name}%'
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND a.is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND b.dept_code = #{dept_id}
			</if>
		</where>
		order by a.station_code asc
	</select>
	
	<select id="queryDeptInfoByCode" parameterType="java.util.Map" resultType="java.util.Map">
		select dept_id,dept_no,dept_code,dept_name
		from hos_dept_dict 
		where group_id=#{group_id} and hos_id=#{hos_id} and dept_code=#{dept_code} and is_stop = 0
	</select>
				<resultMap type="java.util.Map" id="hrSelectMap">
		<result property="id" column="id" />
		<result property="text" column="text" />
		<result property="name" column="name" />
		<result property="label" column="label" />
		<result property="type" column="type" />
		<result property="is_write" column="is_write" />
	</resultMap>
<select id="queryStationInfoList" resultMap="hrSelectMap" parameterType="java.util.Map">
			select station_code as id, station_name as text
			from hos_station
			where group_id = #{group_id}
				and hos_id = #{hos_id}
			order by station_code
		</select>
</mapper>

