<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.sell.in.AssSellInDetailOtherMapper">
	
	<resultMap id="assSellInDetailOther" type="com.chd.hrp.ass.entity.sell.in.AssSellInDetailOther">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="sell_in_no" column="sell_in_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_no" column="ass_no"/>
	<result property="ass_ori_card_no" column="ass_ori_card_no"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_model" column="ass_model"/>
	<result property="fac_id" column="fac_id"/>
	<result property="fac_no" column="fac_no"/>
	<result property="price" column="price"/>
	<result property="add_depre" column="add_depre"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="assSellInDetailOtherMap" type="java.util.Map">
			<result property="group_id" column="group_id"/>
			<result property="hos_id" column="hos_id"/>
			<result property="copy_code" column="copy_code"/>
			<result property="sell_in_no"           column="sell_in_no"           />
			<result property="ass_in_no"           column="ass_in_no"           />
			<result property="ass_id"              column="ass_id"              />
			<result property="ass_no"              column="ass_no"              />
			<result property="ass_spec"            column="ass_spec"            />
			<result property="ass_model"           column="ass_model"           />
			<result property="ass_brand"           column="ass_brand"           />
			<result property="fac_id"              column="fac_id"              />
			<result property="fac_no"              column="fac_no"              />
			<result property="unit_code"           column="unit_code"           />
			<result property="price"               column="price"               />
			<result property="add_depre"               column="add_depre"               />
			<result property="add_depre_month"               column="add_depre_month"               />
			<result property="cur_money"               column="cur_money"               />
			<result property="fore_money"               column="fore_money"               />
			<result property="note"                column="note"                />
			<result property="is_measure"          column="is_measure"          />
			<result property="is_depre "           column="is_depre "           />
			<result property="ass_depre_code"      column="ass_depre_code"      />
			<result property="depre_years"         column="depre_years"         />
			<result property="gb_code"             column="gb_code"             />
			<result property="is_bar"              column="is_bar"              />
			<result property="bar_type"            column="bar_type"            />
			<result property="is_manage_depre"     column="is_manage_depre"     />
			<result property="manage_depr_method"  column="manage_depr_method"  />
			<result property="manage_depre_amount" column="manage_depre_amount" />
			<result property="bus_type_code"       column="bus_type_code"       />
			<result property="in_store_id"            column="in_store_id"            />
			<result property="in_store_no"            column="in_store_no"            />
			<result property="out_group_id"              column="out_group_id"              />
			<result property="out_hos_id"              column="out_hos_id"              />
			<result property="out_store_id"            column="out_store_id"            />
			<result property="out_store_no"             column="out_store_no"             />
			<result property="ass_ori_card_no"         column="ass_ori_card_no"         />
			<result property="is_depre"            column="is_depre"        />
	</resultMap>
	
	
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ass_sell_in_detail_Other (
		group_id
		,
		hos_id
		,
		copy_code
		,
		sell_in_no
		,
		ass_id
		,
		ass_no
		,
		ass_ori_card_no
		,
		ass_brand
		,
		ass_spec
		,
		ass_model
		,
		fac_id
		,
		fac_no
		,
		price
		,
		add_depre
		,
		add_depre_month
		,
		cur_money
		,
		fore_money
		,
		note
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id}
			,
			#{item.hos_id}
			,
			#{item.copy_code}
			,
			#{item.sell_in_no}
			,
			#{item.ass_id}
			,
			#{item.ass_no}
			,
			#{item.ass_ori_card_no}
			,
			<if test="item.ass_brand != null and item.ass_brand != ''">#{item.ass_brand},</if>
			<if test="item.ass_brand == null or item.ass_brand == ''">null ass_brand,</if>
			
			
			<if test="item.ass_spec != null and item.ass_spec != ''">#{item.ass_spec},</if>
			<if test="item.ass_spec == null or item.ass_spec == ''">null ass_spec,</if>
			
			
			<if test="item.ass_model != null and item.ass_model != ''">#{item.ass_model},</if> 
			<if test="item.ass_model == null or item.ass_model == ''">null ass_model,</if> 
			
			
			<if test="item.fac_id != null and item.fac_id != ''">#{item.fac_id},</if>
			<if test="item.fac_id == null or item.fac_id == ''">null fac_id,</if>
			
			
			<if test="item.fac_no != null and item.fac_no != ''">#{item.fac_no},</if>
			<if test="item.fac_no == null or item.fac_no == ''">null fac_no,</if>
			
			
			<if test="item.price != null and item.price != ''">#{item.price},</if>
			<if test="item.price == null or item.price == ''">0 price,</if>
			
			
			<if test="item.add_depre != null and item.add_depre != ''">#{item.add_depre},</if>
			<if test="item.add_depre == null or item.add_depre == ''">0 add_depre,</if>
			
			
			<if test="item.add_depre_month != null and item.add_depre_month != ''">#{item.add_depre_month},</if>
			<if test="item.add_depre_month == null or item.add_depre_month == ''">null add_depre_month,</if>
			
			
			<if test="item.cur_money != null and item.cur_money != ''">#{item.cur_money},</if>
			<if test="item.cur_money == null or item.cur_money == ''">0 cur_money,</if>
			
			
			<if test="item.fore_money != null and item.fore_money != ''">#{item.fore_money},</if>
			<if test="item.fore_money == null or item.fore_money == ''">0 fore_money,</if>
			
			
			<if test="item.note != null and item.note != ''">#{item.note}</if>
			<if test="item.note == null or item.note == ''">null note</if>
		    from dual
		</foreach>
		)t
	</insert>
	
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_sell_in_detail_Other 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="sell_in_no != null and sell_in_no != ''">
		AND sell_in_no = #{sell_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_ori_card_no != null and ass_ori_card_no != ''">
		AND ass_ori_card_no = #{ass_ori_card_no,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_sell_in_detail_Other 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.sell_in_no != null and item.sell_in_no != ''">
				AND sell_in_no = #{item.sell_in_no,jdbcType=VARCHAR}
				</if>
				<if test="item.ass_id != null and item.ass_id != ''">
				AND ass_id = #{item.ass_id,jdbcType=INTEGER}
				</if>
				<if test="item.ass_no != null and item.ass_no != ''">
				AND ass_no = #{item.ass_no,jdbcType=INTEGER}
				</if>
				<if test="item.ass_ori_card_no != null and item.ass_ori_card_no != ''">
				AND ass_ori_card_no = #{item.ass_ori_card_no,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assSellInDetailOther" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.sell_in_no,
			a.ass_id||'@'||a.ass_no ass_id,
			a.ass_no,
			b.ass_code,
			b.ass_name,
			a.ass_ori_card_no,
			a.ass_brand,
			a.ass_spec,
			a.ass_model,
			a.fac_id||'@'||a.fac_no fac_id,
			a.fac_no,
			c.fac_code||' '||c.fac_name fac_name,
			a.price,
			a.add_depre,
			a.add_depre_month,
			a.cur_money,
			a.fore_money,
			a.note
		FROM ass_sell_in_detail_Other a
		
		left join ass_no_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_id = b.ass_id
		and b.is_stop = 0
		left join hos_fac_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.fac_id = c.fac_id
		and c.is_stop = 0
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="sell_in_no != null and sell_in_no != ''">
			AND a.sell_in_no = #{sell_in_no,jdbcType=VARCHAR}
			</if>
			<if test="ass_id != null and ass_id != ''">
			AND a.ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_no != null and ass_no != ''">
			AND a.ass_no = #{ass_no,jdbcType=INTEGER}
			</if>
			<if test="ass_ori_card_no != null and ass_ori_card_no != ''">
			AND a.ass_ori_card_no = #{ass_ori_card_no,jdbcType=VARCHAR}
			</if>
			<if test="ass_brand != null and ass_brand != ''">
			AND a.ass_brand = #{ass_brand,jdbcType=VARCHAR}
			</if>
			<if test="ass_spec != null and ass_spec != ''">
			AND a.ass_spec = #{ass_spec,jdbcType=VARCHAR}
			</if>
			<if test="ass_model != null and ass_model != ''">
			AND a.ass_model = #{ass_model,jdbcType=VARCHAR}
			</if>
			<if test="fac_id != null and fac_id != ''">
			AND a.fac_id = #{fac_id,jdbcType=INTEGER}
			</if>
			<if test="fac_no != null and fac_no != ''">
			AND a.fac_no = #{fac_no,jdbcType=INTEGER}
			</if>
			<if test="price != null and price != ''">
			AND a.price = #{price,jdbcType=INTEGER}
			</if>
			<if test="add_depre != null and add_depre != ''">
			AND a.add_depre = #{add_depre,jdbcType=INTEGER}
			</if>
			<if test="add_depre_month != null and add_depre_month != ''">
			AND a.add_depre_month = #{add_depre_month,jdbcType=INTEGER}
			</if>
			<if test="cur_money != null and cur_money != ''">
			AND a.cur_money = #{cur_money,jdbcType=INTEGER}
			</if>
			<if test="fore_money != null and fore_money != ''">
			AND a.fore_money = #{fore_money,jdbcType=INTEGER}
			</if>
			<if test="note != null and note != ''">
			AND a.note = #{note,jdbcType=VARCHAR}
			</if>
		</where>   
		order by a.ass_id asc
	</select>
	
	<select id="queryByInit" parameterType="java.util.Map" resultMap="assSellInDetailOtherMap" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.sell_in_no,
			a.sell_in_no ass_in_no,
			a.ass_ori_card_no,
			a.ass_id,
			a.ass_no,
			a.ass_spec,
			a.ass_model,
			a.ass_brand,
			a.fac_id,
			a.fac_no,
			b.ass_unit unit_code,
			a.price,
			a.add_depre,
			a.add_depre_month,
			a.cur_money,
			a.fore_money,
			a.note,
			b.is_measure,
			b.is_depre ,
			b.ass_depre_code,
			b.depre_years,
			b.gb_code,
			b.is_bar,
			b.bar_type,
			b.is_manage_depre,
			b.manage_depr_method,
			b.manage_depre_amount,
			d.bus_type_code,
			d.in_store_id,
			d.in_store_no,
			d.out_group_id,      
			d.out_hos_id,      
			d.out_store_id,  
			d.out_store_no
		FROM ASS_SELL_IN_DETAIL_Other a
		left join ass_no_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_id = b.ass_id
		and b.is_stop = 0
		left join ass_sell_in_Other d on
		a.group_id = d.group_id
		and a.hos_id = d.hos_id
		and a.copy_code = d.copy_code
		and a.sell_in_no = d.sell_in_no
		
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="sell_in_no != null and sell_in_no != ''">
		AND a.sell_in_no = #{sell_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND a.ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND a.ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_ids != null and ass_ids != ''">
		AND a.ass_id in (${ass_ids})
		</if>
		<if test="ass_nos != null and ass_nos != ''">
		AND a.ass_no in (${ass_nos})
		</if>
		</where>   
		order by a.ass_id asc
	</select>
	
	<select id="queryByAssInNo" resultMap="assSellInDetailOther"  parameterType="java.util.Map" >
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.sell_in_no,
			a.ass_id,
			a.ass_no,
			b.ass_code,
			b.ass_name,
			a.ass_ori_card_no,
			a.ass_brand,
			a.ass_spec,
			a.ass_model,
			a.fac_id,
			a.fac_no,
			c.fac_code,
			c.fac_name,
			a.price,
			a.add_depre,
			a.add_depre_month,
			a.cur_money,
			a.fore_money,
			a.note
		FROM ASS_SELL_IN_DETAIL_Other a
		
		left join ass_no_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_id = b.ass_id
		and b.is_stop = 0
		left join hos_fac_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.fac_id = c.fac_id
		and c.is_stop = 0
		WHERE 
		a.group_id = #{group_id,jdbcType=INTEGER}   and 
		a.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		a.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		a.sell_in_no = #{sell_in_no,jdbcType=VARCHAR}
	</select>
	
	
	<select id="queryByCode" resultMap="assSellInDetailOther"  parameterType="java.util.Map" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.sell_in_no,
			a.ass_id,
			a.ass_no,
			b.ass_code,
			b.ass_name,
			a.ass_ori_card_no,
			a.ass_brand,
			a.ass_spec,
			a.ass_model,
			a.fac_id,
			a.fac_no,
			c.fac_code,
			c.fac_name,
			a.price,
			a.add_depre,
			a.add_depre_month,
			a.cur_money,
			a.fore_money,
			a.note
		FROM ASS_SELL_IN_DETAIL_Other a
		
		left join ass_no_dict b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_id = b.ass_id
		and b.is_stop = 0
		left join hos_fac_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.fac_id = c.fac_id
		and c.is_stop = 0
		WHERE 
		a.group_id = #{group_id,jdbcType=INTEGER}   and 
		a.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		a.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		a.sell_in_no = #{sell_in_no,jdbcType=VARCHAR}   and 
		a.ass_id = #{ass_id,jdbcType=INTEGER}   and 
		a.ass_no = #{ass_no,jdbcType=INTEGER}   and 
		a.ass_ori_card_no = #{ass_ori_card_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assSellInDetailOther"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		sell_in_no,
		ass_id,
		ass_no,
		ass_ori_card_no,
		ass_brand,
		ass_spec,
		ass_model,
		fac_id,
		fac_no,
		price,
		add_depre,
		add_depre_month,
		cur_money,
		fore_money,
		note
		FROM ASS_SELL_IN_DETAIL_Other 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="sell_in_no != null and sell_in_no != ''">
		AND sell_in_no = #{sell_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_ori_card_no != null and ass_ori_card_no != ''">
		AND ass_ori_card_no = #{ass_ori_card_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		AND add_depre_month = #{add_depre_month,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assSellInDetailOther"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		sell_in_no,
		ass_id,
		ass_no,
		ass_ori_card_no,
		ass_brand,
		ass_spec,
		ass_model,
		fac_id,
		fac_no,
		price,
		add_depre,
		add_depre_month,
		cur_money,
		fore_money,
		note
		FROM ASS_SELL_IN_DETAIL_Other 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="sell_in_no != null and sell_in_no != ''">
		AND sell_in_no = #{sell_in_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_no != null and ass_no != ''">
		AND ass_no = #{ass_no,jdbcType=INTEGER}
		</if>
		<if test="ass_ori_card_no != null and ass_ori_card_no != ''">
		AND ass_ori_card_no = #{ass_ori_card_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_brand != null and ass_brand != ''">
		AND ass_brand = #{ass_brand,jdbcType=VARCHAR}
		</if>
		<if test="ass_spec != null and ass_spec != ''">
		AND ass_spec = #{ass_spec,jdbcType=VARCHAR}
		</if>
		<if test="ass_model != null and ass_model != ''">
		AND ass_model = #{ass_model,jdbcType=VARCHAR}
		</if>
		<if test="fac_id != null and fac_id != ''">
		AND fac_id = #{fac_id,jdbcType=INTEGER}
		</if>
		<if test="fac_no != null and fac_no != ''">
		AND fac_no = #{fac_no,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="add_depre != null and add_depre != ''">
		AND add_depre = #{add_depre,jdbcType=INTEGER}
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		AND add_depre_month = #{add_depre_month,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

