<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.fkht.breach.PactSPFKHTMapper">
	<resultMap id="pactSPFKHT"
		type="com.chd.hrp.pac.entity.fkht.breach.PactSPFKHTEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="sp_code" column="sp_code" />
		<result property="pact_code" column="pact_code" />
		<result property="sign_date" column="sign_date" />
		<result property="sup_id" column="sup_id" />
		<result property="sup_no" column="sup_no" />
		<result property="first_man" column="first_man" />
		<result property="second_man" column="second_man" />
		<result property="party" column="party" />
		<result property="sp_money" column="sp_money" />
		<result property="note" column="note" />
		<result property="depend" column="depend" />
		<result property="reason" column="reason" />
		<result property="state" column="state" />
		<result property="maker" column="maker" />
		<result property="make_date" column="make_date" />
		<result property="checker" column="checker" />
		<result property="check_date" column="check_date" />
		<result property="confirmer" column="confirmer" />
		<result property="confirm_date" column="confirm_date" />
		<result property="pact_type_code" column="pact_type_code" />
		
		<result property="sup_name" column="sup_name" />
		<result property="pact_name" column="pact_name" />
		<result property="party_name" column="party_name" />
		<result property="state_name" column="state_name" />
		<result property="maker_name" column="maker_name" />
		<result property="checker_name" column="checker_name" />
		<result property="confirmer_name" column="confirmer_name" />
	</resultMap>

	<select id="query" parameterType="java.util.Map"
		resultMap="pactSPFKHT">
		SELECT
			psf.SP_CODE,
			psf.SIGN_DATE,
			hs.SUP_NAME,
			psf.PACT_CODE,
			mf.PACT_NAME,
			psf.SP_MONEY,
			dd2.VALUE_NAME AS party_name,
			psf.STATE,
			psf.NOTE,
			dd.VALUE_NAME AS state_name,
			he.USER_NAME AS maker_name,
			he1.USER_NAME AS checker_name,
			he2.USER_NAME AS confirmer_name
		FROM
			PACT_SP_FKHT psf
			LEFT JOIN PACT_MAIN_FKHT mf ON psf.GROUP_ID = mf.GROUP_ID AND psf.HOS_ID = mf.HOS_ID AND psf.COPY_CODE = mf.COPY_CODE AND psf.PACT_CODE = mf.PACT_CODE
			LEFT JOIN HOS_SUP hs ON hs.GROUP_ID = psf.GROUP_ID AND hs.HOS_ID = psf.HOS_ID AND hs.SUP_ID = psf.SUP_NO
			LEFT JOIN sys_user he ON he.GROUP_ID = psf.GROUP_ID AND he.HOS_ID = psf.HOS_ID AND he.USER_ID = psf.MAKER
			LEFT JOIN sys_user he1 ON he1.GROUP_ID = psf.GROUP_ID AND he1.HOS_ID = psf.HOS_ID AND he1.USER_ID = psf.CHECKER
			LEFT JOIN sys_user he2 ON he2.GROUP_ID = psf.GROUP_ID AND he2.HOS_ID = psf.HOS_ID AND he2.USER_ID = psf.CONFIRMER
			LEFT JOIN PACT_DICT_DATA dd ON dd.VALUE_CODE = psf.STATE AND dd.F_CODE = 'STATE'
			LEFT JOIN PACT_DICT_DATA dd2 ON dd2.VALUE_CODE = psf.PARTY AND dd2.F_CODE = 'PARTY'
		<where>
			psf.GROUP_ID=#{group_id,jdbcType=NUMERIC}
			and psf.HOS_ID=#{hos_id,jdbcType=NUMERIC}
			and psf.COPY_CODE=#{copy_code,jdbcType=VARCHAR}
			<if test="state != null and state != ''">
				and psf.STATE=#{state,jdbcType=VARCHAR}
			</if>
			<if test="first_man != null and first_man != ''">
				and psf.FIRST_MAN=#{first_man,jdbcType=NUMERIC}
			</if>
			<if test="party != null and party != ''">
				and psf.party=#{party,jdbcType=NUMERIC}
			</if>
			<if test="note != null and note != ''">
				and psf.note like '%'||#{note,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pact_name != null and pact_name != ''">
				and mf.pact_name like '%'||#{pact_name,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pact_code != null and pact_code != ''">
				and psf.pact_code like '%'||upper(#{pact_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_type_code != null and pact_type_code != ''">
				and mf.pact_type_code=#{pact_type_code,jdbcType=VARCHAR}
			</if>
			<if test="sup_no != null and sup_no != ''">
				and psf.sup_no=#{sup_no,jdbcType=VARCHAR}
			</if>
			<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and psf.SIGN_DATE BETWEEN
				to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd') AND
				to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
			</if>
		</where>
	</select>

	<select id="queryForPrint" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
			psf.SP_CODE,
			psf.SIGN_DATE,
			hs.SUP_NAME,
			psf.PACT_CODE,
			mf.PACT_NAME,
			psf.SP_MONEY,
			dd2.VALUE_NAME AS party_name,
			psf.STATE,
			psf.NOTE,
			dd.VALUE_NAME AS state_name,
			he.USER_NAME AS maker_name,
			he1.USER_NAME AS checker_name,
			he2.USER_NAME AS confirmer_name
		FROM
			PACT_SP_FKHT psf
			LEFT JOIN PACT_MAIN_FKHT mf ON psf.GROUP_ID = mf.GROUP_ID AND psf.HOS_ID = mf.HOS_ID AND psf.COPY_CODE = mf.COPY_CODE AND psf.PACT_CODE = mf.PACT_CODE
			LEFT JOIN HOS_SUP hs ON hs.GROUP_ID = psf.GROUP_ID AND hs.HOS_ID = psf.HOS_ID AND hs.SUP_ID = psf.SUP_NO
			LEFT JOIN sys_user he ON he.GROUP_ID = psf.GROUP_ID AND he.HOS_ID = psf.HOS_ID AND he.USER_ID = psf.MAKER
			LEFT JOIN sys_user he1 ON he1.GROUP_ID = psf.GROUP_ID AND he1.HOS_ID = psf.HOS_ID AND he1.USER_ID = psf.CHECKER
			LEFT JOIN sys_user he2 ON he2.GROUP_ID = psf.GROUP_ID AND he2.HOS_ID = psf.HOS_ID AND he2.USER_ID = psf.CONFIRMER
			LEFT JOIN PACT_DICT_DATA dd ON dd.VALUE_CODE = psf.STATE AND dd.F_CODE = 'STATE'
			LEFT JOIN PACT_DICT_DATA dd2 ON dd2.VALUE_CODE = psf.PARTY AND dd2.F_CODE = 'PARTY'
		<where>
			psf.GROUP_ID=#{group_id,jdbcType=NUMERIC}
			and psf.HOS_ID=#{hos_id,jdbcType=NUMERIC}
			and psf.COPY_CODE=#{copy_code,jdbcType=VARCHAR}
			<if test="state != null and state != ''">
				and psf.STATE=#{state,jdbcType=VARCHAR}
			</if>
			<if test="first_man != null and first_man != ''">
				and psf.FIRST_MAN=#{first_man,jdbcType=NUMERIC}
			</if>
			<if test="party != null and party != ''">
				and psf.party=#{party,jdbcType=NUMERIC}
			</if>
			<if test="note != null and note != ''">
				and psf.note like '%'||#{note,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pact_name != null and pact_name != ''">
				and mf.pact_name like '%'||#{pact_name,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pact_code != null and pact_code != ''">
				and psf.pact_code like upper(#{pact_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_type_code != null and pact_type_code != ''">
				and mf.pact_type_code=#{pact_type_code,jdbcType=VARCHAR}
			</if>
			<if test="sup_no != null and sup_no != ''">
				and psf.sup_no=#{sup_no,jdbcType=VARCHAR}
			</if>
			<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and psf.SIGN_DATE BETWEEN
				to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd') AND
				to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
			</if>
		</where>
	</select>
	
	<select id="queryByCode" parameterType="java.util.Map"
		resultMap="pactSPFKHT">
		SELECT
		psf.SP_code ,
		psf.sup_no ,
		hs.sup_name,
		psf.pact_code ,
		mf.pact_type_code,
		mf.pact_name,
		psf.sign_date,
		psf.party ,
		psf.sp_money ,
		psf.first_man ,
		psf.second_man ,
		psf.note,
		psf.reason ,
		psf.depend,
		psf.state
		FROM
		PACT_SP_FKHT psf
		LEFT JOIN PACT_MAIN_FKHT mf ON psf.GROUP_ID = mf.GROUP_ID AND psf.HOS_ID = mf.HOS_ID AND psf.COPY_CODE = mf.COPY_CODE AND psf.PACT_CODE = mf.PACT_CODE
		LEFT JOIN HOS_SUP hs ON hs.GROUP_ID = psf.GROUP_ID AND hs.HOS_ID = psf.HOS_ID AND hs.SUP_ID = psf.SUP_NO
		WHERE
		psf.group_id=#{group_id,jdbcType=NUMERIC}
		and psf.hos_id=#{hos_id,jdbcType=NUMERIC}
		and psf.copy_code=#{copy_code,jdbcType=VARCHAR}
		and psf.sp_code = #{sp_code,jdbcType=VARCHAR}
		and psf.pact_code = #{pact_code,jdbcType=VARCHAR}
	</select>

	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_SP_FKHT (
		group_id ,
		hos_id ,
		copy_code ,
		sp_code,
		pact_code ,
		sign_date ,
		sup_id ,
		sup_no ,
		first_man ,
		second_man ,
		party ,
		sp_money ,
		note ,
		depend ,
		reason ,
		state ,
		maker ,
		make_date ,
		checker ,
		check_date ,
		confirmer ,
		confirm_date
		)
		VALUES(
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{sp_code,jdbcType=VARCHAR},
		#{pact_code,jdbcType=VARCHAR},
		to_timestamp(#{sign_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		#{sup_id,jdbcType= NUMERIC},
		#{sup_no,jdbcType=NUMERIC},
		#{first_man,jdbcType=NUMERIC},
		#{second_man,jdbcType= VARCHAR},
		#{party,jdbcType= VARCHAR},
		#{sp_money,jdbcType= NUMERIC},
		#{note,jdbcType=VARCHAR},
		#{depend,jdbcType=VARCHAR},
		#{reason,jdbcType=VARCHAR},
		#{state,jdbcType=VARCHAR},
		#{maker,jdbcType=NUMERIC},
		to_timestamp(#{make_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		#{checker,jdbcType=NUMERIC},
		#{check_date,jdbcType=TIMESTAMP},
		#{confirmer,jdbcType=NUMERIC},
		#{confirm_date,jdbcType=TIMESTAMP}
		)
	</insert>


	<update id="updateState" parameterType="java.util.Map">
		UPDATE PACT_SP_FKHT SET
		<if test="state == '03'">
			confirmer=#{confirmer,jdbcType=NUMERIC},
			confirm_date=#{confirm_date,jdbcType=TIMESTAMP},
		</if>
		<if test="state == '02'">
			<if test="checker != null and checker != ''">
				checker=#{checker,jdbcType=NUMERIC},
				check_date=#{check_date,jdbcType=TIMESTAMP},
			</if>
			confirmer=#{confirmer,jdbcType=NUMERIC},
			confirm_date=#{confirm_date,jdbcType=TIMESTAMP},
		</if>
		<if test="state == '01'">
			checker=#{checker,jdbcType=NUMERIC},
			check_date=#{check_date,jdbcType=TIMESTAMP},
		</if>
		state=#{state,jdbcType=NUMERIC}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC} 
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR} and
		<foreach collection="list" item="item" index="index" separator="or">
			pact_code = #{item.pact_code,jdbcType=VARCHAR}
			AND sp_code = #{item.sp_code,jdbcType=VARCHAR}
		</foreach>
	</update>


	<update id="update" parameterType="java.util.Map">
		UPDATE PACT_SP_FKHT SET
		sign_date=to_timestamp(#{sign_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		party=#{party,jdbcType=VARCHAR},
		sp_money=#{sp_money,jdbcType=NUMERIC},
		first_man=#{first_man,jdbcType=VARCHAR},
		second_man=#{second_man,jdbcType=VARCHAR},
		note=#{note,jdbcType=NUMERIC},
		reason=#{reason,jdbcType=VARCHAR},
		depend=#{depend,jdbcType=VARCHAR}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND sp_code = #{sp_code,jdbcType=VARCHAR}
		and	pact_code=#{pact_code,jdbcType=VARCHAR}
	</update>


	<delete id="deleteAllBatch">
		DELETE FROM PACT_SP_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND sp_code = #{item.sp_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteByPactCodeList">
		DELETE FROM PACT_SP_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteByPactCode" parameterType="java.util.Map">
		DELETE FROM
		PACT_SP_FKHT WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		and HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
	</delete>
</mapper>