<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.base.budgcostfasset.BudgAssetTypyCostShipMapper">
	
	<resultMap id="budgAssetTypyCostShip" type="com.chd.hrp.budg.entity.BudgAssetTypyCostShip">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="asset_type_id" column="asset_type_id"/>
	<result property="subj_code" column="subj_code"/>
	</resultMap>
		
	<resultMap id="budgAssetTypyCostShipMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="asset_type_id" column="asset_type_id"/>
	<result property="asset_type_code" column="asset_type_code"/>
	<result property="asset_type_name" column="asset_type_name"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	</resultMap>
	
	<resultMap id="itemMap" type="java.util.Map">
	<result property="id" column="id"/>
	<result property="text" column="text"/>
	</resultMap>
	
	<resultMap id="HosRulesMap" type="java.util.Map">
		<result property="max_level" column="max_level" />
		<result property="max_length" column="max_length" />
		<result property="level1" column="level1" />
		<result property="level2" column="level2" />
		<result property="level3" column="level3" />
		<result property="level4" column="level4" />
		<result property="level5" column="level5" />
		<result property="level6" column="level6" />
		<result property="level7" column="level7" />
		<result property="level8" column="level8" />
		<result property="level9" column="level9" />
		<result property="level10" column="level10" />
	</resultMap>
	
	<resultMap type="java.util.Map" id="budgSubjMap">
		<result property="id" column="id"/>
		<result property="text" column="text"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO BUDG_ASSET_TYPY_COST_SHIP (
			group_id,hos_id,copy_code,budg_year,asset_type_id,subj_code
		) VALUES (
			#{group_id,jdbcType=INTEGER},#{hos_id,jdbcType=INTEGER},#{copy_code,jdbcType=VARCHAR},
			#{budg_year,jdbcType=VARCHAR},#{asset_type_id,jdbcType=INTEGER},#{subj_code,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List" >
		INSERT INTO BUDG_ASSET_TYPY_COST_SHIP (
			group_id,hos_id,copy_code,budg_year,asset_type_id,subj_code		
		)
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER},#{item.hos_id,jdbcType=INTEGER},#{item.copy_code,jdbcType=VARCHAR},
				#{item.budg_year,jdbcType=VARCHAR},#{item.asset_type_id,jdbcType=INTEGER},#{item.subj_code,jdbcType=VARCHAR}
		    from dual
		</foreach>
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_asset_typy_cost_ship set 
			subj_code = #{subj_code,jdbcType=VARCHAR}
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND asset_type_id = #{asset_type_id,jdbcType=INTEGER}
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_asset_typy_cost_ship  set
				subj_code = #{item.subj_code,jdbcType=VARCHAR}
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND asset_type_id = #{item.asset_type_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM budg_asset_typy_cost_ship 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			AND asset_type_id = #{asset_type_id,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_asset_typy_cost_ship 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				AND asset_type_id = #{item.asset_type_id,jdbcType=INTEGER}
				<if test="item.subj_code != null and item.subj_code != ''">
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="budgAssetTypyCostShipMap" >
		SELECT 
		a.group_id,a.hos_id,a.copy_code,a.budg_year,
		a.asset_type_id,atc.ass_type_code asset_type_code,atc.ass_type_name as asset_type_name,
		a.subj_code,bcs.subj_name
		FROM BUDG_ASSET_TYPY_COST_SHIP a 
		Left  join ass_type_dict atc
			ON 	
				a.group_id  = atc.group_id 
				and a.hos_id  = atc.hos_id 
				and a.copy_code  = atc.copy_code 
				and a.asset_type_id = atc.ass_type_id 
		Left  join budg_cost_subj bcs
			ON 	
				a.group_id  = bcs.group_id 
				and a.hos_id  = bcs.hos_id 
				and a.copy_code  = bcs.copy_code 
				and a.budg_year = bcs.budg_year
				and a.subj_code  = bcs.subj_code 
		<where>                     
			AND a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND a.budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="asset_type_id != null and asset_type_id != ''">
			AND a.asset_type_id = #{asset_type_id,jdbcType=INTEGER}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND a.subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
		</where>   
		order by a.asset_type_id asc
	</select>
	
	<select id="queryByCode" resultMap="budgAssetTypyCostShip"  parameterType="java.util.Map" >
		SELECT 
		group_id,hos_id,copy_code,budg_year,asset_type_id,subj_code
		FROM budg_asset_typy_cost_ship 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   
		and hos_id = #{hos_id,jdbcType=INTEGER} 
		and copy_code = #{copy_code,jdbcType=VARCHAR} 
		and budg_year = #{budg_year,jdbcType=VARCHAR} 
		and asset_type_id = #{asset_type_id,jdbcType=INTEGER}  
	</select>
	
	<select id="queryByUniqueness" resultMap="budgAssetTypyCostShip"  parameterType="java.util.Map" >
		SELECT 
		group_id,hos_id,copy_code,budg_year,asset_type_id,subj_code
		FROM BUDG_ASSET_TYPY_COST_SHIP 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		<if test="asset_type_id != null and asset_type_id != ''">
		AND asset_type_id = #{asset_type_id,jdbcType=INTEGER}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		</where>   
		order by asset_type_id asc
	</select>
	<select id="queryExists" resultMap="budgAssetTypyCostShip"  parameterType="java.util.Map" >
		SELECT 
		group_id,hos_id,copy_code,budg_year,asset_type_id,subj_code
		FROM BUDG_ASSET_TYPY_COST_SHIP 
		<where>                     
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="asset_type_id != null and asset_type_id != ''">
			AND asset_type_id = #{asset_type_id,jdbcType=INTEGER}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
		</where>   
		order by asset_type_id asc
	</select>
	
	<!-- 编码规则 -->
	<select id="getHosRules" parameterType="java.util.Map"
		resultMap="HosRulesMap">
		SELECT distinct max_level ,max_length,
		level1,level2,level3,level4,level5,level6,level7,level8,level9,level10
		from hos_rules
		where group_id =#{group_id,jdbcType=INTEGER}
			and hos_id = #{hos_id,jdbcType=INTEGER}
			and copy_code = #{copy_code}
		and proj_name = #{proj_name,jdbcType=VARCHAR}
	</select>
	
	<!-- 固定资产类别 下拉框 -->
	<select id="queryAssTypes" resultMap="itemMap">
		select 
		ass_type_id id ,
		ass_type_code||' '||ass_type_name text 
		from ASS_TYPE_DICT
		<where>
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="key != null and key != ''">
				and (	ass_type_code like '${key}%' or
					ass_type_name like '%${key}%' or
					spell_code like '%${key}%' or
					wbx_code like '%${key}%' 
				)
			</if>
		</where>
		order by ass_type_code
	</select>
	
	<!-- 固定资产类别 下拉框 若某资产分类维护了对应关系，则以其编码为前缀的其他资产分类均不可被选中，其各层上级也不可以被选中 -->
	<select id="queryAssTypesFilter" resultMap="itemMap">
		with temp as
		 (select b.ass_type_code, b.type_level, b.super_code
		    from BUDG_ASSET_TYPY_COST_SHIP a
		    left join ass_type_dict b
		      on a.group_id = b.group_id
		     and a.hos_id = b.hos_id
		     and a.copy_code = b.copy_code
		     and a.asset_type_id = b.ass_type_id),
		
		t as
		 (select ass_type_code
		    from ass_type_dict a
		   where a.group_id = #{group_id,jdbcType=INTEGER}
		     and a.hos_id = #{hos_id,jdbcType=INTEGER}
		     and a.copy_code = #{copy_code,jdbcType=VARCHAR}
		   start with a.ass_type_code in (select b.ass_type_code from temp b)
		  connect by PRIOR a.ass_type_code = a.super_code
		  
		  union
		  select ass_type_code
		    from ass_type_dict a
		   where a.group_id = #{group_id,jdbcType=INTEGER}
		     and a.hos_id = #{hos_id,jdbcType=INTEGER}
		     and a.copy_code = #{copy_code,jdbcType=VARCHAR}
		   start with a.ass_type_code in (select b.ass_type_code from temp b)
		  connect by PRIOR a.super_code = a.ass_type_code)
		select 
		atd.ass_type_id  id ,
		atd.ass_type_code||' '||atd.ass_type_name as text
		from ASS_TYPE_DICT atd
		where
			 atd.group_id = #{group_id,jdbcType=INTEGER}
			AND atd.hos_id = #{hos_id,jdbcType=INTEGER}
			AND atd.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND atd.is_stop = 0
			and atd.ass_type_code not in  (
		      select ass_type_code from t
		      )
			<if test="key != null and key != ''">
				and (	atd.ass_type_code like '${key}%' or
					atd.ass_type_name like '%${key}%' or
					atd.spell_code like '%${key}%' or
					atd.wbx_code like '%${key}%' 
				)
			</if>
		order by atd.ass_type_code
	</select>
	
	<!-- 支出预算科目下拉框-->
	<select id="queryBudgSubj" resultMap="budgSubjMap">
		SELECT
			bcs.subj_code  id ,
			bcs.subj_code || ' ' || bcs.subj_name text
		FROM budg_cost_subj bcs
		<where>
			not exists (
	          select 1 from BUDG_ASSET_TYPY_COST_SHIP b
	          where bcs.group_id = b.group_id
	          and bcs.hos_id = b.hos_id
	          and bcs.copy_code = b.copy_code
	          and bcs.budg_year = b.budg_year
	          and bcs.subj_code = b.subj_code
			)
			AND bcs.group_id = #{group_id}
			AND bcs.hos_id = #{hos_id} 
			AND bcs.copy_code = #{copy_code}
			AND bcs.budg_year = #{budg_year}
			<if test="is_last != null and is_last != '' ">
				AND bcs.is_last = #{is_last}
			</if>
			<if test="key != null and key != ''">
				AND ( bcs.subj_code like '${key}%' or
					bcs.subj_name like '%${key}%' or 
					bcs.spell_code like '%${key}%' or
					bcs.wbx_code like '%${key}%' )
			</if>
		</where>
		<if test="subj_code != null and subj_code != ''">
			UNION
		SELECT
		bcs2.subj_code  id ,
		bcs2.subj_code || ' ' || bcs2.subj_name text
		FROM budg_cost_subj bcs2
		where
		    bcs2.group_id = #{group_id}
			AND bcs2.hos_id = #{hos_id} 
			AND bcs2.copy_code = #{copy_code}
			AND bcs2.budg_year = #{budg_year}
			AND bcs2.subj_code = #{subj_code}
			
		</if>
		order by id
	</select>
	
	<!-- 查询支出预算科目是否存在-->
	<select id="queryBudgSubjExist" resultType="java.lang.Integer" parameterType="java.util.Map">
		select 	count(subj_code)
		from BUDG_ASSET_TYPY_COST_SHIP
		where
			group_id = #{group_id}
			AND hos_id = #{hos_id} 
			AND copy_code = #{copy_code}
			AND budg_year = #{budg_year}
			AND	subj_code = #{subj_code,jdbcType=VARCHAR}
	</select>
	
	<!-- 资金性质 下拉框 -->
	<select id="querySourceNature" resultMap="itemMap">
		select 
		nature_code  id,
		nature_code||' '||nature_name as text
		from HOS_SOURCE_NATURE
		<where>
			<if test="key != null and key != ''">
				 (	nature_code like '${key}%' or
					nature_name like '%${key}%' 
				)
			</if>
		</where>
		order by nature_code
	</select>
	
	<!-- 查询资金性质编码是否存在-->
	<select id="queryNatureExist" resultType="java.lang.Integer" parameterType="java.util.Map">
		select 	count(nature_code)
		from HOS_SOURCE_NATURE
		<where>
			<if test="fund_nature != null and fund_nature != ''">
				nature_code = #{fund_nature,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	
	<!-- 获取上一年度数据 -->
	<select id="queryPrevYearData" parameterType="java.util.Map" resultMap="budgAssetTypyCostShipMap">
		with temp as
		(select b.subj_code||''||b.subj_name subj_code_name from BUDG_ASSET_TYPY_COST_SHIP a
		left join budg_cost_subj b
		on a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.budg_year = b.budg_year
		and a.subj_code = b.subj_code
		where 
		a.group_id = #{group_id}
		and a.hos_id = #{hos_id}
		and a.copy_code = #{copy_code}
		and a.budg_year = #{prev_year}),
		temp2 as
		(select d.subj_code from budg_cost_subj d
		where d.subj_code||''||d.subj_name in (select subj_code_name from temp) 
		and d.group_id = #{group_id}
		and d.hos_id = #{hos_id}
		and d.copy_code = #{copy_code}
		and d.budg_year = #{budg_year})
		select 
		e.group_id,
		e.hos_id,
		e.copy_code,
		e.budg_year,
		e.asset_type_id,
		e.subj_code
		 from BUDG_ASSET_TYPY_COST_SHIP e
		where e.subj_code in (select subj_code from temp2)
		and e.group_id = #{group_id}
		and e.hos_id = #{hos_id} 
		and e.copy_code = #{copy_code}
		and e.budg_year = #{prev_year}
		and e.subj_code not in(
			select f.subj_code from BUDG_ASSET_TYPY_COST_SHIP f
			where
			    f.group_id = #{group_id}
			and f.hos_id = #{hos_id}
			and f.copy_code = #{copy_code}
			and f.budg_year = #{budg_year}
			
		)
	</select>
</mapper>

