<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.measure.AssMeasureRecMapper">
	
	<resultMap id="assMeasureRec" type="com.chd.hrp.ass.entity.measure.AssMeasureRec">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="rec_id" column="rec_id"/>
	<result property="seq_no" column="seq_no"/>
	<result property="plan_id" column="plan_id"/> 
	<result property="plan_name" column="plan_name"/>
	<result property="ass_nature" column="ass_nature"/>
	<result property="naturs_name" column="naturs_name"/>
	<result property="outer_measure_engr" column="outer_measure_engr"/>
	<result property="outer_measure_engr_name" column="outer_measure_engr_name"/>
	<result property="inner_measure_emp" column="inner_measure_emp"/>
	<result property="inner_measure_emp_name" column="inner_measure_emp_name"/>
	<result property="plan_measure_date" column="plan_measure_date"/>
	<result property="fact_measure_date" column="fact_measure_date"/>
	<result property="pre_next_date" column="pre_next_date"/>
	<result property="measure_kind" column="measure_kind"/>
	<result property="inner_measure_dept_name" column="inner_measure_dept_name"/>
	<result property="outer_measure_org" column="outer_measure_org"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_emp_name" column="create_emp_name"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="audit_emp_name" column="audit_emp_name"/>
	<result property="audit_date" column="audit_date"/>
	<result property="state" column="state"/>
	<result property="measure_result" column="measure_result"/>
	<result property="measure_idea" column="measure_idea"/>
	</resultMap>
	<select id="queryCurrentSequence" resultType="java.lang.Long">
		select ASS_MEASURE_REC_SEQ.currval val from dual
	</select>
	<insert id="addAssMeasureRec" useGeneratedKeys="true" >
	
		INSERT INTO ASS_MEASURE_REC (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if> 
		rec_id
		, 
		<if test="seq_no != null and seq_no != ''">
		seq_no
		,
		</if>
		<if test="plan_id != null and plan_id != ''">
		plan_id
		,
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		ass_nature
		,
		</if>
		<if test="outer_measure_engr != null and outer_measure_engr != ''">
		outer_measure_engr
		,
		</if>
		<if test="inner_measure_emp != null and inner_measure_emp != ''">
		inner_measure_emp
		,
		</if>
		<if test="plan_measure_date != null and plan_measure_date != ''">
		plan_measure_date
		,
		</if>
		<if test="fact_measure_date != null and fact_measure_date != ''">
		fact_measure_date
		,
		</if>
		<if test="pre_next_date != null and pre_next_date != ''">
		pre_next_date
		,
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		measure_kind
		,
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		outer_measure_org
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="measure_result != null and measure_result != ''">
		measure_result
		,
		</if>
		<if test="measure_idea != null and measure_idea != ''">
		measure_idea
		,
		</if>
		<if test="entrust_no != null and entrust_no != ''">
		entrust_no
		,
		</if>
		<if test="firm_basis != null and firm_basis != ''">
		firm_basis
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		ASS_MEASURE_REC_SEQ.nextval
		,
		<if test="seq_no != null and seq_no != ''">
		#{seq_no,jdbcType=INTEGER}
		,
		</if>
		<if test="plan_id != null and plan_id != ''">
		#{plan_id,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		#{ass_nature,jdbcType=VARCHAR}
		,
		</if>
		<if test="outer_measure_engr != null and outer_measure_engr != ''">
		#{outer_measure_engr,jdbcType=VARCHAR}
		,
		</if>
		<if test="inner_measure_emp != null and inner_measure_emp != ''">
		#{inner_measure_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="plan_measure_date != null and plan_measure_date != ''">
		to_date(#{plan_measure_date,jdbcType=VARCHAR},'yyyy-MM-dd')
		,
		</if>
		<if test="fact_measure_date != null and fact_measure_date != ''">
		to_date(#{fact_measure_date,jdbcType=VARCHAR},'yyyy-MM-dd')
		,
		</if>
		<if test="pre_next_date != null and pre_next_date != ''">
		to_date(#{pre_next_date,jdbcType=VARCHAR},'yyyy-MM-dd')
		,
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		#{measure_kind,jdbcType=INTEGER}
		,
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		#{outer_measure_org,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		#{create_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		to_date(#{create_date,jdbcType=VARCHAR},'yyyy-MM-dd')
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		#{audit_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		to_date(#{audit_date,jdbcType=VARCHAR},'yyyy-MM-dd')
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=INTEGER}
		,
		</if>
		<if test="measure_result != null and measure_result != ''">
		#{measure_result,jdbcType=INTEGER}
		,
		</if>
		<if test="measure_idea != null and measure_idea != ''">
		#{measure_idea,jdbcType=VARCHAR}
		,
		</if>
		<if test="entrust_no != null and entrust_no != ''">
		#{entrust_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="firm_basis != null and firm_basis != ''">
		#{firm_basis,jdbcType=VARCHAR}
		,
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatchAssMeasureRec" parameterType="java.util.List" >
	
		INSERT INTO ASS_MEASURE_REC (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="rec_id != null and rec_id != ''">
		rec_id
		,
		</if>
		<if test="seq_no != null and seq_no != ''">
		seq_no
		,
		</if>
		<if test="plan_id != null and plan_id != ''">
		plan_id
		,
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		ass_nature
		,
		</if>
		<if test="outer_measure_engr != null and outer_measure_engr != ''">
		outer_measure_engr
		,
		</if>
		<if test="inner_measure_emp != null and inner_measure_emp != ''">
		inner_measure_emp
		,
		</if>
		<if test="plan_measure_date != null and plan_measure_date != ''">
		plan_measure_date
		,
		</if>
		<if test="fact_measure_date != null and fact_measure_date != ''">
		fact_measure_date
		,
		</if>
		<if test="pre_next_date != null and pre_next_date != ''">
		pre_next_date
		,
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		measure_kind
		,
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		outer_measure_org
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="measure_result != null and measure_result != ''">
		measure_result
		,
		</if>
		<if test="measure_idea != null and measure_idea != ''">
		measure_idea
		,
		</if>
		<if test="entrust_no != null and entrust_no != ''">
		entrust_no
		,
		</if>
		<if test="firm_basis != null and firm_basis != ''">
		firm_basis
		,
		</if>
		</trim>
		) select ASS_MEASURE_REC_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
			#{item.group_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_id != null and hos_id != ''">
			#{item.hos_id},jdbcType=INTEGER}
			,
			</if>
			<if test="copy_code != null and copy_code != ''">
			#{item.copy_code},jdbcType=VARCHAR}
			,
			</if>
			<if test="rec_id != null and rec_id != ''">
			#{item.rec_id},jdbcType=INTEGER}
			,
			</if>
			<if test="seq_no != null and seq_no != ''">
			#{item.seq_no},jdbcType=INTEGER}
			,
			</if>
			<if test="plan_id != null and plan_id != ''">
			#{item.plan_id},jdbcType=INTEGER}
			,
			</if>
			<if test="ass_nature != null and ass_nature != ''">
			#{item.ass_nature},jdbcType=VARCHAR}
			,
			</if>
			<if test="outer_measure_engr != null and outer_measure_engr != ''">
			#{item.outer_measure_engr},jdbcType=VARCHAR}
			,
			</if>
			<if test="inner_measure_emp != null and inner_measure_emp != ''">
			#{item.inner_measure_emp},jdbcType=VARCHAR}
			,
			</if>
			<if test="plan_measure_date != null and plan_measure_date != ''">
			#{item.plan_measure_date},jdbcType=DATE}
			,
			</if>
			<if test="fact_measure_date != null and fact_measure_date != ''">
			#{item.fact_measure_date},jdbcType=DATE}
			,
			</if>
			<if test="pre_next_date != null and pre_next_date != ''">
			#{item.pre_next_date},jdbcType=DATE}
			,
			</if>
			<if test="measure_kind != null and measure_kind != ''">
			#{item.measure_kind},jdbcType=INTEGER}
			,
			</if>
			<if test="outer_measure_org != null and outer_measure_org != ''">
			#{item.outer_measure_org},jdbcType=VARCHAR}
			,
			</if>
			<if test="create_emp != null and create_emp != ''">
			#{item.create_emp},jdbcType=VARCHAR}
			,
			</if>
			<if test="create_date != null and create_date != ''">
			#{item.create_date},jdbcType=DATE}
			,
			</if>
			<if test="audit_emp != null and audit_emp != ''">
			#{item.audit_emp},jdbcType=VARCHAR}
			,
			</if>
			<if test="audit_date != null and audit_date != ''">
			#{item.audit_date},jdbcType=DATE}
			,
			</if>
			<if test="state != null and state != ''">
			#{item.state},jdbcType=INTEGER}
			,
			</if>
			<if test="measure_result != null and measure_result != ''">
			#{item.measure_result},jdbcType=INTEGER}
			,
			</if>
			<if test="measure_idea != null and measure_idea != ''">
			#{item.measure_idea},jdbcType=VARCHAR}
			,
			</if>
			<if test="entrust_no != null and entrust_no != ''">
			#{item.entrust_no}
			,
			</if>
			<if test="firm_basis != null and firm_basis != ''">
			#{item.firm_basis}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateAssMeasureRec" parameterType="java.util.Map">
	
		UPDATE ass_measure_rec 
		<trim prefix="SET"  suffixOverrides=",">  
		<if test="plan_id != null and plan_id != ''">
		plan_id = #{plan_id,jdbcType=INTEGER}
		,
		</if> 
		
		<if test="seq_no != null and seq_no != ''">
		seq_no = #{seq_no,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		ass_nature = #{ass_nature,jdbcType=VARCHAR}
		,
		</if>
		<if test="outer_measure_engr != null and outer_measure_engr != ''">
		outer_measure_engr = #{outer_measure_engr,jdbcType=VARCHAR}
		,
		</if>
		<if test="inner_measure_emp != null and inner_measure_emp != ''">
		inner_measure_emp = #{inner_measure_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="plan_measure_date != null and plan_measure_date != ''">
		plan_measure_date = to_date(#{plan_measure_date},'yyyy-MM-dd')
		,
		</if>
		<if test="fact_measure_date != null and fact_measure_date != ''">
		fact_measure_date = to_date(#{fact_measure_date},'yyyy-MM-dd')
		,
		</if>
		<if test="pre_next_date != null and pre_next_date != ''">
		pre_next_date = to_date(#{pre_next_date},'yyyy-MM-dd')
		,
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		measure_kind = #{measure_kind,jdbcType=INTEGER}
		,
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp = #{create_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date = to_date(#{create_date},'yyyy-MM-dd')
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp = #{audit_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date = to_date(#{audit_date},'yyyy-MM-dd')
		, 
		</if>
		<if test="state != null and state != ''">
		state = #{state,jdbcType=INTEGER}
		,
		</if>
		<if test="measure_result != null and measure_result != ''">
		measure_result = #{measure_result,jdbcType=INTEGER}
		,
		</if>
		<if test="measure_idea != null and measure_idea != ''">
		measure_idea = #{measure_idea,jdbcType=VARCHAR}
		,
		</if>
		<if test="entrust_no != null and entrust_no != ''">
		entrust_no = #{entrust_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="firm_basis != null and firm_basis != ''">
		firm_basis = #{firm_basis,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     

		 group_id = #{group_id,jdbcType=INTEGER}

		AND hos_id = #{hos_id,jdbcType=INTEGER}

		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		
		</where>  
	</update>
	<update id="updateBatchAssMeasureRec" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_measure_rec 
			<trim prefix="SET"  suffixOverrides=","> 
				<if test="item.state != null and item.state != ''">
					state = #{item.state},
				</if> 
			    <if test="item.audit_emp != null and item.audit_emp != ''">
					audit_emp = #{item.audit_emp} ,
				</if>
				<if test="item.audit_date != null and item.audit_date != ''">
					audit_date = #{item.audit_date} ,
				</if>
			</trim>
			<where>                     
					state=0
				<if test="item.group_id != null and item.group_id != ''">
					AND group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					AND copy_code = #{item.copy_code}
				</if> 
				<if test="item.rec_id != null and item.rec_id != ''">
					AND rec_id = #{item.rec_id,jdbcType=INTEGER}
				</if>  
			</where>  			
		</foreach>
	</update>
	
	
			<update id="updateBatchAssMeasureRecBack" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE ass_measure_rec
			<trim prefix="SET" suffixOverrides=",">
				<if test="item.state != null and item.state != ''">
					state = #{item.state},
				</if> 
					  audit_emp = #{item.audit_emp},  
				      audit_date = #{item.audit_date},
				 
			</trim>
			<where>
					state=1
				<if test="item.group_id != null and item.group_id != ''">
					AND group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					AND copy_code = #{item.copy_code}
				</if> 
				<if test="item.rec_id != null and item.rec_id != ''">
					AND rec_id = #{item.rec_id,jdbcType=INTEGER}
				</if>  
			</where>
			</foreach>
	</update>
	
	<delete id="deleteAssMeasureRec" parameterType="java.util.Map">
	
		DELETE FROM ass_measure_rec 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="seq_no != null and seq_no != ''">
		AND seq_no = #{seq_no,jdbcType=INTEGER}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatchAssMeasureRec" parameterType="java.util.List">
		DELETE FROM ass_measure_rec 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				 group_id = #{item.group_id,jdbcType=INTEGER}

				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}

				AND rec_id = #{item.rec_id,jdbcType=INTEGER}
			
			</foreach>
	    </where>  
	</delete>
	<select id="queryAssMeasureRec" parameterType="java.util.Map" resultMap="assMeasureRec" >
	
SELECT amr.group_id,
       amr.hos_id,
       amr.copy_code,
       amr.rec_id,
       amr.seq_no,
       amr.plan_id,
       amp.plan_name,
       amr.ass_nature,
       an.naturs_name,
       amr.outer_measure_engr,
       
       amr.inner_measure_emp,
       suu.user_name             inner_measure_emp_name,
       amr.plan_measure_date,
       amr.fact_measure_date,
       amr.pre_next_date,
       amr.measure_kind,
       amr.outer_measure_org,
       amr.create_emp,
       suuu.user_name            create_emp_name,
       amr.create_date,
       amr.audit_emp,
       suuus.user_name           audit_emp_name,
       amr.audit_date,
       amr.state,
       amr.measure_result,
       amr.measure_idea,
       amr.entrust_no,
       amr.firm_basis
  FROM ASS_MEASURE_REC amr
  left join (select group_id,
                    hos_id,
                    copy_code,
                    rec_id,
                    max(ass_card_no) ass_card_no
               from ass_measure_rec_detail
              group by group_id, hos_id, copy_code, rec_id) aa
    on aa.group_id = amr.group_id
   and aa.hos_id = amr.hos_id
   and aa.copy_code = amr.copy_code
   and aa.rec_id = amr.rec_id
  left join v_ass_card ca
    on ca.GROUP_ID = aa.group_id
   and ca.HOS_ID = aa.hos_id
   and ca.COPY_CODE = aa.copy_code
   and ca.ASS_CARD_NO = aa.ass_card_no
  left join ass_no_dict di
    on di.group_id = ca.GROUP_ID
   and di.hos_id = ca.HOS_ID
   and di.copy_code = ca.COPY_CODE
   and di.ass_id = ca.ASS_ID
   and di.ass_no = ca.ASS_NO
   and di.is_stop = 0
  left join ASS_MEASURE_PLAN amp
    on amr.plan_id = amp.plan_id
  left join ASS_NATURS an
    on amr.ass_nature = an.naturs_code
  left join sys_user su
    on amr.outer_measure_engr = su.user_id
  left join sys_user suu
    on amr.inner_measure_emp = suu.user_id
  left join sys_user suuu
    on amr.create_emp = suuu.user_id
  left join sys_user suuus
    on amr.audit_emp = suuus.user_id

		<where>                     
		<if test="group_id != null and group_id != ''">
		AND amr.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND amr.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND amr.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND amr.rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="seq_no != null and seq_no != ''">
		AND amr.seq_no  like  '%${seq_no}%'
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND amr.plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		AND amr.ass_nature = #{ass_nature,jdbcType=VARCHAR}
		</if>
		<if test="outer_measure_engr != null and outer_measure_engr != ''">
		AND amr.outer_measure_engr = #{outer_measure_engr,jdbcType=VARCHAR}
		</if>
		<if test="inner_measure_emp != null and inner_measure_emp != ''">
		AND amr.inner_measure_emp = #{inner_measure_emp,jdbcType=VARCHAR}
		</if>
		<if test="plan_measure_date != null and plan_measure_date != ''">
		AND amr.plan_measure_date = #{plan_measure_date,jdbcType=DATE}
		</if>
		<if test="fact_measure_date != null and fact_measure_date != ''">
		AND amr.fact_measure_date = #{fact_measure_date,jdbcType=DATE}
		</if>
		<if test="pre_next_date != null and pre_next_date != ''">
		AND amr.pre_next_date = #{pre_next_date,jdbcType=DATE}
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		AND amr.measure_kind = #{measure_kind,jdbcType=INTEGER}
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		AND amr.outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND amr.create_emp = #{create_emp,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND amr.create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND amr.audit_emp = #{audit_emp,jdbcType=VARCHAR}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND amr.audit_date = #{audit_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND amr.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="measure_result != null and measure_result != ''">
		AND amr.measure_result = #{measure_result,jdbcType=INTEGER}
		</if>
		<if test="measure_idea != null and measure_idea != ''">
		AND amr.measure_idea = #{measure_idea,jdbcType=VARCHAR}
		</if>
		<if test="ass_table != null and ass_table != ''">
		AND (di.ass_name like '%${ass_table}%' 
		or aa.ass_card_no  like '%${ass_table}%' 
		or di.ass_code like '%${ass_table}%'  
		)
		</if>
		</where>   
		order by amr.seq_no asc
	</select>
	<!--卡片查询计量记录  -->
	<select id="queryAssMeasureRecByCard" parameterType="java.util.Map" resultMap="assMeasureRec" >
	
SELECT 
		amr.group_id,
		amr.hos_id,
		amr.copy_code,
		amr.rec_id,
		amr.seq_no,
		amr.plan_id, 
        amp.plan_name,
		amr.ass_nature,
        an.naturs_name,
		amr.outer_measure_engr,
        su.user_name outer_measure_engr_name ,
		amr.inner_measure_emp,
        suu.user_name inner_measure_emp_name ,
		amr.plan_measure_date,
		amr.fact_measure_date,
		CASE WHEN 
		amr.pre_next_date is not null 
		THEN amr.pre_next_date 
		ELSE amrs.pre_next_date END  AS  pre_next_date,
		amr.measure_kind,
		amr.outer_measure_org,
		amr.create_emp,
        suuu.user_name create_emp_name ,
		amr.create_date,
		amr.audit_emp,
        suuus.user_name audit_emp_name,
		amr.audit_date,
		amr.state,
		amrs.measure_result,
    amrs.measure_idea,
    amrs.cert_no,
    amr.entrust_no,
    amr.firm_basis
    FROM ASS_MEASURE_REC_DETAIL amrs 
    right join ASS_MEASURE_REC amr on amr.rec_id=amrs.rec_id
    left join ASS_MEASURE_PLAN amp on amr.plan_id = amp.plan_id
    left join ASS_NATURS an on amr.ass_nature =  an.naturs_code
    left join sys_user su on amr.outer_measure_engr = to_char(su.user_id)
    left join sys_user suu on amr.inner_measure_emp = to_char(suu.user_id)
    left join sys_user suuu on amr.create_emp = to_char(suuu.user_id)
    left join sys_user suuus on amr.audit_emp = to_char(suuus.user_id)
		<where>  
		amrs.ass_card_no=#{ass_card_no,jdbcType=VARCHAR}   
		<if test="group_id != null and group_id != ''">
		AND amr.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND amr.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND amr.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND amr.rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="seq_no != null and seq_no != ''">
		AND amr.seq_no  like  '%${seq_no}%'
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND amr.plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		AND amr.ass_nature = #{ass_nature,jdbcType=VARCHAR}
		</if>
		<if test="outer_measure_engr != null and outer_measure_engr != ''">
		AND amr.outer_measure_engr = #{outer_measure_engr,jdbcType=VARCHAR}
		</if>
		<if test="inner_measure_emp != null and inner_measure_emp != ''">
		AND amr.inner_measure_emp = #{inner_measure_emp,jdbcType=VARCHAR}
		</if>
		<if test="plan_measure_date != null and plan_measure_date != ''">
		AND amr.plan_measure_date = #{plan_measure_date,jdbcType=DATE}
		</if>
		<if test="fact_measure_date != null and fact_measure_date != ''">
		AND amr.fact_measure_date = #{fact_measure_date,jdbcType=DATE}
		</if>
		<if test="pre_next_date != null and pre_next_date != ''">
		AND amr.pre_next_date = #{pre_next_date,jdbcType=DATE}
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		AND amr.measure_kind = #{measure_kind,jdbcType=INTEGER}
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		AND amr.outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND amr.create_emp = #{create_emp,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND amr.create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND amr.audit_emp = #{audit_emp,jdbcType=VARCHAR}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND amr.audit_date = #{audit_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND amr.state = #{state,jdbcTGER}
		</if>
		<if test="measure_result != null and measure_result != ''">
		AND amr.measure_result = #{measure_result,jdbcType=INTEGER}
		</if>
		<if test="measure_idea != null and measure_idea != ''">
		AND amr.measure_idea = #{measure_idea,jdbcType=VARCHAR}
		</if>
		</where>   
		order by amr.seq_no asc
	</select>
	<select id="queryAssMeasureRecByCode" resultMap="assMeasureRec"  parameterType="java.util.Map" >
		select amr.group_id, amr.hos_id, amr.copy_code, amr.rec_id, amr.seq_no
	  , amr.plan_id, amp.plan_name, amr.ass_nature, an.naturs_name, amr.outer_measure_engr
	  , su.user_name as outer_measure_engr_name, amr.inner_measure_emp, suu.user_name as inner_measure_emp_name, amr.plan_measure_date, amr.fact_measure_date
	  , amr.pre_next_date, amr.measure_kind, amr.outer_measure_org, amr.create_emp, suuu.user_name as create_emp_name
	  , amr.create_date, amr.audit_emp, suuus.user_name as audit_emp_name, amr.audit_date, amr.state
	  , amr.measure_result, amr.measure_idea,amr.entrust_no,amr.firm_basis
	from ASS_MEASURE_REC amr
	
	left join ASS_MEASURE_PLAN amp on amr.plan_id = amp.plan_id 
	left join ASS_NATURS an on amr.ass_nature = an.naturs_code 
	left join sys_user su on amr.outer_measure_engr = to_char(su.user_id) 
	left join sys_user suu on amr.inner_measure_emp = to_char(suu.user_id) 
	left join sys_user suuu on amr.create_emp = to_char(suuu.user_id) 
	  left join sys_user suuus on amr.audit_emp = to_char(suuus.user_id) 
		WHERE 
		amr.group_id = #{group_id,jdbcType=INTEGER}   and 
		amr.hos_id = #{hos_id,jdbcType=INTEGER}   and 
		amr.copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		amr.rec_id = #{rec_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryAssMeasureRecByUniqueness" resultMap="assMeasureRec"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		rec_id,
		seq_no,
		plan_id,
		ass_nature,
		outer_measure_engr,
		inner_measure_emp,
		plan_measure_date,
		fact_measure_date,
		pre_next_date,
		measure_kind,
		outer_measure_org,
		create_emp,
		create_date,
		audit_emp,
		audit_date,
		state,
		measure_result,
		measure_idea,
		entrust_no,
		firm_basis
		FROM ASS_MEASURE_REC 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="seq_no != null and seq_no != ''">
		AND seq_no = #{seq_no,jdbcType=INTEGER}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		AND ass_nature = #{ass_nature,jdbcType=VARCHAR}
		</if>
		<if test="outer_measure_engr != null and outer_measure_engr != ''">
		AND outer_measure_engr = #{outer_measure_engr,jdbcType=VARCHAR}
		</if>
		<if test="inner_measure_emp != null and inner_measure_emp != ''">
		AND inner_measure_emp = #{inner_measure_emp,jdbcType=VARCHAR}
		</if>
		<if test="plan_measure_date != null and plan_measure_date != ''">
		AND plan_measure_date = #{plan_measure_date,jdbcType=DATE}
		</if>
		<if test="fact_measure_date != null and fact_measure_date != ''">
		AND fact_measure_date = #{fact_measure_date,jdbcType=DATE}
		</if>
		<if test="pre_next_date != null and pre_next_date != ''">
		AND pre_next_date = #{pre_next_date,jdbcType=DATE}
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		AND measure_kind = #{measure_kind,jdbcType=INTEGER}
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		AND outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp,jdbcType=VARCHAR}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND audit_date = #{audit_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="measure_result != null and measure_result != ''">
		AND measure_result = #{measure_result,jdbcType=INTEGER}
		</if>
		<if test="measure_idea != null and measure_idea != ''">
		AND measure_idea = #{measure_idea,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssMeasureRecExists" resultMap="assMeasureRec"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		rec_id,
		seq_no,
		plan_id,
		ass_nature,
		outer_measure_engr,
		inner_measure_emp,
		plan_measure_date,
		fact_measure_date,
		pre_next_date,
		measure_kind,
		outer_measure_org,
		create_emp,
		create_date,
		audit_emp,
		audit_date,
		state,
		measure_result,
		measure_idea,
		entrust_no,
		firm_basis
		FROM ASS_MEASURE_REC 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="seq_no != null and seq_no != ''">
		AND seq_no = #{seq_no,jdbcType=INTEGER}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="ass_nature != null and ass_nature != ''">
		AND ass_nature = #{ass_nature,jdbcType=VARCHAR}
		</if>
		<if test="outer_measure_engr != null and outer_measure_engr != ''">
		AND outer_measure_engr = #{outer_measure_engr,jdbcType=VARCHAR}
		</if>
		<if test="inner_measure_emp != null and inner_measure_emp != ''">
		AND inner_measure_emp = #{inner_measure_emp,jdbcType=VARCHAR}
		</if>
		<if test="plan_measure_date != null and plan_measure_date != ''">
		AND plan_measure_date = #{plan_measure_date,jdbcType=DATE}
		</if>
		<if test="fact_measure_date != null and fact_measure_date != ''">
		AND fact_measure_date = #{fact_measure_date,jdbcType=DATE}
		</if>
		<if test="pre_next_date != null and pre_next_date != ''">
		AND pre_next_date = #{pre_next_date,jdbcType=DATE}
		</if>
		<if test="measure_kind != null and measure_kind != ''">
		AND measure_kind = #{measure_kind,jdbcType=INTEGER}
		</if>
		<if test="outer_measure_org != null and outer_measure_org != ''">
		AND outer_measure_org = #{outer_measure_org,jdbcType=VARCHAR}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp,jdbcType=VARCHAR}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND audit_date = #{audit_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="measure_result != null and measure_result != ''">
		AND measure_result = #{measure_result,jdbcType=INTEGER}
		</if>
		<if test="measure_idea != null and measure_idea != ''">
		AND measure_idea = #{measure_idea,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<!-- 打印主表 -->
	<select id="queryAssMeasureRecByMainBatch" parameterType="java.util.Map" resultType="java.util.Map" >
	SELECT a.rec_id as id,
	       a.group_id,
	       a.hos_id,
	       a.copy_code,
	       b.plan_name,
	       a.seq_no,
	       c.naturs_name,
	       d.dept_name,
	       a.outer_measure_org,
	       a.outer_measure_engr,
	       su1.user_name inner_measure_emp_name,
	       a.plan_measure_date,
	       a.fact_measure_date,
	       a.plan_measure_date,
	       su2.user_name create_emp_name,
	       a.create_date,
	       su3.user_name audit_emp_name,
	       a.audit_date,
	       case
	         when a.state = 0 then
	          '新建'
	         when a.state = 1 then
	          '审核'
	         when a.state = 2 then
	          '终止'
	         else
	          ''
	       end state_name,
	       case
	         when a.measure_result = 0 then
	          '完成'
	         when a.measure_result = 1 then
	          '未完成'
	         else
	          ''
	       end measure_result_name,
	       case
	         when a.measure_kind = 0 then
	          '机器检测'
	         when a.measure_kind = 1 then
	          '手工检测'
	         else
	          ''
	       end measure_kind_name,
	       a.measure_idea,
	       a.entrust_no,
	       a.firm_basis
	  FROM ASS_MEASURE_REC a
	  left join ASS_MEASURE_PLAN b
	    on a.group_id = b.group_id
	   and a.hos_id = b.hos_id
	   and a.copy_code = b.copy_code
	   and a.plan_id = b.plan_id
	  left join ASS_NATURS c
	    on c.naturs_code = b.ass_nature
	  left join sys_user su
	    on su.group_id = a.group_id
	   and su.hos_id = a.hos_id
	   and to_char(su.user_id) = a.outer_measure_engr
	  left join sys_user su1
	    on su1.group_id = a.group_id
	   and su1.hos_id = a.hos_id
	   and  to_char(su1.user_id) = a.inner_measure_emp
	  left join sys_user su2
	    on su2.group_id = a.group_id
	   and su2.hos_id = a.hos_id
	   and  to_char(su2.user_id) = a.create_emp
	  left join sys_user su3
	    on su3.group_id = a.group_id
	   and su3.hos_id = a.hos_id
	   and  to_char(su3.user_id) = a.audit_emp
		where                     
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.rec_id in (${paraId})
		order by a.rec_id asc
	
	</select>
	
	<!-- 修改页面打印 -->
	<select id="queryAssMeasureRecByMain" parameterType="java.util.Map" resultType="java.util.Map" >
	SELECT a.rec_id as id,
	       a.group_id,
	       a.hos_id,
	       a.copy_code,
	       b.plan_name,
	       a.seq_no,
	       c.naturs_name,
	       d.dept_name,
	       a.outer_measure_org,
	       a.outer_measure_engr,
	       su1.user_name inner_measure_emp_name,
	       a.plan_measure_date,
	       a.fact_measure_date,
	       a.plan_measure_date,
	       su2.user_name create_emp_name,
	       a.create_date,
	       su3.user_name audit_emp_name,
	       a.audit_date,
	       case
	         when a.state = 0 then
	          '新建'
	         when a.state = 1 then
	          '审核'
	         when a.state = 2 then
	          '终止'
	         else
	          ''
	       end state_name,
	       case
	         when a.measure_result = 0 then
	          '完成'
	         when a.measure_result = 1 then
	          '未完成'
	         else
	          ''
	       end measure_result_name,
	       case
	         when a.measure_kind = 0 then
	          '机器检测'
	         when a.measure_kind = 1 then
	          '手工检测'
	         else
	          ''
	       end measure_kind_name,
	       a.measure_idea,
	       a.entrust_no,
	       a.firm_basis
	  FROM ASS_MEASURE_REC a
	  left join ASS_MEASURE_PLAN b
	    on a.group_id = b.group_id
	   and a.hos_id = b.hos_id
	   and a.copy_code = b.copy_code
	   and a.plan_id = b.plan_id
	  left join ASS_NATURS c
	    on c.naturs_code = b.ass_nature
	  left join sys_user su
	    on su.group_id = a.group_id
	   and su.hos_id = a.hos_id
	   and to_char(su.user_id) = a.outer_measure_engr
	  left join sys_user su1
	    on su1.group_id = a.group_id
	   and su1.hos_id = a.hos_id
	   and to_char(su1.user_id) = a.inner_measure_emp
	  left join sys_user su2
	    on su2.group_id = a.group_id
	   and su2.hos_id = a.hos_id
	   and to_char(su2.user_id) = a.create_emp
	  left join sys_user su3
	    on su3.group_id = a.group_id
	   and su3.hos_id = a.hos_id
	   and to_char(su3.user_id) = a.audit_emp
		where                     
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND amr.rec_id = #{rec_id}
		order by a.rec_id asc
	</select>
	
	<!-- 从表打印 -->
	<select id="queryAssMeasureRecByDetail" parameterType="java.util.Map" resultType="java.util.Map" >
	select a.rec_id         as id,
       a.ass_card_no,
       b.ASS_SPEC,
       b.ASS_MONDL      ass_model,
       b.ASS_BRAND,
       c.ass_code,
       c.ass_name,
       d.fac_name,
       a.measure_result measure_resultt,
       a.measure_idea  measure_ideaa

  from ASS_MEASURE_REC_DETAIL a
  left join v_ass_card b
    on a.group_id = b.GROUP_ID
   and a.hos_id = b.HOS_ID
   and a.copy_code = b.COPY_CODE
   and a.ass_card_no = b.ASS_CARD_NO
  left join ASS_NO_DICT c
    on c.group_id = b.GROUP_ID
   and c.hos_id = b.HOS_ID
   and c.copy_code = b.COPY_CODE
   and c.ass_id = b.ASS_ID
   and c.ass_no = b.ASS_NO
   and c.is_stop = 0
  left join HOS_FAC_DICT d
    on d.group_id = b.GROUP_ID
   and d.hos_id = b.HOS_ID
   and d.fac_id = b.FAC_ID
   and d.fac_no = b.FAC_NO
   and d.is_stop = 0
	where 
		a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="paraId != null and paraId != ''">
			AND a.rec_id in  (${paraId})
			</if>
			<if test="rec_id != null and rec_id != ''">
			AND a.rec_id = #{rec_id,jdbcType=VARCHAR}
			</if> 	
	
	order by a.rec_id asc
		
	
	</select>
	
	<!-- 打印状态 -->
	<select id="queryAssMeasureRecState" parameterType="java.util.Map" resultType="java.lang.String">
	SELECT seq_no  FROM ASS_MEASURE_REC 
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="paraId != null and paraId != ''">
			AND rec_id in  (${paraId})
			</if>
			<if test="rec_id != null and rec_id != ''">
			AND rec_id = #{rec_id,jdbcType=VARCHAR}
			</if>
			<!-- 前台传参   2 确认 -->
			and state != #{state,jdbcType=INTEGER}
	</select>
</mapper>

