<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostUserDefinedParaMapper">
 
	<resultMap id="costUserDefinedPara" type="com.chd.hrp.cost.entity.CostUserDefinedPara">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
         <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/> 
        <result property="dept_id" column="dept_id"/>
        <result property="dept_no" column="dept_no"/>
        <result property="dept_code" column="dept_code"/>
        <result property="dept_name" column="dept_name"/>
        <result property="para_code" column="para_code"/>
        <result property="para_name" column="para_name"/>
        <result property="para_value" column="para_value"/>
	</resultMap>
	
	<resultMap id="map" type="java.util.Map">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
         <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="dept_id" column="dept_id"/>
        <result property="dept_no" column="dept_no"/>
        <result property="para_code" column="para_code"/>
        <result property="para_value" column="para_value"/>
	</resultMap>
	
    <insert id="addCostUserDefinedPara" useGeneratedKeys="true" >
    
        INSERT INTO COST_USER_DEFINED_PARA 
		(
            group_id,
            hos_id,
            copy_code,
            acc_year,
            acc_month,
            dept_id,
            dept_no,
            para_code,
            para_value
        ) 
		VALUES 
		(
		 #{group_id},
		 #{hos_id},
		 #{copy_code},
		 #{acc_year},
		 #{acc_month},
		 #{dept_id},
		 #{dept_no},
		 #{para_code},
		 #{para_value}
        )
    
    </insert>
    
    <insert id="addCostUserDefinedExtendPara" parameterType="java.util.Map" >
    
        INSERT INTO COST_USER_DEFINED_PARA 
		(
            group_id,
            hos_id,
            copy_code,
            acc_year,
            acc_month,
            dept_id,
            dept_no,
            para_code,
            para_value
        ) 
			 select 
				group_id,
	            hos_id,
	            copy_code,
	            #{target_year},
	            #{target_month},
	            dept_id,
	            dept_no,
	            para_code,
	            para_value
			 from 
			 cost_user_defined_para
			 where group_id = #{group_id}
			 and hos_id = #{hos_id}
			 and copy_code = #{copy_code}
			 and acc_year = #{acc_year}
			 and acc_month = #{acc_month}
             and para_code = #{defined_para_code}
    </insert>
	
	<insert id="addBatchCostUserDefinedPara" parameterType="java.util.List" >
    
        INSERT INTO COST_USER_DEFINED_PARA 
		(
    		group_id,
    		hos_id,
    		copy_code,
    		acc_year,
    		acc_month,
    		dept_id,
    		dept_no,
    		para_code,
    		para_value
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
		    #{item.group_id,jdbcType=INTEGER},
		    #{item.hos_id,jdbcType=INTEGER},
		    #{item.copy_code,jdbcType=VARCHAR},
		    #{item.acc_year,jdbcType=VARCHAR},
		    #{item.acc_month,jdbcType=VARCHAR},
		    #{item.dept_id,jdbcType=INTEGER},
		    #{item.dept_no,jdbcType=INTEGER},
		    #{item.para_code,jdbcType=VARCHAR},
		    #{item.para_value,jdbcType=INTEGER}
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateCostUserDefinedPara" parameterType="java.util.Map">
    
        UPDATE cost_user_defined_para SET
			 dept_no = #{dept_no},
			 para_value = #{para_value}
        WHERE 
		    group_id = #{group_id} and 
		    hos_id = #{hos_id} and 
		    copy_code = #{copy_code} and 
		     acc_year = #{acc_year} and
		    acc_month = #{acc_month} and  
		    dept_id = #{dept_id} and 
		    para_code = #{para_code}
   
	</update>
	
	<update id="updateBatchCostUserDefinedPara" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE cost_user_defined_para SET
			 dept_no = #{dept_no},
			 para_value = #{para_value}
        WHERE 
		    group_id = #{item.group_id} and 
		    hos_id = #{item.hos_id} and 
		    copy_code = #{item.copy_code} and 
		    acc_year = #{item.acc_year} and 
		    acc_month = #{item.acc_month} and 
		    dept_id = #{item.dept_id} and 
		    para_code = #{item.para_code}
    </foreach>
	</update>

    <delete id="deleteCostUserDefinedExtendPara" parameterType="java.util.Map">
   
        delete from cost_user_defined_para 
			where group_id = #{group_id} 
		    and  hos_id = #{hos_id}
		    and  copy_code = #{copy_code}
		    and  acc_year = #{target_year}
		    and  acc_month = #{target_month}
		    and  para_code = #{defined_para_code}
   
    </delete>
    
  
    <delete id="deleteCostUserDefinedPara" parameterType="java.util.Map">
   
        DELETE FROM cost_user_defined_para 
			WHERE
				group_id = #{group_id}  and 
				hos_id = #{hos_id}  and 
				copy_code = #{copy_code}  and 
				acc_year = #{acc_year}  and 
			    acc_month = #{acc_month}  and 
				dept_id = #{dept_id}  and 
				para_code = #{para_code}
   
    </delete>
	
	<delete id="deleteMonthlyCostUserDefinedPara" parameterType="java.util.Map">
   
        delete from cost_user_defined_para 
			where group_id = #{group_id}  
			and hos_id = #{hos_id} 
		    and  copy_code = #{copy_code} 
		    and  acc_year || acc_month between #{b_year_month} and #{e_year_month} 
    </delete>
	  
    <delete id="deleteBatchCostUserDefinedPara" parameterType="java.util.List">
        DELETE FROM cost_user_defined_para 
			WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			    group_id = #{item.group_id} and 
			    hos_id = #{item.hos_id} and 
			    copy_code = #{item.copy_code} and 
			     acc_year = #{item.acc_year} and 
			    acc_month = #{item.acc_month} and
			    dept_id = #{item.dept_id} and 
			    para_code = #{item.para_code}
			</foreach>
        
    </delete>
    
    <select id="queryCostUserDefinedParaByCode" resultType="com.chd.hrp.cost.entity.CostUserDefinedPara" parameterType="string" >
	  
       SELECT 
            cudp.group_id,
            cudp.hos_id,
            cudp.copy_code,
             cudp.acc_year,
            cudp.acc_month,
            cudp.dept_id,
            cudp.dept_no,
            hdd.dept_code,
            hdd.dept_name,
            cudp.para_code,
            cdpd.para_name,
            cudp.para_value
        FROM COST_USER_DEFINED_PARA cudp
        left join HOS_DEPT_DICT hdd on
        cudp.group_id = hdd.group_id and
        cudp.hos_id = hdd.hos_id and
        cudp.dept_id = hdd.dept_id 
        <if test="is_flag == 1">
         and cudp.dept_no = hdd.dept_no 
        </if>
        left join COST_DEPT_PARA_DICT cdpd on
        cudp.group_id = cdpd.group_id and
        cudp.hos_id = cdpd.hos_id and
        cudp.copy_code = cdpd.copy_code and
        cudp.para_code = cdpd.para_code
	        <where>        
	        <if test="is_flag == 0 or is_flag == ''">
					and  hdd.is_stop = '0'
				</if>               
			    <if test="group_id != null and group_id != ''">
                    AND cudp.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cudp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cudp.copy_code = #{copy_code}
               </if>
			   <if test="year_month != null and year_month != ''">
                    AND cudp.acc_year || '' || cudp.acc_month = #{year_month}
               </if>
               <if test="acc_year != null and acc_year != ''">
                    AND cudp.acc_year = #{acc_year}
               </if>
               <if test="acc_month != null and acc_month != ''">
                    AND cudp.acc_month = #{acc_month}
               </if>
			    <if test="dept_id != null and dept_id != ''">
                    AND cudp.dept_id = #{dept_id}
               </if>
			    
			    <if test="para_code != null and para_code != ''">
                    AND cudp.para_code = #{para_code}
               </if>
			  
        </where>   	  
        
	</select>
	<select id="queryCostUserDefinedPara" parameterType="java.util.Map" resultMap="costUserDefinedPara" >
      
        SELECT 
            cudp.group_id,
            cudp.hos_id,
            cudp.copy_code,
             cudp.acc_year,
            cudp.acc_month,
            cudp.acc_year||cudp.acc_month as year_month,
            cudp.dept_id,
            cudp.dept_no,
            hdd.dept_code,
            hdd.dept_name,
            cudp.para_code,
            cdpd.para_name,
            cudp.para_value
        FROM COST_USER_DEFINED_PARA cudp
        left join HOS_DEPT_DICT hdd on
        cudp.group_id = hdd.group_id and
        cudp.hos_id = hdd.hos_id and
        cudp.dept_id = hdd.dept_id 
         <if test="is_flag == 1">
         and cudp.dept_no = hdd.dept_no 
        </if>
        left join COST_DEPT_PARA_DICT cdpd on
        cudp.group_id = cdpd.group_id and
        cudp.hos_id = cdpd.hos_id and
        cudp.copy_code = cdpd.copy_code and
        cudp.para_code = cdpd.para_code
            <where>                     
            <if test="is_flag == 0 or is_flag == ''">
					and  hdd.is_stop = '0'
				</if>  
			    <if test="group_id != null and group_id != ''">
                    AND cudp.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cudp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cudp.copy_code = #{copy_code}
               </if>
                <!--  用于自定义参数数据继承 -->
               <if test="acc_year != null and acc_year != '' and acc_month != null and acc_month != '' ">
                    AND cudp.acc_year || cudp.acc_month = #{acc_year} || #{acc_month}
               </if>
			   <if test=" b_year_month != null and b_year_month != '' and e_year_month != null and e_year_month != ''">
                  AND cudp.acc_year ||''|| cudp.acc_month between #{b_year_month} and  #{e_year_month}
            	</if>
<!--                <if test="acc_year != null and acc_year != ''"> -->
<!--                     AND cudp.acc_year = #{acc_year} -->
<!--                </if> -->
<!--                <if test="acc_month != null and acc_month != ''"> -->
<!--                     AND cudp.acc_month = #{acc_month} -->
<!--                </if> -->
			    <if test="dept_id != null and dept_id != ''">
                    AND cudp.dept_id = #{dept_id}
               </if>
			   
			    <if test="para_code != null and para_code != ''">
                    and cudp.para_code =  #{para_code}
               </if>
              <!--  用于自定义参数数据继承 -->
                <if test="defined_para_code != null and defined_para_code != ''">
                    AND  cudp.para_code = #{defined_para_code}
               </if>
			    <if test="para_value != null and para_value != ''">
                    AND cudp.para_value = #{para_value}
               </if>
        </where>   
		order by cudp.acc_year,cudp.acc_month,cudp.dept_id
    </select>
    
    <select id="queryCostUserDefinedParaPrint" parameterType="java.util.Map" resultType="java.util.Map" >
      
        SELECT 
            cudp.group_id,
            cudp.hos_id,
            cudp.copy_code,
             cudp.acc_year,
            cudp.acc_month,
            cudp.acc_year||cudp.acc_month as year_month,
            cudp.dept_id,
            cudp.dept_no,
            hdd.dept_code,
            hdd.dept_name,
            cudp.para_code,
            cdpd.para_name,
            cudp.para_value
        FROM COST_USER_DEFINED_PARA cudp
        left join HOS_DEPT_DICT hdd on
        cudp.group_id = hdd.group_id and
        cudp.hos_id = hdd.hos_id and
        cudp.dept_id = hdd.dept_id 
         <if test="is_flag == 1">
         and cudp.dept_no = hdd.dept_no 
        </if>
        left join COST_DEPT_PARA_DICT cdpd on
        cudp.group_id = cdpd.group_id and
        cudp.hos_id = cdpd.hos_id and
        cudp.copy_code = cdpd.copy_code and
        cudp.para_code = cdpd.para_code
            <where>                     
            <if test="is_flag == 0 or is_flag == ''">
					and  hdd.is_stop = '0'
				</if>  
			    <if test="group_id != null and group_id != ''">
                    AND cudp.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cudp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cudp.copy_code = #{copy_code}
               </if>
			   <if test=" b_year_month != null and b_year_month != '' and e_year_month != null and e_year_month != ''">
                  AND cudp.acc_year ||''|| cudp.acc_month between #{b_year_month} and  #{e_year_month}
            	</if>
<!--                <if test="acc_year != null and acc_year != ''"> -->
<!--                     AND cudp.acc_year = #{acc_year} -->
<!--                </if> -->
<!--                <if test="acc_month != null and acc_month != ''"> -->
<!--                     AND cudp.acc_month = #{acc_month} -->
<!--                </if> -->
			    <if test="dept_id != null and dept_id != ''">
                    AND cudp.dept_id = #{dept_id}
               </if>
			    
			    <if test="para_code != null and para_code != ''">
                    AND ( cudp.para_code like '%${para_code}%'
                       or cdpd.para_name like '%${para_code}%'
                    )
               </if>
			    <if test="para_value != null and para_value != ''">
                    AND cudp.para_value = #{para_value}
               </if>
        </where>   
		order by cudp.acc_year,cudp.acc_month,cudp.dept_id
    </select>
	
	<select id = "queryIncomeMain" parameterType="java.util.Map" resultMap="map">
						select group_id,
						       hos_id,
						       copy_code,
						       acc_year,
						       acc_month,
						       appl_dept_id dept_id,
						       appl_dept_no dept_no,
						       #{defined_para_code} para_code,
						       sum(money) para_value
						  from cost_income_main
						 where group_id = #{group_id}
						   and hos_id = #{hos_id}
						   and copy_code = #{copy_code}
						   and acc_year = #{acc_year}
						   and acc_month = #{acc_month}
						 group by group_id,
						          hos_id,
						          copy_code,
						          acc_year,
						          acc_month,
						          appl_dept_id,
						          appl_dept_no	
	</select>
	
	<select id = "queryIncomeDetail" parameterType="java.util.Map" resultMap="map">
							select group_id,
							       hos_id,
							       copy_code,
							       acc_year,
							       acc_month,
							       appl_dept_id dept_id,
							       appl_dept_no dept_no,
							       #{defined_para_code} para_code,
							       sum(money) para_value
							  from cost_income_detail
							 where group_id = #{group_id}
							   and hos_id = #{hos_id}
							   and copy_code = #{copy_code}
							   and acc_year = #{acc_year}
							   and acc_month = #{acc_month}
							 group by group_id,
							          hos_id,
							          copy_code,
							          acc_year,
							          acc_month,
							          appl_dept_id,
							          appl_dept_no
	</select>
	
	
	<select id = "getCostClinicWork" parameterType="java.util.Map" resultMap="map">

				select 
				 group_id,
				 hos_id,
				 copy_code,
				 acc_year,
				 acc_month,
				 dept_id,
				 dept_no,
				 #{defined_para_code} para_code,
				 sum(clinic_num) para_value
				from cost_clinic_work
				where group_id = #{group_id}
				and hos_id = #{hos_id}
				and copy_code = #{copy_code}
				and acc_year = #{acc_year}
				and acc_month = #{acc_month} 
				group by  group_id,
						  hos_id,
						  copy_code, 
						  acc_year,
						  acc_month,
						  dept_id,
						  dept_no
	                     
	
	</select>
	
	<select id = "getCostInhosWork" parameterType="java.util.Map" resultMap="map">
	           
				select 
				 group_id,
				 hos_id,
				 copy_code,
				 acc_year,
				 acc_month,
				 dept_id,
				 dept_no,
				 #{defined_para_code} para_code,
				 sum(bed_use_day_num) para_value
				from cost_inhos_work
				where group_id = #{group_id}
				and hos_id = #{hos_id}
				and copy_code = #{copy_code}
				and acc_year = #{acc_year}
				and acc_month = #{acc_month}
				group by group_id,
						 hos_id,
						 copy_code,
						 acc_year,
						 acc_month,
						 dept_id,
						 dept_no
	</select>
</mapper>

