<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostBusiSourecDictMapper">

	<resultMap id="costBusiSourecDictMap" type="com.chd.hrp.cost.entity.CostBusiSourecDict">
		<result property="busi_data_source_type" column="busi_data_source_type" />
		<result property="busi_data_source_code" column="busi_data_source_code" />
		<result property="busi_data_source_name" column="busi_data_source_name" />
		<result property="is_sys" column="is_sys" />
	</resultMap>
	
	<insert id="addCostBusiSourecDict" useGeneratedKeys="true">
	   
	 insert into cost_busi_sourec_dict
	   (busi_data_source_type, busi_data_source_code, busi_data_source_name,is_sys)
	 values
	   (#{busi_data_source_type}, #{busi_data_source_code}, #{busi_data_source_name},#{is_sys})
	
	</insert>
	
	<delete id="deleteBatchCostBusiSourecDict" parameterType="java.util.List">
					delete from cost_busi_sourec_dict
					where
				<foreach collection="list" index="index" item="item" separator="or" >
				(
					busi_data_source_type = #{item.busi_data_source_type}
					and busi_data_source_code = #{item.busi_data_source_code}
				)
				</foreach>
	</delete>	
	
	<update id="updateCostBusiSourecDict" parameterType="java.util.Map">
			UPDATE cost_busi_sourec_dict 
			SET
				busi_data_source_name = #{busi_data_source_name}
		    WHERE busi_data_source_type = #{busi_data_source_type} 
				and busi_data_source_code = #{busi_data_source_code} 
	</update>
	
	<select id="queryCostBusiSourecDictByCode" resultMap="costBusiSourecDictMap"
		parameterType="java.util.Map">

         select 
            busi_data_source_type, 
            busi_data_source_code, 
            busi_data_source_name 
         from cost_busi_sourec_dict
         where busi_data_source_type = #{busi_data_source_type}
         and  busi_data_source_code =  #{busi_data_source_code}

	</select>
	
	<select id="queryCostBusiSourecDict" resultMap="costBusiSourecDictMap" parameterType="java.util.Map">
	
             select 
               busi_data_source_type,
               busi_data_source_code, 
               busi_data_source_name,
               is_sys
             from cost_busi_sourec_dict
             <where>
              	<if test="busi_data_source_type != null and busi_data_source_type != ''">
				   and busi_data_source_type = #{busi_data_source_type}
			    </if>
			    <if test="busi_data_source_code != null and busi_data_source_code != ''">
				  and busi_data_source_code like '%'||#{busi_data_source_code}||'%'
			    </if>
             </where>
             order by busi_data_source_type,busi_data_source_code
             
	</select>
	
</mapper>
