<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostExecDeptMapper">
	<resultMap id="costIncomeDetail" type="com.chd.hrp.cost.entity.CostIncomeDetail">
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="year_month" column="year_month"/>
        <result property="income_id" column="income_id"/>
        <result property="charge_kind_code" column="charge_kind_code"/>
        <result property="charge_kind_name" column="charge_kind_name"/>
        <result property="appl_dept_code" column="appl_dept_code"/>
        <result property="appl_dept_name" column="appl_dept_name"/>
        <result property="exec_dept_code" column="exec_dept_code"/>
        <result property="exec_dept_name" column="exec_dept_name"/>
        <result property="busi_data_source_code" column="busi_data_source_code"/>
        <result property="busi_data_source_name" column="busi_data_source_name"/>
        <result property="money" column="money"/>
	</resultMap>
	

	<select id="queryCostExecDeptMain" parameterType="java.util.Map" resultMap="costIncomeDetail" >
			 with temp as (
			      select acc_year,
						 acc_month,
						 exec_dept_code,
						 exec_dept_name,
						 charge_kind_code,
						 charge_kind_name,
						 sum(money) money
				from cost_income_main
				where acc_year || acc_month between #{begin_year_month} and #{end_year_month}
				group by acc_year,
						 acc_month,
						 exec_dept_code,
						 exec_dept_name,
						 charge_kind_code,
						 charge_kind_name
                )select  acc_year || acc_month year_month,
						 exec_dept_code,
						 exec_dept_name,
						 charge_kind_code,
						 charge_kind_name,
						 money 
				 from temp
				 union all
				 select  '合计',
						 null,
						 null,
						 null,
						 null,
						 sum(money)
				 from temp
				 order by year_month,exec_dept_code,charge_kind_code
	</select>
	
	<select id="queryCostExecDeptMainPrint" parameterType="java.util.Map" resultType="java.util.Map" >
			 with temp as (
			      select acc_year,
						 acc_month,
						 exec_dept_code,
						 exec_dept_name,
						 charge_kind_code,
						 charge_kind_name,
						 sum(money) money
				from cost_income_main
				where acc_year || acc_month between #{begin_year_month} and #{end_year_month}
				group by acc_year,
						 acc_month,
						 exec_dept_code,
						 exec_dept_name,
						 charge_kind_code,
						 charge_kind_name
                )select  acc_year || acc_month year_month,
						 exec_dept_code,
						 exec_dept_name,
						 charge_kind_code,
						 charge_kind_name,
						 money 
				 from temp
				 union all
				 select  '合计',
						 null,
						 null,
						 null,
						 null,
						 sum(money)
				 from temp
				 order by year_month,exec_dept_code,charge_kind_code
	</select>
	
	
	
	<select id="queryCostExecDeptDetail" parameterType="java.util.Map" resultMap="costIncomeDetail" >
		  					 
					 with temp as(
					 select acc_year,
								  acc_month,
								  exec_dept_code,
								  exec_dept_name,
								  charge_kind_code,
								  charge_kind_name,
								  sum(money) money
						from cost_income_detail
						where acc_year || acc_month between #{begin_year_month} and #{end_year_month}
						group by acc_year,
										acc_month,
										exec_dept_code,
										exec_dept_name,
										charge_kind_code,
										charge_kind_name
						)select  acc_year || acc_month year_month,
										 exec_dept_code,
										 exec_dept_name,
										 charge_kind_code,
										 charge_kind_name,
										 money 
								 from temp
								 union all
								 select  '合计',
										 null,
										 null,
										 null,
										 null,
										 sum(money)
								 from temp
		  order by year_month,exec_dept_code,charge_kind_code

		
	</select>
	
	<select id="queryCostExecDeptDetailPrint" parameterType="java.util.Map" resultType="java.util.Map" >
		   with temp as(
					 select acc_year,
								  acc_month,
								  exec_dept_code,
								  exec_dept_name,
								  charge_kind_code,
								  charge_kind_name,
								  sum(money) money
						from cost_income_detail
						where acc_year || acc_month between #{begin_year_month} and #{end_year_month}
						group by acc_year,
										acc_month,
										exec_dept_code,
										exec_dept_name,
										charge_kind_code,
										charge_kind_name
						)select  acc_year || acc_month year_month,
										 exec_dept_code,
										 exec_dept_name,
										 charge_kind_code,
										 charge_kind_name,
										 money 
								 from temp
								 union all
								 select  '合计',
										 null,
										 null,
										 null,
										 null,
										 sum(money)
								 from temp
							order by year_month,exec_dept_code,charge_kind_code
	</select>
</mapper>