<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostMedicalTechnologyWorkMapper">
	<resultMap id="costMedicalTechnologyWorkMap" type="com.chd.hrp.cost.entity.CostMedicalTechnologyWork">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="medical_num" column="medical_num" />
	</resultMap>
	
	<insert id="addCostMedicalTechnologyWork" useGeneratedKeys="true" >
	       insert into cost_medical_technology_work
					  (group_id,
					   hos_id,
					   copy_code,
					   acc_year,
					   acc_month,
					   dept_id,
					   dept_no,
					   medical_num)
					values
					  (#{group_id},
					   #{hos_id},
					   #{copy_code},
					   #{acc_year},
					   #{acc_month},
					   #{dept_id},
					   #{dept_no},
					   #{medical_num}
					   )
						       
	</insert>
	
	
	<select id="queryCostMedicalTechnologyWork" parameterType="java.util.Map" resultMap="costMedicalTechnologyWorkMap">
	  with temp as(
	       select  cmtw.group_id,
			       cmtw.hos_id,
			       cmtw.copy_code,
			       cmtw.acc_year,
			       cmtw.acc_month,
			       cmtw.dept_id,
			       cmtw.dept_no,
				   hdd.dept_code,
				   hdd.dept_name,
			       cmtw.medical_num
			  from cost_medical_technology_work cmtw
				 left join hos_dept_dict hdd
				 on cmtw.group_id = hdd.group_id
				 and cmtw.hos_id = hdd.hos_id
				 and cmtw.dept_id = hdd.dept_id
				 where hdd.is_stop = 0
				 and cmtw.group_id = #{group_id}
				 and cmtw.hos_id = #{hos_id}
				 and cmtw.copy_code = #{copy_code}
				 and acc_year || acc_month between #{b_year_month} and  #{e_year_month}
		) select group_id,hos_id,copy_code,acc_year,acc_month,dept_id,dept_no,dept_code,dept_name,medical_num from temp
          union all
	      select null,null,null,'合','计',null,null,null,null,sum(medical_num) from temp
				       
	</select>
	
	<select id="queryCostMedicalTechnologyWorkByCode" parameterType="java.util.Map" resultMap="costMedicalTechnologyWorkMap">
	            select cmtw.group_id,
				       cmtw.hos_id,
				       cmtw.copy_code,
				       cmtw.acc_year,
				       cmtw.acc_month,
				       cmtw.dept_id,
				       cmtw.dept_no,
					   hdd.dept_code,
					   hdd.dept_name,
				       cmtw.medical_num
				  from cost_medical_technology_work cmtw
					 left join hos_dept_dict hdd
					 on cmtw.group_id = hdd.group_id
					 and cmtw.hos_id = hdd.hos_id
					 and cmtw.dept_id = hdd.dept_id
					 where hdd.is_stop = 0
					 and cmtw.group_id = #{group_id}
					 and cmtw.hos_id = #{hos_id}
					 and cmtw.copy_code = #{copy_code}
					 and cmtw.acc_year = #{acc_year}
					 and cmtw.acc_month = #{acc_month}
					 and cmtw.dept_id = #{dept_id}
					 and cmtw.dept_no = #{dept_no}
	</select>
	
	
	<delete id="deleteCostMedicalTechnologyWork" parameterType="java.util.Map">
	         delete from cost_medical_technology_work
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and acc_year = #{acc_year}
			   and acc_month = #{acc_month}
			   and dept_id = #{dept_id}
			   and dept_no = #{dept_no}
				         
	</delete>
	  
	<delete id="deleteBatchCostMedicalTechnologyWork" parameterType="java.util.List">
	
	            delete from cost_medical_technology_work where
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			      group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and acc_year = #{item.acc_year}
			   and acc_month = #{item.acc_month}
			   and dept_id = #{item.dept_id}
			   and dept_no = #{item.dept_no}
			</foreach>
	
	</delete>
	
	<update id="updateCostMedicalTechnologyWork" parameterType="java.util.Map"> 
	
	     update cost_medical_technology_work
			  set medical_num = #{medical_num}
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and acc_year = #{acc_year}
			   and acc_month = #{acc_month}
			   and dept_id = #{dept_id}
			   and dept_no = #{dept_no}
				     
	</update>
	
</mapper>
