<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostFassetCostRelaMapper">

	<resultMap id="costFassetCostRela" type="com.chd.hrp.cost.entity.CostFassetCostRela">
        <result property="id" column="id"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="asset_type_id" column="asset_type_id"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="cost_item_id" column="cost_item_id"/>
        <result property="cost_item_no" column="cost_item_no"/>
         
        <result property="asset_type_code" column="asset_type_code"/>
        <result property="cost_item_name" column="cost_item_name"/>
        <result property="cost_item_code" column="cost_item_code"/>
        <result property="asset_type_name" column="asset_type_name"/>
	</resultMap>
	
    <insert id="addCostFassetCostRela" useGeneratedKeys="true" >
    
        INSERT INTO COST_FASSET_COST_RELA 
		(
            id,
            group_id,
            hos_id,
            copy_code,
            asset_type_code,
            cost_item_code
        ) 
		VALUES 
		(
		 COST_FASSET_COST_RELA_SEQ.NEXTVAL,
		 #{group_id},
		 #{hos_id},
		 #{copy_code},
		 #{asset_type_code},
		 #{cost_item_code}
        )
    
    </insert>
	
	<insert id="addBatchCostFassetCostRela" parameterType="java.util.List" >
    
        INSERT INTO COST_FASSET_COST_RELA 
		(
    		id,
    		group_id,
    		hos_id,
    		copy_code,
    		asset_type_code,
    		cost_item_code
        ) 
		<!-- 没有序列的变通调整 顺序要调整一下 -->
		select COST_FASSET_COST_RELA_SEQ.NEXTVAL,A.* FROM (
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
		    #{item.group_id},
		    #{item.hos_id},
		    #{item.copy_code},
		    #{item.asset_type_code},
		    #{item.cost_item_code}
		 from dual 
		</foreach>
		) A
    
    </insert>

	<update id="updateCostFassetCostRela" parameterType="java.util.Map">
    
        UPDATE cost_fasset_cost_rela SET
			 group_id = #{group_id},
			 hos_id = #{hos_id},
			 copy_code = #{copy_code},
			 asset_type_code = #{asset_type_code},
			 cost_item_code = #{cost_item_code}
        WHERE 
		    id = #{id}
   
	</update>
	
	<update id="updateBatchCostFassetCostRela" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE cost_fasset_cost_rela SET
			 group_id = #{group_id},
			 hos_id = #{hos_id},
			 copy_code = #{copy_code},
			 asset_type_code = #{asset_type_code},
			 cost_item_code = #{cost_item_code}
        WHERE 
		    id = #{item.id}
    </foreach>
	</update>

    <delete id="deleteCostFassetCostRela" parameterType="java.util.Map">
   
        DELETE FROM cost_fasset_cost_rela 
			WHERE
				id = #{id}
   
    </delete>
	
    <delete id="deleteBatchCostFassetCostRela" parameterType="java.util.List">
        DELETE FROM cost_fasset_cost_rela 
			WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			    id = #{item.id}
			</foreach>
        
    </delete>
    
    <select id="queryCostFassetCostRelaByCode" resultType="com.chd.hrp.cost.entity.CostFassetCostRela" parameterType="string" >
SELECT 
            cfcr.id,
            cfcr.group_id,
            cfcr.hos_id,
            cfcr.copy_code,
            cidn.cost_item_code,
            cidn.cost_item_name,
            cfta.asset_type_code,
            cfta.asset_type_name
FROM COST_FASSET_COST_RELA cfcr
left join COST_FASSET_TYPE_ARRT cfta on cfcr.asset_type_code = cfta.asset_type_code and cfcr.group_id = cfta.group_id and cfcr.hos_id = cfta.hos_id and cfcr.copy_code = cfcr.copy_code
left join COST_ITEM_DICT cidn on cfcr.cost_item_code = cidn.cost_item_code 
 and cfcr.group_id = cidn.group_id and cfcr.hos_id = cidn.hos_id and cfcr.copy_code = cidn.copy_code
              <where>         
            	<if test="id != null and id != ''">
                    AND cfcr.id = #{id}
               </if>              
			    <if test="group_id != null and group_id != ''">
                    AND cfcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cfcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cfcr.copy_code = #{copy_code}
               </if>
			    <if test="asset_type_code != null and asset_type_code != ''">
                    AND cfta.asset_type_code = #{asset_type_code}
               </if>
			    <if test="cost_item_code != null and cost_item_code != ''">
                    AND cfcr.cost_item_code = #{cost_item_code}
               </if>
        </where>     	  
        
	</select>
	<select id="queryCostFassetCostRela" parameterType="java.util.Map" resultMap="costFassetCostRela" >
      
SELECT 
            cfcr.id,
            cfcr.group_id,
            cfcr.hos_id,
            cfcr.copy_code,
            cidn.cost_item_code,
            cidn.cost_item_name,
            cfta.asset_type_code,
            cfta.asset_type_name
FROM COST_FASSET_COST_RELA cfcr
left join COST_FASSET_TYPE_ARRT cfta on cfcr.asset_type_code = cfta.asset_type_code and cfcr.group_id = cfta.group_id and cfcr.hos_id = cfta.hos_id and cfcr.copy_code = cfcr.copy_code
left join COST_ITEM_DICT cidn on cfcr.cost_item_code = cidn.cost_item_code 
 and cfcr.group_id = cidn.group_id and cfcr.hos_id = cidn.hos_id and cfcr.copy_code = cidn.copy_code
            <where>         
             	<if test="id != null and id != ''">
                    AND cfcr.id = #{id}
               </if>            
			    <if test="group_id != null and group_id != ''">
                    AND cfcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cfcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cfcr.copy_code = #{copy_code}
               </if>
			    <if test="asset_type_code != null and asset_type_code != ''">
                    AND cfta.asset_type_code = #{asset_type_code}
               </if>
			    <if test="cost_item_code != null and cost_item_code != ''">
                    AND cfcr.cost_item_code = #{cost_item_code}
               </if>
        </where>   
    </select>
    
    <select id="queryCostFassetArrtPrint" parameterType="java.util.Map" resultType="java.util.Map" >
      
SELECT 
            cfcr.id,
            cfcr.group_id,
            cfcr.hos_id,
            cfcr.copy_code,
            cidn.cost_item_code,
            cidn.cost_item_name,
            cfta.asset_type_code,
            cfta.asset_type_name
FROM COST_FASSET_COST_RELA cfcr
left join COST_FASSET_TYPE_ARRT cfta on cfcr.asset_type_code = cfta.asset_type_code and cfcr.group_id = cfta.group_id and cfcr.hos_id = cfta.hos_id and cfcr.copy_code = cfcr.copy_code
left join COST_ITEM_DICT cidn on cfcr.cost_item_code = cidn.cost_item_code 
 and cfcr.group_id = cidn.group_id and cfcr.hos_id = cidn.hos_id and cfcr.copy_code = cidn.copy_code
            <where>         
             	<if test="id != null and id != ''">
                    AND cfcr.id = #{id}
               </if>            
			    <if test="group_id != null and group_id != ''">
                    AND cfcr.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND cfcr.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND cfcr.copy_code = #{copy_code}
               </if>
			    <if test="asset_type_code != null and asset_type_code != ''">
                    AND cfta.asset_type_code = #{asset_type_code}
               </if>
			    <if test="cost_item_code != null and cost_item_code != ''">
                    AND cfcr.cost_item_code = #{cost_item_code}
               </if>
        </where>   
				order by cfcr.group_id asc
    </select>
	
</mapper>

