<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostFassetImputationMapper">

	<resultMap id="costFassetImputation" type="com.chd.hrp.cost.entity.CostFassetImputation">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="year_month" column="year_month" />
		<result property="amount" column="amount" />
		<result property="source_code" column="source_code" />
		<result property="source_name" column="source_name" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="cost_item_code" column="cost_item_code" />
		<result property="cost_item_name" column="cost_item_name" />
	</resultMap>

	
	<select id="queryCostFassetImputation" parameterType="java.util.Map" resultMap="costFassetImputation">

		SELECT cfd.group_id, cfd.hos_id, cfd.copy_code, cfd.year_month,
      nvl(sum(cfd.depre_amount),0) as amount,
      hdd.dept_code AS dept_code,
      hdd.dept_name AS dept_name,
      hs.source_code AS source_code,
      hs.source_name AS source_name,
      cidn.cost_item_code as cost_item_code,
      cidn.cost_item_name as cost_item_name
    FROM COST_FASSET_DETAIL cfd
    LEFT JOIN hos_dept_dict hdd ON cfd.dept_id = hdd.dept_id 
<if test="is_flag == 1 ">
		and cfd.dept_no = hdd.dept_no 
</if>
<if test="is_flag == 0 or is_flag == ''">
		and hdd.is_stop=0
</if>
     AND cfd.group_id = hdd.group_id AND cfd.hos_id = hdd.hos_id
    LEFT JOIN COST_FASSET_ARRT cfa ON cfd.asset_id = cfa.asset_id AND cfd.group_id = cfa.group_id AND cfd.hos_id = cfa.hos_id AND cfa.copy_code = cfd.copy_code
    LEFT JOIN COST_FASSET_COST_RELA cfcr ON cfa.asset_type_id = cfcr.asset_type_id AND cfd.group_id = cfcr.group_id AND cfd.hos_id = cfcr.hos_id AND cfd.copy_code = cfcr.copy_code
    LEFT JOIN COST_ITEM_DICT_NO cidn ON cfd.group_id = cidn.group_id and cfd.hos_id = cidn.hos_id and cfd.copy_code = cidn.copy_code and cfcr.cost_item_id = cidn.cost_item_id
<if test="is_flag == 1 ">
		and cfcr.cost_item_no = cidn.cost_item_no
</if>
<if test="is_flag == 0 or is_flag == ''">
		and cidn.is_stop=0
</if>
    LEFT JOIN HOS_SOURCE hs ON cfd.source_id = hs.source_id AND cfd.group_id = hs.group_id AND cfd.hos_id = hs.hos_id
    	<where>
			<if test="group_id != null and group_id != ''">
				AND cfd.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND cfd.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND cfd.copy_code = #{copy_code}
			</if>
			<if test="year_month != null and year_month != ''">
				AND cfd.year_month = #{year_month}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND cfd.dept_id = #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND cfd.dept_no = #{dept_no}
			</if>
			<if test="source_id != null and source_id != ''">
				AND cfd.source_id = #{source_id}
			</if>
			<if test="source_code != null and source_code != ''">
				AND hs.source_code = #{source_code}
			</if>
			<if test="dept_code != null and dept_code != ''">
				AND hdd.dept_code = #{dept_code}
			</if>
			<if test="amount != null and amount != ''">
				AND cfd.amount = #{amount}
			</if>
			<if test="cost_item_id != null and cost_item_id != ''">
				AND cidn.cost_item_id = #{cost_item_id}
			</if>
			<if test="cost_item_no != null and cost_item_no != ''">
				AND cidn.cost_item_no = #{cost_item_no}
			</if>
			
		</where>
		 group by cfd.group_id, cfd.hos_id, cfd.copy_code, cfd.year_month, hdd.dept_code, hdd.dept_name, hs.source_code, hs.source_name,cidn.cost_item_code,cidn.cost_item_name
		 order by cfd.group_id asc
	</select>

</mapper>

