<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.CostDeptTypeDictMapper">

	<resultMap id="costDeptTypeDict" type="com.chd.hrp.cost.entity.CostDeptTypeDict">
		<result property="cost_type_id" column="cost_type_id" />
		<result property="cost_type_code" column="cost_type_code" />
		<result property="cost_type_name" column="cost_type_name" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
	</resultMap>

	<insert id="addCostDeptTypeDict" useGeneratedKeys="true">

		INSERT INTO cost_type_dict (
		cost_type_id
		,
		cost_type_code
		,
		cost_type_name
		,
		spell_code
		,
		wbx_code

		) VALUES (
		cost_type_dict_SEQ.nextval ,
		#{cost_type_code} ,
		#{cost_type_name} ,
		#{spell_code} ,
		#{wbx_code}
		)

	</insert>

	<select id="queryCurrentSequence" resultType="java.lang.Long">
		select
		cost_type_dict_SEQ.currval cost_type_id from dual
	</select>
	<insert id="addBatchCostDeptTypeDict" parameterType="java.util.List">

		INSERT INTO cost_type_dict (
		cost_type_id
		,
		cost_type_code
		,
		cost_type_name
		,
		spell_code
		,
		wbx_code

		)
		select cost_type_dict_SEQ.nextval,a.* from (
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.cost_type_code} ,
			#{item.cost_type_name} ,
			#{item.spell_code} ,
			#{item.wbx_code}
			from dual
		</foreach>
         ) a
	</insert>

	<update id="updateCostDeptTypeDict" parameterType="java.util.Map">

		UPDATE cost_type_dict SET
		cost_type_code = #{cost_type_code}
		,
		cost_type_name = #{cost_type_name}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}

		WHERE
		cost_type_id = #{cost_type_id}

	</update>

	<update id="updateCostDeptTypeDictByName" parameterType="java.util.Map">

		UPDATE cost_type_dict SET
		cost_type_name = #{cost_type_name}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}

		WHERE
		cost_type_id = #{cost_type_id}

	</update>

	<update id="updateCostDeptTypeDictByCode" parameterType="java.util.Map">

		UPDATE cost_type_dict SET
		cost_type_code = #{cost_type_code}

		WHERE
		cost_type_id = #{cost_type_id}

	</update>

	<update id="updateBatchCostDeptTypeDict" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE cost_type_dict SET
			cost_type_code = #{cost_type_code}
			,
			cost_type_name = #{cost_type_name}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}

			WHERE
			cost_type_id = #{item.cost_type_id}

		</foreach>
	</update>

	<delete id="deleteCostDeptTypeDict" parameterType="java.util.Map">

		DELETE FROM cost_type_dict WHERE
		cost_type_id = #{cost_type_id}

	</delete>
	<delete id="deleteBatchCostDeptTypeDict" parameterType="java.util.List">
		DELETE FROM cost_type_dict WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			cost_type_id = #{item.cost_type_id}
		</foreach>


	</delete>

	<select id="queryCostDeptTypeDictByCode" resultType="com.chd.hrp.cost.entity.CostDeptTypeDict"
		parameterType="string">

		SELECT
		cost_type_id,
		cost_type_code,
		cost_type_name,
		spell_code,
		wbx_code
		FROM cost_type_dict
		<where>
			<if test="cost_type_id != null and cost_type_id != ''">
				AND cost_type_id = #{cost_type_id}
			</if>
			<if test="cost_type_code != null and cost_type_code != ''">
				AND cost_type_code = #{cost_type_code}
			</if>
		</where>

	</select>
	<select id="queryCostDeptTypeDict" parameterType="java.util.Map"
		resultMap="costDeptTypeDict">

		SELECT
		cost_type_id,
		cost_type_code,
		cost_type_name,
		spell_code,
		wbx_code
		FROM cost_type_dict
		<where>
			<if test="cost_type_id != null and cost_type_id != ''">
				AND cost_type_id = #{cost_type_id}
			</if>
			<if test="cost_type_code != null and cost_type_code != ''">
				AND cost_type_code like '%${cost_type_code}%' 
			</if>
			<if test="cost_type_name != null and cost_type_name != ''">
				AND cost_type_name like '%${cost_type_name}%' 
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code}
			</if>
		</where>
		order by cost_type_code asc
	</select>
	<select id="queryCostDeptTypeDictByTypeCode" resultType="com.chd.hrp.cost.entity.CostDeptTypeDict"
		parameterType="string">

		SELECT
		cost_type_id,
		cost_type_code,
		cost_type_name,
		spell_code,
		wbx_code
		FROM cost_type_dict
		<where>
			<if test="cost_type_id != null and cost_type_id != ''">
				AND cost_type_id = #{cost_type_id}
			</if>
			<if test="cost_type_code != null and cost_type_code != ''">
				AND cost_type_code = #{cost_type_code}
			</if>
		</where>
	</select>
</mapper>

