<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.fkht.guarantee.PactDepRecFKHTMapper">
	<resultMap id="pactDepRecFKHT"
		type="com.chd.hrp.pac.entity.fkht.guarantee.PactDepRecFKHTEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="rec_code" column="rec_code" />
		<result property="pact_code" column="pact_code" />
		<result property="pact_name" column="pact_name" />
		<result property="sup_id" column="sup_id" />
		<result property="sup_no" column="sup_no" />
		<result property="sup_name" column="sup_name" />
		<result property="rec_date" column="rec_date" />
		<result property="pay_way" column="pay_way" />
		<result property="cheq_no" column="cheq_no" />
		<result property="money" column="money" />
		<result property="ret_plan_date" column="ret_plan_date" />
		<result property="note" column="note" />
		<result property="state" column="state" />
		<result property="maker" column="maker" />
		<result property="maker_name" column="maker_name" />
		<result property="make_date" column="make_date" />
		<result property="checker" column="checker" />
		<result property="checker_name" column="checker_name" />
		<result property="check_date" column="check_date" />
		<result property="confirmer" column="confirmer" />
		<result property="confirmer_name" column="confirmer_name" />
		<result property="confirm_date" column="confirm_date" />
		<result property="is_init" column="is_init" />
	</resultMap>

	<select id="query" parameterType="java.util.Map"
		resultMap="pactDepRecFKHT">
		SELECT
			drf.REC_CODE,
			drf.REC_DATE,
			drf.PACT_CODE,
			mf.PACT_NAME,
			hs.SUP_NAME,
			apt.PAY_NAME AS pay_way,
			drf.CHEQ_NO,
			drf.MONEY,
			drf.NOTE,
			dd.VALUE_NAME AS state,
			he.USER_NAME AS maker_name,
			he1.USER_NAME AS checker_name,
			he2.USER_NAME AS confirmer_name 
		FROM
			PACT_DEP_REC_FKHT drf
			LEFT JOIN PACT_MAIN_FKHT mf ON drf.GROUP_ID = mf.GROUP_ID AND drf.HOS_ID = mf.HOS_ID AND drf.COPY_CODE = mf.COPY_CODE AND drf.PACT_CODE = mf.PACT_CODE
			LEFT JOIN HOS_SUP_DICT hs ON hs.GROUP_ID = drf.GROUP_ID AND hs.HOS_ID = drf.HOS_ID AND hs.SUP_NO = drf.SUP_NO
			LEFT JOIN sys_user he ON he.GROUP_ID = drf.GROUP_ID AND he.HOS_ID = drf.HOS_ID AND he.USER_ID = drf.MAKER
			LEFT JOIN sys_user he1 ON he1.GROUP_ID = drf.GROUP_ID AND he1.HOS_ID = drf.HOS_ID AND he1.USER_ID = drf.CHECKER
			LEFT JOIN sys_user he2 ON he2.GROUP_ID = drf.GROUP_ID AND he2.HOS_ID = drf.HOS_ID AND he2.USER_ID = drf.CONFIRMER
			LEFT JOIN PACT_DICT_DATA dd ON dd.VALUE_CODE = drf.STATE AND dd.F_CODE = 'STATE'
			LEFT JOIN ACC_PAY_TYPE apt ON apt.GROUP_ID = drf.GROUP_ID AND apt.hos_id = drf.hos_id AND apt.copy_code = drf.copy_code AND apt.pay_code = drf.PAY_WAY 
		<where>
			drf.group_id=#{group_id,jdbcType=NUMERIC}
			and drf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and drf.copy_code=#{copy_code,jdbcType=VARCHAR}
			<if test="is_init != null and is_init != ''">
				and drf.IS_INIT=#{is_init,jdbcType=NUMERIC}
			</if>
			<if test="state != null and state != ''">
				and drf.state=#{state,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				and drf.note like '%'||#{note,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pay_type != null and pay_type != ''">
				and drf.pay_type=#{pay_type,jdbcType=VARCHAR}
			</if>
			<if test="cheq_no != null and cheq_no != ''">
				and drf.cheq_no=#{cheq_no,jdbcType=VARCHAR}
			</if>
			<if test="sup_no != null and sup_no != ''">
				and drf.sup_no=#{sup_no,jdbcType=VARCHAR}
			</if>
			<if test="rec_code != null and rec_code != ''">
				and drf.rec_code like upper(#{rec_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_name != null and pact_name != ''">
				and mf.pact_name like '%'||#{pact_name,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pact_code != null and pact_code != ''">
				and drf.pact_code like upper(#{pact_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_type_code != null and pact_type_code != ''">
				and mf.pact_type_code=#{pact_type_code,jdbcType=VARCHAR}
			</if>
			<if test="pay_way != null and pay_way != ''">
				and drf.PAY_WAY =#{pay_way,jdbcType=VARCHAR}
			</if>
			<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and drf.REC_DATE BETWEEN
				to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd') AND
				to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
			</if>
		</where>
	</select>
	<select id="queryForPrint" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
			drf.REC_CODE,
			drf.rec_date,
			drf.PACT_CODE,
			mf.PACT_NAME,
			hs.SUP_NAME,
			apt.PAY_NAME AS pay_way,
			drf.CHEQ_NO,
			drf.MONEY,
			drf.NOTE,
			dd.VALUE_NAME AS state,
			he.USER_NAME AS maker_name,
			he1.USER_NAME AS checker_name,
			he2.USER_NAME AS confirmer_name 
		FROM
			PACT_DEP_REC_FKHT drf
			LEFT JOIN PACT_MAIN_FKHT mf ON drf.GROUP_ID = mf.GROUP_ID AND drf.HOS_ID = mf.HOS_ID AND drf.COPY_CODE = mf.COPY_CODE AND drf.PACT_CODE = mf.PACT_CODE
			LEFT JOIN HOS_SUP_DICT hs ON hs.GROUP_ID = drf.GROUP_ID AND hs.HOS_ID = drf.HOS_ID AND hs.SUP_NO = drf.SUP_NO
			LEFT JOIN sys_user he ON he.GROUP_ID = drf.GROUP_ID AND he.HOS_ID = drf.HOS_ID AND he.USER_ID = drf.MAKER
			LEFT JOIN sys_user he1 ON he1.GROUP_ID = drf.GROUP_ID AND he1.HOS_ID = drf.HOS_ID AND he1.USER_ID = drf.CHECKER
			LEFT JOIN sys_user he2 ON he2.GROUP_ID = drf.GROUP_ID AND he2.HOS_ID = drf.HOS_ID AND he2.USER_ID = drf.CONFIRMER
			LEFT JOIN PACT_DICT_DATA dd ON dd.VALUE_CODE = drf.STATE AND dd.F_CODE = 'STATE'
			LEFT JOIN ACC_PAY_TYPE apt ON apt.GROUP_ID = drf.GROUP_ID AND apt.hos_id = drf.hos_id AND apt.copy_code = drf.copy_code AND apt.pay_code = drf.PAY_WAY 
		<where>
			drf.group_id=#{group_id,jdbcType=NUMERIC}
			and drf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and drf.copy_code=#{copy_code,jdbcType=VARCHAR}
			and drf.IS_INIT=#{is_init,jdbcType=NUMERIC}
			<if test="state != null and state != ''">
				and drf.state=#{state,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				and drf.note like '%'||#{note,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pay_type != null and pay_type != ''">
				and drf.pay_type=#{pay_type,jdbcType=VARCHAR}
			</if>
			<if test="cheq_no != null and cheq_no != ''">
				and drf.cheq_no=#{cheq_no,jdbcType=VARCHAR}
			</if>
			<if test="sup_no != null and sup_no != ''">
				and drf.sup_no=#{sup_no,jdbcType=VARCHAR}
			</if>
			<if test="rec_code != null and rec_code != ''">
				and drf.rec_code like upper(#{rec_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_name != null and pact_name != ''">
				and mf.pact_name like '%'||#{pact_name,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pact_code != null and pact_code != ''">
				and drf.pact_code like upper(#{pact_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_type_code != null and pact_type_code != ''">
				and mf.pact_type_code=#{pact_type_code,jdbcType=VARCHAR}
			</if>
			<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and drf.rec_date BETWEEN
				to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd') AND
				to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
			</if>
		</where>
	</select>

	<select id="queryMaxId" parameterType="java.util.Map"
		resultType="java.lang.String">
		SELECT
		max(rec_code)
		FROM
		PACT_DEP_REC_FKHT where
		group_id = #{group_id,jdbcType=NUMERIC}
		and hos_id = #{hos_id,jdbcType=NUMERIC}
		and copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
	<select id="queryByCode" parameterType="java.util.Map"
		resultMap="pactDepRecFKHT">
		SELECT
			drf.REC_CODE,
			drf.SUP_NO,
			drf.SUP_ID,
			drf.rec_date,
			drf.PACT_CODE,
			drf.ret_plan_date,
			drf.PAY_WAY,
			drf.CHEQ_NO,
			drf.MONEY,
			drf.NOTE,
			he.USER_NAME AS maker_name,
			drf.MAKE_DATE,
			he1.USER_NAME AS confirmer_name,
			drf.confirm_date,drf.state,drf.is_init
		FROM
			PACT_DEP_REC_FKHT drf
			LEFT JOIN sys_user he ON he.GROUP_ID = drf.GROUP_ID AND he.HOS_ID = drf.HOS_ID AND he.USER_ID = drf.MAKER
			LEFT JOIN sys_user he1 ON he1.GROUP_ID = drf.GROUP_ID AND he1.HOS_ID = drf.HOS_ID AND he1.USER_ID = drf.confirmer
		WHERE
		drf.group_id= #{group_id,jdbcType=NUMERIC}
		and drf.hos_id= #{hos_id,jdbcType=NUMERIC}
		and drf.copy_code= #{copy_code,jdbcType=VARCHAR}
		and drf.rec_code = #{rec_code,jdbcType=VARCHAR}
		and drf.pact_code = #{pact_code,jdbcType=VARCHAR}
	</select>

	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_DEP_REC_FKHT (
		group_id,hos_id,copy_code,rec_code,pact_code,sup_id,sup_no,rec_date,pay_way,cheq_no,
		money,ret_plan_date,note,state,maker,make_date,checker,check_date,confirmer,confirm_date,is_init
		)
		VALUES(
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{rec_code,jdbcType=VARCHAR},
		#{pact_code,jdbcType=VARCHAR},
		#{sup_id,jdbcType=VARCHAR},
		#{sup_no,jdbcType=VARCHAR},
		to_timestamp(#{date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		#{pay_way,jdbcType=VARCHAR},
		#{cheq_no,jdbcType=VARCHAR},
		#{money,jdbcType=VARCHAR},
		to_timestamp(#{ret_plan_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		#{note,jdbcType=VARCHAR},
		#{state,jdbcType=VARCHAR},
		#{maker,jdbcType=NUMERIC},
		to_timestamp(#{make_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		#{checker,jdbcType=NUMERIC},
		#{check_date,jdbcType=TIMESTAMP},
		#{confirmer,jdbcType=NUMERIC},
		#{confirm_date,jdbcType=TIMESTAMP},
		#{is_init,jdbcType=NUMERIC}
		)
	</insert>


	<update id="updateState" parameterType="java.util.Map">
		UPDATE PACT_DEP_REC_FKHT SET
		<if test="state == '01'">
			checker=#{checker,jdbcType=NUMERIC},
			check_date=#{check_date,jdbcType=TIMESTAMP},
		</if>
		<if test="state == '02'">
			<if test="checker != null and checker != ''">
				checker=#{checker,jdbcType=NUMERIC},
				check_date=#{check_date,jdbcType=TIMESTAMP},
			</if>
			confirmer=#{confirmer,jdbcType=NUMERIC},
			confirm_date=#{confirm_date,jdbcType=TIMESTAMP},
		</if>
		<if test="state == '03'">
			confirmer=#{confirmer,jdbcType=NUMERIC},
			confirm_date=#{confirm_date,jdbcType=TIMESTAMP},
		</if>
		state=#{state,jdbcType=NUMERIC}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND rec_code in
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	
	<update id="update" parameterType="java.util.Map">
		UPDATE PACT_DEP_REC_FKHT SET
		<if test="pact_code != null and pact_code != ''">
			pact_code=#{pact_code,jdbcType=VARCHAR},
		</if>
		<if test="sup_id != null and sup_id != ''">
			sup_id=#{sup_id,jdbcType=VARCHAR},
		</if>
		<if test="sup_no != null and sup_no != ''">
			sup_no=#{sup_no,jdbcType=VARCHAR},
		</if>
		<if test="date != null and date != ''">
			rec_date=to_timestamp(#{date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		</if>
		<if test="pay_way != null and pay_way != ''">
			pay_way=#{pay_way,jdbcType=VARCHAR},
		</if>
		<if test="cheq_no != null and cheq_no != ''">
			cheq_no=#{cheq_no,jdbcType=VARCHAR},
		</if>
		<if test="money != null and money != ''">
			money=#{money,jdbcType=VARCHAR},
		</if>
		<if test="ret_plan_date != null and ret_plan_date != ''">
			ret_plan_date=to_timestamp(#{ret_plan_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		</if>
		<if test="note != null and note != ''">
			note=#{note,jdbcType=VARCHAR}
		</if>
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND rec_code = #{rec_code,jdbcType=VARCHAR}
	</update>


	<delete id="deleteAllBatch">
		DELETE FROM PACT_DEP_REC_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND rec_code = #{item.rec_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	<delete id="deleteByPactCodeList">
		DELETE FROM PACT_DEP_REC_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	<delete id="deleteByPactCode" parameterType="java.util.Map">
		DELETE FROM
		PACT_DEP_REC_FKHT WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		and HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
	</delete>
</mapper>