<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.tongJiReports.AssAgeAnalyzeMapper">
	<resultMap id="assAgeAnalyze" type="java.util.Map">
		<result property="ass_card_no" column="ass_card_no" />
		<result property="ass_code" column="ass_code" />
		<result property="ass_name" column="ass_name" />
		<result property="ass_spec" column="ass_spec" />
		<result property="ass_mondl" column="ass_mondl" />
		<result property="fac_name" column="fac_name" />
		<result property="store_name" column="store_name" />
		<result property="dept_name" column="dept_name" />
		<result property="acc_depre_amount" column="acc_depre_amount" />
		<result property="add_depre_month" column="add_depre_month" />
	</resultMap>
	<select id="queryAssCardUseYearOrLifeYear" resultMap="assAgeAnalyze" parameterType="java.util.Map">
		with CardDataAll as
		 ( select acs.ass_card_no,
		          acs.group_id,
		          acs.hos_id,
		          acs.copy_code,
		          '02' as ass_naturs,
		          acs.buy_type,
		          acs.store_id,
		          acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		          andd.ass_code,
		          andd.ass_name,
		          acs.ass_spec,
		          acs.ass_mondl,
		          hfd.fac_name,
		          hsd.store_name,
		          hdd.dept_name,
		          acs.acc_depre_amount,
		          acs.add_depre_month
		    from ASS_CARD_GENERAL acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_FAC_DICT hfd
		      on acs.group_id = hfd.group_id
		     and acs.hos_id = hfd.hos_id
		     and acs.fac_id = hfd.fac_id
		     and acs.fac_no = hfd.fac_no
		     and hfd.is_stop = 0
		     and hfd.is_disable = 0
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.store_id = hsd.store_id
		     and acs.store_no = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_NO = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '01' as ass_naturs,
		         acs.buy_type,
		         acs.store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         acs.ass_spec,
		         acs.ass_mondl,
		         hfd.fac_name,
		         hsd.store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_SPECIAL acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_FAC_DICT hfd
		      on acs.group_id = hfd.group_id
		     and acs.hos_id = hfd.hos_id
		     and acs.fac_id = hfd.fac_id
		     and acs.fac_no = hfd.fac_no
		     and hfd.is_stop = 0
		     and hfd.is_disable = 0
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.store_id = hsd.store_id
		     and acs.store_no = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_NO = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '04' as ass_naturs,
		         acs.buy_type,
		         acs.store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         acs.ass_spec,
		         acs.ass_mondl,
		         hfd.fac_name,
		         hsd.store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_OTHER acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_FAC_DICT hfd
		      on acs.group_id = hfd.group_id
		     and acs.hos_id = hfd.hos_id
		     and acs.fac_id = hfd.fac_id
		     and acs.fac_no = hfd.fac_no
		     and hfd.is_stop = 0
		     and hfd.is_disable = 0
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.store_id = hsd.store_id
		     and acs.store_no = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_NO = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '05' as ass_naturs,
		         acs.buy_type,
		         acs.store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         '' as ass_spec,
		         '' as ass_mondl,
		         hfd.fac_name,
		         hsd.store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_INASSETS acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_FAC_DICT hfd
		      on acs.group_id = hfd.group_id
		     and acs.hos_id = hfd.hos_id
		     and acs.fac_id = hfd.fac_id
		     and acs.fac_no = hfd.fac_no
		     and hfd.is_stop = 0
		     and hfd.is_disable = 0
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.store_id = hsd.store_id
		     and acs.store_no = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_no = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '03' as ass_naturs,
		         acs.buy_type,
		         null as store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         '' as ass_spec,
		         '' as ass_mondl,
		         '' as fac_name,
		         hsd.store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_HOUSE acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.DEPT_ID = hsd.store_id
		     and acs.DEPT_NO = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_no = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '06' as ass_naturs,
		         acs.buy_type,
		         null as store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         '' as ass_spec,
		         '' as ass_mondl,
		         '' as fac_name,
		         '' as store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_LAND acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_NO = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0)
		select ass_card_no,
		       ass_code,
		       ass_name,
		       ass_spec,
		       ass_mondl,
		       fac_name,
		       store_name,
		       dept_name,
		       acc_depre_amount,
		       add_depre_month
		  from CardDataAll a
		 where a.group_id = #{group_id}
		 and a.hos_id =#{hos_id}
		 and a.copy_code = #{copy_code}
		 <if  test="ass_naturs != null and ass_naturs != ''">
		 and a.ass_naturs=#{ass_naturs}
		 </if>
		  <if  test="store_id != null and store_id != ''">
		 and a.store_id =#{store_id}
		 </if>
		  <if  test="buy_type != null and buy_type != ''">
		 and a.buy_type = #{buy_type}
		 </if>
		  <if  test="dept_id != null and dept_id != ''">
		 and a.dept_id = #{dept_id}
		 </if>
	</select>
	
	<!-- 打印 -->
	<select id="queryAssAgeAnalyePrint" resultMap="assAgeAnalyze" parameterType="java.util.Map">
	with CardDataAll as
		 ( select acs.ass_card_no,
		          acs.group_id,
		          acs.hos_id,
		          acs.copy_code,
		          '02' as ass_naturs,
		          acs.buy_type,
		          acs.store_id,
		          acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		          andd.ass_code,
		          andd.ass_name,
		          acs.ass_spec,
		          acs.ass_mondl,
		          hfd.fac_name,
		          hsd.store_name,
		          hdd.dept_name,
		          acs.acc_depre_amount,
		          acs.add_depre_month
		    from ASS_CARD_GENERAL acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_FAC_DICT hfd
		      on acs.group_id = hfd.group_id
		     and acs.hos_id = hfd.hos_id
		     and acs.fac_id = hfd.fac_id
		     and acs.fac_no = hfd.fac_no
		     and hfd.is_stop = 0
		     and hfd.is_disable = 0
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.store_id = hsd.store_id
		     and acs.store_no = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_NO = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '01' as ass_naturs,
		         acs.buy_type,
		         acs.store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         acs.ass_spec,
		         acs.ass_mondl,
		         hfd.fac_name,
		         hsd.store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_SPECIAL acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_FAC_DICT hfd
		      on acs.group_id = hfd.group_id
		     and acs.hos_id = hfd.hos_id
		     and acs.fac_id = hfd.fac_id
		     and acs.fac_no = hfd.fac_no
		     and hfd.is_stop = 0
		     and hfd.is_disable = 0
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.store_id = hsd.store_id
		     and acs.store_no = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_NO = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '04' as ass_naturs,
		         acs.buy_type,
		         acs.store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         acs.ass_spec,
		         acs.ass_mondl,
		         hfd.fac_name,
		         hsd.store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_OTHER acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_FAC_DICT hfd
		      on acs.group_id = hfd.group_id
		     and acs.hos_id = hfd.hos_id
		     and acs.fac_id = hfd.fac_id
		     and acs.fac_no = hfd.fac_no
		     and hfd.is_stop = 0
		     and hfd.is_disable = 0
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.store_id = hsd.store_id
		     and acs.store_no = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_NO = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '05' as ass_naturs,
		         acs.buy_type,
		         acs.store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         '' as ass_spec,
		         '' as ass_mondl,
		         hfd.fac_name,
		         hsd.store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_INASSETS acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_FAC_DICT hfd
		      on acs.group_id = hfd.group_id
		     and acs.hos_id = hfd.hos_id
		     and acs.fac_id = hfd.fac_id
		     and acs.fac_no = hfd.fac_no
		     and hfd.is_stop = 0
		     and hfd.is_disable = 0
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.store_id = hsd.store_id
		     and acs.store_no = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_no = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '03' as ass_naturs,
		         acs.buy_type,
		         null as store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         '' as ass_spec,
		         '' as ass_mondl,
		         '' as fac_name,
		         hsd.store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_HOUSE acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_STORE_DICT hsd
		      on acs.group_id = hsd.group_id
		     and acs.hos_id = hsd.hos_id
		     and acs.DEPT_ID = hsd.store_id
		     and acs.DEPT_NO = hsd.store_no
		     and hsd.is_stop = 0
		     and hsd.is_disable = 0
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_no = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0
		  union all
		  select acs.ass_card_no,
		         acs.group_id,
		         acs.hos_id,
		         acs.copy_code,
		         '06' as ass_naturs,
		         acs.buy_type,
		         null as store_id,
		         acs.dept_id,acs.acc_depre_amount depre_year, acs.add_depre_month depre_month,
		         andd.ass_code,
		         andd.ass_name,
		         '' as ass_spec,
		         '' as ass_mondl,
		         '' as fac_name,
		         '' as store_name,
		         hdd.dept_name,
		         acs.acc_depre_amount,
		         acs.add_depre_month
		    from ASS_CARD_LAND acs
		    left join ASS_NO_DICT andd
		      on acs.group_id = andd.group_id
		     and acs.hos_id = andd.hos_id
		     and acs.copy_code = andd.copy_code
		     and acs.ass_id = andd.ass_id
		     and acs.ass_no = andd.ass_no
		    left join HOS_DEPT_DICT hdd
		      on acs.group_id = hdd.group_id
		     and acs.hos_id = hdd.hos_id
		     and acs.DEPT_ID = hdd.dept_id
		     and acs.DEPT_NO = hdd.dept_no
		     and hdd.is_stop = 0
		     and hdd.is_disable = 0)
		select ass_card_no,
		       ass_code,
		       ass_name,
		       ass_spec,
		       ass_mondl,
		       fac_name,
		       store_name,
		       dept_name,
		       acc_depre_amount,
		       add_depre_month
		  from CardDataAll a
		 where a.group_id = #{group_id}
		 and a.hos_id =#{hos_id}
		 and a.copy_code = #{copy_code}
		 <if  test="ass_naturs != null and ass_naturs != ''">
		 and a.ass_naturs=#{ass_naturs}
		 </if>
		  <if  test="store_id != null and store_id != ''">
		 and a.store_id =#{store_id}
		 </if>
		  <if  test="buy_type != null and buy_type != ''">
		 and a.buy_type = #{buy_type}
		 </if>
		  <if  test="dept_id != null and dept_id != ''">
		 and a.dept_id = #{dept_id}
		 </if>
	
	
	
	</select>
	
</mapper>