<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.tongJiReports.AssInMainSummaryByVenMapper">
	
	<resultMap id="AssInMainSummaryByVenMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_year" column="ass_year"/>
	<result property="store_id" column="store_id"/>
	<result property="store_no" column="store_no"/>
	<result property="store_name" column="store_name"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="ven_name" column="ven_name"/>
	<result property="in_money" column="in_money"/>
	<result property="ass_year" column="ass_year"/> <!-- 统计年度 -->
	<result property="ass_month" column="ass_month"/> <!-- 统计月份 -->
	</resultMap>

	<select id="queryAssInMainSummaryByVen" parameterType="java.util.Map" resultMap="AssInMainSummaryByVenMap" >
		with temp as (
	      SELECT arss.group_id,
	             arss.hos_id,
	             arss.copy_code,
	             to_char(arss.in_date,'yyyy') ass_year,
	             to_char(arss.in_date,'MM') ass_month,
	             arss.store_id,
	             hs.store_no,
	             hs.store_name,
	             arss.ven_id,
	             hfd.sup_name ven_name,
	             arss.in_money,
			     '02' ass_nature
	        FROM ASS_IN_MAIN_SPECIAL arss
	        LEFT JOIN HOS_STORE_DICT hs
	          ON arss.store_id = hs.store_id
	        LEFT JOIN hos_sup_dict hfd
	          ON arss.ven_id = hfd.sup_id
	          AND arss.ven_no = hfd.sup_no 
	        WHERE 
	            arss.group_id = #{group_id,jdbcType=INTEGER}
				AND arss.hos_id = #{hos_id,jdbcType=INTEGER}
				AND arss.copy_code = #{copy_code,jdbcType=VARCHAR}
	        	AND arss.state = 2 
	      UNION ALL
	      SELECT args.group_id,
	             args.hos_id,
	             args.copy_code,
	             to_char(args.in_date,'yyyy') ass_year,
	             to_char(args.in_date,'MM') ass_month,
	             args.store_id,
	             hs.store_no,
	             hs.store_name ,
	             args.ven_id,
	             hfd.sup_name ven_name,
	             args.in_money,
			     '03' ass_nature
	        FROM ASS_IN_MAIN_GENERAL args
	        LEFT JOIN HOS_STORE_DICT hs
	          ON args.store_id = hs.store_id
	        LEFT JOIN hos_sup_dict hfd
	          ON args.ven_id = hfd.sup_id
	          AND args.ven_no = hfd.sup_no 
	       WHERE 
	           args.group_id = #{group_id,jdbcType=INTEGER}
			   AND args.hos_id = #{hos_id,jdbcType=INTEGER}
			   AND args.copy_code = #{copy_code,jdbcType=VARCHAR}
	           AND args.state = 2 
	      UNION ALL
	      SELECT arhs.group_id,
	             arhs.hos_id,
	             arhs.copy_code,
	             to_char(arhs.in_date,'yyyy') ass_year,
	             to_char(arhs.in_date,'MM') ass_month,
	             null store_id,
	             null store_no,
	             null store_name,
	             arhs.ven_id,
	             hfd.sup_name ven_name,
	             arhs.in_money,
			     '01' ass_nature
	        FROM ASS_IN_MAIN_HOUSE arhs
	        LEFT JOIN hos_sup_dict hfd
	          ON arhs.ven_id = hfd.sup_id
	          AND arhs.ven_no = hfd.sup_no 
	       where 
	            arhs.group_id = #{group_id,jdbcType=INTEGER}
				AND arhs.hos_id = #{hos_id,jdbcType=INTEGER}
				AND arhs.copy_code = #{copy_code,jdbcType=VARCHAR}
	            AND arhs.state = 2 
	      UNION ALL
	      SELECT aros.group_id,
	             aros.hos_id,
	             aros.copy_code,
	             to_char(aros.in_date,'yyyy') ass_year,
	             to_char(aros.in_date,'MM') ass_month,
	             aros.store_id,
	             hs.store_no,
	             hs.store_name,
	             aros.ven_id,
	             hfd.sup_name ven_name,
	             aros.in_money,
			     '04' ass_nature
	        FROM ASS_IN_MAIN_OTHER aros
	        LEFT JOIN HOS_STORE_DICT hs
	          ON aros.store_id = hs.store_id
	         LEFT JOIN hos_sup_dict hfd
		          ON aros.ven_id = hfd.sup_id
		          AND aros.ven_no = hfd.sup_no 
	       where 
	            aros.group_id = #{group_id,jdbcType=INTEGER}
				AND aros.hos_id = #{hos_id,jdbcType=INTEGER}
				AND aros.copy_code = #{copy_code,jdbcType=VARCHAR}
	        	AND aros.state = 2 
	      UNION ALL
	      SELECT aris.group_id,
	             aris.hos_id,
	             aris.copy_code,
	             to_char(aris.in_date,'yyyy') ass_year,
	             to_char(aris.in_date,'MM') ass_month,
	             aris.store_id,
	             hs.store_no,
	             hs.store_name,
	             aris.ven_id,
	             hfd.sup_name  ven_name,
	             aris.in_money,
			     '05' ass_nature
	        FROM ASS_IN_MAIN_INASSETS aris
	        LEFT JOIN HOS_STORE_DICT hs
	         ON aris.store_id = hs.store_id
	        LEFT JOIN hos_sup_dict hfd
	         ON aris.ven_id = hfd.sup_id
	          AND aris.ven_no = hfd.sup_no 
	       WHERE 
	            aris.group_id = #{group_id,jdbcType=INTEGER}
				AND aris.hos_id = #{hos_id,jdbcType=INTEGER}
				AND aris.copy_code = #{copy_code,jdbcType=VARCHAR}
	        	AND aris.state = 2 
	      UNION ALL
	      SELECT arls.group_id,
	             arls.hos_id,
	             arls.copy_code,
	             to_char(arls.in_date,'yyyy') ass_year,
	             to_char(arls.in_date,'MM') ass_month,
	             null store_id,
	             null store_no,
	             null store_name,
	             arls.ven_id,
	             hfd.sup_name ven_name,
	             arls.in_money,
			     '06' ass_nature
	        FROM ASS_IN_MAIN_LAND arls
	        LEFT JOIN hos_sup_dict hfd
	          ON arls.ven_id = hfd.sup_id
	          AND arls.ven_no = hfd.sup_no 
	       WHERE 
	           arls.group_id = #{group_id,jdbcType=INTEGER}
				
			   AND arls.hos_id = #{hos_id,jdbcType=INTEGER}
			
			   AND arls.copy_code = #{copy_code,jdbcType=VARCHAR}
	        
	           AND arls.state = 2 
	        )
	    
	    SELECT 
	         group_id,
	         hos_id,
	         copy_code,
	         ass_year,
       		 ass_month,
	         ven_id,
	         ven_name,
	         sum(in_money) in_money
	    FROM temp
	    WHERE
	        group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	
			<if test="ven_id != null and ven_id != ''">
				AND ven_id = #{ven_id,jdbcType=INTEGER}
			</if>
			
			<if test="ass_year != null and ass_year != ''">
				and ass_year = #{ass_year}
			</if>
			
			<if test="ass_month != null and ass_month != ''">
				and ass_month = #{ass_month}
			</if>
	    group by  
	    	 group_id,
	         hos_id,
	         copy_code,
	         ass_year,
	         ass_month,
	         ven_id,
	         ven_name
	</select>
	
	<!--资产入库汇总按供应商 打印 -->
	<select id="queryAssInMainSummaryByVenPrint" parameterType="java.util.Map" resultMap="AssInMainSummaryByVenMap">
	with temp as (
	      SELECT arss.group_id,
	             arss.hos_id,
	             arss.copy_code,
	             to_char(arss.in_date,'yyyy') ass_year,
	             to_char(arss.in_date,'MM') ass_month,
	             arss.store_id,
	             hs.store_no,
	             hs.store_name,
	             arss.ven_id,
	             hfd.sup_name ven_name,
	             arss.in_money,
			     '02' ass_nature
	        FROM ASS_IN_MAIN_SPECIAL arss
	        LEFT JOIN HOS_STORE_DICT hs
	          ON arss.store_id = hs.store_id
	        LEFT JOIN hos_sup_dict hfd
	          ON arss.ven_id = hfd.sup_id
	          AND arss.ven_no = hfd.sup_no 
	        WHERE 
	            arss.group_id = #{group_id,jdbcType=INTEGER}
				AND arss.hos_id = #{hos_id,jdbcType=INTEGER}
				AND arss.copy_code = #{copy_code,jdbcType=VARCHAR}
	        	AND arss.state = 2 
	      UNION ALL
	      SELECT args.group_id,
	             args.hos_id,
	             args.copy_code,
	             to_char(args.in_date,'yyyy') ass_year,
	             to_char(args.in_date,'MM') ass_month,
	             args.store_id,
	             hs.store_no,
	             hs.store_name ,
	             args.ven_id,
	             hfd.sup_name ven_name,
	             args.in_money,
			     '03' ass_nature
	        FROM ASS_IN_MAIN_GENERAL args
	        LEFT JOIN HOS_STORE_DICT hs
	          ON args.store_id = hs.store_id
	        LEFT JOIN hos_sup_dict hfd
	          ON args.ven_id = hfd.sup_id
	          AND args.ven_no = hfd.sup_no 
	       WHERE 
	           args.group_id = #{group_id,jdbcType=INTEGER}
			   AND args.hos_id = #{hos_id,jdbcType=INTEGER}
			   AND args.copy_code = #{copy_code,jdbcType=VARCHAR}
	           AND args.state = 2 
	      UNION ALL
	      SELECT arhs.group_id,
	             arhs.hos_id,
	             arhs.copy_code,
	             to_char(arhs.in_date,'yyyy') ass_year,
	             to_char(arhs.in_date,'MM') ass_month,
	             null store_id,
	             null store_no,
	             null store_name,
	             arhs.ven_id,
	             hfd.sup_name ven_name,
	             arhs.in_money,
			     '01' ass_nature
	        FROM ASS_IN_MAIN_HOUSE arhs
	        LEFT JOIN hos_sup_dict hfd
	          ON arhs.ven_id = hfd.sup_id
	          AND arhs.ven_no = hfd.sup_no 
	       where 
	            arhs.group_id = #{group_id,jdbcType=INTEGER}
				AND arhs.hos_id = #{hos_id,jdbcType=INTEGER}
				AND arhs.copy_code = #{copy_code,jdbcType=VARCHAR}
	            AND arhs.state = 2 
	      UNION ALL
	      SELECT aros.group_id,
	             aros.hos_id,
	             aros.copy_code,
	             to_char(aros.in_date,'yyyy') ass_year,
	             to_char(aros.in_date,'MM') ass_month,
	             aros.store_id,
	             hs.store_no,
	             hs.store_name,
	             aros.ven_id,
	             hfd.sup_name ven_name,
	             aros.in_money,
			     '04' ass_nature
	        FROM ASS_IN_MAIN_OTHER aros
	        LEFT JOIN HOS_STORE_DICT hs
	          ON aros.store_id = hs.store_id
	         LEFT JOIN hos_sup_dict hfd
		          ON aros.ven_id = hfd.sup_id
		          AND aros.ven_no = hfd.sup_no 
	       where 
	            aros.group_id = #{group_id,jdbcType=INTEGER}
				AND aros.hos_id = #{hos_id,jdbcType=INTEGER}
				AND aros.copy_code = #{copy_code,jdbcType=VARCHAR}
	        	AND aros.state = 2 
	      UNION ALL
	      SELECT aris.group_id,
	             aris.hos_id,
	             aris.copy_code,
	             to_char(aris.in_date,'yyyy') ass_year,
	             to_char(aris.in_date,'MM') ass_month,
	             aris.store_id,
	             hs.store_no,
	             hs.store_name,
	             aris.ven_id,
	             hfd.sup_name  ven_name,
	             aris.in_money,
			     '05' ass_nature
	        FROM ASS_IN_MAIN_INASSETS aris
	        LEFT JOIN HOS_STORE_DICT hs
	         ON aris.store_id = hs.store_id
	        LEFT JOIN hos_sup_dict hfd
	         ON aris.ven_id = hfd.sup_id
	          AND aris.ven_no = hfd.sup_no 
	       WHERE 
	            aris.group_id = #{group_id,jdbcType=INTEGER}
				AND aris.hos_id = #{hos_id,jdbcType=INTEGER}
				AND aris.copy_code = #{copy_code,jdbcType=VARCHAR}
	        	AND aris.state = 2 
	      UNION ALL
	      SELECT arls.group_id,
	             arls.hos_id,
	             arls.copy_code,
	             to_char(arls.in_date,'yyyy') ass_year,
	             to_char(arls.in_date,'MM') ass_month,
	             null store_id,
	             null store_no,
	             null store_name,
	             arls.ven_id,
	             hfd.sup_name ven_name,
	             arls.in_money,
			     '06' ass_nature
	        FROM ASS_IN_MAIN_LAND arls
	        LEFT JOIN hos_sup_dict hfd
	          ON arls.ven_id = hfd.sup_id
	          AND arls.ven_no = hfd.sup_no 
	       WHERE 
	           arls.group_id = #{group_id,jdbcType=INTEGER}
				
			   AND arls.hos_id = #{hos_id,jdbcType=INTEGER}
			
			   AND arls.copy_code = #{copy_code,jdbcType=VARCHAR}
	        
	           AND arls.state = 2 
	        )
	    select t.group_id, t.hos_id, t.copy_code, t.ass_year, t.ass_month, t.ven_id, t.ven_name,sum(t.in_money) in_money from (
	    select t.group_id,t.hos_id,t.copy_code,t.ass_year,t.ass_month,t.ven_id,t.ven_name,t.in_money
	    from temp t
	    where
	  	    group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	    <if test="ven_id != null and ven_id != ''">
			and ven_id = #{ven_id,jdbcType=INTEGER}
		</if>
		<if test="ass_year != null and ass_year != ''">
				and ass_year = #{ass_year}
		</if>
		
		<if test="ass_month != null and ass_month != ''">
			and ass_month = #{ass_month}
		</if>
	    union all
	    SELECT 
	        null group_id,
	        null hos_id,
	        null copy_code,
	        '总计' ass_year,
       		null ass_month,
	        null ven_id,
	        null ven_name,
	         sum(in_money) in_money
	    FROM temp
	    WHERE
	        group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	
			<if test="ven_id != null and ven_id != ''">
				AND ven_id = #{ven_id,jdbcType=INTEGER}
			</if>
			
			<if test="ass_year != null and ass_year != ''">
				and ass_year = #{ass_year}
			</if>
			
			<if test="ass_month != null and ass_month != ''">
				and ass_month = #{ass_month}
			</if>
			) t
	    group by t.group_id, t.hos_id, t.copy_code, t.ass_year, t.ass_month, t.ven_id, t.ven_name
		order by t.group_id, t.hos_id, t.copy_code, t.ass_year, t.ass_month	
	
	
	
	</select>
</mapper>

