<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.business.intangible.BudgAssetPurIntangibleMapper">
	
	<resultMap id="BudgAssetPur" type="com.chd.hrp.budg.entity.BudgAssetPur">
	<result property="naturs_code" column="naturs_code"/>
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="month" column="month"/>
	<result property="plan_id" column="plan_id"/>
	<result property="plan_no" column="plan_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="source_id" column="source_id"/>
	<result property="source_code" column="source_code"/>
	<result property="source_name" column="source_name"/>
	<result property="depr_count" column="depr_count"/>
	<result property="depr_budg" column="depr_budg"/>
	</resultMap>
	<resultMap id="assPlanDeptMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="plan_year" column="plan_year"/>
	<result property="plan_id" column="plan_id"/>
	<result property="dept_id" column="dept_id"/>
	<result property="price" column="price"/>
	<result property="ass_id" column="ass_id"/>
	<result property="need_date" column="need_date"/>
	<result property="naturs_code" column="naturs_code"/>
	<result property="depre_years" column="depre_years"/>
	<result property="source_id" column="source_id"/>
	</resultMap>
		
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_ASSET_PUR (
		<trim suffix="" suffixOverrides=",">
			naturs_code,group_id,hos_id,copy_code,budg_year,month,plan_id,dept_id,ass_id,source_id,
			<if test="depr_count != null and depr_count != ''">
				depr_count,
			</if>
			<if test="depr_budg != null and depr_budg != ''">
				depr_budg,
			</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			#{naturs_code,jdbcType=INTEGER},
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{budg_year,jdbcType=VARCHAR},
			#{month,jdbcType=VARCHAR},
			#{plan_id,jdbcType=INTEGER},
			#{dept_id,jdbcType=INTEGER},
			#{ass_id,jdbcType=INTEGER},
			#{source_id,jdbcType=INTEGER},
			<if test="depr_count != null and depr_count != ''">
				#{depr_count,jdbcType=INTEGER},
			</if>
			<if test="depr_budg != null and depr_budg != ''">
				#{depr_budg,jdbcType=INTEGER},
			</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_ASSET_PUR (
			naturs_code,group_id,hos_id,copy_code,budg_year,month,plan_id,dept_id,ass_id,source_id,depr_count,depr_budg
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 	
			#{item.naturs_code,jdbcType=VARCHAR},	
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.budg_year,jdbcType=VARCHAR},
			#{item.month,jdbcType=VARCHAR},
			#{item.plan_id,jdbcType=INTEGER},
			#{item.dept_id,jdbcType=INTEGER},
			#{item.ass_id,jdbcType=INTEGER},
			#{item.source_id,jdbcType=INTEGER},
			#{item.depr_count,jdbcType=INTEGER},
			#{item.depr_budg,jdbcType=INTEGER}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
		
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM BUDG_ASSET_PUR 
		<where>   
		<if test="naturs_code != null and naturs_code != ''">               
		 	naturs_code = #{naturs_code,jdbcType=VARCHAR}
		</if>
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		</where> 
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_ASSET_PUR 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.naturs_code != null and item.naturs_code != ''"> 
				 	naturs_code = #{item.naturs_code,jdbcType=VARCHAR}
				</if>
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				<if test="item.budg_year != null and item.budg_year != ''"> 
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				</if>
				<if test="item.month != null and item.month != ''"> 
				AND month = #{item.month,jdbcType=VARCHAR}
				</if>
				<if test="item.plan_id != null and item.plan_id != ''"> 
				AND plan_id = #{item.plan_id,jdbcType=INTEGER}
				</if>
				<if test="item.dept_id != null and item.dept_id != ''"> 
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.ass_id != null and item.ass_id != ''"> 
				AND ass_id = #{item.ass_id,jdbcType=INTEGER}
				</if>
				<if test="item.source_id != null and item.source_id != ''"> 
				AND source_id = #{item.source_id,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="BudgAssetPur" >
		<if test="plan_no != null and plan_no != ''">
			<bind name="pattern" value="_parameter.plan_no + '%'" />
		</if>
		SELECT 
			bap.naturs_code,
			bap.group_id,
			bap.hos_id,
			bap.copy_code,
			bap.budg_year,
			bap.plan_id,
			apd.plan_no,
			bap.dept_id,
			hd.dept_code,
			hd.dept_name,
			bap.month,
			bap.ass_id,
			ad.ass_code,
			ad.ass_name,
			bap.source_id,
			hs.source_code,
			hs.source_name,
			bap.depr_count,
			bap.depr_budg
		FROM BUDG_ASSET_PUR bap
		left join HOS_DEPT hd
	    on bap.dept_id = hd.dept_id
	    and bap.group_id = hd.group_id
	    and bap.hos_id = hd.hos_id
	    and hd.is_stop = 0
	    left join HOS_SOURCE hs
	    on bap.source_id = hs.source_id
	    and bap.group_id = hs.group_id
	    and bap.hos_id = hs.hos_id
	    and hs.is_stop = 0
	    left join ass_naturs an
    	on bap.naturs_code = an.naturs_code
    	left join ASS_PLAN_DEPT apd
    	on bap.plan_id = apd.plan_id
    	and bap.group_id = apd.group_id
	    and bap.hos_id = apd.hos_id
	    and bap.copy_code = apd.copy_code
	    left join ASS_DICT ad
		on bap.ass_id = ad.ass_id
		and bap.group_id = ad.group_id
		and bap.hos_id = ad.hos_id
		and bap.copy_code = ad.copy_code
		left join ASS_TYPE_DICT atd
    	on ad.ass_type_id = atd.ass_type_id
		and bap.group_id = atd.group_id
		and bap.hos_id = atd.hos_id
		and bap.copy_code = atd.copy_code
		<where>  
		
		 bap.naturs_code = '05'
		                
		<if test="group_id != null and group_id != ''">
		AND bap.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND bap.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND bap.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND bap.budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="month != null and month != ''">
		AND bap.month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="plan_id != null and plan_id != ''">
		AND bap.plan_id = #{plan_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND bap.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND bap.ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="ass_type_id != null and ass_type_id != ''">
		AND atd.ass_type_id = #{ass_type_id,jdbcType=INTEGER}
		</if>
		<if test="source_id != null and source_id != ''">
		AND bap.source_id = #{source_id,jdbcType=INTEGER}
		</if>
		<if test="plan_no != null and plan_no != ''">
		AND apd.plan_no LIKE #{pattern}
		</if>
		</where>   
		order by bap.group_id asc,bap.month,apd.plan_no
	</select>
	<select id="queryCollectData" parameterType="java.util.Map" resultMap="assPlanDeptMap">
		select 
		apd.group_id,
		apd.hos_id,
		apd.copy_code,
		apd.plan_id,
		apd.dept_id,
		apr.price,
		apdd.ass_id,
		apdd.need_date,
		an.naturs_code,
		ad.depre_years,
		apr.source_id
		from ass_plan_dept apd
		left join ass_plan_dept_detail apdd 
		on apd.plan_id = apdd.plan_id
		and apd.group_id = apdd.group_id
		and apd.hos_id = apdd.hos_id
		and apd.copy_code = apdd.copy_code
		and apd.group_id = apdd.group_id
		and apd.hos_id = apdd.hos_id
		and apd.copy_code = apdd.copy_code 
		left join ass_plan_resource apr 
		on apd.plan_id = apr.plan_id 
		and apd.group_id = apr.group_id
		and apd.hos_id = apr.hos_id
		and apd.copy_code = apr.copy_code
		left join ass_dict ad
		on apr.ass_id = ad.ass_id
		and apd.group_id = ad.group_id
		and apd.hos_id = ad.hos_id
		and apd.copy_code = ad.copy_code
		and ad.is_stop = 0
		left join ass_type_dict atd
		on ad.ass_type_id = atd.ass_type_id
		and apd.group_id = atd.group_id
		and apd.hos_id = atd.hos_id
		and apd.copy_code = atd.copy_code
		and atd.is_stop = 0
		left join ass_naturs an
		on atd.ass_naturs = an.naturs_code
		<where>  
		<if test="group_id != null and group_id != ''">
		AND apd.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND apd.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND apd.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND apd.plan_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		AND an.naturs_code = '05'
		AND ad.ass_depre_code = '01'
		</where>   
		order by apd.group_id asc
		
	</select>
	<select id="queryByCode" resultMap="BudgAssetPur"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		month,
		subj_code,
		amount,
		remark
		FROM BUDG_ASSET_PUR 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		year = #{year,jdbcType=VARCHAR}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		month = #{month,jdbcType=VARCHAR}   and 
		subj_code = #{subj_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="BudgAssetPur"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		month,
		subj_code,
		amount,
		remark
		FROM BUDG_ASSET_PUR 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="amount != null and amount != ''">
		AND amount = #{amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="BudgAssetPur"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		month,
		subj_code,
		amount,
		remark
		FROM BUDG_ASSET_PUR 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="amount != null and amount != ''">
		AND amount = #{amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

