<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.check.other.AssCheckDOtherMapper">
	
	<resultMap id="assCheckDOther" type="com.chd.hrp.ass.entity.check.other.AssCheckDOther">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="check_plan_no" column="check_plan_no"/>
	<result property="check_no" column="check_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	<result property="summary" column="summary"/>
	<result property="check_emp" column="check_emp"/>
	<result property="check_date" column="check_date"/>
	<result property="note" column="note"/>
	<result property="state" column="state"/>
	</resultMap>
		
	<resultMap id="assCheckDOtherMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="check_plan_no" column="check_plan_no"/>
	<result property="check_no" column="check_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	<result property="summary" column="summary"/>
	<result property="check_emp" column="check_emp"/>
	<result property="check_date" column="check_date"/>
	<result property="note" column="note"/>
	<result property="state" column="state"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_CHECK_D_Other (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="check_plan_no != null and check_plan_no != ''">
		check_plan_no
		,
		</if>
		<if test="check_no != null and check_no != ''">
		check_no
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		dept_id
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		dept_no
		,
		</if>
		<if test="summary != null and summary != ''">
		summary
		,
		</if>
		<if test="check_emp != null and check_emp != ''">
		check_emp
		,
		</if>
		<if test="check_date != null and check_date != ''">
		check_date
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="check_plan_no != null and check_plan_no != ''">
		#{check_plan_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="check_no != null and check_no != ''">
		#{check_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="dept_id != null and dept_id != ''">
		#{dept_id,jdbcType=INTEGER}
		,
		</if>
		<if test="dept_no != null and dept_no != ''">
		#{dept_no,jdbcType=INTEGER}
		,
		</if>
		<if test="summary != null and summary != ''">
		#{summary,jdbcType=VARCHAR}
		,
		</if>
		<if test="check_emp != null and check_emp != ''">
		#{check_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="check_date != null and check_date != ''">
		#{check_date,jdbcType=DATE}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=INTEGER}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_CHECK_D_Other (
		group_id
		,
		hos_id
		,
		copy_code
		,
		check_plan_no
		,
		check_no
		,
		dept_id
		,
		dept_no
		,
		summary
		,
		check_emp
		,
		check_date
		,
		note
		,
		state
		
		) select ASS_CHECK_D_Other_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.check_plan_no,jdbcType=VARCHAR}
			,
			#{item.check_no,jdbcType=VARCHAR}
			,
			#{item.dept_id,jdbcType=INTEGER}
			,
			#{item.dept_no,jdbcType=INTEGER}
			,
			#{item.summary,jdbcType=VARCHAR}
			,
			#{item.check_emp,jdbcType=INTEGER}
			,
			#{item.check_date,jdbcType=DATE}
			,
			#{item.note,jdbcType=VARCHAR}
			,
			#{item.state,jdbcType=INTEGER}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_check_d_Other 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="summary != null and summary != ''">
		summary = #{summary,jdbcType=VARCHAR}
		,
		</if>
		<if test="check_emp != null and check_emp != ''">
		check_emp = #{check_emp,jdbcType=INTEGER}
		,
		</if>
		<if test="check_date != null and check_date != ''">
		check_date = #{check_date,jdbcType=DATE}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		<if test="state != null and state != ''">
		state = #{state,jdbcType=INTEGER}
		,
		</if>
		</trim>
		where                     
		 group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND check_plan_no = #{check_plan_no,jdbcType=VARCHAR}
		<if test="check_no != null and check_no !=''">
		AND check_no = #{check_no,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id !=''">
		AND dept_id = #{dept_id,jdbcType=VARCHAR}
		</if>
		<if test="dept_no != null and dept_no !=''">
		AND dept_no = #{dept_no,jdbcType=VARCHAR}
		</if>
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_check_d_Other 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.summary != null and item.summary != ''">
			summary = #{item.summary,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.check_emp != null and item.check_emp != ''">
			check_emp = #{item.check_emp,jdbcType=INTEGER}
			,
			</if>
			<if test="item.check_date != null and item.check_date != ''">
			check_date = #{item.check_date,jdbcType=DATE}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.state != null and item.state != ''">
			state = #{item.state,jdbcType=INTEGER}
			,
			</if>
			</trim>
			where                     
			 group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND check_plan_no = #{item.check_plan_no,jdbcType=VARCHAR}
			AND check_no = #{item.check_no,jdbcType=VARCHAR}
			AND dept_id = #{item.dept_id,jdbcType=INTEGER}
			AND dept_no = #{item.dept_no,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_check_d_Other 
		where                    
		 group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND check_plan_no = #{check_plan_no,jdbcType=VARCHAR}
		AND check_no = #{check_no,jdbcType=VARCHAR}
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		AND dept_no = #{dept_no,jdbcType=INTEGER}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_check_d_Other 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.check_plan_no != null and item.check_plan_no != ''">
				AND check_plan_no = #{item.check_plan_no,jdbcType=VARCHAR}
				</if>
				<if test="item.check_no != null and item.check_no != ''">
				AND check_no = #{item.check_no,jdbcType=VARCHAR}
				</if>
				<if test="item.dept_id != null and item.dept_id != ''">
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.dept_no != null and item.dept_no != ''">
				AND dept_no = #{item.dept_no,jdbcType=INTEGER}
				</if>
				<if test="item.summary != null and item.summary != ''">
				AND summary = #{item.summary,jdbcType=VARCHAR}
				</if>
				<if test="item.check_emp != null and item.check_emp != ''">
				AND check_emp = #{item.check_emp,jdbcType=INTEGER}
				</if>
				<if test="item.check_date != null and item.check_date != ''">
				AND check_date = #{item.check_date,jdbcType=DATE}
				</if>
				<if test="item.note != null and item.note != ''">
				AND note = #{item.note,jdbcType=VARCHAR}
				</if>
				<if test="item.state != null and item.state != ''">
				AND state = #{item.state,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assCheckDOther" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		check_plan_no,
		check_no,
		dept_id,
		dept_no,
		summary,
		check_emp,
		check_date,
		note,
		state
		FROM ASS_CHECK_D_Other 
		where               
		 group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND check_plan_no = #{check_plan_no,jdbcType=VARCHAR}
		<if test="check_no != null and check_no != ''">
		AND check_no = #{check_no,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="summary != null and summary != ''">
		AND summary = #{summary,jdbcType=VARCHAR}
		</if>
		<if test="check_emp != null and check_emp != ''">
		AND check_emp = #{check_emp,jdbcType=INTEGER}
		</if>
		<if test="check_date != null and check_date != ''">
		AND check_date = #{check_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		order by check_no asc
	</select>
	<select id="queryByCode" resultMap="assCheckDOther"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		check_plan_no,
		check_no,
		dept_id,
		dept_no,
		summary,
		check_emp,
		check_date,
		note,
		state
		FROM ass_check_d_Other 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		check_plan_no = #{check_plan_no,jdbcType=VARCHAR}  
		<if test="check_no != null and check_no !=''">
		AND check_no = #{check_no,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id !=''">
		AND dept_id = #{dept_id,jdbcType=VARCHAR}
		</if>
		<if test="dept_no != null and dept_no !=''">
		AND dept_no = #{dept_no,jdbcType=VARCHAR}
		</if>
	
	</select>
	<select id="queryByUniqueness" resultMap="assCheckDOther"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		check_plan_no,
		check_no,
		dept_id,
		dept_no,
		summary,
		check_emp,
		check_date,
		note,
		state
		FROM ASS_CHECK_D_Other 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		check_plan_no = #{check_plan_no,jdbcType=VARCHAR}   and 
		check_no = #{check_no,jdbcType=VARCHAR}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		dept_no = #{dept_no,jdbcType=INTEGER} 
		<if test="summary != null and summary != ''">
		AND summary = #{summary,jdbcType=VARCHAR}
		</if>
		<if test="check_emp != null and check_emp != ''">
		AND check_emp = #{check_emp,jdbcType=INTEGER}
		</if>
		<if test="check_date != null and check_date != ''">
		AND check_date = #{check_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		order by check_no asc
	</select>
	<select id="queryExists" resultMap="assCheckDOther"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		check_plan_no,
		check_no,
		dept_id,
		dept_no,
		summary,
		check_emp,
		check_date,
		note,
		state
		FROM ASS_CHECK_D_Other 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		check_plan_no = #{check_plan_no,jdbcType=VARCHAR}   and 
		check_no = #{check_no,jdbcType=VARCHAR}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		dept_no = #{dept_no,jdbcType=INTEGER} 
		<if test="summary != null and summary != ''">
		AND summary = #{summary,jdbcType=VARCHAR}
		</if>
		<if test="check_emp != null and check_emp != ''">
		AND check_emp = #{check_emp,jdbcType=INTEGER}
		</if>
		<if test="check_date != null and check_date != ''">
		AND check_date = #{check_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		order by check_no asc
	</select>
	
	<select id="queryState" resultType="com.chd.hrp.ass.entity.check.other.AssCheckDOther" parameterType="java.util.Map">
	SELECT 
		group_id,
		hos_id,
		copy_code,
		check_plan_no,
		check_no,
		dept_id,
		dept_no,
		summary,
		check_emp,
		check_date,
		note,
		state
		FROM ASS_CHECK_D_Other 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		check_plan_no = #{check_plan_no,jdbcType=VARCHAR}   and 
		check_no = #{check_no,jdbcType=VARCHAR} 
		order by check_no asc
	
	
	</select>
</mapper>

