<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.pac.dao.basicset.nature.PactNatureSKHTMapper">
	<resultMap id="pactStateEntity"
		type="com.chd.hrp.pac.entity.basicset.nature.PactNatureEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="nature_code" column="nature_code" />
		<result property="nature_name" column="nature_name" />
		<result property="is_stop" column="is_stop" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="note" column="note" />
	</resultMap>

	<select id="query" parameterType="java.util.Map"
		resultMap="pactStateEntity">
		select
		nature_code,nature_name,is_stop,note
		from PACT_NATURE_SKHT
		where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="is_stop != null and is_stop != ''">
			and is_stop=#{is_stop,jdbcType=NUMERIC}
		</if>
		<if test="nature_name != null and nature_name != ''">
			and (
			nature_code like '%'||#{nature_name}||'%' or
			nature_name like '%'||#{nature_name}||'%'
			)
		</if>
		order by nature_code
	</select>

	<select id="querySKHTNatureByCode" parameterType="java.util.Map"
		resultType="com.chd.hrp.pac.entity.basicset.nature.PactNatureEntity">
		select
		nature_code,nature_name,is_stop,spell_code,wbx_code,note
		from PACT_NATURE_SKHT
		where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and nature_code =#{nature_code,jdbcType=VARCHAR}
	</select>
	<select id="querySKHTNatureByName" parameterType="java.util.Map"
		resultType="com.chd.hrp.pac.entity.basicset.nature.PactNatureEntity">
		select
		nature_code,nature_name
		from PACT_NATURE_SKHT
		where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and nature_name =#{nature_name,jdbcType=VARCHAR}
	</select>

	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_NATURE_SKHT
		(group_id,hos_id,copy_code,nature_code,nature_name,is_stop,spell_code,wbx_code,note)
		VALUES(
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{nature_code,jdbcType=VARCHAR},
		#{nature_name,jdbcType=VARCHAR},
		#{is_stop,jdbcType=NUMERIC},
		#{spell_code,jdbcType=VARCHAR},
		#{wbx_code,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR}
		)
	</insert>

	<delete id="deleteAllBatch" parameterType="java.util.List">
		DELETE FROM PACT_NATURE_SKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID =#{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND nature_code = #{item.nature_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>

	<update id="update" parameterType="java.util.Map">
		UPDATE PACT_NATURE_SKHT SET
		<if test="nature_name != null and nature_name != ''">
			nature_name=#{nature_name,jdbcType=VARCHAR},
		</if>
		<if test="is_stop != null and is_stop != ''">
			is_stop=#{is_stop,jdbcType=NUMERIC},
		</if>
		<if test="spell_code != null and spell_code != ''">
			spell_code=#{spell_code,jdbcType=VARCHAR},
		</if>
		<if test="wbx_code != null and wbx_code != ''">
			wbx_code=#{wbx_code,jdbcType=VARCHAR},
		</if>
		note=#{note,jdbcType=VARCHAR}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND nature_code =#{nature_code,jdbcType=VARCHAR}
	</update>
</mapper>