<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.accBankVeri.AccUnitBankCheckMapper">

	<resultMap id="accBankChecks" type="com.chd.hrp.acc.entity.AccBankCheck">
		<result property="veri_id" column="veri_id" />
		<result property="bank_id" column="bank_id" />  
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="subj_code" column="subj_code" />
		<result property="summary" column="summary" />
		<result property="debit" column="debit" />
		<result property="credit" column="credit" />
		<result property="bal" column="bal" />
		<result property="debit_w" column="debit_w" />
		<result property="credit_w" column="credit_w" />
		<result property="bal_w" column="bal_w" />
		<result property="check_no" column="check_no" />
		<result property="business_no" column="business_no" />
		<result property="occur_date" column="occur_date" />
		<result property="pay_type_code" column="pay_type_code" />
		<result property="pay_name" column="pay_name" />
		<result property="is_check" column="is_check" />
		<result property="check_user" column="check_user" />
		<result property="check_date" column="check_date" />
		<result property="is_init" column="is_init" />
		<result property="is_import" column="is_import" />
		<result property="subj_id" column="subj_id" />
		<result property="subj_name" column="subj_name" />
		<result property="pay_name" column="pay_name" />
		<result property="is_checks" column="is_checks" />
		<result property="is_auto" column="is_auto" />
		
		<result property="ycheck_money" column="ycheck_money" />
		<result property="wcheck_money" column="wcheck_money" />
		<result property="veri_check_id" column="veri_check_id" />
		<result property="veri_date" column="veri_date" />
		<result property="create_name" column="create_name" />
		<result property="create_user" column="create_user" />
	</resultMap>
	
	<resultMap id="accTells" type="com.chd.hrp.acc.entity.AccTell">
		<result property="veri_id" column="veri_id" />
		<result property="tell_id" column="tell_id" />
		<result property="bank_id" column="bank_id" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="cash_subj_code" column="cash_subj_code" />
		<result property="other_subj_id" column="other_subj_id" />
		<result property="summary" column="summary" />
		<result property="att_num" column="att_num" />
		<result property="debit" column="debit" />
		<result property="credit" column="credit" />
		<result property="cur_code" column="cur_code" />
		<result property="debit_w" column="debit_w" />
		<result property="credit_w" column="credit_w" />
		<result property="bal_w" column="bal_w" />
		<result property="check_no" column="check_no" />
		<result property="busi_type" column="busi_type" />
		<result property="business_no" column="business_no" />
		<result property="occur_date" column="occur_date" />
		<result property="pay_type_code" column="pay_type_code" />
		<result property="pay_name" column="pay_name" />
		<result property="create_user" column="create_user" />
		<result property="create_date" column="create_date" />
		<result property="con_user" column="con_user" />
		<result property="con_date" column="con_date" />
		<result property="is_check" column="is_check" />
		<result property="check_user" column="check_user" />
		<result property="check_date" column="check_date" />
		<result property="is_init" column="is_init" />
		<result property="vouch_check_id" column="vouch_check_id" />
		<result property="vouch_id" column="vouch_id" />
		<result property="is_import" column="is_import" />
		<result property="is_auto" column="is_auto" />
		<result property="vouch_no" column="vouch_no"/>
		<result property="subj_dire" column="subj_dire"/>
		
		<result property="vouch_date" column="vouch_date" />
		<result property="tell_debit" column="tell_debit" />
		<result property="acct_debit" column="acct_debit" />
		<result property="rest_debit" column="rest_debit" />
		<result property="tell_credit" column="tell_credit" />
		<result property="acct_credit" column="acct_credit" />
		<result property="rest_credit" column="rest_credit" />
		<result property="tell_end_os" column="tell_end_os" />
		<result property="acct_end_os" column="acct_end_os" />
		<result property="rest_end_os" column="rest_end_os" />
		<result property="create_user_name" column="create_user_name" />
		<result property="con_user_name" column="con_user_name" />
		<result property="bal" column="bal" />
		<result property="is_por" column="is_por" />
		<result property="s_create_date" column="s_create_date" />
		<result property="s_con_date" column="s_con_date" />
		<result property="is_checks" column="is_checks" />
		<result property="other_subj_name" column="other_subj_name"/>
		<result property="other_subj_code" column="other_subj_code"/>
		<result property="tell_number" column="tell_number"/>
		
		<result property="check_id" column="check_id" />
		<result property="ycheck_money" column="ycheck_money" />
		<result property="wcheck_money" column="wcheck_money" />
		<result property="veri_check_id" column="veri_check_id" />
		<result property="veri_date" column="veri_date" />
		<result property="create_name" column="create_name" />
		<result property="create_user" column="create_user" />
		
	</resultMap>
	
	<resultMap id="accVouchChecks" type="com.chd.hrp.acc.entity.AccVouchCheck">
		<result property="veri_id" column="veri_id" />
		<result property="vouch_check_id" column="vouch_check_id" />
		<result property="bank_id" column="bank_id" />
		<result property="vouch_id" column="vouch_id" />
		<result property="vouch_detail_id" column="vouch_detail_id" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="subj_id" column="subj_id" />
		<result property="summary" column="summary" />
		<result property="debit" column="debit" />
		<result property="credit" column="credit" />
		<result property="con_no" column="con_no" />
		<result property="check_no" column="check_no" />
		<result property="business_no" column="business_no" />
		<result property="occur_date" column="occur_date" />
		<result property="due_date" column="due_date" />
		<result property="pay_type_code" column="pay_type_code" />
		<result property="pay_name" column="pay_name" />
		<result property="debit_w" column="debit_w" />
		<result property="credit_w" column="credit_w" />
		<result property="check1_id" column="check1_id" />
		<result property="check1_no" column="check1_no" />
		<result property="check2_id" column="check2_id" />
		<result property="check2_no" column="check2_no" />
		<result property="check3_id" column="check3_id" />
		<result property="check3_no" column="check3_no" />
		<result property="check4_id" column="check4_id" />
		<result property="check4_no" column="check4_no" />
		<result property="check5_id" column="check5_id" />
		<result property="check5_no" column="check5_no" />
		<result property="check6_id" column="check6_id" />
		<result property="check6_no" column="check6_no" />
		<result property="check7_id" column="check7_id" />
		<result property="check1" column="check1" />
		<result property="check2" column="check2" />
		<result property="check3" column="check3" />
		<result property="check4" column="check4" />
		<result property="check5" column="check5" />
		<result property="check6" column="check6" />
		<result property="check7" column="check7" />
		<result property="is_init" column="is_init" />
		<result property="old_check_id" column="old_check_id" />
		<result property="balance" column="balance" />
		<result property="cus_code" column="cus_code" />
		<result property="cus_name" column="cus_name" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="emp_code" column="emp_code" />
		<result property="emp_name" column="emp_name" />
		<result property="proj_code" column="proj_code" />
		<result property="proj_name" column="proj_name" />
		<result property="store_code" column="store_code" />
		<result property="store_name" column="store_name" />
		<result property="sup_code" column="sup_code" />
		<result property="sup_name" column="sup_name" />
		<result property="source_code" column="source_code" />
		<result property="source_name" column="source_name" />
		<result property="check_item_code" column="check_item_code" />
		<result property="check_item_name" column="check_item_name" />
		<result property="is_checks" column="is_checks" />
		<result property="is_auto" column="is_auto" />
		<result property="vouch_no" column="vouch_no"/>
		<result property="subj_dire" column="subj_dire"/>
		
		<result property="other_subj_name" column="other_subj_name"/>
		<result property="other_money" column="other_money"/>
		<result property="bal" column="bal"/>
		<result property="v_year" column="v_year"/>
		<result property="v_month" column="v_month"/>
		<result property="v_day" column="v_day"/>
		<result property="is_check" column="is_check"/>
		<result property="money" column="money"/>
		
		<result property="check_id" column="check_id" />
		<result property="ycheck_money" column="ycheck_money" />
		<result property="wcheck_money" column="wcheck_money" />
		<result property="veri_check_id" column="veri_check_id" />
		<result property="veri_date" column="veri_date" />
		<result property="create_name" column="create_name" />
		<result property="create_user" column="create_user" />
	</resultMap>
	
	<!-- 出纳帐查询 -->
	<select id="queryAccBankTellData" parameterType="java.util.Map" resultType="java.util.Map">
		select 
	      avc.group_id,
	      avc.hos_id,
	      avc.copy_code,
	      avc.acc_year,
	      avc.tell_id ,
	      substr(avt.vouch_type_short,0,1)||'-'|| av.vouch_no as vouch_no,
	      null vouch_check_id,
	      avc.occur_date,
	      avc.check_no,
	      avc.pay_type_code,
	      apt.pay_name,
	      avc.summary,
	      nvl(avc.debit,0) debit,
	      nvl(avc.credit,0) credit,
	      avc.is_check ,
	      abv.veri_check_id,
	      abv.veri_date,
	      nvl(abv.veri_money,0) ycheck_money,
	      abs(nvl(avc.debit,0)-nvl(avc.credit,0)-nvl(abv.veri_money,0)) wcheck_money,
	      case when nvl(avc.debit,0)=0 then 0 else 1 end directs,
	      case when nvl(avc.is_check,0)=1 then 1 else 0 end state
	    from acc_tell avc
	    left join acc_vouch av on av.group_id = avc.group_id and av.hos_id = avc.hos_id and av.copy_code = avc.copy_code
	       and av.acc_year = avc.acc_year and av.vouch_id = avc.vouch_id
	    left join acc_vouch_type  avt on avt.group_id = av.group_id and avt.hos_id = av.hos_id  and avt.copy_code = av.copy_code  
	       and avt.vouch_type_code = av.vouch_type_code and avt.is_stop = 0 
	    left join acc_pay_type apt on avc.group_id = apt.group_id and avc.hos_id = apt.hos_id and avc.copy_code = apt.copy_code
	       and avc.pay_type_code = apt.pay_code and apt.is_stop = 0
	    left join (
	         select 
	              t.group_id,t.hos_id,t.copy_code,t.tell_id,t.veri_check_id,t.create_date as veri_date,sum(t.veri_money) as veri_money
	         from acc_bank_veri t
	         group by t.group_id,t.hos_id,t.copy_code,t.tell_id,t.veri_check_id,t.create_date
	    )abv on abv.group_id = avc.group_id and abv.hos_id = avc.hos_id and abv.copy_code = avc.copy_code
	         and abv.tell_id = avc.tell_id
		<where>
				    avc.group_id = #{group_id}
				and avc.hos_id = #{hos_id}
				and avc.copy_code = #{copy_code}
			<if test="acc_year !=null and acc_year !='' ">
				and avc.acc_year = #{acc_year}
			</if>
			<if test="subj_code !=null and subj_code !='' ">
				and avc.cash_subj_code = #{subj_code}
			</if>
			
			<if test="begin_date!= null and begin_date !='' ">
				and avc.occur_date &gt;= to_date(#{begin_date},'yyyy-MM-dd')
			</if>
			<if test="end_date !=null and end_date !='' ">
				and avc.occur_date &lt;= to_date(#{end_date},'yyyy-MM-dd')
			</if>
			
			<if test="begin_dateA !=null and begin_dateA !='' ">
				and avc.occur_date &gt;= to_date(#{begin_dateA},'yyyy-MM-dd')
			</if>
			<if test="end_dateA !=null and end_dateA !='' ">
				and avc.occur_date &lt;= to_date(#{end_dateA},'yyyy-MM-dd')
			</if>
			<if test="priceAB !=null and priceAB !='' and priceAE!=null and priceAE !=''">
				${occurSql} &gt;= #{priceAB}  
				${occurSql} &lt;= #{priceAE}
			</if>
			<if test="pay_type_codeA !=null and pay_type_codeA !='' ">
				and avc.pay_type_code = #{pay_type_codeA}
			</if>
			<if test="check_noA !=null and check_noA !='' ">
				and avc.check_no = #{check_noA}
			</if>
			<if test="summaryA !=null and summaryA !='' ">
				and avc.summary like '%'||#{summaryA}||'%'
			</if>
			<if  test="checkState ==1"      >
				and avc.state = 0
			</if>
			 <if  test="checkState ==2"      >
				and avc.state = 1
			</if>
		
			<if test="tsql != null">
				${tsql}
			</if>
			${directSql}
			${stateSql}
		</where>
		order by avc.group_id, avc.hos_id, avc.copy_code, avc.acc_year, avc.occur_date,avc.debit,avc.credit
	</select>
	<select id="queryAccBankTellDataCount"  parameterType="java.util.Map" resultType="java.lang.Long">
	select 
	      count(*) 
	   from acc_tell avc
	    left join acc_vouch av on av.group_id = avc.group_id and av.hos_id = avc.hos_id and av.copy_code = avc.copy_code
	       and av.acc_year = avc.acc_year and av.vouch_id = avc.vouch_id
	    left join acc_vouch_type  avt on avt.group_id = av.group_id and avt.hos_id = av.hos_id  and avt.copy_code = av.copy_code  
	       and avt.vouch_type_code = av.vouch_type_code and avt.is_stop = 0 
	    left join acc_pay_type apt on avc.group_id = apt.group_id and avc.hos_id = apt.hos_id and avc.copy_code = apt.copy_code
	       and avc.pay_type_code = apt.pay_code and apt.is_stop = 0
	    left join (
	         select 
	              t.group_id,t.hos_id,t.copy_code,t.tell_id,t.veri_check_id,t.create_date as veri_date,sum(t.veri_money) as veri_money
	         from acc_bank_veri t
	         group by t.group_id,t.hos_id,t.copy_code,t.tell_id,t.veri_check_id,t.create_date
	    )abv on abv.group_id = avc.group_id and abv.hos_id = avc.hos_id and abv.copy_code = avc.copy_code
	         and abv.tell_id = avc.tell_id
		<where>
				    avc.group_id = #{group_id}
				and avc.hos_id = #{hos_id}
				and avc.copy_code = #{copy_code}
			<if test="acc_year !=null and acc_year !='' ">
				and avc.acc_year = #{acc_year}
			</if>
			<if test="subj_code !=null and subj_code !='' ">
				and avc.cash_subj_code = #{subj_code}
			</if>
			
			<if test="begin_date!= null and begin_date !='' ">
				and avc.occur_date &gt;= to_date(#{begin_date},'yyyy-MM-dd')
			</if>
			<if test="end_date !=null and end_date !='' ">
				and avc.occur_date &lt;= to_date(#{end_date},'yyyy-MM-dd')
			</if>
			
			<if test="begin_dateA !=null and begin_dateA !='' ">
				and avc.occur_date &gt;= to_date(#{begin_dateA},'yyyy-MM-dd')
			</if>
			<if test="end_dateA !=null and end_dateA !='' ">
				and avc.occur_date &lt;= to_date(#{end_dateA},'yyyy-MM-dd')
			</if>
			<if test="priceAB !=null and priceAB !='' and priceAE!=null and priceAE !=''">
				${occurSql} &gt;= #{priceAB}  
				${occurSql} &lt;= #{priceAE}
			</if>
			<if test="pay_type_codeA !=null and pay_type_codeA !='' ">
				and avc.pay_type_code = #{pay_type_codeA}
			</if>
			<if test="check_noA !=null and check_noA !='' ">
				and avc.check_no = #{check_noA}
			</if>
			<if test="summaryA !=null and summaryA !='' ">
				and avc.summary like '%'||#{summaryA}||'%'
			</if>
			<if  test="checkState ==1"      >
				and avc.state = 0
			</if>
			 <if  test="checkState ==2"      >
				and avc.state = 1
			</if>
			<if test="tsql != null">
				${tsql}
			</if>
			${directSql}
			${stateSql}
		</where>
		order by avc.group_id, avc.hos_id,avc.copy_code,avc.acc_year,avc.tell_id ,avc.occur_date
	</select>
	<!-- 辅助核算查询 --> 
	<select id="queryAccBankVouchCheckData" parameterType="java.util.Map" resultType="java.util.Map">
		select 
	      avc.group_id,
	      avc.hos_id,
	      avc.copy_code,
	      avc.acc_year,
	      avc.vouch_check_id ,
	      avc.vouch_id,
	      substr(avt.vouch_type_short,0,1)||'-'|| av.vouch_no as vouch_no,
	      avc.occur_date,
	      avc.check_no,
	      avc.pay_type_code,
	      apt.pay_name,
	      avc.summary,
	      nvl(avc.debit,0) debit,
	      nvl(avc.credit,0) credit,
	      case when nvl(abv.veri_money,0) != 0 then 1 
	      else  
	           case when nvl(abv.veri_money,0) = 0 then 0
	         else 0
	         end
	      end is_check ,
	      abv.veri_check_id,
	      abv.veri_date,
	      nvl(abv.veri_money,0) ycheck_money,
	      abs(nvl(avc.debit,0)-nvl(avc.credit,0))-nvl(abv.veri_money,0) wcheck_money,
	      case when nvl(avc.debit,0)=0 then 0 else 1 end directs,
	      case when nvl(abv.veri_money,0) != 0 then 1 
	        else  
	             case when nvl(abv.veri_money,0) = 0 then 0
	           else 0
	           end
	        end state
	    from acc_vouch_check avc
	    left join acc_vouch_detail avd on avc.group_id = avd.group_id and avc.hos_id = avd.hos_id
	      	and avc.copy_code = avd.copy_code and avc.acc_year = avd.acc_year 
	      	and avc.vouch_detail_id = avd.vouch_detail_id and avc.vouch_id=avd.vouch_id
	    left join acc_vouch av on av.group_id = avd.group_id and av.hos_id = avd.hos_id and av.copy_code = avd.copy_code
	      	and av.acc_year = avd.acc_year and av.vouch_id = avd.vouch_id
	    left join acc_vouch_type  avt on avt.group_id = av.group_id and avt.hos_id = av.hos_id
	      	and avt.copy_code = av.copy_code and avt.vouch_type_code = av.vouch_type_code and avt.is_stop = 0
	    left join acc_pay_type apt on avc.group_id = apt.group_id and avc.hos_id = apt.hos_id and avc.copy_code = apt.copy_code
	        and avc.pay_type_code = apt.pay_code and apt.is_stop = 0
	    left join (
	         select t.group_id,t.hos_id,t.copy_code,t.vouch_id,t.vouch_check_id,t.veri_check_id,t.create_date as veri_date,sum(t.veri_money) as veri_money
		     from acc_bank_veri t
		     group by t.group_id,t.hos_id,t.copy_code,t.vouch_id,t.vouch_check_id,t.veri_check_id,t.create_date
	    ) abv on abv.group_id = avc.group_id and abv.hos_id = avc.hos_id and abv.copy_code = avc.copy_code
	        and abv.vouch_check_id = avc.vouch_check_id <!-- and abv.vouch_id = avc.vouch_id -->
		<where>
				avc.group_id = #{group_id}
			and avc.hos_id = #{hos_id}
			and avc.copy_code = #{copy_code}
			<if test="acc_year !=null and acc_year !='' ">
				and avc.acc_year = #{acc_year}
			</if>
			<if test="subj_code !=null and subj_code !='' ">
				and avc.subj_code = #{subj_code}
			</if>
			
			<if test="begin_date!= null and begin_date !='' ">
				and avc.occur_date &gt;= to_date(#{begin_date},'yyyy-MM-dd')
			</if>
			<if test="end_date !=null and end_date !='' ">
				and avc.occur_date &lt;= to_date(#{end_date},'yyyy-MM-dd')
			</if>
			
			<if test="begin_dateA !=null and begin_dateA !='' ">
				and avc.occur_date &gt;= to_date(#{begin_dateA},'yyyy-MM-dd')
			</if>
			<if test="end_dateA !=null and end_dateA !='' ">
				and avc.occur_date &lt;= to_date(#{end_dateA},'yyyy-MM-dd')
			</if>
			<if test="priceAB !=null and priceAB !='' ">
				${occurSql} &gt;= #{priceAB}  
			</if>
			<if test="priceAE!=null and priceAE !=''">
				${occurSql} &lt;= #{priceAE}
			</if>
			<if test="pay_type_codeA !=null and pay_type_codeA !='' ">
				and avc.pay_type_code = #{pay_type_codeA}
			</if>
			<if test="check_noA !=null and check_noA !='' ">
				and avc.check_no = #{check_noA}
			</if>
			<if test="summaryA !=null and summaryA !='' ">
				and avc.summary like '%'||#{summaryA}||'%'
			</if>
			and (av.state >= 1
			or avc.is_init =1)
			<if test="tsql != null">
				${tsql}
			</if>
			${directSql}
			${stateSql}
		</where>
			order by avc.group_id,avc.hos_id,avc.copy_code,avc.acc_year, avc.occur_date,avc.debit,avc.credit
	</select>
	
	<select id="queryAccBankVouchCheckDataCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select 
	      count(*) 
	    from acc_vouch_check avc
	    left join acc_vouch_detail avd on avc.group_id = avd.group_id and avc.hos_id = avd.hos_id
	      	and avc.copy_code = avd.copy_code and avc.acc_year = avd.acc_year 
	      	and avc.vouch_detail_id = avd.vouch_detail_id and avc.vouch_id=avd.vouch_id
	    left join acc_vouch av on av.group_id = avd.group_id and av.hos_id = avd.hos_id and av.copy_code = avd.copy_code
	      	and av.acc_year = avd.acc_year and av.vouch_id = avd.vouch_id
	    left join acc_vouch_type  avt on avt.group_id = av.group_id and avt.hos_id = av.hos_id
	      	and avt.copy_code = av.copy_code and avt.vouch_type_code = av.vouch_type_code and avt.is_stop = 0
	    left join acc_pay_type apt on avc.group_id = apt.group_id and avc.hos_id = apt.hos_id and avc.copy_code = apt.copy_code
	        and avc.pay_type_code = apt.pay_code and apt.is_stop = 0
	    left join (
	         select t.group_id,t.hos_id,t.copy_code,t.vouch_id,t.vouch_check_id,t.veri_check_id,t.create_date as veri_date,sum(t.veri_money) as veri_money
		     from acc_bank_veri t
		     group by t.group_id,t.hos_id,t.copy_code,t.vouch_id,t.vouch_check_id,t.veri_check_id,t.create_date
	    ) abv on abv.group_id = avc.group_id and abv.hos_id = avc.hos_id and abv.copy_code = avc.copy_code
	        and abv.vouch_check_id = avc.vouch_check_id <!-- and abv.vouch_id = avc.vouch_id -->
		<where>
				avc.group_id = #{group_id}
			and avc.hos_id = #{hos_id}
			and avc.copy_code = #{copy_code}
			<if test="acc_year !=null and acc_year !='' ">
				and avc.acc_year = #{acc_year}
			</if>
			<if test="subj_code !=null and subj_code !='' ">
				and avc.subj_code = #{subj_code}
			</if>
			
			<if test="begin_date!= null and begin_date !='' ">
				and avc.occur_date &gt;= to_date(#{begin_date},'yyyy-MM-dd')
			</if>
			<if test="end_date !=null and end_date !='' ">
				and avc.occur_date &lt;= to_date(#{end_date},'yyyy-MM-dd')
			</if>
			
			<if test="begin_dateA !=null and begin_dateA !='' ">
				and avc.occur_date &gt;= to_date(#{begin_dateA},'yyyy-MM-dd')
			</if>
			<if test="end_dateA !=null and end_dateA !='' ">
				and avc.occur_date &lt;= to_date(#{end_dateA},'yyyy-MM-dd')
			</if>
			<if test="priceAB !=null and priceAB !='' ">
				${occurSql} &gt;= #{priceAB}  
			</if>
			<if test="priceAE!=null and priceAE !=''">
				${occurSql} &lt;= #{priceAE}
			</if>
			<if test="pay_type_codeA !=null and pay_type_codeA !='' ">
				and avc.pay_type_code = #{pay_type_codeA}
			</if>
			<if test="check_noA !=null and check_noA !='' ">
				and avc.check_no = #{check_noA}
			</if>
			<if test="summaryA !=null and summaryA !='' ">
				and avc.summary like '%'||#{summaryA}||'%'
			</if>
				and (av.state >= 1
			or avc.is_init =1)
			<if test="tsql != null">
				${tsql}
			</if>
			${directSql}
			${stateSql}
		</where>
	</select>
	<!-- 单位银行对账  单位账查询 -->
	<select id="queryAccBankCheckMain" parameterType="java.util.Map" resultType="java.util.Map">
		select 
	        avc.group_id,
	        avc.hos_id,
	        avc.copy_code,
	        avc.acc_year,
	        avc.bank_id,
	        avc.occur_date,
	        avc.check_no,
	        avc.pay_type_code,
	        apt.pay_name,
	        avc.summary,
	        nvl(avc.debit,0) debit,
	        nvl(avc.credit,0) credit,
	        <!-- case when nvl(abv.veri_money,0) != 0 then 1 
	        else  
	             case when nvl(abv.veri_money,0) = 0 then 0
	           else 0
	           end
	        end is_check , -->
	        avc.is_check,
	        abv.veri_check_id, 
	        abv.veri_date,
	        nvl(abv.veri_money,0) ycheck_money,
	        abs(nvl(avc.debit,0)-nvl(avc.credit,0)) - nvl(abv.veri_money,0) wcheck_money,
	        case when nvl(avc.debit,0)=0 then 0 else 1 end directs,
	        case when nvl(avc.is_check,0)=1 then 1 else 0 end state
	      from acc_bank_check avc
	      left join acc_pay_type apt on avc.group_id = apt.group_id and avc.hos_id = apt.hos_id
	           and avc.copy_code = apt.copy_code and avc.pay_type_code = apt.pay_code and apt.is_stop = 0
	      left join (
	           select
	                t.group_id,t.hos_id,t.copy_code,t.bank_id,t.veri_check_id,t.create_date as veri_date,sum(t.veri_money) as veri_money
	           from acc_bank_veri t
	           group by t.group_id,t.hos_id,t.copy_code,t.bank_id,t.veri_check_id,t.create_date 
	      ) abv  on abv.group_id = avc.group_id and abv.hos_id = avc.hos_id
	           and abv.copy_code = avc.copy_code and abv.bank_id = avc.bank_id
	    <where>
	         	avc.group_id = #{group_id}
	        and avc.hos_id = #{hos_id}
	        and avc.copy_code = #{copy_code}
	         and (nvl(avc.debit,0)!=0 or nvl(avc.credit,0)!=0)
			<if test="acc_year !=null and acc_year !='' ">
				and avc.acc_year = #{acc_year}
			</if>
			<if test="subj_code !=null and subj_code !='' ">
				and avc.subj_code = #{subj_code}
			</if>
			
			<if test="begin_date!= null and begin_date !='' ">
				and avc.occur_date &gt;= to_date(#{begin_date},'yyyy-MM-dd')
			</if>
			<if test="end_date !=null and end_date !='' ">
				and avc.occur_date &lt;= to_date(#{end_date},'yyyy-MM-dd')
			</if>
			
			<if test="begin_dateB !=null and begin_dateB !='' ">
				and avc.occur_date &gt;= to_date(#{begin_dateB},'yyyy-MM-dd')
			</if>
			<if test="end_dateB !=null and end_dateB !='' ">
				and avc.occur_date &lt;= to_date(#{end_dateB},'yyyy-MM-dd')
			</if>
			<if test="priceBB !=null and priceBB !='' ">
				${occurSql} &gt;= #{priceBB}  
			</if>
			<if test="priceBE!=null and priceBE !=''">
				${occurSql} &lt;= #{priceBE}
			</if>
			<if test="pay_type_codeB !=null and pay_type_codeB !='' ">
				and avc.pay_type_code = #{pay_type_codeB}
			</if>
			<if test="check_noB !=null and check_noB !='' ">
				and avc.check_no = #{check_noB}
			</if>
			<if test="summaryB !=null and summaryB !='' ">
				and avc.summary like '%'||#{summaryB}||'%'
			</if>
			<if test="tsql != null">
				${tsql}
			</if> 
			${directSql}
 			${stateSql} 
		</where>
		order by avc.occur_date, avc.check_no
<!-- 		order by avc.group_id,avc.hos_id,avc.copy_code,avc.acc_year,avc.bank_id, ,avc.debit,avc.credit, avc.occur_date, avc.check_no -->
	</select>
	
	<select id="queryAccBankCheckMainCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) 
	    from acc_bank_check avc
	      left join acc_pay_type apt on avc.group_id = apt.group_id and avc.hos_id = apt.hos_id
	           and avc.copy_code = apt.copy_code and avc.pay_type_code = apt.pay_code and apt.is_stop = 0
	      left join (
	           select
	                t.group_id,t.hos_id,t.copy_code,t.bank_id,t.veri_check_id,t.create_date as veri_date,sum(t.veri_money) as veri_money
	           from acc_bank_veri t
	           group by t.group_id,t.hos_id,t.copy_code,t.bank_id,t.veri_check_id,t.create_date 
	      ) abv  on abv.group_id = avc.group_id and abv.hos_id = avc.hos_id
	           and abv.copy_code = avc.copy_code and abv.bank_id = avc.bank_id
	    <where>
	         	avc.group_id = #{group_id}
	        and avc.hos_id = #{hos_id}
	        and avc.copy_code = #{copy_code}
	         and (nvl(avc.debit,0)!=0 or nvl(avc.credit,0)!=0)
			<if test="acc_year !=null and acc_year !='' ">
				and avc.acc_year = #{acc_year}
			</if>
			<if test="subj_code !=null and subj_code !='' ">
				and avc.subj_code = #{subj_code}
			</if>
			
			<if test="begin_date!= null and begin_date !='' ">
				and avc.occur_date &gt;= to_date(#{begin_date},'yyyy-MM-dd')
			</if>
			<if test="end_date !=null and end_date !='' ">
				and avc.occur_date &lt;= to_date(#{end_date},'yyyy-MM-dd')
			</if>
			
			<if test="begin_dateB !=null and begin_dateB !='' ">
				and avc.occur_date &gt;= to_date(#{begin_dateB},'yyyy-MM-dd')
			</if>
			<if test="end_dateB !=null and end_dateB !='' ">
				and avc.occur_date &lt;= to_date(#{end_dateB},'yyyy-MM-dd')
			</if>
			<if test="priceBB !=null and priceBB !='' ">
				${occurSql} &gt;= #{priceBB}  
			</if>
			<if test="priceBE!=null and priceBE !=''">
				${occurSql} &lt;= #{priceBE}
			</if>
			<if test="pay_type_codeB !=null and pay_type_codeB !='' ">
				and avc.pay_type_code = #{pay_type_codeB}
			</if>
			<if test="check_noB !=null and check_noB !='' ">
				and avc.check_no = #{check_noB}
			</if>
			<if test="summaryB !=null and summaryB !='' ">
				and avc.summary like '%'||#{summaryB}||'%'
			</if>
			<if test="tsql != null">
				${tsql}
			</if> 
			${directSql}
 			${stateSql} 
		</where>
		order by avc.group_id,avc.hos_id,avc.copy_code,avc.acc_year,avc.bank_id,avc.occur_date
	</select>
	
	<!-- 勾选取消核销 核算表中数据 -->
    <delete id="deleteAccBankVericationVeri" parameterType="java.util.List">
    
    	<foreach collection="list" index="index" item="item" open="begin" close=";end;" separator=";">
    		delete from acc_bank_veri 
    		where
	    			group_id = #{item.group_id}
	    			and hos_id = #{item.hos_id}
	    			and copy_code = #{item.copy_code}
	    			and acc_year = #{item.acc_year}
	    		<if test="item.bank_id !='' and item.bank_id != null ">
	    			and bank_id = #{item.bank_id}
	    		</if>
	    		<if test="item.tell_id !='' and item.tell_id != null ">
	    			and tell_id = #{item.tell_id}
	    		</if>
	    		<if test="item.vouch_id !='' and item.vouch_id != null ">
	    			and vouch_id = #{item.vouch_id}
	    		</if>
	    		
	    		<if test="item.vouch_check_id !='' and item.vouch_check_id != null ">
	    			and vouch_check_id = #{item.vouch_check_id}
	    		</if>
	    		
	    		<if test="item.veri_check_id !='' and item.veri_check_id != null ">
	    			and veri_check_id = #{item.veri_check_id}
	    		</if>
    	</foreach>
    
    
    </delete>
	
	<!-- 查看选定的时间范围内是否有核销记录 -->
    <select id="queryAccBankVericationCount" parameterType="java.util.Map" resultType="java.util.Map" >
		select b.group_id,b.hos_id,b.copy_code,b.acc_year,b.bank_id,b.tell_id,
			b.vouch_id,b.vouch_check_id,b.veri_id,b.veri_check_id
		from  acc_bank_veri b  
		inner join acc_bank_check a on a.group_id=b.group_id and a.hos_id=b.hos_id and a.copy_code=b.copy_code
			and a.acc_year=b.acc_year and a.bank_id=b.bank_id
  		where 	b.group_id = #{group_id}
  			and b.hos_id = #{hos_id}
  			and b.copy_code = #{copy_code}
  			<if test="subj_code != null and subj_code != ''">
            	AND a.subj_code  = #{subj_code}
            </if>
            <if test="create_user != null and create_user != ''">
            	AND b.create_user  = #{create_user}
            </if>
  			and b.create_date between to_date(#{begin_date},'yyyy-mm-dd HH24:MI:SS') and to_date(#{end_date},'yyyy-mm-dd HH24:MI:SS') 
	</select>
	
	<!-- 更新acc_tell 状态 -->
	<update id="updateBatchAccTellCheckState" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			update acc_tell set is_check = #{item.is_check},
				check_user = #{item.check_user},
				check_date = #{item.check_date}
			where
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				and acc_year = #{item.acc_year,jdbcType=VARCHAR}
				and tell_id = #{item.tell_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<!-- 更新acc_bank_check 状态 -->
	<update id="updateBatchAccBankCheckState" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			update acc_bank_check
				<trim prefix="SET"  suffixOverrides=","> 
						is_check = #{item.is_check},
						check_user = #{item.check_user},
						check_date = #{item.check_date},
				</trim>
				<where>
						 	group_id = #{item.group_id,jdbcType=INTEGER}
						and hos_id = #{item.hos_id,jdbcType=INTEGER}
						and copy_code = #{item.copy_code,jdbcType=VARCHAR}
						and acc_year = #{item.acc_year,jdbcType=VARCHAR}
						and bank_id = #{item.bank_id,jdbcType=INTEGER}
				</where>
		</foreach>
	</update>
	
	<!-- 批量删除  根据时间段来删除对账表中数据 -->
	<delete id="deteleBatchAccBankVeri" parameterType="java.util.List">
		delete from acc_bank_veri 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
	    				group_id = #{item.group_id}
	    			and hos_id = #{item.hos_id}
	    			and copy_code = #{item.copy_code}
	    		<if test="item.acc_year !='' and item.acc_year != null ">
	    			and acc_year = #{item.acc_year}
	    		</if>
	    		<if test="item.tell_id !='' and item.tell_id != null ">
	    			and tell_id = #{item.tell_id}
	    		</if>
	    		<if test="item.vouch_id !='' and item.vouch_id != null ">
	    			and vouch_id = #{item.vouch_id}
	    		</if>
	    		<if test="item.vouch_check_id !='' and item.vouch_check_id != null ">
	    			and vouch_check_id = #{item.vouch_check_id}
	    		</if>
	    		<if test="item.veri_id !='' and item.veri_id != null ">
	    			and veri_id = #{item.veri_id}
	    		</if>
	    		<if test="item.veri_check_id !='' and item.veri_check_id != null ">
	    			and veri_check_id = #{item.veri_check_id}
	    		</if>
    		</foreach>	
		</where>
	</delete>
	
	<!-- 单位银行对账表中插入记录 --> 
	<insert id="addAccBankVeriMain" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			insert into acc_bank_veri(
				veri_id,
				group_id,
				hos_id,
				copy_code,
				acc_year,
				acc_month,
				veri_check_id,
				bank_id
				<if test="item.tell_id != null and item.tell_id != '' ">,tell_id</if>
				<if test="item.vouch_check_id != null and item.vouch_check_id != '' ">,vouch_check_id</if>
				<if test="item.vouch_id != null and item.vouch_id != '' ">,vouch_id</if>
				<if test="item.veri_money != null and item.veri_money != '' ">,veri_money</if>
				<if test="item.create_user != null and item.create_user != '' ">,create_user</if>
				<if test="item.create_date != null and item.create_date != '' ">,create_date</if>
				<if test="item.is_auto != null and item.is_auto != '' ">,is_auto</if>
			)VALUES (
				ACC_BANK_VERI_SEQ.nextval,
				#{item.group_id} , 
				#{item.hos_id} ,
				#{item.copy_code} , 
				#{item.acc_year} ,
				#{item.acc_month} ,
				#{item.veri_check_id}, 
				#{item.bank_id}
				<if test="item.tell_id != null and item.tell_id != '' ">,#{item.tell_id}</if>
				<if test="item.vouch_check_id != null and item.vouch_check_id != '' ">,#{item.vouch_check_id}</if>
				<if test="item.vouch_id != null and item.vouch_id != '' ">,#{item.vouch_id}</if>
				<if test="item.veri_money != null and item.veri_money != '' ">,#{item.veri_money}</if>
				<if test="item.create_user != null and item.create_user != '' ">,#{item.create_user}</if>
				<if test="item.create_date != null and item.create_date != '' ">,#{item.create_date}</if>
				<if test="item.is_auto != null and item.is_auto != '' ">,#{item.is_auto}</if>
			)
		</foreach>
	</insert>
	
	<!-- 往来对账日志表中插入数据 -->
	<insert id="addAccBankVeriMainLog" parameterType="java.util.Map">
		insert into acc_bank_veri_log(
			log_id,
			group_id,
			hos_id,
			copy_code,
			acc_year,
			create_user,
			create_date,
			note
		)
		select ACC_BANK_VERI_LOG_SEQ.nextval ,
			#{group_id}, 
			#{hos_id},
			#{copy_code}, 
			#{acc_year}, 
			#{create_user}, 
			#{create_date},
			#{note}
		FROM dual
	</insert>
	
	<!-- 查看出纳明细数据 -->
	<select id="queryAccBankVerAccTellDetail" parameterType="java.util.Map" resultMap="accVouchChecks" >
		select att.group_id,
			att.hos_id,
		    att.copy_code,
		    att.acc_year,
		    av.vouch_date as occur_date,
		    substr(avt.vouch_type_short,0,1)||'-'|| av.vouch_no as vouch_no,
		    att.check_no,
		    att.summary,
		    apt.pay_name pay_name,
		    nvl(att.debit,0) debit,
		    nvl(att.credit,0) credit,
		    abv.veri_money ycheck_money,
		    abv.create_date veri_date,
		    su.user_name create_name
		from acc_bank_veri abv 
		left join  acc_tell att on att.group_id = abv.group_id
		    and att.hos_id = abv.hos_id
		    and att.copy_code = abv.copy_code
		    and att.acc_year = abv.acc_year
		    and att.tell_id = abv.tell_id
		left join acc_vouch av on av.group_id = att.group_id
		    and av.hos_id = att.hos_id
		    and av.copy_code = att.copy_code
		    and av.acc_year = att.acc_year
		    and av.vouch_id = att.vouch_id
		left join acc_vouch_type avt on avt.group_id = av.group_id
			and avt.hos_id = av.hos_id
			and avt.copy_code = av.copy_code  
			and avt.vouch_type_code = av.vouch_type_code
			and avt.is_stop = 0
		left join acc_pay_type apt on apt.group_id = att.group_id
		    and apt.hos_id = att.hos_id
		    and apt.copy_code = att.copy_code
		    and apt.pay_code = att.pay_type_code
		left join sys_user su on su.group_id = abv.group_id
		    and su.hos_id = abv.hos_id
		    and su.user_id = abv.create_user 
		where abv.group_id = #{group_id}
		    and abv.hos_id = #{hos_id}
		    and abv.copy_code = #{copy_code}
		    and abv.acc_year = #{acc_year}
		    and abv.veri_check_id = #{veri_check_id}
		    and nvl(abv.tell_id,0) !=0
		order by att.tell_id 
	</select>
	
	<!-- 查看银行账明细数据 -->
	<select id="queryAccBankVerAccVouchCheckDetail" parameterType="java.util.Map" resultMap="accVouchChecks" >
		select avc.group_id,
			avc.hos_id,
		    avc.copy_code,
		    avc.acc_year,
		    av.vouch_date as occur_date,
		    substr(avt.vouch_type_short,0,1)||'-'|| av.vouch_no as vouch_no,
		    avc.check_no,
		    avc.summary,
		    apt.pay_name pay_name,
		    nvl(avc.debit,0) debit,
		    nvl(avc.credit,0) credit,
		    abv.veri_money ycheck_money,
		    abv.create_date veri_date,
		    su.user_name create_name
		from acc_bank_veri abv 
		left join  acc_vouch_check avc on avc.group_id = abv.group_id
		    and avc.hos_id = abv.hos_id
		    and avc.copy_code = abv.copy_code
		    and avc.acc_year = abv.acc_year
		    and avc.vouch_check_id = abv.vouch_check_id
		left join acc_vouch av on av.group_id = avc.group_id
		    and av.hos_id = avc.hos_id
		    and av.copy_code = avc.copy_code
		    and av.acc_year = avc.acc_year
		    and av.vouch_id = avc.vouch_id
		left join acc_vouch_type avt on avt.group_id = av.group_id
			and avt.hos_id = av.hos_id
			and avt.copy_code = av.copy_code  
			and avt.vouch_type_code = av.vouch_type_code
			and avt.is_stop = 0
		left join acc_pay_type apt on apt.group_id = avc.group_id
		    and apt.hos_id = avc.hos_id
		    and apt.copy_code = avc.copy_code
		    and apt.pay_code = avc.pay_type_code
		left join sys_user su on su.group_id = abv.group_id
		    and su.hos_id = abv.hos_id
		    and su.user_id = abv.create_user 
		where abv.group_id = #{group_id}
		    and abv.hos_id = #{hos_id}
		    and abv.copy_code = #{copy_code}
		    and abv.acc_year = #{acc_year}
		    and abv.veri_check_id = #{veri_check_id}
		    and nvl(abv.vouch_check_id,0) !=0
		order by av.vouch_no 
	</select>
	
	<!-- 查看银行对账单明细数据 -->
	<select id="queryAccBankVerAccBankCheckDetail" parameterType="java.util.Map" resultMap="accBankChecks" >
		select abc.group_id,
	        abc.hos_id,
	        abc.copy_code,
	        abc.acc_year,
	        abc.check_no,
	        abc.occur_date occur_date,
	        abc.summary,
	        apt.pay_name pay_name,
	        nvl(abc.debit,0) debit,
	        nvl(abc.credit,0) credit,
	        abv.veri_money ycheck_money,
	        abv.create_date veri_date,
	        su.user_name create_name
	    from acc_bank_veri abv 
	    left join acc_bank_check abc on abc.group_id = abv.group_id
	        and abc.hos_id = abv.hos_id
	        and abc.copy_code = abv.copy_code
	        and abc.acc_year = abv.acc_year
	        and abc.bank_id = abv.bank_id
	    left join acc_pay_type apt on apt.group_id = abc.group_id
	        and apt.hos_id = abc.hos_id
	        and apt.copy_code = abc.copy_code
	        and apt.pay_code = abc.pay_type_code
	    left join sys_user su on su.group_id = abv.group_id
	        and su.hos_id = abv.hos_id
	        and su.user_id = abv.create_user  
		where abv.group_id = #{group_id}
		    and abv.hos_id = #{hos_id}
		    and abv.copy_code = #{copy_code}
		    and abv.acc_year = #{acc_year}
		    and abv.veri_check_id = #{veri_check_id}
		    and nvl(abv.bank_id,0) !=0
		order by abc.bank_id
	</select>
	
</mapper>

