<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.matpay.MatPayForAccMainMapper">
	
	<resultMap id="MatPayForAccMain" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="vouch_no" column="vouch_no" />
	<result property="vouch_id" column="vouch_id" />
	<result property="vouch_date" column="vouch_date" />
	<result property="result_state" column="result_state" />
	<result property="pay_id" column="pay_id"/>
	<result property="pay_bill_no" column="pay_bill_no"/>
	<result property="pay_date" column="pay_date"/>
	<result property="pay_bill_type" column="pay_bill_type"/>
	<result property="sup_id" column="sup_id"/>
	<result property="sup_no" column="sup_no"/>
	<result property="sup_code" column="sup_code"/>
	<result property="sup_name" column="sup_name"/>
	<result property="pay_code" column="pay_code"/>
	<result property="pay_type_code" column="pay_type_code"/>
	<result property="acct_code" column="acct_code"/>
	<result property="cheq_no" column="cheq_no"/>
	<result property="payable_money" column="payable_money"/>
	<result property="payed_money" column="payed_money"/>
	<result property="pay_money" column="pay_money"/>
	<result property="maker" column="maker"/>
	<result property="maker_name" column="maker_name"/>
	<result property="make_date" column="make_date"/>
	<result property="checker" column="checker"/>
	<result property="checker_name" column="checker_name"/>
	<result property="chk_date" column="chk_date"/>
	<result property="state" column="state"/>
	<result property="state_name" column="state_name"/>
	<result property="is_init" column="is_init"/>
	<result property="note" column="note"/>
	</resultMap>

	<select id="queryMatPayForAccMain" parameterType="java.util.Map" resultMap="MatPayForAccMain" >
	
with tmp1 as
 (select mpm.group_id,
         mpm.hos_id,
         mpm.copy_code,
         mpm.pay_id,
         mpm.pay_bill_no,
         max(abnbr.fseqno) as fseqno,
         max(abnbr.iseqno) as iseqno
    from mat_pay_main mpm
    left join acc_bank_net_buyer_rd abnbr
      on mpm.pay_id = abnbr.erpsqn
     and abnbr.group_id = #{group_id,jdbcType=INTEGER}
     and abnbr.hos_id = #{hos_id,jdbcType=INTEGER}
     and abnbr.copy_code = #{copy_code,jdbcType=VARCHAR}
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND mpm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mpm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="pay_id != null and pay_id != ''">
		AND mpm.pay_id = #{pay_id,jdbcType=INTEGER}
		</if>
		<if test="pay_bill_no != null and pay_bill_no != ''">
		AND mpm.pay_bill_no like '${pay_bill_no}%'
		</if>
		<if test="beginDate != null and beginDate != '' and endDate !=null and endDate !=''">
		AND mpm.pay_date between to_date(#{beginDate,jdbcType=DATE},'yyyy-MM-dd') and to_date(#{endDate,jdbcType=DATE},'yyyy-MM-dd')
		</if>
		<if test="makeBeginDate != null and makeBeginDate != '' and makeEndDate !=null and makeEndDate !=''">
		AND mpm.make_date between to_date(#{makeBeginDate,jdbcType=DATE},'yyyy-MM-dd') and to_date(#{makeEndDate,jdbcType=DATE},'yyyy-MM-dd')
		</if>
		<if test="pay_bill_type != null and pay_bill_type != ''">
		AND mpm.pay_bill_type = #{pay_bill_type,jdbcType=VARCHAR}
		</if>
		<if test="sup_id != null and sup_id != ''">
		AND mpm.sup_id = #{sup_id,jdbcType=INTEGER}
		</if>
		<if test="sup_no != null and sup_no != ''">
		AND mpm.sup_no = #{sup_no,jdbcType=INTEGER}
		</if>
		<if test="pay_code != null and pay_code != ''">
		AND mpm.pay_code = #{pay_code,jdbcType=VARCHAR}
		</if>
		<if test="pay_type_code != null and pay_type_code != ''">
		AND mpm.pay_type_code = #{pay_type_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_code != null and acct_code != ''">
		AND mpm.acct_code = #{acct_code,jdbcType=VARCHAR}
		</if>
		<if test="cheq_no != null and cheq_no != ''">
		AND mpm.cheq_no = #{cheq_no,jdbcType=VARCHAR}
		</if>
		<if test="payable_money != null and payable_money != '' ">
		AND mpm.payable_money = #{payable_money,jdbcType=INTEGER} 
		</if>
		<if test="payed_money != null and payed_money != '' ">
		AND mpm.payed_money = #{payed_money,jdbcType=INTEGER} 
		</if>
		<if test="pay_money != null and pay_money != '' ">
		AND mpm.pay_money = #{pay_money,jdbcType=INTEGER} 
		</if>
		<if test="maker != null and maker != ''">
		AND mpm.maker = #{maker,jdbcType=INTEGER}
		</if>
		
		<if test="checker != null and checker != ''">
		AND mpm.checker = #{checker,jdbcType=INTEGER}
		</if>
		<if test="chk_date != null and chk_date != ''">
		AND mpm.chk_date = #{chk_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND mpm.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="is_init != null and is_init != ''">
		AND mpm.is_init = #{is_init,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND mpm.note = #{note,jdbcType=VARCHAR}
		</if>
		</where> 
			
		 group by mpm.group_id,
            mpm.hos_id,
            mpm.copy_code,
            mpm.pay_id,
            mpm.pay_bill_no
  
  )

select t1.*,
       acc_vouch_type.vouch_type_short || '-' || acc_vouch.vouch_no as VOUCH_NO,
       acc_vouch.vouch_id,
       acc_vouch.vouch_date
  from (select null as group_id,
               null as hos_id,
               null as copy_code,
               null as pay_id,
               '合计' as pay_bill_no,
               null as pay_date,
               null as pay_bill_type,
               null as sup_id,
               null as sup_no,
               null as sup_code,
               null as sup_name,
               null as pay_code,
               null as pay_type_code,
               null as acct_code,
               null as cheq_no,
               sum(mpm.payable_money) as payable_money,
               sum(mpm.payed_money) as payed_money,
               sum(mpm.pay_money) as pay_money,
               null as maker,
               null as maker_name,
               null as make_date,
               null as checker,
               null as checker_name,
               null as chk_date,
               null as state,
               null as state_name,
               null as is_init,
               null as note,
               null as result_state
          from tmp1 tmp1
        
          left join MAT_PAY_MAIN mpm
            on tmp1.pay_id = mpm.pay_id
           and mpm.group_id = #{group_id,jdbcType=INTEGER}
           and mpm.hos_id = #{hos_id,jdbcType=INTEGER}
           and mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
          left join acc_bank_net_buyer_rd abnbr
            on tmp1.pay_id = abnbr.erpsqn
           and tmp1.fseqno = abnbr.fseqno
           and tmp1.iseqno = abnbr.iseqno
           and abnbr.group_id = #{group_id,jdbcType=INTEGER}
           and abnbr.hos_id = #{hos_id,jdbcType=INTEGER}
           and abnbr.copy_code = #{copy_code,jdbcType=VARCHAR}
           <where>                     
		<if test="group_id != null and group_id != ''">
		AND mpm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mpm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="store_id != null and store_id != '' ">
		and hs.store_id = #{store_id}
		 </if>
		<if test="set_id != null and set_id != '' ">
		and msd.set_id = #{set_id}
		</if>
		<if test="result_state != null and result_state != '' ">
		and abnbr.result in ('5','6','8','95','96')
		</if>
		</where> 
        union
        select tmp1.group_id,
               tmp1.hos_id,
               tmp1.copy_code,
               tmp1.pay_id,
               to_char(tmp1.pay_bill_no) as pay_bill_no,
               mpm.pay_date,
               mpm.pay_bill_type,
               mpm.sup_id,
               mpm.sup_no,
               hsd.sup_code,
               hsd.sup_name,
               mpm.pay_code,
               mpm.pay_type_code,
               mpm.acct_code,
               mpm.cheq_no,
               mpm.payable_money as payable_money,
               mpm.payed_money as payed_money,
               mpm.pay_money as pay_money,
               mpm.maker,
               su.user_name as maker_name,
               mpm.make_date,
               mpm.checker,
               sysu.user_name as checker_name,
               mpm.chk_date,
               mpm.state,
               case
                 when mpm.state = 1 then
                  '未审核'
                 when mpm.state = 2 then
                  '已审核'
                 when mpm.state = null then
                  null
                 else
                  '记账'
               end as state_name,
               mpm.is_init,
               mpm.note,
               case 
          when abnbr.result = 0
          or abnbr.result = 1
          or abnbr.result = 2
          or abnbr.result = 3
          or abnbr.result = 4
          or abnbr.result = 9
          or abnbr.result = 10
          or abnbr.result = 86 then '正在处理'
          when abnbr.result = 5
          or abnbr.result = 6
          or abnbr.result = 8
          or abnbr.result = 95
          or abnbr.result = 96 then '支付失败'
          when abnbr.result = 7
          or abnbr.result = 11 then '支付成功'
          else '未支付' end as result_state -- 0 1 2 3 4 9 10 86 正在处理  7 11 处理成功  5 6 8 95 96 处理失败
          from tmp1 tmp1
          left join MAT_PAY_MAIN mpm
            on tmp1.pay_id = mpm.pay_id
           and mpm.group_id = #{group_id,jdbcType=INTEGER}
           and mpm.hos_id = #{hos_id,jdbcType=INTEGER}
           and mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
          left join acc_bank_net_buyer_rd abnbr
            on tmp1.pay_id = abnbr.erpsqn
           and tmp1.fseqno = abnbr.fseqno
           and tmp1.iseqno = abnbr.iseqno
           and abnbr.group_id = #{group_id,jdbcType=INTEGER}
           and abnbr.hos_id = #{hos_id,jdbcType=INTEGER}
           and abnbr.copy_code = #{copy_code,jdbcType=VARCHAR}
          left join Mat_Pay_Detail mpd
            on tmp1.pay_id = mpd.pay_id
           and tmp1.pay_bill_no = mpd.pay_bill_no
           and mpd.group_id = #{group_id,jdbcType=INTEGER}
           and mpd.hos_id = #{hos_id,jdbcType=INTEGER}
           and mpd.copy_code = #{copy_code,jdbcType=VARCHAR}
          left join MAT_BILL_DETAIL mbd
            on mpd.bill_id = mbd.bill_id
           and mpd.bill_detail_id = mbd.bill_detail_id
           and mbd.group_id = #{group_id,jdbcType=INTEGER}
           and mbd.hos_id = #{hos_id,jdbcType=INTEGER}
           and mbd.copy_code = #{copy_code,jdbcType=VARCHAR}
          left join MAT_IN_MAIN mim
            on mbd.in_id = mim.in_id
           and mim.group_id = #{group_id,jdbcType=INTEGER}
           and mim.hos_id = #{hos_id,jdbcType=INTEGER}
           and mim.copy_code = #{copy_code,jdbcType=VARCHAR}
        
          left join hos_store_dict hs
            on mim.store_id = hs.store_id
           and mim.store_no = hs.store_no
           and hs.group_id = #{group_id,jdbcType=INTEGER}
           and hs.hos_id = #{hos_id,jdbcType=INTEGER}
          left join mat_store_detail msd
            on hs.store_id = msd.store_id
           and msd.group_id = #{group_id,jdbcType=INTEGER}
           and msd.hos_id = #{hos_id,jdbcType=INTEGER}
        
          left join hos_sup_dict hsd
            on mpm.sup_id = hsd.sup_id
           and mpm.sup_no = hsd.sup_no
           and hsd.group_id = #{group_id,jdbcType=INTEGER}
           and hsd.hos_id = #{hos_id,jdbcType=INTEGER}
          left join sys_user su
            on mpm.maker = su.user_id
           and su.group_id = #{group_id,jdbcType=INTEGER}
           and su.hos_id = #{hos_id,jdbcType=INTEGER}
          left join sys_user sysu
            on mpm.checker = sysu.user_id
           and sysu.group_id = #{group_id,jdbcType=INTEGER}
           and sysu.hos_id = #{hos_id,jdbcType=INTEGER}
        <where>                     
		<if test="group_id != null and group_id != ''">
		AND mpm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mpm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="store_id != null and store_id != '' ">
		and hs.store_id = #{store_id}
		 </if>
		<if test="set_id != null and set_id != '' ">
		and msd.set_id = #{set_id}
		</if>
		<if test="result_state != null and result_state != '' ">
		and abnbr.result in ('5','6','8','95','96')
		</if>
		</where> 
        ) t1
  left join ACC_BUSI_LOG_0408
    on ACC_BUSI_LOG_0408.group_id = #{group_id,jdbcType=INTEGER}
   and ACC_BUSI_LOG_0408.hos_id = #{hos_id,jdbcType=INTEGER}
   and ACC_BUSI_LOG_0408.copy_code = #{copy_code,jdbcType=VARCHAR}
   and t1.pay_id = ACC_BUSI_LOG_0408.BUSINESS_NO
  left join acc_vouch
    on acc_vouch.group_id = ACC_BUSI_LOG_0408.group_id
   and acc_vouch.hos_id = ACC_BUSI_LOG_0408.hos_id
   and acc_vouch.copy_code = ACC_BUSI_LOG_0408.copy_code
   and acc_vouch.vouch_id = ACC_BUSI_LOG_0408.vouch_id
  left join acc_vouch_type
    on acc_vouch_type.group_id = acc_vouch.group_id
   and acc_vouch_type.hos_id = acc_vouch.hos_id
   and acc_vouch_type.copy_code = acc_vouch.copy_code
   and acc_vouch_type.vouch_type_code = acc_vouch.vouch_type_code
 order by t1.pay_bill_no desc, t1.pay_date desc, t1.make_date desc

	
	<!-- SELECT temp.* from (
	select null as group_id, null as hos_id, null as copy_code, null as pay_id, '合计' as pay_bill_no
      , null as pay_date, null as pay_bill_type, null as sup_id,null as sup_no, null as sup_code
      , null as sup_name, null as pay_code,null as pay_type_code, null as acct_code, null as cheq_no
      , null as payable_money, null as payed_money, sum(mpm.pay_money) as pay_money, null as maker, null as maker_name
      , null as make_date, null as checker, null as checker_name, null as chk_date, null as state,null as state_name
      , null as is_init, null as note
    from MAT_PAY_MAIN mpm

    <where>                     
		<if test="group_id != null and group_id != ''">
		AND mpm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mpm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="pay_id != null and pay_id != ''">
		AND mpm.pay_id = #{pay_id,jdbcType=INTEGER}
		</if>
		<if test="pay_bill_no != null and pay_bill_no != ''">
		AND mpm.pay_bill_no like '${pay_bill_no}%'
		</if>
		<if test="beginDate != null and beginDate != '' and endDate !=null and endDate !=''">
		AND mpm.pay_date between to_date(#{beginDate,jdbcType=DATE},'yyyy-MM-dd') and to_date(#{endDate,jdbcType=DATE},'yyyy-MM-dd')
		</if>
		<if test="makeBeginDate != null and makeBeginDate != '' and makeEndDate !=null and makeEndDate !=''">
		AND mpm.make_date between to_date(#{makeBeginDate,jdbcType=DATE},'yyyy-MM-dd') and to_date(#{makeEndDate,jdbcType=DATE},'yyyy-MM-dd')
		</if>
		<if test="pay_bill_type != null and pay_bill_type != ''">
		AND mpm.pay_bill_type = #{pay_bill_type,jdbcType=VARCHAR}
		</if>
		<if test="sup_id != null and sup_id != ''">
		AND mpm.sup_id = #{sup_id,jdbcType=INTEGER}
		</if>
		<if test="sup_no != null and sup_no != ''">
		AND mpm.sup_no = #{sup_no,jdbcType=INTEGER}
		</if>
		<if test="pay_code != null and pay_code != ''">
		AND mpm.pay_code = #{pay_code,jdbcType=VARCHAR}
		</if>
		<if test="pay_type_code != null and pay_type_code != ''">
		AND mpm.pay_type_code = #{pay_type_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_code != null and acct_code != ''">
		AND mpm.acct_code = #{acct_code,jdbcType=VARCHAR}
		</if>
		<if test="cheq_no != null and cheq_no != ''">
		AND mpm.cheq_no = #{cheq_no,jdbcType=VARCHAR}
		</if>
		<if test="payable_money != null and payable_money != '' ">
		AND mpm.payable_money = #{payable_money,jdbcType=INTEGER} 
		</if>
		<if test="payed_money != null and payed_money != '' ">
		AND mpm.payed_money = #{payed_money,jdbcType=INTEGER} 
		</if>
		<if test="pay_money != null and pay_money != '' ">
		AND mpm.pay_money = #{pay_money,jdbcType=INTEGER} 
		</if>
		<if test="maker != null and maker != ''">
		AND mpm.maker = #{maker,jdbcType=INTEGER}
		</if>
		
		<if test="checker != null and checker != ''">
		AND mpm.checker = #{checker,jdbcType=INTEGER}
		</if>
		<if test="chk_date != null and chk_date != ''">
		AND mpm.chk_date = #{chk_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND mpm.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="is_init != null and is_init != ''">
		AND mpm.is_init = #{is_init,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND mpm.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
union 
select mpm.group_id, mpm.hos_id, mpm.copy_code, mpm.pay_id, to_char(mpm.pay_bill_no) as pay_bill_no
			, mpm.pay_date, mpm.pay_bill_type, mpm.sup_id, mpm.sup_no, hsd.sup_code
			, hsd.sup_name, mpm.pay_code, mpm.pay_type_code, mpm.acct_code, mpm.cheq_no
			, mpm.payable_money, mpm.payed_money, mpm.pay_money, mpm.maker, su.user_name as maker_name
			, mpm.make_date, mpm.checker, sysu.user_name as checker_name, mpm.chk_date, mpm.state,
			case when mpm.state = 1 then '未审核'
				when mpm.state = 2 then '已审核'
				when mpm.state = '' then ''
			else '记账' end state_name,
			mpm.is_init, mpm.note
		from MAT_PAY_MAIN mpm
		 left join Mat_Pay_Detail mpd on mpm.group_id = mpd.group_id
			and mpm.hos_id = mpd.hos_id
			and mpm.copy_code = mpd.copy_code
			and mpm.pay_id = mpd.pay_id 
      and mpm.pay_bill_no=mpd.pay_bill_no
      
      	left join MAT_BILL_DETAIL mbd on mpd.group_id = mbd.group_id
			and mpd.hos_id = mpd.hos_id
			and mpd.copy_code = mbd.copy_code
			and mpd.bill_id = mbd.bill_id 
     		 and mpd.bill_detail_id=mbd.bill_detail_id
      
			left join MAT_IN_MAIN mim on mbd.group_id = mim.group_id
			and mbd.hos_id = mim.hos_id
			and mbd.copy_code = mim.copy_code
			and mbd.in_id = mim.in_id 
      
			left join hos_store_dict hs on mim.group_id = hs.group_id
			and mim.hos_id = hs.hos_id
			and mim.store_id = hs.store_id
			and mim.store_no = hs.store_no 
      
    left join mat_store_detail msd on hs.group_id = msd.group_id
		      and hs.hos_id = msd.hos_id
		      and hs.store_id = msd.store_id
      
		left join hos_sup_dict hsd on mpm.group_id = hsd.group_id
		and mpm.hos_id = hsd.hos_id
		and mpm.sup_id = hsd.sup_id
		and mpm.sup_no = hsd.sup_no
		and hsd.is_stop = 0 
		left join sys_user su on mpm.group_id = su.group_id
		and mpm.hos_id = su.hos_id
		and mpm.maker = su.user_id 
			left join sys_user sysu on mpm.group_id = sysu.group_id
		and mpm.hos_id = sysu.hos_id
		and mpm.checker = sysu.user_id 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND mpm.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND mpm.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		  <if test="store_id != null and store_id != '' ">
			 and hs.store_id = #{store_id}
		 </if>
		  <if test="set_id != null and set_id != '' ">
			 and msd.set_id = #{set_id}
			 </if>
		<if test="pay_id != null and pay_id != ''">
		AND mpm.pay_id = #{pay_id,jdbcType=INTEGER}
		</if>
		<if test="pay_bill_no != null and pay_bill_no != ''">
		AND mpm.pay_bill_no like '${pay_bill_no}%'
		</if>
		<if test="beginDate != null and beginDate != '' and endDate !=null and endDate !=''">
		AND mpm.pay_date between to_date(#{beginDate,jdbcType=DATE},'yyyy-MM-dd') and to_date(#{endDate,jdbcType=DATE},'yyyy-MM-dd')
		</if>
		<if test="makeBeginDate != null and makeBeginDate != '' and makeEndDate !=null and makeEndDate !=''">
		AND mpm.make_date between to_date(#{makeBeginDate,jdbcType=DATE},'yyyy-MM-dd') and to_date(#{makeEndDate,jdbcType=DATE},'yyyy-MM-dd')
		</if>
		<if test="pay_bill_type != null and pay_bill_type != ''">
		AND mpm.pay_bill_type = #{pay_bill_type,jdbcType=VARCHAR}
		</if>
		<if test="sup_id != null and sup_id != ''">
		AND mpm.sup_id = #{sup_id,jdbcType=INTEGER}
		</if>
		<if test="sup_no != null and sup_no != ''">
		AND mpm.sup_no = #{sup_no,jdbcType=INTEGER}
		</if>
		<if test="pay_code != null and pay_code != ''">
		AND mpm.pay_code = #{pay_code,jdbcType=VARCHAR}
		</if>
		<if test="pay_type_code != null and pay_type_code != ''">
		AND mpm.pay_type_code = #{pay_type_code,jdbcType=VARCHAR}
		</if>
		<if test="acct_code != null and acct_code != ''">
		AND mpm.acct_code = #{acct_code,jdbcType=VARCHAR}
		</if>
		<if test="cheq_no != null and cheq_no != ''">
		AND mpm.cheq_no = #{cheq_no,jdbcType=VARCHAR}
		</if>
		<if test="payable_money != null and payable_money != '' ">
		AND mpm.payable_money = #{payable_money,jdbcType=INTEGER} 
		</if>
		<if test="payed_money != null and payed_money != '' ">
		AND mpm.payed_money = #{payed_money,jdbcType=INTEGER} 
		</if>
		<if test="pay_money != null and pay_money != '' ">
		AND mpm.pay_money = #{pay_money,jdbcType=INTEGER} 
		</if>
		<if test="maker != null and maker != ''">
		AND mpm.maker = #{maker,jdbcType=INTEGER}
		</if>
		
		<if test="checker != null and checker != ''">
		AND mpm.checker = #{checker,jdbcType=INTEGER}
		</if>
		<if test="chk_date != null and chk_date != ''">
		AND mpm.chk_date = #{chk_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND mpm.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="is_init != null and is_init != ''">
		AND mpm.is_init = #{is_init,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND mpm.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
     )temp  -->
   
    


	</select>
	
	<!-- 审核、消审-->
	<update id="updatePayState" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE mat_pay_main SET
				checker = #{item.checker,jdbcType=INTEGER}
				,
				chk_date = to_date(#{item.chk_date,jdbcType=DATE},'yyyy-MM-dd')
				,
				state = #{item.state,jdbcType=INTEGER}
			
			WHERE 
				group_id = #{item.group_id,jdbcType=INTEGER}
				 and 
				hos_id = #{item.hos_id,jdbcType=INTEGER}
				 and 
				copy_code = #{item.copy_code,jdbcType=VARCHAR}
				 and 
				pay_id = #{item.pay_id,jdbcType=INTEGER}
				 and 
				pay_bill_no = #{item.pay_bill_no,jdbcType=INTEGER}
		</foreach>
	</update>
</mapper>

