<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.paper.AccPaperDetailMapper">
	<resultMap id="accPaperDetailMap" type="java.util.Map"> 
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pid" column="pid" />
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="paper_num" column="paper_num" />
		<result property="paper_way_type" column="paper_way_type" />
		<result property="paper_use_type" column="paper_use_type" />
		<result property="paper_prefix" column="paper_prefix" />
		<result property="vouch_no" column="vouch_no" />
		<result property="vouch_id" column="vouch_id" />
	    <result property="check_vouch_id" column="check_vouch_id" />
		<result property="check_vouch_no" column="check_vouch_no" />
	    <result property="check_money" column="check_money" />
		<result property="vouch_type_short" column="vouch_type_short" />
		<result property="money" column="money" />
		<result property="begin_num" column="begin_num" />
		<result property="end_num" column="end_num" />
		<result property="out_user_id1" column="out_user_id1" />
		<result property="sys_user_id1_name" column="sys_user_id1_name" />
		<result property="out_date1" column="out_date1" />
		<result property="out_user_id2" column="out_user_id2" />
		<result property="out_user_id2_name" column="out_user_id2_name" />
		<result property="out_date2" column="out_date2" />
		<result property="inva_user_id" column="inva_user_id" />
		<result property="inva_user_id_name" column="inva_user_id_name" />
		<result property="inva_date" column="inva_date" />
		<result property="paper_zlen" column="paper_zlen" />
		<result property="user_id" column="user_id" />
		<result property="user_name" column="user_name" />
		<result property="opt_date" column="opt_date" />
		<result property="state1" column="state1" />
		<result property="note" column="note" />
		<result property="state2" column="state2" />
		<result property="check_user_id" column="check_user_id" />
		<result property="check_user_name" column="check_user_name" />
		<result property="check_date" column="check_date" />
		<result property="is_check" column="is_check" />
		<result property="is_sd" column="is_sd" />
		<result property="is_auto" column="is_auto" />
	</resultMap>
	<resultMap id="accPaperDetailManageMap" type="java.util.Map">
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="paper_way_type" column="paper_way_type" />
		<result property="paper_use_type" column="paper_use_type" />
		<result property="paper_prefix" column="paper_prefix" />
		<result property="begin_num" column="begin_num" />
		<result property="end_num" column="end_num" />
		<result property="paper_zlen" column="paper_zlen" />
		<result property="is_check" column="is_check" />
		<result property="user_id" column="user_id" />
		<result property="user_name" column="user_name" />
		<result property="opt_date" column="opt_date" />
		<result property="out_user_id1" column="out_user_id1" />
		<result property="out_name1" column="out_name1" />
		<result property="out_date1" column="out_date1" />
		<result property="out_user_id2" column="out_user_id2" />
		<result property="out_name2" column="out_name2" />
		<result property="out_date2" column="out_date2" />
	    <result property="inva_user_id" column="inva_user_id" />
		<result property="inva_name" column="inva_name" />
		<result property="inva_date" column="inva_date" />
	</resultMap>
	
	<insert id="addAccPaperDetail" useGeneratedKeys="true">
           insert into 
           acc_paper_detail(
           group_id, 
           hos_id, 
           copy_code, 
           pid, 
           type_code,
           paper_num,
           out_user_id1, 
           out_date1, 
           out_user_id2,
           out_date2,
           inva_user_id, 
           inva_date,
           state1, 
           note,
           state2,
           check_user_id,
           check_date,
           is_check
           )values(
           #{group_id,jdbcType=INTEGER},
           #{hos_id,jdbcType=INTEGER},
           #{copy_code,jdbcType=VARCHAR},
           #{pid,jdbcType=INTEGER},
           #{type_code,jdbcType=VARCHAR},
           #{paper_num,jdbcType=INTEGER},
           #{out_user_id1,jdbcType=INTEGER},
           to_date(#{out_date1,jdbcType=DATE},'yyyy/MM/dd'),
           #{out_user_id2,jdbcType=INTEGER},
           to_date(#{out_date2,jdbcType=DATE},'yyyy/MM/dd'),
           #{inva_user_id,jdbcType=INTEGER}, 
           to_date(#{inva_date,jdbcType=DATE},'yyyy/MM/dd'),
           #{state1,jdbcType=INTEGER},
           #{note,jdbcType=VARCHAR},
           #{state2,jdbcType=INTEGER},
           #{check_user_id,jdbcType=INTEGER},
           to_date(#{check_date,jdbcType=DATE},'yyyy/MM/dd'),
           #{is_check,jdbcType=INTEGER},
           )
	</insert>

	<insert id="addBatchAccPaperDetail" parameterType="java.util.List">
	       insert into 
           acc_paper_detail(
           group_id, 
           hos_id, 
           copy_code, 
           pid, 
           type_code,
           paper_num,
           out_user_id1, 
           out_date1, 
           out_user_id2,
           out_date2,
           inva_user_id, 
           inva_date,
           state1, 
           note,
           state2,
           check_user_id,
           check_date,
           is_check
           )
         <foreach collection="list" item="item" index="index" separator="union all" >
         select 
	       #{item.group_id,jdbcType=INTEGER},
           #{item.hos_id,jdbcType=INTEGER},
           #{item.copy_code,jdbcType=VARCHAR},
           #{item.pid,jdbcType=INTEGER},
           #{item.type_code,jdbcType=VARCHAR},
           #{item.paper_num,jdbcType=INTEGER},
           #{item.out_user_id1,jdbcType=INTEGER},
           to_date(#{item.out_date1,jdbcType=DATE},'yyyy/MM/dd'),
           #{item.out_user_id2,jdbcType=INTEGER},
           to_date(#{item.out_date2,jdbcType=DATE},'yyyy/MM/dd'),
           #{item.inva_user_id,jdbcType=INTEGER}, 
           to_date(#{item.inva_date,jdbcType=DATE},'yyyy/MM/dd'),
           #{item.state1,jdbcType=INTEGER},
           #{item.note,jdbcType=VARCHAR},
           #{item.state2,jdbcType=INTEGER},
           #{item.check_user_id,jdbcType=INTEGER},
           to_date(#{item.check_date,jdbcType=DATE},'yyyy/MM/dd'),
           #{item.is_check,jdbcType=INTEGER}
            from dual
		</foreach>
	</insert>

	<update id="updateAccPaperDetail" parameterType="java.util.Map">

	   update acc_paper_detail
       set
       out_user_id1 = #{out_user_id1,jdbcType=INTEGER},
       out_date1 = to_date(#{out_date1,jdbcType=DATE},'yyyy/MM/dd'),
       out_user_id2 = #{out_user_id2,jdbcType=INTEGER},
       out_date2 = to_date(#{out_date2,jdbcType=DATE},'yyyy/MM/dd'),
       inva_user_id = #{inva_user_id,jdbcType=INTEGER},
       inva_date = to_date(#{inva_date,jdbcType=DATE},'yyyy/MM/dd'),
       state1 = #{state1,jdbcType=INTEGER},
       note = #{note,jdbcType=VARCHAR},
       state2 = #{state2,jdbcType=INTEGER},
       check_user_id = #{check_user_id,jdbcType=INTEGER},
       check_date = to_date(#{check_date,jdbcType=DATE},'yyyy/MM/dd'),
       is_check = #{is_check,jdbcType=INTEGER}
       where 
       group_id = #{group_id,jdbcType=INTEGER}
       and hos_id = #{hos_id,jdbcType=INTEGER}
       and copy_code = #{copy_code,jdbcType=VARCHAR}
       and pid = #{pid,jdbcType=INTEGER}
       and paper_num = #{paper_num,jdbcType=VARCHAR}
	</update>
	
    <update id="updateBatchAccPaperDetail" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			update acc_paper_detail
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.out_user_id1 != null ">
			out_user_id1 = #{item.out_user_id1,jdbcType=INTEGER}
			,
			</if>
			<if test="item.out_date1 != null ">
			out_date1 = to_date(#{item.out_date1,jdbcType=DATE},'yyyy/MM/dd')
			,
			</if>
			<if test="item.out_user_id2 != null ">
			out_user_id2 = #{item.out_user_id2,jdbcType=INTEGER}
			,
			</if>
			<if test="item.out_date2 != null">
		    out_date2 = to_date(#{item.out_date2,jdbcType=DATE},'yyyy/MM/dd')
			,
			</if>
			<if test="item.inva_user_id != null ">
			inva_user_id = #{item.inva_user_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.inva_date != null ">
			inva_date = to_date(#{item.inva_date,jdbcType=DATE},'yyyy/MM/dd')
			,
			</if>
		    <if test="item.state1 != null and item.state1 != ''">
			state1 = #{item.state1,jdbcType=INTEGER}
			,
			</if>
			<if test="item.state2 != null and item.state2 != ''">
			state2 = #{item.state2,jdbcType=INTEGER}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
		    <if test="item.check_user_id != null">
			check_user_id = #{item.check_user_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.check_date != null">
			check_date = to_date(#{item.check_date,jdbcType=DATE},'yyyy/MM/dd')
			,
			</if>
			<if test="item.is_check != null">
			is_check = #{item.is_check,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.vouch_no != null">
			vouch_no = #{item.vouch_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.check_money != null">
			check_money = #{item.check_money,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if> 
	    	<if test="item.pid != null and item.pid != ''">
			AND pid = #{item.pid,jdbcType=INTEGER}
			</if>  
			<if test="item.paper_num != null and item.paper_num != ''">
			AND paper_num = #{item.paper_num,jdbcType=VARCHAR}
			</if>   
			</where>  			
		</foreach>
	</update>

	<delete id="deleteBatchAccPaperDetail" parameterType="java.util.List">
		 delete acc_paper_detail 
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				   group_id =#{item.group_id,jdbcType=INTEGER}
                   and hos_id =  #{item.hos_id,jdbcType=INTEGER}
                   and copy_code = #{item.copy_code,jdbcType=VARCHAR}
                   and pid =#{item.pid,jdbcType=VARCHAR}
                   
			</foreach>
		</where>
	</delete>
 
	<select id="queryAccPaperDetail" parameterType="java.util.Map"
		resultMap="accPaperDetailMap">
		  select 
			    apm.group_id,apm.hos_id,apm.copy_code,apm.pid,apm.type_code,apt.type_name,apd.paper_num,
			    apt.paper_way_type,apt.paper_use_type,apt.paper_prefix,apm.begin_num,apm.end_num,
			    apd.state1,apd.state2,apd.out_user_id1,sys_user_id1.emp_name sys_user_id1_name,apd.out_date1,
			    apd.out_user_id2,sys_user_id2.user_name out_user_id2_name,to_char(apd.out_date2,'yyyy-mm-dd') out_date2,
			    apd.inva_user_id,sys_inva_user_id.user_name inva_user_id_name,to_char(apd.inva_date,'yyyy-mm-dd') inva_date,
			    apt.paper_zlen,apm.user_id,user_id.user_name,to_char(apm.opt_date,'yyyy-mm-dd') opt_date,apd.note
				from acc_paper_detail apd
				left join acc_paper_main apm
				on apd.group_id = apm.group_id
				and apd.hos_id = apm.hos_id
				and apd.copy_code = apm.copy_code
				and apd.pid = apm.pid
				left join acc_paper_type apt
				on apt.group_id = apm.group_id
				and apt.hos_id = apm.hos_id
				and apt.copy_code = apm.copy_code
				and apt.type_code = apm.type_code
				left join hos_emp sys_user_id1 
				on sys_user_id1.group_id = apd.group_id
				and sys_user_id1.hos_id = apd.hos_id
				and sys_user_id1.emp_id = apd.out_user_id1
				left join sys_user sys_user_id2
				on sys_user_id2.group_id = apd.group_id
				and sys_user_id2.hos_id = apd.hos_id
				and sys_user_id2.user_id = apd.out_user_id2
				left join sys_user sys_inva_user_id 
				on sys_inva_user_id.group_id = apd.group_id
				and sys_inva_user_id.hos_id = apd.hos_id
				and sys_inva_user_id.user_id = apd.inva_user_id 
				left join sys_user user_id 
				on user_id.group_id = apm.group_id
				and user_id.hos_id = apm.hos_id
				and user_id.user_id = apm.user_id
		    <where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="paper_use_type != null and paper_use_type != ''">
				AND apt.paper_use_type in ${paper_use_type}
			</if>
			<if test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND apm.opt_date  between  to_date(#{begin_date},'yyyy/MM/dd') and to_date(#{end_date},'yyyy/MM/dd')
			</if>
			<if test="begin_paper_num != null and begin_paper_num != '' and end_paper_num != null and end_paper_num != ''">
				AND apd.paper_num between #{begin_paper_num} and  #{end_paper_num} 
			</if>
			<if test="paper_use_type_Two != null and paper_use_type_Two != ''">
				AND apt.paper_use_type in ${paper_use_type_Two}
				and state1 = 2
			</if>
			<if test="paper_way_type != null and paper_way_type != ''">
				AND apt.paper_way_type = ${paper_way_type}
			</if>
			<if test="state1 != null and state1 != ''">
				AND apd.state1 != ${state1}
			</if>
		    <if test="pid != null and apd != ''">
				AND apd.pid = #{pid,jdbcType=INTEGER}
			</if>
			
			
		</where>
		order by apm.type_code,apd.paper_num
	</select>
	<select id="queryAccPaperDetailByCode" parameterType="java.util.Map"
		resultMap="accPaperDetailMap">
		select 
		      group_id, 
		      hos_id, 
		      copy_code,
		      pid, 
		      paper_num, 
		      out_user_id1, 
		      out_date1, 
		      out_user_id2, 
		      out_date2, 
		      inva_user_id, 
		      inva_date, 
		      state1, 
		      note,
		      state2,
		      is_check
		      from 
		      acc_paper_detail
		    <where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="pid != null and pid != ''">
				AND pid  = #{pid,jdbcType=INTEGER}
			</if>
			<if test="paper_num != null and paper_num != ''">
				AND paper_num  = #{paper_num,jdbcType=VARCHAR}
			</if>
		</where>
		order by group_id
	</select>

   
    
    	<select id="queryAccPaperDetailManage" parameterType="java.util.Map"
		resultMap="accPaperDetailManageMap">
		          select 
					    apt.type_code,apt.type_name,apt.paper_way_type,apt.paper_use_type,
					    apt.paper_prefix,apm.begin_num,apm.end_num,apt.paper_zlen,apd.is_check,
					    apm.user_id,su.user_name,apm.opt_date,apd.out_user_id1,out_su1.user_name out_name1,
					    apd.out_date1,apd.out_user_id2,out_su2.user_name out_name2,apd.out_date2,
					    apd.inva_user_id,inva_su.user_name inva_name,apd.inva_date
					from acc_paper_detail apd
					left join acc_paper_main apm
					on apd.group_id = apm.group_id
					and apd.hos_id = apm.hos_id
					and apd.copy_code = apm.copy_code
					and apd.pid = apm.pid
					left join acc_paper_type apt
					on apt.group_id = apm.group_id
					and apt.hos_id = apm.hos_id
					and apt.copy_code = apm.copy_code
					and apt.type_code = apm.type_code
					left join sys_user su on 
					su.group_id = apm.group_id
					and su.hos_id = apm.hos_id
					and su.user_id = apm.user_id
					left join sys_user out_su1 on 
					out_su1.group_id = apd.group_id
					and out_su1.hos_id = apd.hos_id
					and out_su1.user_id = apd.out_user_id1
					left join sys_user out_su2 on 
					out_su2.group_id = apd.group_id
					and out_su2.hos_id = apd.hos_id
					and out_su2.user_id = apd.out_user_id2
					left join sys_user inva_su on 
					inva_su.group_id = apd.group_id
					and inva_su.hos_id = apd.hos_id
					and inva_su.user_id = apd.inva_user_id
					<where>
					<if test="group_id != null and group_id != ''">
				      AND apm.group_id = #{group_id,jdbcType=INTEGER}
			        </if>
			        <if test="hos_id != null and hos_id != ''">
				     AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			        </if>
			        <if test="copy_code != null and copy_code != ''">
				     AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			       </if>
			        <if test="type_code != null and type_code != ''">
				    AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			       </if>
			       <if test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				    AND apm.opt_date  between  to_date(#{begin_date},'yyyy/MM/dd') and to_date(#{end_date},'yyyy/MM/dd')
			       </if>
			       <if test="begin_paper_num != null and begin_paper_num != '' and end_paper_num != null and end_paper_num != ''">
			     	AND apd.paper_num between #{begin_paper_num} and  #{end_paper_num} 
			       </if>
					</where>
	</select>
    
   	<select id="queryAccPaperDetailSola" parameterType="java.util.Map"
		resultMap="accPaperDetailMap">
			    select 
		           apm.group_id, apm.hos_id, apm.copy_code, apm.pid, apm.type_code
					, to_char(apd.out_date1,'yyyy-mm-dd') out_date1, apt.type_name, apd.paper_num, apd.note, apd.check_user_id
					, su.user_name as check_user_name, to_char(apd.check_date,'yyyy-mm-dd') check_date, apd.is_check, av.vouch_id,
					 decode(nvl(apd.vouch_id,0),0,apd.vouch_no,av.vouch_no) vouch_no
					, avt.vouch_type_short, decode(nvl(apd.vouch_id,0),0,apd.check_money,decode(nvl(avc.debit, 0), 0, nvl(avc.credit, 0), nvl(avc.debit, 0))) as money, apt.is_sd, apt.is_auto, apd.vouch_id as check_vouch_id
					, apd.vouch_no as check_vouch_no, apd.check_money,apd.state1 <!-- ,
					case when apd.state1 = 0 then '未核销'  else '已核销' end state1  -->
			        from acc_paper_detail apd
			        left join acc_paper_main apm
			        on apd.group_id = apm.group_id
			        and apd.hos_id = apm.hos_id
			        and apd.copy_code = apm.copy_code
			        and apd.pid = apm.pid
			        left join acc_paper_type apt
			        on apt.group_id = apm.group_id
			        and apt.hos_id = apm.hos_id
			        and apt.copy_code = apm.copy_code
			        and apt.type_code = apm.type_code
              left join sys_user su 
              on su.group_id = apd.group_id
              and su.hos_id = apd.hos_id
              and su.copy_code = apd.copy_code
              and su.user_id = apd.check_user_id
			        left join acc_vouch_check avc
			        on avc.group_id = apd.group_id
			        and avc.hos_id = apd.hos_id
			        and avc.copy_code = apd.copy_code
			        and avc.paper_type_code = apd.type_code
			        and avc.check_no = apd.paper_num
			        left join acc_vouch av on 
			        av.group_id = avc.group_id
			        and av.hos_id = avc.hos_id
			        and av.copy_code = avc.copy_code
			        and av.vouch_id = avc.vouch_id
			        left join acc_vouch_type avt on avt.group_id = av.group_id
                    and avt.hos_id = av.hos_id and avt.copy_code = av.copy_code
                    and avt.vouch_type_code = av.vouch_type_code
		    <where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="paper_way_type != null and paper_way_type != ''">
				AND apt.paper_way_type = ${paper_way_type}
			</if>
			<if test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
			    AND apm.opt_date  between  to_date(#{begin_date},'yyyy/MM/dd') and to_date(#{end_date},'yyyy/MM/dd')
			</if>
			<if test="begin_paper_num != null and begin_paper_num != '' and end_paper_num != null and end_paper_num != ''">
			    AND apd.paper_num between #{begin_paper_num} and  #{end_paper_num} 
			</if>
			<if test="is_check != null and is_check != ''">
			    AND apd.is_check = #{is_check,jdbcType=INTEGER}
			</if>
			<if test="state1 != null and state1 != ''">
				AND apd.state1 in (${state1})
			</if>
			<if test="is_sd != null and is_sd != ''">
				AND apt.is_sd = ${is_sd}
			</if>
			
		</where>
		order by apm.type_code,apd.paper_num
	</select>
</mapper>

