<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.paper.AccPaperJournalinglMapper">
	<resultMap id="accPaperMap" type="java.util.Map"> 
		<result property="type_code" column="type_code" /> 
		<result property="type_name" column="type_name" />
		<result property="paper_num" column="paper_num" />
		<result property="user_id" column="user_id" />
		<result property="user_name" column="user_name" />
		<result property="opt_date" column="opt_date" />
		<result property="out_user_id1" column="out_user_id1" />
		<result property="out_name" column="out_name" />
		<result property="out_date1" column="out_date1" />
		<result property="inva_user_id" column="inva_user_id" />
		<result property="inva_name" column="inva_name" />
		<result property="inva_date" column="inva_date" />
		<result property="state1" column="state1" />
		<result property="check_user_id" column="check_user_id" />
		<result property="check_name" column="check_name" />
		<result property="check_date" column="check_date" />
		<result property="is_check" column="is_check" />
	</resultMap>
	<resultMap id="accStockCollectMap" type="java.util.Map">
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="count_temp_pid" column="count_temp_pid" />
		<result property="use_temp_pid" column="use_temp_pid" />
		<result property="check_temp_pid" column="check_temp_pid" />
		<result property="inva_temp_pid" column="inva_temp_pid" />
		<result property="use_balance" column="use_balance" />
		<result property="count_balance" column="count_balance" />
	</resultMap>
	<resultMap id="accStockDetailMap" type="java.util.Map">
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="user_id" column="user_id" />
		<result property="user_name" column="user_name" />
		<result property="opt_date" column="opt_date" />
		<result property="out_user_id1" column="out_user_id1" />
		<result property="out_user_name" column="out_user_name" />
		<result property="out_date1" column="out_date1" />
		<result property="begin_num" column="begin_num" />
		<result property="end_num" column="end_num" />
		<result property="begin_detail_num" column="begin_detail_num" />
		<result property="end_detail_num" column="end_detail_num" />
		<result property="amount" column="amount" />
		<result property="is_check" column="is_check" />
	</resultMap>
	<resultMap id="accSolaCountMap" type="java.util.Map">
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="paper_prefix" column="paper_prefix" />
		<result property="paper_num" column="paper_num" />
		<result property="user_id" column="user_id" />
		<result property="user_name" column="user_name" />
		<result property="opt_date" column="opt_date" />
		<result property="out_user_id1" column="out_user_id1" />
		<result property="out_name" column="out_name" />
		<result property="out_date1" column="out_date1" />
		<result property="state1" column="state1" />
		<result property="check_user_id" column="check_user_id" />
		<result property="check_name" column="check_name" />
		<result property="check_date" column="check_date" />
		<result property="note" column="note" />
		<result property="vouch_id" column="vouch_id" />
		<result property="vouch_no" column="vouch_no" />
		<result property="vouch_type_short" column="vouch_type_short" />
		<result property="money" column="money" />
		<result property="check_vouch_no" column="check_vouch_no" />
		<result property="check_money" column="check_money" />
	</resultMap>
	<resultMap id="accCollectCountMap" type="java.util.Map">
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="state1" column="state1" />
		<result property="out_user_id1" column="out_user_id1" />
		<result property="out_user_name" column="out_user_name" />
		<result property="out_date1" column="out_date1" />
		<result property="begin_num" column="begin_num" />
		<result property="end_num" column="end_num" />
		<result property="amount" column="amount" />
	</resultMap>
	<resultMap id="accInOutCollectMap" type="java.util.Map">
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="begin_count" column="begin_count" />
		<result property="in_count" column="in_count" />
		<result property="out_count" column="out_count" />
		<result property="end_count" column="end_count" />
	</resultMap>
	<resultMap id="accIntercourseFundsDetailMap" type="java.util.Map">
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="acc_day" column="acc_day" />
		<result property="use_paper_num" column="use_paper_num" />
		<result property="purchase_paper_num" column="purchase_paper_num" />
		<result property="check_paper_num" column="check_paper_num" />
		<result property="vouch_id" column="vouch_id" />
		<result property="vouch_no" column="vouch_no" />
		<result property="vouch_type_short" column="vouch_type_short" />
		<result property="money" column="money" />
		<result property="check_vouch_no" column="check_vouch_no" />
		<result property="check_money" column="check_money" />
	</resultMap>

	<select id="queryAccPaperStockCollectDetail" parameterType="java.util.Map"
		resultMap="accPaperMap">
		SELECT
		apt.type_code,apt.type_name,apd.paper_num,apm.user_id,su.user_name,apm.opt_date,
		apd.out_user_id1,out_su.user_name
		out_name,apd.out_date1,apd.inva_user_id,inva_su.user_name inva_name,
		apd.inva_date,apd.state1,apd.check_user_id,check_su.user_name
		check_name,apd.check_date,apd.is_check
		FROM acc_paper_detail apd
		left join acc_paper_main apm
		on apd.group_id = apm.group_id
		and apd.hos_id = apm.hos_id
		and apd.copy_code = apm.copy_code
		and apd.pid = apm.pid
		left join acc_paper_type apt
		on apt.group_id = apm.group_id
		and apt.hos_id = apm.hos_id
		and apt.copy_code = apm.copy_code
		and apt.type_code = apm.type_code
		left join sys_user su on su.group_id = apm.group_id
		and su.hos_id = apm.hos_id and su.copy_code = apm.copy_code
		and su.user_id = apm.user_id
		left join sys_user out_su on out_su.group_id = apd.group_id
		and out_su.hos_id = apd.hos_id and out_su.copy_code = apd.copy_code
		and out_su.user_id = apd.out_user_id1
		left join sys_user inva_su on inva_su.group_id = apd.group_id
		and inva_su.hos_id = apd.hos_id and inva_su.copy_code = apd.copy_code
		and inva_su.user_id = apd.inva_user_id
		left join sys_user check_su on check_su.group_id = apd.group_id
		and check_su.hos_id = apd.hos_id and check_su.copy_code = apd.copy_code
		and check_su.user_id = apd.check_user_id
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apt.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="state1 != null and state1 != ''">
				AND apd.state1 = #{state1}
			</if>
			<if test="is_check != null and is_check != ''">
				AND apd.is_check = #{is_check}
			</if>
			<if test="end_date != null and end_date != ''">
				AND apm.opt_date &lt;= to_date(#{end_date},'yyyy/MM/dd')
			</if>
		</where>
	</select>

	<select id="queryAccPaperStockCollect" parameterType="java.util.Map"
		resultMap="accStockCollectMap">
		WITH
		type_temp AS (
		SELECT type_code, type_name
		FROM acc_paper_type
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		),
		count_temp
		AS
		(
		SELECT apm.type_code, COUNT(apm.pid) AS pid
		FROM
		acc_paper_detail apd
		LEFT JOIN acc_paper_main apm ON apd.group_id =
		apm.group_id
		AND apd.hos_id = apm.hos_id
		AND apd.copy_code =
		apm.copy_code
		AND apd.pid = apm.pid
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="end_date != null and end_date != ''">
				AND apm.opt_date &lt;=
				to_date(#{end_date,jdbcType=DATE},'yyyy/MM/dd')
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		GROUP BY apm.type_code
		),
		use_temp
		AS
		(
		SELECT apm.type_code,
		COUNT(apm.pid) AS pid
		FROM acc_paper_detail apd
		LEFT JOIN acc_paper_main
		apm ON apd.group_id = apm.group_id
		AND apd.hos_id = apm.hos_id
		AND
		apd.copy_code = apm.copy_code
		AND apd.pid = apm.pid
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="end_date != null and end_date != ''">
				AND apd.out_date1 &lt;=
				to_date(#{end_date,jdbcType=DATE},'yyyy/MM/dd')
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<!-- and apd.state1 = '2' -->
		</where>

		GROUP BY apm.type_code
		),
		check_temp
		AS
		(
		SELECT apm.type_code,
		COUNT(apm.pid) AS pid
		FROM acc_paper_detail apd
		LEFT JOIN acc_paper_main
		apm ON apd.group_id = apm.group_id
		AND apd.hos_id = apm.hos_id
		AND
		apd.copy_code = apm.copy_code
		AND apd.pid = apm.pid
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="end_date != null and end_date != ''">
				AND apm.opt_date &lt;=
				to_date(#{end_date,jdbcType=DATE},'yyyy/MM/dd')
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			and apd.is_check = '1'
		</where>
		GROUP BY apm.type_code
		),
		inva_temp
		AS
		(
		SELECT apm.type_code,
		COUNT(apm.pid) AS pid
		FROM acc_paper_detail apd
		LEFT JOIN acc_paper_main
		apm ON apd.group_id = apm.group_id
		AND apd.hos_id = apm.hos_id
		AND
		apd.copy_code = apm.copy_code
		AND apd.pid = apm.pid
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="end_date != null and end_date != ''">
				AND apm.opt_date &lt;=
				to_date(#{end_date,jdbcType=DATE},'yyyy/MM/dd')
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			 AND (nvl(apd.inva_user_id, 0) &lt;&gt; '0' OR
			apd.state1 = '3')
		</where>
		GROUP BY apm.type_code
		),
		temp
		as (
		SELECT type_temp.type_code,
		type_temp.type_name, nvl(count_temp.pid,0) AS
		count_temp_pid,
		nvl(use_temp.pid,0) AS use_temp_pid, nvl(check_temp.pid,0) AS
		check_temp_pid,
		nvl(inva_temp.pid,0) AS inva_temp_pid,
		nvl(use_temp.pid, 0) - nvl(check_temp.pid, 0) - nvl(inva_temp.pid, 0)
		use_balance,
		nvl(count_temp.pid, 0) - nvl(use_temp.pid, 0)
		count_balance
		from type_temp
		left join count_temp on type_temp.type_code
		= count_temp.type_code
		left join use_temp on type_temp.type_code =
		use_temp.type_code
		left join check_temp on type_temp.type_code =
		check_temp.type_code
		left join inva_temp on type_temp.type_code =
		inva_temp.type_code
		)
		select type_code, type_name, count_temp_pid,
		use_temp_pid, check_temp_pid
		, inva_temp_pid,use_balance, count_balance
		from temp
		order by type_code

	</select>

	<select id="queryAccPaperStockDetail" parameterType="java.util.Map"
		resultMap="accStockDetailMap">


		SELECT
		apt.type_code, apt.type_name, apm.user_id, su.user_name,
		to_char(apm.opt_date,'yyyy-mm-dd') opt_date,apd.out_user_id1,
		out_su.user_name
		out_user_name,to_char(apd.out_date1,'yyyy-mm-dd') out_date1, apm.begin_num, apm.end_num,
		COUNT(apd.pid) AS amount,case when apd.is_check=1 then '4' else
		to_char(apd.state1) end is_check
		, min(apd.paper_num)
		begin_detail_num,max(apd.paper_num) end_detail_num
		FROM ACC_PAPER_MAIN
		apm
		LEFT JOIN acc_paper_detail apd ON apm.group_id = apd.group_id
		AND
		apm.hos_id = apd.hos_id
		AND apm.copy_code = apd.copy_code
		AND apm.pid =
		apd.pid
		LEFT JOIN acc_paper_type apt ON apm.group_id = apt.group_id
		AND
		apm.hos_id = apt.hos_id
		AND apm.copy_code = apt.copy_code
		AND
		apm.type_code = apt.type_code
		LEFT JOIN sys_user su ON su.group_id =
		apm.group_id
		AND su.hos_id = apm.hos_id
		AND su.user_id = apm.user_id
		left join sys_user out_su on out_su.group_id = apd.group_id
		and
		out_su.hos_id = apd.hos_id
		and out_su.user_id = apd.out_user_id1
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apt.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND apm.opt_date &lt;=
				to_date(#{end_date,jdbcType=DATE},'yyyy/MM/dd')
			</if>
			<if test="user_id != null and user_id != '' ">
				AND apm.user_id = #{user_id,jdbcType=INTEGER}
			</if>
			and apd.state1 = '2'
		</where>
		GROUP BY
		apt.type_code, apt.type_name, apm.user_id, su.user_name,
		apm.opt_date,apd.out_user_id1,
		out_su.user_name,apd.out_date1,apm.begin_num,
		apm.end_num,apd.is_check,apd.state1

	</select>

	<select id="queryAccPaperSolaCount" parameterType="java.util.Map"
		resultMap="accSolaCountMap">
		select
		apt.type_code,apt.type_name,apt.paper_prefix,apd.paper_num,apm.user_id,su.user_name,to_char(apm.opt_date,'yyyy-mm-dd') opt_date,
		apd.out_user_id1,out_su.user_name
		out_name,to_char(apd.out_date1,'yyyy-mm-dd') out_date1,apd.check_user_id,
		check_user.user_name
		check_name,to_char(apd.check_date,'yyyy-mm-dd') check_date,apd.note,
		apd.vouch_id,av.vouch_no,avt.vouch_type_short,decode(nvl(avc.debit,
		0), 0, avc.credit, avc.debit) AS money,
		apd.vouch_no check_vouch_no,apd.check_money,
		case when apd.is_check=1 then '4' else to_char(apd.state1) end state1
		from
		acc_paper_detail apd
		left join acc_paper_main apm
		on apd.group_id =
		apm.group_id
		and apd.hos_id = apm.hos_id
		and apd.copy_code =
		apm.copy_code
		and apd.pid = apm.pid
		left join acc_paper_type apt
		on
		apt.group_id = apm.group_id
		and apt.hos_id = apm.hos_id
		and
		apt.copy_code = apm.copy_code
		and apt.type_code = apm.type_code
		left
		join sys_user su on
		su.group_id = apm.group_id
		and su.hos_id =
		apm.hos_id
		and su.user_id = apm.user_id
		left join sys_user out_su on
		out_su.group_id = apd.group_id
		and out_su.hos_id = apd.hos_id
		and
		out_su.user_id = apd.out_user_id1
		left join sys_user check_user on
		check_user.group_id = apd.group_id
		and check_user.hos_id = apd.hos_id
		and check_user.user_id = apd.check_user_id
		left join acc_vouch_check avc on avc.group_id = apd.group_id
		and avc.hos_id = apd.hos_id and avc.copy_code = apd.copy_code
		and avc.vouch_id = apd.vouch_id
		left join acc_vouch av on av.group_id = avc.group_id
		and av.hos_id = avc.hos_id and av.copy_code = avc.copy_code
		and av.vouch_id = avc.vouch_id
		left join acc_vouch_type avt on avt.group_id = av.group_id
		and avt.hos_id = av.hos_id and avt.copy_code = av.copy_code
		and avt.vouch_type_code = av.vouch_type_code
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apt.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if
				test="begin_year_month != null and begin_year_month != '' and end_year_month != null and end_year_month != ''">
				AND apm.opt_date between
				to_date(#{begin_year_month,jdbcType=DATE},'yyyy/MM/dd') and
				to_date(#{end_year_month,jdbcType=DATE},'yyyy/MM/dd')
			</if>
			<!-- and apd.state1 = '2' -->
		</where>
		order by apt.type_code,apd.paper_num
	</select>

	<select id="queryAccPaperCollectCount" parameterType="java.util.Map"
		resultMap="accCollectCountMap">
		SELECT
		apt.type_code, apt.type_name, <!-- COUNT(apd.pid) AS amount, -->
		case when apd.is_check=1 then '4' else to_char(apd.state1) end state1,
		apd.out_user_id1,out_su.user_name out_user_name,
		apd.out_date1,apm.begin_num, apm.end_num,apm.amount AS amount
		FROM acc_paper_detail apd
		LEFT JOIN acc_paper_main apm ON apd.group_id = apm.group_id
		AND apd.hos_id = apm.hos_id
		AND apd.copy_code = apm.copy_code
		and apd.pid = apm.pid and apd.type_code = apm.type_code
		and apd.paper_num = apm.begin_num
		LEFT JOIN acc_paper_type apt ON apt.group_id = apm.group_id
		AND apt.hos_id = apm.hos_id
		AND apt.copy_code = apm.copy_code
		AND apt.type_code = apm.type_code
		left join sys_user out_su on out_su.group_id = apd.group_id
		and out_su.hos_id = apd.hos_id
		and out_su.user_id = apd.out_user_id1
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apt.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="out_user_id1 != null and out_user_id1 != ''">
				AND apd.out_user_id1 = #{out_user_id1,jdbcType=INTEGER}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND apm.opt_date between
				to_date(#{begin_date,jdbcType=DATE},'yyyy/MM/dd') and
				to_date(#{end_date,jdbcType=DATE},'yyyy/MM/dd')
			</if>

			<!-- and apd.state1 in ('2') -->
		</where>
		order by apm.begin_num
	</select>


	<select id="queryAccPaperInOutCollect" parameterType="java.util.Map"
		resultMap="accInOutCollectMap">
			with begin_temp as (
					select begin_in.type_code type_code,nvl(begin_in.in_count,0) -
					nvl(begin_out.out_count,0) begin_count
					from (select apt.type_code, count(*) as in_count
					from acc_paper_detail apd
					left join acc_paper_main apm
					on apd.group_id = apm.group_id
					and apd.hos_id = apm.hos_id
					and apd.copy_code = apm.copy_code
					and apd.pid = apm.pid
					left join acc_paper_type apt
					on apt.group_id = apm.group_id
					and apt.hos_id = apm.hos_id
					and apt.copy_code = apm.copy_code
					and apt.type_code = apm.type_code
				<where>
					<if test="group_id != null and group_id != ''">
						AND apm.group_id = #{group_id,jdbcType=INTEGER}
					</if>
					<if test="hos_id != null and hos_id != ''">
						AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
					</if>
					<if test="copy_code != null and copy_code != ''">
						AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
					</if>
					<if test="type_code != null and type_code != ''">
						AND apt.type_code = #{type_code,jdbcType=VARCHAR}
					</if>
					<if test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
						AND apm.opt_date &lt; to_date(#{begin_date,jdbcType=DATE},'yyyy/MM/dd')
					</if>
				</where>
					group by apt.type_code) begin_in
					left join (select apt.type_code, count(*) as out_count
					from acc_paper_detail apd
					left join acc_paper_main apm
					on apd.group_id = apm.group_id
					and apd.hos_id = apm.hos_id
					and apd.copy_code = apm.copy_code
					and apd.pid = apm.pid
					left join acc_paper_type apt
					on apt.group_id = apm.group_id
					and apt.hos_id = apm.hos_id
					and apt.copy_code = apm.copy_code
					and apt.type_code = apm.type_code
					<where>
					<if test="group_id != null and group_id != ''">
						AND apm.group_id = #{group_id,jdbcType=INTEGER}
					</if>
					<if test="hos_id != null and hos_id != ''">
						AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
					</if>
					<if test="copy_code != null and copy_code != ''">
						AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
					</if>
					<if test="type_code != null and type_code != ''">
						AND apt.type_code = #{type_code,jdbcType=VARCHAR}
					</if>
					<if test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
						AND  apd.out_date1 &lt; to_date(#{begin_date,jdbcType=DATE},'yyyy/MM/dd') 
					</if>
					<!--  and apd.state1 = '2' -->
				   </where>
				    group by apt.type_code
				   ) begin_out
					on begin_in.type_code = begin_out.type_code

		) , in_temp as (
		select
		apt.type_code,count(*) in_count
		from acc_paper_detail apd
		left join acc_paper_main apm
		on apd.group_id = apm.group_id
		and apd.hos_id = apm.hos_id
		and apd.copy_code = apm.copy_code
		and apd.pid = apm.pid
		left join acc_paper_type apt
		on apt.group_id = apm.group_id
		and apt.hos_id = apm.hos_id
		and apt.copy_code = apm.copy_code
		and apt.type_code = apm.type_code
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apt.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND apm.opt_date between
				to_date(#{begin_date,jdbcType=DATE},'yyyy/MM/dd') and
				to_date(#{end_date,jdbcType=DATE},'yyyy/MM/dd')
			</if>
		</where>
		group by apt.type_code
		) , out_temp as (
		select
		apt.type_code,count(*) out_count
		from acc_paper_detail apd
		left join acc_paper_main apm
		on apd.group_id = apm.group_id
		and apd.hos_id = apm.hos_id
		and apd.copy_code = apm.copy_code
		and apd.pid = apm.pid
		left join acc_paper_type apt
		on apt.group_id = apm.group_id
		and apt.hos_id = apm.hos_id
		and apt.copy_code = apm.copy_code
		and apt.type_code = apm.type_code
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apt.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if
				test="begin_date != null and begin_date != '' and end_date != null and end_date != ''">
				AND apd.out_date1 between
				to_date(#{begin_date,jdbcType=DATE},'yyyy/MM/dd') and
				to_date(#{end_date,jdbcType=DATE},'yyyy/MM/dd')
			</if>
			and apd.state1 &gt;= '2'
		</where>
		group by apt.type_code
		)
		select
		acc_paper_type.type_code,acc_paper_type.type_name,
		nvl(begin_temp.begin_count,0) begin_count,nvl(in_temp.in_count,0)
		in_count,nvl(out_temp.out_count,0) out_count,
		nvl(begin_temp.begin_count,0) + nvl(in_temp.in_count,0) -
		nvl(out_temp.out_count,0) end_count
		from acc_paper_type
		left join begin_temp on acc_paper_type.type_code = begin_temp.type_code
		left join in_temp on acc_paper_type.type_code = in_temp.type_code
		left join out_temp on acc_paper_type.type_code = out_temp.type_code
		<where>
			<if test="type_code != null and type_code != ''">
				AND acc_paper_type.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		order by acc_paper_type.type_code
	</select>
	<select id="queryAccPaperIntercourseFundsDetail" parameterType="java.util.Map"
		resultMap="accIntercourseFundsDetailMap">
		with acc_temp as (
		SELECT
		to_char(apm.opt_date, 'MM') AS acc_month, to_char(apm.opt_date, 'DD') AS acc_day,
		apd.pid,apd.paper_num
		FROM acc_paper_detail apd
		LEFT JOIN acc_paper_main apm ON apd.group_id = apm.group_id
		AND apd.hos_id = apm.hos_id
		AND apd.copy_code = apm.copy_code
		AND apd.pid = apm.pid
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				<!-- and extract(year from apm.opt_date) = #{acc_year,jdbcType=VARCHAR} -->

				and apm.opt_date&gt;= to_date(#{acc_year},'yyyy-MM-dd')
				and apm.opt_date&lt;= to_date(#{acc_month},'yyyy-MM-dd')
			</if>
			<if test="begin_no != null and begin_no != ''">
				and to_number(apd.paper_num)&gt;= to_number(#{begin_no})
			</if>
			<if test="end_no != null and end_no != ''">
				and to_number(apd.paper_num)&lt;= to_number(#{end_no})
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY apm.opt_date
		),use_temp as (
		SELECT apd.pid,apd.paper_num
		FROM acc_paper_detail apd
		LEFT JOIN acc_paper_main apm ON apd.group_id = apm.group_id
		AND apd.hos_id = apm.hos_id
		AND apd.copy_code = apm.copy_code
		AND apd.pid = apm.pid
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				<!-- and extract(year from apm.opt_date) = #{acc_year,jdbcType=VARCHAR} -->
				and apm.opt_date&gt;= to_date(#{acc_year},'yyyy-MM-dd')
				and apm.opt_date&lt;= to_date(#{acc_month},'yyyy-MM-dd')
			</if>
			<if test="begin_no != null and begin_no != ''">
				and to_number(apd.paper_num)&gt;= to_number(#{begin_no})
			</if>
			<if test="end_no != null and end_no != ''">
				and to_number(apd.paper_num)&lt;= to_number(#{end_no})
			</if>
			and apd.state1 = '2'
			and apd.is_check = '0'
		</where>
		ORDER BY apm.opt_date
		) ,purchase_temp as (
		SELECT apd.pid,apd.paper_num
		FROM acc_paper_detail apd
		LEFT JOIN acc_paper_main apm ON apd.group_id = apm.group_id
		AND apd.hos_id = apm.hos_id
		AND apd.copy_code = apm.copy_code
		AND apd.pid = apm.pid
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				<!-- and extract(year from apm.opt_date) = #{acc_year,jdbcType=VARCHAR} -->
				and apm.opt_date&gt;= to_date(#{acc_year},'yyyy-MM-dd')
				and apm.opt_date&lt;= to_date(#{acc_month},'yyyy-MM-dd')
			</if>
			<if test="begin_no != null and begin_no != ''">
				and to_number(apd.paper_num)&gt;= to_number(#{begin_no})
			</if>
			<if test="end_no != null and end_no != ''">
				and to_number(apd.paper_num)&lt;= to_number(#{end_no})
			</if>
			and apd.state1 = '1'
			and apd.is_check = '0'
		</where>
		ORDER BY apm.opt_date
		) ,is_check_temp as (
		SELECT apd.pid,apd.paper_num,apd.vouch_id,av.vouch_no,avt.vouch_type_short,
			decode(to_char(apd.state1),'2',decode(nvl(avc.debit, 0), 0,
			avc.credit, avc.debit),'0') money,
			apd.vouch_no check_vouch_no,apd.check_money,
			apd.state1
		FROM acc_paper_detail apd
		LEFT JOIN acc_paper_main apm ON apd.group_id = apm.group_id
			AND apd.hos_id = apm.hos_id
			AND apd.copy_code = apm.copy_code
			AND apd.pid = apm.pid
		left join acc_vouch_check avc on avc.group_id = apd.group_id and avc.hos_id = apd.hos_id
			and avc.copy_code = apd.copy_code and avc.vouch_id = apd.vouch_id
			and avc.check_no = apd.paper_num
		left join acc_vouch av on av.group_id = apd.group_id and av.hos_id = apd.hos_id
			and av.copy_code = apd.copy_code and av.vouch_id = apd.vouch_id
		left join acc_vouch_type avt on avt.group_id = av.group_id and avt.hos_id = av.hos_id
			and avt.copy_code = av.copy_code and avt.vouch_type_code = av.vouch_type_code
		<where>
			<if test="group_id != null and group_id != ''">
				AND apm.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND apm.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND apm.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="type_code != null and type_code != ''">
				AND apm.type_code = #{type_code,jdbcType=VARCHAR}
			</if>
			<if test="acc_year != null and acc_year != ''">
				<!-- and extract(year from apm.opt_date) = #{acc_year,jdbcType=VARCHAR} -->
				and apm.opt_date&gt;= to_date(#{acc_year},'yyyy-MM-dd')
				and apm.opt_date&lt;= to_date(#{acc_month},'yyyy-MM-dd')
			</if>
			<if test="begin_no != null and begin_no != ''">
				and to_number(apd.paper_num)&gt;= to_number(#{begin_no})
			</if>
			<if test="end_no != null and end_no != ''">
				and to_number(apd.paper_num)&lt;= to_number(#{end_no})
			</if>
			and apd.is_check = '1'
		</where>
		ORDER BY apm.opt_date
		) SELECT
		acc_temp.acc_month,acc_temp.acc_day,use_temp.paper_num use_paper_num,
		purchase_temp.paper_num purchase_paper_num,is_check_temp.paper_num check_paper_num,
		is_check_temp.vouch_id,is_check_temp.vouch_no,is_check_temp.vouch_type_short,
		is_check_temp.money,is_check_temp.check_vouch_no,is_check_temp.check_money
		from acc_temp
		left join use_temp
		on acc_temp.pid = use_temp.pid and acc_temp.paper_num =
		use_temp.paper_num
		left join purchase_temp
		on purchase_temp.pid = acc_temp.pid and purchase_temp.paper_num =
		acc_temp.paper_num
		left join is_check_temp
		on is_check_temp.pid = acc_temp.pid and is_check_temp.paper_num =
		acc_temp.paper_num
		order by acc_temp.paper_num

	</select>
</mapper>

