<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.paper.AccPaperExchangeMapper">

	<!-- 汇率查询 -->
	<select id="queryAccExchange" resultType="java.util.Map">
	SELECT RATE_CODE,RATE_NAME,RATE,IS_STOP,NOTE FROM ACC_RATE 
	WHERE GROUP_ID = #{group_id} AND HOS_ID = #{hos_id} AND COPY_CODE = #{copy_code}
	</select>

	<!-- 查询汇率编码是否唯一 -->
	<select id="queryAccExchangeByCode" resultType="String">
	SELECT RATE_CODE FROM ACC_RATE WHERE RATE_CODE = #{rate_code} AND  GROUP_ID = #{group_id} AND HOS_ID = #{hos_id} AND COPY_CODE = #{copy_code}
	</select>

	<!-- 新增汇率 -->
	<insert id="addPaperExchange">
	INSERT INTO ACC_RATE (GROUP_ID,HOS_ID,COPY_CODE,RATE_CODE,RATE_NAME,RATE,IS_STOP
	<if test="note != null and note != '' ">,NOTE</if>
	) 
	VALUES (#{group_id},#{hos_id},#{copy_code},#{rate_code},#{rate_name},#{rate},#{is_stop}
	<if test="note != null and note != '' ">,#{note}</if>
	)
	</insert>

	<!-- 汇率修改 -->
	<update id="updatePaperExchange">
	UPDATE ACC_RATE SET RATE_NAME = #{rate_name}, RATE = #{rate} , IS_STOP = ${is_stop}
	,NOTE = #{note}
	WHERE RATE_CODE = #{rate_code,jdbcType=VARCHAR} and GROUP_ID = #{group_id,jdbcType=INTEGER} and HOS_ID = #{hos_id,jdbcType=INTEGER} and COPY_CODE = #{copy_code,jdbcType=VARCHAR}
	</update>

	<!-- 删除 -->
	<delete id="deletePaperExchange">
		DELETE FROM
			ACC_RATE
		WHERE 
			GROUP_ID = #{vo.group_id,jdbcType=INTEGER}
			AND HOS_ID = #{vo.hos_id,jdbcType=INTEGER}
			AND COPY_CODE = #{vo.copy_code,jdbcType=VARCHAR}
			AND RATE_CODE IN
				<foreach collection="list" close=" ) " item="item" open=" ( " separator=" , ">
					#{item,jdbcType=VARCHAR}
				</foreach>
	</delete>

</mapper>

