<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.books.memorandumbook.GroupAccItialIncomeMapper">

	<resultMap id="accItialIncome" type="com.chd.hrp.acc.entity.AccItialIncome">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="sub_id" column="sub_id"/>
        <result property="acc_year" column="acc_year"/>
        <result property="occur_date" column="occur_date"/>
        <result property="summary" column="summary"/>
        <result property="subj_id" column="subj_id"/>
        <result property="fun_code" column="fun_code"/>
        <result property="eco_code" column="eco_code"/>
        <result property="debit" column="debit"/>
        <result property="credit" column="credit"/>
        <result property="vouch_no" column="vouch_no"/>
        <result property="vouch_id" column="vouch_id"/>
        <result property="vouch_check_id" column="vouch_check_id"/>
        <result property="create_user" column="create_user"/>
        <result property="create_date" column="create_date"/>
        <result property="is_init" column="is_init"/>
        <result property="is_import" column="is_import"/>
        <result property="subj_code" column="subj_code"/>
        <result property="subj_name" column="subj_name"/>
        <result property="fun_name" column="fun_name"/>
        <result property="eco_name" column="eco_name"/>
        <result property="user_id" column="user_id"/>
        <result property="create_username" column="create_username"/>
	</resultMap>
	
    <insert id="addGroupAccItialIncome" useGeneratedKeys="true" >
    insert into ACC_FINA_SUB(sub_id,
    					   	 group_id,
    					   	 hos_id,
    					   	 copy_code,
    					   	 acc_year,
    					   	 occur_date,
    					   	 summary,
    					   	 subj_id,
    					   	 fun_code,
    					   	 eco_code,
    					   	 debit,
    					   	 credit,
    					   	 vouch_no,
    					   	 vouch_id,
    					   	 vouch_check_id,
    					   	 create_user,
    					   	 create_date,
    					   	 is_init,
    					   	 is_import
    					   	)
    					   	 values(
    					   	ACC_TERMEND_TEMPLATE_SUP_SEQ.nextval,
    					   	 #{group_id},
    					   	 #{hos_id},
    					   	 #{copy_code},
    					   	 #{acc_year},
    					   	 to_date(#{occur_date},'yyyy-MM-dd'),
    					   	 #{summary},
    					   	 #{subj_code},
    					   	 #{fun_code},
    					   	 #{eco_code},
    					   	 #{debit},
    					   	 #{credit},
    					   	 #{vouch_no},
    					   	 #{vouch_id},
    					   	 #{vouch_check_id},
    					   	 #{create_user},
    					   	 #{create_date},
    					   	 #{is_init},
    					   	 #{is_import}
    					   	 )
        
    
    </insert>
	<insert id="addBatchGroupAccItialIncome" parameterType="java.util.List" >
    insert into ACC_FINA_SUB(sub_id,
    					   	 group_id,
    					   	 hos_id,
    					   	 copy_code,
    					   	 acc_year,
    					   	 occur_date,
    					   	 summary,
    					   	 subj_id,
    					   	 fun_code,
    					   	 eco_code,
    					   	 debit,
    					   	 credit,
    					   	 vouch_no,
    					   	 vouch_id,
    					   	 vouch_check_id,
    					   	 create_user,
    					   	 create_date,
    					   	 is_init,
    					   	 is_import
    					   	)
    		select ACC_TERMEND_TEMPLATE_SUP_SEQ.nextval , t.* from(
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select  #{sub_id},
    		    #{item.group_id},
    			#{item.hos_id},
    			#{item.copy_code},
    			#{item.acc_year},
    			#{item.occur_date},
    			#{item.summary},
    			#{item.subj_id},
    			#{item.fun_code},
    			#{item.eco_code},
    			#{item.debit},
    			#{item.credit},
    			#{item.vouch_no},
    			#{item.vouch_id},
    			#{item.vouch_check_id},
    			#{item.create_user},
    			#{item.create_date},
    			#{item.is_init},
    			#{item.is_import} from dual
		</foreach>
    ) t
    </insert>

	<!-- <update id="updateAccMatchInit" parameterType="java.util.Map">
    
        
   
	</update>
	<update id="updateBatchAccItialIncome" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        
      
			 
    </foreach>
	</update> -->

    <delete id="GroupAccItialIncomeByCode" parameterType="java.util.Map">
   		DELETE FROM ACC_FINA_SUB
        WHERE 
		     group_id = #{group_id}
			 and hos_id = #{hos_id}
			 and copy_code = #{copy_code}
			 and sub_id = #{sub_id}
    </delete>
    <delete id="deleteBatchGroupAccItialIncome" parameterType="java.util.List">
        
		  DELETE FROM ACC_FINA_SUB WHERE 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		  group_id = #{item.group_id}
			 and hos_id = #{item.hos_id}
			 and copy_code = #{item.copy_code}
			 and sub_id = #{item.sub_id}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryGroupAccItialIncomeByCode" resultType="com.chd.hrp.acc.entity.AccItialIncome" parameterType="string" >
	  
        SELECT 
              group_id
			 ,hos_id
			 ,copy_code
			 ,acc_year
			 ,occur_date
			 ,summary
             ,fun_code
             ,eco_code
             ,debit
             ,credit
		FROM ACC_FINA_SUB 
	        WHERE 
		      group_id = #{group_id}
			 and hos_id = #{hos_id}
			 and copy_code = #{copy_code}
			 and sub_id = #{sub_id}
        
	</select>
	<select id="queryGroupAccItialIncome" parameterType="java.util.Map" resultMap="accItialIncome" >
	     SELECT afs.group_id, afs.hos_id, afs.copy_code, afs.sub_id, afs.occur_date
		, afs.vouch_no, afs.summary, asubj.subj_code || ' ' || asubj.subj_name AS subj_name, aft.fun_name, aet.eco_name
		, afs.debit, afs.credit,su.user_name create_username
		FROM ACC_FINA_SUB afs
		LEFT JOIN acc_subj asubj ON afs.group_id = asubj.group_id
		AND afs.hos_id = asubj.hos_id
		AND afs.copy_code = asubj.copy_code
		AND afs.subj_id = asubj.subj_id
		AND afs.acc_year = asubj.acc_year 
		LEFT JOIN acc_fun_type aft ON aft.group_id = afs.group_id
		AND aft.hos_id = afs.hos_id
		AND aft.copy_code = afs.copy_code
		AND aft.fun_code = afs.fun_code
		AND aft.acc_year = afs.acc_year 
			LEFT JOIN acc_eco_type aet ON aet.group_id = afs.group_id
		AND aet.hos_id = afs.hos_id
		AND aet.copy_code = afs.copy_code
		AND aet.eco_code = afs.eco_code
		AND aet.acc_year = afs.acc_year 
    left join sys_user su on
    afs.group_id = su.group_id and afs.hos_id = su.hos_id
    and afs.create_user = su.user_id
		     <where>
		     <if test="group_id != null and group_id != ''">
                    AND afs.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND afs.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND afs.copy_code = #{copy_code}
               </if>
			   <if test="acc_year != null and acc_year != ''">
                    AND afs.acc_year = #{acc_year}
               </if>
               <if test="accur_date != null and accur_date != ''">
                    AND afs.accur_date = #{accur_date}
               </if>
               <if test="subj_code != null and subj_code != ''">
                    AND afs.subj_id = #{subj_code}
               </if>
               <if test="summary != null and summary != ''">
                    AND afs.summary = #{summary}
               </if>
               <if test="fun_code != null and fun_code != ''">
                    AND afs.fun_code = #{fun_code}
               </if>
               <if test="eco_code != null and eco_code != ''">
                    AND afs.eco_code = #{eco_code}
               </if>
               <if test="subj_type_code != null and subj_type_code != ''">
                    AND asubj.subj_type_code = #{subj_type_code}
               </if>
               
               <if test="create_date_b != null and create_date_b != '' and create_date_e != null and create_date_e != '' ">
               		AND afs.occur_date between to_date(#{create_date_b},'yyyy/MM/dd')  and to_date(#{create_date_e},'yyyy/MM/dd')
               </if>
    	 </where>
    </select>
    
    <select id="queryGroupAccItialIncomePrint" parameterType="java.util.Map" resultType="java.util.Map">
	     SELECT afs.group_id, afs.hos_id, afs.copy_code, afs.sub_id, afs.occur_date
		, afs.vouch_no, afs.summary, asubj.subj_code || ' ' || asubj.subj_name AS subj_name, aft.fun_name, aet.eco_name
		, afs.debit, afs.credit,su.user_name create_username
		FROM ACC_FINA_SUB afs
		LEFT JOIN acc_subj asubj ON afs.group_id = asubj.group_id
		AND afs.hos_id = asubj.hos_id
		AND afs.copy_code = asubj.copy_code
		AND afs.subj_id = asubj.subj_id
		AND afs.acc_year = asubj.acc_year 
		LEFT JOIN acc_fun_type aft ON aft.group_id = afs.group_id
		AND aft.hos_id = afs.hos_id
		AND aft.copy_code = afs.copy_code
		AND aft.fun_code = afs.fun_code
		AND aft.acc_year = afs.acc_year 
			LEFT JOIN acc_eco_type aet ON aet.group_id = afs.group_id
		AND aet.hos_id = afs.hos_id
		AND aet.copy_code = afs.copy_code
		AND aet.eco_code = afs.eco_code
		AND aet.acc_year = afs.acc_year 
    left join sys_user su on
    afs.group_id = su.group_id and afs.hos_id = su.hos_id
    and afs.create_user = su.user_id
		     <where>
		     <if test="group_id != null and group_id != ''">
                    AND afs.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND afs.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND afs.copy_code = #{copy_code}
               </if>
			   <if test="acc_year != null and acc_year != ''">
                    AND afs.acc_year = #{acc_year}
               </if>
               <if test="accur_date != null and accur_date != ''">
                    AND afs.accur_date = #{accur_date}
               </if>
               <if test="subj_code != null and subj_code != ''">
                    AND afs.subj_id = #{subj_code}
               </if>
               <if test="summary != null and summary != ''">
                    AND afs.summary = #{summary}
               </if>
               <if test="fun_code != null and fun_code != ''">
                    AND afs.fun_code = #{fun_code}
               </if>
               <if test="eco_code != null and eco_code != ''">
                    AND afs.eco_code = #{eco_code}
               </if>
               <if test="subj_type_code != null and subj_type_code != ''">
                    AND asubj.subj_type_code = #{subj_type_code}
               </if>
               
               <if test="create_date_b != null and create_date_b != '' and create_date_e != null and create_date_e != '' ">
               		AND afs.occur_date between to_date(#{create_date_b},'yyyy/MM/dd')  and to_date(#{create_date_e},'yyyy/MM/dd')
               </if>
    	 </where>
    </select>
    
    <select id="queryGroupAccVouchImport" parameterType="java.util.Map" resultMap="accItialIncome" >
		     select
		     av.group_id,
		     av.hos_id,
		     av.copy_code, 
			av.vouch_no,
			av.vouch_date,
			avd.summary,
			asubj.subj_id,
			asubj.subj_code||''||asubj.subj_name subj_name,
			avd.debit,
			su.user_id,
			su.user_name create_name 
			from acc_vouch av left join acc_vouch_detail avd on av.vouch_id=avd.vouch_id
			and av.group_id=avd.group_id and av.hos_id=avd.hos_id 
			and av.copy_code=avd.copy_code and av.acc_year=avd.acc_year
			left join acc_subj asubj on avd.subj_id = asubj.subj_id and avd.group_id=asubj.group_id
			and avd.hos_id=asubj.hos_id and avd.subj_id=asubj.subj_id
			left join sys_user su on av.create_user =su.user_id and av.group_id=su.group_id
			and av.hos_id=su.hos_id
		     <where>
		     asubj.subj_type_code = '05'
		     <if test="group_id != null and group_id != ''">
                    AND afs.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND afs.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND afs.copy_code = #{copy_code}
               </if>
			   <if test="acc_year != null and acc_year != ''">
                    AND afs.acc_year = #{acc_year}
               </if>
               <if test="accur_date != null and accur_date != ''">
                    AND afs.accur_date = #{accur_date}
               </if>
               <if test="subj_code != null and subj_code != ''">
                    AND afs.subj_id = #{subj_code}
               </if>
               <if test="summary != null and summary != ''">
                    AND afs.summary = #{summary}
               </if>
               <if test="fun_code != null and fun_code != ''">
                    AND afs.fun_code = #{fun_code}
               </if>
               <if test="eco_code != null and eco_code != ''">
                    AND afs.eco_code = #{eco_code}
               </if>
               <if test="subj_type_code != null and subj_type_code != ''">
                    AND asubj.subj_type_code = #{subj_type_code}
               </if>
    	 </where>
    </select>
</mapper>

