<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.autovouch.AccBusiMapMapper">

	<resultMap id="accBusiMap" type="com.chd.hrp.acc.entity.autovouch.AccBusiMap">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="mod_code" column="mod_code" />
		<result property="meta_code" column="meta_code" />
		<result property="type_id" column="type_id" />
		<result property="sub_type_id" column="sub_type_id" />
		<result property="subj_code" column="subj_code" />
		<result property="out_code" column="out_code" />
		<result property="source_nature_code" column="source_nature_code" />
		<result property="store_id" column="store_id" />
		<result property="id_field" column="id_field" />
		<result property="code_field" column="code_field" />
	</resultMap>
	
	<resultMap id="queryMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="mod_code" column="mod_code" />
		<result property="meta_code" column="meta_code" />
		<result property="type_id" column="type_id" />
		<result property="sub_type_id" column="sub_type_id" />
		<result property="subj_code" column="subj_code" />
		<result property="out_code" column="out_code" />
		<result property="source_nature_code" column="source_nature_code" />
		<result property="store_id" column="store_id" />
		<result property="id_field" column="id_field" />
		<result property="code_field" column="code_field" />
	</resultMap>


	<insert id="addAccBusiMap">

		insert into acc_busi_map
  (group_id, hos_id, copy_code, acc_year, mod_code, meta_code, type_id, sub_type_id, subj_code, out_code, source_nature_code, store_id)
values (
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{acc_year,jdbcType=VARCHAR},
			#{mod_code,jdbcType=VARCHAR},
			#{meta_code,jdbcType=VARCHAR},
			#{type_id,jdbcType=VARCHAR},
			#{sub_type_id,jdbcType=VARCHAR},
			#{subj_code,jdbcType=INTEGER},
			#{out_code,jdbcType=VARCHAR},
			#{source_nature_code,jdbcType=INTEGER},
			#{store_id,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteAccBusiMap">
		delete from  acc_busi_map
		where 
			group_id = #{group_id,jdbcType=INTEGER} 
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR} 
			and acc_year = #{acc_year,jdbcType=VARCHAR} 
			and mod_code = #{mod_code,jdbcType=VARCHAR} 
			and meta_code = #{meta_code,jdbcType=VARCHAR} 
			<if test="type_id != null and type_id != ''">
				and type_id = #{type_id,jdbcType=VARCHAR} 
			</if>
			<if test="sub_type_id != null and sub_type_id != ''">
				and sub_type_id = #{sub_type_id,jdbcType=VARCHAR}
			</if>
			<if test="store_id != null and store_id != ''">
				and store_id = #{store_id,jdbcType=VARCHAR}
			</if>
	</delete>
	
	<select id="queryAccBusiMapByCode" parameterType="java.util.Map" resultMap="accBusiMap">

select group_id, hos_id, copy_code, acc_year, mod_code, meta_code, type_id, sub_type_id, subj_code, out_code, source_nature_code, store_id from acc_busi_map

		where 
		
		group_id = #{group_id} and hos_id = #{hos_id} and copy_code = #{copy_code} 
		
		<if test="acc_year != null and acc_year != ''">
				and acc_year = #{acc_year}
		</if>
		<if test="mod_code != null and mod_code != ''">
				and mod_code = #{mod_code}
		</if>
		<if test="meta_code != null and meta_code != ''">
				and meta_code = #{meta_code}
		</if>
		<if test="type_id != null and type_id != ''">
				and type_id = #{type_id}
		</if>
		
		<if test="store_id != null and store_id != ''">
				and store_id = #{store_id}
		</if>
		
		order by meta_code
	</select>

	<select id="querySysBusiTableByCode" parameterType="java.util.Map" resultType="com.chd.hrp.acc.entity.autovouch.SysBusiTable">

		select table_id, table_name, id_field, no_field, code_field, name_field, level_field, year_field, table_level,where_sql from sys_busi_table

		where 
		
		table_id = #{table_id,jdbcType=VARCHAR} 
		
		order by table_id
		
	</select>
	
	<select id="querySysBusiTable" parameterType="java.util.Map" resultType="com.chd.hrp.acc.entity.autovouch.SysBusiTable">

		select table_id, table_name, id_field, no_field, code_field, name_field, level_field, year_field, table_level from sys_busi_table

		<where>
			<if test="table_id != null and table_id != ''">
					and table_id = #{table_id}
			</if>
			<if test="table_level != null and table_level != ''">
					and table_level = #{table_level}
			</if>
		</where>
		
		order by table_id
	</select>
	
	<select id="querySelectSql" parameterType="java.util.Map" resultType="java.util.Map">

		${select_sql}
		
	</select>
	
	<select id="maxTypeLevel"  parameterType="java.util.Map" resultType="java.lang.Integer">

		${max_sql}
		
	</select>
	
	
	<select id="querySysBbusiTable" parameterType="java.util.Map" resultType="java.util.Map">

		select table_id,id_field,code_field,name_field,level_field
		 from sys_busi_table
		<where> 
		<if test="table_id != null and table_id != ''">
					and table_id = #{table_id}
			</if>
		</where>
		
	</select>
	
	<select id="queryTableIdSql" parameterType="java.util.Map" resultMap="queryMap">
	
  
     
     
		select 
		${id_field2} as type_id,
		${id_field2} as sub_type_id,
		#{group_id,jdbcType=INTEGER} as group_id,
		#{hos_id,jdbcType=INTEGER} as hos_id,
		#{copy_code,jdbcType=VARCHAR} as copy_code,
		#{acc_year,jdbcType=VARCHAR} as acc_year,
		#{mod_code,jdbcType=VARCHAR} as mod_code,
		#{meta_code,jdbcType=VARCHAR} as meta_code,
		#{subj_code,jdbcType=VARCHAR} as subj_code,
		#{out_code,jdbcType=VARCHAR} as out_code,
		#{source_nature_code,jdbcType=INTEGER} as source_nature_code,
		#{store_id,jdbcType=VARCHAR} as store_id
		
		  from ${table_id}
       where group_id=#{group_id,jdbcType=INTEGER}
       and hos_id=#{hos_id,jdbcType=INTEGER}
       and copy_code=#{copy_code,jdbcType=VARCHAR}
       --and is_stop=0
       
       and is_last=1
       and ${id_field2} in
      (
       select ${id_field2} from ${table_id}
       where group_id =#{group_id,jdbcType=INTEGER}   
      and hos_id = #{hos_id,jdbcType=INTEGER} 
      --and is_stop=0
      and copy_code = #{copy_code,jdbcType=VARCHAR}
                    start with  ${id_field2} in (#{type_id,jdbcType=INTEGER})
                    connect by prior ${code_field2} = super_code
	           
			)
		
	</select>
	
	
	<insert id="addBatchAccBusiMap" parameterType="java.util.List">
<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		
		insert into acc_busi_map
  (group_id, hos_id, copy_code, acc_year, mod_code, meta_code, type_id, sub_type_id, subj_code, out_code, source_nature_code, store_id)
values (
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.acc_year,jdbcType=VARCHAR},
			#{item.mod_code,jdbcType=VARCHAR},
			#{item.meta_code,jdbcType=VARCHAR},
			#{item.type_id,jdbcType=VARCHAR},
			#{item.sub_type_id,jdbcType=VARCHAR},
			#{item.subj_code,jdbcType=VARCHAR},
			#{item.out_code,jdbcType=VARCHAR},
			#{item.source_nature_code,jdbcType=INTEGER},
			#{item.store_id,jdbcType=VARCHAR}
			)
			</foreach>
	</insert>

	
	<delete id="deleteBatchAccBusiMap" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		
		delete from  acc_busi_map
		
		where 
		
		group_id = #{item.group_id,jdbcType=INTEGER} and
		hos_id = #{item.hos_id,jdbcType=INTEGER} and 
		copy_code = #{item.copy_code,jdbcType=VARCHAR} and
		acc_year = #{item.acc_year,jdbcType=VARCHAR} and
		mod_code = #{item.mod_code,jdbcType=VARCHAR} and
		meta_code = #{item.meta_code,jdbcType=VARCHAR} 
		<if test="item.type_id != null and item.type_id != ''">
			and type_id = #{item.type_id,jdbcType=VARCHAR} 
		</if>
		<if test="item.sub_type_id != null and item.sub_type_id != ''">
			and sub_type_id = #{item.sub_type_id,jdbcType=VARCHAR}
		</if>
		
		<if test="item.store_id != null and item.store_id != ''">
			and store_id = #{item.store_id,jdbcType=VARCHAR}
		</if>
		
		</foreach>
	</delete>
	
	
	

</mapper>

