<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.autovouch.AccMatAutoVouchMapper">
	<resultMap type="java.util.Map" id="matAutoMap">
	</resultMap>

	<resultMap id="busiQuery" type="com.chd.hrp.sys.entity.BusiQuery">
        <result property="mod_code" column="mod_code"/>
        <result property="busi_type_code" column="busi_type_code"/>
        <result property="main_table" column="main_table"/>
        <result property="main_key_field" column="main_key_field"/>
        <result property="business_no" column="business_no"/>
        <result property="detail_table" column="detail_table"/>
        <result property="detail_key_field" column="detail_key_field"/>
        <result property="is_unfold" column="is_unfold"/>
        <result property="source_detail_table" column="source_detail_table"/>
        <result property="source_key_field" column="source_key_field"/>
        <result property="head_name" column="head_name"/>
        <result property="log_name" column="log_name"/>
        <result property="group_by" column="group_by"/>
        <result property="where_sql" column="where_sql"/>
        <result property="business_url" column="business_url"/>
	</resultMap>

	<!-- 查询表头 -->
	<select id="queryMatAutoVouchHead" parameterType="java.util.Map" resultMap="busiQuery" >
		SELECT 
    		mod_code,
    		busi_type_code,
    		main_table,
    		main_key_field,
    		business_no,
    		detail_table,
    		detail_key_field,
    		is_unfold,
    		source_detail_table,
    		source_key_field,
    		head_name,
    		log_name,
    		group_by,
    		where_sql,
    		business_url
    	from SYS_BUSI_QUERY	
		<where>                     
		<if test="mod_code != null and mod_code != ''">
		AND mod_code = #{mod_code,jdbcType=VARCHAR}
		</if>
		<if test="busi_type_code != null and busi_type_code != ''">
		AND busi_type_code = #{busi_type_code,jdbcType=VARCHAR}
		</if>
		<if test="main_table != null and main_table != ''">
		AND main_table = #{main_table,jdbcType=VARCHAR}
		</if>
		<if test="main_key_field != null and main_key_field != ''">
		AND main_key_field = #{main_key_field,jdbcType=VARCHAR}
		</if>
		<if test="business_no != null and business_no != ''">
		AND business_no = #{business_no,jdbcType=VARCHAR}
		</if>
		<if test="detail_table != null and detail_table != ''">
		AND detail_table = #{detail_table,jdbcType=VARCHAR}
		</if>
		<if test="detail_key_field != null and detail_key_field != ''">
		AND detail_key_field = #{detail_key_field,jdbcType=VARCHAR}
		</if>
		<if test="is_unfold != null and is_unfold != ''">
		AND is_unfold = #{is_unfold,jdbcType=INTEGER}
		</if>
		<if test="source_detail_table != null and source_detail_table != ''">
		AND source_detail_table = #{source_detail_table,jdbcType=VARCHAR}
		</if>
		<if test="source_key_field != null and source_key_field != ''">
		AND source_key_field = #{source_key_field,jdbcType=VARCHAR}
		</if>
		<if test="head_name != null and head_name != ''">
		AND head_name = #{head_name,jdbcType=VARCHAR}
		</if>
		<if test="log_name != null and log_name != ''">
		AND log_name = #{log_name,jdbcType=VARCHAR}
		</if>
		<if test="group_by != null and group_by != ''">
		AND group_by = #{group_by,jdbcType=VARCHAR}
		</if>
		<if test="where_sql != null and where_sql != ''">
		AND where_sql = #{where_sql,jdbcType=VARCHAR}
		</if>
		</where>   
		order by mod_code asc
	</select>

	<!-- 查询业务数据 -->
	<select id="queryMatAutoVouch" parameterType="java.util.Map"
		resultMap="matAutoMap">
		select ${fieldTotal} from ${view_name} 
		${left_sql}
			<where>
		     	${where_sql}
				<if test="group_id != null and group_id != ''">
					AND ${view_name}.group_id = #{group_id}
				</if>
				<if test="hos_id != null and hos_id != ''">
					AND ${view_name}.hos_id = #{hos_id}
				</if>
				<if test="copy_code != null and copy_code != ''">
					AND ${view_name}.copy_code = #{copy_code}
				</if>
				<if test="busi_date_b != null and busi_date_b != '' and busi_date_e != null and busi_date_e != ''">
					AND to_char(${view_name}.busi_date,'yyyy-MM-dd') between #{busi_date_b} and #{busi_date_e}
				</if>
				<if test="dept_id != null and dept_id != ''">
					AND ${view_name}.dept_id = #{dept_id}
				</if>
				<if test="proj_id != null and proj_id != ''">
					AND ${view_name}.proj_id = #{proj_id}
				</if>
				<if test="store_id != null and store_id != ''">
					AND ${view_name}.store_id = #{store_id}
				</if>
				<if test="set_id != null and set_id != ''">
					AND ${view_name}.store_id in (select store_id from MAT_STORE_DETAIL sd where ${view_name}.group_id=sd.group_id and ${view_name}.hos_id=sd.hos_id and sd.set_id = #{set_id})
				</if>
		     	<if test="sup_id != null and sup_id != ''">
					AND ${view_name}.sup_id = #{sup_id}
				</if>
				<if test="business_no_b != null and business_no_b != '' and business_no_e != null and business_no_e != ''">
					AND ${view_name}.business_no between #{business_no_b} and #{business_no_e}
				</if>
				<if test="protocol_code != null and protocol_code != ''">
					AND ${view_name}.protocol_code = #{protocol_code}
				</if>
				<if test="bill_state != null and bill_state != ''">
					AND ((#{bill_state} = '1' and ${view_name}.bill_no is not null) or (#{bill_state} = '0' and ${view_name}.bill_no is null))
				</if>
		     </where>
		union all
		select t1.*,acc_vouch_type.vouch_type_short||'-'||acc_vouch.vouch_no VOUCH_NO, acc_vouch.vouch_id 
		from(
			select 
			${field}
			from ${view_name} 
			${left_sql}
		     <where>
		     	${where_sql}
				<if test="group_id != null and group_id != ''">
					AND ${view_name}.group_id = #{group_id}
				</if>
				<if test="hos_id != null and hos_id != ''">
					AND ${view_name}.hos_id = #{hos_id}
				</if>
				<if test="copy_code != null and copy_code != ''">
					AND ${view_name}.copy_code = #{copy_code}
				</if>
				<if test="busi_date_b != null and busi_date_b != '' and busi_date_e != null and busi_date_e != ''">
					AND to_char(${view_name}.busi_date,'yyyy-MM-dd') between #{busi_date_b} and #{busi_date_e}
				</if>
				<if test="dept_id != null and dept_id != ''">
					AND ${view_name}.dept_id = #{dept_id}
				</if>
				<if test="proj_id != null and proj_id != ''">
					AND ${view_name}.proj_id = #{proj_id}
				</if>
				<if test="store_id != null and store_id != ''">
					AND ${view_name}.store_id = #{store_id}
				</if>
				<if test="set_id != null and set_id != ''">
					AND ${view_name}.store_id in (select store_id from MAT_STORE_DETAIL sd where ${view_name}.group_id=sd.group_id and ${view_name}.hos_id=sd.hos_id and sd.set_id = #{set_id})
				</if>
		     	<if test="sup_id != null and sup_id != ''">
					AND ${view_name}.sup_id = #{sup_id}
				</if>
				<if test="business_no_b != null and business_no_b != '' and business_no_e != null and business_no_e != ''">
					AND ${view_name}.business_no between #{business_no_b} and #{business_no_e}
				</if>				
				<if test="protocol_code != null and protocol_code != ''">
					AND ${view_name}.protocol_code = #{protocol_code}
				</if>
				<if test="bill_state != null and bill_state != ''">
					AND ((#{bill_state} = '1' and ${view_name}.bill_no is not null) or (#{bill_state} = '0' and ${view_name}.bill_no is null))
				</if>
		     </where>
		     ${group_sql}
		     ${order_sql}
	     )t1 
	    left join ${log_table_name} on
		${log_table_name}.group_id=#{group_id}
		and ${log_table_name}.hos_id=#{hos_id}
		and ${log_table_name}.copy_code=#{copy_code}
		and t1.${main_key_field} = ${log_table_name}.BUSINESS_NO
		left join acc_vouch on
		acc_vouch.group_id = ${log_table_name}.group_id
		and acc_vouch.hos_id = ${log_table_name}.hos_id
		and acc_vouch.copy_code = ${log_table_name}.copy_code
		and acc_vouch.vouch_id = ${log_table_name}.vouch_id
		left join acc_vouch_type  on 
		acc_vouch_type.group_id=acc_vouch.group_id 
		and acc_vouch_type.hos_id=acc_vouch.hos_id
		and acc_vouch_type.copy_code=acc_vouch.copy_code 
		and acc_vouch_type.vouch_type_code=acc_vouch.vouch_type_code 
		
	</select>
	
	<!-- 按日期生成凭证，查询业务ID -->
	<select id="queryMatAutoVouchBusiIdList" parameterType="java.util.Map" resultType="String">

		select ${query_main_key_fielde} from ${query_view_name} 
		${left_sql} 
		where ${query_view_name}.group_id = #{group_id} 
			and ${query_view_name}.hos_id = #{hos_id} 
			and ${query_view_name}.copy_code=#{copy_code}
			and to_char(${query_view_name}.busi_date,'yyyy-MM-dd') between #{busi_date_b} and #{busi_date_e}
			<if test="query_where_sql != null and query_where_sql != ''">
				and ${query_where_sql}
			</if>
			<if test="huizong_sql != null and huizong_sql != ''">
				${huizong_sql}
			</if>
	</select>
	
	<!-- 保存自动凭证日志临时表  -->
	<insert id="saveAutoVouchLogTempByNo" parameterType="java.util.List">
	
		insert into ACC_BUSI_LOG_TEMP(group_id,hos_id,copy_code,vouch_id,business_no,busi_type_code,template_code,create_date)
		
		<foreach collection="list" item="item" index="index" separator=" union all ">
			select #{map.group_id},#{map.hos_id},#{map.copy_code},#{map.vouch_id},#{item},#{map.busi_type_code},#{map.template_code},#{map.create_date} from dual
		</foreach>
	</insert>
	
	
	<!-- 保存自动凭证日志临时表 -->
	<insert id="saveAutoVouchLogTemp" parameterType="java.util.Map">
		
		insert into ACC_BUSI_LOG_TEMP(group_id,hos_id,copy_code,vouch_id,business_no,busi_type_code,template_code,create_date)
		select #{group_id},#{hos_id},#{copy_code},#{vouch_id},${query_main_key_fielde},#{busi_type_code},#{template_code},#{create_date} 
		from ${query_view_name} 
		${left_join}
		where ${query_view_name}.group_id = #{group_id} 
			and ${query_view_name}.hos_id = #{hos_id} 
			and ${query_view_name}.copy_code=#{copy_code}
			and to_char(${query_view_name}.busi_date,'yyyy-MM-dd') between #{busi_date_b} and #{busi_date_e}
			<if test="query_where_sql != null and query_where_sql != ''">
				and ${query_where_sql}
			</if>
			<if test="sup_id != null and sup_id != ''">
				and sup_id =${sup_id}
			</if>
			<if test="huizong_sql != null and huizong_sql != ''">
				${huizong_sql}
			</if>
	</insert>
	
	
	<!-- 判断是否自动生成凭证-->
	<select id="queryAutoVouchIsCreate" parameterType="java.util.Map" resultType="java.lang.Integer">
		
		select count(*) from ${busi_log_table} l
		where l.group_id =#{group_id} AND l.hos_id =#{hos_id} AND l.copy_code = #{copy_code} and l.busi_type_code=#{busi_type_code}
  		<if test="busi_no != null and busi_no != ''">
			and l.business_no in(${busi_no})
		</if>
		
	</select>
	
	<!-- 查询凭证视图字段 -->
	<select id="queryAutoVouchView" parameterType="java.util.Map" resultType="java.util.Map">
		select v.meta_code,v.main_table,v.main_key_field,v.detail_table,v.business_no,v.item_key_field,v.detail_key_field,v.item_table, 
		v.is_unfold,v.source_detail_table,v.source_key_field,v.while_sql,
		f.view_field,f.field_code,f.field_name,f.field_alias
		from SYS_BUSI_VIEW v 
		inner join sys_busi_view_field f on v.mod_code=f.mod_code and v.busi_type_code=f.busi_type_code 
		and v.meta_code=f.meta_code
		where v.mod_code=#{mod_code} and v.busi_type_code=#{busi_type_code}
		and exists(
			select 1 from acc_busi_template_detail d where d.group_id=#{group_id} and d.hos_id=#{hos_id} 
			and d.copy_code=#{copy_code} and d.acc_year=#{acc_year} and d.mod_code=#{mod_code} and d.busi_type_code=#{busi_type_code} 
			and d.template_code=#{template_code} and d.meta_code=v.meta_code
		)
	</select>
	
	
	<!-- 查询自动凭证数据-分录-->
	<select id="queryVouchJsonByBusi" parameterType="java.util.Map" resultType="java.util.Map">

		select t1.subj_code "subj_code",${summary} "summary",
		case ${direction} when 0 then t1.amount_money else 0 end "debit", 
		case ${direction} when 1 then t1.amount_money else 0 end "credit",
		s.subj_code||' '||s.subj_name_all "subj_name",
		s.subj_dire "subj_dire",s.subj_type_code "subj_type_code",s.subj_nature_code "subj_nature_code",
		s.is_check "is_check",s.is_cash "is_cash",
		c1.column_check "check1",c1.check_table "check1_table",c1.column_id "check1_id",c1.column_no "check1_no",c1.column_code "check1_code",c1.column_name "check1_name",
		c2.column_check "check2",c2.check_table "check2_table",c2.column_id "check2_id",c2.column_no "check2_no",c2.column_code "check2_code",c2.column_name "check2_name",
		c3.column_check "check3",c3.check_table "check3_table",c3.column_id "check3_id",c3.column_no "check3_no",c3.column_code "check3_code",c3.column_name "check3_name",
		c4.column_check "check4",c4.check_table "check4_table",c4.column_id "check4_id",c4.column_no "check4_no",c4.column_code "check4_code",c4.column_name "check4_name"
		from(
			${vouch_sql}
			${where_sql}
			${group_sql}
		) t1
		INNER JOIN acc_subj s ON s.group_id =#{group_id} AND s.hos_id =#{hos_id} AND s.copy_code = #{copy_code}
  		AND s.acc_year =#{acc_year} AND s.subj_code = t1.subj_code 
  		left join acc_check_type c1 on s.group_id=c1.group_id and s.hos_id=c1.hos_id and s.copy_code=c1.copy_code and s.check1=c1.check_type_id
		left join acc_check_type c2 on s.group_id=c2.group_id and s.hos_id=c2.hos_id and s.copy_code=c2.copy_code and s.check2=c2.check_type_id
		left join acc_check_type c3 on s.group_id=c3.group_id and s.hos_id=c3.hos_id and s.copy_code=c3.copy_code and s.check3=c3.check_type_id
		left join acc_check_type c4 on s.group_id=c4.group_id and s.hos_id=c4.hos_id and s.copy_code=c4.copy_code and s.check4=c4.check_type_id 
		order by s.subj_code
	</select>
	
	<!-- 查询自动凭证数据-辅助核算-->
	<select id="queryVouchCheckJsonByBusi" parameterType="java.util.Map" resultType="java.util.Map">

		SELECT t1.subj_code "subj_id", #{summary} "summary",t1.amount_money "money" 
		${sel_sql}
		FROM (
		  ${vouch_sql} 
		  ${left_sql} 
		  ${where_sql}
		  ${group_sql}
		  ${order_sql}
		) t1		
		
	</select>
	
	
	<!-- 查询自动凭证说明（所有自动凭证通用）-->
	<select id="querySysBusiNote" resultType="java.util.Map">
		select a.meta_code||' '||b.meta_name "meta_name",a.note "note" 
		from sys_busi_note a
		inner join sys_busi_meta b on a.meta_code=b.meta_code
		where a.busi_type_code=#{busi_type_code}
		order by a.sort_code
	</select>
	
	<!-- 查询自动凭证没有对应科目的数据（所有自动凭证通用）-->
	<select id="queryAutoVouchNote" resultType="java.util.Map">
		select a.meta_code "meta_code",a.table_code "table_code",a.table_name "table_name",a.note "note" 
		from ACC_AUTO_NOTE a
		where a.vouch_id=#{vouch_id}
		order by a.meta_code,a.code
	</select>
	
	<!-- 保存自动凭证没有对应科目的数据（所有自动凭证通用） -->
	<update id="saveAutoNote" parameterType="java.util.Map">
	<![CDATA[
	
 declare
    TYPE ref_type IS REF CURSOR;--定义游标指针
    v_cursor ref_type;--定义游标变量   
    v_cursor_view ref_type;--定义游标变量    
    v_count number;
    
    v_group_id number;
    v_hos_id number;
    v_copy_code varchar2(20);
    v_mod_code varchar2(20);
    v_acc_year varchar2(20);  
    v_meta_code varchar2(20);
    v_busi_type_code varchar2(20);
    v_template_code varchar2(50);
    v_vouch_id numeric(18,0);
    v_busi_log_table varchar2(50);
    v_init_type number;
    v_busi_date_b varchar2(50);
    v_busi_date_e varchar2(50);
    v_busi_no varchar2(4000);
    v_huizong_sql varchar2(4000);
    
    v_main_table varchar2(100);
    v_main_key_field varchar2(100);
    v_detail_table varchar2(100);
    v_while_sql varchar2(2000);
    v_view_field varchar2(100);
    v_field_code varchar2(100);
    v_field_alias varchar2(100);
    
    v_table_code varchar2(100);
    v_table_name varchar2(500);
    v_meta_name varchar2(100);
    v_id_field varchar2(100);
    v_code_field varchar2(100);
    v_name_field varchar2(100);
    v_sel_sql varchar2(4000);
    v_view_sql varchar2(4000);
    v_where_sql varchar2(4000);
    
  begin
    v_group_id:=#{group_id};
    v_hos_id:=#{hos_id};
    v_copy_code:=#{copy_code};
    v_acc_year:=#{acc_year};
    v_mod_code:=#{mod_code};
    v_busi_type_code:=#{busi_type_code};
    v_template_code:=#{template_code};
    v_vouch_id:=#{vouch_id};
    v_busi_log_table:=#{busi_log_table};
    v_init_type:=#{init_type};
    v_busi_date_b:=#{busi_date_b};
    v_busi_date_e:=#{busi_date_e};
    v_huizong_sql:=#{huizong_sql};
    v_busi_no:=#{busi_no};
    
    delete from acc_auto_note where group_id=v_group_id and hos_id=v_hos_id and copy_code=v_copy_code
	and (to_char(create_date,'yyyy-MM-dd') < to_char(sysdate-1,'yyyy-MM-dd'));
    
    /*循环模板*/ 
    open v_cursor for
         select b.meta_code from acc_busi_template a
         inner join acc_busi_template_detail b on a.group_id = b.group_id and a.hos_id = b.hos_id  and a.copy_code = b.copy_code
         and a.acc_year = b.acc_year  and a.busi_type_code = b.busi_type_code and a.template_code = b.template_code 
         where a.group_id = v_group_id  and a.hos_id = v_hos_id  and a.copy_code = v_copy_code  and a.acc_year = v_acc_year
         and a.mod_code = v_mod_code  and a.busi_type_code = v_busi_type_code  and a.template_code = v_template_code
         order by b.kind_code, b.vouch_row;
    loop
    fetch v_cursor into v_meta_code;
    exit when v_cursor%notfound;
          v_sel_sql:='';
          v_view_sql:='';
          v_where_sql:='';  
    
         /*取类别字典表*/
          select count(1) into v_count from sys_busi_table a
          inner join sys_busi_meta b on a.table_id=b.type_table 
          where b.meta_code=v_meta_code;

          if(v_count=0) then
              continue;
          end if;

		  /*查询对应的类别字典表结构*/
          select a.table_id,a.table_name,a.id_field, a.code_field, a.name_field,b.meta_name 
          into v_table_code,v_table_name,v_id_field,v_code_field,v_name_field,v_meta_name
          from sys_busi_table a
          inner join sys_busi_meta b on a.table_id=b.type_table 
          where b.meta_code=v_meta_code;
          --dbms_output.put_line(v_type_table||' '||v_code_field||' '||v_name_field);
    
          /*拼没有对应类别的sql*/
         v_sel_sql:='select a.'||v_code_field||',a.'||v_name_field||' from '||v_table_code||' a
         where a.'||v_id_field||' not in(
           select b.sub_type_id from acc_busi_map b 
           inner join acc_subj s on b.group_id=s.group_id and b.hos_id=s.hos_id and b.copy_code=s.copy_code 
           and b.acc_year=s.acc_year and b.subj_code=s.subj_code
           where b.group_id=a.group_id and b.hos_id=a.hos_id and b.copy_code=a.copy_code and b.meta_code='||v_meta_code||'
           and b.acc_year='||v_acc_year||' and b.subj_code is not null
         )
         and a.group_id='||v_group_id||' and a.hos_id='||v_hos_id||' and a.copy_code='||v_copy_code||'         
         ';
         
         /*取视图结构*/
         select count(1) into v_count from SYS_BUSI_VIEW v
         inner join sys_busi_view_field f on v.mod_code = f.mod_code and v.busi_type_code = f.busi_type_code and v.meta_code = f.meta_code 
         where v.mod_code = v_mod_code  and v.busi_type_code = v_busi_type_code  and v.meta_code=v_meta_code 
         and f.field_code='SUB_TYPE_ID';
          if(v_count=0) then
              continue;
          end if;
         
         select v.main_table,v.main_key_field, v.detail_table, v.while_sql, f.view_field, f.field_code, f.field_alias
         into v_main_table,v_main_key_field,v_detail_table,v_while_sql,v_view_field,v_field_code,v_field_alias
         from SYS_BUSI_VIEW v
         inner join sys_busi_view_field f on v.mod_code = f.mod_code and v.busi_type_code = f.busi_type_code and v.meta_code = f.meta_code 
         where v.mod_code = v_mod_code  and v.busi_type_code = v_busi_type_code  and v.meta_code=v_meta_code 
         and f.field_code='SUB_TYPE_ID';
         
         /*拼视图查询语句*/
         v_view_sql:='select '||v_view_field||' from '||v_main_table||'';
         if(nvl(v_main_key_field,'abc')!='abc' and nvl(v_detail_table,'abc')!='abc') then
                v_view_sql:=v_view_sql||' inner join '||v_detail_table||' on '||v_main_table||'.group_id='||v_detail_table||'.group_id 
                and '||v_main_table||'.hos_id='||v_detail_table||'.hos_id and '||v_main_table||'.copy_code='||v_detail_table||'.copy_code 
                and '||v_main_table||'.'||v_main_key_field||'='||v_detail_table||'.'||v_main_key_field||'
                ';
         end if;
         
         v_where_sql:=' where '||v_main_table||'.group_id='||v_group_id||' and '||v_main_table||'.hos_id='||v_hos_id||' 
         and '||v_main_table||'.copy_code='||v_copy_code||' ';
         if(v_init_type=1) then
            /*按单据生成*/  
            v_where_sql:=v_where_sql||' and '||v_main_table||'.'||v_main_key_field||' in('||v_busi_no||') ';
                  
         else        
            /*按日期生成、按汇总生成*/           
            v_where_sql:=v_where_sql||' and to_char('||v_main_table||'.busi_date,''yyyy-MM-dd'') between '''||v_busi_date_b||''' and '''||v_busi_date_e||''' ';
            
            if(nvl(v_huizong_sql,'abc')!='abc') then
              v_huizong_sql:=replace(v_huizong_sql,'{m_table}',v_main_table);
              v_where_sql:=v_where_sql||v_huizong_sql;
            end if;
            
            v_where_sql:=v_where_sql||' and not exists(select 1 from '||v_busi_log_table||' where '||v_busi_log_table||'.group_id='
            ||v_main_table||'.group_id and '||v_busi_log_table||'.hos_id='||v_main_table||'.hos_id and '||v_busi_log_table||'.copy_code='
            ||v_main_table||'.copy_code and '||v_busi_log_table||'.business_no='||v_main_table||'.'||v_main_key_field||')';
          
        end if;
        
        /*过滤业务类型*/
        if(nvl(v_while_sql,'abc')!='abc') then
            v_where_sql:=v_where_sql||' and '||v_while_sql||' ';
        end if;
       
        /*循环视图*/ 
        /*open v_cursor_view for
            select v.main_table,v.main_key_field, v.detail_table, v.while_sql, f.view_field, f.field_code, f.field_alias
            from SYS_BUSI_VIEW v
            inner join sys_busi_view_field f on v.mod_code = f.mod_code and v.busi_type_code = f.busi_type_code and v.meta_code = f.meta_code 
            where v.mod_code = v_mod_code  and v.busi_type_code = v_busi_type_code  and v.meta_code=v_meta_code;
        loop
        fetch v_cursor_view into c_main_table,c_main_key_field,c_detail_table,c_while_sql,c_view_field,c_field_code,c_field_alias;
        exit when v_cursor_view%notfound;
              
                
        end loop;
        close v_cursor_view;  */  
       
       /*将没有对应的类别添加到凭证说明表*/   
       /*dbms_output.put_line('insert into acc_auto_note (group_id,hos_id,copy_code,vouch_id,meta_code,table_code,table_name,code,note,create_date) 
        select '||v_group_id||','||v_hos_id||','''||v_copy_code||''','||v_vouch_id||','''||v_meta_code||''',
        '''||v_table_code||''','''||v_meta_name||'（'||v_table_name||'）'','||v_code_field||','||v_code_field||'||'' ''||'||v_name_field||',sysdate 
        from (
          '||v_sel_sql||' and a.'||v_id_field||' in(
             '||v_view_sql||v_where_sql||'
          )
        ) t
        where not exists(
        select 1 from acc_auto_note n where n.group_id='||v_group_id||' and n.hos_id='||v_hos_id||' and n.copy_code='''||v_copy_code||''' 
        and n.vouch_id='||v_vouch_id||' and n.meta_code='''||v_meta_code||''' and n.table_code='''||v_table_code||''' 
        and n.code=t.'||v_code_field||'
        )       
        ');*/
           
        execute immediate 'insert into acc_auto_note (group_id,hos_id,copy_code,vouch_id,meta_code,table_code,table_name,code,note,create_date) 
        select '||v_group_id||','||v_hos_id||','''||v_copy_code||''','||v_vouch_id||','''||v_meta_code||''',
        '''||v_table_code||''','''||v_meta_name||'（'||v_table_name||'）'','||v_code_field||','||v_code_field||'||'' ''||'||v_name_field||',sysdate 
        from (
            '||v_sel_sql||' and a.'||v_id_field||' in(
               '||v_view_sql||v_where_sql||'
            )
        ) t
        where not exists(
        select 1 from acc_auto_note n where n.group_id='||v_group_id||' and n.hos_id='||v_hos_id||' and n.copy_code='''||v_copy_code||''' 
        and n.vouch_id='||v_vouch_id||' and n.meta_code='''||v_meta_code||''' and n.table_code='''||v_table_code||''' 
        and n.code=t.'||v_code_field||'
        )       
        ' ;
               
    end loop;
    close v_cursor;  
  end;
		
	]]>
	</update>
	
</mapper>