<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.hr.dao.scientificresearch.HrAcademicPaperIntegrationMapper">
	<resultMap id="hrPaperSet"
		type="com.chd.hrp.hr.entity.scientificresearch.HrAcademicPaperIntegration">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="year" column="year" />
		<result property="paper" column="paper" />
		<result property="paper_type_code" column="paper_type_code" />
		<result property="paper_type_name" column="paper_type_name" />
		<result property="affect_para" column="affect_para" />
		<result property="affect_name" column="affect_name" />
		<result property="score" column="score" />
		<result property="note" column="note" />
	</resultMap>

	<resultMap id="hrPaperSetMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="year" column="year" />
		<result property="paper" column="paper" />
		<result property="paper_type_code" column="paper_type_code" />
		<result property="paper_type_name" column="paper_type_name" />
		<result property="affect_para" column="affect_para" />
		<result property="affect_name" column="affect_name" />
		<result property="score" column="score" />
		<result property="note" column="note" />
	</resultMap>

	<resultMap id="hrSelectMap" type="java.util.Map">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>


	<resultMap id="hrResearchTotSet" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="year" column="year" />
		<result property="acade_honor" column="acade_honor" />
		<result property="acade_status" column="acade_status" />
		<result property="proj" column="proj" />
		<result property="paper" column="paper" />
		<result property="note" column="note" />
	</resultMap>
	<insert id="addBatch" parameterType="java.util.List">

		INSERT INTO HR_PAPER_SET (
		group_id,
		hos_id,
		year,
		paper_type_code,
		affect_para,
		score,
		note
		)(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.year,jdbcType=VARCHAR},
			#{item.paper_type_code,jdbcType=VARCHAR},
			#{item.affect_para,jdbcType=INTEGER},
			#{item.score,jdbcType=INTEGER},
			#{item.note,jdbcType=VARCHAR}
			from dual
		</foreach>
		)
	</insert>

		 <select id="queryTotMainByYear" parameterType="java.util.Map" resultMap="hrResearchTotSet">

		SELECT
		
		paper
		FROM
		HR_RESEARCH_TOT_SET
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="year != null and year != ''">
				AND year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="acade_honor != null and acade_honor != ''">
				AND acade_honor = #{acade_honor,jdbcType=INTEGER}
			</if>
			<if test="acade_status != null and acade_status != ''">
				AND acade_status = #{acade_status,jdbcType=INTEGER}
			</if>
			<if test="proj != null and proj != ''">
				AND proj = #{proj,jdbcType=INTEGER}
			</if>
			<if test="paper != null and paper != ''">
				AND paper = #{paper,jdbcType=INTEGER}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note,jdbcType=VARCHAR}
			</if>
		</where>
		order by group_id asc
		</select>
	<select id="queryTot" parameterType="java.util.Map" resultMap="hrResearchTotSet">

		SELECT
		group_id,
		hos_id,
		year,
		acade_honor,
		acade_status,
		proj,
		paper,
		note
		FROM
		HR_RESEARCH_TOT_SET
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="year != null and year != ''">
				AND year = #{year,jdbcType=VARCHAR}
			</if>
		</where>
		order by group_id asc
	</select>


	<update id="updateTot" parameterType="java.util.Map">

		UPDATE hr_research_tot_set
		<trim prefix="SET" suffixOverrides=",">
			paper = #{paper,jdbcType=INTEGER},
			note = #{note,jdbcType=VARCHAR},
		</trim>
		<where>
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND year = #{year,jdbcType=VARCHAR}
		</where>
	</update>

	<insert id="addTot" useGeneratedKeys="true">

		INSERT INTO HR_RESEARCH_TOT_SET (
		<trim suffix="" suffixOverrides=",">
			group_id,
			hos_id,
			year,
			paper
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{year,jdbcType=VARCHAR},
			#{paper,jdbcType=INTEGER}
		</trim>
		)

	</insert>
	<delete id="deletePaper" parameterType="java.util.Map">

		DELETE FROM hr_paper_set
		<where>
			<if test="group_id != null and group_id != ''">
				 group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=VARCHAR}
			</if>
			<if test="year != null and year != ''">
				AND year = #{year,jdbcType=INTEGER}
			</if>
			<if test="paper_type_code != null and paper_type_code != ''">
				AND paper_type_code = #{paper_type_code,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>

	<delete id="deleteAcademicPaperIntegration" parameterType="java.util.List">
		DELETE FROM hr_paper_set
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
					 group_id = #{item.group_id,jdbcType=INTEGER}
					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
					AND year = #{item.year,jdbcType=VARCHAR}
					AND paper_type_code = #{item.paper_type_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>

	<select id="query" parameterType="java.util.Map" resultMap="hrPaperSet">

		SELECT
		hp.group_id,
		hp.hos_id,
		hp.year,
		hrt.paper,
		hp.paper_type_code,
		hf.FIELD_COL_NAME as paper_type_name,
		hp.affect_para,
		hfd.FIELD_COL_NAME as affect_name,
		hp.score,
		hp.note
		FROM HR_PAPER_SET hp left join HR_FIIED_DATA hf on
		hf.group_id=hp.group_id and hf.hos_id=hp.hos_id and
		hf.field_tab_code='DIC_PAPER_TYPE'
		and hp.paper_type_code=hf.FIELD_COL_CODE
		left join HR_FIIED_DATA hfd 	on
		hfd.group_id=hp.group_id and hfd.hos_id=hp.hos_id and
		hfd.field_tab_code='DIC_AFFECT_PARA' and
		hp.affect_para=hfd.FIELD_COL_CODE
		left join HR_RESEARCH_TOT_SET hrt on hp.year=hrt.year and
		hrt.group_id=hp.group_id and hrt.hos_id=hp.hos_id 
		<where>
			<if test="group_id != null and group_id != ''">
				AND hp.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hp.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="year != null and year != ''">
				AND hp.year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="paper_type_code != null and paper_type_code != ''">
				AND hp.paper_type_code = #{paper_type_code,jdbcType=VARCHAR}
			</if>
			<if test="affect_para != null and affect_para != ''">
				AND hp.affect_para = #{affect_para,jdbcType=INTEGER}
			</if>
			<if test="score != null and score != ''">
				AND hp.score = #{score,jdbcType=INTEGER}
			</if>
			<if test="note != null and note != ''">
				AND hp.note = #{note,jdbcType=VARCHAR}
			</if>
			<if test="paper_type_name != null and paper_type_name != ''">
				AND hf.FIELD_COL_NAME like '%${paper_type_name}%'
			</if>
			<if test="affect_para_name != null and affect_para_name != ''">
				AND hfd.FIELD_COL_NAME like '%${affect_para_name}%'
			</if>
		</where>
		order by group_id asc
	</select>
	<select id="queryPaperType" parameterType="java.util.Map"
		resultMap="hrSelectMap">
		select t.FIELD_COL_CODE as id ,t.FIELD_COL_NAME as text from HR_FIIED_DATA t
		where t.group_id = #{group_id,jdbcType=INTEGER} and
		t.hos_id = #{hos_id,jdbcType=INTEGER} and
		t.field_tab_code='DIC_PAPER_TYPE'

	</select>
	<select id="queryAffectPara" parameterType="java.util.Map"
		resultMap="hrSelectMap">
		select t.FIELD_COL_CODE as id ,t.FIELD_COL_NAME as text from HR_FIIED_DATA t
		where t.group_id = #{group_id,jdbcType=INTEGER} and
		t.hos_id = #{hos_id,jdbcType=INTEGER} and
		t.field_tab_code='DIC_AFFECT_PARA'

	</select>

	<insert id="copyAcademicPaper" parameterType="java.util.List">
		insert into HR_PAPER_SET( select hls.group_id, hls.hos_id
		, hls.paper_type_code,hls.affect_para,hls.score,hls.note,(
		select
		extract(year from sysdate)from dual
		) as year
		from HR_PAPER_SET hls
		WHERE
		hls.group_id = #{group_id,jdbcType=INTEGER}
		AND hls.hos_id = #{hos_id,jdbcType=INTEGER}
		AND hls.year =(select extract(year from sysdate)-1 from dual)
		)
	</insert>
	
	<!-- 查询上一年数据 -->
	<select id="queryAcademicPaperByLastYear" resultType="java.lang.Integer">
		select count(*) from hr_paper_set 
		where group_id = #{group_id} and hos_id = #{hos_id} and year = extract(year from sysdate) - 1
	</select>
</mapper>