<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.tongJiReports.AssDepreExpireMapper">
	
	<resultMap id="assDepreExpire"
		type="com.chd.hrp.ass.entity.tongJiReports.AssDepreExpire">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="ass_card_no" column="ass_card_no" />
		<result property="ass_id" column="ass_id" />
		<result property="ass_no" column="ass_no" />
		<result property="ass_code" column="ass_code" />
		<result property="ass_name" column="ass_name" />
		<result property="ass_spec" column="ass_spec" />
		<result property="ass_mondl" column="ass_mondl" />
		<result property="ass_brand" column="ass_brand" />
		<result property="fac_name" column="fac_name" />
		<result property="store_name" column="store_name" />
		<result property="dept_name" column="dept_name" />
		<result property="ass_amount" column="ass_amount" />
		<result property="is_depre" column="is_depre" />
		<result property="acc_depre_amount" column="acc_depre_amount" />
		<result property="add_depre_month" column="add_depre_month" />
		<result property="depre_year" column="depre_year" />
		<result property="depre_month" column="depre_month" />
		<result property="depre_money" column="depre_money" />
		<result property="price" column="price" />
		<result property="in_date" column="in_date" />
	</resultMap>
	
	<resultMap id="assDepreExpireMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="ass_card_no" column="ass_card_no" />
		<result property="ass_id" column="ass_id" />
		<result property="ass_no" column="ass_no" />
		<result property="ass_code" column="ass_code" />
		<result property="ass_name" column="ass_name" />
		<result property="ass_spec" column="ass_spec" />
		<result property="ass_mondl" column="ass_mondl" />
		<result property="ass_brand" column="ass_brand" />
		<result property="fac_name" column="fac_name" />
		<result property="store_name" column="store_name" />
		<result property="dept_name" column="dept_name" />
		<result property="ass_amount" column="ass_amount" />
		<result property="is_depre" column="is_depre" />
		<result property="acc_depre_amount" column="acc_depre_amount" />
		<result property="add_depre_month" column="add_depre_month" />
		<result property="depre_year" column="depre_year" />
		<result property="depre_month" column="depre_month" />
		<result property="depre_money" column="depre_money" />
		<result property="price" column="price" />
		<result property="in_date" column="in_date" />
	</resultMap>
	
		<!-- 专用设备查询   (资产折旧到期)   -->
	<select id="queryAssDepreExpireSpecial" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select  
		acs.group_id,
		acs.hos_id,
		acs.copy_code,
		acs.ass_card_no,
		acs.ass_id,
		acs.ass_no,
		acs.ass_spec,
		acs.ass_mondl,
		acs.ass_amount,
		andd.ass_code,
		andd.ass_name,
		acs.price,
		acs.depre_money,
		acs.is_depr,
		acs.acc_depre_amount 
		from ass_card_special acs 
		left join ASS_NO_DICT andd on acs.ass_id = andd.ass_id and acs.ass_no = andd.ass_no  
		<where>      
		acs.is_depr = 1  
        and acs.depre_money >= acs.price             
		<if test="group_id != null and group_id != ''">
		AND acs.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND acs.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND acs.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
	 
		</where>   
		order by acs.group_id asc
	</select>
	
	
	<!-- 一般设备查询  (资产折旧到期)     -->
	<select id="queryAssDepreExpireGeneral" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select  
		acg.group_id,
		acg.hos_id,
		acg.copy_code,
		acg.ass_card_no,
		acg.ass_id,
		acg.ass_no,
		acg.ass_spec,
		acg.ass_mondl,
		acg.ass_amount,
		andd.ass_code,
		andd.ass_name,
		acg.price,
		acg.depre_money,
		acg.is_depr,
		acg.acc_depre_amount 
		from ASS_CARD_GENERAL acg   
		left join ASS_NO_DICT andd on acg.ass_id = andd.ass_id and acg.ass_no = andd.ass_no 
	                     
		<where>      
		acg.is_depr = 1   
	    and acg.depre_money >= acg.price
		<if test="group_id != null and group_id != ''">
		AND acg.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND acg.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND acg.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		 
		</where>   
		order by acg.group_id asc
	 
	</select>
	
	<!-- 房屋及建筑查询    (资产折旧到期)    -->
	<select id="queryAssDepreExpireHouse" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select  
		ach.group_id,
		ach.hos_id,
		ach.copy_code,
		ach.ass_card_no,
		ach.ass_id,
		ach.ass_no,
		ach.ass_spec,
		ach.ass_mondl,
		ach.ass_amount,
		andd.ass_code,
		andd.ass_name,
		ach.price,
		ach.depre_money,
		ach.is_depr,
		ach.acc_depre_amount 
		from ASS_CARD_HOUSE ach  
		left join ASS_NO_DICT andd on ach.ass_id = andd.ass_id and ach.ass_no = andd.ass_no 
		<where>      
		ach.is_depr = 1   
	    and ach.depre_money >= ach.price
		<if test="group_id != null and group_id != ''">
		AND ach.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND ach.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		 
		</where>   
		order by ach.group_id asc
	</select>
	
	<!-- 其他固定资产查询    (资产折旧到期)    -->
	<select id="queryAssDepreExpireOther" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select  
		aco.group_id,
		aco.hos_id,
		aco.copy_code,
		aco.ass_card_no,
		aco.ass_id,
		aco.ass_no,
		aco.ass_spec,
		aco.ass_mondl,
		aco.ass_amount,
		andd.ass_code,
		andd.ass_name,
		aco.price,
		aco.depre_money,
		aco.is_depr,
		aco.acc_depre_amount 
		from ASS_CARD_Other aco  
		left join ASS_NO_DICT andd on aco.ass_id = andd.ass_id and aco.ass_no = andd.ass_no 
				<where>      
		aco.is_depr = 1   
	    and aco.depre_money >= aco.price
		<if test="group_id != null and group_id != ''">
		AND aco.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND aco.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND aco.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		</where>   
		order by aco.group_id asc
	</select>
	
		<!-- 专用设备查询   (资产折旧年限)    -->
	<select id="queryAssDepreTermSpecial" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select  
		acs.group_id,
		acs.hos_id,
		acs.copy_code,
		acs.ass_card_no,
		acs.ass_id,
		acs.ass_no,
		acs.ass_spec,
		acs.ass_mondl,
		acs.ass_amount,
		andd.ass_code,
		andd.ass_name,
		acs.price,
		acs.depre_money,
		acs.is_depr,
		acs.acc_depre_amount
		from ass_card_special acs
		left join ASS_NO_DICT andd on acs.ass_id = andd.ass_id and acs.ass_no = andd.ass_no  
		<where>      
		acs.is_depr = 1  
		<if test="group_id != null and group_id != ''">
		AND acs.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND acs.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND acs.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND acs.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		</where>   
		order by acs.group_id asc
	</select>
	
	
	<!-- 一般设备查询    (资产折旧年限)  -->
	<select id="queryAssDepreTermGeneral" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select  
		acg.group_id,
		acg.hos_id,
		acg.copy_code,
		acg.ass_card_no,
		acg.ass_id,
		acg.ass_no,
		acg.ass_spec,
		acg.ass_mondl,
		acg.ass_amount,
		andd.ass_code,
		andd.ass_name,
		acg.price,
		acg.depre_money,
		acg.is_depr,
		acg.acc_depre_amount 
		from ASS_CARD_GENERAL acg   
		left join ASS_NO_DICT andd on acg.ass_id = andd.ass_id and acg.ass_no = andd.ass_no 
	                     
		<where>      
		acg.is_depr = 1   
	            
		<if test="group_id != null and group_id != ''">
		AND acg.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND acg.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND acg.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND acg.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		</where>   
		order by acg.group_id asc
	 
	</select>
	
	<!-- 房屋及建筑查询     (资产折旧年限)     -->
	<select id="queryAssDepreTermHouse" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select  
		ach.group_id,
		ach.hos_id,
		ach.copy_code,
		ach.ass_card_no,
		ach.ass_id,
		ach.ass_no,
		ach.ass_spec,
		ach.ass_mondl,
		ach.ass_amount,
		andd.ass_code,
		andd.ass_name,
		ach.price,
		ach.depre_money,
		ach.is_depr,
		ach.acc_depre_amount
		from ASS_CARD_HOUSE ach  
		left join ASS_NO_DICT andd on ach.ass_id = andd.ass_id and ach.ass_no = andd.ass_no 
		 		<where>      
		ach.is_depr = 1   
	             
		<if test="group_id != null and group_id != ''">
		AND ach.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND ach.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND ach.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ach.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		</where>   
		order by ach.group_id asc
	</select>
	
	<!-- 其他固定资产查询       (资产折旧年限)    -->
	<select id="queryAssDepreTermOther" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select  
		aco.group_id,
		aco.hos_id,
		aco.copy_code,
		aco.ass_card_no,
		aco.ass_id,
		aco.ass_no,
		aco.ass_spec,
		aco.ass_mondl,
		aco.ass_amount,
		andd.ass_code,
		andd.ass_name,
		aco.price,
		aco.depre_money,
		aco.is_depr,
		aco.acc_depre_amount
		from ASS_CARD_Other aco 
		left join ASS_NO_DICT andd on aco.ass_id = andd.ass_id and aco.ass_no = andd.ass_no 
				<where>      
		aco.is_depr = 1   
	             
		<if test="group_id != null and group_id != ''">
		AND aco.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND aco.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND aco.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND aco.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		</where>   
		order by aco.group_id asc
	</select>


	<!-- 专用设备查询   (资产逾龄役龄)   -->
	<select id="queryAssAgeAnalyzeSpecial" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select 
		acs.ass_card_no,  
		andd.ass_code,
		andd.ass_name,
		acs.ass_spec,
		acs.ass_mondl,
		hfd.fac_name,
		hsd.store_name,
		hdd.dept_name,
		acs.acc_depre_amount,
		adas.add_depre_month
		from ass_card_special acs
		left join ASS_DEPRE_ACC_SPECIAL adas on acs.ass_card_no = adas.ass_card_no 
		left join ASS_NO_DICT andd on acs.ass_id = andd.ass_id and acs.ass_no = andd.ass_no  
		left join HOS_FAC_DICT hfd on acs.fac_id = hfd.fac_id and acs.fac_no = hfd.fac_no
		left join HOS_STORE_DICT hsd  on acs.store_id = hsd.store_id and acs.store_no = hsd.store_no
		left join HOS_DEPT_DICT hdd on acs.user_dept_id = hdd.dept_id and acs.user_dept_no = hdd.dept_no
		<where>      
		<if test="group_id != null and group_id != ''">
		AND acs.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND acs.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND acs.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
	    <if test="depre_year != null and depre_year != ''">
		AND adas.depre_year = #{depre_year,jdbcType=INTEGER}
		</if>
		<if test="depre_month != null and depre_month != ''">
		AND adas.depre_month = #{depre_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by acs.group_id asc
	</select>
	
	
	<!-- 一般设备查询  (资产逾龄役龄)     -->
	<select id="queryAssAgeAnalyzeGeneral" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		 select 
		acg.ass_card_no,  
		andd.ass_code,
		andd.ass_name,
		acg.ass_spec,
		acg.ass_mondl,
		hfd.fac_name,
		hsd.store_name,
		hdd.dept_name,
		acg.acc_depre_amount,
		adag.add_depre_month
		from ASS_CARD_GENERAL acg   
		left join ASS_DEPRE_ACC_GENERAL adag on acg.ass_card_no = adag.ass_card_no 
		left join ASS_NO_DICT andd on acg.ass_id = andd.ass_id and acg.ass_no = andd.ass_no  
		left join HOS_FAC_DICT hfd on acg.fac_id = hfd.fac_id and acg.fac_no = hfd.fac_no
		left join HOS_STORE_DICT hsd  on acg.store_id = hsd.store_id and acg.store_no = hsd.store_no
		left join HOS_DEPT_DICT hdd on acg.user_dept_id = hdd.dept_id and acg.user_dept_no = hdd.dept_no
	                     
		<where>      
		<if test="group_id != null and group_id != ''">
		AND acg.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND acg.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND acg.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		 <if test="depre_year != null and depre_year != ''">
		AND adag.depre_year = #{depre_year,jdbcType=INTEGER}
		</if>
		<if test="depre_month != null and depre_month != ''">
		AND adag.depre_month = #{depre_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by acg.group_id asc
	 
	</select>
	
	<!-- 房屋及建筑查询   (资产逾龄役龄)   -->
	<select id="queryAssAgeAnalyzeHouse" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		 select 
		ach.ass_card_no,  
		andd.ass_code,
		andd.ass_name,
		ach.ass_spec,
		ach.ass_mondl, 
		hfd.fac_name, 
		hsd.store_name,
		hdd.dept_name,
		ach.acc_depre_amount,
		adah.add_depre_month
		from ASS_CARD_HOUSE ach 
		left join ASS_DEPRE_ACC_HOUSE adah on ach.ass_card_no = adah.ass_card_no 
		left join ASS_NO_DICT andd on ach.ass_id = andd.ass_id and ach.ass_no = andd.ass_no  
		left join HOS_FAC_DICT hfd on ach.fac_id = hfd.fac_id and ach.fac_no = hfd.fac_no
		left join HOS_STORE_DICT hsd  on ach.store_id = hsd.store_id and ach.store_no = hsd.store_no
		left join HOS_DEPT_DICT hdd on ach.user_dept_id = hdd.dept_id and ach.user_dept_no = hdd.dept_no
		 		<where>      
		<if test="group_id != null and group_id != ''">
		AND ach.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND ach.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		 <if test="copy_code != null and copy_code != ''">
		AND ach.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		 <if test="depre_year != null and depre_year != ''">
		AND adah.depre_year = #{depre_year,jdbcType=INTEGER}
		</if>
		<if test="depre_month != null and depre_month != ''">
		AND adah.depre_month = #{depre_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by ach.group_id asc
	</select>
	
	<!-- 其他固定资产查询    (资产逾龄役龄)   -->
	<select id="queryAssAgeAnalyzeOther" parameterType="java.util.Map" resultMap="assDepreExpire" >
	
		select 
		aco.ass_card_no,  
		andd.ass_code,
		andd.ass_name,
		aco.ass_spec,
		aco.ass_mondl,
		hfd.fac_name,
		hsd.store_name,
		hdd.dept_name,
		aco.acc_depre_amount,
		adao.add_depre_month
		from ASS_CARD_Other aco  
		left join ASS_DEPRE_ACC_Other adao on aco.ass_card_no = adao.ass_card_no 
		left join ASS_NO_DICT andd on aco.ass_id = andd.ass_id and aco.ass_no = andd.ass_no  
		left join HOS_FAC_DICT hfd on aco.fac_id = hfd.fac_id and aco.fac_no = hfd.fac_no
		left join HOS_STORE_DICT hsd  on aco.store_id = hsd.store_id and aco.store_no = hsd.store_no
		left join HOS_DEPT_DICT hdd on aco.user_dept_id = hdd.dept_id and aco.user_dept_no = hdd.dept_no
				<where>      
		
		<if test="group_id != null and group_id != ''">
		AND aco.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND aco.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND aco.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		 <if test="depre_year != null and depre_year != ''">
		AND adao.depre_year = #{depre_year,jdbcType=INTEGER}
		</if>
		<if test="depre_month != null and depre_month != ''">
		AND adao.depre_month = #{depre_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by aco.group_id asc
	</select>
	
	<sql id="assDepreExpireInclude">
		card.group_id,
		card.hos_id,
		card.copy_code,
		card.ass_card_no,
		card.ass_id,
		card.ass_no,
		card.ass_amount,
		ass.ass_code,
		ass.ass_name,
		card.in_date,
		card.price,
		card.depre_money,
		card.cur_money,
		card.fore_money,
		card.is_depr,
		card.acc_depre_amount,
		card.add_depre_month
	</sql>
	
	<!-- 整合查询   (资产折旧到期)   -->
	<select id="queryAssDepreExpire" parameterType="java.util.Map" resultMap="assDepreExpire" >
		with temp as(
		SELECT '02' AS ass_nature ,<include refid="assDepreExpireInclude" />,
		  card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_SPECIAL card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
	      SELECT '03' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_GENERAL card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
	      SELECT '04' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_OTHER card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
		  SELECT '05' AS ass_nature ,<include refid="assDepreExpireInclude" />,
		  null AS ass_spec,
	      null AS ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_INASSETS card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
	      SELECT '01' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      null AS ass_spec,
	      null AS ass_mondl,
		  null AS ass_brand
		  FROM ASS_CARD_HOUSE card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
	      SELECT '06' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      null AS ass_spec,
	      null AS ass_mondl,
		  null AS ass_brand
		  FROM ASS_CARD_LAND card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
		)
		select * from (
		SELECT t.* FROM temp t
	    <if test="ass_nature != null and ass_nature != ''">
	    WHERE t.ass_nature = #{ass_nature}
	    </if>
	    union all
	    SELECT 
	    null ass_nature,
	    null group_id,
		null hos_id,
		null copy_code,
		'合计' ass_card_no,
		null ass_id,
		null ass_no,
		null ass_amount,
		null ass_code,
		null ass_name,
		null in_date,
		sum(t.price) price,
		sum(t.depre_money) depre_money,
		sum(t.cur_money) cur_money,
		sum(t.fore_money) fore_money,
		null is_depr,
		null acc_depre_amount,
		null add_depre_month,
		null AS ass_spec,
	    null AS ass_mondl,
		null AS ass_brand
	     FROM temp t
	    <if test="ass_nature != null and ass_nature != ''">
	    WHERE t.ass_nature = #{ass_nature}
	    </if>
	    ) t
	    ORDER BY t.ass_nature
	</select>
	
	<!-- 整合查询   (资产折旧年限)   -->
	<select id="queryAssDepreTerm" parameterType="java.util.Map" resultMap="assDepreExpire" >
		SELECT t.* FROM (
		  SELECT '02' AS ass_nature ,<include refid="assDepreExpireInclude" />,
		  card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_SPECIAL card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
	    UNION ALL 
	      SELECT '03' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_GENERAL card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
	    UNION ALL 
	      SELECT '04' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_OTHER card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
	    UNION ALL 
		  SELECT '05' AS ass_nature ,<include refid="assDepreExpireInclude" />,
		  null AS ass_spec,
	      null AS ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_INASSETS card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
	    UNION ALL 
	      SELECT '01' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      null AS ass_spec,
	      null AS ass_mondl,
		  null AS ass_brand
		  FROM ASS_CARD_HOUSE card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
	    UNION ALL 
	      SELECT '06' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      null AS ass_spec,
	      null AS ass_mondl,
		  null AS ass_brand
		  FROM ASS_CARD_LAND card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
	    ) t
	    <where>
	    <if test="ass_nature != null and ass_nature != ''">
	    AND t.ass_nature = #{ass_nature}
	    </if>
	    <if test="ass_card_no != null and ass_card_no != ''">
	    AND t.ass_card_no = #{ass_card_no}
	    </if>
	    </where>
	    ORDER BY t.ass_nature
	</select>
	
	
	<!-- 打印 -->
	 <select id="queryAssDepreExpirePrint" parameterType="java.util.Map" resultMap="assDepreExpireMap">
	 
	 with temp as(
		SELECT '02' AS ass_nature ,<include refid="assDepreExpireInclude" />,
		  card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_SPECIAL card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
	      SELECT '03' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_GENERAL card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
	      SELECT '04' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      card.ass_spec,
	      card.ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_OTHER card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
		  SELECT '05' AS ass_nature ,<include refid="assDepreExpireInclude" />,
		  null AS ass_spec,
	      null AS ass_mondl,
		  card.ass_brand
		  FROM ASS_CARD_INASSETS card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
	      SELECT '01' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      null AS ass_spec,
	      null AS ass_mondl,
		  null AS ass_brand
		  FROM ASS_CARD_HOUSE card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
	    UNION ALL 
	      SELECT '06' AS ass_nature ,<include refid="assDepreExpireInclude" />,
	      null AS ass_spec,
	      null AS ass_mondl,
		  null AS ass_brand
		  FROM ASS_CARD_LAND card 
		  LEFT JOIN ASS_NO_DICT ass ON 
		    card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
    	    AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
		  WHERE      
		  card.is_depr = 1
		  and card.depre_money >= card.price
		  <if test="group_id != null and group_id != ''">
		  AND card.group_id = #{group_id,jdbcType=INTEGER}
		  </if>
		  <if test="hos_id != null and hos_id != ''">
		  AND card.hos_id = #{hos_id,jdbcType=INTEGER}
		  </if>
		  <if test="copy_code != null and copy_code != ''">
		  AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
		  </if>
		  <if test="in_date != null and in_date != ''">
		  AND card.in_date = to_date(#{in_date},'YYYYMM')
		  </if>
		)
		select * from (
		SELECT t.* FROM temp t
	    <if test="ass_nature != null and ass_nature != ''">
	    WHERE t.ass_nature = #{ass_nature}
	    </if>
	    union all
	    SELECT 
	    null ass_nature,
	    null group_id,
		null hos_id,
		null copy_code,
		'合计' ass_card_no,
		null ass_id,
		null ass_no,
		null ass_amount,
		null ass_code,
		null ass_name,
		null in_date,
		sum(t.price) price,
		sum(t.depre_money) depre_money,
		sum(t.cur_money) cur_money,
		sum(t.fore_money) fore_money,
		null is_depr,
		null acc_depre_amount,
		null add_depre_month,
		null AS ass_spec,
	    null AS ass_mondl,
		null AS ass_brand
	     FROM temp t
	    <if test="ass_nature != null and ass_nature != ''">
	    WHERE t.ass_nature = #{ass_nature}
	    </if>
	    ) t
	    ORDER BY t.ass_nature
	 
	 </select>
	 
	 <!-- 资产折旧年限打印 -->
	 <select id="queryAssDepreTermPrint" parameterType="java.util.Map" resultMap="assDepreExpireMap">
	 with temp as(
      SELECT '02' AS ass_nature ,<include refid="assDepreExpireInclude" />,
      card.ass_spec,
        card.ass_mondl,
      card.ass_brand
      FROM ASS_CARD_SPECIAL card 
      LEFT JOIN ASS_NO_DICT ass ON 
        card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
          AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
      WHERE      
      card.is_depr = 1
      <if test="group_id != null and group_id != ''">
      AND card.group_id = #{group_id,jdbcType=INTEGER}
      </if>
      <if test="hos_id != null and hos_id != ''">
      AND card.hos_id = #{hos_id,jdbcType=INTEGER}
      </if>
      <if test="copy_code != null and copy_code != ''">
      AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
      </if>
      UNION ALL 
        SELECT '03' AS ass_nature ,<include refid="assDepreExpireInclude" />,
        card.ass_spec,
        card.ass_mondl,
      card.ass_brand
      FROM ASS_CARD_GENERAL card 
      LEFT JOIN ASS_NO_DICT ass ON 
        card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
          AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
      WHERE      
      card.is_depr = 1
      <if test="group_id != null and group_id != ''">
      AND card.group_id = #{group_id,jdbcType=INTEGER}
      </if>
      <if test="hos_id != null and hos_id != ''">
      AND card.hos_id = #{hos_id,jdbcType=INTEGER}
      </if>
      <if test="copy_code != null and copy_code != ''">
      AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
      </if>
      UNION ALL 
        SELECT '04' AS ass_nature ,<include refid="assDepreExpireInclude" />,
        card.ass_spec,
        card.ass_mondl,
      card.ass_brand
      FROM ASS_CARD_OTHER card 
      LEFT JOIN ASS_NO_DICT ass ON 
        card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
          AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
      WHERE      
      card.is_depr = 1
      <if test="group_id != null and group_id != ''">
      AND card.group_id = #{group_id,jdbcType=INTEGER}
      </if>
      <if test="hos_id != null and hos_id != ''">
      AND card.hos_id = #{hos_id,jdbcType=INTEGER}
      </if>
      <if test="copy_code != null and copy_code != ''">
      AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
      </if>
      UNION ALL 
      SELECT '05' AS ass_nature ,<include refid="assDepreExpireInclude" />,
      null AS ass_spec,
        null AS ass_mondl,
      card.ass_brand
      FROM ASS_CARD_INASSETS card 
      LEFT JOIN ASS_NO_DICT ass ON 
        card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
          AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
      WHERE      
      card.is_depr = 1
      <if test="group_id != null and group_id != ''">
      AND card.group_id = #{group_id,jdbcType=INTEGER}
      </if>
      <if test="hos_id != null and hos_id != ''">
      AND card.hos_id = #{hos_id,jdbcType=INTEGER}
      </if>
      <if test="copy_code != null and copy_code != ''">
      AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
      </if>
      UNION ALL 
        SELECT '01' AS ass_nature ,<include refid="assDepreExpireInclude" />,
        null AS ass_spec,
        null AS ass_mondl,
      null AS ass_brand
      FROM ASS_CARD_HOUSE card 
      LEFT JOIN ASS_NO_DICT ass ON 
        card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
          AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
      WHERE      
      card.is_depr = 1
      <if test="group_id != null and group_id != ''">
      AND card.group_id = #{group_id,jdbcType=INTEGER}
      </if>
      <if test="hos_id != null and hos_id != ''">
      AND card.hos_id = #{hos_id,jdbcType=INTEGER}
      </if>
      <if test="copy_code != null and copy_code != ''">
      AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
      </if>
      UNION ALL 
        SELECT '06' AS ass_nature ,<include refid="assDepreExpireInclude" />,
        null AS ass_spec,
        null AS ass_mondl,
      null AS ass_brand
      FROM ASS_CARD_LAND card 
      LEFT JOIN ASS_NO_DICT ass ON 
        card.group_id = ass.group_id AND card.hos_id = ass.hos_id AND card.copy_code = ass.copy_code
          AND card.ass_id = ass.ass_id AND card.ass_no = ass.ass_no  
      WHERE      
      card.is_depr = 1
      <if test="group_id != null and group_id != ''">
      AND card.group_id = #{group_id,jdbcType=INTEGER}
      </if>
      <if test="hos_id != null and hos_id != ''">
      AND card.hos_id = #{hos_id,jdbcType=INTEGER}
      </if>
      <if test="copy_code != null and copy_code != ''">
      AND card.copy_code = #{copy_code,jdbcType=VARCHAR}
      </if>
      ) 
   select * from (
    SELECT t.* FROM temp t
      <if test="ass_nature != null and ass_nature != ''">
      WHERE t.ass_nature = #{ass_nature}
      </if>
      union all
      SELECT 
      null ass_nature,
      null group_id,
    null hos_id,
    null copy_code,
    '合计' ass_card_no,
    null ass_id,
    null ass_no,
    null ass_amount,
    null ass_code,
    null ass_name,
    null in_date,
    sum(t.price) price,
    sum(t.depre_money) depre_money,
    sum(t.cur_money) cur_money,
    sum(t.fore_money) fore_money,
    null is_depr,
    null acc_depre_amount,
    null add_depre_month,
    null AS ass_spec,
      null AS ass_mondl,
    null AS ass_brand
       FROM temp t
      <if test="ass_nature != null and ass_nature != ''">
      WHERE t.ass_nature = #{ass_nature}
      </if>
      ) t
      ORDER BY t.ass_nature
	
	 </select>
</mapper>

