<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.books.allyear.AccAllYearMapper">

  <resultMap id="accSubjLedger" type="com.chd.hrp.acc.entity.AccSubjLedger">
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" /> 
		<result property="acc_day" column="acc_day" />
		<result property="fun_name" column="fun_name" />
		<result property="eco_name" column="eco_name" />
		<result property="subj_id" column="subj_id" />
		<result property="subj_code" column="subj_code" />
		<result property="subj_name" column="subj_name" />
		<result property="summary" column="summary" />
		<result property="debit" column="debit" />
		<result property="credit" column="credit" />
		<result property="end_os" column="end_os" />
		<result property="cash_dire" column="cash_dire" />
		<result property="subj_level" column="subj_level" />
		<result property="vouch_id" column="vouch_id" />
		<result property="vouch_no" column="vouch_no" />
		<result property="subj_dire" column="subj_dire" />
		<result property="nq_debit" column="nq_debit" />
		<result property="nq_credit" column="nq_credit" />
		<result property="qc_debit" column="qc_debit" />
		<result property="qc_credit" column="qc_credit" />
		<result property="bq_debit" column="bq_debit" />
		<result property="bq_credit" column="bq_credit" />
		<result property="lj_debit" column="lj_debit" />
		<result property="lj_credit" column="lj_credit" />
		<result property="end_debit" column="end_debit" />
		<result property="end_credit" column="end_credit" />
		<result property="vouch_date" column="vouch_date" />
	</resultMap>  
	
	<!-- 科目明细账 -->
	<select id="collectAllYearBySubjDetail"  statementType="CALLABLE" parameterType="java.util.Map" resultMap="accSubjLedger" >
		<![CDATA[
		{call act_all_year_subjlederdetail(
		#{group_id},
		#{hos_id},
		#{copy_code},
		#{acc_year_b},
	    #{acc_month_b},
	    #{acc_year_e},
	    #{acc_month_e},
		#{state},
		#{is_subj_flag},
		#{is_show},
		#{subj_code},
		#{summary},
		#{vouch_no_begin},
		#{vouch_no_end}, 
		#{subj_level},
	    #{subjdata,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=com.chd.hrp.acc.dao.books.subjaccount.AccSubjLedgerMapper.accBooksMap}
        )} 
		]]>
	</select>
	
	<!-- 项目辅助明细账  （例如：项目明细账） -->
	<select id="collectAccZcheckDetail" statementType="CALLABLE" parameterType="java.util.Map"  >
		 <![CDATA[ 
		{call act_all_year_zcheckdetail(
			#{group_id},  
	        #{hos_id},  
	        #{copy_code},  
	        #{acc_year_b},
	        #{acc_month_b},
	        #{acc_year_e},
	        #{acc_month_e},
	        #{is_state},
	        #{subj_select_flag},
	        #{subj_code},
	        #{check_item_type,jdbcType=INTEGER, mode=IN},
	        #{check_item_code,jdbcType=VARCHAR, mode=IN},
	        #{source_id},
	        #{is_happend},
	        #{rst,jdbcType=CURSOR,mode=OUT,resultMap=com.chd.hrp.acc.dao.books.subjaccount.AccSubjLedgerMapper.accBooksMap,javaType=java.sql.ResultSet} 
        
        )} 
		 ]]>
	</select>
	
	
</mapper>

