<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.plan.set.HtcTaskPlanSetMapper">

	<resultMap id="planSetMap" type="com.chd.hrp.htc.entity.task.plan.set.HtcTaskPlanSet">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="plan_code" column="plan_code"/>
        <result property="plan_name" column="plan_name"/>
        <result property="start_month" column="start_month"/>
        <result property="end_month" column="end_month"/>
        <result property="is_check" column="is_check"/>
        <result property="method" column="method"/>
        <result property="is_current" column="is_current"/>
	</resultMap>
        <insert id="addHtcTaskPlanSet" useGeneratedKeys="true" >
			insert into htc_plan_set
			  (group_id,
			   hos_id,
			   copy_code,
			   acc_year,
			   plan_code,
			   plan_name,
			   start_month,
			   end_month,
			   is_check,
			   method,
			   is_current)
			values
			  (#{group_id},
			   #{hos_id},
			   #{copy_code},
			   #{acc_year},
			   #{plan_code},
			   #{plan_name},
			   #{start_month},
			   #{end_month},
			   #{is_check},
			   #{method},
			   #{is_current})
				        
   </insert>
	
	<delete id="deleteBatchHtcTaskPlanSet" parameterType="java.util.List">
	     delete from htc_plan_set where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		       group_id = #{item.group_id}
		   and hos_id = #{item.hos_id}
		   and copy_code = #{item.copy_code}
		   and acc_year = #{item.acc_year}
		   and plan_code = #{item.plan_code}
		</foreach>
	</delete>
	
	<update id="updateHtcTaskPlanSet" parameterType="java.util.Map">
	     update htc_plan_set set 
	           plan_name = #{plan_name},
		       start_month = #{start_month},
		       end_month = #{end_month},
		       method = #{method}
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and acc_year = #{acc_year}
		   and plan_code = #{plan_code}
			      
	</update>
	
	<select id="queryHtcTaskPlanSetByCode" resultMap="planSetMap" parameterType="java.util.Map">
	       
	        select group_id,
			       hos_id,
			       copy_code,
			       acc_year,
			       plan_code,
			       plan_name,
			       start_month,
			       end_month,
			       is_check,
			       method,
			       is_current
			  from htc_plan_set
		       where group_id = #{group_id}
               and hos_id =  #{hos_id}
			   and copy_code =  #{copy_code}
			   and acc_year =  #{acc_year}
			   and plan_code =  #{plan_code}
					       
	
	</select>
	
	<select id="queryHtcTaskPlanSet" resultMap="planSetMap" parameterType="java.util.Map">
	           select 
					 group_id,
					 hos_id,
					 copy_code,
					 acc_year,
					 plan_code,
					 plan_name,
					 start_month,
					 end_month,
					 is_check,
					 method,
					 is_current
				from htc_plan_set
				where group_id = #{group_id}
				and hos_id = #{hos_id}
				and copy_code = #{copy_code}
				and acc_year = #{acc_year}
			   <if test="plan_code != null and plan_code != ''">
				and plan_code like '%'||#{plan_code}||'%'
			   </if>
				order by group_id,hos_id,copy_code,acc_year,plan_code
	
	</select>
	
	
	<select id="queryHtcTaskPlanSetAudit" resultMap="planSetMap" parameterType="java.util.Map">
	          select 
					 group_id,
					 hos_id,
					 copy_code,
					 acc_year,
					 plan_code,
					 plan_name,
					 start_month,
					 end_month,
					 is_check,
					 method,
					 is_current
				from htc_plan_set
				where group_id = #{group_id}
				and hos_id = #{hos_id}
				and copy_code = #{copy_code}
				and acc_year = #{acc_year}
			   <if test="plan_code != null and plan_code != ''">
				and plan_code like '%'||#{plan_code}||'%'
			   </if>
			order by group_id,hos_id,copy_code,acc_year,plan_code
	</select>
	
	<update id="auditHtcTaskPlanSet" parameterType="java.util.List">
	
	     <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			update htc_plan_set set
				is_check = 1
			where  group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and acc_year = #{item.acc_year}
			   and plan_code = #{item.plan_code}
		</foreach>
			      
	</update>
	
	<update id="cancelAuditHtcTaskPlanSet" parameterType="java.util.List">
	     
		 <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			update htc_plan_set set
				is_check = 0
			where  group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and acc_year = #{item.acc_year}
			   and plan_code = #{item.plan_code}
		</foreach>
	</update>
	
	<select id="queryHtcTaskPlanHistory" resultMap="planSetMap" parameterType="java.util.Map">
	          
	         select 
					 group_id,
					 hos_id,
					 copy_code,
					 acc_year,
					 plan_code,
					 plan_name,
					 start_month,
					 end_month,
					 is_check,
					 method,
					 is_current
				from htc_plan_set
				where group_id = #{group_id}
				and hos_id = #{hos_id}
				and copy_code = #{copy_code}
				and acc_year = #{acc_year}
				and is_check = 1
			   <if test="plan_code != null and plan_code != ''">
				and plan_code like '%'||#{plan_code}||'%'
			   </if>
			order by group_id,hos_id,copy_code,acc_year,plan_code
	</select>
	
</mapper>

