<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.basic.HtcFassetDictMapper">

	<resultMap id="fassetDict" type="com.chd.hrp.htc.entity.task.basic.HtcFassetDict">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="asset_code" column="asset_code" />
		<result property="asset_name" column="asset_name" />
		<result property="asset_type_code" column="asset_type_code" />
		<result property="asset_type_name" column="asset_type_name" />
		<result property="asset_model" column="asset_model" />
		<result property="prim_value" column="prim_value" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="dep_year" column="dep_year" />
		<result property="dept_no" column="dept_no"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
	</resultMap>
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addHtcFassetDict" useGeneratedKeys="true">
           insert into htc_fasset_dict
					  (group_id,
					   hos_id,
					   copy_code,
					   asset_code,
					   asset_name,
					   asset_type_code,
					   asset_model,
					   prim_value,
					   start_date,
					   end_date,
					   dep_year,
					   dept_no,
					   dept_id,
					   spell_code,
					   wbx_code)
					values
					  (#{group_id},
					   #{hos_id},
					   #{copy_code},
					   #{asset_code},
					   #{asset_name},
					   #{asset_type_code},
					   #{asset_model},
					   #{prim_value},
					   #{start_date},
					   #{end_date},
					   #{dep_year},
					   #{dept_no},
					   #{dept_id},
					   #{spell_code},
					   #{wbx_code})
	</insert>
	
	<insert id="addBatchHtcFassetDict"  parameterType="java.util.Map">
           insert into htc_fasset_dict
					  (group_id,
					   hos_id,
					   copy_code,
					   asset_code,
					   asset_name,
					   asset_type_code,
					   asset_model,
					   prim_value,
					   start_date,
					   end_date,
					   dep_year,
					   dept_no,
					   dept_id,
					   spell_code,
					   wbx_code)
		<foreach collection="list" item="item" separator="unon all">
		       select 
		               #{item.group_id},
					   #{item.hos_id},
					   #{item.copy_code},
					   #{item.asset_code},
					   #{item.asset_name},
					   #{item.asset_type_code},
					   #{item.asset_model},
					   #{item.prim_value},
					   #{item.start_date},
					   #{item.end_date},
					   #{item.dep_year},
					   #{item.dept_no},
					   #{item.dept_id},
					   #{item.spell_code},
					   #{item.wbx_code}
			  from dual
		</foreach>
	</insert>

	<update id="updateHtcFassetDict" parameterType="java.util.Map">
           update htc_fasset_dict
			   set asset_name = #{asset_name},
			       asset_type_code = #{asset_type_code},
			       asset_model = #{asset_model},
			       prim_value = #{prim_value},
			       start_date = #{start_date},
			       end_date = #{end_date},
			       dep_year = #{dep_year},
			       dept_no = #{dept_no},
			       dept_id = #{dept_id},
			       spell_code = #{spell_code},
			       wbx_code = #{wbx_code}
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and asset_code = #{asset_code}
	</update>

	<delete id="deleteHtcFassetDict" parameterType="java.util.Map">
          delete htc_fasset_dict
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and asset_code = #{asset_code}
		          
	</delete>

	<delete id="deleteBatchHtcFassetDict" parameterType="java.util.List">
		delete htc_fasset_dict  where 
		<foreach collection="list" index="index" item="item" separator="or" >
		(
			    group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and asset_code = #{item.asset_code}
		)
		</foreach>
	</delete>

	<select id="queryHtcFassetDictByCode" parameterType="java.util.Map" resultMap="fassetDict">
                            select hfd.group_id,
							       hfd.hos_id,
							       hfd.copy_code,
							       hfd.asset_code,
							       hfd.asset_name,
							       hfd.asset_type_code,
								   hftd.asset_type_name,
							       hfd.asset_model,
							       hfd.prim_value,
							       hfd.start_date,
							       hfd.end_date,
							       hfd.dep_year,
							       hfd.dept_no,
							       hfd.dept_id,
								   hdd.dept_code,
								   hdd.dept_name,
							       hfd.spell_code,
							       hfd.wbx_code
							  from htc_fasset_dict hfd
								left join htc_fasset_type_dict hftd
								on hfd.group_id = hftd.group_id
								and hfd.hos_id = hftd.hos_id
								and hfd.copy_code = hftd.copy_code
								and hfd.asset_type_code = hftd.asset_type_code
								left join hos_dept_dict hdd
								on hfd.group_id = hdd.group_id
								and hfd.hos_id = hdd.hos_id
								and hfd.dept_no = hdd.dept_no 
								and hfd.dept_id = hdd.dept_id
							    where hfd.group_id = #{group_id}
								and hfd.hos_id = #{hos_id}
								and hfd.copy_code = #{copy_code}
								and hfd.asset_code = #{asset_code}
	</select>
	
	<select id="queryHtcFassetDict" parameterType="java.util.Map" resultMap="fassetDict">
   		                    select hfd.group_id,
							       hfd.hos_id,
							       hfd.copy_code,
							       hfd.asset_code,
							       hfd.asset_name,
							       hfd.asset_type_code,
								   hftd.asset_type_name,
							       hfd.asset_model,
							       hfd.prim_value,
							       hfd.start_date,
							       hfd.end_date,
							       hfd.dep_year,
							       hfd.dept_no,
							       hfd.dept_id,
								   hdd.dept_code,
								   hdd.dept_name,
							       hfd.spell_code,
							       hfd.wbx_code
							  from htc_fasset_dict hfd
								left join htc_fasset_type_dict hftd
								on hfd.group_id = hftd.group_id
								and hfd.hos_id = hftd.hos_id
								and hfd.copy_code = hftd.copy_code
								and hfd.asset_type_code = hftd.asset_type_code
								left join hos_dept_dict hdd
								on hfd.group_id = hdd.group_id
								and hfd.hos_id = hdd.hos_id
								and hfd.dept_no = hdd.dept_no 
								and hfd.dept_id = hdd.dept_id
						  <where> 
						            hfd.group_id = #{group_id}
								and hfd.hos_id = #{hos_id}
								and hfd.copy_code = #{copy_code}
							<if test="asset_code != null and asset_code != ''">
								and (hfd.asset_code like '%'||#{asset_code}||'%'
								    or hfd.asset_name like '%'||#{asset_code}||'%')
							</if>
							<if test="asset_type_code != null and asset_type_code != ''">
								and hfd.asset_type_code = #{asset_type_code}
							</if>
						</where>
						order by hfd.group_id,hfd.hos_id,hfd.copy_code,hfd.asset_code
	</select>
</mapper>

