<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.basic.HtcIassetDictMapper">

	<resultMap id="iassetDict" type="com.chd.hrp.htc.entity.task.basic.HtcIassetDict">
        <result property="group_id" column="group_id" />
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="asset_code" column="asset_code"/>
        <result property="asset_name" column="asset_name"/>
        <result property="asset_type_code" column="asset_type_code"/>
        <result property="asset_type_name" column="asset_type_name"/>
        <result property="prim_value" column="prim_value"/>
        <result property="start_date" column="start_date"/>
        <result property="end_date" column="end_date"/>
        <result property="dep_year" column="dep_year"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
	</resultMap>

    <insert id="addHtcIassetDict" useGeneratedKeys="true" >
    
        insert into htc_iasset_dict (
            group_id ,
            hos_id ,
            copy_code ,
            asset_code ,
            asset_name ,
            asset_type_code ,
            prim_value ,
            start_date ,
            end_date ,
            dep_year ,
            spell_code ,
            wbx_code 
        ) values (
            #{group_id} ,
            #{hos_id},
            #{copy_code} ,
            #{asset_code} ,
            #{asset_name} ,
            #{asset_type_code} ,
            #{prim_value} ,
            #{start_date} ,
            #{end_date} ,
            #{dep_year} ,
            #{spell_code} ,
            #{wbx_code} 
        )
    
    </insert>
    
    <insert id="addBatchHtcIassetDict" parameterType="java.util.Map">
    
        insert into htc_iasset_dict (
            group_id ,
            hos_id,
            copy_code ,
            asset_code ,
            asset_name ,
            asset_type_code ,
            prim_value ,
            start_date ,
            end_date ,
            dep_year ,
            spell_code ,
            wbx_code 
        )  
    	<foreach collection="list" item="item" separator="union all">
    	select 
            #{item.group_id} ,
            #{item.hos_id} ,
            #{item.copy_code} ,
            #{item.asset_code} ,
            #{item.asset_name} ,
            #{item.asset_type_code} ,
            #{item.prim_value} ,
            #{item.start_date} ,
            #{item.end_date} ,
            #{item.dep_year} ,
            #{item.spell_code} ,
            #{item.wbx_code} 
        from dual
    </foreach>
    </insert>

	<update id="updateHtcIassetDict" parameterType="java.util.Map">
        update htc_iasset_dict
		   set asset_name = #{asset_name},
		       asset_type_code = #{asset_type_code},
		       prim_value = #{prim_value},
		       start_date = #{start_date},
		       end_date = #{end_date},
		       dep_year = #{dep_year},
		       spell_code = #{spell_code},
		       wbx_code = #{wbx_code}
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and asset_code = #{asset_code}
	</update>

    <delete id="deleteHtcIassetDict" parameterType="java.util.Map">
   
        delete htc_iasset_dict
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and asset_code = #{asset_code}
		        
    </delete>
    
    <delete id="deleteBatchHtcIassetDict" parameterType="java.util.List">
    	 delete htc_iasset_dict where
        <foreach collection="list" index="index" item="item" separator="or" >
		(
			    group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and asset_code = #{item.asset_code}
		)
		</foreach>
    </delete>
    
    <select id="queryHtcIassetDictByCode" parameterType="java.util.Map" resultMap="iassetDict"  >
	  	                        select hid.group_id,
								       hid.hos_id,
								       hid.copy_code,
								       hid.asset_code,
								       hid.asset_name,
								       hid.asset_type_code,
									   hitd.asset_type_name,
								       hid.prim_value,
								       hid.start_date,
								       hid.end_date,
								       hid.dep_year,
								       hid.spell_code,
								       hid.wbx_code
								  from htc_iasset_dict hid
									left join htc_iasset_type_dict hitd
									on hid.group_id = hitd.group_id
									and hid.hos_id = hitd.hos_id
									and hid.copy_code = hitd.copy_code
									and hid.asset_type_code = hitd.asset_type_code
									where hid.group_id = #{group_id}
								    and hid.hos_id = #{hos_id}
								    and hid.copy_code = #{copy_code}
								    and hid.asset_code = #{asset_code}
								    and hid.asset_type_code = #{asset_type_code}
									  	                      
	</select>
	
	<select id="queryHtcIassetDict" parameterType="java.util.Map" resultMap="iassetDict" >
      
            select hid.group_id,
			       hid.hos_id,
			       hid.copy_code,
			       hid.asset_code,
			       hid.asset_name,
			       hid.asset_type_code,
				   hitd.asset_type_name,
			       hid.prim_value,
			       hid.start_date,
			       hid.end_date,
			       hid.dep_year,
			       hid.spell_code,
			       hid.wbx_code
			  from htc_iasset_dict hid
				left join htc_iasset_type_dict hitd
				on hid.group_id = hitd.group_id
				and hid.hos_id = hitd.hos_id
				and hid.copy_code = hitd.copy_code
				and hid.asset_type_code = hitd.asset_type_code
	        <where>   
	                hid.group_id = #{group_id}
			    and hid.hos_id = #{hos_id}
			    and hid.copy_code = #{copy_code}
				<if test="asset_code != null and asset_code != ''">
	                and ( hid.asset_name like '%${asset_code}%'
					   or hid.asset_code like '%${asset_code}%'
	                   or hid.spell_code like '%${asset_code}%'
	                   or hid.wbx_code like'%${asset_code}%'
	                )
	            </if>
				<if test="asset_type_code != null and asset_type_code != ''">
	                and hid.asset_type_code = #{asset_type_code}
	            </if>
	        </where>   
				order by hid.group_id,hid.hos_id,hid.copy_code,hid.asset_code
    </select>
</mapper>

