<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.basic.HtcIassetTypeDictMapper">

	<resultMap id="iassetTypeDict" type="com.chd.hrp.htc.entity.task.basic.HtcIassetTypeDict">
        <result property="group_id" column="group_id" />
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="asset_type_code" column="asset_type_code"/>
        <result property="asset_type_name" column="asset_type_name"/>
        <result property="supper_code" column="supper_code"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="is_last" column="is_last"/>
        <result property="is_stop" column="is_stop"/>
	</resultMap>
	
    <insert id="addHtcIassetTypeDict" useGeneratedKeys="true" >
       insert into htc_iasset_type_dict
			  (group_id,
			   hos_id,
			   copy_code,
			   asset_type_code,
			   asset_type_name,
			   supper_code,
			   spell_code,
			   wbx_code,
			   is_last,
			   is_stop)
			values
			  (#{group_id},
			   #{hos_id},
			   #{copy_code},
			   #{asset_type_code},
			   #{asset_type_name},
			   #{supper_code},
			   #{spell_code},
			   #{wbx_code},
			   #{is_last},
			   #{is_stop})
    </insert>

	<insert id="addBatchHtcIassetTypeDict"  parameterType="java.util.Map">
        insert into htc_iasset_type_dict
			  (group_id,
			   hos_id,
			   copy_code,
			   asset_type_code,
			   asset_type_name,
			   supper_code,
			   spell_code,
			   wbx_code,
			   is_last,
			   is_stop)
    	<foreach collection="list" item="item" separator="union all">
    	       select 
    	           #{group_id},
				   #{hos_id},
				   #{copy_code},
				   #{asset_type_code},
				   #{asset_type_name},
				   #{supper_code},
				   #{spell_code},
				   #{wbx_code},
				   #{is_last},
				   #{is_stop}
			   from dual
    	</foreach>
    </insert>

	<update id="updateHtcIassetTypeDict" parameterType="java.util.Map">
    
              update htc_iasset_type_dict
			   set asset_type_name = #{asset_type_name},
			       supper_code = #{spell_code},
			       spell_code = #{spell_code},
			       wbx_code = #{wbx_code},
			       is_last = #{is_last},
			       is_stop = #{is_stop}
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and asset_type_code = #{asset_type_code}
	</update>

    <delete id="deleteHtcIassetTypeDict" parameterType="java.util.Map">
         delete htc_iasset_type_dict
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and asset_type_code = #{asset_type_code}
    </delete>
    
    <delete id="deleteBatchHtcIassetTypeDict" parameterType="java.util.List">
    	delete htc_iasset_type_dict  where
       	<foreach collection="list" index="index" item="item" separator="or" >
		(
			group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and asset_type_code = #{item.asset_type_code}
		)
		</foreach>
    </delete>
    
    <select id="queryHtcIassetTypeDictByCode"  parameterType="java.util.Map" resultMap="iassetTypeDict" >
	  
                           select group_id,
							       hos_id,
							       copy_code,
							       asset_type_code,
							       asset_type_name,
							       supper_code,
							       spell_code,
							       wbx_code,
							       is_last,
							       is_stop
							  from htc_iasset_type_dict
							   where group_id = #{group_id}
							   and hos_id = #{hos_id}
							   and copy_code = #{copy_code}
							   and asset_type_code = #{asset_type_code}
							                           
	</select>
	
	<select id="queryHtcIassetTypeDict" parameterType="java.util.Map" resultMap="iassetTypeDict" >
                            select group_id,
							       hos_id,
							       copy_code,
							       asset_type_code,
							       asset_type_name,
							       supper_code,
							       spell_code,
							       wbx_code,
							       is_last,
							       is_stop
							  from htc_iasset_type_dict
                   <where>   group_id = #{group_id}
				         and hos_id = #{hos_id}
				         and copy_code = #{copy_code}
					<if test="asset_type_code != null and asset_type_code != ''">
		                and (asset_type_name like '%${asset_type_code}%'
		                or  asset_type_code like '%${asset_type_code}%'
		                or  spell_code like upper('%${asset_type_code}%')
		                or  wbx_code like upper('%${asset_type_code}%')
		                )
		            </if>
		            <if test="is_last != null and is_last != ''">
		                 and  is_last =  #{is_last}
		            </if>
		        </where>   
				order by  group_id,hos_id,copy_code,asset_type_code
    </select>
	
</mapper>

