<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.basic.HtcMaterialDictMapper">
	<resultMap id="materialDict" type="com.chd.hrp.htc.entity.task.basic.HtcMaterialDict">
		<result property="group_id" column="group_id" />
 		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="mate_code" column="mate_code" />
		<result property="mate_name" column="mate_name" />
		<result property="mate_mode" column="mate_mode" />
		<result property="meas_code" column="meas_code" />
		<result property="meas_name" column="meas_name" />
		<result property="price" column="price" />
		<result property="fac_no" column="fac_no" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_code" column="fac_code" />
		<result property="fac_name" column="fac_name" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="is_stop" column="is_stop" />
	</resultMap>

	<insert id="addHtcMaterialDict" useGeneratedKeys="true">

		insert into htc_material_dict
					  (group_id,
					   hos_id,
					   copy_code,
					   mate_code,
					   mate_name,
					   mate_type_code,
					   mate_mode,
					   meas_code,
					   price,
					   fac_no,
					   fac_id,
					   spell_code,
					   wbx_code,
					   is_stop)
					values
					  (#{group_id},
					   #{hos_id},
					   #{copy_code},
					   #{mate_code},
					   #{mate_name},
					   #{mate_type_code},
					   #{mate_mode},
					   #{meas_code},
					   #{price},
					   #{fac_no},
					   #{fac_id},
					   #{spell_code},
					   #{wbx_code},
					   #{is_stop})
	</insert>
	
	<insert id="addBatchHtcMaterialDict"  parameterType="java.util.Map">

		    insert into htc_material_dict
					  (group_id,
					   hos_id,
					   copy_code,
					   mate_code,
					   mate_name,
					   mate_type_code,
					   mate_mode,
					   meas_code,
					   price,
					   fac_no,
					   fac_id,
					   spell_code,
					   wbx_code,
					   is_stop)
		<foreach collection="list" item="item" separator="union all">
		   select 
		               #{group_id},
					   #{hos_id},
					   #{copy_code},
					   #{mate_code},
					   #{mate_name},
					   #{mate_type_code},
					   #{mate_mode},
					   #{meas_code},
					   #{price},
					   #{fac_no},
					   #{fac_id},
					   #{spell_code},
					   #{wbx_code},
					   #{is_stop}
		   from dual
		</foreach>
	</insert>

	<update id="updateHtcMaterialDict" parameterType="java.util.Map">

		update htc_material_dict
		   set mate_name = #{mate_name},
		       mate_type_code = #{mate_type_code},
		       mate_mode = #{mate_mode},
		       meas_code = #{meas_code},
		       price = #{price},
		       fac_no = #{fac_no},
		       fac_id = #{fac_id},
		       spell_code = #{spell_code},
		       wbx_code = #{wbx_code},
		       is_stop = #{is_stop}
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and mate_code = #{mate_code}

	</update>

	<delete id="deleteHtcMaterialDict" parameterType="java.util.Map">
		delete htc_material_dict
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and mate_code = #{mate_code}
	</delete>

	<delete id="deleteBatchHtcMaterialDict" parameterType="java.util.List">
		delete htc_material_dict where
		<foreach collection="list" index="index" item="item" separator="or" >
		(
			group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and mate_code = #{item.mate_code}
		)
		</foreach>
	</delete>


	<select id="queryHtcMaterialDictByCode" parameterType="java.util.Map" resultMap="materialDict">
					select hmd.group_id,
					       hmd.hos_id,
					       hmd.copy_code,
					       hmd.mate_code,
					       hmd.mate_name,
					       hmd.mate_type_code,
					       hmtd.mate_type_name,
					       hmd.mate_mode,
					       hmd.meas_code,
						   hu.unit_name meas_name,
					       hmd.price,
					       hmd.fac_no,
					       hmd.fac_id,
						   hfd.fac_code,
						   hfd.fac_name,
					       hmd.spell_code,
					       hmd.wbx_code,
					       hmd.is_stop
			  from htc_material_dict hmd
				left join htc_material_type_dict hmtd
				on hmd.group_id = hmtd.group_id
				and hmd.hos_id = hmtd.hos_id
				and hmd.copy_code = hmtd.copy_code
				and hmd.mate_type_code = hmtd.mate_type_code
				left join hos_unit hu
				on hu.group_id = hmd.group_id
				and hu.hos_id = hmd.hos_id
				and hu.unit_code = hmd.meas_code
				left join hos_fac_dict hfd
				on hfd.group_id = hmd.group_id
				and hfd.hos_id = hmd.hos_id
				and hfd.fac_no = hmd.fac_no
				and hfd.fac_id = hmd.fac_id
				where hmd.group_id = #{group_id}
			    and hmd.hos_id = #{hos_id}
			    and hmd.copy_code = #{copy_code}
			    and hmd.mate_code = #{mate_code}

	</select>
	<select id="queryHtcMaterialDict" parameterType="java.util.Map"
		resultMap="materialDict">

		            select hmd.group_id,
					       hmd.hos_id,
					       hmd.copy_code,
					       hmd.mate_code,
					       hmd.mate_name,
					       hmd.mate_type_code,
					       hmtd.mate_type_name,
					       hmd.mate_mode,
					       hmd.meas_code,
						   hu.unit_name meas_name,
					       hmd.price,
					       hmd.fac_no,
					       hmd.fac_id,
						   hfd.fac_code,
						   hfd.fac_name,
					       hmd.spell_code,
					       hmd.wbx_code,
					       hmd.is_stop
			  from htc_material_dict hmd
				left join htc_material_type_dict hmtd
				on hmd.group_id = hmtd.group_id
				and hmd.hos_id = hmtd.hos_id
				and hmd.copy_code = hmtd.copy_code
				and hmd.mate_type_code = hmtd.mate_type_code
				left join hos_unit hu
				on hu.group_id = hmd.group_id
				and hu.hos_id = hmd.hos_id
				and hu.unit_code = hmd.meas_code
				left join hos_fac_dict hfd
				on hfd.group_id = hmd.group_id
				and hfd.hos_id = hmd.hos_id
				and hfd.fac_no = hmd.fac_no
				and hfd.fac_id = hmd.fac_id
		<where>      hmd.group_id = #{group_id}
			    and hmd.hos_id = #{hos_id}
			    and hmd.copy_code = #{copy_code}
			<if test=" mate_code != null and mate_code != ''">
				and (hmd.mate_code like  '%'||#{mate_code}||'%'
				or hmd.mate_name like '%'||#{mate_code}||'%'
				)
			</if>
			<if test="mate_type_code != null and mate_type_code != ''">
				and hmd.mate_type_code = #{mate_type_code}
			</if>
		</where>
		order by hmd.group_id,hmd.hos_id,hmd.copy_code,hmd.mate_code
	</select>
	
	<insert id="synchroHtcMaterialDict" parameterType="java.util.Map">
	          insert into htc_material_dict
						  (group_id,
						   hos_id,
						   copy_code,
						   mate_code,
						   mate_name,
						   mate_type_code,
						   mate_mode,
						   meas_code,
						   price,
						   fac_no,
						   fac_id,
						   spell_code,
						   wbx_code,
						   is_stop)
						  select mid.group_id,
						         mid.hos_id,
						         mid.copy_code,
						         mid.inv_code,
						         mid.inv_name,
						         mtd.mat_type_code,
						         mid.inv_model,
						         mid.unit_code,
						         mid.plan_price,
						         mid.fac_no,
						         mid.fac_id,
						         mid.spell_code,
						         mid.wbx_code,
						         mid.is_stop
						    from mat_inv_dict mid
						    left join mat_type_dict mtd
						      on mid.group_id = mtd.group_id
						     and mid.hos_id = mtd.hos_id
						     and mid.copy_code = mtd.copy_code
						     and mid.mat_type_no = mtd.mat_type_no
						     and mid.mat_type_id = mtd.mat_type_id
						   where mid.group_id = #{group_id}
						     and mid.hos_id = #{hos_id}
						     and mid.copy_code = #{copy_code}
						     and mid.is_stop = 0
						     and not exists (select 1
						            from htc_material_dict hmd
						           where hmd.group_id = mid.group_id
						             and hmd.hos_id = mid.hos_id
						             and hmd.copy_code = mid.copy_code
						             and hmd.mate_code = mid.inv_code)
						   order by mid.group_id, mid.hos_id, mid.copy_code, mid.inv_code
	</insert>
	
</mapper>

