<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.record.DicNationMapper">
	
	<resultMap id="dicNation" type="com.chd.hrp.hr.entity.record.DicNation">
	<result property="nation_code" column="nation_code"/>
	<result property="nation_name" column="nation_name"/>
	<result property="is_stop" column="is_stop"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="dicNationMap" type="java.util.Map">
	<result property="nation_code" column="nation_code"/>
	<result property="nation_name" column="nation_name"/>
	<result property="is_stop" column="is_stop"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO DIC_NATION (
		<trim suffix="" suffixOverrides=",">
		<if test="nation_code != null and nation_code != ''">
		nation_code
		,
		</if>
		<if test="nation_name != null and nation_name != ''">
		nation_name
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="nation_code != null and nation_code != ''">
		#{nation_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="nation_name != null and nation_name != ''">
		#{nation_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		#{is_stop,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO DIC_NATION (
		nation_code
		,
		nation_name
		,
		is_stop
		,
		note
		
		) select DIC_NATION_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.nation_code,jdbcType=VARCHAR}
			,
			#{item.nation_name,jdbcType=VARCHAR}
			,
			#{item.is_stop,jdbcType=INTEGER}
			,
			#{item.note,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE dic_nation 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="nation_name != null and nation_name != ''">
		nation_name = #{nation_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop = #{is_stop,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="nation_code != null and nation_code != ''">
		AND nation_code = #{nation_code,jdbcType=VARCHAR}
		</if>
		<if test="nation_name != null and nation_name != ''">
		AND nation_name = #{nation_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE dic_nation 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.nation_name != null and item.nation_name != ''">
			nation_name = #{item.nation_name,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.is_stop != null and item.is_stop != ''">
			is_stop = #{item.is_stop,jdbcType=INTEGER}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.nation_code != null and item.nation_code != ''">
			AND nation_code = #{item.nation_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.nation_name != null and item.nation_name != ''">
			AND nation_name = #{item.nation_name,jdbcType=VARCHAR}
			</if>  
			<if test="item.is_stop != null and item.is_stop != ''">
			AND is_stop = #{item.is_stop,jdbcType=INTEGER}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{item.note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM dic_nation 
		<where>                     
		<if test="nation_code != null and nation_code != ''">
		AND nation_code = #{nation_code,jdbcType=VARCHAR}
		</if>
		<if test="nation_name != null and nation_name != ''">
		AND nation_name = #{nation_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM dic_nation 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.nation_code != null and item.nation_code != ''">
				AND nation_code = #{item.nation_code,jdbcType=VARCHAR}
				</if>
				<if test="item.nation_name != null and item.nation_name != ''">
				AND nation_name = #{item.nation_name,jdbcType=VARCHAR}
				</if>
				<if test="item.is_stop != null and item.is_stop != ''">
				AND is_stop = #{item.is_stop,jdbcType=INTEGER}
				</if>
				<if test="item.note != null and item.note != ''">
				AND note = #{item.note,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="dicNation" >
	
		SELECT 
		nation_code,
		nation_name,
		is_stop,
		note
		FROM DIC_NATION 
		<where>                     
		<if test="nation_code != null and nation_code != ''">
		AND nation_code = #{nation_code,jdbcType=VARCHAR}
		</if>
		<if test="nation_name != null and nation_name != ''">
		AND nation_name = #{nation_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by nation_code asc
	</select>
	<select id="queryByCode" resultMap="dicNation"  parameterType="java.util.Map" >
	
		SELECT 
		nation_code,
		nation_name,
		is_stop,
		note
		FROM dic_nation 
		WHERE 
		nation_code = #{nation_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="dicNation"  parameterType="java.util.Map" >
	
		SELECT 
		nation_code,
		nation_name,
		is_stop,
		note
		FROM DIC_NATION 
		<where>                     
		<if test="nation_code != null and nation_code != ''">
		AND nation_code = #{nation_code,jdbcType=VARCHAR}
		</if>
		<if test="nation_name != null and nation_name != ''">
		AND nation_name = #{nation_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by nation_code asc
	</select>
	<select id="queryExists" resultMap="dicNation"  parameterType="java.util.Map" >
	
		SELECT 
		nation_code,
		nation_name,
		is_stop,
		note
		FROM DIC_NATION 
		<where>                     
		<if test="nation_code != null and nation_code != ''">
		AND nation_code = #{nation_code,jdbcType=VARCHAR}
		</if>
		<if test="nation_name != null and nation_name != ''">
		AND nation_name = #{nation_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by nation_code asc
	</select>
</mapper>

