<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.record.DicResidenceMapper">
	
	<resultMap id="dicResidence" type="com.chd.hrp.hr.entity.record.DicResidence">
	<result property="residence_code" column="residence_code"/>
	<result property="residence_name" column="residence_name"/>
	<result property="is_stop" column="is_stop"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="dicResidenceMap" type="java.util.Map">
	<result property="residence_code" column="residence_code"/>
	<result property="residence_name" column="residence_name"/>
	<result property="is_stop" column="is_stop"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO DIC_RESIDENCE (
		<trim suffix="" suffixOverrides=",">
		<if test="residence_code != null and residence_code != ''">
		residence_code
		,
		</if>
		<if test="residence_name != null and residence_name != ''">
		residence_name
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="residence_code != null and residence_code != ''">
		#{residence_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="residence_name != null and residence_name != ''">
		#{residence_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		#{is_stop,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO DIC_RESIDENCE (
		residence_code
		,
		residence_name
		,
		is_stop
		,
		note
		
		) select DIC_RESIDENCE_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.residence_code,jdbcType=VARCHAR}
			,
			#{item.residence_name,jdbcType=VARCHAR}
			,
			#{item.is_stop,jdbcType=INTEGER}
			,
			#{item.note,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE dic_residence 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="residence_name != null and residence_name != ''">
		residence_name = #{residence_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop = #{is_stop,jdbcType=INTEGER}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="residence_code != null and residence_code != ''">
		AND residence_code = #{residence_code,jdbcType=VARCHAR}
		</if>
		<if test="residence_name != null and residence_name != ''">
		AND residence_name = #{residence_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE dic_residence 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.residence_name != null and item.residence_name != ''">
			residence_name = #{item.residence_name,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.is_stop != null and item.is_stop != ''">
			is_stop = #{item.is_stop,jdbcType=INTEGER}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.residence_code != null and item.residence_code != ''">
			AND residence_code = #{item.residence_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.residence_name != null and item.residence_name != ''">
			AND residence_name = #{item.residence_name,jdbcType=VARCHAR}
			</if>  
			<if test="item.is_stop != null and item.is_stop != ''">
			AND is_stop = #{item.is_stop,jdbcType=INTEGER}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{item.note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM dic_residence 
		<where>                     
		<if test="residence_code != null and residence_code != ''">
		AND residence_code = #{residence_code,jdbcType=VARCHAR}
		</if>
		<if test="residence_name != null and residence_name != ''">
		AND residence_name = #{residence_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM dic_residence 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.residence_code != null and item.residence_code != ''">
				AND residence_code = #{item.residence_code,jdbcType=VARCHAR}
				</if>
				<if test="item.residence_name != null and item.residence_name != ''">
				AND residence_name = #{item.residence_name,jdbcType=VARCHAR}
				</if>
				<if test="item.is_stop != null and item.is_stop != ''">
				AND is_stop = #{item.is_stop,jdbcType=INTEGER}
				</if>
				<if test="item.note != null and item.note != ''">
				AND note = #{item.note,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="dicResidence" >
	
		SELECT 
		residence_code,
		residence_name,
		is_stop,
		note
		FROM DIC_RESIDENCE 
		<where>                     
		<if test="residence_code != null and residence_code != ''">
		AND residence_code = #{residence_code,jdbcType=VARCHAR}
		</if>
		<if test="residence_name != null and residence_name != ''">
		AND residence_name = #{residence_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by residence_code asc
	</select>
	<select id="queryByCode" resultMap="dicResidence"  parameterType="java.util.Map" >
	
		SELECT 
		residence_code,
		residence_name,
		is_stop,
		note
		FROM dic_residence 
		WHERE 
		residence_code = #{residence_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="dicResidence"  parameterType="java.util.Map" >
	
		SELECT 
		residence_code,
		residence_name,
		is_stop,
		note
		FROM DIC_RESIDENCE 
		<where>                     
		<if test="residence_code != null and residence_code != ''">
		AND residence_code = #{residence_code,jdbcType=VARCHAR}
		</if>
		<if test="residence_name != null and residence_name != ''">
		AND residence_name = #{residence_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by residence_code asc
	</select>
	<select id="queryExists" resultMap="dicResidence"  parameterType="java.util.Map" >
	
		SELECT 
		residence_code,
		residence_name,
		is_stop,
		note
		FROM DIC_RESIDENCE 
		<where>                     
		<if test="residence_code != null and residence_code != ''">
		AND residence_code = #{residence_code,jdbcType=VARCHAR}
		</if>
		<if test="residence_name != null and residence_name != ''">
		AND residence_name = #{residence_name,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by residence_code asc
	</select>
</mapper>

