<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.analysis.c03.C03Mapper">

	<resultMap id="c0301" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="t" column="t" />
		<result property="t_ratio" column="t_ratio" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
	</resultMap>
	<resultMap id="c0302" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
	</resultMap>
	<resultMap id="c0303" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
		<result property="t_10" column="t_10" />
	</resultMap>
	<resultMap id="c0304" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
		<result property="t_10" column="t_10" />
		<result property="t_11" column="t_11" />
		<result property="t_12" column="t_12" />
	</resultMap>
	<resultMap id="c0305" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
	</resultMap>
	<resultMap id="c0306" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
	</resultMap>
	<resultMap id="c0307" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
		<result property="t_10" column="t_10" />
	</resultMap>
	<resultMap id="c0308" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="item_code" column="item_code" />
		<result property="item_name" column="item_name" />
		<result property="t_1" column="t_1" />
		<result property="t_2" column="t_2" />
		<result property="t_3" column="t_3" />
		<result property="t_4" column="t_4" />
		<result property="t_5" column="t_5" />
		<result property="t_6" column="t_6" />
		<result property="t_7" column="t_7" />
		<result property="t_8" column="t_8" />
		<result property="t_9" column="t_9" />
		<result property="t_10" column="t_10" />
		<result property="t_11" column="t_11" />
		<result property="t_12" column="t_12" />
	</resultMap>


	<select id="queryAnalysisC0301" parameterType="java.util.Map"
		resultMap="c0301">
		  with temp as
		 (select group_id,
		         hos_id,
		         copy_code,
		         item_code,
		         item_name,
		         t_1 + t_2 + t_3 as t,
		         (t_1 + t_2 + t_3) / sum(t_1 + t_2 + t_3) over() * 100 as t_ratio
		    from cost_c0301
		   <where>
            group_id = #{group_id}
            and hos_id = #{hos_id}
            and copy_code = #{copy_code}
			<if test="year_month_begin != null and year_month_begin != ''">
				and acc_year || acc_month between #{year_month_begin} and #{year_month_begin})
			</if>
		</where>
		select group_id, hos_id, copy_code, item_code, item_name, t, t_ratio
		  from temp
		union all
		select null, null, null, null, '合计', sum(t), sum(t_ratio)
		  from temp
		<!-- with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3 from
		cost_c0301
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code= #{item_code}
			</if>
		</where>
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3) from temp
		order by item_code -->

	</select>
	
	<select id="queryC0301Print" parameterType="java.util.Map"	resultType="java.util.Map">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3 from
		cost_c0301
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code= #{item_code}
			</if>
		</where>
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3) from temp
		order by item_code

	</select>

	<delete id="deleteCostAnalysisC0301" parameterType="java.util.Map">

		DELETE FROM
		cost_c0301 WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month =
		#{acc_month}

	</delete>

	<insert id="addCostAnalysisC0301" parameterType="java.util.Map">

		INSERT INTO
		cost_c0301 (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		item_code
		,
		item_name
		,
		t_1
		,
		t_2
		,
		t_3

		)
		select
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{acc_year} ,
		#{acc_month} ,
		d1.income_item_code,
		d1.income_item_name,
		a1.money as t1,
		b1.money as t2,
		c1.money as t3
		from
		(
		select case when
		a.income_item_id_in !='' then a.income_item_id_in else
		a.income_item_id_out end as income_item_id,sum(b.money)
		money,a.income_type_id from COST_CHARGE_KIND_ARRT a
		left join
		cost_income b
		on a.charge_kind_id =b.charge_kind_id
		where
		b.acc_year=#{acc_year}
		and b.acc_month=#{acc_month}
		group by
		a.income_item_id_in,a.income_item_id_out,a.income_type_id
		) beg
		left
		join

		(
		select case when a.income_item_id_in !='' then
		a.income_item_id_in else
		a.income_item_id_out end as
		income_item_id,sum(b.money)
		money,a.income_type_id from
		COST_CHARGE_KIND_ARRT a
		left join cost_income b
		on a.charge_kind_id
		=b.charge_kind_id
		where a.income_type_id='1'
		and b.acc_year=#{acc_year}
		and b.acc_month=#{acc_month}
		group by
		a.income_item_id_in,a.income_item_id_out,a.income_type_id
		) a1 on
		beg.income_item_id=a1.income_item_id
		left join (
		select case when
		a.income_item_id_in !='' then a.income_item_id_in else
		a.income_item_id_out end as income_item_id,sum(b.money)
		money,a.income_type_id from COST_CHARGE_KIND_ARRT a
		left join
		cost_income b
		on a.charge_kind_id =b.charge_kind_id
		where
		a.income_type_id='2'
		and b.acc_year=#{acc_year}
		and
		b.acc_month=#{acc_month}
		group by
		a.income_item_id_in,a.income_item_id_out,a.income_type_id
		) b1 on
		beg.income_item_id=b1.income_item_id
		left join (
		select case when
		a.income_item_id_in !='' then a.income_item_id_in else
		a.income_item_id_out end as income_item_id,sum(b.money)
		money,a.income_type_id from COST_CHARGE_KIND_ARRT a
		left join
		cost_income b
		on a.charge_kind_id =b.charge_kind_id
		where
		a.income_type_id='3'
		and b.acc_year=#{acc_year}
		and
		b.acc_month=#{acc_month}
		group by
		a.income_item_id_in,a.income_item_id_out,a.income_type_id
		) c1 on
		beg.income_item_id=c1.income_item_id
		left join COST_INCOME_ITEM_ARRT d1
		on beg.income_item_id=d1.income_item_id



	</insert>
	<select id="queryAnalysisC0302" parameterType="java.util.Map"
		resultMap="c0302">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5,
		t_6 from cost_c0302
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code= #{item_code}
			</if>
		</where>
		order by item_code
		)
select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6) from temp
		order by item_code
	</select>
	
	<select id="queryC0302Print" parameterType="java.util.Map"	resultType="java.util.Map">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5,
		t_6 from cost_c0302
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code= #{item_code}
			</if>
		</where>
		order by item_code
		)
       select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6) from temp
		order by item_code
	</select>

	<select id="queryAnalysisC0303" parameterType="java.util.Map"
		resultMap="c0303">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0303
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by item_code

	</select>
	
	<select id="queryC0303Print" parameterType="java.util.Map"	resultType="java.util.Map">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0303
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by item_code

	</select>
	
	<select id="queryAnalysisC0304" parameterType="java.util.Map"
		resultMap="c0304">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6, t_7,t_8, t_9, t_10, t_11, t_12 from cost_c0304
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10,sum(t_11) t_11, sum(t_12) t_12 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10),sum(t_11), sum(t_12) from temp
		order by item_code

	</select>
	
	<select id="queryC0304Print" parameterType="java.util.Map"	resultType="java.util.Map">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6, t_7,t_8, t_9, t_10, t_11, t_12 from cost_c0304
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10,sum(t_11) t_11, sum(t_12) t_12 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10),sum(t_11), sum(t_12) from temp
		order by item_code

	</select>
	
	<select id="queryAnalysisC0305" parameterType="java.util.Map"
		resultMap="c0305">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3 from
		cost_c0305
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code= #{item_code}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3) from temp
		order by item_code

	</select>
	
	<select id="queryC0305Print" parameterType="java.util.Map"	resultType="java.util.Map">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3 from
		cost_c0305
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code= #{item_code}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3) from temp
		order by item_code

	</select>
	
	<select id="queryAnalysisC0306" parameterType="java.util.Map"
		resultMap="c0306">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6 from cost_c0306
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code= #{item_code}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6) from temp
		order by item_code

	</select>
	
	<select id="queryC0306Print" parameterType="java.util.Map"	resultType="java.util.Map">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6 from cost_c0306
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code= #{item_code}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6) from temp
		order by item_code

	</select>
	
	<select id="queryAnalysisC0307" parameterType="java.util.Map"
		resultMap="c0307">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0307
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by item_code

	</select>
	
	<select id="queryC0307Print" parameterType="java.util.Map"	resultType="java.util.Map">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6, t_7, t_8, t_9, t_10 from cost_c0307
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10) from temp
		order by item_code

	</select>
	
	<select id="queryAnalysisC0308" parameterType="java.util.Map"
		resultMap="c0308">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6, t_7,t_8, t_9, t_10, t_11, t_12 from cost_c0308
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10,sum(t_11) t_11, sum(t_12) t_12 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10),sum(t_11), sum(t_12) from temp
		order by item_code

	</select>

    <select id="queryC0308Print" parameterType="java.util.Map"	resultType="java.util.Map">
		with temp as
		(
		select acc_year, acc_month, item_code, item_name, t_1, t_2,
		t_3, t_4,
		t_5, t_6, t_7,t_8, t_9, t_10, t_11, t_12 from cost_c0308
		<where>
			<if test="year_month_begin != null and year_month_begin != ''">
				AND acc_year || '' || acc_month &gt;= #{year_month_begin}
			</if>
			<if test="year_month_end != null and year_month_end != ''">
				and acc_year || '' || acc_month &lt;= #{year_month_end}
			</if>
		</where>
		order by item_code
		)select acc_year,
		item_code,item_name, sum(t_1) t_1, sum(t_2) t_2, sum(t_3) t_3, sum(t_4) t_4,
		sum(t_5) t_5, sum(t_6) t_6, sum(t_7) t_7, sum(t_8) t_8,
		sum(t_9) t_9, sum(t_10) t_10,sum(t_11) t_11, sum(t_12) t_12 from temp
		group by acc_year,
		item_code,item_name
		union all
		select null,null, '总计', sum(t_1), sum(t_2), sum(t_3), sum(t_4),
		sum(t_5), sum(t_6), sum(t_7), sum(t_8),
		sum(t_9), sum(t_10),sum(t_11), sum(t_12) from temp
		order by item_code

	</select>
</mapper>

