<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.cmitype.PACTTemplateDataSourceMapper">

	<resultMap id="PACTTemplateDataSource" type="java.util.Map">
		<result property="IFB_GROUPID" column="IFB_GROUPID" />
		<result property="IFB_PrjName" column="IFB_PrjName" />
		<result property="COPY_CODE" column="COPY_CODE" />
		<result property="CS_Rowid" column="CS_Rowid" />
		<result property="CS_Code" column="CS_Code" />
		<result property="CS_Name" column="CS_Name" />
		<result property="CS_Attribute" column="CS_Attribute" />
		<result property="CS_Input" column="CS_Input" />
		<result property="CS_SQL" column="CS_SQL" />
		<result property="CS_OutPut" column="CS_OutPut" />
	</resultMap>
		<select id="queryPACTTSourceByCode" parameterType="java.util.Map" resultMap="PACTTemplateDataSource">
		SELECT
			a.IFB_GROUPID,
			a.IFB_PrjName,
			a.COPY_CODE,
			a.CS_Rowid,
			a.CS_Code,
			a.CS_Name,
			a.CS_Attribute,
			a.CS_Input,
			a.CS_SQL,
			a.CS_OutPut
		FROM PACT_Template_DataSource a
		<where>
			<if test="IFB_GROUPID != null and IFB_GROUPID != ''">
				AND a.IFB_GROUPID = #{IFB_GROUPID}
			</if>
			<if test="IFB_PrjName != null and IFB_PrjName != ''">
				AND a.IFB_PRJNAME = #{IFB_PrjName}
			</if>
			<if test="COPY_CODE != null and COPY_CODE != ''">
				AND a.COPY_CODE = #{COPY_CODE}
			</if>		
			<if test="CS_Rowid != null and CS_Rowid != ''">
				AND a.CS_Rowid = #{CS_Rowid}
			</if>	
			<if test="CS_Code != null and CS_Code != ''">
				AND upper(a.CS_Code) LIKE '%'||upper(#{CS_Code})||'%' or upper(a.CS_Name) LIKE '%'||upper(#{CS_Code})||'%'
			</if>		
		</where>
	</select>
	
	<insert id="addBatchPACTTemplateDataSource" parameterType="java.util.List">
		INSERT INTO PACT_Template_DataSource
		(IFB_GROUPID,IFB_PrjName,COPY_CODE,CS_Code,CS_Name,CS_Attribute,CS_Input,CS_SQL,CS_OutPut,CS_Rowid)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.IFB_GROUPID,jdbcType=NUMERIC},
			#{item.IFB_PrjName,jdbcType=NUMERIC},
			#{item.COPY_CODE,jdbcType=VARCHAR},
			#{item.CS_Code,jdbcType=VARCHAR},
			#{item.CS_Name,jdbcType=VARCHAR},
			#{item.CS_Attribute,jdbcType=NUMERIC},
			#{item.CS_Input,jdbcType=VARCHAR},
			#{item.CS_SQL,jdbcType=VARCHAR},
			#{item.CS_OutPut,jdbcType=VARCHAR},
			#{item.CS_Rowid,jdbcType=VARCHAR}
			from dual
		</foreach>
		
	</insert>
	
	<update id="deletePACTTemplateDataSource" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index"
			open="begin" close=";end;" separator=";">
			DELETE PACT_Template_DataSource
			<where>
			IFB_GROUPID = #{item.IFB_GROUPID,jdbcType=NUMERIC}
			AND IFB_PrjName = #{item.IFB_PrjName,jdbcType=NUMERIC}
			AND COPY_CODE = #{item.COPY_CODE,jdbcType=VARCHAR}
			AND CS_Rowid = #{item.CS_Rowid,jdbcType=NUMERIC}						
			</where>
		</foreach>
	</update>
	
	<update id="updatePACTTemplateDataSource" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index"
			open="begin" close=";end;" separator=";">
			UPDATE PACT_Template_DataSource
			<trim prefix="SET" suffixOverrides=",">
				<if test="item.CS_Code != null and item.CS_Code != ''">
					CS_Code = #{item.CS_Code,jdbcType=VARCHAR},
				</if>
				<if test="item.CS_Name != null and item.CS_Name != ''">
					CS_Name = #{item.CS_Name,jdbcType=VARCHAR},
				</if>
				<if test="item.CS_Attribute != null and item.CS_Attribute != ''">
					CS_Attribute = #{item.CS_Attribute,jdbcType=NUMERIC},
				</if>
				<if test="item.CS_Input != null and item.CS_Input != ''">
					CS_Input = #{item.CS_Input,jdbcType=VARCHAR},
				</if>
				<if test="item.CS_SQL != null and item.CS_SQL != ''">
					CS_SQL = #{item.CS_SQL,jdbcType=VARCHAR},
				</if>
				<if test="item.CS_OutPut != null and item.CS_OutPut != ''">
					CS_OutPut = #{item.CS_OutPut,jdbcType=VARCHAR},
				</if>	
			</trim>
			<where>
			IFB_GROUPID = #{item.IFB_GROUPID,jdbcType=NUMERIC}
			AND IFB_PrjName = #{item.IFB_PrjName,jdbcType=NUMERIC}
			AND COPY_CODE = #{item.COPY_CODE,jdbcType=VARCHAR}
			AND CS_Rowid = #{item.CS_Rowid,jdbcType=NUMERIC}						
			</where>
		</foreach>
	</update>
	<select id="queryMaxrowid" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		max(CS_Rowid)
		from PACT_Template_DataSource
		where
		IFB_GROUPID = #{IFB_GROUPID,jdbcType=NUMERIC}
		AND IFB_PrjName = #{IFB_PrjName,jdbcType=NUMERIC}
		AND COPY_CODE = #{COPY_CODE,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByCSCode" parameterType="java.util.Map">
		DELETE FROM PACT_Template_DataSource
		<where>
		IFB_GROUPID = #{IFB_GROUPID,jdbcType=NUMERIC}
		AND IFB_PrjName = #{IFB_PrjName,jdbcType=NUMERIC}
		AND COPY_CODE = #{COPY_CODE,jdbcType=VARCHAR}
		AND CS_Code = #{CS_Code,jdbcType=VARCHAR}
		</where>
	</delete>
</mapper>

