<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.med.dao.info.basic.MedPayTypeMapper">

	<resultMap id="medPayType" type="java.util.Map">
		<result property="pay_code" column="pay_code"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="pay_name" column="pay_name"/>
        <result property="pay_type" column="pay_type"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<!-- 添加 -->
	<insert id="add" useGeneratedKeys="true">
		INSERT INTO ACC_PAY_TYPE (
             pay_code,
             group_id,
             hos_id,
             copy_code,
             
             pay_name,
             pay_type,
             
             spell_code,
             wbx_code,
             is_stop 
        ) VALUES (
			 #{pay_code},
			 #{group_id},
			 #{hos_id},
			 #{copy_code},
			 
			 #{pay_name},
			 #{pay_type},
			 
			 #{spell_code},
			 #{wbx_code},
			 #{is_stop}			 
        )
	</insert>
	
	<!-- 批量添加  -->
	<insert id="addBatch" parameterType="java.util.List">

		INSERT INTO ACC_PAY_TYPE (
            pay_code,
			group_id,
            hos_id,
            copy_code,
          
            pay_name,
            pay_type,
           
            spell_code,
            wbx_code,
            is_stop
 
        ) 
		<foreach collection="list" item="item" index="index" separator=" union" >
        select 		
			#{item.pay_code}			 ,
			#{item.group_id}			 ,
			#{item.hos_id}			 ,
			#{item.copy_code}			 ,
			#{item.pay_name}			 ,
			#{item.pay_type}			 ,
			#{item.spell_code}			 ,
			#{item.wbx_code}			 ,
			#{item.is_stop}			 
		 from dual 
		</foreach>
		)t
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="java.util.Map">

		UPDATE acc_pay_type SET pay_name = #{pay_name} ,
			 pay_type = #{pay_type} ,
			 spell_code = #{spell_code} ,
			 wbx_code = #{wbx_code} ,
			 is_stop = #{is_stop}
        WHERE  pay_code = #{pay_code}
		 and  group_id = #{group_id}
		 and  hos_id = #{hos_id}
		 and  copy_code = #{copy_code}
		
	</update>
	
	<!-- 批量更新 -->
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
	        UPDATE acc_pay_type SET pay_name = #{pay_name} ,
				 pay_type = #{pay_type} ,
				 spell_code = #{spell_code} ,
				 wbx_code = #{wbx_code} ,
				 is_stop = #{is_stop} 
	        WHERE  pay_code = #{item.pay_code}
			 and  group_id = #{item.group_id}
			 and  hos_id = #{item.hos_id}
			 and  copy_code = #{item.copy_code}
			 
    	</foreach>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">

		DELETE FROM acc_pay_type 
		WHERE pay_code = #{pay_code}   
			and  group_id = #{group_id}   
			and  hos_id = #{hos_id}   
			and  copy_code = #{copy_code} 

	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM acc_pay_type 
		WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			 pay_code = #{item.pay_code}
			 and  group_id = #{item.group_id}
			 and  hos_id = #{item.hos_id}
			 and  copy_code = #{item.copy_code}
		</foreach>
	</delete>
	
	<!-- 查询  -->
	<select id="query" parameterType="java.util.Map" resultMap="medPayType">
		SELECT 
            apt.pay_code,
            apt.group_id,
            apt.hos_id,
            apt.copy_code,
            apt.pay_name,
            apt.pay_type,
            apt.spell_code,
            apt.wbx_code,
            apt.is_stop
        FROM ACC_PAY_TYPE apt 
        
            <where>                     
			    <if test="pay_code != null and pay_code != ''">
                    AND apt.pay_code like #{pay_code}||'%'
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND apt.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND apt.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND apt.copy_code = #{copy_code}
               </if>
			  
			    <if test="pay_name != null and pay_name != ''">
                    and (apt.pay_name like '%'||#{pay_name}||'%'
				     or upper(apt.spell_code) like '%'||#{pay_name}||'%'
				     or upper(apt.wbx_code) like '%'||#{pay_name}||'%'
				     or lower(apt.spell_code) like '%'||#{pay_name}||'%'
				     or lower(apt.wbx_code) like '%'||#{pay_name}||'%')
               </if>
			    <if test="pay_type != null and pay_type != ''">
                    AND apt.pay_type = #{pay_type}
               </if>
			  
			    <if test="spell_code != null and spell_code != ''">
                    AND apt.spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND apt.wbx_code = #{wbx_code}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND apt.is_stop = 0
               </if>
        </where>   
		order by apt.pay_code asc
	</select>
	
	<!-- 根据编码查询 -->
	<select id="queryByCode" resultMap="medPayType" parameterType="java.util.Map">

		SELECT 
            apt.pay_code,
            apt.group_id,
            apt.hos_id,
            apt.copy_code,
            apt.pay_name,
            apt.pay_type,
            apt.spell_code,
            apt.wbx_code,
            apt.is_stop
        FROM ACC_PAY_TYPE apt
       
		WHERE 
   				 apt.pay_code = #{pay_code}   
		        and apt.group_id = #{group_id}   
		        and apt.hos_id = #{hos_id}   
		        and apt.copy_code = #{copy_code}  

	</select>
	
	
	<select id="queryByUniqueness" resultMap="medPayType" parameterType="java.util.Map">

		SELECT 
            apt.pay_code,
            apt.group_id,
            apt.hos_id,
            apt.copy_code,
            apt.pay_name,
            apt.pay_type,
            apt.spell_code,
            apt.wbx_code,
            apt.is_stop
        FROM ACC_PAY_TYPE apt
	        WHERE apt.pay_code = #{pay_code}   
		        and apt.group_id = #{group_id}   
		        and apt.hos_id = #{hos_id}   
		        and apt.copy_code = #{copy_code} 
	</select>
	
	<!-- 继承 -->
	<select id="queryAccPayTypeByExtend" parameterType="java.util.Map" resultMap="medPayType" >
        SELECT 
            pay_code,
            group_id,
            hos_id,
            copy_code,
            pay_name,
            pay_type,
            spell_code,
            wbx_code,
            is_stop
        FROM ACC_PAY_TYPE  apt
            <where>                     
			    not exists(
			    	select  pay_code from ACC_PAY_TYPE b 
						<where>
								<if test="group_id != null and group_id != ''">
		                    		AND group_id = #{group_id}
				               </if>
							    <if test="hos_id != null and hos_id != ''">
				                    AND b.hos_id = #{hos_id}
				               </if>
							    <if test="copy_code != null and copy_code != ''">
				                    AND b.copy_code = #{copy_code}
				               </if>
							    
				               and apt.PAY_CODE = b.PAY_CODE 
				               and b.is_stop = '0'
						</where>
 				) and apt.is_stop = '0'
 						<if test="group_id != null and group_id != ''">
			                AND apt.group_id = #{group_id}
			            </if>
						<if test="hos_code != null and hos_code != ''">
			                AND apt.hos_id = #{hos_code}
			            </if>
						<if test="copy_id != null and copy_id != ''">
			                AND apt.copy_code = #{copy_id}
			            </if>
						
        </where>   
		order by apt.pay_code asc
    </select>
</mapper>

