<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.setout.HtcgDrugAdviceDgroupMapper">
	<resultMap id="drugAdviceDgroup" type="com.chd.hrp.htcg.entity.setout.HtcgDrugAdviceDgroup">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="period_type_code" column="period_type_code"/>
        <result property="period_type_name" column="period_type_name"/>
        <result property="period_code" column="period_code"/>
        <result property="period_name" column="period_name"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="scheme_code" column="scheme_code"/>
        <result property="scheme_name" column="scheme_name"/>
        <result property="drgs_code" column="drgs_code"/>
        <result property="drgs_name" column="drgs_name"/>
        <result property="drug_code" column="drug_code"/>
        <result property="drug_name" column="drug_name"/>
        <result property="amount" column="amount"/>
        <result property="price" column="price"/>
        <result property="income_money" column="income_money"/>
        <result property="recipe_type_code" column="recipe_type_code"/>
        <result property="recipe_type_name" column="recipe_type_name"/>
        <result property="clp_d_step" column="clp_d_step"/>
        <result property="item_mr_count" column="item_mr_count"/>
        <result property="drgs_mr_count" column="drgs_mr_count"/>
        <result property="prim_percent" column="prim_percent"/>
        <result property="grand_percent" column="grand_percent"/>
        <result property="recipe_d_group" column="recipe_d_group"/>
        <result property="recipe_group_name" column="recipe_group_name"/>
	</resultMap>
	 <select id="initHtcgDrugAdviceDgroup" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
              <![CDATA[
			{call pkg_htcg_app.prc_drug_advice_d_group(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
    </select>
    
    <select id="calculateHtcgDrugAdviceDgroup" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
           <![CDATA[
			{call pkg_htcg_app.prc_drug_advice_d_group_cal(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
    </select>
    
    <select id="admittanceHtcgDrugAdviceDgroup" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
             <![CDATA[
			{call pkg_htcg_app.prc_drug_advice_d_group_adm(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
    </select>
	
    <delete id="deleteBatchHtcgDrugAdviceDgroup" parameterType="java.util.List">
              delete htcg_drug_advice_d_group where
      <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		          group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and period_type_code = #{item.period_type_code}
			   and acc_year = #{item.acc_year}
			   and acc_month = #{item.acc_month}
			   and scheme_code = #{item.scheme_code}
			   and drgs_code = #{item.drgs_code}
			   and drug_code = #{item.drug_code}
			   and price = #{item.price}
			   and recipe_type_code = #{item.recipe_type_code}
			   and clp_d_step = #{item.clp_d_step}
      </foreach>
    </delete>
 
	<select id="queryHtcgDrugAdviceDgroup" parameterType="java.util.Map" resultMap="drugAdviceDgroup" >
      
                   select hdadg.group_id,
			               hdadg.hos_id,
			               hdadg.copy_code,
			               hdadg.period_type_code,
			               hpt.period_type_name,
			               hpd.period_code,
			               hpd.period_name,
			               hdadg.acc_year,
			               hdadg.acc_month,
			               hdadg.scheme_code,
			               hs.scheme_name,
			               hdadg.drgs_code,
			               hd.drgs_name,
			               hdadg.drug_code,
			               hdd.drug_name,
			               hdadg.amount,
			               hdadg.price,
			               hdadg.income_money,
			               hdadg.recipe_type_code,
			               hrt.recipe_type_name,
			               hdadg.clp_d_step,
			               hdadg.item_mr_count,
			               hdadg.drgs_mr_count,
			               hdadg.prim_percent,
			               hdadg.grand_percent,
			               hdadg.recipe_d_group,
			               hrgrd.recipe_group_name
			          from htcg_drug_advice_d_group hdadg
			          left join htcg_period_type hpt
			            on hdadg.period_type_code = hpt.period_type_code
			          left join htcg_period_dict hpd
			            on hpd.period_type_code = hdadg.period_type_code
			           and hpd.period_code = hdadg.acc_month
			          left join htcg_scheme hs
			            on hdadg.group_id = hs.group_id
			           and hdadg.hos_id = hs.hos_id
			           and hdadg.copy_code = hs.copy_code
			           and hdadg.scheme_code = hs.scheme_code
			          left join htcg_drgs hd
			            on hd.group_id = hdadg.group_id
			           and hd.hos_id = hdadg.hos_id
			           and hd.copy_code = hdadg.copy_code
			           and hd.drgs_code = hdadg.drgs_code
			          left join htcg_drug_dict hdd
			            on hdd.group_id = hdadg.group_id
			           and hdd.hos_id = hdadg.hos_id
			           and hdd.copy_code = hdadg.copy_code
			           and hdd.drug_code = hdadg.drug_code
			          left join htcg_recipe_type hrt
			            on hrt.group_id = hdadg.group_id
			           and hrt.hos_id = hdadg.hos_id
			           and hrt.copy_code = hdadg.copy_code
			           and hrt.recipe_type_code = hdadg.recipe_type_code
			          left join htcg_scheme_recipe_group_rule hsrgr
			            on hsrgr.group_id = hdadg.group_id
			           and hsrgr.hos_id = hdadg.hos_id
			           and hsrgr.copy_code = hdadg.copy_code
			           and hsrgr.scheme_code = hdadg.scheme_code
			          left join htcg_recipe_group_rule_dict hrgrd
			          on hsrgr.recipe_group_code = hrgrd.recipe_group_code
            <where>     hdadg.group_id = #{group_id}
				    and hdadg.hos_id = #{hos_id}
				    and hdadg.copy_code = #{copy_code}    
        </where>   
				order by hdadg.group_id,hdadg.hos_id,hdadg.copy_code,hdadg.period_type_code
    </select>
	
</mapper>

