<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.setout.HtcgDrugAdvicePgroupMapper">
	<resultMap id="drugAdvicePgroup" type="com.chd.hrp.htcg.entity.setout.HtcgDrugAdvicePgroup">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="period_type_code" column="period_type_code"/>
        <result property="period_type_name" column="period_type_name"/>
        <result property="period_code" column="period_code"/>
        <result property="period_name" column="period_name"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="scheme_code" column="scheme_code"/>
        <result property="scheme_name" column="scheme_name"/>
        <result property="drgs_code" column="drgs_code"/>
        <result property="drgs_name" column="drgs_name"/>
        <result property="drug_code" column="drug_code"/>
        <result property="drug_name" column="drug_name"/>
        <result property="amount" column="amount"/>
        <result property="price" column="price"/>
        <result property="income_money" column="income_money"/>
        <result property="recipe_type_code" column="recipe_type_code"/>
        <result property="recipe_type_name" column="recipe_type_name"/>
        <result property="clp_p_step" column="clp_p_step"/>
        <result property="clp_step_name" column="clp_step_name"/>
        <result property="item_mr_count" column="item_mr_count"/>
        <result property="drgs_mr_count" column="drgs_mr_count"/>
        <result property="prim_percent" column="prim_percent"/>
        <result property="grand_percent" column="grand_percent"/>
        <result property="recipe_p_group" column="recipe_p_group"/>
        <result property="recipe_group_name" column="recipe_group_name"/>
	</resultMap>
	
    <select id="initHtcgDrugAdvicePgroup" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
              <![CDATA[
			{call pkg_htcg_app.prc_drug_advice_p_group(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
    </select>
    
    <select id="calculateHtcgDrugAdvicePgroup" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
           <![CDATA[
			{call pkg_htcg_app.prc_drug_advice_p_group_cal(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
    </select>
    
    <select id="admittanceHtcgDrugAdvicePgroup" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
           <![CDATA[
			{call pkg_htcg_app.prc_drug_advice_p_group_adm(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
    </select>
	
    <delete id="deleteBatchHtcgDrugAdvicePgroup" parameterType="java.util.List">
          delete htcg_drug_advice_p_group where
      <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			       group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and period_type_code = #{item.period_type_code}
			   and acc_year = #{item.acc_year}
			   and acc_month = #{item.acc_month}
			   and scheme_code = #{item.scheme_code}
			   and drgs_code = #{item.drgs_code}
			   and drug_code = #{item.drug_code}
			   and price = #{item.price}
			   and recipe_type_code = #{item.recipe_type_code}
			   and clp_p_step = #{item.clp_p_step}
      </foreach>
    </delete>
    
   
	<select id="queryHtcgDrugAdvicePgroup" parameterType="java.util.Map" resultMap="drugAdvicePgroup" >
      
        

                 select hdapg.group_id,
				       hdapg.hos_id,
				       hdapg.copy_code,
				       hdapg.period_type_code,
				       hpt.period_type_name,
				       hpd.period_code,
				       hpd.period_name,
				       hdapg.acc_year,
				       hdapg.acc_month,
				       hdapg.scheme_code,
				       hs.scheme_name,
				       hdapg.drgs_code,
				       hd.drgs_name,
				       hdapg.drug_code,
				       hdd.drug_name,
				       hdapg.amount,
				       hdapg.price,
				       hdapg.income_money,
				       hdapg.recipe_type_code,
				       hrt.recipe_type_name,
				       hdapg.clp_p_step,
				       hcsd.clp_step_name,
				       hdapg.item_mr_count,
				       hdapg.drgs_mr_count,
				       hdapg.prim_percent,
				       hdapg.grand_percent,
				       hdapg.recipe_p_group,
				       hrgrd.recipe_group_name
				  from htcg_drug_advice_p_group hdapg
				  left join htcg_period_type hpt
				    on hdapg.period_type_code = hpt.period_type_code
				  left join htcg_period_dict hpd
				    on hpd.period_type_code = hdapg.period_type_code
				   and hpd.period_code = hdapg.acc_month
				  left join htcg_scheme hs
				    on hdapg.group_id = hs.group_id
				   and hdapg.hos_id = hs.hos_id
				   and hdapg.copy_code = hs.copy_code
				   and hdapg.scheme_code = hs.scheme_code
				  left join htcg_drgs hd
				    on hd.group_id = hdapg.group_id
				   and hd.hos_id = hdapg.hos_id
				   and hd.copy_code = hdapg.copy_code
				   and hd.drgs_code = hdapg.drgs_code
				  left join htcg_drug_dict hdd
				    on hdd.group_id = hdapg.group_id
				   and hdd.hos_id = hdapg.hos_id
				   and hdd.copy_code = hdapg.copy_code
				   and hdd.drug_code = hdapg.drug_code
				  left join htcg_recipe_type hrt
				    on hrt.group_id = hdapg.group_id
				   and hrt.hos_id = hdapg.hos_id
				   and hrt.copy_code = hdapg.copy_code
				   and hrt.recipe_type_code = hdapg.recipe_type_code
				  left join htcg_clp_step_dict hcsd
				    on hdapg.group_id = hcsd.group_id
				   and hdapg.hos_id = hcsd.hos_id
				   and hdapg.copy_code = hcsd.copy_code
				   and hdapg.clp_p_step = hcsd.clp_step_code
				  left join htcg_scheme_recipe_group_rule hsrgr
				    on hsrgr.group_id = hdapg.group_id
				   and hsrgr.hos_id = hdapg.hos_id
				   and hsrgr.copy_code = hdapg.copy_code
				   and hsrgr.scheme_code = hdapg.scheme_code
				  left join htcg_recipe_group_rule_dict hrgrd
				    on hsrgr.recipe_group_code = hrgrd.recipe_group_code
             <where>   hdapg.group_id = #{group_id}
				   and hdapg.hos_id = #{hos_id}
				   and hdapg.copy_code = #{copy_code}    
            </where>   
				 order by hdapg.group_id,hdapg.hos_id,hdapg.copy_code,hdapg.period_type_code
                 
    </select>
	
</mapper>

