<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.setout.HtcgMedicalAdviceDmergeMapper">
	<resultMap id="medicalAdviceDmerge" type="com.chd.hrp.htcg.entity.setout.HtcgMedicalAdviceDmerge">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="period_type_code" column="period_type_code"/>
        <result property="period_type_name" column="period_type_name"/>
        <result property="period_code" column="period_code"/>
        <result property="period_name" column="period_name"/>
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="scheme_code" column="scheme_code"/>
        <result property="scheme_name" column="scheme_name"/>
        <result property="drgs_code" column="drgs_code"/>
        <result property="drgs_name" column="drgs_name"/>
        <result property="charge_item_code" column="charge_item_code"/>
        <result property="charge_item_name" column="charge_item_name"/>
        <result property="amount" column="amount"/>
        <result property="price" column="price"/>
        <result property="income_money" column="income_money"/>
        <result property="recipe_type_code" column="recipe_type_code"/>
        <result property="recipe_type_name" column="recipe_type_name"/>
        <result property="clp_d_step" column="clp_d_step"/>
        <result property="recipe_merge_code" column="recipe_merge_code"/>
	</resultMap>
	
   
    <select id = "initHtcgMedicalAdviceDmerge" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
             <![CDATA[
			{call pkg_htcg_app.prc_medical_advice_d_merge(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
    </select>
   
    <delete id="deleteBatchHtcgMedicalAdviceDmerge" parameterType="java.util.List">
                   delete htcg_medical_advice_d_merge where
          <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
                           group_id = #{item.group_id}
					   and hos_id = #{item.hos_id}
					   and copy_code = #{item.copy_code}
					   and period_type_code = #{item.period_type_code}
					   and acc_year = #{item.acc_year}
					   and acc_month = #{item.acc_month}
					   and scheme_code = #{item.scheme_code}
					   and drgs_code = #{item.drgs_code}
					   and charge_item_code = #{item.charge_item_code}
					   and price = #{item.price}
					   and recipe_type_code = #{item.recipe_type_code}
					   and clp_d_step = #{item.clp_d_step}
          </foreach>
   
    </delete>

	<select id="queryHtcgMedicalAdviceDmerge" parameterType="java.util.Map" resultMap="medicalAdviceDmerge" >
	            select hmadm.group_id,
				       hmadm.hos_id,
				       hmadm.copy_code,
				       hmadm.period_type_code,
				       hpt.period_type_name,
				       hpd.period_code,
				       hpd.period_name,
				       hmadm.acc_year,
				       hmadm.acc_month,
				       hmadm.scheme_code,
				       hs.scheme_name,
				       hmadm.drgs_code,
				       hd.drgs_name,
				       ccia.charge_item_code,
				       ccia.charge_item_name,
				       hmadm.amount,
				       hmadm.price,
				       hmadm.income_money,
				       hmadm.recipe_type_code,
				       hrt.recipe_type_name,
				       hmadm.clp_d_step,
				       hsrmr.recipe_merge_code
				  from htcg_medical_advice_d_merge hmadm
				  left join htcg_period_type hpt
				    on hmadm.period_type_code = hpt.period_type_code
				  left join htcg_period_dict hpd
				    on hpd.period_type_code = hmadm.period_type_code
				   and hpd.period_code = hmadm.acc_month
				  left join htcg_scheme hs
				    on hmadm.group_id = hs.group_id
				   and hmadm.hos_id = hs.hos_id
				   and hmadm.copy_code = hs.copy_code
				   and hmadm.scheme_code = hs.scheme_code
				  left join htcg_drgs hd
				    on hd.group_id = hmadm.group_id
				   and hd.hos_id = hmadm.hos_id
				   and hd.copy_code = hmadm.copy_code
				   and hd.drgs_code = hmadm.drgs_code
				  left join cost_charge_item_arrt ccia
				    on ccia.group_id = hmadm.group_id
				   and ccia.hos_id = hmadm.hos_id
				   and ccia.copy_code = hmadm.copy_code
				   and ccia.charge_item_code = hmadm.charge_item_code
				  left join htcg_recipe_type hrt
				    on hrt.group_id = hmadm.group_id
				   and hrt.hos_id = hmadm.hos_id
				   and hrt.copy_code = hmadm.copy_code
				   and hrt.recipe_type_code = hmadm.recipe_type_code
				  left join htcg_scheme_recipe_merge_rule hsrmr
				    on hsrmr.group_id = hmadm.group_id
				   and hsrmr.hos_id = hmadm.hos_id
				   and hsrmr.copy_code = hmadm.copy_code
				   and hsrmr.drgs_code = hmadm.drgs_code
				   and hsrmr.scheme_code = hmadm.scheme_code
            <where>                  
                       hmadm.group_id = #{group_id}
				   and hmadm.hos_id = #{hos_id}
				   and hmadm.copy_code = #{copy_code}
        </where>   
				 order by hmadm.group_id,hmadm.hos_id,hmadm.copy_code,hmadm.period_type_code
    </select>
	
</mapper>

