<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.setout.HtcgSchemeMrSampleDataMapper">
	<resultMap id="htcgSchemeMrSampleData" type="com.chd.hrp.htcg.entity.setout.HtcgSchemeMrSampleData">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
	    <result property="period_type_code" column="period_type_code" />
		<result property="period_type_name" column="period_type_name" />
		<result property="period_code" column="period_code" />
		<result property="period_name" column="period_name" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="scheme_code" column="scheme_code" />
		<result property="scheme_name" column="scheme_name" /> 
		<result property="drgs_code" column="drgs_code" />
		<result property="drgs_name" column="drgs_name" />
		<result property="mr_no" column="mr_no" />
		<result property="in_hos_no" column="in_hos_no" />
		<result property="extract_amount" column="extract_amount" />
		<result property="sample_amount" column="sample_amount" />
		<result property="mr_rule_code" column="mr_rule_code" />
		<result property="mr_rule_name" column="mr_rule_name" />
	</resultMap>

	<delete id="deleteBatchHtcgSchemeMrSampleData" parameterType="java.util.Map">
	
	        delete FROM htcg_scheme_mr_sample_data where
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				       group_id = #{item.group_id}
				   and hos_id = #{item.hos_id}
				   and copy_code = #{item.copy_code}
				   and period_type_code = #{item.period_type_code}
				   and acc_year = #{item.acc_year}
				   and acc_month = #{item.acc_month}
				   and scheme_code = #{item.scheme_code}
				   and drgs_code = #{item.drgs_code}
				   and mr_no = #{item.mr_no}
				   and in_hos_no = #{item.in_hos_no}
			</foreach>
	</delete>
	
	<select id="initHtcgSchemeMrSampleData" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
	    <![CDATA[
			{call pkg_htcg_app.prc_htcg_scheme_mr_sample_data(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
	</select>
	
	
	<select id="queryHtcgSchemeMrSampleData" parameterType="java.util.Map" resultMap="htcgSchemeMrSampleData">
			    select hsmsd.group_id,
				       hsmsd.hos_id,
				       hsmsd.copy_code,
				       hsmsd.period_type_code,
				       hpt.period_type_name,
					   hpd.period_code,
					   hpd.period_name,
				       hsmsd.acc_year,
				       hsmsd.acc_month,
				       hsmsd.scheme_code,
					   hs.scheme_name,
				       hsmsd.drgs_code,
					   hd.drgs_name,
				       hsmsd.mr_no,
				       hsmsd.in_hos_no,
				       hsmsd.extract_amount,
				       hsmsd.sample_amount,
				       hsmr.mr_rule_code,
					   hmrd.mr_rule_name
				  from htcg_scheme_mr_sample_data hsmsd
					left join htcg_period_type hpt 
					on hsmsd.period_type_code = hpt.period_type_code 
				  left join htcg_period_dict hpd 
					on hpd.period_type_code = hsmsd.period_type_code
				  and hpd.period_code = hsmsd.acc_month 
					left join htcg_scheme hs 
					on hs.group_id = hsmsd.group_id
					and hs.hos_id = hsmsd.hos_id
					and hs.copy_code = hsmsd.copy_code
					and hs.scheme_code = hsmsd.scheme_code 
					left join htcg_drgs hd 
					on hd.group_id = hsmsd.group_id
					and hd.hos_id = hsmsd.hos_id
					and hd.copy_code = hsmsd.copy_code
					and hd.drgs_code = hsmsd.drgs_code
					left join htcg_scheme_mr_rule hsmr
					on hsmsd.group_id = hsmr.group_id
					and hsmsd.hos_id = hsmr.hos_id
					and hsmsd.copy_code = hsmr.copy_code
					and hsmsd.scheme_code = hsmr.scheme_code
					and hsmsd.drgs_code = hsmr.drgs_code
					left join htcg_mr_rule_dict hmrd
					on hmrd.mr_rule_code = hsmr.mr_rule_code
		  <where>   hsmsd.group_id = #{group_id}
				and hsmsd.hos_id = #{hos_id}
				and hsmsd.copy_code = #{copy_code}
			<if test="scheme_code != null and scheme_code != ''">
				and hsmsd.scheme_code = #{scheme_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				and hsmsd.acc_year = #{acc_year}
			</if>
			<if test="period_type_code != null and period_type_code != ''">
				and hsmsd.period_type_code = #{period_type_code}
			</if>
			<if test="period_code != null and period_code != ''">
				and hpd.period_code = #{period_code}
			</if>
			<if test="mr_no != null and mr_no != ''">
				and hsmsd.mr_no = #{mr_no}
			</if>
			<if test="drgs_code != null and drgs_code != ''">
				and hsmsd.drgs_code = #{drgs_code}
			</if>
		</where>
	</select>

</mapper>

