<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.project.begin.BudgProjBeginDetailMapper">


		<resultMap id="budgProjBegainDetail" type="com.chd.hrp.budg.entity.BudgProjBegainDetail">
			<result property="group_id" column="group_id"/>
			<result property="hos_id" column="hos_id"/>	
			<result property="copy_code" column="copy_code"/>
			<result property="budg_year" column="budg_year"/>	
			<result property="proj_id" column="proj_id"/>
			<result property="source_id" column="source_id"/>
			<result property="payment_item_id" column="payment_item_id"/>
			<result property="payment_item_no" column="payment_item_no"/>
			<result property="budg_amount" column="budg_amount"/>
			<result property="cost_amount" column="cost_amount"/>
			<result property="remain_amount" column="remain_amount"/>
		</resultMap>
			<resultMap id="budgProjBegainDetailMap" type="java.util.Map">
			<result property="group_id" column="group_id"/>
			<result property="hos_id" column="hos_id"/>	
			<result property="copy_code" column="copy_code"/>
			<result property="budg_year" column="budg_year"/>	
			<result property="proj_id" column="proj_id"/>
			<result property="source_id" column="source_id"/>
			<result property="b_remain_amount" column="b_remain_amount"/>		
			<result property="payment_item_id" column="payment_item_id"/>
			<result property="payment_item_no" column="payment_item_no"/>
			<result property="budg_amount" column="budg_amount"/>
			<result property="cost_amount" column="cost_amount"/>
			<result property="payment_item_name" column="payment_item_name"/>
			<result property="con_emp_name" column="con_emp_name"/>
			<result property="con_emp_id" column="con_emp_id"/>
			<result property="proj_name" column="proj_name"/>
			<result property="source_name" column="source_name"/>
			<result property="remain_amount" column="remain_amount"/>
			<result property="text" column="text"/>
		</resultMap>	
			
			
			   <delete id="deleteBatch" parameterType="java.util.List">
				      DELETE FROM budg_proj_begain_detail 
														<where>
																	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
																				<if test="item.group_id != null and item.group_id != ''">
																				group_id = #{item.group_id,jdbcType=INTEGER}
																				</if>
																				<if test="item.hos_id != null and item.hos_id != ''">
																				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
																				</if>
																				<if test="item.copy_code != null and item.copy_code != ''">
																				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
																				</if>
																				<if test="item.budg_year != null and item.budg_year != ''">
																				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
																				</if>
																				<if test="item.proj_id != null and item.proj_id != ''">
																				AND proj_id = #{item.proj_id,jdbcType=INTEGER}
																				</if>
																				<if test="item.source_id != null and item.source_id != ''">
																				AND source_id = #{item.source_id,jdbcType=INTEGER}
																				</if>
																				<if test="item.payment_item_id != null and item.payment_item_id != ''">
																				AND payment_item_id = #{item.payment_item_id,jdbcType=INTEGER}
																				</if>
																	</foreach>
													    </where>  
			</delete>	
					
					
							
		     <insert id="addBatch" parameterType="java.util.List" >
			
								INSERT INTO BUDG_PROJ_BEGAIN_DETAIL (
								group_id
								,
								hos_id
								,
								copy_code
								,
								budg_year
								,
								proj_id
								,
								source_id
								,
								payment_item_id
								,
								payment_item_no
								,
								budg_amount
								,
								cost_amount
								,
								remain_amount,
								b_remain_amount
								
						) select  t.* from(
											<foreach collection="list" item="item" index="index" separator=" union all " >
																select 		
																#{item.group_id,jdbcType=INTEGER}
																,
																#{item.hos_id,jdbcType=INTEGER}
																,
																#{item.copy_code,jdbcType=VARCHAR}
																,
																#{item.budg_year,jdbcType=VARCHAR}
																,
																#{item.proj_id,jdbcType=INTEGER}
																,
																#{item.source_id,jdbcType=INTEGER}
																,
																#{item.payment_item_id,jdbcType=INTEGER}
																,
																#{item.payment_item_no,jdbcType=INTEGER}
																,
																#{item.budg_amount,jdbcType=INTEGER}
																,
																#{item.cost_amount,jdbcType=INTEGER}
																,
																#{item.remain_amount,jdbcType=INTEGER}
																,
																#{item.b_remain_amount,jdbcType=INTEGER}
																
															    from dual
											</foreach>
						)t
			</insert>
			
			
			
			<select id="querybudgProjBeginDetail" parameterType="java.util.Map" resultMap="budgProjBegainDetail" >
			
							SELECT 
							group_id,
							hos_id,
							copy_code,
							budg_year,
							proj_id,
							source_id,
							payment_item_id,
							payment_item_no,
							budg_amount,
							cost_amount,
							remain_amount
							FROM BUDG_PROJ_BEGAIN_DETAIL 
															<where>                     
																			<if test="group_id != null and group_id != ''">
																			AND group_id = #{group_id,jdbcType=INTEGER}
																			</if>
																			<if test="hos_id != null and hos_id != ''">
																			AND hos_id = #{hos_id,jdbcType=INTEGER}
																			</if>
																			<if test="copy_code != null and copy_code != ''">
																			AND copy_code = #{copy_code,jdbcType=VARCHAR}
																			</if>
																			<if test="budg_year != null and budg_year != ''">
																			AND budg_year = #{budg_year,jdbcType=VARCHAR}
																			</if>
																			<if test="proj_id != null and proj_id != ''">
																			AND proj_id = #{proj_id,jdbcType=INTEGER}
																			</if>
																			<if test="source_id != null and source_id != ''">
																			AND source_id = #{source_id,jdbcType=INTEGER}
																			</if>
																			<if test="payment_item_id != null and payment_item_id != ''">
																			AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
																			</if>
																			<if test="payment_item_no != null and payment_item_no != ''">
																			AND payment_item_no = #{payment_item_no,jdbcType=INTEGER}
																			</if>
																			<if test="budg_amount != null and budg_amount != ''">
																			AND budg_amount = #{budg_amount,jdbcType=INTEGER}
																			</if>
																			<if test="cost_amount != null and cost_amount != ''">
																			AND cost_amount = #{cost_amount,jdbcType=INTEGER}
																			</if>
																			<if test="remain_amount != null and remain_amount != ''">
																			AND remain_amount = #{remain_amount,jdbcType=INTEGER}
																			</if>
															</where>   
															
										order by group_id asc
			</select>
			
			
			
			<select id="queryByCode" resultMap="budgProjBegainDetail"  parameterType="java.util.Map" >
	
											SELECT 
											group_id,
											hos_id,
											copy_code,
											budg_year,
											proj_id,
											source_id,
											payment_item_id,
											payment_item_no,
											budg_amount,
											cost_amount,
											remain_amount
											FROM budg_proj_begain_detail 
											                              WHERE 
																			group_id = #{group_id,jdbcType=INTEGER}   and 
																			hos_id = #{hos_id,jdbcType=INTEGER}   and 
																			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
																			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
																			proj_id = #{proj_id,jdbcType=INTEGER}   and 
																			source_id = #{source_id,jdbcType=INTEGER}   and
																			payment_item_id = #{payment_item_id,jdbcType=INTEGER}
	
			</select>
			<update id="update" parameterType="java.util.Map">
			
											UPDATE budg_proj_begain_detail 
															<trim prefix="SET"  suffixOverrides=","> 
																	<if test="budg_amount != null and budg_amount != ''">
																	budg_amount = #{budg_amount,jdbcType=INTEGER}
																	,
																	</if>
																	<if test="cost_amount != null and cost_amount != ''">
																	cost_amount = #{cost_amount,jdbcType=INTEGER}
																	,
																	</if>
																	<if test="remain_amount != null and remain_amount != ''">
																	remain_amount = #{remain_amount,jdbcType=INTEGER}
																	,
																	</if>
															</trim>
																		<where>                     
																					<if test="group_id != null and group_id != ''">
																					AND group_id = #{group_id,jdbcType=INTEGER}
																					</if>
																					<if test="hos_id != null and hos_id != ''">
																					AND hos_id = #{hos_id,jdbcType=INTEGER}
																					</if>
																					<if test="copy_code != null and copy_code != ''">
																					AND copy_code = #{copy_code,jdbcType=VARCHAR}
																					</if>
																					<if test="budg_year != null and budg_year != ''">
																					AND budg_year = #{budg_year,jdbcType=VARCHAR}
																					</if>
																		</where>  
		    </update>
		    
		    
		    
			<select id="queryBudgProjBegainDetai" parameterType="java.util.Map" resultMap="budgProjBegainDetail" >
			
						  SELECT 
							group_id,
							hos_id,
							copy_code,
							budg_year,
							proj_id,
							source_id,
							payment_item_id,
							payment_item_no,
							budg_amount,
							cost_amount,
							remain_amount
							FROM budg_proj_begain_detail 
														<where>
																	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
																	
																					<if test="item.group_id != null and item.group_id != ''">
																					group_id = #{item.group_id,jdbcType=INTEGER}
																					</if>
																					<if test="item.hos_id != null and item.hos_id != ''">
																					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
																					</if>
																					<if test="item.copy_code != null and item.copy_code != ''">
																					AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
																					</if>
																					<if test="item.proj_id != null and item.proj_id != ''">
																					AND proj_id = #{item.proj_id,jdbcType=INTEGER}
																					</if>
																					<if test="item.source_id != null and item.source_id != ''">
																					AND source_id = #{item.source_id,jdbcType=INTEGER}
																					</if>
																					<if test="item.payment_item_id != null and item.payment_item_id != ''">
																					AND payment_item_id = #{item.payment_item_id,jdbcType=INTEGER}
																					</if>
																					
																	</foreach>                    
														
														</where>   
														
										order by group_id asc
		</select>
   <select id="query"    resultMap="budgProjBegainDetailMap" >
						SELECT             a.group_id,
									       a.hos_id,
									       a.copy_code,
									       a.budg_year,
									       a.proj_id,
									       a.source_id,
									       a.payment_item_id,
									       a.payment_item_no,
									       nvl(a.b_remain_amount, 0) b_remain_amount,
									       h.con_emp_id,
									       nvl(a.budg_amount, 0) budg_amount,
									       nvl(a.cost_amount, 0) cost_amount,
									       d.proj_name,
									       d.proj_name as text,
									       nvl(a.remain_amount, 0) remain_amount,
									       b.payment_item_name,
									       c.source_name
  														FROM BUDG_PROJ_BEGAIN_DETAIL a
																						  left join budg_payment_item_dict b
																						    on a.group_id = b.group_id
																						   and a.hos_id = b.hos_id
																						   and a.payment_item_id = b.payment_item_id
																						   and b.is_stop = 0
											  left join hos_source c
											    on c.group_id = a.group_id
											   and c.hos_id = a.hos_id
											   and c.source_id = a.source_id
											   and c.is_stop = 0
																							  left join hos_proj_dict d
																							    on a.group_id = d.group_id
																							   and a.hos_id = d.hos_id
																							   and a.proj_id = d.proj_id
																							   and d.is_stop = 0
											  left join acc_proj_attr h
											    on a.group_id = h.group_id
											   and a.hos_id = h.hos_id
											   and a.proj_id = h.proj_id

																							  left join hos_emp_dict e
																							    on a.group_id = e.group_id
																							   and a.hos_id = e.hos_id
																							   and h.con_emp_id = e.emp_id
																							   and e.is_stop = 0

		where                    
		
		 a.group_id = #{group_id,jdbcType=INTEGER}
	
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		
		
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		           <if test="budg_year !='' and budg_year!=null">
			          			and  a.budg_year=#{budg_year}
			        </if>
			        
			        <if test="proj_name != null and proj_name != ''">
							AND (
							       d.proj_code like '%${proj_name}%' or
									d.proj_name like '%${proj_name}%' or
								    d.spell_code like '%${proj_name}%' or
								     d.wbx_code like '%${proj_name}%'
								)
					</if>
					
			        <if test="proj_id !='' and proj_id!=null">
			         			and  a.proj_id=#{proj_id}
			        </if>
			        <if test=" source_id!='' and source_id!=null">
			          			and  a.source_id=#{source_id}
			        </if>
	               <if test="con_emp_id !='' and con_emp_id !=null">
			                    and  con_emp_id=#{con_emp_id}
			        </if> 
			        <if test="payment_item_id !='' and payment_item_id !=null">
			                    and  a.payment_item_id=#{payment_item_id}
			        </if> 
		order by group_id asc
		</select>
		
		<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_PROJ_BEGAIN_DETAIL (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="budg_year != null and budg_year != ''">
		budg_year
		,
		</if>
		<if test="proj_id != null and proj_id != ''">
		proj_id
		,
		</if>
		<if test="source_id != null and source_id != ''">
		source_id
		,
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		payment_item_id
		,
		</if>
		<if test="payment_item_no != null and payment_item_no != ''">
		payment_item_no
		,
		</if>  
		<if test="b_remain_amount != null and b_remain_amount != ''">
		b_remain_amount
		,
		</if>
		<if test="budg_amount != null and budg_amount != ''">
		budg_amount
		,
		</if>
		<if test="cost_amount != null and cost_amount != ''">
		cost_amount
		,
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		remain_amount
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="budg_year != null and budg_year != ''">
		#{budg_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="proj_id != null and proj_id != ''">
		#{proj_id,jdbcType=INTEGER}
		,
		</if>
		<if test="source_id != null and source_id != ''">
		#{source_id,jdbcType=INTEGER}
		,
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		#{payment_item_id,jdbcType=INTEGER}
		,
		</if>
		<if test="payment_item_no != null and payment_item_no != ''">
		#{payment_item_no,jdbcType=INTEGER}
		,
		</if>
		<if test="b_remain_amount != null and b_remain_amount != ''">
		#{b_remain_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="budg_amount != null and budg_amount != ''">
		#{budg_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="cost_amount != null and cost_amount != ''">
		#{cost_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		#{remain_amount,jdbcType=INTEGER}
		
		</if>
		</trim>		
		)
	
	</insert>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_begain_detail 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.budg_amount != null and item.budg_amount != ''">
			budg_amount = #{item.budg_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.cost_amount != null and item.cost_amount != ''">
			cost_amount = #{item.cost_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.remain_amount != null and item.remain_amount != ''">
			remain_amount = #{item.remain_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.b_remain_amount != null and item.b_remain_amount != ''">
			b_remain_amount = #{item.b_remain_amount,jdbcType=INTEGER}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.budg_year != null and item.budg_year != ''">
			AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
			</if>  
			<if test="item.proj_id != null and item.proj_id != ''">
			AND proj_id = #{item.proj_id,jdbcType=INTEGER}
			</if>  
			<if test="item.source_id != null and item.source_id != ''">
			AND source_id = #{item.source_id,jdbcType=INTEGER}
			</if>  
			<if test="item.payment_item_id != null and item.payment_item_id != ''">
			AND payment_item_id = #{item.payment_item_id,jdbcType=INTEGER}
			</if>  
			<if test="item.payment_item_no != null and item.payment_item_no != ''">
			AND payment_item_no = #{item.payment_item_no,jdbcType=INTEGER}
			</if>    
			</where>  			
		</foreach>
	</update>
	<select id="queryDetail"   resultType="java.util.Map" parameterType="java.util.Map">
							SELECT 
							group_id,
							hos_id,
							copy_code,
							budg_year,
							proj_id,
							source_id,
							sum(nvl(b_remain_amount ,0))  b_remain_amount,
			                sum(budg_amount) as budg_amount ,
			                sum(cost_amount) as cost_amount,
			               sum(remain_amount) as remain_amount
							FROM BUDG_PROJ_BEGAIN_DETAIL 
	
								where                    
										 group_id = #{group_id,jdbcType=INTEGER}
									
										AND  hos_id = #{hos_id,jdbcType=INTEGER}
											
										AND  copy_code = #{copy_code,jdbcType=VARCHAR}
	
						               <if test="budg_year !='' and budg_year!=null">
								          			and  budg_year=#{budg_year}
								        </if>
								        
								        <if test="proj_id !='' and proj_id!=null">
								         			and  proj_id=#{proj_id}
								        </if>
								        <if test=" source_id!='' and source_id!=null">
								          			and  source_id=#{source_id}
								        </if>
								     
										group by group_id,hos_id,copy_code,budg_year,proj_id,source_id
                                        order by group_id asc
	</select>
	
	<select id="queryExists" resultType="java.util.Map" parameterType="java.util.Map">
		select * from BUDG_PROJ_BEGAIN_DETAIL 
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND  hos_id = #{hos_id,jdbcType=INTEGER}
			AND  copy_code = #{copy_code,jdbcType=VARCHAR}
			and source_id=#{source_id}
			and proj_id=#{proj_id}
			and budg_year=#{budg_year}
			and payment_item_id=#{payment_item_id}
	</select>
		
</mapper>