<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.autovouch.his.AccBalDetailIMapper">

	<resultMap id="accBalDetailI" type="com.chd.hrp.acc.entity.AccBalDetailI">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="rep_no" column="rep_no" />
		<result property="charge_date" column="charge_date" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="charge_kind_id" column="charge_kind_id" />
		<result property="charge_kind_code" column="charge_kind_code" />
		<result property="charge_kind_name" column="charge_kind_name" />
		<result property="patient_id" column="patient_id" />
		<result property="patient_type_code" column="patient_type_code" />
		<result property="charge_money" column="charge_money" />
		<result property="check_no" column="check_no" />
		<result property="patient_name" column="patient_name" />
		<result property="charge_code" column="charge_code" />
		<result property="charge_name" column="charge_name" />
		<result property="begin_no" column="begin_no" />
		<result property="end_no" column="end_no" />
		<result property="is_back" column="is_back" />
	</resultMap>
	
	<resultMap id="accBalDetailI1" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="rep_no" column="rep_no" />
		<result property="charge_date" column="charge_date" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="charge_kind_id" column="charge_kind_id" />
		<result property="charge_kind_code" column="charge_kind_code" />
		<result property="charge_kind_name" column="charge_kind_name" />
		<result property="patient_id" column="patient_id" />
		<result property="patient_type_code" column="patient_type_code" />
		<result property="charge_money" column="charge_money" />
		<result property="check_no" column="check_no" />
		<result property="patient_name" column="patient_name" />
		<result property="charge_code" column="charge_code" />
		<result property="charge_name" column="charge_name" />
		<result property="begin_no" column="begin_no" />
		<result property="end_no" column="end_no" />
		<result property="is_back" column="is_back" />
	</resultMap>
	
	<select id="queryAccBalDetailI" parameterType="java.util.Map"
		resultMap="accBalDetailI1">
		select 
				abdi.group_id,          
				abdi.hos_id,           
				abdi.copy_code,         
				abdi.rep_no,            
				abdi.charge_date,       
				abdi.dept_id,           
				abdi.dept_no,           
				abdi.dept_code, 
				hdd.dept_name,        
				abdi.charge_kind_id,    
				abdi.charge_kind_code,  
				ccka.charge_kind_name,
				abdi.patient_id,        
				abdi.patient_type_code, 
				abdi.charge_money,      
				abdi.check_no,          
				abdi.patient_name,      
				abdi.charge_code,       
				abdi.charge_name,       
				abdi.begin_no,          
				abdi.end_no,            
				case abdi.is_back when 1 then '是' else '否' end is_back          
		from acc_bal_detail_i abdi	
		left join HOS_PATIENT_TYPE hpt on
		abdi.group_id = hpt.group_id
		and abdi.hos_id = hpt.hos_id
		and abdi.patient_id = hpt.patient_id
		and abdi.patient_type_code = hpt.patient_code
		left join COST_CHARGE_KIND_ARRT ccka on
		abdi.group_id = ccka.group_id
		and abdi.hos_id = ccka.hos_id
		and abdi.copy_code = ccka.copy_code
		and abdi.charge_kind_id = ccka.charge_kind_id
		and abdi.charge_kind_code = ccka.charge_kind_code
		left join Hos_Dept_Dict hdd on
		abdi.group_id = hdd.group_id
		and abdi.hos_id = hdd.hos_id
		and abdi.dept_id = hdd.dept_id
		and abdi.dept_no = hdd.dept_no
		and abdi.dept_code = hdd.dept_code
		where abdi.group_id = #{group_id}  AND abdi.hos_id = #{hos_id} AND abdi.copy_code = #{copy_code} and abdi.his_type=#{io_type} 
		AND abdi.charge_date between to_date(#{charge_date_b},'yyyy/mm/dd') and to_date(#{charge_date_e},'yyyy/mm/dd')
		<if test="rep_no != null and rep_no != ''">
			and abdi.rep_no like '${rep_no}%'
		</if>
		<if test="charge_code != null and charge_code != ''">
			and (abdi.charge_code like '${charge_code}%' or abdi.charge_name like '%${charge_code}%')
		</if>
		order by abdi.rep_no,abdi.charge_code,abdi.dept_code
	</select>
</mapper>