<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.med.dao.order.MedOrderDetailMapper">
	
	<resultMap id="medOrderDetail" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="order_id" column="order_id"/>
		<result property="order_code" column="order_code"/>
		<result property="order_detail_id" column="order_detail_id"/>
		<result property="inv_id" column="inv_id"/>
		<result property="inv_no" column="inv_no"/>
		<result property="inv_code" column="inv_code"/>
		<result property="inv_name" column="inv_name"/>
		<result property="inv_model" column="inv_model"/>
		<result property="unit_code" column="unit_code"/>
		<result property="unit_name" column="unit_name"/>
		<result property="pack_code" column="pack_code"/>
		<result property="pack_name" column="pack_name"/>
		<result property="fac_name" column="fac_name"/>
		<result property="amount" column="amount"/>
		<result property="price" column="price"/>
		<result property="bid_code" column="bid_code"/>
		<result property="amount_money" column="amount_money"/>
		<result property="num" column="num"/>	
		<result property="num_exchange" column="num_exchange"/>
		<result property="arrive_date" column="arrive_date"/>
		<result property="memo" column="memo"/>
		<result property="order_id_new" column="order_id_new"/>
	</resultMap>
	
	<select id="queryMedOrderDetailNextval"  resultType="java.lang.Long" useCache="false" flushCache="true">		
		select MED_ORDER_DETAIL_SEQ.nextval from dual
	</select>
	
	<!-- 增加 -->
	<insert id="add" parameterType="java.util.List">
		INSERT INTO MED_ORDER_DETAIL (
			order_detail_id,
			group_id,
			hos_id,
			copy_code,
			order_id,
			order_code,
			inv_id,
			inv_no,
			amount,
			price 
			<if test="num != null and num != ''">, num</if>
			<if test="num_exchange != null and num_exchange != ''">, num_exchange</if>
			<if test="pack_code != null and pack_code != ''">, pack_code</if>
			<if test="memo != null and memo != ''">, memo</if>
		)values(
			#{order_detail_id,jdbcType=INTEGER},
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{order_id,jdbcType=INTEGER},
			#{order_code,jdbcType=VARCHAR},
			#{inv_id,jdbcType=INTEGER},
			#{inv_no,jdbcType=INTEGER},
			#{amount,jdbcType=FLOAT},
			#{price,jdbcType=FLOAT}
			<if test="num != null and num != ''">, #{num,jdbcType=FLOAT}</if>
			<if test="num_exchange != null and num_exchange != ''">, #{num_exchange,jdbcType=FLOAT}</if>
			<if test="pack_code != null and pack_code != ''">, #{pack_code,jdbcType=INTEGER}</if>
			<if test="memo != null and memo != ''">, #{memo,jdbcType=VARCHAR}</if>
		)
	</insert>
	
	<!-- 批量增加  -->
	<insert id="addBatchDetail" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO MED_ORDER_DETAIL (
				order_detail_id, 
				group_id, 
				hos_id, 
				copy_code, 
				order_id, 
				order_code, 
				inv_id, 
				inv_no, 
				amount, 
				price 
				<if test="item.num != null and item.num != ''">, num</if>
				<if test="item.num_exchange != null and item.num_exchange != ''">, num_exchange</if>
				<if test="item.pack_code != null and item.pack_code != ''">, pack_code</if>	
				<if test="item.memo != null and item.memo != ''">, memo</if>
			) 
			values( 
				#{item.order_detail_id,jdbcType=INTEGER},  
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.copy_code,jdbcType=VARCHAR},
				#{item.order_id,jdbcType=INTEGER},
				#{item.order_code,jdbcType=INTEGER},
				#{item.inv_id,jdbcType=INTEGER},
				#{item.inv_no,jdbcType=INTEGER},
				#{item.amount,jdbcType=FLOAT},
				#{item.price,jdbcType=FLOAT}
				<if test="item.num != null and item.num != ''">, #{item.num,jdbcType=FLOAT}</if>
				<if test="item.num_exchange != null and item.num_exchange != ''">, #{item.num_exchange,jdbcType=FLOAT}</if>
				<if test="item.pack_code != null and item.pack_code != ''">, #{item.pack_code,jdbcType=INTEGER}</if>
				<if test="item.memo != null and item.memo != ''">, #{item.memo,jdbcType=VARCHAR}</if>
			)
		</foreach>
	</insert>
	<!-- 合并时插入明细表数据 -->
	<insert id="addBatchDetailMerge" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO MED_ORDER_DETAIL (
				order_detail_id, 
				group_id, 
				hos_id, 
				copy_code, 
				order_id, 
				order_code,
				inv_id, 
				inv_no, 
				amount, 
				price 
				<if test="item.num != null and item.num != ''">, num</if>
				<if test="item.num_exchange != null and item.num_exchange != ''">, num_exchange</if>
				<if test="item.pack_code != null and item.pack_code != ''">, pack_code</if>	
				<if test="item.memo != null and item.memo != ''">, memo</if>
			) 
			values( 
				#{item.order_detail_id,jdbcType=INTEGER},
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.copy_code,jdbcType=VARCHAR},
				#{item.order_id_new,jdbcType=INTEGER},
				#{item.order_code,jdbcType=VARCHAR},
				#{item.inv_id,jdbcType=INTEGER},
				#{item.inv_no,jdbcType=INTEGER},
				#{item.amount,jdbcType=FLOAT},
				#{item.price,jdbcType=FLOAT}
				<if test="item.num != null and item.num != ''">, #{item.num,jdbcType=FLOAT}</if>
				<if test="item.num_exchange != null and item.num_exchange != ''">, #{item.num_exchange,jdbcType=FLOAT}</if>
				<if test="item.pack_code != null and item.pack_code != ''">, #{item.pack_code,jdbcType=INTEGER}</if>
				<if test="item.memo != null and item.memo != ''">, #{item.memo,jdbcType=VARCHAR}</if>
			)
		</foreach>
	</insert>
	
	<!-- 批量更新 -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE med_order_detail SET  
					inv_id = #{item.inv_id,jdbcType=INTEGER}
				<if test="item.inv_no != null and item.inv_no != ''">
					, inv_no = #{item.inv_no,jdbcType=INTEGER}
				</if>
				<if test="item.amount != null and item.amount != ''">
					, amount = #{item.amount,jdbcType=FLOAT}
				</if>
				<if test="item.price != null and item.price != ''">
					, price = #{item.price,jdbcType=FLOAT}
				</if>
				<if test="item.num != null and item.num != ''">
					, num = #{item.num,jdbcType=FLOAT}
				</if>
				<if test="item.num_exchange != null and item.num_exchange != ''">
					, num_exchange = #{item.num_exchange,jdbcType=FLOAT}
				</if>
				<if test="item.pack_code != null and item.pack_code != ''">
					, pack_code = #{item.pack_code,jdbcType=INTEGER}
				</if>
				<if test="item.arrive_date != null and item.arrive_date != ''">
					, arrive_date = #{item.arrive_date,jdbcType=DATE}
				</if>
				<if test="item.memo != null and item.memo != ''">
					, memo = #{item.memo,jdbcType=VARCHAR}
				</if>
			<where>
				<if test="item.group_id != null and item.group_id != ''">
					and group_id = #{item.group_id,jdbcType=INTEGER} 
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					and hos_id = #{item.hos_id,jdbcType=INTEGER} 
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.order_id != null and item.order_id != ''">
					and order_id = #{item.order_id,jdbcType=INTEGER} 
				</if>
				<if test="item.order_code != null and item.order_code != ''">
					and order_code = #{item.order_code,jdbcType=VARCHAR}
				</if>
				<if test="item.order_detail_id != null and item.order_detail_id != ''">
					and order_detail_id = #{item.order_detail_id,jdbcType=INTEGER} 
				</if>
			</where>	
		</foreach>
	</update>
	
	<!-- 更新 -->
	<update id="update" parameterType="java.util.Map">
		UPDATE mede_order_detail SET   
					  inv_id = #{inv_id,jdbcType=INTEGER}
				<if test="inv_no != null and inv_no != ''">
					, inv_no = #{inv_no,jdbcType=INTEGER}
				</if>
				<if test="amount != null and amount != ''">
					, amount = #{amount,jdbcType=FLOAT}
				</if>
				<if test="price != null and price != ''">
					, price = #{price,jdbcType=FLOAT}
				</if>
				<if test="num != null and num != ''">
					, num = #{num,jdbcType=FLOAT}
				</if>
				<if test="num_exchange != null and num_exchange != ''">
					, num_exchange = #{num_exchange,jdbcType=FLOAT}
				</if>
				<if test="pack_code != null and pack_code != ''">
					, pack_code = #{pack_code,jdbcType=INTEGER}
				</if>
				<if test="arrive_date != null and arrive_date != ''">
					, arrive_date = #{arrive_date,jdbcType=DATE}
				</if>
				<if test="memo != null and memo != ''">
					, memo = #{memo,jdbcType=VARCHAR}
				</if>
			<where>
				<if test="group_id != null and group_id != ''">
					and group_id = #{group_id,jdbcType=INTEGER} 
				</if>
				<if test="hos_id != null and hos_id != ''">
					and hos_id = #{hos_id,jdbcType=INTEGER} 
				</if>
				<if test="copy_code != null and copy_code != ''">
					and copy_code = #{copy_code,jdbcType=VARCHAR}
				</if>
				<if test="order_id != null and order_id != ''">
					and order_id = #{order_id,jdbcType=INTEGER} 
				</if>
				<if test="order_code != null and order_code != ''">
					and order_code = #{order_code,jdbcType=VARCHAR} 
				</if>
				<if test="order_detail_id != null and order_detail_id != ''">
					and order_detail_id = #{order_detail_id,jdbcType=INTEGER} 
				</if>
			</where>	
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM med_order_detail 
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id,jdbcType=INTEGER} 
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id,jdbcType=INTEGER} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				and copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="order_id != null and order_id != ''">
				and order_id = #{order_id,jdbcType=INTEGER} 
			</if>
			<if test="order_code != null and order_code != ''">
				and order_code = #{order_code,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM med_order_detail
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
					 group_id = #{item.group_id,jdbcType=INTEGER} 
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					and hos_id = #{item.hos_id,jdbcType=INTEGER} 
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.order_id != null and item.order_id != ''">
					and order_id = #{item.order_id,jdbcType=INTEGER} 
				</if>
				<if test="item.order_code != null and item.order_code != ''">
					and order_code = #{item.order_code,jdbcType=VARCHAR}
				</if>
			</foreach>
		</where>
	</delete>
	
	<!-- 更新删除 -->
	<delete id="deleteForUpdate" parameterType="java.util.Map">
		DELETE FROM med_order_detail 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR} 
			and order_id = #{order_id,jdbcType=INTEGER} 
			and order_detail_id not in (${detail_ids})
	</delete>
	
	<!-- 根据主表主键查询 -->
	<select id="query" resultMap="medOrderDetail" parameterType="java.util.Map" >
		select 
		    mdd.group_id,
		    mdd.hos_id,
		    mdd.copy_code,
		    mid.bid_code,
		    mdd.order_id,
		    mdd.order_detail_id,
		    mdd.inv_no,
		    mdd.inv_id,
		    mid.inv_code,
		    mid.inv_name,
		    mid.inv_model,
		    mid.unit_code,
		    hu.unit_name,
		    mdd.pack_code,
		    hp.pack_name,
		    mdd.num,--包装数量
		    mdd.amount,--数量
		    mdd.price,--单价
		    nvl(mdd.amount,0)*nvl(mdd.price,0) amount_money,--金额
		    mdd.num_exchange,--包装换算量
        	hfd.fac_name,
		    mdd.memo --备注
		from med_order_detail mdd
		left join med_inv_dict mid on mdd.inv_no = mid.inv_no
		     and mid.inv_id = mdd.inv_id
		     and mdd.group_id = mid.group_id
		     and mdd.hos_id = mid.hos_id
		     and mdd.copy_code = mid.copy_code
		left join hos_unit hu on hu.unit_code = mid.unit_code
		     and hu.group_id = mid.group_id
		     and hu.hos_id = mid.hos_id
		     and hu.is_stop = 0
		left join hos_package hp on hp.pack_code = mdd.pack_code
			 and hp.group_id = mdd.group_id
			 and hp.hos_id = mdd.hos_id
			 and hp.is_stop = 0
       left join hos_fac_dict hfd on mdd.group_id=hfd.group_id
	        and mdd.hos_id=hfd.hos_id
	        and mid.fac_id=hfd.fac_id
	        and mid.fac_no=hfd.fac_no
       <where>
       		<if test="group_id != null and group_id != ''">
				and mdd.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and mdd.hos_id = #{hos_id,jdbcType=INTEGER} 
			</if>
			<if test="copy_code != null and copy_code != ''">
				and mdd.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="order_id != null and order_id != ''">
				and mdd.order_id = #{order_id,jdbcType=INTEGER}
			</if>
			<if test="order_code != null and order_code != ''">
				and mdd.order_code = #{order_code,jdbcType=VARCHAR}
			</if>
			<if test="order_detail_id != null and order_detail_id != ''">
				and mdd.order_detail_id = #{order_detail_id,jdbcType=INTEGER}
			</if>
       </where>
		order by mdd.order_id,mdd.order_detail_id asc
	</select>
	
	
	<!-- 根据ID查询从表信息并且重新组装 -->
	<select id="queryByOrderIds" resultMap="medOrderDetail" parameterType="java.util.Map">
		
			select mdd.group_id,
		       mdd.hos_id,
		       mdd.copy_code,
		       mdd.inv_no,
		       mdd.inv_id,
		       mdd.price,
		       ${order_new_id} order_id_new,
		       sum(nvl(mdd.amount,0)) amount
			from med_order_detail mdd
			where mdd.copy_code = #{copy_code,jdbcType=VARCHAR}
			      and mdd.hos_id =#{hos_id,jdbcType=INTEGER} 
			      and mdd.group_id = #{group_id,jdbcType=INTEGER} 
			      and mdd.order_id  in (${order_ids})
			group by mdd.group_id,mdd.hos_id,mdd.copy_code,mdd.inv_no,mdd.inv_id,mdd.price
		
	</select>
</mapper>

