<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.payable.otherpay.BudgChargeApplyForAccMapper">
	<!-- 查询 -->
	<select id="queryBudgChargeApplyPayForAcc" parameterType="java.util.Map" resultType="java.util.Map">
	
		select t1.*, acc_vouch_type.vouch_type_short || '-' || acc_vouch.vouch_no as VOUCH_NO, acc_vouch.vouch_id
from (		SELECT 
			a.group_id,a.hos_id,a.copy_code,a.apply_code,a.apply_date,a.dept_id,a.dept_no,hdd.dept_code,
			hdd.dept_name,a.proj_id,a.proj_no,hpd.proj_code,hpd.proj_name,a.emp_id,a.emp_no,hed.emp_code,
			hed.emp_name,a.payment_amount,a.remark,a.maker,u1.user_name maker_name,a.make_date,a.checker,
			u2.user_name checker_name,a.check_date,a.payer,u3.user_name payer_name,a.pay_date,a.state,
			bsd.value_name state_name,a.pay_way,apy.pay_name pay_way_name
		FROM BUDG_CHARGE_APPLY a
		LEFT JOIN HOS_DEPT_DICT hdd 
		ON
			a.group_id = hdd.group_id
			AND a.hos_id = hdd.hos_id
			AND a.dept_id = hdd.dept_id
			AND hdd.is_stop = 0
		LEFT JOIN HOS_PROJ_DICT hpd 
		ON
			a.group_id = hpd.group_id
			AND a.hos_id = hpd.hos_id
			AND a.proj_id = hpd.proj_id
			AND hpd.is_stop = 0
		LEFT JOIN HOS_EMP_DICT hed 
		ON
			a.group_id = hed.group_id
			AND a.hos_id = hed.hos_id
			AND a.emp_id = hed.emp_id
			AND hed.is_stop = 0
		LEFT JOIN SYS_USER u1 
		ON
			a.group_id = u1.group_id
			AND a.hos_id = u1.hos_id
			AND a.maker = u1.user_id
		LEFT JOIN SYS_USER u2 
		ON
			a.group_id = u2.group_id
			AND a.hos_id = u2.hos_id
			AND a.checker = u2.user_id
		LEFT JOIN SYS_USER u3 
		ON
			a.group_id = u3.group_id
			AND a.hos_id = u3.hos_id
			AND a.payer = u3.user_id
		LEFT JOIN ACC_PAY_TYPE apy 
		ON
			a.group_id = apy.group_id
			AND a.hos_id = apy.hos_id
			AND a.copy_code = apy.copy_code
			AND a.pay_way = apy.pay_code
		LEFT JOIN BUDG_SYS_DICT bsd 
		ON
			a.state = bsd.value_code
			AND bsd.f_code = 'BORROW_STATE'
			
		<where>                     
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="apply_code != null and apply_code != ''">
				AND a.apply_code = #{apply_code,jdbcType=VARCHAR}
			</if>
			<if test="apply_codes != null and apply_codes != ''">
				AND a.apply_code in (${apply_codes}) 
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND a.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND a.dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
			<if test="proj_id != null and proj_id != ''">
				AND a.proj_id = #{proj_id,jdbcType=INTEGER}
			</if>
			<if test="proj_no != null and proj_no != ''">
				AND a.proj_no = #{proj_no,jdbcType=INTEGER}
			</if>
			<if test="emp_id != null and emp_id != ''">
				AND a.emp_id = #{emp_id,jdbcType=INTEGER}
			</if>
			<if test="emp_no != null and emp_no != ''">
				AND a.emp_no = #{emp_no,jdbcType=INTEGER}
			</if>
			<if test="payment_amount != null and payment_amount != ''">
				AND a.payment_amount = #{payment_amount,jdbcType=INTEGER}
			</if>
			
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark,jdbcType=VARCHAR}
			</if>
			<if test="maker != null and maker != ''">
				AND a.maker = #{maker,jdbcType=INTEGER}
			</if>
			<if test="make_date != null and make_date != ''">
				AND a.make_date = #{make_date,jdbcType=DATE}
			</if>
			<if test="checker != null and checker != ''">
				AND a.checker = #{checker,jdbcType=INTEGER}
			</if>
			<if test="check_date != null and check_date != ''">
				AND a.check_date = #{check_date,jdbcType=DATE}
			</if>
			<if test="payer != null and payer != ''">
				AND a.payer = #{payer,jdbcType=INTEGER}
			</if>
			<if test="pay_date != null and pay_date != ''">
				AND a.pay_date = #{pay_date,jdbcType=DATE}
			</if>
			<if test="state != null and state != ''">
				AND a.state = #{state,jdbcType=VARCHAR}
			</if>
			<if test="pay_way != null and pay_way != ''">
				AND a.pay_way = #{pay_way,jdbcType=VARCHAR}
			</if>
			<if test="phone != null and phone != ''">
				AND a.phone = #{phone,jdbcType=VARCHAR}
			</if>
			<if test="card_no != null and card_no != ''">
				AND a.card_no = #{card_no,jdbcType=VARCHAR}
			</if>
			<if test="apply_date_b != null and apply_date_b != '' and apply_date_e != null and apply_date_e != ''">
				AND a.apply_date between to_date(#{apply_date_b},'yyyy/MM/dd') and to_date(#{apply_date_e},'yyyy/MM/dd')
			</if>
		</where>   
		order by a.apply_code desc) t1
    left join ACC_BUSI_LOG_0205 on ACC_BUSI_LOG_0205.group_id = #{group_id,jdbcType=INTEGER}
    and ACC_BUSI_LOG_0205.hos_id = #{hos_id,jdbcType=INTEGER}
    and ACC_BUSI_LOG_0205.copy_code = #{copy_code,jdbcType=VARCHAR}
    and t1.apply_code = ACC_BUSI_LOG_0205.BUSINESS_NO 
    left join acc_vouch on acc_vouch.group_id = ACC_BUSI_LOG_0205.group_id
    and acc_vouch.hos_id = ACC_BUSI_LOG_0205.hos_id
    and acc_vouch.copy_code = ACC_BUSI_LOG_0205.copy_code
    and acc_vouch.vouch_id = ACC_BUSI_LOG_0205.vouch_id 
      left join acc_vouch_type on acc_vouch_type.group_id = acc_vouch.group_id
    and acc_vouch_type.hos_id = acc_vouch.hos_id
    and acc_vouch_type.copy_code = acc_vouch.copy_code
    and acc_vouch_type.vouch_type_code = acc_vouch.vouch_type_code 
	</select>
	
</mapper>

