<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.payable.otherpay.BudgUnitMapper">

	<resultMap id="budgUnitMap" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="unit_id" column="unit_id"/>
		<result property="unit_name" column="unit_name"/>
		<result property="card_no" column="card_no"/>
		<result property="is_stop" column="is_stop"/>
		<result property="bank_name" column="bank_name"/>
		<result property="bank_location" column="bank_location"/>
	</resultMap>
	
	<!-- 查询序列 -->
	<select id="queryBudgUnitSeqNextVal" resultType="Integer"  flushCache="true" useCache="false">
		SELECT BUDG_UNIT_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<!-- 添加 -->
	<insert id="addBudgUnit" parameterType="java.util.Map">
		INSERT INTO BUDG_UNIT(
			group_id	,
			hos_id	,
			unit_id	,
			unit_name	,
			card_no	,
			bank_name	,
			bank_location	,
			is_stop
		) VALUES(
			#{group_id}	,
			#{hos_id}	,
			#{unit_id}	,
			#{unit_name}	,
			#{card_no}	,
			#{bank_name}	,
			#{bank_location},
			#{is_stop}
		)
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List">
		INSERT INTO BUDG_UNIT(
			group_id, hos_id, unit_id, unit_name, card_no, bank_name, bank_location, is_stop
		)
		<foreach collection="list" item="item" separator=" union all ">
			select #{item.group_id, jdbcType=INTEGER},
				   #{item.hos_id, jdbcType=INTEGER},
				   #{item.unit_id, jdbcType=INTEGER},
				   #{item.unit_name, jdbcType=VARCHAR},
				   #{item.card_no, jdbcType=VARCHAR},
				   #{item.bank_name, jdbcType=VARCHAR},
				   #{item.bank_location, jdbcType=VARCHAR},
				   #{item.is_stop, jdbcType=INTEGER}
			from dual
		</foreach>
	</insert>
	
	<insert id="addBudgUnitBatch" parameterType="java.util.List">
		INSERT INTO BUDG_UNIT(
			group_id, hos_id, unit_id, unit_name, card_no, bank_name, bank_location, is_stop
		)
		<foreach collection="list" item="item" separator=" union all ">
			select #{item.group_id, jdbcType=INTEGER},
				   #{item.hos_id, jdbcType=INTEGER},
				   #{item.unit_id, jdbcType=INTEGER},
				   #{item.unit_name, jdbcType=VARCHAR},
				   #{item.card_no, jdbcType=VARCHAR},
				   #{item.bank_name, jdbcType=VARCHAR},
				   #{item.bank_location, jdbcType=VARCHAR},
				   #{item.is_stop, jdbcType=INTEGER}
			from dual
		</foreach>
	</insert>
	
	<!-- 删除 -->
	<delete id="deleteBudgUnit" parameterType="java.util.Map">
		DELETE FROM BUDG_UNIT 
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			
			<if test="unit_id != null and unit_id != ''">
				AND unit_id = #{unit_id}
			</if>
			
			<if test="unit_name != null and unit_name != ''">
				AND unit_name = #{unit_name}
			</if>
			
			<if test="card_no != null and card_no != ''">
				AND card_no = #{card_no}
			</if>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatchBudgUnit" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin" close=" ; end ;" separator=";"> 
			DELETE FROM BUDG_UNIT 
			WHERE
				group_id = #{item.group_id}
				AND hos_id = #{item.hos_id}
				AND unit_id = #{item.unit_id}
		</foreach>
	</delete>
	
	<!-- 查询 -->
	<select id="queryBudgUnitByCode" parameterType="java.util.Map" resultMap="budgUnitMap">
		SELECT
			GROUP_ID	,
			HOS_ID	,
			UNIT_ID	,
			UNIT_NAME	,
			CARD_NO	,
			BANK_NAME	,
			BANK_LOCATION	,
			IS_STOP
		FROM BUDG_UNIT
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			
			<if test="unit_id != null and unit_id != ''">
				AND unit_id = #{unit_id}
			</if>
			
			<if test="unit_name != null and unit_name != ''">
				AND unit_name = #{unit_name}
			</if>
			
			<if test="card_no != null and card_no != ''">
				AND card_no = #{card_no}
			</if>
	</select>
	
	<update id="updateBudgUnit" parameterType="java.util.Map">
		UPDATE BUDG_UNIT
		SET
			BANK_NAME = #{bank_name}	,
			BANK_LOCATION = #{bank_location}	
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			
			<if test="unit_id != null and unit_id != ''">
				AND unit_id = #{unit_id}
			</if>
			
			<if test="unit_name != null and unit_name != ''">
				AND unit_name = #{unit_name}
			</if>
			
			<if test="card_no != null and card_no != ''">
				AND card_no	= #{card_no}
			</if>
	</update>
	 
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" open="begin" close=";end;" separator=" ; ">
			UPDATE BUDG_UNIT
			<trim prefix="set" suffixOverrides=",">
				<if test="item.card_no != null and item.card_no != ''">
					card_no = #{item.card_no, jdbcType=VARCHAR},
				</if>
				<if test="item.is_stop != null and item.is_stop != ''">
					is_stop = #{item.is_stop, jdbcType=INTEGER},
				</if>
				<if test="item.bank_name != null and item.bank_name != ''">
					bank_name = #{item.bank_name, jdbcType=VARCHAR},
				</if>
				<if test="item.bank_location != null and item.bank_location != ''">
					bank_location = #{item.bank_location, jdbcType=VARCHAR},
				</if>
				<if test="item.remark != null and item.remark != ''">
					remark = #{item.remark, jdbcType=VARCHAR},
				</if>
			    <if test="item.unit_name != null and item.unit_name != ''">
			        unit_name = #{item.unit_name, jdbcType=VARCHAR},
			  </if>
			</trim>
			WHERE group_id = #{item.group_id, jdbcType=INTEGER}
			  AND hos_id = #{item.hos_id, jdbcType=INTEGER}
			  and unit_id = #{item.unit_id, jdbcType=INTEGER}
		</foreach>
	</update>
	
	<select id="queryBudgUnit" parameterType="java.util.Map" resultMap="budgUnitMap">
		SELECT GROUP_ID,
			   HOS_ID,
			   UNIT_ID,
			   UNIT_NAME,
			   CARD_NO,
			   BANK_NAME,
			   BANK_LOCATION,
			   IS_STOP
		FROM BUDG_UNIT
		WHERE group_id = #{group_id, jdbcType=INTEGER}
		  AND hos_id = #{hos_id, jdbcType=INTEGER}
		  and is_stop = 0
		  <if test="unit_id != null and unit_id != ''">
			  AND unit_id = #{unit_id, jdbcType=INTEGER}
		  </if>
		  <if test="unit_name != null and unit_name != ''">
			  AND unit_name like '%${unit_name}%'
		  </if>
		  <if test="card_no != null and card_no != ''">
			  AND card_no = #{card_no, jdbcType=VARCHAR}
		  </if>
		  <if test="key != null and key != ''">
			  and unit_name like '${key}%' 
		  </if>	
	</select>
	
	<select id="queryBankNetIcbcCount" parameterType="java.util.Map" resultType="Integer">
		SELECT
			count(*)
		FROM acc_bank_net_icbccode
		WHERE icbc_name = #{bank_location}
	</select>
	
</mapper>

