<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.project.begin.BudgPaymentItmMapper">
	
	<resultMap id="budgPaymentItem" type="com.chd.hrp.budg.entity.BudgPaymentItem">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="payment_item_id" column="payment_item_id"/>
	<result property="payment_item_code" column="payment_item_code"/>
	<result property="payment_item_name" column="payment_item_name"/>
	<result property="item_name_all" column="item_name_all"/>
	<result property="super_code" column="super_code"/>
	<result property="item_level" column="item_level"/>
	<result property="is_last" column="is_last"/>
	<result property="payment_item_nature" column="payment_item_nature"/>
	<result property="is_manage" column="is_manage"/>
	<result property="control_way" column="control_way"/>
	<result property="is_stop" column="is_stop"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="acc_subj_manage" column="acc_subj_manage"/>
	<result property="acc_subj_medical" column="acc_subj_medical"/>
	<result property="acc_subj_education" column="acc_subj_education"/>
	<result property="acc_subj_scientific" column="acc_subj_scientific"/>
	<result property="acc_subj_financial" column="acc_subj_financial"/>
	</resultMap>
		
	<resultMap id="budgPaymentItemMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="payment_item_id" column="payment_item_id"/>
	<result property="payment_item_code" column="payment_item_code"/>
	<result property="payment_item_name" column="payment_item_name"/>
	<result property="item_name_all" column="item_name_all"/>
	<result property="super_code" column="super_code"/>
	<result property="item_level" column="item_level"/>
	<result property="is_last" column="is_last"/>
	<result property="payment_item_nature" column="payment_item_nature"/>
	<result property="is_manage" column="is_manage"/>
	<result property="control_way" column="control_way"/>
	<result property="is_stop" column="is_stop"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="acc_subj_manage" column="acc_subj_manage"/>
	<result property="acc_subj_medical" column="acc_subj_medical"/>
	<result property="acc_subj_education" column="acc_subj_education"/>
	<result property="acc_subj_scientific" column="acc_subj_scientific"/>
	<result property="acc_subj_financial" column="acc_subj_financial"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_PAYMENT_ITEM (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		payment_item_id
		,
		</if>
		<if test="payment_item_code != null and payment_item_code != ''">
		payment_item_code
		,
		</if>
		<if test="payment_item_name != null and payment_item_name != ''">
		payment_item_name
		,
		</if>
		<if test="item_name_all != null and item_name_all != ''">
		item_name_all
		,
		</if>
		<if test="super_code != null and super_code != ''">
		super_code
		,
		</if>
		<if test="item_level != null and item_level != ''">
		item_level
		,
		</if>
		<if test="is_last != null and is_last != ''">
		is_last
		,
		</if>
		<if test="payment_item_nature != null and payment_item_nature != ''">
		payment_item_nature
		,
		</if>
		<if test="is_manage != null and is_manage != ''">
		is_manage
		,
		</if>
		<if test="control_way != null and control_way != ''">
		control_way
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop
		,
		</if>
		<if test="spell_code != null and spell_code != ''">
		spell_code
		,
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		wbx_code
		,
		</if>
		<if test="acc_subj_manage != null and acc_subj_manage != ''">
		acc_subj_manage
		,
		</if>
		<if test="acc_subj_medical != null and acc_subj_medical != ''">
		acc_subj_medical
		,
		</if>
		<if test="acc_subj_education != null and acc_subj_education != ''">
		acc_subj_education
		,
		</if>
		<if test="acc_subj_scientific != null and acc_subj_scientific != ''">
		acc_subj_scientific
		,
		</if>
		<if test="acc_subj_financial != null and acc_subj_financial != ''">
		acc_subj_financial
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		#{payment_item_id,jdbcType=INTEGER}
		,
		</if>
		<if test="payment_item_code != null and payment_item_code != ''">
		#{payment_item_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="payment_item_name != null and payment_item_name != ''">
		#{payment_item_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="item_name_all != null and item_name_all != ''">
		#{item_name_all,jdbcType=VARCHAR}
		,
		</if>
		<if test="super_code != null and super_code != ''">
		#{super_code,jdbcType=INTEGER}
		,
		</if>
		<if test="item_level != null and item_level != ''">
		#{item_level,jdbcType=INTEGER}
		,
		</if>
		<if test="is_last != null and is_last != ''">
		#{is_last,jdbcType=INTEGER}
		,
		</if>
		<if test="payment_item_nature != null and payment_item_nature != ''">
		#{payment_item_nature,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_manage != null and is_manage != ''">
		#{is_manage,jdbcType=INTEGER}
		,
		</if>
		<if test="control_way != null and control_way != ''">
		#{control_way,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		#{is_stop,jdbcType=INTEGER}
		,
		</if>
		<if test="spell_code != null and spell_code != ''">
		#{spell_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		#{wbx_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="acc_subj_manage != null and acc_subj_manage != ''">
		#{acc_subj_manage,jdbcType=INTEGER}
		,
		</if>
		<if test="acc_subj_medical != null and acc_subj_medical != ''">
		#{acc_subj_medical,jdbcType=INTEGER}
		,
		</if>
		<if test="acc_subj_education != null and acc_subj_education != ''">
		#{acc_subj_education,jdbcType=INTEGER}
		,
		</if>
		<if test="acc_subj_scientific != null and acc_subj_scientific != ''">
		#{acc_subj_scientific,jdbcType=INTEGER}
		,
		</if>
		<if test="acc_subj_financial != null and acc_subj_financial != ''">
		#{acc_subj_financial,jdbcType=INTEGER}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_PAYMENT_ITEM (
		group_id
		,
		hos_id
		,
		copy_code
		,
		payment_item_id
		,
		payment_item_code
		,
		payment_item_name
		,
		item_name_all
		,
		super_code
		,
		item_level
		,
		is_last
		,
		payment_item_nature
		,
		is_manage
		,
		control_way
		,
		is_stop
		,
		spell_code
		,
		wbx_code
		,
		acc_subj_manage
		,
		acc_subj_medical
		,
		acc_subj_education
		,
		acc_subj_scientific
		,
		acc_subj_financial
		
		) select BUDG_PAYMENT_ITEM_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.payment_item_id,jdbcType=INTEGER}
			,
			#{item.payment_item_code,jdbcType=VARCHAR}
			,
			#{item.payment_item_name,jdbcType=VARCHAR}
			,
			#{item.item_name_all,jdbcType=VARCHAR}
			,
			#{item.super_code,jdbcType=INTEGER}
			,
			#{item.item_level,jdbcType=INTEGER}
			,
			#{item.is_last,jdbcType=INTEGER}
			,
			#{item.payment_item_nature,jdbcType=VARCHAR}
			,
			#{item.is_manage,jdbcType=INTEGER}
			,
			#{item.control_way,jdbcType=VARCHAR}
			,
			#{item.is_stop,jdbcType=INTEGER}
			,
			#{item.spell_code,jdbcType=VARCHAR}
			,
			#{item.wbx_code,jdbcType=VARCHAR}
			,
			#{item.acc_subj_manage,jdbcType=INTEGER}
			,
			#{item.acc_subj_medical,jdbcType=INTEGER}
			,
			#{item.acc_subj_education,jdbcType=INTEGER}
			,
			#{item.acc_subj_scientific,jdbcType=INTEGER}
			,
			#{item.acc_subj_financial,jdbcType=INTEGER}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_payment_item 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="payment_item_code != null and payment_item_code != ''">
		payment_item_code = #{payment_item_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="payment_item_name != null and payment_item_name != ''">
		payment_item_name = #{payment_item_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="item_name_all != null and item_name_all != ''">
		item_name_all = #{item_name_all,jdbcType=VARCHAR}
		,
		</if>
		<if test="super_code != null and super_code != ''">
		super_code = #{super_code,jdbcType=INTEGER}
		,
		</if>
		<if test="item_level != null and item_level != ''">
		item_level = #{item_level,jdbcType=INTEGER}
		,
		</if>
		<if test="is_last != null and is_last != ''">
		is_last = #{is_last,jdbcType=INTEGER}
		,
		</if>
		<if test="payment_item_nature != null and payment_item_nature != ''">
		payment_item_nature = #{payment_item_nature,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_manage != null and is_manage != ''">
		is_manage = #{is_manage,jdbcType=INTEGER}
		,
		</if>
		<if test="control_way != null and control_way != ''">
		control_way = #{control_way,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_stop != null and is_stop != ''">
		is_stop = #{is_stop,jdbcType=INTEGER}
		,
		</if>
		<if test="spell_code != null and spell_code != ''">
		spell_code = #{spell_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		wbx_code = #{wbx_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="acc_subj_manage != null and acc_subj_manage != ''">
		acc_subj_manage = #{acc_subj_manage,jdbcType=INTEGER}
		,
		</if>
		<if test="acc_subj_medical != null and acc_subj_medical != ''">
		acc_subj_medical = #{acc_subj_medical,jdbcType=INTEGER}
		,
		</if>
		<if test="acc_subj_education != null and acc_subj_education != ''">
		acc_subj_education = #{acc_subj_education,jdbcType=INTEGER}
		,
		</if>
		<if test="acc_subj_scientific != null and acc_subj_scientific != ''">
		acc_subj_scientific = #{acc_subj_scientific,jdbcType=INTEGER}
		,
		</if>
		<if test="acc_subj_financial != null and acc_subj_financial != ''">
		acc_subj_financial = #{acc_subj_financial,jdbcType=INTEGER}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_code != null and payment_item_code != ''">
		AND payment_item_code = #{payment_item_code,jdbcType=VARCHAR}
		</if>
		<if test="payment_item_name != null and payment_item_name != ''">
		AND payment_item_name = #{payment_item_name,jdbcType=VARCHAR}
		</if>
		<if test="item_name_all != null and item_name_all != ''">
		AND item_name_all = #{item_name_all,jdbcType=VARCHAR}
		</if>
		<if test="super_code != null and super_code != ''">
		AND super_code = #{super_code,jdbcType=INTEGER}
		</if>
		<if test="item_level != null and item_level != ''">
		AND item_level = #{item_level,jdbcType=INTEGER}
		</if>
		<if test="is_last != null and is_last != ''">
		AND is_last = #{is_last,jdbcType=INTEGER}
		</if>
		<if test="payment_item_nature != null and payment_item_nature != ''">
		AND payment_item_nature = #{payment_item_nature,jdbcType=VARCHAR}
		</if>
		<if test="is_manage != null and is_manage != ''">
		AND is_manage = #{is_manage,jdbcType=INTEGER}
		</if>
		<if test="control_way != null and control_way != ''">
		AND control_way = #{control_way,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code,jdbcType=VARCHAR}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
		</if>
		<if test="acc_subj_manage != null and acc_subj_manage != ''">
		AND acc_subj_manage = #{acc_subj_manage,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_medical != null and acc_subj_medical != ''">
		AND acc_subj_medical = #{acc_subj_medical,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_education != null and acc_subj_education != ''">
		AND acc_subj_education = #{acc_subj_education,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_scientific != null and acc_subj_scientific != ''">
		AND acc_subj_scientific = #{acc_subj_scientific,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_financial != null and acc_subj_financial != ''">
		AND acc_subj_financial = #{acc_subj_financial,jdbcType=INTEGER}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_payment_item 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.payment_item_code != null and item.payment_item_code != ''">
			payment_item_code = #{item.payment_item_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.payment_item_name != null and item.payment_item_name != ''">
			payment_item_name = #{item.payment_item_name,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.item_name_all != null and item.item_name_all != ''">
			item_name_all = #{item.item_name_all,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.super_code != null and item.super_code != ''">
			super_code = #{item.super_code,jdbcType=INTEGER}
			,
			</if>
			<if test="item.item_level != null and item.item_level != ''">
			item_level = #{item.item_level,jdbcType=INTEGER}
			,
			</if>
			<if test="item.is_last != null and item.is_last != ''">
			is_last = #{item.is_last,jdbcType=INTEGER}
			,
			</if>
			<if test="item.payment_item_nature != null and item.payment_item_nature != ''">
			payment_item_nature = #{item.payment_item_nature,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.is_manage != null and item.is_manage != ''">
			is_manage = #{item.is_manage,jdbcType=INTEGER}
			,
			</if>
			<if test="item.control_way != null and item.control_way != ''">
			control_way = #{item.control_way,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.is_stop != null and item.is_stop != ''">
			is_stop = #{item.is_stop,jdbcType=INTEGER}
			,
			</if>
			<if test="item.spell_code != null and item.spell_code != ''">
			spell_code = #{item.spell_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.wbx_code != null and item.wbx_code != ''">
			wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.acc_subj_manage != null and item.acc_subj_manage != ''">
			acc_subj_manage = #{item.acc_subj_manage,jdbcType=INTEGER}
			,
			</if>
			<if test="item.acc_subj_medical != null and item.acc_subj_medical != ''">
			acc_subj_medical = #{item.acc_subj_medical,jdbcType=INTEGER}
			,
			</if>
			<if test="item.acc_subj_education != null and item.acc_subj_education != ''">
			acc_subj_education = #{item.acc_subj_education,jdbcType=INTEGER}
			,
			</if>
			<if test="item.acc_subj_scientific != null and item.acc_subj_scientific != ''">
			acc_subj_scientific = #{item.acc_subj_scientific,jdbcType=INTEGER}
			,
			</if>
			<if test="item.acc_subj_financial != null and item.acc_subj_financial != ''">
			acc_subj_financial = #{item.acc_subj_financial,jdbcType=INTEGER}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.payment_item_id != null and item.payment_item_id != ''">
			AND payment_item_id = #{item.payment_item_id,jdbcType=INTEGER}
			</if>  
			<if test="item.payment_item_code != null and item.payment_item_code != ''">
			AND payment_item_code = #{item.payment_item_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.payment_item_name != null and item.payment_item_name != ''">
			AND payment_item_name = #{item.payment_item_name,jdbcType=VARCHAR}
			</if>  
			<if test="item.item_name_all != null and item.item_name_all != ''">
			AND item_name_all = #{item.item_name_all,jdbcType=VARCHAR}
			</if>  
			<if test="item.super_code != null and item.super_code != ''">
			AND super_code = #{item.super_code,jdbcType=INTEGER}
			</if>  
			<if test="item.item_level != null and item.item_level != ''">
			AND item_level = #{item.item_level,jdbcType=INTEGER}
			</if>  
			<if test="item.is_last != null and item.is_last != ''">
			AND is_last = #{item.is_last,jdbcType=INTEGER}
			</if>  
			<if test="item.payment_item_nature != null and item.payment_item_nature != ''">
			AND payment_item_nature = #{item.payment_item_nature,jdbcType=VARCHAR}
			</if>  
			<if test="item.is_manage != null and item.is_manage != ''">
			AND is_manage = #{item.is_manage,jdbcType=INTEGER}
			</if>  
			<if test="item.control_way != null and item.control_way != ''">
			AND control_way = #{item.control_way,jdbcType=VARCHAR}
			</if>  
			<if test="item.is_stop != null and item.is_stop != ''">
			AND is_stop = #{item.is_stop,jdbcType=INTEGER}
			</if>  
			<if test="item.spell_code != null and item.spell_code != ''">
			AND spell_code = #{item.spell_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.wbx_code != null and item.wbx_code != ''">
			AND wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.acc_subj_manage != null and item.acc_subj_manage != ''">
			AND acc_subj_manage = #{item.acc_subj_manage,jdbcType=INTEGER}
			</if>  
			<if test="item.acc_subj_medical != null and item.acc_subj_medical != ''">
			AND acc_subj_medical = #{item.acc_subj_medical,jdbcType=INTEGER}
			</if>  
			<if test="item.acc_subj_education != null and item.acc_subj_education != ''">
			AND acc_subj_education = #{item.acc_subj_education,jdbcType=INTEGER}
			</if>  
			<if test="item.acc_subj_scientific != null and item.acc_subj_scientific != ''">
			AND acc_subj_scientific = #{item.acc_subj_scientific,jdbcType=INTEGER}
			</if>  
			<if test="item.acc_subj_financial != null and item.acc_subj_financial != ''">
			AND acc_subj_financial = #{item.acc_subj_financial,jdbcType=INTEGER}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_payment_item 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_code != null and payment_item_code != ''">
		AND payment_item_code = #{payment_item_code,jdbcType=VARCHAR}
		</if>
		<if test="payment_item_name != null and payment_item_name != ''">
		AND payment_item_name = #{payment_item_name,jdbcType=VARCHAR}
		</if>
		<if test="item_name_all != null and item_name_all != ''">
		AND item_name_all = #{item_name_all,jdbcType=VARCHAR}
		</if>
		<if test="super_code != null and super_code != ''">
		AND super_code = #{super_code,jdbcType=INTEGER}
		</if>
		<if test="item_level != null and item_level != ''">
		AND item_level = #{item_level,jdbcType=INTEGER}
		</if>
		<if test="is_last != null and is_last != ''">
		AND is_last = #{is_last,jdbcType=INTEGER}
		</if>
		<if test="payment_item_nature != null and payment_item_nature != ''">
		AND payment_item_nature = #{payment_item_nature,jdbcType=VARCHAR}
		</if>
		<if test="is_manage != null and is_manage != ''">
		AND is_manage = #{is_manage,jdbcType=INTEGER}
		</if>
		<if test="control_way != null and control_way != ''">
		AND control_way = #{control_way,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code,jdbcType=VARCHAR}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
		</if>
		<if test="acc_subj_manage != null and acc_subj_manage != ''">
		AND acc_subj_manage = #{acc_subj_manage,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_medical != null and acc_subj_medical != ''">
		AND acc_subj_medical = #{acc_subj_medical,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_education != null and acc_subj_education != ''">
		AND acc_subj_education = #{acc_subj_education,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_scientific != null and acc_subj_scientific != ''">
		AND acc_subj_scientific = #{acc_subj_scientific,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_financial != null and acc_subj_financial != ''">
		AND acc_subj_financial = #{acc_subj_financial,jdbcType=INTEGER}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_payment_item 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.payment_item_id != null and item.payment_item_id != ''">
				AND payment_item_id = #{item.payment_item_id,jdbcType=INTEGER}
				</if>	
			</foreach>
	    </where>  
	</delete>
	<select id="query" resultMap="budgPaymentItemMap" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		payment_item_id,
		payment_item_code,
		payment_item_name,
		item_name_all,
		super_code,
		item_level,
		is_last,
		payment_item_nature,
		is_manage,
		control_way,
		is_stop,
		spell_code,
		wbx_code,
		acc_subj_manage,
		acc_subj_medical,
		acc_subj_education,
		acc_subj_scientific,
		acc_subj_financial
		FROM BUDG_PAYMENT_ITEM 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryByCode" resultMap="budgPaymentItem"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		payment_item_id,
		payment_item_code,
		payment_item_name,
		item_name_all,
		super_code,
		item_level,
		is_last,
		payment_item_nature,
		is_manage,
		control_way,
		is_stop,
		spell_code,
		wbx_code,
		acc_subj_manage,
		acc_subj_medical,
		acc_subj_education,
		acc_subj_scientific,
		acc_subj_financial
		FROM budg_payment_item 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		payment_item_id = #{payment_item_id,jdbcType=INTEGER} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgPaymentItem"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		payment_item_id,
		payment_item_code,
		payment_item_name,
		item_name_all,
		super_code,
		item_level,
		is_last,
		payment_item_nature,
		is_manage,
		control_way,
		is_stop,
		spell_code,
		wbx_code,
		acc_subj_manage,
		acc_subj_medical,
		acc_subj_education,
		acc_subj_scientific,
		acc_subj_financial
		FROM BUDG_PAYMENT_ITEM 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_code != null and payment_item_code != ''">
		AND payment_item_code = #{payment_item_code,jdbcType=VARCHAR}
		</if>
		<if test="payment_item_name != null and payment_item_name != ''">
		AND payment_item_name = #{payment_item_name,jdbcType=VARCHAR}
		</if>
		<if test="item_name_all != null and item_name_all != ''">
		AND item_name_all = #{item_name_all,jdbcType=VARCHAR}
		</if>
		<if test="super_code != null and super_code != ''">
		AND super_code = #{super_code,jdbcType=INTEGER}
		</if>
		<if test="item_level != null and item_level != ''">
		AND item_level = #{item_level,jdbcType=INTEGER}
		</if>
		<if test="is_last != null and is_last != ''">
		AND is_last = #{is_last,jdbcType=INTEGER}
		</if>
		<if test="payment_item_nature != null and payment_item_nature != ''">
		AND payment_item_nature = #{payment_item_nature,jdbcType=VARCHAR}
		</if>
		<if test="is_manage != null and is_manage != ''">
		AND is_manage = #{is_manage,jdbcType=INTEGER}
		</if>
		<if test="control_way != null and control_way != ''">
		AND control_way = #{control_way,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code,jdbcType=VARCHAR}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
		</if>
		<if test="acc_subj_manage != null and acc_subj_manage != ''">
		AND acc_subj_manage = #{acc_subj_manage,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_medical != null and acc_subj_medical != ''">
		AND acc_subj_medical = #{acc_subj_medical,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_education != null and acc_subj_education != ''">
		AND acc_subj_education = #{acc_subj_education,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_scientific != null and acc_subj_scientific != ''">
		AND acc_subj_scientific = #{acc_subj_scientific,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_financial != null and acc_subj_financial != ''">
		AND acc_subj_financial = #{acc_subj_financial,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgPaymentItem"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		payment_item_id,
		payment_item_code,
		payment_item_name,
		item_name_all,
		super_code,
		item_level,
		is_last,
		payment_item_nature,
		is_manage,
		control_way,
		is_stop,
		spell_code,
		wbx_code,
		acc_subj_manage,
		acc_subj_medical,
		acc_subj_education,
		acc_subj_scientific,
		acc_subj_financial
		FROM BUDG_PAYMENT_ITEM 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="payment_item_id != null and payment_item_id != ''">
		AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		</if>
		<if test="payment_item_code != null and payment_item_code != ''">
		AND payment_item_code = #{payment_item_code,jdbcType=VARCHAR}
		</if>
		<if test="payment_item_name != null and payment_item_name != ''">
		AND payment_item_name = #{payment_item_name,jdbcType=VARCHAR}
		</if>
		<if test="item_name_all != null and item_name_all != ''">
		AND item_name_all = #{item_name_all,jdbcType=VARCHAR}
		</if>
		<if test="super_code != null and super_code != ''">
		AND super_code = #{super_code,jdbcType=INTEGER}
		</if>
		<if test="item_level != null and item_level != ''">
		AND item_level = #{item_level,jdbcType=INTEGER}
		</if>
		<if test="is_last != null and is_last != ''">
		AND is_last = #{is_last,jdbcType=INTEGER}
		</if>
		<if test="payment_item_nature != null and payment_item_nature != ''">
		AND payment_item_nature = #{payment_item_nature,jdbcType=VARCHAR}
		</if>
		<if test="is_manage != null and is_manage != ''">
		AND is_manage = #{is_manage,jdbcType=INTEGER}
		</if>
		<if test="control_way != null and control_way != ''">
		AND control_way = #{control_way,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop,jdbcType=INTEGER}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code,jdbcType=VARCHAR}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
		</if>
		<if test="acc_subj_manage != null and acc_subj_manage != ''">
		AND acc_subj_manage = #{acc_subj_manage,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_medical != null and acc_subj_medical != ''">
		AND acc_subj_medical = #{acc_subj_medical,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_education != null and acc_subj_education != ''">
		AND acc_subj_education = #{acc_subj_education,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_scientific != null and acc_subj_scientific != ''">
		AND acc_subj_scientific = #{acc_subj_scientific,jdbcType=INTEGER}
		</if>
		<if test="acc_subj_financial != null and acc_subj_financial != ''">
		AND acc_subj_financial = #{acc_subj_financial,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

