<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.project.begin.BudgProjBeginMapper">
			
			<resultMap id="budgProjBegain" type="com.chd.hrp.budg.entity.BudgProjBegain">
			<result property="group_id" column="group_id"/>
			<result property="hos_id" column="hos_id"/>	
			<result property="budg_year" column="budg_year"/>	
			<result property="proj_id" column="proj_id"/>
			<result property="source_id" column="source_id"/>
			<result property="budg_amount" column="budg_amount"/>
			<result property="in_amount" column="in_amount"/>
			<result property="cost_amount" column="cost_amount"/>
			<result property="remain_amount" column="remain_amount"/>
			<result property="checker" column="checker"/>
			<result property="check_date" column="check_date"/>
			<result property="state" column="state"/>
			</resultMap>
	
	
	
			<resultMap type="java.util.Map" id="budgProjBegainMap">
			<result property="proj_no" column="proj_no"/>
			<result property="proj_name" column="proj_name"/>
			<result property="group_id" column="group_id"/>
			<result property="hos_id" column="hos_id"/>	
			<result property="copy_code" column="copy_code"/>	
			<result property="budg_year" column="budg_year"/>	
			<result property="proj_id" column="proj_id"/>
			<result property="source_id" column="source_id"/>
			<result property="source_name" column="source_name"/>
			<result property="budg_amount" column="budg_amount"/>
			<result property="in_amount" column="in_amount"/>
			<result property="cost_amount" column="cost_amount"/>
			<result property="remain_amount" column="remain_amount"/>
			<result property="con_emp_name" column="con_emp_name"/>
			<result property="checker" column="checker"/>
			<result property="maker" column="maker"/>	
			<result property="b_usable_amount" column="b_usable_amount"/>
			<result property="usable_amount" column="usable_amount"/>
			<result property="b_remain_amount" column="b_remain_amount"/>
			<result property="maker_name" column="maker_name"/>
			<result property="check_name" column="check_name"/>
			<result property="check_date" column="check_date"/>
			<result property="payment_item_id" column="payment_item_id"/>
			<result property="payment_item_name" column="payment_item_name"/>
			<result property="state" column="state"/>
			<result property="text" column="text"/>
			<result property="budg_year_min" column="budg_year_min"/>
			
					
			<result property="mark_date" column="mark_date"/>		
			</resultMap>
			
			
			<resultMap type="java.util.Map" id="budgProjBegainDetailMap">
			<result property="group_id" column="group_id"/>
			<result property="hos_id" column="hos_id"/>
			<result property="copy_code" column="copy_code"/>
			<result property="budg_year" column="budg_year"/>	
			<result property="proj_id" column="proj_id"/>	
			<result property="source_id" column="source_id"/>	
			<result property="payment_item_id" column="payment_item_id"/>
			<result property="payment_item_no" column="payment_item_no"/>
			<result property="b_remain_amount" column="b_remain_amount"/>
			<result property="budg_amount" column="budg_amount"/>
			<result property="cost_amount" column="cost_amount"/>
			<result property="remain_amount" column="remain_amount"/>
			</resultMap>
			
			
			<resultMap type="java.util.Map" id="hrpBudgSelectMap">
			<result property="ids" column="ids" />
			<result property="texts" column="texts" />
			<result property="itemid" column="itemid" />
			<result property="itemtext" column="itemtext" />
			<result property="idno" column="idno" />
			<result property="textno" column="textno" />
			<result property="idyear" column="idyear" />
			<result property="textyear" column="textyear" />
			</resultMap>
			
			
			<resultMap type="java.util.Map" id="BudgSourceNumMap">
			<result  property="source_id"  column="source_id"/>
			<result property="source_code"  column="source_code"/>
			<result  property="source_name"  column="source_name"/>
			</resultMap>
			
			<resultMap type="java.util.Map" id="BudgProjDictMap">
			<result property="proj_id"   column="proj_id"/>
		    <result property="proj_code"  column="proj_code"/>
			<result property="proj_name"  column="proj_name"/>
			</resultMap>
			<resultMap type="java.util.Map" id="BudgPaymentItemDictMap">
			<result property="payment_item_no"   column="payment_item_no"/>
		    <result property="payment_item_id"  column="payment_item_id"/>
			<result property="payment_item_code"  column="payment_item_code"/>
			<result property="payment_item_name"  column="payment_item_name"/>
			</resultMap>
	
		<select id="query" resultMap="budgProjBegainMap">
			select 
			   a.group_id,
		       a.hos_id,
		       a.copy_code,
		       a.budg_year,
		       a.proj_id,
		       b.proj_name,
		       b.proj_name as text,
		       nvl(a.b_usable_amount, 0) b_usable_amount,
		       nvl(a.b_remain_amount, 0) b_remain_amount,
		       a.source_id,
		       c.source_name,
		       nvl(a.budg_amount, 0) budg_amount,
		       nvl(a.in_amount, 0) in_amount,
		       nvl(a.cost_amount, 0) cost_amount,
		       nvl(a.remain_amount, 0) remain_amount,
		       nvl(a.usable_amount, 0) usable_amount,
		       con_emp_id, 
		       a.maker,
		       e.emp_name as maker_name,
		       f.emp_name as check_name,
               a.make_date,
               a.checker,
               a.check_date,
               a.state,
               g.emp_name  as con_emp_name
          from budg_proj_begain a

		  left join hos_proj_dict b											
			    on a.group_id = b.group_id
			   and a.hos_id = b.hos_id
			   and a.proj_id = b.proj_id
			   and b.is_stop = 0

		  left join hos_source c
				on 
					a.group_id = c.group_id
			    	and a.hos_id = c.hos_id
			    	and a.source_id = c.source_id
			        and c.is_stop = 0
			  left join acc_proj_attr d
				    on a.group_id = d.group_id
				   and a.hos_id = d.hos_id
				   and a.proj_id = d.proj_id
			  left join hos_emp_dict g on 
					    d.group_id=g.group_id
					    and d.hos_id=g.hos_id
					    and d.con_emp_id=g.emp_id
					    and g.is_stop=0							
			  left join hos_emp_dict e
					    on a.group_id = e.group_id
					   and a.hos_id = e.hos_id
					   and a.maker = e.emp_id
					   and c.is_stop = 0
			  left join hos_emp_dict f
					    on a.group_id = f.group_id
					   and a.hos_id = f.hos_id
					   and a.checker = f.emp_id
					   and f.is_stop = 0
																	         
		 where 		  
		 	a.group_id=#{group_id}
            and  a.hos_id=#{hos_id}
   			and a.copy_code=#{copy_code}				          
	        <if test="budg_year !='' and budg_year!=null">
	         and  a.budg_year=#{budg_year}
	        </if>
	        <if test="proj_name != null and proj_name != ''">
			AND (
			       b.proj_code like '%${proj_name}%' or
					b.proj_name like '%${proj_name}%' or
				    b.spell_code like '%${proj_name}%' or
				     b.wbx_code like '%${proj_name}%'
				)
			</if>
			
	        <if test="proj_id !='' and proj_id!=null">
	        	and  a.proj_id=#{proj_id}
	        </if>
	        <if test=" source_id!='' and source_id!=null">
	        	and  a.source_id=#{source_id}
	        </if>
	        
	         <if test="state !='' and state!=null">
	            and  a.state=#{state}
	        </if>
	        
	        <if test="con_emp_id !='' and con_emp_id !=null">
	            and  con_emp_id=#{con_emp_id}
	        </if> 	
			        
              order by a.group_id
		</select>	
	
	    <select id="querybudgProjBegin" parameterType="java.util.Map" resultMap="budgProjBegain" >
	      	
				SELECT										 
					group_id,
					hos_id,
					copy_code,
					budg_year,
					proj_id,
					source_id,
					budg_amount,
					in_amount,
					cost_amount,
					remain_amount,
					checker,
					check_date,
					state
					FROM BUDG_PROJ_BEGAIN 
					<where>
						 	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
									<if test="item.group_id != null and item.group_id != ''">
									group_id = #{item.group_id,jdbcType=INTEGER}
									</if>
									<if test="item.hos_id != null and item.hos_id != ''">
									AND hos_id = #{item.hos_id,jdbcType=INTEGER}
									</if>
									<if test="item.copy_code != null and item.copy_code != ''">
									AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
									</if>
									<if test="item.proj_id != null and item.proj_id != ''">
									AND proj_id = #{item.proj_id,jdbcType=INTEGER}
									</if>
									<if test="item.source_id != null and item.source_id != ''">
									AND source_id = #{item.source_id,jdbcType=INTEGER}
									</if>
							</foreach>                    
						
					</where>   
						
				order by group_id asc
				
	      </select>
	      
	      
	    <select id="queryExists" resultMap="budgProjBegain"  parameterType="java.util.Map" >
	
				SELECT 
						group_id,
						hos_id,
						copy_code,
						budg_year,
						proj_id,
						source_id,
						budg_amount,
						in_amount,
						cost_amount,
						remain_amount,
						checker,
						check_date,
						state							
				FROM BUDG_PROJ_BEGAIN 
						
				<where>                     
					<if test="group_id != null and group_id != ''">
					AND group_id = #{group_id,jdbcType=INTEGER}
					</if>
					
					<if test="hos_id != null and hos_id != ''">
					AND hos_id = #{hos_id,jdbcType=INTEGER}
					</if>
					
					<if test="copy_code != null and copy_code != ''">
					AND copy_code = #{copy_code,jdbcType=VARCHAR}
					</if>
					
					<if test="budg_year != null and budg_year != ''">
					AND budg_year = #{budg_year,jdbcType=VARCHAR}
					</if>
					
					<if test="proj_id != null and proj_id != ''">
					AND proj_id = #{proj_id,jdbcType=INTEGER}
					</if>
					
					<if test="source_id != null and source_id != ''">
					AND source_id = #{source_id,jdbcType=INTEGER}
					</if>
					
					<if test="budg_amount != null and budg_amount != ''">
					AND budg_amount = #{budg_amount,jdbcType=INTEGER}
					</if>
					
					<if test="in_amount != null and in_amount != ''">
					AND in_amount = #{in_amount,jdbcType=INTEGER}
					</if>
					
					<if test="cost_amount != null and cost_amount != ''">
					AND cost_amount = #{cost_amount,jdbcType=INTEGER}
					</if>
					
					<if test="remain_amount != null and remain_amount != ''">
					AND remain_amount = #{remain_amount,jdbcType=INTEGER}
					</if>
					<if test="checker != null and checker != ''">
					AND checker = #{checker,jdbcType=INTEGER}
					</if>
					
					<if test="check_date != null and check_date != ''">
					AND check_date = #{check_date,jdbcType=DATE}
					</if>
					
					<if test="state != null and state != ''">
					AND state = #{state,jdbcType=VARCHAR}
					</if>
									
				</where>   
		   		order by group_id asc
		   		
		</select>
	
	
	
		<delete id="deleteBatch" parameterType="java.util.List">
		
			DELETE FROM budg_proj_begain 
			
			<where>
				<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				
						<if test="item.group_id != null and item.group_id != ''">
						group_id = #{item.group_id,jdbcType=INTEGER}
						</if>
						<if test="item.hos_id != null and item.hos_id != ''">
						AND hos_id = #{item.hos_id,jdbcType=INTEGER}
						</if>
						<if test="item.copy_code != null and item.copy_code != ''">
						AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
						</if>
						<if test="item.budg_year != null and item.budg_year != ''">
						AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
						</if>
						<if test="item.proj_id != null and item.proj_id != ''">
						AND proj_id = #{item.proj_id,jdbcType=INTEGER}
						</if>
						<if test="item.source_id != null and item.source_id != ''">
						AND source_id = #{item.source_id,jdbcType=INTEGER}
						</if>
				</foreach>
						
		    </where>  
		</delete>	
		
		
		<insert id="addBatch" parameterType="java.util.List" >

			INSERT INTO BUDG_PROJ_BEGAIN (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			proj_id
			,
			source_id
			,
			budg_amount
			,
			in_amount
			,
			cost_amount
			,
			remain_amount
			,
			checker
			,
			b_remain_amount,
			b_usable_amount,
			check_date
			,
			usable_amount,
			state
						
			) select  t.* from(
			
			<foreach collection="list" item="item" index="index" separator=" union all " >
			
				select 		
						#{item.group_id,jdbcType=INTEGER}
						,
						#{item.hos_id,jdbcType=INTEGER}
						,
						#{item.copy_code,jdbcType=VARCHAR}
						,
						#{item.budg_year,jdbcType=VARCHAR}
						,
						#{item.proj_id,jdbcType=INTEGER}
						,
						#{item.source_id,jdbcType=INTEGER}
						,
						#{item.budg_amount,jdbcType=INTEGER}
						,
						#{item.in_amount,jdbcType=INTEGER}
						,
						#{item.cost_amount,jdbcType=INTEGER}
						,
						#{item.remain_amount,jdbcType=INTEGER}
						,
						#{item.checker,jdbcType=INTEGER}
						,
						#{item.b_remain_amount,jdbcType=INTEGER}
						,
						#{item.b_usable_amount,jdbcType=INTEGER}
						,
						#{item.check_date,jdbcType=DATE}
						,
						#{item.usable_amount,jdbcType=INTEGER}
						,
						#{item.state,jdbcType=VARCHAR}
				
			    from dual
			    
			</foreach>
					)t
		</insert>
		
		
	<select id="queryByCode" resultMap="budgProjBegain"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			proj_id,
			source_id,
			budg_amount,
			in_amount,
			cost_amount,
			remain_amount,
			checker,
			check_date,
			state
		FROM budg_proj_begain 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			
			copy_code = #{copy_code,jdbcType=VARCHAR}   and
			 
			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
			
			proj_id = #{proj_id,jdbcType=INTEGER}   and 
			
			source_id = #{source_id,jdbcType=INTEGER} 
					
	</select>
					
					
	
	<!-- 资金来源下拉框   -->
	<select id="queryBudgSourceId" resultMap="hrpBudgSelectMap" parameterType="java.util.Map">
	
			SELECT
				source_id ids,
				source_name texts
			FROM hos_source
			<where>
				<if test=" group_id != null and  group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
				</if>
				<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				</if>
			</where>
				order by source_id
				
	</select>
		
		
		
	<!-- 资金来源下拉框   -->
	<select id="queryBudgSourceName" resultMap="hrpBudgSelectMap" parameterType="java.util.Map">
	
			SELECT
				source_code id,
				source_name text
				FROM hos_source
			<where>
				<if test=" group_id != null and  group_id != ''">
				group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				</if>
			</where>
				order by source_id
						
	</select>
					
	<!-- 支出项目下拉框 -->
	<select id="queryBudgPaymentItemId" resultMap="hrpBudgSelectMap" parameterType="java.util.Map">
	
			SELECT
				payment_item_id itemid,
				payment_item_code itemtext
			FROM budg_payment_item

			<where>
				<if test=" group_id != null and  group_id != ''">
				group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				</if>
			</where>
													
			order by payment_item_id
							
	</select>
	
	
	<!-- 支出项目变更号下拉框  -->
	<select id="queryBudgPaymentItemNo" resultMap="hrpBudgSelectMap" parameterType="java.util.Map">
       select 
	       bpid.payment_item_id || ',' || bpid.payment_item_no as idno,						
		   bpid.payment_item_code || ' ' || bpid.payment_item_name as textno
	   from budg_payment_item_dict bpid
	   where bpid.group_id = #{group_id}
             AND bpid.hos_id = #{hos_id}
             AND bpid.copy_code = #{copy_code}
             AND bpid.is_last = 1
             AND bpid.is_stop = 0
	</select>	
					
	<!-- 期初项目预算记账状态查询  -->
	<select id="queryBegainMark" resultMap="budgProjBegainMap" parameterType="java.util.Map">
		select   
			nvl(state,0) state,
			mark_date
	    from budg_proj_begain_mark
		where 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>	
					
	<!-- 期初项目预算记账BUDG_PROJ_BEGAIN中proj_id -->
	<select id="queryProjId" resultMap="budgProjBegainMap">
		SELECT proj_id
		from budg_proj_begain
	       where 
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}	
	</select>	
				
				
				
				
	<update id="BudgProjBegainAudit" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_begain set
			state = #{item.state,jdbcType=VARCHAR},
			checker=#{item.checker,jdbcType=INTEGER},
			check_date=#{item.check_date,jdbcType=DATE}				
			<where>                     
				<if test="item.group_id != null and item.group_id != ''">
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>  
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>  
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>  
				<if test="item.budg_year != null and item.budg_year != ''">
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				</if>  
				 <if test="item.proj_id != null and item.proj_id!= ''">
				AND proj_id = #{item.proj_id,jdbcType=INTEGER}
				</if>  
				<if test="item.source_id != null and item.source_id!= ''">
				AND source_id = #{item.source_id,jdbcType=INTEGER}
				</if>  										
			</where>  			
		</foreach>
		
	</update>
	
	
	
	<update id="UnBudgProjBegainAudit" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_begain set
				state = #{item.state,jdbcType=VARCHAR},
				maker=#{item.maker,jdbcType=INTEGER},
				make_date=#{item.make_date,jdbcType=DATE}
				<where>                     
						<if test="item.group_id != null and item.group_id != ''">
						AND group_id = #{item.group_id,jdbcType=INTEGER}
						</if>  
						<if test="item.hos_id != null and item.hos_id != ''">
						AND hos_id = #{item.hos_id,jdbcType=INTEGER}
						</if>  
						<if test="item.copy_code != null and item.copy_code != ''">
						AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
						</if>  
						<if test="item.budg_year != null and item.budg_year != ''">
						AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
						</if>  
						 <if test="item.proj_id != null and item.proj_id!= ''">
						AND proj_id = #{item.proj_id,jdbcType=INTEGER}
						</if>   
				        <if test="item.source_id != null and item.source_id!= ''">
						AND source_id = #{item.source_id,jdbcType=INTEGER}
						</if>  
				</where>  			
		</foreach>
		
	</update>
	
	
	<update id="update" parameterType="java.util.Map">

		UPDATE budg_proj_begain 
	
			<trim prefix="SET"  suffixOverrides=","> 
			
				<if test="budg_amount != null and budg_amount != ''">
				budg_amount = #{budg_amount,jdbcType=INTEGER}
				,
				</if>
				<if test="in_amount != null and in_amount != ''">
				in_amount = #{in_amount,jdbcType=INTEGER}
				,
				</if>
				<if test="cost_amount != null and cost_amount != ''">
				cost_amount = #{cost_amount,jdbcType=INTEGER}
				,
				</if>
				<if test="remain_amount != null and remain_amount != ''">
				remain_amount = #{remain_amount,jdbcType=INTEGER}
				,
				</if>
				<if test="b_usable_amount != null and b_usable_amount != ''">
				b_usable_amount = #{b_usable_amount,jdbcType=INTEGER}
				,
				</if>
				<if test="b_remain_amount != null and b_remain_amount != ''">
				b_remain_amount = #{b_remain_amount,jdbcType=INTEGER}
				,
				</if>
				<if test="checker != null and checker != ''">
				checker = #{checker,jdbcType=INTEGER}
				,
				</if>
				<if test="check_date != null and check_date != ''">
				check_date = #{check_date,jdbcType=DATE}
				,
				</if>
				<if test="state != null and state != ''">
				state = #{state,jdbcType=VARCHAR}
				,
				</if>
						
			</trim>
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
           <if test="proj_id != null and proj_id != ''">
			AND proj_id = #{proj_id,jdbcType=INTEGER}
			</if>
			<if test="source_id != null and source_id != ''">
			AND source_id = #{source_id,jdbcType=INTEGER}
			</if>
		</where>  
	</update>

	
	 <!--  项目名称（proj_name） 下拉框 -->
	
	 <select id="queryBudgProjName" resultMap="hrpBudgSelectMap">
		select 
			  hpd.proj_id ||','|| hpd.proj_no as idno ,
	          hpd.proj_code||' '|| hpd.proj_name as textno
        from hos_proj_dict hpd
	    where
	    	hpd.group_id = #{group_id}
			AND hpd.hos_id = #{hos_id}
			AND hpd.is_stop = 0 
	</select>
	
	
	<!-- 预算年度下拉框 -->
	<select id="queryBudgYear" resultMap="hrpBudgSelectMap">
		SELECT
		t.acc_year idyear,
		t.acc_year textyear
		FROM (select distinct acc_year   from acc_year
				where group_id = ${group_id} and hos_id = ${hos_id} and copy_code = #{copy_code} 
				) t
		<where>
			<if test="key != null and key != ''">
				AND  t.acc_year like '${key}%' 
					
			</if>
		</where>
		order by t.acc_year desc
												
	</select>
				
				
	<select id="querybudgProjBegain" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
						SELECT 
						count(proj_id)
						
   		FROM budg_proj_begain 

							WHERE 
							group_id = #{group_id,jdbcType=INTEGER}   and 
							hos_id = #{hos_id,jdbcType=INTEGER}   and 
							copy_code = #{copy_code,jdbcType=VARCHAR} and 
							proj_id = #{proj_id,jdbcType=INTEGER}   and 
							source_id = #{source_id,jdbcType=INTEGER} and
							budg_year = #{budg_year,jdbcType=VARCHAR}      
	
	</select>
				

	<select id="queryByProjIdOrSourceId" resultMap="budgProjBegainMap" parameterType="java.util.Map">
		 select group_id,
		        hos_id,
		        copy_code,
		        budg_year,
		        proj_id,
		        source_id,
		        b_remain_amount,
		        b_usable_amount,
		        budg_amount,
		        in_amount,
		        cost_amount,
		        remain_amount,
		        usable_amount,
		        maker,
		        make_date,
		        checker,
		        check_date,
		        state
		   from budg_proj_begain
		  where group_id = #{group_id}
		    and hos_id = #{hos_id}
		    and copy_code = #{copy_code}
		    and budg_year = #{budg_year}
		    and proj_id = #{proj_id}
		    and source_id = #{source_id}
				
	</select>
	
	<select id="querybudgProjBegainDetail" resultType="java.lang.Integer"  parameterType="java.util.Map" >
				
		SELECT 	count(proj_id)
		FROM budg_proj_begain_detail
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR} and 
		proj_id = #{proj_id,jdbcType=INTEGER}   and 
		source_id = #{source_id,jdbcType=INTEGER}  and 
		payment_item_id= #{payment_item_id,jdbcType=INTEGER} and 
		budg_year = #{budg_year,jdbcType=VARCHAR}  
	</select>
				
	<insert id="add"  >
	
		INSERT INTO BUDG_PROJ_BEGAIN (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="budg_year != null and budg_year != ''">
		budg_year
		,
		</if>
		<if test="proj_id != null and proj_id != ''">
		proj_id
		,
		</if>
		<if test="source_id != null and source_id != ''">
		source_id
		,    
		</if>  
		<if test="b_remain_amount != null and b_remain_amount != ''">
		b_remain_amount
		,
		</if>  
		<if test="b_usable_amount != null and b_usable_amount != ''">
		b_usable_amount
		,
		</if>
		<if test="budg_amount != null and budg_amount != ''">
		budg_amount
		,
		</if>
		<if test="in_amount != null and in_amount != ''">
		in_amount
		,
		</if>
		<if test="cost_amount != null and cost_amount != ''">
		cost_amount
		,
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		remain_amount
		,
		</if> 
		<if test="usable_amount != null and usable_amount != ''">
		usable_amount
		,
		</if> 
		<if test="maker != null and maker != ''">
		maker
		,    
		</if>
		<if test="make_date != null and make_date != ''">
		make_date
		,
		</if>
		<if test="checker != null and checker != ''">
		checker
		,
		</if>
		<if test="check_date != null and check_date != ''">
		check_date
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="budg_year != null and budg_year != ''">
		#{budg_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="proj_id != null and proj_id != ''">
		#{proj_id,jdbcType=INTEGER}
		,
		</if>
		<if test="source_id != null and source_id != ''">
		#{source_id,jdbcType=INTEGER}
		,
		</if>    
		<if test="b_remain_amount != null and b_remain_amount != ''">
		#{b_remain_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="b_usable_amount != null and b_usable_amount != ''">
		#{b_usable_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="budg_amount != null and budg_amount != ''">
		#{budg_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="in_amount != null and in_amount != ''">
		#{in_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="cost_amount != null and cost_amount != ''">
		#{cost_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="remain_amount != null and remain_amount != ''">
		#{remain_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="usable_amount != null and usable_amount != ''">
		#{usable_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="maker != null and maker != ''">
		#{maker,jdbcType=INTEGER}
		,
		</if> 
		<if test="make_date != null and make_date != ''">
		#{make_date,jdbcType=DATE}
		,
		</if>
		<if test="checker != null and checker != ''">
		#{checker,jdbcType=INTEGER}
		,
		</if> 		
		<if test="check_date != null and check_date != ''">
		#{check_date,jdbcType=DATE}
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
												
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_proj_begain 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.budg_amount != null and item.budg_amount != ''">
			budg_amount = #{item.budg_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.in_amount != null and item.in_amount != ''">
			in_amount = #{item.in_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.cost_amount != null and item.cost_amount != ''">
			cost_amount = #{item.cost_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.remain_amount != null and item.remain_amount != ''">
			remain_amount = #{item.remain_amount,jdbcType=INTEGER}
			,
			</if>	
			<if test="item.b_remain_amount != null and item.b_remain_amount != ''">
			b_remain_amount = #{item.b_remain_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.b_usable_amount != null and item.b_usable_amount != ''">
			b_usable_amount = #{item.b_usable_amount,jdbcType=INTEGER}
			,
			</if>  
			<if test="item.checker != null and item.checker != ''">
			checker = #{item.checker,jdbcType=INTEGER}
			,
			</if>
			<if test="item.check_date != null and item.check_date != ''">
			check_date = #{item.check_date,jdbcType=DATE}
			,
			</if>
			<if test="item.state != null and item.state != ''">
			state = #{item.state,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.budg_year != null and item.budg_year != ''">
			AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
			</if>  
			<if test="item.proj_id != null and item.proj_id != ''">
			AND proj_id = #{item.proj_id,jdbcType=INTEGER}
			</if>  
			<if test="item.source_id != null and item.source_id != ''">
			AND source_id = #{item.source_id,jdbcType=INTEGER}
			</if>   
			</where>  			
		</foreach>
	</update>											
												
	<select id="queryB_Usable_Amount"   resultMap="budgProjBegainMap">
	
	select b_usable_amount,in_amount from budg_proj_begain
	where 
	                 group_id=#{group_id}
		             and  hos_id=#{hos_id}
		   			 and copy_code=#{copy_code}	
	                <if test="proj_id !='' and proj_id!=null">
			         			and  proj_id=#{proj_id}
			        </if>
			        <if test=" source_id!='' and source_id!=null">
			          			and  source_id=#{source_id}
			        </if>
	                <if test="budg_year !='' and budg_year!=null">
			         			and  budg_year=#{budg_year}
			        </if>
	</select>	
	<select id="queryMainLast"   resultMap="budgProjBegainMap">	
		select (b_remain_amount + budg_amount) as last_b_remain_amount,
	       (b_usable_amount + in_amount) as last_b_usable_amount
	       from budg_proj_begain
		where 
            group_id=#{group_id}
            and  hos_id=#{hos_id}
  			and copy_code=#{copy_code}	
            <if test="proj_id !='' and proj_id!=null">
         	and  proj_id=#{proj_id}
        	</if>
        	<if test=" source_id!='' and source_id!=null">
          	and  source_id=#{source_id}
        	</if>
            <if test="budg_year !='' and budg_year!=null">
         	and  budg_year=#{budg_year}
        	</if>
	</select>
											
	<select id="queryMainLastU"   resultMap="budgProjBegainMap">	
		select 
			b_remain_amount as last_b_remain_amount,
	    	b_usable_amount  as last_b_usable_amount
	    from budg_proj_begain
		where 
        	group_id=#{group_id}
        	and  hos_id=#{hos_id}
 			and copy_code=#{copy_code}	
            <if test="proj_id !='' and proj_id!=null">
        	and  proj_id=#{proj_id}
	        </if>
	        <if test=" source_id!='' and source_id!=null">
         	and  source_id=#{source_id}
       		</if>
            <if test="budg_year !='' and budg_year!=null">
        	and  budg_year=#{budg_year}
       		</if>
	</select>			
	<select id="queryMinYear"   resultMap="budgProjBegainMap">	
		select  min(budg_year) as budg_year_min
	       from budg_proj_begain
		where 
			group_id=#{group_id}
			and  hos_id=#{hos_id}
			and copy_code=#{copy_code}	
			<if test="proj_id !='' and proj_id!=null">
			and  proj_id=#{proj_id}
			</if>
			<if test=" source_id!='' and source_id!=null">
			and  source_id=#{source_id}
			</if>
			<if test="budg_year !='' and budg_year!=null">
			and  budg_year=#{budg_year}
			</if>
	</select>	
	<select id="queryLastMainData"   resultMap="budgProjBegainMap">	
		select  
			group_id        ,
			hos_id          ,  
			copy_code       ,
			budg_year       ,
			proj_id        , 
			source_id       ,
			nvl(b_remain_amount,0) b_remain_amount,
			nvl(b_usable_amount,0) b_usable_amount ,
			budg_amount     ,
			in_amount       ,
			cost_amount     ,
			remain_amount   ,
			usable_amount   ,
			maker           ,   
			make_date       ,
			checker         ,   
			check_date      ,
			state          
       from budg_proj_begain
	where 
        group_id=#{group_id,jdbcType=INTEGER}
        and  hos_id=#{hos_id,jdbcType=INTEGER}
 		and copy_code=#{copy_code,jdbcType=VARCHAR}	
        <if test="proj_id !='' and proj_id!=null">
        and  proj_id=#{proj_id,jdbcType=INTEGER}
        </if>
        <if test=" source_id!='' and source_id!=null">
        and  source_id=#{source_id,jdbcType=INTEGER}
        </if>
        <if test="budg_year !='' and budg_year!=null">
        and  budg_year=#{budg_year,jdbcType=VARCHAR}
       </if>
	</select>	
	<select id="queryLastMainDetailData"   resultType="java.util.Map"  parameterType="java.util.List">	
		select  
			group_id        ,  
			hos_id          ,  
			copy_code       ,
			budg_year       ,
			proj_id         ,
			source_id       ,
			payment_item_id ,
			payment_item_no ,
			nvl(b_remain_amount,0) b_remain_amount ,
			budg_amount     ,
			cost_amount     ,
			remain_amount   
	       from budg_proj_begain_detail
		where 
            group_id=#{group_id,jdbcType=INTEGER}
            and  hos_id=#{hos_id,jdbcType=INTEGER}
  			and copy_code=#{copy_code,jdbcType=VARCHAR}	
            <if test="proj_id !='' and proj_id!=null">
         	and  proj_id=#{proj_id,jdbcType=INTEGER}
        	</if>
        	<if test=" source_id!='' and source_id!=null">
         	and  source_id=#{source_id,jdbcType=INTEGER}
        	</if>
            <if test="budg_year !='' and budg_year!=null">
         	and  budg_year=#{budg_year,jdbcType=VARCHAR}
        	</if>
	        <if test="payment_item_id !='' and payment_item_id!=null">
	         and  payment_item_id=#{payment_item_id,jdbcType=INTEGER}
	        </if>
	</select>	
	<select id="queryDetail" resultType="java.util.Map" parameterType="java.util.List">
	SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year,
		proj_id,
		source_id,
		payment_item_id,
		payment_item_no,
		budg_amount,
		cost_amount,
		remain_amount
		FROM BUDG_PROJ_BEGAIN_DETAIL 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="proj_id != null and proj_id != ''">
		AND proj_id = #{proj_id,jdbcType=INTEGER}
		</if>
		<if test="source_id != null and source_id != ''">
		AND source_id = #{source_id,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>

	
	<select id="queryBudgSourceNam" resultMap="BudgSourceNumMap" parameterType="java.util.List">
	SELECT 
	    source_id,
	    source_code,
		source_name                                                                         
		FROM hos_source 
	 where                    
		
		    group_id = #{group_id,jdbcType=INTEGER}
		
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
	
		order by group_id asc
	</select>

	<select id="queryProjNam" resultMap="BudgProjDictMap"  parameterType="java.util.List">
	SELECT 
	   proj_id   ,                              
       proj_code  ,                          
       proj_name   
		FROM hos_proj_dict
		
		 where                    
		
		    group_id = #{group_id,jdbcType=INTEGER}
		
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			
			
		order by group_id asc
	</select>
	<select id="queryPaymentItem" resultMap="BudgPaymentItemDictMap"  parameterType="java.util.List">
	SELECT 
	   PAYMENT_ITEM_NO     ,
	   PAYMENT_ITEM_ID     ,                
       PAYMENT_ITEM_CODE   ,
       PAYMENT_ITEM_NAME   
		FROM budg_payment_item_dict
		
		 where                    
		
		    group_id = #{group_id,jdbcType=INTEGER}
		
		
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
		order by group_id asc
	</select>	
	<select id="queryKey" resultType="java.util.Map"  parameterType="java.util.Map">	
	select * from budg_proj_begain
	where 
	 
	 group_id = #{group_id,jdbcType=INTEGER}
		
		
	AND hos_id = #{hos_id,jdbcType=INTEGER}
	
    AND copy_code = #{copy_code,jdbcType=VARCHAR}
    
	AND budg_year = #{budg_year,jdbcType=VARCHAR}
	
	AND proj_id = #{proj_id,jdbcType=INTEGER}
	
	AND source_id = #{source_id,jdbcType=INTEGER}
	</select>
	
								
	
	<!-- 根据 年度、 项目、资金来源 查询  该年度之后相同项目、资金来源是否存在数据（若存在则不能录入） -->
	 <select id="queryNextDataExist" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
				SELECT count(proj_id)				
				FROM BUDG_PROJ_BEGAIN 
						
				where                     
					group_id = #{group_id,jdbcType=INTEGER}
					AND hos_id = #{hos_id,jdbcType=INTEGER}
					AND copy_code = #{copy_code,jdbcType=VARCHAR}
					AND budg_year > #{budg_year,jdbcType=VARCHAR}
					AND proj_id = #{proj_id,jdbcType=INTEGER}
					AND source_id = #{source_id,jdbcType=INTEGER}
		   		
	 </select>		
	 
	 <!-- 根据选定 项目、资金来源  查询 期初预算余额、期初可用余额  -->
	 <select id="qureyInfoData" resultMap="budgProjBegainMap"  parameterType="java.util.Map" >
	
			select 
               remain_amount ,
               usable_amount
          from  budg_proj_begain 
		 where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			and budg_year = to_char(to_number(${budg_year})-1)	
			AND proj_id = #{proj_id,jdbcType=INTEGER}
			AND source_id = #{source_id,jdbcType=INTEGER}
		   		
	 </select>
	 
	 <!-- 根据选定 项目、资金来源  查询 项目负责人  -->
	 <select id="qureyProjEmp" resultMap="budgProjBegainMap"  parameterType="java.util.Map" >
	
		  select  e.emp_name  as con_emp_name 
          from acc_proj_attr a
		  left join hos_emp_dict e 
		  	on 
			    a.group_id= e.group_id
			    and a.hos_id= e.hos_id
			    and a.con_emp_id= e.emp_id
			    and e.is_stop=0							
		 where                     
			a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.proj_id = #{proj_id,jdbcType=INTEGER}
		   		
	 </select>	
	 
	 <!-- 根据选定 项目、资金来源  查询 期初预算余额、期初可用余额  -->
	 <select id="qureyInfoDataDetail" resultMap="budgProjBegainMap"  parameterType="java.util.Map" >
	
			select remain_amount 
          from  budg_proj_begain_detail 
		 where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			and budg_year = to_char(to_number(${budg_year})-1)	
			AND proj_id = #{proj_id,jdbcType=INTEGER}
			AND source_id = #{source_id,jdbcType=INTEGER}
			AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		   		
	 </select>	
	 
	 <!-- 根据 年度、 项目、资金来源、支出项目  查询  该年度之后相同项目、资金来源、支出项目是否存在数据（若存在则不能录入） -->
	 <select id="queryNextDataDetailExist" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
				SELECT count(proj_id)				
				FROM BUDG_PROJ_BEGAIN_DETAIL 
						
				where                     
					group_id = #{group_id,jdbcType=INTEGER}
					AND hos_id = #{hos_id,jdbcType=INTEGER}
					AND copy_code = #{copy_code,jdbcType=VARCHAR}
					AND budg_year > #{budg_year,jdbcType=VARCHAR}
					AND proj_id = #{proj_id,jdbcType=INTEGER}
					AND source_id = #{source_id,jdbcType=INTEGER}
					AND payment_item_id = #{payment_item_id,jdbcType=INTEGER}
		   		
	 </select>														

</mapper>

