<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.med.dao.account.report.MedAccountReportInvStockToFimMapper">
	<resultMap id="medAccountReportInvStockToFim" type="java.util.Map">
		<result property="med_type_code" column="med_type_code" />
		<result property="med_type_name" column="med_type_name" />
		<result property="begin_money" column="begin_money" />
		<result property="bal_money" column="bal_money" />
		<result property="add_sum_money" column="add_sum_money" />
		<result property="reduct_sum_money" column="reduct_sum_money" />
		<result property="end_money" column="end_money" />
		<result property="row_index" column="row_index" />
		<result property="type_level" column="type_level" />
		<result property="fim_type_code" column="fim_type_code" />
		<result property="fim_type_name" column="fim_type_name" />
	</resultMap>
	<select id="queryMedAccountReportInvStockToFim" statementType="CALLABLE" parameterType="java.util.Map"  resultMap="medAccountReportInvStockToFim">
		<![CDATA[
			{call MED_ACCOUNT_INVSTOCK_FIM(
				#{group_id,jdbcType=INTEGER, mode=IN},  
		        #{hos_id,jdbcType=INTEGER, mode=IN},  
		        #{copy_code,jdbcType=VARCHAR, mode=IN},  
		        #{begin_year,jdbcType=VARCHAR, mode=IN},
		        #{begin_month,jdbcType=VARCHAR, mode=IN},
		        #{end_year,jdbcType=VARCHAR, mode=IN},
		        #{end_month,jdbcType=VARCHAR, mode=IN},
		        #{store_type,jdbcType=INTEGER, mode=IN},
		        #{store_id,jdbcType=INTEGER, mode=IN},
		        #{resultData, mode=OUT, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=medAccountReportInvStockToFim}
			)}
		]]>
	</select>
	
<select id="queryMedAccountReportInvStockToFimColumns" parameterType="java.util.Map"  resultType="java.util.TreeMap">
		<!-- 由于上面的resultMap未指定动态列所以这里使用大写 -->
		SELECT direction_flag, show_name, 'ITEM'||show_id as show_code
		FROM med_show_set
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND show_flag = 1
	</select>
</mapper>

