<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.budgcash.BudgCashBeginMapper">
	
	<resultMap id="budgCashBegin" type="com.chd.hrp.budg.entity.BudgCashBegin">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="cash_begin_year" column="cash_begin_year"/>
	<result property="cash_in" column="cash_in"/>
	<result property="cash_out" column="cash_out"/>
	<result property="cash_add" column="cash_add"/>
	<result property="cash_begin" column="cash_begin"/>
	<result property="state" column="state"/>
	</resultMap>
		
	<resultMap id="budgCashBeginMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="cash_begin_year" column="cash_begin_year"/>
	<result property="cash_in" column="cash_in"/>
	<result property="cash_out" column="cash_out"/>
	<result property="cash_add" column="cash_add"/>
	<result property="cash_begin" column="cash_begin"/>
	<result property="state" column="state"/>
	</resultMap>
	
	<resultMap id="budgCashFlowBegin" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="cash_item_id" column="cash_item_id"/>
	<result property="cash_item_code" column="cash_item_code"/>
	<result property="cash_item_name" column="cash_item_name"/>
	<result property="amount" column="amount"/>
	<result property="remark" column="remark"/>
	<result property="cash_dire" column="cash_dire"/>
	<result property="text" column="text"/>
	</resultMap>
	
	<resultMap id="CashItemMap" type="java.util.Map">
	<result property="id" column="id"/>
	<result property="cash_dire" column="cash_dire"/>
	<result property="text" column="text"/>
	</resultMap>
	
<!-- 	添加期初货币资金 -->
	<insert id="addBudgCashBegin" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_CASH_BEGIN (
			group_id
			,
			hos_id
			,
			copy_code
			,
			cash_begin_year
			,
			cash_in
			,
			cash_out
			,
			cash_add
			,
			cash_begin
			,
			state
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{cash_begin_year,jdbcType=INTEGER}
			,
			#{cash_in,jdbcType=INTEGER}
			,
			#{cash_out,jdbcType=INTEGER}
			,
			#{cash_add,jdbcType=INTEGER}
			,
			#{cash_begin,jdbcType=INTEGER}
			,
			#{state,jdbcType=VARCHAR}
		)
	
	</insert>

<!-- 更新期初货币资金 -->
	<update id="updateBudgCashBegin" parameterType="java.util.Map">
	
		UPDATE budg_cash_begin SET
		
			cash_begin_year = #{cash_begin_year,jdbcType=INTEGER},
			cash_in = #{cash_in,jdbcType=INTEGER},
			cash_out = #{cash_out,jdbcType=INTEGER},
			cash_add = #{cash_add,jdbcType=INTEGER},
			cash_begin = #{cash_begin,jdbcType=INTEGER},
			state = #{state,jdbcType=VARCHAR}
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</update>

<!--    查询期初货币资金 -->
	<select id="queryBudgCashBegin" parameterType="java.util.Map" resultMap="budgCashBeginMap" >
		SELECT 
			group_id,
			hos_id,
			copy_code,
			cash_begin_year,
			cash_in,
			cash_out,
			cash_add,
			cash_begin,
			state
		FROM BUDG_CASH_BEGIN 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
	
<!-- 	根据主键查询期初货币资金 -->
	<select id="queryBudgCashBeginByCode" resultMap="budgCashBegin"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			cash_begin_year,
			cash_in,
			cash_out,
			cash_add,
			cash_begin,
			state
		FROM budg_cash_begin 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}
	
	</select>
	
<!-- 	根据主键查询期初货币资金是否已存在 -->
	<select id="queryBudgCashBeginDataExist" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
		SELECT 
			count(0)
		FROM budg_cash_begin 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}
	
	</select>
	
<!-- 	记账 反记账  更改数据状态 -->
	<select id="queryBudgCashBeginState" resultType="string"  parameterType="java.util.Map" >
	
		SELECT 
			state
		FROM budg_cash_begin 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}
	
	</select>
	
	<!-- 	添加期初现金流量累计 -->
	<insert id="addBudgCashFlowBegin" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_CASH_FLOW_BEGIN (
			group_id
			,
			hos_id
			,
			copy_code
			,
			cash_item_id
			,
			amount
			,
			remark
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{cash_item_id,jdbcType=INTEGER}
			,
			#{amount,jdbcType=INTEGER}
			,
			#{remark,jdbcType=VARCHAR}
		)
	
	</insert>
	
	<!-- 	批量添加期初现金流量累计 -->
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_CASH_FLOW_BEGIN (
			group_id
			,
			hos_id
			,
			copy_code
			,
			cash_item_id
			,
			amount
			,
			remark
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.cash_item_id,jdbcType=INTEGER}
			,
			#{item.amount,jdbcType=INTEGER}
			,
			#{item.remark,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
<!-- 	主页面跳转 根据账套  查询期初现金流量累计结果集 -->
	<select id="queryBudgCashFlowBegin" parameterType="java.util.Map" resultMap="budgCashFlowBegin" >
		SELECT 
	      a.group_id,
	      a.hos_id,
	      a.copy_code,
	      a.cash_item_id,
	      a.amount,
	      a.remark,
	      b.cash_item_name,
	      b.cash_item_name as text,
	      b.cash_dire
    	FROM BUDG_CASH_FLOW_BEGIN a
    	LEFT JOIN acc_cash_item b
    	ON 
    	  a.group_id = b.group_id
    	  AND a.hos_id = b.hos_id 
    	  AND a.copy_code = b.copy_code
    	  AND a.cash_item_id = b.cash_item_id
		WHERE                     
			a.group_id = #{group_id,jdbcType=INTEGER}
			
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
	
<!-- 根据账套  查询期初现金流量累计是否存在 -->
	<select id="queryDataExist" parameterType="java.util.Map" resultType="java.lang.Integer" >
		SELECT 
	      count(cash_item_id)
    	FROM BUDG_CASH_FLOW_BEGIN 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND cash_item_id = #{cash_item_id,jdbcType=INTEGER}
	</select>
	
<!-- 查询现金流量项目表中所有未停用的现金流量项目id code等基本信息   匹配数据用-->
	<select id="queryBudgCashFlowBeginDict" parameterType="java.util.Map" resultMap="budgCashFlowBegin" >
		SELECT 
	      cash_item_id,cash_item_code
    	FROM acc_cash_item
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND is_stop = 0 
	</select>
	
	<!-- 批量更新期初现金流量累计 -->
	<update id="updateBudgCashFlowBegin" parameterType="java.util.Map">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_cash_flow_begin 
			 SET
				amount = #{item.amount,jdbcType=INTEGER},
				remark = #{item.remark,jdbcType=VARCHAR}
			WHERE                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
 				
 				AND cash_item_id = #{item.cash_item_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
<!-- 	批量删除期初现金流量累计 -->
	<delete id="deleteBudgCashFlowBegin" parameterType="java.util.List">
		DELETE FROM budg_cash_flow_begin  
		WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND cash_item_id = #{item.cash_item_id,jdbcType=INTEGER}
			</foreach>
	</delete>
	
<!-- 	主页面跳转 根据主键  查询系统启用时间 -->
	<select id="queryStartDate" parameterType="java.util.Map" resultType="string" >
		SELECT 
			start_year || start_month as start_date
		FROM sys_mod_start
		WHERE 
		   group_id = #{group_id,jdbcType=INTEGER}
			
		   AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		   AND copy_code = #{copy_code,jdbcType=VARCHAR}
		   
		   AND mod_code = #{mod_code,jdbcType=VARCHAR}
	</select>
	
<!-- 	添加成功后  根据现金流量项目ID查询流向 -->
	<select id="queryCashDire" parameterType="java.util.Map" resultType="string" >
		SELECT 
			cash_dire
  		FROM acc_cash_item
		WHERE 
		   group_id = #{group_id,jdbcType=INTEGER}
			
		   AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		   AND copy_code = #{copy_code,jdbcType=VARCHAR}
		   
		   AND cash_item_id = #{cash_item_id,jdbcType=INTEGER}
	</select>
	
<!-- 根据主键  查询现金流量项目下拉框 -->
	<select id="queryCashItem" parameterType="java.util.Map" resultMap="CashItemMap" >
		SELECT 
		  cash_item_id as id,
		  cash_dire, 
		  cash_item_code || ' ' || cash_item_name as text
  		FROM acc_cash_item
 		WHERE
		   group_id = #{group_id,jdbcType=INTEGER}
			
		   AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		   AND copy_code = #{copy_code,jdbcType=VARCHAR}
		   
		   AND is_stop = 0
		   <if test="key != null and key != ''">
				AND (cash_item_code like '${key}%' or
					cash_item_name like '%${key}%' or
					spell_code like '%${key}%' or
					wbx_code like '%${key}%' )
			</if>
			order by cash_item_code
	</select>
	
	<!-- 更新期初货币资金状态 -->
	<update id="updateBudgCashBeginState" parameterType="java.util.Map">
	
		UPDATE budg_cash_begin SET
			state = #{state,jdbcType=VARCHAR}
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</update>
	
	<!-- 根据集团医院账套  查询现金存量预算数据是否存在 -->
	<select id="queryDataExistFromBudgCash" parameterType="java.util.Map" resultType="java.lang.Integer" >
		SELECT 
	      count(0)
    	FROM BUDG_CASH 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据集团医院账套  查询现金存量执行数据是否存在 -->
	<select id="queryDataExistFromBudgCashExe" parameterType="java.util.Map" resultType="java.lang.Integer" >
		SELECT 
	      count(0)
    	FROM BUDG_CASH_EXE 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据集团医院账套  查询期初货币资金数据是否存在 -->
	<select id="queryCashBeginExist" parameterType="java.util.Map" resultType="java.lang.Double" >
		SELECT 
	      cash_begin
    	FROM BUDG_CASH_BEGIN
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
	</select>
	
</mapper>

