<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.budgcash.BudgCashMapper">
	
	<resultMap id="budgCash" type="com.chd.hrp.budg.entity.BudgCash">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="month" column="month"/>
	<result property="cash_begain" column="cash_begain"/>
	<result property="cash_in" column="cash_in"/>
	<result property="cash_out" column="cash_out"/>
	<result property="cash_add" column="cash_add"/>
	<result property="cash_end" column="cash_end"/>
	<result property="cash_carry" column="cash_carry"/>
	</resultMap>
		
	<resultMap id="budgCashMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="month" column="month"/>
	<result property="cash_begain" column="cash_begain"/>
	<result property="cash_in" column="cash_in"/>
	<result property="cash_out" column="cash_out"/>
	<result property="cash_add" column="cash_add"/>
	<result property="cash_end" column="cash_end"/>
	<result property="cash_carry" column="cash_carry"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_CASH (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			month
			,
			cash_begain
			,
			cash_in
			,
			cash_out
			,
			cash_add
			,
			cash_end
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{month,jdbcType=VARCHAR}
			,
			#{cash_begain,jdbcType=INTEGER}
			,
			#{cash_in,jdbcType=INTEGER}
			,
			#{cash_out,jdbcType=INTEGER}
			,
			#{cash_add,jdbcType=INTEGER}
			,
			#{cash_end,jdbcType=INTEGER}
		)
	
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_CASH (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			month
			,
			cash_begain
			,
			cash_in
			,
			cash_out
			,
			cash_add
			,
			cash_end
		
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.month,jdbcType=VARCHAR}
			,
			#{item.cash_begain,jdbcType=INTEGER}
			,
			#{item.cash_in,jdbcType=INTEGER}
			,
			#{item.cash_out,jdbcType=INTEGER}
			,
			#{item.cash_add,jdbcType=INTEGER}
			,
			#{item.cash_end,jdbcType=INTEGER}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_cash 
		SET
			cash_begain = #{cash_begain,jdbcType=INTEGER}
			,
			cash_in = #{cash_in,jdbcType=INTEGER}
			,
			cash_out = #{cash_out,jdbcType=INTEGER}
			,
			cash_add = #{cash_add,jdbcType=INTEGER}
			,
			cash_end = #{cash_end,jdbcType=INTEGER}
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
		
			AND month = #{month,jdbcType=VARCHAR}
		
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_cash 
			SET
				cash_begain = #{item.cash_begain,jdbcType=INTEGER}
				,
				cash_in = #{item.cash_in,jdbcType=INTEGER}
				,
				cash_out = #{item.cash_out,jdbcType=INTEGER}
				,
				cash_add = #{item.cash_add,jdbcType=INTEGER}
				,
				cash_end = #{item.cash_end,jdbcType=INTEGER}
			WHERE                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				
				AND month = #{item.month,jdbcType=VARCHAR}
	
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_cash 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND month = #{month,jdbcType=VARCHAR}
		
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_cash 
		WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
		
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
			
			AND month = #{item.month,jdbcType=VARCHAR}
				
		</foreach>
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="budgCash" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			month,
			cash_begain,
			cash_in,
			cash_out,
			cash_add,
			cash_end
		FROM BUDG_CASH 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="month != null and month != ''">
				AND month = #{month,jdbcType=VARCHAR}
			</if>
	</select>
	
	<select id="queryByCode" resultMap="budgCash"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			month,
			cash_begain,
			cash_in,
			cash_out,
			cash_add,
			cash_end
		FROM budg_cash 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
			month = #{month,jdbcType=VARCHAR} 
	
	</select>
	
	<select id="queryByUniqueness" resultMap="budgCash"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			month,
			cash_begain,
			cash_in,
			cash_out,
			cash_add,
			cash_end
		FROM BUDG_CASH 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND month = #{month,jdbcType=VARCHAR}
		
	</select>
	
	<select id="queryExists" resultMap="budgCash"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			month,
			cash_begain,
			cash_in,
			cash_out,
			cash_add,
			cash_end
		FROM BUDG_CASH 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND month = #{month,jdbcType=VARCHAR}
		
	</select>
	
	<!-- 	查询指定月份数据是否已经结账 -->
	<select id="queryBudgCarry" resultType="string"  parameterType="java.util.Map" >
	
		SELECT 
			cash_flag
		FROM budg_carry 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND year = #{budg_year,jdbcType=VARCHAR}
			
			AND month = #{month,jdbcType=VARCHAR}
		
	</select>
	
	<!-- 	查询期初货币资金是否已经记账 -->
	<select id="queryCashBeginState" resultType="string"  parameterType="java.util.Map" >
	
		SELECT 
			state
		FROM budg_cash_begin
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
	</select>
	
</mapper>

