<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.template.pacttemplateset.PactTemplateMapper">
	
	<resultMap id="tempMap" type="java.util.Map">
	<result property="ifb_groupid" column="ifb_groupid"/>
	<result property="ifb_hospid" column="ifb_hospid"/>
	<result property="copy_code" column="copy_code"/>
	<result property="pt_rowid" column="pt_rowid"/>
	<result property="pt_code" column="pt_code"/>
	<result property="pt_name" column="pt_name"/>
	<result property="pt_attribute" column="pt_attribute"/>
	<result property="pt_type" column="pt_type"/>
	</resultMap>
        
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO PACT_TEMPLATE (
			ifb_groupid ,
			ifb_hospid  ,
			copy_code  ,
			pt_rowid   ,
			pt_code  ,
			pt_name  ,
			pt_attribute ,
			pt_type
		) VALUES (
			#{group_id,jdbcType=INTEGER} ,
			#{hos_id,jdbcType=INTEGER} 	,
			#{copy_code,jdbcType=VARCHAR} ,
			PACT_TEMPLATE_SEQ.nextval ,
			#{pt_code,jdbcType=VARCHAR} ,
			#{pt_name,jdbcType=VARCHAR} ,
			#{pt_attribute,jdbcType=INTEGER},
			#{pt_type,jdbcType=VARCHAR} 
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO PACT_TEMPLATE (
			pt_rowid   ,
			ifb_groupid ,
			ifb_hospid  ,
			copy_code  ,
			pt_code  ,
			pt_name  ,
			pt_attribute ,
			pt_type
		
		) select PACT_TEMPLATE_SEQ.nextval, t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER} ,
				#{item.hos_id,jdbcType=INTEGER} 	,
				#{item.copy_code,jdbcType=VARCHAR} ,
				#{item.pt_code,jdbcType=VARCHAR} ,
				#{item.pt_name,jdbcType=VARCHAR} ,
				#{item.pt_attribute,jdbcType=INTEGER},
				#{item.pt_type,jdbcType=VARCHAR} 
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE PACT_TEMPLATE set
			pt_code = #{pt_code,jdbcType=VARCHAR},
			pt_name = #{pt_name,jdbcType=VARCHAR},
			pt_attribute = #{pt_attribute,jdbcType=INTEGER},
			pt_type = #{pt_type,jdbcType=VARCHAR}
		where                     
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE PACT_TEMPLATE set
				pt_code = #{item.pt_code,jdbcType=VARCHAR},
				pt_name = #{item.pt_name,jdbcType=VARCHAR},
				pt_attribute = #{item.pt_attribute,jdbcType=INTEGER},
				pt_type = #{item.pt_type,jdbcType=VARCHAR}
			where                     
				ifb_groupid = #{item.group_id,jdbcType=INTEGER}
				AND ifb_hospid = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND pt_rowid = #{item.pt_rowid,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM PACT_TEMPLATE 
		where                     
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM PACT_TEMPLATE 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				ifb_groupid = #{item.group_id,jdbcType=INTEGER}
				AND ifb_hospid = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND pt_rowid = #{item.pt_rowid,jdbcType=INTEGER}
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="tempMap" >
	
		SELECT 
			pt_rowid   ,
			ifb_groupid ,
			ifb_hospid  ,
			copy_code  ,
			pt_code  ,
			pt_name  ,
			pt_attribute ,
			pt_type
		FROM PACT_TEMPLATE 
		where                    
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="pt_rowid != null and pt_rowid != ''">
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			</if>
			<if test="pt_attribute != null and pt_attribute != ''">
			AND pt_attribute = #{pt_attribute,jdbcType=INTEGER}
			</if>
	</select>
	<select id="queryByCode" resultMap="tempMap"  parameterType="java.util.Map" >
	
		SELECT 
			pt_rowid   ,
			ifb_groupid ,
			ifb_hospid  ,
			copy_code  ,
			pt_code  ,
			pt_name  ,
			pt_attribute ,
			pt_type
		FROM PACT_TEMPLATE 
		WHERE 
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
	
	</select>
	<select id="queryByUniqueness" resultMap="tempMap"  parameterType="java.util.Map" >
		
		SELECT 
			pt_rowid   ,
			ifb_groupid ,
			ifb_hospid  ,
			copy_code  ,
			pt_code  ,
			pt_name  ,
			pt_attribute ,
			pt_type
		FROM PACT_TEMPLATE 
		WHERE 
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
	</select>
	<select id="queryExists" resultMap="tempMap"  parameterType="java.util.Map" >
	
		SELECT 
			pt_rowid   ,
			ifb_groupid ,
			ifb_hospid  ,
			copy_code  ,
			pt_code  ,
			pt_name  ,
			pt_attribute ,
			pt_type
		FROM PACT_TEMPLATE 
		WHERE 
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
	</select>
	
	<!-- 根据 方案名首拼 查最大尾号 -->
	<select id="queryMaxCodeNum" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
		SELECT  to_number(nvl(max(substr(pt_code, -3)),0))
		FROM PACT_TEMPLATE 
		WHERE 
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_code like #{pt_code,jdbcType=VARCHAR} ||'%'
	</select>
	
	<resultMap id="modularMap" type="java.util.Map">
	<result property="pt_rowid" column="pt_rowid"/>
	<result property="ptm_rowid" column="ptm_rowid"/>
	<result property="ptm_code" column="ptm_code"/>
	<result property="ptm_name" column="ptm_name"/>
	<result property="ptm_showmode" column="ptm_showmode"/>
	<result property="ptm_no" column="ptm_no"/>
	<result property="ptm_height" column="ptm_height"/>
	<result property="ptm_width" column="ptm_width"/>
	<result property="ptm_position" column="ptm_position"/>
	<result property="ptm_position_x" column="ptm_position_x"/>
	<result property="ptm_position_y" column="ptm_position_y"/>
	</resultMap>
	
	<!-- 选择合同模板后  根据 模板id 查询 合同模板表单模块/表格模块数据 -->
	<select id="queryTemplateModular" resultMap="modularMap"  parameterType="java.util.Map" >
	
		SELECT 
			pt_rowid ,ptm_rowid ,ptm_code ,ptm_name ,ptm_showmode,ptm_no ,ptm_height ,
			ptm_width ,ptm_position ,ptm_position_x ,ptm_position_y
		FROM PACT_TEMPLATE_MODULAR b
		WHERE 
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
	</select>
	
	<!-- 选择合同配置项查询 -->
	<select id="queryPactTemplateItem" resultType="java.util.Map"  parameterType="java.util.Map" >
	
		SELECT 
			group_id ,hos_id ,	copy_code ,	pti_rowid mould_config_id ,     
			pti_unique mould_config_code , pti_desc mould_config_name 

		FROM PACT_Template_Item a
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="flag==2">
			AND not exists (
				select 1 from PACT_TEMPLATE_SHEET_ITEM b
				where b.ifb_groupid = a.group_id
					AND b.ifb_hospid = a.hos_id
					AND b.copy_code = a.copy_code
					and b.be_itemid = a.pti_rowid
					and b.et_rowid = #{et_rowid,jdbcType=INTEGER}
			)
			</if>
			<if test="flag==1">
			AND not exists (
				select 1 from PACT_TEMPLATE_GRIDTAB_ITEM b
				where b.ifb_groupid = a.group_id
					AND b.ifb_hospid = a.hos_id
					AND b.copy_code = a.copy_code
					and b.be_itemid = a.pti_rowid
					and b.et_rowid = #{et_rowid,jdbcType=INTEGER}
			)
			</if>
			
	</select>
	
	<!-- 合同配置项配置查询 -->
	<select id="queryPactTemplateItemSet" parameterType="java.util.Map" resultType="java.util.Map" >
	
		SELECT ifb_groupid , ifb_hospid , copy_code , ptsi_rowid  , pt_rowid ,
			ptm_rowid ,	et_rowid , be_itemid , be_code , be_name , be_alias ,
			be_columnno ,  be_isestablish , be_ishide , be_establishattribute ,
			 cs_code ,	cs_name , be_enter , be_background ,
			be_fontcolor , be_align ,
			<if test="flag==2">
				be_row ,  be_isdisabled  ,cs_rowid ,BE_width as be_width,BE_Occupyrow as be_rowspan,BE_OccupyColumn as be_colspan
			FROM 
				PACT_TEMPLATE_SHEET_ITEM 
			</if>
			<if test="flag==1">
				be_tittlerow ,be_startcolumn , be_occupycolumn ,be_isquery ,be_function 
			FROM
				PACT_TEMPLATE_GRIDTAB_ITEM 
			</if> 
		where                    
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="ptsi_rowid != null and ptsi_rowid != ''">
			AND ptsi_rowid = #{ptsi_rowid,jdbcType=INTEGER}
			</if>
			<if test="pt_rowid != null and pt_rowid != ''">
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			</if>
			<if test="ptm_rowid != null and ptm_rowid != ''">
			AND ptm_rowid = #{ptm_rowid,jdbcType=INTEGER}
			</if>
			AND et_rowid = #{et_rowid,jdbcType=INTEGER}
			<if test="be_itemid != null and be_itemid != ''">
			AND be_itemid = #{be_itemid,jdbcType=INTEGER}
			</if>
			
	</select>
	<!-- 合同模板配置方案 查询 -->
	<select id="queryPactTemplateSet" parameterType="java.util.Map" resultType="java.util.Map" >
	
		SELECT a.pt_rowid , a.ifb_groupid ,	a.ifb_hospid  ,a.copy_code  ,
			a.pt_code , a.pt_name ,	a.pt_attribute , a.pt_type, 
			max(nvl(b.ptm_no,0)) ptm_no_grid , max(nvl(c.ptm_no,0))  ptm_no_sheet
		FROM PACT_TEMPLATE a
		left join PACT_TEMPLATE_MODULAR b
			on  a.ifb_groupid = b.ifb_groupid
			and a.ifb_hospid = b.ifb_hospid
			and a.copy_code = b.copy_code 
			and a.pt_rowid = b.pt_rowid
			and b.ptm_showmode = '1'
		left join PACT_TEMPLATE_MODULAR c
			on  a.ifb_groupid = c.ifb_groupid
			and a.ifb_hospid = c.ifb_hospid
			and a.copy_code = c.copy_code 
			and a.pt_rowid = c.pt_rowid
			and c.ptm_showmode = '2'
				
		where                    
			a.ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND a.ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="pt_rowid != null and pt_rowid !='' ">
			AND a.pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			</if>
			<if test="pt_attribute != null and pt_rowid !='' ">
			AND a.pt_attribute = #{pt_attribute,jdbcType=INTEGER}
			</if>
		group by a.pt_rowid , a.ifb_groupid ,	a.ifb_hospid  ,a.copy_code  ,
			a.pt_code , a.pt_name ,	a.pt_attribute , a.pt_type
	</select>
</mapper>

