<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.info.basic.HtcCostItemDictNoMapper">

	<resultMap id="costItemDictNo" type="com.chd.hrp.htc.entity.info.basic.HtcCostItemDictNo">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="cost_item_id" column="cost_item_id" />
		<result property="cost_item_no" column="cost_item_no" />
		<result property="cost_item_code" column="cost_item_code" />
		<result property="cost_item_name" column="cost_item_name" />
		<result property="user_code" column="user_code" />
		<result property="create_date" column="create_date" />
		<result property="note" column="note" />
		<result property="is_stop" column="is_stop" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="supp_item_code" column="supp_item_code" />
		<result property="cost_type_id" column="cost_type_id" />
		<result property="nature_id" column="nature_id" />
		<result property="busi_data_source" column="busi_data_source" />
		<result property="cost_para_type" column="cost_para_type" />
		<result property="para_type_code" column="para_type_code" />
		<result property="item_grade" column="item_grade" />
	</resultMap>

	<insert id="addHtcCostItemDictNo" useGeneratedKeys="true">

		insert into cost_item_dict_no
		(
			group_id,
			hos_id,
			copy_code,
			cost_item_id,
			cost_item_no,
			cost_item_code,
			cost_item_name,
			user_code,
			create_date,
			note,
			is_stop,
			is_last,
			spell_code,
			wbx_code,
			supp_item_code,
			cost_type_id,
			nature_id,
			busi_data_source,
			item_grade,
			para_type_code
		)
		values(
		#{group_id},
		#{hos_id},
		#{copy_code},
		#{cost_item_id},
		cost_item_dict_no_seq.nextval,
		#{cost_item_code},
		#{cost_item_name},
		#{user_code},
		#{create_date},
		#{note},
		#{is_stop},
		#{is_last},
		#{spell_code},
		#{wbx_code},
		#{supp_item_code},
		#{cost_type_id},
		#{nature_id},
		#{busi_data_source},
		#{item_grade},
		#{para_type_code}
		)

	</insert>

	<insert id="addBatchHtcCostItemDictNo" parameterType="java.util.List">

		INSERT INTO COST_ITEM_DICT_NO
		(
			cost_item_no,
			group_id,
			hos_id,
			copy_code,
			cost_item_id,
			cost_item_code,
			cost_item_name,
			user_code,
			create_date,
			note,
			is_stop,
			spell_code,
			wbx_code,
			para_type_code
		)
		<!-- 没有序列的变通调整 顺序要调整一下 -->
		select COST_ITEM_DICT_NO_SEQ.NEXTVAL,A.* FROM (
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id},
			#{item.hos_id},
			#{item.copy_code},
			#{item.cost_item_id},
			#{item.cost_item_code},
			#{item.cost_item_name},
			#{item.user_code},
			#{item.create_date},
			#{item.note},
			#{item.is_stop},
			#{item.spell_code},
			#{item.wbx_code},
		    #{para_type_code}
			from dual
		</foreach>
		) A

	</insert>

	<update id="updateHtcCostItemDictNo" parameterType="java.util.Map">

		update cost_item_dict_no
		<trim prefix="SET" suffixOverrides=",">
			<if test="cost_item_code != null and cost_item_code != ''">
				cost_item_code = #{cost_item_code},
			</if>
			<if test="cost_item_name != null and cost_item_name != ''">
				cost_item_name =#{cost_item_name},
			</if>
			<if test="supp_item_code != null and supp_item_code != ''">
				supp_item_code = #{supp_item_code},
			</if>
			<if test="nature_id != null and nature_id != ''">
				nature_id =#{nature_id},
			</if>
			<if test="busi_data_source != null and busi_data_source != ''">
				busi_data_source = #{busi_data_source},
			</if>
			<if test="item_grade != null and item_grade != ''">
				item_grade =#{item_grade},
			</if>
			<if test="is_last != null and is_last != ''">
				is_last = #{is_last},
			</if>
			<if test="is_stop != null and is_stop != ''">
                is_stop = #{is_stop},
			</if>
			<if test="spell_code != null and spell_code != ''">
				spell_code = #{spell_code},
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				wbx_code = #{wbx_code},
			</if>
			<if test="para_type_code != null and para_type_code != ''">
				para_type_code = #{para_type_code},
			</if>
		</trim>
				where group_id = #{group_id}
				and hos_id = #{hos_id}
				and copy_code = #{copy_code}
			<if test="cost_item_id != null and cost_item_id != ''">
				and cost_item_id =#{cost_item_id}
			</if>
			<if test="cost_item_no != null and cost_item_no != ''">
				and cost_item_no = #{cost_item_no}
			</if>
	</update>

	<update id="updateHtcCostItemDictNoState" parameterType="java.util.Map">

		update cost_item_dict_no set
		is_stop = #{is_stop}
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and cost_item_id = #{cost_item_id}

	</update>
	<update id="updateBatchHtcCostItemDictNo" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			update cost_item_dict_no set
			cost_item_code =#{cost_item_code},
			cost_item_name = #{cost_item_name},
			user_code =#{user_code},
			create_date = #{create_date},
			note = #{note},
			is_stop =#{is_stop},
			spell_code = #{spell_code},
			wbx_code = #{wbx_code},
			para_type_code = #{para_type_code}
			where group_id = #{item.group_id}
			and hos_id = #{item.hos_id} 
			and copy_code = #{item.copy_code} 
			and cost_item_id = #{item.cost_item_id}
			and cost_item_no = #{item.cost_item_no}
		</foreach>
	</update>

	<delete id="deleteHtcCostItemDictNo" parameterType="java.util.Map">

		delete from cost_item_dict_no
		where group_id = #{group_id} 
		and hos_id = #{hos_id} 
		and copy_code = #{copy_code}
		and cost_item_id = #{cost_item_id}

	</delete>

	<delete id="deleteBatchHtcCostItemDictNo" parameterType="java.util.List">
		delete from cost_item_dict_no where
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			    group_id = #{item.group_id} 
			and hos_id = #{item.hos_id} 
			and copy_code = #{item.copy_code} 
			and cost_item_id = #{item.cost_item_id}
		</foreach>
	</delete>

	<select id="queryHtcCostItemDictNoByCode" resultType="com.chd.hrp.htc.entity.info.basic.HtcCostItemDictNo"
		parameterType="string">

		select
			group_id,
			hos_id,
			copy_code,
			cost_item_id,
			cost_item_no,
			cost_item_code,
			cost_item_name,
			user_code,
			create_date,
			note,
			is_stop,
			spell_code,
			wbx_code
		from cost_item_dict_no
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="cost_item_id != null and cost_item_id != ''">
				and cost_item_id = #{cost_item_id}
			</if>
			<if test="cost_item_no != null and cost_item_no != ''">
				and cost_item_no = #{cost_item_no}
			</if>
			<if test="cost_item_code != null and cost_item_code != ''">
				and cost_item_code = #{cost_item_code}
			</if>
			<if test="cost_item_name != null and cost_item_name != ''">
				and cost_item_name = #{cost_item_name}
			</if>
			<if test="user_code != null and user_code != ''">
				and user_code = #{user_code}
			</if>
			<if test="create_date != null and create_date != ''">
				and create_date = #{create_date}
			</if>
			<if test="note != null and note != ''">
				and note = #{note}
			</if>
			<if test="is_stop != null and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="spell_code != null and spell_code != ''">
				and spell_code = #{spell_code}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				and wbx_code = #{wbx_code}
			</if>
		</where>

	</select>
	<select id="queryHtcCostItemDictNo" parameterType="java.util.Map"
		resultMap="costItemDictNo">

		select
			group_id,
			hos_id,
			copy_code,
			cost_item_id,
			cost_item_no,
			cost_item_code,
			cost_item_name,
			user_code,
			create_date,
			note,
			is_stop,
			spell_code,
			wbx_code
			from cost_item_dict_no
		<where>
				    group_id = #{group_id}
				and hos_id = #{hos_id}
				and copy_code = #{copy_code}
			<if test="cost_item_id != null and cost_item_id != ''">
				and cost_item_id = #{cost_item_id}
			</if>
			<if test="cost_item_no != null and cost_item_no != ''">
				and cost_item_no = #{cost_item_no}
			</if>
			<if test="cost_item_code != null and cost_item_code != ''">
				and cost_item_code = #{cost_item_code}
			</if>
			<if test="cost_item_name != null and cost_item_name != ''">
				and cost_item_name = #{cost_item_name}
			</if>
			<if test="user_code != null and user_code != ''">
				and user_code = #{user_code}
			</if>
			<if test="create_date != null and create_date != ''">
				and create_date = #{create_date}
			</if>
			<if test="note != null and note != ''">
				and note = #{note}
			</if>
			<if test="is_stop != null and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
		</where>
		order by group_id,hos_id,copy_code,cost_item_code 
	</select>

	<select id="queryHtcItemDictNo" parameterType="java.util.Map"
		resultMap="costItemDictNo">
		select
			cidn.cost_item_id,cidn.cost_item_no,
			cidn.cost_item_name
		from
		cost_item_dict_no cidn left join cost_item_dict cid
		on cidn.group_id =
		cid.group_id and cidn.hos_id = cid.hos_id and
		cidn.copy_code =
		cid.copy_code and cidn.cost_item_id =
		cid.cost_item_id
		<where>
			cidn.is_stop = 0 and cid.is_last=1
			<if test="group_id != null  and group_id != ''">
				and cidn.group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and cidn.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and cidn.copy_code = #{copy_code}
			</if>
		</where>
		order by cidn.cost_item_code
	</select>
	
	<update id="updateHtcCostItemNoBatch" parameterType="java.util.Map">
		update
		cost_item_dict_no
		<trim prefix="SET" suffixOverrides=",">
			
			<if test="nature_id != null and nature_id != ''">
				nature_id =#{nature_id},
			</if>
			<if test="busi_data_source != null and busi_data_source != ''">
				busi_data_source = #{busi_data_source},
			</if>
		</trim>
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and cost_type_id = #{cost_type_id}
	</update>
</mapper>

