<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.budgsysset.BudgNoRuleMapper">

	<resultMap id="rulesMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="table_code" column="table_code" />
		<result property="table_name" column="table_name" />
		<result property="prefixe" column="prefixe" />
		<result property="is_year" column="is_year" />
		<result property="is_budg_year" column="is_budg_year" />
		<result property="is_month" column="is_month" />
		<result property="seq_no" column="seq_no" />
	</resultMap>
	<update id="updateBatchRules" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE budg_no_rule SET
				table_name = #{item.table_name}
				,
				prefixe = #{item.prefixe}
				,
				is_year = #{item.is_year}
				,
				is_budg_year = #{item.is_budg_year}
				,
				is_month = #{item.is_month}
				,
				seq_no = #{item.seq_no}
			WHERE
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				and table_code = #{item.table_code,jdbcType=VARCHAR}
		</foreach>
	</update>

	<select id="queryRulesByCode" resultType="Integer" parameterType="string">
		SELECT
			max_no
		FROM budg_no_manage
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR}
			and table_code = #{table_code,jdbcType=VARCHAR}
	</select>
	<select id="queryRules" parameterType="java.util.Map" resultMap="rulesMap">
		SELECT
			group_id,
			hos_id,
			copy_code,
			table_code,
			table_name,
			prefixe,
			is_year,
			is_budg_year,
			is_month,
			seq_no
		FROM budg_no_rule
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="rule_message != null and rule_message != ''">
				AND (table_name like '%${rule_message}%'
				or prefixe like '%${rule_message}%')
			</if>
	</select>
</mapper>

