<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.maintain.AssMaintainRecAssMapper">
	
	<resultMap id="assMaintainRecAss" type="com.chd.hrp.ass.entity.maintain.AssMaintainRecAss">
	<result property="group_id" column="group_id"/> 
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="rec_id" column="rec_id"/>
	<result property="detail_id" column="detail_id"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_mondl" column="ass_mondl"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="fac_name" column="fac_name"/>
	<result property="maintain_money" column="maintain_money"/>
	<result property="maintain_unit" column="maintain_unit"/>
	<result property="maintain_unitt" column="maintain_unitt"/>
	<result property="maintain_hours" column="maintain_hours"/>
	</resultMap>
	
	<resultMap id="assMaintainRecAss1" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/> 
	<result property="rec_id" column="rec_id"/>
	<result property="detail_id" column="detail_id"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="maintain_money" column="maintain_money"/>
	<result property="maintain_unit" column="maintain_unit"/>
	<result property="maintain_hours" column="maintain_hours"/>
	<result property="ass_spec" column="ass_spec"/>
	<result property="ass_mondl" column="ass_mondl"/>
	<result property="ass_brand" column="ass_brand"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="fac_name" column="fac_name"/>
	<result property="detail_id" column="detail_id"/>
	</resultMap>
	
    <select id="queryCurrentSequence" resultType="java.lang.Long">
		select ASS_MAINTAIN_REC_ASS_SEQ.currval val from dual
	</select>
	
	<insert id="addAssMaintainRecAss" useGeneratedKeys="true" >
	
		INSERT INTO ASS_MAINTAIN_REC_ASS (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="rec_id != null and rec_id != ''">
		rec_id
		,
		</if>
		detail_id,
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no
		,
		</if>
		
		maintain_money
		,
		
		<if test="maintain_unit != null and maintain_unit != ''">
		maintain_unit
		,
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		maintain_hours
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id,jdbcType=INTEGER}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id,jdbcType=INTEGER}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="rec_id != null and rec_id != ''">
		#{rec_id,jdbcType=INTEGER}
		,
		</if>
		ASS_MAINTAIN_REC_ASS_SEQ.nextval,
		<if test="ass_card_no != null and ass_card_no != ''">
		#{ass_card_no,jdbcType=VARCHAR}
		,
		</if>
		
		<if test="maintain_money != null and maintain_money != ''">#{maintain_money,jdbcType=INTEGER},</if>
		<if test="maintain_money == null or maintain_money == ''">0 ,</if>
		
		<if test="maintain_unit != null and maintain_unit != ''">
		#{maintain_unit,jdbcType=INTEGER}
		,
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		#{maintain_hours,jdbcType=INTEGER}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatchAssMaintainRecAss" parameterType="java.util.List" >
	
		INSERT INTO ASS_MAINTAIN_REC_ASS (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="rec_id != null and rec_id != ''">
		rec_id
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no
		,
		</if>
		
		maintain_money
		,
		
		<if test="maintain_unit != null and maintain_unit != ''">
		maintain_unit
		,
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		maintain_hours
		,
		</if>
		</trim>
		) select ASS_MAINTAIN_REC_ASS_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
			#{item.group_id},jdbcType=INTEGER}
			,
			</if>
			<if test="hos_id != null and hos_id != ''">
			#{item.hos_id},jdbcType=INTEGER}
			,
			</if>
			<if test="copy_code != null and copy_code != ''">
			#{item.copy_code},jdbcType=VARCHAR}
			,
			</if>
			<if test="rec_id != null and rec_id != ''">
			#{item.rec_id},jdbcType=INTEGER}
			,
			</if>
			<if test="ass_card_no != null and ass_card_no != ''">
			#{item.ass_card_no},jdbcType=VARCHAR}
			,
			</if>
			<if test="maintain_money != null and maintain_money != ''">#{item.maintain_money,jdbcType=INTEGER},</if>
			<if test="maintain_money == null or maintain_money == ''">0 ,</if>
			
			<if test="maintain_unit != null and maintain_unit != ''">
			#{item.maintain_unit},jdbcType=INTEGER}
			,
			</if>
			<if test="maintain_hours != null and maintain_hours != ''">
			#{item.maintain_hours},jdbcType=INTEGER}
			,
			</if>
			</trim>
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="updateAssMaintainRecAss" parameterType="java.util.Map">
	
		UPDATE ass_maintain_rec_ass 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="maintain_money != null and maintain_money != ''">
		maintain_money = #{maintain_money,jdbcType=INTEGER}
		,
		</if>
		<if test="maintain_unit != null and maintain_unit != ''">
		maintain_unit = #{maintain_unit,jdbcType=INTEGER}
		,
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		maintain_hours = #{maintain_hours,jdbcType=INTEGER}
		,
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND detail_id = #{detail_id,jdbcType=VARCHAR}
		</if>
		
		</where>  
	</update>
	<update id="updateBatchAssMaintainRecAss" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_maintain_rec_ass 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="maintain_money != null and maintain_money != ''">
			maintain_money = #{item.maintain_money},jdbcType=INTEGER}
			,
			</if>
			<if test="maintain_unit != null and maintain_unit != ''">
			maintain_unit = #{item.maintain_unit},jdbcType=INTEGER}
			,
			</if>
			<if test="maintain_hours != null and maintain_hours != ''">
			maintain_hours = #{item.maintain_hours},jdbcType=INTEGER}
			,
			</if>
			</trim>
			<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>  
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>  
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="rec_id != null and rec_id != ''">
			AND rec_id = #{rec_id,jdbcType=INTEGER}
			</if>  
			<if test="ass_card_no != null and ass_card_no != ''">
			AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
			</if>  
			<if test="maintain_money != null and maintain_money != ''">
			AND maintain_money = #{maintain_money,jdbcType=INTEGER}
			</if>  
			<if test="maintain_unit != null and maintain_unit != ''">
			AND maintain_unit = #{maintain_unit,jdbcType=INTEGER}
			</if>  
			<if test="maintain_hours != null and maintain_hours != ''">
			AND maintain_hours = #{maintain_hours,jdbcType=INTEGER}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="deleteAssMaintainRecAss" parameterType="java.util.Map">
	
		DELETE FROM ass_maintain_rec_ass 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="maintain_money != null and maintain_money != ''">
		AND maintain_money = #{maintain_money,jdbcType=INTEGER}
		</if>
		<if test="maintain_unit != null and maintain_unit != ''">
		AND maintain_unit = #{maintain_unit,jdbcType=INTEGER}
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		AND maintain_hours = #{maintain_hours,jdbcType=INTEGER}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatchAssMaintainRecAss" parameterType="java.util.List">
		DELETE FROM ass_maintain_rec_ass 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.rec_id != null and item.rec_id != ''">
				AND rec_id = #{item.rec_id,jdbcType=INTEGER}
				</if>
				<if test="item.ass_card_no != null and item.ass_card_no != ''">
				AND ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
				</if>
				<if test="item.detail_id != null and item.detail_id != ''">
				AND detail_id = #{item.detail_id,jdbcType=INTEGER}
				</if>
				 	 
			</foreach>
	    </where>  
	</delete>
	<select id="queryAssMaintainRecAss" parameterType="java.util.Map" resultMap="assMaintainRecAss" >
	
		SELECT amri.group_id,
		       amri.hos_id,
		       amri.copy_code,
		       amri.rec_id,
		       amri.detail_id,
		       amri.ass_card_no,
		       andd.ass_code,
		       andd.ass_name,
		       andd.ass_spec,
		       andd.ass_model ass_mondl,
		       hfd.fac_name,
		       amea.maintain_money,
		       case
		         when amea.maintain_unit = 0 then
		          '年'
		         when amea.maintain_unit = 1 then
		          '月'
		         when amea.maintain_unit = 2 then
		          '日'
		         when amea.maintain_unit = 3 then
		          '时'
		         when amea.maintain_unit = 4 then
		          '分'
		         else
		          ''
		       end maintain_unitt,
		       amea.maintain_unit,
		       amea.maintain_hours
		  from ass_maintain_rec_ASS amri
		  left join ass_maintain_rec_ass amea
		    on amri.rec_id = amea.rec_id
		   and amri.ass_card_no = amea.ass_card_no
		  left join v_ass_card ach
		    on amri.ass_card_no = ach.ass_card_no
		   and amri.group_id = ach.GROUP_ID
		   and amri.hos_id = ach.HOS_ID
		   and amri.copy_code = ach.COPY_CODE
		  left join ASS_NO_DICT andd
		    on andd.group_id = ach.GROUP_ID
		   and andd.hos_id = ach.HOS_ID
		   and andd.copy_code = ach.COPY_CODE
		   and andd.ass_id = ach.ASS_ID
		   and andd.ass_no = ach.ASS_NO
		  left join HOS_FAC_DICT hfd
		    on hfd.group_id = andd.GROUP_ID
		   and hfd.hos_id = andd.HOS_ID
		   and hfd.fac_id = andd.FAC_ID
		   and hfd.fac_no = andd.FAC_NO

		<where>                     
		<if test="group_id != null and group_id != ''">
		AND amri.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND amri.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND amri.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND amri.rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND amri.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="maintain_money != null and maintain_money != ''">
		AND amri.maintain_money = #{maintain_money,jdbcType=INTEGER}
		</if>
		<if test="maintain_unit != null and maintain_unit != ''">
		AND amri.maintain_unit = #{maintain_unit,jdbcType=INTEGER}
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		AND amri.maintain_hours = #{maintain_hours,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssMaintainRecAssByCode" resultMap="assMaintainRecAss"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		rec_id,
		ass_card_no,
		maintain_money,
		maintain_unit,
		maintain_hours
		FROM ass_maintain_rec_ass 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		rec_id = #{rec_id,jdbcType=INTEGER}   and 
		ass_card_no = #{ass_card_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryAssMaintainRecAssByUniqueness" resultMap="assMaintainRecAss"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		rec_id,
		ass_card_no,
		maintain_money,
		maintain_unit,
		maintain_hours
		FROM ASS_MAINTAIN_REC_ASS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="maintain_money != null and maintain_money != ''">
		AND maintain_money = #{maintain_money,jdbcType=INTEGER}
		</if>
		<if test="maintain_unit != null and maintain_unit != ''">
		AND maintain_unit = #{maintain_unit,jdbcType=INTEGER}
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		AND maintain_hours = #{maintain_hours,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryAssMaintainRecAssExists" resultMap="assMaintainRecAss"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		rec_id,
		detail_id,
		ass_card_no,
		maintain_money,
		maintain_unit,
		maintain_hours
		FROM ASS_MAINTAIN_REC_ASS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
		AND detail_id = #{detail_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="maintain_money != null and maintain_money != ''">
		AND maintain_money = #{maintain_money,jdbcType=INTEGER}
		</if>
		<if test="maintain_unit != null and maintain_unit != ''">
		AND maintain_unit = #{maintain_unit,jdbcType=INTEGER}
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		AND maintain_hours = #{maintain_hours,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	
		<select id="queryByAssMaintainRecAssId" resultMap="assMaintainRecAss"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		rec_id,
		detail_id,
		ass_card_no,
		maintain_money,
		maintain_unit,
		maintain_hours 
		FROM ASS_MAINTAIN_REC_ASS 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="detail_id != null and detail_id != ''">
			AND detail_id = #{detail_id,jdbcType=INTEGER}
	    </if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=INTEGER}
		</if>
		<if test="maintain_money != null and maintain_money != ''">
		AND maintain_money = #{maintain_money,jdbcType=INTEGER}
		</if>
		<if test="maintain_unit != null and maintain_unit != ''">
		AND maintain_unit = #{maintain_unit,jdbcType=INTEGER}
		</if>
		<if test="maintain_hours != null and maintain_hours != ''">
		AND maintain_hours = #{maintain_hours,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryAssMaintainRecAssByUpdate" parameterType="java.util.Map" resultMap="assMaintainRecAss1">
		select a.group_id,
		       a.hos_id,
		       a.copy_code,
		       a.rec_id,
		       b.ass_card_no,
		       b.ass_spec,
		       b.ass_mondl,
		       b.ass_brand,
		       c.ass_code,
		       c.ass_name,
		       d.fac_code,
		       d.fac_name,
		       a.detail_id,
		       a.maintain_money,
		       a.maintain_unit,
		       a.maintain_hours
		  from ASS_MAINTAIN_REC_ASS a
		  left join v_ass_card b
		    on a.group_id = b.GROUP_ID
		   and a.hos_id = b.HOS_ID
		   and a.copy_code = b.COPY_CODE
		   and a.ass_card_no = b.ASS_CARD_NO
		  left join ass_no_dict c
		    on c.group_id = b.GROUP_ID
		   and c.hos_id = b.HOS_ID
		   and c.copy_code = b.COPY_CODE
		   and c.ass_id = b.ASS_ID
		   and c.ass_no = b.ASS_NO
		  left join hos_fac_dict d
		    on d.group_id = b.GROUP_ID
		   and d.hos_id = b.HOS_ID
		   and d.fac_id = b.FAC_ID
		   and d.fac_no = b.FAC_NO
		
	<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="rec_id != null and rec_id != ''">
		AND a.rec_id = #{rec_id,jdbcType=INTEGER}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND a.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	
	</select>
</mapper>

