<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.fkht.guarantee.PactLetterFKHTMapper">
	<resultMap id="pactDepRetFKHT"
		type="com.chd.hrp.pac.entity.fkht.guarantee.PactLetterFKHTEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="letter_code" column="letter_code" />
		<result property="pact_code" column="pact_code" />
		<result property="sign_date" column="sign_date" />
		<result property="bank_code" column="bank_code" />
		<result property="bank_man" column="bank_man" />
		<result property="bank_tel" column="bank_tel" />
		<result property="bank_no" column="bank_no" />
		<result property="sup_id" column="sup_id" />
		<result property="sup_no" column="sup_no" />
		<result property="sup_man" column="sup_man" />
		<result property="sup_tel" column="sup_tel" />
		<result property="money" column="money" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="sp_cond" column="sp_cond" />
		<result property="content" column="content" />
		<result property="note" column="note" />
		<result property="letter_state" column="letter_state" />
		<result property="maker" column="maker" />
		<result property="make_date" column="make_date" />
		<result property="checker" column="checker" />
		<result property="check_date" column="check_date" />
		<result property="confirmer" column="confirmer" />
		<result property="confirm_date" column="confirm_date" />
		<result property="disabler" column="disabler" />
		<result property="disable_date" column="disable_date" />
		<result property="sup_name" column="sup_name" />
		<result property="pact_name" column="pact_name" />
		<result property="maker_name" column="maker_name" />
		<result property="checker_name" column="checker_name" />
		<result property="confirmer_name" column="confirmer_name" />
		<result property="disabler_name" column="disabler_name" />
	</resultMap>

	<resultMap type="java.util.Map" id="bankMap">
		<result property="phone" column="phone" />
		<result property="bank_zh" column="bank_zh" />
	</resultMap>

	<select id="query" parameterType="java.util.Map"
		resultMap="pactDepRetFKHT">
		SELECT
		plf.LETTER_CODE,
		plf.SIGN_DATE,
		plf.SUP_NO,
		hs.SUP_NAME,
		plf.PACT_CODE,
		mf.PACT_NAME,
		plf.MONEY,
		plf.START_DATE,
		plf.END_DATE,
		plf.NOTE,
		dd.VALUE_NAME AS letter_state,
		dd2.VALUE_NAME AS sp_cond,
		he.USER_NAME AS maker_name,
		he1.USER_NAME AS checker_name,
		he2.USER_NAME AS confirmer_name,
		he3.USER_NAME AS disabler_name
		FROM PACT_LETTER_FKHT plf
		LEFT JOIN PACT_MAIN_FKHT mf ON plf.GROUP_ID = mf.GROUP_ID AND plf.HOS_ID = mf.HOS_ID AND plf.COPY_CODE = mf.COPY_CODE AND plf.PACT_CODE = mf.PACT_CODE
		LEFT JOIN HOS_SUP hs ON hs.GROUP_ID = plf.GROUP_ID AND hs.HOS_ID = plf.HOS_ID AND hs.SUP_ID = plf.SUP_NO
		LEFT JOIN sys_user he ON he.GROUP_ID = plf.GROUP_ID AND he.HOS_ID = plf.HOS_ID AND he.USER_ID = plf.MAKER
		LEFT JOIN sys_user he1 ON he1.GROUP_ID = plf.GROUP_ID AND he1.HOS_ID = plf.HOS_ID AND he1.USER_ID = plf.CHECKER
		LEFT JOIN sys_user he2 ON he2.GROUP_ID = plf.GROUP_ID AND he2.HOS_ID = plf.HOS_ID AND he2.USER_ID = plf.CONFIRMER
		LEFT JOIN sys_user he3 ON he3.GROUP_ID = plf.GROUP_ID AND he3.HOS_ID = plf.HOS_ID AND he3.USER_ID = plf.DISABLER
		LEFT JOIN PACT_DICT_DATA dd ON dd.VALUE_CODE = plf.LETTER_STATE AND dd.F_CODE = 'LETTER_STATE'
		LEFT JOIN PACT_DICT_DATA dd2 ON dd2.VALUE_CODE = plf.SP_COND AND dd2.F_CODE = 'SP_COND'
		<where>
			plf.group_id=#{group_id,jdbcType=NUMERIC}
			and plf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and plf.copy_code=#{copy_code,jdbcType=VARCHAR}
			<if test="letter_state != null and letter_state != ''">
				and plf.letter_state=#{letter_state,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				and plf.note like '%'||#{note,jdbcType=VARCHAR}||'%'
			</if>
			<if test="sup_no != null and sup_no != ''">
				and plf.sup_no=#{sup_no,jdbcType=VARCHAR}
			</if>
			<if test="letter_code != null and letter_code != ''">
				and plf.letter_code like upper(#{letter_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_name != null and pact_name != ''">
				and mf.pact_name like '%'||#{pact_name,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pact_code != null and pact_code != ''">
				and plf.pact_code like upper(#{pact_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_type_code != null and pact_type_code != ''">
				and mf.pact_type_code=#{pact_type_code,jdbcType=VARCHAR}
			</if>
			<if test="sp_cond != null and sp_cond != ''">
				and plf.sp_cond=#{sp_cond,jdbcType=VARCHAR}
			</if>
			<if test="bank_code != null and bank_code != ''">
				and plf.bank_code=#{bank_code,jdbcType=VARCHAR}
			</if>
			<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and plf.SIGN_DATE BETWEEN
				to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd') AND
				to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
			</if>
			<if test="min_money != null and min_money != '' and max_money != null and max_money != ''">
				and plf.money BETWEEN #{min_money,jdbcType=NUMERIC} AND #{max_money,jdbcType=NUMERIC}
			</if>
			<if test="max_money != null and max_money != ''">
				and #{max_money,jdbcType=NUMERIC} >= plf.money
			</if>
			<if test="min_money != null and min_money != ''">
				and plf.money >= #{min_money,jdbcType=NUMERIC} 
			</if>
		</where>
	</select>
	<select id="queryForPrint" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
		plf.LETTER_CODE,
		plf.SIGN_DATE,
		plf.SUP_NO,
		hs.SUP_NAME,
		plf.PACT_CODE,
		mf.PACT_NAME,
		plf.MONEY,
		plf.START_DATE,
		plf.END_DATE,
		plf.NOTE,
		dd.VALUE_NAME AS letter_state,
		dd2.VALUE_NAME AS sp_cond,
		he.USER_NAME AS maker_name,
		he1.USER_NAME AS checker_name,
		he2.USER_NAME AS confirmer_name,
		he3.USER_NAME AS disabler_name
		FROM PACT_LETTER_FKHT plf
		LEFT JOIN PACT_MAIN_FKHT mf ON plf.GROUP_ID = mf.GROUP_ID AND plf.HOS_ID = mf.HOS_ID AND plf.COPY_CODE = mf.COPY_CODE AND plf.PACT_CODE = mf.PACT_CODE
		LEFT JOIN HOS_SUP hs ON hs.GROUP_ID = plf.GROUP_ID AND hs.HOS_ID = plf.HOS_ID AND hs.SUP_ID = plf.SUP_NO
		LEFT JOIN sys_user he ON he.GROUP_ID = plf.GROUP_ID AND he.HOS_ID = plf.HOS_ID AND he.USER_ID = plf.MAKER
		LEFT JOIN sys_user he1 ON he1.GROUP_ID = plf.GROUP_ID AND he1.HOS_ID = plf.HOS_ID AND he1.USER_ID = plf.CHECKER
		LEFT JOIN sys_user he2 ON he2.GROUP_ID = plf.GROUP_ID AND he2.HOS_ID = plf.HOS_ID AND he2.USER_ID = plf.CONFIRMER
		LEFT JOIN sys_user he3 ON he3.GROUP_ID = plf.GROUP_ID AND he3.HOS_ID = plf.HOS_ID AND he3.USER_ID = plf.DISABLER
		LEFT JOIN PACT_DICT_DATA dd ON dd.VALUE_CODE = plf.LETTER_STATE AND dd.F_CODE = 'LETTER_STATE'
		LEFT JOIN PACT_DICT_DATA dd2 ON dd2.VALUE_CODE = plf.SP_COND AND dd2.F_CODE = 'SP_COND'
		<where>
			plf.group_id=#{group_id,jdbcType=NUMERIC}
			and
			plf.hos_id=#{hos_id,jdbcType=NUMERIC}
			and
			plf.copy_code=#{copy_code,jdbcType=VARCHAR}
			<if test="letter_state != null and letter_state != ''">
				and plf.letter_state=#{letter_state,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				and plf.note like '%'||#{note,jdbcType=VARCHAR}||'%'
			</if>
			<if test="sup_no != null and sup_no != ''">
				and plf.sup_no=#{sup_no,jdbcType=VARCHAR}
			</if>
			<if test="letter_code != null and letter_code != ''">
				and plf.letter_code like upper(#{letter_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_name != null and pact_name != ''">
				and mf.pact_name like '%'||#{pact_name,jdbcType=VARCHAR}||'%'
			</if>
			<if test="pact_code != null and pact_code != ''">
				and plf.pact_code like upper(#{pact_code,jdbcType=VARCHAR})||'%'
			</if>
			<if test="pact_type_code != null and pact_type_code != ''">
				and mf.pact_type_code=#{pact_type_code,jdbcType=VARCHAR}
			</if>
			<if test="sp_cond != null and sp_cond != ''">
				and plf.sp_cond=#{sp_cond,jdbcType=VARCHAR}
			</if>
			<if test="bank_code != null and bank_code != ''">
				and plf.bank_code=#{bank_code,jdbcType=VARCHAR}
			</if>
			<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				and plf.SIGN_DATE BETWEEN
				to_date(#{start_date,jdbcType=TIMESTAMP},'yyyy-MM-dd') AND
				to_date(#{end_date,jdbcType=TIMESTAMP},'yyyy-MM-dd')
			</if>
			<if test="min_money != null and min_money != '' and max_money != null and max_money != ''">
				and plf.money BETWEEN #{min_money,jdbcType=NUMERIC} AND
				#{max_money,jdbcType=NUMERIC}
			</if>
			<if test="max_money != null and max_money != ''">
				and #{max_money,jdbcType=NUMERIC} > plf.money
			</if>
			<if test="min_money != null and min_money != ''">
				and plf.money > #{min_money,jdbcType=NUMERIC} 
			</if>
		</where>
	</select>

	<select id="queryMaxId" parameterType="java.util.Map"
		resultType="java.lang.String">
		SELECT
		max(letter_code)
		FROM
		PACT_LETTER_FKHT where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
	</select>
	<select id="queryByCode" parameterType="java.util.Map"
		resultMap="pactDepRetFKHT">
		SELECT
		plf.letter_code ,
		plf.pact_code ,
		mf.pact_name,
		plf.sign_date,
		plf.bank_code ,
		plf.bank_man ,
		plf.bank_tel ,
		plf.bank_no ,
		plf.sup_id ,
		plf.sup_no ,
		plf.sup_man ,
		plf.sup_tel ,
		plf.money ,
		plf.start_date,
		plf.end_date,
		plf.sp_cond ,
		plf.content ,
		plf.note ,
		plf.letter_state,
		hs.sup_name
		FROM
		PACT_LETTER_FKHT plf
		LEFT JOIN PACT_MAIN_FKHT mf ON plf.GROUP_ID = mf.GROUP_ID AND plf.HOS_ID = mf.HOS_ID AND plf.COPY_CODE = mf.COPY_CODE AND plf.PACT_CODE = mf.PACT_CODE
		LEFT JOIN HOS_SUP hs ON hs.GROUP_ID = plf.GROUP_ID AND hs.HOS_ID = plf.HOS_ID AND hs.SUP_ID = plf.SUP_NO
		WHERE
		plf.group_id=#{group_id,jdbcType=NUMERIC}
		and plf.hos_id=#{hos_id,jdbcType=NUMERIC}
		and plf.copy_code=#{copy_code,jdbcType=VARCHAR}
		and plf.letter_code = #{letter_code,jdbcType=VARCHAR}
		and plf.pact_code = #{pact_code,jdbcType=VARCHAR}
	</select>

	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_LETTER_FKHT (
		group_id ,
		hos_id ,
		copy_code ,
		letter_code ,
		pact_code ,
		sign_date ,
		bank_code ,
		bank_man ,
		bank_tel ,
		bank_no ,
		sup_id ,
		sup_no ,
		sup_man ,
		sup_tel ,
		money ,
		start_date ,
		end_date ,
		sp_cond ,
		content ,
		note ,
		letter_state ,
		maker ,
		make_date ,
		checker ,
		check_date ,
		confirmer ,
		confirm_date ,
		disabler,
		disable_date
		)
		VALUES(
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{letter_code,jdbcType=VARCHAR},
		#{pact_code,jdbcType=VARCHAR},
		to_timestamp(#{sign_date,jdbcType=TIMESTAMP},'yyyy-mm--dd
		hh24:mi:ss.ff'),
		#{bank_code,jdbcType=VARCHAR},
		#{bank_man,jdbcType=VARCHAR},
		#{bank_tel,jdbcType=VARCHAR},
		#{bank_no,jdbcType=VARCHAR},
		#{sup_id,jdbcType= NUMERIC},
		#{sup_no,jdbcType=NUMERIC},
		#{sup_man,jdbcType= VARCHAR},
		#{sup_tel,jdbcType= VARCHAR},
		#{money,jdbcType= NUMERIC},
		to_timestamp(#{start_date,jdbcType=TIMESTAMP},'yyyy-mm--dd
		hh24:mi:ss.ff'),
		to_timestamp(#{end_date,jdbcType=TIMESTAMP},'yyyy-mm--dd
		hh24:mi:ss.ff'),
		#{sp_cond,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR},
		#{letter_state,jdbcType=VARCHAR},
		#{maker,jdbcType=NUMERIC},
		to_timestamp(#{make_date,jdbcType=TIMESTAMP},'yyyy-mm--dd
		hh24:mi:ss.ff'),
		#{checker,jdbcType=NUMERIC},
		#{check_date,jdbcType=TIMESTAMP},
		#{confirmer,jdbcType=NUMERIC},
		#{confirm_date,jdbcType=TIMESTAMP},
		#{disabler,jdbcType=NUMERIC},
		#{disable_date,jdbcType=TIMESTAMP}
		)
	</insert>


	<update id="updateState" parameterType="java.util.Map">
		UPDATE PACT_LETTER_FKHT SET
		<if test="letter_state == '04'">
			disabler=#{disabler,jdbcType=NUMERIC},
			disable_date=#{disable_date,jdbcType=TIMESTAMP},
		</if>
		<if test="letter_state == '03'">
			<if test="confirmer != null and confirmer != ''">
				confirmer=#{confirmer,jdbcType=NUMERIC},
				confirm_date=#{confirm_date,jdbcType=TIMESTAMP},
			</if>
			disabler=#{disabler,jdbcType=NUMERIC},
			disable_date=#{disable_date,jdbcType=TIMESTAMP},
		</if>
		<if test="letter_state == '02'">
			<if test="checker != null and checker != ''">
				checker=#{checker,jdbcType=NUMERIC},
				check_date=#{check_date,jdbcType=TIMESTAMP},
			</if>
			confirmer=#{confirmer,jdbcType=NUMERIC},
			confirm_date=#{confirm_date,jdbcType=TIMESTAMP},
		</if>
		<if test="letter_state == '01'">
			checker=#{checker,jdbcType=NUMERIC},
			check_date=#{check_date,jdbcType=TIMESTAMP},
		</if>
		letter_state=#{letter_state,jdbcType=NUMERIC}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC} 
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR} and
		<foreach collection="list" item="item" index="index" separator="or">
			pact_code = #{item.pact_code,jdbcType=VARCHAR}
			AND letter_code = #{item.letter_code,jdbcType=VARCHAR}
		</foreach>
	</update>


	<update id="update" parameterType="java.util.Map">
		UPDATE PACT_LETTER_FKHT SET
		sign_date=to_timestamp(#{sign_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		bank_code=#{bank_code,jdbcType=VARCHAR},
		bank_man=#{bank_man,jdbcType=VARCHAR},
		bank_tel=#{bank_tel,jdbcType=VARCHAR},
		bank_no=#{bank_no,jdbcType=VARCHAR},
		sup_no=#{sup_no,jdbcType=NUMERIC},
		sup_man=#{sup_man,jdbcType=VARCHAR},
		sup_tel=#{sup_tel,jdbcType=VARCHAR},
		money=#{money,jdbcType=NUMERIC},
		start_date=to_timestamp(#{start_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		end_date=to_timestamp(#{end_date,jdbcType=TIMESTAMP},'yyyy-mm--dd hh24:mi:ss.ff'),
		sp_cond=#{sp_cond,jdbcType=VARCHAR},
		content=#{content,jdbcType=VARCHAR},
		note=#{note,jdbcType=VARCHAR}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND letter_code = #{letter_code,jdbcType=VARCHAR}
		and	pact_code=#{pact_code,jdbcType=VARCHAR}
	</update>


	<delete id="deleteAllBatch">
		DELETE FROM PACT_LETTER_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND letter_code = #{item.letter_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	<delete id="deleteByPactCodeList">
		DELETE FROM PACT_LETTER_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	<delete id="deleteByPactCode" parameterType="java.util.Map">
		DELETE FROM
		PACT_LETTER_FKHT WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		and HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
	</delete>

	<select id="queryPactBankDetailInfo"
		parameterType="java.util.Map" resultMap="bankMap">
		SELECT PHONE,BANK_ZH FROM
		ACC_BANK WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		and HOS_ID = #{hos_id,jdbcType=NUMERIC}
		and BANK_NUMBER = #{bank_code,jdbcType=NUMERIC}
	</select>
</mapper>