<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.commonbuilder.AccCheckItemMapper">

	<resultMap id="accCheckItem" type="com.chd.hrp.acc.entity.AccCheckItem">
		<result property="check_item_id" column="check_item_id" />
		<result property="check_type_id" column="check_type_id" />
		<result property="check_type_name" column="check_type_name" />
		<result property="column_check" column="column_check" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="check_item_code" column="check_item_code" />
		<result property="check_item_name" column="check_item_name" />
		<result property="sort_code" column="sort_code" />
		<result property="spell_code" column="spell_code" /> 
		<result property="wbx_code" column="wbx_code" />
		<result property="is_stop" column="is_stop" />
		<result property="dept_code" column="dept_code" />
	    <result property="dept_name" column="dept_name" />
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
	</resultMap>
	<resultMap id="accCheckItem1" type="java.util.Map">
		<result property="check_item_id" column="check_item_id" />
		<result property="check_type_id" column="check_type_id" />
		<result property="check_type_name" column="check_type_name" />
		<result property="column_check" column="column_check" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="check_item_code" column="check_item_code" />
		<result property="check_item_name" column="check_item_name" />
		<result property="sort_code" column="sort_code" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="is_stop" column="is_stop" />
		<result property="dept_code" column="dept_code" />
	    <result property="dept_name" column="dept_name" />
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
	</resultMap>
	<resultMap id="Dept" type="com.chd.hrp.sys.entity.DeptDict">
	    <result property="dept_code" column="dept_code" />
	    <result property="dept_name" column="dept_name" />
	</resultMap>
	<resultMap type="java.util.Map" id="accCheckEmpSet">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="attr_code" column="attr_code" />
		<result property="attr_name" column="attr_name" />
		<result property="is_stop" column="is_stop" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="note" column="note" />
		<result property="old_code" column="old_code" />
	</resultMap>
	
	<resultMap type="com.chd.hrp.acc.entity.AccCheckEmpSet" id="accCheckEmpSet1">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attr_code" column="attr_code" />
		<result property="attr_name" column="attr_name" />
		<result property="is_stop" column="is_stop" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="note" column="note" />
	</resultMap>
	
	<insert id="addAccCheckItem" useGeneratedKeys="true">

		INSERT INTO ACC_CHECK_ITEM (
		check_item_id
		,
		check_type_id
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		check_item_code
		,
		check_item_name
		,
		sort_code
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		,
		type_code
		) VALUES (
		ACC_CHECK_ITEM_SEQ.nextval ,
		#{check_type_id} ,
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{check_item_code} ,
		#{check_item_name} ,
		#{sort_code} ,
		#{spell_code} ,
		#{wbx_code} ,
		#{is_stop},
		#{type_code}
		)

	</insert>
	<insert id="addBatchAccCheckItem" parameterType="java.util.List">

		INSERT INTO ACC_CHECK_ITEM (
		check_item_id
		,
		check_type_id
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		check_item_code
		,
		check_item_name
		,
		sort_code
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		,
		type_code
		) select ACC_CHECK_ITEM_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union">
			select
			#{item.check_type_id} ,
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.copy_code} ,
			#{item.check_item_code} ,
			#{item.check_item_name} ,
			#{item.sort_code} ,
			#{item.spell_code ,jdbcType=VARCHAR} ,
			#{item.wbx_code ,jdbcType=VARCHAR} ,
			#{item.is_stop} ,
			#{item.type_code,jdbcType=VARCHAR}
			from dual
		</foreach>
		)t
	</insert>

	<update id="updateAccCheckItem" parameterType="java.util.Map">

		UPDATE acc_check_item SET
		check_item_code = #{check_item_code}
		,
		check_item_name = #{check_item_name}
		,
		sort_code = #{sort_code}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_stop = #{is_stop}
		,
		type_code = #{type_code,jdbcType=VARCHAR}
		WHERE
		check_item_id = #{check_item_id}
		and
		check_type_id = #{check_type_id}
		and
		group_id = #{group_id}
		and
		hos_id = #{hos_id}
		and
		copy_code = #{copy_code}


	</update>
	<update id="updateBatchAccCheckItem" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE acc_check_item SET
			check_item_code = #{check_item_code}
			,
			check_item_name = #{check_item_name}
			,
			sort_code = #{sort_code}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_stop = #{is_stop}
			,
			type_code = #{item.type_code,jdbcType=VARCHAR}
			WHERE
			check_item_id = #{item.check_item_id}
			and
			check_type_id = #{item.check_type_id}
			and
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}

		</foreach>
	</update>

	<delete id="deleteAccCheckItem" parameterType="java.util.Map">

		DELETE FROM acc_check_item WHERE
		check_item_id = #{check_item_id} and
		check_type_id = #{check_type_id} and
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code}

	</delete>
	<delete id="deleteBatchAccCheckItem" parameterType="java.util.List">
		DELETE FROM acc_check_item WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			check_item_id = #{item.check_item_id}
			and
			check_type_id = #{item.check_type_id}
			and
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}

		</foreach>


	</delete>

	<select id="queryAccCheckItemByCode" resultType="com.chd.hrp.acc.entity.AccCheckItem"
		parameterType="java.util.Map">

		SELECT 
		aci.check_item_id,
		aci.check_type_id,
		tp.check_type_name,
		aci.group_id,
		aci.hos_id,
		aci.copy_code,
		aci.check_item_code,
		aci.check_item_name,
		aci.sort_code,
		aci.spell_code,
		aci.wbx_code,
		aci.is_stop ,
		aci.type_code,
		acit.type_name ,
		tp.column_check
		FROM acc_check_item aci 
		left join acc_check_type tp 
			ON 
				tp.check_type_id = aci.check_type_id and 
				tp.group_id = aci.group_id and 
      			tp.hos_id = aci.hos_id and 
      			tp.copy_code = aci.copy_code
      	left join acc_check_item_type acit
			ON 
				aci.group_id = acit.group_id and 
      			aci.hos_id = acit.hos_id and 
      			aci.copy_code = acit.copy_code and 
      			aci.type_code = acit.type_code and 
      			aci.check_type_id = acit.check_type_id 
		WHERE		
		aci.check_type_id = #{check_type_id} and
		aci.group_id = #{group_id} and
		aci.hos_id = #{hos_id} and
		aci.copy_code = #{copy_code}
		and aci.check_item_id = #{check_item_id} 
		
	</select>
	
	<select id="queryAccCheckItemByCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">

		SELECT 
		count(*)
		FROM acc_check_item aci 
		WHERE		
		aci.check_type_id = #{check_type_id} and
		aci.group_id = #{group_id} and
		aci.hos_id = #{hos_id} and
		aci.copy_code = #{copy_code}
		
	</select>
	
	<select id="queryAccCheckItemDept" parameterType="java.util.Map" resultMap="accCheckItem">
	    select dept_id as check_item_id ,dept_code as check_item_code,dept_name as check_item_name
           from HOS_DEPT_DICT
        where group_id = #{group_id}
           and hos_id = #{hos_id}
           and is_stop = 0
           order by DEPT_CODE
	</select>
	
	<select id="queryAccCheckItemEmp" parameterType="java.util.Map" resultMap="accCheckItem">
	    select emp_id as check_item_id ,emp_code as check_item_code,emp_name as check_item_name
           from HOS_EMP_DICT
        where group_id = #{group_id}
           and hos_id = #{hos_id}
           and is_stop = 0
           order by EMP_CODE
	</select>
	
	<select id="queryAccCheckItemProj" parameterType="java.util.Map" resultMap="accCheckItem">
	    select proj_id as check_item_id ,proj_code as check_item_code,proj_name as check_item_name
           from HOS_PROJ_DICT
        where group_id = #{group_id}
           and hos_id = #{hos_id}
           and is_stop = 0
           order by PROJ_CODE
	</select>
	
	<select id="queryAccCheckItemStore" parameterType="java.util.Map" resultMap="accCheckItem">
	    select store_id as check_item_id , store_code as check_item_code,store_name as check_item_name
           from HOS_STORE_DICT
        where group_id = #{group_id}
           and hos_id = #{hos_id}
           and is_stop = 0
           order by STORE_CODE
	</select>
	
	<select id="queryAccCheckItemCus" parameterType="java.util.Map" resultMap="accCheckItem">
	    select cus_id as check_item_id ,cus_code as check_item_code,cus_name as check_item_name
           from HOS_CUS_DICT
        where group_id = #{group_id}
           and hos_id = #{hos_id}
           and is_stop = 0
           order by CUS_CODE
	</select>
	
	<select id="queryAccCheckItemSup" parameterType="java.util.Map" resultMap="accCheckItem">
	    select sup_id as check_item_id , sup_code as check_item_code,sup_name as check_item_name
           from HOS_SUP_DICT
        where group_id = #{group_id}
           and hos_id = #{hos_id}
           and is_stop = 0
           order by SUP_CODE
	</select>
	
	<select id="queryAccCheckItemSource" parameterType="java.util.Map" resultMap="accCheckItem">
	    select source_id as check_item_id , source_code as check_item_code,source_name as check_item_name
           from HOS_SOURCE
        where group_id = #{group_id}
           and hos_id = #{hos_id}
           and is_stop = 0
           order by SOURCE_CODE
	</select>
	
	<select id="queryAccCheckItemHos" parameterType="java.util.Map" resultMap="accCheckItem">
	    select hos_id as check_item_id , hos_code as check_item_code,hos_name as check_item_name
           from V_HOS_DICT
        where group_id = #{group_id}
           and hos_id = #{hos_id}
           and is_stop = 0
           order by HOS_CODE
	</select>
	
	<select id="queryAccCheckItem" parameterType="java.util.Map"
		resultMap="accCheckItem">

		SELECT
		aci.check_item_id,
		aci.check_type_id,
		tp.check_type_name,
		tp.column_check,
		aci.group_id,
		aci.hos_id,
		aci.copy_code,
		aci.check_item_code,
		aci.check_item_name,
		aci.sort_code,
		aci.spell_code,
		aci.wbx_code,
		aci.is_stop ,
		aci.type_code ,
		acit.type_name
		FROM ACC_CHECK_ITEM aci 
		left join acc_check_type tp 
			ON 
				tp.check_type_id = aci.check_type_id and 
				tp.group_id = aci.group_id  and 
      			tp.hos_id = aci.hos_id and 
      			tp.copy_code = aci.copy_code
      	left join acc_check_item_type acit
			ON 
				aci.group_id = acit.group_id and 
      			aci.hos_id = acit.hos_id and 
      			aci.copy_code = acit.copy_code and 
      			aci.type_code = acit.type_code and 
      			aci.check_type_id = acit.check_type_id
		<where>
			<if test="check_item_id != null and check_item_id != ''">
				AND aci.check_item_id = #{check_item_id}
			</if>
			<if test="check_type_id != null and check_type_id != ''">
				AND aci.check_type_id = #{check_type_id}
			</if>
			<if test="group_id != null and group_id != ''">
				AND aci.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND aci.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND aci.copy_code = #{copy_code}
			</if>
			<if test="check_item_code != null and check_item_code != ''">
				AND aci.check_item_code = #{check_item_code}
			</if>
			<if test="check_item_name != null and check_item_name != ''">
				AND (aci.check_item_name like '%${check_item_name}%' or
						aci.spell_code like '%${check_item_name}%' or
						aci.wbx_code like '%${check_item_name}%' )
			</if>
			<if test="sort_code != null and sort_code != ''">
				AND aci.sort_code = #{sort_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND aci.is_stop = #{is_stop}
			</if>
		</where>
		order by aci.sort_code,check_item_code asc
	</select>
	<!-- 	打印 -->
	<select id="queryAccCheckItemPrint" parameterType="java.util.Map"
		resultMap="accCheckItem1">

		SELECT
		aci.check_item_id,
		aci.check_type_id,
		tp.check_type_name,
		tp.column_check,
		aci.group_id,
		aci.hos_id,
		aci.copy_code,
		aci.check_item_code,
		aci.check_item_name,
		aci.sort_code,
		aci.spell_code,
		aci.wbx_code,
		aci.is_stop ,
		aci.type_code ,
		acit.type_name
		FROM ACC_CHECK_ITEM aci 
		left join acc_check_type tp 
			ON 
				tp.check_type_id = aci.check_type_id and 
				tp.group_id = aci.group_id  and 
      			tp.hos_id = aci.hos_id and 
      			tp.copy_code = aci.copy_code
      	left join acc_check_item_type acit
			ON 
				aci.group_id = acit.group_id and 
      			aci.hos_id = acit.hos_id and 
      			aci.copy_code = acit.copy_code and 
      			aci.type_code = acit.type_code
		<where>
			<if test="check_item_id != null and check_item_id != ''">
				AND aci.check_item_id = #{check_item_id}
			</if>
			<if test="check_type_id != null and check_type_id != ''">
				AND aci.check_type_id = #{check_type_id}
			</if>
			<if test="group_id != null and group_id != ''">
				AND aci.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND aci.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND aci.copy_code = #{copy_code}
			</if>
			<if test="check_item_code != null and check_item_code != ''">
				AND aci.check_item_code = #{check_item_code}
			</if>
			<if test="check_item_name != null and check_item_name != ''">
				AND (aci.check_item_name like '%${check_item_name}%' or
						aci.spell_code like '%${check_item_name}%' or
						aci.wbx_code like '%${check_item_name}%' )
			</if>
			<if test="sort_code != null and sort_code != ''">
				AND aci.sort_code = #{sort_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND aci.is_stop = #{is_stop}
			</if>
		</where>
		order by aci.sort_code,check_item_code asc
	</select>

	<select id="queryAccCheckItemByExtend" parameterType="java.util.Map" resultMap="accCheckItem">

		SELECT
		check_item_id,
		check_type_id,
		group_id,
		hos_id,
		copy_code,
		check_item_code,
		check_item_name,
		sort_code,
		spell_code,
		wbx_code,
		is_stop ,
		type_code
		FROM ACC_CHECK_ITEM aci
		<where>
			not exists(
			select b.check_item_id,
			b.check_type_id from ACC_CHECK_ITEM b
			<where>
				<if test="group_id != null and group_id != ''">
					AND b.group_id = #{group_id}
				</if>
				<if test="hos_code != null and hos_code != ''">
					AND b.hos_id = #{hos_code}
				</if>
				<if test="copy_id != null and copy_id != ''">
					AND b.copy_code = #{copy_id}
				</if>
				and aci.CHECK_ITEM_CODE=b.CHECK_ITEM_CODE
			</where>
			)
			<if test="group_id != null and group_id != ''">
					AND aci.group_id = #{group_id}
				</if>
				<if test="hos_id != null and hos_id != ''">
					AND aci.hos_id = #{hos_id}
				</if>
				<if test="copy_code != null and copy_code != ''">
					AND aci.copy_code = #{copy_code}
				</if>
		</where>
		order by check_item_id asc
	</select>
	
	<select id="queryItemExtend" parameterType="java.util.Map" resultMap="accCheckItem">

		SELECT
		check_item_id,
		check_type_id,
		group_id,
		hos_id,
		copy_code,
		check_item_code,
		check_item_name,
		sort_code,
		spell_code,
		wbx_code,
		is_stop ,
		type_code
		FROM ACC_CHECK_ITEM
		<where>
			<if test="check_type_id != null and check_type_id != ''">
				AND check_type_id = #{check_type_id}
			</if>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop}
			</if>
		</where>
	</select>
	
	<!--批量删除核算项根据ID判断辅助核算表是否存在 -->
	<select id="existsAccVouchCheckByForeignKey" resultType="java.lang.Integer" parameterType="java.util.List">
		
		SELECT count(1) FROM acc_vouch_check
		WHERE 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">  
        	${item.column_check}=#{item.check_item_id} 
    	</foreach> 
		
	</select>
	
	<!--批量删除核算项根据ID判断辅助核算账表是否存在 -->
	<select id="existsAccLederCheckByForeignKey" resultType="java.lang.Integer" parameterType="java.util.List">
		
		SELECT count(1) FROM acc_leder_check
		WHERE 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">  
        	${item.column_check}=#{item.check_item_id} 
    	</foreach> 
		
	</select>
	
	<!-- 继承自定义核算项批量复制表 -->
	<insert id="addBatchAccCheckItemBySelect" parameterType="java.util.Map">
		insert into acc_check_item(CHECK_ITEM_ID, CHECK_TYPE_ID, GROUP_ID, HOS_ID, COPY_CODE, CHECK_ITEM_CODE, CHECK_ITEM_NAME, sort_code, SPELL_CODE, WBX_CODE, IS_STOP)
		select ACC_CHECK_ITEM_SEQ.nextval, #{cur_check_type_id}, #{group_id}, #{cur_hos_id}, #{cur_copy_code}, a.CHECK_ITEM_CODE, a.CHECK_ITEM_NAME, a.sort_code, a.SPELL_CODE, a.WBX_CODE, a.IS_STOP
 		from acc_check_item a
 		where a.group_id=#{group_id} and a.hos_id=#{hos_id} and a.copy_code=#{copy_code} and a.check_type_id=#{check_type_id} and a.is_stop=0
 		and not exists(select 1 from acc_check_item b 
 			where b.group_id=#{group_id} and b.hos_id=#{cur_hos_id} and b.copy_code=#{cur_copy_code} and b.check_type_id=#{cur_check_type_id}
 			and b.check_item_code=a.check_item_code
 		)
	</insert>
	
	<select id="getAccZCheckItemColumns" resultType="java.lang.String" parameterType="java.util.Map">
		select to_char(wm_concat(<if test="table != null and table != ">#{table}.||</if>column_check)) from acc_check_type
		where group_id = #{group_id} and hos_id = #{hos_id} and copy_code = #{copy_code}
			and is_sys = 0 and is_stop = 0 and column_check is not null 
		order by sort_code
	</select>
	
	<select id="getAccZCheckItemNames" resultType="java.lang.String" parameterType="java.util.Map">
		
		select to_char(wm_concat(check_type_name)) from acc_check_type
		where group_id = '2' and hos_id = '2' and copy_code = '001'
			and is_sys = 0 and is_stop = 0 and column_check is not null
		order by sort_code
	</select>
	
	<select id="existsCodeUpdate" resultType="java.lang.Integer" parameterType="java.util.Map">

		SELECT 
		count(check_item_code)
		FROM acc_check_item 
		WHERE		
		check_type_id = #{check_type_id} and
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and 
		check_item_code = #{check_item_code} 
		<if test="check_item_id != null and check_tiem_id != ''">
		and check_item_id != #{check_item_id} 
		</if>
	</select>
	
	<select id="existsNameAdd" resultType="java.lang.Integer" parameterType="java.util.Map">

		SELECT 
		count(check_item_name)
		FROM acc_check_item 
		WHERE		
		check_type_id = #{check_type_id} and
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and 
		check_item_name = #{check_item_name} 
		<if test="check_item_id != null and check_tiem_id != ''">
		and check_item_id != #{check_item_id} 
		</if>
	</select>
	
	<select id="queryAccCheckItemsByCode" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			check_item_id,
			check_type_id,
			group_id,
			hos_id,
			copy_code,
			check_item_code,
			check_item_name,
			sort_code,
			spell_code,
			wbx_code,
			is_stop ,
			type_code
		FROM ACC_CHECK_ITEM
		<where>
			<if test="group_id!=null and group_id!=''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id!=null and hos_id!=''">
				 and hos_id = #{hos_id}
			</if>
			<if test="copy_code!=null and cope_code!=''">
			     and copy_code = #{copy_code}
			</if>
			<if test="check_type_id!=null and check_type_id!=''">
				 and check_type_id = #{check_type_id} 
			</if>
			<if test="check_item_code!=null and check_item_code!=''">
				 and check_item_code = #{check_item_code} 
			</if>
			<if test="check_item_id!=null and check_item_id!=''">
				 and check_item_id != #{check_item_id} 
			</if> 
		</where>
	</select>
	
	<select id="queryAccCheckItemsByTypeAndName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			check_item_id,
			check_type_id,
			group_id,
			hos_id,
			copy_code,
			check_item_code,
			check_item_name,
			sort_code,
			spell_code,
			wbx_code,
			is_stop ,
			type_code
		FROM ACC_CHECK_ITEM
		<where>
			<if test="group_id!=null and group_id!=''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id!=null and hos_id!=''">
				 and hos_id = #{hos_id} 
			</if>
			<if test="copy_code!=null and cope_code!=''">
			     and copy_code = #{copy_code}
			</if>
			<if test="check_type_id!=null and check_type_id!=''">
				 and check_type_id = #{check_type_id} 
			</if>
			<if test="check_item_name!=null and check_item_name!=''">
				 and check_item_name = #{check_item_name} 
			</if>
			<if test="check_item_id!=null and check_item_id!=''">
				 and check_item_id != #{check_item_id} 
			</if>
		</where>
	</select>
	
	<select id="queryAccCheckEmpSet" resultMap="accCheckEmpSet" parameterType="java.util.Map">
		select a.group_id, a.hos_id, a.attr_code as old_code,a.attr_code,
		a.attr_name,a.is_stop,a.spell_code,a.wbx_code,a.note 
		from acc_attr_dict a
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			
	</select>
	<select id="queryAccCheckEmpSetByCode" resultType="com.chd.hrp.acc.entity.AccCheckEmpSet" parameterType="string">
		select a.group_id, a.hos_id, a.attr_code,
		a.attr_name,a.is_stop,a.spell_code,a.wbx_code,a.note 
		from acc_attr_dict a
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			<if test="attr_code!=null and attr_code!=''">
			     and attr_code = #{attr_code}
			</if>
			
	</select>
	<!-- 添加 -->
	<insert id="add" parameterType="java.util.Map">
		INSERT INTO acc_attr_dict (
			group_id, hos_id, attr_code, attr_name,is_stop,spell_code,wbx_code,note
		) VALUES (
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{attr_code,jdbcType=VARCHAR},
			#{attr_name,jdbcType=VARCHAR},
			#{is_stop,jdbcType=INTEGER},
			#{spell_code,jdbcType=VARCHAR},
			#{wbx_code,jdbcType=VARCHAR},
			#{note,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 修改 -->
	<update id="update" parameterType="java.util.Map">
		UPDATE acc_attr_dict 
		SET  
			attr_name = #{attr_name,jdbcType=VARCHAR}, 
			is_stop = #{is_stop,jdbcType=INTEGER}, 
			note = #{note,jdbcType=VARCHAR}, 
			spell_code = #{spell_code,jdbcType=VARCHAR}, 
			wbx_code = #{wbx_code,jdbcType=VARCHAR} 
			
		WHERE group_id =#{group_id,jdbcType=INTEGER}
			AND hos_id =#{hos_id,jdbcType=INTEGER}
			AND attr_code =#{old_code,jdbcType=VARCHAR}
	</update>
	<!-- 批量删除 -->
	<delete id="deleteAccCheckEmpSet" parameterType="java.util.List">
		DELETE FROM acc_attr_dict 
		WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND attr_code = #{item.old_code,jdbcType=VARCHAR}
		</foreach>
	</delete>
	<select id="existsAccCheckItemEmpPayByCode" resultType="java.lang.Integer" parameterType="java.util.List">
		select count(1) from ACC_EMP_ATTR
		where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">  
        	group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
        	AND attr_code=#{item.old_code,jdbcType=VARCHAR} 
    	</foreach> 
	</select>
</mapper>

