<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.commonbuilder.AccCashierTypeMapper">

	<resultMap id="accCashierType" type="com.chd.hrp.acc.entity.AccCashierType">
		<result property="tell_type_code" column="tell_type_code" />
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="tell_type_name" column="tell_type_name" />
		<result property="is_stop" column="is_stop" />
		<result property="nature_code" column="nature_code" />
		<result property="kind_code" column="kind_code" />
		<result property="vouch_type_code" column="vouch_type_code" />
		<result property="vouch_type_name" column="vouch_type_name" />
	</resultMap>

	<insert id="addAccCashierType" useGeneratedKeys="true">

		INSERT INTO ACC_TELL_TYPE (
		
		tell_type_code
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		tell_type_name
		,
		is_stop
		,
		nature_code
		,
		kind_code,
		vouch_type_code
		) VALUES (
		#{tell_type_code} ,
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{tell_type_name} ,
		#{is_stop},
		#{nature_code},
		#{kind_code},
		#{vouch_type_code}
		)

	</insert>
	<insert id="addBatchAccCashierType" parameterType="java.util.List">

		INSERT INTO ACC_TELL_TYPE (
		tell_type_code
		,
		group_id
		,
		hos_id
		,
		copy_code
		,
		tell_type_name
		,
		is_stop
		,
		nature_code
		,
		kind_code
		,
		vouch_type_code
		)
		<foreach collection="list" item="item" index="index"
			separator=" union">
			select
			#{item.tell_type_code} ,
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.copy_code} ,
			#{item.tell_type_name} ,
			#{item.is_stop},
			#{item.nature_code},
			#{item.kind_code},
			#{item.vouch_type_code}
			from dual
		</foreach>

	</insert>

	<update id="updateAccCashierType" parameterType="java.util.Map">

		UPDATE ACC_TELL_TYPE SET
		tell_type_name = #{tell_type_name,jdbcType=VARCHAR}
		,
		is_stop = #{is_stop,jdbcType=INTEGER}
		,
		kind_code = #{kind_code,jdbcType=VARCHAR}
		,
		vouch_type_code = #{vouch_type_code,jdbcType=VARCHAR}
		WHERE
		tell_type_code = #{tell_type_code,jdbcType=VARCHAR}
		and
		group_id = #{group_id,jdbcType=INTEGER}
		and
		hos_id = #{hos_id,jdbcType=INTEGER}
		and
		copy_code = #{copy_code,jdbcType=INTEGER}


	</update>
	<update id="updateBatchAccCashierType" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE ACC_TELL_TYPE SET
			tell_type_name = #{tell_type_name}
			,
			is_stop = #{is_stop}
			,
			kind_code = #{kind_code}
			,
			vouch_type_code = #{vouch_type_code,jdbcType=VARCHAR}
			WHERE
			tell_type_code = #{item.tell_type_code}
			and
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}

		</foreach>
	</update>

	<delete id="deleteAccCashierType" parameterType="java.util.Map">

		DELETE FROM ACC_TELL_TYPE WHERE
		tell_type_code = #{tell_type_code} and
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code}

	</delete>
	<delete id="deleteBatchAccCashierType" parameterType="java.util.List">
		DELETE FROM ACC_TELL_TYPE WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			tell_type_code = #{item.tell_type_code}
			and
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}

		</foreach>


	</delete>

	<select id="queryAccCashierTypeByCode" resultType="com.chd.hrp.acc.entity.AccCashierType"
		parameterType="string">

		SELECT 
		att.tell_type_code,
		att.group_id,
		att.hos_id,
		att.copy_code,
		att.tell_type_name,
		att.is_stop,
		att.nature_code,
		att.kind_code,
		avt.vouch_type_code,
    	avt.vouch_type_name
		FROM ACC_TELL_TYPE att left join acc_vouch_type avt
	    on att.group_id=avt.group_id and att.hos_id=avt.hos_id
	    and att.copy_code = avt.copy_code and att.vouch_type_code=avt.vouch_type_code
		<where>
			<if test="tell_type_code != null and tell_type_code != ''">
				and att.tell_type_code = #{tell_type_code,jdbcType=VARCHAR}
			</if>
			<if test="tell_type_name != null and tell_type_name != ''">
				and att.tell_type_name = #{tell_type_name,jdbcType=VARCHAR}
			</if>
			<if test="group_id != null and group_id != ''">
				and att.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and att.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and att.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
		</where>

	</select>
	<select id="queryAccCashierType" parameterType="java.util.Map"
		resultMap="accCashierType">

		SELECT
		tell_type_code,
		group_id,
		hos_id,
		copy_code,
		tell_type_name,
		is_stop,
		nature_code,
		kind_code,
		vouch_type_code
		FROM ACC_TELL_TYPE
		<where>
			    group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			<if test="tell_type_code != null and tell_type_code != ''">
				AND (
				tell_type_code like '%${tell_type_code}%' or
				tell_type_name like '%${tell_type_code}%'
				)
			</if>
			<if test="tell_type_name != null and tell_type_name != ''">
				AND tell_type_name like '%${tell_type_name}%'
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop}
			</if>
		</where>
		order by tell_type_code asc
	</select>

	<select id="queryAccCashierTypeExitsByName" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from acc_tell_type  where group_id=#{group_id} and hos_id=#{hos_id} and copy_code =#{copy_code} and tell_type_name=#{tell_type_name}
	</select>
	<select id="queryAccCashierTypeExitsByCode" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from acc_tell_type  where group_id=#{group_id} and hos_id=#{hos_id} and copy_code =#{copy_code} and tell_type_code=#{tell_type_code}
	</select>
	
	<select id="queryAccCashierTypeByKindCode" parameterType="java.util.Map"
		resultMap="accCashierType">

		SELECT
		tell_type_code,
		group_id,
		hos_id,
		copy_code,
		tell_type_name,
		is_stop,
		nature_code,
		kind_code,
		vouch_type_code
		FROM ACC_TELL_TYPE
		<where>
			    group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND kind_code = #{kind_code}
			AND tell_type_code  &lt;&gt; #{tell_type_code}
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop}
			</if>
		</where>
		order by tell_type_code asc
	</select>
</mapper>

