<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.commonbuilder.AccPermDataMapper">

	<resultMap id="accPermData"  type="com.chd.hrp.acc.entity.AccPermData">
        <result property="obj_id" column="obj_id"/>
        <result property="obj_code" column="obj_code"/>
        <result property="obj_name" column="obj_name"/>
        <result property="is_read" column="is_read"/>
        <result property="is_write" column="is_write"/>
	</resultMap>
	
	<resultMap id="accUserPermData"  type="com.chd.hrp.acc.entity.AccUserPermData">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="user_id" column="user_id"/>
        <result property="role_id" column="role_id"/>
        <result property="table_code" column="table_code"/>
        <result property="perm_code" column="perm_code"/>
        <result property="mod_code" column="mod_code"/>
        <result property="is_read" column="is_read"/>
        <result property="is_write" column="is_write"/>
	</resultMap>
	

    <select id="queryAccPermData" parameterType="java.util.Map" resultMap="accPermData" >
        ${sql}
    </select>
    
    <select id="queryAccUserPermData" parameterType="java.util.Map" resultMap="accUserPermData">
    	select 
    		group_id,
    		hos_id,
    		copy_code,
    		user_id,
    		table_code,
    		perm_code,
    		mod_code,
    		is_read,
    		is_write
    	 from SYS_USER_PERM_DATA 
    	 <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="user_id != null and user_id != ''">
                    AND user_id = #{user_id}
               </if>
               <if test="table_code != null and table_code != ''">
                    AND table_code = #{table_code}
               </if>
               <if test="perm_code != null and perm_code != ''">
                    AND perm_code = #{perm_code}
               </if>
               <if test="mod_code != null and mod_code != ''">
                    AND mod_code = #{mod_code}
               </if>
        </where>
    </select>
    
    <select id="queryAccRolePermData" parameterType="java.util.Map" resultMap="accUserPermData">
    	select 
    		group_id,
    		hos_id,
    		copy_code,
    		role_id,
    		table_code,
    		perm_code,
    		mod_code,
    		is_read,
    		is_write
    	 from SYS_ROLE_PERM_DATA 
    	 <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="role_id != null and role_id != ''">
                    AND role_id = #{role_id}
               </if>
               <if test="table_code != null and table_code != ''">
                    AND table_code = #{table_code}
               </if>
               <if test="perm_code != null and perm_code != ''">
                    AND perm_code = #{perm_code}
               </if>
               <if test="mod_code != null and mod_code != ''">
                    AND mod_code = #{mod_code}
               </if>
        </where>
    </select>
    
    <insert id="addAccRolePermData"  parameterType="java.util.List">
    	insert into SYS_ROLE_PERM_DATA(
    		group_id,
    		hos_id,
    		copy_code,
    		acc_year,
    		role_id,
    		table_code,
    		perm_code,
    		mod_code,
    		is_read,
    		is_write
    	)
    	<foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
			#{item.group_id},
    		#{item.hos_id},
    		#{item.copy_code},
    		#{item.acc_year},
    		#{item.role_id},
    		#{item.table_code},
    		#{item.perm_code},
    		#{item.mod_code},
    		#{item.is_read},
    		#{item.is_write}		 
		 from dual 
		</foreach>
    </insert>
    
    
    <insert id="addAccUserPermData"  parameterType="java.util.List">
    	insert into SYS_USER_PERM_DATA(
    		group_id,
    		hos_id,
    		copy_code,
    		acc_year,
    		user_id,
    		table_code,
    		perm_code,
    		mod_code,
    		is_read,
    		is_write
    	)
    	<foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
			#{item.group_id},
    		#{item.hos_id},
    		#{item.copy_code},
    		#{item.acc_year},
    		#{item.user_id},
    		#{item.table_code},
    		#{item.perm_code},
    		#{item.mod_code},
    		#{item.is_read},
    		#{item.is_write}		 
		 from dual 
		</foreach>
    </insert>
    
    <delete id="deleteAccUserPermData" parameterType="java.util.Map">

		DELETE FROM
			SYS_USER_PERM_DATA WHERE
		group_id = #{group_id}
		and hos_id = #{hos_id} 
		<if test="acc_year != null and acc_year != ''">and acc_year = #{acc_year} </if>
		<if test="copy_code != null and copy_code != ''">and copy_code = #{copy_code} </if>
		and user_id = #{user_id}
		and table_code = #{table_code}
		and mod_code = #{mod_code}

	</delete>
	
	<delete id="deleteAccRolePermData" parameterType="java.util.Map">

		DELETE FROM
			SYS_ROLE_PERM_DATA WHERE
		group_id = #{group_id}
		and hos_id = #{hos_id} 
		<if test="acc_year != null and acc_year != ''">and acc_year = #{acc_year} </if>
		<if test="copy_code != null and copy_code != ''">and copy_code = #{copy_code} </if>
		and role_id = #{role_id}
		and table_code = #{table_code}
		and mod_code = #{mod_code}

	</delete>
    
</mapper>

