<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.eqc.dao.base.AssEqGroupDetailMapper">
	
	<resultMap id="assEqGroupDetail" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="eq_unit_code" column="eq_unit_code"/>
	<result property="eo_eq_group" column="eo_eq_group"/>
	<result property="eo_eq_group_name" column="eo_eq_group_name"/>
	<result property="main_flag" column="main_flag"/>
	<result property="income_rate" column="income_rate"/>
	<result property="expend_rate" column="expend_rate"/>
	<result property="from_date" column="from_date"/>
	<result property="to_date" column="to_date"/>
	<result property="update_date" column="update_date"/>
	<result property="update_time" column="update_time"/>
	<result property="update_userdr" column="update_userdr"/>
	<result property="invalid_flag" column="invalid_flag"/>
	<result property="remark" column="remark"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_EQ_UNIT_DETAIL (
			group_id
			,
			hos_id
			,
			copy_code
			,
			eq_unit_code
			,
			eo_eq_group
			,
			main_flag
			,
			income_rate
			,
			expend_rate
			,
			from_date
			,
			to_date
			,
			update_date
			,
			update_time
			,
			update_userdr
			,
			invalid_flag
			,
			remark
		
		) VALUES (
			#{group_id}		,
			#{hos_id}		,
			#{copy_code}		,
			#{eq_unit_code}		,
			#{eo_eq_group}		,
			#{main_flag}		,
			#{income_rate}		,
			#{expend_rate}		,
			#{from_date}		,
			#{to_date}		,
			#{update_date}		,
			#{update_time}		,
			#{update_userdr}		,
			#{invalid_flag}		,
			#{remark}		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_EQ_UNIT_DETAIL (
			group_id
			,
			hos_id
			,
			copy_code
			,
			eq_unit_code
			,
			eo_eq_group
			,
			main_flag
			,
			income_rate
			,
			expend_rate
			,
			from_date
			,
			to_date
			,
			update_date
			,
			update_time
			,
			update_userdr
			,
			invalid_flag
			,
			remark
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id}			,
				#{item.hos_id}			,
				#{item.copy_code}			,
				#{item.eq_unit_code}			,
				#{item.eo_eq_group}			,
				#{item.main_flag}			,
				#{item.income_rate}			,
				#{item.expend_rate}			,
				#{item.from_date}			,
				#{item.to_date}			,
				#{item.update_date}			,
				#{item.update_time}			,
				#{item.update_userdr}			,
				#{item.invalid_flag}			,
				#{item.remark}			
			from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ASS_EQ_UNIT_DETAIL SET
			main_flag = #{main_flag}
			,
			income_rate = #{income_rate}
			,
			expend_rate = #{expend_rate}
			,
			from_date = #{from_date}
			,
			to_date = #{to_date}
			,
			update_date = #{update_date}
			,
			update_time = #{update_time}
			,
			update_userdr = #{update_userdr}
			,
			invalid_flag = #{invalid_flag}
			,
			remark = #{remark}
		
		WHERE 
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and eq_unit_code = #{eq_unit_code}
			and eo_eq_group = #{eo_eq_group}
		
	
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ASS_EQ_UNIT_DETAIL SET
				main_flag = #{item.main_flag}		,
				income_rate = #{item.income_rate}	,
				expend_rate = #{item.expend_rate}	,
				from_date = #{item.from_date} ,
				to_date = #{item.to_date} ,
				update_date = #{item.update_date} ,
				update_time = #{item.update_time} ,
				update_userdr = #{item.update_userdr} ,
				invalid_flag = #{item.invalid_flag} ,
				remark = #{item.remark}
			
			WHERE 
				group_id = #{item.group_id}
				and hos_id = #{item.hos_id}
				and copy_code = #{item.copy_code}
				and eq_unit_code = #{item.eq_unit_code}
				and eo_eq_group = #{item.eo_eq_group}
			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ASS_EQ_UNIT_DETAIL 
		WHERE
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and eq_unit_code = #{eq_unit_code}
			and eo_eq_group = #{eo_eq_group}
		
	
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ASS_EQ_UNIT_DETAIL WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
					group_id = #{item.group_id}
				and hos_id = #{item.hos_id}
				and copy_code = #{item.copy_code}
				and eq_unit_code = #{item.eq_unit_code}
				<if test="item.eo_eq_group != null and item.eo_eq_group != ''">
				and eo_eq_group = #{item.eo_eq_group}
				</if>
				
		
			</foreach>
	
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assEqGroupDetail" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.eq_unit_code,
			a.eo_eq_group,
			c.ass_name eo_eq_group_name,
			a.main_flag,
			a.income_rate,
			a.expend_rate,
			a.from_date,
			a.to_date,
			a.update_date,
			a.update_time,
			a.update_userdr,
			a.invalid_flag,
			a.remark
		FROM ASS_EQ_UNIT_DETAIL a
		LEFT JOIN V_ASS_CARD b
			on a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.eo_eq_group = b.ASS_CARD_NO
		left join ASS_NO_DICT c
			on  b.group_id = c.group_id
			and b.hos_id = c.hos_id
			and b.copy_code = c.copy_code
			and b.ass_id = c.ass_id
			and b.ass_no = c.ass_no
		where                     
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			<if test="eq_unit_code != null and eq_unit_code != ''">
			AND a.eq_unit_code = #{eq_unit_code}
			</if>
			<if test="eo_eq_group != null and eo_eq_group != ''">
			AND a.eo_eq_group = #{eo_eq_group}
			</if>
		order by a.eo_eq_group asc
	</select>
	<select id="queryByCode" resultMap="assEqGroupDetail" parameterType="string" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			eq_unit_code,
			eo_eq_group,
			main_flag,
			income_rate,
			expend_rate,
			from_date,
			to_date,
			update_date,
			update_time,
			update_userdr,
			invalid_flag,
			remark
		FROM ASS_EQ_UNIT_DETAIL 
		WHERE 
			group_id = #{group_id}
			and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and eq_unit_code = #{eq_unit_code}
			and eo_eq_group = #{eo_eq_group}
	
	</select>

</mapper>

