<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.teachingmanagement.HrWithTeachMapper">
	
	<resultMap id="hrWithTeach" type="com.chd.hrp.hr.entity.teachingmanagement.HrWithTeach">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="emp_id" column="emp_id"/>
	<result property="year" column="year"/>
	<result property="month" column="month"/>
	<result property="dept_id" column="dept_id"/>
	<result property="student" column="student"/>
	<result property="rotate" column="rotate"/>
	<result property="stud_eval" column="stud_eval"/>
	<result property="net_aduit" column="net_aduit"/>
	<result property="attend_meet" column="attend_meet"/>
	<result property="with_teach_grade" column="with_teach_grade"/>
	<result property="with_teach_money" column="with_teach_money"/>
	<result property="ultrasound" column="ultrasound"/>
	<result property="case_qc" column="case_qc"/>
	<result property="teach" column="teach"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="hrWithTeachMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="emp_id" column="emp_id"/>
	<result property="year" column="year"/>
	<result property="month" column="month"/>
	<result property="dept_id" column="dept_id"/>
	<result property="student" column="student"/>
	<result property="rotate" column="rotate"/>
	<result property="stud_eval" column="stud_eval"/>
	<result property="net_aduit" column="net_aduit"/>
	<result property="attend_meet" column="attend_meet"/>
	<result property="with_teach_grade" column="with_teach_grade"/>
	<result property="with_teach_money" column="with_teach_money"/>
	<result property="ultrasound" column="ultrasound"/>
	<result property="case_qc" column="case_qc"/>
	<result property="teach" column="teach"/>
	
	<result property="teach" column="teach"/>
	<result property="teach" column="teach"/>
	
	<result property="dept_name" column="dept_name"/><!-- 轮转科室.. -->
	<result property="note" column="note"/>
	</resultMap>
	
	<resultMap id="hrSelectMap" type="java.util.Map">
        <result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO HR_WITH_TEACH (
		<trim suffix="" suffixOverrides=",">
		group_id,
		hos_id,
		emp_id,
		year,
		month,
		dept_id,
		student,
		rotate,
		stud_eval,
		net_aduit,
		attend_meet,
		with_teach_grade,
		with_teach_money,
		ultrasound,
		case_qc,
		teach,
		note,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER},
		#{hos_id,jdbcType=INTEGER},
		#{emp_id,jdbcType=INTEGER},
		#{year,jdbcType=VARCHAR},
		#{month,jdbcType=VARCHAR},
		#{dept_id,jdbcType=INTEGER},
		#{student,jdbcType=VARCHAR},
		#{rotate,jdbcType=INTEGER},
		#{stud_eval,jdbcType=INTEGER},
		#{net_aduit,jdbcType=INTEGER},
		#{attend_meet,jdbcType=INTEGER},
		#{with_teach_grade,jdbcType=INTEGER},
		#{with_teach_money,jdbcType=INTEGER},
		#{ultrasound,jdbcType=INTEGER},
		#{case_qc,jdbcType=INTEGER},
		#{teach,jdbcType=INTEGER},
		#{note,jdbcType=VARCHAR}
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_WITH_TEACH (
		group_id,
		hos_id,
		emp_id,
		year,
		month,
		dept_id,
		student,
		rotate,
		stud_eval,
		net_aduit,
		attend_meet,
		with_teach_grade,
		with_teach_money,
		ultrasound,
		case_qc,
		teach,
		note
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.emp_id,jdbcType=INTEGER},
			#{item.year,jdbcType=VARCHAR},
			#{item.month,jdbcType=VARCHAR},
			#{item.dept_id,jdbcType=INTEGER},
			#{item.student,jdbcType=VARCHAR},
			#{item.rotate,jdbcType=INTEGER},
			#{item.stud_eval,jdbcType=INTEGER},
			#{item.net_aduit,jdbcType=INTEGER},
			#{item.attend_meet,jdbcType=INTEGER},
			#{item.with_teach_grade,jdbcType=INTEGER},
			#{item.with_teach_money,jdbcType=INTEGER},
			#{item.ultrasound,jdbcType=INTEGER},
			#{item.case_qc,jdbcType=INTEGER},
			#{item.teach,jdbcType=INTEGER},
			#{item.note,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_with_teach 
		<trim prefix="SET"  suffixOverrides=","> 
		dept_id = #{dept_id,jdbcType=INTEGER},
		student = #{student,jdbcType=VARCHAR},
		rotate = #{rotate,jdbcType=INTEGER},
		stud_eval = #{stud_eval,jdbcType=INTEGER},
		net_aduit = #{net_aduit,jdbcType=INTEGER},
		attend_meet = #{attend_meet,jdbcType=INTEGER},
		with_teach_grade = #{with_teach_grade,jdbcType=INTEGER},
		with_teach_money = #{with_teach_money,jdbcType=INTEGER},
		ultrasound = #{ultrasound,jdbcType=INTEGER},
		case_qc = #{case_qc,jdbcType=INTEGER},
		teach = #{teach,jdbcType=INTEGER},
		note = #{note,jdbcType=VARCHAR},
		</trim>
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		AND year = #{year,jdbcType=VARCHAR}
		AND month = #{month,jdbcType=VARCHAR}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_with_teach 
			<trim prefix="SET"  suffixOverrides=","> 
			dept_id = #{item.dept_id,jdbcType=INTEGER},
			student = #{item.student,jdbcType=VARCHAR},
			rotate = #{item.rotate,jdbcType=INTEGER},
			stud_eval = #{item.stud_eval,jdbcType=INTEGER},
			net_aduit = #{item.net_aduit,jdbcType=INTEGER},
			attend_meet = #{item.attend_meet,jdbcType=INTEGER},
			with_teach_grade = #{item.with_teach_grade,jdbcType=INTEGER},
			with_teach_money = #{item.with_teach_money,jdbcType=INTEGER},
			ultrasound = #{item.ultrasound,jdbcType=INTEGER},
			case_qc = #{item.case_qc,jdbcType=INTEGER},
			teach = #{item.teach,jdbcType=INTEGER},
			note = #{item.note,jdbcType=VARCHAR},
			</trim>
			<where>                     
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND emp_id = #{item.emp_id,jdbcType=INTEGER}
			AND year = #{item.year,jdbcType=VARCHAR}
			AND month = #{item.month,jdbcType=VARCHAR}
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM hr_with_teach 
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		AND year = #{year,jdbcType=VARCHAR}
		AND month = #{month,jdbcType=VARCHAR}
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM hr_with_teach 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.emp_id != null and item.emp_id != ''">
				AND emp_id = #{item.emp_id,jdbcType=INTEGER}
				</if>
				<if test="item.year != null and item.year != ''">
				AND year = #{item.year,jdbcType=VARCHAR}
				</if>
				<if test="item.month != null and item.month != ''">
				AND month = #{item.month,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<delete id="deleteHrWithTeach" parameterType="java.util.List">
		DELETE FROM hr_with_teach 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				 group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND emp_id = #{item.emp_id,jdbcType=INTEGER}
				AND year = #{item.year,jdbcType=VARCHAR}
				AND month = #{item.month,jdbcType=VARCHAR}
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrWithTeachMap" >
	
		SELECT 
		hwt.group_id,
		hwt.hos_id,
		hwt.emp_id,
        hed.emp_code "emp_code",
        hed.emp_name "emp_name",
		hwt.year,
		hwt.month,
		hwt.dept_id,
        d.dept_name,
		hwt.student,
		hwt.rotate,
		hwt.stud_eval,
		hwt.net_aduit,
		hwt.attend_meet,
		hwt.with_teach_grade,
		hwt.with_teach_money,
		hwt.ultrasound,
		hwt.case_qc,
		hwt.teach,
		hwt.note
		FROM HR_WITH_TEACH hwt
    <!-- 连接员工表 -->
       left join HOS_EMP hed
       on hwt.emp_id=hed.emp_id and hed.IS_STOP='0' 
    <!-- 轮转科室表 -->
       left join HR_EMP_DEPT ed
	   on hwt.EMP_ID=ed.EMP_ID
	   left join HOS_DEPT_DICT d
	   on hwt.DEPT_ID=d.DEPT_ID and d.IS_STOP='0' and d.IS_DISABLE='0'
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND hwt.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hwt.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND hwt.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="emp_name != null and emp_name != ''">
		AND hed.emp_name = #{emp_name,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND hwt.year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="month != null and month != ''">
		AND hwt.month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND hwt.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="student != null and student != ''">
		AND hwt.student = #{student,jdbcType=VARCHAR}
		</if>
		<if test="rotate != null and rotate != ''">
		AND hwt.rotate = #{rotate,jdbcType=INTEGER}
		</if>
		<if test="stud_eval != null and stud_eval != ''">
		AND hwt.stud_eval = #{stud_eval,jdbcType=INTEGER}
		</if>
		<if test="net_aduit != null and net_aduit != ''">
		AND hwt.net_aduit = #{net_aduit,jdbcType=INTEGER}
		</if>
		<if test="attend_meet != null and attend_meet != ''">
		AND hwt.attend_meet = #{attend_meet,jdbcType=INTEGER}
		</if>
		<if test="with_teach_grade != null and with_teach_grade != ''">
		AND hwt.with_teach_grade = #{with_teach_grade,jdbcType=INTEGER}
		</if>
		<if test="with_teach_money != null and with_teach_money != ''">
		AND hwt.with_teach_money = #{with_teach_money,jdbcType=INTEGER}
		</if>
		<if test="ultrasound != null and ultrasound != ''">
		AND hwt.ultrasound = #{ultrasound,jdbcType=INTEGER}
		</if>
		<if test="case_qc != null and case_qc != ''">
		AND hwt.case_qc = #{case_qc,jdbcType=INTEGER}
		</if>
		<if test="teach != null and teach != ''">
		AND hwt.teach = #{teach,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND hwt.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by hwt.year desc ,hwt.month desc,hed.emp_code asc
	</select>
	<select id="queryByCode" resultMap="hrWithTeach"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		emp_id,
		year,
		month,
		dept_id,
		student,
		rotate,
		stud_eval,
		net_aduit,
		attend_meet,
		with_teach_grade,
		with_teach_money,
		ultrasound,
		case_qc,
		teach,
		note
		FROM hr_with_teach 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		emp_id = #{emp_id,jdbcType=INTEGER}   and 
		year = #{year,jdbcType=VARCHAR}   and 
		month = #{month,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="hrWithTeach"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		emp_id,
		year,
		month,
		dept_id,
		student,
		rotate,
		stud_eval,
		net_aduit,
		attend_meet,
		with_teach_grade,
		with_teach_money,
		ultrasound,
		case_qc,
		teach,
		note
		FROM HR_WITH_TEACH 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="student != null and student != ''">
		AND student = #{student,jdbcType=VARCHAR}
		</if>
		<if test="rotate != null and rotate != ''">
		AND rotate = #{rotate,jdbcType=INTEGER}
		</if>
		<if test="stud_eval != null and stud_eval != ''">
		AND stud_eval = #{stud_eval,jdbcType=INTEGER}
		</if>
		<if test="net_aduit != null and net_aduit != ''">
		AND net_aduit = #{net_aduit,jdbcType=INTEGER}
		</if>
		<if test="attend_meet != null and attend_meet != ''">
		AND attend_meet = #{attend_meet,jdbcType=INTEGER}
		</if>
		<if test="with_teach_grade != null and with_teach_grade != ''">
		AND with_teach_grade = #{with_teach_grade,jdbcType=INTEGER}
		</if>
		<if test="with_teach_money != null and with_teach_money != ''">
		AND with_teach_money = #{with_teach_money,jdbcType=INTEGER}
		</if>
		<if test="ultrasound != null and ultrasound != ''">
		AND ultrasound = #{ultrasound,jdbcType=INTEGER}
		</if>
		<if test="case_qc != null and case_qc != ''">
		AND case_qc = #{case_qc,jdbcType=INTEGER}
		</if>
		<if test="teach != null and teach != ''">
		AND teach = #{teach,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="hrWithTeach"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		emp_id,
		year,
		month,
		dept_id,
		student,
		rotate,
		stud_eval,
		net_aduit,
		attend_meet,
		with_teach_grade,
		with_teach_money,
		ultrasound,
		case_qc,
		teach,
		note
		FROM HR_WITH_TEACH 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="student != null and student != ''">
		AND student = #{student,jdbcType=VARCHAR}
		</if>
		<if test="rotate != null and rotate != ''">
		AND rotate = #{rotate,jdbcType=INTEGER}
		</if>
		<if test="stud_eval != null and stud_eval != ''">
		AND stud_eval = #{stud_eval,jdbcType=INTEGER}
		</if>
		<if test="net_aduit != null and net_aduit != ''">
		AND net_aduit = #{net_aduit,jdbcType=INTEGER}
		</if>
		<if test="attend_meet != null and attend_meet != ''">
		AND attend_meet = #{attend_meet,jdbcType=INTEGER}
		</if>
		<if test="with_teach_grade != null and with_teach_grade != ''">
		AND with_teach_grade = #{with_teach_grade,jdbcType=INTEGER}
		</if>
		<if test="with_teach_money != null and with_teach_money != ''">
		AND with_teach_money = #{with_teach_money,jdbcType=INTEGER}
		</if>
		<if test="ultrasound != null and ultrasound != ''">
		AND ultrasound = #{ultrasound,jdbcType=INTEGER}
		</if>
		<if test="case_qc != null and case_qc != ''">
		AND case_qc = #{case_qc,jdbcType=INTEGER}
		</if>
		<if test="teach != null and teach != ''">
		AND teach = #{teach,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<!-- 查询轮转科室信息  下拉框-->
	<select id="queryDeptComboBox" resultMap="hrSelectMap"  parameterType="java.util.Map">
		select DEPT_ID id,dept_name text
	    from HOS_DEPT_DICT 
	    where 
	    IS_STOP='0' and IS_DISABLE='0'
		and group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER} 
	</select>
	<!-- 查询  双击工号出现下拉框 -->
	<select id="queryComboBox" resultMap="hrSelectMap"  parameterType="java.util.Map">
		select hed.group_id as "group_id",
	       hed.hos_id   as "hos_id",
	       hed.emp_id   as "emp_id",
	       hed.emp_name as "emp_name",
	       hed.emp_code as "emp_code"
  		from HOS_EMP hed
        where hed.group_id = #{group_id,jdbcType=INTEGER}
		AND hed.hos_id = #{hos_id,jdbcType=INTEGER}
		<if test="key != null and key != ''">
			and (
			hed.emp_code like '%'||#{key}||'%' or
			hed.emp_name like '%'||#{key}||'%'or
			hed.SPELL_CODE like '%'||upper(#{key})||'%' or
			hed.WBX_CODE like '%'||upper(#{key})||'%'
			
			)
			</if>

	</select>
	<select id="queryWithTeachByPrint" parameterType="java.util.Map" resultType="java.util.Map" >
	SELECT 
		hwt.group_id,
		hwt.hos_id,
		hwt.emp_id,
        hed.emp_code "emp_code",
        hed.emp_name "emp_name",
		hwt.year,
		hwt.month,
		hwt.dept_id,
        d.dept_name,
		hwt.student,
		hwt.rotate,
		hwt.stud_eval,
		hwt.net_aduit,
		hwt.attend_meet,
		hwt.with_teach_grade,
		hwt.with_teach_money,
		hwt.ultrasound,
		hwt.case_qc,
		hwt.teach,
		hwt.note
		FROM HR_WITH_TEACH hwt
    <!-- 连接员工表 -->
       left join HOS_EMP_DICT hed
       on hwt.emp_id=hed.emp_id and hed.IS_STOP='0' and hed.IS_DISABLE='0'
    <!-- 轮转科室表 -->
       left join HR_EMP_DEPT ed
	   on hwt.EMP_ID=ed.EMP_ID
	   left join HOS_DEPT_DICT d
	   on hwt.DEPT_ID=d.DEPT_ID and d.IS_STOP='0' and d.IS_DISABLE='0'
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND hwt.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hwt.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND hwt.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year != null and year != ''">
		AND hwt.year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="month != null and month != ''">
		AND hwt.month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND hwt.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="student != null and student != ''">
		AND hwt.student = #{student,jdbcType=VARCHAR}
		</if>
		<if test="rotate != null and rotate != ''">
		AND hwt.rotate = #{rotate,jdbcType=INTEGER}
		</if>
		<if test="stud_eval != null and stud_eval != ''">
		AND hwt.stud_eval = #{stud_eval,jdbcType=INTEGER}
		</if>
		<if test="net_aduit != null and net_aduit != ''">
		AND hwt.net_aduit = #{net_aduit,jdbcType=INTEGER}
		</if>
		<if test="attend_meet != null and attend_meet != ''">
		AND hwt.attend_meet = #{attend_meet,jdbcType=INTEGER}
		</if>
		<if test="with_teach_grade != null and with_teach_grade != ''">
		AND hwt.with_teach_grade = #{with_teach_grade,jdbcType=INTEGER}
		</if>
		<if test="with_teach_money != null and with_teach_money != ''">
		AND hwt.with_teach_money = #{with_teach_money,jdbcType=INTEGER}
		</if>
		<if test="ultrasound != null and ultrasound != ''">
		AND hwt.ultrasound = #{ultrasound,jdbcType=INTEGER}
		</if>
		<if test="case_qc != null and case_qc != ''">
		AND hwt.case_qc = #{case_qc,jdbcType=INTEGER}
		</if>
		<if test="teach != null and teach != ''">
		AND hwt.teach = #{teach,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND hwt.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

