<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.skht.payment.PactRecDetSKHTMapper">
<resultMap id="pactRecDet"
		type="com.chd.hrp.pac.entity.skht.payment.PactRecDetSKHTEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="rec_code" column="rec_code" />
		<result property="pact_code" column="pact_code" />
		<result property="detail_id" column="detail_id" />
		<result property="source_id" column="source_id" />
		<result property="pay_way" column="pay_way" />
		<result property="pay_way_name" column="pay_way_name" />
		<result property="pay_money" column="pay_money" />
		<result property="cheq_no" column="cheq_no" />
		<result property="note" column="note" />
	</resultMap>


	<select id="query" parameterType="java.util.Map" resultMap="pactRecDet">
		SELECT ppdf.pay_way ,pt.PAY_NAME as pay_way_name,ppdf.REC_MONEY ,ppdf.CHEQ_NO,ppdf.NOTE,ppdf.detail_id
		FROM PACT_REC_DET_SKHT ppdf
		<!--  LEFT JOIN HOS_SOURCE hs ON ppdf.GROUP_ID = hs.GROUP_ID AND ppdf.HOS_ID = hs.HOS_ID AND ppdf.SOURCE_ID = hs.SOURCE_ID-->
		LEFT JOIN ACC_PAY_TYPE pt ON pt.GROUP_ID= ppdf.GROUP_ID AND pt.HOS_ID = ppdf.HOS_ID AND pt.PAY_CODE = ppdf.PAY_WAY
		<where>
			ppdf.group_id= #{group_id,jdbcType=NUMERIC}
			and ppdf.hos_id= #{hos_id,jdbcType=NUMERIC}
			and ppdf.copy_code = #{copy_code,jdbcType=VARCHAR}
			and ppdf.pact_code = #{pact_code,jdbcType=VARCHAR}
			and ppdf.REC_code = #{rec_code,jdbcType=VARCHAR}
		</where>
	</select>

	<select id="queryMaxDetailId" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT max(DETAIL_ID) from PACT_REC_DET_SKHT
		<where>
			group_id=#{group_id,jdbcType=NUMERIC}
			and hos_id=#{hos_id,jdbcType=NUMERIC}
			and copy_code=#{copy_code,jdbcType=VARCHAR}
			and rec_code = #{rec_code,jdbcType=VARCHAR}
			and pact_code = #{pact_code,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_REC_DET_SKHT (
		GROUP_ID,
		HOS_ID,
		COPY_CODE,
		REC_CODE,
		PACT_CODE,
		DETAIL_ID,
		PAY_WAY,
		REC_MONEY,
		CHEQ_NO,
		NOTE
		)
		VALUES (
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{rec_code,jdbcType=VARCHAR},
		#{pact_code,jdbcType=VARCHAR},
		#{bill_code,jdbcType=VARCHAR},
		#{detail_id,jdbcType=NUMERIC},
		#{pay_way,jdbcType=VARCHAR},
		#{rec_money,jdbcType=NUMERIC},
		#{cheq_no,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="addBatch" parameterType="java.util.List">
		INSERT INTO PACT_REC_DET_SKHT
		(GROUP_ID,HOS_ID,COPY_CODE,REC_CODE,PACT_CODE,DETAIL_ID,PAY_WAY,REC_MONEY,CHEQ_NO,NOTE)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.group_id,jdbcType=NUMERIC},
			#{item.hos_id,jdbcType=NUMERIC},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.rec_code,jdbcType=VARCHAR},
			#{item.pact_code,jdbcType=VARCHAR},
			#{item.detail_id,jdbcType=NUMERIC},
			#{item.pay_way,jdbcType=VARCHAR},
			#{item.rec_money,jdbcType=NUMERIC},
			#{item.cheq_no,jdbcType=VARCHAR},
			#{item.note,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>


	<update id="update" parameterType="java.util.Map">
		UPDATE PACT_REC_MAIN_SKHT SET
		<if test="pay_date != null and pay_date != ''">
			pay_date=to_date(#{pay_date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),
		</if>
		<if test="sup_id != null and sup_id != ''">
			sup_id=#{sup_id,jdbcType=NUMERIC},
		</if>
		<if test="sup_no != null and sup_no != ''">
			sup_no=#{sup_no,jdbcType=NUMERIC},
		</if>
		<if test="bill_code != null and bill_code != ''">
			bill_code=#{bill_code,jdbcType=VARCHAR},
		</if>
		<if test="pay_money != null and pay_money != ''">
			rec_money=#{rec_money,jdbcType=NUMERIC},
		</if>
		<if test="is_init != null and is_init != ''">
			is_init=#{is_init,jdbcType=NUMERIC},
		</if>
		note=#{note,jdbcType=VARCHAR}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND rec_code = #{rec_code,jdbcType=VARCHAR}
		and is_init = #{is_init,jdbcType=NUMERIC}
	</update>


	<delete id="deleteAllBatch">
		DELETE FROM PACT_REC_DET_SKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND rec_code = #{item.rec_code,jdbcType=VARCHAR}
				ANd detail_id = #{item.detail_id,jdbcType=NUMERIC}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteByRecCode">
		DELETE FROM PACT_REC_DET_SKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND rec_code = #{item.rec_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	
	
</mapper>