<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.salarymanagement.empWage.HrWageQueryMapper">
<resultMap type="com.chd.hrp.hr.entity.salarymanagement.empWage.HrWage" id="hrWage">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="wage_plan" column="wage_plan"/>
		<result property="wage_plan_name" column="wage_plan_name"/>
		<result property="emp_id" column="emp_id"/>
		<result property="emp_code" column="emp_code"/>
		<result property="emp_name" column="emp_name"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_name" column="dept_name"/>
		<result property="note" column="note"/>
		<result property="wage_count" column="wage_count"/>
		<result property="item1" column="item1"/>
		<result property="item2" column="item2"/>
		<result property="item3" column="item3"/>
		<result property="item4" column="item4"/>
		<result property="item5" column="item5"/>
		<result property="item6" column="item6"/>
		<result property="item7" column="item7"/>
		<result property="item8" column="item8"/>
		<result property="item9" column="item9"/>
		<result property="item10" column="item10"/>
		<result property="item11" column="item11"/>
		<result property="item12" column="item12"/>
		<result property="item13" column="item13"/>
		<result property="item14" column="item14"/>
		<result property="item15" column="item15"/>
		<result property="item16" column="item16"/>
		<result property="item17" column="item17"/>
		<result property="item18" column="item18"/>
		<result property="item19" column="item19"/>
		<result property="item20" column="item20"/>
		<result property="item21" column="item21"/>
		<result property="item22" column="item22"/>
		<result property="item23" column="item23"/>
		<result property="item24" column="item24"/>
		<result property="item25" column="item25"/>
		<result property="item26" column="item26"/>
		<result property="item27" column="item27"/>
		<result property="item28" column="item28"/>
		<result property="item29" column="item29"/>
		<result property="item30" column="item30"/>
		<result property="item31" column="item31"/>
		<result property="item32" column="item32"/>
		<result property="item33" column="item33"/>
		<result property="item34" column="item34"/>
		<result property="item35" column="item35"/>
		<result property="item36" column="item36"/>
		<result property="item37" column="item37"/>
		<result property="item38" column="item38"/>
		<result property="item39" column="item39"/>
		<result property="item40" column="item40"/>
		<result property="item41" column="item41"/>
		<result property="item42" column="item42"/>
		<result property="item43" column="item43"/>
		<result property="item44" column="item44"/>
		<result property="item45" column="item45"/>
		<result property="item46" column="item46"/>
		<result property="item47" column="item47"/>
		<result property="item48" column="item48"/>
		<result property="item49" column="item49"/>
		<result property="item50" column="item50"/>
		<result property="item51" column="item51"/>
		<result property="item52" column="item52"/>
		<result property="item53" column="item53"/>
		<result property="item54" column="item54"/>
		<result property="item55" column="item55"/>
		<result property="item56" column="item56"/>
		<result property="item57" column="item57"/>
		<result property="item58" column="item58"/>
		<result property="item59" column="item59"/>
		<result property="item60" column="item60"/>
		<result property="item61" column="item61"/>
		<result property="item62" column="item62"/>
		<result property="item63" column="item63"/>
		<result property="item64" column="item64"/>
		<result property="item65" column="item65"/>
		<result property="item66" column="item66"/>
		<result property="item67" column="item67"/>
		<result property="item68" column="item68"/>
		<result property="item69" column="item69"/>
		<result property="item70" column="item70"/>
		<result property="item71" column="item71"/>
		<result property="item72" column="item72"/>
		<result property="item73" column="item73"/>
		<result property="item74" column="item74"/>
		<result property="item75" column="item75"/>
		<result property="item76" column="item76"/>
		<result property="item77" column="item77"/>
		<result property="item78" column="item78"/>
		<result property="item79" column="item79"/>
		<result property="item80" column="item80"/>
		<result property="item81" column="item81"/>
		<result property="item82" column="item82"/>
		<result property="item83" column="item83"/>
		<result property="item84" column="item84"/>
		<result property="item85" column="item85"/>
		<result property="item86" column="item86"/>
		<result property="item87" column="item87"/>
		<result property="item88" column="item88"/>
		<result property="item89" column="item89"/>
		<result property="item90" column="item90"/>
		<result property="item91" column="item91"/>
		<result property="item92" column="item92"/>
		<result property="item93" column="item93"/>
		<result property="item94" column="item94"/>
		<result property="item95" column="item95"/>
		<result property="item96" column="item96"/>
		<result property="item97" column="item97"/>
		<result property="item98" column="item98"/>
		<result property="item99" column="item99"/>
		<result property="item100" column="item100"/>
		<result property="item101" column="item101"/>
		<result property="item102" column="item102"/>
		<result property="item103" column="item103"/>
		<result property="item104" column="item104"/>
		<result property="item105" column="item105"/>
		<result property="item106" column="item106"/>
		<result property="item107" column="item107"/>
		<result property="item108" column="item108"/>
		<result property="item109" column="item109"/>
		<result property="item110" column="item110"/>
		<result property="item111" column="item111"/>
		<result property="item112" column="item112"/>
		<result property="item113" column="item113"/>
		<result property="item114" column="item114"/>
		<result property="item115" column="item115"/>
		<result property="item116" column="item116"/>
		<result property="item117" column="item117"/>
		<result property="item118" column="item118"/>
		<result property="item119" column="item119"/>
		<result property="item120" column="item120"/>
	</resultMap>
	<resultMap type="java.util.Map" id="hrWageMap">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="wage_plan" column="wage_plan"/>
		<result property="wage_plan_name" column="wage_plan_name"/>
		<result property="emp_id" column="emp_id"/>
		<result property="emp_code" column="emp_code"/>
		<result property="emp_name" column="emp_name"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_name" column="dept_name"/>
		<result property="note" column="note"/>
		<result property="wage_count" column="wage_count"/>
		<result property="item1" column="item1"/>
		<result property="item2" column="item2"/>
		<result property="item3" column="item3"/>
		<result property="item4" column="item4"/>
		<result property="item5" column="item5"/>
		<result property="item6" column="item6"/>
		<result property="item7" column="item7"/>
		<result property="item8" column="item8"/>
		<result property="item9" column="item9"/>
		<result property="item10" column="item10"/>
		<result property="item11" column="item11"/>
		<result property="item12" column="item12"/>
		<result property="item13" column="item13"/>
		<result property="item14" column="item14"/>
		<result property="item15" column="item15"/>
		<result property="item16" column="item16"/>
		<result property="item17" column="item17"/>
		<result property="item18" column="item18"/>
		<result property="item19" column="item19"/>
		<result property="item20" column="item20"/>
		<result property="item21" column="item21"/>
		<result property="item22" column="item22"/>
		<result property="item23" column="item23"/>
		<result property="item24" column="item24"/>
		<result property="item25" column="item25"/>
		<result property="item26" column="item26"/>
		<result property="item27" column="item27"/>
		<result property="item28" column="item28"/>
		<result property="item29" column="item29"/>
		<result property="item30" column="item30"/>
		<result property="item31" column="item31"/>
		<result property="item32" column="item32"/>
		<result property="item33" column="item33"/>
		<result property="item34" column="item34"/>
		<result property="item35" column="item35"/>
		<result property="item36" column="item36"/>
		<result property="item37" column="item37"/>
		<result property="item38" column="item38"/>
		<result property="item39" column="item39"/>
		<result property="item40" column="item40"/>
		<result property="item41" column="item41"/>
		<result property="item42" column="item42"/>
		<result property="item43" column="item43"/>
		<result property="item44" column="item44"/>
		<result property="item45" column="item45"/>
		<result property="item46" column="item46"/>
		<result property="item47" column="item47"/>
		<result property="item48" column="item48"/>
		<result property="item49" column="item49"/>
		<result property="item50" column="item50"/>
		<result property="item51" column="item51"/>
		<result property="item52" column="item52"/>
		<result property="item53" column="item53"/>
		<result property="item54" column="item54"/>
		<result property="item55" column="item55"/>
		<result property="item56" column="item56"/>
		<result property="item57" column="item57"/>
		<result property="item58" column="item58"/>
		<result property="item59" column="item59"/>
		<result property="item60" column="item60"/>
		<result property="item61" column="item61"/>
		<result property="item62" column="item62"/>
		<result property="item63" column="item63"/>
		<result property="item64" column="item64"/>
		<result property="item65" column="item65"/>
		<result property="item66" column="item66"/>
		<result property="item67" column="item67"/>
		<result property="item68" column="item68"/>
		<result property="item69" column="item69"/>
		<result property="item70" column="item70"/>
		<result property="item71" column="item71"/>
		<result property="item72" column="item72"/>
		<result property="item73" column="item73"/>
		<result property="item74" column="item74"/>
		<result property="item75" column="item75"/>
		<result property="item76" column="item76"/>
		<result property="item77" column="item77"/>
		<result property="item78" column="item78"/>
		<result property="item79" column="item79"/>
		<result property="item80" column="item80"/>
		<result property="item81" column="item81"/>
		<result property="item82" column="item82"/>
		<result property="item83" column="item83"/>
		<result property="item84" column="item84"/>
		<result property="item85" column="item85"/>
		<result property="item86" column="item86"/>
		<result property="item87" column="item87"/>
		<result property="item88" column="item88"/>
		<result property="item89" column="item89"/>
		<result property="item90" column="item90"/>
		<result property="item91" column="item91"/>
		<result property="item92" column="item92"/>
		<result property="item93" column="item93"/>
		<result property="item94" column="item94"/>
		<result property="item95" column="item95"/>
		<result property="item96" column="item96"/>
		<result property="item97" column="item97"/>
		<result property="item98" column="item98"/>
		<result property="item99" column="item99"/>
		<result property="item100" column="item100"/>
		<result property="item101" column="item101"/>
		<result property="item102" column="item102"/>
		<result property="item103" column="item103"/>
		<result property="item104" column="item104"/>
		<result property="item105" column="item105"/>
		<result property="item106" column="item106"/>
		<result property="item107" column="item107"/>
		<result property="item108" column="item108"/>
		<result property="item109" column="item109"/>
		<result property="item110" column="item110"/>
		<result property="item111" column="item111"/>
		<result property="item112" column="item112"/>
		<result property="item113" column="item113"/>
		<result property="item114" column="item114"/>
		<result property="item115" column="item115"/>
		<result property="item116" column="item116"/>
		<result property="item117" column="item117"/>
		<result property="item118" column="item118"/>
		<result property="item119" column="item119"/>
		<result property="item120" column="item120"/>
	</resultMap>
	





<!-- 主查询 -->
	<select id="query" resultMap="hrWage" parameterType="java.util.Map">
select hr_wage.group_id,
			hr_wage.hos_id,
			hr_wage.wage_plan,
			hos_dept.dept_name,
			hr_wage.emp_id,
			hos_emp.emp_code,
			hos_emp.emp_name
			<if test="columns != null and columns != ''">
				${columns}
			</if>
	,hr_wage.note
	from hos_emp hos_emp

	left join hr_wage on hos_emp.group_id = hr_wage.group_id
	and hos_emp.hos_id = hr_wage.hos_id
	and hos_emp.emp_id = hr_wage.emp_id
	left join hr_wage_plan_kind on hr_wage_plan_kind.group_id =
	hr_wage.group_id
	and hr_wage_plan_kind.hos_id = hr_wage.hos_id
	and hr_wage_plan_kind.plan_code = hr_wage.wage_plan
	and hos_emp.kind_code = hr_wage_plan_kind.emp_kind_code
	left join hos_dept on hos_dept.group_id = hr_wage.group_id
	and hos_dept.hos_id = hr_wage.hos_id
	and hos_dept.dept_id = hos_emp.dept_id
	where hr_wage.group_id = #{group_id, jdbcType=INTEGER}
	and hr_wage.hos_id = #{hos_id, jdbcType=INTEGER}
		  <if test="plan_code != null and plan_code != ''">
		      and hr_wage.wage_plan = #{plan_code, jdbcType=VARCHAR}
		  </if>
		  <if test="dept_id != null and dept_id != ''">
		      and hos_dept.dept_code= #{dept_id, jdbcType=INTEGER}
		  </if>
		   <if test="super_code != null and super_code != ''">
		      and hos_dept.super_code = #{super_code, jdbcType=INTEGER}
		  </if>
		  <if test="emp_id != null and emp_id != ''">
		      and hr_wage.emp_id = #{emp_id, jdbcType=INTEGER}
		  </if>

</select>
<select id="queryWageQueryByPrint" resultType="java.util.Map" parameterType="java.util.Map">
select hr_wage.group_id,
			hr_wage.hos_id,
			hr_wage.wage_plan,
			hos_dept.dept_name,
			hr_wage.emp_id,
			hos_emp.emp_code,
			hos_emp.emp_name
			<if test="columns != null and columns != ''">
				${columns}
			</if>
	,hr_wage.note
	from hos_emp hos_emp

	left join hr_wage on hos_emp.group_id = hr_wage.group_id
	and hos_emp.hos_id = hr_wage.hos_id
	and hos_emp.emp_id = hr_wage.emp_id
	left join hr_wage_plan_kind on hr_wage_plan_kind.group_id =
	hr_wage.group_id
	and hr_wage_plan_kind.hos_id = hr_wage.hos_id
	and hr_wage_plan_kind.plan_code = hr_wage.wage_plan
	and hos_emp.kind_code = hr_wage_plan_kind.emp_kind_code
	left join hos_dept on hos_dept.group_id = hr_wage.group_id
	and hos_dept.hos_id = hr_wage.hos_id
	and hos_dept.dept_id = hos_emp.dept_id
	where hr_wage.group_id = #{group_id, jdbcType=INTEGER}
	and hr_wage.hos_id = #{hos_id, jdbcType=INTEGER}
		  <if test="plan_code != null and plan_code != ''">
		      and hr_wage.wage_plan = #{plan_code, jdbcType=VARCHAR}
		  </if>
		  <if test="dept_id != null and dept_id != ''">
		      and hos_dept.dept_code= #{dept_id, jdbcType=INTEGER}
		  </if>
		   <if test="super_code != null and super_code != ''">
		      and hos_dept.super_code = #{super_code, jdbcType=INTEGER}
		  </if>
		  <if test="emp_id != null and emp_id != ''">
		      and hr_wage.emp_id = #{emp_id, jdbcType=INTEGER}
		  </if>
</select>
</mapper>