<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.budgincome.execute.BudgMedInExecuteMapper">
	
	<resultMap id="budgMedIncomeExecute" type="com.chd.hrp.budg.entity.BudgMedIncomeExecute">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="year" column="year"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="month" column="month"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	<result property="subj_level" column="subj_level"/>
	<result property="amount" column="amount"/>
	<result property="remark" column="remark"/>
	</resultMap>
		
	<resultMap id="budgMedIncomeExecuteMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="year" column="year"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="month" column="month"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	<result property="subj_level" column="subj_level"/>
	<result property="amount" column="amount"/>
	<result property="remark" column="remark"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_MED_INCOME_EXECUTE (
			group_id
			,
			hos_id
			,
			copy_code
			,
			year
			,
			dept_id
			,
			month
			,
			subj_code
			,
			amount
			,
			remark
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{year,jdbcType=VARCHAR}
			,
			#{dept_id,jdbcType=INTEGER}
			,
			#{month,jdbcType=VARCHAR}
			,
			#{subj_code,jdbcType=VARCHAR}
			,
			#{amount,jdbcType=INTEGER}
			,
			#{remark,jdbcType=VARCHAR}
			
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_MED_INCOME_EXECUTE (
			group_id
			,
			hos_id
			,
			copy_code
			,
			year
			,
			dept_id
			,
			month
			,
			subj_code
			,
			amount
			,
			remark
		
		)  
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER}
				,
				#{item.hos_id,jdbcType=INTEGER}
				,
				#{item.copy_code,jdbcType=VARCHAR}
				,
				#{item.year,jdbcType=VARCHAR}
				,
				#{item.dept_id,jdbcType=INTEGER}
				,
				#{item.month,jdbcType=VARCHAR}
				,
				#{item.subj_code,jdbcType=VARCHAR}
				,
				#{item.amount,jdbcType=INTEGER}
				,
				#{item.remark,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_med_income_execute set
			amount = #{amount,jdbcType=INTEGER}
			,
			remark = #{remark,jdbcType=VARCHAR}
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND year = #{year,jdbcType=VARCHAR}
			<if test="dept_id != null and dept_id != ''">
			AND dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="month != null and month != ''">
			AND month = #{month,jdbcType=VARCHAR}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_med_income_execute set
				amount = #{item.amount,jdbcType=INTEGER}
				,
				remark = #{item.remark,jdbcType=VARCHAR}
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND year = #{item.year,jdbcType=VARCHAR}
				<if test="item.dept_id != null and item.dept_id != ''">
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>  
				<if test="item.month != null and item.month != ''">
				AND month = #{item.month,jdbcType=VARCHAR}
				</if>  
				<if test="item.subj_code != null and item.subj_code != ''">
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
				</if>  
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_med_income_execute 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND year = #{year,jdbcType=VARCHAR}
			AND dept_id = #{dept_id,jdbcType=INTEGER}
			AND month = #{month,jdbcType=VARCHAR}
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_med_income_execute 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND year = #{item.year,jdbcType=VARCHAR}
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				AND month = #{item.month,jdbcType=VARCHAR}
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
				
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgMedIncomeExecuteMap" >
		with temp as (
			SELECT
			<if test="para_value == 1">  
			bmie.group_id,
			bmie.hos_id,
		    bmie.copy_code,
		    </if>
		    bmie.year,
		    bmie.month,
		    bmie.dept_id,
		    hdd.dept_code,
		    hdd.dept_name,
		    bmie.subj_code,
		    bis.subj_name,
		    bis.subj_level,
		    bmie.amount,
		    bmie.remark
		FROM BUDG_MED_INCOME_EXECUTE  bmie
		left join hos_dept hdd 
			on 
				
					hdd.group_id=bmie.group_id
			    	and hdd.hos_id=bmie.hos_id and  
		    	
		    	hdd.dept_id=bmie.dept_id 
		    	and hdd.is_stop=0
		left join budg_income_subj bis 
			on 
			
					bis.group_id=bmie.group_id 
			    	and bis.hos_id=bmie.hos_id 
			    	and bis.copy_code=bmie.copy_code and  
		    	
		    	bis.budg_year=bmie.year
		    	and bis.subj_code=bmie.subj_code 
		where                     
		
				bmie.group_id = #{group_id,jdbcType=INTEGER}
				AND bmie.hos_id = #{hos_id,jdbcType=INTEGER}
				AND bmie.copy_code = #{copy_code,jdbcType=VARCHAR} AND
			
			bmie.year = #{year,jdbcType=VARCHAR}
			<if test="dept_id != null and dept_id != ''">
			AND bmie.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="month != null and month != ''">
			AND bmie.month = #{month,jdbcType=VARCHAR}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND bmie.subj_code in (
	          select bis2.subj_code from budg_income_subj bis2
	          start with bis2.subj_code=#{subj_code,jdbcType=VARCHAR} connect by bis2.super_code=prior bis2.subj_code
	        )    
			</if>
			<if test="subj_level != null and subj_level != ''">
			AND bis.subj_level = #{subj_level,jdbcType=VARCHAR}
			</if>
		order by bmie.year , bmie.month , bmie.dept_id , bmie.subj_code asc
		)
		SELECT 
			<if test="para_value == 1"> 
			null group_id,
			null hos_id,
		    null copy_code,
		    </if>
		    '合计' year,
		    null month,
		    null dept_id,
		    null dept_code,
		    null dept_name,
		    null subj_code,
		    null subj_name,
		    null subj_level,
		    sum(amount) amount ,
		    null remark
		FROM temp  
		group by 
			<if test="para_value == 1"> 
				 group_id , hos_id  , copy_code ,
			</if>
				 year 
				<if test="month != null and month != ''">
				,month
				</if> 
				<if test="dept_id != null and dept_id != ''">
				,dept_id
				</if> 
		union all
		select * from temp 
	</select>
	<select id="queryByCode" resultMap="budgMedIncomeExecute"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			year,
			dept_id,
			month,
			subj_code,
			amount,
			remark
		FROM budg_med_income_execute 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and year = #{year,jdbcType=VARCHAR}   
			and dept_id = #{dept_id,jdbcType=INTEGER}   
			and month = #{month,jdbcType=VARCHAR}   
			and subj_code = #{subj_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgMedIncomeExecute"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		month,
		subj_code,
		amount,
		remark
		FROM BUDG_MED_INCOME_EXECUTE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="amount != null and amount != ''">
		AND amount = #{amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgMedIncomeExecute"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		month,
		subj_code,
		amount,
		remark
		FROM BUDG_MED_INCOME_EXECUTE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="month != null and month != ''">
		AND month = #{month,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="amount != null and amount != ''">
		AND amount = #{amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
<!-- 	查询系统参数  当前预算系统是否区分账套  0 不区分   1 区分 -->
	<select id="queryParaValue" resultType="java.lang.Integer"  parameterType="java.util.Map" >
		 SELECT 
		   para_value
		 FROM ACC_PARA
		 WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}
		    and para_code = '02005'
	</select>
	<!-- 	财务取数 -->
	<select id="getDatafromAcc" resultMap="budgMedIncomeExecuteMap"  parameterType="java.util.Map" >
		    
		with temp as
		(select 
			 <if test="para_value == 1">
		 	   b.group_id,
               b.hos_id,
               b.copy_code,
			 </if>
			   c.acc_year,
		       c.acc_month,
		       hdd.dept_id,
		       a.subj_code,
		       sum(b.credit) amount
		  from acc_vouch_detail b
		  left join acc_vouch c
		    on c.group_id = b.group_id
		   and c.hos_id = b.hos_id
		   and c.copy_code = b.copy_code
		   and c.acc_year = b.acc_year
		   and b.vouch_id = c.vouch_id
		  left join acc_subj a
		    on a.group_id = b.group_id
		   and a.hos_id = b.hos_id
		   and a.copy_code = b.copy_code
		   and a.acc_year = b.acc_year
		   and a.subj_id = b.subj_id
		  left join budg_acc_subj_ship bass
		    on bass.group_id = a.group_id
		   and bass.hos_id = a.hos_id
		   and bass.copy_code = a.copy_code
		   and bass.acc_subj_code2 = a.subj_code
		   and bass.budg_year=a.acc_year
		  left join hos_dept_dict hdd
		  on hdd.group_id = #{group_id,jdbcType=INTEGER}
		  and hdd.hos_id = #{hos_id,jdbcType=INTEGER}
		  where 
		  <if test="para_value == 1">
		    b.group_id =  #{group_id,jdbcType=INTEGER}
		    and b.hos_id = #{hos_id,jdbcType=INTEGER}
		    and b.copy_code = #{copy_code,jdbcType=VARCHAR} and 
		  </if> 
		    b.acc_year = #{budg_year,jdbcType=VARCHAR}
		    and c.acc_month = #{acc_month,jdbcType=VARCHAR}
		    and a.subj_code like '4001%'
		    and hdd.dept_name like '财务%'
		    and hdd.is_last = 1
		    and hdd.is_stop = 0
		 group by 
		 <if test="para_value == 1">
		 	 b.group_id,
             b.hos_id,
             b.copy_code,
         </if> 
		     c.acc_year,
		     a.subj_code,
		     hdd.dept_id,
		     c.acc_month
		 order by a.subj_code, c.acc_month)
			    
	    select 
	    	 <if test="para_value == 1"> 
		       bass.group_id,
		       bass.hos_id,
		       bass.copy_code, 
		       bass.budg_year year,
		       t.acc_month month,
	           t.dept_id,
	           bass.subj_code,
	         </if>
	         <if test="para_value == 0">
	           #{group_id} group_id,
		       #{hos_id} hos_id,
		       #{copy_code} copy_code,
		       t.acc_year year,
		       t.acc_month month,
	           t.dept_id,
	           bass.subj_code,
	         </if>
	           sum(t.amount) amount
	      from temp t
	      left join budg_acc_subj_ship bass
	       on
	        <if test="para_value == 1"> 
	          t.group_id = bass.group_id
	          and t.hos_id = bass.hos_id
	          and t.copy_code = bass.copy_code and 
	        </if>
	         t.acc_year = bass.budg_year
	         and t.subj_code = bass.acc_subj_code2
	     left join budg_income_subj bis 
	     	 on bass.budg_year = bis.budg_year
		     and bass.subj_code = bis.subj_code
		 where 
		     bass.subj_code is not null 
		 	 and bis.is_last = 1
	     group by 
	     	 <if test="para_value == 1"> 
		       bass.group_id,
		       bass.hos_id,
		       bass.copy_code, 
		       bass.budg_year year,
		       t.acc_month month,
	           t.dept_id,
	           bass.subj_code
	         </if>
	         <if test="para_value == 0">
		       t.acc_year,
		       t.acc_month,
	           t.dept_id,
	           bass.subj_code
	         </if>
	     order by 
	     		bass.subj_code, t.acc_month
	</select>
	
	<!-- 	财务取数 -->
	<select id="getDatafromAcc2" resultMap="budgMedIncomeExecuteMap"  parameterType="java.util.Map" >
		    
		with temp as
		(select 
		 	   b.group_id,
               b.hos_id,
               b.copy_code,
			   c.acc_year,
		       c.acc_month,
		       hdd.dept_id,
		       a.subj_code,
		       sum(b.credit) amount
		  from acc_vouch_detail b
		  left join acc_vouch c
		    on c.group_id = b.group_id
		   and c.hos_id = b.hos_id
		   and c.copy_code = b.copy_code
		   and c.acc_year = b.acc_year
		   and b.vouch_id = c.vouch_id
		  left join acc_subj a
		    on a.group_id = b.group_id
		   and a.hos_id = b.hos_id
		   and a.copy_code = b.copy_code
		   and a.acc_year = b.acc_year
		   and a.subj_code = b.subj_code
		  left join budg_acc_subj_ship bass
		    on bass.group_id = a.group_id
		   and bass.hos_id = a.hos_id
		   and bass.copy_code = a.copy_code
		   and bass.acc_subj_code2 = a.subj_code
		   and bass.budg_year=a.acc_year
		  left join hos_dept_dict hdd
		  on hdd.group_id = #{group_id,jdbcType=INTEGER}
		  and hdd.hos_id = #{hos_id,jdbcType=INTEGER}
		  where 
		    b.group_id =  #{group_id,jdbcType=INTEGER}
		    and b.hos_id = #{hos_id,jdbcType=INTEGER}
		    and b.copy_code in (<foreach collection="copy_codes" item="copy_code" separator=",">#{copy_code}</foreach>) 
		    and b.acc_year = #{budg_year,jdbcType=VARCHAR}
		    and c.acc_month between #{begin_month,jdbcType=VARCHAR} and #{end_month,jdbcType=VARCHAR} 
		    and a.subj_code like '4001%'
		    and hdd.dept_name like '财务%'
		    and hdd.is_last = 1
		    and hdd.is_stop = 0
		 group by 
		 	 b.group_id,
             b.hos_id,
             b.copy_code,
		     c.acc_year,
		     a.subj_code,
		     hdd.dept_id,
		     c.acc_month
		 order by a.subj_code, c.acc_month)
			    
	    select 
		       bass.group_id,
		       bass.hos_id,
		       bass.copy_code, 
		       bass.budg_year year,
		       t.acc_month month,
	           t.dept_id,
	           bass.subj_code,
	           sum(t.amount) amount
	      from temp t
	      left join budg_acc_subj_ship bass
	       on
	          t.group_id = bass.group_id
	          and t.hos_id = bass.hos_id
	          and t.copy_code = bass.copy_code  
	          and t.acc_year = bass.budg_year
	          and t.subj_code = bass.acc_subj_code2
	     left join budg_income_subj bis 
	     	 on bass.budg_year = bis.budg_year
		     and bass.subj_code = bis.subj_code
		 where 
		     bass.subj_code is not null 
		 	 and bis.is_last = 1
	     group by 
		       bass.group_id,
		       bass.hos_id,
		       bass.copy_code, 
		       bass.budg_year,
		       t.acc_month,
	           t.dept_id,
	           bass.subj_code
	     order by 
	     		bass.subj_code, t.acc_month
	</select>
	
<!-- 	批量插入财务取出的数据   财务取数功能专用 -->
	<insert id="addBatchData" parameterType="java.util.List" >
		INSERT INTO BUDG_MED_INCOME_EXECUTE (
			group_id
			,
			hos_id
			,
			copy_code
			,
			year
			,
			dept_id
			,
			month
			,
			subj_code
			,
			amount
		)  
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER}
				,
				#{item.hos_id,jdbcType=INTEGER}
				,
				#{item.copy_code,jdbcType=VARCHAR}
				,
				#{item.year,jdbcType=VARCHAR}
				,
				#{item.dept_id,jdbcType=INTEGER}
				,
				#{item.month,jdbcType=VARCHAR}
				,
				#{item.subj_code,jdbcType=VARCHAR}
				,
				#{item.amount,jdbcType=INTEGER}
			
		    from dual
		</foreach>
	</insert>
	
	<!-- 删除 采集年度月份 执行数据   his 收入数据采集-->
	<delete id="deleteExecuteData" parameterType="java.util.Map">
	
		DELETE FROM budg_med_income_execute 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND year = #{acc_year,jdbcType=VARCHAR}
			AND month = #{acc_month,jdbcType=VARCHAR}
	</delete>
	
	<!-- 采集  所选年度月份 执行数据 -->
	<insert id="saveHisExecuteData">
			<!-- 插入收入数据 -->
			INSERT INTO BUDG_MED_INCOME_EXECUTE (
				group_id , hos_id , copy_code , year , dept_id , month , subj_code , amount
			)  
			<if test="flag == 0"><!-- 不具体到诊疗组 -->
			with temp as (<!-- his 科室 收费类别 收费数据  -->
				SELECT b.group_id, b.hos_id, b.copy_code, b.charge_kind_id, b.charge_kind_code, a.acc_year year , a.acc_month month, 
					<!-- e.dept_id, 开单科室 -->  g.dept_id,<!-- 执行科室  暂时按执行科室取数 -->  sum(money) amount
				FROM 
				<if test="dblink != null and dblink != ''">
				his_cost_income_detail@${dblink}
				</if>
				<if test="dblink == null or dblink == ''">
				his_cost_income_detail
				</if> a
				JOIN cost_charge_kind_arrt b
					ON 
						b.group_id = #{group_id,jdbcType=INTEGER}
					and b.hos_id = #{hos_id,jdbcType=INTEGER}
					and b.copy_code = #{copy_code,jdbcType=INTEGER}
					and a.charge_kind_code = b.charge_kind_code
				<!-- JOIN hip_dept_ref_cost d 
					ON b.group_id = d.group_id 
					AND b.hos_id = d.hos_id 
					AND a.appl_dept_code = d.hip_dept_code
					AND a.doc_type = d.doc_type
					<if test="ds_code != null and ds_code != ''">
					AND d.ds_code = #{ds_code,jdbcType=VARCHAR}
					</if>
				JOIN hos_dept_dict e 
					ON d.group_id = e.group_id 
					AND d.hos_id = e.hos_id 
					AND d.hrp_dept_code = e.dept_code 
					AND e.is_stop = 0 -->
				JOIN hip_dept_ref_cost f 
					ON b.group_id = f.group_id 
					AND b.hos_id = f.hos_id 
					AND a.exec_dept_code = f.hip_dept_code
					AND a.doc_type = f.doc_type
					<if test="ds_code != null and ds_code != ''">
					AND f.ds_code = #{ds_code,jdbcType=VARCHAR}
					</if>
				JOIN hos_dept_dict g 
					ON f.group_id = g.group_id 
					AND f.hos_id = g.hos_id 
					AND f.hrp_dept_code = g.dept_code 
					AND g.is_stop = 0
				WHERE b.group_id = #{group_id,jdbcType=INTEGER}
					AND b.hos_id = #{hos_id,jdbcType=INTEGER}
					AND b.copy_code = #{copy_code,jdbcType=VARCHAR}
					AND a.acc_year = #{acc_year,jdbcType=VARCHAR}
					AND a.acc_month = #{acc_month,jdbcType=VARCHAR}
				GROUP BY b.group_id, b.hos_id, b.copy_code, b.charge_kind_id, b.charge_kind_code, 
					a.acc_year, a.acc_month,  g.dept_id 
			),
			addData as ( <!-- 组装 要插入的  预算执行数据 -->
				select a.group_id , a.hos_id , a.copy_code , a.year , a.dept_id , a.month , s.subj_code , 
					sum(a.amount) amount
				from temp a
				left join acc_busi_map abm
				   on 
					   a.group_id = abm.group_id 
					   and a.hos_id = abm.hos_id
					   and a.copy_code = abm.copy_code 
					   and a.year = abm.acc_year
					   and a.charge_kind_code = abm.sub_type_id
					   and (abm.meta_code = '0108' or abm.meta_code = '0104')
				left join acc_subj s
				   on 
					   abm.group_id = s.group_id
					   and abm.hos_id = s.hos_id
					   and abm.copy_code = s.copy_code
					   and abm.acc_year = s.acc_year
					   and abm.subj_id = s.subj_id
					   and s.is_stop = 0
				left join budg_acc_subj_ship bass
					on
						s.group_id = bass.group_id
					   and s.hos_id = bass.hos_id
					   and s.copy_code = bass.copy_code
					   and s.acc_year = bass.budg_year
					   and s.subj_code = bass.acc_subj_code2
					   and s.is_stop = 0
				group by a.group_id , a.hos_id , a.copy_code , a.year , a.dept_id , a.month , s.subj_code
						
			)	
				
			select group_id , hos_id , copy_code , year , dept_id , month , subj_code , amount
			from addData 
			where 
				group_id = #{group_id,jdbcType=INTEGER}
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
				AND year = #{acc_year,jdbcType=VARCHAR}
				AND month = #{acc_month,jdbcType=VARCHAR}
				and subj_code is not null
			</if>	
			<if test="flag ==1"> <!-- 即墨医院 具体到 诊疗组  -->
				with temp as (<!-- his 科室 收费类别 收费数据  -->
					<!-- 门诊诊疗组收费  -->
					SELECT b.group_id, b.hos_id, b.copy_code, b.charge_kind_id, b.charge_kind_code, substr(a.year_month,1,4) year , substr(a.year_month,6,7) month, 
						g.dept_id,<!-- 诊疗组 id -->  sum(charge_money) amount
					FROM 
					<if test="dblink != null and dblink != ''">
					COST_CHARGE_O_VIEW@${dblink}
					</if>
					<if test="dblink == null or dblink == ''">
					COST_CHARGE_O_VIEW
					</if> a
					JOIN cost_charge_kind_arrt b
						ON 
							b.group_id = #{group_id,jdbcType=INTEGER}
						and b.hos_id = #{hos_id,jdbcType=INTEGER}
						and b.copy_code = #{copy_code,jdbcType=INTEGER}
						and a.charge_kind_code = b.charge_kind_code
					JOIN hip_dept_ref_cost f 
						ON b.group_id = f.group_id 
						AND b.hos_id = f.hos_id 
						AND a.team_code = f.hip_dept_code
						<if test="ds_code != null and ds_code != ''">
						AND f.ds_code = #{ds_code,jdbcType=VARCHAR}
						</if>
					JOIN hos_dept_dict g 
						ON f.group_id = g.group_id 
						AND f.hos_id = g.hos_id 
						AND f.hrp_dept_code = g.dept_code 
						AND g.is_stop = 0
					WHERE b.group_id = #{group_id,jdbcType=INTEGER}
						AND b.hos_id = #{hos_id,jdbcType=INTEGER}
						AND b.copy_code = #{copy_code,jdbcType=VARCHAR}
						AND a.year_month = #{acc_year} ||'-' || #{acc_month}
					group by b.group_id, b.hos_id, b.copy_code, b.charge_kind_id, b.charge_kind_code, a.year_month , g.dept_id
				union all <!-- 住院诊疗组收费  -->
					SELECT b.group_id, b.hos_id, b.copy_code, b.charge_kind_id, b.charge_kind_code, substr(a.year_month,1,4) year , substr(a.year_month,6,7) month, 
						g.dept_id,<!-- 诊疗组 id -->  sum(charge_money) amount
					FROM 
					<if test="dblink != null and dblink != ''">
					COST_CHARGE_I_VIEW@${dblink}
					</if>
					<if test="dblink == null or dblink == ''">
					COST_CHARGE_I_VIEW
					</if> a
					JOIN cost_charge_kind_arrt b
						ON 
							b.group_id = #{group_id,jdbcType=INTEGER}
						and b.hos_id = #{hos_id,jdbcType=INTEGER}
						and b.copy_code = #{copy_code,jdbcType=INTEGER}
						and a.charge_kind_code = b.charge_kind_code
					JOIN hip_dept_ref_cost f 
						ON b.group_id = f.group_id 
						AND b.hos_id = f.hos_id 
						AND a.team_code = f.hip_dept_code
						<if test="ds_code != null and ds_code != ''">
						AND f.ds_code = #{ds_code,jdbcType=VARCHAR}
						</if>
					JOIN hos_dept_dict g 
						ON f.group_id = g.group_id 
						AND f.hos_id = g.hos_id 
						AND f.hrp_dept_code = g.dept_code 
						AND g.is_stop = 0
					WHERE b.group_id = #{group_id,jdbcType=INTEGER}
						AND b.hos_id = #{hos_id,jdbcType=INTEGER}
						AND b.copy_code = #{copy_code,jdbcType=VARCHAR}
						AND a.year_month = #{acc_year} ||'-'|| #{acc_month}
					group by b.group_id, b.hos_id, b.copy_code, b.charge_kind_id, b.charge_kind_code, a.year_month , g.dept_id
			),
			addData as ( <!-- 组装 要插入的  预算执行数据 -->
				select a.group_id , a.hos_id , a.copy_code , a.year , a.dept_id , a.month , bass.subj_code , 
					sum(a.amount) amount
				from temp a
				left join acc_busi_map abm
				   on 
					   a.group_id = abm.group_id 
					   and a.hos_id = abm.hos_id
					   and a.copy_code = abm.copy_code 
					   and a.year = abm.acc_year
					   and a.charge_kind_code = abm.sub_type_id
					   and (abm.meta_code = '0108' or abm.meta_code = '0104')
				left join acc_subj s
				   on 
					   abm.group_id = s.group_id
					   and abm.hos_id = s.hos_id
					   and abm.copy_code = s.copy_code
					   and abm.acc_year = s.acc_year
					   and abm.subj_id = s.subj_id
					   and s.is_stop = 0
				left join budg_acc_subj_ship bass
					on
						s.group_id = bass.group_id
					   and s.hos_id = bass.hos_id
					   and s.copy_code = bass.copy_code
					   and s.acc_year = bass.budg_year
					   and s.subj_code = bass.acc_subj_code2
					   and s.is_stop = 0
				group by a.group_id , a.hos_id , a.copy_code , a.year , a.dept_id , a.month , bass.subj_code
						
			)	
				
			select group_id , hos_id , copy_code , year , dept_id , month , subj_code , nvl(sum(amount),0) amount
			from addData 
			where 
				group_id = #{group_id,jdbcType=INTEGER}
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
				AND year = #{acc_year,jdbcType=VARCHAR}
				AND month = #{acc_month,jdbcType=VARCHAR}
				and subj_code is not null
			group by group_id , hos_id , copy_code , year , dept_id , month , subj_code
			</if>
			
	</insert>
	
	<select id="queryRelationExist" resultType="java.lang.String"  parameterType="java.util.Map" >
	
		<if test="flag == 0">
			SELECT distinct exec_dept_code<!-- 暂时 取执行科室(不取开单科室) -->
			FROM 
			<if test="dblink != null and dblink != ''">
			his_cost_income_detail@${dblink}
			</if>
			<if test="dblink == null or dblink == ''">
			his_cost_income_detail
			</if> 
		WHERE 
			acc_year = #{acc_year,jdbcType=VARCHAR}
			AND acc_month = #{acc_month,jdbcType=VARCHAR}
			AND exec_dept_code not in ( 
									select distinct hip_dept_code 
									from HIP_DEPT_REF_COST
									where  
										group_id = #{group_id,jdbcType=INTEGER}
										AND hos_id = #{hos_id,jdbcType=INTEGER}
										<if test="ds_code != null and ds_code != ''">
										AND ds_code = #{ds_code,jdbcType=VARCHAR}
										</if>
									)
		</if>
		<if test="flag == 1">
			SELECT distinct team_code ||' '|| team_name
			FROM  
			<if test="dblink != null and dblink != ''">
			COST_CHARGE_I_VIEW@${dblink}
			</if>
			<if test="dblink == null or dblink == ''">
			COST_CHARGE_I_VIEW
			</if> 
		WHERE 
			year_month = #{acc_year}||'-'|| #{acc_month}
			AND team_code not in ( 
									select distinct hip_dept_code 
									from HIP_DEPT_REF_COST
									where  
										group_id = #{group_id,jdbcType=INTEGER}
										AND hos_id = #{hos_id,jdbcType=INTEGER}
										<if test="ds_code != null and ds_code != ''">
										AND ds_code = #{ds_code,jdbcType=VARCHAR}
										</if>
									)
		union all
			SELECT distinct team_code ||' '|| team_name
			FROM  
			<if test="dblink != null and dblink != ''">
			COST_CHARGE_O_VIEW@${dblink}
			</if>
			<if test="dblink == null or dblink == ''">
			COST_CHARGE_O_VIEW
			</if> 
		WHERE 
			year_month = #{acc_year}||'-'|| #{acc_month}
			AND team_code not in ( 
									select distinct hip_dept_code 
									from HIP_DEPT_REF_COST
									where  
										group_id = #{group_id,jdbcType=INTEGER}
										AND hos_id = #{hos_id,jdbcType=INTEGER}
										<if test="ds_code != null and ds_code != ''">
										AND ds_code = #{ds_code,jdbcType=VARCHAR}
										</if>
									)
		</if>
	
	</select>
	
</mapper>

