<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.base.budgwage.BudgWageItemCostShipMapper">
	
	<resultMap id="budgWageItemCostShip" type="com.chd.hrp.budg.entity.BudgWageItemCostShip">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="wage_item_code" column="wage_item_code"/>
	<result property="subj_code" column="subj_code"/>
	</resultMap>
		
	<resultMap id="budgWageItemCostShipMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="wage_item_code" column="wage_item_code"/>
	<result property="wage_item_name" column="wage_item_name"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	</resultMap>
	
	<resultMap id="itemMap" type="java.util.Map">
	<result property="wage_item_code" column="wage_item_code"/>
	<result property="wage_item_name" column="wage_item_name"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_WAGE_ITEM_COST_SHIP (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			wage_item_code
			,
			subj_code
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{wage_item_code,jdbcType=VARCHAR}
			,
			#{subj_code,jdbcType=VARCHAR}
		
		)
	
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_WAGE_ITEM_COST_SHIP (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			wage_item_code
			,
			subj_code
			
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER}
				,
				#{item.hos_id,jdbcType=INTEGER}
				,
				#{item.copy_code,jdbcType=VARCHAR}
				,
				#{item.budg_year,jdbcType=VARCHAR}
				,
				#{item.wage_item_code,jdbcType=VARCHAR}
				,
				#{item.subj_code,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_wage_item_cost_ship 
		SET
			wage_item_code = #{wage_item_code,jdbcType=VARCHAR}
			,
			subj_code = #{subj_code,jdbcType=VARCHAR}
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND wage_item_code = #{wage_item_codeOld,jdbcType=VARCHAR}
			
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_wage_item_cost_ship 
			SET
				subj_code = #{item.subj_code,jdbcType=VARCHAR}
			WHERE                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				
				AND wage_item_code = #{item.wage_item_code,jdbcType=VARCHAR}
					
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_wage_item_cost_ship 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND wage_item_code = #{wage_item_code,jdbcType=VARCHAR}
	
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_wage_item_cost_ship 
		WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				<if test="item.wage_item_code != null and item.wage_item_code != ''">
				AND wage_item_code = #{item.wage_item_code,jdbcType=VARCHAR}
				</if>
			</foreach>
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="budgWageItemCostShipMap" >
	
		SELECT 
			bwics.group_id,
			bwics.hos_id,
			bwics.copy_code,
			bwics.budg_year,
			bwics.wage_item_code,
			bwid.wage_item_name ,
			bwics.subj_code ,
			bcs.subj_name 
		FROM BUDG_WAGE_ITEM_COST_SHIP  bwics
		LEFT JOIN BUDG_WAGE_ITEM_DICT bwid
			ON 
				bwics.group_id = bwid.group_id
				and bwics.hos_id = bwid.hos_id
				and bwics.copy_code = bwid.copy_code
				and bwics.wage_item_code = bwid.wage_item_code
		LEFT JOIN BUDG_COST_SUBJ bcs
			ON 
				bwics.group_id = bcs.group_id
				and bwics.hos_id = bcs.hos_id
				and bwics.copy_code = bcs.copy_code
				and bwics.budg_year = bcs.budg_year
				and bwics.subj_code = bcs.subj_code		
		WHERE                     
			bwics.group_id = #{group_id,jdbcType=INTEGER}
			
			AND bwics.hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND bwics.copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND bwics.budg_year = #{budg_year,jdbcType=VARCHAR}
			<if test="wage_item_code != null and wage_item_code != ''">
			AND bwics.wage_item_code = #{wage_item_code,jdbcType=VARCHAR}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND bwics.subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
			order by bwics.wage_item_code asc
	</select>
	
	<select id="queryByCode" resultMap="budgWageItemCostShip"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			wage_item_code,
			subj_code
		FROM budg_wage_item_cost_ship 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			copy_code = #{copy_code,jdbcType=VARCHAR}   and 
			budg_year = #{budg_year,jdbcType=VARCHAR}   and 
			wage_item_code = #{wage_item_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgWageItemCostShip"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			wage_item_code,
			subj_code
		FROM BUDG_WAGE_ITEM_COST_SHIP 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND wage_item_code = #{wage_item_code,jdbcType=VARCHAR}
			
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
	
	</select>
	<select id="queryExists" resultMap="budgWageItemCostShip"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			copy_code,
			budg_year,
			wage_item_code,
			subj_code
		FROM BUDG_WAGE_ITEM_COST_SHIP 
		WHERE                     
			group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			
			AND wage_item_code = #{wage_item_code,jdbcType=VARCHAR}
			
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
	
	</select>
	
	
	<!-- 工资项目 下拉框 -->
	<select id="queryWageItem" resultMap="itemMap">
	  select wage_item_code ,
	  wage_item_code || ' ' || wage_item_name as wage_item_name from BUDG_WAGE_ITEM_DICT
		<where>
			<if test="group_id != null and group_id != '' ">
				group_id = ${group_id}
			</if>
			<if test="hos_id != null and hos_id != '' ">
				AND hos_id = ${hos_id} 
			</if>
			<if test="copy_code != null and copy_code != '' ">
				and copy_code = ${copy_code}
			</if>
			<if test="key != null and key != ''">
				and (
					wage_item_code like '${key}%' or
					wage_item_name like '%${key}%' or
					spell_code like '%${key}%' or
					wbx_code like '%${key}%'
				)
			</if>
			and is_stop = 0
		</where>
		order by wage_item_code
	</select>
	
	<!-- 查询 支出预算科目是否存在 -->
	<select id="queryCostSubjByCode" resultType="java.lang.Integer"  parameterType="java.util.Map" >
	
		SELECT  count(subj_code) FROM BUDG_COST_SUBJ 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		AND is_last = 1
		</where>   
	</select>
</mapper>

