<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.storage.special.MatSpecialAffiOutRelaMapper">
	
	<resultMap id="matSpecialAffiOutRela" type="com.chd.hrp.mat.entity.MatSpecialAffiOutRela">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="affi_out_id" column="affi_out_id"/>
		<result property="affi_detail_id" column="affi_detail_id"/>
		<result property="special_id" column="special_id"/>
		<result property="sp_detail_id" column="sp_detail_id"/>
		<result property="out_amount" column="out_amount"/>
		<result property="special_amount" column="special_amount"/>
	</resultMap>
	
	<!-- 查询与各单据对应关系 -->
	<select id="queryMatSpecialAffiOutRela" resultMap="matSpecialAffiOutRela" parameterType="java.util.Map" >
		SELECT group_id, hos_id, copy_code, affi_out_id, affi_detail_id, out_amount, special_id, sp_detail_id, special_amount 
		FROM MAT_SPECIAL_AFFI_OUT_RELA 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR} 
			<if test="affi_out_id != null and affi_out_id != ''">
				and affi_out_id = #{affi_out_id,jdbcType=INTEGER} 
			</if>
			<if test="affi_detail_id != null and affi_detail_id != ''">
				and affi_detail_id = #{affi_detail_id,jdbcType=INTEGER}
			</if>
			<if test="special_id != null and special_id != ''">
				and special_id = #{special_id,jdbcType=INTEGER}
			</if>
			<if test="sp_detail_id != null and sp_detail_id != ''">
				and sp_detail_id = #{sp_detail_id,jdbcType=INTEGER}
			</if>
	</select>
	<!-- 查询与各单据对应关系列表 -->
	<select id="queryMatSpecialAffiOutRelaList" resultMap="matSpecialAffiOutRela" parameterType="java.util.Map" >
		SELECT group_id, hos_id, copy_code, affi_out_id, affi_detail_id, out_amount, special_id, sp_detail_id, special_amount 
		FROM MAT_SPECIAL_AFFI_OUT_RELA 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
			and hos_id = #{hos_id,jdbcType=INTEGER} 
			and copy_code = #{copy_code,jdbcType=VARCHAR} 
			<if test="affi_out_id != null and affi_out_id != ''">
				and affi_out_id = #{affi_out_id,jdbcType=INTEGER} 
			</if>
			<if test="affi_detail_id != null and affi_detail_id != ''">
				and affi_detail_id = #{affi_detail_id,jdbcType=INTEGER}
			</if>
			<if test="special_id != null and special_id != ''">
				and special_id = #{special_id,jdbcType=INTEGER}
			</if>
			<if test="sp_detail_id != null and sp_detail_id != ''">
				and sp_detail_id = #{sp_detail_id,jdbcType=INTEGER}
			</if>
	</select>
	<!-- 插入与各单据对应关系 -->
	<insert id="addMatSpecialAffiOutRelaBatch" parameterType="java.util.List" >
		INSERT INTO MAT_SPECIAL_AFFI_OUT_RELA(group_id, hos_id, copy_code, affi_out_id, affi_detail_id, out_amount, special_id, sp_detail_id, special_amount )
		<foreach collection="list" item="item" index="index" separator="union all" >		
			SELECT 
				#{item.group_id,jdbcType=INTEGER} as group_id, 
				#{item.hos_id,jdbcType=INTEGER} as hos_id, 
				#{item.copy_code,jdbcType=VARCHAR} as copy_code, 
				#{item.affi_out_id,jdbcType=INTEGER} as affi_out_id, 
				#{item.affi_detail_id,jdbcType=INTEGER} as affi_detail_id, 
				#{item.out_amount,jdbcType=INTEGER} as out_amount, 
				#{item.special_id,jdbcType=INTEGER} as special_id, 
				#{item.sp_detail_id,jdbcType=INTEGER} as sp_detail_id, 
				#{item.special_amount,jdbcType=NUMERIC} as special_amount 
			FROM dual 
		</foreach>
	</insert>
	<!-- 删除与各单据对应关系 -->
	<delete id="deleteMatSpecialAffiOutRela" parameterType="java.util.Map" >
		DELETE FROM MAT_SPECIAL_AFFI_OUT_RELA
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="affi_out_id != null and affi_out_id != ''">
				and affi_out_id = #{affi_out_id,jdbcType=INTEGER} 
			</if>
			<if test="special_id != null and special_id != ''">
				and special_id = #{special_id,jdbcType=INTEGER}
			</if>
	</delete>
	<!-- 批量删除与各单据对应关系 -->
	<delete id="deleteMatSpecialAffiOutRelaBatch" parameterType="java.util.List">
		DELETE FROM MAT_SPECIAL_AFFI_OUT_RELA
		WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			and hos_id = #{item.hos_id,jdbcType=INTEGER}
			and copy_code = #{item.copy_code,jdbcType=VARCHAR}
			<if test="item.affi_out_id != null and item.affi_out_id != ''">
				and affi_out_id = #{item.affi_out_id,jdbcType=INTEGER} 
			</if>
			<if test="item.special_id != null and item.special_id != ''">
				and special_id = #{item.special_id,jdbcType=INTEGER}
			</if>
		</foreach>
	</delete>

	<!-- 批量判断单据是否可删除、修改 -->
	<select id="existsMatSpecialAffiOutRelaStateBatch" parameterType="java.util.List" resultType="java.lang.String">
		with rela_tmp as(
			select group_id, hos_id, copy_code, out_amount, special_id
			from mat_special_affi_out_rela 
			WHERE
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
				and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				and affi_out_id = #{item.affi_out_id,jdbcType=INTEGER}
				and special_id = #{item.special_id,jdbcType=INTEGER}
			</foreach>
			group by group_id, hos_id, copy_code, out_amount, special_id
		), out_tmp as(
			select b.out_id
			from rela_tmp a
			left join mat_out_main b
				on a.group_id = b.group_id and a.hos_id = b.hos_id
				and a.copy_code = b.copy_code and a.special_id = b.out_id
			where b.state > 1
		)
		SELECT count(1)
		FROM(
			select out_id from out_tmp
			union all
			select tran_id from tran_tmp
			union all
			select out_id from affi_out_tmp
			union all
			select tran_id from affi_tran_tmp
			union all
			select req_id from req_tmp
		)
	</select>
</mapper>

