<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.collect.HtcgIcd10InfoMapper">
	<resultMap id="htcgIcd10Info" type="com.chd.hrp.htcg.entity.collect.HtcgIcd10Info">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="mr_no" column="mr_no" />
		<result property="in_hos_no" column="in_hos_no" />
		<result property="patient_name" column="patient_name" />
		<result property="icd10_type_code" column="icd10_type_code" />
		<result property="icd10_type_name" column="icd10_type_name" />
		<result property="icd10_code" column="icd10_code" />
		<result property="icd10_name" column="icd10_name" />
		<result property="icd10_seq" column="icd10_seq" />
		<result property="outcome_code" column="outcome_code" />
		<result property="outcome_name" column="outcome_name" />
	</resultMap>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addHtcgIcd10Info" useGeneratedKeys="true">
		      insert into htcg_icd10_info
						  (group_id,
						   hos_id,
						   copy_code,
						   mr_no,
						   in_hos_no,
						   icd10_type_code,
						   icd10_code,
						   icd10_seq,
						   outcome_code)
						values
						  (#{group_id},
						   #{hos_id},
						   #{copy_code},
						   #{mr_no},
						   #{in_hos_no},
						   #{icd10_type_code},
						   #{icd10_code},
						   #{icd10_seq},
						   #{outcome_code})
	</insert>
	
	<insert id="addBathcHtcgIcd10Info" useGeneratedKeys="false">
		    insert into htcg_icd10_info
				  (group_id,
				   hos_id,
				   copy_code,
				   mr_no,
				   in_hos_no,
				   icd10_type_code,
				   icd10_code,
				   icd10_seq,
				   outcome_code)
		<foreach collection="list" item="item" separator="union all">
				select 
			           #{item.group_id},
					   #{item.hos_id},
					   #{item.copy_code},
					   #{item.mr_no},
					   #{item.in_hos_no},
					   #{item.icd10_type_code},
					   #{item.icd10_code},
					   #{item.icd10_seq},
					   #{item.outcome_code}
			     from dual
		</foreach>
	</insert>

	<update id="updateHtcgIcd10Info" parameterType="java.util.Map">
		      update htcg_icd10_info
			   set group_id = #{group_id},
			       hos_id = #{hos_id},
			       copy_code = #{copy_code},
			       mr_no = #{mr_no},
			       in_hos_no = #{in_hos_no},
			       icd10_type_code = #{icd10_type_code},
			       icd10_code = #{icd10_code},
			       icd10_seq = #{icd10_seq},
			       outcome_code = #{outcome_code}
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and mr_no = #{mr_no}
			   and in_hos_no = #{in_hos_no}
	</update>
	
	<update id="updateBathcHtcgIcd10Info" parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		   update htcg_icd10_info
			   set group_id = #{item.group_id},
			       hos_id = #{item.hos_id},
			       copy_code = #{item.copy_code},
			       mr_no = #{item.mr_no},
			       in_hos_no = #{item.in_hos_no},
			       icd10_type_code = #{item.icd10_type_code},
			       icd10_code = #{item.icd10_code},
			       icd10_seq = #{item.icd10_seq},
			       outcome_code = #{item.outcome_code}
			 where group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and mr_no = #{item.mr_no}
			   and in_hos_no = #{item.in_hos_no}
       </foreach>
	</update>

	<delete id="deleteHtcgIcd10Info" parameterType="java.util.Map">
		 delete htcg_icd10_info
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and mr_no = #{mr_no}
		   and in_hos_no = #{in_hos_no}
	</delete>

	<delete id="deleteBatchHtcgIcd10Info" parameterType="java.util.List">
		 delete htcg_icd10_info where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			   group_id = #{item.group_id}
		   and hos_id = #{item.hos_id}
		   and copy_code = #{item.copy_code}
		   and mr_no = #{item.mr_no}
		   and in_hos_no = #{item.in_hos_no}
		</foreach> 
	</delete>

	<select id="queryHtcgIcd10InfoByCode" parameterType="java.util.Map" resultMap="htcgIcd10Info">
	      select hii.group_id,
	             hii.hos_id,
	             hii.copy_code,
	             hii.mr_no,
	             hii.in_hos_no,
				 hmi.patient_name,
	             hii.icd10_type_code,
				 hitd.icd10_type_name,
	             hii.icd10_code,
				 hi.icd10_name,
	             hii.icd10_seq,
	             hii.outcome_code,
				 hod.outcome_name
		  from htcg_icd10_info hii
			left join htcg_mr_info hmi
			on hii.group_id = hmi.group_id
			and hii.hos_id = hmi.hos_id
			and hii.copy_code = hmi.copy_code
			and hii.mr_no = hmi.mr_no
			and hii.in_hos_no = hmi.in_hos_no
			left join htcg_icd10_type_dict hitd
			on hii.group_id = hitd.group_id
			and hii.hos_id = hitd.hos_id
			and hii.copy_code = hitd.copy_code
			and hii.icd10_type_code = hitd.icd10_type_code
			left join htcg_icd10 hi
			on hii.group_id = hi.group_id
			and hii.hos_id = hi.hos_id
			and hii.copy_code = hi.copy_code
			and hii.icd10_code = hi.icd10_code
			left join htcg_outcome_dict hod
			on hii.group_id = hod.group_id
			and hii.hos_id = hod.hos_id
			and hii.copy_code = hod.copy_code
			and hii.outcome_code = hod.outcome_code
			where hii.group_id = #{group_id}
	        and   hii.hos_id = #{hos_id}
	        and   hii.copy_code = #{copy_code}
	        and   hii.mr_no = #{mr_no}
	        and   hii.in_hos_no = #{in_hos_no}
		                                   
	</select>
	<select id="queryHtcgIcd10Info" parameterType="java.util.Map" resultMap="htcgIcd10Info">
	                    select hii.group_id,
						       hii.hos_id,
						       hii.copy_code,
						       hii.mr_no,
						       hii.in_hos_no,
							   hmi.patient_name,
						       hii.icd10_type_code,
							   hitd.icd10_type_name,
						       hii.icd10_code,
							   hi.icd10_name,
						       hii.icd10_seq,
						       hii.outcome_code,
							   hod.outcome_name
						  from htcg_icd10_info hii
							left join htcg_mr_info hmi
							on hii.group_id = hmi.group_id
							and hii.hos_id = hmi.hos_id
							and hii.copy_code = hmi.copy_code
							and hii.mr_no = hmi.mr_no
							and hii.in_hos_no = hmi.in_hos_no
							left join htcg_icd10_type_dict hitd
							on hii.group_id = hitd.group_id
							and hii.hos_id = hitd.hos_id
							and hii.copy_code = hitd.copy_code
							and hii.icd10_type_code = hitd.icd10_type_code
							left join htcg_icd10 hi
							on hii.group_id = hi.group_id
							and hii.hos_id = hi.hos_id
							and hii.copy_code = hi.copy_code
							and hii.icd10_code = hi.icd10_code
							left join htcg_outcome_dict hod
							on hii.group_id = hod.group_id
							and hii.hos_id = hod.hos_id
							and hii.copy_code = hod.copy_code
							and hii.outcome_code = hod.outcome_code
						<where>
						          hii.group_id = #{group_id}
					        and   hii.hos_id = #{hos_id}
					        and   hii.copy_code = #{copy_code}
					        <if test="mr_no != null and mr_no != ''">
								and hii.mr_no like '%'||#{mr_no}||'%'
							</if>
							<if test="in_hos_no != null and in_hos_no != ''">
								and hii.in_hos_no like '%'||#{in_hos_no}||'%'
							</if>
							<if test="patient_name != null and patient_name != ''">
								and hmi.patient_name like '%'||#{patient_name}||'%'
							</if>
							<if test="icd10_type_code != null and icd10_type_code != ''">
								and (hii.icd10_type_code like '%'||#{icd10_type_code}||'%'
								  or  hitd.icd10_type_name like '%'||#{icd10_type_code}||'%'
								  )
							</if>
							<if test="icd10_code != null and icd10_code != ''">
								and (hii.icd10_code like '%'||#{icd10_code}||'%'
								 or  hi.icd10_name like '%'||#{icd10_code}||'%'
								  )
							</if>
							<if test="outcome_code != null and outcome_code != ''">
								and hii.outcome_code = #{outcome_code}
							</if>
						</where>
					order by hii.group_id,hii.hos_id,hii.copy_code,hii.mr_no,hii.in_hos_no
	</select>

</mapper>

