<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.collect.HtcgMaterialAdviceMapper">
	<resultMap id="htcgMaterialAdvice" type="com.chd.hrp.htcg.entity.collect.HtcgMaterialAdvice">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="mr_no" column="mr_no" />
		<result property="in_hos_no" column="in_hos_no" />
		<result property="patient_name" column="patient_name" />
		<result property="advice_date" column="advice_date" />
		<result property="order_by_no" column="order_by_no" />
		<result property="order_by_id" column="order_by_id" />
		<result property="order_by_code" column="order_by_code" />
		<result property="order_by_name" column="order_by_name" />
		<result property="perform_by_no" column="perform_by_no" />
		<result property="perform_by_id" column="perform_by_id" />
		<result property="perform_by_code" column="perform_by_code" />
		<result property="perform_by_name" column="perform_by_name" />
		<result property="mate_mode" column="mate_mode" />
		<result property="mate_name" column="mate_name" />
		<result property="amount" column="amount" />
		<result property="price" column="price" />
		<result property="income_money" column="income_money" />
		<result property="recipe_type_code" column="recipe_type_code" />
		<result property="recipe_type_name" column="recipe_type_name" />
		<result property="place" column="place" />
	</resultMap>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addHtcgMaterialAdvice" useGeneratedKeys="true">

		insert into htcg_material_advice
					  (group_id,
					   hos_id,
					   copy_code,
					   mr_no,
					   in_hos_no,
					   advice_date,
					   order_by_no,
					   order_by_id,
					   perform_by_no,
					   perform_by_id,
					   mate_code,
					   amount,
					   price,
					   income_money,
					   recipe_type_code,
					   place)
					values
					  (#{group_id},
					   #{hos_id},
					   #{copy_code},
					   #{mr_no},
					   #{in_hos_no},
					   to_date(#{advice_date},'yyyy/mm/dd'),
					   #{order_by_no},
					   #{order_by_id},
					   #{perform_by_no},
					   #{perform_by_id},
					   #{mate_code},
					   #{amount},
					   #{price},
					   #{amount}*#{price},
					   #{recipe_type_code},
					   #{place})
	</insert>
	
	<insert id="addBatchHtcgMaterialAdvice" parameterType="java.util.List">

		      insert into htcg_material_advice
					  (group_id,
					   hos_id,
					   copy_code,
					   mr_no,
					   in_hos_no,
					   advice_date,
					   order_by_no,
					   order_by_id,
					   perform_by_no,
					   perform_by_id,
					   mate_code,
					   amount,
					   price,
					   income_money,
					   recipe_type_code,
					   place)
		<foreach collection="list" item="item" separator="union all">
		         select 
		               #{item.group_id},
					   #{item.hos_id},
					   #{item.copy_code},
					   #{item.mr_no},
					   #{item.in_hos_no},
					   #{item.advice_date},
					   #{item.order_by_no},
					   #{item.order_by_id},
					   #{item.perform_by_no},
					   #{item.perform_by_id},
					   #{item.mate_code},
					   #{item.amount},
					   #{item.price},
					   #{item.amount}*#{item.price},
					   #{item.recipe_type_code},
					   #{item.place}
				  from dual
		</foreach>
	</insert>

	<update id="updateHtcgMaterialAdvice" parameterType="java.util.Map">
		 update htcg_material_advice
		   set amount = #{amount},
		       price = #{price},
		       income_money = #{amount}*#{price},
		       recipe_type_code = #{recipe_type_code},
		       place = #{place}
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and mr_no = #{mr_no}
		   and in_hos_no = #{in_hos_no}
		   and advice_date = to_date(#{advice_date},'yyyy/mm/dd')
		   and order_by_no = #{order_by_no}
		   and order_by_id = #{order_by_id}
		   and perform_by_no = #{perform_by_no}
		   and perform_by_id = #{perform_by_id}
		   and mate_code = #{mate_code}
	</update>
	
	<delete id="deleteHtcgMaterialAdvice" parameterType="java.util.Map">
		delete htcg_material_advice
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and mr_no = #{mr_no}
		   and in_hos_no = #{in_hos_no}
		   and advice_date = #{advice_date}
		   and order_by_no = #{order_by_no}
		   and order_by_id = #{order_by_id}
		   and perform_by_no = #{perform_by_no}
		   and perform_by_id = #{perform_by_id}
		   and mate_code = #{mate_code}
	</delete>

	<delete id="deleteBatchHtcgMaterialAdvice" parameterType="java.util.List">

		delete htcg_material_advice where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			   group_id = #{item.group_id}
		   and hos_id = #{item.hos_id}
		   and copy_code = #{item.copy_code}
		   and mr_no = #{item.mr_no}
		   and in_hos_no = #{item.in_hos_no}
		   and advice_date = #{item.advice_date}
		   and order_by_no = #{item.order_by_no}
		   and order_by_id = #{item.order_by_id}
		   and perform_by_no = #{item.perform_by_no}
		   and perform_by_id = #{item.perform_by_id}
		   and mate_code = #{item.mate_code}
		</foreach>
	</delete>

	<select id="queryHtcgMaterialAdviceByCode" parameterType="java.util.Map" resultMap="htcgMaterialAdvice">
		            select hma.group_id,
					       hma.hos_id,
					       hma.copy_code,
					       hma.mr_no,
					       hma.in_hos_no,
						   hmi.patient_name,
					       hma.advice_date,
					       hma.order_by_no,
					       hma.order_by_id,
						   order_hdd.dept_code order_by_code,
						   order_hdd.dept_name order_by_name,
					       hma.perform_by_no,
					       hma.perform_by_id,
						   perform_hdd.dept_code perform_by_code,
						   perform_hdd.dept_name perform_by_name,
					       hma.mate_code,
						   hmd.mate_name, 
					       hma.amount,
					       hma.price,
					       hma.income_money,
					       hma.recipe_type_code,
						   hrt.recipe_type_name,
					       hma.place
				  from htcg_material_advice hma
					left join htcg_mr_info hmi 
					on hma.group_id = hmi.group_id
					and hma.hos_id = hmi.hos_id
					and hma.copy_code = hmi.copy_code
					and hma.mr_no = hmi.mr_no
					and hma.in_hos_no = hmi.in_hos_no 
					left join hos_dept_dict order_hdd 
					on order_hdd.group_id = hma.group_id
					and order_hdd.hos_id = hma.hos_id
					and order_hdd.dept_no = hma.order_by_no
					and order_hdd.dept_id = hma.order_by_id 
					left join hos_dept_dict perform_hdd 
					on perform_hdd.group_id = hma.group_id
					and perform_hdd.hos_id = hma.hos_id
					and perform_hdd.dept_no = hma.perform_by_no
					and perform_hdd.dept_id = hma.perform_by_id
					left join htc_material_dict hmd
					on hmd.group_id = hma.group_id
					and hmd.hos_id = hma.hos_id
					and hmd.copy_code = hma.copy_code
					and hmd.mate_code = hma.mate_code
				  left join htcg_recipe_type hrt 
					on hrt.group_id = hma.group_id
					and hrt.hos_id = hma.hos_id
					and hrt.copy_code = hma.copy_code
					and hrt.recipe_type_code = hma.recipe_type_code
				    where  hma.group_id = #{group_id}
					   and hma.hos_id = #{hos_id}
					   and hma.copy_code = #{copy_code}
					   and hma.mr_no = #{mr_no}
					   and hma.in_hos_no = #{in_hos_no}
					   and hma.advice_date = to_date(#{advice_date},'yyyy/mm/dd')
					   and hma.order_by_no = #{order_by_no}
					   and hma.order_by_id = #{order_by_id}
					   and hma.perform_by_no = #{perform_by_no}
					   and hma.perform_by_id = #{perform_by_id}
					   and hma.mate_code = #{mate_code}
	</select>
	<select id="queryHtcgMaterialAdvice" parameterType="java.util.Map" resultMap="htcgMaterialAdvice">
                select hma.group_id,
				       hma.hos_id,
				       hma.copy_code,
				       hma.mr_no,
				       hma.in_hos_no,
					   hmi.patient_name,
				       hma.advice_date,
				       hma.order_by_no,
				       hma.order_by_id,
					   order_hdd.dept_code order_by_code,
					   order_hdd.dept_name order_by_name,
				       hma.perform_by_no,
				       hma.perform_by_id,
					   perform_hdd.dept_code perform_by_code,
					   perform_hdd.dept_name perform_by_name,
				       hma.mate_code,
					   hmd.mate_name, 
				       hma.amount,
				       hma.price,
				       hma.income_money,
				       hma.recipe_type_code,
					   hrt.recipe_type_name,
				       hma.place
				  from htcg_material_advice hma
					left join htcg_mr_info hmi 
					on hma.group_id = hmi.group_id
					and hma.hos_id = hmi.hos_id
					and hma.copy_code = hmi.copy_code
					and hma.mr_no = hmi.mr_no
					and hma.in_hos_no = hmi.in_hos_no 
					left join hos_dept_dict order_hdd 
					on order_hdd.group_id = hma.group_id
					and order_hdd.hos_id = hma.hos_id
					and order_hdd.dept_no = hma.order_by_no
					and order_hdd.dept_id = hma.order_by_id 
					left join hos_dept_dict perform_hdd 
					on perform_hdd.group_id = hma.group_id
					and perform_hdd.hos_id = hma.hos_id
					and perform_hdd.dept_no = hma.perform_by_no
					and perform_hdd.dept_id = hma.perform_by_id
					left join htc_material_dict hmd
					on hmd.group_id = hma.group_id
					and hmd.hos_id = hma.hos_id
					and hmd.copy_code = hma.copy_code
					and hmd.mate_code = hma.mate_code
				  left join htcg_recipe_type hrt 
					on hrt.group_id = hma.group_id
					and hrt.hos_id = hma.hos_id
					and hrt.copy_code = hma.copy_code
					and hrt.recipe_type_code = hma.recipe_type_code 
		<where>    hma.group_id = #{group_id}
			   and hma.hos_id = #{hos_id}
			   and hma.copy_code = #{copy_code}
			    <if test="mr_no != null and mr_no != ''  ">
			           and hma.mr_no like #{mr_no}||'%'
			    </if>
			     <if test="in_hos_no != null and in_hos_no != ''  ">
			           and hma.in_hos_no like #{in_hos_no}||'%'
			    </if>
			    <if test="patient_name != null and patient_name != ''  ">
			           and hmi.patient_name = #{patient_name}
			    </if>
			     <if test="advice_date != null and advice_date != ''  ">
			           and hma.advice_date = to_date(#{advice_date},'yyyy/mm/dd')
			    </if>
			    <if test="order_by_id != null and order_by_id != ''  ">
			           and hma.order_by_id = #{order_by_id}
			    </if>
			    <if test="order_by_no != null and order_by_no != ''  ">
			           and hma.order_by_no = #{order_by_no}
			    </if>
			     <if test="perform_by_id != null and perform_by_id != ''  ">
			           and hma.perform_by_id = #{perform_by_id}
			    </if>
			    <if test="perform_by_no != null and perform_by_no != ''  ">
			           and hma.perform_by_no = #{perform_by_no}
			    </if>
			    <if test="mate_code != null and mate_code != ''  ">
			           and hma.mate_code like '%'||#{mate_code}||'%'
			    </if>
		</where>
		order by hma.group_id,hma.hos_id,hma.copy_code,hma.mr_no,hma.in_hos_no
	</select>

</mapper>

