<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.analysis.CostAnalysisProcMapper">
	<!-- 生成成本分析报表 -->
	<select id="saveCostAnalysisProc" statementType="CALLABLE"
		parameterType="java.util.Map" resultType="java.util.Map"> 
		<![CDATA[
	  {call pkg_cost_analysis.cost_analysis_proc(#{group_id},#{hos_id},#{copy_code},#{acc_year},#{acc_month})}
	  ]]>
	</select>

</mapper>

