<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.business.fixedassets.BudgAssCardMapper">
	
	<resultMap id="budgAssCard" type="com.chd.hrp.budg.entity.BudgAssCard">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="naturs_code" column="naturs_code"/>
	<result property="dept_id" column="dept_id"/>
	<result property="use_state" column="use_state"/>
	<result property="is_dept" column="is_dept"/>
	<result property="store_id" column="store_id"/>
	<result property="is_throw" column="is_throw"/>
	<result property="in_date" column="in_date"/>
	<result property="note" column="note"/>
	<result property="is_depr" column="is_depr"/>
	<result property="depr_method" column="depr_method"/>
	<result property="acc_depre_amount" column="acc_depre_amount"/>
	<result property="price" column="price"/>
	<result property="depre_money" column="depre_money"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="last_depr_year" column="last_depr_year"/>
	<result property="last_depr_month" column="last_depr_month"/>
	</resultMap>
		
	<resultMap id="budgAssCardMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ass_card_no" column="ass_card_no"/>
	<result property="ass_id" column="ass_id"/>
	<result property="ass_code" column="ass_code"/>
	<result property="ass_name" column="ass_name"/>
	<result property="naturs_code" column="naturs_code"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_code" column="dept_code"/>
	<result property="dept_name" column="dept_name"/>
	<result property="use_state" column="use_state"/>
	<result property="state_name" column="state_name"/>
	<result property="is_dept" column="is_dept"/>
	<result property="is_dept_text" column="is_dept_text"/>
	<result property="store_id" column="store_id"/>
	<result property="store_code" column="store_code"/>
	<result property="store_name" column="store_name"/>
	<result property="is_throw" column="is_throw"/>
	<result property="is_throw_text" column="is_throw_text"/>
	<result property="in_date" column="in_date"/>
	<result property="note" column="note"/>
	<result property="is_depr" column="is_depr"/>
	<result property="is_depr_text" column="is_depr_text"/>
	<result property="depr_method" column="depr_method"/>
	<result property="ass_depre_name" column="ass_depre_name"/>
	<result property="acc_depre_amount" column="acc_depre_amount"/>
	<result property="price" column="price"/>
	<result property="depre_money" column="depre_money"/>
	<result property="cur_money" column="cur_money"/>
	<result property="fore_money" column="fore_money"/>
	<result property="add_depre_month" column="add_depre_month"/>
	<result property="last_depr_year" column="last_depr_year"/>
	<result property="last_depr_month" column="last_depr_month"/>
	<result property="naturs_name" column="naturs_name"/>
	<result property="source_id" column="source_id"/>
	<result property="source_code" column="source_code"/>
	<result property="source_name" column="source_name"/>
	</resultMap>
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_ASS_CARD (
		<trim suffix="" suffixOverrides=",">
		group_id
		,
		hos_id
		,
		copy_code
		,
		ass_card_no
		,
		ass_id
		,
		naturs_code
		,
		dept_id
		,
		use_state
		,
		<if test="is_dept != null and is_dept != ''">
		is_dept
		,
		</if>
		<if test="store_id != null and store_id != ''">
		store_id
		,
		</if>
		<if test="is_throw != null and is_throw != ''">
		is_throw
		,
		</if>
		in_date
		,
		<if test="note != null and note != ''">
		note
		,
		</if>
		is_depr
		,
		<if test="depr_method != null and depr_method != ''">
		depr_method
		,
		</if>
		<if test="acc_depre_amount != null and acc_depre_amount != ''">
		acc_depre_amount
		,
		</if>
		<if test="price != null and price != ''">
		price
		,
		</if>
		<if test="depre_money != null and depre_money != ''">
		depre_money
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money
		,
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		add_depre_month
		,
		</if>
		<if test="last_depr_year != null and last_depr_year != ''">
		last_depr_year
		,
		</if>
		<if test="last_depr_month != null and last_depr_month != ''">
		last_depr_month
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{ass_card_no,jdbcType=VARCHAR}
		,
		#{ass_id,jdbcType=INTEGER}
		,
		#{naturs_code,jdbcType=CHAR}
		,
		#{dept_id,jdbcType=INTEGER}
		,
		#{use_state,jdbcType=INTEGER}
		,
		<if test="is_dept != null and is_dept != ''">
		#{is_dept,jdbcType=INTEGER}
		,
		</if>
		<if test="store_id != null and store_id != ''">
		#{store_id,jdbcType=INTEGER}
		,
		</if>
		<if test="is_throw != null and is_throw != ''">
		#{is_throw,jdbcType=INTEGER}
		,
		</if>
		#{in_date,jdbcType=DATE}
		,
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_depr != null and is_depr != ''">
		#{is_depr,jdbcType=INTEGER}
		,
		</if>
		<if test="depr_method != null and depr_method != ''">
		#{depr_method,jdbcType=VARCHAR}
		,
		</if>
		<if test="acc_depre_amount != null and acc_depre_amount != ''">
		#{acc_depre_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="price != null and price != ''">
		#{price,jdbcType=INTEGER}
		,
		</if>
		<if test="depre_money != null and depre_money != ''">
		#{depre_money,jdbcType=INTEGER}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		#{cur_money,jdbcType=INTEGER}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		#{fore_money,jdbcType=INTEGER}
		,
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		#{add_depre_month,jdbcType=INTEGER}
		,
		</if>
		<if test="last_depr_year != null and last_depr_year != ''">
		#{last_depr_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="last_depr_month != null and last_depr_month != ''">
		#{last_depr_month,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_ASS_CARD (
		group_id
		,
		hos_id
		,
		copy_code
		,
		ass_card_no
		,
		ass_id
		,
		naturs_code
		,
		dept_id
		,
		use_state
		,
		is_dept
		,
		store_id
		,
		is_throw
		,
		in_date
		,
		note
		,
		is_depr
		,
		depr_method
		,
		acc_depre_amount
		,
		price
		,
		depre_money
		,
		cur_money
		,
		fore_money
		,
		add_depre_month
		,
		last_depr_year
		,
		last_depr_month
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.ass_card_no,jdbcType=VARCHAR}
			,
			#{item.ass_id,jdbcType=INTEGER}
			,
			#{item.naturs_code,jdbcType=CHAR}
			,
			#{item.dept_id,jdbcType=INTEGER}
			,
			#{item.use_state,jdbcType=INTEGER}
			,
			#{item.is_dept,jdbcType=INTEGER}
			,
			#{item.store_id,jdbcType=INTEGER}
			,
			#{item.is_throw,jdbcType=INTEGER}
			,
			#{item.in_date,jdbcType=DATE}
			,
			#{item.note,jdbcType=VARCHAR}
			,
			#{item.is_depr,jdbcType=INTEGER}
			,
			#{item.depr_method,jdbcType=VARCHAR}
			,
			#{item.acc_depre_amount,jdbcType=INTEGER}
			,
			#{item.price,jdbcType=INTEGER}
			,
			#{item.depre_money,jdbcType=INTEGER}
			,
			#{item.cur_money,jdbcType=INTEGER}
			,
			#{item.fore_money,jdbcType=INTEGER}
			,
			#{item.add_depre_month,jdbcType=INTEGER}
			,
			#{item.last_depr_year,jdbcType=VARCHAR}
			,
			#{item.last_depr_month,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	<select id="querynatursCode" resultType="java.lang.String" parameterType="java.util.Map">
		select an.naturs_code from ass_naturs an
			left join ass_type_dict atd 
			on an.naturs_code = atd.ass_naturs
			left join ass_dict ad 
			on ad.ass_type_id = atd.ass_type_id
			and ad.group_id =atd.group_id
			and ad.hos_id = atd.hos_id
			and ad.copy_code = atd.copy_code
			and ad.is_stop = '0'
			where ad.ass_id = #{ass_id}
			and ad.group_id = #{group_id}
			and ad.hos_id = #{hos_id}
			and ad.copy_code = #{copy_code}
	</select>
	
	<!-- 批量添加 资产现状——资金来源数据 -->
	<insert id="addBudgAssCardSource" parameterType="java.util.List" >
	<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
	INSERT INTO BUDG_ASS_CARD_SOURCE (
			   naturs_code,
			   
			   group_id,
			   
			   hos_id,
			   
			   copy_code,
			   
			   ass_card_no,
			   
			   source_id,
			   
			   price,
			   
			   depre_money,
			   
			   cur_money,
			   
			   fore_money
		
		) values ( 
			#{item.naturs_code,jdbcType=VARCHAR}
			,
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.ass_card_no,jdbcType=VARCHAR}
			,
			#{item.source_id,jdbcType=INTEGER}
			,
			#{item.price,jdbcType=INTEGER}
			,
			#{item.depre_money,jdbcType=INTEGER}
			,
			#{item.cur_money,jdbcType=INTEGER}
			,
			#{item.fore_money,jdbcType=INTEGER}
			)
	</foreach>
		
	</insert>
	
	<select id="queruBudgAssCardSource" resultMap="budgAssCardMap" parameterType="java.util.Map">
		select naturs_code,
		       group_id,
		       hos_id,
		       copy_code,
		       ass_card_no,
		       source_id,
		       price,
		       depre_money,
		       cur_money,
		       fore_money
		  from budg_ass_card_source
		 where naturs_code = #{naturs_code}
		   and group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and ass_card_no = #{ass_card_no}
		   and source_id = #{source_id}

	</select>
	
	<update id="updateBudgAssCardSource" parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
	update budg_ass_card_source
	<trim prefix="SET"  suffixOverrides=","> 
	    naturs_code = #{item.naturs_code,jdbcType=VARCHAR},
	       group_id    = #{item.group_id,jdbcType=INTEGER},
	       hos_id      = #{item.hos_id,jdbcType=INTEGER},
	       copy_code   = #{item.copy_code,jdbcType=VARCHAR},
	       ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR},
	       <if test="item.price !=null and item.price !=''">
	       price       = #{item.price,jdbcType=INTEGER},
	       </if>
	       <if test="item.depre_money !=null and item.depre_money !=''">
	       depre_money = #{item.depre_money,jdbcType=INTEGER},
	       </if>
	       <if test="item.cur_money !=null and item.cur_money !=''">
	       cur_money   = #{item.cur_money,jdbcType=INTEGER},
	       </if>
	       <if test="item.fore_money !=null and item.fore_money !=''">
	       fore_money  = #{item.fore_money,jdbcType=INTEGER}
	       </if>
	 where naturs_code = #{item.naturs_code,jdbcType=VARCHAR}
	   and group_id = #{item.group_id,jdbcType=INTEGER}
	   and hos_id = #{item.hos_id,jdbcType=INTEGER}
	   and copy_code = #{item.copy_code,jdbcType=VARCHAR}
	   and ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
	   and source_id = #{item.source_id,jdbcType=VARCHAR}
	   </trim>
	</foreach>
	</update>
	
	<delete id="deleteBudgAssCardSource" parameterType="java.util.Map">
	delete budg_ass_card_source
	where naturs_code = #{naturs_code}
		   and group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code}
		   and ass_card_no = #{ass_card_no}
		   and source_id = #{source_id}
	</delete>
	<update id="update" parameterType="java.util.Map">
	
		UPDATE budg_ass_card 
		<trim prefix="SET"  suffixOverrides=","> 
		ass_id = #{ass_id,jdbcType=INTEGER}
		,
		naturs_code = #{naturs_code,jdbcType=CHAR}
		,
		dept_id = #{dept_id,jdbcType=INTEGER}
		,
		use_state = #{use_state,jdbcType=INTEGER}
		,
		<if test="is_dept != null and is_dept != ''">
		is_dept = #{is_dept,jdbcType=INTEGER}
		,
		</if>
		<if test="store_id != null and store_id != ''">
		store_id = #{store_id,jdbcType=INTEGER}
		,
		</if>
		<if test="is_throw != null and is_throw != ''">
		is_throw = #{is_throw,jdbcType=INTEGER}
		,
		</if>
		<if test="in_date != null and in_date != ''">
		in_date = #{in_date,jdbcType=DATE}
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		<if test="is_depr != null and is_depr != ''">
		is_depr = #{is_depr,jdbcType=INTEGER}
		,
		</if>
		<if test="depr_method != null and depr_method != ''">
		depr_method = #{depr_method,jdbcType=VARCHAR}
		,
		</if>
		<if test="acc_depre_amount != null and acc_depre_amount != ''">
		acc_depre_amount = #{acc_depre_amount,jdbcType=INTEGER}
		,
		</if>
		<if test="price != null and price != ''">
		price = #{price,jdbcType=INTEGER}
		,
		</if>
		<if test="depre_money != null and depre_money != ''">
		depre_money = #{depre_money,jdbcType=INTEGER}
		,
		</if>
		<if test="cur_money != null and cur_money != ''">
		cur_money = #{cur_money,jdbcType=INTEGER}
		,
		</if>
		<if test="fore_money != null and fore_money != ''">
		fore_money = #{fore_money,jdbcType=INTEGER}
		,
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		add_depre_month = #{add_depre_month,jdbcType=INTEGER}
		,
		</if>
		<if test="last_depr_year != null and last_depr_year != ''">
		last_depr_year = #{last_depr_year,jdbcType=VARCHAR}
		,
		</if>
		<if test="last_depr_month != null and last_depr_month != ''">
		last_depr_month = #{last_depr_month,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		AND group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE budg_ass_card 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.ass_id != null and item.ass_id != ''">
			ass_id = #{item.ass_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.naturs_code != null and item.naturs_code != ''">
			naturs_code = #{item.naturs_code,jdbcType=CHAR}
			,
			</if>
			<if test="item.dept_id != null and item.dept_id != ''">
			dept_id = #{item.dept_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.use_state != null and item.use_state != ''">
			use_state = #{item.use_state,jdbcType=INTEGER}
			,
			</if>
			<if test="item.is_dept != null and item.is_dept != ''">
			is_dept = #{item.is_dept,jdbcType=INTEGER}
			,
			</if>
			<if test="item.store_id != null and item.store_id != ''">
			store_id = #{item.store_id,jdbcType=INTEGER}
			,
			</if>
			<if test="item.is_throw != null and item.is_throw != ''">
			is_throw = #{item.is_throw,jdbcType=INTEGER}
			,
			</if>
			<if test="item.in_date != null and item.in_date != ''">
			in_date = #{item.in_date,jdbcType=DATE}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.is_depr != null and item.is_depr != ''">
			is_depr = #{item.is_depr,jdbcType=INTEGER}
			,
			</if>
			<if test="item.depr_method != null and item.depr_method != ''">
			depr_method = #{item.depr_method,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.acc_depre_amount != null and item.acc_depre_amount != ''">
			acc_depre_amount = #{item.acc_depre_amount,jdbcType=INTEGER}
			,
			</if>
			<if test="item.price != null and item.price != ''">
			price = #{item.price,jdbcType=INTEGER}
			,
			</if>
			<if test="item.depre_money != null and item.depre_money != ''">
			depre_money = #{item.depre_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.cur_money != null and item.cur_money != ''">
			cur_money = #{item.cur_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.fore_money != null and item.fore_money != ''">
			fore_money = #{item.fore_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.add_depre_month != null and item.add_depre_month != ''">
			add_depre_month = #{item.add_depre_month,jdbcType=INTEGER}
			,
			</if>
			<if test="item.last_depr_year != null and item.last_depr_year != ''">
			last_depr_year = #{item.last_depr_year,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.last_depr_month != null and item.last_depr_month != ''">
			last_depr_month = #{item.last_depr_month,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.ass_card_no != null and item.ass_card_no != ''">
			AND ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.ass_id != null and item.ass_id != ''">
			AND ass_id = #{item.ass_id,jdbcType=INTEGER}
			</if>  
			<if test="item.naturs_code != null and item.naturs_code != ''">
			AND naturs_code = #{item.naturs_code,jdbcType=CHAR}
			</if>  
			<if test="item.dept_id != null and item.dept_id != ''">
			AND dept_id = #{item.dept_id,jdbcType=INTEGER}
			</if>  
			<if test="item.use_state != null and item.use_state != ''">
			AND use_state = #{item.use_state,jdbcType=INTEGER}
			</if>  
			<if test="item.is_dept != null and item.is_dept != ''">
			AND is_dept = #{item.is_dept,jdbcType=INTEGER}
			</if>  
			<if test="item.store_id != null and item.store_id != ''">
			AND store_id = #{item.store_id,jdbcType=INTEGER}
			</if>  
			<if test="item.is_throw != null and item.is_throw != ''">
			AND is_throw = #{item.is_throw,jdbcType=INTEGER}
			</if>  
			<if test="item.in_date != null and item.in_date != ''">
			AND in_date = #{item.in_date,jdbcType=DATE}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{item.note,jdbcType=VARCHAR}
			</if>  
			<if test="item.is_depr != null and item.is_depr != ''">
			AND is_depr = #{item.is_depr,jdbcType=INTEGER}
			</if>  
			<if test="item.depr_method != null and item.depr_method != ''">
			AND depr_method = #{item.depr_method,jdbcType=VARCHAR}
			</if>  
			<if test="item.acc_depre_amount != null and item.acc_depre_amount != ''">
			AND acc_depre_amount = #{item.acc_depre_amount,jdbcType=INTEGER}
			</if>  
			<if test="item.price != null and item.price != ''">
			AND price = #{item.price,jdbcType=INTEGER}
			</if>  
			<if test="item.depre_money != null and item.depre_money != ''">
			AND depre_money = #{item.depre_money,jdbcType=INTEGER}
			</if>  
			<if test="item.cur_money != null and item.cur_money != ''">
			AND cur_money = #{item.cur_money,jdbcType=INTEGER}
			</if>  
			<if test="item.fore_money != null and item.fore_money != ''">
			AND fore_money = #{item.fore_money,jdbcType=INTEGER}
			</if>  
			<if test="item.add_depre_month != null and item.add_depre_month != ''">
			AND add_depre_month = #{item.add_depre_month,jdbcType=INTEGER}
			</if>  
			<if test="item.last_depr_year != null and item.last_depr_year != ''">
			AND last_depr_year = #{item.last_depr_year,jdbcType=VARCHAR}
			</if>  
			<if test="item.last_depr_month != null and item.last_depr_month != ''">
			AND last_depr_month = #{item.last_depr_month,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM budg_ass_card 
		where                   
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
			AND naturs_code = #{naturs_code,jdbcType=CHAR}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM budg_ass_card 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND ass_card_no = #{item.ass_card_no,jdbcType=VARCHAR}
				AND naturs_code = #{item.naturs_code,jdbcType=CHAR}
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgAssCardMap" >
	
		select bac.group_id,
		       bac.hos_id,
		       bac.copy_code,
		       bac.ass_card_no,
		       bac.ass_id,
		       ad.ass_code,
		       ad.ass_name,
		       bac.naturs_code,
		       bac.dept_id,
		       hd.dept_code,
		       hd.dept_name,
		       bac.use_state,
		       acus.state_name,
		       bac.is_dept,
		       case  bac.is_dept when 0 then '在库' else '在用' end is_dept_text ,
		       bac.store_id,
		       hsd.store_code,
		       hsd.store_name,
		       bac.is_throw,
		       case  bac.is_throw when 0 then '否' else '是' end is_throw_text ,
		       bac.in_date,
		       bac.note,
		       bac.is_depr,
		       case  bac.is_depr when 0 then '否' else '是' end is_depr_text ,
		       bac.depr_method,
		       admd.ass_depre_name ,
		       bac.acc_depre_amount,
		       bac.price,
		       bac.depre_money,
		       bac.cur_money,
		       bac.fore_money,
		       bac.add_depre_month,
		       bac.last_depr_year,
		       bac.last_depr_month
		  from BUDG_ASS_CARD bac
		  left join ass_dict ad
		    on bac.group_id = ad.group_id
		   and bac.hos_id = ad.hos_id
		   and bac.copy_code = ad.copy_code
		   and bac.ass_id = ad.ass_id
		   and ad.is_stop = 0
		  left join hos_dept_dict hd
		    on bac.group_id = hd.group_id
		   and bac.hos_id = hd.hos_id
		   and bac.dept_id = hd.dept_id
		   and hd.is_stop = 0
		  left join ASS_CARD_USE_STATE acus
		    on bac.use_state = acus.state_code
		   and acus.is_stop = 0
		  left join hos_store_dict hsd
		    on bac.group_id = hsd.group_id
		   and bac.hos_id = hsd.hos_id
		   and bac.store_id = hsd.store_id
		   and hsd.is_stop = 0
		   and hsd.is_disable=0
		  left join ASS_DEPRE_METHOD_DICT admd
		  	on
		  		bac.depr_method = admd.ass_depre_code
		where                     
		    bac.group_id = #{group_id,jdbcType=INTEGER}
			AND bac.hos_id = #{hos_id,jdbcType=INTEGER}
			AND bac.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="ass_id != null and ass_id != ''">
			AND	bac.ass_id = #{ass_id,jdbcType=INTEGER}
			</if>
			<if test="ass_card_no != null and ass_card_no != ''">
			AND bac.ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
			</if>
			<if test="naturs_code != null and naturs_code != ''">
			AND bac.naturs_code = #{naturs_code,jdbcType=VARCHAR}
			</if>
			<if test="dept_id != null and dept_id != ''">
			AND bac.dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="use_state != null and use_state != ''">
			AND bac.use_state = #{use_state,jdbcType=INTEGER}
			</if>
			<if test="is_throw != null and is_throw != ''">
			AND bac.is_throw = #{is_throw,jdbcType=INTEGER}
			</if>
			<if test="is_depr != null and is_depr != ''">
			AND bac.is_depr = #{is_depr,jdbcType=INTEGER}
			</if>
	</select>
	<select id="queryByCode" resultMap="budgAssCardMap"  parameterType="java.util.Map" >
	
		select bac.group_id,
		       bac.hos_id,
		       bac.copy_code,
		       bac.ass_card_no,
		       bac.ass_id,
		       ad.ass_name,
		       bac.naturs_code,
		       an.naturs_name,
		       bac.dept_id,
		       hd.dept_name,
		       bac.use_state,
		       acus.state_name,
		       bac.is_dept,
		       bac.store_id,
		       hsd.store_name,
		       bac.is_throw,
		       bac.in_date,
		       bac.note,
		       bac.is_depr,
		       bac.depr_method,
		       admd.ass_depre_name,
		       bac.acc_depre_amount,
		       bac.price,
		       bac.depre_money,
		       bac.cur_money,
		       bac.fore_money,
		       bac.add_depre_month,
		       bac.last_depr_year,
		       bac.last_depr_month
		  from BUDG_ASS_CARD bac
		  left join ass_dict ad
		    on bac.group_id = ad.group_id
		   and bac.hos_id = ad.hos_id
		   and bac.copy_code = ad.copy_code
		   and bac.ass_id = ad.ass_id
		  left join hos_dept hd
		    on bac.group_id = hd.group_id
		   and bac.hos_id = hd.hos_id
		   and bac.dept_id = hd.dept_id
		  left join ASS_CARD_USE_STATE acus
		    on bac.use_state = acus.state_code
		   and acus.is_stop = 0
		  left join hos_store_dict hsd
		    on bac.group_id = hsd.group_id
		   and bac.hos_id = hsd.hos_id
		   and bac.store_id = hsd.store_id
		   and hsd.is_stop = 0
		   and hsd.is_disable=0
		   left join ASS_DEPRE_METHOD_DICT admd
		   on bac.depr_method =admd.ass_depre_code
		   and admd.is_stop=0
		   left join ASS_NATURS an 
  		   on bac.naturs_code = an.naturs_code
		WHERE 
			bac.group_id = #{group_id,jdbcType=INTEGER}   
			and bac.hos_id = #{hos_id,jdbcType=INTEGER}   
			and bac.copy_code = #{copy_code,jdbcType=VARCHAR}   
			and bac.ass_card_no = #{ass_card_no,jdbcType=VARCHAR} 
			and bac.naturs_code = #{naturs_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgAssCard"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_card_no,
		ass_id,
		naturs_code,
		dept_id,
		use_state,
		is_dept,
		store_id,
		is_throw,
		in_date,
		note,
		is_depr,
		depr_method,
		acc_depre_amount,
		price,
		depre_money,
		cur_money,
		fore_money,
		add_depre_month,
		last_depr_year,
		last_depr_month
		FROM BUDG_ASS_CARD 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="naturs_code != null and naturs_code != ''">
		AND naturs_code = #{naturs_code,jdbcType=CHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="use_state != null and use_state != ''">
		AND use_state = #{use_state,jdbcType=INTEGER}
		</if>
		<if test="is_dept != null and is_dept != ''">
		AND is_dept = #{is_dept,jdbcType=INTEGER}
		</if>
		<if test="store_id != null and store_id != ''">
		AND store_id = #{store_id,jdbcType=INTEGER}
		</if>
		<if test="is_throw != null and is_throw != ''">
		AND is_throw = #{is_throw,jdbcType=INTEGER}
		</if>
		<if test="in_date != null and in_date != ''">
		AND in_date = #{in_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		<if test="is_depr != null and is_depr != ''">
		AND is_depr = #{is_depr,jdbcType=INTEGER}
		</if>
		<if test="depr_method != null and depr_method != ''">
		AND depr_method = #{depr_method,jdbcType=VARCHAR}
		</if>
		<if test="acc_depre_amount != null and acc_depre_amount != ''">
		AND acc_depre_amount = #{acc_depre_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="depre_money != null and depre_money != ''">
		AND depre_money = #{depre_money,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		AND add_depre_month = #{add_depre_month,jdbcType=INTEGER}
		</if>
		<if test="last_depr_year != null and last_depr_year != ''">
		AND last_depr_year = #{last_depr_year,jdbcType=VARCHAR}
		</if>
		<if test="last_depr_month != null and last_depr_month != ''">
		AND last_depr_month = #{last_depr_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgAssCard"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		ass_card_no,
		ass_id,
		naturs_code,
		dept_id,
		use_state,
		is_dept,
		store_id,
		is_throw,
		in_date,
		note,
		is_depr,
		depr_method,
		acc_depre_amount,
		price,
		depre_money,
		cur_money,
		fore_money,
		add_depre_month,
		last_depr_year,
		last_depr_month
		FROM BUDG_ASS_CARD 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="ass_card_no != null and ass_card_no != ''">
		AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
		</if>
		<if test="ass_id != null and ass_id != ''">
		AND ass_id = #{ass_id,jdbcType=INTEGER}
		</if>
		<if test="naturs_code != null and naturs_code != ''">
		AND naturs_code = #{naturs_code,jdbcType=CHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="use_state != null and use_state != ''">
		AND use_state = #{use_state,jdbcType=INTEGER}
		</if>
		<if test="is_dept != null and is_dept != ''">
		AND is_dept = #{is_dept,jdbcType=INTEGER}
		</if>
		<if test="store_id != null and store_id != ''">
		AND store_id = #{store_id,jdbcType=INTEGER}
		</if>
		<if test="is_throw != null and is_throw != ''">
		AND is_throw = #{is_throw,jdbcType=INTEGER}
		</if>
		<if test="in_date != null and in_date != ''">
		AND in_date = #{in_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		<if test="is_depr != null and is_depr != ''">
		AND is_depr = #{is_depr,jdbcType=INTEGER}
		</if>
		<if test="depr_method != null and depr_method != ''">
		AND depr_method = #{depr_method,jdbcType=VARCHAR}
		</if>
		<if test="acc_depre_amount != null and acc_depre_amount != ''">
		AND acc_depre_amount = #{acc_depre_amount,jdbcType=INTEGER}
		</if>
		<if test="price != null and price != ''">
		AND price = #{price,jdbcType=INTEGER}
		</if>
		<if test="depre_money != null and depre_money != ''">
		AND depre_money = #{depre_money,jdbcType=INTEGER}
		</if>
		<if test="cur_money != null and cur_money != ''">
		AND cur_money = #{cur_money,jdbcType=INTEGER}
		</if>
		<if test="fore_money != null and fore_money != ''">
		AND fore_money = #{fore_money,jdbcType=INTEGER}
		</if>
		<if test="add_depre_month != null and add_depre_month != ''">
		AND add_depre_month = #{add_depre_month,jdbcType=INTEGER}
		</if>
		<if test="last_depr_year != null and last_depr_year != ''">
		AND last_depr_year = #{last_depr_year,jdbcType=VARCHAR}
		</if>
		<if test="last_depr_month != null and last_depr_month != ''">
		AND last_depr_month = #{last_depr_month,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryBudgAssCardSourceBySourceId" resultMap="budgAssCardMap" parameterType="java.util.Map">
		  	select bacs.naturs_code,
			       bacs.group_id,
			       bacs.hos_id,
			       bacs.copy_code,
			       bacs.ass_card_no,
			       bacs.source_id,
			       hs.source_name,
			       bacs.price,
			       bacs.depre_money,
			       bacs.cur_money,
			       bacs.fore_money
			  from budg_ass_card_source bacs
			 left join HOS_SOURCE hs on 
			 bacs.group_id = hs.group_id
			 and bacs.hos_id = hs.hos_id
			 and bacs.source_id = hs.source_id
			 and hs.is_stop=0
			 where bacs.naturs_code = #{naturs_code}
			   and bacs.group_id = #{group_id}
			   and bacs.hos_id = #{hos_id}
			   and bacs.copy_code = #{copy_code}
			   and bacs.ass_card_no = #{ass_card_no}
	</select>
	
	<!-- 校验数据是否存在  -->
	<select id="queryDataExist" resultType="java.lang.Integer"  parameterType="java.util.Map" >
		SELECT count(1)
		FROM BUDG_ASS_CARD 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
			AND naturs_code = #{naturs_code,jdbcType=CHAR}
	</select>
	
	<!-- 查询 资产基本信息(根据code 匹配ID用) -->
	<select id="queryAssDictData" resultMap="budgAssCardMap"  parameterType="java.util.Map" >
		SELECT ass_id ,ass_code ,ass_name
		FROM ASS_DICT 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			and is_stop = 0
	</select>
	
	<!-- 查询 科室基本信息(根据code 匹配ID用) -->
	<select id="queryDeptData" resultMap="budgAssCardMap"  parameterType="java.util.Map" >
		SELECT dept_id ,dept_code ,dept_name
		FROM hos_dept_dict 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND is_stop = 0
	</select>
	
	<!-- 查询 仓库基本信息(根据code 匹配ID用) -->
	<select id="queryStoreData" resultMap="budgAssCardMap"  parameterType="java.util.Map" >
		SELECT store_id ,store_code ,store_name
		FROM HOS_STORE_DICT 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND is_stop = 0
	</select>
	
	<!-- 查询 资产折旧方法基本信息(校验资产折旧方法用) -->
	<select id="queryDeprMethod" resultType="java.lang.String"  parameterType="java.util.Map" >
		SELECT ass_depre_code
		FROM ASS_DEPRE_METHOD_DICT 
		where                     
			is_stop = 0
	</select>
	
	<!-- 查询 资金基本信息(根据code 匹配ID用) -->
	<select id="querySourceData" resultMap="budgAssCardMap"  parameterType="java.util.Map" >
		SELECT source_id ,source_code ,source_name
		FROM hos_source
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND is_stop = 0
	</select>
	
	<!-- 校验资产现状_资金来源 数据是否存在  -->
	<select id="queryDataExistSource" resultType="java.lang.Integer"  parameterType="java.util.Map" >
		SELECT count(1)
		FROM BUDG_ASS_CARD_SOURCE 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND ass_card_no = #{ass_card_no,jdbcType=VARCHAR}
			AND naturs_code = #{naturs_code,jdbcType=CHAR}
			AND source_id = #{source_id,jdbcType=CHAR}
	</select>
	
	<insert id="insertCollectData" parameterType="map">
	  BEGIN
	  	<!-- 卡片 -->
	    DELETE FROM BUDG_ASS_CARD 
	     where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code};
		   
		INSERT INTO BUDG_ASS_CARD (
			group_id,
			hos_id,
			copy_code,
			ass_card_no,
			ass_id,
			naturs_code,
			dept_id,
			use_state,
			is_dept,
			store_id,
			is_throw,
			in_date,
			note,
			is_depr,
			depr_method,
			acc_depre_amount,
			price,
			depre_money,
			cur_money,
			fore_money,
			add_depre_month,
			last_depr_year,
			last_depr_month
		)
		with temp as
	     (select da.group_id,
	             da.hos_id,
	             da.copy_code,
	             da.ass_naturs,
	             da.ass_card_no,
	             da.depre_year,
	             da.depre_month
	        from v_ass_depre_acc da
	       where da.depre_year =
	             (select max(ada.depre_year)
	                from v_ass_depre_acc ada
	               where ada.ass_card_no = da.ass_card_no
	                 and ada.group_id = da.GROUP_ID
	                 and ada.HOS_ID = da.HOS_ID
	                 and ada.COPY_CODE = da.COPY_CODE))
	    select ac.group_id,
	           ac.hos_id,
	           ac.copy_code,
	           ac.ass_card_no,
	           ac.ass_id,
	           ac.ass_naturs,
	           ac.dept_id,
	           ac.use_state,
	           ac.is_dept,
	           ac.store_id,
	           ac.is_throw,
	           ac.in_date,
	           ac.note,
	           ac.is_depr,
	           ac.depr_method,
	           ac.acc_depre_amount,
	           ac.price,
	           ac.depre_money,
	           ac.cur_money,
	           ac.fore_money,
	           ac.add_depre_month,
	           t.depre_year        last_depr_year,
	           t.depre_month       last_depr_month
	      from v_ass_card ac
	      left join (select distinct tt.group_id,
	                                 tt.hos_id,
	                                 tt.copy_code,
	                                 tt.ass_naturs,
	                                 tt.ass_card_no,
	                                 tt.depre_year,
	                                 tt.depre_month
	                   from temp tt
	                  where tt.depre_month =
	                        (select max(ada.depre_month)
	                           from temp ada
	                          where ada.ass_card_no = tt.ass_card_no
	                            and ada.group_id = tt.GROUP_ID
	                            and ada.HOS_ID = tt.HOS_ID
	                            and ada.COPY_CODE = tt.COPY_CODE)) t
	        on ac.ass_card_no = t.ass_card_no
	       and ac.group_id = t.group_id
	       and ac.hos_id = t.hos_id
	       and ac.copy_code = t.copy_code
	       and ac.ass_naturs = t.ass_naturs
	   
		 where ac.group_id = #{group_id}
		   and ac.hos_id = #{hos_id}
		   and ac.copy_code = #{copy_code}
		   and ac.ass_naturs != '05'
		   and ac.use_state not in(6,7,8)
		   and ac.dept_id is not null;
		
		<!-- 资金来源 -->
		delete from BUDG_ASS_CARD_SOURCE
		 where group_id = #{group_id}
		   and hos_id = #{hos_id}
		   and copy_code = #{copy_code};
		 
	    insert into BUDG_ASS_CARD_SOURCE (
	    	naturs_code,
	    	group_id,
	    	hos_id,
	    	copy_code,
	    	ass_card_no,
	    	source_id,
	    	price,
	    	depre_money,
	    	cur_money,
	    	fore_money
	    )  
	    
	    select 
	        a.ass_naturs,
	        a.group_id,
	        a.hos_id,
	        a.copy_code,
	        a.ass_card_no,
	        a.source_id,
	        a.price,
	        a.depre_money,
		    a.cur_money,
		    a.fore_money
	      from v_ass_resource a
	     where a.ass_naturs != '05'
	       and a.group_id = #{group_id}
		   and a.hos_id = #{hos_id}
		   and a.copy_code = #{copy_code}
		   and exists (select 1
				         from BUDG_ASS_CARD b
				        where a.ASS_CARD_NO = b.ass_card_no
				          and a.ass_naturs = b.naturs_code
				          and a.GROUP_ID = b.group_id
				          and a.HOS_ID = b.hos_id
				          and a.COPY_CODE = b.copy_code) ;
	    
	  END;
	</insert>
</mapper>

