<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.requrie.MatRequireMainMapper">

	<resultMap id="matRequireMain" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="req_id" column="req_id" />
		<result property="req_code" column="req_code" />
		
		<result property="pur_id" column="pur_id" />
		<result property="pur_code" column="pur_code" />
		
		<result property="brif" column="brif" />
		<result property="dept_no" column="dept_no" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_name" column="dept_name" />
		<result property="dept_code" column="dept_code" />
		
		<result property="stock_no" column="stock_no" />
		<result property="stock_id" column="stock_id" />
		<result property="store_code" column="store_code" />
		<result property="store_name" column="store_name" />
		
		<result property="rdate" column="rdate" />
		<result property="maker" column="maker" />
		<result property="make_name" column="make_name" />
		<result property="make_date" column="make_date" />
		
		<result property="checker" column="checker" />
		<result property="checke_name" column="checke_name" />
		<result property="check_date" column="check_date" />
		
		<result property="state" column="state" />
		<result property="req_type" column="req_type" />
		<result property="come_from" column="come_from" /><!-- 需求来源 -->
		<result property="return_reason" column="return_reason" />
		<result property="other_inv" column="other_inv" />
		<result property="is_dir" column="is_dir" />
		
		<result property="inv_id" column="inv_id" />
		<result property="inv_no" column="inv_no" />
		<result property="inv_code" column="inv_code" />
		<result property="inv_name" column="inv_name" />
		<result property="inv_model" column="inv_model" />
		<result property="unit_name" column="unit_name" />
		<result property="begin_amount" column="begin_amount" />
		<result property="cur_amount" column="cur_amount" />
		<result property="amount" column="amount" />
		
		<result property="plan_amount" column="plan_amount" />
		<result property="plan_price" column="plan_price" />
		
		
		<result property="differ" column="differ" />
		<result property="price" column="price" />
		<result property="money" column="money" />
		
		<result property="req_amount" column="req_amount" />
		<result property="exec_amount" column="exec_amount" />
		
		<result property="last_extend" column="last_extend" />
		<result property="last_plan" column="last_plan" />
		<result property="this_plan" column="this_plan" />
		
		
	</resultMap>
	
	<!-- 获得最大的序列号 -->
	<select id="getNextReqId" parameterType="java.util.Map"  resultType="java.lang.Integer">
		select MAT_REQUIRE_MAIN_SEQ.nextval from dual
	</select>
	
	<!-- 添加主表信息 -->
	<insert id="add" useGeneratedKeys="true">
		INSERT INTO MAT_REQUIRE_MAIN (
			group_id		,
			hos_id		,
			copy_code		,
			req_id		,
			req_code		
			<if test="dept_no != null and dept_no != ''">, dept_no</if>
			<if test="dept_id != null and dept_id != ''">, dept_id</if>
			<if test="stock_no != null and stock_no != ''">, stock_no</if>
			<if test="stock_id != null and stock_id != ''">, stock_id</if>
			<if test="rdate != null and rdate != ''">, rdate</if>
			<if test="maker != null and maker != ''">, maker</if>
			<if test="make_date != null and make_date != ''">, make_date</if>
			<if test="checker != null and checker != ''">, checker</if>
			<if test="check_date != null and check_date != ''">, check_date</if>
			<if test="state != null and state != ''">, state</if>
			<if test="req_type != null and req_type != ''">, req_type</if>
			<if test="come_from != null and come_from != ''">, come_from</if>
			<if test="return_reason != null and return_reason != ''">, return_reason</if>		
			<if test="other_inv != null and other_inv != ''">,other_inv</if>
			<if test="is_dir != null and is_dir != ''">,is_dir</if>
			<if test="brif != null and brif != ''">,brif</if>
		) VALUES (
			#{group_id,jdbcType=INTEGER}		,
			#{hos_id,jdbcType=INTEGER}		,
			#{copy_code,jdbcType=VARCHAR}		,
			#{req_id,jdbcType=INTEGER},
			#{req_code,jdbcType=VARCHAR}		
			<if test="dept_no != null and dept_no != ''">, #{dept_no,jdbcType=INTEGER}	</if>
			<if test="dept_id != null and dept_id != ''">, #{dept_id,jdbcType=INTEGER}</if>
			<if test="stock_no != null and stock_no != ''">, #{stock_no,jdbcType=INTEGER}</if>
			<if test="stock_id != null and stock_id != ''">, #{stock_id,jdbcType=INTEGER}</if>
			<if test="rdate != null and rdate != ''">,#{rdate,jdbcType=DATE}</if>
			<if test="maker != null and maker != ''">, #{maker,jdbcType=INTEGER}</if>
			<if test="make_date != null and make_date != ''">, #{make_date,jdbcType=DATE}</if>
			<if test="checker != null and checker != ''">, #{checker,jdbcType=INTEGER}</if>
			<if test="check_date != null and check_date != ''">, #{check_date,jdbcType=DATE}</if>
			<if test="state != null and state != ''">, #{state,jdbcType=INTEGER}</if>
			<if test="req_type != null and req_type != ''">, #{req_type,jdbcType=INTEGER}</if>
			<if test="come_from != null and come_from != ''">, #{come_from,jdbcType=INTEGER}</if>
			<if test="return_reason != null and return_reason != ''">, #{return_reason,jdbcType=VARCHAR}</if>	
			<if test="other_inv != null and other_inv != ''">, #{other_inv,jdbcType=VARCHAR}</if>
			<if test="is_dir != null and is_dir != ''">, #{is_dir,jdbcType=INTEGER}</if>
			<if test="brif != null and brif != ''">, #{brif,jdbcType=VARCHAR}</if>
		)

	</insert>
	
	
	<!-- 批量添加主表 -->
	<insert id="addBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO MAT_REQUIRE_MAIN (
				group_id		,
				hos_id		,
				copy_code		,
				req_id		,
				req_code	
				<if test="item.brif != null and item.brif != ''">, brif</if>	
				<if test="item.dept_no != null and item.dept_no != ''">, dept_no</if>
				<if test="item.dept_id != null and item.dept_id != ''">, dept_id</if>
				<if test="item.stock_no != null and item.stock_no != ''">, stock_no</if>
				<if test="item.stock_id != null and item.stock_id != ''">, stock_id</if>
				<if test="item.rdate != null and item.rdate != ''">, rdate</if>
				<if test="item.maker != null and item.maker != ''">, maker</if>
				<if test="item.make_date != null and item.make_date != ''">, make_date</if>
				<if test="item.checker != null and item.checker != ''">, checker</if>
				<if test="item.check_date != null and item.check_date != ''">, check_date</if>
				<if test="item.state != null and item.state != ''">, state</if>
				<if test="item.req_type != null and item.req_type != ''">, req_type</if>
				<if test="item.come_from != null and item.come_from != ''">, come_from</if>
				<if test="item.return_reason != null and item.return_reason != ''">, return_reason</if>		
				<if test="item.other_inv != null and item.other_inv != ''">,other_inv</if>
				<if test="item.is_dir != null and item.is_dir != ''">,is_dir</if>
			) values (
				#{item.group_id,jdbcType=INTEGER}			,
				#{item.hos_id,jdbcType=INTEGER}			,
				#{item.copy_code,jdbcType=VARCHAR}			,
				#{item.req_id,jdbcType=INTEGER}			,
				#{item.req_code,jdbcType=VARCHAR}	
				<if test="item.brif != null and item.brif != ''">, #{item.brif,jdbcType=VARCHAR}</if>		
				<if test="item.dept_no != null and item.dept_no != ''">, #{item.dept_no,jdbcType=INTEGER}	</if>
				<if test="item.dept_id != null and item.dept_id != ''">, #{item.dept_id,jdbcType=INTEGER}</if>
				<if test="item.stock_no != null and item.stock_no != ''">, #{item.stock_no,jdbcType=INTEGER}</if>
				<if test="item.stock_id != null and item.stock_id != ''">, #{item.stock_id,jdbcType=INTEGER}</if>
				<if test="item.rdate != null and item.rdate != ''">, #{item.rdate,jdbcType=DATE}</if>
				<if test="item.maker != null and item.maker != ''">, #{item.maker,jdbcType=INTEGER}</if>
				<if test="item.make_date != null and item.make_date != ''">, #{item.make_date,jdbcType=DATE}</if>
				<if test="item.checker != null and item.checker != ''">, #{item.checker,jdbcType=INTEGER}</if>
				<if test="item.check_date != null and item.check_date != ''">, #{item.check_date,jdbcType=DATE}</if>
				<if test="item.state != null and item.state != ''">, #{item.state,jdbcType=INTEGER}</if>
				<if test="item.req_type != null and item.req_type != ''">, #{item.req_type,jdbcType=INTEGER}</if>
				<if test="item.come_from != null and item.come_from != ''">, #{item.come_from,jdbcType=INTEGER}</if>
				<if test="item.return_reason != null and item.return_reason != ''">, #{item.return_reason,jdbcType=VARCHAR}</if>	
				<if test="item.other_inv != null and item.other_inv != ''">, #{item.other_inv,jdbcType=VARCHAR}</if>
				<if test="item.is_dir != null and item.is_dir != ''">, #{item.is_dir,jdbcType=INTEGER}</if>
			)
		</foreach>
	</insert>
	
	<!-- 更新主表信息 -->
	<update id="update" parameterType="java.util.Map">
			UPDATE mat_require_main 
				<trim prefix="SET" suffixOverrides=",">
					<if test="brif != null and brif != ''">
						brif = #{brif,jdbcType=VARCHAR},
					</if>
					<if test="dept_no != null and dept_no != ''">
						dept_no	= #{dept_no,jdbcType=INTEGER}			,
					</if>
					<if test="dept_id != null and dept_id != ''">
						dept_id = #{dept_id,jdbcType=INTEGER}			,
					</if>
					<if test="stock_no != null and stock_no != ''">
						stock_no = #{stock_no,jdbcType=INTEGER}			,
					</if>
					<if test="stock_id != null and stock_id != ''">
						stock_id = #{stock_id,jdbcType=INTEGER}			,
					</if>
					<if test="rdate != null and rdate != ''">
						rdate = #{rdate,jdbcType=DATE}			,
					</if>
					<if test="maker != null and maker != ''">
						maker = #{maker,jdbcType=INTEGER}			,
					</if>
					<if test="make_date != null and make_date != ''">
						make_date = #{make_date,jdbcType=DATE}			,
					</if>
					<if test="checker != null and checker != ''">
						checker =#{checker,jdbcType=INTEGER}			,
					</if>
					<if test="check_date != null and check_date != ''">
						check_date = #{check_date,jdbcType=DATE}			,
					</if>
					<if test="state != null and state != ''">
						state = #{state,jdbcType=INTEGER}			,
					</if>
					<if test="req_type != null and req_type != ''">
						req_type =	#{req_type,jdbcType=INTEGER}			,
					</if>
					<if test="is_submit != null and is_submit != ''">
						is_submit =	#{is_submit,jdbcType=INTEGER}			,
					</if>
					<if test="is_return != null and is_return != ''">
						is_return =	#{is_return,jdbcType=INTEGER}			,
					</if>
					<if test="return_reason != null and return_reason != ''">
						return_reason =	#{return_reason,jdbcType=VARCHAR}		,
					</if>
					<if test="other_inv != null and other_inv != ''">
						other_inv =	#{other_inv,jdbcType=VARCHAR},
					</if>
				</trim>
				<where>
					<if test="group_id != null and group_id != ''">
						group_id =	#{group_id,jdbcType=INTEGER}
					</if>
					<if test="hos_id != null and hos_id != ''">
						and hos_id = #{hos_id,jdbcType=INTEGER}
					</if>
					<if test="copy_code != null and copy_code != ''">
						and	copy_code = #{copy_code,jdbcType=VARCHAR}
					</if>
					<if test="req_id != null and req_id != ''">
						and	req_id =#{req_id,jdbcType=INTEGER}
					</if>
					<if test="req_code != null and req_code != ''">
						and	req_code =#{req_code,jdbcType=VARCHAR}
					</if>
				</where>

	</update>
	
	<!-- 批量更新 -->	
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE mat_require_main 
				<trim prefix="SET" suffixOverrides=",">
					<if test="item.brif != null and item.brif != ''">
						brif = #{item.brif,jdbcType=VARCHAR},
					</if>
					<if test="item.dept_no != null and item.dept_no != ''">
						dept_no	= #{item.dept_no,jdbcType=INTEGER}			,
					</if>
					<if test="item.dept_id != null and item.dept_id != ''">
						dept_id = #{item.dept_id,jdbcType=INTEGER}			,
					</if>
					<if test="item.stock_no != null and item.stock_no != ''">
						stock_no = #{item.stock_no,jdbcType=INTEGER}			,
					</if>
					<if test="item.stock_id != null and item.stock_id != ''">
						stock_id = #{item.stock_id,jdbcType=INTEGER}			,
					</if>
					<if test="item.rdate != null and item.rdate != ''">
						rdate = #{item.rdate,jdbcType=DATE}			,
					</if>
					<if test="item.maker != null and item.maker != ''">
						maker = #{item.maker,jdbcType=INTEGER}			,
					</if>
					<if test="item.make_date != null and item.make_date != ''">
						make_date = #{item.make_date,jdbcType=DATE}			,
					</if>
					<if test="item.checker != null and item.checker != ''">
						checker =#{item.checker,jdbcType=INTEGER}			,
					</if>
					<if test="item.check_date != null and item.check_date != ''">
						check_date = #{item.check_date,jdbcType=DATE}			,
					</if>
					<if test="item.state != null and item.state != ''">
						state = #{item.state,jdbcType=INTEGER}			,
					</if>
					<if test="item.req_type != null and item.req_type != ''">
						req_type =	#{item.req_type,jdbcType=INTEGER}			,
					</if>
					<if test="item.is_submit != null and item.is_submit != ''">
						is_submit =	#{item.is_submit,jdbcType=INTEGER}			,
					</if>
					<if test="item.is_return != null and item.is_return != ''">
						is_return =	#{item.is_return,jdbcType=INTEGER}			,
					</if>
					<if test="item.return_reason != null and item.return_reason != ''">
						return_reason =	#{item.return_reason,jdbcType=VARCHAR}		,
					</if>
					<if test="item.other_inv != null and item.other_inv != ''">
						other_inv =	#{item.other_inv,jdbcType=VARCHAR},
					</if>
				</trim>
				<where>
					<if test="item.group_id != null and item.group_id != ''">
						group_id =	#{item.group_id,jdbcType=INTEGER}
					</if>
					<if test="item.hos_id != null and item.hos_id != ''">
						and hos_id = #{item.hos_id,jdbcType=INTEGER}
					</if>
					<if test="item.copy_code != null and item.copy_code != ''">
						and	copy_code = #{item.copy_code,jdbcType=VARCHAR}
					</if>
					<if test="item.req_id != null and item.req_id != ''">
						and	req_id =#{item.req_id,jdbcType=INTEGER}
					</if>
					<if test="item.req_code != null and item.req_code != ''">
						and	req_code =#{item.req_code,jdbcType=VARCHAR}
					</if>
				</where>
		</foreach>
	</update>
	
	<!-- 删除主表 -->
	<delete id="delete" parameterType="java.util.Map">

		DELETE FROM mat_require_main 
		<where>
			<if test="group_id != null and group_id != ''">
				group_id =	#{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and	copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="req_id != null and req_id != ''">
				and	req_id =#{req_id,jdbcType=INTEGER}
			</if>
			<if test="req_code != null and req_code != ''">
				and	req_code =#{req_code,jdbcType=VARCHAR}
			</if>
		</where>

	</delete>
	
	<!-- 删除主表信息 -->
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM mat_require_main 
		WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			and	hos_id = #{item.hos_id,jdbcType=INTEGER}
			and	copy_code =	#{item.copy_code,jdbcType=VARCHAR}
			and	req_id = #{item.req_id,jdbcType=INTEGER}
			and	req_code = #{item.req_code,jdbcType=VARCHAR}
		</foreach>
	</delete>
	
	<select id="queryByCode" resultMap="matRequireMain" parameterType="java.util.Map">

		SELECT
	      a.group_id,
	      a.hos_id,
	      a.copy_code,
	      a.req_id,
	      a.req_code,
	      a.brif,
	      a.dept_id,
	      a.dept_no,
	      b.dept_code,
	      b.dept_name,
	      a.stock_no,
	      a.stock_id,
	      c.store_code,
	      c.store_name,
	      to_char(a.rdate,'yyyy-MM-dd') rdate,
	      a.maker,
	      su1.user_name make_name，
	      to_char(a.make_date,'yyyy-MM-dd') make_date,
	      a.checker checker,
	      su.user_name check_name,
	      a.check_date,
	      a.state,
	      a.req_type,
	      a.is_dir,
	      a.come_from,
	      a.return_reason,
	      a.other_inv
	    FROM mat_require_main a
	    left join hos_dept_dict b on a.dept_id = b.dept_id 
	      and a.hos_id = b.hos_id
	      and a.group_id = b.group_id
	      <if test="show_history == 1">
			and a.dept_no = b.dept_no 
		  </if>
		  <if test="show_history == 0">
			and b.is_stop = 0
		  </if>
	    left join hos_store_dict c on a.stock_id = c.store_id
	      and a.hos_id = c.hos_id
	      and a.group_id = c.group_id
	      <if test="show_history == 1">
			and a.stock_no = c.store_no 
		  </if>
		  <if test="show_history == 0">
			and c.is_stop = 0
		  </if>
	      
	    left join sys_user su1 on su1.user_id = a.maker
	      and su1.group_id = a.group_id
	      and su1.hos_id = a.hos_id
	      and su1.copy_code = a.copy_code
	    left join sys_user su on su.user_id = a.checker
	      and su.group_id = a.group_id
	      and su.hos_id = a.hos_id
	      and su.copy_code = a.copy_code 
	    <where>
	    	<if test="group_id != null and group_id != ''">
				a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="req_id != null and req_id != ''">
				AND a.req_id = #{req_id,jdbcType=INTEGER}
			</if>
			<if test="req_code != null and req_code != ''">
				AND a.req_code = #{req_code,jdbcType=VARCHAR}
			</if>
	    </where>
	</select>
	<select id="queryMatRequireMainByReqCode" resultType="java.util.Map" parameterType="java.util.Map">

		SELECT
	      a.group_id,
	      a.hos_id,
	      a.copy_code,
	      a.req_id as id,
	      a.req_code,
	      a.brif,
	      a.dept_id,
	      a.dept_no,
	      b.dept_code,
	      b.dept_name,
	      a.stock_no,
	      a.stock_id, 
	      c.store_code,
	      c.store_name,
	      to_char(a.rdate,'yyyy-MM-dd') rdate,
	      su1.user_name as maker，
	      to_char(a.make_date,'yyyy-MM-dd') make_date,
	      su.user_name as CHECKER,
	      a.check_date,
	      a.state,
	      case a.req_type
		when 2 then '紧急计划'
		when 1 then '月计划'
	end as req_type,
	   <!--    a.req_type, -->
	      case a.is_dir when 0 then '是'
	      when 1 then '否' end  as is_dir ,
	      a.come_from,
	      a.return_reason,
	      a.other_inv,sum(q.price*q.amount) as money_sum ,sum(q.amount) as amount_sum
	    FROM mat_require_main a
	    left join hos_dept_dict b on a.dept_id = b.dept_id 
	      and a.hos_id = b.hos_id
	      and a.group_id = b.group_id
			and b.is_stop = 0
	    left join hos_store_dict c on a.stock_id = c.store_id
	      and a.hos_id = c.hos_id
	      and a.group_id = c.group_id
			and c.is_stop = 0
	      
	    left join sys_user su1 on su1.user_id = a.maker
	      and su1.group_id = a.group_id
	      and su1.hos_id = a.hos_id
	      and su1.copy_code = a.copy_code
	    left join sys_user su on su.user_id = a.checker
	      and su.group_id = a.group_id
	      and su.hos_id = a.hos_id
	      and su.copy_code = a.copy_code 
	      left join mat_require_detail q on
			a.group_id=q.group_id
			and a.hos_id=q.hos_id
			and a.copy_code=q.copy_code
			and a.req_id=q.req_id
			and a.req_code=q.req_code
	    <where>
				a.group_id = #{group_id,jdbcType=INTEGER}
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
				AND a.req_code in(${req_code}) 
	    </where>
	group by a.group_id, a.hos_id, a.copy_code, a.req_id , a.req_code
	,
	a.brif, a.dept_id, a.dept_no, b.dept_code, b.dept_name
	, a.stock_no,
	a.stock_id, c.store_code, c.store_name
	, a.rdate, su1.user_name
	,a.make_date, su.user_name
	, a.check_date, a.state
	, a.req_type,
	a.is_dir,

	a.come_from, a.return_reason, a.other_inv
	</select>
	<!-- 根据主键查询明细 -->
	<select id="queryMatRequireMainDetailByReqCode" parameterType="java.util.Map" resultType="java.util.Map">
		 SELECT
		      a.group_id,
		      a.hos_id,
		      a.copy_code,
		      a.req_id as id,
		      a.req_detail_id,
		      a.inv_no,
		      a.inv_id,
		      b.inv_code,
		      b.inv_name,
		      b.inv_model,
		      c.unit_name,
		      hp.pack_name as pack_code,
		      a.num_exchange num_exchange,
		      nvl(a.num,0) num,
		      nvl(a.amount,0) amount,
		      nvl(a.price,0) price,
		      nvl(a.amount,0)*nvl(a.price,0) sum_money,
		      a.sup_no,
		      a.sup_id,
		      d.sup_name,
		      e.fac_no,
		      e.fac_id,
		      e.fac_name,
		      a.memo, 
		      b.inv_structure 
		    FROM MAT_REQUIRE_DETAIL a
		    left join mat_inv_dict b on a.inv_no = b.inv_no 
		         and a.inv_id = b.inv_id
		         and a.hos_id = b.hos_id 
		         and a.group_id = b.group_id
		         and a.copy_code = b.copy_code
		         <!-- and b.is_stop = 0 -->
		    left join hos_unit c on b.group_id = c.group_id
		      	and b.hos_id = c.hos_id
		      	and b.unit_code = c.unit_code
		    left join hos_sup_dict d  on a.group_id = d.group_id
		      	and a.hos_id = d.hos_id
		      	and a.sup_id = d.sup_id
		      	and a.sup_no = d.sup_no
		      	and d.is_stop = 0
		    left join hos_fac_dict e  on b.group_id = e.group_id
		      	and b.hos_id = e.hos_id
		      	and b.fac_id = e.fac_id
		      	and b.fac_no = e.fac_no		    
		    left join hos_package hp on hp.pack_code = a.pack_code
		    	and hp.hos_id = a.hos_id
		    	and hp.group_id = a.group_id
		    	and hp.is_stop = 0
		<where>
				 a.group_id = #{group_id,jdbcType=INTEGER}
				AND a.hos_id = #{hos_id,jdbcType=INTEGER}
				AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
				AND a.req_code in(${req_code}) 
		</where>
		order by a.req_detail_id asc
	</select>
	<select id="queryByUniqueness" resultMap="matRequireMain" parameterType="java.util.Map">

		SELECT
			group_id,
			hos_id,
			copy_code,
			req_id,
			req_code,
			brif,
			dept_no,	
			dept_id,
			stock_no,
			stock_id,
			maker,
			make_date,
			checker,
			check_date,
			state,
			req_type,
			come_from,
			is_submit,
			is_return,
			return_reason,
			other_inv
		FROM
		MAT_REQUIRE_MAIN
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="req_id != null and req_id != ''">
				AND req_id = #{req_id,jdbcType=INTEGER}
			</if>
			<if test="req_code != null and req_code != ''">
				AND req_code = #{req_code,jdbcType=VARCHAR}
			</if>
			<if test="brif != null and brif != ''">
				AND brif = #{brif,jdbcType=VARCHAR}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no,jdbcType=INTEGER}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="stock_no != null and stock_no != ''">
				AND stock_no = #{stock_no,jdbcType=INTEGER}
			</if>
			<if test="stock_id != null and stock_id != ''">
				AND stock_id = #{stock_id,jdbcType=INTEGER}
			</if>
			<if test="maker != null and maker != ''">
				AND maker = #{maker,jdbcType=INTEGER}
			</if>
			<if test="make_date != null and make_date != ''">
				AND make_date = #{make_date,jdbcType=DATE}
			</if>
			<if test="checker != null and checker != ''">
				AND checker = #{checker,jdbcType=INTEGER}
			</if>
			<if test="check_date != null and check_date != ''">
				AND check_date = #{check_date,jdbcType=DATE}
			</if>
			<if test="state != null and state != ''">
				AND state = #{state,jdbcType=INTEGER}
			</if>
			<if test="req_type != null and req_type != ''">
				AND req_type = #{req_type,jdbcType=INTEGER}
			</if>
			<if test="come_from != null and come_from != ''">
				AND come_from = #{come_from,jdbcType=INTEGER}
			</if>
			<if test="is_submit != null and is_submit != ''">
				AND is_submit = #{is_submit,jdbcType=INTEGER}
			</if>
			<if test="is_return != null and is_return != ''">
				AND is_return = #{is_return,jdbcType=INTEGER}
			</if>
			<if test="return_reason != null and return_reason != ''">
				AND return_reason = #{return_reason,jdbcType=VARCHAR}
			</if>
			<if test="other_inv != null and other_inv != ''">
				AND other_inv = #{other_inv,jdbcType=VARCHAR}
			</if>
		</where>
		order by group_id asc
	</select>
	
	<select id="queryMatApplyRelaReq" parameterType="java.util.List" resultType="java.util.Map" >
		with list_temp as (
			<foreach collection="list" item="item" index="index" separator=" union all " >
				select    
					#{item.group_id,jdbcType=INTEGER} as group_id, 
					#{item.hos_id,jdbcType=INTEGER} as hos_id, 
					#{item.copy_code,jdbcType=VARCHAR} as copy_code,
					#{item.req_id,jdbcType=INTEGER} as req_id
				from dual
			</foreach>
		)
		select distinct a.group_id,a.hos_id,a.copy_code,a.req_id as rela_id
		from list_temp a 
		join mat_apply_out_rela b on a.group_id=b.group_id and a.hos_id=b.hos_id and a.copy_code=b.copy_code
			and a.req_id=b.rela_id
		where b.rela_type = 5
		
	</select>
	
	<delete id="deleteMatApplyRelaReq" parameterType="java.util.List">
		delete mat_apply_out_rela 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
					group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					and hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					and copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.rela_id != null and item.rela_id != ''">
					and rela_id = #{item.rela_id,jdbcType=INTEGER}
				</if>
				<if test="item.rela_detail_id != null and item.rela_detail_id != ''">
					and rela_detail_id = #{item.rela_detail_id,jdbcType=INTEGER}
				</if>
				<if test="item.apply_id != null and item.apply_id != ''">
					and apply_id = #{item.apply_id,jdbcType=INTEGER}
				</if>
				<if test="item.apply_detail_id != null and item.apply_detail_id != ''">
					and app_detail_id = #{item.apply_detail_id,jdbcType=INTEGER}
				</if>
				and rela_type = 5
			</foreach>
		</where>
	</delete>
	
	<select id="queryMatApplyRelaReqById" parameterType="java.util.Map" resultType="java.util.Map" >
		select t.group_id,t.hos_id,t.copy_code,t.rela_id  ,t.rela_detail_id 
		from (
		      select a.group_id,a.hos_id,a.copy_code,a.rela_id ,a.rela_detail_id
		      from  mat_apply_out_rela  a
		      join  (
		      	select group_id,hos_id,copy_code,req_id,req_detail_id
		      	from mat_require_detail 
		      	<where>
		      			group_id = #{group_id,jdbcType=INTEGER}
					AND hos_id = #{hos_id,jdbcType=INTEGER}
					AND copy_code = #{copy_code,jdbcType=VARCHAR}
					AND req_id = #{req_id,jdbcType=INTEGER}
		      	</where>
		      ) b on a.group_id=b.group_id and a.hos_id=b.hos_id and a.copy_code=b.copy_code
		      	and a.rela_id=b.req_id
		      where a.rela_type = 5
		      minus
		      select group_id,hos_id,to_char(copy_code) copy_code,req_id,req_detail_id
		      from mat_require_detail 
		      <where>
		      		group_id = #{group_id,jdbcType=INTEGER}
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
				AND req_id = #{req_id,jdbcType=INTEGER}
		      </where> 
		)t
	</select>
</mapper>

