<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.attendancemanagement.attend.HrPeriodMapper">
	<resultMap id="hrPeriod" type="java.util.Map" >
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="acc_year" column="acc_year"/>
		<result property="acc_month" column="acc_month"/> 
		<result property="begin_date" column="begin_date"/> 
		<result property="end_date" column="end_date"/> 
		<result property="hr_flag" column="hr_flag"/> 
		<result property="hr_user" column="hr_user"/> 
		<result property="hr_date" column="hr_date"/>
	</resultMap>
		<resultMap id="startData" type="java.util.Map" >
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="start_year" column="start_year"/>
		<result property="start_month" column="start_month"/> 
		
	</resultMap>
<resultMap id="hrResult" type="java.util.Map" >
		    <result property="D1" column="D1"/>
	</resultMap>
	
	<!-- 考勤期间表增加 -->
	<insert id="addHrPeriod" useGeneratedKeys="true">
		INSERT INTO HR_PERIOD (
			<trim suffix="" suffixOverrides=",">
				group_id,
				hos_id,
				attend_year,
				attend_month,
				begin_date,
				end_date,
			</trim>
		) VALUES (
			<trim suffix="" suffixOverrides=",">
				#{group_id,jdbcType=INTEGER},
				#{hos_id,jdbcType=INTEGER},
				#{attend_year,jdbcType=VARCHAR},
				#{attend_month,jdbcType=VARCHAR},
				#{begin_date,jdbcType=DATE},
				#{end_date,jdbcType=DATE},
			</trim>
		)
	</insert>
	
	<!-- 考勤期间表批量增加 -->
	<insert id="addBatchHrPeriod" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO HR_PERIOD (
				<trim suffix="" suffixOverrides=",">
					group_id,
					hos_id,
					attend_year,
					attend_month,
					<if test="item.begin_date != null">
						begin_date,
					</if>
					<if test="item.end_date != null">
						end_date,
					</if>
					<if test="item.hr_flag != null">
						hr_flag,
					</if>
					<if test="item.hr_user != null">
						hr_user,
					</if>
					<if test="item.hr_date != null">
						hr_date,
					</if>
				</trim>
			) VALUES (
				<trim suffix="" suffixOverrides=",">
					#{item.group_id,jdbcType=INTEGER},
					#{item.hos_id,jdbcType=INTEGER},
					#{item.attend_year,jdbcType=VARCHAR},
					#{item.attend_month,jdbcType=VARCHAR},
					<if test="item.begin_date != null">
						#{item.begin_date,jdbcType=DATE},
					</if>
					<if test="item.end_date != null">
						#{item.end_date,jdbcType=DATE},
					</if>
					<if test="item.hr_flag != null">
						#{item.hr_flag,jdbcType=INTEGER},
					</if>
					<if test="item.hr_user != null">
						#{item.hr_user,jdbcType=INTEGER},
					</if>
					<if test="item.hr_date != null">
						#{item.end_date,jdbcType=DATE},
					</if>
				</trim>
			)
		</foreach>
	</insert>
	
	<!-- 修改 -->
	<update id="updateBatchHrPeriod" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			update HR_PERIOD set 
				attend_month = #{item.attend_month,jdbcType=VARCHAR},
				begin_date = #{item.begin_date,jdbcType=DATE},
				end_date = #{item.end_date,jdbcType=DATE}
			<where>
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND attend_year =#{item.attend_year,jdbcType=VARCHAR}
			</where>
		</foreach>
	</update>
	
	<!-- 删除 -->
	<delete id="deleteBatchHrPeriod" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			delete from HR_PERIOD 
			<where>
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND attend_year =#{item.attend_year,jdbcType=VARCHAR}
				and attend_month =#{item.attend_month,jdbcType=VARCHAR}
			</where>
		</foreach>
	</delete>
	
		<!-- 删除 -->
	<delete id="deleteCycle" parameterType="java.util.Map">
		<!-- <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";"> -->
			delete from HR_PERIOD 
			<where>
				AND group_id = #{group_id,jdbcType=INTEGER}
				AND hos_id = #{hos_id,jdbcType=INTEGER}
				AND attend_year =#{attdent_year,jdbcType=VARCHAR}
				
			</where>
		<!-- </foreach> -->
	</delete>
	<!-- 查询 -->
	<select id="queryHrPeriod" parameterType="java.util.Map" resultMap="hrPeriod">
		select a.group_id,a.hos_id,a.attend_year,a.attend_month,a.begin_date,a.end_date,a.hr_flag,
			b.user_name hr_user,hr_date
		from HR_PERIOD a
		left join sys_user b on a.group_id=b.group_id and a.hos_id=b.hos_id and a.hr_user=b.user_id
		<where>
			AND a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER} 
			and a.attend_year = #{attdent_year,jdbcType=VARCHAR}
		</where>
	</select>
	<select id="queryHrPeriodByYear" parameterType="java.util.Map" resultMap="hrPeriod">
		select a.group_id,a.hos_id,a.attend_year,a.attend_month,a.begin_date,a.end_date,a.hr_flag,
			b.user_name hr_user,hr_date
		from HR_PERIOD a
		left join sys_user b on a.group_id=b.group_id and a.hos_id=b.hos_id and a.hr_user=b.user_id
		<where>
			AND a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER} 
			and a.attend_year = #{year,jdbcType=VARCHAR}
			and a.attend_month=#{month,jdbcType=VARCHAR}
			</where>
			</select>
		<!-- 查询 -->
	<select id="queryHrResult" parameterType="java.util.Map" resultMap="hrResult">
		select nvl(DEPT_ID_C,0)
from HR_ATTEND_RESULT_D 
		<where>
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER} 
			and substr (year_month,0,4) = #{attdent_year,jdbcType=VARCHAR}
		</where>
	</select>
	<select id="queryStartData" parameterType="java.util.Map" resultMap="startData">
	select t.group_id,t.hos_id,t.start_year,t.start_month from SYS_MOD_START t 
	where t.group_id=#{group_id,jdbcType=INTEGER}
	 and t.hos_id=#{hos_id,jdbcType=INTEGER} 
	   and t.copy_code=#{copy_code,jdbcType=INTEGER} 
	and t.mod_code='06'
	<!-- and t.create_user=#{create_user} -->
	
	
	
	</select>
	<select id="queryHrFlag"  resultType="java.util.Map" parameterType="java.util.Map">
	select a.hr_flag from HR_PERIOD a
		
		<where>
			AND a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER} 
			and a.attend_year = #{attend_year,jdbcType=VARCHAR}
		</where>
	
	</select>
	
</mapper>