<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.base.budgybinfor.BudgYBTypeMapper">
	
	<resultMap id="budgYBType" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="insurance_code" column="insurance_code"/>
		<result property="insurance_name" column="insurance_name"/>
		<result property="insurance_nature" column="insurance_nature"/>
		<result property="insurance_nature_name" column="insurance_nature_name"/>
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
		<result property="is_stop" column="is_stop"/>
		<result property="stop" column="stop"/>
	</resultMap>
	
	<!-- 添加 -->
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO BUDG_YB_TYPE_DICT (
			group_id,
			hos_id,
			copy_code,
			insurance_code,
			insurance_name,
			insurance_nature ,
			is_stop
			<if test="spell_code != null and spell_code != ''">, spell_code</if>
			<if test="wbx_code != null and wbx_code != ''">, wbx_code</if>
			
		) VALUES (
			#{group_id,jdbcType=INTEGER}		,
			#{hos_id,jdbcType=INTEGER}		,
			#{copy_code,jdbcType=VARCHAR}		,
			#{insurance_code,jdbcType=VARCHAR}		,
			#{insurance_name,jdbcType=VARCHAR}	,
			#{insurance_nature,jdbcType=VARCHAR}	,
			#{is_stop,jdbcType=INTEGER}
			<if test="spell_code != null and spell_code != ''">, #{spell_code,jdbcType=VARCHAR}</if>
			<if test="wbx_code != null and wbx_code != ''">, #{wbx_code,jdbcType=VARCHAR}</if>
		)
	
	</insert>
	
	<!-- 批量增加 -->
	<insert id="addBatch" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO BUDG_YB_TYPE_DICT (
				group_id,
				hos_id,
				copy_code,
				insurance_code,
				insurance_name ,
				insurance_nature ,
				is_stop
				<if test="item.spell_code != null and item.spell_code != ''">, spell_code</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">, wbx_code</if>
				
			)VALUES(
				#{item.group_id,jdbcType=INTEGER}		,
				#{item.hos_id,jdbcType=INTEGER}		,
				#{item.copy_code,jdbcType=VARCHAR}		,
				#{item.insurance_code,jdbcType=VARCHAR}		,
				#{item.insurance_name,jdbcType=VARCHAR}	,
				#{item.insurance_nature,jdbcType=VARCHAR}	,
				#{item.is_stop,jdbcType=INTEGER}	
				<if test="item.spell_code != null and item.spell_code != ''">, #{item.spell_code,jdbcType=VARCHAR}</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">, #{item.wbx_code,jdbcType=VARCHAR}</if>
			)
		</foreach>
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="java.util.Map">
		UPDATE BUDG_YB_TYPE_DICT 
		SET
			insurance_name = #{insurance_name,jdbcType=VARCHAR},
			
			insurance_nature = #{insurance_nature,jdbcType=VARCHAR},
		
			spell_code = #{spell_code,jdbcType=VARCHAR},
		
			wbx_code = #{wbx_code,jdbcType=VARCHAR},
		
			is_stop = #{is_stop,jdbcType=INTEGER}
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			and	hos_id = #{hos_id,jdbcType=INTEGER}
			and	copy_code = #{copy_code,jdbcType=VARCHAR}
			and	insurance_code = #{insurance_code,jdbcType=VARCHAR}
	</update>
	
	<!-- 批量更新 -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE BUDG_YB_TYPE_DICT 
			SET
				insurance_name = #{item.insurance_name,jdbcType=VARCHAR},
				insurance_nature = #{item.insurance_nature,jdbcType=VARCHAR},
				spell_code = #{item.spell_code,jdbcType=VARCHAR},
				wbx_code = #{item.wbx_code,jdbcType=VARCHAR},
				is_stop = #{item.is_stop,jdbcType=INTEGER}
			WHERE
				group_id = #{item.group_id,jdbcType=INTEGER}
				and	hos_id = #{item.hos_id,jdbcType=INTEGER}
				and	copy_code = #{item.copy_code,jdbcType=VARCHAR}
				and	insurance_code = #{item.insurance_code,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM BUDG_YB_TYPE_DICT 
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			and	hos_id = #{hos_id,jdbcType=INTEGER}
			and	copy_code = #{copy_code,jdbcType=VARCHAR}
			and	insurance_code = #{insurance_code,jdbcType=VARCHAR}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_YB_TYPE_DICT 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				and  hos_id = #{item.hos_id,jdbcType=INTEGER}
				and  copy_code = #{item.copy_code,jdbcType=VARCHAR}
				and  insurance_code = #{item.insurance_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	
	
	<select id="query" resultMap="budgYBType" parameterType="java.util.Map" >
	
		SELECT 
			bytd.group_id,
			bytd.hos_id,
			bytd.copy_code,
			bytd.insurance_code,
			bytd.insurance_name,
			bytd.insurance_nature ,
			bsd.value_name insurance_nature_name ,
			bytd.spell_code,
			bytd.wbx_code,
			bytd.is_stop ,
			case bytd.is_stop when 0 then '否' when 1 then '是' end stop
		FROM BUDG_YB_TYPE_DICT bytd
		left join BUDG_SYS_DICT bsd 
			ON
				bytd.insurance_nature = bsd.value_code
				and bsd.f_code = 'INSURANCE_NATURE'
		<where>                     
			bytd.group_id = #{group_id,jdbcType=INTEGER}
			
			AND bytd.hos_id = #{hos_id,jdbcType=INTEGER}
			
			AND bytd.copy_code = #{copy_code,jdbcType=VARCHAR}
		
			<if test="insurance_code != null and insurance_code != ''">
				AND (bytd.insurance_code like '%${insurance_code}%' 
				OR bytd.insurance_name like '%${insurance_code}%' 
				OR bytd.spell_code like '${insurance_code}%' 
				OR bytd.wbx_code like '${insurance_code}%')
			</if>
			<if test="insurance_nature != null and insurance_nature != ''">
				AND bytd.insurance_nature =  #{insurance_nature,jdbcType=VARCHAR} 
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND bytd.is_stop = #{is_stop,jdbcType=INTEGER}
			</if>
		</where>   
		order by bytd.insurance_code asc
	</select>
	
	<!-- 根据编码查询 -->
	<select id="queryByCode" resultMap="budgYBType" parameterType="java.util.Map" >
	
		SELECT 
			bytd.group_id,
			bytd.hos_id,
			bytd.copy_code,
			bytd.insurance_code,
			bytd.insurance_name,
			bytd.insurance_nature ,
			bsd.value_name insurance_nature_name ,
			bytd.spell_code,
			bytd.wbx_code,
			bytd.is_stop
		FROM BUDG_YB_TYPE_DICT bytd
		left join BUDG_SYS_DICT bsd 
			ON
				bytd.insurance_nature = bsd.value_code
				and bsd.f_code = 'INSURANCE_NATURE'
		WHERE  bytd.group_id = #{group_id,jdbcType=INTEGER}   
			and bytd.hos_id = #{hos_id,jdbcType=INTEGER}   
			and bytd.copy_code = #{copy_code,jdbcType=VARCHAR}   
			and bytd.insurance_code = #{insurance_code,jdbcType=VARCHAR} 
	
	</select>
	
	<!-- 查询医保类型名称是否被占用 -->
	<select id="queryNameExist" resultType="java.lang.Integer" parameterType="java.util.Map" >
	
		SELECT count(insurance_name)
		FROM BUDG_YB_TYPE_DICT 
		WHERE  group_id = #{group_id,jdbcType=INTEGER}   
			and hos_id = #{hos_id,jdbcType=INTEGER}   
			and copy_code = #{copy_code,jdbcType=VARCHAR}   
			and insurance_code != #{insurance_code,jdbcType=VARCHAR} 
			and insurance_name = #{insurance_name,jdbcType=VARCHAR}
	
	</select>
	
	<!-- 查询医保类型性质是否存在 -->
	
	<select id="quryYBTypeNatureExist" resultType="java.lang.Integer" parameterType="java.util.Map" >
	
		SELECT count(value_code)
		FROM BUDG_SYS_DICT 
		WHERE   f_code ='INSURANCE_NATURE'
			and value_code = #{insurance_nature,jdbcType=VARCHAR}
	
	</select>
	
	<!-- 查询所选年度的99自费以外未停用的医保类型 -->
	<select id="queryBudgYBTypeNew" resultMap="budgYBType" parameterType="java.util.Map">
		SELECT 
			group_id,
			hos_id,
			copy_code,
			insurance_code,
			insurance_name,
			insurance_nature,
			spell_code,
			wbx_code,
			is_stop 
		FROM BUDG_YB_TYPE_DICT 
		WHERE 
			is_stop = 0 
			AND insurance_code != 99                 
			AND group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			
		order by insurance_code asc
	</select>
</mapper>

