<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.fkht.change.PactPlanFKHTCMapper">
	<resultMap id="pactMainFKHT" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pact_code" column="pact_code" />
		<result property="change_code" column="change_code" />
		<result property="plan_detail_id" column="plan_detail_id" />
		<result property="pay_id" column="pay_id" />
		<result property="summary" column="summary" />
		<result property="pay_date" column="pay_date" />
		<result property="pay_cond" column="pay_cond" />
		<result property="plan_money" column="plan_money" />
		<result property="pay_cond_name" column="pay_cond_name" />
		
		<result property="pay_type" column="pay_type" />
		<result property="rate" column="rate" />
		<result property="payed_money" column="payed_money" />
		<result property="payed_flag" column="payed_flag" />
	</resultMap>
	

	<select id="query" parameterType="java.util.Map" resultMap="pactMainFKHT">
		SELECT
		p.pact_code,p.chnage_code , p.plan_detail_id,p.pay_id,p.summary,p.pay_date,p.pay_cond,p.plan_money,p.pay_cond
		as pay_cond_name,pay_type ,rate ,payed_money,pay_flag
		FROM PACT_PLAN_FKHT_C p
		<where>
			p.group_id=#{group_id,jdbcType=NUMERIC}
			and p.hos_id=#{hos_id,jdbcType=NUMERIC}
			and p.copy_code=#{copy_code,jdbcType=VARCHAR}
			and p.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			<if test="plan_detail_id != null and plan_detail_id != ''">
				and p.plan_detail_id=#{plan_detail_id,jdbcType=NUMERIC}
			</if>
		</where>
	</select>


	<select id="queryMaxDetailId" parameterType="java.util.Map" resultType="java.lang.Integer">
		select max(plan_detail_id) from PACT_PLAN_FKHT_C 
		where 
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and PACT_CODE=#{pact_code,jdbcType=VARCHAR}
		and change_code = #{change_code,jdbcType=VARCHAR}
	</select>
	
	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_PLAN_FKHT_C (
			group_id,hos_id,copy_code,pact_code,change_code ,plan_detail_id,
			pay_id,summary,pay_date,pay_cond,plan_money,
			pay_type ,rate ,payed_money,pay_flag)
		VALUES(
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{pact_code,jdbcType=VARCHAR},
		#{change_code,jdbcType=VARCHAR},
		#{plan_detail_id,jdbcType=NUMERIC},
		#{pay_id,jdbcType=NUMERIC},
		#{summary,jdbcType=VARCHAR},
		to_date(#{pay_date,jdbcType=DATE},'yyyy-MM-dd'),
		#{pay_cond_name,jdbcType=VARCHAR},
		#{plan_money,jdbcType=NUMERIC},
		#{pay_type,jdbcType=NUMERIC},
		#{rate,jdbcType=NUMERIC},
		#{payed_money,jdbcType=NUMERIC},
		#{pay_flag,jdbcType=NUMERIC})
	</insert>
	<insert id="addBatch" parameterType="java.util.List">
		INSERT INTO PACT_PLAN_FKHT_C (
			group_id,hos_id,copy_code,pact_code,change_code ,plan_detail_id,
			pay_id,summary,pay_date,pay_cond,plan_money,
			pay_type ,rate ,payed_money,pay_flag)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.group_id,jdbcType=NUMERIC},
			#{item.hos_id,jdbcType=NUMERIC},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.pact_code,jdbcType=VARCHAR},
			#{item.change_code,jdbcType=VARCHAR},
			#{item.plan_detail_id,jdbcType=NUMERIC},
			#{item.pay_id,jdbcType=NUMERIC},
			#{item.summary,jdbcType=VARCHAR},
			#{item.pay_date,jdbcType=DATE},
			#{item.pay_cond_name,jdbcType=VARCHAR},
			#{item.plan_money,jdbcType=NUMERIC},
			#{item.pay_type,jdbcType=NUMERIC},
			#{item.rate,jdbcType=NUMERIC},
			#{item.payed_money,jdbcType=NUMERIC},
			#{item.pay_flag,jdbcType=NUMERIC}
			from dual
		</foreach>
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE PACT_PLAN_FKHT_C set
			summary = #{summary,jdbcType=VARCHAR},
			pay_date = TO_DATE(#{pay_date,jdbcType=DATE},''yyyy-MM-dd),
			pay_cond = #{pay_cond,jdbcType=VARCHAR},
			plan_money = #{plan_money,jdbcType=NUMERIC},
			pay_type = #{pay_type,jdbcType=VARCHAR},
			rate = #{rate,jdbcType=NUMERIC},
			payed_money = #{payed_money,jdbcType=NUMERIC},
			pay_flag = #{pay_flag,jdbcType=NUMERIC}
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pact_code = #{pact_code,jdbcType=VARCHAR}
			AND change_code = #{change_code,jdbcType=VARCHAR}
			AND detail_id = #{detail_id,jdbcType=NUMERIC}
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE PACT_PLAN_FKHT_C set
				summary = #{item.summary,jdbcType=VARCHAR},
				pay_date = TO_DATE(#{item.pay_date,jdbcType=DATE},''yyyy-MM-dd),
				pay_cond = #{item.pay_cond,jdbcType=VARCHAR},
				plan_money = #{item.plan_money,jdbcType=NUMERIC},
				pay_type = #{item.pay_type,jdbcType=VARCHAR},
				rate = #{item.rate,jdbcType=NUMERIC},
				payed_money = #{item.payed_money,jdbcType=NUMERIC},
				pay_flag = #{item.pay_flag,jdbcType=NUMERIC}
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND change_code = #{item.change_code,jdbcType=VARCHAR}
				AND detail_id = #{item.detail_id,jdbcType=NUMERIC}
		</foreach>
	</update>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM PACT_PLAN_FKHT_C
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND change_code = #{item.change_code,jdbcType=VARCHAR}
				and plan_detail_id = #{item.plan_detail_id,jdbcType=NUMERIC}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteBatchByEntity" parameterType="java.util.List">
		DELETE FROM PACT_PLAN_FKHT_C
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				AND change_code = #{item.change_code,jdbcType=VARCHAR}
				and plan_detail_id = #{item.plan_detail_id,jdbcType=NUMERIC}
			</foreach>
		</where>
	</delete>
</mapper>