<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 浙江帝杰曼微信公众号接口 -->
<mapper namespace="com.chd.hrp.app.dao.DgmMapper">
	
	<insert id="addRepair" parameterType="java.util.Map">
	
		insert into ass_repair (group_id, hos_id, copy_code, rep_code, fau_code, loc_code, eme_status, rep_user, rep_dept, 
		phone, fau_note, app_time, is_base, is_card, is_any, ass_card_no, ass_name, is_urg, state, flag)
		select #{group_id},#{hos_id},#{copy_code},#{rep_code},#{fau_code},#{loc_code},#{eme_status},u.user_id,e.dept_id,
		#{phone},#{fau_note},sysdate,0,#{is_card},0,#{ass_card_no},#{ass_name},0,#{state},2
		from sys_user u 
		inner join hos_emp_dict e on u.group_id=e.group_id and u.hos_id=e.hos_id and u.emp_code=e.emp_id and e.is_stop=0
		where u.group_id=#{group_id} and u.hos_id=#{hos_id} and u.phone=#{phone} and rownum=1
		
	</insert>
	
	
	<update id="updateRepairPaidan" parameterType="java.util.Map">
	
		update ass_repair 
		set order_time=sysdate,state=#{state}		
		where group_id=#{group_id} and hos_id=#{hos_id} and copy_code=#{copy_code} and rep_code=#{rep_code} 
		
	</update>
		
	<insert id="addWeChatMsg" parameterType="java.util.Map">
	
		insert into ASS_WECHAT_MSG (group_id, hos_id, copy_code, msg_id, phone, content, msg_time)
		select #{group_id},#{hos_id},#{copy_code},#{msg_id},u.phone,#{content},sysdate 
		from sys_user u
		where u.group_id=#{group_id} and u.hos_id=#{hos_id} and u.user_id=#{task_user} 
		and nvl(u.phone,'-')!='-' and rownum=1
	</insert>
</mapper>

