<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.salarymanagement.wageItemCal.HrWageItemCalMapper">

	<resultMap type="com.chd.hrp.hr.entity.salarymanagement.wagePlanManage.HrWageItemCal" id="hrWageItemCal">
		<result property="cal_id" column="cal_id"/>
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="plan_code" column="plan_code"/>
		<result property="item_code" column="item_code"/>
		<result property="item_name" column="item_name"/>
		<result property="kind_code" column="kind_code"/>
		<result property="kind_name" column="kind_name"/>
		<result property="item_cal" column="item_cal"/>
		<result property="item_cal_cn" column="item_cal_cn"/>
		<result property="stan_id" column="stan_id"/>
		<result property="stan_name" column="stan_name"/>
		<result property="cal_name" column="cal_name"/>
		<result property="cal_eng" column="cal_eng"/>
		<result property="note" column="note"/>
	</resultMap>
	<resultMap type="java.util.Map" id="hrWageItemCalMap">
		<result property="cal_id" column="cal_id"/>
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="plan_code" column="plan_code"/>
		<result property="item_code" column="item_code"/>
		<result property="item_name" column="item_name"/>
		<result property="kind_code" column="kind_code"/>
		<result property="kind_name" column="kind_name"/>
		<result property="item_cal" column="item_cal"/>
		<result property="item_cal_cn" column="item_cal_cn"/>
		<result property="stan_id" column="stan_id"/>
		<result property="stan_name" column="stan_name"/>
		<result property="cal_name" column="cal_name"/>
		<result property="cal_eng" column="cal_eng"/>
		<result property="note" column="note"/>
	</resultMap>
	
	<!-- 添加 -->
	<insert id="add" parameterType="java.util.Map">
		insert into hr_wage_item_cal (
			cal_id, group_id, hos_id, plan_code, item_code, kind_code, item_cal, stan_id, cal_name, cal_eng, note
		) values (
			hr_wage_item_cal_cal_id_seq.nextval,
			#{group_id, jdbcType=VARCHAR},
			#{hos_id, jdbcType=VARCHAR},
			#{plan_code, jdbcType=VARCHAR},
			#{item_code, jdbcType=VARCHAR},
			#{kind_code, jdbcType=VARCHAR},
			#{item_cal, jdbcType=VARCHAR},
			#{stan_id, jdbcType=VARCHAR},
			#{cal_name, jdbcType=VARCHAR},
			#{cal_eng, jdbcType=VARCHAR},
			#{note, jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from hr_wage_item_cal
		where 
			<foreach collection="list" item="item" separator=" or ">
				cal_id = #{item.cal_id, jdbcType=VARCHAR}
			</foreach>
	</delete>
	
	<!-- 更新 -->
	<update id="update" parameterType="java.util.Map">
		update hr_wage_item_cal
		set group_id = #{group_id, jdbcType=INTEGER},
			hos_id = #{hos_id, jdbcType=INTEGER},
			plan_code = #{plan_code, jdbcType=VARCHAR},
			item_code = #{item_code, jdbcType=VARCHAR},
			kind_code = #{kind_code, jdbcType=VARCHAR},
			item_cal = #{item_cal, jdbcType=INTEGER},
			stan_id = #{stan_id, jdbcType=INTEGER},
			cal_name = #{cal_name, jdbcType=VARCHAR},
			cal_eng = #{cal_eng, jdbcType=VARCHAR},
			note = #{note, jdbcType=VARCHAR}
		where cal_id = #{cal_id, jdbcType=INTEGER}
	</update>
	
	<!-- 主查询 -->
	<select id="query" resultMap="hrWageItemCalMap" parameterType="java.util.Map">
		select t1.cal_id,
			t1.group_id,
			t1.hos_id,
			t1.plan_code,
			t1.item_code,
			t2.item_name,
			t1.kind_code,
			case
				when t1.kind_code  ='0' then '全部'
			else t3.kind_name end kind_name,
			t1.item_cal,
			case
				when t1.item_cal = 1 then '录入'
				when t1.item_cal = 2 then '计算公式'
				when t1.item_cal = 3 then '薪资标准'
			else '' end item_cal_cn,
			t1.stan_id,
			t4.stan_name,
			t1.cal_name,
			t1.cal_eng,
			t1.note
		from hr_wage_item_cal t1
		left join hr_wage_item t2
			   on t2.group_id = t1.group_id
			  and t2.hos_id = t1.hos_id
			  and t2.item_code = t1.item_code
		left join hos_emp_kind t3
			   on t3.group_id = t1.group_id
			  and t3.hos_id = t1.hos_id
			  and t3.kind_code = t1.kind_code
		left join hr_wage_stan t4
			   on t4.group_id = t1.group_id
			  and t4.hos_id = t1.hos_id
			  and t4.stan_id = t1.stan_id
		where 1=1
			<if test="group_id != null and group_id != ''">
				and t1.group_id = #{group_id, jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and t1.hos_id = #{hos_id, jdbcType=INTEGER}
			</if>
			<if test="plan_code != null and plan_code != ''">
				and t1.plan_code = #{plan_code, jdbcType=VARCHAR}
			</if>
			<if test="kind_code != null and kind_code != ''">
				and t1.kind_code = #{kind_code, jdbcType=VARCHAR}
			</if>
			<if test="item_code != null and item_code != ''">
				and t1.item_code = #{item_code, jdbcType=VARCHAR}
			</if>
		order by t1.cal_id
	</select>
	
	<!--  -->
	<select id="queryExists" resultMap="hrWageItemCal" parameterType="java.util.Map">
		select t1.cal_id,
			t1.group_id,
			t1.hos_id,
			t1.plan_code,
			t1.item_code,
			t2.item_name,
			t1.kind_code,
			case
				when t1.kind_code is null then '全部'
			else t3.kind_name end kind_name,
			t1.item_cal,
			case
				when t1.item_cal = 0 then '录入'
				when t1.item_cal = 1 then '计算公式'
				when t1.item_cal = 2 then '薪资标准'
			else '' end item_cal_cn,
			t1.stan_id,
			t4.stan_name,
			t1.cal_name,
			t1.cal_eng,
			t1.note
		from hr_wage_item_cal t1
		left join hr_wage_item t2
			   on t2.group_id = t1.group_id
			  and t2.hos_id = t1.hos_id
			  and t2.item_code = t1.item_code
		left join hos_emp_kind t3
			   on t3.group_id = t1.group_id
			  and t3.hos_id = t1.hos_id
			  and t3.kind_code = t1.kind_code
		left join hr_wage_stan t4
			   on t4.group_id = t1.group_id
			  and t4.hos_id = t1.hos_id
			  and t4.stan_id = t1.stan_id
		where t1.group_id = #{group_id, jdbcType=INTEGER}
		  and t1.hos_id = #{hos_id, jdbcType=INTEGER}
		  and t1.plan_code = #{plan_code, jdbcType=VARCHAR}
		  and t1.item_code = #{item_code, jdbcType=VARCHAR}
		  <if test="kind_code != null and kind_code != ''">
		      and (
		          t1.kind_code is null or
		          t1.kind_code = '' or
		          t1.kind_code = #{kind_code, jdbcType=VARCHAR}
		      )
	      </if>
	      <if test="cal_id != null and cal_id != ''">
	          and cal_id != #{cal_id, jdbcType=INTEGER}
	      </if>
	</select>
	
	<!-- 通过主键查 -->
	<select id="findHrWageItemCalByPK" resultMap="hrWageItemCal" parameterType="java.util.Map">
		select cal_id,
			group_id,
			hos_id,
			plan_code,
			item_code,
			kind_code,
			item_cal,
			stan_id,
			cal_name,
			cal_eng,
			note
		from hr_wage_item_cal
		where cal_id = #{cal_id, jdbcType=INTEGER}
	</select>
	
	<resultMap type="java.util.Map" id="selectMap">
		<result property="id" column="id"/>
		<result property="text" column="text"/>
	</resultMap>
	<!-- 职工分类下拉选（带“全部”选项） -->
	<select id="selectEmpKind" resultMap="selectMap" parameterType="java.util.Map">
		select '0' as id, '全部' as text from dual union all
		select kind_code as id, kind_name as text from hos_emp_kind
		where group_id = #{group_id, jdbcType=INTEGER}
		  and hos_id = #{hos_id, jdbcType=INTEGER}
		  and is_stop = 0
	</select>
	
	<!-- 执行一个函数 -->
	<select id="queryFun" resultType="java.util.Map" parameterType="java.util.Map">
		select ${select_cal} from hr_wage
	</select>
</mapper>