<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.base.MatNoOtherMapper">
	
	<!-- 获取个体码 -->
	<select id="queryMatNoOther" parameterType="java.util.Map" resultType="java.lang.String" >
		SELECT max_no FROM MAT_NO_OTHER
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND type_code = #{type_code,jdbcType=INTEGER}
	</select>
	<!-- 插入个体码 -->
	<insert id="insertMatNoOther" parameterType="java.util.Map" >
		INSERT INTO MAT_NO_OTHER(group_id, hos_id, type_code, max_no)
		VALUES(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{type_code,jdbcType=INTEGER},
			#{max_no,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 修改个体码 -->
	<update id="updateMatNoOther" parameterType="java.util.Map" >
		UPDATE MAT_NO_OTHER
		SET max_no = #{max_no,jdbcType=VARCHAR}
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND type_code = #{type_code,jdbcType=INTEGER}
	</update>
</mapper>
