<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.fkht.pactinfo.PactPlanFKHTMapper">
	<resultMap id="pactMainFKHT"
		type="com.chd.hrp.pac.entity.fkht.pactinfo.PactPlanFKHTEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pact_code" column="pact_code" />
		<result property="plan_detail_id" column="plan_detail_id" />
		<result property="pay_id" column="pay_id" />
		<result property="summary" column="summary" />
		<result property="pay_date" column="pay_date" />
		<result property="pay_cond" column="pay_cond" />
		<result property="source_id" column="source_id" />
		<result property="plan_money" column="plan_money" />
		<result property="pay_cond_name" column="pay_cond_name" />
		<result property="source_name" column="source_name" />
		
		<result property="pay_type" column="pay_type" />
		<result property="rate" column="rate" />
		<result property="payed_money" column="payed_money" />
		<result property="payed_flag" column="payed_flag" />
	</resultMap>
	
	<resultMap id="pactMainFKHTMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="pact_code" column="pact_code" />
		<result property="plan_detail_id" column="plan_detail_id" />
		<result property="pay_id" column="pay_id" />
		<result property="summary" column="summary" />
		<result property="pay_date" column="pay_date" />
		<result property="pay_cond" column="pay_cond" />
		<result property="source_id" column="source_id" />
		<result property="plan_money" column="plan_money" />
		<result property="pay_cond_name" column="pay_cond_name" />
		<result property="source_name" column="source_name" />
		
		<result property="pay_type" column="pay_type" />
		<result property="rate" column="rate" />
		<result property="payed_money" column="payed_money" />
		<result property="payed_flag" column="payed_flag" />
	</resultMap>
	
	<resultMap type="java.util.Map" id="payPlanDetail">
		<result property="pact_code" column="pact_code" />
		<result property="plan_detail_id" column="plan_detail_id" />
		<result property="pay_id" column="pay_id" />
		<result property="summary" column="summary" />
		<result property="pay_date" column="pay_date" />
		<result property="pay_cond" column="pay_cond" />
		<result property="source_id" column="source_id" />
		<result property="source_name" column="source_name" />
		<result property="pay_cond_name" column="pay_cond_name" />
		<result property="plan_money" column="plan_money" />
		<result property="ing_money" column="ing_money" />
		<result property="paied_money" column="paied_money" />
		<result property="unPaied_money" column="unPaied_money" />
		<result property="pay_money" column="pay_money" />
		<result property="payed_flag" column="payed_flag" />
	</resultMap>

	<select id="query" parameterType="java.util.Map"	resultMap="pactMainFKHT">
		SELECT
			p.pact_code,p.plan_detail_id,p.pay_id,p.summary,p.pay_date,p.pay_cond,p.plan_money,p.pay_cond
			as pay_cond_name,p.pay_type ,p.rate ,p.payed_money , p.pay_flag
		<if test="table_code != null and table_code != '' ">
		FROM ${table_code} p
		</if>
		<if test="table_code == null or table_code == '' ">
		FROM PACT_PLAN_FKHT p
		</if>
		<where>
			p.group_id=#{group_id,jdbcType=NUMERIC}
			and p.hos_id=#{hos_id,jdbcType=NUMERIC}
			and p.copy_code=#{copy_code,jdbcType=VARCHAR}
			and p.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			<if test="change_code != null and change_code != ''">
			AND p.change_code = #{change_code,jdbcType=VARCHAR}
			</if>
			<if test="plan_detail_id != null and plan_detail_id != ''">
				and p.plan_detail_id=#{plan_detail_id,jdbcType=NUMERIC}
			</if>
		</where>
	</select> 
	
	<select id="queryPactPlanList" parameterType="java.util.Map" resultMap="pactMainFKHTMap">
		SELECT
			p.group_id,p.hos_id,p.copy_code,p.pact_code,p.plan_detail_id,p.pay_id,p.summary,p.pay_date,p.pay_cond,p.plan_money,p.pay_cond
			as pay_cond_name,p.pay_type ,p.rate ,p.payed_money , p.pay_flag
		FROM PACT_PLAN_FKHT p
		<where>
			p.group_id=#{group_id,jdbcType=NUMERIC}
			and p.hos_id=#{hos_id,jdbcType=NUMERIC}
			and p.copy_code=#{copy_code,jdbcType=VARCHAR}
			and p.PACT_CODE=#{pact_code,jdbcType=VARCHAR}
			<if test="change_code != null and change_code != ''">
			AND p.change_code = #{change_code,jdbcType=VARCHAR}
			</if>
			<if test="plan_detail_id != null and plan_detail_id != ''">
				and p.plan_detail_id=#{plan_detail_id,jdbcType=NUMERIC}
			</if>
		</where>
	</select>
	<select id="queryForPay" parameterType="java.util.Map" resultMap="payPlanDetail">
		select p.pact_code, p.plan_detail_id, p.pay_id, p.summary, TO_CHAR(p.pay_date, 'yyyy-MM-dd') as pay_date, p.pay_cond,  p.pay_cond  as pay_cond_name
				, NVL(p.plan_money, 0) as plan_money
				, sum(NVL(ppdf.PAY_MONEY, 0)) as ing_money
				, sum(NVL(ppdf2.PAY_MONEY, 0)) as paied_money
				, NVL(p.plan_money - sum(NVL(ppdf2.PAY_MONEY, 0)), 0) as unPaied_money
				, NVL(p.plan_money - sum(NVL(ppdf2.PAY_MONEY, 0)), 0) - sum(NVL(ppdf.PAY_MONEY, 0)) as pay_money
			from PACT_PLAN_FKHT p
			left join 
			(SELECT ppdf.GROUP_ID,ppdf.HOS_ID,ppdf.COPY_CODE,ppdf.PACT_CODE,ppdf.PAY_MONEY,pppf.PLAN_DET_ID FROM PACT_PAY_DET_FKHT ppdf
				inner join PACT_PAY_PLAN_FKHT pppf on ppdf.GROUP_ID = pppf.GROUP_ID and ppdf.HOS_ID = pppf.HOS_ID and ppdf.COPY_CODE = pppf.COPY_CODE and ppdf.PAY_CODE = pppf.PAY_CODE and ppdf.PACT_CODE = pppf.PACT_CODE 
				WHERE ppdf.group_id=#{group_id,jdbcType=NUMERIC} and ppdf.hos_id=#{hos_id,jdbcType=NUMERIC} and ppdf.copy_code=#{copy_code,jdbcType=VARCHAR} and ppdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR} and ppdf.pay_code in (select pay_code from PACT_PAY_MAIN_FKHT where group_id = #{group_id,jdbcType=NUMERIC} and hos_id = #{hos_id,jdbcType=NUMERIC} and copy_code = #{copy_code,jdbcType=VARCHAR} and PACT_CODE=#{pact_code,jdbcType=VARCHAR} and STATE in ('01', '02')) 
			) ppdf ON ppdf.GROUP_ID = p.GROUP_ID AND ppdf.HOS_ID = p.HOS_ID AND ppdf.COPY_CODE=p.COPY_CODE AND p.pact_code = ppdf.PACT_CODE AND p.PLAN_DETAIL_ID = ppdf.PLAN_DET_ID
			left join 
			( SELECT ppdf2.GROUP_ID,ppdf2.HOS_ID,ppdf2.COPY_CODE,ppdf2.PACT_CODE,ppdf2.PAY_MONEY,pppf2.PLAN_DET_ID FROM PACT_PAY_DET_FKHT ppdf2  
				INNER JOIN PACT_PAY_PLAN_FKHT pppf2 ON ppdf2.GROUP_ID = pppf2.GROUP_ID and ppdf2.HOS_ID = pppf2.HOS_ID and ppdf2.COPY_CODE = pppf2.COPY_CODE and ppdf2.PAY_CODE = pppf2.PAY_CODE and ppdf2.PACT_CODE = pppf2.PACT_CODE 
				WHERE ppdf2.group_id=#{group_id,jdbcType=NUMERIC} and ppdf2.hos_id=#{hos_id,jdbcType=NUMERIC} and ppdf2.copy_code=#{copy_code,jdbcType=VARCHAR} and ppdf2.PACT_CODE=#{pact_code,jdbcType=VARCHAR} AND ppdf2.pay_code in (select pay_code from PACT_PAY_MAIN_FKHT where group_id = #{group_id,jdbcType=NUMERIC} and hos_id = #{hos_id,jdbcType=NUMERIC} and copy_code = #{copy_code,jdbcType=VARCHAR} and PACT_CODE=#{pact_code,jdbcType=VARCHAR} and STATE = '03')  
			) ppdf2 on p.group_id = ppdf2.group_id and p.hos_id = ppdf2.hos_id and p.copy_code = ppdf2.copy_code and p.PACT_CODE = ppdf2.PACT_CODE AND p.PLAN_DETAIL_ID = ppdf2.PLAN_DET_ID
		<where>
			p.group_id=#{group_id,jdbcType=NUMERIC}
			and p.hos_id=#{hos_id,jdbcType=NUMERIC}
			and p.copy_code=#{copy_code,jdbcType=VARCHAR}
			and p.pact_code=#{pact_code,jdbcType=VARCHAR}
			and (p.pay_flag != 1 or p.pay_flag is null or p.pay_flag=0)
			<if test="plan_detail_id != null and plan_detail_id != ''">
				and p.plan_detail_id=#{plan_detail_id,jdbcType=NUMERIC}
			</if>
			<!-- <if test="pay_code != null and pay_code != ''">
				and ppdf.pay_code =#{pay_code,jdbcType=NUMERIC}
			</if> -->
		</where>
		GROUP BY p.pact_code, p.plan_detail_id, p.pay_id, p.summary, p.pay_date ,p.pay_cond,p.pay_cond , p.plan_money
	</select>

	<select id="queryForEdit" parameterType="java.util.Map" resultMap="payPlanDetail">
		select p.pact_code, p.plan_detail_id, p.pay_id, p.summary, TO_CHAR(p.pay_date, 'yyyy-MM-dd') as pay_date, p.pay_cond,  p.pay_cond  as pay_cond_name
				, NVL(p.plan_money, 0) as plan_money
				, sum(NVL(ppdf.PAY_MONEY, 0)) as ing_money
				, sum(NVL(ppdf2.PAY_MONEY, 0)) as paied_money
				, NVL(p.plan_money - sum(NVL(ppdf2.PAY_MONEY, 0)), 0) as unPaied_money
				, NVL(p.plan_money - sum(NVL(ppdf2.PAY_MONEY, 0)), 0) - sum(NVL(ppdf.PAY_MONEY, 0)) as pay_money
			from PACT_PLAN_FKHT p
			left join 
			(SELECT ppdf.GROUP_ID,ppdf.HOS_ID,ppdf.COPY_CODE,ppdf.PACT_CODE,ppdf.PAY_MONEY,pppf.PLAN_DET_ID FROM PACT_PAY_DET_FKHT ppdf
				inner join PACT_PAY_PLAN_FKHT pppf on ppdf.GROUP_ID = pppf.GROUP_ID and ppdf.HOS_ID = pppf.HOS_ID and ppdf.COPY_CODE = pppf.COPY_CODE and ppdf.PAY_CODE = pppf.PAY_CODE and ppdf.PACT_CODE = pppf.PACT_CODE 
				WHERE ppdf.group_id=#{group_id,jdbcType=NUMERIC} and ppdf.hos_id=#{hos_id,jdbcType=NUMERIC} and ppdf.copy_code=#{copy_code,jdbcType=VARCHAR} and ppdf.PACT_CODE=#{pact_code,jdbcType=VARCHAR} and ppdf.pay_code in (select pay_code from PACT_PAY_MAIN_FKHT where group_id = #{group_id,jdbcType=NUMERIC} and hos_id = #{hos_id,jdbcType=NUMERIC} and copy_code = #{copy_code,jdbcType=VARCHAR} and PACT_CODE=#{pact_code,jdbcType=VARCHAR} and STATE in ('01', '02')) 
			) ppdf ON ppdf.GROUP_ID = p.GROUP_ID AND ppdf.HOS_ID = p.HOS_ID AND ppdf.COPY_CODE=p.COPY_CODE AND p.pact_code = ppdf.PACT_CODE AND p.PLAN_DETAIL_ID = ppdf.PLAN_DET_ID
			left join 
			( SELECT ppdf2.GROUP_ID,ppdf2.HOS_ID,ppdf2.COPY_CODE,ppdf2.PACT_CODE,ppdf2.PAY_MONEY,pppf2.PLAN_DET_ID FROM PACT_PAY_DET_FKHT ppdf2  
				INNER JOIN PACT_PAY_PLAN_FKHT pppf2 ON ppdf2.GROUP_ID = pppf2.GROUP_ID and ppdf2.HOS_ID = pppf2.HOS_ID and ppdf2.COPY_CODE = pppf2.COPY_CODE and ppdf2.PAY_CODE = pppf2.PAY_CODE and ppdf2.PACT_CODE = pppf2.PACT_CODE 
				WHERE ppdf2.group_id=#{group_id,jdbcType=NUMERIC} and ppdf2.hos_id=#{hos_id,jdbcType=NUMERIC} and ppdf2.copy_code=#{copy_code,jdbcType=VARCHAR} and ppdf2.PACT_CODE=#{pact_code,jdbcType=VARCHAR} AND ppdf2.pay_code in (select pay_code from PACT_PAY_MAIN_FKHT where group_id = #{group_id,jdbcType=NUMERIC} and hos_id = #{hos_id,jdbcType=NUMERIC} and copy_code = #{copy_code,jdbcType=VARCHAR} and PACT_CODE=#{pact_code,jdbcType=VARCHAR} and STATE = '03')  
			) ppdf2 on p.group_id = ppdf2.group_id and p.hos_id = ppdf2.hos_id and p.copy_code = ppdf2.copy_code and p.PACT_CODE = ppdf2.PACT_CODE AND p.PLAN_DETAIL_ID = ppdf2.PLAN_DET_ID
		<where>
			p.group_id=#{group_id,jdbcType=NUMERIC}
			and p.hos_id=#{hos_id,jdbcType=NUMERIC}
			and p.copy_code=#{copy_code,jdbcType=VARCHAR}
			and p.pact_code=#{pact_code,jdbcType=VARCHAR}
			<if test="plan_detail_id != null and plan_detail_id != ''">
				and p.plan_detail_id=#{plan_detail_id,jdbcType=NUMERIC}
			</if>
			<!-- <if test="pay_code != null and pay_code != ''">
				and ppdf.pay_code =#{pay_code,jdbcType=NUMERIC}
			</if> -->
		</where>
		GROUP BY p.pact_code, p.plan_detail_id, p.pay_id, p.summary, p.pay_date ,p.pay_cond,p.pay_cond , p.plan_money
	</select>

	<select id="queryMaxDetailId" parameterType="java.util.Map" resultType="java.lang.Integer">
		select max(plan_detail_id) from PACT_PLAN_FKHT 
		where 
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and PACT_CODE=#{pact_code,jdbcType=VARCHAR}
	</select>
	
	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_PLAN_FKHT (
			group_id,hos_id,copy_code,pact_code,plan_detail_id,
			pay_id,summary,pay_date,pay_cond,plan_money,
			pay_type ,rate ,payed_money)
		VALUES(
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{pact_code,jdbcType=VARCHAR},
		#{plan_detail_id,jdbcType=NUMERIC},
		#{pay_id,jdbcType=NUMERIC},
		#{summary,jdbcType=VARCHAR},
		#{pay_date,jdbcType=TIMESTAMP},
		#{pay_cond_name,jdbcType=VARCHAR},
		#{plan_money,jdbcType=NUMERIC},
		#{pay_type,jdbcType=NUMERIC},
		#{rate,jdbcType=NUMERIC},
		#{payed_money,jdbcType=NUMERIC})
	</insert>
	<insert id="addBatch" parameterType="java.util.List">
		INSERT INTO PACT_PLAN_FKHT (
			group_id,hos_id,copy_code,pact_code,plan_detail_id,
			pay_id,summary,pay_date,pay_cond,plan_money,
			pay_type ,rate ,payed_money)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.group_id,jdbcType=NUMERIC},
			#{item.hos_id,jdbcType=NUMERIC},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.pact_code,jdbcType=VARCHAR},
			#{item.plan_detail_id,jdbcType=NUMERIC},
			#{item.pay_id,jdbcType=NUMERIC},
			#{item.summary,jdbcType=VARCHAR},
			#{item.pay_date,jdbcType=TIMESTAMP},
			#{item.pay_cond_name,jdbcType=VARCHAR},
			#{item.plan_money,jdbcType=NUMERIC},
			#{item.pay_type,jdbcType=NUMERIC},
			#{item.rate,jdbcType=NUMERIC},
			#{item.payed_money,jdbcType=NUMERIC}
			from dual
		</foreach>
	</insert>
	
	<delete id="deleteBatch">
		DELETE FROM PACT_PLAN_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				and plan_detail_id = #{item.plan_detail_id,jdbcType=NUMERIC}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteAllBatch">
		DELETE FROM PACT_PLAN_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
				and plan_detail_id = #{item.plan_detail_id,jdbcType=NUMERIC}
			</foreach>
		</where>
	</delete>
	<delete id="deleteByPactCode" parameterType="java.util.Map">
		DELETE FROM
		PACT_PLAN_FKHT WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		and HOS_ID = #{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND pact_code = #{pact_code,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByPactCodeList">
		DELETE FROM PACT_PLAN_FKHT
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID = #{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE PACT_PLAN_FKHT SET
				payed_money=#{item.payed_money,jdbcType=NUMERIC},
				pay_flag=#{item.pay_flag,jdbcType=NUMERIC}
			WHERE
			group_id = #{item.group_id,jdbcType=NUMERIC}
			and hos_id = #{item.hos_id,jdbcType=NUMERIC}
			and copy_code = #{item.copy_code,jdbcType=VARCHAR}
			and pact_code = #{item.pact_code,jdbcType=VARCHAR}
			and plan_detail_id = #{item.plan_detail_id,jdbcType=NUMERIC}
		</foreach>
	</update>
</mapper>