<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.organize.HosStationBaseInfoMapper">

	

	<insert id="addStationBaseInfo" useGeneratedKeys="true">
			${sql}
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List">
			${sql}
	</insert>

	<update id="updateStationBaseInfo" parameterType="java.util.Map">
		${sql}
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
			${sql}
	</update>

	<delete id="deleteBatchStationBaseInfo" parameterType="java.util.Map">
		${sql}
	</delete>
	
	<delete id="deleteBatchStationInfo" parameterType="java.util.List">
			${sql}
	</delete>
	
	<select id="query"  parameterType="java.util.Map" resultType="java.util.Map">
			${sql}
	</select>
	
	<select id="queryByCode"  parameterType="java.util.Map" resultType="java.util.Map">
			${sql}
	</select>
	
	<select id="queryInfoByCode"  parameterType="java.util.Map" resultType="java.util.Map">
		${sql}
	</select>
	
	<select id="queryInfoByName"  parameterType="java.util.Map" resultType="java.util.Map">
			${sql}
	</select>
	
	
	<select id="queryByUniqueness"  parameterType="java.util.Map" resultType="java.util.Map">
			${sql}
	</select>
	
	<select id="queryExists"  parameterType="java.util.Map" resultType="java.util.Map">
	${sql}
		
	</select>
	
	<select id="queryStationInfoPrint" parameterType="java.util.Map" resultType="java.util.Map">
			${sql}
	</select>
	

</mapper>

