<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.books.groupauxiliaryaccount.GroupAccStoreAuxiliaryAccountMapper">
	<resultMap id="accStoreAuxiliaryAccount" type="com.chd.hrp.acc.entity.AccStoreAuxiliaryAccount">
        <result property="acc_year" column="acc_year"/>
        <result property="acc_month" column="acc_month"/>
        <result property="store_code" column="obj_code"/>
        <result property="store_name" column="obj_name"/>
        <result property="subj_code" column="subj_code"/>
        <result property="subj_name" column="subj_name"/>
        <result property="summary" column="summary"/>
        <result property="debit" column="debit"/>
        <result property="credit" column="credit"/>
        <result property="subj_dire" column="subj_dire"/>
        <result property="end_os" column="end_os"/>
        <result property="vouch_date" column="day"/>
        <result property="vouch_no" column="vouch_no"/>
        <result property="end_price" column="end_price"/>
	</resultMap>
	
	<resultMap id="balancedetailKF" type="java.util.Map">
		<result property="obj_id" column="obj_id" />
		<result property="obj_no" column="obj_no" />
		<result property="obj_code" column="obj_code" />
		<result property="obj_name" column="obj_name" />
		<result property="nc_debit" column="nc_debit" />
		<result property="nc_credit" column="nc_credit" />
		<result property="qc_debit" column="qc_debit" />
		<result property="qc_credit" column="qc_credit" />
		<result property="bq_debit" column="bq_debit" />
		<result property="bq_credit" column="bq_credit" />
		<result property="lj_debit" column="lj_debit" />
		<result property="lj_credit" column="lj_credit" />
		<result property="end_debit" column="end_debit" />
		<result property="end_credit" column="end_credit" />    
	</resultMap>
    
	<select id="queryGroupAccStoreSubjGeneralLedger" statementType="CALLABLE" parameterType="java.util.Map" resultMap="accStoreAuxiliaryAccount">
		 <![CDATA[ 
		{call group_objsubjgeneralled_ck(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_year_e,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_e,jdbcType=VARCHAR, mode=IN},
	        #{state,jdbcType=INTEGER, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{obj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{obj_code,jdbcType=VARCHAR, mode=IN},
	        #{source_id,jdbcType=VARCHAR, mode=IN},
	        #{table_flag,jdbcType=INTEGER, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=com.chd.hrp.acc.dao.books.subjaccount.AccSubjLedgerMapper.accBooksMap}
        )} 
		 ]]>
	</select>
	
	<select id="queryGroupAccStoreSubjDetailLedger" statementType="CALLABLE" parameterType="java.util.Map" resultMap="accStoreAuxiliaryAccount">
		<![CDATA[
		{call group_objsubjdetail_ck(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_year_e,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_e,jdbcType=VARCHAR, mode=IN},
	        #{state,jdbcType=INTEGER, mode=IN},
	        #{is_happend,jdbcType=INTEGER, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{obj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{obj_code,jdbcType=VARCHAR, mode=IN},
	        #{source_id,jdbcType=VARCHAR, mode=IN},
	        #{table_flag,jdbcType=INTEGER, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=com.chd.hrp.acc.dao.books.subjaccount.AccSubjLedgerMapper.accBooksMap}
		)}
		]]>
	</select>
	
	
	<select id="queryGroupAccSubjStoreGeneralLedger" statementType="CALLABLE" parameterType="java.util.Map" resultMap="accStoreAuxiliaryAccount">
		<![CDATA[
		{call group_subjobjgeneralled_ck(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_year_e,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_e,jdbcType=VARCHAR, mode=IN},
	        #{state,jdbcType=INTEGER, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{obj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{obj_code,jdbcType=VARCHAR, mode=IN},
	        #{source_id,jdbcType=VARCHAR, mode=IN},
	        #{table_flag,jdbcType=INTEGER, mode=IN},
	        #{is_happend,jdbcType=INTEGER, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=com.chd.hrp.acc.dao.books.subjaccount.AccSubjLedgerMapper.accBooksMap}
		)}
		]]>
	</select>
	
	<select id="queryGroupAccSubjStoreDetailLedger" statementType="CALLABLE" parameterType="java.util.Map" resultMap="accStoreAuxiliaryAccount">
		<![CDATA[
		{call books_subjobjdetail_ck(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_year_e,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_e,jdbcType=VARCHAR, mode=IN},
	        #{state,jdbcType=INTEGER, mode=IN},
	        #{is_happend,jdbcType=INTEGER, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{obj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{obj_code,jdbcType=VARCHAR, mode=IN},
	        #{source_id,jdbcType=VARCHAR, mode=IN},
	        #{table_flag,jdbcType=INTEGER, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=com.chd.hrp.acc.dao.books.subjaccount.AccSubjLedgerMapper.accBooksMap}
		)}
		]]>
	</select>
	
	<select id="queryGroupAccStoreEndOs" statementType="CALLABLE" parameterType="java.util.Map" resultMap="balancedetailKF">
		
		<![CDATA[
		{call group_balancedetail_kf(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_b,jdbcType=VARCHAR, mode=IN},
	        #{acc_year_e,jdbcType=VARCHAR, mode=IN},
	        #{acc_month_e,jdbcType=VARCHAR, mode=IN},
	        #{is_state,jdbcType=INTEGER, mode=IN},
	        #{is_end_os,jdbcType=INTEGER, mode=IN},
	        #{cur_code,jdbcType=VARCHAR, mode=IN},
	        #{obj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{obj_code,jdbcType=VARCHAR, mode=IN},
	        #{subj_select_flag,jdbcType=INTEGER, mode=IN},
	        #{subj_code,jdbcType=VARCHAR, mode=IN},
	        #{objdata,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=com.chd.hrp.acc.dao.books.subjaccount.AccSubjLedgerMapper.accBooksMap}
		)}
		]]>
		
	</select>
</mapper>