<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiComTypeMapper">
	
	<resultMap id="aphiComType" type="com.chd.hrp.hpm.entity.AphiComType">
	<result property="com_type_code" column="com_type_code"/>
	<result property="com_type_name" column="com_type_name"/>
	<result property="com_type_nature" column="com_type_nature"/>
	<result property="com_type_note" column="com_type_note"/>
	</resultMap>
	
	<insert id="addPrmComType" useGeneratedKeys="true" >
	
		INSERT INTO aphi_COM_TYPE (
		com_type_code
		,
		com_type_name
		,
		com_type_nature
		,
		com_type_note
		
		) VALUES (
#{com_type_code}		,
#{com_type_name}		,
#{com_type_nature}		,
#{com_type_note}		
		)
	
	</insert>
	<insert id="addBatchPrmComType" parameterType="java.util.List" >
	
		INSERT INTO aphi_COM_TYPE (
		com_type_code
		,
		com_type_name
		,
		com_type_nature
		,
		com_type_note
		
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.com_type_code}			,
#{item.com_type_name}			,
#{item.com_type_nature}			,
#{item.com_type_note}			
		
		</foreach>
		)t
	</insert>
	
	<update id="updatePrmComType" parameterType="java.util.Map">
	
		UPDATE aphi_com_type SET
		com_type_name = #{com_type_name}
		,
		com_type_nature = #{com_type_nature}
		,
		com_type_note = #{com_type_note}
		
		WHERE 
		com_type_code = #{com_type_code}
		
	
	</update>
	<update id="updateBatchPrmComType" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE aphi_com_type SET
			com_type_name = #{com_type_name}
			,
			com_type_nature = #{com_type_nature}
			,
			com_type_note = #{com_type_note}
			
			WHERE 
			com_type_code = #{item.com_type_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmComType" parameterType="java.util.Map">
	
		DELETE FROM aphi_com_type WHERE
		com_type_code = #{com_type_code} 
	
	</delete>
	<delete id="deleteBatchPrmComType" parameterType="java.util.List">
		DELETE FROM aphi_com_type WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				com_type_code = #{item.com_type_code}
				
			</foreach>
	
	</delete>
	<select id="queryPrmComType" parameterType="java.util.Map" resultMap="aphiComType" >
	
		SELECT 
		com_type_code,
		com_type_name,
		com_type_nature,
		com_type_note
		FROM aphi_COM_TYPE 
		<where>                     
		<if test="com_type_code != null and com_type_code != ''">
		AND com_type_code = #{com_type_code}
		</if>
		<if test="com_type_name != null and com_type_name != ''">
		AND com_type_name = #{com_type_name}
		</if>
		<if test="com_type_nature != null and com_type_nature != ''">
		AND com_type_nature = #{com_type_nature}
		</if>
		<if test="com_type_note != null and com_type_note != ''">
		AND com_type_note = #{com_type_note}
		</if>
		</where>   
		order by com_type_code asc
	</select>
	<select id="queryPrmComTypeByCode" resultType="com.chd.hrp.prm.entity.PrmComType" parameterType="string" >
	
		SELECT 
		com_type_code,
		com_type_name,
		com_type_nature,
		com_type_note
		FROM aphi_com_type 
		WHERE 
		com_type_code = #{com_type_code} 
	
	</select>

</mapper>

