<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiCompanyBonusDataMapper">

	<resultMap id="companyBonusData" type="com.chd.hrp.hpm.entity.AphiCompanyBonusData">
        <result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="acct_year" column="acct_year"/>
        <result property="acct_month" column="acct_month"/>
        <result property="item_code" column="item_code"/>
        <result property="item_name" column="item_name"/>
        <result property="bonus_money" column="bonus_money"/>
	</resultMap>
	
        <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="addCompanyBonusData" useGeneratedKeys="true" >
    
        INSERT INTO aphi_company_bonus_data (
			group_id,
			hos_id,
            copy_code ,
            acct_year ,
            acct_month ,
            item_code ,
            bonus_money 
        ) VALUES (
			#{group_id},
			#{hos_id},
            #{copy_code} ,
            #{acct_year} ,
            #{acct_month} ,
            #{item_code} ,
            #{bonus_money} 
        )
    
    </insert>

<insert id="initCompanyBonusData" useGeneratedKeys="true" >
    
       insert into aphi_company_bonus_data
		(
		group_id,
		hos_id,
		copy_code,
		acct_year,
		acct_month,
		item_code
		)
		select a.group_id,a.hos_id,a.copy_code,b.acct_year,b.acct_month,d.item_code 
		from aphi_company_scheme_Seq a 
		left join aphi_scheme_conf b 
		on a.scheme_seq_no = b.scheme_seq_no 
		and a.group_id=b.group_id 
		and a.hos_id=b.hos_id
		and a.copy_code = b.copy_code 
		left join aphi_item d 
		on a.item_code= d.item_code 
		and a.group_id = d.group_id
		and a.hos_id = d.hos_id		
		and a.copy_code = d.copy_code 
		and d.app_mod_code='03' or d.app_mod_code = '99'
		    
    </insert>
	<update id="updateCompanyBonusData" parameterType="java.util.Map">
    
        UPDATE aphi_company_bonus_data SET
	        bonus_money = #{bonus_money} 
        WHERE 
	        group_id = #{group_id}   and 
			hos_id = #{hos_id}   and
	        copy_code = #{copy_code}   and 
	        acct_year = #{acct_year}   and 
	        acct_month = #{acct_month}   and 
	        item_code = #{item_code} 
   
	</update>

    <delete id="deleteCompanyBonusData" parameterType="java.util.Map">
   
        DELETE FROM aphi_company_bonus_data WHERE
        group_id = #{group_id}   and 
		hos_id = #{hos_id}   and
        copy_code = #{copy_code}   and 
        acct_year = #{acct_year}   and 
        acct_month = #{acct_month}   and 
        item_code = #{item_code} 
   
    </delete>

    <delete id="deleteCompanyBonusDataById" parameterType="String">
   
        DELETE FROM aphi_company_bonus_data WHERE id=id
   
    </delete>
    
    <select id="queryCompanyBonusDataByCode" resultType="com.chd.hrp.hpm.entity.AphiCompanyBonusData" parameterType="string" >
	  
        <!--  SELECT 
            comp_code,
            copy_code,
            acct_year,
            acct_month,
            item_code,
            bonus_money
		FROM aphi_company_bonus_data 
	        WHERE 
		        comp_code = #{comp_code}   and 
		        copy_code = #{copy_code}   and 
		        acct_year = #{acct_year}   and 
		        acct_month = #{acct_month}   and 
		        item_code = #{item_code} -->
		        
		        SELECT 
            a.group_id,
			a.hos_id,
            a.copy_code,
            a.acct_year,
            a.acct_month,
            a.item_code,
            b.item_name,
            c.formula_code,
            a.bonus_money,
            to_char(d.formula_method_chs) formula_method_chs,
       c.formula_code,
       e.target_code,
       f.target_nature,
       g.nature_code,
       g.nature_name
       FROM aphi_company_bonus_data a,aphi_item b,aphi_company_scheme c,aphi_formula d,APHI_TARGET_METHOD e,aphi_target f,APHI_TARGET_NATURE g
             
            <where> 
				   a.item_code = b.item_code 
				   and a.group_id=b.group_id
				   and a.hos_id=b.hos_id				   
				   and a.copy_code=b.copy_code
                   and a.item_code=c.item_code 
				   and a.group_id=c.group_id
				   and a.hos_id=c.hos_id
				   and a.copy_code=c.copy_code
                   and c.formula_code=d.formula_code 
				   and a.group_id=d.group_id
				   and a.hos_id=d.hos_id
				   and a.copy_code=d.copy_code
			       and d.formula_code=e.formula_code 
				   and a.group_id=e.group_id
					and a.hos_id=e.hos_id 
				   and a.copy_code=e.copy_code
			       and e.target_code=f.target_code 
				   and a.group_id=f.group_id
					and a.hos_id=f.hos_id 
				   and a.copy_code=f.copy_code
			       and f.target_nature=g.nature_code 
				   and a.group_id=g.group_id
					and a.hos_id=g.hos_id
				   and a.copy_code=g.copy_code
               <if test="group_id != null and group_id != ''">
                    AND a.group_id = #{group_id}
               </if>
			   <if test="hos_id != null and hos_id != ''">
                    AND a.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND a.copy_code = #{copy_code}
               </if>
			    <if test="acct_year != null and acct_year != ''">
                    AND a.acct_year = #{acct_year}
               </if>
			    <if test="acct_month != null and acct_month != ''">
                    AND a.acct_month = #{acct_month}
               </if>
			    <if test="item_code != null and item_code != ''">
                    AND a.item_code = #{item_code}
               </if> 
                    </where>   
        
	</select>
	<select id="queryCompanyBonusData" parameterType="java.util.Map" resultMap="companyBonusData" >
      
        <!--  -->SELECT 
            a.group_id,
			a.hos_id,
            a.copy_code,
            a.acct_year,
            a.acct_month,
            a.item_code,
            b.item_name,
            a.bonus_money,
       to_char(d.formula_method_chs) as formula_method_chs,
       c.formula_code
        FROM aphi_company_bonus_data a,aphi_item b,aphi_company_scheme c,aphi_formula d
             
            <where>                     
                a.item_code = b.item_code 
				and a.group_id=b.group_id
				and a.hos_id=b.hos_id				
				and a.copy_code=b.copy_code
                and a.item_code=c.item_code 
				and a.group_id=c.group_id
				and a.hos_id=c.hos_id
				and a.copy_code=c.copy_code
                and c.formula_code=d.formula_code 
				and a.group_id=d.group_id
				and a.hos_id=d.hos_id
				and a.copy_code=d.copy_code
			    
			    <if test="group_id != null and group_id != ''">
                    AND a.group_id = #{group_id}
               </if>
			   <if test="hos_id != null and hos_id != ''">
                    AND a.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND a.copy_code = #{copy_code}
               </if>
			    <if test="acct_year != null and acct_year != ''">
                    AND a.acct_year = #{acct_year}
               </if>
			    <if test="acct_month != null and acct_month != ''">
                    AND a.acct_month = #{acct_month}
               </if>
			    <if test="item_code != null and item_code != ''">
                    AND a.item_code = #{item_code}
               </if>
			    <if test="bonus_money != null and bonus_money != ''">
                    AND a.bonus_money = #{bonus_money}
               </if>
        </where>   
				order by a.group_id asc
    </select>
	
</mapper>

