<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiTemplateDataMapper">

	<resultMap id="aphiTemplateDataMap" type="com.chd.hrp.hpm.entity.AphiTemplateData">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="template_code" column="template_code" />
		<result property="template_name" column="template_name" />
		<result property="template_note" column="template_note" />
		<result property="template_table" column="template_table" />
		<result property="template_detail_code" column="template_detail_code" />
		<result property="group_view" column="group_view" />
		<result property="columns_type" column="columns_type" />
		<result property="columns_view" column="columns_view" />
		<result property="columns_table" column="columns_table" />
		
	</resultMap>
	
	<!-- 添加主表数据 -->
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addAphiTemplateData" useGeneratedKeys="true">

		insert into aphi_template_data
		  (group_id, hos_id, copy_code, template_code, template_name, template_note, template_table)
		values
		  (#{group_id}, #{hos_id}, #{copy_code}, #{template_code}, #{template_name}, #{template_note}, #{template_table})


	</insert>
	
	<!-- 查询所有 主表数据 -->
	<select id="queryAphiTemplateData" parameterType="java.util.Map" resultMap="aphiTemplateDataMap">
		SELECT 
			group_id, 
			hos_id, 
			copy_code, 
			template_code, 
			template_name, 
			template_note, 
			template_table
		FROM APHI_TEMPLATE_DATA
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			<if test="template_table != null and template_table != '' ">
				AND template_table = #{template_table}
			</if>
	</select>
	
	<!-- 按编码查询 主表数据 -->
	<select id="queryAphiTemplateDataByCode" parameterType="java.util.Map" resultMap="aphiTemplateDataMap">
		SELECT 
			group_id, 
			hos_id, 
			copy_code, 
			template_code, 
			template_name, 
			template_note, 
			template_table
		FROM APHI_TEMPLATE_DATA
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND template_code = #{template_code}
	</select>
	
	<!-- 修改主表 -->
	<update id="updateAphiTemplateData" parameterType="java.util.Map">
		UPDATE APHI_TEMPLATE_DATA
		SET
			template_name = #{template_name},
			template_note = #{template_note},
			template_table = #{template_table}
		WHERE
			group_id = #{group_id} AND
			hos_id = #{hos_id} AND
			copy_code = #{copy_code} AND
			template_code = #{template_code}
	</update>
	
	<!-- 批量删除明细 -->
	<delete id="deleteBatchAphiTemplateDetailData" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
			DELETE FROM APHI_TEMPLATE_DETAIL_DATA
			WHERE
				group_id = #{item.group_id} AND
				hos_id = #{item.hos_id} AND
				copy_code = #{item.copy_code} AND
				template_code = #{item.template_code} AND
				template_detail_code = #{item.template_detail_code}
		</foreach>
	</delete>
	
	<!-- 批量添加明细 -->
	<insert id="addBatchAphiTemplateDetailData" parameterType="java.util.Map">

		INSERT INTO aphi_template_detail_data(
		
		  group_id, hos_id, copy_code, template_code, template_detail_code, group_view, columns_type, columns_view,columns_table
		
		)
		<foreach collection="list" item="item" index="index" separator=" union all ">
			select
			
			#{item.group_id}, #{item.hos_id}, #{item.copy_code}, #{item.template_code}, 
			#{item.template_detail_code}, #{item.group_view}, #{item.columns_type}, #{item.columns_view}, #{item.columns_table}
			
			from dual
		</foreach>

	</insert>
	
	<!-- 按模板编码查询 明细表数据 -->
	<select id="queryAphiTemplateDetailDataByTemplateCode" parameterType="java.util.Map" resultMap="aphiTemplateDataMap">
		SELECT 
			group_id, 
			hos_id, 
			copy_code, 
			template_code, 
			template_detail_code, 
			group_view, 
			columns_type,
			columns_view,
			columns_table
		FROM APHI_TEMPLATE_DETAIL_DATA
		WHERE
			group_id = #{group_id}
			AND hos_id = #{hos_id}
			AND copy_code = #{copy_code}
			AND template_code = #{template_code}
		ORDER BY template_detail_code asc
	</select>
	
	<!-- 删除模板 -->
	<delete id="deleteAphiTemplateData" parameterType="java.util.Map">
		DELETE FROM APHI_TEMPLATE_DATA
			WHERE
				group_id = #{group_id} AND
				hos_id = #{hos_id} AND
				copy_code = #{copy_code} AND
				template_code = #{template_code}
	</delete>
	
	<!-- 按模板编码删除明细 -->
	<delete id="deleteAphiTemplateDetailDataByTemplateCode" parameterType="java.util.Map">
		DELETE FROM APHI_TEMPLATE_DETAIL_DATA
			WHERE
				group_id = #{group_id} AND
				hos_id = #{hos_id} AND
				copy_code = #{copy_code} AND
				template_code = #{template_code}
	</delete>
	
	<select id="queryAphiTemplateDataForParseSql" parameterType="java.util.Map" resultType="java.util.TreeMap">
		${sql}
	</select>
	
	<update id="updateAphiTemplateDataForParseSql" parameterType="java.util.Map">
		${sql}
	</update>
	
	<delete id="deleteAphiTemplateDataForParseSql" parameterType="java.util.Map">
		${sql}
	</delete>
	
	<insert id="initAphiTemplateDataForParseSql" parameterType="java.util.Map">
		${sql}
	</insert>
</mapper>

