<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiEmpTargetDataMapper">

	<resultMap id="empTargetData" type="com.chd.hrp.hpm.entity.AphiEmpTargetData">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acct_year" column="acct_year" />
		<result property="acct_month" column="acct_month" />
		<result property="target_code" column="target_code" />
		<result property="emp_code" column="emp_code" />
		<result property="target_name" column="target_name" />
		<result property="emp_name" column="emp_name" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="target_value" column="target_value" />
		<result property="is_audit" column="is_audit" />
		<result property="user_code" column="user_code" />
		<result property="audit_time" column="audit_time" />

		<result property="emp_id" column="emp_id" />
		<result property="emp_no" column="emp_no" />
		<result property="check_name" column="check_name" />
	</resultMap>

	<resultMap id="hospTargetData1" type="com.chd.hrp.hpm.entity.AphiHospTargetData">
		<result property="target_code" column="target_code" />
	</resultMap>
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="addEmpTargetData" useGeneratedKeys="true">

		INSERT INTO aphi_emp_target_data (
		group_id ,
		hos_id,
		copy_code ,
		acct_year ,
		acct_month ,
		target_code ,
		emp_id ,
		emp_no,
		target_value ,
		is_audit ,
		user_code ,
		audit_time
		) VALUES (
		#{group_id} ,
		#{hos_id},
		#{copy_code} ,
		#{acct_year} ,
		#{acct_month} ,
		#{target_code} ,
		#{emp_id} ,
		#{emp_no},
		#{target_value} ,
		#{is_audit} ,
		#{user_code} ,
		#{audit_time}
		)

	</insert>

	<insert id="addBatchEmpTargetData" parameterType="java.util.List">

		INSERT INTO aphi_emp_target_data (
		group_id ,hos_id,copy_code , acct_year , acct_month ,target_code ,
		emp_id ,emp_no,target_value , is_audit ,user_code ,audit_time )

		<foreach item="item" index="index" collection="list"
			separator="union all">
			select
			#{item.group_id} ,#{item.hos_id},#{item.copy_code} ,#{item.acct_year} ,
			#{item.acct_month} ,#{item.target_code} ,#{item.emp_code} ,
			#{item.emp_no},
			#{item.target_value} , #{item.is_audit} ,
			#{item.user_code} , #{item.audit_time}
			from dual
		</foreach>

	</insert>


	<update id="updateEmpTargetData" parameterType="java.util.Map">

		UPDATE aphi_emp_target_data SET
		target_value = #{target_value}<!-- , is_audit = #{is_audit}, user_code = #{user_code}, 
			audit_time = #{audit_time} -->
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} AND
		copy_code = #{copy_code} and
		acct_year = #{acct_year} and
		acct_month = #{acct_month} and
		target_code = #{target_code} and
		emp_id = #{emp_id} and
		emp_no = #{emp_no}

	</update>

	<update id="shenhe" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin"
			separator=";" close=";end;">
			UPDATE APHI_EMP_TARGET_DATA SET
			is_audit = #{item.is_audit},
			user_code = #{item.user_code},
			audit_time = #{item.audit_time}
			WHERE
			group_id = #{item.group_id}
			AND hos_id = #{item.hos_id}
			AND copy_code = #{item.copy_code}
			AND acct_year = #{item.acct_year}
			AND acct_month = #{item.acct_month}
			AND target_code = #{item.target_code}
			AND emp_id = #{item.emp_id}
			AND emp_no = #{item.emp_no}
		</foreach>
	</update>

	<select id="getTargetCode" parameterType="java.util.Map"
		resultMap="hospTargetData1">
		select a.target_code from aphi_target
		a,aphi_target_method b
		where
		a.target_code = b.target_code
		and a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.nature_code = 04
		and b.method_code = 01
		and a.group_id = #{group_id}
		and a.copy_code = #{copy_code}
	</select>

	<delete id="deleteEmpTargetData" parameterType="java.util.Map">

		DELETE FROM aphi_emp_target_data

		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acct_year != null and acct_year != ''">
				AND acct_year = #{acct_year}
			</if>
			<if test="acct_month != null and acct_month != ''">
				AND acct_month = #{acct_month}
			</if>
			<if test="target_code != null and target_code != ''">
				AND target_code = #{target_code}
			</if>
			<if test="emp_id != null and emp_id != ''">
				AND emp_id = #{emp_id}
			</if>

			<if test="emp_no != null and emp_no != ''">
				AND emp_no = #{emp_no}
			</if>
			<if test="delSql != null and delSql != ''">
				${delSql}
			</if>
		</where>


	</delete>

	<select id="queryEmpTargetDataByCode" resultType="com.chd.hrp.hpm.entity.AphiEmpTargetData"
		parameterType="string">
		SELECT
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.acct_year,
		a.acct_month,
		a.target_code,
		d.target_name,
		e.dept_code,
		e.dept_name,
		a.emp_code,
		e.emp_name,
		a.target_value,
		a.is_audit,
		a.user_code,
		a.audit_time
		FROM aphi_emp_target_data a,aphi_target d,
		(select b.emp_code,b.emp_name,c.dept_code,c.dept_name from Aphi_emp
		b,Aphi_dept c where b.dept_code = c.dept_code) e
		WHERE
		a.emp_code = e.emp_code and a.target_code = d.target_code and
		a.group_id = #{group_id} and
		a.hos_id = #{hos_id} AND
		a.copy_code = #{copy_code} and
		a.acct_year = #{acct_year} and
		a.acct_month = #{acct_month} and
		a.target_code = #{target_code} and
		a.emp_code = #{emp_code}

	</select>

	<!-- 主查询 -->
	<select id="queryEmpTargetData" parameterType="java.util.Map"
		resultMap="empTargetData">
		SELECT
		aetd.group_id,
		aetd.hos_id,
		aetd.copy_code,
		aetd.acct_year,
		aetd.acct_month,
		ad.dept_name,
		aetd.emp_id,
		aetd.emp_no,
		aed.emp_name,
		aetd.target_code,
		target.target_name,
		aetd.target_value,
		aetd.is_audit,
		su.user_name as check_name,
		aetd.audit_time
		FROM APHI_EMP_TARGET_DATA aetd
		
		<if test="para_value == 0">
			LEFT JOIN APHI_EMP_DICT aed
			ON
			aetd.group_id = aed.group_id
			AND aetd.hos_id = aed.hos_id
			AND aetd.copy_code = aed.copy_code
			AND aetd.emp_id = aed.emp_id
			AND aetd.emp_no = aed.emp_no
		</if>
		
		<if test="para_value == 1">
			LEFT JOIN v_aphi_emp_dict aed
			ON
			aetd.group_id = aed.group_id
			AND aetd.hos_id = aed.hos_id
			AND aetd.copy_code = aed.copy_code
			AND aetd.emp_id = aed.emp_id
			AND aetd.emp_no = aed.emp_no
		</if>
		
		LEFT JOIN APHI_DEPT_DICT ad
		ON
		aed.group_id = ad.group_id
		AND aed.hos_id = ad.hos_id
		AND aed.copy_code = ad.copy_code
		AND aed.dept_id = ad.dept_id
		AND aed.dept_no = ad.dept_no
		LEFT JOIN APHI_TARGET target
		ON
		aetd.group_id = target.group_id
		AND aetd.hos_id = target.hos_id
		AND aetd.copy_code = target.copy_code
		AND aetd.target_code = target.target_code
		AND target.is_stop = 0
		LEFT JOIN APHI_TARGET_METHOD atm
		ON
		aetd.group_id = atm.group_id
		AND aetd.hos_id = atm.hos_id
		AND aetd.copy_code = atm.copy_code
		AND aetd.target_code = atm.target_code
		LEFT JOIN SYS_USER su
		ON
		aetd.group_id = su.group_id
		AND aetd.hos_id = su.hos_id
		AND aetd.user_code = su.user_code
		AND su.is_stop = 0
		<where>
			atm.method_code = '01'
			<if test="group_id != null and group_id != ''">
				AND aetd.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and aetd.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND aetd.copy_code = #{copy_code}
			</if>
			<if test="acct_year != null and acct_year != ''">
				AND aetd.acct_year = #{acct_year}
			</if>
			<if test="acct_month != null and acct_month != ''">
				AND aetd.acct_month = #{acct_month}
			</if>
			<if test="target_code != null and target_code != ''">
				AND aetd.target_code = #{target_code}
			</if>
			<if test="emp_id != null and emp_id != ''">
				AND aetd.emp_id = #{emp_id}
			</if>
			<if test="emp_no != null and emp_no != ''">
				AND aetd.emp_no = #{emp_no}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND aed.dept_id= #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND aed.dept_no = #{dept_no}
			</if>
			<if test="is_audit != null and is_audit != ''">
				AND aetd.is_audit = #{is_audit}
			</if>
			and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = aed.dept_id and a.is_read = 1 and a.is_write = 1
			)
		</where>
		ORDER BY aetd.target_code ASC
	</select>
	
	<!-- 主查询  打印-->
	<select id="queryEmpTargetDataPrint" parameterType="java.util.Map"
		resultType="java.util.TreeMap">
		SELECT
		aetd.group_id,
		aetd.hos_id,
		aetd.copy_code,
		aetd.acct_year,
		aetd.acct_month,
		ad.dept_name,
		aetd.emp_id,
		aetd.emp_no,
		aed.emp_name,
		aetd.target_code,
		target.target_name,
		aetd.target_value,
		CASE WHEN aetd.is_audit=1 THEN '是' ELSE '否' END is_audit,
		su.user_name as check_name,
		to_char(aetd.audit_time,'yyyy-MM-dd') AS audit_time
		FROM APHI_EMP_TARGET_DATA aetd
		
		<if test="para_value == 0">
			LEFT JOIN APHI_EMP_DICT aed
			ON
			aetd.group_id = aed.group_id
			AND aetd.hos_id = aed.hos_id
			AND aetd.copy_code = aed.copy_code
			AND aetd.emp_id = aed.emp_id
			AND aetd.emp_no = aed.emp_no
		</if>
		
		<if test="para_value == 1">
			LEFT JOIN v_aphi_emp_dict aed
			ON
			aetd.group_id = aed.group_id
			AND aetd.hos_id = aed.hos_id
			AND aetd.copy_code = aed.copy_code
			AND aetd.emp_id = aed.emp_id
			AND aetd.emp_no = aed.emp_no
		</if>
		
		LEFT JOIN APHI_DEPT_DICT ad
		ON
		aed.group_id = ad.group_id
		AND aed.hos_id = ad.hos_id
		AND aed.copy_code = ad.copy_code
		AND aed.dept_id = ad.dept_id
		AND aed.dept_no = ad.dept_no
		LEFT JOIN APHI_TARGET target
		ON
		aetd.group_id = target.group_id
		AND aetd.hos_id = target.hos_id
		AND aetd.copy_code = target.copy_code
		AND aetd.target_code = target.target_code
		AND target.is_stop = 0
		LEFT JOIN APHI_TARGET_METHOD atm
		ON
		aetd.group_id = atm.group_id
		AND aetd.hos_id = atm.hos_id
		AND aetd.copy_code = atm.copy_code
		AND aetd.target_code = atm.target_code
		LEFT JOIN SYS_USER su
		ON
		aetd.group_id = su.group_id
		AND aetd.hos_id = su.hos_id
		AND aetd.user_code = su.user_code
		AND su.is_stop = 0
		<where>
			atm.method_code = '01'
			<if test="group_id != null and group_id != ''">
				AND aetd.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and aetd.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND aetd.copy_code = #{copy_code}
			</if>
			<if test="acct_year != null and acct_year != ''">
				AND aetd.acct_year = #{acct_year}
			</if>
			<if test="acct_month != null and acct_month != ''">
				AND aetd.acct_month = #{acct_month}
			</if>
			<if test="target_code != null and target_code != ''">
				AND aetd.target_code = #{target_code}
			</if>
			<if test="emp_id != null and emp_id != ''">
				AND aetd.emp_id = #{emp_id}
			</if>
			<if test="emp_no != null and emp_no != ''">
				AND aetd.emp_no = #{emp_no}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND aed.dept_id= #{dept_id}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND aed.dept_no = #{dept_no}
			</if>
			<if test="is_audit != null and is_audit != ''">
				AND aetd.is_audit = #{is_audit}
			</if>
			and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = aed.dept_id and a.is_read = 1 and a.is_write = 1
			)
		</where>
		ORDER BY aetd.target_code ASC
	</select>

	<select id="getEmpTargetValue" parameterType="java.util.Map"
		resultMap="empTargetData">
		select aetd.target_code, aetd.target_value, aetd.emp_id, aetd.emp_no
  from aphi_emp_target_data aetd
  left join aphi_target_method atm
    on aetd.group_id = atm.group_id
   and aetd.hos_id = atm.hos_id
   and aetd.copy_code = atm.copy_code
   and aetd.target_code = atm.target_code

		<where>
			aetd.is_audit= '1' and atm.method_code='01'
			<if test="group_id != null and group_id != ''">
				AND aetd.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and aetd.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND aetd.copy_code = #{copy_code}
			</if>
			<if test="acct_year != null and acct_year != ''">
				AND aetd.acct_year = #{acct_year}
			</if>
			<if test="acct_month != null and acct_month != ''">
				AND aetd.acct_month = #{acct_month}
			</if>

		</where>
		order by aetd.target_code asc
	</select>

	<select id="queryTargetData" parameterType="java.util.Map"
		resultMap="empTargetData">
		select
		at.target_code
		from aphi_target at
		left join aphi_target_method atm on atm.copy_code = at.copy_code and
		atm.group_id = at.group_id
		and atm.hos_id = at.hos_id and atm.target_code = at.target_code
		where at.target_nature='04' and atm.method_code='01'

		<if test="group_id != null and group_id != ''">
			AND at.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
			and at.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
			AND at.copy_code = #{copy_code}
		</if>

		order by at.target_code asc
	</select>

	<select id="queryEmp" parameterType="java.util.Map" resultMap="empTargetData">
		select
		ae.emp_code
		from APHI_EMP ae
		<where>
			<if test="group_id != null and group_id != ''">
				AND ae.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and ae.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND ae.copy_code = #{copy_code}
			</if>
		</where>
		group by ae.emp_code
		order by ae.emp_code asc
	</select>

</mapper>

