<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiWorkitemConfMapper">

	<resultMap id="workitemConf" type="com.chd.hrp.hpm.entity.AphiWorkitemConf">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="dept_id" column="dept_id"/>
		<result property="dept_no" column="dept_no"/>
        <result property="work_item_code" column="work_item_code"/>
        <result property="is_acc" column="is_acc"/>
        <result property="work_standard" column="work_standard"/>
        <result property="dept_code" column="dept_code"/>
        <result property="dept_name" column="dept_name"/>
        <result property="work_item_name" column="work_item_name"/>
	</resultMap>
	
        <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="addWorkitemConf" useGeneratedKeys="true" >
    
        INSERT INTO aphi_workitem_conf (
            group_id ,
            hos_id,
            copy_code ,
            dept_id,
			dept_no ,
            work_item_code ,
            is_acc ,
            work_standard 
        ) VALUES (
            #{group_id} ,
            #{hos_id},
            #{copy_code} ,
            #{dept_id} ,
			#{dept_no} ,
            #{work_item_code} ,
            #{is_acc} ,
            #{work_standard} 
        )
    
    </insert>
    
    <insert id="addBatchWorkitemConf" parameterType="java.util.Map">
      INSERT INTO aphi_workitem_conf (
            group_id ,
            hos_id,
            copy_code ,
            dept_id,
			dept_no ,
            work_item_code ,
            is_acc ,
            work_standard 
        )
     <foreach collection="list" item="item" index="index" separator=" union all ">
        select 
            #{item.group_id} ,
            #{item.hos_id},
            #{item.copy_code} ,
            #{item.dept_id} ,
			#{item.dept_no} ,
            #{item.work_item_code} ,
            #{item.is_acc} ,
            #{item.work_standard} 
        from dual
      </foreach>
    </insert>

	<update id="updateWorkitemConf" parameterType="java.util.Map">
    
        UPDATE aphi_workitem_conf SET
	        is_acc = #{is_acc}   ,
	        work_standard = #{work_standard} 
        WHERE 
	        group_id = #{group_id}   and 
            hos_id = #{hos_id}   AND
	        copy_code = #{copy_code}   and 
	        work_item_code = #{work_item_code} 
	        AND dept_id = #{dept_id}
	        <if test="dept_no != null and dept_no != ''">
                  AND dept_no = #{dept_no}
            </if>
   
	</update>

    <delete id="deleteWorkitemConf" parameterType="java.util.Map">
   
        DELETE FROM aphi_workitem_conf WHERE
        group_id = #{group_id}   and 
        hos_id = #{hos_id}   AND
        copy_code = #{copy_code}   and 
       dept_id = #{dept_id}
	   <if test="dept_no != null and dept_no != ''">
       		AND dept_no = #{dept_no}
       </if>
   		AND work_item_code = #{work_item_code}
    </delete>
    
    <delete id="clearWorkitemConf" parameterType="java.util.Map">
   
        DELETE FROM aphi_workitem_conf
        
        <where>              
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
               <if test="hos_id != null and hos_id != ''">
                and hos_id = #{hos_id} 
            </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND copy_code = #{copy_code}
               </if>
			    <if test="dept_id != null and dept_id != ''">
                  AND dept_id = #{dept_id}
            </if>
            <if test="dept_no != null and dept_no != ''">
                  AND dept_no = #{dept_no}
            </if>
               <if test="work_item_code != null and work_item_code != ''">
                    AND work_item_code = #{work_item_code}
               </if>
                 
        </where>
   
    </delete>
    
    <select id="queryWorkitemConfByCode" resultType="com.chd.hrp.hpm.entity.AphiWorkitemConf" parameterType="string" >
	  
       SELECT 
			awc.group_id,
			awc.hos_id,
			awc.copy_code,
			awc.dept_id,
			awc.dept_no,
			ad.dept_name,
			awc.work_item_code,
			aw.work_item_name,
			awc.is_acc,
			awc.work_standard
			FROM aphi_workitem_conf awc
			left join APHI_DEPT ad on awc.dept_id = ad.dept_id and awc.group_id = ad.group_id and awc.copy_code = ad.copy_code and awc.hos_id = ad.hos_id
			left join APHI_WORKITEM aw on awc.work_item_code = aw.work_item_code and awc.group_id = aw.group_id and awc.copy_code = aw.copy_code  and awc.hos_id = aw.hos_id
	        WHERE 
		        awc.group_id = #{group_id}   and 
                awc.hos_id = #{hos_id}   AND
		        awc.copy_code = #{copy_code}   and 
		        awc.work_item_code = #{work_item_code} 
		        AND awc.dept_id = #{dept_id}
	        <if test="dept_no != null and dept_no != ''">
                  AND awc.dept_no = #{dept_no}
            </if>
	</select>
	<select id="queryWorkitemConf" parameterType="java.util.Map" resultMap="workitemConf" >
      
       SELECT 
				awc.group_id,
				awc.hos_id,
				awc.copy_code,
				awc.dept_id,
				awc.dept_no,
				ad.dept_code,
				ad.dept_name,
				awc.work_item_code,
				aw.work_item_name,
				awc.is_acc,
				awc.work_standard
				FROM aphi_workitem_conf awc
				left join APHI_DEPT_DICT ad on awc.dept_id = ad.dept_id and awc.dept_no = ad.dept_no and awc.group_id = ad.group_id and awc.copy_code = ad.copy_code and awc.hos_id = ad.hos_id
				left join APHI_WORKITEM aw on awc.work_item_code = aw.work_item_code and awc.group_id = aw.group_id and awc.copy_code = aw.copy_code and awc.hos_id = aw.hos_id
				 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND awc.group_id = #{group_id}
               	</if>
               	<if test="hos_id != null and hos_id != ''">
                and awc.hos_id = #{hos_id} 
            	</if>
			    <if test="copy_code != null and copy_code != ''">
                    AND awc.copy_code = #{copy_code}
               	</if>
			    <if test="dept_id != null and dept_id != ''">
                  AND awc.dept_id = #{dept_id}
           	 	</if>
            	<if test="dept_no != null and dept_no != ''">
                  AND awc.dept_no = #{dept_no}
            	</if>
			    <if test="work_item_code != null and work_item_code != ''">
                    AND awc.work_item_code = #{work_item_code}
               	</if>
			    <if test="is_acc != null and is_acc != ''">
                    AND awc.is_acc = #{is_acc}
               	</if>
			    <if test="work_standard != null and work_standard != ''">
                    AND awc.work_standard = #{work_standard}
               	</if>
               and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = awc.dept_id and a.is_read = 1 and a.is_write = 1
			)
        </where>   
				order by awc.work_item_code asc
    </select>
    
    <select id="queryWorkitemConfAll" parameterType="java.util.Map" resultMap="workitemConf" >
      
	SELECT 
		awc.group_id,
		awc.hos_id,
		awc.copy_code,
		awc.dept_id,
		awc.dept_no,
		awc.work_item_code,
		awc.work_standard
	FROM aphi_workitem_conf awc
	WHERE 
       	awc.group_id = #{group_id}
        AND awc.hos_id = #{hos_id} 
        AND awc.copy_code = #{copy_code}
        and exists(
				select 1 from v_user_data_perm a where a.group_id = #{group_id}
				and a.hos_id = #{hos_id} and a.copy_code = #{copy_code}
				and a.user_id = #{user_id}
				and a.mod_code = '09' and a.table_code = 'APHI_DEPT_DICT'
				and a.perm_code = awc.dept_id and a.is_read = 1 and a.is_write = 1
			)
    </select>
</mapper>

