<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiEmpItemMapper">
	<resultMap id="empItemMap" type="com.chd.hrp.hpm.entity.AphiEmpItem">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="item_code" column="item_code"/>
		<result property="item_name" column="item_name"/>
		<result property="item_note" column="item_note"/>
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
		<result property="is_avg" column="is_avg"/>
		<result property="is_stop" column="is_stop"/>
	</resultMap>

	<select id="queryEmpItem" parameterType="java.util.Map" resultMap="empItemMap">

		
select group_id, hos_id, copy_code, item_code, item_name, item_note, spell_code, wbx_code, is_avg, is_stop from aphi_emp_item

		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="item_code != null and item_code != ''">
				and item_code = #{item_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
		</where>

		order by item_code asc
	</select>

	<!-- add return int -->
	<insert id="addEmpItem" parameterType="java.util.Map">

		insert into
		aphi_emp_item(group_id,hos_id,copy_code,item_code,item_name,item_note,spell_code,wbx_code,is_avg,is_stop)

		VALUES
		(#{group_id},#{hos_id},#{copy_code},#{item_code},#{item_name},#{item_note},#{spell_code},#{wbx_code},#{is_avg},#{is_stop})

	</insert>

	<update id="updateEmpItem" parameterType="java.util.Map">

		update aphi_emp_item 

		<trim prefix="SET" suffixOverrides=",">
		
		<if test=" spell_code!= null and spell_code != ''">

			spell_code=#{spell_code},

		</if>

		<if test="wbx_code != null and wbx_code != ''">

			wbx_code=#{wbx_code},

		</if>

		<if test="item_note != null ">

			item_note=#{item_note},

		</if>

		<if test="is_avg != null and is_avg != ''">

			is_avg=#{is_avg},

		</if>

		<if test="is_stop != null and is_stop != ''">

			is_stop=#{is_stop},

		</if>

		<if test="item_name != null and item_name != ''">

			item_name=#{item_name},

		</if>
		</trim>
		where item_code=#{item_code}
		and group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}

	</update>

	<delete id="deleteEmpItem" parameterType="java.util.Map">

		delete from aphi_emp_item
		
		where item_code = #{item_code}

		AND group_id = #{group_id}

		AND hos_id =#{hos_id}

		AND copy_code = #{copy_code}

	</delete>
	
	<select id="queryEmpItemByCode" resultMap="empItemMap" parameterType="java.util.Map">

		select group_id, hos_id, copy_code, item_code, item_name, item_note, spell_code, wbx_code, is_avg, is_stop from aphi_emp_item

		where item_code =#{item_code} 
		AND group_id = #{group_id} 
		AND hos_id = #{hos_id} 
		AND copy_code = #{copy_code}


	</select>

</mapper>
