<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiTargetMethodMapper">

	<resultMap id="prmTargetMethod" type="com.chd.hrp.hpm.entity.AphiTargetMethod">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="target_code" column="target_code" />

		<result property="target_note" column="target_note" />
		<result property="method_code" column="method_code" />
		<result property="method_name" column="method_name" />
		<result property="formula_code" column="formula_code" />
		<result property="fun_code" column="fun_code" />

		<result property="target_name" column="target_name" />
		<result property="nature_code" column="nature_code" />
		<result property="nature_name" column="nature_name" />

		<result property="formula_name" column="formula_name" />
		<result property="formula_method_chs" column="formula_method_chs" />
		<result property="formula_method_eng" column="formula_method_eng" />

		<result property="fun_method_chs" column="fun_method_chs" />
		<result property="fun_method_eng" column="fun_method_eng" />
		<result property="fun_name" column="fun_name" />
		<result property="fun_note" column="fun_note" />
	</resultMap>

	<insert id="addPrmTargetMethod" useGeneratedKeys="true">

		INSERT INTO aphi_TARGET_METHOD (
		group_id
		,
		hos_id
		,
		copy_code
		,
		target_code
		,
		fun_para_code
		,
		method_code
		,
		formula_code
		,
		fun_code

		) VALUES (
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{target_code} ,
		#{fun_para_code} ,
		#{method_code} ,
		#{formula_code} ,
		#{fun_code}
		)

	</insert>
	<insert id="addBatchPrmTargetMethod" parameterType="java.util.List">

		INSERT INTO aphi_TARGET_METHOD (
		group_id
		,
		hos_id
		,
		copy_code
		,
		target_code
		,
		fun_para_code
		,
		method_code
		,
		formula_code
		,
		fun_code

		) select aphi_TARGET_METHOD_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.copy_code} ,
			#{item.target_code} ,
			#{item.fun_para_code} ,
			#{item.method_code} ,
			#{item.formula_code} ,
			#{item.fun_code}

		</foreach>
		)t
	</insert>

	<update id="updatePrmTargetMethod" parameterType="java.util.Map">

		UPDATE aphi_target_method SET
		method_code = #{method_code}
		,
		formula_code =
		#{formula_code}
		,
		fun_code = #{fun_code}

		WHERE
		group_id = #{group_id}
		and
		hos_id = #{hos_id}
		and
		copy_code = #{copy_code}
		and
		target_code = #{target_code}
		and
		fun_para_code = #{fun_para_code}


	</update>
	<update id="updateBatchPrmTargetMethod" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE aphi_target_method SET
			method_code =
			#{method_code}
			,
			formula_code = #{formula_code}
			,
			fun_code = #{fun_code}

			WHERE
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			target_code = #{item.target_code}
			and
			fun_para_code = #{item.fun_para_code}

		</foreach>
	</update>

	<delete id="deletePrmTargetMethod" parameterType="java.util.Map">

		DELETE FROM aphi_target_method WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		target_code = #{target_code}

	</delete>
	<delete id="deleteBatchPrmTargetMethod" parameterType="java.util.List">
		DELETE FROM aphi_target_method WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			target_code = #{item.target_code}

		</foreach>

	</delete>
	<select id="queryPrmTargetMethod" parameterType="java.util.Map"
		resultMap="prmTargetMethod">

		SELECT
		group_id,
		hos_id,
		copy_code,
		target_code,
		fun_para_code,
		method_code,
		formula_code,
		fun_code
		FROM aphi_TARGET_METHOD
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="target_code != null and target_code != ''">
				AND target_code = #{target_code}
			</if>
			<if test="fun_para_code != null and fun_para_code != ''">
				AND fun_para_code = #{fun_para_code}
			</if>
			<if test="method_code != null and method_code != ''">
				AND method_code = #{method_code}
			</if>
			<if test="formula_code != null and formula_code != ''">
				AND formula_code = #{formula_code}
			</if>
			<if test="fun_code != null and fun_code != ''">
				AND fun_code = #{fun_code}
			</if>
		</where>
		order by target_code asc
	</select>
	<select id="queryPrmTargetMethodByCode" resultType="com.chd.hrp.hpm.entity.AphiTargetMethod"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		target_code,
		method_code,
		formula_code,
		fun_code
		FROM aphi_target_method
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		target_code = #{target_code}

	</select>

	<select id="queryPrmTargetMethodNature" parameterType="java.util.Map"
		resultMap="prmTargetMethod">
		SELECT
		ptm.group_id,
		ptm.hos_id,
		ptm.copy_code,
		ptm.target_code ,
		pt.target_name ,
		pt.target_note,
		ptm.method_code ,
		ptmp.method_name,
		ptm.formula_code ,
		pfo.formula_name ,
		ptm.fun_code ,
		pfu.fun_name ,
		ptn.nature_code ,
		ptn.nature_name ,
		to_char(pfo.formula_method_chs)  formula_method_chs,
		pfo.formula_method_eng,
		pfu.fun_note ,
		pt.is_stop,
		pfu.fun_method_chs
		FROM aphi_target_method ptm
		left join aphi_target_method_para ptmp on ptm.method_code =
		ptmp.method_code and ptm.group_id = ptmp.group_id
		and ptm.hos_id = ptmp.hos_id and ptm.copy_code = ptmp.copy_code
		left join aphi_target pt on ptm.target_code= pt.target_code and
		ptm.group_id= pt.group_id
		and ptm.hos_id = pt.hos_id and ptm.copy_code = pt.copy_code
		left join aphi_target_nature ptn on pt.target_nature = ptn.nature_code and
		ptm.group_id = ptn.group_id
		and ptm.hos_id = ptn.hos_id and ptm.copy_code = ptn.copy_code
		left join aphi_formula pfo on ptm.formula_code = pfo.formula_code and
		ptm.group_id = pfo.group_id
		and ptm.hos_id = pfo.hos_id and ptm.copy_code = pfo.copy_code
		left join aphi_fun pfu on ptm.fun_code = pfu.fun_code and ptm.group_id =
		pfu.group_id
		and ptm.hos_id = pfu.hos_id and ptm.copy_code = pfu.copy_code
		<where>
			<if test="group_id != null and group_id != ''">
				AND ptm.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND ptm.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND ptm.copy_code = #{copy_code}
			</if>
			<if test="method_code != null and method_code != ''">
				AND ptm.method_code = #{method_code}
			</if>
			<if test="target_code != null and target_code != ''">
				AND ptm.target_code = #{target_code}
			</if>
			<if test="nature_code != null and nature_code != ''">
				AND ptn.nature_code = #{nature_code}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND ptm.spell_code = #{spell_code}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND ptm.wbx_code = #{wbx_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND pt.is_stop = #{is_stop}
			</if>
		</where>
		order by ptm.target_code asc

	</select>

	<select id="queryPrmTargetMethodNatureByCode" resultType="com.chd.hrp.hpm.entity.AphiTargetMethod"
		parameterType="string">

		SELECT
		ptm.group_id,
		ptm.hos_id,
		ptm.copy_code,
		ptm.target_code ,
		pt.target_name ,
		pt.target_note,
		ptm.method_code ,
		ptmp.method_name,
		ptm.formula_code ,
		pfo.formula_name ,
		ptm.fun_code ,
		pfu.fun_name ,
		ptn.nature_code ,
		ptn.nature_name ,
		to_char(pfo.formula_method_chs) formula_method_chs ,
		pfo.formula_method_eng,
		pfu.fun_note ,
		pt.is_stop,
		pfu.fun_method_chs
		FROM aphi_target_method ptm
		left join aphi_target_method_para ptmp on ptm.method_code =
		ptmp.method_code and ptm.group_id = ptmp.group_id
		and ptm.hos_id = ptmp.hos_id and ptm.copy_code = ptmp.copy_code
		left join aphi_target pt on ptm.target_code= pt.target_code and
		ptm.group_id= pt.group_id
		and ptm.hos_id = pt.hos_id and ptm.copy_code = pt.copy_code
		left join aphi_target_nature ptn on pt.target_nature = ptn.nature_code and
		ptm.group_id = ptn.group_id
		and ptm.hos_id = ptn.hos_id and ptm.copy_code = ptn.copy_code
		left join aphi_formula pfo on ptm.formula_code = pfo.formula_code and
		ptm.group_id = pfo.group_id
		and ptm.hos_id = pfo.hos_id and ptm.copy_code = pfo.copy_code
		left join aphi_fun pfu on ptm.fun_code = pfu.fun_code and ptm.group_id =
		pfu.group_id
		and ptm.hos_id = pfu.hos_id and ptm.copy_code = pfu.copy_code
		WHERE
		ptm.group_id = #{group_id} and
		ptm.hos_id = #{hos_id} and
		ptm.copy_code = #{copy_code} and
		ptm.target_code = #{target_code}

	</select>

</mapper>

