<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hpm.dao.AphiFunParaMapper">
	
	<resultMap id="prmFunPara" type="com.chd.hrp.hpm.entity.AphiFunPara">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="fun_code" column="fun_code"/>
		<result property="para_code" column="para_code"/>
		<result property="para_name" column="para_name"/>
		<result property="stack_seq_no" column="stack_seq_no"/>
		<result property="com_type_code" column="com_type_code"/>
		<result property="com_type_name" column="com_type_name"/>
        <result property="para_sql" column="para_sql"/>
        <result property="com_type_nature" column="com_type_nature"/>
        <result property="fun_para_value" column="fun_para_value"/>
        <result property="target_code" column="target_code"/>
	</resultMap>
	
	<insert id="addPrmFunPara" useGeneratedKeys="true" >
	
		INSERT INTO aphi_FUN_PARA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		fun_code
		,
		para_code
		,
		para_name
		,
		stack_seq_no
		,
		com_type_code
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{fun_code}		,
#{para_code}		,
#{para_name}		,
#{stack_seq_no}		,
#{com_type_code}		
		)
	
	</insert>
	<insert id="addBatchPrmFunPara" parameterType="java.util.List" >
	
		INSERT INTO aphi_FUN_PARA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		fun_code
		,
		para_code
		,
		para_name
		,
		stack_seq_no
		,
		com_type_code
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.group_id}			,
#{item.hos_id}			,
#{item.copy_code}			,
#{item.fun_code}			,
#{item.para_code}			,
#{item.para_name}			,
#{item.stack_seq_no}			,
#{item.com_type_code}			
		from dual
		</foreach>
		)t
	</insert>
	
	<update id="updatePrmFunPara" parameterType="java.util.Map">
	
		UPDATE aphi_fun_para SET
		para_name = #{para_name}
		,
		stack_seq_no = #{stack_seq_no}
		,
		com_type_code = #{com_type_code}
		
		WHERE 
		group_id = #{group_id}
		 and 
		hos_id = #{hos_id}
		 and 
		copy_code = #{copy_code}
		 and 
		fun_code = #{fun_code}
		 and 
		para_code = #{para_code}
		
	
	</update>
	<update id="updateBatchPrmFunPara" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE aphi_fun_para SET
			para_name = #{para_name}
			,
			stack_seq_no = #{stack_seq_no}
			,
			com_type_code = #{com_type_code}
			
			WHERE 
			group_id = #{item.group_id}
			 and 
			hos_id = #{item.hos_id}
			 and 
			copy_code = #{item.copy_code}
			 and 
			fun_code = #{item.fun_code}
			 and 
			para_code = #{item.para_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmFunPara" parameterType="java.util.Map">
	
		DELETE FROM aphi_fun_para WHERE
		<if test="group_id != null and group_id != ''">
		 group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="fun_code != null and fun_code != ''">
		AND fun_code = #{fun_code}
		</if>
		<if test="para_code != null and para_code != ''">
		AND para_code = #{para_code}
		</if>
	
	</delete>
	<delete id="deleteBatchPrmFunPara" parameterType="java.util.List">
		DELETE FROM aphi_fun_para WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code}
				</if>
				<if test="item.fun_code != null and item.fun_code != ''">
				AND fun_code = #{item.fun_code}
				</if>
				<if test="item.para_code != null and item.para_code != ''">
				AND para_code = #{item.para_code}
				</if>
			</foreach>
	</delete>
	
	
	<select id="queryPrmFunParaByFunCode" parameterType="java.util.Map" resultMap="prmFunPara" >
	
		SELECT 
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.fun_code,
		a.para_code,
		a.para_code||' '||para_name para_name,
		a.stack_seq_no,
		a.com_type_code,
		a.com_type_code||' '||b.com_type_name com_type_name
		FROM aphi_FUN_PARA a
		left join aphi_com_type b on
		a.com_type_code = b.com_type_code
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code}
		</if>
		<if test="fun_code != null and fun_code != ''">
		AND a.fun_code = #{fun_code}
		</if>
		<if test="para_code != null and para_code != ''">
		AND a.para_code = #{para_code}
		</if>
		<if test="para_name != null and para_name != ''">
		AND a.para_name = #{para_name}
		</if>
		<if test="stack_seq_no != null and stack_seq_no != ''">
		AND a.stack_seq_no = #{stack_seq_no}
		</if>
		<if test="com_type_code != null and com_type_code != ''">
		AND a.com_type_code = #{com_type_code}
		</if>
		</where>   
		order by a.stack_seq_no asc
	</select>
	
	
	<select id="queryPrmFunPara" parameterType="java.util.Map" resultMap="prmFunPara" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		fun_code,
		para_code,
		para_name,
		stack_seq_no,
		com_type_code
		FROM aphi_FUN_PARA 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="fun_code != null and fun_code != ''">
		AND fun_code = #{fun_code}
		</if>
		<if test="para_code != null and para_code != ''">
		AND para_code = #{para_code}
		</if>
		<if test="para_name != null and para_name != ''">
		AND para_name = #{para_name}
		</if>
		<if test="stack_seq_no != null and stack_seq_no != ''">
		AND stack_seq_no = #{stack_seq_no}
		</if>
		<if test="com_type_code != null and com_type_code != ''">
		AND com_type_code = #{com_type_code}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryPrmFunParaByCode" resultType="com.chd.hrp.prm.entity.PrmFunPara" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		fun_code,
		para_code,
		para_name,
		stack_seq_no,
		com_type_code
		FROM aphi_fun_para 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		fun_code = #{fun_code}   and 
		para_code = #{para_code} 
	
	</select>

<select id="queryComTypePara" parameterType="java.util.Map" resultMap="prmFunPara" >
 	select pfp.para_code       as para_code,
       pfp.para_name       as para_name,
       pct.com_type_nature as com_type_nature,
       pct.com_type_code   as com_type_code,
       pct.com_type_name   as com_type_name,
       pfpm.para_sql,
       t.fun_para_value,
       t.target_code
  from aphi_fun_para pfp
  left join (select ptm.group_id,
                    ptm.hos_id,
                    ptm.copy_code,
                    ptm.fun_code,
                    ptm.target_code,
                    pfs.fun_para_code,
                    pfs.fun_para_value
               from aphi_target_method ptm
               left join aphi_fun_stack pfs
                 on ptm.group_id = pfs.group_id
                and ptm.hos_id = pfs.hos_id
                and ptm.copy_code = pfs.copy_code
                and ptm.target_code = pfs.target_code
                <if test="target_code != null and target_code != ''">
	                    AND ptm.target_code = #{target_code}
	            </if>
             ) t
    on pfp.group_id = t.group_id
   and pfp.hos_id = t.hos_id
   and pfp.copy_code = t.copy_code
   and pfp.fun_code = t.fun_code
   and pfp.para_code = t.fun_para_code

  left join aphi_fun_para_method pfpm
    on pfp.group_id = pfpm.group_id
   and pfp.hos_id = pfpm.hos_id
   and pfp.copy_code = pfpm.copy_code
   and pfp.para_code = pfpm.para_code

  left join aphi_com_type pct
    on pfp.com_type_code = pct.com_type_code
            <where>                     
			  <if test="group_id != null and group_id != ''">
                    AND pfp.group_id = #{group_id}
               </if>
               <if test="hos_id != null and hos_id != ''">
                    AND pfp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND pfp.copy_code = #{copy_code}
               </if>
			    <if test="fun_code != null and fun_code != ''">
                    AND pfp.fun_code = #{fun_code}
               </if>
			    <if test="para_code != null and para_code != ''">
                    AND pfp.para_code = #{para_code}
               </if>
			    <if test="para_name != null and para_name != ''">
                    AND pfp.para_name = #{para_name}
               </if>
			    <if test="stack_seq_no != null and stack_seq_no != ''">
                    AND pfp.stack_seq_no = #{stack_seq_no}
               </if>
			    <if test="com_type_code != null and com_type_code != ''">
                    AND pfp.com_type_code = #{com_type_code}
               </if>
               <!-- 
	               <if test="target_code != null and target_code != ''">
	                    AND t.target_code = #{target_code}
	               </if>
                -->
        </where>   
				order by pfp.stack_seq_no asc
    </select>
    
    <select id="queryComTypeParaByDept" parameterType="java.util.Map" resultMap="prmFunPara" >
 	select pfp.para_code       as para_code,
       pfp.para_name       as para_name,
       pct.com_type_nature as com_type_nature,
       pct.com_type_code   as com_type_code,
       pct.com_type_name   as com_type_name,
       pfpm.para_sql,
       t.fun_para_value
  from aphi_fun_para pfp
  left join (select ptm.group_id,
                     ptm.hos_id,
                     ptm.copy_code,
                     ptm.fun_code,
                     pfs.fun_para_code,
                     pfs.fun_para_value
               from aphi_DEPT_SCHEME ptm
               left join aphi_dept_fun_stack pfs
                 on ptm.group_id = pfs.group_id
                and ptm.hos_id = pfs.hos_id
                and ptm.copy_code = pfs.copy_code
                and ptm.acc_year = pfs.acc_year
                and ptm.acc_month = pfs.acc_month
                and ptm.goal_code = pfs.goal_code
                and ptm.kpi_code = pfs.kpi_code
                and ptm.dept_id = pfs.dept_id
                <if test="acc_year != null and acc_year != ''">
	                    AND ptm.acc_year = #{acc_year}
	            </if>
	            <if test="acc_month != null and acc_month != ''">
	                    AND ptm.acc_month = #{acc_month}
	            </if>
	            <if test="goal_code != null and goal_code != ''">
	                    AND ptm.goal_code = #{goal_code}
	            </if>
	            <if test="kpi_code != null and kpi_code != ''">
	                    AND ptm.kpi_code = #{kpi_code}
	            </if>
	             <if test="dept_id != null and dept_id != ''">
	                    AND ptm.dept_id = #{dept_id}
	            </if>
             ) t
    on pfp.group_id = t.group_id
   and pfp.hos_id = t.hos_id
   and pfp.copy_code = t.copy_code
   and pfp.fun_code = t.fun_code
   and pfp.para_code = t.fun_para_code

  left join aphi_fun_para_method pfpm
    on pfp.group_id = pfpm.group_id
   and pfp.hos_id = pfpm.hos_id
   and pfp.copy_code = pfpm.copy_code
   and pfp.para_code = pfpm.para_code

  left join aphi_com_type pct
    on pfp.com_type_code = pct.com_type_code
            <where>                     
			  <if test="group_id != null and group_id != ''">
                    AND pfp.group_id = #{group_id}
               </if>
               <if test="hos_id != null and hos_id != ''">
                    AND pfp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND pfp.copy_code = #{copy_code}
               </if>
			    <if test="fun_code != null and fun_code != ''">
                    AND pfp.fun_code = #{fun_code}
               </if>
			    <if test="para_code != null and para_code != ''">
                    AND pfp.para_code = #{para_code}
               </if>
			    <if test="para_name != null and para_name != ''">
                    AND pfp.para_name = #{para_name}
               </if>
			    <if test="stack_seq_no != null and stack_seq_no != ''">
                    AND pfp.stack_seq_no = #{stack_seq_no}
               </if>
			    <if test="com_type_code != null and com_type_code != ''">
                    AND pfp.com_type_code = #{com_type_code}
               </if>
               <!-- 
	               <if test="target_code != null and target_code != ''">
	                    AND t.target_code = #{target_code}
	               </if>
                -->
        </where>   
				order by pfp.stack_seq_no asc
    </select>
    
    <select id="queryComTypeParaByEmp" parameterType="java.util.Map" resultMap="prmFunPara" >
 	select pfp.para_code       as para_code,
       pfp.para_name       as para_name,
       pct.com_type_nature as com_type_nature,
       pct.com_type_code   as com_type_code,
       pct.com_type_name   as com_type_name,
       pfpm.para_sql,
       t.fun_para_value
  from aphi_fun_para pfp
  left join (select ptm.group_id,
                     ptm.hos_id,
                     ptm.copy_code,
                     ptm.fun_code,
                     pfs.fun_para_code,
                     pfs.fun_para_value
               from aphi_EMP_SCHEME ptm
               left join aphi_emp_fun_stack pfs
                 on ptm.group_id = pfs.group_id
                and ptm.hos_id = pfs.hos_id
                and ptm.copy_code = pfs.copy_code
                and ptm.acc_year = pfs.acc_year
                and ptm.acc_month = pfs.acc_month
                and ptm.goal_code = pfs.goal_code
                and ptm.kpi_code = pfs.kpi_code
                and ptm.emp_id = pfs.emp_id
                <if test="acc_year != null and acc_year != ''">
	                    AND ptm.acc_year = #{acc_year}
	            </if>
	            <if test="acc_month != null and acc_month != ''">
	                    AND ptm.acc_month = #{acc_month}
	            </if>
	            <if test="goal_code != null and goal_code != ''">
	                    AND ptm.goal_code = #{goal_code}
	            </if>
	            <if test="kpi_code != null and kpi_code != ''">
	                    AND ptm.kpi_code = #{kpi_code}
	            </if>
	             <if test="emp_id != null and emp_id != ''">
	                    AND ptm.emp_id = #{emp_id}
	            </if>
             ) t
    on pfp.group_id = t.group_id
   and pfp.hos_id = t.hos_id
   and pfp.copy_code = t.copy_code
   and pfp.fun_code = t.fun_code
   and pfp.para_code = t.fun_para_code

  left join aphi_fun_para_method pfpm
    on pfp.group_id = pfpm.group_id
   and pfp.hos_id = pfpm.hos_id
   and pfp.copy_code = pfpm.copy_code
   and pfp.para_code = pfpm.para_code

  left join aphi_com_type pct
    on  pfp.com_type_code = pct.com_type_code
            <where>                     
			  <if test="group_id != null and group_id != ''">
                    AND pfp.group_id = #{group_id}
               </if>
               <if test="hos_id != null and hos_id != ''">
                    AND pfp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND pfp.copy_code = #{copy_code}
               </if>
			    <if test="fun_code != null and fun_code != ''">
                    AND pfp.fun_code = #{fun_code}
               </if>
			    <if test="para_code != null and para_code != ''">
                    AND pfp.para_code = #{para_code}
               </if>
			    <if test="para_name != null and para_name != ''">
                    AND pfp.para_name = #{para_name}
               </if>
			    <if test="stack_seq_no != null and stack_seq_no != ''">
                    AND pfp.stack_seq_no = #{stack_seq_no}
               </if>
			    <if test="com_type_code != null and com_type_code != ''">
                    AND pfp.com_type_code = #{com_type_code}
               </if>
               <!-- 
	               <if test="target_code != null and target_code != ''">
	                    AND t.target_code = #{target_code}
	               </if>
                -->
        </where>   
				order by pfp.stack_seq_no asc
    </select>
    
    <select id="queryComTypeParaByHos" parameterType="java.util.Map" resultMap="prmFunPara" >
 	select pfp.para_code       as para_code,
       pfp.para_name       as para_name,
       pct.com_type_nature as com_type_nature,
       pct.com_type_code   as com_type_code,
       pct.com_type_name   as com_type_name,
       pfpm.para_sql,
       t.fun_para_value
  from aphi_fun_para pfp
  left join (select ptm.group_id,
                     ptm.hos_id,
                     ptm.copy_code,
                     ptm.fun_code,
                     pfs.fun_para_code,
                     pfs.fun_para_value
               from aphi_HOS_SCHEME ptm
               left join aphi_hos_fun_stack pfs
                 on ptm.group_id = pfs.group_id
                and ptm.hos_id = pfs.hos_id
                and ptm.copy_code = pfs.copy_code
                and ptm.acc_year = pfs.acc_year
                and ptm.acc_month = pfs.acc_month
                and ptm.goal_code = pfs.goal_code
                and ptm.kpi_code = pfs.kpi_code
                and ptm.check_hos_id = pfs.check_hos_id
                <if test="acc_year != null and acc_year != ''">
	                    AND ptm.acc_year = #{acc_year}
	            </if>
	            <if test="acc_month != null and acc_month != ''">
	                    AND ptm.acc_month = #{acc_month}
	            </if>
	            <if test="goal_code != null and goal_code != ''">
	                    AND ptm.goal_code = #{goal_code}
	            </if>
	            <if test="kpi_code != null and kpi_code != ''">
	                    AND ptm.kpi_code = #{kpi_code}
	            </if>
	             <if test="check_hos_id != null and check_hos_id != ''">
	                    AND ptm.check_hos_id = #{check_hos_id}
	            </if>
             ) t
    on pfp.group_id = t.group_id
   and pfp.hos_id = t.hos_id
   and pfp.copy_code = t.copy_code
   and pfp.fun_code = t.fun_code
   and pfp.para_code = t.fun_para_code

  left join aphi_fun_para_method pfpm
    on pfp.group_id = pfpm.group_id
   and pfp.hos_id = pfpm.hos_id
   and pfp.copy_code = pfpm.copy_code
   and pfp.para_code = pfpm.para_code

  left join aphi_com_type pct
    on pfp.com_type_code = pct.com_type_code
            <where>                     
			  <if test="group_id != null and group_id != ''">
                    AND pfp.group_id = #{group_id}
               </if>
               <if test="hos_id != null and hos_id != ''">
                    AND pfp.hos_id = #{hos_id}
               </if>
			    <if test="copy_code != null and copy_code != ''">
                    AND pfp.copy_code = #{copy_code}
               </if>
			    <if test="fun_code != null and fun_code != ''">
                    AND pfp.fun_code = #{fun_code}
               </if>
			    <if test="para_code != null and para_code != ''">
                    AND pfp.para_code = #{para_code}
               </if>
			    <if test="para_name != null and para_name != ''">
                    AND pfp.para_name = #{para_name}
               </if>
			    <if test="stack_seq_no != null and stack_seq_no != ''">
                    AND pfp.stack_seq_no = #{stack_seq_no}
               </if>
			    <if test="com_type_code != null and com_type_code != ''">
                    AND pfp.com_type_code = #{com_type_code}
               </if>
               <!-- 
	               <if test="target_code != null and target_code != ''">
	                    AND t.target_code = #{target_code}
	               </if>
                -->
        </where>   
				order by pfp.stack_seq_no asc
    </select>
</mapper>

