<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipAssTypeRefMapper">

	<resultMap id="hipAssTypeRef" type="com.chd.hrp.hip.entity.HipAssTypeRef">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="ds_code" column="ds_code" />
		<result property="copy_code" column="copy_code" />
		<result property="hip_ass_type_code" column="hip_ass_type_code" />
		<result property="hrp_ass_type_code" column="hrp_ass_type_code" />
		
		<result property="hip_ass_type_name" column="hip_ass_type_name" />
		<result property="hrp_ass_type_name" column="hrp_ass_type_name" />
		<result property="ds_name" column="ds_name" />
		
	</resultMap>


	<insert id="addHipAssTypeRef">

insert into hip_ass_type_ref
  (group_id, hos_id, ds_code,copy_code, hip_ass_type_code, hrp_ass_type_code)
values(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{ds_code,jdbcType=VARCHAR},
			#{copy_code,jdbcType=VARCHAR},
			#{hip_ass_type_code,jdbcType=VARCHAR},
			#{hrp_ass_type_code,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteHipAssTypeRef">
		
		delete hip_ass_type_ref
		
 		<where> 
 		
	 		group_id = #{group_id} and hos_id = #{hos_id}
	 		
	 		<if test="ds_code != null and ds_code != ''">
					and ds_code = #{ds_code}
			</if>
			<if test="copy_code != null and copy_code != ''">
					and copy_code = #{copy_code}
			</if>
			<if test="hip_ass_type_code != null and hip_ass_type_code != ''">
					and hip_ass_type_code = #{hip_ass_type_code}
			</if>
			<if test="hrp_ass_type_code != null and hrp_ass_type_code != ''">
					and hrp_ass_type_code = #{hrp_ass_type_code}
			</if>
 		
 		</where>

	</delete>
	
	<delete id="deleteBatchHipAssTypeRef" parameterType="java.util.List">
	
		delete FROM hip_ass_type_ref WHERE
		
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			
				group_id = #{item.group_id}
				
				and hos_id = #{item.hos_id}
				
				and ds_code = #{item.ds_code}
				
				and copy_code = #{item.copy_code}
				
				and hip_ass_type_code = #{item.hip_ass_type_code}
				
				and hrp_ass_type_code = #{item.hrp_ass_type_code}
				 
			</foreach>
	
	</delete>
	
	<select id="queryHipAssTypeRefByCode" parameterType="java.util.Map" resultMap="hipAssTypeRef">

select hdr.group_id, hdr.hos_id, hdr.ds_code,hdr.copy_code, hdr.hip_ass_type_code, hdr.hrp_ass_type_code,hdc.ds_name,hip.ass_type_name as hip_ass_type_name,hip.ass_type_name as hrp_ass_type_name from hip_ass_type_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code
left join hip_ass_type_dict hip on  hdr.hip_ass_type_code = hip.ass_type_code and hdr.group_id = hip.group_id and hdr.hos_id=hip.hos_id and hdr.copy_code=hip.copy_code
left join ass_type_dict hrp on hdr.hrp_ass_type_code = hrp.ass_type_code  and hdr.group_id = hrp.group_id and hdr.hos_id=hrp.hos_id and hdr.copy_code=hrp.copy_code

		<where> 
 		
	 		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
					and hdr.ds_code = #{ds_code}
			</if>
			<if test="copy_code != null and copy_code != ''">
					and hdr.copy_code = #{copy_code}
			</if>
			<if test="hip_ass_type_code != null and hip_ass_type_code != ''">
					and hdr.hip_ass_type_code = #{hip_ass_type_code}
			</if>
			<if test="hrp_ass_type_code != null and hrp_ass_type_code != ''">
					and hdr.hrp_ass_type_code = #{hrp_ass_type_code}
			</if>
 		
 		</where>
	
		order by hdr.ds_code
	</select>
	
	<select id="queryHipAssTypeRef" parameterType="java.util.Map" resultMap="hipAssTypeRef">

select hdr.group_id, hdr.hos_id, hdr.ds_code,hdr.copy_code, hdr.hip_ass_type_code, hdr.hrp_ass_type_code,hdc.ds_name,hip.ass_type_name as hip_ass_type_name,hip.ass_type_name as hrp_ass_type_name from hip_ass_type_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code
left join hip_ass_type_dict hip on  hdr.hip_ass_type_code = hip.ass_type_code and hdr.group_id = hip.group_id and hdr.hos_id=hip.hos_id and hdr.copy_code=hip.copy_code
left join ass_type_dict hrp on hdr.hrp_ass_type_code = hrp.ass_type_code  and hdr.group_id = hrp.group_id and hdr.hos_id=hrp.hos_id and hdr.copy_code=hrp.copy_code

		<where>

		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
			
					and hdr.ds_code = #{ds_code}
					
			</if>
			
			<if test="copy_code != null and copy_code != ''">
			
					and hdr.copy_code = #{copy_code}
					
			</if>
			
			<if test="hip_ass_type_code != null and hip_ass_type_code != ''">
			
					and hdr.hip_ass_type_code = #{hip_ass_type_code}
					
			</if>
			
			<if test="hrp_ass_type_code != null and hrp_ass_type_code != ''">
			
					and hdr.hrp_ass_type_code = #{hrp_ass_type_code}
					
			</if>
		
			<if test="ds_code_search != null and ds_code_search != ''">
		
				hdr.ds_code like '%${ds_code_search}%'
				
			</if>

		</where>

		order by hdr.ds_code
	</select>


</mapper>

