<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipChargeKindRefMapper">

	<resultMap id="hipChargeKindRef" type="com.chd.hrp.hip.entity.HipChargeKindRef">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="ds_code" column="ds_code" />
		<result property="copy_code" column="copy_code" />
		<result property="hip_charge_kind_code" column="hip_charge_kind_code" />
		<result property="hrp_charge_kind_code" column="hrp_charge_kind_code" />
		
		<result property="hip_charge_kind_name" column="hip_charge_kind_name" />
		<result property="hrp_charge_kind_name" column="hrp_charge_kind_name" />
		<result property="ds_name" column="ds_name" />
		
	</resultMap>


	<insert id="addHipChargeKindRef">

insert into hip_charge_kind_ref
  (group_id, hos_id, ds_code,copy_code, hip_charge_kind_code, hrp_charge_kind_code)
values(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{ds_code,jdbcType=VARCHAR},
			#{copy_code,jdbcType=VARCHAR},
			#{hip_charge_kind_code,jdbcType=VARCHAR},
			#{hrp_charge_kind_code,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteHipChargeKindRef">
		
		delete hip_charge_kind_ref
		
 		<where> 
 		
	 		group_id = #{group_id} and hos_id = #{hos_id}
	 		
	 		<if test="ds_code != null and ds_code != ''">
					and ds_code = #{ds_code}
			</if>
			<if test="copy_code != null and copy_code != ''">
					and copy_code = #{copy_code}
			</if>
			<if test="hip_charge_kind_code != null and hip_charge_kind_code != ''">
					and hip_charge_kind_code = #{hip_charge_kind_code}
			</if>
			<if test="hrp_charge_kind_code != null and hrp_charge_kind_code != ''">
					and hrp_charge_kind_code = #{hrp_charge_kind_code}
			</if>
 		
 		</where>

	</delete>
	
	<delete id="deleteBatchHipChargeKindRef" parameterType="java.util.List">
	
		delete FROM hip_charge_kind_ref WHERE
		
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			
				group_id = #{item.group_id}
				
				and hos_id = #{item.hos_id}
				
				and ds_code = #{item.ds_code}
				
				and copy_code = #{item.copy_code}
				
				and hip_charge_kind_code = #{item.hip_charge_kind_code}
				
				and hrp_charge_kind_code = #{item.hrp_charge_kind_code}
				 
			</foreach>
	
	</delete>
	
	<select id="queryHipChargeKindRefByCode" parameterType="java.util.Map" resultMap="hipChargeKindRef">

select hdr.group_id, hdr.hos_id, hdr.ds_code,hdr.copy_code, hdr.hip_charge_kind_code, hdr.hrp_charge_kind_code,hdc.ds_name,hckd.charge_kind_name as hip_charge_kind_name ,ccka.charge_kind_name as hrp_charge_kind_name from hip_charge_kind_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code
left join hip_charge_kind_dict hckd on hdr.hip_charge_kind_code = hckd.charge_kind_code and hdr.group_id = hckd.group_id and hdr.hos_id=hckd.hos_id and hdr.copy_code=hckd.copy_code
left join cost_charge_kind_arrt ccka on hdr.hrp_charge_kind_code = ccka.charge_kind_code and hdr.group_id = ccka.group_id and hdr.hos_id=ccka.hos_id and hdr.copy_code=ccka.copy_code


		<where> 
 		
	 		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
					and hdr.ds_code = #{ds_code}
			</if>
			<if test="copy_code != null and copy_code != ''">
					and hdr.copy_code = #{copy_code}
			</if>
			<if test="hip_charge_kind_code != null and hip_charge_kind_code != ''">
					and hdr.hip_charge_kind_code = #{hip_charge_kind_code}
			</if>
			<if test="hrp_charge_kind_code != null and hrp_charge_kind_code != ''">
					and hdr.hrp_charge_kind_code = #{hrp_charge_kind_code}
			</if>
 		
 		</where>
	
		order by hdr.ds_code
	</select>
	
	<select id="queryHipChargeKindRef" parameterType="java.util.Map" resultMap="hipChargeKindRef">

select hdr.group_id, hdr.hos_id, hdr.ds_code,hdr.copy_code, hdr.hip_charge_kind_code, hdr.hrp_charge_kind_code,hdc.ds_name,hckd.charge_kind_name as hip_charge_kind_name ,ccka.charge_kind_name as hrp_charge_kind_name from hip_charge_kind_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code
left join hip_charge_kind_dict hckd on hdr.hip_charge_kind_code = hckd.charge_kind_code and hdr.group_id = hckd.group_id and hdr.hos_id=hckd.hos_id and hdr.copy_code=hckd.copy_code
left join cost_charge_kind_arrt ccka on hdr.hrp_charge_kind_code = ccka.charge_kind_code and hdr.group_id = ccka.group_id and hdr.hos_id=ccka.hos_id and hdr.copy_code=ccka.copy_code

		<where>

		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
			
					and hdr.ds_code = #{ds_code}
					
			</if>
			
			<if test="copy_code != null and copy_code != ''">
			
					and hdr.copy_code = #{copy_code}
					
			</if>
			
			<if test="hip_charge_kind_code != null and hip_charge_kind_code != ''">
			
					and hdr.hip_charge_kind_code = #{hip_charge_kind_code}
					
			</if>
			
			<if test="hrp_charge_kind_code != null and hrp_charge_kind_code != ''">
			
					and hdr.hrp_charge_kind_code = #{hrp_charge_kind_code}
					
			</if>
		
			<if test="ds_code_search != null and ds_code_search != ''">
		
				hdr.ds_code like '%${ds_code_search}%'
				
			</if>

		</where>

		order by hdr.ds_code
	</select>


</mapper>

