<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipDsCofMapper">

	<resultMap id="hipDsCof" type="com.chd.hrp.hip.entity.HipDsCof">
		<result property="ds_code" column="ds_code" />
		<result property="ds_name" column="ds_name" />
		<result property="ds_note" column="ds_note" />
		<result property="db_user" column="db_user" />
		<result property="db_psw" column="db_psw" />
		<result property="url_str" column="url_str" />
	</resultMap>


	<insert id="addHipDsCof">

insert into hip_ds_cof
  (ds_code, ds_name, ds_note, db_user, db_psw, url_str)
values(
			#{ds_code,jdbcType=VARCHAR},
			#{ds_name,jdbcType=VARCHAR},
			#{ds_note,jdbcType=VARCHAR},
			#{db_user,jdbcType=VARCHAR},
			#{db_psw,jdbcType=VARCHAR},
			#{url_str,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteHipDsCof">
		
		delete hip_ds_cof
		
 		where 
 		
 		ds_code =  #{ds_code,jdbcType=VARCHAR} 

	</delete>
	
	<delete id="updateHipDsCof">
		
		update hip_ds_cof set 
		
		ds_name = #{ds_name,jdbcType=VARCHAR},
		
		ds_note = #{ds_note,jdbcType=VARCHAR},
		
		db_user = #{db_user,jdbcType=VARCHAR},
		
		db_psw = #{db_psw,jdbcType=VARCHAR},
		
		url_str = #{url_str,jdbcType=VARCHAR}
       
 		where
 		
 		ds_code =  #{ds_code,jdbcType=VARCHAR}

	</delete>
	
	<select id="queryHipDsCofByCode" parameterType="java.util.Map" resultMap="hipDsCof">

select  ds_code, ds_name, ds_note, db_user, db_psw, url_str from hip_ds_cof

		where 
		
		ds_code = #{ds_code}
	
		order by ds_code
	</select>
	
	<select id="queryHipDsCof" parameterType="java.util.Map" resultMap="hipDsCof">

select  ds_code, ds_name, ds_note, db_user, db_psw, url_str from hip_ds_cof

		<where>
		<if test="ds_code != null and ds_code != ''">
		
				ds_code = #{ds_code}
				
		</if>
		
		<if test="ds_code_search != null and ds_code_search != ''">
		
				ds_code like '%${ds_code_search}%'
				
		</if>

		</where>

		order by ds_code
	</select>


</mapper>

