<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipDblinkMapper">

	<resultMap id="HipDblink" type="com.chd.hrp.hip.entity.HipDblink">
		<result property="dblink_code" column="dblink_code" />
		<result property="dblink_name" column="dblink_name" />
		<result property="dblink_note" column="dblink_note" />
		<result property="db_user" column="db_user" />
		<result property="db_psw" column="db_psw" />
		<result property="url_str" column="url_str" />
	</resultMap>

	<insert id="addHipDblink">

insert into hip_dblink_cof
  (dblink_code, dblink_name, dblink_note, db_user, db_psw, url_str)
values(
			#{dblink_code,jdbcType=VARCHAR},
			#{dblink_name,jdbcType=VARCHAR},
			#{dblink_note,jdbcType=VARCHAR},
			#{db_user,jdbcType=VARCHAR},
			#{db_psw,jdbcType=VARCHAR},
			#{url_str,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteHipDblink">
		
		delete hip_dblink_cof
		
 		where 
 		
 		dblink_code =  #{dblink_code,jdbcType=VARCHAR} 

	</delete>
	
	<delete id="updateHipDblink">
		
		update hip_dblink_cof set 
		
		dblink_name = #{dblink_name,jdbcType=VARCHAR},
		
		dblink_note = #{dblink_note,jdbcType=VARCHAR},
		
		db_user = #{db_user,jdbcType=VARCHAR},
		
		db_psw = #{db_psw,jdbcType=VARCHAR},
		
		url_str = #{url_str,jdbcType=VARCHAR}
       
 		where
 		
 		dblink_code =  #{dblink_code,jdbcType=VARCHAR}

	</delete>
	
	<select id="queryHipDblinkByCode" parameterType="java.util.Map" resultMap="HipDblink">

select  dblink_code, dblink_name, dblink_note, db_user, db_psw, url_str from hip_dblink_cof

		where 
		
		dblink_code = #{dblink_code}
	
		order by dblink_code
	</select>
	
	<select id="queryHipDblink" parameterType="java.util.Map" resultMap="HipDblink">

select  dblink_code, dblink_name, dblink_note, db_user, db_psw, url_str from hip_dblink_cof

		<where>
		<if test="dblink_code != null and dblink_code != ''">
		
				dblink_code = #{dblink_code}
				
		</if>
		
		<if test="dblink_code_search != null and dblink_code_search != ''">
		
				dblink_code like '%${dblink_code_search}%'
				
		</if>

		</where>

		order by dblink_code
	</select>


</mapper>

