<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipMedRefMapper">

	<resultMap id="hipMedRef" type="com.chd.hrp.hip.entity.HipMedRef">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="ds_code" column="ds_code" />
		<result property="copy_code" column="copy_code" />
		<result property="hip_med_code" column="hip_med_code" />
		<result property="hrp_med_code" column="hrp_med_code" />
		<result property="hip_med_name" column="hip_med_name" />
		<result property="hrp_med_name" column="hrp_med_name" />		
		<result property="ds_name" column="ds_name" />
		
	</resultMap>


	<insert id="addHipMedRef">

insert into hip_med_ref
  (group_id, hos_id, ds_code,copy_code, hip_med_code, hrp_med_code)
values(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{ds_code,jdbcType=VARCHAR},
			#{copy_code,jdbcType=VARCHAR},
			#{hip_med_code,jdbcType=VARCHAR},
			#{hrp_med_code,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteHipMedRef">
		
		delete hip_med_ref
		
 		<where> 
 		
	 		group_id = #{group_id} and hos_id = #{hos_id}
	 		
	 		<if test="ds_code != null and ds_code != ''">
					and ds_code = #{ds_code}
			</if>
			<if test="copy_code != null and copy_code != ''">
					and copy_code = #{copy_code}
			</if>
			<if test="hip_med_code != null and hip_med_code != ''">
					and hip_med_code = #{hip_med_code}
			</if>
			<if test="hrp_med_code != null and hrp_med_code != ''">
					and hrp_med_code = #{hrp_med_code}
			</if>
 		
 		</where>

	</delete>
	
	<delete id="deleteBatchHipMedRef" parameterType="java.util.List">
	
		delete FROM hip_med_ref WHERE
		
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			
				group_id = #{item.group_id}
				
				and hos_id = #{item.hos_id}
				
				and ds_code = #{item.ds_code}
				
				and copy_code = #{item.copy_code}
				
				and hip_med_code = #{item.hip_med_code}
				
				and hrp_med_code = #{item.hrp_med_code}
				 
			</foreach>
	
	</delete>
	
	<select id="queryHipMedRefByCode" parameterType="java.util.Map" resultMap="hipMedRef">

select hdr.group_id, hdr.hos_id, hdr.ds_code,hdr.copy_code, hdr.hip_med_code, hdr.hrp_med_code,hdc.ds_name from hip_med_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code

		<where> 
 		
	 		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
					and hdr.ds_code = #{ds_code}
			</if>
			<if test="copy_code != null and copy_code != ''">
					and hdr.copy_code = #{copy_code}
			</if>
			<if test="hip_med_code != null and hip_med_code != ''">
					and hdr.hip_med_code = #{hip_med_code}
			</if>
			<if test="hrp_med_code != null and hrp_med_code != ''">
					and hdr.hrp_med_code = #{hrp_med_code}
			</if>
 		
 		</where>
	
		order by hdr.ds_code
	</select>
	
	<select id="queryHipMedRef" parameterType="java.util.Map" resultMap="hipMedRef">

select hdr.group_id, hdr.hos_id, hdr.ds_code,hdr.copy_code, hdr.hip_med_code, hdr.hrp_med_code,hdc.ds_name from hip_med_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code

		<where>

		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
			
					and hdr.ds_code = #{ds_code}
					
			</if>
			
			<if test="copy_code != null and copy_code != ''">
			
					and hdr.copy_code = #{copy_code}
					
			</if>
			
			<if test="hip_med_code != null and hip_med_code != ''">
			
					and hdr.hip_med_code = #{hip_med_code}
					
			</if>
			
			<if test="hrp_med_code != null and hrp_med_code != ''">
			
					and hdr.hrp_med_code = #{hrp_med_code}
					
			</if>
		
			<if test="ds_code_search != null and ds_code_search != ''">
		
				hdr.ds_code like '%${ds_code_search}%'
				
			</if>

		</where>

		order by hdr.ds_code
	</select>


</mapper>

