<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipRefHrpSourceMapper">

	<resultMap id="hipRefHrpSource" type="com.chd.hrp.hip.entity.HipRefHrpSource">
		<result property="mod_code" column="mod_code" />
		<result property="hip_view_code" column="hip_view_code" />
		<result property="hrp_view_code" column="hrp_view_code" />
		<result property="hrp_view_name" column="hrp_view_name" />
		<result property="dfd_flag" column="dfd_flag" />
		
		<result property="mod_name" column="mod_name" />
		<result property="hrp_view_name" column="hrp_view_name" />
	</resultMap>


	<insert id="addHipRefHrpSource">

insert into hip_ref_hrp_source
  (mod_code, hip_view_code, hrp_view_code, hrp_view_name, dfd_flag)
values(
			#{mod_code,jdbcType=VARCHAR},
			#{hip_view_code,jdbcType=VARCHAR},
			#{hrp_view_code,jdbcType=VARCHAR},
			#{hrp_view_name,jdbcType=VARCHAR},
			#{dfd_flag,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteHipRefHrpSource">
		
		delete hip_ref_hrp_source
		
 		where 
 		
 		mod_code =  #{mod_code,jdbcType=VARCHAR} 
 		
   		and hip_view_code = #{hip_view_code,jdbcType=VARCHAR}
   		
   		and hrp_view_code = #{hrp_view_code,jdbcType=VARCHAR}

	</delete>
	
	<delete id="updateHipRefHrpSource">
		
		update hip_ref_hrp_source set 
		
		hrp_view_name = #{hrp_view_name,jdbcType=VARCHAR},
		
		dfd_flag = #{dfd_flag,jdbcType=VARCHAR}
       
 		where
 		
 		mod_code =  #{mod_code,jdbcType=VARCHAR} 
 		
   		and hip_view_code = #{hip_view_code,jdbcType=VARCHAR}
   		
   		and hrp_view_code = #{hrp_view_code,jdbcType=VARCHAR}

	</delete>
	
	<select id="queryHipRefHrpSourceByCode" parameterType="java.util.Map" resultMap="hipRefHrpSource">

select hrhs.mod_code, hrhs.hip_view_code, hrhs.hrp_view_code, hrhs.hrp_view_name, hrhs.dfd_flag,sm.mod_name,hiv.hip_view_name from hip_ref_hrp_source hrhs

left join sys_mod sm on  hrhs.mod_code= sm.mod_code

left join hip_init_view hiv on hrhs.hip_view_code = hiv.hip_view_code

		where 
		
		hrhs.mod_code = #{mod_code} and hrhs.hip_view_code = #{hip_view_code} and hrhs.hrp_view_code = #{hrp_view_code} 
	
		order by hrhs.hip_view_code,hrhs.mod_code
	</select>
	
	<select id="queryHipRefHrpSource" parameterType="java.util.Map" resultMap="hipRefHrpSource">

select hrhs.mod_code, hrhs.hip_view_code, hrhs.hrp_view_code, hrhs.hrp_view_name, hrhs.dfd_flag,sm.mod_name,hiv.hip_view_name from hip_ref_hrp_source hrhs

left join sys_mod sm on  hrhs.mod_code= sm.mod_code

left join hip_init_view hiv on hrhs.hip_view_code = hiv.hip_view_code

		<where>

		<if test="mod_code != null and mod_code != ''">
		
				and hrhs.mod_code = #{mod_code}
				
		</if>
		
		<if test="hip_view_code != null and hip_view_code != ''">
		
				and hrhs.hip_view_code = #{hip_view_code}
				
		</if>
		
		<if test="hrp_view_code != null and hrp_view_code != ''">
		
				and hrhs.hrp_view_code = #{hrp_view_code}
				
		</if>
		
		</where>

		order by hrhs.hip_view_code,hrhs.mod_code
	</select>


</mapper>

