<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.change.AssChangeLandMapper">
	
	<resultMap id="assChangeLand" type="com.chd.hrp.ass.entity.change.AssChangeLand">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="change_no" column="change_no"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="change_date" column="change_date"/>
	<result property="state" column="state"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="assChangeLandMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="change_no" column="change_no"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="change_date" column="change_date"/>
	<result property="state" column="state"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_Change_LAND (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		group_id
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		hos_id
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		copy_code
		,
		</if>
		<if test="change_no != null and change_no != ''">
		change_no
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="group_id != null and group_id != ''">
		#{group_id}
		,
		</if>
		<if test="hos_id != null and hos_id != ''">
		#{hos_id}
		,
		</if>
		<if test="copy_code != null and copy_code != ''">
		#{copy_code}
		,
		</if>
		<if test="change_no != null and change_no != ''">
		#{change_no}
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		#{ven_id}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		#{ven_no}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		#{create_emp}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		to_date(#{create_date},'YYYY-MM-DD')
		,
		</if>
		<if test="state != null and state != ''">
		#{state}
		,
		</if>
		<if test="note != null and note != ''">
		#{note}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_Change_LAND (
		group_id
		,
		hos_id
		,
		copy_code
		,
		change_no
		,
		ven_id
		,
		ven_no
		,
		create_emp
		,
		create_date
		,
		state
		,
		note
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id}
			,
			#{item.hos_id}
			,
			#{item.copy_code}
			,
			#{item.change_no}
			,
			#{item.ven_id}
			,
			#{item.ven_no}
			,
			#{item.create_emp}
			,
			#{item.create_date}
			,
			#{item.state}
			,
			#{item.note}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_change_land 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="ven_id != null and ven_id != ''">
		ven_id = #{ven_id}
		,
		</if>
		<if test="ven_no != null and ven_no != ''">
		ven_no = #{ven_no}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date = to_date(#{create_date},'YYYY-MM-DD')
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note}
		,
		</if>
		<if test="note == null or note == ''">
		note = null
		,
		</if>
		</trim>
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="change_no != null and change_no != ''">
		AND change_no = #{change_no}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_change_land 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.ven_id != null and item.ven_id != ''">
			ven_id = #{item.ven_id}
			,
			</if>
			<if test="item.ven_no != null and item.ven_no != ''">
			ven_no = #{item.ven_no}
			,
			</if>
			<if test="item.create_date != null and item.create_date != ''">
			create_date = #{item.create_date}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note}
			,
			</if>
			<if test="item.note == null or item.note == ''">
			note = null
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code}
			</if>  
			<if test="item.change_no != null and item.change_no != ''">
			AND change_no = #{item.change_no}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	
	<update id="updateConfirm" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_change_land set
			audit_emp = #{item.audit_emp},
			change_date = to_date(#{item.change_date},'YYYY-MM-DD'),
			state = 2
			<where>                     
			AND group_id = #{item.group_id}
			AND hos_id = #{item.hos_id}
			AND copy_code = #{item.copy_code}
			AND change_no = #{item.change_no}
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_change_land 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="change_no != null and change_no != ''">
		AND change_no = #{change_no}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_change_land 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				group_id = #{item.group_id}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code}
				</if>
				<if test="item.change_no != null and item.change_no != ''">
				AND change_no = #{item.change_no}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assChangeLand" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.change_no,
			a.ven_id,
			a.ven_no,
			c.sup_code ven_code,
			c.sup_name ven_name,
			a.create_emp,
			su1.user_name create_emp_name,
			a.create_date,
			a.audit_emp,
			su2.user_name audit_emp_name,
			a.change_date,
			a.state,
			case when a.state = 0 then '新建' when a.state = 1 then '审核' when a.state = 2 then '确认' else '' end state_name,
			a.note
		FROM ASS_CHANGE_LAND a
		
		left join hos_sup_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.ven_id = c.sup_id
		and c.is_stop = 0
		
		left join sys_user su1 on
		a.group_id = su1.group_id
		and a.hos_id = su1.hos_id
		and a.create_emp = su1.user_id
		
		left join sys_user su2 on
		a.group_id = su2.group_id
		and a.hos_id = su2.hos_id
		and a.audit_emp = su2.user_id
		
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND a.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND a.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND a.copy_code = #{copy_code}
			</if>
			<if test="change_no != null and change_no != ''">
			AND a.change_no = #{change_no}
			</if>
			<if test="ven_id != null and ven_id != ''">
			AND a.ven_id = #{ven_id}
			</if>
			<if test="ven_no != null and ven_no != ''">
			AND a.ven_no = #{ven_no}
			</if>
			<if test="create_emp != null and create_emp != ''">
			AND a.create_emp = #{create_emp}
			</if>
			<if test="create_date_beg != null and create_date_beg != '' and create_date_end != null and create_date_end != ''">
			AND a.create_date between to_date(#{create_date_beg},'YYYY-MM-DD') and to_date(#{create_date_end},'YYYY-MM-DD')
			</if>
			<if test="audit_emp != null and audit_emp != ''">
			AND a.audit_emp = #{audit_emp}
			</if>
			<if test="change_date_beg != null and change_date_beg != '' and change_date_end != null and change_date_end != ''">
			AND a.change_date between to_date(#{change_date_beg},'YYYY-MM-DD') and to_date(#{change_date_end},'YYYY-MM-DD')
			</if>
			<if test="state != null and state != ''">
			AND a.state = #{state}
			</if>
			<if test="note != null and note != ''">
			AND a.note = #{note}
			</if>
		</where>   
		order by a.create_date desc
	</select>
	
	
	
	<select id="queryAssChangeLandByAssInNo" parameterType="java.util.Map" resultType="java.util.Map" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.change_no as id ,
			a.change_no,
			a.ven_id,
			a.ven_no,
			c.sup_code ven_code,
			c.sup_name ven_name,
			su1.user_name create_emp,
			to_char(a.create_date,'yyyy-mm-dd') create_date,
			su2.user_name audit_emp,
			to_char(a.change_date,'yyyy-mm-dd') change_date,
			case when a.state = 0 then '新建' when a.state = 1 then '审核' when a.state = 2 then '确认' else '' end state,
			a.note
		FROM ASS_CHANGE_LAND a
		
		left join hos_sup_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.ven_id = c.sup_id
		and c.is_stop = 0
		
		left join sys_user su1 on
		a.group_id = su1.group_id
		and a.hos_id = su1.hos_id
		and a.create_emp = su1.user_id
		
		left join sys_user su2 on
		a.group_id = su2.group_id
		and a.hos_id = su2.hos_id
		and a.audit_emp = su2.user_id
		
		where                     
				a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.change_no in (${change_no})
	</select>
	
	<select id="queryAssChangeLandDetailByAssInNo" parameterType="java.util.Map" resultType="java.util.Map" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.change_no as id,
			a.ass_card_no,
			c.ass_id,
	      	c.ass_no,
	      	c.ass_code,
	      	c.ass_name,
	      	c.ass_model,
	      	c.ass_spec,
	      	c.ass_brand,
	      	d.fac_code,
	      	d.fac_name,
	      	f.unit_name as unit_code,
			 to_char(a.old_price,'FM999,999,990.00') old_price,
	      to_char(a.change_price,'FM999,999,990.00') change_price,
	      to_char(a.price,'FM999,999,990.00') price,
			a.note
		FROM ass_change_detail_land a
		left join ass_card_land b on
		a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.ass_card_no = b.ass_card_no
		
		left join ass_no_dict c on
		b.group_id = c.group_id
		and b.hos_id = c.hos_id
		and b.copy_code = c.copy_code
		and b.ass_id = c.ass_id
		and c.is_stop = 0
		
		 left join hos_fac_dict d
	        on c.group_id = d.group_id
	        and c.hos_id = d.hos_id
	        and c.fac_id = d.fac_id
	        and c.fac_no = d.fac_no
	        and d.is_stop = 0 
	        and d.is_disable = 0
	        left join HOS_UNIT f
	        on  b.group_id = f.group_id
	        and b.hos_id = f.hos_id
	        and b.unit_code = f.unit_code
	        and f.is_stop = 0 
		
		where                     
				a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.change_no in (${change_no})
		order by a.create_date desc
	</select>
	
	
	<select id="queryByCode" resultMap="assChangeLand"  parameterType="java.util.Map" >
	
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.change_no,
			a.ven_id,
			a.ven_no,
			c.sup_code ven_code,
			c.sup_name ven_name,
			a.create_emp,
			su1.user_name create_emp_name,
			a.create_date,
			a.audit_emp,
			su2.user_name audit_emp_name,
			a.change_date,
			a.state,
			case when a.state = 0 then '新建' when a.state = 1 then '审核' when a.state = 2 then '确认' else '' end state_name,
			a.note
		FROM ASS_Change_LAND a
		
		left join hos_sup_dict c on
		a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.ven_id = c.sup_id
		and c.is_stop = 0
		
		left join sys_user su1 on
		a.group_id = su1.group_id
		and a.hos_id = su1.hos_id
		and a.create_emp = su1.user_id
		
		left join sys_user su2 on
		a.group_id = su2.group_id
		and a.hos_id = su2.hos_id
		and a.audit_emp = su2.user_id 
		WHERE 
		a.group_id = #{group_id}   and 
		a.hos_id = #{hos_id}   and 
		a.copy_code = #{copy_code}   and 
		a.change_no = #{change_no} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assChangeLand"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		change_no,
		ven_id,
		ven_no,
		create_emp,
		create_date,
		audit_emp,
		change_date,
		state,
		note
		FROM ASS_Change_LAND 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="change_no != null and change_no != ''">
		AND change_no = #{change_no}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp}
		</if>
		<if test="change_date != null and change_date != ''">
		AND change_date = #{change_date}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note}
		</if>
		</where>   
		order by create_date desc
	</select>
	<select id="queryExists" resultMap="assChangeLand"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		change_no,
		ven_id,
		ven_no,
		create_emp,
		create_date,
		audit_emp,
		change_date,
		state,
		note
		FROM ASS_Change_LAND 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="change_no != null and change_no != ''">
		AND change_no = #{change_no}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id}
		</if>
		<if test="ven_no != null and ven_no != ''">
		AND ven_no = #{ven_no}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp}
		</if>
		<if test="change_date != null and change_date != ''">
		AND change_date = #{change_date}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note}
		</if>
		</where>   
		order by create_date desc
	</select>
	
			<!-- 状态查询  （打印时校验数据专用） -->
	<select id="queryAssChangeLandStates" parameterType="java.util.Map" resultType="java.lang.String" >
		SELECT change_no  FROM ASS_Change_LAND 
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="change_no != null and change_no != ''">
			AND change_no in  (${change_no})
			</if>
		
			<!-- 前台传参   2 确认 -->
			and state != #{state,jdbcType=INTEGER}
	</select>
</mapper>

