<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.purchase.check.MatPurMainCheckMapper">
	<resultMap id="matPurPlanCheck" type="java.util.Map">
		<result property="group_id" column="group_id"/><!-- 集团ID -->
		<result property="hos_id" column="hos_id"/><!-- 医院ID -->
		<result property="copy_code" column="copy_code"/><!-- 账套编码 -->
		<result property="pur_id" column="pur_id"/><!-- 计划单ID -->
		<result property="pur_code" column="pur_code"/><!-- 计划编号 -->
		<result property="dept_id" column="dept_id"/><!-- 科室ID -->
		<result property="dept_no" column="dept_no"/><!-- 科室变更ID -->
		<result property="dept_code" column="dept_code"/>
		<result property="dept_name" column="dept_name"/><!-- 编制部门 -->
		<result property="brif" column="brif"/><!-- 摘要 -->
		<result property="pur_type" column="pur_type"/><!-- 单据类型 -->
		<result property="plan_type" column="plan_type"/><!-- 计划类型 -->
		<result property="pur_hos_id" column="pur_hos_id"/><!-- 采购单位ID -->
		<result property="pur_hos_no" column="pur_hos_no"/><!-- 采购单位ID -->
		<result property="pur_hos_code" column="pur_hos_code"/><!-- 采购单位ID -->
		<result property="pur_hos_name" column="pur_hos_name"/><!-- 采购单位名称 -->
		
		<result property="req_hos_id" column="req_hos_id"/><!-- 采购单位ID -->
		<result property="req_hos_no" column="req_hos_no"/><!-- 采购单位ID -->
		<result property="req_hos_code" column="req_hos_code"/><!-- 采购单位ID -->
		<result property="req_hos_name" column="req_hos_name"/><!-- 请购单位名称 -->
		
		<result property="pay_hos_id" column="pay_hos_id"/><!-- 付款单位ID -->
		<result property="pay_hos_no" column="pay_hos_no"/><!-- 采购单位ID -->
		<result property="pay_hos_code" column="pay_hos_code"/><!-- 采购单位ID -->
		<result property="pay_hos_name" column="pay_hos_name"/><!-- 付款单位名称 -->
		<result property="maker" column="maker"/><!-- 制单人 -->
		<result property="make_date" column="make_date"/><!-- 制单日期 -->
		<result property="checker" column="checker"/><!-- 审核人 -->
		<result property="check_date" column="check_date"/><!-- 审核日期 -->
		<result property="state" column="state"/><!-- 状态 -->
		<result property="is_dir" column="is_dir"/>
		<result property="dir_dept_id" column="dir_dept_id"/>
		<result property="dir_dept_no" column="dir_dept_no"/>
		<result property="dir_dept_code" column="dir_dept_code"/>
		<result property="dir_dept_name" column="dir_dept_name"/>
		<result property="stock_no" column="stock_no" />
		<result property="stock_id" column="stock_id" />
		<result property="store_code" column="store_code" />
		<result property="store_name" column="store_name" />
		<result property="arrive_date" column="arrive_date"/><!-- 计划到货日期 -->
		<result property="checkboxstatus" column="checkboxstatus"/>

		<!-- 采购明细字段 返回结果集字段-->
		<result property="inv_id" column="inv_id"/><!-- 材料ID -->
		<result property="inv_no" column="inv_no"/><!-- 材料变更ID -->
		<result property="inv_code" column="inv_code"/><!-- 材料编码 -->
		<result property="inv_name" column="inv_name"/><!-- 材料名称 -->
		<result property="inv_model" column="inv_model"/><!-- 规格型号 -->
		<result property="unit_name" column="unit_name"/><!-- 计量单位 -->
		<result property="unit_code" column="unit_code"/><!-- 计量单位编码  -->
		<result property="pack_code" column="pack_code"/><!-- 包装单位编码 -->
		<result property="pack_name" column="pack_name"/>
		<result property="num_exchange" column="num_exchange"/><!-- 转换量 -->
		<result property="cur_amount" column="cur_amount"/><!-- 当前库存 -->
		<result property="req_amount" column="req_amount"/><!-- 请购数量 -->
		<result property="num" column="num"/><!-- 包装数量 -->
		<result property="amount" column="amount"/><!-- 采购数量 -->
		<result property="price" column="price"/><!-- 单价 -->
		<result property="amount_money" column="amount_money"/><!-- 金额 -->
		<result property="sup_no" column="sup_no"/><!-- 供应商变更号 -->
		<result property="sup_id" column="sup_id"/><!-- 供应商ID -->
		<result property="sup_code" column="sup_code"/><!-- 供应商ID -->
		<result property="sup_name" column="sup_name"/><!-- 供应商名称 -->
		<result property="fac_id" column="fac_id"/><!-- 生厂商ID -->
		<result property="fac_no" column="fac_no"/><!-- 生厂商变更ID -->
		<result property="fac_name" column="fac_name"/><!-- 生厂商名称 -->
		<result property="memo" column="memo"/><!-- 备注 -->
		<result property="req_code" column="req_code"/>
		<!-- 科室需求计划主表 返回结果集字段 -->
		<result property="req_id" column="req_id"/><!-- 计划单ID -->
		<result property="req_detail_id" column="req_detail_id"/><!-- 计划单明细ID -->
		<result property="req_code" column="req_code"/><!-- 计划单号 -->
		<result property="maker_name" column="maker_name"/><!-- 制单人名称 -->
		<result property="checker_name" column="checker_name"/><!-- 审核人名字 -->
		<result property="rdate" column="rdate"/><!-- 需求日期 -->
		<result property="amount" column="amount" />
		<result property="price" column="price" />
		<result property="money" column="money" />

		<result property="plan_amount" column="plan_amount" />
		<result property="plan_price" column="plan_price" />
		<result property="sum_money" column="sum_money" />

		<result property="pack_code" column="pack_code" />
		<result property="pack_name" column="pack_name" />
		<result property="req_rela" column="req_rela"/><!-- 对应关系 字符串 -->
		<result property="pur_amount" column="pur_amount"/><!-- 科室需求采购计划关系 采购数量 -->

		<result property="secu_limit" column="secu_limit" />
		<result property="period_num" column="period_num" />
		<result property="period" column="period" />
		<result property="warn_amount" column="warn_amount" />
		<result property="cur_amount" column="cur_amount" />
		<result property="secu_limit" column="secu_limit" />
		<result property="differ_amount" column="differ_amount" />
		<result property="differ_num" column="differ_num" />
		<result property="abs_differ" column="abs_differ" />
		<result property="abs_num" column="abs_num" />

	</resultMap>

	<!-- 查询 采购计划 -->
	<select id="query" parameterType="java.util.Map" resultMap="matPurPlanCheck">
		SELECT
			mpm.group_id,
			mpm.hos_id,
			mpm.copy_code,
			mpm.pur_id,
			mpm.pur_code,
			hdd.dept_name,
			mpm.brif,
			msl.field_desc as plan_type,
			pur.hos_name as pur_hos_name,
			req.hos_name as req_hos_name,
			pay.hos_name as pay_hos_name,
			su.user_name as maker,
			mpm.make_date,
			sus.user_name as checker,
			mpm.check_date,
			mpm.state,
			mpm.is_dir,
			mpm.arrive_date,
			mpm.dir_dept_id,
			mpm.dir_dept_no,
			hddd.dept_code dir_dept_code,
			hddd.dept_name dir_dept_name
		FROM MAT_PUR_MAIN mpm
		LEFT JOIN HOS_DEPT_DICT hdd ON mpm.group_id = hdd.group_id
			and mpm.hos_id = hdd.hos_id
			and mpm.dept_id = hdd.dept_id
			<if test="show_history == 1">
				and hdd.dept_no = mpm.dept_no
			</if>
			<if test="show_history == 0">
				and hdd.is_stop = 0
			</if>
		LEFT JOIN MAT_SYS_LIST msl ON mpm.pur_type = msl.field_value
			AND msl.field_code = 'PUR_TYPE'
		left join v_hos_dict pur on pur.hos_id = mpm.pur_hos_id
         	and pur.group_id = mpm.group_id
         	and pur.is_stop = 0
    	left join v_hos_dict req on req.group_id = mpm.group_id
         	and mpm.req_hos_id = req.hos_id
         	and req.is_stop = 0
    	left join v_hos_dict pay on mpm.group_id = pay.group_id
         	and mpm.pay_hos_id = pay.hos_id
         	and pay.is_stop = 0
		LEFT JOIN SYS_USER su ON mpm.group_id = su.group_id
			AND mpm.hos_id = su.hos_id
			AND mpm.copy_code = su.copy_code
			AND mpm.maker = su.user_id
		LEFT JOIN SYS_USER sus ON mpm.group_id = sus.group_id
			AND mpm.hos_id = sus.hos_id
			AND mpm.copy_code = sus.copy_code
			AND mpm.checker = sus.user_id
		left join hos_dept_dict hddd on hddd.dept_id = mpm.dir_dept_id
	    	and hddd.group_id = mpm.group_id
	    	and hddd.hos_id = mpm.hos_id
	    	<if test="show_history == 1">
				and hddd.dept_no = mpm.dir_dept_no
			</if>
			<if test="show_history == 0">
				and hddd.is_stop = 0
			</if>
		WHERE
			mpm.group_id = #{group_id}
			AND mpm.hos_id = #{hos_id}
			AND mpm.copy_code = #{copy_code}
<!-- 			<if test="begin_date != null and begin_date != '' and end_date != null and end_date != '' "> -->
<!-- 				AND mpm.make_date between to_date(#{begin_date},'yyyy/MM/dd')  -->
<!-- 				 and to_date(#{end_date},'yyyy/MM/dd') -->
<!-- 			</if> -->
			<if test="begin_date != null and begin_date != ''">
				AND mpm.make_date &gt;=  to_date(#{begin_date},'yyyy/MM/dd') 
			</if>
			<if test="end_date != null and end_date != ''">
				AND  mpm.make_date &lt;= to_date(#{end_date},'yyyy/MM/dd')
			</if>
			<if test="dept_id != null and dept_id != '' ">
				AND mpm.dept_id = #{dept_id}
			</if>
			<if test="state != null and state != '' ">
				AND mpm.state = #{state}
			</if>
			<if test="pur_type != null and pur_type != '' ">
				AND mpm.pur_type = #{pur_type}
			</if>
			<if test="pur_code != null and pur_code != '' ">
				AND mpm.pur_code like '${pur_code}%'
				or Upper( mpm.pur_code) like '${pur_code}%'
				or lower( mpm.pur_code) like '${pur_code}%'
			</if>
			<if test="pur_id != null and pur_id != '' ">
				AND mpm.pur_id = #{pur_id}
			</if>
			<if test="brif != null and brif != '' ">
				AND mpm.brif like '%${brif}%'
			</if>
			<if test="is_dir != null and is_dir != '' ">
				AND mpm.is_dir = #{is_dir}
			</if>
			<if test="req_hos_id != null and req_hos_id != '' ">
				AND mpm.req_hos_id = #{req_hos_id}
			</if>
			<if test="pur_hos_id != null and pur_hos_id != '' ">
				AND mpm.pur_hos_id = #{pur_hos_id}
			</if>
			<if test="dir_dept_id != null and dir_dept_id != '' ">
				AND mpm.dir_dept_id = #{dir_dept_id}
			</if>
			<if test="dir_dept_no != null and dir_dept_no != '' ">
				AND mpm.dir_dept_no = #{dir_dept_no}
			</if>
			AND mpm.is_collect=0
			order by mpm.pur_id desc
		</select>

	<!-- 将采购计划修改为审核状态 -->
	<update id="updateToCheckState" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin"
			separator=";" close=";end;">
			UPDATE MAT_PUR_MAIN
			<set>
				state = 2,
				checker = #{item.checker},
				check_date =
				to_date(#{item.check_date},'yyyy/MM/dd')
			</set>
			<where>
				group_id = #{item.group_id}
				and hos_id = #{item.hos_id}
				and
				copy_code = #{item.copy_code}
				and pur_id = #{item.pur_id}
				and state =
				#{item.state}
			</where>
		</foreach>
	</update>

	<!-- 将采购计划修改为未审核状态 -->
	<update id="updateToUnCheckState" parameterType="java.util.List">
		UPDATE MAT_PUR_MAIN SET
		state = 1,
		checker='',
		check_date = ''
		where
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and pur_id = #{item.pur_id}
			and state = #{item.state}
		</foreach>
	</update>

	<!-- 查询 根据计划单主表ID查询采购计划 -->
	<select id="queryMatPurMainByCode" parameterType="java.util.Map" resultMap="matPurPlanCheck">
		SELECT
		  	mpm.group_id,
		      mpm.hos_id,
		      mpm.copy_code,
		      mpm.pur_id,
		      mpm.pur_code,
		      mpm.dept_id,
		      mpm.dept_no,
		      hdd.dept_code,
		      hdd.dept_name,
		      to_char(mpm.make_date,'yyyy-MM-dd') as make_date,
		      to_char(mpm.arrive_date,'yyyy-MM-dd') as arrive_date,
		      mpm.pur_type,
		      mpm.brif,
		      mpm.pur_hos_id,
		      pur.hos_no pur_hos_no,
		      pur.hos_code pur_hos_code,
		      pur.hos_name pur_hos_name,
		      mpm.req_hos_id,
		      req.hos_no req_hos_no,
		      req.hos_code req_hos_code,
		      req.hos_name req_hos_name,
		      mpm.pay_hos_id,
		      pay.hos_no pay_hos_no,
		      pay.hos_code pay_hos_code,
		      pay.hos_name pay_hos_name,
		      mpm.is_dir,
		      mpm.arrive_date,
		      mpm.dir_dept_id,
		      mpm.dir_dept_no,
		      hddd.dept_code dir_dept_code,
		      hddd.dept_name dir_dept_name
		FROM MAT_PUR_MAIN mpm
		LEFT JOIN HOS_DEPT_DICT hdd ON mpm.group_id = hdd.group_id
			and mpm.hos_id = hdd.hos_id
			and mpm.dept_id = hdd.dept_id
			<if test="show_history == 1">
				and hdd.dept_no = mpm.dept_no
			</if>
			<if test="show_history == 0">
				and hdd.is_stop = 0
			</if>
		left join v_hos_dict pur on pur.hos_id = mpm.pur_hos_id
         	and pur.group_id = mpm.group_id
         	and pur.is_stop = 0
    	left join v_hos_dict req on req.group_id = mpm.group_id
         	and mpm.req_hos_id = req.hos_id
         	and req.is_stop = 0
    	left join v_hos_dict pay on mpm.group_id = pay.group_id
         	and mpm.pay_hos_id = pay.hos_id
         	and pay.is_stop = 0
		LEFT JOIN HOS_DEPT_DICT hddd ON mpm.group_id = hdd.group_id
			and mpm.hos_id = hddd.hos_id
			and mpm.dir_dept_id = hddd.dept_id
			<if test="show_history == 1">
				and hddd.dept_no = mpm.dir_dept_no
			</if>
			<if test="show_history == 0">
				and hddd.is_stop = 0
			</if>
		WHERE
		     mpm.group_id = #{group_id}
		     and mpm.hos_id = #{hos_id}
		     and mpm.copy_code = #{copy_code}
		     and mpm.pur_id = #{pur_id}
	</select>

	<!-- 查询 采购计划明细 -->
	<select id="queryMatPurMainDetail" parameterType="java.util.Map"
		resultMap="matPurPlanCheck">
		SELECT
			mpd.group_id,mpd.hos_id,mpd.copy_code,mpd.pur_id,mpd.inv_id,mpd.inv_no,mid.inv_code,mid.inv_name,
			mid.inv_model,mid.unit_code,hu.unit_name,mih.cur_amount,mpd.amount,mpd.price,mpd.amount*mpd.price as amount_money,
			mpd.num,mpd.num_exchange,mpd.pack_code,hp.pack_name as pack_unit_name,mpd.sup_no,mpd.sup_id,
			hs.sup_code||' '||hs.sup_name as sup_name,mpd.req_amount,hfd.fac_id,hfd.fac_no,hfd.fac_name,mpd.memo,mpm.state
		FROM MAT_PUR_DETAIL mpd
		LEFT JOIN MAT_PUR_MAIN mpm
		ON
			mpd.group_id = mpm.group_id
		    and mpd.hos_id = mpm.hos_id
		    and mpd.copy_code = mpm.copy_code
		    and mpd.pur_id = mpm.pur_id
		LEFT JOIN MAT_INV_DICT mid 
		ON 
			mpd.group_id = mid.group_id
		    AND mpd.hos_id = mid.hos_id
		    AND mpd.copy_code = mid.copy_code
		    AND mpd.inv_id = mid.inv_id
		    AND mpd.inv_no = mid.inv_no
	    LEFT JOIN MAT_INV_UNIT_MAP mium 
	    ON 
	    	mpd.group_id = mium.group_id
		    AND mpd.hos_id = mium.hos_id
		    AND mpd.copy_code = mium.copy_code
		    AND mpd.inv_id = mium.inv_id
		    AND mpd.pack_code = mium.pack_code
	    LEFT JOIN HOS_PACKAGE hp 
	    ON 
	    	mium.group_id = hp.group_id
		    AND mium.hos_id = hp.hos_id
		    AND mium.pack_code = hp.pack_code 
		    AND hp.is_stop = 0
	    LEFT JOIN HOS_FAC_DICT hfd 
	    ON 
	    	mid.group_id = hfd.group_id
		    AND mid.hos_id = hfd.hos_id
		    AND mid.fac_id = hfd.fac_id
		    AND mid.fac_no = hfd.fac_no
		   
	    LEFT JOIN HOS_SUP hs 
	    ON 
	    	mpd.group_id = hs.group_id
		    AND mpd.hos_id = hs.hos_id
		    AND mpd.sup_id = hs.sup_id
		    AND hs.is_stop = 0 
	    LEFT JOIN HOS_UNIT hu ON 
	        mpd.group_id = hu.group_id
		    AND mpd.hos_id = hu.hos_id
		    AND mid.unit_code = hu.unit_code
		    AND hu.is_stop = 0 
	    LEFT JOIN (
	        SELECT inv_id, SUM(cur_amount) AS cur_amount
	        FROM MAT_inv_HOLD
	        GROUP BY inv_id
	      ) mih ON mid.inv_id = mih.inv_id 
		WHERE
			mpd.group_id = #{group_id}
			AND mpd.hos_id = #{hos_id}
			AND mpd.copy_code = #{copy_code}
			AND mpd.pur_id = #{pur_id}
		ORDER BY mid.inv_code
	</select>
	
	<!-- 入库主表模板打印 -->
	<select id="queryMatCheckPrintTemlateByMain" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT mpm.group_id, mpm.hos_id, mpm.copy_code, mpm.pur_id, mpm.pur_code
      , hdd.dept_name, mpm.brif, msl.field_desc AS plan_type, pur.hos_name AS pur_hos_name, req.hos_name AS req_hos_name
      , pay.hos_name AS pay_hos_name, su.user_name AS maker, to_char(mpm.make_date, 'yyyy-MM-dd hh24:mi:ss') make_date, 
      sus.user_name AS checker, to_char(mpm.check_date, 'yyyy-MM-dd hh24:mi:ss') check_date
      , mpm.state, mpm.is_dir, to_char(mpm.arrive_date, 'yyyy-MM-dd hh24:mi:ss') arrive_date, 
      mpm.dir_dept_id, mpm.dir_dept_no
      , hddd.dept_code AS dir_dept_code, hddd.dept_name AS dir_dept_name
    FROM MAT_PUR_MAIN mpm
    LEFT JOIN HOS_DEPT_DICT hdd ON mpm.group_id = hdd.group_id
    AND mpm.hos_id = hdd.hos_id
    AND mpm.dept_id = hdd.dept_id
    AND hdd.is_stop = 0 
    LEFT JOIN MAT_SYS_LIST msl ON mpm.pur_type = msl.field_value
    AND msl.field_code = 'PUR_TYPE' 
    LEFT JOIN v_hos_dict pur ON pur.hos_id = mpm.pur_hos_id
    AND pur.group_id = mpm.group_id
    AND pur.is_stop = 0 
    LEFT JOIN v_hos_dict req ON req.group_id = mpm.group_id
    AND mpm.req_hos_id = req.hos_id
    AND req.is_stop = 0 
    LEFT JOIN v_hos_dict pay ON mpm.group_id = pay.group_id
    AND mpm.pay_hos_id = pay.hos_id
    AND pay.is_stop = 0 
    LEFT JOIN SYS_USER su ON mpm.group_id = su.group_id
    AND mpm.hos_id = su.hos_id
    AND mpm.copy_code = su.copy_code
    AND mpm.maker = su.user_id 
    LEFT JOIN SYS_USER sus ON mpm.group_id = sus.group_id
    AND mpm.hos_id = sus.hos_id
    AND mpm.copy_code = sus.copy_code
    AND mpm.checker = sus.user_id 
      LEFT JOIN hos_dept_dict hddd ON hddd.dept_id = mpm.dir_dept_id
    AND hddd.group_id = mpm.group_id
    AND hddd.hos_id = mpm.hos_id
    AND hddd.is_stop = 0 
		where mpm.group_id = #{group_id,jdbcType=NUMERIC}
			and mpm.hos_id = #{hos_id,jdbcType=NUMERIC}
			and mpm.copy_code = #{copy_code,jdbcType=VARCHAR}
			and mpm.pur_id=#{pur_id,jdbcType=NUMERIC}

	</select>
	
	<!-- 入库明细表模板打印 -->
	<select id="queryMatCheckPrintTemlateByDetail" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT mpd.group_id, mpd.hos_id, mpd.copy_code, mpd.pur_id, mpd.inv_id
			, mpd.inv_no, mid.inv_code, mid.inv_name, mid.inv_model, mid.unit_code
			, hu.unit_name, mih.cur_amount, mpd.amount, mpd.price, mpd.amount * mpd.price AS amount_money
			, mpd.num, mpd.num_exchange, mpd.pack_code, hp.pack_name AS pack_unit_name, mpd.sup_no
			, mpd.sup_id, hs.sup_code || ' ' || hs.sup_name AS sup_name, mpd.req_amount, hfd.fac_id, hfd.fac_no
			, hfd.fac_name, mpd.memo, mpm.state
		FROM MAT_PUR_DETAIL mpd
		LEFT JOIN MAT_PUR_MAIN mpm ON mpd.pur_id = mpm.pur_id and mpd.group_id=mpm.group_id and mpd.hos_id=mpm.hos_id and mpd.copy_code=mpm.copy_code
		LEFT JOIN MAT_INV_DICT mid ON mpd.group_id = mid.group_id
		AND mpd.hos_id = mid.hos_id
		AND mpd.copy_code = mid.copy_code
		AND mpd.inv_id = mid.inv_id 
		and mpd.inv_no = mid.inv_no
		LEFT JOIN MAT_INV_UNIT_MAP mium ON mpd.group_id = mium.group_id
		AND mpd.hos_id = mium.hos_id
		AND mpd.copy_code = mium.copy_code
		AND mpd.inv_id = mium.inv_id
		AND mpd.pack_code = mium.pack_code 
		LEFT JOIN HOS_PACKAGE hp ON mium.group_id = hp.group_id
		AND mium.hos_id = hp.hos_id
		AND mium.pack_code = hp.pack_code 
		LEFT JOIN HOS_FAC_DICT hfd ON mid.group_id = hfd.group_id
		AND mid.hos_id = hfd.hos_id
		AND mid.fac_id = hfd.fac_id 
		and mid.fac_no = hfd.fac_no
		LEFT JOIN HOS_SUP hs ON mpd.group_id = hs.group_id
		AND mpd.hos_id = hs.hos_id
		AND mpd.sup_id = hs.sup_id 
		LEFT JOIN HOS_UNIT hu ON mpd.group_id = hu.group_id
		AND mpd.hos_id = hu.hos_id
		AND mid.unit_code = hu.unit_code 
			LEFT JOIN (
				SELECT inv_id, SUM(cur_amount) AS cur_amount
				FROM MAT_inv_HOLD
				GROUP BY inv_id
			) mih ON mid.inv_id = mih.inv_id 
		where mpd.group_id = #{group_id,jdbcType=NUMERIC}
			and mpd.hos_id = #{hos_id,jdbcType=NUMERIC}
			and mpd.copy_code = #{copy_code,jdbcType=VARCHAR}
			and mpd.pur_id=#{pur_id,jdbcType=NUMERIC}

	</select>
	
	<select id="existsInMatOrder" resultType="String" parameterType="java.util.List" >
		with list_temp as (
			<foreach collection="list" item="item" index="index" separator=" union all " >
				select    
					<if test="item.pur_id != null and item.pur_id != ''">
						#{item.pur_id,jdbcType=INTEGER} as pur_id,
					</if>
					#{item.group_id,jdbcType=INTEGER} as group_id, 
					#{item.hos_id,jdbcType=INTEGER} as hos_id, 
					#{item.copy_code,jdbcType=VARCHAR} as copy_code
				from dual
			</foreach>
		)
		select to_char(wm_concat(to_char(c.pur_code)))
		from list_temp a
		left join mat_pur_order_rela b on a.group_id=b.group_id and a.hos_id=b.hos_id
			and a.copy_code=b.copy_code and a.pur_id=b.pur_id
		left join mat_pur_main c on a.group_id=c.group_id and a.hos_id=c.hos_id
			and a.copy_code=c.copy_code and a.pur_id=c.pur_id
		where b.order_id is not null 
	</select>
</mapper>