<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sup.dao.SupMatInvMapper">

	<resultMap id="supMatInv" type="com.chd.hrp.sup.entity.SupMatInv">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="inv_code" column="inv_code" />
		<result property="inv_name" column="inv_name" />
		<result property="alias" column="alias" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="mat_type_id" column="mat_type_id" />
		<result property="mat_type_no" column="mat_type_no" />
		<result property="mat_type_code" column="mat_type_code" />
		<result property="mat_type_name" column="mat_type_name" />
		<result property="inv_model" column="inv_model" />
		<result property="unit_code" column="unit_code" />
		<result property="unit_name" column="unit_name" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_code" column="fac_code" />
		<result property="fac_name" column="fac_name" />
		<result property="plan_price" column="plan_price" />
		<result property="price_rate" column="price_rate" />
		<result property="sell_price" column="sell_price" />
		<result property="brand_name" column="brand_name" />
		<result property="agent_name" column="agent_name" />
		<result property="note" column="note" />
		<result property="state" column="state" />
		<result property="check_date" column="check_date" />
		<result property="checker" column="checker" />
		<result property="checker_name" column="checker_name" />
		<result property="sup_id" column="sup_id" />
		<result property="sup_code" column="sup_code" />
		<result property="sup_name" column="sup_name" />
		<result property="hrp_inv_id" column="hrp_inv_id" />
	</resultMap>

	<resultMap id="supMatInvMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="inv_code" column="inv_code" />
		<result property="inv_name" column="inv_name" />
		<result property="alias" column="alias" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="mat_type_id" column="mat_type_id" />
		<result property="mat_type_no" column="mat_type_no" />
		<result property="mat_type_code" column="mat_type_code" />
		<result property="mat_type_name" column="mat_type_name" />
		<result property="inv_model" column="inv_model" />
		<result property="unit_code" column="unit_code" />
		<result property="unit_name" column="unit_name" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_code" column="fac_code" />
		<result property="fac_name" column="fac_name" />
		<result property="plan_price" column="plan_price" />
		<result property="price_rate" column="price_rate" />
		<result property="sell_price" column="sell_price" />
		<result property="brand_name" column="brand_name" />
		<result property="agent_name" column="agent_name" />
		<result property="note" column="note" />
		<result property="state" column="state" />
		<result property="check_date" column="check_date" />
		<result property="checker" column="checker" />
		<result property="checker_name" column="checker_name" />
		<result property="sup_id" column="sup_id" />
		<result property="sup_code" column="sup_code" />
		<result property="sup_name" column="sup_name" />
		<result property="hrp_inv_id" column="hrp_inv_id" />
	</resultMap>
	<resultMap id="matInvDict" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="inv_id" column="inv_id" />
		<result property="inv_no" column="inv_no" />
		<result property="inv_code" column="inv_code" />
		<result property="inv_name" column="inv_name" />
		<result property="alias" column="alias" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="mat_type_id" column="mat_type_id" />
		<result property="mat_type_no" column="mat_type_no" />
		<result property="mat_type_code" column="mat_type_code" />
		<result property="mat_type_name" column="mat_type_name" />
		<result property="inv_model" column="inv_model" />
		<result property="unit_code" column="unit_code" />
		<result property="unit_name" column="unit_name" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_code" column="fac_code" />
		<result property="fac_name" column="fac_name" />
		<result property="amortize_type" column="amortize_type" />
		<result property="price_type" column="price_type" />
		<result property="plan_price" column="plan_price" />
		<result property="price_rate" column="price_rate" />
		<result property="sell_price" column="sell_price" />
		<result property="is_single_ven" column="is_single_ven" />
		<result property="is_batch" column="is_batch" />
		<result property="is_bar" column="is_bar" />
		<result property="is_per_bar" column="is_per_bar" />
		<result property="is_cert" column="is_cert" />
		<result property="is_quality" column="is_quality" />
		<result property="is_disinfect" column="is_disinfect" />
		<result property="is_com" column="is_com" />
		<result property="is_dura" column="is_dura" />
		<result property="is_highvalue" column="is_highvalue" />
		<result property="is_charge" column="is_charge" />
		<result property="is_sec_whg" column="is_sec_whg" />
		<result property="is_shel_make" column="is_shel_make" />
		<result property="sdate" column="sdate" />
		<result property="edate" column="edate" />
		<result property="bar_code_new" column="bar_code_new" />
		<result property="abc_type" column="abc_type" />
		<result property="per_weight" column="per_weight" />
		<result property="per_volum" column="per_volum" />
		<result property="brand_name" column="brand_name" />
		<result property="agent_name" column="agent_name" />
		<result property="inv_structure" column="inv_structure" />
		<result property="inv_usage" column="inv_usage" />
		<result property="use_state" column="use_state" />
		<result property="note" column="note" />
		<result property="state" column="state" />
		<result property="check_date" column="check_date" />
		<result property="checker" column="checker" />
		<result property="is_bid" column="is_bid" />
		<result property="bid_date" column="bid_date" />
		<result property="bid_code" column="bid_code" />
		<result property="is_involved" column="is_involved" />
		<result property="is_implant" column="is_implant" />
		<result property="stora_tran_cond" column="stora_tran_cond" />
		<result property="is_zero_store" column="is_zero_store" />
		<result property="change_user" column="change_user" />
		<result property="change_user_name" column="change_user_name" />
		<result property="change_date" column="change_date" />
		<result property="change_note" column="change_note" />
		<result property="is_stop" column="is_stop" />
		<result property="alias" column="alias" />
		<result property="alias_spell" column="alias_spell" />
		<result property="manage_type" column="manage_type" />
		<result property="memory_encoding" column="memory_encoding" />
		<result property="source_plan" column="source_plan" />
	</resultMap>
	<insert id="add" useGeneratedKeys="true">

		INSERT INTO SUP_MAT_INV (
		<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
				group_id
				,
			</if>
			<if test="hos_id != null and hos_id != ''">
				hos_id
				,
			</if>
			<if test="copy_code != null and copy_code != ''">
				copy_code
				,
			</if>

			inv_id,
			<if test="inv_code != null and inv_code != ''">
				inv_code
				,
			</if>
			<if test="inv_name != null and inv_name != ''">
				inv_name
				,
			</if>
			<if test="alias != null and alias != ''">
				alias
				,
			</if>
			<if test="spell_code != null and spell_code != ''">
				spell_code
				,
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				wbx_code
				,
			</if>
			<if test="mat_type_id != null and mat_type_id != ''">
				mat_type_id
				,
			</if>
			<if test="inv_model != null and inv_model != ''">
				inv_model
				,
			</if>
			<if test="unit_code != null and unit_code != ''">
				unit_code
				,
			</if>
			<if test="fac_id != null and fac_id != ''">
				fac_id
				,
			</if>
			<if test="plan_price != null and plan_price != ''">
				plan_price
				,
			</if>
			<if test="price_rate != null and price_rate != ''">
				price_rate
				,
			</if>
			<if test="sell_price != null and sell_price != ''">
				sell_price
				,
			</if>
			<if test="brand_name != null and brand_name != ''">
				brand_name
				,
			</if>
			<if test="agent_name != null and agent_name != ''">
				agent_name
				,
			</if>
			<if test="note != null and note != ''">
				note
				,
			</if>
			<if test="state != null and state != ''">
				state
				,
			</if>
			<if test="check_date != null and check_date != ''">
				check_date
				,
			</if>
			<if test="checker != null and checker != ''">
				checker
				,
			</if>
			<if test="sup_id != null and sup_id != ''">
				sup_id
				,
			</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
				#{group_id,jdbcType=INTEGER}
				,
			</if>
			<if test="hos_id != null and hos_id != ''">
				#{hos_id,jdbcType=INTEGER}
				,
			</if>
			<if test="copy_code != null and copy_code != ''">
				#{copy_code,jdbcType=VARCHAR}
				,
			</if>
			SUP_MAT_INV_SEQ.nextval,
			<if test="inv_code != null and inv_code != ''">
				#{inv_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="inv_name != null and inv_name != ''">
				#{inv_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="alias != null and alias != ''">
				#{alias,jdbcType=VARCHAR}
				,
			</if>
			<if test="spell_code != null and spell_code != ''">
				#{spell_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				#{wbx_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="mat_type_id != null and mat_type_id != ''">
				#{mat_type_id,jdbcType=INTEGER}
				,
			</if>
			<if test="inv_model != null and inv_model != ''">
				#{inv_model,jdbcType=VARCHAR}
				,
			</if>
			<if test="unit_code != null and unit_code != ''">
				#{unit_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="fac_id != null and fac_id != ''">
				#{fac_id,jdbcType=INTEGER}
				,
			</if>
			<if test="plan_price != null and plan_price != ''">
				#{plan_price,jdbcType=INTEGER}
				,
			</if>
			<if test="price_rate != null and price_rate != ''">
				#{price_rate,jdbcType=INTEGER}
				,
			</if>
			<if test="sell_price != null and sell_price != ''">
				#{sell_price,jdbcType=INTEGER}
				,
			</if>
			<if test="brand_name != null and brand_name != ''">
				#{brand_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="agent_name != null and agent_name != ''">
				#{agent_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="note != null and note != ''">
				#{note,jdbcType=VARCHAR}
				,
			</if>
			<if test="state != null and state != ''">
				#{state,jdbcType=INTEGER}
				,
			</if>
			<if test="check_date != null and check_date != ''">
				#{check_date,jdbcType=DATE}
				,
			</if>
			<if test="checker != null and checker != ''">
				#{checker,jdbcType=INTEGER}
				,
			</if>
			<if test="sup_id != null and sup_id != ''">
				#{sup_id,jdbcType=INTEGER}

			</if>
		</trim>
		)

	</insert>
	<insert id="addBatch" parameterType="java.util.List">

		INSERT INTO SUP_MAT_INV (
		inv_id
		,
		group_id
		,
		hos_id
		,
		copy_code
		,

		inv_code
		,
		inv_name
		,
		alias
		,
		spell_code
		,
		wbx_code
		,
		mat_type_id
		,
		inv_model
		,
		unit_code
		,
		fac_id
		,
		plan_price
		,
		price_rate
		,
		sell_price
		,
		brand_name
		,
		agent_name
		,
		note
		,
		state
		,
		check_date
		,
		checker
		,
		sup_id

		) select SUP_MAT_INV_SEQ.nextval , t.*
		from(
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.inv_code,jdbcType=VARCHAR}
			,
			#{item.inv_name,jdbcType=VARCHAR}
			,
			#{item.alias,jdbcType=VARCHAR}
			,
			#{item.spell_code,jdbcType=VARCHAR}
			,
			#{item.wbx_code,jdbcType=VARCHAR}
			,
			#{item.mat_type_id,jdbcType=INTEGER}
			,
			#{item.inv_model,jdbcType=VARCHAR}
			,
			#{item.unit_code,jdbcType=VARCHAR}
			,
			#{item.fac_id,jdbcType=INTEGER}
			,
			#{item.plan_price,jdbcType=INTEGER}
			,
			#{item.price_rate,jdbcType=INTEGER}
			,
			#{item.sell_price,jdbcType=INTEGER}
			,
			#{item.brand_name,jdbcType=VARCHAR}
			,
			#{item.agent_name,jdbcType=VARCHAR}
			,
			#{item.note,jdbcType=VARCHAR}
			,
			#{item.state,jdbcType=INTEGER}
			,
			#{item.check_date,jdbcType=DATE}
			,
			#{item.checker,jdbcType=INTEGER}
			,
			#{item.sup_id,jdbcType=INTEGER}

			from
			dual
		</foreach>
		)t
	</insert>

	<update id="update" parameterType="java.util.Map">

		UPDATE sup_mat_inv
		<trim prefix="SET" suffixOverrides=",">
			<if test="inv_code != null and inv_code != ''">
				inv_code = #{inv_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="inv_name != null and inv_name != ''">
				inv_name = #{inv_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="alias != null and alias != ''">
				alias = #{alias,jdbcType=VARCHAR}
				,
			</if>
			<if test="spell_code != null and spell_code != ''">
				spell_code = #{spell_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				wbx_code = #{wbx_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="mat_type_id != null and mat_type_id != ''">
				mat_type_id = #{mat_type_id,jdbcType=INTEGER}
				,
			</if>
			<if test="inv_model != null and inv_model != ''">
				inv_model = #{inv_model,jdbcType=VARCHAR}
				,
			</if>
			<if test="unit_code != null and unit_code != ''">
				unit_code = #{unit_code,jdbcType=VARCHAR}
				,
			</if>
			<if test="fac_id != null and fac_id != ''">
				fac_id = #{fac_id,jdbcType=INTEGER}
				,
			</if>
			<if test="plan_price != null and plan_price != ''">
				plan_price = #{plan_price,jdbcType=INTEGER}
				,
			</if>
			<if test="price_rate != null and price_rate != ''">
				price_rate = #{price_rate,jdbcType=INTEGER}
				,
			</if>
			<if test="sell_price != null and sell_price != ''">
				sell_price = #{sell_price,jdbcType=INTEGER}
				,
			</if>
			<if test="brand_name != null and brand_name != ''">
				brand_name = #{brand_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="agent_name != null and agent_name != ''">
				agent_name = #{agent_name,jdbcType=VARCHAR}
				,
			</if>
			<if test="note != null and note != ''">
				note = #{note,jdbcType=VARCHAR}
				,
			</if>
			<if test="state != null and state != ''">
				state = #{state,jdbcType=INTEGER}
				,
			</if>
			<if test="check_date != null and check_date != ''">
				check_date = #{check_date,jdbcType=DATE}
				,
			</if>
			<if test="checker != null and checker != ''">
				checker = #{checker,jdbcType=INTEGER}
				,
			</if>
			<if test="hrp_inv_id != null and hrp_inv_id != ''">
				hrp_inv_id = #{hrp_inv_id,jdbcType=INTEGER}
				,
			</if>
		</trim>
		<where>
			<if test="group_id != null and group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			and inv_id=#{inv_id,jdbcType=INTEGER}
			<if test="sup_id != null and sup_id != ''">
				AND sup_id = #{sup_id,jdbcType=INTEGER}
			</if>
		</where>
	</update>
	<update id="updateBatch" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE sup_mat_inv
			<trim prefix="SET" suffixOverrides=",">
				<if test="inv_code != null and inv_code != ''">
					inv_code = #{inv_code,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.inv_name != null and item.inv_name != ''">
					inv_name = #{item.inv_name,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.alias != null and item.alias != ''">
					alias = #{item.alias,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.spell_code != null and item.spell_code != ''">
					spell_code = #{item.spell_code,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.wbx_code != null and item.wbx_code != ''">
					wbx_code = #{item.wbx_code,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.mat_type_id != null and item.mat_type_id != ''">
					mat_type_id = #{item.mat_type_id,jdbcType=INTEGER}
					,
				</if>
				<if test="item.inv_model != null and item.inv_model != ''">
					inv_model = #{item.inv_model,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.unit_code != null and item.unit_code != ''">
					unit_code = #{item.unit_code,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.fac_id != null and item.fac_id != ''">
					fac_id = #{item.fac_id,jdbcType=INTEGER}
					,
				</if>
				<if test="item.plan_price != null and item.plan_price != ''">
					plan_price = #{item.plan_price,jdbcType=INTEGER}
					,
				</if>
				<if test="item.price_rate != null and item.price_rate != ''">
					price_rate = #{item.price_rate,jdbcType=INTEGER}
					,
				</if>
				<if test="item.sell_price != null and item.sell_price != ''">
					sell_price = #{item.sell_price,jdbcType=INTEGER}
					,
				</if>
				<if test="item.brand_name != null and item.brand_name != ''">
					brand_name = #{item.brand_name,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.agent_name != null and item.agent_name != ''">
					agent_name = #{item.agent_name,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.note != null and item.note != ''">
					note = #{item.note,jdbcType=VARCHAR}
					,
				</if>
				<if test="item.state != null and item.state != ''">
					state = #{item.state,jdbcType=INTEGER}
					,
				</if>
				<if test="item.check_date != null and item.check_date != ''">
					check_date = #{item.check_date,jdbcType=DATE}
					,
				</if>
				<if test="item.checker != null and item.checker != ''">
					checker = #{item.checker,jdbcType=INTEGER}
					,
				</if>
			</trim>
			<where>
				<if test="item.group_id != null and item.group_id != ''">
					group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				and inv_id=#{item.inv_id,jdbcType=INTEGER}
				<if test="item.sup_id != null and item.sup_id != ''">
					AND sup_id = #{item.sup_id,jdbcType=INTEGER}
				</if>
			</where>
		</foreach>
	</update>

	<delete id="delete" parameterType="java.util.Map">

		DELETE FROM sup_mat_inv
		<where>
			<if test="group_id != null and group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			and inv_id=#{inv_id,jdbcType=INTEGER}
			<if test="sup_id != null and sup_id != ''">
				AND sup_id = #{sup_id,jdbcType=INTEGER}
			</if>
		</where>
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM sup_mat_inv
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
					group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
					AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
					AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				and inv_id=#{item.inv_id,jdbcType=INTEGER}
				<if test="item.sup_id != null and item.sup_id != ''">
					AND sup_id = #{item.sup_id,jdbcType=INTEGER}
				</if>
			</foreach>
		</where>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="supMatInv">

		SELECT t1.group_id,
		t1.hos_id,
		t1.copy_code,
		inv_id,
		inv_code,
		inv_name,
		alias,
		t1.spell_code,
		t1.wbx_code,
		t1.mat_type_id,
		mat_type_no,
		t2.mat_type_name,
		inv_model,
		t1.unit_code,
		unit_name,
		t1.fac_id,
		fac_name,
		plan_price,
		price_rate,
		sell_price,
		brand_name,
		agent_name,
		t1.note,
		state,
		check_date,
		checker,
		user_name checker_name,
		t1.sup_id,
		t5.sup_code,
		t5.sup_name,
		hrp_inv_id
		FROM SUP_MAT_INV t1
		left join mat_type_dict t2
		on t1.group_id = t2.group_id
		and t1.hos_id = t2.hos_id
		and t1.copy_code = t2.copy_code
		and t1.mat_type_id = t2.mat_type_id
		and t2.is_stop = 0
		left join hos_unit t3
		on t1.group_id = t3.group_id
		and t1.hos_id = t3.hos_id
		and t1.unit_code = t3.unit_code
		left join hos_fac_dict t4
		on t1.group_id = t4.group_id
		and t1.hos_id = t4.hos_id
		and t1.fac_id = t4.fac_id
		and t4.is_stop = 0
		left join hos_sup_dict t5
		on t1.group_id = t5.group_id
		and t1.hos_id = t5.hos_id
		and t1.sup_id = t5.sup_id
		and t5.is_stop = 0
		left join sys_user t6
		on t6.group_id = t1.group_id
		and t6.hos_id = t1.hos_id
		and t6.user_id = t1.checker

		<where>
			<if test="group_id != null and group_id != ''">
				t1.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND t1.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND t1.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="inv_code != null and inv_code != ''">
				AND inv_code = #{inv_code,jdbcType=VARCHAR}
			</if>
			<if test="inv_name != null and inv_name != ''">

				AND (
				inv_code like '${inv_name}%' or
				inv_name like
				'%${inv_name}%'
				or
				t1.spell_code like
				Upper('%${inv_name}%') or
				t1.wbx_code like
				Upper('%${inv_name}%')
				)

			</if>
			<if test="alias != null and alias != ''">
				AND alias = #{alias,jdbcType=VARCHAR}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND t1.spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND t1.wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
			<if test="mat_type_id != null and mat_type_id != ''">
				AND t1.mat_type_id = #{mat_type_id,jdbcType=INTEGER}
			</if>
			<if test="inv_model != null and inv_model != ''">
				AND inv_model = #{inv_model,jdbcType=VARCHAR}
			</if>
			<if test="unit_code != null and unit_code != ''">
				AND t1.unit_code = #{unit_code,jdbcType=VARCHAR}
			</if>
			<if test="fac_id != null and fac_id != ''">
				AND t1.fac_id = #{fac_id,jdbcType=INTEGER}
			</if>
			<if test="plan_price != null and plan_price != ''">
				AND plan_price = #{plan_price,jdbcType=INTEGER}
			</if>
			<if test="price_rate != null and price_rate != ''">
				AND price_rate = #{price_rate,jdbcType=INTEGER}
			</if>
			<if test="sell_price != null and sell_price != ''">
				AND sell_price = #{sell_price,jdbcType=INTEGER}
			</if>
			<if test="brand_name != null and brand_name != ''">
				AND brand_name = #{brand_name,jdbcType=VARCHAR}
			</if>
			<if test="agent_name != null and agent_name != ''">
				AND agent_name = #{agent_name,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state != ''">
				AND state = #{state,jdbcType=INTEGER}
			</if>
			<if test="check_date != null and check_date != ''">
				AND check_date = #{check_date,jdbcType=DATE}
			</if>
			<if test="checker != null and checker != ''">
				AND checker = #{checker,jdbcType=INTEGER}
			</if>
			<if test="sup_id != null and sup_id != ''">
				AND t1.sup_id = #{sup_id,jdbcType=INTEGER}
			</if>
		</where>
		order by inv_id asc
	</select>
	<select id="queryByCode" resultMap="supMatInv" parameterType="java.util.Map">

		SELECT t1.group_id,
		t1.hos_id,
		t1.copy_code,
		inv_id,
		inv_code,
		inv_name,
		alias,
		t1.spell_code,
		t1.wbx_code,
		t1.mat_type_id,
		mat_type_no,
		t2.mat_type_code,
		t2.mat_type_name,
		inv_model,
		t1.unit_code,
		unit_name,
		t1.fac_id,
		fac_code,
		fac_name,
		plan_price,
		price_rate,
		sell_price,
		brand_name,
		agent_name,
		t1.note,
		state,
		check_date,
		checker,
		t1.sup_id,
		t5.sup_code,
		t5.sup_name,
		hrp_inv_id
		FROM SUP_MAT_INV t1
		left join
		mat_type_dict t2
		on t1.group_id = t2.group_id
		and t1.hos_id = t2.hos_id
		and t1.copy_code = t2.copy_code
		and t1.mat_type_id = t2.mat_type_id
		and
		t2.is_stop = 0
		left join hos_unit t3
		on t1.group_id = t3.group_id
		and
		t1.hos_id = t3.hos_id
		and t1.unit_code = t3.unit_code
		left join
		hos_fac_dict t4
		on t1.group_id = t4.group_id
		and t1.hos_id = t4.hos_id
		and t1.fac_id = t4.fac_id
		and t4.is_stop = 0
		left join hos_sup_dict t5
		on t1.group_id = t5.group_id
		and t1.hos_id = t5.hos_id
		and t1.sup_id =
		t5.sup_id
		and t5.is_stop = 0
		WHERE
		t1.group_id =
		#{group_id,jdbcType=INTEGER} and
		t1.hos_id = #{hos_id,jdbcType=INTEGER}
		and
		t1.copy_code = #{copy_code,jdbcType=VARCHAR} and
		inv_id =
		#{inv_id,jdbcType=INTEGER}

	</select>
	<select id="queryByUniqueness" resultMap="supMatInv"
		parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		inv_id,
		inv_code,
		inv_name,
		alias,
		spell_code,
		wbx_code,
		mat_type_id,
		inv_model,
		unit_code,
		fac_id,
		plan_price,
		price_rate,
		sell_price,
		brand_name,
		agent_name,
		note,
		state,
		check_date,
		checker,
		sup_id,
		hrp_inv_id
		FROM SUP_MAT_INV
		<where>
			<if test="group_id != null and group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="inv_code != null and inv_code != ''">
				AND inv_code = #{inv_code,jdbcType=VARCHAR}
			</if>
			<if test="inv_id != null and inv_id != ''">
				AND inv_id = #{inv_id,jdbcType=INTEGER}
			</if>
			<if test="inv_name != null and inv_name != ''">
				AND inv_name = #{inv_name,jdbcType=VARCHAR}
			</if>
			<if test="alias != null and alias != ''">
				AND alias = #{alias,jdbcType=VARCHAR}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
			<if test="mat_type_id != null and mat_type_id != ''">
				AND mat_type_id = #{mat_type_id,jdbcType=INTEGER}
			</if>
			<if test="inv_model != null and inv_model != ''">
				AND inv_model = #{inv_model,jdbcType=VARCHAR}
			</if>
			<if test="unit_code != null and unit_code != ''">
				AND unit_code = #{unit_code,jdbcType=VARCHAR}
			</if>
			<if test="fac_id != null and fac_id != ''">
				AND fac_id = #{fac_id,jdbcType=INTEGER}
			</if>
			<if test="plan_price != null and plan_price != ''">
				AND plan_price = #{plan_price,jdbcType=INTEGER}
			</if>
			<if test="price_rate != null and price_rate != ''">
				AND price_rate = #{price_rate,jdbcType=INTEGER}
			</if>
			<if test="sell_price != null and sell_price != ''">
				AND sell_price = #{sell_price,jdbcType=INTEGER}
			</if>
			<if test="brand_name != null and brand_name != ''">
				AND brand_name = #{brand_name,jdbcType=VARCHAR}
			</if>
			<if test="agent_name != null and agent_name != ''">
				AND agent_name = #{agent_name,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state != ''">
				AND state = #{state,jdbcType=INTEGER}
			</if>
			<if test="check_date != null and check_date != ''">
				AND check_date = #{check_date,jdbcType=DATE}
			</if>
			<if test="checker != null and checker != ''">
				AND checker = #{checker,jdbcType=INTEGER}
			</if>
			<if test="sup_id != null and sup_id != ''">
				AND sup_id = #{sup_id,jdbcType=INTEGER}
			</if>
		</where>
		order by inv_id asc
	</select>
	<select id="queryExists" resultMap="supMatInv" parameterType="java.util.Map">

		SELECT
		group_id,
		hos_id,
		copy_code,
		inv_id,
		inv_code,
		inv_name,
		alias,
		spell_code,
		wbx_code,
		mat_type_id,
		inv_model,
		unit_code,
		fac_id,
		plan_price,
		price_rate,
		sell_price,
		brand_name,
		agent_name,
		note,
		state,
		check_date,
		checker,
		sup_id
		FROM SUP_MAT_INV
		<where>
			<if test="group_id != null and group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="inv_id != null and inv_id != ''">
				AND inv_id = #{inv_id,jdbcType=INTEGER}
			</if>
			<if test="inv_code != null and inv_code != ''">
				AND inv_code = #{inv_code,jdbcType=VARCHAR}
			</if>
			<if test="inv_name != null and inv_name != ''">
				AND inv_name = #{inv_name,jdbcType=VARCHAR}
			</if>
			<if test="alias != null and alias != ''">
				AND alias = #{alias,jdbcType=VARCHAR}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND spell_code = #{spell_code,jdbcType=VARCHAR}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND wbx_code = #{wbx_code,jdbcType=VARCHAR}
			</if>
			<if test="mat_type_id != null and mat_type_id != ''">
				AND mat_type_id = #{mat_type_id,jdbcType=INTEGER}
			</if>
			<if test="inv_model != null and inv_model != ''">
				AND inv_model = #{inv_model,jdbcType=VARCHAR}
			</if>
			<if test="unit_code != null and unit_code != ''">
				AND unit_code = #{unit_code,jdbcType=VARCHAR}
			</if>
			<if test="fac_id != null and fac_id != ''">
				AND fac_id = #{fac_id,jdbcType=INTEGER}
			</if>
			<if test="plan_price != null and plan_price != ''">
				AND plan_price = #{plan_price,jdbcType=INTEGER}
			</if>
			<if test="price_rate != null and price_rate != ''">
				AND price_rate = #{price_rate,jdbcType=INTEGER}
			</if>
			<if test="sell_price != null and sell_price != ''">
				AND sell_price = #{sell_price,jdbcType=INTEGER}
			</if>
			<if test="brand_name != null and brand_name != ''">
				AND brand_name = #{brand_name,jdbcType=VARCHAR}
			</if>
			<if test="agent_name != null and agent_name != ''">
				AND agent_name = #{agent_name,jdbcType=VARCHAR}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state != ''">
				AND state = #{state,jdbcType=INTEGER}
			</if>
			<if test="check_date != null and check_date != ''">
				AND check_date = #{check_date,jdbcType=DATE}
			</if>
			<if test="checker != null and checker != ''">
				AND checker = #{checker,jdbcType=INTEGER}
			</if>
			<if test="sup_id != null and sup_id != ''">
				AND sup_id = #{sup_id,jdbcType=INTEGER}
			</if>
		</where>
		order by group_id asc
	</select>

	<select id="queryExistsByInvName" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(inv_id) inv_id
		from mat_inv_dict
		where
		group_id = #{group_id,jdbcType=INTEGER}
		and hos_id =
		#{hos_id,jdbcType=INTEGER}
		and copy_code =
		#{copy_code,jdbcType=VARCHAR}
		and inv_name =
		#{inv_name,jdbcType=VARCHAR}
		and inv_model =
		#{inv_model,jdbcType=VARCHAR}
		and fac_id = #{fac_id,jdbcType=INTEGER}
		and is_stop = 0

	</select>

	<select id="queryMatInvByCode" resultMap="matInvDict"
		parameterType="java.util.Map">
		SELECT
		a.group_id, a.hos_id, a.copy_code, a.inv_id, a.inv_no, a.inv_code, a.inv_name,
		a.spell_code,
		a.wbx_code, a.mat_type_id, a.mat_type_no, a.inv_model, a.unit_code, c.unit_name,
		a.amortize_type, a.price_type, a.fac_id, e.fac_no, e.fac_code,
		e.fac_name, a.plan_price,
		a.price_rate, a.sell_price, a.sdate, a.edate, a.agent_name, a.brand_name,
		a.inv_usage,
		a.inv_structure, a.per_weight, a.per_volum, a.abc_type, a.note, a.is_single_ven,
		a.is_charge, a.is_highvalue, a.is_dura, a.is_com, a.is_bar,
		a.is_per_bar, a.is_quality, a.is_disinfect,
		a.is_cert, a.is_sec_whg, a.is_shel_make, a.change_note, a.is_bid, a.bid_date,
		a.bid_code,
		a.is_involved, a.is_implant, a.stora_tran_cond,
		a.is_zero_store,a.alias,a.alias_spell, a.manage_type,
		a.memory_encoding, a.source_plan
		FROM mat_inv_dict a
		left join mat_type_dict b
		on a.group_id = b.group_id
		and a.hos_id = b.hos_id
		and a.copy_code = b.copy_code
		and a.mat_type_id = b.mat_type_id
		and a.mat_type_no = b.mat_type_no
		left join hos_unit c
		on a.group_id = c.group_id
		and a.hos_id = c.hos_id
		and a.unit_code = c.unit_code
		left join hos_fac_dict e
		on a.group_id = e.group_id
		and a.hos_id = e.hos_id
		and a.fac_id = e.fac_id
		and e.is_stop = 0
		left join mat_prod_cert_inv f
		on a.group_id = f.group_id
		and a.hos_id = f.hos_id
		and a.copy_code = f.copy_code
		and a.inv_id = f.inv_id
		WHERE a.group_id = #{group_id,jdbcType=INTEGER}
		and a.hos_id = #{hos_id,jdbcType=INTEGER}
		and a.copy_code = #{copy_code,jdbcType=VARCHAR}
		and a.inv_id = #{inv_id,jdbcType=INTEGER}
		and a.is_stop=0
	</select>
</mapper>

