<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.cost.dao.report.CostSuperReportDataSetMapper">
	
	<!-- 查询报表数据集 -->
	<select id="querySuperReportDsByMod" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ds.mod_code as "mod_code", m.mod_name as "mod_name", ds.ds_code as "ds_code", 
			ds.DS_NAME as "ds_name", ds.ds_type as "ds_type", <!-- ds.sqlcontent as "sqlcontent",  -->
			ds.state as "state", ds.ds_class as "ds_class", ds.ds_group "ds_group", 
			ds.sort_code "sort_code", ds.is_sys "is_sys" 
		FROM rep_dataset ds
		INNER JOIN sys_mod m 
			ON ds.mod_code=m.mod_code
		WHERE ds.group_id = #{group_id,jdbcType=INTEGER} 
			AND ds.hos_id = #{hos_id,jdbcType=INTEGER} 
			AND ds.copy_code = #{copy_code,jdbcType=VARCHAR} 
			<if test="mod_code != null and mod_code != ''">
				AND ds.mod_code=#{mod_code,jdbcType=VARCHAR}
			</if>
		ORDER BY ds.sort_code
	</select> 	
	
	<select id="queryDsSql" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ds_type, sqlcontent 
		FROM rep_dataset 
		WHERE group_id=#{group_id,jdbcType=INTEGER} 
			AND hos_id=#{hos_id,jdbcType=INTEGER} 
			AND copy_code=#{copy_code,jdbcType=VARCHAR} 
			AND ds_code=#{ds_code,jdbcType=VARCHAR} 
	</select>
	
	<select id="querySql"  resultType="java.util.Map">
		${value}
	</select>

	<!-- 查询报表元素 -->
	<select id="querySuperReportDsColForMake" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			ds.mod_code AS "mod_code",
			m.mod_name AS "mod_name",
			ds.ds_code AS "ds_code",
			ds.DS_NAME AS "ds_name",
			ds.ds_type AS "ds_type" ,
			ds.ds_class AS "ds_class",
			ds.ds_group AS "ds_group", 
			rds.col_code as "col_code",
			rds.col_name as "col_name"
		FROM rep_dataset ds
		INNER JOIN sys_mod m 
			ON ds.mod_code = m.mod_code 
		INNER JOIN rep_ds_colum rds 
			ON rds.group_id = ds.group_id 
			AND rds.hos_id = ds.hos_id 
			AND rds.copy_code = ds.copy_code 
			AND rds.ds_code = ds.ds_code 
		WHERE ds.group_id = #{group_id,jdbcType=INTEGER} 
			AND ds.hos_id = #{hos_id,jdbcType=INTEGER} 
			AND ds.copy_code = #{copy_code,jdbcType=VARCHAR} 
			<if test="mod_code != null and mod_code != ''">
				AND ds.mod_code=#{mod_code,jdbcType=VARCHAR}
			</if>
		ORDER BY ds.sort_code, rds.sort_code
	</select> 
	
	<select id="querySuperReportDsByDSCode" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ds.mod_code as "mod_code", m.mod_name as "mod_name", ds.ds_code as "ds_code",
			ds.ds_name as "ds_name", ds.ds_type as "ds_type", ds.ds_group as "ds_group", 
			ds.sort_code as "sort_code", ds.is_sys as "is_sys"
		FROM rep_dataset ds
		INNER JOIN sys_mod m 
			on ds.mod_code = m.mod_code
		WHERE ds.group_id = #{group_id,jdbcType=INTEGER} 
			AND ds.hos_id = #{hos_id,jdbcType=INTEGER} 
			AND copy_code=#{copy_code,jdbcType=INTEGER} 
			AND ds.ds_code = #{ds_code,jdbcType=INTEGER}
			<!-- and state=1 -->
	</select>
	
	<insert id="saveSuperReportDs" parameterType="java.util.Map">
		INSERT INTO rep_dataset (
			group_id, hos_id, copy_code, ds_code, ds_name, ds_type, mod_code, 
			state, sqlcontent, ds_class, ds_group, sort_code, is_sys 
		) VALUES(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{ds_code,jdbcType=VARCHAR},
			#{ds_name,jdbcType=VARCHAR},
			#{ds_type,jdbcType=VARCHAR},
			#{mod_code,jdbcType=VARCHAR},
			#{state,jdbcType=INTEGER},
			#{sqlcontent,jdbcType=VARCHAR},
			#{ds_class,jdbcType=VARCHAR}, 
			#{ds_group,jdbcType=VARCHAR}, 
			#{sort_code,jdbcType=VARCHAR}, 
			#{is_sys,jdbcType=INTEGER}
		)
	</insert>
	
	<delete id="deleteSuperReportDs" parameterType="java.util.Map">
		DELETE FROM rep_dataset 
		WHERE group_id=#{group_id,jdbcType=INTEGER} 
			AND hos_id = #{hos_id,jdbcType=INTEGER} 
			AND copy_code=#{copy_code,jdbcType=VARCHAR} 
			AND ds_code = #{ds_code,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteSuperReportDSColoums" parameterType="java.util.Map">
		DELETE FROM rep_ds_colum 
		WHERE group_id=#{group_id,jdbcType=INTEGER} 
			AND hos_id = #{hos_id,jdbcType=INTEGER} 
			AND copy_code=#{copy_code,jdbcType=VARCHAR} 
			AND ds_code = #{ds_code,jdbcType=VARCHAR}
	</delete>
	
	<!-- 查询数据集下元素 -->
	<select id="querySuperReportDSColoums" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			ds_code AS "ds_code",
			col_code AS "col_code",
			col_name AS "col_name",
			col_type AS "col_type",
			col_length AS "col_length" ,
			sort_code as "sort_code"
		FROM rep_ds_colum 
		WHERE group_id=#{group_id,jdbcType=INTEGER} 
			AND hos_id = #{hos_id,jdbcType=INTEGER} 
			AND copy_code=#{copy_code,jdbcType=VARCHAR} 
			AND ds_code = #{ds_code,jdbcType=VARCHAR}
		ORDER BY sort_code 
	</select> 
	
	<select id="querySuperReportDSparaValue" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT pv.para_name, pv.para_value, pv.ds_code, p.para_json 
		FROM rep_ds_para p 
		LEFT JOIN rep_rep_ds_para pv
			ON pv.group_id=p.group_id 
			AND pv.hos_id=p.hos_id 
			AND pv.copy_code=p.copy_code 
			AND pv.ds_code=p.ds_code 
			AND pv.para_name=p.para_code
		WHERE p.group_id=#{group_id,jdbcType=INTEGER} 
			AND p.hos_id = #{hos_id,jdbcType=INTEGER} 
			AND p.copy_code=#{copy_code,jdbcType=VARCHAR} 
			AND p.ds_code = #{ds_code,jdbcType=VARCHAR}
	</select> 
	
	<insert id="saveSuperReportDSColoums" parameterType="java.util.Map">
		INSERT INTO rep_ds_colum(
			group_id, hos_id, copy_code, ds_code, col_code, col_name, col_type, col_length, bak, sort_code
		) 
		<foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
			SELECT #{group_id,jdbcType=INTEGER},
				#{hos_id,jdbcType=INTEGER},
				#{copy_code,jdbcType=VARCHAR},
				#{ds_code,jdbcType=VARCHAR},
				#{item.col_code,jdbcType=VARCHAR},
				#{item.col_name,jdbcType=VARCHAR},
				#{item.col_type,jdbcType=NUMERIC},
				#{item.col_length,jdbcType=INTEGER},
				#{item.bak,jdbcType=VARCHAR},
				#{item.sort_code,jdbcType=NUMERIC} 
			FROM dual
		</foreach>
	</insert>
	
	<insert id="saveSuperReportDSParaValues" parameterType="java.util.Map">
		INSERT INTO REP_REP_DS_PARA(
			group_id, hos_id, copy_code, mod_code, ds_code, para_name, para_value
		)
		<foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
			SELECT #{group_id,jdbcType=INTEGER}, 
				#{hos_id,jdbcType=INTEGER}, 
				#{copy_code,jdbcType=VARCHAR}, 
				#{mod_code,jdbcType=VARCHAR}, 
				#{item.ds_code,jdbcType=VARCHAR}, 
				#{item.param_name,jdbcType=VARCHAR}, 
				#{item.param_value,jdbcType=VARCHAR} 
			FROM dual
		</foreach>
	</insert>
	
	<delete id="deleteSuperReportDsParaValues" parameterType="java.util.Map"  >
		DELETE FROM rep_rep_ds_para 
		WHERE group_id=#{group_id,jdbcType=INTEGER} 
			and hos_id=#{hos_id,jdbcType=INTEGER} 
			and copy_code=#{copy_code,jdbcType=VARCHAR} 
			and mod_code=#{mod_code,jdbcType=VARCHAR} 
			and ds_code in 
			<foreach open="(" close=")" collection="list" item="item" index="index" separator=",">
				#{item.ds_code,jdbcType=VARCHAR}
			</foreach>
	</delete>

	<insert id="saveRepDSParam" parameterType="java.util.Map">
		<foreach open="begin" close="end;" collection="list" item="item" index="index">
			INSERT INTO rep_ds_para (
				group_id, hos_id, copy_code, ds_code, para_code, para_name, 
				para_type, dict_code, para_json, sort_code, is_stop
			) values (
				#{group_id,jdbcType=NUMERIC},
				#{hos_id,jdbcType=NUMERIC},
				#{copy_code,jdbcType=VARCHAR},
				#{ds_code,jdbcType=VARCHAR},
				#{item.para_code,jdbcType=VARCHAR},
				#{item.para_name,jdbcType=VARCHAR},
				#{item.para_type,jdbcType=NUMERIC},
				#{item.dict_code,jdbcType=VARCHAR},
				#{item.para_json,jdbcType=VARCHAR},
				#{item.sort_code,jdbcType=NUMERIC},
				#{item.is_stop,jdbcType=NUMERIC} 
			);
		</foreach>
	</insert>
	
	<insert id="saveRepRepDSPara" parameterType="java.util.Map">
		<foreach open="begin" close="end;" collection="list" item="item" index="index">
			INSERT INTO rep_rep_ds_para (
				rep_code, group_id, hos_id, copy_code, mod_code, ds_code, para_name, para_value
			)
			VALUES(
				#{item.rep_code,jdbcType=VARCHAR},
				#{group_id,jdbcType=NUMERIC},
				#{hos_id,jdbcType=NUMERIC},
				#{copy_code,jdbcType=VARCHAR},
				#{mod_code,jdbcType=VARCHAR},
				#{item.ds_code,jdbcType=VARCHAR},
				#{item.para_name,jdbcType=NUMERIC},
				#{item.para_value,jdbcType=VARCHAR}
			);
		</foreach>
	</insert>

	<select id="queryDetailParamForMakeReport" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			dp.para_code AS "para_id",
			dp.para_code AS "para_code",
			dp.para_type AS "para_type",
			dp.para_name AS "para_name",
			dp.ds_code AS "ds_code",
			rdp.para_value AS "para_value"
		FROM rep_ds_para dp
		FULL JOIN rep_rep_ds_para rdp 
			ON dp.group_id = rdp.group_id 
			AND dp.hos_id = rdp.hos_id 
			AND dp.copy_code = rdp.copy_code  
			AND dp.ds_code = rdp.ds_code 
			AND dp.para_code = rdp.para_name
		WHERE dp.group_id = #{group_id,jdbcType=NUMERIC} 
			AND dp.hos_id = #{hos_id,jdbcType = NUMERIC} 
			AND rdp.rep_code = #{report_code,jdbcType=VARCHAR}
			AND dp.copy_code = #{copy_code,jdbcType=VARCHAR}  
			AND dp.ds_code in  
			<foreach open="(" close=")" collection="list" item="item" index="index" separator=",">
				#{item.ds_code}
			</foreach>
			AND dp.para_code in 
			<foreach open="(" close=")" collection="list" item="item" index="index" separator=",">
				#{item.col_code}
			</foreach>
		ORDER BY dp.sort_code 
	</select>
	
	<select id="queryDetailParamForMakeReport2" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT para_name as "para_name", para_value as "para_value" 
		FROM rep_rep_ds_para rdp 
		WHERE group_id = #{group_id,jdbcType=NUMERIC} 
			AND hos_id = #{hos_id,jdbcType = NUMERIC} 
			AND copy_code = #{copy_code,jdbcType=VARCHAR} and ds_code in  
			<foreach open="(" close=")" collection="list" item="item" index="index" separator=",">
				#{item.ds_code}
			</foreach>
		ORDER BY sort_code
	</select>
	
	<delete id="deleteRepDSPara" parameterType="java.util.Map">
		DELETE FROM rep_ds_para 
		WHERE group_id = #{group_id,jdbcType=INTEGER} 
			AND hos_id = #{hos_id,jdbcType=INTEGER} 
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND ds_code = #{ds_code,jdbcType=VARCHAR}
	</delete>
	
	<!-- 查询数据集下元素 -->
	<select id="querySuperReportDSParas" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT p.para_code as "para_code", p.para_name as "para_name", p.para_type as "para_type", 
			p.para_json as "para_json", p.dict_code as "dict_code", d.dict_name as "dict_name", p.is_stop as "is_stop", 
			case p.para_type when 1 then '文本框' when 2 then '日期框' when 3 then '下拉框' when 4 then '检索下拉框' when 5 then '复选框' else '其他' end "para_type_name",
			case p.is_stop when 1 then '是' else '否' end "is_stop_name"
		FROM rep_ds_para p
		LEFT JOIN rep_define_dict d 
			ON p.group_id = d.group_id 
			AND p.hos_id = d.hos_id 
			AND p.copy_code = d.copy_code 
			AND p.dict_code = d.dict_code
		WHERE p.group_id = #{group_id} 
			AND p.hos_id = #{hos_id}   
			AND p.copy_code = #{copy_code}   
			AND p.ds_code=#{ds_code}
			<if test="para_code != null and para_code != ''">
				AND p.para_code=#{para_code}
			</if>
			<if test="is_stop != null and is_stop != ''">
				AND p.is_stop=#{is_stop}
			</if>
		ORDER BY p.sort_code
	</select> 
	
	<!-- 加载对应sql -->
	<select id="querySuperReportDsSql" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT sqlcontent
		FROM REP_DATASET
		WHERE group_id = #{group_id,jdbcType=INTEGER}  
			AND hos_id = #{hos_id,jdbcType=INTEGER} 
			AND copy_code = #{copy_code,jdbcType=VARCHAR} 
			AND ds_code = #{ds_code,jdbcType=VARCHAR}
	</select>
	
</mapper>
