<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.CountriesMapper">

	<resultMap id="countries" type="com.chd.hrp.sys.entity.Countries">
        <result property="countries_code" column="countries_code"/>
        <result property="countries_name" column="countries_name"/>
        <result property="countries_simple" column="countries_simple"/>
        <result property="countries_en" column="countries_en"/>
        <result property="is_stop" column="is_stop"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="note" column="note"/>
	</resultMap>
	
    <insert id="addCountries" useGeneratedKeys="true" >
    
        INSERT INTO DIC_COUNTRIES (
                    countries_code
			 ,
                    countries_name
			 ,
                    countries_simple
			 ,
                    countries_en
			 ,
                    is_stop
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    note
			 
        ) VALUES (
#{countries_code}			 ,
#{countries_name}			 ,
#{countries_simple}			 ,
#{countries_en}			 ,
#{is_stop}			 ,
#{spell_code}			 ,
#{wbx_code}			 ,
#{note}			 
        )
    
    </insert>
	<insert id="addBatchCountries" parameterType="java.util.List" >
    
        INSERT INTO DIC_COUNTRIES (
                    countries_code
			 ,
                    countries_name
			 ,
                    countries_simple
			 ,
                    countries_en
			 ,
                    is_stop
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.countries_code}			 ,
#{item.countries_name}			 ,
#{item.countries_simple}			 ,
#{item.countries_en}			 ,
#{item.is_stop}			 ,
#{item.spell_code}			 ,
#{item.wbx_code}			 ,
#{item.note}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateCountries" parameterType="java.util.Map">
    
        UPDATE dic_countries SET
			 countries_name = #{countries_name}
			 ,
			 countries_simple = #{countries_simple}
			 ,
			 countries_en = #{countries_en}
			 ,
			 is_stop = #{is_stop}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 note = #{note}
			 
        WHERE 
		 countries_code = #{countries_code}
			 
   
	</update>
	<update id="updateBatchCountries" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE dic_countries SET
			 countries_name = #{countries_name}
			 ,
			 countries_simple = #{countries_simple}
			 ,
			 countries_en = #{countries_en}
			 ,
			 is_stop = #{is_stop}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 note = #{note}
			 
        WHERE 
		 countries_code = #{item.countries_code}
			 
    </foreach>
	</update>

    <delete id="deleteCountries" parameterType="java.util.Map">
   
        DELETE FROM dic_countries WHERE
	        countries_code = #{countries_code} 
   
    </delete>
    <delete id="deleteBatchCountries" parameterType="java.util.List">
        DELETE FROM dic_countries WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 countries_code = #{item.countries_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryCountriesByCode" resultType="com.chd.hrp.sys.entity.Countries" parameterType="string" >
	  
        SELECT 
            countries_code,
            countries_name,
            countries_simple,
            countries_en,
            is_stop,
            spell_code,
            wbx_code,
            note
		FROM dic_countries 
	        WHERE 
		        countries_code = #{countries_code} 
        
	</select>
	<select id="queryCountries" parameterType="java.util.Map" resultMap="countries" >
      
        SELECT 
            countries_code,
            countries_name,
            countries_simple,
            countries_en,
            is_stop,
            spell_code,
            wbx_code,
            note
        FROM DIC_COUNTRIES 
            <where>                     
			    <if test="countries_code != null and countries_code != '' and countries_code != '%%'">
                    AND countries_code like #{countries_code}
               </if>
			    <if test="countries_name != null and countries_name != '' and countries_name != '%%'">
                    AND countries_name like #{countries_name}
               </if>
			    <if test="countries_simple != null and countries_simple != ''">
                    AND countries_simple = #{countries_simple}
               </if>
			    <if test="countries_en != null and countries_en != ''">
                    AND countries_en = #{countries_en}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
        </where>   
				order by countries_code asc
    </select>
	
</mapper>

