<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.RegionMapper">

	<resultMap id="region" type="com.chd.hrp.sys.entity.Region">
        <result property="cities_code" column="cities_code"/>
        <result property="cities_name" column="cities_name"/>
        <result property="is_stop" column="is_stop"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="note" column="note"/>
	</resultMap>
	
    <insert id="addRegion" useGeneratedKeys="true" >
    
        INSERT INTO DIC_REGION (
                    cities_code
			 ,
                    cities_name
			 ,
                    is_stop
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    note
			 
        ) VALUES (
#{cities_code}			 ,
#{cities_name}			 ,
#{is_stop}			 ,
#{spell_code}			 ,
#{wbx_code}			 ,
#{note}			 
        )
    
    </insert>
	<insert id="addBatchRegion" parameterType="java.util.List" >
    
        INSERT INTO DIC_REGION (
                    cities_code
			 ,
                    cities_name
			 ,
                    is_stop
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.cities_code}			 ,
#{item.cities_name}			 ,
#{item.is_stop}			 ,
#{item.spell_code}			 ,
#{item.wbx_code}			 ,
#{item.note}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateRegion" parameterType="java.util.Map">
    
        UPDATE dic_region SET
			 cities_name = #{cities_name}
			 ,
			 is_stop = #{is_stop}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 note = #{note}
			 
        WHERE 
		 cities_code = #{cities_code}
			 
   
	</update>
	<update id="updateBatchRegion" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE dic_region SET
			 cities_name = #{cities_name}
			 ,
			 is_stop = #{is_stop}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 note = #{note}
			 
        WHERE 
		 cities_code = #{item.cities_code}
			 
    </foreach>
	</update>

    <delete id="deleteRegion" parameterType="java.util.Map">
   
        DELETE FROM dic_region WHERE
	        cities_code = #{cities_code} 
   
    </delete>
    <delete id="deleteBatchRegion" parameterType="java.util.List">
        DELETE FROM dic_region WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 cities_code = #{item.cities_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryRegionByCode" resultType="com.chd.hrp.sys.entity.Region" parameterType="string" >
	  
        SELECT 
            cities_code,
            cities_name,
            is_stop,
            spell_code,
            wbx_code,
            note
		FROM dic_region 
	        WHERE 
		        cities_code = #{cities_code} 
        
	</select>
	<select id="queryRegion" parameterType="java.util.Map" resultMap="region" >
      
        SELECT 
            cities_code,
            cities_name,
            is_stop,
            spell_code,
            wbx_code,
            note
        FROM DIC_REGION 
            <where>                     
			    <if test="cities_code != null and cities_code != '' and cities_code != '%%'">
                    AND cities_code like #{cities_code}
               </if>
			    <if test="cities_name != null and cities_name != '' and cities_name != '%%'">
                    AND cities_name like #{cities_name}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
        </where>   
				order by cities_code asc
    </select>
	
</mapper>

