<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.RulesMapper">

	<resultMap id="rules" type="com.chd.hrp.sys.entity.Rules">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="mod_code" column="mod_code" />
		<result property="mod_name" column="mod_name" />
		<result property="copy_code" column="copy_code" />
		<result property="copy_name" column="copy_name" />
		<result property="proj_code" column="proj_code" />
		<result property="proj_name" column="proj_name" />
		<result property="max_level" column="max_level" />
		<result property="max_length" column="max_length" />
		<result property="level1" column="level1" />
		<result property="level2" column="level2" />
		<result property="level3" column="level3" />
		<result property="level4" column="level4" />
		<result property="level5" column="level5" />
		<result property="level6" column="level6" />
		<result property="level7" column="level7" />
		<result property="level8" column="level8" />
		<result property="level9" column="level9" />
		<result property="level10" column="level10" />
		<result property="is_auto" column="is_auto" />
	</resultMap>

	<insert id="addRules" useGeneratedKeys="true">

		INSERT INTO HOS_RULES (
		group_id
		,
		hos_id
		,
		mod_code
		,
		copy_code
		,
		proj_code
		,
		proj_name
		,
		max_level
		,
		max_length
		,
		level1
		,
		level2
		,
		level3
		,
		level4
		,
		level5
		,
		level6
		,
		level7
		,
		level8
		,
		level9
		,
		level10
		,
		is_auto

		) VALUES (
		#{group_id} ,
		#{hos_id} ,
		#{mod_code} ,
		#{copy_code} ,
		#{proj_code} ,
		#{proj_name} ,
		#{max_level} ,
		#{max_length} ,
		#{level1} ,
		#{level2} ,
		#{level3} ,
		#{level4} ,
		#{level5} ,
		#{level6} ,
		#{level7} ,
		#{level8} ,
		#{level9} ,
		#{level10} ,
		#{is_auto}
		)

	</insert>
	<insert id="addBatchRules" parameterType="java.util.List">

		INSERT INTO HOS_RULES (
		group_id
		,
		hos_id
		,
		mod_code
		,
		copy_code
		,
		proj_code
		,
		proj_name
		,
		max_level
		,
		max_length
		,
		level1
		,
		level2
		,
		level3
		,
		level4
		,
		level5
		,
		level6
		,
		level7
		,
		level8
		,
		level9
		,
		level10
		,
		is_auto

		)
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.mod_code} ,
			#{item.copy_code} ,
			#{item.proj_code} ,
			#{item.proj_name} ,
			#{item.max_level} ,
			#{item.max_length} ,
			#{item.level1} ,
			#{item.level2} ,
			#{item.level3} ,
			#{item.level4} ,
			#{item.level5} ,
			#{item.level6} ,
			#{item.level7} ,
			#{item.level8} ,
			#{item.level9} ,
			#{item.level10} ,
			#{item.is_auto}
			from dual
		</foreach>

	</insert>

	<update id="updateRules" parameterType="java.util.Map">

		UPDATE hos_rules SET
		level1 = #{level1}
		<if test="level2 != null and level2 !='' ">
			,level2 = #{level2}
		</if>
		
		<if test="level3 != null and level3 !='' ">
			,level3 = #{level3}
		</if>
		<if test="level4 != null and level4 !='' ">
			,level4 = #{level4}
		</if>
		<if test="level5 != null and level5 !='' ">
			,level5 = #{level5}
		</if>
		<if test="level6 != null and level6 !='' ">
			,level6 = #{level6}
		</if>
		<if test="level7 != null and level7 !='' ">
			,level7 = #{level7}
		</if>
		<if test="level8 != null and level8 !='' ">
			,level8 = #{level8}
		</if>
		<if test="level9 != null and level9 !='' ">
			,level9 = #{level9}
		</if>
		<if test="level10 != null and level10 !='' ">
			,level10 = #{level10}
		</if>
		<if test="max_level != null and max_level !='' ">
			,max_level = #{max_level}
		</if>
		
		,
		is_auto = #{is_auto}

		WHERE
		group_id = #{group_id,jdbcType=INTEGER}
		<if test="hos_id != null and hos_id !='' ">
			and hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		and
		mod_code = #{mod_code,jdbcType=VARCHAR}
		<if test="copy_code != null and copy_code !='' and copy_code !='null' ">
			and
		copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		and
		proj_code = #{proj_code,jdbcType=VARCHAR}
	</update>
	<update id="updateBatchRules" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin"
			close="end;" separator=";">
			UPDATE hos_rules SET
			proj_name = #{proj_name}
			,
			max_level = #{max_level}
			,
			max_length = #{max_length}
			,
			level1 = #{level1}
			,
			level2 = #{level2}
			,
			level3 = #{level3}
			,
			level4 = #{level4}
			,
			level5 = #{level5}
			,
			level6 = #{level6}
			,
			level7 = #{level7}
			,
			level8 = #{level8}
			,
			level9 = #{level9}
			,
			level10 = #{level10}
			,
			is_auto = #{is_auto}

			WHERE
			group_id = #{item.group_id,jdbcType=INTEGER}
			and
			hos_id = #{item.hos_id,jdbcType=INTEGER}
			and
			mod_code = #{item.mod_code,jdbcType=VARCHAR}
			and
			copy_code = #{item.copy_code,jdbcType=VARCHAR}
			and
			proj_code = #{item.proj_code,jdbcType=VARCHAR}

		</foreach>
	</update>

	<delete id="deleteRules" parameterType="java.util.Map">

		DELETE FROM hos_rules WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		mod_code = #{mod_code} and
		copy_code = #{copy_code} and
		proj_code = #{proj_code}

	</delete>
	<delete id="deleteBatchRules" parameterType="java.util.List">
		DELETE FROM hos_rules WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			mod_code = #{item.mod_code}
			and
			copy_code = #{item.copy_code}
			and
			proj_code = #{item.proj_code}

		</foreach>


	</delete>

	<select id="queryRulesByCode" resultType="com.chd.hrp.sys.entity.Rules"
		parameterType="string">

		SELECT
		group_id,
		hos_id,
		mod_code,
		copy_code,
		proj_code,
		proj_name,
		max_level,
		max_length,
		level1,
		level2,
		level3,
		level4,
		level5,
		level6,
		level7,
		level8,
		level9,
		level10,
		is_auto
		FROM hos_rules
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} 
		<if test="copy_code != null and copy_code !='' and  mod_code != '00'">
			and copy_code = #{copy_code}
		</if>
		 and mod_code = #{mod_code}
		 and proj_code = #{proj_code}
		

	</select>
	<select id="queryRules" parameterType="java.util.Map" resultMap="rules">

		SELECT
		hr.group_id,
		hr.hos_id,
		hr.mod_code,
		sm.mod_name,
		hr.copy_code,
		hc.copy_name,
		hr.proj_code,
		hr.proj_name,
		hr.max_level,
		hr.max_length,
		hr.level1,
		hr.level2,
		hr.level3,
		hr.level4,
		hr.level5,
		hr.level6,
		hr.level7,
		hr.level8,
		hr.level9,
		hr.level10,
		hr.is_auto
		FROM HOS_RULES hr
		inner join SYS_MOD sm on hr.mod_code = sm.mod_code
		left join hos_copy hc on hr.group_id=hc.group_id and hr.hos_id=hc.hos_id 
		and hr.copy_code=hc.copy_code
		<where>
			
			<if test="group_id != null and group_id != ''">
				AND hr.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hr.hos_id = #{hos_id}
			</if>
			<if test="mod_code != null and mod_code != ''">
				AND hr.mod_code = #{mod_code}
			</if>
			<if test="copy_code != null and copy_code != '' and  mod_code != '00'">
				AND hr.copy_code = #{copy_code}
			</if>
			<if test="proj_code != null and proj_code != ''">
				AND hr.proj_code = #{proj_code}
			</if>
			<if test="proj_name != null and proj_name != ''">
				AND hr.proj_name = #{proj_name}
			</if>
			
		</where>
		order by hr.proj_code asc
	</select>

</mapper>

