<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.StoreTypeMapper">

	<resultMap id="storeType" type="com.chd.hrp.sys.entity.StoreType">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="type_code" column="type_code"/>
        <result property="type_name" column="type_name"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="is_stop" column="is_stop"/>
        <result property="note" column="note"/>
	</resultMap>
	
    <insert id="addStoreType" useGeneratedKeys="true" >
    
        INSERT INTO HOS_STORE_TYPE (
                    group_id
			 ,
                    hos_id
			 ,
                    type_code
			 ,
                    type_name
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    is_stop
			 ,
                    note
			 
        ) VALUES (
#{group_id}			 ,
#{hos_id}			 ,
#{type_code}			 ,
#{type_name}			 ,
#{spell_code}			 ,
#{wbx_code}			 ,
#{is_stop}			 ,
#{note}			 
        )
    
    </insert>
	<insert id="addBatchStoreType" parameterType="java.util.List" >
    
        INSERT INTO HOS_STORE_TYPE (
                    group_id
			 ,
                    hos_id
			 ,
                    type_code
			 ,
                    type_name
			 ,
                    spell_code
			 ,
                    wbx_code
			 ,
                    is_stop
			 ,
                    note
			 
        ) 
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.group_id}			 ,
#{item.hos_id}			 ,
#{item.type_code}			 ,
#{item.type_name}			 ,
#{item.spell_code}			 ,
#{item.wbx_code}			 ,
#{item.is_stop}			 ,
#{item.note}			 
		 from dual 
		</foreach>
    
    </insert>

	<update id="updateStoreType" parameterType="java.util.Map">
    
        UPDATE hos_store_type SET
			 type_name = #{type_name}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 
        WHERE 
		 group_id = #{group_id}
			  and 
		 hos_id = #{hos_id}
			  and 
		 type_code = #{type_code}
			 
   
	</update>
	<update id="updateBatchStoreType" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE hos_store_type SET
			 type_name = #{type_name}
			 ,
			 spell_code = #{spell_code}
			 ,
			 wbx_code = #{wbx_code}
			 ,
			 is_stop = #{is_stop}
			 ,
			 note = #{note}
			 
        WHERE 
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 type_code = #{item.type_code}
			 
    </foreach>
	</update>

    <delete id="deleteStoreType" parameterType="java.util.Map">
   
        DELETE FROM hos_store_type WHERE
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id}   and 
	        type_code = #{type_code} 
   
    </delete>
    <delete id="deleteBatchStoreType" parameterType="java.util.List">
        DELETE FROM hos_store_type WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 type_code = #{item.type_code}
			 
		</foreach>
        
   
    </delete>
    
    <select id="queryStoreTypeByCode" resultType="com.chd.hrp.sys.entity.StoreType" parameterType="string" >
	  
        SELECT 
            group_id,
            hos_id,
            type_code,
            type_name,
            spell_code,
            wbx_code,
            is_stop,
            note
		FROM hos_store_type 
	        WHERE 
		        group_id = #{group_id}   and 
		        hos_id = #{hos_id}   and 
		        type_code = #{type_code} 
        
	</select>
	<select id="queryStoreType" parameterType="java.util.Map" resultMap="storeType" >
      
        SELECT 
            group_id,
            hos_id,
            type_code,
            type_name,
            spell_code,
            wbx_code,
            is_stop,
            note
        FROM HOS_STORE_TYPE 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="type_code != null and type_code != '' and type_code != '%%'">
                    AND type_code like #{type_code}
               </if>
			    <if test="type_name != null and type_name != '' and type_name != '%%'">
                    AND type_name like #{type_name}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
        </where>   
				order by group_id asc
    </select>
    
    <!--用于集团化管理   集团库房选择器       	集团库房类型   -->
	<select id="queryGroupStoreType" parameterType="java.util.Map" resultMap="storeType" >
      
        SELECT 
            group_id,
            hos_id,
            type_code,
            type_name,
            spell_code,
            wbx_code,
            is_stop,
            note
        FROM HOS_STORE_TYPE 
            <where>                     
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="type_code != null and type_code != '' and type_code != '%%'">
                    AND type_code like #{type_code}
               </if>
			    <if test="type_name != null and type_name != '' and type_name != '%%'">
                    AND type_name like #{type_name}
               </if>
			    <if test="spell_code != null and spell_code != ''">
                    AND spell_code = #{spell_code}
               </if>
			    <if test="wbx_code != null and wbx_code != ''">
                    AND wbx_code = #{wbx_code}
               </if>
			    <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
			    <if test="note != null and note != ''">
                    AND note = #{note}
               </if>
        </where>   
				order by group_id asc
    </select>
	
</mapper>

