<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.SupDictMapper">
 
	<resultMap id="supDict" type="com.chd.hrp.sys.entity.SupDict">
        <result property="sup_no" column="sup_no"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="sup_id" column="sup_id"/>
        <result property="type_code" column="type_code"/>
        <result property="sort_code" column="sort_code"/>
        <result property="note" column="note"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="user_code" column="user_code"/>
        <result property="create_date" column="create_date"/>
        <result property="dlog" column="dlog"/>
        <result property="is_stop" column="is_stop"/>
        <result property="contact" column="contact"/>
        <result property="type_name" column="type_name"/>
        <result property="is_mat" column="is_mat" />
		<result property="is_ass" column="is_ass" />
		<result property="is_med" column="is_med" />
		<result property="is_sup" column="is_sup" />
		<result property="is_disable" column="is_disable" />
		<result property="is_delivery" column="is_delivery" />
	</resultMap>
	
	<resultMap id="supDict1" type="java.util.Map">
        <result property="sup_no" column="sup_no"/>
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="sup_id" column="sup_id"/>
        <result property="type_code" column="type_code"/>
        <result property="sort_code" column="sort_code"/>
        <result property="note" column="note"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="user_code" column="user_code"/>
        <result property="create_date" column="create_date"/>
        <result property="dlog" column="dlog"/>
        <result property="is_stop" column="is_stop"/>
        <result property="contact" column="contact"/>
        <result property="type_name" column="type_name"/>
        <result property="is_mat" column="is_mat" />
		<result property="is_ass" column="is_ass" />
		<result property="is_med" column="is_med" />
		<result property="is_sup" column="is_sup" />
		<result property="is_disable" column="is_disable" />
		<result property="is_delivery" column="is_delivery" />
	</resultMap>
	
    <insert id="addSupDict" useGeneratedKeys="true" >
    
        INSERT INTO HOS_SUP_DICT (
                    sup_no
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    sup_id
			 ,
                    sup_code
			 ,
                    sup_name
			 ,
			        type_code
			 ,
                    sort_code
			 ,
                    note
			 ,
			        spell_code
			 ,
                    wbx_code
			 ,
                    user_code
			 ,
                    create_date
			 ,
                     dlog
			 ,
			     
   				is_mat,
	   			is_ass,
	   			is_med,
	   			is_sup, 
	   			is_disable,   
		     is_stop,is_delivery
			) VALUES (
					HOS_SUP_DICT_SEQ.nextval	 ,
					#{group_id,jdbcType=INTEGER}			 ,
					#{hos_id,jdbcType=INTEGER}			 ,
					#{sup_id,jdbcType=INTEGER}			 ,
					#{sup_code,jdbcType=VARCHAR}			 ,
					#{sup_name,jdbcType=VARCHAR}			 ,
					#{type_code,jdbcType=VARCHAR}			 ,
					#{sort_code,jdbcType=VARCHAR}			 ,
					#{note,jdbcType=VARCHAR}			 ,
					#{spell_code,jdbcType=VARCHAR}			 ,
					#{wbx_code,jdbcType=VARCHAR}			 ,
					#{user_code,jdbcType=INTEGER}			 ,
					#{create_date,jdbcType=DATE}			 , 
					#{dlog,jdbcType=VARCHAR}			 ,
   				#{is_mat,jdbcType=INTEGER} ,
	   			#{is_ass,jdbcType=INTEGER} ,
	   			#{is_med,jdbcType=INTEGER} ,
	   			#{is_sup,jdbcType=INTEGER} ,
	   			#{is_disable,jdbcType=INTEGER},
				#{is_stop,jdbcType=INTEGER}	,#{is_delivery,jdbcType=INTEGER}
					)
    </insert>
	<insert id="addBatchSupDict" parameterType="java.util.List" >
    
        INSERT INTO HOS_SUP_DICT (
                  sup_no
			 ,
                    group_id
			 ,
                    hos_id
			 ,
                    sup_id
			 ,
                    sup_code
			 ,
                    sup_name
			 ,
			        type_code
			 ,
                    sort_code
			 ,
                    note
			 ,
			        spell_code
			 ,
                    wbx_code
			 ,
                    user_code
			 ,
                    create_date
			 ,
                    dlog
			 ,
                    is_stop,is_delivery
        )  select HOS_SUP_DICT_SEQ.nextval	 , t.* from (
		 <foreach collection="list" item="item" index="index" separator=" union all " >
        select 		
#{item.group_id}			 ,
#{item.hos_id}			 ,
#{item.sup_id}			 ,
#{item.sup_code}			 ,
#{item.sup_name}			 ,
#{item.type_code}			 ,
#{item.sort_code}			 ,
#{item.note}			 ,
#{item.spell_code}			 ,
#{item.wbx_code}			 ,
#{item.user_code}			 ,
#{item.create_date}			 ,
#{item.dlog}			 ,
#{item.is_stop}	,#{item.is_delivery}		 
		 from dual 
		</foreach>
    )t
    </insert>

	<update id="updateSupDict" parameterType="java.util.Map">
    
        UPDATE hos_sup_dict SET
			sup_code = #{sup_code}			,
			sup_name = #{sup_name}			,
			type_code = #{type_code}			,
			sort_code = #{sort_code}			,
			note = #{note}			,
			spell_code = #{spell_code}			,
			wbx_code = #{wbx_code}			,
			user_code = #{user_code}			,
			create_date = #{create_date}			,
			dlog = #{dlog}			,
			is_stop = #{is_stop}			,
			is_mat = #{is_mat}			,
			is_ass = #{is_ass}			,
			is_med = #{is_med}			,
			is_sup = #{is_sup}			,
			is_delivery = #{is_delivery}	 
        WHERE 		sup_no = #{sup_no}
			  and 	group_id = #{group_id}
			  and 	hos_id = #{hos_id}
			  and 	sup_id = #{sup_id}
			  and 	sup_code = #{sup_code}
	</update>
	
	<update id="updateSupDictState" parameterType="java.util.Map">
    
        UPDATE hos_sup_dict SET is_stop = 1
        WHERE   group_id = #{group_id}
			and hos_id = #{hos_id}
			and sup_id = #{sup_id}
			<if test="sup_code !=null and sup_code !=''">  
	   			and	sup_code = #{sup_code}
			</if> 
		 	and is_stop = '0'
	</update>
	<update id="updateBatchSupDict" parameterType="java.util.List">
     
	<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
        UPDATE hos_sup_dict SET
			 sup_name = #{sup_name}			 ,
			 user_code = #{user_code}			 ,
			 create_date = #{create_date}			 ,
			 note = #{note}			 ,
			 is_stop = #{is_stop},			 
			 is_delivery = #{is_delivery}
        WHERE  sup_no = #{item.sup_no}
			and	group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and sup_id = #{item.sup_id}
			and sup_code = #{item.sup_code}
    </foreach>
	</update>

    <delete id="deleteSupDict" parameterType="java.util.Map">
   
        DELETE FROM hos_sup_dict WHERE
	        sup_no = #{sup_no}   and 
	        group_id = #{group_id}   and 
	        hos_id = #{hos_id}   and 
	        sup_id = #{sup_id}   <!-- and 
	        sup_code = #{sup_code}  -->
   
    </delete>
    <delete id="deleteBatchSupDict" parameterType="java.util.List">
        DELETE FROM hos_sup_dict WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		 group_id = #{item.group_id}
			  and 
		 hos_id = #{item.hos_id}
			  and 
		 sup_id = #{item.sup_id}
			 
		</foreach>
        
   
    </delete>
    
    <select id="querySupDictByCode" resultType="com.chd.hrp.sys.entity.SupDict" parameterType="string" >
	  
        SELECT 
            sup_no,
            group_id,
            hos_id,
            sup_id,
            sup_code,
            sup_name,
            type_code,
            sort_code,
            note,
            spell_code,
            wbx_code,
            user_code,
            create_date,
            dlog,
            is_stop,
            is_mat,
            is_ass,
            is_med,
            is_sup,is_delivery
		FROM hos_sup_dict 
		 <where>   
		        <if test="sup_no != null and sup_no != ''">
                    AND sup_no = #{sup_no}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hos_id = #{hos_id}
               </if>
			    <if test="sup_code != null and sup_code != ''">
                    AND sup_code = #{sup_code}
               </if>
                <if test="is_stop != null and is_stop != ''">
                    AND is_stop = #{is_stop}
               </if>
              </where>  
        
	</select>
	<select id="querySupDict" parameterType="java.util.Map" resultMap="supDict" >
      
        SELECT 
            hsd.sup_no,
            hsd.group_id,
            hsd.hos_id,
            hsd.sup_id,
            hsd.sup_code,
            hsd.sup_name,
            hsd.type_code,
            hsd.sort_code,
            hsd.note,
            hst.type_name,
            asa.contact,
            hsd.spell_code,
            hsd.wbx_code,
            hsd.user_code,
            hsd.create_date,
            hsd.dlog,
            hsd.is_stop,
            hsd.is_disable,
            hsd.is_mat,
            hsd.is_ass,
            hsd.is_med,
            hsd.is_sup,hsd.is_delivery
        FROM HOS_SUP_DICT  hsd 
        left join acc_sup_attr asa
        	on hsd.group_id= asa.group_id 
        	and hsd.hos_id = asa.hos_id
        	and hsd.sup_id = asa.sup_id 
       left join hos_sup_type hst 
       		on
        	hsd.group_id = hst.group_id 
        	and hsd.hos_id = hst.hos_id
        	and hsd.type_code = hst.type_code 
            <where>             
			    <if test="sup_no != null and sup_no != ''">
                    AND hsd.sup_no = #{sup_no}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND hsd.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hsd.hos_id = #{hos_id}
               </if>
			    <if test="sup_id != null and sup_id != ''">
                    AND hsd.sup_id = #{sup_id}
               </if>
			    <if test="sup_code != null and sup_code != ''">
                    AND hsd.sup_code = #{sup_code}
               </if>
			    <if test="sup_name != null and sup_name != ''">
                    AND hsd.sup_name = #{sup_name}
               </if>
			    <if test="user_code != null and user_code != ''">
                    AND hsd.user_code = #{user_code}
               </if>
			    <if test="create_date != null and create_date != ''">
                    AND hsd.create_date = #{create_date}
               </if>
			    <if test="note != null and note != ''">
                    AND hsd.note = #{note}
               </if>
                    AND hsd.is_stop = 0
			   <if test="is_disable != null and is_disable != ''">
                    AND hsd.is_disable = #{is_disable}
               </if>
               <if test="type_code != null and type_code != ''">
                    AND hst.type_code = #{type_code}
               </if>
               <if test="queryTree != null and queryTree != ''">
               		and hsd.${select_code} like '%${queryTree}%'
               </if>
        </where>   
				order by hsd.create_date desc
    </select>
    
    <select id="querySupDictList" parameterType="java.util.Map" resultMap="supDict">
		SELECT hs.group_id,
			   hs.hos_id,
			   hs.sup_id,
			   hs.sup_code,
			   hs.type_code,
			   hst.type_name,
			   hs.sup_name,
			   hs.sort_code,
			   hs.spell_code,
			   hs.wbx_code,
			   hs.is_stop,
			   hs.is_disable,
			   hs.note,
			   hs.is_delivery,
			   hs.is_sup
		FROM HOS_SUP_dict hs 
		left join HOS_SUP_TYPE hst 
			   ON hs.group_id = hst.group_id
			  and hs.hos_id = hst.hos_id
			  and hs.type_code = hst.type_code
			  and hst.is_stop = 0 
		<where>
			hs.is_stop = 0
			<if test="group_id != null and group_id != ''">
				AND hs.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hs.hos_id = #{hos_id}
			</if>
			<if test="sup_id != null and sup_id != ''">
				AND hs.sup_id = #{sup_id}
			</if>
			<if test="sup_code != null and sup_code != ''">
				AND hs.sup_code like '${sup_code}%'
			</if>
			<if test="hos_hos_id != null and hos_hos_id != ''">
				AND hs.hos_hos_id = #{hos_hos_id}
			</if>
			<if test="type_code != null and type_code != ''">
				AND hs.type_code like '${type_code}%'
			</if>
			<if test="sup_name != null and sup_name != ''">
				AND (
					    hs.sup_name like '%${sup_name}%'
					 or hs.sup_code like '%${sup_name}%'
					 or upper(hs.spell_code) like '%${sup_name}%'
				     or upper(hs.wbx_code) like '%${sup_name}%'
				     or lower(hs.spell_code) like '%${sup_name}%'
				     or lower(hs.wbx_code) like '%${sup_name}%'
				)
			</if>
			<if test="sort_code != null and sort_code != ''">
				AND hs.sort_code = #{sort_code}
			</if>
			<if test="spell_code != null and spell_code != ''">
				AND hs.spell_code = #{spell_code}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
				AND hs.wbx_code = #{wbx_code}
			</if>
			<if test="is_disable != null and is_disable != ''">
				AND hs.is_disable = #{is_disable}
			</if>
			<if test="note != null and note != ''">
				AND hs.note = #{note}
			</if>
			<!-- 供应商 -->
			<if test="is_ass != null and is_ass != ''">
				AND hs.is_ass = #{is_ass}
			</if>
			<!-- 物流 -->
			<if test="is_mat != null and is_mat != ''">
				AND hs.is_mat = #{is_mat}
			</if>
			<!-- 药品 -->
			<if test="is_med != null and is_med != ''">
				AND hs.is_med = #{is_med}
			</if>
			<!--是否自制送货-->
			<if test="is_delivery != null and is_delivery != ''">
				AND hs.is_delivery = #{is_delivery}
			</if>
			<!--供应商平台-->
			<if test="is_sup != null and is_sup != ''">
				AND hs.is_sup = #{is_sup}
			</if>
			<!-- 20170829温州要求供应商按权限查询 -->
			<!--and  exists (
				select 1 from v_user_data_perm b 
				where hs.group_id=b.group_id and hs.hos_id=b.hos_id 
					and hs.sup_id=b.perm_code and b.user_id=#{user_id}
					and b.table_code='HOS_SUP_DICT'
					and b.is_read = 1 and b.is_write = 1
			) -->
		</where>
		order by hs.sup_code asc
	</select>
    
	<!--     打印 -->
	<select id="querySupDictPrint" parameterType="java.util.Map" resultMap="supDict1" >
      
        SELECT 
            hsd.sup_no,
            hsd.group_id,
            hsd.hos_id,
            hsd.sup_id,
            hsd.sup_code,
            hsd.sup_name,
            hsd.type_code,
            hsd.sort_code,
            hsd.note,
            hst.type_name,
            asa.contact,
            hsd.spell_code,
            hsd.wbx_code,
            hsd.user_code,
            hsd.create_date,
            hsd.dlog,
            hsd.is_stop,
            hsd.is_disable,
            hsd.is_mat,
            hsd.is_ass,
            hsd.is_med,
            hsd.is_sup,hsd.is_delivery
        FROM HOS_SUP_DICT  hsd 
        left join acc_sup_attr asa
        	on hsd.group_id= asa.group_id 
        	and hsd.hos_id = asa.hos_id
        	and hsd.sup_id = asa.sup_id 
       left join hos_sup_type hst 
       		on
        	hsd.group_id = hst.group_id 
        	and hsd.hos_id = hst.hos_id
        	and hsd.type_code = hst.type_code 
            <where>             
			    <if test="sup_no != null and sup_no != ''">
                    AND hsd.sup_no = #{sup_no}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND hsd.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hsd.hos_id = #{hos_id}
               </if>
			    <if test="sup_id != null and sup_id != ''">
                    AND hsd.sup_id = #{sup_id}
               </if>
			    <if test="sup_code != null and sup_code != ''">
                    AND hsd.sup_code = #{sup_code}
               </if>
			    <if test="sup_name != null and sup_name != ''">
                    AND hsd.sup_name = #{sup_name}
               </if>
			    <if test="user_code != null and user_code != ''">
                    AND hsd.user_code = #{user_code}
               </if>
			    <if test="create_date != null and create_date != ''">
                    AND hsd.create_date = #{create_date}
               </if>
			    <if test="note != null and note != ''">
                    AND hsd.note = #{note}
               </if>
                    AND hsd.is_stop = 0
               <if test="is_disable != null and is_disable != ''">
                    AND hsd.is_disable = #{is_disable}
               </if>
               <if test="type_code != null and type_code != ''">
                    AND hst.type_code = #{type_code}
               </if>
               <if test="queryTree != null and queryTree != ''">
               		and hsd.${select_code} like '%${queryTree}%'
               </if>
        </where>   
				order by hsd.create_date desc
    </select>
	
	<update id="updateSupDict_Sup" parameterType="java.util.Map">
    
        UPDATE hos_sup_dict SET
			<!-- sup_code = #{sup_code}			, -->
			sup_name = #{sup_name}			,
			type_code = #{type_code,jdbcType=VARCHAR}			,
			sort_code = #{sort_code}			,
			note = #{note,jdbcType=VARCHAR}			,
			spell_code = #{spell_code,jdbcType=VARCHAR}			,
			wbx_code = #{wbx_code,jdbcType=VARCHAR}			,
			user_code = #{user_code}			,
			create_date = #{create_date}			,
			dlog = #{dlog}			,
			is_mat = #{is_mat}		     ,
	 	   	is_ass = #{is_ass}		    ,
	       	is_med = #{is_med}	       ,
	       	is_sup = #{is_sup}	       , 
	  	 	is_disable = #{is_disable}
	  	 	<if test="is_delivery != null and is_delivery != ''">
	     	,
		 	is_delivery = #{is_delivery}  
	     	</if>  
        WHERE   group_id = #{group_id}
			and  hos_id = #{hos_id}
			and  sup_id = #{sup_id}
			and  sup_code = #{sup_code}
			and  is_stop = 0	 
	</update>
	
	<!--用于集团化管理   集团化供应商选择器      集团化供应商字典  -->
	<select id="queryGroupSupDict" parameterType="java.util.Map" resultMap="supDict" >
      
        SELECT 
            hsd.sup_no,
            hsd.group_id,
            hsd.hos_id,
            hsd.sup_id,
            hsd.sup_code,
            hsd.sup_name,
            hsd.type_code,
            hsd.sort_code,
            hsd.note,
            hst.type_name,
            asa.contact,
            hsd.spell_code,
            hsd.wbx_code,
            hsd.user_code,
            hsd.create_date,
            hsd.dlog,
            hsd.is_stop,
            hsd.is_disable,
            hsd.is_mat,
            hsd.is_ass,
            hsd.is_med,
            hsd.is_sup,hsd.is_delivery
        FROM HOS_SUP_DICT  hsd 
        left join acc_sup_attr asa
        	on hsd.group_id= asa.group_id 
        	and hsd.hos_id = asa.hos_id
        	and hsd.sup_id = asa.sup_id 
       left join hos_sup_type hst 
       		on
        	hsd.group_id = hst.group_id 
        	and hsd.hos_id = hst.hos_id
        	and hsd.type_code = hst.type_code 
            <where>             
			    <if test="sup_no != null and sup_no != ''">
                    AND hsd.sup_no = #{sup_no}
               </if>
			    <if test="group_id != null and group_id != ''">
                    AND hsd.group_id = #{group_id}
               </if>
			    <if test="hos_id != null and hos_id != ''">
                    AND hsd.hos_id = #{hos_id}
               </if>
			    <if test="sup_id != null and sup_id != ''">
                    AND hsd.sup_id = #{sup_id}
               </if>
			    <if test="sup_code != null and sup_code != ''">
                    AND hsd.sup_code = #{sup_code}
               </if>
			    <if test="sup_name != null and sup_name != ''">
                    AND hsd.sup_name = #{sup_name}
               </if>
			    <if test="user_code != null and user_code != ''">
                    AND hsd.user_code = #{user_code}
               </if>
			    <if test="create_date != null and create_date != ''">
                    AND hsd.create_date = #{create_date}
               </if>
			    <if test="note != null and note != ''">
                    AND hsd.note = #{note}
               </if>
			   <if test="is_stop != null and is_stop != ''">
                    AND hsd.is_stop = #{is_stop}
               </if>
               <if test="type_code != null and type_code != ''">
                    AND hst.type_code = #{type_code}
               </if>
               <if test="queryTree != null and queryTree != ''">
               		and hsd.${select_code} like '%${queryTree}%'
               </if>
        </where>   
				order by hsd.create_date desc
    </select>
    
</mapper>

