<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.sys.dao.SysHisDeptRefMapper">
	<resultMap id="map" type="java.util.Map">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="hrp_dept_code" column="hrp_dept_code"/>
        <result property="hrp_dept_name" column="hrp_dept_name"/>
        <result property="his_dept_code" column="his_dept_code"/>
        <result property="his_dept_name" column="his_dept_name"/>
        <result property="dept_type" column="dept_type"/>
        <result property="natur_code" column="natur_code"/>
	</resultMap> 

	<insert id="addSysHisDeptRef"  useGeneratedKeys="true">
       insert into sys_his_dept_ref(group_id, hos_id, hrp_dept_code, his_dept_code, dept_type,natur_code)
	   values (#{group_id}, #{hos_id}, #{hrp_dept_code}, #{his_dept_code}, #{dept_type},#{natur_code})
    </insert>
    
    <delete id="deleteBatchSysHisDeptRef" parameterType="java.util.List">
         delete sys_his_dept_ref where
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
		     group_id = #{item.group_id}
		 and hos_id = #{item.hos_id}
		 and hrp_dept_code = #{item.hrp_dept_code}
		 and his_dept_code = #{item.his_dept_code}
		 and dept_type = #{item.dept_type}
		 and natur_code = #{item.natur_code}
		</foreach>
    </delete>
    
    <select id="querySysHisDeptRefByCode" parameterType="java.util.Map" resultMap="map" >
           select 
					shdr.group_id,
					shdr.hos_id,
					shdr.hrp_dept_code,
					hd.dept_name hrp_dept_name,
					shdr.his_dept_code,
					shd.his_dept_name,
					shdr.dept_type
			from sys_his_dept_ref shdr
			left join hos_dept hd
			on shdr.group_id = hd.group_id
			and shdr.hos_id = hd.hos_id
			and shdr.hrp_dept_code = hd.dept_code
			left join sys_his_dept shd
			on shd.his_dept_code = shdr.his_dept_code
			where shdr.group_id = #{group_id}
			and shdr.hos_id = #{hos_id}
			<if test="hrp_dept_code != null and hrp_dept_code != ''">
			and shdr.hrp_dept_code = #{hrp_dept_code}
			</if>
			<if test="his_dept_code != null and his_dept_code != ''">
			and shdr.his_dept_code = #{his_dept_code}
			</if>
			<if test="dept_type != null and dept_type != ''">
			and shdr.dept_type = #{dept_type}
			</if>
			<if test="natur_code != null and natur_code != ''">
			and shdr.natur_code = #{natur_code}
			</if>
    </select>
    
	<select id="querySysHisDeptRef" parameterType="java.util.Map" resultMap="map" >
	   	   select 
					shdr.group_id,
					shdr.hos_id,
					shdr.hrp_dept_code,
					hd.dept_name hrp_dept_name,
					shdr.his_dept_code,
					shd.his_dept_name,
					shdr.dept_type,
					shdr.natur_code 
			from sys_his_dept_ref shdr
			left join hos_dept hd
			on shdr.group_id = hd.group_id
			and shdr.hos_id = hd.hos_id
			and shdr.hrp_dept_code = hd.dept_code
			left join sys_his_dept shd
			on shd.his_dept_code = shdr.his_dept_code
			where shdr.group_id = #{group_id}
			and shdr.hos_id = #{hos_id}
			<if test="his_dept_code != null and his_dept_code != ''">
			and shdr.his_dept_code like #{his_dept_code}||'%'
			</if>
			<if test="dept_type != null and dept_type != ''">
			and shdr.dept_type = #{dept_type}
			</if>
			order by shdr.group_id,shdr.hos_id,shdr.hrp_dept_code
    </select>
</mapper>

