<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.pac.dao.template.pacttemplateset.PactTemplateModularMapper">
	
	<resultMap id="tempMap" type="java.util.Map">
	<result property="ifb_groupid" column="ifb_groupid"/>
	<result property="ifb_hospid" column="ifb_hospid"/>
	<result property="copy_code" column="copy_code"/>
	<result property="ptm_rowid" column="ptm_rowid"/>
	<result property="pt_rowid" column="pt_rowid"/>
	<result property="ptm_code" column="ptm_code"/>
	<result property="ptm_name" column="ptm_name"/>
	<result property="ptm_showmode" column="ptm_showmode"/>
	<result property="ptm_no" column="ptm_no"/>
	<result property="ptm_height" column="ptm_height"/>
	<result property="ptm_width" column="ptm_width"/>
	<result property="ptm_position" column="ptm_position"/>
	<result property="ptm_position_x" column="ptm_position_x"/>
	<result property="ptm_position_y" column="ptm_position_y"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO PACT_TEMPLATE_MODULAR (
			ifb_groupid ,
			ifb_hospid 	,
			copy_code   ,
			ptm_rowid   ,
			pt_rowid    ,
			ptm_code    ,
			ptm_name    ,
			ptm_showmode ,
			ptm_no     ,
			ptm_height ,
			ptm_width  ,
			ptm_position ,
			ptm_position_x ,
			ptm_position_y   
		) VALUES (
			#{group_id,jdbcType=INTEGER} ,
			#{hos_id,jdbcType=INTEGER} 	,
			#{copy_code,jdbcType=VARCHAR} ,
			PACT_TEMP_MODULAR_SEQ.nextval ,
			#{pt_rowid,jdbcType=INTEGER} 	,
			#{ptm_code,jdbcType=VARCHAR} ,
			#{ptm_name,jdbcType=VARCHAR} ,
			#{ptm_showmode,jdbcType=VARCHAR} ,
			#{ptm_no,jdbcType=INTEGER},
			#{ptm_height,jdbcType=INTEGER},
			#{ptm_width,jdbcType=INTEGER},
			#{ptm_position,jdbcType=INTEGER},
			#{ptm_position_x,jdbcType=INTEGER},
			#{ptm_position_y,jdbcType=INTEGER}
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO PACT_TEMPLATE_MODULAR (
			ptm_rowid   ,
			ifb_groupid ,
			ifb_hospid 	,
			copy_code   ,
			pt_rowid    ,
			ptm_code    ,
			ptm_name    ,
			ptm_showmode ,
			ptm_no     ,
			ptm_height ,
			ptm_width  ,
			ptm_position ,
			ptm_position_x ,
			ptm_position_y   
		
		) select PACT_TEMP_MODULAR_SEQ.nextval, t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id,jdbcType=INTEGER} ,
				#{item.hos_id,jdbcType=INTEGER} 	,
				#{item.copy_code,jdbcType=VARCHAR} ,
				#{item.pt_rowid,jdbcType=INTEGER} 	,
				#{item.ptm_code,jdbcType=VARCHAR} ,
				#{item.ptm_name,jdbcType=VARCHAR} ,
				#{item.ptm_showmode,jdbcType=VARCHAR} ,
				#{item.ptm_no,jdbcType=INTEGER},
				#{item.ptm_height,jdbcType=INTEGER},
				#{item.ptm_width,jdbcType=INTEGER},
				#{item.ptm_position,jdbcType=INTEGER},
				#{item.ptm_position_x,jdbcType=INTEGER},
				#{item.ptm_position_y,jdbcType=INTEGER}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE PACT_TEMPLATE_MODULAR set
			ptm_height = #{ptm_height,jdbcType=INTEGER},
			ptm_width = #{ptm_width,jdbcType=INTEGER},
			ptm_position = #{ptm_position,jdbcType=INTEGER},
			ptm_position_x = #{ptm_position_x,jdbcType=INTEGER},
			ptm_position_y = #{ptm_position_y,jdbcType=INTEGER}
		where                     
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			AND ptm_rowid = #{ptm_rowid,jdbcType=INTEGER}
			 
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE PACT_TEMPLATE_MODULAR set
				ptm_height = #{item.ptm_height,jdbcType=INTEGER},
				ptm_width = #{item.ptm_width,jdbcType=INTEGER},
				ptm_position = #{item.ptm_position,jdbcType=INTEGER},
				ptm_position_x = #{item.ptm_position_x,jdbcType=INTEGER},
				ptm_position_y = #{item.ptm_position_y,jdbcType=INTEGER}
			where                     
				ifb_groupid = #{item.group_id,jdbcType=INTEGER}
				AND ifb_hospid = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND pt_rowid = #{item.pt_rowid,jdbcType=INTEGER}
				AND ptm_rowid = #{item.ptm_rowid,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM PACT_TEMPLATE_MODULAR 
		where                     
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="pt_rowid != null and pt_rowid !=''">
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			</if>
			<if test="ptm_rowid != null and ptm_rowid != ''">
			AND ptm_rowid = #{ptm_rowid,jdbcType=INTEGER}
			</if>
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM PACT_TEMPLATE_MODULAR 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				ifb_groupid = #{item.group_id,jdbcType=INTEGER}
				AND ifb_hospid = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				<if test="item.pt_rowid != null and item.pt_rowid !=''">
				AND pt_rowid = #{item.pt_rowid,jdbcType=INTEGER}
				</if>
				<if test="item.ptm_rowid != null and item.ptm_rowid !=''">
				AND ptm_rowid = #{item.ptm_rowid,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="tempMap" >
	
		SELECT 
			ifb_groupid ,
			ifb_hospid 	,
			copy_code   ,
			ptm_rowid   ,
			pt_rowid    ,
			ptm_code    ,
			ptm_name    ,
			ptm_showmode ,
			ptm_no     ,
			ptm_height ,
			ptm_width  ,
			ptm_position ,
			ptm_position_x ,
			ptm_position_y   
		FROM PACT_TEMPLATE_MODULAR 
		where                    
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="pt_rowid != null and pt_rowid != ''">
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			</if>
			<if test="ptm_rowid != null and ptm_rowid != ''">
			AND ptm_rowid = #{ptm_rowid,jdbcType=INTEGER}
			</if>
	</select>
	<select id="queryByCode" resultMap="tempMap"  parameterType="java.util.Map" >
	
		SELECT 
			ifb_groupid ,
			ifb_hospid 	,
			copy_code   ,
			ptm_rowid   ,
			pt_rowid    ,
			ptm_code    ,
			ptm_name    ,
			ptm_showmode ,
			ptm_no     ,
			ptm_height ,
			ptm_width  ,
			ptm_position ,
			ptm_position_x ,
			ptm_position_y   
		FROM PACT_TEMPLATE_MODULAR 
		WHERE 
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			AND ptm_rowid = #{ptm_rowid,jdbcType=INTEGER}
	
	</select>
	<select id="queryByUniqueness" resultMap="tempMap"  parameterType="java.util.Map" >
		
		SELECT 
			ifb_groupid ,
			ifb_hospid 	,
			copy_code   ,
			ptm_rowid   ,
			pt_rowid    ,
			ptm_code    ,
			ptm_name    ,
			ptm_showmode ,
			ptm_no     ,
			ptm_height ,
			ptm_width  ,
			ptm_position ,
			ptm_position_x ,
			ptm_position_y   
		FROM PACT_TEMPLATE_MODULAR 
		WHERE 
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			AND ptm_rowid = #{ptm_rowid,jdbcType=INTEGER}
	</select>
	<select id="queryExists" resultMap="tempMap"  parameterType="java.util.Map" >
	
		SELECT 
			ifb_groupid ,
			ifb_hospid 	,
			copy_code   ,
			ptm_rowid   ,
			pt_rowid    ,
			ptm_code    ,
			ptm_name    ,
			ptm_showmode ,
			ptm_no     ,
			ptm_height ,
			ptm_width  ,
			ptm_position ,
			ptm_position_x ,
			ptm_position_y    
		FROM PACT_TEMPLATE_MODULAR 
		WHERE 
			ifb_groupid = #{group_id,jdbcType=INTEGER}
			AND ifb_hospid = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND pt_rowid = #{pt_rowid,jdbcType=INTEGER}
			AND ptm_rowid = #{ptm_rowid,jdbcType=INTEGER}
	</select>
</mapper>

