<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmCustomTemplateReportMapper">
	
	<!-- 查询 -->
	<select id="queryPrmCustomTemplateReportForParseSql" parameterType="java.util.Map" resultType="java.util.TreeMap">
		${sql}
	</select>
	
	
	<!-- 生成 -->
	<insert id="initPrmCustomTemplateReportForParseSql" parameterType="java.util.Map">
		DECLARE BEGIN
			${sql}
		END;
	</insert>
	
	
	<!-- 修改 -->
	<update id="updatePrmCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</update>
	
	
	<!-- 审核 -->
	<update id="auditPrmCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</update>
	
	
	<!-- 反审核 -->
	<update id="reAuditPrmCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</update>
	
	<!-- 删除 -->
	<delete id="deletePrmCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</delete>
	
	<!-- 添加-->
	<insert id="addPrmCustomTemplateReportForParseSql" parameterType="java.util.Map">
		${sql}
	</insert>
</mapper>