<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.dura.check.MatDuraDeptMainMapper">
	
	<resultMap id="matDuraDeptMain" type="com.chd.hrp.mat.entity.MatDuraDeptMain">
		<result property="hos_id" column="hos_id"/>
		<result property="group_id" column="group_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="dura_id" column="dura_id"/>
		<result property="dura_no" column="dura_no"/>
		<result property="year" column="year"/>
		<result property="month" column="month"/>
		<result property="bus_type_code" column="bus_type_code"/>
		<result property="bus_type_name" column="bus_type_name"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_no" column="dept_no"/>
		<result property="dept_code" column="dept_code"/>
		<result property="dept_name" column="dept_name"/>
		<result property="brief" column="brief"/>
		<result property="maker" column="maker"/>
		<result property="maker_name" column="maker_name"/>
		<result property="make_date" column="make_date"/>
		<result property="checker" column="checker"/>
		<result property="checker_name" column="checker_name"/>
		<result property="check_date" column="check_date"/>
		<result property="confirmer" column="confirmer"/>
		<result property="confirmer_name" column="confirmer_name"/>
		<result property="confirm_date" column="confirm_date"/>
		<result property="state" column="state"/>
      		
	</resultMap>
	
	<!-- 查询最大序号 -->
	<select id="queryMatDuraDeptMainSeq"  resultType="java.lang.Long" useCache="false" flushCache="true">	
		select MAT_DURA_DEPT_MAIN_SEQ.nextval from dual
	</select>
	
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO MAT_DURA_DEPT_MAIN (
			<trim suffix="" suffixOverrides=",">
				<if test="hos_id != null and hos_id != ''">hos_id,</if>
				<if test="group_id != null and group_id != ''">group_id,</if>
				<if test="copy_code != null and copy_code != ''">copy_code,</if>
				<if test="dura_id != null and dura_id != ''">dura_id,</if>
				<if test="dura_no != null and dura_no != ''">dura_no,</if>
				<if test="year != null and year != ''">year,</if>
				<if test="month != null and month != ''">month,</if>
				<if test="bus_type_code != null and bus_type_code != ''">bus_type_code,</if>
				<if test="dept_id != null and dept_id != ''">dept_id,</if>
				<if test="dept_no != null and dept_no != ''">dept_no,</if>
				<if test="brief != null ">brief,</if>
				<if test="maker != null and maker != ''">maker,</if>
				<if test="make_date != null and make_date != ''">make_date,</if>
				<if test="checker != null and checker != ''">checker,</if>
				<if test="check_date != null and check_date != ''">check_date,</if>
				<if test="confirmer != null and confirmer != ''">confirmer,</if>
				<if test="confirm_date != null and confirm_date != ''">confirm_date,</if>
				<if test="state != null and state != ''">state,</if>
			</trim>
		) VALUES (
			<trim suffix="" suffixOverrides=",">
				<if test="hos_id != null and hos_id != ''">#{hos_id,jdbcType=INTEGER},</if>
				<if test="group_id != null and group_id != ''">#{group_id,jdbcType=INTEGER},</if>
				<if test="copy_code != null and copy_code != ''">#{copy_code,jdbcType=VARCHAR},</if>
				<if test="dura_id != null and dura_id != ''">#{dura_id,jdbcType=INTEGER},</if>
				<if test="dura_no != null and dura_no != ''">#{dura_no,jdbcType=VARCHAR},</if>
				<if test="year != null and year != ''">#{year,jdbcType=VARCHAR},</if>
				<if test="month != null and month != ''">#{month,jdbcType=VARCHAR},</if>
				<if test="bus_type_code != null and bus_type_code != ''">#{bus_type_code,jdbcType=VARCHAR},</if>
				<if test="dept_id != null and dept_id != ''">#{dept_id,jdbcType=INTEGER},</if>
				<if test="dept_no != null and dept_no != ''">#{dept_no,jdbcType=INTEGER},</if>
				<if test="brief != null ">#{brief,jdbcType=VARCHAR},</if>
				<if test="maker != null and maker != ''">#{maker,jdbcType=INTEGER},</if>
				<if test="make_date != null and make_date != ''">#{make_date,jdbcType=DATE},</if>
				<if test="checker != null and checker != ''">#{checker,jdbcType=INTEGER},</if>
				<if test="check_date != null and check_date != ''">#{check_date,jdbcType=DATE},</if>
				<if test="confirmer != null and confirmer != ''">#{confirmer,jdbcType=INTEGER},</if>
				<if test="confirm_date != null and confirm_date != ''">#{confirm_date,jdbcType=DATE},</if>
				<if test="state != null and state != ''">#{state,jdbcType=INTEGER},</if>
			</trim>		
		)
	</insert>
	
	<insert id="addBatch" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			INSERT INTO MAT_DURA_DEPT_MAIN (
				group_id, hos_id, copy_code, dura_id
				<if test="item.dura_no != null and item.dura_no != ''">, dura_no</if>
				<if test="item.year != null and item.year != ''">, year</if>
				<if test="item.month != null and item.month != ''">, month</if>
				<if test="item.bus_type_code != null and item.bus_type_code != ''">, bus_type_code</if>
				<if test="item.dept_id != null and item.dept_id != ''">, dept_id</if>
				<if test="item.dept_no != null and item.dept_no != ''">, dept_no</if>
				<if test="item.brief != null ">, brief</if>
				<if test="item.maker != null and item.maker != ''">, maker</if>
				<if test="item.make_date != null and item.make_date != ''">, make_date</if>
				<if test="item.checker != null and item.checker != ''">, checker</if>
				<if test="item.check_date != null and item.check_date != ''">, check_date</if>
				<if test="item.confirmer != null and item.confirmer != ''">, confirmer</if>
				<if test="item.confirm_date != null and item.confirm_date != ''">, confirm_date</if>
				<if test="item.state != null and item.state != ''">, state</if>
			) values(
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.copy_code,jdbcType=VARCHAR},
				#{item.dura_id,jdbcType=INTEGER}
				<if test="item.dura_no != null and item.dura_no != ''">, #{item.dura_no,jdbcType=VARCHAR}</if>
				<if test="item.year != null and item.year != ''">, #{item.year,jdbcType=VARCHAR}</if>
				<if test="item.month != null and item.month != ''">, #{item.month,jdbcType=VARCHAR}</if>
				<if test="item.bus_type_code != null and item.bus_type_code != ''">, #{item.bus_type_code,jdbcType=VARCHAR}</if>
				<if test="item.dept_id != null and item.dept_id != ''">, #{item.dept_id,jdbcType=INTEGER}</if>
				<if test="item.dept_no != null and item.dept_no != ''">, #{item.dept_no,jdbcType=INTEGER}</if>
				<if test="item.brief != null ">, #{item.brief,jdbcType=VARCHAR}</if>
				<if test="item.maker != null and item.maker != ''">, #{item.maker,jdbcType=INTEGER}</if>
				<if test="item.make_date != null and item.make_date != ''">, #{item.make_date,jdbcType=DATE}</if>
				<if test="item.checker != null and item.checker != ''">, #{item.checker,jdbcType=INTEGER}</if>
				<if test="item.check_date != null and item.check_date != ''">, #{item.check_date,jdbcType=DATE}</if>
				<if test="item.confirmer != null and item.confirmer != ''">, #{item.confirmer,jdbcType=INTEGER}</if>
				<if test="item.confirm_date != null and item.confirm_date != ''">, #{item.confirm_date,jdbcType=DATE}</if>
				<if test="item.state != null and item.state != ''">, #{item.state,jdbcType=INTEGER}</if>
			)
		</foreach>
	</insert>
	
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM MAT_DURA_DEPT_MAIN
		where hos_id = #{hos_id,jdbcType=INTEGER}
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND dura_id = #{dura_id,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM MAT_DURA_DEPT_MAIN 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND dura_id = #{item.dura_id,jdbcType=INTEGER}
			</foreach>
	    </where>  
	</delete>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE MAT_DURA_DEPT_MAIN
			<trim prefix="SET"  suffixOverrides=","> 
				<if test="dura_no != null">
					dura_no = #{dura_no,jdbcType=VARCHAR},
				</if>
				<if test="year != null ">
					year = #{year,jdbcType=VARCHAR},
				</if>
				<if test="month != null ">
					month = #{month,jdbcType=VARCHAR},
				</if>
				<if test="dept_id != null ">
					dept_id = #{dept_id,jdbcType=INTEGER},
				</if>
				<if test="dept_no != null ">
					dept_no = #{dept_no,jdbcType=INTEGER},
				</if>
				<if test="bus_type_code != null ">
					bus_type_code = #{bus_type_code,jdbcType=VARCHAR},
				</if> 
				<if test="brief != null ">
					brief = #{brief,jdbcType=VARCHAR},
				</if>
				<if test="maker != null ">
					maker = #{maker,jdbcType=INTEGER},
				</if>
				<if test="make_date != null ">
					make_date = #{make_date,jdbcType=DATE},
				</if>
				<if test="checker != null ">
					checker = #{checker,jdbcType=INTEGER},
				</if>
				<if test="check_date != null ">
					check_date = #{check_date,jdbcType=DATE},
				</if>
				<if test="confirmer != null ">
					confirmer = #{confirmer,jdbcType=INTEGER},
				</if>
				<if test="confirm_date != null ">
					confirm_date = #{confirm_date,jdbcType=DATE},
				</if>
				<if test="state != null ">
					state = #{state,jdbcType=INTEGER},
				</if>
			</trim>
			WHERE group_id = #{group_id,jdbcType=INTEGER} 
				and hos_id = #{hos_id,jdbcType=INTEGER} 	
				and copy_code = #{copy_code,jdbcType=VARCHAR} 
				and dura_id =#{dura_id,jdbcType=INTEGER}
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE MAT_DURA_DEPT_MAIN
			<trim prefix="SET" suffixOverrides=",">
				<if test="item.dura_no != null ">
					dura_no = #{item.dura_no,jdbcType=VARCHAR},
				</if>
				<if test="item.year != null ">
					year = #{item.year,jdbcType=VARCHAR},
				</if>
				<if test="item.month != null ">
					month = #{item.month,jdbcType=VARCHAR},
				</if>
				<if test="item.dept_id != null ">
					dept_id = #{item.dept_id,jdbcType=INTEGER},
				</if>
				<if test="item.dept_no != null ">
					dept_no = #{item.dept_no,jdbcType=INTEGER},
				</if>
				<if test="item.brief != null ">
					brief = #{item.brief,jdbcType=VARCHAR},
				</if>
				<if test="item.maker != null ">
					maker = #{item.maker,jdbcType=INTEGER},
				</if>
				<if test="item.make_date != null">
					make_date = #{item.make_date,jdbcType=DATE},
				</if>
				<if test="item.checker != null ">
					checker = #{item.checker,jdbcType=INTEGER},
				</if>
				<if test="item.check_date != null">
					check_date = #{item.check_date,jdbcType=DATE},
				</if>
				<if test="item.confirmer != null ">
					confirmer = #{item.confirmer,jdbcType=INTEGER},
				</if>
				<if test="item.confirm_date != null">
					confirm_date = #{item.confirm_date,jdbcType=DATE},
				</if>
				<if test="item.state != null ">
					state = #{item.state,jdbcType=INTEGER},
				</if>
			</trim>
			WHERE group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND dura_id = #{item.dura_id,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<!-- 修改页面加载主表数据 -->
	<select id="queryMainByCode" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT a.group_id,a.hos_id,a.copy_code,a.dura_id,a.dura_no,a.year,a.month,a.dept_id,a.dept_no,
      		b.dept_code,b.dept_name,a.brief,a.bus_type_code,bt.bus_type_name,a.maker,su.user_name as maker_name,a.make_date,
      		a.checker,su.user_name as checker_name,a.check_date,
      		a.confirmer,su2.user_name as confirmer_name,a.confirm_date,a.state
		FROM MAT_DURA_DEPT_MAIN a
		left join hos_dept_dict b on a.group_id=b.group_id and a.hos_id=b.hos_id
			and a.dept_id=b.dept_id and a.dept_no=b.dept_no
		left join sys_user su on a.group_id=su.group_id and a.hos_id=su.hos_id and a.maker=su.user_id
			and su.is_stop = 0
		left join sys_user su1 on a.group_id=su1.group_id and a.hos_id=su1.hos_id and a.checker=su1.user_id
			and su1.is_stop = 0
		left join sys_user su2 on a.group_id=su2.group_id and a.hos_id=su2.hos_id and a.confirmer=su2.user_id
			and su2.is_stop = 0	
		left join mat_bus_type bt on a.bus_type_code=bt.bus_type_code
		where a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			AND a.dura_id = #{dura_id,jdbcType=INTEGER}
	</select>
	
	<!-- 查看是否是存在不是新建的单据 -->
	<select id="existsMainStateBatch" parameterType="java.util.List" resultType="java.lang.Integer">
		SELECT COUNT(*) 
		FROM mat_dura_dept_main 
		WHERE
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND dura_id = #{item.dura_id,jdbcType=BIGINT}
			AND state &lt;&gt; #{item.check_state,jdbcType=INTEGER}
		</foreach>
	</select>
	
	<!-- 审核  销审 -->
	<update id="auditOrUnAuditMainBatch" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
			UPDATE mat_dura_dept_main set
				state = #{item.state,jdbcType=INTEGER},
				checker = #{item.checker,jdbcType=INTEGER},
				check_date = #{item.check_date,jdbcType=DATE}
			WHERE
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND dura_id = #{item.dura_id,jdbcType=BIGINT}
		</foreach>
	</update>
	
	<!-- 盘盈 盘亏出入库确认 -->
	<update id="confirmMainBatch" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
			UPDATE mat_dura_dept_main set
				state = #{item.state,jdbcType=INTEGER},
				confirmer = #{item.confirmer,jdbcType=INTEGER},
				confirm_date = #{item.confirm_date,jdbcType=DATE}
			WHERE
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND dura_id = #{item.dura_id,jdbcType=BIGINT}
		</foreach>
	</update>
	
</mapper>