<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.ass.dao.bill.AssPreBillMainMapper">
	
	<resultMap id="assPreBillMain" type="com.chd.hrp.ass.entity.bill.AssPreBillMain">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="bill_no" column="bill_no"/>
	<result property="invoice_no" column="invoice_no"/>
	<result property="bill_date" column="bill_date"/>
	<result property="ven_id" column="ven_id"/>
	<result property="ven_no" column="ven_no"/>
	<result property="pact_code" column="pact_code"/>
	<result property="bill_money" column="bill_money"/>
	<result property="state" column="state"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="audit_date" column="audit_date"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="assPreBillMainMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="bill_no" column="bill_no"/>
	<result property="invoice_no" column="invoice_no"/>
	<result property="bill_date" column="bill_date"/>
	<result property="ven_id" column="ven_id"/>
	<result property="pact_code" column="pact_code"/>
	<result property="bill_money" column="bill_money"/>
	<result property="state" column="state"/>
	<result property="create_emp" column="create_emp"/>
	<result property="create_date" column="create_date"/>
	<result property="audit_emp" column="audit_emp"/>
	<result property="audit_date" column="audit_date"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO ASS_PRE_BILL_MAIN (
		<trim suffix="" suffixOverrides=",">
		group_id
		,
		hos_id
		,
		copy_code
		,
		bill_no
		,
		invoice_no
		,
		bill_date
		,
		ven_id
		,
		ven_no
		,
		pact_code
		,
		<if test="bill_money != null and bill_money != ''">
		bill_money
		,
		</if>
		<if test="state != null and state != ''">
		state
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date
		,
		</if>
		<if test="note != null and note != ''">
		note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{bill_no,jdbcType=VARCHAR}
		,
		#{invoice_no,jdbcType=VARCHAR}
		,
		to_date(#{bill_date},'yyyy-MM-dd')
		,
		#{ven_id,jdbcType=INTEGER}
		,
		#{ven_no,jdbcType=INTEGER}
		,
		#{pact_code,jdbcType=VARCHAR}
		,
		<if test="bill_money != null and bill_money != ''">
		#{bill_money,jdbcType=INTEGER}
		,
		</if>
		<if test="state != null and state != ''">
		#{state,jdbcType=INTEGER}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		#{create_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		to_date(#{create_date},'yyyy-MM-dd')
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		#{audit_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		#{audit_date,jdbcType=DATE}
		,
		</if>
		<if test="note != null and note != ''">
		#{note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO ASS_PRE_BILL_MAIN (
		group_id
		,
		hos_id
		,
		copy_code
		,
		bill_no
		,
		invoice_no
		,
		bill_date
		,
		ven_id
		,
		pact_code
		,
		bill_money
		,
		state
		,
		create_emp
		,
		create_date
		,
		audit_emp
		,
		audit_date
		,
		note
		
		) select ASS_PRE_BILL_MAIN_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.bill_no,jdbcType=VARCHAR}
			,
			#{item.invoice_no,jdbcType=VARCHAR}
			,
			to_date(#{item.bill_date},'yyyy-MM-dd')
			,
			#{item.ven_id,jdbcType=VARCHAR}
			,
			#{item.pact_code,jdbcType=VARCHAR}
			,
			#{item.bill_money,jdbcType=INTEGER}
			,
			#{item.state,jdbcType=INTEGER}
			,
			#{item.create_emp,jdbcType=VARCHAR}
			,
			to_date(#{item.create_date},'yyyy-MM-dd')
			,
			#{item.audit_emp,jdbcType=VARCHAR}
			,
			to_date(#{item.audit_date,'yyyy-MM-dd')
			,
			#{item.note,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE ass_pre_bill_main 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="invoice_no != null and invoice_no != ''">
		invoice_no = #{invoice_no,jdbcType=VARCHAR}
		,
		</if>
		<if test="bill_date != null and bill_date != ''">
		bill_date = to_date(#{bill_date},'yyyy-MM-dd')
		,
		</if>
		<if test="ven_id != null and ven_id != ''">
		ven_id = #{ven_id,jdbcType=VARCHAR}
		,
		</if>
		<if test="pact_code != null and pact_code != ''">
		pact_code = #{pact_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="bill_money != null and bill_money != ''">
		bill_money = #{bill_money,jdbcType=INTEGER}
		,
		</if>
		<if test="state != null and state != ''">
		state = #{state,jdbcType=INTEGER}
		,
		</if>
		<if test="create_emp != null and create_emp != ''">
		create_emp = #{create_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="create_date != null and create_date != ''">
		create_date = to_date(#{create_date},'yyyy-MM-dd')
		,
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		audit_emp = #{audit_emp,jdbcType=VARCHAR}
		,
		</if>
		<if test="audit_date != null and audit_date != ''">
		audit_date =to_date(#{audit_date},'yyyy-MM-dd')
		,
		</if>
		<if test="note != null and note != ''">
		note = #{note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		 where                      
			group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND bill_no = #{bill_no,jdbcType=VARCHAR}
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_pre_bill_main 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.invoice_no != null and item.invoice_no != ''">
			invoice_no = #{item.invoice_no,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bill_date != null and item.bill_date != ''">
			bill_date = #{item.bill_date,jdbcType=DATE}
			,
			</if>
			<if test="item.ven_id != null and item.ven_id != ''">
			ven_id = #{item.ven_id,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.pact_code != null and item.pact_code != ''">
			pact_code = #{item.pact_code,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.bill_money != null and item.bill_money != ''">
			bill_money = #{item.bill_money,jdbcType=INTEGER}
			,
			</if>
			<if test="item.state != null and item.state != ''">
			state = #{item.state,jdbcType=INTEGER}
			,
			</if>
			<if test="item.create_emp != null and item.create_emp != ''">
			create_emp = #{item.create_emp,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.create_date != null and item.create_date != ''">
			create_date = #{item.create_date,jdbcType=DATE}
			,
			</if>
			<if test="item.audit_emp != null and item.audit_emp != ''">
			audit_emp = #{item.audit_emp,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.audit_date != null and item.audit_date != ''">
			audit_date = #{item.audit_date,jdbcType=DATE}
			,
			</if>
			<if test="item.note != null and item.note != ''">
			note = #{item.note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.group_id != null and item.group_id != ''">
			AND group_id = #{item.group_id,jdbcType=INTEGER}
			</if>  
			<if test="item.hos_id != null and item.hos_id != ''">
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			</if>  
			<if test="item.copy_code != null and item.copy_code != ''">
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.bill_no != null and item.bill_no != ''">
			AND bill_no = #{item.bill_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.invoice_no != null and item.invoice_no != ''">
			AND invoice_no = #{item.invoice_no,jdbcType=VARCHAR}
			</if>  
			<if test="item.bill_date != null and item.bill_date != ''">
			AND bill_date = #{item.bill_date,jdbcType=DATE}
			</if>  
			<if test="item.ven_id != null and item.ven_id != ''">
			AND ven_id = #{item.ven_id,jdbcType=VARCHAR}
			</if>  
			<if test="item.pact_code != null and item.pact_code != ''">
			AND pact_code = #{item.pact_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.bill_money != null and item.bill_money != ''">
			AND bill_money = #{item.bill_money,jdbcType=INTEGER}
			</if>  
			<if test="item.state != null and item.state != ''">
			AND state = #{item.state,jdbcType=INTEGER}
			</if>  
			<if test="item.create_emp != null and item.create_emp != ''">
			AND create_emp = #{item.create_emp,jdbcType=VARCHAR}
			</if>  
			<if test="item.create_date != null and item.create_date != ''">
			AND create_date = #{item.create_date,jdbcType=DATE}
			</if>  
			<if test="item.audit_emp != null and item.audit_emp != ''">
			AND audit_emp = #{item.audit_emp,jdbcType=VARCHAR}
			</if>  
			<if test="item.audit_date != null and item.audit_date != ''">
			AND audit_date = #{item.audit_date,jdbcType=DATE}
			</if>  
			<if test="item.note != null and item.note != ''">
			AND note = #{item.note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	
	<update id="checkAssPreBillMain" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_pre_bill_main 
			set
			state = #{item.state,jdbcType=INTEGER}
			,
			audit_emp = #{item.audit_emp,jdbcType=VARCHAR}
			,
			audit_date = to_date(#{item.audit_date},'yyyy-MM-dd')
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND bill_no = #{item.bill_no,jdbcType=VARCHAR}
		</foreach>
	</update>
	
	<update id="updateNotToExamineAssPreBillMain" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE ass_pre_bill_main 
			set
			state = #{item.state,jdbcType=INTEGER}
			,
			audit_emp = #{item.audit_emp,jdbcType=VARCHAR}
			,
			audit_date = to_date(#{item.audit_date},'yyyy-MM-dd')
			where                     
				group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			AND bill_no = #{item.bill_no,jdbcType=VARCHAR}
		</foreach>
	
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM ass_pre_bill_main 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND bill_no = #{bill_no,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM ass_pre_bill_main 
		 where 
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
					group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND bill_no = #{item.bill_no,jdbcType=VARCHAR}
			</foreach>
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="assPreBillMain" >
	
		SELECT 
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.bill_no,
		a.invoice_no,
		a.bill_date,
		a.ven_id,
		a.ven_no,
    	b.sup_name,
		a.pact_code,
		a.bill_money,
		a.state,
		a.create_emp,
  		d.user_name as create_name,
		a.create_date,
		a.audit_emp,
    	f.user_name as audit_name,
		a.audit_date,
		a.note
    FROM ASS_PRE_BILL_MAIN  a 
      left join HOS_SUP_DICT b
      on a.group_id =b.group_id
      and a.hos_id = b.hos_id
      and a.ven_id = b.sup_id
      and b.is_stop = 0 
      and b.is_disable= 0
      left join sys_user d
      on a.group_id = d.group_id
      and a.hos_id = d.hos_id
      and a.create_emp = d.user_id 
      and d.is_stop=0
      left join sys_user f
      on a.group_id = f.group_id
      and a.hos_id = f.hos_id
      and a.audit_emp = f.user_id
        and f.is_stop=0

		where                     
			a.group_id = #{group_id,jdbcType=INTEGER}
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="bill_no != null and bill_no != ''">
		AND a.bill_no = #{bill_no,jdbcType=VARCHAR}
		</if>
		<if test="invoice_no != null and invoice_no != ''">
		AND a.invoice_no = #{invoice_no,jdbcType=VARCHAR}
		</if>
		<if test="begin_bill_date != null and begin_bill_date != '' or end_bill_date != null and  end_bill_date != '' ">
		AND a.bill_date between to_date(#{begin_bill_date},'yyyy-MM-dd') and to_date(#{end_bill_date} ,'yyyy-MM-dd')
		</if>
	</select>
	<select id="queryByCode" resultMap="assPreBillMain"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		bill_no,
		invoice_no,
		bill_date,
		ven_id,
		ven_no,
		pact_code,
		bill_money,
		state,
		create_emp,
		create_date,
		audit_emp,
		audit_date,
		note
		FROM ass_pre_bill_main 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		bill_no = #{bill_no,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="assPreBillMain"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		bill_no,
		invoice_no,
		bill_date,
		ven_id,
		pact_code,
		bill_money,
		state,
		create_emp,
		create_date,
		audit_emp,
		audit_date,
		note
		FROM ASS_PRE_BILL_MAIN 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="bill_no != null and bill_no != ''">
		AND bill_no = #{bill_no,jdbcType=VARCHAR}
		</if>
		<if test="invoice_no != null and invoice_no != ''">
		AND invoice_no = #{invoice_no,jdbcType=VARCHAR}
		</if>
		<if test="bill_date != null and bill_date != ''">
		AND bill_date = #{bill_date,jdbcType=DATE}
		</if>
		<if test="ven_id != null and ven_id != ''">
		AND ven_id = #{ven_id,jdbcType=VARCHAR}
		</if>
		<if test="pact_code != null and pact_code != ''">
		AND pact_code = #{pact_code}
		</if>
		<if test="bill_money != null and bill_money != ''">
		AND bill_money = #{bill_money,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND state = #{state,jdbcType=INTEGER}
		</if>
		<if test="create_emp != null and create_emp != ''">
		AND create_emp = #{create_emp,jdbcType=VARCHAR}
		</if>
		<if test="create_date != null and create_date != ''">
		AND create_date = #{create_date,jdbcType=DATE}
		</if>
		<if test="audit_emp != null and audit_emp != ''">
		AND audit_emp = #{audit_emp,jdbcType=VARCHAR}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND audit_date = #{audit_date,jdbcType=DATE}
		</if>
		<if test="note != null and note != ''">
		AND note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="assPreBillMain"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		bill_no,
		invoice_no,
		bill_date,
		ven_id,
		pact_code,
		bill_money,
		state,
		create_emp,
		create_date,
		audit_emp,
		audit_date,
		note
		FROM ASS_PRE_BILL_MAIN 
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		AND bill_no = #{bill_no,jdbcType=VARCHAR}
	</select>
	
	<!-- 预付款发票主表打印 -->
	<select id="queryAssPreBillMainBatch" parameterType="java.util.Map" resultType="java.util.Map">
		
		select a.bill_no as id,a.hos_id,a.copy_code,a.group_id,a.note,a.bill_no, 
		case when a.state = 0 then '新建' when a.state = 1 then '审核'when  a.state = 2 then '确认' else '' end state ,
		       s.user_name AUDIT_EMP, s.user_name CREATE_EMP,
		       to_char(a.CREATE_DATE, 'yyyy-mm-dd') CREATE_DATE,
		     to_char(a.AUDIT_DATE, 'yyyy-mm-dd') AUDIT_DATE,
		     to_char(a.BILL_DATE, 'yyyy-mm-dd') BILL_DATE,
		     to_char(a.BILL_MONEY,'FM999,999,990.00') bill_money,a.INVOICE_NO,
		     a.ven_id,
					a.ven_no,
					c.sup_code ven_code,
					c.sup_name ven_name
		from ASS_PRE_BILL_MAIN a
		
		left  join ASS_BILL_MAIN b on  b.group_id=a.group_id and b.hos_id=a.hos_id and b.COPY_CODE =a.COPY_CODE and b.BILL_NO = a.BILL_NO 
		left join sys_user s  on s.group_id=a.group_id and s.hos_id=a.hos_id and s.user_id=a.CREATE_EMP and s.IS_STOP = 0
		left join sys_user s1  on s1.group_id=a.group_id and s1.hos_id=a.hos_id and s1.user_id=a.AUDIT_EMP and s1.IS_STOP = 0
		 
	
		 left join hos_sup_dict c on	a.group_id = c.group_id and a.hos_id = c.hos_id and a.ven_id = c.sup_id and c.is_stop = 0
		 
		 where                     
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.bill_no in (${paraId})
 
		
	
	
	</select>
	
	
	<select id="querAssPreBillByPrint" parameterType="java.util.Map" resultType="java.util.Map">
		select a.bill_no as id,a.hos_id,a.copy_code,a.group_id,a.note,a.bill_no, 
		case when a.state = 0 then '新建' when a.state = 1 then '审核' when  a.state = 2 then '确认'  else '' end state ,
		       s.user_name AUDIT_EMP, s.user_name CREATE_EMP,
		       to_char(a.CREATE_DATE, 'yyyy-mm-dd') CREATE_DATE,
		     to_char(a.AUDIT_DATE, 'yyyy-mm-dd') AUDIT_DATE,
		     to_char(a.BILL_DATE, 'yyyy-mm-dd') BILL_DATE,
		     to_char(a.BILL_MONEY,'FM999,999,990.00') bill_money,a.INVOICE_NO,
		     a.ven_id,
					a.ven_no,
					c.sup_code ven_code,
					c.sup_name ven_name
		from ASS_PRE_BILL_MAIN a
		
		left  join ASS_BILL_MAIN b on  b.group_id=a.group_id and b.hos_id=a.hos_id and b.COPY_CODE =a.COPY_CODE and b.BILL_NO = a.BILL_NO 
		left join sys_user s  on s.group_id=a.group_id and s.hos_id=a.hos_id and s.user_id=a.CREATE_EMP and s.IS_STOP = 0
		left join sys_user s1  on s1.group_id=a.group_id and s1.hos_id=a.hos_id and s1.user_id=a.AUDIT_EMP and s1.IS_STOP = 0
		 
		 left join hos_sup_dict c on	a.group_id = c.group_id and a.hos_id = c.hos_id and a.ven_id = c.sup_id and c.is_stop = 0
		 
		where                     
			a.group_id = #{group_id}
			AND a.hos_id = #{hos_id}
			AND a.copy_code = #{copy_code}
			AND a.bill_no = #{bill_no}
	
	</select>
	
	<!-- 预付款发票从表打印 -->
	<select id="queryAssPreBill_detail" parameterType="java.util.Map" resultType="java.util.Map">
		select a.bill_no as id,a.hos_id,a.copy_code,a.group_id, a.note as INIT_NOTE,d.ASS_NO,s.NATURS_CODE,s.naturs_name

		from ASS_PRE_BILL_DETAIL a
		left join ASS_NO_DICT d on  d.hos_id=a.hos_id and d.copy_code =a.copy_code and d.group_id =a.group_id and d.IS_STOP =0 and d.ass_id =a.ass_id 
   		 left join ASS_NATURS s on s.naturs_code = a.naturs_code
		
		where                     
			a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			
			<if test="bill_no != null and bill_no != ''">
			AND a.bill_no = #{bill_no,jdbcType=VARCHAR}
			</if>
			
	
	</select>
	
	<!-- 预付发票状态查询  （打印时校验数据专用）-->
	<select id="queryAssPreBillState" parameterType="java.util.Map" resultType="java.lang.String" >
	SELECT bill_no  FROM ASS_PRE_BILL_MAIN 
		WHERE
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="paraId != null and paraId != ''">
			AND bill_no in  (${paraId})
			</if>
			<if test="bill_no != null and bill_no != ''">
			AND bill_no = #{bill_no,jdbcType=VARCHAR}
			</if>
			<!-- 前台传参   2 确认 -->
			and state != #{state,jdbcType=INTEGER}
	
	</select>
</mapper>

