<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.InternetBank.AccBankNetWageMapper">

	<!-- 主表MAP --> 
	<resultMap id="accBankNetWage" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="fseqno" column="fseqno" />
		<result property="serialno" column="serialno" />
		<result property="retcode" column="retcode" />
		<result property="retmsg" column="retmsg" />
		<result property="trandate" column="trandate" />
		<result property="trantime" column="trantime" />
		<result property="onlbatf" column="onlbatf" />
		<result property="settlemode" column="settlemode" />
		<result property="totalnum" column="totalnum" />
		<result property="totalamt" column="totalamt" />
		<result property="reqreserved1" column="reqreserved1" />
		<result property="reqreserved2" column="reqreserved2" />
	</resultMap>

	<!-- 明细MAP -->
	<resultMap id="accBankNetWageRd" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="fseqno" column="fseqno" />
		<result property="iseqno" column="iseqno" />
		<result property="orderno" column="orderno" />
		<result property="reimburseno" column="reimburseno" />
		<result property="reimbursenum" column="reimbursenum" />
		<result property="startdate" column="startdate" />
		<result property="starttime" column="starttime" />
		<result property="paytype" column="paytype" />
		<result property="payaccno" column="payaccno" />
		<result property="payaccnamecn" column="payaccnamecn" />
		<result property="payaccnameen" column="payaccnameen" />
		<result property="recaccno" column="recaccno" />
		<result property="recaccnamecn" column="recaccnamecn" />
		<result property="recaccnameen" column="recaccnameen" />
		<result property="sysioflg" column="sysioflg" />
		<result property="issamecity" column="issamecity" />
		<result property="recicbccode" column="recicbccode" />
		<result property="reccityname" column="reccityname" />
		<result property="recbankno" column="recbankno" />
		<result property="recbankname" column="recbankname" />
		<result property="currtype" column="currtype" />
		<result property="payamt" column="payamt" />
		<result property="usecode" column="usecode" />
		<result property="usecn" column="usecn" />
		<result property="ensummary" column="ensummary" />
		<result property="postscript" column="postscript" />
		<result property="summary" column="summary" />
		<result property="ref" column="ref" />
		<result property="oref" column="oref" />
		<result property="erpsqn" column="erpsqn" />
		<result property="buscode" column="buscode" />
		<result property="erpcheckno" column="erpcheckno" />
		<result property="crvouhtype" column="crvouhtype" />
		<result property="crvouhname" column="crvouhname" />
		<result property="crvouhno" column="crvouhno" />
		<result property="result" column="result" />
		<result property="iretcode" column="iretcode" />
		<result property="iretmsg" column="iretmsg" />
		<result property="represerved3" column="represerved3" />
		<result property="represerved4" column="represerved4" />
		
		<result property="emp_code" column="emp_code" />
		<result property="emp_name" column="emp_name" />
		<result property="kind_code" column="kind_code" />
		<result property="kind_name" column="kind_name" />
		<result property="item_name" column="item_name" />
	</resultMap>
	
	<!-- 查询工资 -->
	<resultMap id="accAccWagePay" type="java.util.Map">
		<result property="emp_id" column="emp_id" />
		<result property="emp_no" column="emp_no" />
		<result property="emp_code" column="emp_code" />
		<result property="emp_name" column="emp_name" />
		<result property="kind_code" column="kind_code" />
		<result property="kind_name" column="kind_name" />
		<result property="recaccno" column="recaccno" />
		<result property="rece_address" column="rece_address" />
		<result property="recaccnamecn" column="recaccnamecn" />
		<result property="reccityname" column="reccityname" />
		<result property="is_bank_same" column="is_bank_same" />
		<result property="is_city_same" column="is_city_same" />
		<result property="payamt" column="payamt" />
	</resultMap>

	<insert id="addBatchAccBankNetWage" parameterType="java.util.List">

		insert into acc_bank_net_wage
		(group_id, hos_id, copy_code, acc_year,acc_month,
		fseqno, serialno, retcode, retmsg,
		trandate, trantime, onlbatf,
		settlemode, totalnum, totalamt,
		reqreserved1, reqreserved2)
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.acc_year,jdbcType=VARCHAR},
			#{item.acc_month,jdbcType=VARCHAR},
			#{item.fseqno,jdbcType=VARCHAR},
			#{item.serialno,jdbcType=VARCHAR},
			#{item.retcode,jdbcType=VARCHAR},
			#{item.retmsg,jdbcType=VARCHAR},
			#{item.trandate,jdbcType=DATE},
			#{item.trantime,jdbcType=TIMESTAMP},
			#{item.onlbatf,jdbcType=INTEGER},
			#{item.settlemode,jdbcType=INTEGER},
			#{item.totalnum,jdbcType=INTEGER},
			#{item.totalamt,jdbcType=INTEGER},
			#{item.reqreserved1,jdbcType=VARCHAR},
			#{item.reqreserved2,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>

	<insert id="addBatchAccBankNetWageRd" parameterType="java.util.List">

		insert into acc_bank_net_wage_rd
		(group_id, hos_id, copy_code,
		acc_year,acc_month, fseqno, iseqno, orderno, reimburseno,
		reimbursenum,
		startdate, starttime, paytype, payaccno,
		payaccnamecn, payaccnameen,
		recaccno, recaccnamecn, recaccnameen, sysioflg,
		issamecity,
		recicbccode, reccityname, recbankno, recbankname,
		currtype, payamt,
		usecode, usecn, ensummary, postscript, summary, ref,
		oref, erpsqn,
		buscode, erpcheckno, crvouhtype, crvouhname, crvouhno,
		result,
		iretcode, iretmsg, represerved3, represerved4)
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.acc_year,jdbcType=VARCHAR},
			#{item.acc_month,jdbcType=VARCHAR},
			#{item.fseqno,jdbcType=VARCHAR},
			#{item.iseqno,jdbcType=VARCHAR},
			#{item.orderno,jdbcType=VARCHAR},
			#{item.reimburseno,jdbcType=VARCHAR},
			#{item.reimbursenum,jdbcType=VARCHAR},
			#{item.startdate,jdbcType=VARCHAR},
			#{item.starttime,jdbcType=VARCHAR},
			#{item.paytype,jdbcType=INTEGER},
			#{item.payaccno,jdbcType=INTEGER},
			#{item.payaccnamecn,jdbcType=VARCHAR},
			#{item.payaccnameen,jdbcType=VARCHAR},
			#{item.recaccno,jdbcType=VARCHAR},
			#{item.recaccnamecn,jdbcType=VARCHAR},
			#{item.recaccnameen,jdbcType=VARCHAR},
			#{item.sysioflg,jdbcType=INTEGER},
			#{item.issamecity,jdbcType=INTEGER},
			#{item.recicbccode,jdbcType=INTEGER},
			#{item.reccityname,jdbcType=VARCHAR},
			#{item.recbankno,jdbcType=VARCHAR},
			#{item.recbankname,jdbcType=VARCHAR},
			#{item.currtype,jdbcType=VARCHAR},
			#{item.payamt,jdbcType=INTEGER},
			#{item.usecode,jdbcType=VARCHAR},
			#{item.usecn,jdbcType=VARCHAR},
			#{item.ensummary,jdbcType=VARCHAR},
			#{item.postscript,jdbcType=VARCHAR},
			#{item.summary,jdbcType=VARCHAR},
			#{item.ref,jdbcType=VARCHAR},
			#{item.oref,jdbcType=VARCHAR},
			#{item.erpsqn,jdbcType=VARCHAR},
			#{item.buscode,jdbcType=VARCHAR},
			#{item.erpcheckno,jdbcType=VARCHAR},
			#{item.crvouhtype,jdbcType=VARCHAR},
			#{item.crvouhname,jdbcType=VARCHAR},
			#{item.crvouhno,jdbcType=VARCHAR},
			#{item.result,jdbcType=VARCHAR},
			#{item.iretcode,jdbcType=VARCHAR},
			#{item.iretmsg,jdbcType=VARCHAR},
			#{item.represerved3,jdbcType=VARCHAR},
			#{item.represerved4,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>
	
	<select id="queryAccWagePay" parameterType="java.util.Map" resultMap="accAccWagePay">

SELECT awp.emp_id AS emp_id,
       awp.emp_no AS emp_no,
       hed.emp_code AS emp_code,
       aea.account_name AS emp_name,
       awp.kind_code AS kind_code,
       awp.kind_name AS kind_name,
       aea.account_code AS recaccno,
       aea.emp_bank AS rece_address,
       aea.account_name AS recaccnamecn,
       aea.emp_arear AS reccityname,
       aea.is_bank_same AS is_bank_same,
       aea.is_city_same AS is_city_same,
       nvl(${item_code}, 0) AS payamt
  FROM ACC_WAGE_PAY awp
  LEFT JOIN acc_emp_account aea
    ON aea.group_id =#{group_id}
   AND aea.hos_id = #{hos_id}
   AND aea.copy_code = #{copy_code}
   AND awp.emp_id = aea.emp_id
   and aea.is_stop=0
   <!-- AND awp.emp_no = aea.emp_no -->
  left join hos_emp_dict hed 
       ON hed.group_id =#{group_id}
   AND hed.hos_id = #{hos_id}
   AND awp.emp_id = hed.emp_id
   AND awp.emp_no = hed.emp_no
   and hed.is_stop = '0'
		<where>
		
		awp.group_id= #{group_id} and awp.hos_id= #{hos_id} and awp.copy_code= #{copy_code} and hed.is_stop = '0'

			<if test="acc_year != null and acc_year != ''">
				and awp.acc_year  = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				and awp.acc_month = #{acc_month}
			</if>
			<if test="wage_code != null and wage_code != ''">
				and awp.wage_code = #{wage_code}
			</if>
			<if test="is_bank_same != null and is_bank_same != ''">
				and aea.is_bank_same = #{is_bank_same}
			</if>
			<if test="is_city_same != null and is_city_same != ''">
				and aea.is_city_same = #{is_city_same}
			</if>
			<if test="emp_kind_code != null and emp_kind_code != ''">
				and awp.kind_code = #{emp_kind_code}
			</if>
			<if test="emp_code != null and emp_code != ''">
				AND hed.emp_code = #{emp_code}
			</if>
			<if test="sql != null and sql != ''">
				AND ${sql}
			</if>
		</where>
		order by payamt,hed.emp_code
	</select>
	
	<select id="queryMaxFSeqNo" resultType="java.lang.String">
	select nvl(max(fseqno),0) from  acc_bank_net_wage
	where group_id =#{group_id}
	</select>
	
	<select id="queryMaxISeqNo" resultType="java.lang.String">
		select nvl(max(iseqno),0)
		from acc_bank_net_buyer_rd
		where 
		group_id =#{group_id} and 
		hos_id=#{hos_id} and 
		copy_code=#{copy_code}
	</select>
	
	
	
	<delete id="deleteAccBankNetWage">
	
	delete acc_bank_net_wage
	where 
	group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and wage_code=#{wage_code}
	and acc_year= #{acc_year}
	and acc_month= #{acc_month}

	</delete>
	
	<update id="updateAccBankNetWage">
		update acc_bank_net_wage
		   set 
		       retcode = #{retcode,jdbcType=VARCHAR},
		       retmsg = #{retmsg,jdbcType=VARCHAR}
		       <if test="serialno != null and serialno != ''">
				, serialno = #{serialno,jdbcType=VARCHAR}
			   </if>
		 where group_id = #{group_id,jdbcType=INTEGER}
		   and hos_id = #{hos_id,jdbcType=INTEGER}
		   and copy_code = #{copy_code,jdbcType=VARCHAR}
		   and acc_year = #{acc_year,jdbcType=VARCHAR}
		   and acc_month = #{acc_month,jdbcType=VARCHAR}
		   and fseqno = #{fseqno,jdbcType=VARCHAR}
	</update>
	
	<update id="updateBatchAccBankNetWageRd" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE acc_bank_net_wage_rd
			<trim prefix="SET" suffixOverrides=",">
				<if test="item.orderno != null ">
					orderno = #{item.orderno,jdbcType=VARCHAR},
				</if>
				<if test="item.iretcode != null ">
					iretcode = #{item.iretcode,jdbcType=VARCHAR},
				</if>
				<if test="item.iretmsg != null ">
					iretmsg = #{item.iretmsg,jdbcType=VARCHAR},
				</if>
				<if test="item.result != null ">
					result = #{item.result,jdbcType=VARCHAR},
				</if>
			</trim>
			<where>
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			<if test="item.acc_year != null and item.acc_year != ''">
				and acc_year = #{item.acc_year,jdbcType=VARCHAR}
			</if>
			<if test="item.acc_month != null and item.acc_month != ''">
				and acc_month = #{item.acc_month,jdbcType=VARCHAR}
			</if>
			<if test="item.fseqno != null and item.fseqno != ''">
				and fseqno = #{item.fseqno,jdbcType=VARCHAR}
			</if>
			
			<if test="item.ref != null and item.ref != ''">
				and ref = #{item.ref,jdbcType=VARCHAR}
			</if>
			<if test="item.oref != null and item.oref != ''">
				and oref = #{item.oref,jdbcType=VARCHAR}
			</if>
			<if test="item.erpsqn != null and item.erpsqn != ''">
				and erpsqn = #{item.erpsqn,jdbcType=VARCHAR}
			</if>
			<if test="item.buscode != null and item.buscode != ''">
				and buscode = #{item.buscode,jdbcType=VARCHAR}
			</if>	
			</where>
		</foreach>
	</update>
	
	<select id="queryAccBankNetWage" parameterType="java.util.Map" resultMap="accBankNetWage">

select group_id,
       hos_id,
       copy_code,
       acc_year,
       fseqno,
       serialno,
       retcode,
       retmsg,
       to_char(trandate, 'yyyy-mm-dd')  as trandate, 
	   to_char(trantime, 'hh24:mi:ss') as trantime, 
       onlbatf,
       settlemode,
       totalnum,
       totalamt/100 as totalamt,
       reqreserved1,
       reqreserved2,
       acc_month
  from acc_bank_net_wage
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} 

			<if test="beginDate != null and beginDate != '' and endDate !=null and endDate !=''">
				AND trandate between
				to_date(#{beginDate,jdbcType=DATE},'yyyy-MM-dd') and
				to_date(#{endDate,jdbcType=DATE},'yyyy-MM-dd')
			</if>
			<if test="fseqno != null and fseqno != ''">
				and fseqno = #{fseqno}
			</if>
			
			
			
		</where>
	order by acc_year,acc_month,fseqno desc
	</select>
	
	<select id="queryAccBankNetWageRd" parameterType="java.util.Map" resultMap="accBankNetWageRd">


select abnwr.group_id,
       abnwr.hos_id,
       abnwr.copy_code,
       abnwr.acc_year,
       abnwr.acc_month,
       abnwr.fseqno,
       abnwr.iseqno,
       abnwr.orderno,
       abnwr.reimburseno,
       abnwr.reimbursenum,
       abnwr.startdate,
       abnwr.starttime,
       abnwr.paytype,
       abnwr.payaccno,
       abnwr.payaccnamecn,
       abnwr.payaccnameen,
       abnwr.recaccno,
       abnwr.recaccnamecn,
       abnwr.recaccnameen,
       abnwr.sysioflg,
       abnwr.issamecity,
       abnwr.recicbccode,
       abnwr.reccityname,
       abnwr.recbankno,
       abnwr.recbankname,
       abnwr.currtype,
       abnwr.payamt/100 as payamt,
       abnwr.usecode,
       abnwr.usecn,
       abnwr.ensummary,
       abnwr.postscript,
       abnwr.summary,
       abnwr.ref,
       abnwr.oref,
       abnwr.erpsqn,
       abnwr.buscode,
       abnwr.erpcheckno,
       abnwr.crvouhtype,
       abnwr.crvouhname,
       abnwr.crvouhno,
       abnwr.result,
       abnwr.iretcode,
       abnwr.iretmsg,
       abnwr.represerved3,
       abnwr.represerved4,
       hed.emp_code,
       hed.emp_name,
       awp.kind_code,
       awp.kind_name,
       wai.item_name
  from acc_bank_net_wage_rd abnwr
  left join hos_emp_dict hed on abnwr.erpsqn = hed.emp_id and abnwr.buscode = hed.emp_no 
  			and hed.group_id= #{group_id} and hed.hos_id= #{hos_id}
  left join ACC_WAGE_PAY awp on abnwr.erpsqn = awp.emp_id and abnwr.buscode = awp.emp_no 
            and abnwr.oref = awp.wage_code and abnwr.acc_year = awp.acc_year and abnwr.acc_month = awp.acc_month
            and awp.group_id= #{group_id} and awp.hos_id= #{hos_id} and awp.copy_code=#{copy_code}
  left join acc_wage_item wai on abnwr.ref = wai.column_item and abnwr.oref = wai.wage_code and abnwr.acc_year = wai.acc_year
  			and wai.group_id= #{group_id} and wai.hos_id= #{hos_id} and wai.copy_code=#{copy_code}    
	left join acc_bank_net_wage abnw on abnwr.fseqno= abnw.fseqno
			and abnw.group_id= #{group_id} and abnw.hos_id= #{hos_id} and abnw.copy_code=#{copy_code}
		<where>
			abnwr.group_id= #{group_id} and abnwr.hos_id= #{hos_id} and abnwr.copy_code=#{copy_code}

			<if test="acc_year != null and acc_year != ''">
				and abnwr.acc_year = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				and abnwr.acc_month = #{acc_month}
			</if>
			<if test="wage_code != null and wage_code != ''">
				and abnwr.oref = #{wage_code}
			</if>
			<if test="kind_code != null and kind_code != ''">
				and awp.kind_code = #{kind_code}
			</if>
			<if test="emp_code != null and emp_code != ''">
				and hed.emp_code = #{emp_code}
			</if>
			<if test="fseqno != null and fseqno != ''">
				and abnwr.fseqno = #{fseqno}
			</if>
			<if test="iseqno != null and iseqno != ''">
				and abnwr.iseqno = #{iseqno}
			</if>
			<if test="result != null and result != ''">
				and abnwr.result = #{result}
			</if>
			<if test="beginDate != null and beginDate != '' and endDate !=null and endDate !=''">
				AND abnw.trandate between
				to_date(#{beginDate,jdbcType=DATE},'yyyy-MM-dd') and
				to_date(#{endDate,jdbcType=DATE},'yyyy-MM-dd')
			</if>
		</where>
	order by acc_year,acc_month,iseqno desc
	</select>
	
	<select id="sumTotalAmtByDay" parameterType="java.util.Map" resultType="double">
	
select sum(a.totalamt) from (
select nvl(SUM(totalamt),0)/100 as totalamt  from acc_bank_net_payment
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
union all 
select nvl(SUM(totalamt),0)/100 as totalamt from acc_bank_net_borr
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
union all 
select nvl(SUM(totalamt),0)/100 as totalamt from acc_bank_net_wage
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
union all 
select nvl(SUM(totalamt),0)/100 as totalamt from acc_bank_net_charge
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
union all 
select nvl(SUM(totalamt),0)/100 as totalamt from acc_bank_net_buyer
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
) a
	</select>
	
	<select id="totalAmtByFSeqNo" parameterType="java.util.Map" resultType="double">

	select nvl(SUM(totalamt),0)/100 from acc_bank_net_wage
	
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code}
		
		<if test="fseqno != null and fseqno != ''">
				and fseqno  = #{fseqno}
		</if>

		</where>
	order by fseqno desc
	</select>
	
	<select id="sumTotalAmtByISeqNo" parameterType="java.util.Map" resultType="double">

	select nvl(sum(payamt),0)/100 from acc_bank_net_wage_rd

		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} 
		<if test="fseqno != null and fseqno != ''">
				and fseqno  = #{fseqno}
		</if>
		<if test="sql != null and sql != ''">
				${sql}
		</if>

		</where>
	order by fseqno desc
	</select>
	
	<select id="sumWage" parameterType="java.util.Map" resultType="double">

SELECT 
       nvl(sum(${item_code}), 0)
  FROM ACC_WAGE_PAY awp
  LEFT JOIN acc_emp_account aea
    ON aea.group_id =#{group_id}
   AND aea.hos_id = #{hos_id}
   AND aea.copy_code = #{copy_code}
   AND awp.emp_id = aea.emp_id
   AND awp.emp_no = aea.emp_no
  left join hos_emp_dict hed 
       ON aea.group_id =#{group_id}
   AND aea.hos_id = #{hos_id}
   AND aea.copy_code = #{copy_code}
   AND awp.emp_id = hed.emp_id
   AND awp.emp_no = hed.emp_no
   and hed.is_stop = '0'
    
		<where>
		
		awp.group_id= #{group_id} and awp.hos_id= #{hos_id} and awp.copy_code= #{copy_code}

			<if test="acc_year != null and acc_year != ''">
				and awp.acc_year  = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				and awp.acc_month = #{acc_month}
			</if>
			<if test="wage_code != null and wage_code != ''">
				and awp.wage_code = #{wage_code}
			</if>
			<if test="is_bank_same != null and is_bank_same != ''">
				and aea.is_bank_same = #{is_bank_same}
			</if>
			<if test="is_city_same != null and is_city_same != ''">
				and aea.is_city_same = #{is_city_same}
			</if>
			<if test="emp_kind_code != null and emp_kind_code != ''">
				and awp.kind_code = #{emp_kind_code}
			</if>
			<if test="emp_code != null and emp_code != ''">
				AND hed.emp_code = #{emp_code}
			</if>
			<if test="sql != null and sql != ''">
				AND ${sql}
			</if>
		</where>
		order by hed.emp_code
	</select>
	
	<select id="queryAccBankNetWageRdBySeqNo" parameterType="java.util.Map" resultMap="accAccWagePay">

select abnwr.erpsqn     as emp_id,
       abnwr.buscode    as emp_no,
       hed.emp_code AS emp_code,
       aea.account_name AS emp_name,
       aea.account_code AS recaccno,
       aea.emp_bank     AS rece_address,
       aea.account_name AS recaccnamecn,
       aea.emp_arear    AS reccityname,
       aea.is_bank_same AS is_bank_same,
       aea.is_city_same AS is_city_same,
       nvl(payamt, 0)/100 AS payamt
  from acc_bank_net_wage_rd abnwr
  left join acc_emp_account aea
    ON aea.group_id = #{group_id}
   AND aea.hos_id = #{hos_id}
   AND aea.copy_code = #{copy_code}
   AND abnwr.erpsqn = aea.emp_id
   AND abnwr.buscode = aea.emp_no
 left join hos_emp_dict hed 
       ON hed.group_id =#{group_id}
   AND hed.hos_id = #{hos_id}
   AND abnwr.erpsqn = hed.emp_id
   AND abnwr.buscode = hed.emp_no
   and hed.is_stop = '0'   
		<where>
		
		abnwr.group_id= #{group_id} and abnwr.hos_id= #{hos_id} and abnwr.copy_code= #{copy_code}

			<if test="fseqno != null and fseqno != ''">
				and abnwr.fseqno  = #{fseqno}
			</if>
			<if test="sql != null and sql != ''">
				${sql}
			</if>
		</where>
		order by fseqno,iseqno
	</select>

</mapper>

	