<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.acc.dao.InternetBank.AccBankNetBorrMapper">
	<!-- 主表MAP --> 
	<resultMap id="accBankNetBorr" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="vouch_no" column="vouch_no" />
		<result property="vouch_id" column="vouch_id" />
		<result property="vouch_state" column="vouch_state" />
		<result property="fseqno" column="fseqno" />
		<result property="serialno" column="serialno" />
		<result property="retcode" column="retcode" />
		<result property="retmsg" column="retmsg" />
		<result property="trandate" column="trandate" />
		<result property="trantime" column="trantime" />
		<result property="onlbatf" column="onlbatf" />
		<result property="settlemode" column="settlemode" />
		<result property="totalnum" column="totalnum" />
		<result property="totalamt" column="totalamt" />
		<result property="reqreserved1" column="reqreserved1" />
		<result property="reqreserved2" column="reqreserved2" />

		<result property="iseqno" column="iseqno" />
		<result property="orderno" column="orderno" />
		<result property="reimburseno" column="reimburseno" />
		<result property="reimbursenum" column="reimbursenum" />
		<result property="startdate" column="startdate" />
		<result property="starttime" column="starttime" />
		<result property="paytype" column="paytype" />
		<result property="payaccno" column="payaccno" />
		<result property="payaccnamecn" column="payaccnamecn" />
		<result property="payaccnameen" column="payaccnameen" />
		<result property="recaccno" column="recaccno" />
		<result property="recaccnamecn" column="recaccnamecn" />
		<result property="recaccnameen" column="recaccnameen" />
		<result property="sysioflg" column="sysioflg" />
		<result property="issamecity" column="issamecity" />
		<result property="prop" column="prop" />
		<result property="recicbccode" column="recicbccode" />
		<result property="reccityname" column="reccityname" />
		<result property="recbankno" column="recbankno" />
		<result property="recbankname" column="recbankname" />
		<result property="currtype" column="currtype" />
		<result property="payamt" column="payamt" />
		<result property="usecode" column="usecode" />
		<result property="usecn" column="usecn" />
		<result property="ensummary" column="ensummary" />
		<result property="postscript" column="postscript" />
		<result property="summary" column="summary" />
		<result property="ref" column="ref" />
		<result property="oref" column="oref" />
		<result property="erpsqn" column="erpsqn" />
		<result property="buscode" column="buscode" />
		<result property="erpcheckno" column="erpcheckno" />
		<result property="crvouhtype" column="crvouhtype" />
		<result property="crvouhname" column="crvouhname" />
		<result property="crvouhno" column="crvouhno" />
		<result property="result" column="result" />
		<result property="iretcode" column="iretcode" />
		<result property="iretmsg" column="iretmsg" />
		<result property="represerved3" column="represerved3" />
		<result property="represerved4" column="represerved4" />
		
		<result property="apply_code" column="apply_code" />
		<result property="emp_code" column="emp_code" />
		<result property="emp_name" column="emp_name" />
		<result property="proj_code" column="proj_code" />
		<result property="proj_name" column="proj_name" />
		<result property="state_name" column="state_name" />
	</resultMap>

	<!-- 明细MAP -->
	<resultMap id="accBankNetBorrRd" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="fseqno" column="fseqno" />
		<result property="iseqno" column="iseqno" />
		<result property="orderno" column="orderno" />
		<result property="reimburseno" column="reimburseno" />
		<result property="reimbursenum" column="reimbursenum" />
		<result property="startdate" column="startdate" />
		<result property="starttime" column="starttime" />
		<result property="paytype" column="paytype" />
		<result property="payaccno" column="payaccno" />
		<result property="payaccnamecn" column="payaccnamecn" />
		<result property="payaccnameen" column="payaccnameen" />
		<result property="recaccno" column="recaccno" />
		<result property="recaccnamecn" column="recaccnamecn" />
		<result property="recaccnameen" column="recaccnameen" />
		<result property="sysioflg" column="sysioflg" />
		<result property="issamecity" column="issamecity" />
		<result property="prop" column="prop" />
		<result property="recicbccode" column="recicbccode" />
		<result property="reccityname" column="reccityname" />
		<result property="recbankno" column="recbankno" />
		<result property="recbankname" column="recbankname" />
		<result property="currtype" column="currtype" />
		<result property="payamt" column="payamt" />
		<result property="usecode" column="usecode" />
		<result property="usecn" column="usecn" />
		<result property="ensummary" column="ensummary" />
		<result property="postscript" column="postscript" />
		<result property="summary" column="summary" />
		<result property="ref" column="ref" />
		<result property="oref" column="oref" />
		<result property="erpsqn" column="erpsqn" />
		<result property="buscode" column="buscode" />
		<result property="erpcheckno" column="erpcheckno" />
		<result property="crvouhtype" column="crvouhtype" />
		<result property="crvouhname" column="crvouhname" />
		<result property="crvouhno" column="crvouhno" />
		<result property="result" column="result" />
		<result property="iretcode" column="iretcode" />
		<result property="iretmsg" column="iretmsg" />
		<result property="represerved3" column="represerved3" />
		<result property="represerved4" column="represerved4" />
		
		<result property="pay_bill_no" column="pay_bill_no" />
		<result property="pay_date" column="pay_date" />
		<result property="sup_code" column="sup_code" />
		<result property="sup_name" column="sup_name" />
	</resultMap>
	
	<!-- 材料付款MAP -->
	<resultMap id="budgBorrApply" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="vouch_id" column="vouch_id" />
		<result property="vouch_no" column="vouch_no" />
		<result property="apply_code" column="apply_code" />
		<result property="apply_date" column="apply_date" />
		<result property="dept_id" column="dept_id" />
		<result property="dept_no" column="dept_no" />
		<result property="proj_id" column="proj_id" />
		<result property="proj_no" column="proj_no" />
		<result property="emp_id" column="emp_id" />
		<result property="emp_no" column="emp_no" />
		<result property="dept_code" column="dept_code" />
		<result property="dept_name" column="dept_name" />
		<result property="proj_code" column="proj_code" />
		<result property="proj_name" column="proj_name" />
		<result property="emp_code" column="emp_code" />
		<result property="emp_name" column="emp_name" />
		<result property="borrow_amount" column="borrow_amount" />
		<result property="remark" column="remark" />
		<result property="remark" column="remark" />
		<result property="maker_name" column="maker_name" />
		<result property="make_date" column="make_date" />
		<result property="checker" column="checker" />
		<result property="checker_name" column="checker_name" />
		<result property="check_date" column="check_date" />
		<result property="state" column="state" />
		<result property="state_name" column="state_name" />
		<result property="payer" column="payer" />
		<result property="payer_name" column="payer_name" />
		<result property="pay_date" column="pay_date" />
		<result property="pay_way" column="pay_way" />
		<result property="phone" column="phone" />
		<result property="card" column="card" />
		<result property="pay_way_name" column="pay_way_name" />
	</resultMap>

	<select id="queryAccBorrApply" parameterType="java.util.Map" resultMap="budgBorrApply">
with tmp1 as
 (select abnb.group_id,
         abnb.hos_id,
         abnb.copy_code,
         max(abnb.acc_year) as acc_year,
         max(abnb.fseqno) as fseqno,
         max(abnbr.iseqno) as iseqno,
         abnbr.ref
    from acc_bank_net_borr abnb
    left join acc_bank_net_borr_rd abnbr
      on abnb.fseqno = abnbr.fseqno
     and abnbr.group_id = #{group_id}
     and abnbr.hos_id = #{hos_id}
     and abnbr.copy_code = #{copy_code}

        <where>

			abnb.group_id= #{group_id} and abnb.hos_id= #{hos_id} and abnb.copy_code= #{copy_code} 

			<if test="beginDate != null and beginDate != '' and endDate !=null and endDate !=''">
				AND abnb.trandate between
				to_date(#{beginDate,jdbcType=DATE},'yyyy-MM-dd') and
				to_date(#{endDate,jdbcType=DATE},'yyyy-MM-dd')
			</if>
			
			<if test="fseqno != null and fseqno != ''">
				and abnb.fseqno = #{fseqno}
			</if>
			<if test="apply_code != null and apply_code != ''">
				and abnbr.ref like '%${ref}%'
			</if>
			<if test="emp_id != null and emp_id != ''">
				and abnbr.erpsqn || '.' || abnbr.buscode = #{emp_id}
			</if>
		</where>
      	group by abnb.group_id, abnb.hos_id, abnb.copy_code, abnbr.ref)
		select t1.*, acc_vouch_type.vouch_type_short || '-' || acc_vouch.vouch_no as VOUCH_NO, acc_vouch.vouch_id
    from (
		SELECT 
			a.group_id,
			a.hos_id,
			a.copy_code,
			a.apply_code,
			a.apply_date,
			a.dept_id,
			a.dept_no,
			hdd.dept_code,
			hdd.dept_name,
			a.proj_id,
			a.proj_no,
			hpd.proj_code,
			hpd.proj_name,
			a.emp_id,
			a.emp_no,
			hed.emp_code,
			hed.emp_name,
			a.borrow_amount,
			a.remark,
			a.maker,
			u1.user_name maker_name,
			a.make_date,
			a.checker,
			u2.user_name checker_name,
			a.check_date,
			a.payer,
			u3.user_name payer_name,
			a.pay_date,
			a.state,
			bsd.value_name state_name,
			a.pay_way,
			apy.pay_name pay_way_name,
			a.phone,
			a.card_no, case 
					when abnbr.result = 0
					or abnbr.result = 1
					or abnbr.result = 2
					or abnbr.result = 3
					or abnbr.result = 4
					or abnbr.result = 9
					or abnbr.result = 10
					or abnbr.result = 86 then '正在处理'
					when abnbr.result = 5
					or abnbr.result = 6
					or abnbr.result = 8
					or abnbr.result = 95
					or abnbr.result = 96 then '支付失败'
					when abnbr.result = 7
					or abnbr.result = 11 then '支付成功'
					else '未支付'
				end as result_state
		FROM BUDG_BORR_Apply a
		left join tmp1 tmp1 on tmp1.ref = a.apply_code
			and a.group_id = tmp1.group_id
			and a.hos_id = tmp1.hos_id
			and a.copy_code = tmp1.copy_code 
			left join acc_bank_net_payment abnp on tmp1.fseqno = abnp.fseqno
			and abnp.group_id = tmp1.group_id
			and abnp.hos_id = tmp1.hos_id
			and abnp.copy_code = tmp1.copy_code 
			left join acc_bank_net_payment_rd abnbr on tmp1.fseqno = abnbr.fseqno
			and tmp1.iseqno = abnbr.iseqno
			and tmp1.ref = abnbr.ref
			and abnbr.group_id = tmp1.group_id
			and abnbr.hos_id = tmp1.hos_id
			and abnbr.copy_code = tmp1.copy_code 
		left join hos_dept_dict hdd on
		a.group_id = hdd.group_id
		and a.hos_id = hdd.hos_id
		and a.dept_id = hdd.dept_id
		and hdd.is_stop = 0
		left join hos_proj_dict hpd on
		a.group_id = hpd.group_id
		and a.hos_id = hpd.hos_id
		and a.proj_id = hpd.proj_id
		and hpd.is_stop = 0
		left join hos_emp_dict hed on
		a.group_id = hed.group_id
		and a.hos_id = hed.hos_id
		and a.emp_id = hed.emp_id
		and hed.is_stop = 0
		left join sys_user u1 on
		a.group_id = u1.group_id
		and a.hos_id = u1.hos_id
		and a.maker = u1.user_id
		left join sys_user u2 on
		a.group_id = u2.group_id
		and a.hos_id = u2.hos_id
		and a.checker = u2.user_id
		left join sys_user u3 on
		a.group_id = u3.group_id
		and a.hos_id = u3.hos_id
		and a.payer = u3.user_id
		left join acc_pay_type apy on
		a.group_id = apy.group_id
		and a.hos_id = apy.hos_id
		and a.copy_code = apy.copy_code
		and a.pay_way = apy.pay_code
		left join BUDG_SYS_DICT bsd on
		a.state = bsd.value_code
		and bsd.f_code = 'BORROW_STATE'
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="apply_code != null and apply_code != ''">
		AND a.apply_code like upper('%${apply_code}%')
		</if>
		<if test="apply_codes != null and apply_codes != ''">
		AND a.apply_code in (${apply_codes})
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND a.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND a.dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="proj_id != null and proj_id != ''">
		AND a.proj_id = #{proj_id,jdbcType=INTEGER}
		</if>
		<if test="proj_no != null and proj_no != ''">
		AND a.proj_no = #{proj_no,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND a.emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="emp_no != null and emp_no != ''">
		AND a.emp_no = #{emp_no,jdbcType=INTEGER}
		</if>
		<if test="borrow_amount != null and borrow_amount != ''">
		AND a.borrow_amount = #{borrow_amount,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND a.remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="maker != null and maker != ''">
		AND a.maker = #{maker,jdbcType=INTEGER}
		</if>
		<if test="make_date != null and make_date != ''">
		AND a.make_date = #{make_date,jdbcType=DATE}
		</if>
		<if test="checker != null and checker != ''">
		AND a.checker = #{checker,jdbcType=INTEGER}
		</if>
		<if test="check_date != null and check_date != ''">
		AND a.check_date = #{check_date,jdbcType=DATE}
		</if>
		<if test="payer != null and payer != ''">
		AND a.payer = #{payer,jdbcType=INTEGER}
		</if>
		<if test="pay_date != null and pay_date != ''">
		AND a.pay_date = #{pay_date,jdbcType=DATE}
		</if>
		<if test="state != null and state != ''">
		AND a.state = #{state,jdbcType=VARCHAR}
		</if>
		<if test="pay_way != null and pay_way != ''">
		AND a.pay_way = #{pay_way,jdbcType=VARCHAR}
		</if>
		<if test="phone != null and phone != ''">
		AND a.phone = #{phone,jdbcType=VARCHAR}
		</if>
		<if test="card_no != null and card_no != ''">
		AND a.card_no = #{card_no,jdbcType=VARCHAR}
		</if>
		<if test="apply_date_b != null and apply_date_b != '' and apply_date_e != null and apply_date_e != ''">
		AND a.apply_date between to_date(#{apply_date_b},'yyyy/MM/dd') and to_date(#{apply_date_e},'yyyy/MM/dd')
		</if>
		<if test="result_state != null and result_state != '' and result_state==3">
				and (abnbr.result is null or abnbr.result in (5,6,8,95,96))
		</if>
		<if test="result_state != null and result_state != '' and result_state==2">
				and abnbr.result in (7,11)
		</if>
		<if test="result_state != null and result_state != '' and result_state==4">
				and abnbr.result in (0,1,2,3,4,9,10,86)
		</if>
		</where>   
		order by a.apply_code desc
		) t1
    left join ACC_BUSI_LOG_0201 on ACC_BUSI_LOG_0201.group_id = #{group_id,jdbcType=INTEGER}
    and ACC_BUSI_LOG_0201.hos_id = #{hos_id,jdbcType=INTEGER}
    and ACC_BUSI_LOG_0201.copy_code = #{copy_code,jdbcType=VARCHAR}
    and t1.apply_code = ACC_BUSI_LOG_0201.BUSINESS_NO 
    left join acc_vouch on acc_vouch.group_id = ACC_BUSI_LOG_0201.group_id
    and acc_vouch.hos_id = ACC_BUSI_LOG_0201.hos_id
    and acc_vouch.copy_code = ACC_BUSI_LOG_0201.copy_code
    and acc_vouch.vouch_id = ACC_BUSI_LOG_0201.vouch_id 
      left join acc_vouch_type on acc_vouch_type.group_id = acc_vouch.group_id
    and acc_vouch_type.hos_id = acc_vouch.hos_id
    and acc_vouch_type.copy_code = acc_vouch.copy_code
    and acc_vouch_type.vouch_type_code = acc_vouch.vouch_type_code 
	</select>

	<insert id="addBatchAccBankNetBorr" parameterType="java.util.List">

		insert into acc_bank_net_Borr
		(group_id, hos_id, copy_code, acc_year,
		fseqno, serialno, retcode, retmsg,
		trandate, trantime, onlbatf,
		settlemode, totalnum, totalamt,
		reqreserved1, reqreserved2)
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.acc_year,jdbcType=VARCHAR},
			#{item.fseqno,jdbcType=VARCHAR},
			#{item.serialno,jdbcType=VARCHAR},
			#{item.retcode,jdbcType=VARCHAR},
			#{item.retmsg,jdbcType=VARCHAR},
			#{item.trandate,jdbcType=DATE},
			#{item.trantime,jdbcType=TIMESTAMP},
			#{item.onlbatf,jdbcType=INTEGER},
			#{item.settlemode,jdbcType=INTEGER},
			#{item.totalnum,jdbcType=INTEGER},
			#{item.totalamt,jdbcType=INTEGER},
			#{item.reqreserved1,jdbcType=VARCHAR},
			#{item.reqreserved2,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>

	<insert id="addBatchAccBankNetBorrRd" parameterType="java.util.List">

		insert into acc_bank_net_Borr_rd
		(group_id, hos_id, copy_code,
		acc_year, fseqno, iseqno, orderno, reimburseno,
		reimbursenum,
		startdate, starttime, paytype, payaccno,
		payaccnamecn, payaccnameen,
		recaccno, recaccnamecn, recaccnameen, sysioflg,
		issamecity,prop,
		recicbccode, reccityname, recbankno, recbankname,
		currtype, payamt,
		usecode, usecn, ensummary, postscript, summary, ref,
		oref, erpsqn,
		buscode, erpcheckno, crvouhtype, crvouhname, crvouhno,
		result,
		iretcode, iretmsg, represerved3, represerved4)
		<foreach collection="list" item="item" index="index"
			separator=" union all ">
			select
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.acc_year,jdbcType=VARCHAR},
			#{item.fseqno,jdbcType=VARCHAR},
			#{item.iseqno,jdbcType=VARCHAR},
			#{item.orderno,jdbcType=VARCHAR},
			#{item.reimburseno,jdbcType=VARCHAR},
			#{item.reimbursenum,jdbcType=VARCHAR},
			#{item.startdate,jdbcType=VARCHAR},
			#{item.starttime,jdbcType=VARCHAR},
			#{item.paytype,jdbcType=INTEGER},
			#{item.payaccno,jdbcType=INTEGER},
			#{item.payaccnamecn,jdbcType=VARCHAR},
			#{item.payaccnameen,jdbcType=VARCHAR},
			#{item.recaccno,jdbcType=VARCHAR},
			#{item.recaccnamecn,jdbcType=VARCHAR},
			#{item.recaccnameen,jdbcType=VARCHAR},
			#{item.sysioflg,jdbcType=INTEGER},
			#{item.issamecity,jdbcType=INTEGER},
			#{item.prop,jdbcType=INTEGER},
			#{item.recicbccode,jdbcType=INTEGER},
			#{item.reccityname,jdbcType=VARCHAR},
			#{item.recbankno,jdbcType=VARCHAR},
			#{item.recbankname,jdbcType=VARCHAR},
			#{item.currtype,jdbcType=VARCHAR},
			#{item.payamt,jdbcType=INTEGER},
			#{item.usecode,jdbcType=VARCHAR},
			#{item.usecn,jdbcType=VARCHAR},
			#{item.ensummary,jdbcType=VARCHAR},
			#{item.postscript,jdbcType=VARCHAR},
			#{item.summary,jdbcType=VARCHAR},
			#{item.ref,jdbcType=VARCHAR},
			#{item.oref,jdbcType=VARCHAR},
			#{item.erpsqn,jdbcType=VARCHAR},
			#{item.buscode,jdbcType=VARCHAR},
			#{item.erpcheckno,jdbcType=VARCHAR},
			#{item.crvouhtype,jdbcType=VARCHAR},
			#{item.crvouhname,jdbcType=VARCHAR},
			#{item.crvouhno,jdbcType=VARCHAR},
			#{item.result,jdbcType=VARCHAR},
			#{item.iretcode,jdbcType=VARCHAR},
			#{item.iretmsg,jdbcType=VARCHAR},
			#{item.represerved3,jdbcType=VARCHAR},
			#{item.represerved4,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>
	
	<update id="updateAccBankNetBorr">
		update acc_bank_net_Borr
		   set 
		       retcode = #{retcode,jdbcType=VARCHAR},
		       retmsg = #{retmsg,jdbcType=VARCHAR}
		       <if test="serialno != null and serialno != ''">
				, serialno = #{serialno,jdbcType=VARCHAR}
			   </if>
		 where group_id = #{group_id,jdbcType=INTEGER}
		   and hos_id = #{hos_id,jdbcType=INTEGER}
		   and copy_code = #{copy_code,jdbcType=VARCHAR}
		   and acc_year = #{acc_year,jdbcType=VARCHAR}
		   and fseqno = #{fseqno,jdbcType=VARCHAR}
	</update>
	<update id="updateBatchAccBankNetBorrRd" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE acc_bank_net_borr_rd
			<trim prefix="SET" suffixOverrides=",">
				<if test="item.orderno != null ">
					orderno = #{item.orderno,jdbcType=VARCHAR},
				</if>
				<if test="item.iretcode != null ">
					iretcode = #{item.iretcode,jdbcType=VARCHAR},
				</if>
				<if test="item.iretmsg != null ">
					iretmsg = #{item.iretmsg,jdbcType=VARCHAR},
				</if>
				<if test="item.result != null ">
					result = #{item.result,jdbcType=VARCHAR},
				</if>
			</trim>
			<where>
			group_id = #{item.group_id,jdbcType=INTEGER}
			AND hos_id = #{item.hos_id,jdbcType=INTEGER}
			AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
			<if test="item.acc_year != null and item.acc_year != ''">
				and acc_year = #{item.acc_year,jdbcType=VARCHAR}
			</if>
			<if test="item.fseqno != null and item.fseqno != ''">
				and fseqno = #{item.fseqno,jdbcType=VARCHAR}
			</if>
			
			<if test="item.ref != null and item.ref != ''">
				and ref = #{item.ref,jdbcType=VARCHAR}
			</if>
			<if test="item.oref != null and item.oref != ''">
				and oref = #{item.oref,jdbcType=VARCHAR}
			</if>
			<if test="item.erpsqn != null and item.erpsqn != ''">
				and erpsqn = #{item.erpsqn,jdbcType=VARCHAR}
			</if>
			<if test="item.buscode != null and item.buscode != ''">
				and buscode = #{item.buscode,jdbcType=VARCHAR}
			</if>	
			</where>
		</foreach>
	</update>

	<select id="queryAccBankNetBorr" parameterType="java.util.Map" resultMap="accBankNetBorr">

with tmp1 as
 (select abnb.group_id,
         abnb.hos_id,
         abnb.copy_code,
         max(abnb.acc_year) as acc_year,
         max(abnb.fseqno) as fseqno,
         max(abnbr.iseqno) as iseqno,
         abnbr.ref
    from acc_bank_net_borr abnb
    left join acc_bank_net_borr_rd abnbr
      on abnb.fseqno = abnbr.fseqno
     and abnbr.group_id = #{group_id}
     and abnbr.hos_id = #{hos_id}
     and abnbr.copy_code = #{copy_code}

        <where>

			abnb.group_id= #{group_id} and abnb.hos_id= #{hos_id} and abnb.copy_code= #{copy_code} 

			<if test="beginDate != null and beginDate != '' and endDate !=null and endDate !=''">
				AND abnb.trandate between
				to_date(#{beginDate,jdbcType=DATE},'yyyy-MM-dd') and
				to_date(#{endDate,jdbcType=DATE},'yyyy-MM-dd')
			</if>
			
			<if test="fseqno != null and fseqno != ''">
				and abnb.fseqno = #{fseqno}
			</if>
			<if test="apply_code != null and apply_code != ''">
				and abnbr.ref like '%${ref}%'
			</if>
			<if test="emp_id != null and emp_id != ''">
				and abnbr.erpsqn || '.' || abnbr.buscode = #{emp_id}
			</if>
		</where>
      	group by abnb.group_id, abnb.hos_id, abnb.copy_code, abnbr.ref)

select t1.*,
       acc_vouch_type.vouch_type_short || '-' || acc_vouch.vouch_no as VOUCH_NO,
       acc_vouch.vouch_id,
       acc_vouch.state as vouch_state,avs.state_name
  from (select tmp1.group_id,
               tmp1.hos_id,
               tmp1.copy_code,
               tmp1.acc_year,
               tmp1.fseqno,
               tmp1.iseqno,
               tmp1.ref,
               abnb.serialno,
               abnb.retcode,
               abnb.retmsg,
               to_char(abnb.trandate, 'yyyy-mm-dd') as trandate,
               to_char(abnb.trantime, 'hh24:mi:ss') as trantime,
               abnb.onlbatf,
               abnb.settlemode,
               abnb.totalnum,
               abnb.totalamt / 100 as totalamt,
               abnbr.result,
               abnbr.iretcode,
               abnbr.iretmsg,
               mpm.BUSINESS_ID as apply_code,
               abnbr.erpsqn,
               abnbr.payamt,
               hed.emp_code,
               hed.emp_name,
               hpd.proj_code,
               hpd.proj_name
          from tmp1 tmp1
          left join acc_bank_net_borr abnb
            on tmp1.fseqno = abnb.fseqno
           and abnb.group_id = #{group_id}
           and abnb.hos_id = #{hos_id}
           and abnb.copy_code = #{copy_code}
          left join acc_bank_net_borr_rd abnbr
            on tmp1.fseqno = abnbr.fseqno
           and tmp1.iseqno = abnbr.iseqno
           and tmp1.ref = abnbr.ref
           and abnbr.group_id = #{group_id}
           and abnbr.hos_id = #{hos_id}
           and abnbr.copy_code = #{copy_code}
          left join V_BUDG_BORR_APPLY mpm
            on tmp1.ref = mpm.BUSINESS_ID
           and mpm.group_id = #{group_id}
           and mpm.hos_id = #{hos_id}
           and mpm.copy_code = #{copy_code}
          left join hos_proj_dict hpd
            on mpm.proj_id = hpd.proj_id
           and hpd.group_id = #{group_id}
           and hpd.hos_id = #{hos_id}
           and hpd.is_stop = 0
          left join hos_emp_dict hed
            on mpm.emp_id = hed.emp_id
           and hed.group_id = #{group_id}
           and hed.hos_id = #{hos_id}
           and hed.is_stop = 0
           <where>
			<if test="result != null and result != ''">
				and abnbr.result in ('5','6','8','95','96')
			</if>
		</where>
               ) t1
  left join ACC_BUSI_LOG_0201
    on ACC_BUSI_LOG_0201.group_id = #{group_id}
   and ACC_BUSI_LOG_0201.hos_id = #{hos_id}
   and ACC_BUSI_LOG_0201.copy_code = #{copy_code}
   and t1.apply_code = ACC_BUSI_LOG_0201.BUSINESS_NO
  left join acc_vouch
    on acc_vouch.group_id = ACC_BUSI_LOG_0201.group_id
   and acc_vouch.hos_id = ACC_BUSI_LOG_0201.hos_id
   and acc_vouch.copy_code = ACC_BUSI_LOG_0201.copy_code
   and acc_vouch.vouch_id = ACC_BUSI_LOG_0201.vouch_id
  left join acc_vouch_type
    on acc_vouch_type.group_id = acc_vouch.group_id
   and acc_vouch_type.hos_id = acc_vouch.hos_id
   and acc_vouch_type.copy_code = acc_vouch.copy_code
   and acc_vouch_type.vouch_type_code = acc_vouch.vouch_type_code
      and acc_vouch_type.vouch_type_code = acc_vouch.vouch_type_code
	left join ACC_VOUCH_STATE avs on acc_vouch.state = avs.state
    and avs.group_id = #{group_id}
    and avs.hos_id = #{hos_id}
    and avs.copy_code= #{copy_code}
   order by t1.trandate desc, t1.trantime desc
	</select>

	<select id="queryAccBankNetBorrRd" parameterType="java.util.Map" resultMap="accBankNetBorrRd">

		select abnbr.group_id,
       abnbr.hos_id,
       abnbr.copy_code,
       abnbr.acc_year,
       abnbr.fseqno,
       abnbr.iseqno,
       abnbr.orderno,
       abnbr.reimburseno,
       abnbr.reimbursenum,
       abnbr.startdate,
       abnbr.starttime,
       abnbr.paytype,
       abnbr.payaccno,
       abnbr.payaccnamecn,
       abnbr.payaccnameen,
       abnbr.recaccno,
       abnbr.recaccnamecn,
       abnbr.recaccnameen,
       abnbr.sysioflg,
       abnbr.issamecity,
       abnbr.prop,
       abnbr.recicbccode,
       abnbr.reccityname,
       abnbr.recbankno,
       abnbr.recbankname,
       abnbr.currtype,
       abnbr.payamt,
       abnbr.usecode,
       abnbr.usecn,
       abnbr.ensummary,
       abnbr.postscript,
       abnbr.summary,
       abnbr.ref,
       abnbr.oref,
       abnbr.erpsqn,
       abnbr.buscode,
       abnbr.erpcheckno,
       abnbr.crvouhtype,
       abnbr.crvouhname,
       abnbr.crvouhno,
       case when abnbr.result = 0 then '提交成功,等待银行处理'
       when abnbr.result = 1 then '授权成功, 等待银行处理'
       when abnbr.result = 2 then '等待授权'
       when abnbr.result = 3 then '等待二次授权'
       when abnbr.result = 4 then '等待银行答复'
       when abnbr.result = 5 then '主机返回待处理'
       when abnbr.result = 6 then '被银行拒绝'
       when abnbr.result = 7 then '处理成功'
       when abnbr.result = 8 then '指令被拒绝授权'
       when abnbr.result = 9 then '银行正在处理'
       when abnbr.result = 10 then '预约指令'
       when abnbr.result = 11 then '预约取消'
       when abnbr.result = 86 then '等待电话核实'
       when abnbr.result = 95 then '待核查'
       when abnbr.result = 96 then '区域中心通讯可疑'        
      end as result,
       abnbr.iretcode,
       abnbr.iretmsg,
       abnbr.represerved3,
       abnbr.represerved4
  from acc_bank_net_Borr_rd abnbr

		<where>
			abnbr.group_id= #{group_id} and abnbr.hos_id= #{hos_id} and abnbr.copy_code=#{copy_code}

			<if test="acc_year != null and acc_year != ''">
				and abnbr.acc_year = #{acc_year}
			</if>
			<if test="fseqno != null and fseqno != ''">
				and abnbr.fseqno = #{fseqno}
			</if>
			<if test="iseqno != null and iseqno != ''">
				and abnbr.iseqno = #{iseqno}
			</if>
			<if test="apply_code != null and apply_code != ''">
				and abnbr.ref = #{apply_code}
			</if>

		</where>

	</select>

	<select id="queryMaxFSeqNo" resultType="java.lang.String">
		select nvl(max(fseqno),0)
		from acc_bank_net_Borr
		where group_id =#{group_id}
	</select>

	<select id="queryMaxISeqNo" resultType="java.lang.String">
		select nvl(max(iseqno),0)
		from acc_bank_net_Borr_rd
		where 
		group_id =#{group_id} and 
		hos_id=#{hos_id} and 
		copy_code=#{copy_code}
	</select>
	<select id="sumTotalAmtByDay" parameterType="java.util.Map" resultType="double">

select sum(a.totalamt) from (
select nvl(SUM(totalamt),0)/100 as totalamt  from acc_bank_net_payment
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
union all 
select nvl(SUM(totalamt),0)/100 as totalamt from acc_bank_net_borr
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
union all 
select nvl(SUM(totalamt),0)/100 as totalamt from acc_bank_net_wage
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
union all 
select nvl(SUM(totalamt),0)/100 as totalamt from acc_bank_net_charge
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
union all 
select nvl(SUM(totalamt),0)/100 as totalamt from acc_bank_net_buyer
		<where>
		
		group_id= #{group_id} and hos_id= #{hos_id} and copy_code= #{copy_code} and retcode='0'

		AND trandate = to_date(#{nowDate,jdbcType=DATE},'yyyy-MM-dd')

		</where>
) a
	</select>

</mapper>

	