<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.info.HtcgRecipeTypeMapper">

	<resultMap id="recipeTypeMap" type="com.chd.hrp.htcg.entity.info.HtcgRecipeType">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="recipe_type_code" column="recipe_type_code" />
		<result property="recipe_type_name" column="recipe_type_name" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="is_stop" column="is_stop" />
	</resultMap>

	<insert id="addHtcgRecipeType" useGeneratedKeys="true">

		insert into htcg_recipe_type (
			group_id ,
			hos_id,
			copy_code ,
			recipe_type_code ,
			recipe_type_name ,
			spell_code ,
			wbx_code ,
			is_stop
		) values ( 
			#{group_id},
			#{hos_id},
			#{copy_code},
			#{recipe_type_code},
			#{recipe_type_name},
			#{spell_code} ,
			#{wbx_code} ,
			#{is_stop}
			)

	</insert>

	<insert id="addBatchHtcgRecipeType" parameterType="java.util.List">

		insert into htcg_recipe_type (
				group_id ,
				hos_id,
				copy_code ,
				recipe_type_code ,
				recipe_type_name ,
				spell_code ,
				wbx_code ,
				is_stop
		)
		<foreach collection="list" item="item" separator="union all">
				select
				#{item.group_id},
				#{item.hos_id},
				#{item.copy_code} ,
				#{item.recipe_type_code} ,
				#{item.recipe_type_name} ,
				#{item.spell_code} ,
				#{item.wbx_code} ,
				#{item.is_stop}
				from dual
		</foreach>
	</insert>

     <delete id="deleteHtcgRecipeType" parameterType="java.util.Map">

		delete from htcg_recipe_type
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and recipe_type_code = #{recipe_type_code}

	</delete>

	<delete id="deleteBatchHtcgRecipeType" parameterType="java.util.List">

		delete from htcg_recipe_type
		where 
		<foreach collection="list" index="index" item="item" separator="or" >
		   (
		         group_id = #{item.group_id,}
			 and hos_id = #{item.hos_id}
			 and copy_code = #{item.copy_code}
			 and recipe_type_code = #{item.recipe_type_code}
		   )
		</foreach>
		

	</delete>
	<update id="updateHtcgRecipeType" parameterType="java.util.Map">

		update htcg_recipe_type set
			recipe_type_name = #{recipe_type_name} ,
			spell_code = #{spell_code} ,
			wbx_code = #{wbx_code} ,
			is_stop = #{is_stop}
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and recipe_type_code = #{recipe_type_code}

	</update>


	<select id="queryHtcgRecipeTypeByCode" resultMap="recipeTypeMap"
		parameterType="java.util.Map">

		select
			group_id,
			hos_id,
			copy_code,
			recipe_type_code,
			recipe_type_name,
			spell_code,
			wbx_code,
			is_stop
		from htcg_recipe_type
		where group_id = #{group_id}
		and hos_id = #{hos_id}
		and copy_code = #{copy_code}
		and recipe_type_code = #{recipe_type_code}

	</select>
	<select id="queryHtcgRecipeType" resultMap="recipeTypeMap"
		parameterType="java.util.Map">

		select
			group_id,
			hos_id,
			copy_code,
			recipe_type_code,
			recipe_type_name,
			spell_code,
			wbx_code,
			is_stop
		from htcg_recipe_type
		<where>
			group_id = #{group_id,jdbcType=INTEGER}
			and hos_id = #{hos_id,jdbcType=INTEGER}
			and copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="recipe_type_code != null and recipe_type_code != ''">
				AND (
				recipe_type_code like '%${recipe_type_code}%' or
				recipe_type_name like '%${recipe_type_code}%' or
				spell_code like '%${recipe_type_code}%' or
				wbx_code like '%${recipe_type_code}%'
				)

			</if>
			<if test="is_stop != null and is_stop != ''">
				AND is_stop = #{is_stop}
			</if>
		</where>
		     order by recipe_type_code
	</select>
</mapper>

