<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.info.HtcgMaterialDictsMapper">
	<resultMap id="materialDicts" type="com.chd.hrp.htcg.entity.info.HtcgMaterialDicts">
	   <result property="group_id" column="group_id" />
	   <result property="hos_id" column="hos_id" />
	   <result property="copy_code" column="copy_code" />
	   <result property="mate_code" column="mate_code" />
	   <result property="mate_name" column="mate_name" />
	   <result property="mate_type_code" column="mate_type_code" />
	   <result property="mate_type_name" column="mate_type_name" />
	   <result property="mate_mode" column="mate_mode" />
	   <result property="meas_code" column="meas_code" />
	   <result property="meas_name" column="meas_name" />
	   <result property="price" column="price"/>
	   <result property="fac_id" column="fac_id" />
	   <result property="fac_no" column="fac_no" />
	   <result property="fac_code" column="fac_code" />
	   <result property="fac_name" column="fac_name" />
	   <result property="is_stop" column="is_stop" />
	</resultMap>
	
   <select id="queryHtcgMaterialDicts"  resultMap="materialDicts" parameterType="java.util.Map">
			    select hmd.group_id,
				       hmd.hos_id,
				       hmd.copy_code,
				       hmd.mate_code,
				       hmd.mate_name,
				       hmd.mate_type_code,
					   hmtd.mate_type_name,
				       hmd.mate_mode,
				       hmd.meas_code,
					   hu.unit_name meas_name,
				       hmd.price,
				       hmd.fac_no,
				       hmd.fac_id,
					   hfd.fac_code,
					   hfd.fac_name,
				       hmd.spell_code,
				       hmd.wbx_code,
				       hmd.is_stop
				  from htc_material_dict hmd
					left join htc_material_type_dict hmtd
					on hmd.group_id = hmtd.group_id
					and hmd.hos_id = hmtd.hos_id
					and hmd.copy_code = hmtd.copy_code
					and hmd.mate_type_code = hmtd.mate_type_code
					left join hos_unit hu
					on hu.group_id = hmd.group_id
					and hu.hos_id = hmd.hos_id
					and hu.unit_code = hmd.meas_code
					left join hos_fac_dict hfd
					on hfd.group_id = hmd.group_id
					and hfd.hos_id = hmd.hos_id
					and hfd.fac_no = hmd.fac_no
					and hfd.fac_id = hmd.fac_id
			 <where>
			        hmd.group_id = #{group_id}
				and hmd.hos_id = #{hos_id}
				and hmd.copy_code = #{copy_code}
			   <if test="inv_code !=null and inv_code != ''">
				and(
					   hmd.mate_code like '%${inv_code}%'
					or hmd.mate_name like '%${inv_code}%'
				)
			  </if>
			  <if test="mat_type_code !=null and mat_type_code != ''">
				and(
					   hmd.mate_type_code like '%${mat_type_code}%'
					or hmtd.mate_type_name like '%${mat_type_code}%'
				)
			  </if>
			  <if test="fac_code !=null and fac_code != ''">
				and(
					   hfd.fac_code like '%${fac_code}%'
					or hfd.fac_name like '%${fac_code}%'
				)
			  </if>
		    </where>
		  order by  hmd.group_id,hmd.hos_id,hmd.copy_code,hmd.mate_code
	</select>
</mapper>

