<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.info.HtcgDrugTypeDictMapper">

	<resultMap id="htcgDrugTypeDict" type="com.chd.hrp.htcg.entity.info.HtcgDrugTypeDict">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="copy_code" column="copy_code"/>
        <result property="drug_type_code" column="drug_type_code"/>
        <result property="drug_type_name" column="drug_type_name"/>
        <result property="spell_code" column="spell_code"/>
        <result property="wbx_code" column="wbx_code"/>
        <result property="is_stop" column="is_stop"/>
	</resultMap>
	
        <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="addHtcgDrugTypeDict" useGeneratedKeys="true" >
    
        insert into htcg_drug_type_dict (
            group_id ,
            hos_id ,
            copy_code ,
            drug_type_code ,
            drug_type_name ,
            spell_code ,
            wbx_code,
            is_stop
        ) values (
            #{group_id} ,
            #{hos_id} ,
            #{copy_code} ,
            #{drug_type_code} ,
            #{drug_type_name} ,
            #{spell_code} ,
            #{wbx_code} ,
            #{is_stop} 
        )
    
    </insert>
    
    <insert id="addBatchHtcgDrugTypeDict" parameterType="java.util.Map">
    
	        insert into htcg_drug_type_dict (
	            group_id ,
	            hos_id ,
	            copy_code ,
	            drug_type_code ,
	            drug_type_name ,
	            spell_code ,
	            wbx_code,
	            is_stop
	        )
		    <foreach collection="list" item="item" separator="union all">
		     select 
		            #{item.group_id} ,
		            #{item.hos_id} ,
		            #{item.copy_code} ,
		            #{item.drug_type_code} ,
		            #{item.drug_type_name} ,
		            #{item.spell_code} ,
		            #{item.wbx_code},
		            #{item.is_stop} 
		      from dual
    </foreach>
    </insert>

	<update id="updateHtcgDrugTypeDict" parameterType="java.util.Map">
    
        update htcg_drug_type_dict set
	        drug_type_code = #{drug_type_code}, 
	        drug_type_name = #{drug_type_name}, 
	        spell_code = #{spell_code}, 
	        wbx_code = #{wbx_code},
	        is_stop = #{is_stop}
        where group_id = #{group_id} 
	    and hos_id = #{hos_id}
	    and copy_code = #{copy_code}
	    and drug_type_code = #{drug_type_code} 
   
	</update>

    <delete id="deleteHtcgDrugTypeDict" parameterType="java.util.Map">
   
        delete from htcg_drug_type_dict
        where group_id = #{group_id}
        and hos_id = #{hos_id} 
        and copy_code = #{copy_code} 
        and drug_type_code = #{drug_type_code}
   
    </delete>

	<delete id="deleteBatchHtcgDrugTypeDict" parameterType="java.util.List">
		delete from htcg_drug_type_dict where 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			       group_id = #{item.group_id}
			  and hos_id = #{item.hos_id}
			  and copy_code= #{item.copy_code}
			  and drug_type_code= #{item.drug_type_code}
		</foreach> 
    </delete>

    <select id="queryHtcgDrugTypeDictByCode" parameterType="java.util.Map" resultMap="htcgDrugTypeDict" >
	  
        select 
            a.group_id,
            a.hos_id,
            a.copy_code,
            a.drug_type_code,
            a.drug_type_name,
            a.spell_code,
           	a.wbx_code,
           	a.is_stop
		from htcg_drug_type_dict a 
	        where a.group_id = #{group_id}
	        and a.hos_id = #{hos_id}
	        and a.copy_code = #{copy_code}
	        and a.drug_type_code = #{drug_type_code} 
        
	</select>
	<select id="queryHtcgDrugTypeDict" parameterType="java.util.Map" resultMap="htcgDrugTypeDict" >
      
        select 
            a.group_id,
            a.hos_id,
            a.copy_code,
            a.drug_type_code,
            a.drug_type_name,
            a.spell_code,
           	a.wbx_code,
           	a.is_stop
        from htcg_drug_type_dict a 
            <where>  a.group_id = #{group_id}
                 and a.hos_id = #{hos_id}
                 and a.copy_code = #{copy_code}
             <if test="drug_type_code != null and drug_type_code != ''">
                 and (a.drug_type_code like '%${drug_type_code}%'
                 or a.drug_type_name like '%${drug_type_code}%'
                 or a.spell_code like '%${drug_type_code}%'
                 or a.wbx_code like '%${drug_type_code}%'
                 )
            </if>
        </where>
       order by  a.group_id,a.hos_id,a.copy_code,a.drug_type_code
    </select>
	
</mapper>

