<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmFunTypeMapper">
	
	<resultMap id="prmFunType" type="com.chd.hrp.prm.entity.PrmFunType">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="type_code" column="type_code"/>
	<result property="type_name" column="type_name"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<insert id="addPrmFunType" useGeneratedKeys="true" >
	
		INSERT INTO PRM_FUN_TYPE (
		group_id
		,
		hos_id
		,
		copy_code
		,
		type_code
		,
		type_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{type_code}		,
#{type_name}		,
#{spell_code}		,
#{wbx_code}		,
#{is_stop}		
		)
	
	</insert>
	<insert id="addBatchPrmFunType" parameterType="java.util.List" >
	
		INSERT INTO PRM_FUN_TYPE (
		group_id
		,
		hos_id
		,
		copy_code
		,
		type_code
		,
		type_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) select PRM_FUN_TYPE_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.group_id}			,
#{item.hos_id}			,
#{item.copy_code}			,
#{item.type_code}			,
#{item.type_name}			,
#{item.spell_code}			,
#{item.wbx_code}			,
#{item.is_stop}			
		
		</foreach>
		)t
	</insert>
	
	<update id="updatePrmFunType" parameterType="java.util.Map">
	
		UPDATE prm_fun_type SET
		type_name = #{type_name}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_stop = #{is_stop}
		
		WHERE 
		group_id = #{group_id}
		 and 
		hos_id = #{hos_id}
		 and 
		copy_code = #{copy_code}
		 and 
		type_code = #{type_code}
		
	
	</update>
	<update id="updateBatchPrmFunType" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE prm_fun_type SET
			type_name = #{type_name}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_stop = #{is_stop}
			
			WHERE 
			group_id = #{item.group_id}
			 and 
			hos_id = #{item.hos_id}
			 and 
			copy_code = #{item.copy_code}
			 and 
			type_code = #{item.type_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmFunType" parameterType="java.util.Map">
	
		DELETE FROM prm_fun_type WHERE
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		type_code = #{type_code} 
	
	</delete>
	<delete id="deleteBatchPrmFunType" parameterType="java.util.List">
		DELETE FROM prm_fun_type WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id}
				 and 
				hos_id = #{item.hos_id}
				 and 
				copy_code = #{item.copy_code}
				 and 
				type_code = #{item.type_code}
				
			</foreach>
	
	</delete>
	<select id="queryPrmFunType" parameterType="java.util.Map" resultMap="prmFunType" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		type_code,
		type_name,
		spell_code,
		wbx_code,
		is_stop
		FROM PRM_FUN_TYPE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="type_code != null and type_code != ''">
		AND type_code = #{type_code}
		</if>
		<if test="type_name != null and type_name != ''">
		AND type_name = #{type_name}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryPrmFunTypeByCode" resultType="com.chd.hrp.prm.entity.PrmFunType" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		type_code,
		type_name,
		spell_code,
		wbx_code,
		is_stop
		FROM prm_fun_type 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		type_code = #{type_code} 
	
	</select>

</mapper>

