<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmHosFunStackMapper">
	
	<resultMap id="prmHosFunStack" type="com.chd.hrp.prm.entity.PrmHosFunStack">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="fun_para_code" column="fun_para_code"/>
	<result property="fun_para_value" column="fun_para_value"/>
	<result property="acc_year" column="acc_year"/>
	<result property="acc_month" column="acc_month"/>
	<result property="kpi_code" column="kpi_code"/>
	<result property="check_hos_id" column="check_hos_id"/>
	<result property="goal_code" column="goal_code"/>
	</resultMap>
	
	<insert id="addPrmHosFunStack" useGeneratedKeys="true" >
	
		INSERT INTO prm_hos_fun_stack (
		  group_id, 
		  hos_id, 
		  copy_code,
		  acc_year, 
		  acc_month,
		  kpi_code, 
		  check_hos_id, 
		  fun_para_code, 
		  fun_para_value,
		  goal_code
		) VALUES (
		#{group_id}, 
		#{hos_id}, 
		#{copy_code},
		#{acc_year}, 
		#{acc_month},
		#{kpi_code}, 
		#{check_hos_id}, 
		#{fun_para_code}, 
		#{fun_para_value},
		#{goal_code}
		)
	
	</insert>
	<insert id="addBatchPrmHosFunStack" parameterType="java.util.List" >
	
		INSERT INTO prm_hos_fun_stack (
		 group_id, 
		  hos_id, 
		  copy_code,
		  acc_year, 
		  acc_month,
		  kpi_code, 
		  check_hos_id, 
		  fun_para_code, 
		  fun_para_value,
		  goal_code
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union  " >
			select 		
		#{item.group_id}, 
		#{item.hos_id}, 
		#{item.copy_code},
		#{item.acc_year}, 
		#{item.acc_month},
		#{item.kpi_code}, 
		#{item.check_hos_id}, 
		#{item.fun_para_code}, 
		#{item.fun_para_value}		,
		#{item.goal_code}
		from dual
		</foreach>
		)t
	</insert>
	
	<update id="updatePrmHosFunStack" parameterType="java.util.Map">
	
		UPDATE prm_hos_fun_stack SET
		fun_para_code = #{fun_para_code}
		,
		fun_para_value = #{fun_para_value}
		
		WHERE 
		
		group_id = #{group_id} and 
		hos_id = #{hos_id} and 
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and 
		acc_month = #{acc_month} and
		goal_code = #{goal_code} and
		kpi_code = #{kpi_code} and 
		check_hos_id = #{check_hos_id} 
	</update>
	<update id="updateBatchPrmHosFunStack" parameterType="java.util.List">
	<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE prm_hos_fun_stack SET
		fun_para_code = #{item.fun_para_code}
		,
		fun_para_value = #{item.fun_para_value}
			
			WHERE 
			group_id = #{item.group_id} and 
			hos_id = #{item.hos_id} and 
			copy_code = #{item.copy_code} and
			acc_year = #{item.acc_year} and 
			acc_month = #{item.acc_month} and
			kpi_code = #{item.kpi_code} and 
			goal_code = #{item.goal_code} and 
			check_hos_id = #{item.check_hos_id} 
		</foreach>
	</update>
	
	<delete id="deletePrmHosFunStack" parameterType="java.util.Map">
	
		DELETE FROM prm_hos_fun_stack WHERE
		group_id = #{group_id} and 
		hos_id = #{hos_id} and 
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and 
		acc_month = #{acc_month} and
		kpi_code = #{kpi_code} and 
		goal_code = #{goal_code} and
		check_hos_id = #{check_hos_id}
	</delete>
	<delete id="deleteBatchPrmHosFunStack" parameterType="java.util.List">
		DELETE FROM prm_hos_fun_stack WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			  <if test="item.group_id != null and item.group_id != ''">
				group_id = #{item.group_id}
				</if>
				  <if test="item.hos_id != null and item.hos_id != ''">
				 and  hos_id = #{item.hos_id}
				 </if>
				   <if test="item.copy_code != null and item.copy_code != ''">
				 and copy_code = #{item.copy_code}
				 </if>
				   <if test="item.acc_year != null and item.acc_year != ''">
				 and acc_year = #{item.acc_year}
				 </if>
				   <if test="item.acc_month != null and item.acc_month != ''">
				 and acc_month = #{item.acc_month}
				 </if>
				   <if test="item.goal_code != null and item.goal_code != ''">
				 and goal_code = #{item.goal_code}
				 </if>
				   <if test="item.kpi_code != null and item.kpi_code != ''">
				 and kpi_code = #{item.kpi_code}
				 </if>
				   <if test="item.check_hos_id != null and item.check_hos_id != ''">
				 and check_hos_id = #{item.check_hos_id}
				</if>
			</foreach>
	
	</delete>
	
	
	<select id="queryPrmHosFunStack" parameterType="java.util.Map" resultMap="prmHosFunStack" >
	
		SELECT 
		  a.group_id, 
		  a.hos_id, 
		  a.copy_code,
		  a.acc_year, 
		  a.acc_month,
		  a.kpi_code, 
		  a.goal_code,
		  a.check_hos_id, 
		  a.fun_para_code, 
		  a.fun_para_value
		FROM prm_hos_fun_stack a
		
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code}
		</if>
		<if test="fun_para_code != null and fun_para_code != ''">
		AND a.fun_para_code = #{fun_para_code}
		</if>
		<if test="goal_code != null and goal_code != ''">
		AND a.goal_code = #{goal_code}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND a.acc_year = #{acc_year}
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND a.acc_month = #{acc_month}
		</if>
		<if test="kpi_code != null and kpi_code != ''">
		AND a.kpi_code = #{kpi_code}
		</if>
		<if test="check_hos_id != null and check_hos_id != ''">
		AND a.check_hos_id = #{check_hos_id}
		</if>
		</where>   
		order by a.group_id asc
	</select>
	<select id="queryPrmHosFunStackByCode" resultType="com.chd.hrp.prm.entity.PrmHosFunStack" parameterType="string" >
	SELECT 
		  a.group_id, 
		  a.hos_id, 
		  a.copy_code,
		  a.acc_year, 
		  a.acc_month,
		  a.kpi_code, 
		  a.goal_code,
		  a.check_hos_id, 
		  a.fun_para_code, 
		  a.fun_para_value
		FROM prm_hos_fun_stack a
		WHERE 
		a.group_id = #{group_id} and 
		a.hos_id = #{hos_id} and 
		a.copy_code = #{copy_code} and
		a.acc_year = #{acc_year} and 
		a.acc_month = #{acc_month} and
		a.kpi_code = #{kpi_code} and 
		a.goal_code = #{goal_code} and
		a.check_hos_id = #{check_hos_id} 
	</select>
</mapper>

