<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmHosKpiValueMapper">
	
	<resultMap id="prmHosKpiValue" type="com.chd.hrp.prm.entity.PrmHosKpiValue">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="acc_year" column="acc_year"/>
	<result property="acc_month" column="acc_month"/>
	<result property="goal_code" column="goal_code"/>
	<result property="kpi_code" column="kpi_code"/>
	<result property="check_hos_id" column="check_hos_id"/>
	<result property="kpi_value" column="kpi_value"/>
	<result property="is_audit" column="is_audit"/>
	<result property="user_code" column="user_code"/>
	<result property="audit_date" column="audit_date"/>
	</resultMap>
	
	<resultMap id="prmHosInfoDictMap" type="com.chd.hrp.sys.entity.HosDict">
        
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="hos_no" column="store_id"/>
        <result property="hos_code" column="hos_code"/>
        <result property="hos_name" column="hos_name"/>
        <result property="hos_simple" column="hos_simple"/>
        <result property="is_stop" column="is_stop"/>
      
	</resultMap>
	
	<insert id="addPrmHosKpiValue" useGeneratedKeys="true" >
	
		INSERT INTO PRM_HOS_KPI_VALUE (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		goal_code
		,
		kpi_code
		,
		check_hos_id
		,
		kpi_value
		,
		is_audit
		,
		user_code
		,
		audit_date
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{acc_year}		,
#{acc_month}		,
#{goal_code}		,
#{kpi_code}		,
#{check_hos_id}		,
#{kpi_value}		,
#{is_audit}		,
#{user_code}		,
#{audit_date}		
		)
	
	</insert>
	<insert id="addBatchPrmHosKpiValue" parameterType="java.util.List" >
	
		INSERT INTO PRM_HOS_KPI_VALUE (
			group_id
			,
			hos_id
			,
			copy_code
			,
			acc_year
			,
			acc_month
			,
			goal_code
			,
			kpi_code
			,
			check_hos_id
			,
			kpi_value
			,
			is_audit
			,
			user_code
			,
			audit_date
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			SELECT 		
				#{item.group_id}			,
				#{item.hos_id}			,
				#{item.copy_code}			,
				#{item.acc_year}			,
				#{item.acc_month}			,
				#{item.goal_code}			,
				#{item.kpi_code}			,
				#{item.check_hos_id}			,
				#{item.kpi_value}			,
				#{item.is_audit}			,
				#{item.user_code}			,
				#{item.audit_date}
			FROM DUAL			
		
		</foreach>
	</insert>
	
	<update id="updatePrmHosKpiValue" parameterType="java.util.Map">
	
		UPDATE prm_hos_kpi_value SET
		kpi_value = #{kpi_value}
		,
		is_audit = #{is_audit}
		,
		user_code = #{user_code}
		,
		audit_date = #{audit_date}
		
		WHERE 
		group_id = #{group_id}
		 and 
		hos_id = #{hos_id}
		 and 
		copy_code = #{copy_code}
		 and 
		acc_year = #{acc_year}
		 and 
		acc_month = #{acc_month}
		 and 
		goal_code = #{goal_code}
		 and 
		kpi_code = #{kpi_code}
		 and 
		check_hos_id = #{check_hos_id}
		
	
	</update>
	
	<update id="updateBatchPrmHosKpiValue" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE PRM_HOS_KPI_VALUE 
			SET kpi_value = #{item.kpi_value}
			where                     
				group_id = #{item.group_id}
				AND hos_id = #{item.hos_id}
				AND copy_code = #{item.copy_code}
				AND acc_year = #{item.acc_year}
				AND acc_month = #{item.acc_month}
				AND kpi_code = #{item.kpi_code}
				AND goal_code = #{item.goal_code}
				AND check_hos_id = #{item.check_hos_id}
		</foreach>
	</update>
	
	<delete id="deletePrmHosKpiValue" parameterType="java.util.Map">
	
		DELETE FROM prm_hos_kpi_value WHERE
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		acc_year = #{acc_year}   and 
		acc_month = #{acc_month}   and 
		goal_code = #{goal_code}   and 
		kpi_code = #{kpi_code}   and 
		check_hos_id = #{check_hos_id} 
	
	</delete>
	<delete id="deleteBatchPrmHosKpiValue" parameterType="java.util.List">
		DELETE FROM prm_hos_kpi_value WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id}
				 and 
				hos_id = #{item.hos_id}
				 and 
				copy_code = #{item.copy_code}
				 and 
				acc_year = #{item.acc_year}
				 and 
				acc_month = #{item.acc_month}
				 and 
				goal_code = #{item.goal_code}
				 and 
				kpi_code = #{item.kpi_code}
				 and 
				check_hos_id = #{item.check_hos_id}
				
			</foreach>
	
	</delete>
	<select id="queryPrmHosKpiValue" parameterType="java.util.Map" resultMap="prmHosKpiValue" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		goal_code,
		kpi_code,
		check_hos_id,
		kpi_value,
		is_audit,
		user_code,
		audit_date
		FROM PRM_HOS_KPI_VALUE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND acc_year = #{acc_year}
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND acc_month = #{acc_month}
		</if>
		<if test="goal_code != null and goal_code != ''">
		AND goal_code = #{goal_code}
		</if>
		<if test="kpi_code != null and kpi_code != ''">
		AND kpi_code = #{kpi_code}
		</if>
		<if test="check_hos_id != null and check_hos_id != ''">
		AND check_hos_id = #{check_hos_id}
		</if>
		<if test="kpi_value != null and kpi_value != ''">
		AND kpi_value = #{kpi_value}
		</if>
		<if test="is_audit != null and is_audit != ''">
		AND is_audit = #{is_audit}
		</if>
		<if test="user_code != null and user_code != ''">
		AND user_code = #{user_code}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND audit_date = #{audit_date}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	
	
	<select id="queryPrmHosKpiValueScheme" parameterType="java.util.Map" resultMap="prmHosKpiValue" >
	
		  SELECT PHKV.GROUP_ID,PHKV.HOS_ID,PHKV.COPY_CODE,PHKV.ACC_YEAR,PHKV.ACC_MONTH,
          PKK.KPI_CODE,PKK.KPI_NAME,PHKV.CHECK_HOS_ID,HID.HOS_NAME,PHKV.KPI_VALUE,
          PHKV.IS_AUDIT,SU.USER_CODE,SU.USER_NAME,PHKV.AUDIT_DATE,PHKV.Goal_Code
          FROM  PRM_HOS_KPI_VALUE PHKV
                LEFT JOIN PRM_HOS_SCHEME PHS ON PHKV.KPI_CODE = PHS.KPI_CODE
                LEFT JOIN PRM_HOS_KPI PKK ON PHS.KPI_CODE = PKK.KPI_CODE
                LEFT JOIN SYS_USER SU ON SU.USER_CODE = PHKV.USER_CODE
                LEFT JOIN HOS_INFO_DICT HID ON HID.HOS_ID = PHKV.CHECK_HOS_ID
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND PHKV.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND PHKV.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND PHKV.copy_code = #{copy_code}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND PHKV.acc_year = #{acc_year}
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND PHKV.acc_month = #{acc_month}
		</if>
		<if test="goal_code != null and goal_code != ''">
		AND PHKV.goal_code = #{goal_code}
		</if>
		<if test="kpi_code != null and kpi_code != ''">
		AND PKK.kpi_code = #{kpi_code}
		</if>
		<if test="check_hos_id != null and check_hos_id != ''">
		AND PHKV.check_hos_id = #{check_hos_id}
		</if>
		<if test="kpi_value != null and kpi_value != ''">
		AND PHKV.kpi_value = #{kpi_value}
		</if>
		<if test="is_audit != null and is_audit != ''">
		AND PHKV.is_audit = #{is_audit}
		</if>
		<if test="user_code != null and user_code != ''">
		AND PHKV.user_code = #{user_code}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND PHKV.audit_date = #{audit_date}
		</if>
		</where>   
		 AND PHS.METHOD_CODE IN ('01') 
		 
		order by PHKV.group_id asc
	</select>
	
	
	<select id="queryPrmHosKpiValueByCode" resultType="com.chd.hrp.prm.entity.PrmHosKpiValue" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		goal_code,
		kpi_code,
		check_hos_id,
		kpi_value,
		is_audit,
		user_code,
		audit_date
		FROM prm_hos_kpi_value 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		acc_year = #{acc_year}   and 
		acc_month = #{acc_month}   and 
		goal_code = #{goal_code}   and 
		kpi_code = #{kpi_code}   and 
		check_hos_id = #{check_hos_id} 
	
	</select>
    
    
        <update id="auditPrmHosKpiValue" parameterType="java.util.Map">
      
            UPDATE prm_hos_kpi_value SET
	        is_audit = #{is_audit},
	        user_code = #{user_code},
	        audit_date = #{audit_date} 
            WHERE 
	        group_id = #{group_id}   and 
		    hos_id = #{hos_id}   and 
		    copy_code = #{copy_code}   and 
		    acc_year = #{acc_year}   and 
		    acc_month = #{acc_month}   and 
		    goal_code = #{goal_code}   and 
		    kpi_code = #{kpi_code}   and 
		    check_hos_id = #{check_hos_id} 
 
      </update>
      
      
      
	<delete id="cleanPrmHosKpiValue" parameterType="java.util.Map">
	
		DELETE FROM prm_hos_kpi_value WHERE
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		acc_year = #{acc_year}   and 
		acc_month = #{acc_month}   and 
		kpi_code in 
        (
          select kpi_code from 
          PRM_HOS_SCHEME
           where
           group_id = #{group_id}   and 
	      hos_id = #{hos_id}   and 
		  copy_code = #{copy_code}   and 
		  acc_year = #{acc_year}   and 
		  acc_month = #{acc_month} 
          and group_id = prm_hos_kpi_value.group_id
          and hos_id = prm_hos_kpi_value.hos_id
          and copy_code = prm_hos_kpi_value.copy_code
          and check_hos_id = prm_hos_kpi_value.check_hos_id
          and goal_code = prm_hos_kpi_value.goal_code
          and acc_month = prm_hos_kpi_value.acc_month
          and acc_year = prm_hos_kpi_value.acc_year
          and method_code = '01'
         )
	
	</delete>
    
    <!-- 根据当前集团查询医院 -->
	<select id="queryHosInfoByGroupId" parameterType="java.util.Map" resultMap="prmHosInfoDictMap">
		SELECT 
			group_id, 
			hos_no, 
			hos_id, 
			hos_code, 
			hos_name, 
			hos_simple, 
			is_stop 
		FROM hos_info_dict 
		WHERE 
			is_stop = 0 
			AND group_id = #{group_id}
	</select>  
</mapper>

