<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmKpiNatureMapper">
	
	<resultMap id="prmKpiNature" type="com.chd.hrp.prm.entity.PrmKpiNature">
	<result property="nature_code" column="nature_code"/>
	<result property="nature_name" column="nature_name"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<insert id="addPrmKpiNature" useGeneratedKeys="true" >
	
		INSERT INTO PRM_KPI_NATURE (
		nature_code
		,
		nature_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) VALUES (
#{nature_code}		,
#{nature_name}		,
#{spell_code}		,
#{wbx_code}		,
#{is_stop}		
		)
	
	</insert>
	<insert id="addBatchPrmKpiNature" parameterType="java.util.List" >
	
		INSERT INTO PRM_KPI_NATURE (
		nature_code
		,
		nature_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) select PRM_KPI_NATURE_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.nature_code}			,
#{item.nature_name}			,
#{item.spell_code}			,
#{item.wbx_code}			,
#{item.is_stop}			
		
		</foreach>
		)t
	</insert>
	
	<update id="updatePrmKpiNature" parameterType="java.util.Map">
	
		UPDATE prm_kpi_nature SET
		nature_name = #{nature_name}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_stop = #{is_stop}
		
		WHERE 
		nature_code = #{nature_code}
		
	
	</update>
	<update id="updateBatchPrmKpiNature" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE prm_kpi_nature SET
			nature_name = #{nature_name}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_stop = #{is_stop}
			
			WHERE 
			nature_code = #{item.nature_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmKpiNature" parameterType="java.util.Map">
	
		DELETE FROM prm_kpi_nature WHERE
		nature_code = #{nature_code} 
	
	</delete>
	<delete id="deleteBatchPrmKpiNature" parameterType="java.util.List">
		DELETE FROM prm_kpi_nature WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				nature_code = #{item.nature_code}
				
			</foreach>
	
	</delete>
	<select id="queryPrmKpiNature" parameterType="java.util.Map" resultMap="prmKpiNature" >
	
		SELECT 
		nature_code,
		nature_name,
		spell_code,
		wbx_code,
		is_stop
		FROM PRM_KPI_NATURE 
		<where>                     
		<if test="nature_code != null and nature_code != ''">
		AND nature_code = #{nature_code}
		</if>
		<if test="nature_name != null and nature_name != ''">
		AND nature_name = #{nature_name}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		</where>   
		order by nature_code asc
	</select>
	<select id="queryPrmKpiNatureByCode" resultType="com.chd.hrp.prm.entity.PrmKpiNature" parameterType="string" >
	
		SELECT 
		nature_code,
		nature_name,
		spell_code,
		wbx_code,
		is_stop
		FROM prm_kpi_nature 
		WHERE 
		nature_code = #{nature_code} 
	
	</select>

</mapper>

