<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.attendancemanagement.attend.HrAttendItemMapper">
 	<resultMap id="hosSelectMap" type="java.util.Map">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
	 
	<resultMap type="java.util.Map" id="CommuteProject">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attend_code" column="attend_code" />
		<result property="attend_name" column="attend_name" />
		<result property="attend_shortname" column="attend_shortname" />
		<result property="attend_types" column="attend_types" />
		<result property="colour" column="colour" />
		<result property="attend_type_name" column="attend_type_name" />
		<result property="is_default" column="is_default" />
		<result property="attend_ed_type" column="attend_ed_type" />
		<result property="attend_code_fz" column="attend_code_fz" />
		<result property="attend_name_fz" column="attend_name_fz" />
		<result property="ed_type_name" column="ed_type_name" />
		<result property="attend_ed_jsgs" column="attend_ed_jsgs" />
		<result property="attend_result_is" column="attend_result_is" />
		<result property="attend_result_name" column="attend_result_name" />
		<result property="day_num" column="day_num" />
		
		
		<result property="attend_item" column="attend_item" />
		<result property="is_jx" column="is_jx" />
		<result property="is_calculate" column="is_calculate" />
		<result property="attend_ed_is" column="attend_ed_is" />
		<result property="control_type" column="control_type" />
		<result property="max_ed" column="max_ed" />
		<result property="is_stop" column="is_stop" />
		<result property="note" column="note" />
		<result property="spell" column="spell" />
		
	</resultMap>
	
	<resultMap type="com.chd.hrp.hr.entity.attendancemanagement.attend.HrAttendItem" id="competency">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attend_code" column="attend_code" />
		<result property="attend_name" column="attend_name" />
		<result property="attend_shortname" column="attend_shortname" />
		<result property="attend_types" column="attend_types" />
		<result property="colour" column="colour" />
		<result property="attend_type_name" column="attend_type_name" />
		<result property="attend_ed_type" column="attend_ed_type" />
		<result property="attend_code_fz" column="attend_code_fz" />
		<result property="attend_name_fz" column="attend_name_fz" />
		<result property="ed_type_name" column="ed_type_name" />
		<result property="attend_ed_jsgs" column="attend_ed_jsgs" />
		<result property="attend_result_is" column="attend_result_is" />
		<result property="attend_result_name" column="attend_result_name" />
		<result property="day_num" column="day_num" />
		<result property="attend_item" column="attend_item" />
		<result property="is_default" column="is_default" />
		<result property="is_jx" column="is_jx" />
		<result property="is_calculate" column="is_calculate" />
		<result property="attend_ed_is" column="attend_ed_is" />
		<result property="control_type" column="control_type" />
		<result property="max_ed" column="max_ed" />
		<result property="is_stop" column="is_stop" />
		<result property="note" column="note" />
		<result property="spell" column="spell" />
	</resultMap>
	
	<resultMap type="java.util.Map" id="attendResultMap">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attend_item" column="attend_item" />
	</resultMap>
	
	<!-- 添加 -->
	<insert id="addAttendItem" useGeneratedKeys="true">
		INSERT INTO HR_ATTEND_ITEM (
			group_id,
			hos_id,
			attend_code,
			attend_name,
			attend_shortname,
			attend_types
			<if test="attend_item != null">
				,attend_item
			</if>
			<if test="attend_ed_is != null">
				,attend_ed_is
			</if>
			<if test="control_type != null">
				,control_type
			</if>
			<if test="max_ed != null">
				,max_ed
			</if>
			<if test="is_jx != null">
				,is_jx
			</if>
			<if test="is_calculate != null">
				,is_calculate
			</if>
			<if test="spell != null">
				,spell
			</if>
			<if test="is_stop != null">
				,is_stop
			</if>
			<if test="is_stop != null">
				,is_default
			</if>
			
			<if test="note != null">
				,note
			</if>
		) VALUES (
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{attend_code,jdbcType=VARCHAR},
			#{attend_name,jdbcType=VARCHAR},
			#{attend_shortname,jdbcType=VARCHAR},
			#{attend_types,jdbcType=VARCHAR}
			<if test="attend_item != null">
				,#{attend_item,jdbcType=VARCHAR}
			</if>
			<if test="attend_ed_is != null">
				,#{attend_ed_is,jdbcType=INTEGER}
			</if>
			<if test="control_type != null">
				,#{control_type,jdbcType=INTEGER}
			</if>
			<if test="max_ed != null">
				,#{max_ed,jdbcType=INTEGER}
			</if>
			<if test="is_jx != null">
				,#{is_jx,jdbcType=INTEGER}
			</if>
			<if test="is_calculate != null">
				,#{is_calculate,jdbcType=INTEGER}
			</if>
			<if test="spell != null">
				,#{spell,jdbcType=VARCHAR}
			</if>
			<if test="is_stop != null">
				,#{is_stop,jdbcType=INTEGER}
			</if>
			<if test="is_default != null">
				,#{is_default,jdbcType=INTEGER}
			</if>
			
			<if test="note != null">
				,#{note,jdbcType=VARCHAR}
			</if>
		)
	</insert>
	
	<!-- 批量增加 -->
	<insert id="addBatch" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO HR_ATTEND_ITEM (
				group_id,
				hos_id,
				attend_code,
				attend_name,
				attend_shortname,
				attend_types
				<if test="item.attend_item != null">
					,attend_item
				</if>
				<if test="item.attend_ed_is != null">
					,attend_ed_is
				</if>
				<if test="item.control_type != null">
					,control_type
				</if>
				<if test="item.max_ed != null">
					,max_ed
				</if>
				<if test="item.is_jx != null">
					,is_jx
				</if>
				<if test="item.is_calculate != null">
					,is_calculate
				</if>
				<if test="item.spell != null">
					,spell
				</if>
				<if test="item.is_stop != null">
					,is_stop
				</if>
				<if test="item.is_default != null">
					,is_default
				</if>
				
				<if test="item.note != null">
					,note
				</if>
			) VALUES (
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				#{item.attend_code,jdbcType=VARCHAR},
				#{item.attend_name,jdbcType=VARCHAR},
				#{item.attend_shortname,jdbcType=VARCHAR},
				#{item.attend_types,jdbcType=VARCHAR}
				<if test="item.attend_item != null">
					,#{item.attend_item,jdbcType=VARCHAR}
				</if>
				<if test="item.attend_ed_is != null">
					,#{item.attend_ed_is,jdbcType=INTEGER}
				</if>
				<if test="item.control_type != null">
					,#{item.control_type,jdbcType=INTEGER}
				</if>
				<if test="item.max_ed != null">
					,#{item.max_ed,jdbcType=INTEGER}
				</if>
				<if test="item.is_jx != null">
					,#{item.is_jx,jdbcType=INTEGER}
				</if>
				<if test="item.is_calculate != null">
					,#{item.is_calculate,jdbcType=INTEGER}
				</if>
				<if test="item.spell != null">
					,#{item.spell,jdbcType=VARCHAR}
				</if>
				<if test="item.is_stop != null">
					,#{item.is_stop,jdbcType=INTEGER}
				</if>
				<if test="item.is_default != null">
					,#{item.is_default,jdbcType=INTEGER}
				</if>
				
				<if test="item.note != null">
					,#{item.note,jdbcType=VARCHAR}
				</if>
			)
		</foreach>
	</insert>
	
	<update id="updateAttendItem" parameterType="java.util.Map">
			update HR_ATTEND_ITEM set 
				attend_name = #{attend_name,jdbcType=VARCHAR},
				attend_types = #{attend_types,jdbcType=VARCHAR},
				attend_shortname = #{attend_shortname,jdbcType=VARCHAR}
				<if test="attend_item != null">
					,attend_item = #{attend_item,jdbcType=VARCHAR}
				</if>
				<if test="attend_ed_is != null">
					,attend_ed_is = #{attend_ed_is,jdbcType=INTEGER}
				</if>
				<if test="control_type != null">
					,control_type = #{control_type,jdbcType=INTEGER}
				</if>
				<if test="max_ed != null">
					,max_ed = #{max_ed,jdbcType=INTEGER}
				</if>
				<if test="is_jx != null">
					,is_jx = #{is_jx,jdbcType=INTEGER}
				</if>
				<if test="is_calculate != null">
					,is_calculate = #{is_calculate,jdbcType=INTEGER}
				</if>
				<if test="spell != null">
					,spell = #{spell,jdbcType=VARCHAR}
				</if>
				<if test="is_stop != null">
					,is_stop = #{is_stop,jdbcType=INTEGER}
				</if>
				<if test="is_default != null">
					,is_default = #{is_default,jdbcType=INTEGER}
				</if>
				
				<if test="note != null">
					,note = #{note,jdbcType=VARCHAR}
				</if>
		<where>
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND attend_code =#{attend_code,jdbcType=VARCHAR}
		</where>
	</update>
	
	<!--查询所有 -->
	<select id="query" parameterType="java.util.Map" resultMap="CommuteProject">
		select ha.group_id, ha.hos_id, ha.attend_code,ha.attend_name, ha.attend_shortname,ha.attend_types,
			  da.type_name as attend_type_name,ha.attend_ed_is,ha.control_type,ha.max_ed,ha.is_jx,
			  ha.IS_CALCULATE,ha.attend_item,ha.spell,ha.is_stop,ha.is_default,ha.note
		from HR_ATTEND_ITEM ha
		left join dic_attend_type  da on ha.attend_types=da.type_code 
		<where>
				ha.group_id = #{group_id}
				AND ha.hos_id = #{hos_id}
			<if test="attend_code != null and attend_code != '' and attend_code != '%%'">
				and ha.attend_code like '%${attend_code}%'
			</if>
			<if test="attend_name != null and attend_name != '' and attend_name != '%%'">
				and ha.attend_name like '%${attend_name}%'
			</if>
			<if test="attend_codes != null and attend_codes != '' ">
				and ha.attend_code =  #{attend_codes}
			</if>
			<if test="attend_types != null and attend_types != '' ">
				and ha.attend_types = #{attend_types}
			</if>
			<if test="attend_ed_is != null and attend_ed_is != '' ">
				and ha.attend_ed_is = #{attend_ed_is}
			</if>
		</where>
		order by ha.attend_code asc
	</select>
	
   <select id="queryByCode" resultMap="competency" parameterType="java.util.Map">
		select ha.group_id, ha.hos_id, ha.attend_code,ha.attend_name, ha.attend_shortname,ha.attend_types,
			  da.type_name as attend_type_name,ha.attend_ed_is,ha.control_type,ha.max_ed,ha.is_jx,
			  ha.IS_CALCULATE,ha.attend_item,ha.spell,ha.is_stop,ha.is_default,ha.note
		from HR_ATTEND_ITEM ha
  		left join dic_attend_type  da on ha.attend_types=da.type_code
		where  ha.group_id = #{group_id}
			AND ha.hos_id = #{hos_id}
			and ha.attend_code = #{attend_code}
			<if test="attend_name != null and attend_name != '' and attend_name != '%%'">
				or ha.attend_name  = #{attend_name}
			</if>
	</select>

  	<select id="queryByCodeItem" resultMap="competency" parameterType="java.util.Map">
		select ha.group_id, ha.hos_id, ha.attend_code,ha.attend_name, ha.attend_shortname,ha.attend_types,
			  da.type_name as attend_type_name,ha.attend_ed_is,ha.control_type,ha.max_ed,ha.is_jx,
			  ha.IS_CALCULATE,ha.attend_item,ha.spell,ha.is_stop,ha.is_default,ha.note
		from HR_ATTEND_ITEM ha
  		left join dic_attend_type da on ha.attend_types=da.type_code
		where  ha.group_id = #{group_id}
			AND ha.hos_id = #{hos_id}
			and (ha.attend_code = #{attend_code,jdbcType=VARCHAR} or attend_name=#{attend_name,jdbcType=VARCHAR} or attend_shortname=#{attend_shortname,jdbcType=VARCHAR})
	</select>
	
	  	<select id="queryByCodeItemName" resultMap="competency" parameterType="java.util.Map">
		select ha.group_id, ha.hos_id, ha.attend_code,ha.attend_name, ha.attend_shortname,ha.attend_types,
			  da.type_name as attend_type_name,ha.attend_ed_is,ha.control_type,ha.max_ed,ha.is_jx,
			  ha.IS_CALCULATE,ha.attend_item,ha.spell,ha.is_stop,ha.is_default,ha.note
		from HR_ATTEND_ITEM ha
  		left join dic_attend_type da on ha.attend_types=da.type_code
		where  ha.group_id = #{group_id}
			AND ha.hos_id = #{hos_id}
			and ha.attend_code != #{attend_code,jdbcType=VARCHAR}  and ( attend_name=#{attend_name,jdbcType=VARCHAR} or attend_shortname=#{attend_shortname,jdbcType=VARCHAR})
	</select>
	<!-- 打印 -->
	<select id="queryAttendItemByPrint" parameterType="java.util.Map" resultMap="CommuteProject">
		select ha.group_id, ha.hos_id, ha.attend_code,ha.attend_name, ha.attend_shortname,ha.attend_types,
			  da.type_name as attend_type_name,ha.max_ed,ha.attend_item,ha.spell,ha.note,
			  case when ha.attend_ed_is= 1 then '是' when ha.attend_ed_is= 0 then '否'else '' end as attend_ed_is,
			  case when ha.control_type= 1 then '个人' when ha.control_type= 0 then '全院' else '' end as control_type,
			  case when ha.is_jx= 1 then '是' when ha.is_jx= 0 then '否'else '' end as is_jx,
			  case when ha.IS_CALCULATE= 1 then '是' when ha.IS_CALCULATE= 0 then '否'else '' end as IS_CALCULATE,
			  case when ha.is_stop= 1 then '是' when ha.is_stop= 0 then '否'else '' end as is_stop 
			   case when ha.is_default= 1 then '是' when ha.is_default= 0 then '否'else '' end as is_default  
		from hr_attend_item ha 
		left join dic_attend_type da on ha.attend_types=da.type_code
		<where>
				ha.group_id = #{group_id}
			AND ha.hos_id = #{hos_id}
			<if test="attend_codes != null and attend_codes != '' and attend_codes != '%%'">
				and ha.attend_code like '%${attend_codes}%'
			</if>
			<if test="attend_name != null and attend_name != '' and attend_name != '%%'">
				and ha.attend_name like '%${attend_name}%'
			</if>
			<if test="attend_types != null and attend_types != '' ">
				and ha.attend_types = #{attend_types}
			</if>
			<if test="attend_ed_is != null and attend_ed_is != '' ">
				and ha.attend_ed_is = #{attend_ed_is}
			</if>
		</where>
		order by ha.attend_code asc
	</select>
	
	<delete id="delete" parameterType="java.util.Map">
		delete from HR_ATTEND_ITEM
		where group_id = #{group_id}
	    	and hos_id = #{hos_id}
	        and attend_code in (${attend_codes})
	</delete>
  	
  	<delete id="deleteAttendItem" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
	       	DELETE FROM HR_ATTEND_ITEM
			WHERE   
			 	group_id = #{item.group_id}
	            and hos_id = #{item.hos_id}
	            and attend_code = #{item.attend_code}
		</foreach>
    </delete>

	<!--单位信息-->
	<select id="queryHosName" resultMap="hosSelectMap" parameterType="java.util.Map">
		select hi.hos_id id, hi.hos_id ||' '||hi.hos_name text
		from HOS_INFO hi
		left join HR_ATTEND_ITEM hp on hi.hos_id=hp.hos_id
	</select>

	<select id="queryAttendResult" resultMap="attendResultMap" parameterType="java.util.Map">
		select ha.attend_item FROM HR_ATTEND_ITEM ha
		WHERE ha.group_id = #{group_id}
			and ha.hos_id = #{hos_id}
			and ha.attend_item != 'null'
		order by ha.attend_item
	</select>
	
	<select id="queryByCodeItemFz" parameterType="java.util.Map" resultType="string">
		select ha.ATTEND_RESULT_IS_FZ FROM HR_ATTEND_ITEM_FZ ha
		WHERE ha.group_id = #{group_id}
			and ha.hos_id = #{hos_id}
			and ha.attend_code_fz=#{attend_code_fz}
	</select>
	
	<!--积休项目-->
	<select id="queryAttendItemIsJx" parameterType="java.util.Map" resultType="Integer">
		select count(*)
		from hr_attend_item
		where group_id = #{group_id,jdbcType=INTEGER}
			and hos_id = #{hos_id,jdbcType=INTEGER}
			and is_jx = 1
			and attend_code != #{attend_code}
	</select>
	
		<select id="queryAttendItemIsDefault" parameterType="java.util.Map" resultType="Integer">
		select count(*)
		from hr_attend_item
		where group_id = #{group_id,jdbcType=INTEGER}
			and hos_id = #{hos_id,jdbcType=INTEGER}
			and is_default = 1
			and attend_code != #{attend_code}
	</select>
</mapper>