<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.attendancemanagement.attend.HrAttendItemFzMapper">
 <resultMap id="hosselect" type="java.util.Map">
		<result property="id" column="id" />
		<result property="text" column="text" />
	 </resultMap>
	<resultMap type="java.util.Map" id="CommuteProject">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attend_code_fz" column="attend_code_fz" />
		<result property="attend_name_fz" column="attend_name_fz" />
		<result property="attend_result_is_fz" column="attend_result_is_fz" />
		<result property="attend_result_is_fzname" column="attend_result_is_fzname" />
	</resultMap>
		<resultMap type="com.chd.hrp.hr.entity.attendancemanagement.attend.HrAttendItemFz" id="attenditemfz">
			<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attend_code_fz" column="attend_code_fz" />
		<result property="attend_name_fz" column="attend_name_fz" />
		<result property="attend_result_is_fz" column="attend_result_is_fz" />
		<result property="attend_result_is_fzname" column="attend_result_is_fzname" />
	</resultMap>
	<resultMap type="java.util.Map" id="attendResultMap">
	<result property="group_id" column="group_id" />
	<result property="hos_id" column="hos_id" />
	<result property="attend_item" column="attend_item" />
	</resultMap>
	
	<insert id="addAttendItemFz" useGeneratedKeys="true">
		INSERT INTO HR_ATTEND_ITEM_FZ (
		<trim suffix="" suffixOverrides=",">
			group_id,
			hos_id,
			attend_code_fz,
			attend_name_fz,
			attend_result_is_fz,
			
	
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{attend_code_fz,jdbcType=VARCHAR},
			#{attend_name_fz,jdbcType=VARCHAR},
			#{attend_result_is_fz,jdbcType=INTEGER},
		
		</trim>
		)
	</insert>
	<update id="updateAttendItemFz" parameterType="java.util.Map">
		update HR_ATTEND_ITEM_FZ

		<trim prefix="SET" suffixOverrides=",">
		
			attend_name_fz = #{attend_name_fz,jdbcType=VARCHAR},
			attend_result_is_fz = #{attend_result_is_fz,jdbcType=INTEGER},
			
		</trim>
		<where>
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id =
			#{hos_id,jdbcType=INTEGER}
			AND attend_code_fz =#{attend_code_fz,jdbcType=VARCHAR}

		</where></update>
	
	<!--查询所有 -->
		<select id="query" parameterType="java.util.Map" resultMap="CommuteProject">
	
		select ha.group_id, ha.hos_id, ha.attend_code_fz, ha.attend_name_fz,
		ha.attend_result_is_fz,case when ha.attend_result_is_fz= 1 then '是' when
	ha.attend_result_is_fz= 0 then '否'else '' end as attend_result_is_fzname
from HR_ATTEND_ITEM_FZ ha
 
		<where>
				ha.group_id = #{group_id}
				AND ha.hos_id = #{hos_id}
			<if
				test="attend_code_fz != null and attend_code_fz != '' and attend_code_fz != '%%'">
				and ha.attend_code_fz like '%${attend_code_fz}%'
			</if>
			<if
				test="attend_name_fz != null and attend_name_fz != '' and attend_name_fz != '%%'">
				and ha.attend_name_fz like '%${attend_name_fz}%'
			</if>
			
		</where>
		order by attend_code_fz asc
	</select>
	
   <select id="queryByCode" resultMap="attenditemfz" parameterType="java.util.Map">
	
		select ha.group_id, ha.hos_id, ha.attend_code_fz,ha.attend_result_is_fz, ha.attend_name_fz
from HR_ATTEND_ITEM_FZ ha

  
	
				where  ha.group_id = #{group_id}
			
				AND ha.hos_id = #{hos_id}
			
			
				and ha.attend_code_fz = #{attend_code_fz}
			 	<if
				test="attend_name_fz != null and attend_name_fz != '' and attend_name_fz != '%%'">
				or ha.attend_name_fz  = #{attend_name_fz}
			</if>
			<!--	<if
				test="attend_types != null and attend_types != '' and attend_types != '%%'">
				and ha.attend_types  = #{attend_types}
			</if>
			 -->
		
		</select>

  <select id="queryByCodeItem" resultMap="attenditemfz" parameterType="java.util.Map">
	
		select ha.group_id, ha.hos_id, ha.attend_code_fz,ha.attend_name_fz,ha.attend_result_is_fz
from HR_ATTEND_ITEM_FZ ha


	
				where  ha.group_id = #{group_id}
			
				AND ha.hos_id = #{hos_id}
			
			
				and (ha.attend_code_fz = #{attend_code_fz,jdbcType=VARCHAR} or attend_name_fz=#{attend_name_fz,jdbcType=VARCHAR})
				
				</select>
  	<delete id="deleteAttendItemFz" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
	       	DELETE FROM HR_ATTEND_ITEM_FZ
			WHERE   
			 	group_id = #{item.group_id}
	            and hos_id = #{item.hos_id}
	            and attend_code_fz = #{item.attend_code_fz}
		</foreach>
    </delete>

	
</mapper>