<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipInitViewMapper">

	<resultMap id="hipInitView" type="com.chd.hrp.hip.entity.HipInitView">
		<result property="mod_code" column="mod_code" />
		<result property="hip_view_code" column="hip_view_code" />
		<result property="hip_view_name" column="hip_view_name" />
		<result property="ref_tab_name" column="ref_tab_name" />
		<result property="view_level" column="view_level" />
		
		<result property="mod_name" column="mod_name" />
	</resultMap>


	<insert id="addHipInitView">

insert into hip_init_view
  (mod_code, hip_view_code, hip_view_name, ref_tab_name, view_level)
values(
			#{mod_code,jdbcType=VARCHAR},
			#{hip_view_code,jdbcType=VARCHAR},
			#{hip_view_name,jdbcType=VARCHAR},
			#{ref_tab_name,jdbcType=VARCHAR},
			#{view_level,jdbcType=INTEGER}
			)
	</insert>

	
	<delete id="deleteHipInitView">
		
		delete hip_init_view
		
 		where 
 		
 		mod_code =  #{mod_code,jdbcType=VARCHAR} 
 		
   		and hip_view_code = #{hip_view_code,jdbcType=VARCHAR}

	</delete>
	
	<delete id="updateHipInitView">
		
		update hip_init_view set 
		
		hip_view_name = #{hip_view_name,jdbcType=VARCHAR},
		
		ref_tab_name = #{ref_tab_name,jdbcType=VARCHAR},
		
		view_level = #{view_level,jdbcType=INTEGER}
       
 		where
 		
 		mod_code =  #{mod_code,jdbcType=VARCHAR} 
 		
   		and hip_view_code = #{hip_view_code,jdbcType=VARCHAR}

	</delete>
	
	<select id="queryHipInitViewByCode" parameterType="java.util.Map" resultMap="hipInitView">

select hiv.mod_code, hiv.hip_view_code, hiv.hip_view_name, hiv.ref_tab_name, hiv.view_level,sm.mod_name from hip_init_view hiv

left join sys_mod sm on  hiv.mod_code= sm.mod_code


		where 
		
		hiv.mod_code = #{mod_code} and hiv.hip_view_code = #{hip_view_code} 
	
		order by hiv.hip_view_code
	</select>
	
	<select id="queryHipInitView" parameterType="java.util.Map" resultMap="hipInitView">

select hiv.mod_code, hiv.hip_view_code, hiv.hip_view_name, hiv.ref_tab_name, hiv.view_level,sm.mod_name from hip_init_view hiv

left join sys_mod sm on  hiv.mod_code= sm.mod_code

		<where>
		<if test="mod_code != null and mod_code != ''">
		
				and hiv.mod_code = #{mod_code}
				
		</if>
		<if test="hip_view_code != null and hip_view_code != ''">
		
				and hiv.hip_view_code = #{hip_view_code}
				
		</if>
		</where>

		order by hiv.hip_view_code
	</select>


</mapper>

