<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipPatientTypeRefMapper">

	<resultMap id="hipPatientTypeRef" type="com.chd.hrp.hip.entity.HipPatientTypeRef">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="ds_code" column="ds_code" />
		<result property="hip_patient_type_code" column="hip_patient_type_code" />
		<result property="hrp_patient_type_code" column="hrp_patient_type_code" />
		
		<result property="hip_patient_type_name" column="hip_patient_type_name" />
		<result property="hrp_patient_type_name" column="hrp_patient_type_name" />
		<result property="ds_name" column="ds_name" />
		
	</resultMap>


	<insert id="addHipPatientTypeRef">

insert into hip_patient_type_ref
  (group_id, hos_id, ds_code, hip_patient_type_code, hrp_patient_type_code)
values(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{ds_code,jdbcType=VARCHAR},
			#{hip_patient_type_code,jdbcType=VARCHAR},
			#{hrp_patient_type_code,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteHipPatientTypeRef">
		
		delete hip_patient_type_ref
		
 		<where> 
 		
	 		group_id = #{group_id} and hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
					and ds_code = #{ds_code}
			</if>
			<if test="hip_patient_type_code != null and hip_patient_type_code != ''">
					and hip_patient_type_code = #{hip_patient_type_code}
			</if>
			<if test="hrp_patient_type_code != null and hrp_patient_type_code != ''">
					and hrp_patient_type_code = #{hrp_patient_type_code}
			</if>
 		
 		</where>

	</delete>
	
	<delete id="deleteBatchHipPatientTypeRef" parameterType="java.util.List">
	
		delete FROM hip_patient_type_ref WHERE
		
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			
				group_id = #{item.group_id}
				
				and hos_id = #{item.hos_id}
				
				and ds_code = #{item.ds_code}
				
				and hip_patient_type_code = #{item.hip_patient_type_code}
				
				and hrp_patient_type_code = #{item.hrp_patient_type_code}
				 
			</foreach>
	
	</delete>
	
	<select id="queryHipPatientTypeRefByCode" parameterType="java.util.Map" resultMap="hipPatientTypeRef">


select hdr.group_id, hdr.hos_id, hdr.ds_code, hdr.hip_patient_type_code, hdr.hrp_patient_type_code,hdc.ds_name,hip.patient_type_name as hip_patient_type_name, hrp.patient_name as hrp_patient_type_name from hip_patient_type_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code
left join hip_patient_type_dict hip on  hdr.hip_patient_type_code = hip.patient_type_code and hdr.group_id = hip.group_id and hdr.hos_id=hip.hos_id
left join hos_patient_type hrp on hdr.hrp_patient_type_code = hrp.patient_code and hdr.group_id = hrp.group_id and hdr.hos_id=hrp.hos_id

		<where> 
 		
	 		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
					and hdr.ds_code = #{ds_code}
			</if>
			<if test="hip_patient_type_code != null and hip_patient_type_code != ''">
					and hdr.hip_patient_type_code = #{hip_patient_type_code}
			</if>
			<if test="hrp_patient_type_code != null and hrp_patient_type_code != ''">
					and hdr.hrp_patient_type_code = #{hrp_patient_type_code}
			</if>
 		
 		</where>
	
		order by hdr.ds_code
	</select>
	
	<select id="queryHipPatientTypeRef" parameterType="java.util.Map" resultMap="hipPatientTypeRef">


select hdr.group_id, hdr.hos_id, hdr.ds_code, hdr.hip_patient_type_code, hdr.hrp_patient_type_code,hdc.ds_name,hip.patient_type_name as hip_patient_type_name, hrp.patient_name as hrp_patient_type_name from hip_patient_type_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code
left join hip_patient_type_dict hip on  hdr.hip_patient_type_code = hip.patient_type_code and hdr.group_id = hip.group_id and hdr.hos_id=hip.hos_id
left join hos_patient_type hrp on hdr.hrp_patient_type_code = hrp.patient_code and hdr.group_id = hrp.group_id and hdr.hos_id=hrp.hos_id

		<where>

		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
			
					and hdr.ds_code = #{ds_code}
					
			</if>
			
			<if test="hip_patient_type_code != null and hip_patient_type_code != ''">
			
					and hdr.hip_patient_type_code = #{hip_patient_type_code}
					
			</if>
			
			<if test="hrp_patient_type_code != null and hrp_patient_type_code != ''">
			
					and hdr.hrp_patient_type_code = #{hrp_patient_type_code}
					
			</if>
		
			<if test="ds_code_search != null and ds_code_search != ''">
		
				hdr.ds_code like '%${ds_code_search}%'
				
			</if>

		</where>

		order by hdr.ds_code
	</select>


</mapper>

