<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipSupRefMapper">

	<resultMap id="hipSupRef" type="com.chd.hrp.hip.entity.HipSupRef">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="ds_code" column="ds_code" />
		<result property="hip_sup_code" column="hip_sup_code" />
		<result property="hrp_sup_code" column="hrp_sup_code" />
		
		<result property="hip_sup_name" column="hip_sup_name" />
		<result property="hrp_sup_name" column="hrp_sup_name" />
		<result property="ds_name" column="ds_name" />
		
	</resultMap>


	<insert id="addHipSupRef">

insert into hip_sup_ref
  (group_id, hos_id, ds_code, hip_sup_code, hrp_sup_code)
values(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{ds_code,jdbcType=VARCHAR},
			#{hip_sup_code,jdbcType=VARCHAR},
			#{hrp_sup_code,jdbcType=VARCHAR}
			)
	</insert>

	
	<delete id="deleteHipSupRef">
		
		delete hip_sup_ref
		
 		<where> 
 		
	 		group_id = #{group_id} and hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
					and ds_code = #{ds_code}
			</if>
			<if test="hip_sup_code != null and hip_sup_code != ''">
					and hip_sup_code = #{hip_sup_code}
			</if>
			<if test="hrp_sup_code != null and hrp_sup_code != ''">
					and hrp_sup_code = #{hrp_sup_code}
			</if>
 		
 		</where>

	</delete>
	
	<delete id="deleteBatchHipSupRef" parameterType="java.util.List">
	
		delete FROM hip_sup_ref WHERE
		
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			
				group_id = #{item.group_id}
				
				and hos_id = #{item.hos_id}
				
				and ds_code = #{item.ds_code}
				
				and hip_sup_code = #{item.hip_sup_code}
				
				and hrp_sup_code = #{item.hrp_sup_code}
				 
			</foreach>
	
	</delete>
	
	<select id="queryHipSupRefByCode" parameterType="java.util.Map" resultMap="hipSupRef">

select hdr.group_id, hdr.hos_id, hdr.ds_code, hdr.hip_sup_code, hdr.hrp_sup_code,hdc.ds_name,hip.sup_name as hip_sup_name, hrp.sup_name as hrp_sup_name from hip_sup_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code
left join hip_sup_dict hip on hdr.hip_sup_code = hip.sup_code and hdr.group_id = hip.group_id and hdr.hos_id=hip.hos_id 
left join hos_sup_dict hrp on hdr.hrp_sup_code = hrp.sup_code and hdr.group_id = hrp.group_id and hdr.hos_id=hrp.hos_id 

		<where> 
 		
	 		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
					and hdr.ds_code = #{ds_code}
			</if>
			<if test="hip_sup_code != null and hip_sup_code != ''">
					and hdr.hip_sup_code = #{hip_sup_code}
			</if>
			<if test="hrp_sup_code != null and hrp_sup_code != ''">
					and hdr.hrp_sup_code = #{hrp_sup_code}
			</if>
 		
 		</where>
	
		order by hdr.ds_code
	</select>
	
	<select id="queryHipSupRef" parameterType="java.util.Map" resultMap="hipSupRef">

select hdr.group_id, hdr.hos_id, hdr.ds_code, hdr.hip_sup_code, hdr.hrp_sup_code,hdc.ds_name,hip.sup_name as hip_sup_name, hrp.sup_name as hrp_sup_name from hip_sup_ref hdr
left join HIP_DS_COF  hdc on hdr.ds_code = hdc.ds_code
left join hip_sup_dict hip on hdr.hip_sup_code = hip.sup_code and hdr.group_id = hip.group_id and hdr.hos_id=hip.hos_id 
left join hos_sup_dict hrp on hdr.hrp_sup_code = hrp.sup_code and hdr.group_id = hrp.group_id and hdr.hos_id=hrp.hos_id 

		<where>

		hdr.group_id = #{group_id} and hdr.hos_id = #{hos_id}
	 		
			<if test="ds_code != null and ds_code != ''">
			
					and hdr.ds_code = #{ds_code}
					
			</if>
			
			<if test="hip_sup_code != null and hip_sup_code != ''">
			
					and hdr.hip_sup_code = #{hip_sup_code}
					
			</if>
			
			<if test="hrp_sup_code != null and hrp_sup_code != ''">
			
					and hdr.hrp_sup_code = #{hrp_sup_code}
					
			</if>
		
			<if test="ds_code_search != null and ds_code_search != ''">
		
				hdr.ds_code like '%${ds_code_search}%'
				
			</if>

		</where>

		order by hdr.ds_code
	</select>


</mapper>

