<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HipViewSourceMapper">

	<resultMap id="hipViewSource" type="com.chd.hrp.hip.entity.HipViewSource">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="ds_code" column="ds_code" />
		<result property="mod_code" column="mod_code" />
		<result property="hip_view_code" column="hip_view_code" />
		<result property="his_view_code" column="his_view_code" />
		<result property="his_view_name" column="his_view_name" />
		<result property="is_ref" column="is_ref" />
		
		<result property="mod_name" column="mod_name" />
		<result property="hip_view_name" column="hip_view_name" />
		<result property="ds_name" column="ds_name" />
	</resultMap>


	<insert id="addHipViewSource">

insert into hip_view_source
  (group_id, hos_id, copy_code, ds_code, mod_code, hip_view_code, his_view_code, his_view_name, is_ref)
values(
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
			#{copy_code,jdbcType=VARCHAR},
			#{ds_code,jdbcType=VARCHAR},
			#{mod_code,jdbcType=VARCHAR},
			#{hip_view_code,jdbcType=VARCHAR},
			#{his_view_code,jdbcType=VARCHAR},
			#{his_view_name,jdbcType=INTEGER},
			#{is_ref,jdbcType=INTEGER}
			)
	</insert>

	
	<delete id="deleteHipViewSource">
		
		delete hip_view_source
		
 		where 
 		
 		group_id =  #{group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{hos_id,jdbcType=INTEGER}
   		 
   		and ds_code = #{ds_code,jdbcType=VARCHAR}
   		
   		and mod_code = #{mod_code,jdbcType=VARCHAR}
   		
   		and hip_view_code = #{hip_view_code,jdbcType=VARCHAR}
   		
   		and his_view_code = #{his_view_code,jdbcType=VARCHAR}


	</delete>
	
	<delete id="updateHipViewSource">
		
		update hip_view_source set 

		his_view_name = #{his_view_name,jdbcType=VARCHAR},
		
		copy_code = #{copy_code,jdbcType=VARCHAR},
		
		is_ref = #{is_ref,jdbcType=INTEGER}
       
 		where
 		
 		group_id =  #{group_id,jdbcType=INTEGER} 
 		
   		and hos_id = #{hos_id,jdbcType=INTEGER}
   		 
   		and ds_code = #{ds_code,jdbcType=VARCHAR}
   		
   		and mod_code = #{mod_code,jdbcType=VARCHAR}
   		
   		and hip_view_code = #{hip_view_code,jdbcType=VARCHAR}
   		
   		and his_view_code = #{his_view_code,jdbcType=VARCHAR}


	</delete>
	
	<select id="queryHipViewSourceByCode" parameterType="java.util.Map" resultMap="hipViewSource">

select his.group_id, his.hos_id, his.copy_code, his.ds_code, his.mod_code, his.hip_view_code, his.his_view_code, his.his_view_name, his.is_ref ,

sm.mod_name ,hiv.hip_view_name,hdc.ds_name

from hip_view_source his

left join sys_mod sm on  his.mod_code= sm.mod_code

left join hip_init_view hiv on his.hip_view_code = hiv.hip_view_code

left join hip_ds_cof hdc on his.ds_code = hdc.ds_code 

		where 
		
		his.group_id = #{group_id} and his.hos_id = #{hos_id}
		
		<if test="copy_code != null and copy_code != ''">
				and his.copy_code = #{copy_code}
		</if>
		
		<if test="ds_code != null and ds_code != ''">
				and his.ds_code = #{ds_code}
		</if>
		
		<if test="mod_code != null and mod_code != ''">
				and his.mod_code = #{mod_code}
		</if>
		
		<if test="hip_view_code != null and hip_view_code != ''">
				and his.hip_view_code = #{hip_view_code}
		</if>
		
		<if test="his_view_code != null and his_view_code != ''">
				and his.his_view_code = #{his_view_code}
		</if>
	
		order by his.his_view_code
	</select>
	
	<select id="queryHipViewSource" parameterType="java.util.Map" resultMap="hipViewSource">

select his.group_id, his.hos_id, his.copy_code, his.ds_code, his.mod_code, his.hip_view_code, his.his_view_code, his.his_view_name, his.is_ref ,

sm.mod_name ,hiv.hip_view_name,hdc.ds_name

from hip_view_source his

left join sys_mod sm on  his.mod_code= sm.mod_code

left join hip_init_view hiv on his.hip_view_code = hiv.hip_view_code

left join hip_ds_cof hdc on his.ds_code = hdc.ds_code 

		where 
		
		his.group_id = #{group_id} and his.hos_id = #{hos_id}
		
		<if test="copy_code != null and copy_code != ''">
				and his.copy_code = #{copy_code}
		</if>
		
		<if test="ds_code != null and ds_code != ''">
				and his.ds_code = #{ds_code}
		</if>
		
		<if test="mod_code != null and mod_code != ''">
				and his.mod_code = #{mod_code}
		</if>
		
		<if test="hip_view_code != null and hip_view_code != ''">
				and his.hip_view_code = #{hip_view_code}
		</if>
		
		<if test="his_view_code != null and his_view_code != ''">
				and his.his_view_code = #{his_view_code}
		</if>
	
		order by his.his_view_code

	</select>


</mapper>

