<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hip.dao.HrpHipSelectMapper">

	<resultMap type="com.chd.hrp.hip.entity.HrpHipSelect" id="hrpHipSelect">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
	
	<select id="queryHosInfoDict" resultMap="hrpHipSelect">
		select hos_id as id , hos_name as text from hos_info_dict 
		 
		<where>
			is_stop='0' and group_id= #{group_id}
			
			<if test="key != null and key != ''">
				and (
				hos_id like '${key}%' or
				hos_name like '%${key}%'
				)
			</if>
			
		</where>

		order by hos_code
	
	</select>
	
	<select id="queryHosCopy" resultMap="hrpHipSelect">
		select copy_code as id, copy_name as text from hos_copy
		 
		<where>
			group_id= #{group_id}  and hos_id = #{hos_id}
			
			<if test="key != null and key != ''">
				and (
				copy_code like '${key}%' or
				copy_name like '%${key}%'
				)
			</if>
			
		</where>

		order by copy_code
	
	</select>
	
	<select id="querySysMod" resultMap="hrpHipSelect">
		select mod_code as id,mod_name as text from SYS_MOD
		 
		<where>
			parent_code='top'
			
			<if test="key != null and key != ''">
				and (
				mod_code like '${key}%' or
				mod_name like '%${key}%'
				)
			</if>
			
		</where>

		order by mod_code
	
	</select>
	
	<select id="queryHipInitView" resultMap="hrpHipSelect">
		select hip_view_code as id, hip_view_name as text from hip_init_view
		 
		<where>
			mod_code= #{mod_code}
			
			<if test="key != null and key != ''">
				and (
				hip_view_code like '${key}%' or
				hip_view_name like '%${key}%'
				)
			</if>
			
		</where>

		order by hip_view_code
	
	</select>
	
	<select id="queryHipDsCof" resultMap="hrpHipSelect">
	
		select ds_code as id, ds_name as text from hip_ds_cof
		 
		<where>
			
			<if test="key != null and key != ''">
				and (
				ds_code like '${key}%' or
				ds_name like '%${key}%'
				)
			</if>
			
		</where>

		order by ds_code
	
	</select>
	
	<select id="queryHipDeptDict" resultMap="hrpHipSelect">
	
		select dept_code as id, dept_name as text from hip_dept_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="is_last != null  and is_last != ''">
				and is_last = #{is_last}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				dept_code like '%${key}%' or
				dept_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by dept_code
	
	</select>
	
	<select id="queryHosDeptDict" resultMap="hrpHipSelect">
	
		select dept_code as id, dept_name as text from hos_dept_dict
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="is_last != null  and is_last != ''">
				and is_last = #{is_last}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				dept_code like '%${key}%' or
				dept_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by dept_code
	
	</select>
	
	<select id="queryHipChargeKindDict" resultMap="hrpHipSelect">
	
		select charge_kind_code as id, charge_kind_name as text from hip_charge_kind_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="key != null and key != ''">
				and (
				charge_kind_code like '%${key}%' or
				charge_kind_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by charge_kind_code
	
	</select>
	
	<select id="queryCostChargeKindArrt" resultMap="hrpHipSelect">
	
		select charge_kind_code as id, charge_kind_name as text from cost_charge_kind_arrt
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				and (
				charge_kind_code like '%${key}%' or
				charge_kind_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by charge_kind_code
	
	</select>
	
	<select id="queryHipChargeDetailDict" resultMap="hrpHipSelect">
	
		select charge_detail_code as id, charge_detail_name as text  from hip_charge_detail_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="key != null and key != ''">
				and (
				charge_detail_code like '%${key}%' or
				charge_detail_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by charge_detail_code
	
	</select>
	
	<select id="queryCostChargeItemArrt" resultMap="hrpHipSelect">
	
		select charge_item_code as id, charge_item_name as text from cost_charge_item_arrt
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="key != null and key != ''">
				and (
				charge_item_code like '%${key}%' or
				charge_item_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by charge_item_code
	
	</select>
	
	<select id="queryHipPayTypeDict" resultMap="hrpHipSelect">
	
		select pay_type_code as id, pay_type_name as text from hip_pay_type_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				pay_type_code like '%${key}%' or
				pay_type_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by pay_type_code
	
	</select>
	
	<select id="queryAccPayType" resultMap="hrpHipSelect">
	
		select pay_code as id, pay_name as text from acc_pay_type
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				pay_code like '%${key}%' or
				pay_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by pay_code
	
	</select>
	
	<select id="queryHipPatientTypeDict" resultMap="hrpHipSelect">
	
		select  patient_type_code as id, patient_type_name as text from hip_patient_type_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="key != null and key != ''">
				and (
				patient_type_code like '%${key}%' or
				patient_type_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by patient_type_code
	
	</select>
	
	<select id="queryHosPatientType" resultMap="hrpHipSelect">
	
		select  patient_code as id, patient_name as text from hos_patient_type
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				patient_code like '%${key}%' or
				patient_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by patient_code
	
	</select>
	
	<select id="queryHipSupDict" resultMap="hrpHipSelect">
	
		select sup_code as id, sup_name as text from hip_sup_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="key != null and key != ''">
				and (
				sup_code like '%${key}%' or
				sup_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by sup_code
	
	</select>
	
	<select id="queryHosSupDict" resultMap="hrpHipSelect">
	
		select sup_code as id, sup_name as text from hos_sup_dict
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				sup_code like '%${key}%' or
				sup_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by sup_code
	
	</select>
	
	<select id="queryHipStoreDict" resultMap="hrpHipSelect">
	
		select store_code as id, store_name as text from hip_store_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="key != null and key != ''">
				and (
				store_code like '%${key}%' or
				store_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by store_code
	
	</select>
	
	<select id="queryHosStoreDict" resultMap="hrpHipSelect">
	
		select store_code as id, store_name as text from hos_store_dict
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				store_code like '%${key}%' or
				store_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by store_code
	
	</select>
	
	
	<select id="queryHipMedTypeDict" resultMap="hrpHipSelect">
	
		select  med_type_code as id, med_type_name as text from hip_med_type_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				med_type_code like '%${key}%' or
				med_type_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by med_type_code
	
	</select>
	
	<select id="queryMedType" resultMap="hrpHipSelect">
	
		select med_type_code as id, med_type_name as text from med_type
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				med_type_code like '%${key}%' or
				med_type_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by med_type_code
	
	</select>
	
	<select id="queryHipMedDict" resultMap="hrpHipSelect">
	
		select med_code as id, med_name as text from hip_med_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				med_code like '%${key}%' or
				med_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by med_code
	
	</select>
	
	<select id="queryMedInv" resultMap="hrpHipSelect">
	
		select med_code as id, med_name as text from med_inv
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				med_code like '%${key}%' or
				med_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by med_code
	
	</select>
	
	<select id="queryHipMatTypeDict" resultMap="hrpHipSelect">
	
		select mat_type_code as id, mat_type_name as text from hip_mat_type_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				mat_type_code like '%${key}%' or
				mat_type_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by mat_type_code
	
	</select>
	
	<select id="queryMatTypeDict" resultMap="hrpHipSelect">
	
		select mat_type_code as id, mat_type_name as text from mat_type_dict
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				mat_type_code like '%${key}%' or
				mat_type_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by mat_type_code
	
	</select>
	
	<select id="queryHipMatInvDict" resultMap="hrpHipSelect">
	
		select inv_code as id, inv_name as text from hip_mat_inv_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				inv_code like '%${key}%' or
				inv_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by inv_code
	
	</select>
	
	<select id="queryMatInvDict" resultMap="hrpHipSelect">
	
		select inv_code as id, inv_name as text from mat_inv_dict
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				inv_code like '%${key}%' or
				inv_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by inv_code
	
	</select>
	
	<select id="queryHipAssTypeDict" resultMap="hrpHipSelect">
	
		select ass_type_code as id, ass_type_name as text from hip_ass_type_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				ass_type_code like '%${key}%' or
				ass_type_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by ass_type_code
	
	</select>
	
	<select id="queryAssTypeDict" resultMap="hrpHipSelect">
	
		select ass_type_code as id, ass_type_name as text from ass_type_dict
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				ass_type_code like '%${key}%' or
				ass_type_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by ass_type_code
	
	</select>
	
	<select id="queryHipAssDict" resultMap="hrpHipSelect">
	
		select ass_code as id, ass_name as text from hip_ass_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				ass_code like '%${key}%' or
				ass_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by ass_code
	
	</select>
	
	<select id="queryAssDict" resultMap="hrpHipSelect">
	
		select ass_code as id, ass_name as text from ass_dict
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				ass_code like '%${key}%' or
				ass_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by ass_code
	
	</select>
	
	<select id="queryHipSourceDict" resultMap="hrpHipSelect">
	
		select source_code as id, source_name as text from hip_source_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				source_code like '%${key}%' or
				source_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by source_code
	
	</select>
	
	<select id="queryHosSource" resultMap="hrpHipSelect">
	
		select source_code as id, source_name as text from hos_source
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				source_code like '%${key}%' or
				source_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by source_code
	
	</select>
	
	<select id="queryHipPaymentItemDict" resultMap="hrpHipSelect">
	
		select payment_item_code, payment_item_name from hip_payment_item_dict
		 
		<where> change_state !='3'
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="ds_code != null  and ds_code != ''">
				and ds_code = #{ds_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				payment_item_code like '%${key}%' or
				payment_item_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by payment_item_code
	
	</select>
	
	<select id="queryBudgPaymentItemDict" resultMap="hrpHipSelect">
	
		select payment_item_code, payment_item_name from budg_payment_item_dict
		 
		<where>
			<if test="group_id != null  and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="is_stop != null  and is_stop != ''">
				and is_stop = #{is_stop}
			</if>
			<if test="key != null and key != ''">
				and (
				payment_item_code like '%${key}%' or
				payment_item_name like '%${key}%' or
				spell_code like '%${key}%' or
				wbx_code like '%${key}%'
				)
			</if>
			
		</where>

		order by payment_item_code
	
	</select>
	<select id="queryALLMatTypeDict" resultMap="hrpHipSelect">
		select distinct mtd.mat_type_code as id,mtd.mat_type_name  as text
		from  mat_type_dict mtd
			right join 
			(
			 select c.mat_type_code , c.mat_type_name 
			   from mat_store_inv a
			   left join mat_inv_dict b
			     on a.inv_id = b.inv_id
			    and a.group_id = b.group_id
			    and a.hos_id = b.hos_id
			    and a.copy_code = b.copy_code
			    and b.is_stop=0
			   left join mat_type_dict c  
			   on b.MAT_TYPE_ID = c.MAT_TYPE_ID 
			   and b.group_id = c.group_id 
			   and b.hos_id = c.hos_id 
			   and b.copy_code = c.copy_code
			   <if test="set_id ==null or set_id=='' ">
					<if test="store_id != null and store_id != ''">
						and a.store_id = #{store_id}
					</if>
					<if test="store_id == null or store_id == ''">
						and a.store_id in(
							select perm_code from v_user_data_perm vp
							where group_id = #{group_id,jdbcType=INTEGER}
								and hos_id = #{hos_id,jdbcType=INTEGER}
								and user_id = #{user_id,jdbcType=INTEGER}
								and is_read = 1
								and table_code = 'HOS_STORE_DICT'
						)
					</if>
				</if>
				<if test="set_id!=null and set_id!=''">
					and exists (select store_id from MAT_STORE_DETAIL msd  where msd.group_id=a.group_id and msd.hos_id = a.hos_id and set_id = #{set_id})
				</if>
			  group by c.mat_type_code, c.mat_type_name
			 ) da on da.mat_type_code like mtd.mat_type_code||'%'
			 <where> 
			     mtd.group_id=#{group_id} 
			 and mtd.hos_id = #{hos_id}
			 and mtd.copy_code=#{copy_code}
			 <if test="type_level!= null and type_level!=''">
			 <if test="type_level==1">
			 	 and mtd.type_level= 1
			 </if>
					<if test="type_level!=1">
						and mtd.is_last=1
					</if>
			 </if>
			 	
			 </where>
			 order by mtd.mat_type_code
	</select>
	<select id="queryALLMatFimTypeDict" resultMap="hrpHipSelect">
		select distinct a.fim_type_code as id , a.fim_type_name as text
		from mat_fim_type a 
			left join mat_type b
			on a.fim_type_code=b.fim_type_code
			and a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			left join MAT_INV_DICT c 
			on c.mat_type_id = b.mat_type_id
			and c.group_id = b.group_id
			and c.hos_id = b.hos_id
			and c.copy_code = b.copy_code
			and c.is_stop='0'
			left join MAT_STORE_INV  d 
			on d.inv_id = c.inv_id
			and d.group_id = c.group_id
			and d.hos_id= c.hos_id
			and d.copy_code = c.copy_code
			left join mat_store_detail msd
	        on msd.group_id=d.group_id
	        and msd.hos_id=d.hos_id
	        and msd.store_id=d.store_id
 			<where>
 			   <if test="set_id!=null and set_id!=''">
			 		and msd.set_id=#{set_id}
			   </if>
			   <if test="set_id==null or set_id==''">
	 			   <if test="store_id!=null and store_id!=''">
				 		and d.store_id=#{store_id}
				   </if>
			   </if>
 			</where>
		order by id
	</select>
	
	<select id="queryALLMedTypeDict" resultMap="hrpHipSelect">
		select distinct mtd.med_type_code as id,mtd.med_type_name  as text
		from  med_type_dict mtd
			right join 
			(
			 select c.med_type_code , c.med_type_name 
			   from med_store_inv a
			   left join med_inv_dict b
			     on a.inv_id = b.inv_id
			    and a.group_id = b.group_id
			    and a.hos_id = b.hos_id
			    and a.copy_code = b.copy_code
			    and b.is_stop=0
			   left join med_type_dict c  
			   on b.MED_TYPE_ID = c.MED_TYPE_ID 
			   and b.group_id = c.group_id 
			   and b.hos_id = c.hos_id 
			   and b.copy_code = c.copy_code
			   <if test="set_id ==null or set_id=='' ">
						<if test="store_id != null and store_id != ''">
							and a.store_id = #{store_id}
						</if>
					</if>
					<if test="set_id!=null and set_id!=''">
						and exists (select store_id from MED_STORE_DETAIL msd  where msd.group_id=a.group_id and msd.hos_id = a.hos_id and set_id = #{set_id})
					</if>
			  group by c.med_type_code, c.med_type_name
			 ) da on da.med_type_code like mtd.med_type_code||'%'
			 <where> 
			     mtd.group_id=#{group_id}
			 and mtd.hos_id = #{hos_id}
			 and mtd.copy_code=#{copy_code}
			 <if test="type_level!= null and type_level!=''">
			 <if test="type_level==1">
			 	 and mtd.type_level= 1
			 </if>
					<if test="type_level!=1">
						and mtd.is_last=1
					</if>
			 </if>
			 	
			 </where>
	</select>
	<select id="queryALLMedFimTypeDict" resultMap="hrpHipSelect">
		select distinct a.fim_type_code as id , a.fim_type_name as text
		from med_fim_type a 
			left join med_type b
			on a.fim_type_code=b.fim_type_code
			and a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			left join MED_INV_DICT c 
			on c.med_type_id = b.med_type_id
			and c.group_id = b.group_id
			and c.hos_id = b.hos_id
			and c.copy_code = b.copy_code
			and c.is_stop='0'
			left join MED_STORE_INV  d 
			on d.inv_id = c.inv_id
			and d.group_id = c.group_id
			and d.hos_id= c.hos_id
			and d.copy_code = c.copy_code
 			<where>
 				 <if test="store_id!=null and store_id!=''">
			 		and d.store_id=#{store_id}
			   </if>
 			</where>
		order by id
	</select>
	
	<select id="existsDblink" parameterType="java.util.Map" resultType="Integer">
		SELECT COUNT(1) 
		FROM dba_db_links
		WHERE db_link = upper(#{ds_code,jdbcType=VARCHAR})
	</select>
	
	<select id="queryDblinkViewName" parameterType="java.util.Map" resultType="String">
		select his_view_code
		from hip_view_source 
		where ds_code = #{ds_code,jdbcType=VARCHAR} 
			and hip_view_code = #{hip_view_code,jdbcType=VARCHAR}
	</select>
	
	<select id="queryDblinkDict" parameterType="java.util.Map" resultMap="hrpHipSelect">
	    select ${col_code} as id, ${col_name} as text
	    from ${view_name}@${ds_code}
	    <where>
			<if test="is_last != null and is_last != ''">
	    		and is_last = #{is_last,jdbcType=VARCHAR}
	    	</if>
			<if test="key != null and key != ''">
				and (
					${col_code} like '${key}%'
					or ${col_name} like '%${key}%'
				)
			</if>
		</where>
	    order by ${col_code}
	</select>
	
	
	<select id="queryHipDataSource" resultMap="hrpHipSelect">
	
		select source_code as id, source_name as text from HIP_DATA_SOURCE
		<where>
			<if test="key != null and key != ''">
				and (
				source_code like '%${key}%' or
				source_name like '%${key}%'
				)
			</if>
		</where>

		order by source_code
	
	</select>
</mapper>

