<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.projectcost.HtcDeptFassetRelaMapper">
	<resultMap id="htcDeptFassetRelaMap" type="com.chd.hrp.htc.entity.task.projectcost.HtcDeptFassetRela">
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id" />
        <result property="copy_code" column="copy_code"/>
        <result property="acc_year" column="acc_year"/>
        <result property="plan_code" column="plan_code"/>
        <result property="plan_name" column="plan_name"/>
        <result property="proj_dept_no" column="proj_dept_no"/>
        <result property="proj_dept_id" column="proj_dept_id"/>
        <result property="proj_dept_code" column="proj_dept_code"/>
        <result property="proj_dept_name" column="proj_dept_name"/>
        <result property="asset_code" column="asset_code"/>
        <result property="asset_name" column="asset_name"/>
	</resultMap>
	
	<insert id="addHtcDeptFassetRela" useGeneratedKeys="true" >
                insert into htc_dept_fasset_rela
							  (group_id,
							   hos_id,
							   copy_code,
							   acc_year,
							   plan_code,
							   proj_dept_no,
							   proj_dept_id,
							   asset_code)
							values
							  (#{group_id},
							   #{hos_id},
							   #{copy_code},
							   #{acc_year},
							   #{plan_code},
							   #{proj_dept_no},
							   #{proj_dept_id},
							   #{asset_code})
    </insert>

	<update id="updateHtcDeptFassetRela" parameterType="java.util.Map">
                          update htc_dept_fasset_rela
						   set proj_dept_no = #{proj_dept_no},
						       proj_dept_id = #{proj_dept_id},
						       asset_code = #{asset_code}
						 where group_id = #{group_id}
						   and hos_id = #{hos_id}
						   and copy_code = #{copy_code}
						   and acc_year = #{acc_year}
						   and plan_code = #{plan_code}
						   and proj_dept_no = #{proj_dept_no}
						   and proj_dept_id = #{proj_dept_id}
						   and asset_code = #{asset_code}
	</update>

 

    <delete id="deleteBatchHtcDeptFassetRela" parameterType="java.util.List">
   
         delete  htc_dept_fasset_rela where 
        <foreach collection="list" index="index" item="item" separator="or" >
		(
				   group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and acc_year = #{item.acc_year}
			   and plan_code = #{item.plan_code}
			   and proj_dept_no = #{item.proj_dept_no}
			   and proj_dept_id = #{item.proj_dept_id}
			   and asset_code = #{item.asset_code}
		)
		</foreach>
    </delete>
    
    <select id="queryHtcDeptFassetRelaByCode" parameterType="java.util.Map" resultMap="htcDeptFassetRelaMap" >
                            select hdfr.group_id,
							       hdfr.hos_id,
							       hdfr.copy_code,
							       hdfr.acc_year,
							       hdfr.plan_code,
								   hps.plan_name,
							       hdfr.proj_dept_no,
							       hdfr.proj_dept_id,
							       hpdd.proj_dept_code,
			                       hpdd.proj_dept_name,
							       hdfr.asset_code,
								   hfd.asset_name
							  from htc_dept_fasset_rela hdfr
								left join htc_plan_set hps
								on hdfr.group_id = hps.group_id
								and hdfr.hos_id = hps.hos_id
								and hdfr.copy_code = hps.copy_code
								and hdfr.plan_code = hps.plan_code
								left join htc_proj_dept_dict hpdd
								on hpdd.group_id = hdfr.group_id
								and hpdd.hos_id = hdfr.hos_id
								and hpdd.copy_code = hdfr.copy_code
								and hpdd.proj_dept_no = hdfr.proj_dept_no
								and hpdd.proj_dept_id = hdfr.proj_dept_id
								left join htc_fasset_dict hfd
								on hfd.group_id = hdfr.group_id
								and hfd.hos_id = hdfr.hos_id
								and hfd.copy_code = hdfr.copy_code
								and hfd.asset_code = hdfr.asset_code
								where hdfr.group_id = #{group_id}
							    and hdfr.hos_id = #{hos_id}
							    and hdfr.copy_code = #{copy_code}
							    and hdfr.acc_year = #{acc_year}
							    and hdfr.plan_code = #{plan_code}
							    and hdfr.proj_dept_no = #{proj_dept_no}
							    and hdfr.proj_dept_id = #{proj_dept_id}
							    and hdfr.asset_code = #{asset_code}
	</select>
	<select id="queryHtcDeptFassetRela" parameterType="java.util.Map" resultMap="htcDeptFassetRelaMap" >
			                select hdfr.group_id,
							       hdfr.hos_id,
							       hdfr.copy_code,
							       hdfr.acc_year,
							       hdfr.plan_code,
								   hps.plan_name,
							       hdfr.proj_dept_no,
							       hdfr.proj_dept_id,
							       hpdd.proj_dept_code,
			                       hpdd.proj_dept_name,
							       hdfr.asset_code,
								   hfd.asset_name
							  from htc_dept_fasset_rela hdfr
								left join htc_plan_set hps
								on hdfr.group_id = hps.group_id
								and hdfr.hos_id = hps.hos_id
								and hdfr.copy_code = hps.copy_code
								and hdfr.plan_code = hps.plan_code
								left join htc_proj_dept_dict hpdd
								on hpdd.group_id = hdfr.group_id
								and hpdd.hos_id = hdfr.hos_id
								and hpdd.copy_code = hdfr.copy_code
								and hpdd.proj_dept_no = hdfr.proj_dept_no
								and hpdd.proj_dept_id = hdfr.proj_dept_id
								left join htc_fasset_dict hfd
								on hfd.group_id = hdfr.group_id
								and hfd.hos_id = hdfr.hos_id
								and hfd.copy_code = hdfr.copy_code
								and hfd.asset_code = hdfr.asset_code
								<where> hdfr.group_id = #{group_id}
							       and  hdfr.hos_id = #{hos_id}
							       and  hdfr.copy_code = #{copy_code}
							     <if test="acc_year != null and acc_year != ''">
								   and hdfr.acc_year = #{acc_year}
							    </if>
							     <if test="plan_code != null and plan_code != ''">
								   and hdfr.plan_code = #{plan_code}
							    </if>
							     <if test="proj_dept_no != null and proj_dept_no != ''">
								   and hdfr.proj_dept_no = #{proj_dept_no}
							    </if>
							     <if test="proj_dept_id != null and proj_dept_id != ''">
								   and hdfr.proj_dept_id = #{proj_dept_id}
							    </if>
							     <if test="asset_code != null and asset_code != ''">
								   and hdfr.asset_code = #{asset_code}
							    </if>
								</where>
								order by hdfr.group_id,
								         hdfr.hos_id,
								         hdfr.copy_code,
								         hdfr.acc_year,
								         hdfr.plan_code,
								         hpdd.proj_dept_code,
								         hdfr.asset_code
										 
    </select>
</mapper>

