<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.nursing.HrIntensiveCareMapper">

	<resultMap id="hrAdmin2" type="com.chd.hrp.hr.entity.nursing.HrIntensiveCare">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="year" column="year"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="dept_no" column="dept_no"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="patient" column="patient"/>
	<result property="diagnose" column="diagnose"/>
	<result property="is_same" column="is_same"/>
	<result property="same_name" column="same_name"/>
	<result property="state" column="state"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="hrAdmin2Map" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="year" column="year"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="dept_no" column="dept_no"/>
	<result property="in_hos_no" column="in_hos_no"/>
	<result property="patient" column="patient"/>
	<result property="diagnose" column="diagnose"/>
	<result property="is_same" column="is_same"/>
	<result property="state" column="state"/>
	<result property="note" column="note"/>
	</resultMap>
   
   <resultMap id="hrDept" type="java.util.Map">
   <result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="dept_no" column="dept_no"/>
   </resultMap>
	<!--先删除-->
	<delete id="deletehrAcademicAbility" parameterType="java.util.Map">
	
		DELETE FROM hr_admin2 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="emp_id != null and emp_id != ''">
		AND emp_id = #{emp_id,jdbcType=INTEGER}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		</where>
	</delete>
	<!--在增加  -->
<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_ADMIN2 (
		group_id,
		hos_id,
		year,
		dept_id,
		dept_no,
		in_hos_no,
		patient,
		diagnose,
		is_same,
		state,
		note
		) (
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.year,jdbcType=VARCHAR},
			#{item.dept_id,jdbcType=INTEGER},
			#{item.dept_no,jdbcType=INTEGER},
			#{item.in_hos_no,jdbcType=VARCHAR},
			#{item.patient,jdbcType=VARCHAR},
			#{item.diagnose,jdbcType=VARCHAR},
			#{item.is_same,jdbcType=INTEGER},
			#{item.state,jdbcType=INTEGER},
			#{item.note,jdbcType=VARCHAR}
		    from dual
		</foreach>
		)
	</insert>
	<!-- 删除重症护理能力 -->
	<delete id="deleteIntensiveCare" parameterType="java.util.List">
		DELETE FROM hr_admin2 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.year != null and item.year != ''">
				AND year = #{item.year,jdbcType=VARCHAR}
				</if>
				<if test="item.dept_id != null and item.dept_id != ''">
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.dept_no != null and item.dept_no != ''">
				AND dept_no = #{item.dept_no,jdbcType=INTEGER}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrAdmin2" >
	
		SELECT 
		ha.group_id,
		ha.hos_id,
		ha.year,
		ha.dept_id,
		hd.dept_name,
		ha.dept_no,
		ha.in_hos_no,
		ha.patient,
		ha.diagnose,
		ha.is_same,
			case when ha.is_same = 0 then '不符合' when ha.is_same = 1
		then '符合' else '' end same_name ,
		ha.state,
		ha.note
		FROM HR_ADMIN2 ha
		left join hos_dept_dict hd on ha.dept_no=hd.dept_no and ha.group_id=hd.group_id and ha.hos_id = hd.hos_id
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND ha.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND ha.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="year != null and year != ''">
		AND ha.year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND ha.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND ha.dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="in_hos_no != null and in_hos_no != ''">
		AND ha.in_hos_no = #{in_hos_no,jdbcType=VARCHAR}
		</if>
		<if test="patient != null and patient != ''">
		AND ha.patient = #{patient,jdbcType=VARCHAR}
		</if>
		<if test="diagnose != null and diagnose != ''">
		AND ha.diagnose like '%${diagnose}%'
		</if>
		<if test="is_same != null and is_same != ''">
		AND ha.is_same = #{is_same,jdbcType=INTEGER}
		</if>
		<if test="state != null and state != ''">
		AND ha.state = #{state,jdbcType=INTEGER}
		</if>
		<if test="note != null and note != ''">
		AND ha.note = #{note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by ha.year,hd.dept_code
	</select>
	<select id="queryByCode" parameterType="java.util.Map" resultMap="hrAdmin2" >
	
		SELECT 
		ha.group_id,
		ha.hos_id,
		ha.year,
		ha.dept_id,
		hd.dept_name,
		ha.dept_no,
		ha.in_hos_no,
		ha.patient,
		ha.diagnose,
		ha.is_same,
			case when ha.is_same = 0 then '不符合' when ha.is_same = 1
		then '符合' else '' end same_name ,
		ha.state,
		ha.note
		FROM HR_ADMIN2 ha
		left join hos_dept_dict hd 
			on ha.dept_no=hd.dept_no and ha.group_id=hd.group_id and ha.hos_id = hd.hos_id
		where 
		 ha.group_id = #{group_id,jdbcType=INTEGER}
		AND ha.hos_id = #{hos_id,jdbcType=INTEGER}
		<if test="year != null and year != ''">
		AND ha.year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND ha.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND ha.dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		</select>
	<select id="queryDept" parameterType="java.util.Map" resultMap="hrDept">
		select dept_id, dept_no, dept_code, dept_name 
		from hos_dept_dict where is_stop=0 and IS_DISABLE=0
		<if test="group_id != null and group_id != ''">
			and group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="dept_id != null and dept_id != ''">
			AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="dept_no != null and dept_no != ''">
			AND dept_no = #{dept_no,jdbcType=INTEGER}
		</if>
		<if test="dept_code != null and dept_code != ''">
			AND (dept_code = #{dept_code}
			or
				dept_name = #{dept_code})
		</if>
	</select>
</mapper>