<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.business.compilationbasic.dpetexecute.BudgWorkDeptYearExecuteMapper">
	
	<resultMap id="budgWorkDeptYearExecute" type="com.chd.hrp.budg.entity.BudgWorkDeptYearExecute">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="year" column="year"/>
	<result property="dept_id" column="dept_id"/>
	<result property="index_code" column="index_code"/>
	<result property="execute_value" column="execute_value"/>
	<result property="remark" column="remark"/>
	</resultMap>		
	<resultMap id="budgWorkDeptYearExecuteMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="year" column="year"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_name" column="dept_name"/>
	<result property="dept_code" column="dept_code"/>
	<result property="index_code" column="index_code"/>
	<result property="index_name" column="index_name"/>
	<result property="execute_value" column="execute_value"/>
	<result property="remark" column="remark"/>
	</resultMap>
	<resultMap type="java.util.Map" id="hrpBudgSelect">
		<result property="id1" column="id1" />
		<result property="text1" column="text1" />
		<result property="id2" column="id2"/>
		<result property="text2" column="text2"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="dataMap">
	<result  property="dept_id"  column="dept_id"/>
	<result  property="dept_code"  column="dept_code"/>
	<result  property="dept_name"  column="dept_name"/>
	<result  property="index_code"  column="index_code"/>
	<result  property="index_name"  column="index_name"/>
	</resultMap>
		   
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_WORK_DEPT_EXECUTE_YEAR (
			group_id
			,
			hos_id
			,
			copy_code
			,
			year
			,
			dept_id
			,
			index_code
			,
			execute_value
			,
			remark
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{year,jdbcType=VARCHAR}
			,
			#{dept_id,jdbcType=INTEGER}
			,
			#{index_code,jdbcType=VARCHAR}
			,
			#{execute_value,jdbcType=INTEGER}
			,
			#{remark,jdbcType=VARCHAR}
		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_WORK_DEPT_EXECUTE_YEAR (
		group_id
		,
		hos_id
		,
		copy_code
		,
		year
		,
		dept_id
		,
		index_code
		,
		execute_value
		,
		remark
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.year,jdbcType=VARCHAR}
			,
			#{item.dept_id,jdbcType=INTEGER}
			,
			#{item.index_code,jdbcType=VARCHAR}
			,
			#{item.execute_value,jdbcType=INTEGER}
			,
			#{item.remark,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE BUDG_WORK_DEPT_EXECUTE_YEAR set
			execute_value = #{execute_value,jdbcType=INTEGER}
			,
			remark = #{remark,jdbcType=VARCHAR}
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="year != null and year != ''">
			AND year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="dept_id != null and dept_id != ''">
			AND dept_id = #{dept_id,jdbcType=INTEGER}
			</if>
			<if test="index_code != null and index_code != ''">
			AND index_code = #{index_code,jdbcType=VARCHAR}
			</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_WORK_DEPT_EXECUTE_YEAR set
				execute_value = #{item.execute_value,jdbcType=INTEGER}
				,
				remark = #{item.remark,jdbcType=VARCHAR}
			<where>                     
				<if test="item.group_id != null and item.group_id != ''">
				AND group_id = #{item.group_id,jdbcType=INTEGER}
				</if>  
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>  
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>  
				<if test="item.year != null and item.year != ''">
				AND year = #{item.year,jdbcType=VARCHAR}
				</if>  
				<if test="item.dept_id != null and item.dept_id != ''">
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>  
				<if test="item.index_code != null and item.index_code != ''">
				AND index_code = #{item.index_code,jdbcType=VARCHAR}
				</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM BUDG_WORK_DEPT_EXECUTE_YEAR 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="index_code != null and index_code != ''">
		AND index_code = #{index_code,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_WORK_DEPT_EXECUTE_YEAR 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.group_id != null and item.group_id != ''">
				 group_id = #{item.group_id,jdbcType=INTEGER}
				</if>
				<if test="item.hos_id != null and item.hos_id != ''">
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				</if>
				<if test="item.copy_code != null and item.copy_code != ''">
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				</if>
				<if test="item.year != null and item.year != ''">
				AND year = #{item.year,jdbcType=VARCHAR}
				</if>
				<if test="item.dept_id != null and item.dept_id != ''">
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				</if>
				<if test="item.index_code != null and item.index_code != ''">
				AND index_code = #{item.index_code,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgWorkDeptYearExecuteMap" >
	
		select a.group_id,
		       a.hos_id,
		       a.copy_code,
		       a.year,
		       a.dept_id,
		       e.dept_code,
		       e.dept_name,
		       a.index_code,
		       d.index_name ,
		       a.execute_value ,
		       a.remark
	  from BUDG_WORK_DEPT_EXECUTE_YEAR a
	  left join budg_index_dict d
		 on a.group_id = d.group_id
		and a.hos_id = d.hos_id
		and a.copy_code = d.copy_code 
		and a.index_code = d.index_code
	  left join hos_dept e 
	  	on 
	  		a.group_id = e.group_id
	  		and a.hos_id = e.hos_id 
	   		and a.dept_id = e.dept_id
	<where>                     
		<if test="group_id != null and group_id != ''">
		AND a.group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND a.hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND a.year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND a.dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="index_code != null and index_code != ''">
		AND a.index_code = #{index_code,jdbcType=VARCHAR}
		</if>
		
	</where>  
		order by a.year,a.dept_id , a.index_code 
	</select>
	<select id="queryByCode" resultMap="budgWorkDeptYearExecute"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		index_code,
		execute_value,
		remark
		FROM BUDG_WORK_DEPT_EXECUTE_YEAR 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		year = #{year,jdbcType=VARCHAR}   and 
		dept_id = #{dept_id,jdbcType=INTEGER}   and 
		index_code = #{index_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgWorkDeptYearExecute"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		index_code,
		execute_value,
		remark
		FROM BUDG_WORK_DEPT_EXECUTE_YEAR 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="index_code != null and index_code != ''">
		AND index_code = #{index_code,jdbcType=VARCHAR}
		</if>
		<if test="execute_value != null and execute_value != ''">
		AND execute_value = #{execute_value,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgWorkDeptYearExecute"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		year,
		dept_id,
		index_code,
		execute_value,
		remark
		FROM BUDG_WORK_DEPT_EXECUTE_YEAR 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
		AND year = #{year,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id,jdbcType=INTEGER}
		</if>
		<if test="index_code != null and index_code != ''">
		AND index_code = #{index_code,jdbcType=VARCHAR}
		</if>
		<if test="execute_value != null and execute_value != ''">
		AND execute_value = #{execute_value,jdbcType=INTEGER}
		</if>
		<if test="remark != null and remark != ''">
		AND remark = #{remark,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	<select id="queryIndexCode" resultType="java.lang.Integer"  parameterType="java.util.Map" >      
		SELECT count(index_code) from BUDG_BASIC_INDEX_DICT
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="index_code != null and index_code != ''">
			AND index_code = #{index_code,jdbcType=VARCHAR}
			</if>
		</where>   
	 </select>  
	  		
	 <select id="queryBudgDeptId" resultMap="dataMap"  parameterType="java.util.List" >      
		SELECT 
		      dept_id,
		      dept_code,
		      dept_name
		      from hos_dept
		where                    
			
			 group_id = #{group_id,jdbcType=INTEGER}
			
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			
		
			
	 </select>  
	 
	 <select id="queryDataExists"  resultType="java.lang.Integer"  parameterType="java.util.Map">
	 select count(index_code) from 
	 
	 BUDG_WORK_DEPT_EXECUTE_YEAR
	 
	 where 
	 
		 group_id = #{group_id,jdbcType=INTEGER}
		 
		 AND hos_id = #{hos_id,jdbcType=INTEGER}
		 
		 AND copy_code = #{copy_code,jdbcType=VARCHAR}
	 
		AND index_code = #{index_code,jdbcType=VARCHAR}
		
		AND year = #{year,jdbcType=VARCHAR}
		 
	    AND dept_id = #{dept_id,jdbcType=INTEGER}
	 </select>
	 
	 <!-- 末级科目基本信息 -->
	  <select id="queryDeptData" resultMap="dataMap"  parameterType="java.util.List" >      
		SELECT 
		      dept_id,
		      dept_code,
		      dept_name
		from hos_dept
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND is_stop = 0
			<!-- AND is_last = 1 -->
	 </select>  
	 
	 <!-- 指标基本信息  -->
	 <select id="queryIndexData" resultMap="dataMap"  parameterType="java.util.Map" >      
		SELECT index_code , index_name from BUDG_INDEX_DICT
		where                     
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			AND is_stop = 0
	 </select>  
	 
</mapper>

