<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htcg.dao.calculation.HtcgDrugAdminCostMapper">
	<resultMap id="htcgDrugAdminCost" type="com.chd.hrp.htcg.entity.calculation.HtcgDrugAdminCost">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="period_type_code" column="period_type_code" />
		<result property="period_type_name" column="period_type_name" />
		<result property="period_code" column="period_code" />
		<result property="period_name" column="period_name" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="drug_type_code" column="drug_type_code" />
		<result property="drug_type_name" column="drug_type_name" />
		<result property="drug_code" column="drug_code" />
		<result property="drug_name" column="drug_name" />
		<result property="mode_code" column="mode_code" />
		<result property="unit_code" column="unit_code" />
		<result property="unit_name" column="unit_name" />
		<result property="fac_no" column="fac_no" />
		<result property="fac_id" column="fac_id" />
		<result property="fac_code" column="fac_code" />
		<result property="fac_name" column="fac_name" />
		<result property="amount" column="amount" />
		<result property="price" column="price" />
		<result property="income_money" column="income_money" />
		<result property="admin_cost_price" column="admin_cost_price" />
		<result property="admin_cost_money" column="admin_cost_money" />
		<result property="note" column="note" />
	</resultMap>
	
    <resultMap id="DeptDrugAdminCostMap" type="java.util.Map">
       <result property="dept_no" column="dept_no" />
       <result property="dept_id" column="dept_id" />
       <result property="dept_code" column="dept_code" />
       <result property="dept_name" column="dept_name" />
       <result property="admin_cost_money" column="admin_cost_money" />
    </resultMap>
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	
	
	<select id= "initHtcgDrugAdminCost" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
	       <![CDATA[
			{call pkg_htcg_cal.prc_htcg_drug_admin_cost_init(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
	
	</select>
	
	<select id= "collectHtcgDeptDrugAdminCost" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
	       <![CDATA[
			{call pkg_htcg_cal.prc_htcg_drug_admin_cost_col(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
	</select>
	
	<select id= "workloadHtcgDrugAdminCost" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
	       <![CDATA[
			{call pkg_htcg_cal.prc_htcg_drug_admin_cost_work(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{dept_no, mode=IN},
		        #{dept_id, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
	</select>
	
	<select id= "revenueHtcgDrugAdminCost" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
	       <![CDATA[
			{call pkg_htcg_cal.prc_htcg_drug_admin_cost_rev(
		        #{group_id, mode=IN},
		        #{hos_id, mode=IN},
		        #{copy_code, mode=IN},
		        #{scheme_code, mode=IN},
		        #{acc_year, mode=IN},
		        #{dept_no, mode=IN},
		        #{dept_id, mode=IN},
		        #{msg,mode=OUT,jdbcType=VARCHAR}
			)}
			]]>
	</select>
	
	<delete id="deleteBatchHtcgDrugAdminCost" parameterType="java.util.List">
		delete from htcg_drug_admin_cost where 
		<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
			           hos_id = #{item.hos_id}
				   and copy_code = #{item.copy_code}
				   and period_type_code = #{item.period_type_code}
				   and acc_year = #{item.acc_year}
				   and acc_month = #{item.acc_month}
				   and drug_code = #{item.drug_code}
		</foreach>
	</delete>

	 <select id ="queryHtcgDeptDrugAdminCost" resultMap="DeptDrugAdminCostMap" parameterType="java.util.Map" >
	       select hddac.dept_no,hddac.dept_id,hdd.dept_code,hdd.dept_name,sum(hddac.admin_cost_money) admin_cost_money
				from htcg_dept_drug_admin_cost hddac
				left join hos_dept_dict hdd
				on hdd.group_id = hddac.group_id
				and hdd.hos_id = hddac.hos_id
				and hdd.dept_no = hddac.dept_no
				and hdd.dept_id =  hddac.dept_id
				where hddac.group_id = #{group_id}
				and hddac.hos_id = #{hos_id}
				and hddac.acc_year = #{acc_year}
				and hddac.dept_no = #{dept_no}
				and hddac.dept_id = #{dept_id}
				group by hddac.dept_no,hddac.dept_id,hdd.dept_code,hdd.dept_name
	    </select>
	    
	
	<select id="queryHtcgDrugAdminCost" parameterType="java.util.Map" resultMap="htcgDrugAdminCost">
	                    select hdac.group_id,
						       hdac.hos_id,
						       hdac.copy_code,
						       hdac.period_type_code,
							   hpt.period_type_name,
							   hpd.period_code,
							   hpd.period_name,
						       hdac.acc_year,
						       hdac.acc_month,
							   hdd.drug_type_code,
							   hdtd.drug_type_name,
						       hdac.drug_code,
							   hdd.drug_name,
							   hdd.mode_code,
							   hdd.unit_code,
							   hu.unit_name,
							   hfd.fac_no,
							   hfd.fac_id,
							   hfd.fac_code,
							   hfd.fac_name,
						       hdac.amount,
						       hdac.price,
						       hdac.income_money,
						       hdac.admin_cost_price,
						       hdac.admin_cost_money,
						       hdac.note
						  from htcg_drug_admin_cost hdac
							left join htcg_period_type hpt
							on hdac.period_type_code = hpt.period_type_code
							left join htcg_period_dict hpd
							on hpd.period_type_code = hdac.period_type_code
							and hpd.period_code = hdac.acc_month
							left join htcg_drug_dict hdd
							on hdac.group_id = hdd.group_id
							and hdac.hos_id = hdd.hos_id
							and hdac.copy_code = hdd.copy_code
							and hdac.drug_code = hdd.drug_code
							left join htcg_drug_type_dict hdtd
							on hdtd.group_id = hdd.group_id
							and hdtd.hos_id = hdd.hos_id
							and hdtd.copy_code = hdd.copy_code
							and hdtd.drug_type_code = hdd.drug_type_code
							left join hos_unit hu
							on hu.group_id = hdd.group_id
							and hu.hos_id = hdd.hos_id
							and hu.unit_code = hdd.unit_code
							left join hos_fac_dict hfd
							on hfd.group_id = hdd.group_id
							and hfd.hos_id = hdd.hos_id
							and hfd.fac_no = hdd.fac_no
							and hfd.fac_id = hdd.fac_id
							and hfd.is_stop =  0 
					<where>  hdac.group_id = #{group_id}
						and hdac.hos_id = #{hos_id}
						and hdac.copy_code = #{copy_code}
						<if test="acc_year != null and acc_year != ''">
							and hdac.acc_year = #{acc_year}
						</if>
						<if test="period_type_code != null and period_type_code != ''">
							and hdac.period_type_code = #{period_type_code}
						</if>
						<if test="period_code != null and period_code != ''">
							and hpd.period_code = #{period_code}
						</if>
					</where>
	         
	</select>

</mapper>

