<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.ass.dao.tendnotify.AssTendNotifyMapper">

	<resultMap id="TendNotifySelect" type="java.util.Map">
		<result property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>

	<resultMap id="assTendFile" type="java.util.Map">
		<result column="group_id" property="group_id" />
		<result column="hos_id" property="hos_id" />
		<result column="copy_code" property="copy_code" />
		<result column="bid_id" property="bid_id" />
		<result column="file_path" property="file_path" />
		<result column="file_code" property="file_code" />
		<result column="file_name" property="file_name" />
		<result column="file_type" property="file_type" />
	</resultMap>

	<resultMap type="java.util.Map" id="queryTendMain">
		<result column="group_id" property="group_id" />
		<result column="hos_id" property="hos_id" />
		<result column="copy_code" property="copy_code" />
		<result column="bid_id" property="bid_id" />
		<result column="bid_code" property="bid_code" />
		<result column="bid_method" property="bid_method" />
		<result column="bid_id" property="bid_id" />
		<result column="bid_tenderee" property="bid_tenderee" />
		<result column="bid_tenderaddress" property="bid_tenderaddress" />
		<result column="bid_phone" property="bid_phone" />
		<result column="bid_openplace" property="bid_openplace" />
		<result column="bid_value" property="bid_value" />
		<result column="bid_purchasemode" property="bid_purchasemode" />
		<result column="bid_purstart" property="bid_purstart" />
		<result column="bid_purend" property="bid_purend" />
		<result column="bid_puraddr" property="bid_puraddr" />
		<result column="bid_bond" property="bid_bond" />
		<result column="bid_agent" property="bid_agent" />
		<result column="bid_agentphone" property="bid_agentphone" />
		<result column="bid_agentfox" property="bid_agentfox" />
		<result column="bid_agenter" property="bid_agenter" />
		<result column="bid_noticedate" property="bid_noticedate" />
		<result column="bid_notice" property="bid_notice" />
		<result column="bid_answerdate" property="bid_answerdate" />
		<result column="bid_end" property="bid_end" />
		<result column="bid_addr" property="bid_addr" />
		<result column="bid_condition" property="bid_condition" />
		<result column="bid_ylwcode" property="bid_ylwcode" />
		<result column="bid_filedr" property="bid_filedr" />
		<result column="bid_start" property="bid_start" />
		<result column="bid_committee" property="bid_committee" />
		<result column="ven_id" property="ven_id" />
		<result column="ven_no" property="ven_no" />
		<result column="bid_calibratedate" property="bid_calibratedate" />
		<result column="bid_winflag" property="bid_winflag" />
		<result column="bid_winfiledr" property="bid_winfiledr" />
		<result column="bid_maker" property="bid_maker" />
		<result column="bid_makertime" property="bid_makertime" />
		<result column="bid_checkdate" property="bid_checkdate" />
		<result column="bid_state" property="bid_state" />
		<result column="bid_other1" property="bid_other1" />
		<result column="bid_other2" property="bid_other2" />
		<result column="bid_other3" property="bid_other3" />
		<result column="bid_other4" property="bid_other4" />

		<result column="sup_name" property="sup_name" />
	</resultMap>

	<resultMap type="java.util.Map" id="queryTendDetail">
		<result column="group_id" property="group_id" />
		<result column="hos_id" property="hos_id" />
		<result column="copy_code" property="copy_code" />
		<result column="bid_id" property="bid_id" />
		<result column="detail_id" property="detail_id" />
		<result column="bidd_price" property="bidd_price" />
		<result column="bidd_no" property="bidd_no" />
		<result column="bidd_bidcode" property="bidd_bidcode" />
		<result column="ass_no" property="ass_no" />
		<result column="ass_id" property="ass_id" />
		<result column="ass_name" property="ass_name" />
		<result column="ass_model" property="ass_model" />
		<result column="ass_spec" property="ass_spec" />
		<result column="ass_brand" property="ass_brand" />
		<result column="bidd_value" property="bidd_value" />
		<result column="bidd_dept" property="bidd_dept" />
		<result column="bidd_deptname" property="bidd_deptname" />
		<result column="bidd_usedept" property="bidd_usedept" />
		<result column="bidd_usedeptname" property="bidd_usedeptname" />
		<result column="prj_name" property="prj_name" />
		<result column="prj_desc" property="prj_desc" />
		<result column="prj_contactor" property="prj_contactor" />
		<result column="prj_fox" property="prj_fox" />
		<result column="fac_name" property="fac_name" />
		<result column="bidd_winvalue" property="bidd_winvalue" />
		<result column="bidd_remark" property="bidd_remark" />
		<result column="bidd_budgno" property="bidd_budgno" />
		<result column="bidd_budgprice" property="bidd_budgprice" />
		<result column="bidd_budgreachdate"
			property="bidd_budgreachdate" />
		<result column="bidd_budgfunction" property="bidd_budgfunction" />
		<result column="bidd_budgevaluation"
			property="bidd_budgevaluation" />
		<result column="bidd_other1" property="bidd_other1" />
		<result column="bidd_other2" property="bidd_other2" />
		<result column="bidd_other3" property="bidd_other3" />
	</resultMap>

	<select id="queryAssTendFileSequence"
		resultType="java.lang.Long">
		select ASS_TEND_FILE_SEQ.nextval val from dual
	</select>

	<select id="queryAssTendNotifyMain"
		parameterType="java.util.Map" resultMap="queryTendMain">
		select
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.bid_id,
		a.bid_code,
		a.bid_method,
		a.bid_tenderee,
		a.bid_tenderaddress,
		a.bid_phone,
		a.bid_openplace,
		a.bid_value,
		a.bid_purchasemode,
		a.bid_purstart,
		a.bid_purend,
		a.bid_puraddr,
		a.bid_bond,
		a.bid_agent,
		a.bid_agentphone,
		a.bid_agentfox,
		a.bid_agenter,
		a.bid_noticedate,
		a.bid_notice,
		a.bid_answerdate,
		a.bid_end, bid_addr,
		a.bid_condition,
		a.bid_ylwcode,
		a.bid_filedr,
		a.bid_start,
		a.bid_committee,
		a.ven_id,
		a.ven_no,
		a.bid_calibratedate,
		a.bid_winflag,
		a.bid_winfiledr,
		a.bid_maker,
		a.bid_makertime,
		a.bid_checkdate,
		a.bid_state,
		a.bid_other1,
		a.bid_other2,
		a.bid_other3,
		a.bid_other4,
		s.sup_name
		from ass_tend_main a
		left join hos_sup_dict s
		on a.ven_id =
		s.sup_id
		and a.group_id =
		s.group_id
		and a.hos_id = s.hos_id
		<where>
			<if test="group_id != null and group_id != ''">
				AND a.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND a.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND a.copy_code = #{copy_code}
			</if>
			<if test="bid_code != null and bid_code != ''">
				AND a.bid_code like '%${bid_code}%'
			</if>
			<if test="bid_makertime != null and bid_makertime != ''">
				AND a.bid_makertime =
				to_date(#{bid_makertime},'yyyy-MM-dd')
			</if>
			<if test="bid_method != null and bid_method != ''">
				AND a.bid_method = #{bid_method}
			</if>
			<if test="ven_id != null and ven_id != ''">
				AND a.ven_id = #{ven_id}
			</if>
			<if test="bid_ylwcode != null and bid_ylwcode != ''">
				AND a.bid_ylwcode like '%${bid_ylwcode}%'
			</if>
			<if test="bid_state != null and bid_state != ''">
				AND a.bid_state = #{bid_state}
			</if>
		</where>
		order by a.bid_id
	</select>
	<insert id="addAssTendFile" parameterType="java.util.Map">
		insert into ass_tend_file(
		<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
				group_id
				,
			</if>
			<if test="hos_id != null and hos_id != ''">
				hos_id
				,
			</if>
			<if test="copy_code != null and copy_code != ''">
				copy_code
				,
			</if>
			<if test="file_code != null and file_code != ''">
				file_code
				,
			</if>
			<if test="bid_id != null and bid_id != ''">
				bid_id
				,
			</if>
			<if test="file_path != null and file_path != ''">
				file_path
				,
			</if>
			<if test="file_name != null and file_name != ''">
				file_name
				,
			</if>
			<if test="file_type != null and file_type != ''">
				file_type
			</if>
		</trim>
		)values(
		<trim suffix="" suffixOverrides=",">
			<if test="group_id != null and group_id != ''">
				#{group_id,jdbcType=INTEGER},
			</if>
			<if test="hos_id != null and hos_id != ''">
				#{hos_id,jdbcType=INTEGER},
			</if>
			<if test="copy_code != null and copy_code != ''">
				#{copy_code,jdbcType=VARCHAR},
			</if>
			<if test="file_code != null and file_code != ''">
				#{file_code,jdbcType=VARCHAR},
			</if>
			<if test="bid_id != null and bid_id != ''">
				#{bid_id,jdbcType=INTEGER},
			</if>
			<if test="file_path != null and file_path != ''">
				#{file_path,jdbcType=VARCHAR},
			</if>
			<if test="file_name != null and file_name != ''">
				#{file_name,jdbcType=VARCHAR},
			</if>
			<if test="file_type != null and file_type != ''">
				#{file_type,jdbcType=VARCHAR}
			</if>
		</trim>
		)
	</insert>

	<update id="updateAssTendMain" parameterType="java.util.Map">
		update ass_tend_main set
		<if test="bid_winfiledr != null and bid_winfiledr != ''">
			bid_winfiledr = #{bid_winfiledr,jdbcType=VARCHAR},
		</if>
		<if test="bid_filedr != null and bid_filedr != ''">
			bid_filedr = #{bid_filedr,jdbcType=VARCHAR}
		</if>
		<where>
			<if test="group_id != null and group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="bid_id != null and bid_id != ''">
				AND bid_id = #{bid_id,jdbcType=INTEGER}
			</if>
		</where>
	</update>

	<select id="queryAssTendFile" parameterType="java.util.Map"
		resultMap="assTendFile">
		select
		group_id,
		hos_id,
		copy_code,
		bid_id,
		file_path,
		file_code,
		file_name,
		file_type
		from ass_tend_file
		<where>
			<if test="group_id != null and group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="bid_id != null and bid_id != ''">
				AND bid_id = #{bid_id,jdbcType=INTEGER}
			</if>
			<if test="file_type != null and file_type != ''">
				AND file_type = #{file_type,jdbcType=VARCHAR}
			</if>
			<if test="file_name != null and file_name != ''">
				AND file_name = #{file_name,jdbcType=VARCHAR}
			</if>
			<if test="file_path != null and file_path != ''">
				AND file_path = #{file_path,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<delete id="deleteTendFile" parameterType="java.util.Map">
		delete from ass_tend_file 
		<where>
			<if test="group_id != null and group_id != ''">
				group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="bid_id != null and bid_id != ''">
				AND bid_id = #{bid_id,jdbcType=INTEGER}
			</if>
			<if test="file_type != null and file_type != ''">
				AND file_type = #{file_type,jdbcType=VARCHAR}
			</if>
			<if test="file_name != null and file_name != ''">
				AND file_name = #{file_name,jdbcType=VARCHAR}
			</if>
			<if test="file_path != null and file_path != ''">
				AND file_path = #{file_path,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>
</mapper>