<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.base.budgsubj.BudgIncomeSubjMapper">
	
	<resultMap id="budgIncomeSubj" type="com.chd.hrp.budg.entity.BudgIncomeSubj">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	<result property="subj_name_all" column="subj_name_all"/>
	<result property="super_code" column="super_code"/>
	<result property="super_name" column="super_name"/>
	<result property="subj_level" column="subj_level"/>
	<result property="type_code" column="type_code"/>
	<result property="type_name" column="type_name"/>
	<!-- <result property="subj_nature" column="subj_nature"/> -->
	<!-- <result property="subj_nature_name" column="subj_nature_name"/> -->
	<result property="is_last" column="is_last"/>
	<result property="is_caarried" column="is_caarried"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	</resultMap>
	
	<resultMap id="budgIncomeSubjMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	<result property="subj_name_all" column="subj_name_all"/>
	<result property="super_code" column="super_code"/>
	<result property="super_name" column="super_name"/>
	<result property="subj_level" column="subj_level"/>
	<result property="type_code" column="type_code"/>
	<result property="type_name" column="type_name"/>
<!-- 	<result property="subj_nature" column="subj_nature"/> -->
	<!-- <result property="subj_nature_name" column="subj_nature_name"/> -->
	<result property="is_last" column="is_last"/>
	<result property="last" column="last"/>
	<result property="is_caarried" column="is_caarried"/>
	<result property="caarried" column="caarried"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="subj_type" column="subj_type"/>
	</resultMap>
	
	<insert id="addBudgIncomeSubj" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_INCOME_SUBJ (
		group_id
		,
		hos_id
		,
		copy_code
		,
		budg_year
		,
		subj_code
		,
		subj_name
		,
		subj_name_all
		,
		super_code
		,
		subj_level
		,
		<!-- subj_nature
		, -->
		is_last
		,
		is_caarried
		,
		spell_code
		,
		wbx_code
		,
		type_code
		
		) VALUES (
			#{group_id}		,
			#{hos_id}		,
			#{copy_code}		,
			#{budg_year}		,
			#{subj_code}		,
			#{subj_name}		,
			#{subj_name_all}		,
			#{super_code}		,
			#{subj_level}		,
			<!-- #{subj_nature}		, -->
			#{is_last}		,
			#{is_caarried}	,
			#{spell_code}		,
			#{wbx_code}		,
			#{type_code}	
		)
	
	</insert>
	<insert id="addBatchBudgIncomeSubj" parameterType="java.util.List" >
	<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
	INSERT INTO BUDG_INCOME_SUBJ (
				group_id
		,
		hos_id
		,
		copy_code
		,
		budg_year
		,
		subj_code
		,
		subj_name
		,
		subj_name_all
		,
		super_code
		,
		subj_level
		,
		<!-- subj_nature
		, -->
		is_last
		,
		is_caarried
		,
		spell_code
		,
		wbx_code
		
			<if test="item.type_code != null and item.type_code != ''">
					,type_code
				</if>
			) VALUES (
				#{item.group_id}		,
				#{item.hos_id}			,
				#{item.copy_code}		,
				#{item.budg_year}		,
				#{item.subj_code}		,
				#{item.subj_name}		,
				
				<if test="item.subj_name_all != null and item.subj_name_all != '' ">
				#{item.subj_name_all}			,
				</if>
				#{item.super_code}		,
				#{item.subj_level}		,
				<!-- #{item.subj_nature}		, -->
				#{item.is_last}			,
				#{item.is_caarried}	,
				#{item.spell_code}	,
				#{item.wbx_code}
				<if test="item.type_code != null and item.type_code != '' ">
				, #{item.type_code}	
				</if>
			)
	
	
	<!-- 
		INSERT INTO BUDG_INCOME_SUBJ (
		group_id
		,
		hos_id
		,
		copy_code
		,
		budg_year
		,
		subj_code
		,
		subj_name
		,
		subj_name_all
		,
		super_code
		,
		subj_level
		,
		subj_nature
		,
		is_last
		,
		is_caarried
		,
		spell_code
		,
		wbx_code
		
			<if test="item.type_code!= null">
					,type_code
				</if>
		) 
	VALUES (
			 		
				#{item.group_id}		,
				#{item.hos_id}			,
				#{item.copy_code}		,
				#{item.budg_year}		,
				#{item.subj_code}		,
				#{item.subj_name}		,
				
				<if test="item.subj_name_all != null and item.subj_name_all != '' ">
				#{item.subj_name_all}			,
				</if>
				#{item.super_code}		,
				#{item.subj_level}		,
				#{item.subj_nature}		,
				#{item.is_last}			,
				#{item.is_caarried}	,
				#{item.spell_code}		,
				#{item.wbx_code},
				<if test="item.type_code != null and item.type_code != '' ">
				#{item.type_code}	
				</if>
				)		 -->
		</foreach>
	</insert>
	
	<update id="updateBudgIncomeSubj" parameterType="java.util.Map">
	
		UPDATE BUDG_INCOME_SUBJ SET
		subj_name = #{subj_name}
		,
		subj_name_all = #{subj_name_all}
		,
		super_code = #{super_code}
		,
		subj_level = #{subj_level}
		,
		<!-- subj_nature = #{subj_nature}
		, -->
		is_last = #{is_last}
		,
		<if test="type_code != null and type_code!= '' ">
		type_code = #{type_code}
		,
		</if>
		is_caarried = #{is_caarried}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		
		WHERE 
			group_id = #{group_id}
		 	and hos_id = #{hos_id}
			and copy_code = #{copy_code}
			and budg_year = #{budg_year}
			and subj_code = #{subj_code}
		
	
	</update>
	<update id="budgBathUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		UPDATE BUDG_INCOME_SUBJ SET
		
			type_code = #{item.type_code}
			WHERE 
			group_id = #{item.group_id}
		 	and hos_id = #{item.hos_id}
			and copy_code = #{item.copy_code}
			and budg_year = #{item.budg_year}
			and subj_code like #{item.subj_code} || '%'
			</foreach>
		</update>
	
	<update id="updateBatchBudgIncomeSubjLast" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_INCOME_SUBJ SET is_last = 1
			WHERE 
				group_id = #{item.group_id}
			 	and hos_id = #{item.hos_id}
				and copy_code = #{item.copy_code}
				and budg_year = #{item.budg_year}
				and subj_code = #{item.super_code} 
                and not exists(
                    select 1 from BUDG_INCOME_SUBJ bis
                    where bis.group_id = #{item.group_id}
                    and bis.hos_id = #{item.hos_id}
                    and bis.copy_code = #{item.copy_code}
                    and bis.budg_year = #{item.budg_year} 
                    and bis.super_code= #{item.super_code} 
                )
		</foreach>
	</update>
	<update id="updateBatchBudgIncomeSubj" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_INCOME_SUBJ SET
			subj_name = #{item.subj_name}
			,
			subj_name_all = #{item.subj_name_all}
			,
			super_code = #{item.super_code}
			,
			subj_level = #{item.subj_level}
			,
			<!-- subj_nature = #{item.subj_nature}
			, -->
			is_last = #{item.is_last}
			,
			type_code= #{item.type_code}
			,
			is_caarried = #{item.is_caarried}
			,
			spell_code = #{item.spell_code}
			,
			wbx_code = #{item.wbx_code}
			
			WHERE 
				group_id = #{item.group_id}
			 	and hos_id = #{item.hos_id}
				and copy_code = #{item.copy_code}
				and budg_year = #{item.budg_year}
				and subj_code = #{item.subj_code}
		</foreach>
	</update>
	
	<delete id="deleteBudgIncomeSubj" parameterType="java.util.Map">
	
		DELETE FROM BUDG_INCOME_SUBJ 
		WHERE
			group_id = #{group_id}   
			and hos_id = #{hos_id}   
			and copy_code = #{copy_code}   
			and budg_year = #{budg_year} 
			<if test="subj_code != null and subj_code != '' ">
			and subj_code = #{subj_code} 
			</if>  
			
	
	</delete>
	<delete id="deleteBatchBudgIncomeSubj" parameterType="java.util.List">
		DELETE FROM BUDG_INCOME_SUBJ WHERE
			<foreach collection="list" index="index" item="item" open="" separator="or" close="">
                (
				group_id = #{item.group_id}
				and hos_id = #{item.hos_id}
				and copy_code = #{item.copy_code}
				and budg_year = #{item.budg_year}
				<if test="item.subj_code != null and item.subj_code != ''">
				and subj_code = #{item.subj_code}
				</if>
                )
			</foreach>
	
	</delete>
	<select id="queryBudgIncomeSubj" parameterType="java.util.Map" resultMap="budgIncomeSubjMap" >
	
		SELECT 
		bis.group_id,
		bis.hos_id,
		bis.copy_code,
		bis.budg_year,
		bis.subj_code,
		bis.subj_name,
		bis.subj_name_all,
		bis.super_code,
		bis.subj_level,
		bis.is_last,
		bis.type_code,
		bsd.value_name type_name,
		CASE bis.is_last  WHEN 0 THEN '否' ELSE '是' END last ,
		bis.is_caarried,
		CASE bis.is_caarried  WHEN 0 THEN '否' ELSE '是' END caarried ,
		bis.spell_code,
		bis.wbx_code
		FROM BUDG_INCOME_SUBJ bis 
		left join BUDG_SYS_DICT bsd on bis.type_code=bsd.value_code and bsd.f_code='BUDG_IN_SUBJ_TYPE'
		WHERE                     
			bis.group_id = #{group_id}
			AND bis.hos_id = #{hos_id}
			AND bis.copy_code = #{copy_code}
			<if test="budg_year != null and budg_year != ''">
			AND bis.budg_year = #{budg_year}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND (bis.subj_code like '${subj_code}%' or
				bis.subj_name like '%${subj_code}%' or
				bis.spell_code like '%${subj_code}%' or 
				bis.wbx_code like '%${subj_code}%'	)
			</if>
			<if test="subj_level != null and subj_level != ''">
			AND bis.subj_level = #{subj_level}
			</if>
			<if test="type_code != null and type_code != ''">
			AND bis.type_code = #{type_code}
			</if>
			
			<if test="is_last != null and is_last != ''">
			AND bis.is_last = #{is_last}
			</if>
		order by bis.subj_code asc
	</select>
	
<!-- 	继承功能  查询上年数据信息  并将年度更换 -->
	<select id="queryLastYearData" parameterType="java.util.Map" resultMap="budgIncomeSubjMap" >
		SELECT 
			bis.group_id,
			bis.hos_id,
			bis.copy_code,
			bis.budg_year+1 budg_year,
			bis.subj_code,
			bis.subj_name,
			bis.subj_name_all,
			bis.super_code,
			bis.subj_level,
			bis.is_last,
			bis.type_code,
		bsd.value_name type_name,
			bis.is_caarried,
			bis.spell_code,
			bis.wbx_code
		FROM BUDG_INCOME_SUBJ bis 
				left join BUDG_SYS_DICT bsd on bis.type_code=bsd.value_code and bsd.f_code='BUDG_IN_SUBJ_TYPE'
		WHERE                     
			bis.group_id = #{group_id}
			AND bis.hos_id = #{hos_id}
			AND bis.copy_code = #{copy_code}
			AND bis.budg_year = #{budg_year}
	</select>
	
<!-- 	继承功能  查询当前年度是否存在数据 -->
	<select id="queryDataExist" parameterType="java.util.Map" resultType="java.lang.Integer" >
		SELECT 
			count(0)
		FROM BUDG_INCOME_SUBJ bis 
		WHERE                     
			bis.group_id = #{group_id}
			AND bis.hos_id = #{hos_id}
			AND bis.copy_code = #{copy_code}
			AND bis.budg_year = #{budg_year}
	</select>
	
	<select id="queryBudgIncomeSubjByCode" resultType="com.chd.hrp.budg.entity.BudgIncomeSubj" parameterType="string" >
	
		SELECT 
		bis.group_id,
		bis.hos_id,
		bis.copy_code,
		bis.budg_year,
		bis.subj_code,
		bis.subj_name,
		bis.subj_name_all,
		bis.super_code,
		b.subj_name_all super_name ,
		bis.subj_level,
		bis.is_last,
		bis.type_code,
			bsd.value_name type_name,
		bis.is_caarried,
		bis.spell_code,
		bis.wbx_code
		FROM BUDG_INCOME_SUBJ bis 
		left join BUDG_INCOME_SUBJ b
			on
				bis.group_id = b.group_id
				and bis.hos_id = b.hos_id
				and bis.copy_code = b.copy_code
				and bis.budg_year = b.budg_year
				and bis.super_code = b.subj_code
			left join BUDG_SYS_DICT bsd on bis.type_code=bsd.value_code and bsd.f_code='BUDG_IN_SUBJ_TYPE'
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND bis.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND bis.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND bis.copy_code = #{copy_code}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND bis.budg_year = #{budg_year}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND bis.subj_code = #{subj_code}
			</if>
		</where>
	</select>
	<!-- 根据 输入的 科目编码 查询其上级科目编码、科目全称（上级科目编码不存在则不允许添加、修改） -->
	<select id="qureySurp_code" resultType="com.chd.hrp.budg.entity.BudgIncomeSubj" parameterType="java.util.Map">
		select subj_code ,subj_name_all
		
		from  BUDG_INCOME_SUBJ
		
		<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != '' ">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != '' ">
				and copy_code = #{copy_code}
			</if>
			<if test="budg_year != null  and budg_year != '' ">
				and budg_year = #{budg_year}
			</if>
			<if test=" super_code != null  and super_code != '' ">
				and subj_code = #{super_code}
			</if>
		</where>
	
	</select>
	
	<update id="updateIsLast" parameterType="java.util.Map"> 
	
	UPDATE BUDG_INCOME_SUBJ SET 	is_last = #{is_last}
	<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != '' ">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != '' ">
				and copy_code = #{copy_code}
			</if>
			<if test="budg_year != null  and budg_year != '' ">
				and budg_year = #{budg_year}
			</if>
			<if test=" subj_code != null  and subj_code != '' ">
				and subj_code = #{subj_code}
			</if>
		</where>
	
	</update>
	<update id="updateBudgIncomeSubjByCode" parameterType="java.util.Map">
	
		UPDATE BUDG_INCOME_SUBJ SET
		subj_code = #{subj_code}
		,
		subj_name = #{subj_name}
		,
		subj_name_all = #{subj_name_all}
		,
		super_code = #{super_code}
		,
		subj_level = #{subj_level}
		,
		<!-- subj_nature = #{subj_nature}
		, -->
		is_last = #{is_last}
		,
		is_caarried = #{is_caarried}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null  and hos_id != '' ">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null  and copy_code != '' ">
				and copy_code = #{copy_code}
			</if>
			<if test="budg_yearOld != null  and budg_yearOld != '' ">
				and budg_year = #{budg_yearOld}
			</if>
			<if test=" subj_codeOld != null  and subj_codeOld != '' ">
				and subj_code = #{subj_codeOld}
			</if>
		</where>
	</update>
	 <!-- 查询科目是否已占用 -->
	<select id="queryBudgSubjKind"  resultType="java.lang.Integer" parameterType="java.util.Map" >
	
		SELECT count(budg_subj_code)	FROM BUDG_SUBJ_CHARGE_KIND 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND budg_subj_code = #{subj_code}
			</if>
	</where>
	</select>
	<select id="querySup" resultType="java.util.Map" parameterType="java.util.Map">
	select subj_code  from BUDG_INCOME_SUBJ  
	<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year}
			</if>
			<if test="super_code != null and super_code != ''">
			AND subj_code = #{super_code}
			</if>
			</where>
	</select>
	<select id="queryAccTypeCodeByCode" resultType="java.util.Map" parameterType="java.util.Map">
	select   VALUE_CODE id ,   VALUE_NAME text from  BUDG_SYS_DICT 
  where F_CODE='BUDG_IN_SUBJ_TYPE'  and VALUE_CODE=#{type_code}
	</select>
	<!-- 查询科目名称是否已占用 -->
	<select id="queryNameExist" resultType="java.lang.Integer" parameterType="java.util.Map" >
	
		SELECT count(subj_name)	FROM BUDG_INCOME_SUBJ 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND subj_code != #{subj_code}
			</if>
			<if test="subj_name != null and subj_name != ''">
			AND subj_name = #{subj_name}
			</if>
			<if test="subj_name_all != null and subj_name_all != ''">
			AND subj_name_all = #{subj_name_all}
			</if>
		</where>
	</select>
	<select id="prcUpdateBudgIncomeSubjALL" statementType="CALLABLE" parameterType="java.util.Map" >
	
	<![CDATA[ {call PKG_COMM.prc_UpdateBudgIncomeSubjALL(
			#{group_id,jdbcType=INTEGER, mode=IN},  
	        #{hos_id,jdbcType=INTEGER, mode=IN},  
	        #{copy_code,jdbcType=VARCHAR, mode=IN},  
	        #{acc_year,jdbcType=VARCHAR, mode=IN},
	        #{prm_AppCode,jdbcType=INTEGER,mode=OUT},
	        #{prm_ErrTxt,jdbcType=VARCHAR,mode=OUT}
        )} 
		 ]]>
	
	</select>
</mapper>

