<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.mat.dao.initial.MatInitInMapper">
	
	<resultMap id="matInMain" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="in_id" column="in_id"/>
		<result property="in_no" column="in_no"/>
		<result property="year" column="year"/>
		<result property="month" column="month"/>
		<result property="bus_type_code" column="bus_type_code"/>
		<result property="bus_type_name" column="bus_type_name"/>
		<result property="sup_no" column="sup_no"/>
		<result property="sup_id" column="sup_id"/>
		<result property="sup_name" column="sup_name"/>
		<result property="store_id" column="store_id"/>
		<result property="store_no" column="store_no"/>
		<result property="store_name" column="store_name"/>
		<result property="brief" column="brief"/>
		<result property="stocker" column="stocker"/>
		<result property="stock_type_code" column="stock_type_code"/>
		<result property="is_org" column="is_org"/>
		<result property="maker" column="maker"/>
		<result property="maker_name" column="maker_name"/>
		<result property="in_date" column="in_date"/>
		<result property="checker" column="checker"/>
		<result property="checker_name" column="checker_name"/>
		<result property="check_date" column="check_date"/>
		<result property="confirmer" column="confirmer"/>
		<result property="confirmer_name" column="confirmer_name"/>
		<result property="confirm_date" column="confirm_date"/>
		<result property="state" column="state"/>
		<result property="state_name" column="state_name"/>
		<result property="is_pay" column="is_pay"/>
		<result property="pay_date" column="pay_date"/>
		<result property="invoice_no" column="invoice_no"/>
		<result property="pay_money" column="pay_money"/>
		<result property="is_pay_all" column="is_pay_all"/>
		<result property="company" column="company"/>
		<result property="ctrl_type_code" column="ctrl_type_code"/>
		<result property="check_code" column="check_code"/>
		<result property="protocol_code" column="protocol_code"/>
		<result property="dept_id" column="dept_id"/>
		<result property="dept_name" column="dept_name"/>
		<result property="amount_money" column="amount_money"/>
	</resultMap>
	
	<resultMap id="matInDetail" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code"/>
		<result property="in_id" column="in_id"/>
		<result property="in_detail_id" column="in_detail_id"/>
		<result property="inv_id" column="inv_id"/>
		<result property="inv_no" column="inv_no"/>
		<result property="inv_name" column="inv_name"/>
		<result property="inv_model" column="inv_model"/>
		<result property="unit_code" column="unit_code"/>
		<result property="unit_name" column="unit_name"/>
		<result property="batch_no" column="batch_no"/>
		<result property="price" column="price"/>
		<result property="amount" column="amount"/>
		<result property="amount_money" column="amount_money"/>
		<result property="sell_price" column="sell_price"/>
		<result property="sell_money" column="sell_money"/>
		<result property="pack_unit" column="pack_unit"/>
		<result property="num_exchange_rate" column="num_exchange_rate"/>
		<result property="pack_price" column="pack_price"/>
		<result property="num" column="num"/>
		<result property="bar_code" column="bar_code"/>
		<result property="is_per_bar" column="is_per_bar"/>
		<result property="sn" column="sn"/>
		<result property="inva_date" column="inva_date"/>
		<result property="disinfect_date" column="disinfect_date"/>
		<result property="location_id" column="location_id"/>
		<result property="location_name" column="location_name"/>
		<result property="apply_dept_code" column="apply_dept_code"/>
		<result property="order_code" column="order_code"/>
		<result property="note" column="note"/>
	</resultMap>
	
	<select id="query" parameterType="java.util.Map" resultMap="matInMain" >
		SELECT 
			a.group_id, a.hos_id, a.copy_code, a.in_id, a.in_no, a.in_date, brief, a.store_id, a.store_no, c.store_name,
			a. bus_type_code, d.bus_type_name, a.maker, e.user_name as maker_name,  f.user_name as confirmer_name, a.confirm_date, 
			sum(b.amount_money) as amount_money, a.state, g.field_desc as state_name, a.sup_id, a.sup_no, h.sup_name
		FROM MAT_IN_MAIN a
		LEFT JOIN mat_in_detail b 
			on a.group_id = b.group_id
			and a.hos_id = b.hos_id
			and a.copy_code = b.copy_code
			and a.in_id = b.in_id
		LEFT JOIN hos_store_dict c
			on a.group_id = c.group_id
			and a.hos_id = c.hos_id
			and a.store_no = c.store_no
		LEFT JOIN mat_bus_type d
			on a.bus_type_code = d.bus_type_code
			and d.is_stop = 0
		LEFT JOIN sys_user e
			on a.group_id = e.group_id
			and a.hos_id = e.hos_id
			and a.maker = e.user_id
		LEFT JOIN sys_user f
			on a.group_id = f.group_id
			and a.hos_id = f.hos_id
			and a.confirmer = f.user_id
		LEFT JOIN mat_sys_list g
			on g.table_code = 'MAT_IN_MAIN'
			and g.field_code = 'STATE'
			and a.state = g.field_value
		LEFT JOIN hos_sup_dict h
			on a.group_id = h.group_id
			and a.hos_id = h.hos_id
			and a.sup_id = h.sup_id
			and a.sup_no = h.sup_no
		<where>
			a.group_id = #{group_id,jdbcType=INTEGER}
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			<if test="begin_date != null and begin_date != ''">
				AND a.in_date &gt;= #{begin_date,jdbcType=DATE}
			</if>
			<if test="end_date != null and end_date != ''">
				AND a.in_date &lt;= #{end_date,jdbcType=DATE}
			</if>
			<if test="store_id != null and store_id != ''">
				AND a.store_id = #{store_id,jdbcType=VARCHAR}
			</if>
			<if test="sup_id != null and sup_id != ''">
				AND a.sup_id = #{sup_id,jdbcType=VARCHAR}
			</if>
			<if test="state != null and state != ''">
				AND a.state = #{state,jdbcType=VARCHAR}
			</if>
			<if test="bus_type_code != null and bus_type_code != ''">
				AND a.bus_type_code = #{bus_type_code,jdbcType=VARCHAR}
			</if>
		</where>   
		group by a.group_id, a.hos_id, a.copy_code, a.in_id, a.in_no, a.in_date, brief, a.store_id, a.store_no, 
			c.store_name, a. bus_type_code, d.bus_type_name, a.maker, e.user_name, f.user_name,a.confirm_date,  
			a.state, g.field_desc, a.sup_id, a.sup_no, h.sup_name
		order by in_id
	</select>
	
	<!-- 导入所用查询所有的材料信息 -->
	<select id="queryInvListForImport" parameterType="java.util.Map" resultType="java.util.TreeMap" >
		SELECT 
			inv_id, inv_no, inv_code, inv_name, is_bar, is_quality, is_disinfect
		FROM mat_inv_dict
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=INTEGER}
			AND is_stop = 0 AND is_com = 0
	</select>
	
	<!-- 导入所用查询所有的材料信息 -->
	<select id="queryLocationListForImport" parameterType="java.util.Map" resultType="java.util.TreeMap" >
		SELECT 
			location_id, location_code, location_name
		FROM mat_location_dict
		WHERE group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND copy_code = #{copy_code,jdbcType=INTEGER}
			AND is_stop = 0
	</select>
	
	
	<!-- 入库主表模板打印 -->
	<select id="queryMatInPrintTemlateByMain" parameterType="java.util.Map" resultType="java.util.Map" >
		select a.IN_NO,b.BUS_TYPE_NAME,su.SUP_CODE,su.SUP_NAME,s.STORE_CODE,s.STORE_NAME,u1.user_name MAKER,
		to_char(a.IN_DATE, 'yyyy-MM-dd hh24:mi:ss') in_date,
		to_char(a.CHECK_DATE, 'yyyy-MM-dd hh24:mi:ss') check_date,
		u2.user_name CHECKER,u4.user_name CONFIRMER,
		to_char(a.CONFIRM_DATE, 'yyyy-MM-dd hh24:mi:ss') confirm_date,
		a.BRIEF,u3.user_name STOCKER,d1.dept_code APP_DEPT_CODE,d1.dept_name APP_DEPT_NAME,
		t.STOCK_TYPE_NAME,--采购类型
		p.PROJ_CODE,p.PROJ_NAME,--项目编码
		a.PROTOCOL_CODE,pt.PROTOCOL_NAME,--协议编号
		(
		select SUM(detail.AMOUNT_MONEY) from mat_in_detail detail
		where detail.in_id=a.in_id and detail.group_id=a.group_id and detail.hos_id=a.hos_id and detail.copy_code=a.copy_code
		) MONEY_SUM--合计金额
		from mat_in_main a 
		left join hos_proj_dict p on a.group_id=p.group_id and a.hos_id=p.hos_id and a.proj_id=p.proj_id and p.is_stop=0
		left join mat_stock_type t on a.group_id=t.group_id and a.hos_id=t.hos_id and a.copy_code=t.copy_code and a.stock_type_code=t.stock_type_code
		left join mat_bus_type b on a.BUS_TYPE_CODE=b.bus_type_code
		left join hos_store_dict s on a.group_id=s.group_id and a.hos_id=s.hos_id and a.store_id=s.store_id and a.store_no=s.store_no
		left join hos_sup_dict su on a.group_id=su.group_id and a.hos_id=su.hos_id and a.sup_id=su.sup_id and a.sup_no=su.sup_no
		left join sys_user u1 on a.group_id=u1.group_id and a.hos_id=u1.hos_id and a.MAKER=u1.user_id
		left join sys_user u2 on a.group_id=u2.group_id and a.hos_id=u2.hos_id and a.CHECKER=u2.user_id
		left join sys_user u3 on a.group_id=u3.group_id and a.hos_id=u3.hos_id and a.STOCKER=u3.user_id
		left join sys_user u4 on a.group_id=u4.group_id and a.hos_id=u4.hos_id and a.CONFIRMER=u4.user_id
		left join hos_dept_dict d1 on a.group_id=d1.group_id and a.hos_id=d1.hos_id and a.app_dept=d1.dept_id and d1.is_stop=0
		left join MAT_PROTOCOL_MAIN pt on a.group_id=pt.group_id and a.hos_id=pt.hos_id and a.copy_code=pt.copy_code and a.protocol_code=pt.protocol_code
		where a.group_id = #{group_id,jdbcType=NUMERIC}
			and a.hos_id = #{hos_id,jdbcType=NUMERIC}
			and a.copy_code = #{copy_code,jdbcType=VARCHAR}
			and a.in_id=#{in_id,jdbcType=NUMERIC}

	</select>
	<select id="queryMatInPrintTemlateByMainBatch" parameterType="java.util.Map" resultType="java.util.Map" >
		select a.in_id as id, a.IN_NO,b.BUS_TYPE_NAME,su.SUP_CODE,su.SUP_NAME,s.STORE_CODE,s.STORE_NAME,u1.user_name MAKER,
		to_char(a.IN_DATE, 'yyyy-MM-dd hh24:mi:ss') in_date,
		to_char(a.CHECK_DATE, 'yyyy-MM-dd hh24:mi:ss') check_date,
		u2.user_name CHECKER,u4.user_name CONFIRMER,
		to_char(a.CONFIRM_DATE, 'yyyy-MM-dd hh24:mi:ss') confirm_date,
		a.BRIEF,u3.user_name STOCKER,d1.dept_code APP_DEPT_CODE,d1.dept_name APP_DEPT_NAME,
		t.STOCK_TYPE_NAME,--采购类型
		p.PROJ_CODE,p.PROJ_NAME,--项目编码
		a.PROTOCOL_CODE,pt.PROTOCOL_NAME,--协议编号
		(
		select SUM(detail.AMOUNT_MONEY) from mat_in_detail detail
		where detail.in_id=a.in_id and detail.group_id=a.group_id and detail.hos_id=a.hos_id and detail.copy_code=a.copy_code
		) MONEY_SUM--合计金额
		from mat_in_main a 
		left join hos_proj_dict p on a.group_id=p.group_id and a.hos_id=p.hos_id and a.proj_id=p.proj_id and p.is_stop=0
		left join mat_stock_type t on a.group_id=t.group_id and a.hos_id=t.hos_id and a.copy_code=t.copy_code and a.stock_type_code=t.stock_type_code
		left join mat_bus_type b on a.BUS_TYPE_CODE=b.bus_type_code
		left join hos_store_dict s on a.group_id=s.group_id and a.hos_id=s.hos_id and a.store_id=s.store_id and a.store_no=s.store_no
		left join hos_sup_dict su on a.group_id=su.group_id and a.hos_id=su.hos_id and a.sup_id=su.sup_id and a.sup_no=su.sup_no
		left join sys_user u1 on a.group_id=u1.group_id and a.hos_id=u1.hos_id and a.MAKER=u1.user_id
		left join sys_user u2 on a.group_id=u2.group_id and a.hos_id=u2.hos_id and a.CHECKER=u2.user_id
		left join sys_user u3 on a.group_id=u3.group_id and a.hos_id=u3.hos_id and a.STOCKER=u3.user_id
		left join sys_user u4 on a.group_id=u4.group_id and a.hos_id=u4.hos_id and a.CONFIRMER=u4.user_id
		left join hos_dept_dict d1 on a.group_id=d1.group_id and a.hos_id=d1.hos_id and a.app_dept=d1.dept_id and d1.is_stop=0
		left join MAT_PROTOCOL_MAIN pt on a.group_id=pt.group_id and a.hos_id=pt.hos_id and a.copy_code=pt.copy_code and a.protocol_code=pt.protocol_code
		where a.group_id = #{group_id,jdbcType=NUMERIC}
			and a.hos_id = #{hos_id,jdbcType=NUMERIC}
			and a.copy_code = #{copy_code,jdbcType=VARCHAR}
			and a.in_id in (${paraId})

	</select>
	
	<!-- 入库明细表模板打印 -->
	<select id="queryMatInPrintTemlateByDetail" parameterType="java.util.Map" resultType="java.util.Map" >
		select  d.in_id as id,i.INV_CODE,i.INV_NAME,i.INV_MODEL,u.UNIT_NAME unit_code ,d.PRICE,d.AMOUNT,d.AMOUNT_MONEY,d.ALLOT_MONEY,
		f.FAC_CODE FAC_CODE,f.FAC_NAME,d.NOTE,
		p.PACK_NAME,d.NUM_EXCHANGE,d.NUM,d.BATCH_SN,d.BATCH_NO,d.SN,d.BAR_CODE,
		to_char(d.INVA_DATE, 'yyyy-MM-dd') inva_date,
		ld.LOCATION_CODE,ld.LOCATION_NAME,
		to_char(d.DISINFECT_DATE, 'yyyy-MM-dd') disinfect_date,d.SALE_PRICE,d.SALE_MONEY,d.SELL_PRICE,
		d.SELL_MONEY,d.ALLOT_PRICE
		from 
		mat_in_detail d 
		left join mat_inv_dict i on d.group_id=i.group_id and d.hos_id=i.hos_id and d.copy_code=i.copy_code and d.inv_id=i.inv_id and d.inv_no=i.inv_no
		left JOIN mat_location_dict ld ON d.group_id = ld.group_id AND d.hos_id = ld.hos_id AND d.copy_code = ld.copy_code AND d.location_id = ld.location_id 
		left join hos_fac_dict f on d.group_id = f.group_id AND d.hos_id = f.hos_id and i.fac_id=f.fac_id and i.fac_no=f.fac_no
		left join hos_unit u on d.group_id=u.group_id and d.hos_id=u.hos_id and i.unit_code=u.unit_code
		left join hos_package p on d.group_id=p.group_id and d.hos_id=p.hos_id and d.pack_code=p.pack_code
		where d.group_id = #{group_id,jdbcType=NUMERIC}
			and d.hos_id = #{hos_id,jdbcType=NUMERIC}
			and d.copy_code = #{copy_code,jdbcType=VARCHAR}
	     <if test="p_num ==1">
				and d.in_id in (${paraId})
				
			</if>
			<if test="p_num ==0">
				and d.in_id=#{in_id,jdbcType=NUMERIC}
			</if>	
	</select>
	
</mapper>

