.x-date-mp td {
  padding: 2px;
  font: normal 11px "Microsoft Yahei", helvetica, tahoma, sans-serif;
}

.x-panel-reset .x-panel-body samp {
  font-family: "Microsoft Yahei";
}
.ext-el-mask-msg div {

    font:normal 11px "Microsoft Yahei",tahoma, arial, helvetica, sans-serif;
}
.x-tab-strip span.x-tab-strip-text {
  font: normal 14px "Microsoft Yahei",arial,helvetica;

}
.x-form-field {
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-form-grow-sizer {
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-form-item {
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-form-invalid-msg {
  font: normal 11px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-small-editor .x-form-field {
  font: normal 13px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
.ext-webkit .x-small-editor .x-form-field {
  font: normal 11px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
.x-fieldset legend {
  font: bold 11px "Microsoft Yahei", arial, helvetica, sans-serif;
  color: #15428b;
}
.x-btn {
  font: normal 14px "Microsoft Yahei", verdana, helvetica;
}
.x-btn button{
    font:normal 14px "Microsoft Yahei",arial,tahoma,verdana,helvetica;

}
.x-toolbar td,
.x-toolbar span,
.x-toolbar input,
.x-toolbar div,
.x-toolbar select,
.x-toolbar label {
  font: normal 14px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
/*grid row height and font size */
.x-grid3-row td, 
.x-grid3-summary-row td {
    line-height: 12px;
    padding-top: 1px;
    font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-grid3-hd-row td {
	font: normal 14px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
.x-grid3-col-numberer{
	font-size:12px;
}
.x-grid3-topbar,.x-grid3-bottombar {
  font: normal 14px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
.x-grid-group-hd div.x-grid-group-title {
    color:#3764a0;
    font:bold 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-grid-empty {
  color: gray;
  font: normal 11px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-dd-drag-ghost {
  font: normal 11px "Microsoft Yahei", helvetica, sans-serif;

}
.x-tree-node {
  font: normal 14px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
.x-tree-node-el {
    line-height: 20px;
    cursor: pointer;
}
.x-date-middle,.x-date-left,.x-date-right {
  font: bold 11px "Microsoft Yahei", tahoma, verdana, helvetica;
}
.x-date-inner th {

  font: normal 10px "Microsoft Yahei", helvetica, tahoma, sans-serif;
}
.x-date-inner a {
  font: normal  "Microsoft Yahei" "Microsoft Yahei", helvetica, tahoma, sans-serif;
}
.x-date-mp td {
  font: normal 14px "Microsoft Yahei", helvetica, tahoma, sans-serif;
}
.x-date-mp-btns button {
  background-color: #083772;
  color: #fff;
  border-color: #3366cc #000055 #000055 #3366cc;
  font: normal 14px "Microsoft Yahei", helvetica, tahoma, sans-serif;
}
.x-tip .x-tip-mc {
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-tip .x-tip-header-text {
  font: bold 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-tip .x-tip-body {
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-menu-list-item {
  font: normal 14px "Microsoft Yahei", tahoma, sans-serif;
}
.x-box-mc {
  font-family: "Microsoft Yahei", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
  font-size: 11px;
}
.x-combo-list {
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-combo-list-hd {
  font: bold 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-combo-list-item{
  font:normal 14px "Microsoft Yahei",tahoma,arial,helvetica,sans-serif;
}
.x-combo-list-small {
  font: normal 12px "Microsoft Yahei", arial, helvetica, sans-serif;
}

.x-panel-header {
  font: bold 14px "Microsoft Yahei", arial, verdana, sans-serif;
  line-height:16px;
}
.x-panel-tl .x-panel-header {
  font: bold 14px "Microsoft Yahei", arial, verdana, sans-serif;
}
/*form-label font size*/
.x-panel-mc {
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-panel-fbar td,
.x-panel-fbar span,
.x-panel-fbar input,
.x-panel-fbar div,
.x-panel-fbar select,
.x-panel-fbar label {
  font: normal 14px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
.x-window-tl .x-window-header {
  color: #15428b;
  font: bold 14px "Microsoft Yahei", arial, verdana, sans-serif;
}
.x-window-mc {
  border-color: #99bbe8;
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
  background-color: #dfe8f6;
}
.x-list-header-inner div em {
  border-left-color: #ddd;
  font: normal 14px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
.x-list-body dt em {
  font: normal 14px "Microsoft Yahei", tahoma, helvetica, sans-serif;
}
.x-window-dlg .ext-mb-textarea {
  font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
}
.x-tab-strip SPAN.x-tab-strip-text{
	font-size: 14px;
}
/*tree node color*/
.x-tree-node .x-tree-selected{
	background-color:#98c0f4;
}
.page{background: url(../../../images/uiimages/yellow_paper.png) no-repeat left center !important;}
.page_add{background: url(../../../images/uiimages/edit_add.png) no-repeat left center !important;}
.page_edit{background: url(../../../images/uiimages/pencil.png) no-repeat left center !important;}
.page_delete{background: url(../../../images/uiimages/edit_remove.png) no-repeat left center !important;}
.page_find{background: url(../../../images/uiimages/search.png) no-repeat left center !important;}
.page_gear{background: url(../../../images/uiimages/updatediag.png) no-repeat left center !important;}
.page_attach{background: url(../../../images/uiimages/updateinfo.png) no-repeat left center !important;}
.page_link{background: url(../../../images/uiimages/link.png) no-repeat left center !important;}
.page_goto{background: url(../../../images/uiimages/sendapplycard.png) no-repeat left center !important;}
.page_key{background: url(../../../images/uiimages/unlock.png) no-repeat left center !important;}
.page_save{background: url(../../../images/uiimages/filesave.png) no-repeat left center !important;}
.page_refresh{background: url(../../../images/uiimages/reload.png) no-repeat left center !important;}
.page_clearscreen{background: url(../../../images/uiimages/clearscreen.png) no-repeat left center !important;}
.page_close{background: url(../../../images/uiimages/cancel.png) no-repeat left center !important;}
.page_uploadyun{background: url(../../../images/uiimages/uploadyun.png) no-repeat left center !important;}
.page_unloadyun{background: url(../../../images/uiimages/unloadyun.png) no-repeat left center !important;}
.page_readcard{background: url(../../../images/uiimages/readcard.png) no-repeat left center !important;}
.page_print{background: url(../../../images/uiimages/print.png) no-repeat left center !important;}
.page_excel{background: url(../../../images/uiimages/excel.png) no-repeat left center !important;}
.page_word{background: url(../../../images/uiimages/word.png) no-repeat left center !important;}
