<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmDeptFormuLaMethodMapper">
	<resultMap id="prmFormula" type="com.chd.hrp.prm.entity.PrmDeptFormulaMethod">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="formula_code" column="formula_code" />
		<result property="formula_name" column="formula_name" />
		<result property="formula_method_chs" column="formula_method_chs" />
		<result property="formula_method_eng" column="formula_method_eng" />
		<result property="is_stop" column="is_stop" />
	</resultMap>

	<select id="queryPrmDeptFormuLaMethod" resultType="com.chd.hrp.prm.entity.PrmDeptFormulaMethod" parameterType="string">
		select * from PRM_DEPT_KPI_FORMULA
		where
		group_id = #{group_id,jdbcType=NUMERIC}
		and
		hos_id = #{hos_id,jdbcType=NUMERIC}
		and
		copy_code = #{copy_code,jdbcType=VARCHAR}
		and
		acc_year = #{acc_year,jdbcType=VARCHAR}
		and
		acc_month = #{acc_month,jdbcType=VARCHAR}
		and
		goal_code = #{goal_code,jdbcType=VARCHAR}
		and
		kpi_code = #{kpi_code,jdbcType=VARCHAR}
		and
		dept_no = #{dept_no,jdbcType=NUMERIC}
		and
		dept_id = #{dept_id,jdbcType=NUMERIC}
	</select>
	
	<insert id="savePrmDeptFormula" useGeneratedKeys="true">

		INSERT INTO PRM_DEPT_KPI_FORMULA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		goal_code
		,
		kpi_code
		,
		dept_no
		,
		dept_id
		,
		formula_method_chs

		<if test="formula_method_eng != null and formula_method_eng != '' ">
			, formula_method_eng
		</if>

		) VALUES (
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{acc_year} ,
		#{acc_month} ,
		#{goal_code} ,
		#{kpi_code} ,
		#{dept_no} ,
		#{dept_id} ,
		#{formula_method_chs}
		<if test="formula_method_eng != null and formula_method_eng != '' "> ,
			#{formula_method_eng}
		</if>
		)

	</insert>
	
	<update id="updatePrmDeptFormula" parameterType="java.util.Map">

		UPDATE PRM_DEPT_KPI_FORMULA SET
		FORMULA_METHOD_CHS = #{formula_method_chs}


		<if test="formula_method_eng != null and formula_method_eng != '' ">
			, formula_method_eng =#{formula_method_eng}
		</if>

		WHERE
		group_id = #{group_id}
		and
		hos_id = #{hos_id}
		and
		copy_code = #{copy_code}
		and
		acc_year = #{acc_year}
		and
		acc_month = #{acc_month}
		and
		goal_code = #{goal_code}
		and
		kpi_code = #{kpi_code}
		and
		dept_no = #{dept_no}
		and
		dept_id = #{dept_id}

	</update>
	
	<select id="queryPrmDeptFormulaByCode" parameterType="java.util.Map"
		resultType="java.util.Map">
		select * from PRM_DEPT_KPI_FORMULA
		where
		group_id = #{group_id,jdbcType=NUMERIC}
		and
		hos_id = #{hos_id,jdbcType=NUMERIC}
		and
		copy_code = #{copy_code,jdbcType=VARCHAR}
		and
		acc_year = #{acc_year,jdbcType=VARCHAR}
		and
		acc_month = #{acc_month,jdbcType=VARCHAR}
		and
		goal_code = #{goal_code,jdbcType=VARCHAR}
		and
		kpi_code = #{kpi_code,jdbcType=VARCHAR}
		and
		dept_no = #{dept_no,jdbcType=NUMERIC}
		and
		dept_id = #{dept_id,jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteBatchDeptFormuLaMethod" parameterType="java.util.List">
		DELETE FROM PRM_DEPT_KPI_FORMULA WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			<if test="item.group_id != null and item.group_id != ''">
				group_id = #{item.group_id}
			</if>
			<if test="item.hos_id != null and item.hos_id != ''">
				and hos_id = #{item.hos_id}
			</if>
			<if test="item.copy_code != null and item.copy_code != ''">
				and copy_code = #{item.copy_code}
			</if>
			<if test="item.acc_year != null and item.acc_year != ''">
				and acc_year = #{item.acc_year}
			</if>
			<if test="item.acc_month != null and item.acc_month != ''">
				and acc_month = #{item.acc_month}
			</if>
			<if test="item.goal_code != null and item.goal_code != ''">
				and goal_code = #{item.goal_code}
			</if>
			<if test="item.kpi_code != null and item.kpi_code != ''">
				and kpi_code = #{item.kpi_code}
			</if>
			<if test="item.dept_no != null and item.dept_no != ''">
				and dept_no = #{item.dept_no}
			</if>
			<if test="item.dept_id != null and item.dept_id != ''">
				and dept_id = #{item.dept_id}
			</if>
		</foreach>
	</delete>

	<delete id="deleteDeptFormuLaMethod" parameterType="java.util.Map">

		DELETE FROM PRM_DEPT_KPI_FORMULA
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				and hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				and copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != '' and year_month_sql ==null ">
				and acc_year = #{acc_year}
			</if>
			<if
				test="acc_month != null and acc_month != '' and year_month_sql ==null ">
				and acc_month = #{acc_month}
			</if>
			<if test="goal_code != null and goal_code != ''">
				and goal_code = #{goal_code}
			</if>
			<if test="kpi_code != null and kpi_code != ''">
				and kpi_code = #{kpi_code}
			</if>
			<if test="dept_no != null and dept_no != '' and detp_sql ==null">
				AND dept_no = #{dept_no}
			</if>
			<if test="dept_id != null and dept_id != '' and detp_sql ==null">
				AND dept_id = #{dept_id}
			</if>
			<if test="detp_sql != null and detp_sql != ''">
		AND ${detp_sql}
		</if>
		<if test="year_month_sql != null and year_month_sql != ''">
		AND ${year_month_sql}
		</if>
		</where>
	</delete>
	
	<select id="queryDeptFormulaMethod" parameterType="java.util.Map" resultMap="prmFormula">

		SELECT
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		goal_code,
		kpi_code,
		dept_no,
		dept_id,
		formula_method_chs,
		formula_method_eng
		FROM PRM_DEPT_KPI_formula
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND acc_month = #{acc_month}
			</if>
			<if test="goal_code != null and goal_code != ''">
				AND goal_code = #{goal_code}
			</if>
			<if test="kpi_code != null and kpi_code != ''">
				AND kpi_code = #{kpi_code}
			</if>
			<if test="dept_no != null and dept_no != ''">
				AND dept_no = #{dept_no}
			</if>
			<if test="dept_id != null and dept_id != ''">
				AND dept_id = #{dept_id}
			</if>
			<if test="formula_method_chs != null and formula_method_chs != ''">
				AND formula_method_chs = #{formula_method_chs}
			</if>
			<if test="formula_method_eng != null and formula_method_eng != ''">
				AND formula_method_eng = #{formula_method_eng}
			</if>
		</where>
		order by group_id asc
	</select>

	<insert id="addBatchDeptFormuLaMethod" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
		INSERT INTO PRM_DEPT_KPI_FORMULA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		goal_code
		,
		kpi_code
		,
		dept_no
		,
		dept_id
		,
		formula_method_chs
		<if test="item.formula_method_eng != null and item.formula_method_eng != '' ">
			,
			formula_method_eng
		</if>
		)VALUES (
			#{item.group_id} ,
			#{item.hos_id} ,
			#{item.copy_code} ,
			#{item.acc_year} ,
			#{item.acc_month} ,
			#{item.goal_code} ,
			#{item.kpi_code} ,
			#{item.dept_no} ,
			#{item.dept_id} ,
			#{item.formula_method_chs}
			<if test="item.formula_method_eng != null and item.formula_method_eng != '' "> 
			,
				#{item.formula_method_eng}
			</if>
		)
		</foreach>
	</insert>
	
</mapper>