<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmDeptTargetDataCalculateMapper">
	
	<resultMap id="prmDeptTargetDataCalculate" type="com.chd.hrp.prm.entity.PrmDeptTargetDataCalculate">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="acc_year" column="acc_year"/>
	<result property="acc_month" column="acc_month"/>
	<result property="target_code" column="target_code"/>
	<result property="dept_no" column="dept_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="audit_date" column="audit_date"/>
	<result property="target_value" column="target_value"/>
	<result property="is_audit" column="is_audit"/>
	<result property="method_code" column="method_code"/>
	<result property="formula_code" column="formula_code"/>
	<result property="fun_code" column="fun_code"/>
	<result property="target_name" column="target_name"/>
	<result property="dept_name" column="dept_name"/>
	<result property="method_name" column="method_name"/>
	<result property="formula_method_chs" column="formula_method_chs"/>
	<result property="fun_name" column="fun_name"/>
	<result property="user_code" column="user_code"/>
	<result property="user_name" column="user_name"/>

	</resultMap>
	
	<insert id="addPrmDeptTargetData" useGeneratedKeys="true" >
	
		INSERT INTO PRM_DEPT_TARGET_DATA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		target_code
		,
		dept_no
		,
		dept_id
		,
		target_value
		,
		is_audit
		,
		user_code
		,
		audit_date
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{acc_year}		,
#{acc_month}		,
#{target_code}		,
#{dept_no}		,
#{dept_id}		,
#{target_value}		,
#{is_audit}		,
#{user_code}		,
#{audit_date}		
		)
	
	</insert>
	
     <select id="queryPrmDeptTargetPrmTargetDataCalculate" parameterType="java.util.Map" resultMap="prmDeptTargetDataCalculate" >
	
	select pdtd.group_id,
         pdtd.hos_id,
         pdtd.copy_code,
         pdtd.acc_year,
         pdtd.acc_month,
         pdtd.target_code,
         pdtd.dept_no,
         pdtd.dept_id,
         pdtd.audit_date,
         pdtd.target_value,
         pdtd.is_audit,
         ptm.method_code,
         ptm.formula_code,
         ptm.fun_code,
         pt.target_name,
         ad.dept_name,
         ptmp.method_name,
         pf.formula_method_chs,
         pfun.fun_name,       
         su.user_code,
         su.user_name
		from prm_dept_target_data pdtd 
    left join prm_target_method ptm on pdtd.target_code = ptm.target_code
              and ptm.group_id = #{group_id} and ptm.hos_id = #{hos_id} and ptm.copy_code = #{copy_code}
	left join prm_target pt on pdtd.target_code = pt.target_code 
              and pt.group_id = #{group_id} and pt.hos_id = #{hos_id} and pt.copy_code = #{copy_code}
	left join PRM_dept_dict ad on pdtd.dept_id = ad.dept_id  and pdtd.dept_no = ad.dept_no 
              and ad.group_id = #{group_id} and ad.hos_id = #{hos_id} and ad.copy_code = #{copy_code}
    left join sys_user su on pdtd.user_code = su.user_code 
              and su.group_id = #{group_id} and su.hos_id = #{hos_id} and su.copy_code = #{copy_code}
    left join prm_target_method_para ptmp on ptm.method_code = ptmp.method_code 
              and ptmp.group_id = #{group_id} and ptmp.hos_id = #{hos_id} and ptmp.copy_code = #{copy_code}
    left join prm_formula pf on ptm.formula_code = pf.formula_code 
              and pf.group_id = #{group_id} and pf.hos_id = #{hos_id} and pf.copy_code = #{copy_code}
    left join prm_fun pfun on ptm.fun_code = pfun.fun_code 
              and pfun.group_id = #{group_id} and pfun.hos_id = #{hos_id} and pfun.copy_code = #{copy_code}
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND pdtd.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND pdtd.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND pdtd.copy_code = #{copy_code}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND  pdtd.acc_year  || '' || pdtd.acc_month =  #{acc_year} 
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND pdtd.acc_month = #{acc_month}
		</if>
		<if test="target_code != null and target_code != ''">
		AND pt.target_code = #{target_code}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND ad.dept_no = #{dept_no}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND ad.dept_id = #{dept_id}
		</if>
		<if test="dept_code!= null and dept_code!= ''">
		AND ad.dept_code = #{dept_code}
		</if>
		<if test="target_value != null and target_value != ''">
		AND pdtd.target_value = #{target_value}
		</if>
		<if test="is_audit != null and is_audit != ''">
		AND pdtd.is_audit = #{is_audit}
		</if>
		<if test="user_code != null and user_code != ''">
		AND pdtd.user_code = #{user_code}
		</if>
		<if test="audit_date != null and audit_date != ''">   
		AND pdtd.audit_date = #{audit_date}
		</if>
	    <if test="dept_kind_code != null and dept_kind_code != ''">
		and  ad.dept_kind_code = #{dept_kind_code}
		</if>
		<if test="sql != null and sql != ''">
		and  ${sql}
		</if>
	    AND AD.IS_STOP = 0
	    
	    
	  <!--   and exists(
			select 1 from sys_user_perm_data sys where sys.group_id = #{group_id}
			and sys.hos_id = #{hos_id} and sys.copy_code = #{copy_code}
			and sys.user_id = #{user_id}
			and sys.mod_code = '07' and sys.table_code = 'PRM_DEPT_DICT'
			and sys.perm_code = pdtd.dept_id and sys.is_read = 1 and sys.is_write = 1
		) -->
	    
		</where>   
		order by ad.dept_id asc
	</select>
	
	<select id="queryPrmDeptTargetDataByCode" resultType="com.chd.hrp.prm.entity.PrmDeptTargetData" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		target_code,
		dept_no,
		dept_id,
		target_value,
		is_audit,
		user_code,
		audit_date
		FROM prm_dept_target_data 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		acc_year = #{acc_year}   and 
		acc_month = #{acc_month}   and 
		target_code = #{target_code}   and 
		dept_no = #{dept_no}   and 
		dept_id = #{dept_id} 
	
	</select>
	
		<delete id="cleanPrmDeptTargetDataCalculate" parameterType="java.util.Map">
	
		DELETE FROM prm_dept_target_data WHERE
  		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		acc_year = #{acc_year}   and 
		acc_month = #{acc_month}   and 
         TARGET_CODE in (
        SELECT pt.target_code FROM 
        PRM_TARGET pt
        LEFT JOIN 
        PRM_TARGET_METHOD ptm on pt.target_code = ptm.target_code
        where
         ptm.group_id = pt.group_id
         and ptm.hos_id = pt.hos_id
         and ptm.copy_code = pt.copy_code
         and ptm.group_id =  #{group_id}
         and ptm.hos_id  = #{hos_id}
         and ptm.copy_code = #{copy_code} 
         and ptm.method_code in (02,03)
         and target_nature = '03')
	</delete>
	
	
		<update id="updateBatchPrmDeptTargetDataCalculate" parameterType="java.util.List">
	
	
	  	<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE prm_dept_target_data 
			<trim prefix="SET"  suffixOverrides=","> 
				<if test="item.target_value != null">
					target_value = #{item.target_value},
				</if>
				<if test="item.is_audit != null and item.is_audit!= ''">
					is_audit = #{item.is_audit},
				</if>
				<if test="item.user_code!= null and item.user_code != ''">
					user_code = #{item.user_code},
				</if>
				<if test="item.audit_date != null and item.audit_date != ''">
					audit_date = #{item.audit_date},
				</if>
			</trim>
		<where>                     
		<if test="item.group_id != null and item.group_id != ''">
		AND group_id = #{item.group_id}
		</if>
		<if test="item.hos_id != null and item.hos_id != ''">
		AND hos_id = #{item.hos_id}
		</if>
		<if test="item.copy_code != null and item.copy_code != ''">
		AND copy_code = #{item.copy_code}
		</if>
		<if test="item.acc_year != null and item.acc_year != ''">
		AND acc_year = #{item.acc_year}
		</if>
		<if test="item.acc_month != null and item.acc_month != ''">
		AND acc_month = #{item.acc_month}
		</if>
		<if test="item.target_code != null and item.target_code != ''">
		AND target_code = #{item.target_code}
		</if>
		<if test="item.dept_no != null and item.dept_no != ''">
		AND dept_no = #{item.dept_no}
		</if>
	    <if test="item.dept_id != null and item.dept_id != ''">
		AND dept_id = #{item.dept_id}
		</if>
		</where>
		</foreach>
	</update>
</mapper>

