<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmEmpKpiMapper">
	
	<resultMap id="prmEmpKpi" type="com.chd.hrp.prm.entity.PrmEmpKpi">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="acc_year" column="acc_year"/>
	<result property="goal_code" column="goal_code"/>
	<result property="dept_no" column="dept_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="kpi_code" column="kpi_code"/>
	<result property="kpi_name" column="kpi_name"/>
	<result property="dim_code" column="dim_code"/>
	<result property="order_no" column="order_no"/>
	<result property="kpi_level" column="kpi_level"/>
	<result property="nature_code" column="nature_code"/>
	<result property="super_kpi_code" column="super_kpi_code"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_last" column="is_last"/>
	</resultMap>
	
	<insert id="addPrmEmpKpi" useGeneratedKeys="true" >
	
		INSERT INTO PRM_EMP_KPI (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		goal_code
		,
		dept_no
		,
		dept_id
		,
		kpi_code
		,
		kpi_name
		,
		dim_code
		,
		order_no
		,
		kpi_level
		,
		nature_code
		,
		super_kpi_code
		,
		spell_code
		,
		wbx_code
		,
		is_last
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{acc_year}		,
#{goal_code}		,
#{dept_no}		,
#{dept_id}		,
#{kpi_code}		,
#{kpi_name}		,
#{dim_code}     ,
#{order_no}		,
#{kpi_level}		,
#{nature_code}		,
#{super_kpi_code}		,
#{spell_code}		,
#{wbx_code}		,
#{is_last}		
		)
	
	</insert>
	<insert id="addBatchPrmEmpKpi" parameterType="java.util.List" >
	
		INSERT INTO PRM_EMP_KPI (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		goal_code
		,
		dept_no
		,
		dept_id
		,
		kpi_code
		,
		kpi_name
		,
		dim_code
		,
		order_no
		,
		kpi_level
		,
		nature_code
		,
		super_kpi_code
		,
		spell_code
		,
		wbx_code
		,
		is_last
		
		)
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
				#{item.group_id}			,
				#{item.hos_id}			,
				#{item.copy_code}			,
				#{item.acc_year}			,
				#{item.goal_code}			,
				#{item.dept_no}			,
				#{item.dept_id}			,
				#{item.kpi_code}			,
				#{item.kpi_name}			,
				#{item.dim_code}            ,
				#{item.order_no}			,
				#{item.kpi_level}			,
				#{item.nature_code}			,
				#{item.super_kpi_code}			,
				#{item.spell_code}			,
				#{item.wbx_code}			,
				#{item.is_last}			
			from dual
		</foreach>
	</insert>
	
	<update id="updatePrmEmpKpi" parameterType="java.util.Map">
	
		UPDATE prm_emp_kpi SET
		dim_code = #{dim_code}
		,
		kpi_name = #{kpi_name}
		,
		order_no = #{order_no}
		,
		kpi_level = #{kpi_level}
		,
		nature_code = #{nature_code}
		,
		super_kpi_code = #{super_kpi_code}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_last = #{is_last}
		
		WHERE 
		group_id = #{group_id}
		 and 
		hos_id = #{hos_id}
		 and 
		copy_code = #{copy_code}
		 and 
		acc_year = #{acc_year}
		 and 
		goal_code = #{goal_code}
		 and 
		dept_no = #{dept_no}
		 and 
		dept_id = #{dept_id}
		 and 
		kpi_code = #{kpi_code}
		
	
	</update>
	<update id="updateBatchPrmEmpKpi" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE prm_emp_kpi SET
			dim_code = #{dim_code}
			,
			kpi_name = #{kpi_name}
			,
			order_no = #{order_no}
			,
			kpi_level = #{kpi_level}
			,
			nature_code = #{nature_code}
			,
			super_kpi_code = #{super_kpi_code}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_last = #{is_last}
			
			WHERE 
			group_id = #{item.group_id}
			 and 
			hos_id = #{item.hos_id}
			 and 
			copy_code = #{item.copy_code}
			 and 
			acc_year = #{item.acc_year}
			 and 
			goal_code = #{item.goal_code}
			 and 
			dept_no = #{item.dept_no}
			 and 
			dept_id = #{item.dept_id}
			 and 
			kpi_code = #{item.kpi_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmEmpKpi" parameterType="java.util.Map">
	
		DELETE FROM prm_emp_kpi WHERE
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		acc_year = #{acc_year}   and 
		goal_code = #{goal_code}   and 
		dept_no = #{dept_no}   and 
		dept_id = #{dept_id}   and 
		kpi_code = #{kpi_code} 
	
	</delete>
	<delete id="deleteBatchPrmEmpKpi" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin" separator=";" close=";end;">
			DELETE FROM PRM_EMP_KPI 
			WHERE
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND acc_year = #{item.acc_year,jdbcType=VARCHAR}
				AND goal_code = #{item.goal_code,jdbcType=VARCHAR}
				AND dept_no = #{item.dept_no,jdbcType=INTEGER}
				AND dept_id = #{item.dept_id,jdbcType=INTEGER}
				AND kpi_code = #{item.kpi_code,jdbcType=VARCHAR}
		</foreach>
	
	</delete>
	<select id="queryPrmEmpKpi" parameterType="java.util.Map" resultMap="prmEmpKpi" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acc_year,
		goal_code,
		dept_no,
		dept_id,
		kpi_code,
		kpi_name,
		dim_code,
		order_no,
		kpi_level,
		nature_code,
		super_kpi_code,
		spell_code,
		wbx_code,
		is_last
		FROM PRM_EMP_KPI 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND acc_year = #{acc_year}
		</if>
		<if test="goal_code != null and goal_code != ''">
		AND goal_code = #{goal_code}
		</if>
		<if test="dept_no != null and dept_no != ''">
		AND dept_no = #{dept_no}
		</if>
		<if test="dept_id != null and dept_id != ''">
		AND dept_id = #{dept_id}
		</if>
		<if test="kpi_code != null and kpi_code != ''">
		AND kpi_code = #{kpi_code}
		</if>
		<if test="kpi_name != null and kpi_name != ''">
		AND kpi_name = #{kpi_name}
		</if>
		<if test="dim_code != null and dim_code != ''">
		AND dim_code = #{dim_code}
		</if>
		<if test="order_no != null and order_no != ''">
		AND order_no = #{order_no}
		</if>
		<if test="kpi_level != null and kpi_level != ''">
		AND kpi_level = #{kpi_level}
		</if>
		<if test="nature_code != null and nature_code != ''">
		AND nature_code = #{nature_code}
		</if>
		<if test="super_kpi_code != null and super_kpi_code != ''">
		AND super_kpi_code = #{super_kpi_code}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		<if test="is_last != null and is_last != ''">
		AND is_last = #{is_last}
		</if>
		
		and exists(
			select 1 from sys_user_perm_data sys where sys.group_id = #{group_id}
			and sys.hos_id = #{hos_id} and sys.copy_code = #{copy_code}
			and sys.user_id = #{user_id}
			and sys.mod_code = '07' and sys.table_code = 'PRM_DEPT_DICT'
			and sys.perm_code = dept_id and sys.is_read = 1 and sys.is_write = 1
		) 
		</where>   
		order by group_id asc
	</select>
	<select id="queryPrmEmpKpiByCode" resultType="com.chd.hrp.prm.entity.PrmEmpKpi" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acc_year,
		goal_code,
		dept_no,
		dept_id,
		kpi_code,
		kpi_name,
		dim_code,
		order_no,
		kpi_level,
		nature_code,
		super_kpi_code,
		spell_code,
		wbx_code,
		is_last
		FROM prm_emp_kpi 
		<where>
		<if test="group_id != null and group_id != ''">
		AND  group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND acc_year = #{acc_year}
		</if>
	   <if test="goal_code != null and goal_code != ''">
		 and  goal_code = #{goal_code} 
		 </if>
		<if test="kpi_code != null and kpi_code != ''"> 
		 and  kpi_code = #{kpi_code} 
		 </if>
		 <if test="dept_id != null and dept_id != ''">
		 and  dept_id = #{dept_id} 
		 </if>
		<if test="dept_no != null and dept_no != ''"> 
		 and  dept_no = #{dept_no} 
		 </if>
	 </where>
	
	</select>

</mapper>

