<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmGradeParaMapper">
	
	<resultMap id="prmGradePara" type="com.chd.hrp.prm.entity.PrmGradePara">
	<result property="grade_meth_code" column="grade_meth_code"/>
	<result property="grade_meth_name" column="grade_meth_name"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<insert id="addPrmGradePara" useGeneratedKeys="true" >
	
		INSERT INTO PRM_GRADE_PARA (
		grade_meth_code
		,
		grade_meth_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) VALUES (
#{grade_meth_code}		,
#{grade_meth_name}		,
#{spell_code}		,
#{wbx_code}		,
#{is_stop}		
		)
	
	</insert>
	<insert id="addBatchPrmGradePara" parameterType="java.util.List" >
	
		INSERT INTO PRM_GRADE_PARA (
		grade_meth_code
		,
		grade_meth_name
		,
		spell_code
		,
		wbx_code
		,
		is_stop
		
		) select PRM_GRADE_PARA_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.grade_meth_code}			,
#{item.grade_meth_name}			,
#{item.spell_code}			,
#{item.wbx_code}			,
#{item.is_stop}			
		
		</foreach>
		)t
	</insert>
	
	<update id="updatePrmGradePara" parameterType="java.util.Map">
	
		UPDATE prm_grade_para SET
		grade_meth_name = #{grade_meth_name}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		is_stop = #{is_stop}
		
		WHERE 
		grade_meth_code = #{grade_meth_code}
		
	
	</update>
	<update id="updateBatchPrmGradePara" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE prm_grade_para SET
			grade_meth_name = #{grade_meth_name}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			is_stop = #{is_stop}
			
			WHERE 
			grade_meth_code = #{item.grade_meth_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmGradePara" parameterType="java.util.Map">
	
		DELETE FROM prm_grade_para WHERE
		grade_meth_code = #{grade_meth_code} 
	
	</delete>
	<delete id="deleteBatchPrmGradePara" parameterType="java.util.List">
		DELETE FROM prm_grade_para WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				grade_meth_code = #{item.grade_meth_code}
				
			</foreach>
	
	</delete>
	<select id="queryPrmGradePara" parameterType="java.util.Map" resultMap="prmGradePara" >
	
		SELECT 
		grade_meth_code,
		grade_meth_name,
		spell_code,
		wbx_code,
		is_stop
		FROM PRM_GRADE_PARA 
		<where>                     
		<if test="grade_meth_code != null and grade_meth_code != ''">
		AND grade_meth_code = #{grade_meth_code}
		</if>
		<if test="grade_meth_name != null and grade_meth_name != ''">
		AND grade_meth_name = #{grade_meth_name}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		</where>   
		order by grade_meth_code asc
	</select>
	<select id="queryPrmGradeParaByCode" resultType="com.chd.hrp.prm.entity.PrmGradePara" parameterType="string" >
	
		SELECT 
		grade_meth_code,
		grade_meth_name,
		spell_code,
		wbx_code,
		is_stop
		FROM prm_grade_para 
		WHERE 
		grade_meth_code = #{grade_meth_code} 
	
	</select>

</mapper>

