<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmHosKpiValueCalculateMapper">
	
	<resultMap id="prmHosKpiValue" type="com.chd.hrp.prm.entity.PrmHosKpiValueCalculate">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="acc_year" column="acc_year"/>
	<result property="acc_month" column="acc_month"/>
	<result property="goal_code" column="goal_code"/>
	<result property="kpi_code" column="kpi_code"/>
	<result property="check_hos_id" column="check_hos_id"/>
	<result property="check_hos_name" column="check_hos_name"/>
	<result property="kpi_value" column="kpi_value"/>
	<result property="is_audit" column="is_audit"/>
	<result property="user_code" column="user_code"/>
	<result property="audit_date" column="audit_date"/>
	</resultMap>
	
	<insert id="addPrmHosKpiValueCalculate" useGeneratedKeys="true" >
	
		INSERT INTO PRM_HOS_KPI_VALUE (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		goal_code
		,
		kpi_code
		,
		check_hos_id
		,
		kpi_value
		,
		is_audit
		,
		user_code
		,
		audit_date
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{acc_year}		,
#{acc_month}		,
#{goal_code}		,
#{kpi_code}		,
#{check_hos_id}		,
#{kpi_value}		,
#{is_audit}		,
#{user_code}		,
#{audit_date}		
		)
	
	</insert>
	
	
	<update id="updateBatchPrmHosKpiValueCalculate" parameterType="java.util.List">
	
	<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE prm_hos_kpi_value 
			<trim prefix="SET"  suffixOverrides=","> 
			    <if test="item.kpi_value != null and item.kpi_value != ''">
					kpi_value = #{item.kpi_value},
				</if>
				<if test="item.is_audit != null and item.is_audit!= ''">
					is_audit = #{item.is_audit},
				</if>
				<if test="item.user_code!= null and item.user_code != ''">
					user_code = #{item.user_code},
				</if>
				<if test="item.audit_date != null and item.audit_date != ''">
					audit_date = #{item.audit_date},
				</if>
			</trim>
		<where>                     
		<if test="item.group_id != null and item.group_id != ''">
		AND group_id = #{item.group_id}
		</if>
		<if test="item.hos_id != null and item.hos_id != ''">
		AND hos_id = #{item.hos_id}
		</if>
		<if test="item.copy_code != null and item.copy_code != ''">
		AND copy_code = #{item.copy_code}
		</if>
		<if test="item.acc_year != null and item.acc_year != ''">
		AND acc_year = #{item.acc_year}
		</if>
		<if test="item.acc_month != null and item.acc_month != ''">
		AND acc_month = #{item.acc_month}
		</if>
		<if test="item.kpi_code != null and item.kpi_code != ''">
		AND kpi_code = #{item.kpi_code}
		</if>
	    <if test="item.goal_code != null and item.goal_code != ''">
		AND goal_code = #{item.goal_code}
		</if>
		<if test="item.check_hos_id != null and item.check_hos_id != ''">
		AND check_hos_id = #{item.check_hos_id}
		</if>
		</where>
		</foreach>
	</update>
	
	
	<select id="queryPrmHosKpiValueCalculate" parameterType="java.util.Map" resultMap="prmHosKpiValue" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		goal_code,
		kpi_code,
		check_hos_id,
		kpi_value,
		is_audit,
		user_code,
		audit_date
		FROM PRM_HOS_KPI_VALUE 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND acc_year = #{acc_year}
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND acc_month = #{acc_month}
		</if>
		<if test="goal_code != null and goal_code != ''">
		AND goal_code = #{goal_code}
		</if>
		<if test="kpi_code != null and kpi_code != ''">
		AND kpi_code = #{kpi_code}
		</if>
		<if test="check_hos_id != null and check_hos_id != ''">
		AND check_hos_id = #{check_hos_id}
		</if>
		<if test="kpi_value != null and kpi_value != ''">
		AND kpi_value = #{kpi_value}
		</if>
		<if test="is_audit != null and is_audit != ''">
		AND is_audit = #{is_audit}
		</if>
		<if test="user_code != null and user_code != ''">
		AND user_code = #{user_code}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND audit_date = #{audit_date}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	
	
	<select id="queryPrmHosKpiValueSchemeCalculate" parameterType="java.util.Map" resultMap="prmHosKpiValue" >
	
		   select phkv.group_id,
       phkv.hos_id,
       phkv.copy_code,
       phkv.acc_year,
       phkv.acc_month,
       pkk.kpi_code,
       pkk.kpi_name,
       phkv.check_hos_id,
       hid.hos_name check_hos_name,
       phkv.kpi_value,
       phkv.is_audit,
       su.user_code,
       su.user_name,
       phkv.audit_date,
       phkv.goal_code,
       ptmp.method_name,
       pf.formula_method_chs,
       pfun.fun_name
  from prm_hos_kpi_value phkv
  left join prm_hos_scheme phs
	    on phkv.group_id = phs.group_id
	   and phkv.hos_id = phs.hos_id
	   and phkv.copy_code = phs.copy_code
	   and phkv.acc_year = phs.acc_year
	   and phkv.acc_month = phs.acc_month
	   and phkv.goal_code = phs.goal_code
	   and phkv.kpi_code = phs.kpi_code
	   and phkv.check_hos_id = phs.check_hos_id
	  left join prm_hos_kpi pkk on
		 pkk.group_id = phkv.group_id
		 and pkk.hos_id = phkv.hos_id
		 and pkk.copy_code = phkv.copy_code
		 and pkk.acc_year = phkv.acc_year
		 and pkk.goal_code = phkv.goal_code
		 and pkk.kpi_code = phkv.kpi_code
	
	 	 left join sys_user su on
	     su.group_id = phkv.group_id
	     and su.user_id = phkv.user_code
	     left join hos_info_dict hid
	     on hid.group_id = phkv.group_id
	     and hid.hos_id = phkv.check_hos_id
	
	     left join prm_target_method_para ptmp
	    on ptmp.group_id = phs.group_id
	   and ptmp.hos_id = phs.hos_id
	   and ptmp.copy_code = phs.copy_code
	      
	   and ptmp.method_code = phs.method_code
	
	    left join prm_formula pf
	    on pf.group_id = phs.group_id
	   and pf.hos_id = phs.hos_id
	   and pf.copy_code = phs.copy_code
	   and pf.formula_code = phs.formula_code
	  left join prm_fun pfun
	    on pfun.group_id = phs.group_id
	   and pfun.hos_id = phs.hos_id
	   and pfun.copy_code = phs.copy_code
	   and pfun.fun_code = phs.fun_code

		<where>                     
		<if test="group_id != null and group_id != ''">
		AND PHKV.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND PHKV.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND PHKV.copy_code = #{copy_code}
		</if>
		<if test="acc_year != null and acc_year != ''">
		AND PHKV.acc_year = #{acc_year}
		</if>
		<if test="acc_month != null and acc_month != ''">
		AND PHKV.acc_month = #{acc_month}
		</if>
		<if test="goal_code != null and goal_code != ''">
		AND PHKV.goal_code = #{goal_code}
		</if>
		<if test="kpi_code != null and kpi_code != ''">
		AND PKK.kpi_code = #{kpi_code}
		</if>
		<if test="check_hos_id != null and check_hos_id != ''">
		AND PHKV.check_hos_id = #{check_hos_id}
		</if>
		<if test="kpi_value != null and kpi_value != ''">
		AND PHKV.kpi_value = #{kpi_value}
		</if>
		<if test="is_audit != null and is_audit != ''">
		AND PHKV.is_audit = #{is_audit}
		</if>
		<if test="user_code != null and user_code != ''">
		AND PHKV.user_code = #{user_code}
		</if>
		<if test="audit_date != null and audit_date != ''">
		AND PHKV.audit_date = #{audit_date}
		</if>
		</where>   
		
	   AND PHS.METHOD_CODE IN ('02','03')
		
		order by PHKV.kpi_code asc
	</select>
	
	
	<select id="queryPrmHosKpiValueCalculateByCode" resultType="com.chd.hrp.prm.entity.PrmHosKpiValue" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		goal_code,
		kpi_code,
		check_hos_id,
		kpi_value,
		is_audit,
		user_code,
		audit_date
		FROM prm_hos_kpi_value 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		acc_year = #{acc_year}   and 
		acc_month = #{acc_month}   and 
		goal_code = #{goal_code}   and 
		kpi_code = #{kpi_code}   and 
		check_hos_id = #{check_hos_id} 
	
	</select>
    
    
        <update id="auditPrmHosKpiValueCalculate" parameterType="java.util.Map">
      
            UPDATE prm_hos_kpi_value SET
	        is_audit = #{is_audit},
	        user_code = #{user_code},
	        audit_date = #{audit_date} 
            WHERE 
	        group_id = #{group_id}   and 
		    hos_id = #{hos_id}   and 
		    copy_code = #{copy_code}   and 
		    acc_year = #{acc_year}   and 
		    acc_month = #{acc_month}   and 
		    goal_code = #{goal_code}   and 
		    kpi_code = #{kpi_code}   and 
		    check_hos_id = #{check_hos_id} 
 
      </update>
      
      
      <delete id="cleanPrmHosKpiValueCalculate" parameterType="java.util.Map">
	
		DELETE FROM prm_hos_kpi_value WHERE
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		acc_year = #{acc_year}   and 
		acc_month = #{acc_month}   and 
		kpi_code in 
        (
          select kpi_code from 
          PRM_HOS_SCHEME
           where
           group_id = #{group_id}   and 
	      hos_id = #{hos_id}   and 
		  copy_code = #{copy_code}   and 
		  acc_year = #{acc_year}   and 
		  acc_month = #{acc_month} 
          and group_id = prm_hos_kpi_value.group_id
          and hos_id = prm_hos_kpi_value.hos_id
          and copy_code = prm_hos_kpi_value.copy_code
          and check_hos_id = prm_hos_kpi_value.check_hos_id
          and goal_code = prm_hos_kpi_value.goal_code
          and acc_month = prm_hos_kpi_value.acc_month
          and acc_year = prm_hos_kpi_value.acc_year
          and method_code in ('02','03')
         )
	
	</delete>
</mapper>

