<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmHosTargetDataMapper">

	<resultMap id="prmHosTargetData" type="com.chd.hrp.prm.entity.PrmHosTargetData">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="check_hos_name" column="check_hos_name" />
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="acc_month" column="acc_month" />
		<result property="target_code" column="target_code" />
		<result property="check_hos_id" column="check_hos_id" />
		<result property="target_value" column="target_value" />
		<result property="is_audit" column="is_audit" />
		<result property="user_code" column="user_code" />
		<result property="audit_date" column="audit_date" />
	</resultMap>
	
	<resultMap id="hosInfoDictMap" type="com.chd.hrp.sys.entity.HosDict">
        
        <result property="group_id" column="group_id"/>
        <result property="hos_id" column="hos_id"/>
        <result property="hos_no" column="store_id"/>
        <result property="hos_code" column="hos_code"/>
        <result property="hos_name" column="hos_name"/>
        <result property="hos_simple" column="hos_simple"/>
        <result property="is_stop" column="is_stop"/>
      
	</resultMap>

	<insert id="addPrmHosTargetData" useGeneratedKeys="true">

		INSERT INTO PRM_HOS_TARGET_DATA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		target_code
		,
		check_hos_id
		,
		target_value
		,
		is_audit
		,
		user_code
		,
		audit_date

		) VALUES (
		#{group_id} ,
		#{hos_id} ,
		#{copy_code} ,
		#{acc_year} ,
		#{acc_month} ,
		#{target_code} ,
		#{check_hos_id} ,
		#{target_value} ,
		#{is_audit} ,
		#{user_code} ,
		#{audit_date}
		)

	</insert>
	<insert id="addBatchPrmHosTargetData" parameterType="java.util.List">

		INSERT INTO PRM_HOS_TARGET_DATA (
		group_id
		,
		hos_id
		,
		copy_code
		,
		acc_year
		,
		acc_month
		,
		target_code
		,
		check_hos_id
		,
		target_value
		,
		is_audit
		,
		user_code
		,
		audit_date

		) 
		<foreach collection="list" item="item" index="index" separator=" union all ">
			SELECT
				#{item.group_id} ,
				#{item.hos_id} ,
				#{item.copy_code} ,
				#{item.acc_year} ,
				#{item.acc_month} ,
				#{item.target_code} ,
				#{item.check_hos_id} ,
				#{item.target_value} ,
				#{item.is_audit} ,
				#{item.user_code} ,
				#{item.audit_date}
			FROM DUAL
		</foreach>
	</insert>

	<update id="updatePrmHosTargetData" parameterType="java.util.Map">

		UPDATE prm_hos_target_data SET
		target_value = #{target_value}
		,
		is_audit =
		#{is_audit}
		,
		user_code = #{user_code}
		,
		audit_date = #{audit_date}

		WHERE
		group_id = #{group_id}
		and
		hos_id = #{hos_id}
		and
		copy_code = #{copy_code}
		and
		acc_year = #{acc_year}
		and
		acc_month = #{acc_month}
		and
		target_code = #{target_code}
		and
		check_hos_id = #{check_hos_id}


	</update>
	<update id="updateBatchPrmHosTargetData" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE PRM_HOS_TARGET_DATA 
			SET target_value = #{item.target_value}
			WHERE
				group_id = #{item.group_id}
				AND hos_id = #{item.hos_id}
				AND copy_code = #{item.copy_code}
				AND acc_year = #{item.acc_year}
				AND acc_month = #{item.acc_month}
				AND target_code = #{item.target_code}
				AND check_hos_id = #{item.check_hos_id}
		</foreach>
	</update>
	<delete id="deletePrmHosTargetData" parameterType="java.util.Map">

		DELETE FROM prm_hos_target_data WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month = #{acc_month} and
		target_code = #{target_code} and
		check_hos_id = #{check_hos_id}

	</delete>

	<delete id="cleanPrmHosTargetData" parameterType="java.util.Map">

		DELETE FROM prm_hos_target_data WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month = #{acc_month} and
		TARGET_CODE in (
			SELECT pt.target_code FROM
			PRM_TARGET pt
			LEFT JOIN
			PRM_TARGET_METHOD ptm on pt.target_code = ptm.target_code
		where
		ptm.group_id = pt.group_id
		and ptm.hos_id = pt.hos_id
		and ptm.copy_code = pt.copy_code
		and ptm.group_id = #{group_id}
		and ptm.hos_id = #{hos_id}
		and ptm.copy_code = #{copy_code}
		and ptm.method_code in ('01')
		and target_nature = '01' )
	</delete>

	<delete id="deleteBatchPrmHosTargetData" parameterType="java.util.List">
		DELETE FROM prm_hos_target_data WHERE
		<foreach collection="list" index="index" item="item" open="("
			separator="or" close=")">
			group_id = #{item.group_id}
			and
			hos_id = #{item.hos_id}
			and
			copy_code = #{item.copy_code}
			and
			acc_year = #{item.acc_year}
			and
			acc_month = #{item.acc_month}
			and
			target_code = #{item.target_code}
			and
			check_hos_id = #{item.check_hos_id}

		</foreach>

	</delete>
	<select id="queryPrmHosTargetData" parameterType="java.util.Map"
		resultMap="prmHosTargetData">

		SELECT
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		target_code,
		check_hos_id,
		target_value,
		is_audit,
		user_code,
		audit_date
		FROM PRM_HOS_TARGET_DATA
		<where>
			<if test="group_id != null and group_id != ''">
				AND group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				AND acc_year = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND acc_month = #{acc_month}
			</if>
			<if test="target_code != null and target_code != ''">
				AND target_code = #{target_code}
			</if>
			<if test="check_hos_id != null and check_hos_id != ''">
				AND check_hos_id = #{check_hos_id}
			</if>
			<if test="target_value != null and target_value != ''">
				AND target_value = #{target_value}
			</if>
			<if test="is_audit != null and is_audit != ''">
				AND is_audit = #{is_audit}
			</if>
			<if test="user_code != null and user_code != ''">
				AND user_code = #{user_code}
			</if>
			<if test="audit_date != null and audit_date != ''">
				AND audit_date = #{audit_date}
			</if>
		</where>
		order by group_id asc
	</select>


	<select id="queryPrmHosTargetPrmTargetData" parameterType="java.util.Map"
		resultMap="prmHosTargetData">

		SELECT
		pmt.group_id,
		pmt.hos_id,
		hi.hos_name check_hos_name,
		pmt.copy_code,
		pmt.acc_year,
		pmt.acc_month,
		pmt.target_code,
		pt.target_name,
		pmt.check_hos_id,
		pmt.target_value,
		pmt.is_audit,
		su.user_name,
		pmt.audit_date
		from
		PRM_HOS_TARGET_DATA pmt
		left join PRM_TARGET pt on pmt.target_code = pt.target_code
		left join sys_user su on su.user_code = pmt.user_code
		LEFT JOIN PRM_TARGET_METHOD ptm on ptm.target_code = pt.target_code
		LEFT JOIN hos_info hi on hi.hos_id = pmt.check_hos_id
		<where>
			<if test="group_id != null and group_id != ''">
				AND pmt.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
				AND pmt.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
				AND pmt.copy_code = #{copy_code}
			</if>
			<if test="acc_year != null and acc_year != ''">
				<!-- AND pmt.acc_year + pmt.acc_year = #{acc_year} + #{acc_month} -->
				AND pmt.acc_year || '' || pmt.acc_month = #{acc_year}
			</if>
			<if test="acc_month != null and acc_month != ''">
				AND pmt.acc_month = #{acc_month}
			</if>
			<if test="target_code != null and target_code != ''">
				AND pmt.target_code = #{target_code}
			</if>
			<if test="check_hos_id != null and check_hos_id != ''">
				AND check_hos_id = #{check_hos_id}
			</if>
			<if test="target_value != null and target_value != ''">
				AND pmt.target_value = #{target_value}
			</if>
			<if test="is_audit != null and is_audit != ''">
				AND pmt.is_audit = #{is_audit}
			</if>
			<if test="user_code != null and user_code != ''">
				AND su.user_code = #{user_code}
			</if>
			<if test="audit_date != null and audit_date != ''">
				AND pmt.audit_date = #{audit_date}
			</if>
			AND ptm.Method_Code = '01'
		</where>
		order by pmt.check_hos_id,pmt.target_code asc
	</select>

	<select id="queryPrmHosTargetDataByCode" resultType="com.chd.hrp.prm.entity.PrmHosTargetData"
		parameterType="string">

		SELECT
		group_id,
		hos_id,
		copy_code,
		acc_year,
		acc_month,
		target_code,
		check_hos_id,
		target_value,
		is_audit,
		user_code,
		audit_date
		FROM prm_hos_target_data
		WHERE
		group_id = #{group_id} and
		hos_id = #{hos_id} and
		copy_code = #{copy_code} and
		acc_year = #{acc_year} and
		acc_month = #{acc_month} and
		target_code = #{target_code} and
		check_hos_id = #{check_hos_id}

	</select>

	<update id="auditPrmHosTargetData" parameterType="java.util.Map">

		UPDATE PRM_HOS_TARGET_DATA 
		SET
			is_audit = #{is_audit},
			user_code = #{user_code},
			audit_date = #{audit_date}
		WHERE
			group_id = #{group_id} 
			AND hos_id = #{hos_id} 
			AND copy_code = #{copy_code} 
			AND acc_year = #{acc_year} 
			AND acc_month = #{acc_month}
			
			<if test="target_code != null and target_code != ''">
				AND target_code = #{target_code} 
			</if>
			
			<if test="check_hos_id != null and check_hos_id != '' ">
				AND check_hos_id = #{check_hos_id}
			</if>

	</update>

	<update id="reAuditPrmHosTargetData" parameterType="java.util.List">

		UPDATE prm_hos_target_data SET
		is_audit = #{is_audit},
		user_code = #{user_code},
		audit_date = #{audit_date}
		WHERE
		group_id = #{group_id}
		and
		hos_id = #{hos_id}
		and
		copy_code = #{copy_code}
		and
		acc_year = #{acc_year}
		and
		acc_month = #{acc_month}
		and
		target_code = #{target_code}
		and
		check_hos_id = #{check_hos_id}

	</update>
	
	<!-- 根据当前集团查询医院 -->
	<select id="queryHosInfoByGroupId" parameterType="java.util.Map" resultMap="hosInfoDictMap">
		SELECT 
			group_id, 
			hos_no, 
			hos_id, 
			hos_code, 
			hos_name, 
			hos_simple, 
			is_stop 
		FROM hos_info_dict 
		WHERE 
			is_stop = 0 
			AND group_id = #{group_id}
	</select>
</mapper>

