<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.prm.dao.PrmKpiLibMapper">
	
	<resultMap id="prmKpiLib" type="com.chd.hrp.prm.entity.PrmKpiLib">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="kpi_code" column="kpi_code"/>
	<result property="kpi_name" column="kpi_name"/>
	<result property="nature_code" column="nature_code"/>
	<result property="nature_name" column="nature_name"/>
	<result property="dim_code" column="dim_code"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="kpi_note" column="kpi_note"/>
    <result property="kpi_set_note" column="kpi_set_note"/>
    <result property="kpi_act_note" column="kpi_act_note"/>
    <result property="kpi_hos_type" column="kpi_hos_type"/>
    <result property="kpi_dept_type" column="kpi_dept_type"/>
    <result property="kpi_emp_type" column="kpi_emp_type"/>
    <result property="unit_code" column="unit_code"/>
	<result property="is_stop" column="is_stop"/>
	</resultMap>
	
	<insert id="addPrmKpiLib" useGeneratedKeys="true" >
	
		INSERT INTO PRM_KPI_LIB (
		group_id
		,
		hos_id
		,
		copy_code
		,
		kpi_code
		,
		kpi_name
		,
		nature_code
		,
		dim_code
		,
		spell_code
		,
		wbx_code
		,
		kpi_note
		,
		is_stop
		,
		kpi_set_note
		,
		kpi_act_note
		,
		kpi_hos_type
		,
		kpi_dept_type
		,
		kpi_emp_type
	    ,
	    unit_code
		
		) VALUES (
#{group_id}		,
#{hos_id}		,
#{copy_code}		,
#{kpi_code}		,
#{kpi_name}		,
#{nature_code}		,
#{dim_code}		,
#{spell_code}		,
#{wbx_code}		,
#{kpi_note}		,
#{is_stop}	,
#{kpi_set_note}		,
#{kpi_act_note}		,
#{kpi_hos_type}	    ,
#{kpi_dept_type}	,
#{kpi_emp_type}		,
#{unit_code}
		)
	
	</insert>
	<insert id="addBatchPrmKpiLib" parameterType="java.util.List" >
	
		INSERT INTO PRM_KPI_LIB (
		group_id
		,
		hos_id
		,
		copy_code
		,
		kpi_code
		,
		kpi_name
		,
		nature_code
		,
		dim_code
		,
		spell_code
		,
		wbx_code
		,
		kpi_hos_type
		,
		kpi_dept_type
		,
		kpi_emp_type
		,
		dim_note
		,
		is_stop
		
		) 
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
#{item.group_id}			,
#{item.hos_id}			    ,
#{item.copy_code}			,
#{item.kpi_code}			,
#{item.kpi_name}			,
#{item.nature_code}			,
#{item.dim_code}			,
#{item.spell_code}			,
#{item.wbx_code}			,
#{item.kpi_hos_type}	    ,
#{item.kpi_dept_type}		,
#{item.kpi_emp_type}		,
#{item.dim_note}			,
#{item.is_stop}			
		  from dual
		</foreach>
	</insert>
	
	<update id="updatePrmKpiLib" parameterType="java.util.Map">

		UPDATE prm_kpi_lib SET
		kpi_name = #{kpi_name}
		,
		nature_code = #{nature_code}
		,
		dim_code = #{dim_code}
		,
		spell_code = #{spell_code}
		,
		wbx_code = #{wbx_code}
		,
		kpi_note = #{kpi_note}
		,
		kpi_set_note = #{kpi_set_note}
		,
		kpi_act_note = #{kpi_act_note}
		,
		unit_code = #{unit_code}
		,
		kpi_hos_type = #{kpi_hos_type}
		,
		kpi_dept_type = #{kpi_dept_type}
		,
		kpi_emp_type = #{kpi_emp_type}
		,
		is_stop = #{is_stop}
		
		WHERE 
		group_id = #{group_id}
		 and 
		hos_id = #{hos_id}
		 and 
		copy_code = #{copy_code}
		 and 
		kpi_code = #{kpi_code}
		
	
	</update>
	<update id="updateBatchPrmKpiLib" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";" >
			UPDATE prm_kpi_lib SET
			kpi_name = #{kpi_name}
			,
			nature_code = #{nature_code}
			,
			dim_code = #{dim_code}
			,
			spell_code = #{spell_code}
			,
			wbx_code = #{wbx_code}
			,
			kpi_note = #{kpi_note}
			,
			is_stop = #{is_stop}
			
			WHERE 
			group_id = #{item.group_id}
			 and 
			hos_id = #{item.hos_id}
			 and 
			copy_code = #{item.copy_code}
			 and 
			kpi_code = #{item.kpi_code}
			
		</foreach>
	</update>
	
	<delete id="deletePrmKpiLib" parameterType="java.util.Map">
	
		DELETE FROM prm_kpi_lib WHERE
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		kpi_code = #{kpi_code} 
	
	</delete>
	<delete id="deleteBatchPrmKpiLib" parameterType="java.util.List">
		DELETE FROM prm_kpi_lib WHERE
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id}
				 and 
				hos_id = #{item.hos_id}
				 and 
				copy_code = #{item.copy_code}
				 and 
				kpi_code = #{item.kpi_code}
				
			</foreach>
	
	</delete>
	<select id="queryPrmKpiLib" parameterType="java.util.Map" resultMap="prmKpiLib" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		kpi_code,
		kpi_name,
		nature_code,
		dim_code,
		spell_code,
		wbx_code,
		kpi_note,
	    kpi_set_note,
		kpi_act_note,
	    unit_code,
		is_stop
		FROM PRM_KPI_LIB 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code}
		</if>
		<if test="kpi_code != null and kpi_code != ''">
		AND kpi_code = #{kpi_code}
		</if>
		<if test="kpi_name != null and kpi_name != ''">
		AND kpi_name = #{kpi_name}
		</if>
		<if test="nature_code != null and nature_code != ''">
		AND nature_code = #{nature_code}
		</if>
		<if test="dim_code != null and dim_code != ''">
		AND dim_code = #{dim_code}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND wbx_code = #{wbx_code}
		</if>
		<if test="dim_note != null and dim_note != ''">
		AND kpi_note = #{kpi_note}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND is_stop = #{is_stop}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	
	<select id="queryPrmKpiLibDimPkn" parameterType="java.util.Map" resultMap="prmKpiLib" >
	
	   SELECT 
       PRM.group_id ,
       PRM.hos_id ,
       PRM.copy_code ,
       kpi_code ,
       kpi_name ,
       PKN.nature_name nature_name,
       PKM.DIM_NAME, 
       PRM.nature_code,
       PRM.DIM_CODE,
       PRM.spell_code ,
       PRM.wbx_code ,
       PRM.kpi_note,
       PRM.kpi_set_note,
	   PRM.kpi_act_note,
	   PRM.kpi_hos_type,
	   PRM.kpi_dept_type,
	   PRM.kpi_emp_type,
	   PRM.unit_code,
       PRM.is_stop 
       FROM PRM_KPI_LIB PRM
       LEFT JOIN PRM_KPI_DIM PKM ON PRM.DIM_CODE = PKM.DIM_CODE
       LEFT JOIN PRM_KPI_NATURE PKN ON PKN.NATURE_CODE = PRM.NATURE_CODE
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND PRM.group_id = #{group_id}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND PRM.hos_id = #{hos_id}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND PRM.copy_code = #{copy_code}
		</if>
		<if test="kpi_code != null and kpi_code != '' ">
		AND PRM.kpi_code like  '%${kpi_code}%'
		</if>
		<if test="kpi_name != null and kpi_name != ''">
		AND PRM.kpi_name = #{kpi_name}
		</if>
		<if test="nature_code != null and nature_code != ''">
		AND PKN.nature_code = #{nature_code}
		</if>
		<if test="dim_code != null and dim_code != ''">
		AND PKM.dim_code = #{dim_code}
		</if>
		<if test="spell_code != null and spell_code != ''">
		AND PRM.spell_code = #{spell_code}
		</if>
		<if test="wbx_code != null and wbx_code != ''">
		AND PRM.wbx_code = #{wbx_code}
		</if>
		<if test="kpi_note != null and kpi_note != ''">
		AND PRM.dim_note = #{dim_note}
		</if>
		<if test="is_stop != null and is_stop != ''">
		AND PRM.is_stop = #{is_stop}
		</if>
		</where>   
		order by PRM.kpi_code asc
	</select>
	<select id="queryPrmKpiLibByCode" resultType="com.chd.hrp.prm.entity.PrmKpiLib" parameterType="string" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		kpi_code,
		kpi_name,
		nature_code,
		dim_code,
		spell_code,
		wbx_code,
		kpi_note,
	    kpi_set_note,
		kpi_act_note,
		kpi_hos_type,
		kpi_dept_type,
		kpi_emp_type,
	    unit_code,
		is_stop
		FROM prm_kpi_lib 
		WHERE 
		group_id = #{group_id}   and 
		hos_id = #{hos_id}   and 
		copy_code = #{copy_code}   and 
		kpi_code = #{kpi_code} 
	
	</select>
	
	<!-- 按树形结构显示维度下的指标 -->
	<select id="queryPrmKpiLibDimPkns" parameterType="java.util.Map" resultMap="prmKpiLib" >
		SELECT  
			temp.group_id,temp.hos_id,temp.copy_code,temp.kpi_code,temp.kpi_name,temp.nature_name,
			temp.dim_name,temp.nature_code,temp.dim_code,temp.spell_code,temp.wbx_code,temp.kpi_note,
			temp.kpi_set_note,temp.kpi_act_note,temp.kpi_hos_type,temp.kpi_dept_type,temp.kpi_emp_type,
			temp.unit_code,temp.is_stop 
		FROM (
			SELECT 
   				'0' as ob_num,pkd.group_id,pkd.hos_id,pkd.copy_code,pkd.dim_code as kpi_code,pkd.dim_name as kpi_name, 
   				null nature_name, null dim_name, null nature_code,pkd.dim_code as dim_code,null spell_code,
   				null wbx_code, null kpi_note,null kpi_set_note,null kpi_act_note,null kpi_hos_type, 
   				null kpi_dept_type, null kpi_emp_type,null unit_code,null is_stop
			FROM PRM_KPI_DIM pkd
			<where>
				<if test="group_id != null and group_id != ''">
					AND pkd.group_id = #{group_id}
				</if>
				<if test="hos_id != null and hos_id != ''">
					AND pkd.hos_id = #{hos_id}
				</if>
				<if test="copy_code != null and copy_code != ''">
					AND pkd.copy_code = #{copy_code}
				</if>
				<if test="dim_code != null and dim_code != ''">
					AND pkd.dim_code = #{dim_code}
				</if>
					AND pkd.is_stop = 0
			</where>
			UNION ALL
			SELECT 
	       		prm.kpi_code|| '1' as ob_num,PRM.group_id ,PRM.hos_id ,PRM.copy_code ,kpi_code ,kpi_name ,PKN.nature_name nature_name,
	       		PKM.DIM_NAME,PRM.nature_code,PRM.DIM_CODE,PRM.spell_code ,PRM.wbx_code ,PRM.kpi_note,
	       		PRM.kpi_set_note,PRM.kpi_act_note,PRM.kpi_hos_type,PRM.kpi_dept_type,PRM.kpi_emp_type,
		   		PRM.unit_code,PRM.is_stop 
	       	FROM PRM_KPI_LIB PRM
	       	LEFT JOIN PRM_KPI_DIM PKM ON PRM.DIM_CODE = PKM.DIM_CODE
	       	LEFT JOIN PRM_KPI_NATURE PKN ON PKN.NATURE_CODE = PRM.NATURE_CODE
			<where>                     
			<if test="group_id != null and group_id != ''">
			AND PRM.group_id = #{group_id}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND PRM.hos_id = #{hos_id}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND PRM.copy_code = #{copy_code}
			</if>
			<if test="kpi_code != null and kpi_code != '' ">
			AND PRM.kpi_code =  #{kpi_code}
			</if>
			<if test="kpi_name != null and kpi_name != ''">
			AND PRM.kpi_name = #{kpi_name}
			</if>
			<if test="nature_code != null and nature_code != ''">
			AND PKN.nature_code = #{nature_code}
			</if>
			<if test="dim_code != null and dim_code != ''">
			AND PKM.dim_code = #{dim_code}
			</if>
			<if test="spell_code != null and spell_code != ''">
			AND PRM.spell_code = #{spell_code}
			</if>
			<if test="wbx_code != null and wbx_code != ''">
			AND PRM.wbx_code = #{wbx_code}
			</if>
			<if test="kpi_note != null and kpi_note != ''">
			AND PRM.dim_note = #{dim_note}
			</if>
			<if test="is_stop != null and is_stop != ''">
			AND PRM.is_stop = #{is_stop}
			</if>
			</where>
		)temp  ORDER BY temp.dim_code,temp.ob_num,temp.kpi_code
	</select>
  
</mapper>

