<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.project.budgprojsetup.BudgProjSetUpMapper">
	
	<resultMap id="budgProjSetUp" type="com.chd.hrp.budg.entity.BudgProjSetUp">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="apply_code" column="apply_code"/>
	<result property="proj_code" column="proj_code"/>
	<result property="proj_name" column="proj_name"/>
	<result property="type_code" column="type_code"/>
	<result property="level_code" column="level_code"/>
	<result property="use_code" column="use_code"/>
	<result property="con_emp_id" column="con_emp_id"/>
	<result property="con_phone" column="con_phone"/>
	<result property="acc_emp_id" column="acc_emp_id"/>
	<result property="acc_phone" column="acc_phone"/>
	<result property="dept_no" column="dept_no"/>
	<result property="dept_id" column="dept_id"/>
	<result property="app_emp_id" column="app_emp_id"/>
	<result property="app_date" column="app_date"/>
	<result property="app_phone" column="app_phone"/>
	<result property="email" column="email"/>
	<result property="note" column="note"/>
	<result property="checker" column="checker"/>
	<result property="check_date" column="check_date"/>
	<result property="spell_code" column="spell_code"/>
	<result property="wbx_code" column="wbx_code"/>
	<result property="state" column="state"/>
	</resultMap>
		
	<resultMap id="budgProjSetUpMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="apply_code" column="apply_code"/>
	<result property="proj_code" column="proj_code"/>
	<result property="type_name" column="type_name"/>
	<result property="type_code" column="type_code"/>
	<result property="proj_name" column="proj_name"/>
	<result property="proj_simple" column="proj_simple"/>
	<result property="use_code" column="use_code"/>
	<result property="use_name" column="use_name"/>
	<result property="level_code" column="level_code"/>
	<result property="level_name" column="level_name"/>
	<result property="con_emp_name" column="con_emp_name"/>
	<result property="con_emp_id" column="con_emp_id"/>
	<result property="con_phone" column="con_phone"/>
	<result property="acc_emp_name" column="acc_emp_name"/>
	<result property="acc_emp_id" column="acc_emp_id"/>
	<result property="acc_phone" column="acc_phone"/>
	<result property="dept_name" column="dept_name"/>
	<result property="dept_id" column="dept_id"/>
	<result property="dept_no" column="dept_no"/>
	<result property="app_emp_name" column="app_emp_name"/>
	<result property="app_emp_id" column="app_emp_id"/>
	<result property="app_phone" column="app_phone"/>
	<result property="app_date" column="app_date"/>
	<result property="checker" column="checker"/>
	<result property="checker_name" column="checker_name"/>
	<result property="check_date" column="check_date"/>
	<result property="email" column="email"/>
	<result property="note" column="note"/>
	<result property="set_up_date" column="set_up_date"/>
	<result property="state" column="state"/>
	<result property="is_stop" column="is_stop"/>
	<result property="value_code" column="value_code"/>
	<result property="value_name" column="value_name"/>
	<result property="is_carry" column="is_carry"/>
	</resultMap>
	
	<select id="queryBudgProjSetUp" parameterType="java.util.Map" resultMap="budgProjSetUpMap" >
		select    
		  bpsu.group_id,
          bpsu.hos_id,
          bpsu.apply_code,
          bpsu.proj_code,
          bpsu.proj_name,
          hpt.type_code,
          hpt.type_name,
          hpl.level_name,
          bpsu.level_code,
          bpsu.proj_simple,
          bpsu.use_code,
          hpe.use_name,
          bpsu.con_emp_id,
          hed.emp_name as con_emp_name ,
          bpsu.con_phone,
          bpsu.acc_emp_id,
          hedf.emp_name as  acc_emp_name,
          bpsu.acc_phone,
          bpsu.dept_id,
          hdd.dept_name , 
          bpsu.app_emp_id,
          hedapp.emp_name as app_emp_name,
          bpsu.app_date,
          bpsu.app_phone,
          bpsu.checker,
          hedc.user_name checker_name,
          bpsu.check_date,
          bpsu.email,
          bpsu.note,
          bpsu.set_up_date,
          bpsu.state,
          bsd.value_code,
          bsd.value_name,
          bpsu.is_carry
      from BUDG_PROJ_SET_UP bpsu
      left join HOS_PROJ_TYPE hpt
      on hpt.group_id=bpsu.group_id
      and hpt.hos_id = bpsu.hos_id
      and hpt.type_code = bpsu.type_code
      and hpt.is_stop=0
      left join HOS_PROJ_LEVEL hpl
      on hpl.group_id = bpsu.group_id
      and hpl.hos_id = bpsu.hos_id
      and hpl.level_code = bpsu.level_code
      left join HOS_EMP_DICT hed
      on hed.group_id = bpsu.group_id
      and hed.hos_id = bpsu.hos_id
      and hed.emp_id = bpsu.con_emp_id
      and hed.is_stop = 0
      left join HOS_EMP_DICT hedf
      on hedf.group_id = bpsu.group_id
      and hedf.hos_id = bpsu.hos_id
      and hedf.emp_id = bpsu.acc_emp_id
      left join hos_dept_dict hdd
      on hdd.group_id = bpsu.group_id
      and hdd.hos_id = bpsu.hos_id
      and hdd.dept_id = bpsu.dept_id
      and hdd.is_stop = 0
      left join hos_emp_dict hedapp
      on hedapp.group_id = bpsu.group_id
      and hedapp.hos_id = bpsu.hos_id
      and hedapp.emp_id = bpsu.app_emp_id
      left join sys_user hedc
      on hedc.group_id = bpsu.group_id
      and hedc.hos_id = bpsu.hos_id
      and hedc.user_id = bpsu.checker
      left join HOS_PROJ_USE hpe on
        hpe.group_id = bpsu.group_id
        and hpe.hos_id = bpsu.hos_id
        and hpe.use_code = bpsu.use_code
        left join budg_sys_dict bsd
        on bsd.f_code='STATE_T'
        and bsd.value_code = bpsu.state
		where                     
			bpsu.group_id = #{group_id,jdbcType=INTEGER}
		AND bpsu.hos_id = #{hos_id,jdbcType=INTEGER}
		AND bpsu.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="proj_name != null and proj_name != ''">
		      	and (bpsu.proj_name like '%${proj_name}%'
		      		or
		      		bpsu.proj_code like '%${proj_name}%'
		      		or
		      		bpsu.proj_simple like '%${proj_name}%'
		      		or
		      		bpsu.spell_code like '%${proj_name}%'
		      		or
		      		bpsu.wbx_code like '%${proj_name}%'
		      		)
		      </if>
		      <if test="type_code != null and type_code != ''">
		      		and bpsu.type_code = #{type_code}
		      </if>
		      <if test="level_code != null and level_code != ''">
		      		and bpsu.level_code = #{level_code}
		      </if>
		      <if test="con_emp_id != null and con_emp_id != ''">
		      		and bpsu.con_emp_id = #{con_emp_id}
		      </if>
		      <if test="state != null and state != ''">
		      		and bpsu.state = #{state}
		      </if>
		      <if test="apply_code != null and apply_code != ''">
		      		and bpsu.apply_code like '%${apply_code}%'
		      </if>
		      <if test="start_app_date != null and start_app_date != '' and end_app_date != null and end_app_date != '' ">
		      		and bpsu.set_up_date between  to_date(#{start_app_date},'yyyy-mm-dd') and to_date(#{end_app_date} ,'yyyy-mm-dd')
		      </if>
		order by bpsu.apply_code asc
	</select>
	
	<select id="queryBudgProjSetUpByCode" parameterType="java.util.Map" resultMap="budgProjSetUpMap" >
	select    bpsu.group_id,
          bpsu.hos_id,
          bpsu.apply_code,
          bpsu.proj_code,
          bpsu.proj_name,
          hpt.type_code,
          hpt.type_name,
          hpl.level_name,
          bpsu.level_code,
          bpsu.proj_simple,
          bpsu.use_code,
          hpe.use_name,
          bpsu.con_emp_id,
          hed.emp_name as con_emp_name ,
          bpsu.con_phone,
          bpsu.acc_emp_id,
          hedf.emp_name as  acc_emp_name,
          bpsu.acc_phone,
          bpsu.dept_id,
          bpsu.dept_no,
          hdd.dept_name , 
          bpsu.app_emp_id,
          hedapp.emp_name as app_emp_name,
          bpsu.app_date,
          bpsu.app_phone,
          bpsu.email,
          bpsu.note,
          bpsu.set_up_date,
          bpsu.state,
          bsd.value_code,
          bsd.value_name,
          bpsu.is_carry
      from BUDG_PROJ_SET_UP bpsu
      left join HOS_PROJ_TYPE hpt
      on hpt.group_id=bpsu.group_id
      and hpt.hos_id = bpsu.hos_id
      and hpt.type_code = bpsu.type_code
      and hpt.is_stop=0
      left join HOS_PROJ_LEVEL hpl
      on hpl.group_id = bpsu.group_id
      and hpl.hos_id = bpsu.hos_id
      and hpl.level_code = bpsu.level_code
      left join HOS_EMP_DICT hed
      on hed.group_id = bpsu.group_id
      and hed.hos_id = bpsu.hos_id
      and hed.emp_id = bpsu.con_emp_id
      and hed.is_stop = 0
      left join HOS_EMP_DICT hedf
      on hedf.group_id = bpsu.group_id
      and hedf.hos_id = bpsu.hos_id
      and hedf.emp_id = bpsu.acc_emp_id
      left join hos_dept_dict hdd
      on hdd.group_id = bpsu.group_id
      and hdd.hos_id = bpsu.hos_id
      and hdd.dept_id = bpsu.dept_id
      and hdd.is_stop = 0
      left join hos_emp_dict hedapp
      on hedapp.group_id = bpsu.group_id
      and hedapp.hos_id = bpsu.hos_id
      and hedapp.emp_id = bpsu.app_emp_id
      left join HOS_PROJ_USE hpe on
        hpe.group_id = bpsu.group_id
        and hpe.hos_id = bpsu.hos_id
        and hpe.use_code = bpsu.use_code
        left join budg_sys_dict bsd
        on bsd.f_code='STATE_T'
        and bsd.value_code = bpsu.state
		where                     
			bpsu.group_id = #{group_id,jdbcType=INTEGER}
		AND bpsu.hos_id = #{hos_id,jdbcType=INTEGER}
		AND bpsu.copy_code = #{copy_code,jdbcType=VARCHAR}
		<if test="apply_code != null and apply_code != ''">
		AND bpsu.apply_code = #{apply_code,jdbcType=VARCHAR}
		</if>
		<if test="proj_code != null and proj_code != ''">
		AND bpsu.proj_code = #{proj_code,jdbcType=VARCHAR}
		</if>
		order by bpsu.apply_code asc
	</select>
	
	<insert id="addBudgProjSetUp" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_PROJ_SET_UP (
		group_id
		,
		hos_id
		,
		copy_code
		,
		apply_code
		,
		proj_code
		,
		proj_name
		,
		proj_simple
		,
		type_code
		<if test="level_code != '' and level_code != null">
		,
		level_code
		</if>
		<if test="use_code != '' and use_code != null">
		,
		use_code
		</if>
		<if test="con_emp_id != '' and con_emp_id != null">
		,
		con_emp_id
		</if>
		<if test="con_phone != '' and con_phone != null">
		,
		con_phone
		</if>
		<if test="acc_emp_id != '' and acc_emp_id != null">
		,
		acc_emp_id
		</if>
		<if test="acc_phone != '' and acc_phone != null">
		,
		acc_phone
		</if>
		<if test="dept_no != '' and dept_no != null">
		,
		dept_no
		</if>
		<if test="dept_id != '' and dept_id != null">
		,
		dept_id
		</if>
		<if test="app_emp_id != '' and app_emp_id != null">
		,
		app_emp_id
		</if>
		<if test="app_date != '' and app_date != null">
		,
		app_date
		</if>
		<if test="set_up_date != '' and set_up_date != null">
		,
		set_up_date
		</if>
		<if test="app_phone != '' and app_phone != null">
		,
		app_phone
		</if>
		<if test="email != '' and email != null">
		,
		email
		</if>
		<if test="note != '' and note != null">
		,
		note
		</if>
		<if test="spell_code != '' and spell_code != null">
		,
		spell_code
		</if>
		<if test="wbx_code != '' and wbx_code != null">
		,
		wbx_code
		</if>
		<if test="state != '' and state != null">
		,
		state
		</if>
		<if test="is_carry != '' and is_carry != null">
		,
		is_carry
		</if>
		
		) VALUES (
		#{group_id,jdbcType=INTEGER}
		,
		#{hos_id,jdbcType=INTEGER}
		,
		#{copy_code,jdbcType=VARCHAR}
		,
		#{apply_code,jdbcType=VARCHAR}
		,
		#{proj_code,jdbcType=VARCHAR}
		,
		#{proj_name,jdbcType=VARCHAR}
		,
		#{proj_simple,jdbcType=VARCHAR}
		,
		#{type_code,jdbcType=VARCHAR}
		<if test="level_code != '' and level_code != null">
		,
		#{level_code,jdbcType=VARCHAR}
		</if>
		<if test="use_code != '' and use_code != null">
		,
		#{use_code,jdbcType=VARCHAR}
		</if>
		<if test="con_emp_id != '' and con_emp_id != null">
		,
		#{con_emp_id,jdbcType=INTEGER}
		</if>
		<if test="con_phone != '' and con_phone != null">
		,
		#{con_phone,jdbcType=VARCHAR}
		</if>
		<if test="acc_emp_id != '' and acc_emp_id != null">
		,
		#{acc_emp_id,jdbcType=INTEGER}
		</if>
		<if test="acc_phone != '' and acc_phone != null">
		,
		#{acc_phone,jdbcType=VARCHAR}
		</if>
		<if test="dept_no != '' and dept_no != null">
		,
		#{dept_no,jdbcType=INTEGER}
		</if>
		<if test="dept_id != '' and dept_id != null">
		,
		#{dept_id,jdbcType=INTEGER}
		</if>
		<if test="app_emp_id != '' and app_emp_id != null">
		,
		#{app_emp_id,jdbcType=INTEGER}
		</if>
		<if test="app_date != '' and app_date != null">
		,
		to_date(#{app_date,jdbcType=DATE},'yyyy-mm-dd')
		</if>
		<if test="set_up_date != '' and set_up_date != null">
		,
		to_date(#{set_up_date,jdbcType=DATE},'yyyy-mm-dd')
		</if>
		<if test="app_phone != '' and app_phone != null">
		,
		#{app_phone,jdbcType=VARCHAR}
		</if>
		<if test="email != '' and email != null">
		,
		#{email,jdbcType=VARCHAR}
		</if>
		<if test="note != '' and note != null">
		,
		#{note,jdbcType=VARCHAR}
		</if>
		<if test="spell_code != '' and spell_code != null">
		,
		#{spell_code,jdbcType=VARCHAR}
		</if>
		<if test="wbx_code != '' and wbx_code != null">
		,
		#{wbx_code,jdbcType=VARCHAR}
		</if>
		<if test="state != '' and state != null">
		,
		#{state,jdbcType=VARCHAR}
		</if>
		<if test="is_carry != '' and is_carry != null">
		,
		#{is_carry,jdbcType=VARCHAR}
		</if>
		)
	
	</insert>
	<select id="queryExists" resultMap="budgProjSetUpMap"  parameterType="java.util.Map" >
		select proj_code,proj_name FROM budg_proj_set_up WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		(
			<if test="proj_code != '' and proj_code != null">
				proj_code=#{proj_code,jdbcType=VARCHAR}
			</if>
			<if test="proj_name != '' and proj_name != null">
				or proj_name=#{proj_name,jdbcType=VARCHAR}  
			</if>
		)
	</select>
	<select id="queryByCode" resultMap="budgProjSetUp"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		apply_code,
		proj_code,
		proj_name,
		type_code,
		level_code,
		use_code,
		con_emp_id,
		con_phone,
		acc_emp_id,
		acc_phone,
		dept_no,
		dept_id,
		app_emp_id,
		app_date,
		app_phone,
		email,
		note,
		checker,
		check_date,
		spell_code,
		wbx_code,
		state
		FROM budg_proj_set_up 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		proj_code = #{proj_code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteBudgProjSetUp" parameterType="java.util.List">
		DELETE FROM budg_proj_set_up 
		where
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}   and 
				hos_id = #{item.hos_id,jdbcType=INTEGER}   and 
				copy_code = #{item.copy_code,jdbcType=VARCHAR}   and 
				apply_code = #{item.apply_code,jdbcType=VARCHAR}
			</foreach>
	 
	</delete>
	
	<update id="updateBudgProjSetUp" parameterType="java.util.Map" >
	 			update budg_proj_set_up
	 			set
                            proj_code = #{proj_code},
                            proj_name = #{proj_name},
                            proj_simple = #{proj_simple},
                            type_code = #{type_code},
                            level_code = #{level_code},
                            use_code = #{use_code},
                            con_emp_id = #{con_emp_id},
                            con_phone = #{con_phone},
                            acc_emp_id = #{acc_emp_id},
                            acc_phone = #{acc_phone},
                            dept_no = #{dept_no},
                            dept_id = #{dept_id},
                            app_emp_id = #{app_emp_id}
                            <if test="app_date != '' and app_date != null">
                            ,
                            app_date = to_date(#{app_date},'yyyy-mm-dd')
                            </if>
                            <if test="set_up_date != '' and set_up_date != null">
                            ,
                            set_up_date = to_date(#{set_up_date},'yyyy-mm-dd')
                            </if>
                            ,
                            app_phone = #{app_phone}
                            ,
                            email = #{email}
                            ,
                            note = #{note}
                            ,
                            spell_code = #{spell_code}
                            ,
                            wbx_code = #{wbx_code}
                            ,
                            state = #{state}
                      where group_id = #{group_id}
                        and hos_id = #{hos_id}
                        and copy_code = #{copy_code}
                        and apply_code = #{apply_code}
	</update>
	<update id="auditBudgProjSetUp" parameterType="java.util.Map" >
	 			update budg_proj_set_up
	 			set checker = #{checker},
	 				check_date = to_date(#{check_date},'yyyy-mm-dd'),
	 			STATE = '03'
                      where group_id = #{group_id}
                        and hos_id = #{hos_id}
                        and copy_code = #{copy_code}
                        and apply_code = #{apply_code}
	</update>
	<update id="cancelauditBudgProjSetUp" parameterType="java.util.Map" >
	 			update budg_proj_set_up
	 			set checker = #{checker},
	 				check_date = to_date(#{check_date},'yyyy-mm-dd'),
	 			STATE = '02'
                      where group_id = #{group_id}
                        and hos_id = #{hos_id}
                        and copy_code = #{copy_code}
                        and apply_code = #{apply_code}
	</update>
	<update id="submitBudgProjSetUp" parameterType="java.util.Map" >
	 			update budg_proj_set_up
	 			set  
	 			STATE = '02'
                      where group_id = #{group_id}
                        and hos_id = #{hos_id}
                        and copy_code = #{copy_code}
                        and apply_code = #{apply_code}
	</update>
	<update id="recallBudgProjSetUp" parameterType="java.util.Map" >
	 			update budg_proj_set_up
	 			set  
	 			STATE = '01'
                      where group_id = #{group_id}
                        and hos_id = #{hos_id}
                        and copy_code = #{copy_code}
                        and apply_code = #{apply_code}
	</update>
	
</mapper>

