<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.attendancemanagement.scheduling.HrAttendClassMapper">

<resultMap id="hrAttendClass" type="com.chd.hrp.hr.entity.attendancemanagement.scheduling.HrAttendClass">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attend_areacode" column="attend_areacode" />
		<result property="attend_area_name" column="attend_area_name" />
		<result property="attend_areacode" column="attend_areacode" />
		<result property="attend_code" column="attend_code" />
		<result property="attend_name" column="attend_name" />
		<result property="attend_classname" column="attend_classname" />
		<result property="attend_classsname" column="attend_classsname" />
		<result property="attend_class_typecode" column="attend_class_typecode"/>
		<result property="attend_class_typename" column="attend_class_typename"/>
		<result property="attend_begtime1" column="attend_begtime1" />
		<result property="attend_endtime1" column="attend_endtime1" />
		<result property="attend_begtime2" column="attend_begtime2" />
		<result property="attend_endtime2" column="attend_endtime2" />
		<result property="attend_begtime3" column="attend_begtime3" />
		<result property="attend_endtime3" column="attend_endtime3" />
		<result property="attend_days" column="attend_days" />
</resultMap>

<resultMap id="hrAttendClassMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attend_classcode" column="attend_classcode" />
		<result property="attend_areacode" column="attend_areacode" />
		<result property="attend_area_name" column="attend_area_name" />
		<result property="attend_areacode" column="attend_areacode" />
		<result property="attend_code" column="attend_code" />
		<result property="attend_name" column="attend_name" />
		<result property="attend_classname" column="attend_classname" />
		<result property="attend_classsname" column="attend_classsname" />
		<result property="attend_class_typecode" column="attend_class_typecode"/>
		<result property="attend_class_typename" column="attend_class_typename"/>
		<result property="attend_begtime1" column="attend_begtime1" />
		<result property="attend_endtime1" column="attend_endtime1" />
		<result property="attend_begtime2" column="attend_begtime2" />
		<result property="attend_endtime2" column="attend_endtime2" />
		<result property="attend_begtime3" column="attend_begtime3" />
		<result property="attend_endtime3" column="attend_endtime3" />
		<result property="attend_days" column="attend_days" />
</resultMap>
<!--增加 -->
	<insert id="add" useGeneratedKeys="true">
		INSERT INTO HR_ATTEND_CLASS (
		<trim suffix="" suffixOverrides=",">
			group_id,
			hos_id,
			
			attend_classcode,
			attend_code,
			attend_classname,
			attend_classsname,
			attend_class_typecode,
			attend_begtime1,
			attend_endtime1,
			attend_begtime2,
			attend_endtime2,
			attend_begtime3,
			attend_endtime3,
			attend_days,
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
			#{group_id,jdbcType=INTEGER},
			#{hos_id,jdbcType=INTEGER},
	
			#{attend_classcode,jdbcType=VARCHAR},
			#{attend_code,jdbcType=VARCHAR},
			#{attend_classname,jdbcType=VARCHAR},
			#{attend_classsname,jdbcType=VARCHAR},
			#{attend_class_typecode,jdbcType=VARCHAR},
			to_date(#{attend_begtime1},'hh24:mi:ss'),
			to_date(#{attend_endtime1},'hh24:mi:ss'),
		    to_date(#{attend_begtime2},'hh24:mi:ss'),
		    to_date(#{attend_endtime2},'hh24:mi:ss'),
			to_date(#{attend_begtime3},'hh24:mi:ss'),
			to_date(#{attend_endtime3},'hh24:mi:ss'),
			#{attend_days,jdbcType=VARCHAR},
		</trim>
		)
	</insert>
<select id="query" resultMap="hrAttendClassMap" parameterType="java.util.Map">
 select hac.group_id, hac.hos_id, hac.attend_classcode, hac.attend_code, hai.attend_name
  , hac.attend_areacode, hac.attend_code, hac.attend_classname, hac.attend_classsname
  , had.attend_class_typename, to_char(hac.attend_begtime1, 'hh24:mi') as attend_begtime1
  , to_char(hac.attend_endtime1, 'hh24:mi') as attend_endtime1
  , to_char(hac.attend_begtime2, 'hh24:mi') as attend_begtime2
  , to_char(hac.attend_endtime2, 'hh24:mi') as attend_endtime2
  , to_char(hac.attend_begtime3, 'hh24:mi') as attend_begtime3
  , to_char(hac.attend_endtime3, 'hh24:mi') as attend_endtime3, hac.attend_days
from HR_ATTEND_CLASS hac
left join HR_ATTEND_ITEM hai on hac.attend_code = hai.attend_code
and hac.group_id = hai.group_id
and hac.hos_id = hai.hos_id 
left join HR_ATTEND_CLASS_TYPE had on hac.attend_class_typecode = had.attend_class_typecode
and had.group_id = hac.group_id
and had.hos_id = hac.hos_id 
<where>
<if test="group_id != null and group_id != ''">
	AND hac.group_id = #{group_id,jdbcType=INTEGER}
</if>
	<if test="hos_id != null and hos_id != ''">
		AND hac.hos_id = #{hos_id,jdbcType=INTEGER}
	</if>
	<if test="attend_classname != null and attend_classname != ''">
		and (
		hac.attend_classname like '%${attend_classname}%'
		or hac.attend_classcode like '%${attend_classname}%'
		)
	</if>
	<if test="attend_areacode != null and attend_areacode != ''">
		AND haa.attend_areacode =#{attend_areacode,jdbcType=VARCHAR}
	</if>
	<if test="attend_class_typecode != null and attend_class_typecode != ''">
		AND hac.attend_class_typecode =#{attend_class_typecode,jdbcType=VARCHAR}
	</if>

</where>
order by hac.attend_classcode
</select>
<select id="queryAttendClassByPrint" resultMap="hrAttendClassMap" parameterType="java.util.Map">
 select hac.group_id, hac.hos_id, hac.attend_classcode, hac.attend_code, hai.attend_name
  , hac.attend_areacode, hac.attend_code, hac.attend_classname, hac.attend_classsname
  , had.attend_class_typename, to_char(hac.attend_begtime1, 'hh24:mi') as attend_begtime1
  , to_char(hac.attend_endtime1, 'hh24:mi') as attend_endtime1
  , to_char(hac.attend_begtime2, 'hh24:mi') as attend_begtime2
  , to_char(hac.attend_endtime2, 'hh24:mi') as attend_endtime2
  , to_char(hac.attend_begtime3, 'hh24:mi') as attend_begtime3
  , to_char(hac.attend_endtime3, 'hh24:mi') as attend_endtime3, hac.attend_days
from HR_ATTEND_CLASS hac
left join HR_ATTEND_ITEM hai on hac.attend_code = hai.attend_code
and hac.group_id = hai.group_id
and hac.hos_id = hai.hos_id 
left join HR_ATTEND_CLASS_TYPE had on hac.attend_class_typecode = had.attend_class_typecode
and had.group_id = hai.group_id
and had.hos_id = hai.hos_id 
<where>
<if test="group_id != null and group_id != ''">
	AND hac.group_id = #{group_id,jdbcType=INTEGER}
</if>
	<if test="hos_id != null and hos_id != ''">
		AND hac.hos_id = #{hos_id,jdbcType=INTEGER}
	</if>
	<if test="attend_classname != null and attend_classname != ''">
		and (
		hac.attend_classname like '%${attend_classname}%'
		or hac.attend_classcode like '%${attend_classname}%'
		)
	</if>
	<if test="attend_areacode != null and attend_areacode != ''">
		AND haa.attend_areacode =#{attend_areacode,jdbcType=VARCHAR}
	</if>
	<if test="attend_class_typecode != null and attend_class_typecode != ''">
		AND hac.attend_class_typecode =#{attend_class_typecode,jdbcType=VARCHAR}
	</if>

</where>
order by hac.attend_classcode</select>
<select id="queryByCode" resultMap="hrAttendClass" parameterType="java.util.Map">
select group_id,hos_id,attend_areacode,Attend_classcode,attend_areacode,attend_code,attend_class_typecode,
attend_classname,attend_classsname,attend_begtime1,attend_endtime1,attend_begtime2,attend_endtime2,attend_begtime3,attend_endtime3,attend_days

FROM HR_ATTEND_CLASS 
<where>                     
	
		AND group_id = #{group_id,jdbcType=INTEGER}
	
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		AND attend_classcode =  #{attend_classcode,jdbcType=VARCHAR}
	
		</where>  
</select>
<select id="queryByCodeClass"  resultMap="hrAttendClass" parameterType="java.util.Map">
select group_id,hos_id,attend_areacode,Attend_classcode,attend_areacode,attend_code,attend_class_typecode,
attend_classname,attend_classsname,attend_begtime1,attend_endtime1,attend_begtime2,attend_endtime2,attend_begtime3,attend_endtime3,attend_days

FROM HR_ATTEND_CLASS 
<where>                     
	
		AND group_id = #{group_id,jdbcType=INTEGER}
	
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		AND (attend_classcode =  #{attend_classcode,jdbcType=VARCHAR} or attend_classsname=  #{attend_classsname,jdbcType=VARCHAR} or attend_classname=  #{attend_classname,jdbcType=VARCHAR})
	
		</where>  </select>
		<select id="queryByCodeClassUpdate" resultMap="hrAttendClass" parameterType="java.util.Map">
select group_id,hos_id,attend_areacode,Attend_classcode,attend_areacode,attend_code,attend_class_typecode,
attend_classname,attend_classsname,attend_begtime1,attend_endtime1,attend_begtime2,attend_endtime2,attend_begtime3,attend_endtime3,attend_days

FROM HR_ATTEND_CLASS 
<where>                     
	
		AND group_id = #{group_id,jdbcType=INTEGER}
	
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		
		AND attend_classcode !=  #{attend_classcode,jdbcType=VARCHAR} and (attend_classsname=  #{attend_classsname,jdbcType=VARCHAR} or attend_classname=  #{attend_classname,jdbcType=VARCHAR})
	
		</where> 
		</select>
<update id="update" parameterType="java.util.Map">
		update HR_ATTEND_CLASS

		<trim prefix="SET" suffixOverrides=",">
			attend_areacode = #{attend_areacode,jdbcType=VARCHAR},
			attend_code = #{attend_code,jdbcType=VARCHAR},
			attend_classname = #{attend_classname,jdbcType=VARCHAR},
			attend_classsname = #{attend_classsname,jdbcType=VARCHAR},
			attend_class_typecode= #{attend_class_typecode,jdbcType=VARCHAR},
			attend_begtime1 = to_date(#{attend_begtime1},'hh24:mi:ss'),
			attend_endtime1 = to_date(#{attend_endtime1},'hh24:mi:ss'),
			attend_begtime2 = to_date(#{attend_begtime2},'hh24:mi:ss'),
			attend_endtime2 = to_date(#{attend_endtime2},'hh24:mi:ss'),
			attend_begtime3 = to_date(#{attend_begtime3},'hh24:mi:ss'),
			attend_endtime3 = to_date(#{attend_endtime3},'hh24:mi:ss'),
			attend_days = #{attend_days,jdbcType=VARCHAR},
		</trim>
		<where>
			AND group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id =
			#{hos_id,jdbcType=INTEGER}
			AND attend_classcode =
			#{attend_classcode,jdbcType=VARCHAR}

		</where></update>
	<delete id="deleteAttendClass" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="begin"
			separator=";" close=";end;">

			DELETE FROM HR_ATTEND_CLASS
			where
			group_id = #{item.group_id}
			and hos_id = #{item.hos_id}
			and attend_classcode = #{item.attend_classcode}
		</foreach>


	</delete>

	<resultMap type="java.util.Map" id="hrClassMap">
		<result property="id" column="id" />
		<result property="text" column="text" />
		<result property="name" column="name" />
		<result property="label" column="label" />
		<result property="type" column="type" />
		<result property="is_write" column="is_write" />
	</resultMap>
<select id="queryAttendAreacode" parameterType="java.util.Map" resultMap="hrClassMap"> 
	select t.attend_areacode as id, t.attend_area_name as text
		  from hr_attend_area t
		 where t.group_id = #{group_id}
		   	and t.hos_id = #{hos_id}
		 		<if test=" key != null and key != ''">
				and ( t.attend_areacode like '%'||UPPER('${key}')||'%' or
				t. attend_area_name like '%${key}%' )
			</if>
		 order by t.attend_areacode</select>
		 
		 <resultMap type="java.util.Map" id="hrSelectMap">
		<result property="id" column="id" />
		<result property="text" column="text" />
		<result property="name" column="name" />
		<result property="label" column="label" />
		<result property="type" column="type" />
		<result property="is_write" column="is_write" />
	</resultMap>
	
			<resultMap id="hrSchedulingMap" type="java.util.Map">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="attend_pbcode" column="attend_pbcode" />
		<result property="attend_areacode" column="attend_areacode" />
		<result property="attend_pbname" column="attend_pbname" />
		<result property="attend_pbrule" column="attend_pbrule" />
		<result property="pbrule_name" column="pbrule_name" />
		<result property="attend_pbnote" column="attend_pbnote" />
	</resultMap>
	<select id="queryAttendScheduling" resultType="java.lang.Integer">
	select count(*) from HR_PB pb 
	where
		pb.attend_classcode=#{attend_classcode} and pb.group_id = #{group_id}
		and pb.hos_id = #{hos_id}
	</select>
</mapper>