<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.htc.dao.task.projectcost.HtcWorkCauseSetMapper">
	<resultMap id="htcWorkCauseSetMap" type="com.chd.hrp.htc.entity.task.projectcost.HtcWorkCauseSet">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id"/>
		<result property="copy_code" column="copy_code" />
		<result property="acc_year" column="acc_year" />
		<result property="plan_code" column="plan_code" />
		<result property="plan_name" column="plan_name" />
		<result property="proj_dept_no" column="proj_dept_no" />
		<result property="proj_dept_id" column="proj_dept_id" />
		<result property="proj_dept_code" column="proj_dept_code" />
		<result property="proj_dept_name" column="proj_dept_name" />
		<result property="cost_type_id" column="cost_type_id" />
		<result property="cost_type_code" column="cost_type_code" />
		<result property="cost_type_name" column="cost_type_name" />
		<result property="work_code" column="work_code" />
		<result property="work_name" column="work_name" />
		<result property="dir_work_code" column="dir_work_code" />
		<result property="dir_work_name" column="dir_work_name" />
		<result property="pub_work_code" column="pub_work_code" />
		<result property="pub_work_name" column="pub_work_name" />
		<result property="man_work_code" column="man_work_code" />
		<result property="man_work_name" column="man_work_name" />
		<result property="ass_work_code" column="ass_work_code" />
		<result property="ass_work_name" column="ass_work_name" />
	</resultMap>
	<insert id="initHtcWorkCauseSet" parameterType="java.util.Map">
		   insert into htc_work_cause_set
						(group_id,
						 hos_id,
						 copy_code,
						 acc_year,
						 plan_code,
						 proj_dept_no,
						 proj_dept_id,
						 cost_type_id,
						 work_code)
					 select 
						 hdwr.group_id,
						 hdwr.hos_id,
						 hdwr.copy_code,
						 hdwr.acc_year,
						 hdwr.plan_code,
						 hdwr.proj_dept_no,
						 hdwr.proj_dept_id,
						 ctd.cost_type_id,
						 hdwr.work_code
					 from htc_dept_work_rela hdwr
					 left join cost_type_dict ctd on 1 = 1
					 where hdwr.group_id = #{group_id}
					 and hdwr.hos_id = #{hos_id}
					 and hdwr.copy_code = #{copy_code}
					 and hdwr.acc_year = #{acc_year}
					 and not exists (
						select 1 from htc_work_cause_set hwcs
						where hwcs.group_id = hdwr.group_id 
						and hwcs.hos_id = hdwr.hos_id
						and hwcs.copy_code = hdwr.copy_code 
						and hwcs.acc_year = hdwr.acc_year 
						and hwcs.plan_code = hdwr.plan_code 
						and hwcs.proj_dept_no = hdwr.proj_dept_no 
						and hwcs.proj_dept_id = hdwr.proj_dept_id
						and hwcs.work_code = hdwr.work_code
						and hwcs.cost_type_id = ctd.cost_type_id
					 )
	</insert>

	<update id="updateBatchHtcWorkCauseSet" parameterType="java.util.List">
		<foreach collection="list" item="item" open="begin" close=";end;" separator=";">
			update htc_work_cause_set
		<set>
			<if test="item.dir_work_code != null and item.dir_work_code != ''">
				dir_work_code = #{item.dir_work_code} ,
			</if>
			<if test="item.pub_work_code != null and item.pub_work_code != ''">
				pub_work_code = #{item.pub_work_code} ,
			</if>
			<if test="item.man_work_code != null and item.man_work_code != ''">
				man_work_code = #{item.man_work_code} ,
			</if>
			<if test="item.ass_work_code != null and item.ass_work_code != ''">
				ass_work_code = #{item.ass_work_code}
			</if>
		</set>
		       where group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and acc_year = #{item.acc_year}
			   and plan_code = #{item.plan_code}
			   and proj_dept_no = #{item.proj_dept_no}
			   and proj_dept_id = #{item.proj_dept_id}
			   and cost_type_id = #{item.cost_type_id}
			   and work_code = #{item.work_code}
		</foreach>
	</update>

	<delete id="deleteHtcWorkCauseSet" parameterType="java.util.Map">
		    delete htc_work_cause_set
			 where group_id = #{group_id}
			   and hos_id = #{hos_id}
			   and copy_code = #{copy_code}
			   and acc_year = #{acc_year}
			   and plan_code = #{plan_code}
			   and proj_dept_no = #{proj_dept_no}
			   and proj_dept_id = #{proj_dept_id}
			   and cost_type_id = #{cost_type_id}
			   and work_code = #{work_code}
	</delete>

	<delete id="deleteBatchHtcWorkCauseSet" parameterType="java.util.List">
		 delete htc_work_cause_set where
		<foreach collection="list" index="index" item="item" separator="or" >
		(
				   group_id = #{item.group_id}
			   and hos_id = #{item.hos_id}
			   and copy_code = #{item.copy_code}
			   and acc_year = #{item.acc_year}
			   and plan_code = #{item.plan_code}
			   and proj_dept_no =  #{item.proj_dept_no}
			   and proj_dept_id = #{item.proj_dept_id}
			   and cost_type_id = #{item.cost_type_id}
			   and work_code = #{item.work_code}
		)
		</foreach>

	</delete>

	
	<select id="queryHtcWorkCauseSet" parameterType="java.util.Map" resultMap="htcWorkCauseSetMap">
				    select hwcs.group_id,
					       hwcs.hos_id,
					       hwcs.copy_code,
					       hwcs.acc_year,
					       hwcs.plan_code,
						   hps.plan_name,
					       hwcs.proj_dept_no,
					       hwcs.proj_dept_id,
						   hpdd.proj_dept_code,
						   hpdd.proj_dept_name,
					       hwcs.cost_type_id,
						   ctd.cost_type_code,
						   ctd.cost_type_name,
					       hwcs.work_code,
						   hwd.work_name,
					       hwcs.dir_work_code,
						   hwcdd.work_cause_name dir_work_name,
					       hwcs.pub_work_code,
						   hwcdp.work_cause_name pub_work_name,
					       hwcs.man_work_code,
						   hwcdm.work_cause_name man_work_name,
					       hwcs.ass_work_code,
						  hwcda.work_cause_name ass_work_name
					  from htc_work_cause_set hwcs
						left join htc_plan_set hps
						on hwcs.group_id = hps.group_id
						and hwcs.hos_id = hps.hos_id
						and hwcs.copy_code = hps.copy_code
						and hwcs.plan_code = hps.plan_code
						left join htc_proj_dept_dict hpdd
						on hpdd.group_id = hwcs.group_id
						and hpdd.hos_id = hwcs.hos_id
						and hpdd.copy_code = hwcs.copy_code
						and hpdd.proj_dept_no = hwcs.proj_dept_no
						and hpdd.proj_dept_id = hwcs.proj_dept_id
						left join cost_type_dict ctd
						on ctd.cost_type_id = hwcs.cost_type_id
						left join htc_work_dict hwd
						on hwd.group_id = hwcs.group_id
						and hwd.hos_id = hwcs.hos_id
						and hwd.copy_code = hwcs.copy_code
						and hwd.work_code = hwcs.work_code
						left join htc_work_cause_dict hwcdd
						on hwcdd.group_id = hwcs.group_id
						and hwcdd.hos_id = hwcs.hos_id
						and hwcdd.copy_code = hwcs.copy_code
						and hwcdd.work_cause_code = hwcs.dir_work_code
						left join htc_work_cause_dict hwcdp
						on hwcdp.group_id = hwcs.group_id
						and hwcdp.hos_id = hwcs.hos_id
						and hwcdp.copy_code = hwcs.copy_code
						and hwcdp.work_cause_code = hwcs.pub_work_code
						left join htc_work_cause_dict hwcdm
						on hwcdm.group_id = hwcs.group_id
						and hwcdm.hos_id = hwcs.hos_id
						and hwcdm.copy_code = hwcs.copy_code
						and hwcdm.work_cause_code = hwcs.man_work_code
						left join htc_work_cause_dict hwcda
						on hwcda.group_id = hwcs.group_id
						and hwcda.hos_id = hwcs.hos_id
						and hwcda.copy_code = hwcs.copy_code
						and hwcda.work_cause_code = hwcs.ass_work_code
					 <where> hwcs.group_id = #{group_id}
					    and  hwcs.hos_id = #{hos_id}
					    and  hwcs.copy_code = #{copy_code}
					   <if test="acc_year != null and acc_year != ''">
						    and hwcs.acc_year = #{acc_year}
					    </if>
					     <if test="plan_code != null and plan_code != ''">
						   and hwcs.plan_code = #{plan_code}
					    </if>
					     <if test="proj_dept_no != null and proj_dept_no != ''">
						   and hwcs.proj_dept_no = #{proj_dept_no}
					    </if>
					     <if test="proj_dept_id != null and proj_dept_id != ''">
						   and hwcs.proj_dept_id = #{proj_dept_id}
					    </if>
					     <if test="cost_type_id != null and cost_type_id != ''">
						   and hwcs.cost_type_id = #{cost_type_id}
					    </if>
					 </where>
					 order by  hwcs.group_id,
						       hwcs.hos_id,
						       hwcs.copy_code,
						       hwcs.acc_year,
						       hwcs.plan_code,
							   hpdd.proj_dept_code,
							   ctd.cost_type_code,
						       hwcs.work_code
					               
	</select>

</mapper>

