<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chd.hrp.pac.dao.basicset.type.PactTypeFKXYMapper">
	<resultMap id="pactTypeEntity"
		type="com.chd.hrp.pac.entity.basicset.type.PactTypeFKXYEntity">
		<result property="group_id" column="group_id" />
		<result property="hos_id" column="hos_id" />
		<result property="copy_code" column="copy_code" />
		<result property="type_code" column="type_code" />
		<result property="type_name" column="type_name" />
		<result property="mark" column="mark" />
		<result property="dept_id" column="dept_id" />
		<result property="start_date" column="start_date" />
		<result property="is_stop" column="is_stop" />
		<result property="spell_code" column="spell_code" />
		<result property="wbx_code" column="wbx_code" />
		<result property="note" column="note" />
		<result property="dept_name" column="dept_name" />
		<result property="vouch_name" column="vouch_name" />
		<result property="fkxy_attr" column="fkxy_attr" />
		<result property="subject_type" column="subject_type" />
	</resultMap>

	<select id="query" parameterType="java.util.Map" resultMap="pactTypeEntity">
		SELECT f.type_code, f.type_name, f.mark, f.dept_id, f.start_date, f.is_stop, f.note, f.fkxy_attr, d.dept_name, p.VALUE_NAME vouch_name
		FROM
		PACT_TYPE_FKXY f
		LEFT JOIN HOS_DEPT d on f.dept_id =d.dept_id AND f.GROUP_ID = d.GROUP_ID AND f.HOS_ID = d.HOS_ID
		LEFT JOIN PACT_DICT_DATA p ON f.fkxy_attr = p.VALUE_CODE AND p.f_code = 'PACT_ATTR_FKXY'
		where
		f.group_id=#{group_id,jdbcType=NUMERIC}
		and f.hos_id=#{hos_id,jdbcType=NUMERIC}
		and f.copy_code=#{copy_code,jdbcType=VARCHAR}
		<if test="FKXY_Attr != null and FKXY_Attr != ''">
			and f.FKXY_Attr=#{FKXY_Attr,jdbcType=VARCHAR}
		</if>
		<if test="is_stop != null and is_stop != ''">
			and f.is_stop=#{is_stop,jdbcType=NUMERIC}
		</if>
		<if test="mark != null and mark != ''">
			and f.mark like upper(#{mark})||'%'
		</if>
		<if test="fkxy_attr != null and fkxy_attr != ''">
			and f.fkxy_attr=#{fkxy_attr,jdbcType=VARCHAR}
		</if>
		<if test="dept_id != null and dept_id != ''">
			and f.dept_id=#{dept_id,jdbcType=NUMERIC}
		</if>
		<if test="type_name != null and type_name != ''">
			and (
			f.type_code like '%'||#{type_name}||'%' or
			f.type_name like '%'||#{type_name}||'%'
			)
		</if>
		order by f.type_code
	</select>

	<select id="queryPactTypeFKXYByCode" parameterType="java.util.Map" resultMap="pactTypeEntity">
		select
		group_id,hos_id,copy_code,type_code,type_name,mark,dept_id,start_date,is_stop,spell_code,wbx_code,note,fkxy_attr,subject_type
		from PACT_TYPE_FKXY
		where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and type_code =#{type_code,jdbcType=VARCHAR}
	</select>
	
	<select id="queryPactTypeFKXYByName" parameterType="java.util.Map"  resultMap="pactTypeEntity">
		select
		group_id,hos_id,copy_code,type_code,type_name,mark,dept_id,start_date,is_stop,spell_code,wbx_code,note,fkxy_attr,subject_type
		from PACT_TYPE_FKXY
		where
		group_id=#{group_id,jdbcType=NUMERIC}
		and hos_id=#{hos_id,jdbcType=NUMERIC}
		and copy_code=#{copy_code,jdbcType=VARCHAR}
		and type_name =#{type_name,jdbcType=VARCHAR}
	</select>


	<insert id="add" parameterType="java.util.Map">
		INSERT INTO PACT_TYPE_FKXY
		(group_id,hos_id,copy_code,type_code,type_name,mark,dept_id,start_date,is_stop,spell_code,wbx_code,note,fkxy_attr,subject_type)
		VALUES(
		#{group_id,jdbcType=NUMERIC},
		#{hos_id,jdbcType=NUMERIC},
		#{copy_code,jdbcType=VARCHAR},
		#{type_code,jdbcType=VARCHAR},
		#{type_name,jdbcType=VARCHAR},
		#{mark,jdbcType=NUMERIC},
		#{dept_id,jdbcType=NUMERIC},
		to_date(#{start_date,jdbcType=DATE},'yyyy-MM-dd'),
		#{is_stop,jdbcType=NUMERIC},
		#{spell_code,jdbcType=VARCHAR},
		#{wbx_code,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR},
		#{fkxy_attr,jdbcType=VARCHAR},
		#{subject_type,jdbcType=VARCHAR}
		)
	</insert>

	<delete id="deleteAllBatch" parameterType="java.util.List">
		DELETE FROM PACT_TYPE_FKXY
		<where>
			<foreach collection="list" index="index" item="item" open="("
				separator="or" close=")">
				GROUP_ID = #{item.group_id,jdbcType=NUMERIC}
				and HOS_ID =#{item.hos_id,jdbcType=NUMERIC}
				AND COPY_CODE = #{item.copy_code,jdbcType=VARCHAR}
				AND type_code = #{item.type_code,jdbcType=VARCHAR}
			</foreach>
		</where>
	</delete>

	<update id="update" parameterType="java.util.Map">
		UPDATE PACT_TYPE_FKXY SET
		<if test="type_name != null and type_name != ''">
			type_name=#{type_name,jdbcType=VARCHAR},
		</if>

		<if test="mark != null and mark != ''">
			mark= #{mark,jdbcType=NUMERIC},
		</if>

		<if test="dept_id != null and dept_id != ''">
			dept_id= #{dept_id,jdbcType=NUMERIC},
		</if>
		<if test="start_date != null and start_date != ''">
			start_date=to_date(#{start_date,jdbcType=DATE},'yyyy-MM-dd'),
		</if>
		<if test="is_stop != null and is_stop != ''">
			is_stop= #{is_stop,jdbcType=NUMERIC},
		</if>
		<if test="spell_code != null and spell_code != ''">
			spell_code= #{spell_code,jdbcType=VARCHAR},
		</if>
		<if test="wbx_code != null and wbx_code != ''">
			wbx_code= #{wbx_code,jdbcType=VARCHAR},
		</if>
		<if test="fkxy_attr != null and fkxy_attr != ''">
			fkxy_attr= #{fkxy_attr,jdbcType=VARCHAR},
		</if>
		<if test="subject_type != null and subject_type != ''">
			subject_type= #{subject_type,jdbcType=VARCHAR},
		</if>
		note=#{note,jdbcType=VARCHAR}
		WHERE
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND type_code = #{type_code,jdbcType=VARCHAR}
	</update>

	<select id="qeuryPactTypeCode" resultType="int">
		select count(PACT_TYPE_CODE)
		from PACT_MAIN_FKXY
		where 
		GROUP_ID = #{group_id,jdbcType=NUMERIC}
		AND HOS_ID =#{hos_id,jdbcType=NUMERIC}
		AND COPY_CODE = #{copy_code,jdbcType=VARCHAR}
		AND PACT_TYPE_CODE = #{type_code,jdbcType=VARCHAR}
	</select>
</mapper>