<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.budg.dao.base.budgdrug.BudgDrugTypeIncomeShipMapper">
	
	<resultMap id="budgDrugTypeIncomeShip" type="com.chd.hrp.budg.entity.BudgDrugTypeIncomeShip">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="drug_type_id" column="drug_type_id"/>
	<result property="drug_type_no" column="drug_type_no"/>
	<result property="drug_type_code" column="drug_type_code"/>
	<result property="subj_code" column="subj_code"/>
	</resultMap>
		
	<resultMap id="budgDrugTypeIncomeShipMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="copy_code" column="copy_code"/>
	<result property="budg_year" column="budg_year"/>
	<result property="drug_type_id" column="drug_type_id"/>
	<result property="drug_type_no" column="drug_type_no"/>
	<result property="drug_type_code" column="drug_type_code"/>
	<result property="drug_type_name" column="drug_type_name"/>
	<result property="subj_code" column="subj_code"/>
	<result property="subj_name" column="subj_name"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO BUDG_DRUG_TYPE_INCOME_SHIP (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			subj_code
			,
			drug_type_id
			,
			drug_type_no
		
		) VALUES (
			#{group_id,jdbcType=INTEGER}
			,
			#{hos_id,jdbcType=INTEGER}
			,
			#{copy_code,jdbcType=VARCHAR}
			,
			#{budg_year,jdbcType=VARCHAR}
			,
			#{subj_code,jdbcType=VARCHAR}
			,
			#{drug_type_id,jdbcType=INTEGER}
			,
			#{drug_type_no,jdbcType=INTEGER}
		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO BUDG_DRUG_TYPE_INCOME_SHIP (
			group_id
			,
			hos_id
			,
			copy_code
			,
			budg_year
			,
			subj_code
			,
			drug_type_id
			,
			drug_type_no
		
		) select  t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER}
			,
			#{item.hos_id,jdbcType=INTEGER}
			,
			#{item.copy_code,jdbcType=VARCHAR}
			,
			#{item.budg_year,jdbcType=VARCHAR}
			,
			#{item.subj_code,jdbcType=VARCHAR}
			,
			#{item.drug_type_id,jdbcType=INTEGER}
			,
			#{item.drug_type_no,jdbcType=INTEGER}
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE BUDG_DRUG_TYPE_INCOME_SHIP  set 
			drug_type_id = #{drug_type_id,jdbcType=INTEGER} ,
			
			drug_type_no = #{drug_type_no,jdbcType=INTEGER}
			
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE BUDG_DRUG_TYPE_INCOME_SHIP set
				drug_type_id = #{item.drug_type_id,jdbcType=INTEGER} ,
			
			drug_type_no = #{item.drug_type_no,jdbcType=INTEGER}
			<where>                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				<if test="item.subj_code != null and item.subj_code != ''">
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
				</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM BUDG_DRUG_TYPE_INCOME_SHIP 
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM BUDG_DRUG_TYPE_INCOME_SHIP 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND copy_code = #{item.copy_code,jdbcType=VARCHAR}
				<if test="item.budg_year != null and item.budg_year != ''">
				AND budg_year = #{item.budg_year,jdbcType=VARCHAR}
				</if>
				<if test="item.subj_code != null and item.subj_code != ''">
				AND subj_code = #{item.subj_code,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="budgDrugTypeIncomeShipMap" >
	
		SELECT 
		a.group_id,
		a.hos_id,
		a.copy_code,
		a.budg_year,
		a.subj_code,
		bis.subj_name,
		a.drug_type_id ,
		a.drug_type_no ,
		mt.med_type_code drug_type_code,
		mt.med_type_name as drug_type_name
		FROM BUDG_DRUG_TYPE_INCOME_SHIP a
		Left join MED_TYPE mt
			on 
				a.group_id  = mt.group_id 
				and a.hos_id = mt.hos_id 
				and a.copy_code = mt.copy_code 
				and a.drug_type_id = mt.med_type_id 
				and mt.is_stop = 0
		Left join BUDG_INCOME_SUBJ bis
			on 
				a.group_id  = bis.group_id 
				and a.hos_id = bis.hos_id 
				and a.copy_code = bis.copy_code 
				and a.budg_year = bis.budg_year
				and a.subj_code = bis.subj_code
		<where>                     
			<if test="group_id != null and group_id != ''">
			AND a.group_id = #{group_id,jdbcType=INTEGER}
			</if>
			<if test="hos_id != null and hos_id != ''">
			AND a.hos_id = #{hos_id,jdbcType=INTEGER}
			</if>
			<if test="copy_code != null and copy_code != ''">
			AND a.copy_code = #{copy_code,jdbcType=VARCHAR}
			</if>
			<if test="budg_year != null and budg_year != ''">
			AND a.budg_year = #{budg_year,jdbcType=VARCHAR}
			</if>
			<if test="subj_code != null and subj_code != ''">
			AND a.subj_code = #{subj_code,jdbcType=VARCHAR}
			</if>
			<if test="drug_type_id != null and drug_type_id != ''">
			AND a.drug_type_id = #{drug_type_id,jdbcType=INTEGER}
			</if>
			<if test="drug_type_no != null and drug_type_no != ''">
			AND a.drug_type_no = #{drug_type_no,jdbcType=INTEGER}
			</if>
			
		</where>   
		order by group_id asc
	</select>
	<select id="queryByCode" resultMap="budgDrugTypeIncomeShip"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year ,
		subj_code ,
		drug_type_id,
		drug_type_no
		FROM BUDG_DRUG_TYPE_INCOME_SHIP 
		WHERE 
		group_id = #{group_id,jdbcType=INTEGER}   and 
		hos_id = #{hos_id,jdbcType=INTEGER}   and 
		copy_code = #{copy_code,jdbcType=VARCHAR}   and 
		budg_year = #{budg_year,jdbcType=VARCHAR}   and 
		subj_code = #{subj_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="budgDrugTypeIncomeShip"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year ,
		subj_code ,
		drug_type_id,
		drug_type_no
		FROM BUDG_DRUG_TYPE_INCOME_SHIP 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="drug_type_id != null and drug_type_id != ''">
		AND drug_type_id = #{drug_type_id,jdbcType=INTEGER}
		</if>
		<if test="drug_type_no != null and drug_type_no != ''">
		AND drug_type_no = #{drug_type_no,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="budgDrugTypeIncomeShip"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		copy_code,
		budg_year ,
		subj_code ,
		drug_type_id,
		drug_type_no
		FROM BUDG_DRUG_TYPE_INCOME_SHIP 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="copy_code != null and copy_code != ''">
		AND copy_code = #{copy_code,jdbcType=VARCHAR}
		</if>
		<if test="budg_year != null and budg_year != ''">
		AND budg_year = #{budg_year,jdbcType=VARCHAR}
		</if>
		<if test="subj_code != null and subj_code != ''">
		AND subj_code = #{subj_code,jdbcType=VARCHAR}
		</if>
		<if test="drug_type_id != null and drug_type_id != ''">
		AND drug_type_id = #{drug_type_id,jdbcType=INTEGER}
		</if>
		<if test="drug_type_no != null and drug_type_no != ''">
		AND drug_type_no = #{drug_type_no,jdbcType=INTEGER}
		</if>
		</where>   
		order by group_id asc
	</select>
</mapper>

