<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.sysstruc.HrColStrucMapper">
	
	<resultMap id="hrColStruc" type="com.chd.hrp.hr.entity.sysstruc.HrColStruc">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="tab_code" column="tab_code"/>
		<result property="col_code" column="col_code"/>
		<result property="col_name" column="col_name"/>
		<result property="data_type" column="data_type"/>
		<result property="data_type_name" column="data_type_name"/>
		<result property="filed_length" column="filed_length"/>
		<result property="prec" column="prec"/>
		<result property="is_pk" column="is_pk"/>
		<result property="is_pk_text" column="is_pk_text"/>
		<result property="is_m" column="is_m"/>
		<result property="is_m_text" column="is_m_text"/>
		<result property="is_innr" column="is_innr"/>
		<result property="is_innr_text" column="is_innr_text"/>
		<result property="field_tab_code" column="field_tab_code"/>
		<result property="field_tab_name" column="field_tab_name"/>
		<result property="note" column="note"/>
		<result property="sort" column="sort"/>
	</resultMap>
		
	<resultMap id="hrColStrucMap" type="java.util.Map">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="tab_code" column="tab_code"/>
		<result property="col_code" column="col_code"/>
		<result property="col_name" column="col_name"/>
		<result property="data_type" column="data_type"/>
		<result property="data_type_name" column="data_type_name"/>
		<result property="filed_length" column="length"/>
		<result property="prec" column="prec"/>
		<result property="is_pk" column="is_pk"/>
		<result property="is_pk_text" column="is_pk_text"/>
		<result property="is_m" column="is_m"/>
		<result property="is_m_text" column="is_m_text"/>
		<result property="is_innr" column="is_innr"/>
		<result property="is_innr_text" column="is_innr_text"/>
		<result property="field_tab_code" column="field_tab_code"/>
		<result property="field_tab_name" column="field_tab_name"/>
		<result property="note" column="note"/>
		<result property="sort" column="sort"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="dataTypeMap">
		<result property="data_type_code" column="data_type_code"/>
		<result property="data_type_name" column="data_type_name"/>
		<result property="length_count" column="length_count"/>
	</resultMap>
	
	<select id="queryDataType" parameterType="java.util.Map" resultMap="dataTypeMap">
		select data_type_code,data_type_name,length_count 
		from HR_COL_DATA_TYPE
		<where>
			<if test="data_type_code != null and data_type_code !='' ">
				and data_type_code = #{data_type_code,jdbcType=VARCHAR}
			</if>
			<if test="data_type_name != null and data_type_name !='' ">
				and data_type_name = #{data_type_name,jdbcType=VARCHAR}
			</if>
			<if test="data_type != null and data_type != '' ">
				and (
					  data_type_code = #{data_type,jdbcType=VARCHAR}
				  or  data_type_name = #{data_type,jdbcType=VARCHAR}
				)
			</if>
		</where>
		order by data_type_code
	</select>
	
	<insert id="addBatch" parameterType="java.util.List" >
		<!-- INSERT INTO HR_COL_STRUC (
			group_id,
			hos_id,
			copy_code,
			tab_code,
			col_code,
			col_name,
			data_type,
			length,
			prec,
			is_pk,
			is_m,
			is_innr,
			field_tab_code,
			note,
			sort
		) select t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.group_id,jdbcType=INTEGER},
			#{item.hos_id,jdbcType=INTEGER},
			#{item.copy_code,jdbcType=VARCHAR},
			#{item.tab_code,jdbcType=VARCHAR},
			upper(#{item.col_code,jdbcType=VARCHAR}),
			#{item.col_name,jdbcType=VARCHAR},
			#{item.data_type,jdbcType=VARCHAR},
			#{item.filed_length,jdbcType=INTEGER},
			#{item.prec,jdbcType=INTEGER},
			#{item.is_pk,jdbcType=INTEGER},
			#{item.is_m,jdbcType=INTEGER},
			#{item.is_innr,jdbcType=INTEGER},
			#{item.field_tab_code,jdbcType=VARCHAR},
			#{item.note,jdbcType=VARCHAR},
			#{item.sort,jdbcType=INTEGER}
		    from dual
		</foreach>
		)t -->
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			INSERT INTO HR_COL_STRUC (
				group_id,
				hos_id,
				tab_code,
				col_code,
				col_name,
				data_type
				<if test="item.filed_length != null ">, length</if>
				<if test="item.prec != null ">, prec</if>
				<if test="item.is_pk != null ">, is_pk</if>
				<if test="item.is_m != null ">, is_m</if>
				<if test="item.is_innr != null ">, is_innr</if>
				<if test="item.is_unique != null ">, is_unique</if>
				<if test="item.field_tab_code != null ">, field_tab_code</if>
				<if test="item.note != null ">, note</if>
				<if test="item.sort != null ">, sort</if>
				
			) VALUES (
				#{item.group_id,jdbcType=INTEGER},
				#{item.hos_id,jdbcType=INTEGER},
				upper(#{item.tab_code,jdbcType=VARCHAR}),
				upper(#{item.col_code,jdbcType=VARCHAR}),
				#{item.col_name,jdbcType=VARCHAR},
				#{item.data_type,jdbcType=VARCHAR}
				<if test="item.filed_length != null ">,#{item.filed_length,jdbcType=INTEGER}</if>
				<if test="item.prec != null ">, #{item.prec,jdbcType=INTEGER}</if>
				<if test="item.is_pk != null ">,#{item.is_pk,jdbcType=INTEGER}</if>
				<if test="item.is_m != null ">, #{item.is_m,jdbcType=INTEGER}</if>
				<if test="item.is_innr != null ">,#{item.is_innr,jdbcType=INTEGER}</if>
				<if test="item.is_unique != null ">,#{item.is_unique,jdbcType=INTEGER}</if>
				<if test="item.field_tab_code != null ">, #{item.field_tab_code,jdbcType=VARCHAR}</if>
				<if test="item.note != null ">,#{item.note,jdbcType=VARCHAR}</if>
				<if test="item.sort != null ">, #{item.sort,jdbcType=INTEGER}</if>
			)
		</foreach>
	</insert>
	
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_col_struc SET
			col_name = #{item.col_name,jdbcType=VARCHAR},
			data_type = #{item.data_type,jdbcType=VARCHAR},
			length = #{item.filed_length,jdbcType=INTEGER},
			prec = #{item.prec,jdbcType=INTEGER},
			is_pk = #{item.is_pk,jdbcType=INTEGER},
			is_m = #{item.is_m,jdbcType=INTEGER},
			is_innr = #{item.is_innr,jdbcType=INTEGER},
			is_unique = #{item.is_unique,jdbcType=INTEGER},
			field_tab_code = #{item.field_tab_code,jdbcType=VARCHAR},
			note = #{item.note,jdbcType=VARCHAR},
			sort = #{item.sort,jdbcType=INTEGER}
			WHERE                     
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND tab_code = #{item.tab_code,jdbcType=CHAR}
				AND col_code = upper(#{item.col_code,jdbcType=VARCHAR})
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.List">
		DELETE FROM hr_col_struc 
		WHERE group_id = #{group_id,jdbcType=INTEGER}
		  AND hos_id = #{hos_id,jdbcType=INTEGER}
		  AND tab_code = #{tab_code,jdbcType=VARCHAR}
		  <if test="col_code != null and col_code != ''">
		  AND col_code = upper(#{col_code,jdbcType=VARCHAR})
		  </if>
	</delete>
	
		<delete id="deleteTabCode" parameterType="java.util.List">
		DELETE FROM hr_col_struc 
		WHERE group_id = #{group_id,jdbcType=INTEGER}
		  AND hos_id = #{hos_id,jdbcType=INTEGER}
		  AND field_tab_code = #{field_tab_code,jdbcType=VARCHAR}
		  <if test="col_code != null and col_code != ''">
		  AND col_code = upper(#{col_code,jdbcType=VARCHAR})
		  </if>
	</delete>
	<delete id="deleteBatchHrColStruc" parameterType="java.util.List">
		DELETE FROM hr_col_struc 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				group_id = #{item.group_id,jdbcType=INTEGER}
				AND hos_id = #{item.hos_id,jdbcType=INTEGER}
				AND tab_code = #{item.tab_code,jdbcType=VARCHAR}
				AND col_code = upper(#{item.col_code,jdbcType=VARCHAR})
			</foreach>
	    </where>  
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="hrColStruc" >
	
		SELECT 
	      t.group_id,
	      t.hos_id,
	      t.tab_code,
	      upper(t.col_code) col_code,
	      t.col_name,
	      t.data_type,
	      dt.data_type_name,
	      t.length filed_length,
	      t.prec,
	      t.is_pk,
	      case t.is_pk when 1 then '是' else '否' end as is_pk_text,
	      t.is_m,
	      case t.is_m when 1 then '是' else '否' end as is_m_text,
	      t.is_innr,
	      case t.is_innr when 1 then '是' else '否' end as is_innr_text,
	      t.field_tab_code,
	      fts.field_tab_name,
	      t.note,
	      t.sort
	    FROM HR_COL_STRUC t
	    
	    left join HR_COL_DATA_TYPE dt
	    on t.data_type = dt.data_type_code
	    
	    left join HR_FIIED_TAB_STRUC fts
	    on t.field_tab_code = fts.field_tab_code
	    and t.group_id = fts.group_id
	    and t.hos_id = fts.hos_id
	    
		where                    
			t.group_id = #{group_id,jdbcType=INTEGER}
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
			AND t.tab_code = #{tab_code,jdbcType=VARCHAR}
		order by t.sort asc
	</select>
	
	<select id="queryHrColStrucMap" parameterType="java.util.Map" resultMap="hrColStrucMap" >
	
		SELECT 
	      t.group_id,
	      t.hos_id,
	      t.tab_code,
	      upper(t.col_code) col_code,
	      t.col_name,
	      t.data_type,
	      dt.data_type_name,
	      t.length,
	      t.prec,
	      t.is_pk,
	      case t.is_pk when 1 then '是' else '否' end as is_pk_text,
	      t.is_m,
	      case t.is_m when 1 then '是' else '否' end as is_m_text,
	      t.is_innr,
	      case t.is_innr when 1 then '是' else '否' end as is_innr_text,
	      t.field_tab_code,
	      fts.field_tab_name,
	      t.note,
	      t.sort
	    FROM HR_COL_STRUC t
	    
	    left join HR_COL_DATA_TYPE dt
	    on t.data_type = dt.data_type_code
	    
	    left join HR_FIIED_TAB_STRUC fts
	    on t.field_tab_code = fts.field_tab_code
	    and t.group_id = fts.group_id
	    and t.hos_id = fts.hos_id
	    
		where                    
			t.group_id = #{group_id,jdbcType=INTEGER}
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
			AND t.tab_code = #{tab_code,jdbcType=VARCHAR}
			<if test="col_code != null and col_code != ''">
			AND t.col_code like '%'|| #{col_code} ||'%'
			</if>
			<if test="col_name != null and col_name != ''">
			AND t.col_name like '%'|| #{col_name} ||'%'
			</if>
		order by t.sort asc
	</select>
	
	<select id="queryHrColStrucByPrint" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT t.group_id,
		       t.hos_id,
		       t.tab_code,
		       upper(t.col_code) col_code,
		       t.col_name,
		       t.data_type,
		       dt.data_type_name,
		       t.length filed_length,
		       t.prec,
		       t.is_pk,
		       case t.is_pk
		         when 1 then
		          '是'
		         else
		          '否'
		       end as is_pk_text,
		       t.is_m,
		       case t.is_m
		         when 1 then
		          '是'
		         else
		          '否'
		       end as is_m_text,
		       t.is_innr,
		       case t.is_innr
		         when 1 then
		          '是'
		         else
		          '否'
		       end as is_innr_text,
		       t.field_tab_code,
		       fts.field_tab_name,
		       t.note,
		       t.sort
		  FROM HR_COL_STRUC t
		  left join HR_COL_DATA_TYPE dt on t.data_type = dt.data_type_code
		  left join HR_FIIED_TAB_STRUC fts on t.field_tab_code = fts.field_tab_code
		   and t.group_id = fts.group_id
		   and t.hos_id = fts.hos_id
		where                    
			t.group_id = #{group_id,jdbcType=INTEGER}
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
			AND t.tab_code = #{tab_code,jdbcType=VARCHAR}
			<if test="col_code != null and col_code != ''">
				AND t.col_code like upper('%${col_code}%')
			</if>
			<if test="col_name != null and col_name != ''">
				AND (
					t.col_code like upper('%${col_name}%')
				 or t.col_name like '%${col_name}%'
				)
			</if>
		order by t.sort asc
	</select>
	
	<select id="queryHrColStrucEntity" parameterType="java.util.Map" resultMap="hrColStruc" >
		SELECT t.group_id,
		       t.hos_id,
		       t.tab_code,
		       upper(t.col_code) col_code,
		       t.col_name,
		       t.data_type,
		       dt.data_type_name,
		       t.length filed_length,
		       t.prec,
		       t.is_pk,
		       case t.is_pk
		         when 1 then
		          '是'
		         else
		          '否'
		       end as is_pk_text,
		       t.is_m,
		       case t.is_m
		         when 1 then
		          '是'
		         else
		          '否'
		       end as is_m_text,
		       t.is_innr,
		       case t.is_innr
		         when 1 then
		          '是'
		         else
		          '否'
		       end as is_innr_text,
		        t.is_unique,
		       case t.is_unique
		         when 1 then
		          '是'
		         else
		          '否'
		       end as is_unique_text,
		       t.field_tab_code,
		       fts.field_tab_name,
		       t.note,
		       t.sort
		  FROM HR_COL_STRUC t
		  left join HR_COL_DATA_TYPE dt on t.data_type = dt.data_type_code
		  left join HR_FIIED_TAB_STRUC fts on t.field_tab_code = fts.field_tab_code
		   and t.group_id = fts.group_id
		   and t.hos_id = fts.hos_id
		where                    
			t.group_id = #{group_id,jdbcType=INTEGER}
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
			AND t.tab_code = #{tab_code,jdbcType=VARCHAR}
			<if test="col_code != null and col_code != ''">
				AND t.col_code like upper('%${col_code}%')
			</if>
			<if test="col_name != null and col_name != ''">
				AND (
					t.col_code like upper('%${col_name}%')
				 or t.col_name like '%${col_name}%'
				)
			</if>
		order by t.sort asc
	</select>
	
	<select id="queryHrColStrucEntityByTabCode" parameterType="java.util.Map" resultMap="hrColStruc" >
	
		SELECT 
	      t.group_id,
	      t.hos_id,
	      t.tab_code,
	      upper(t.col_code) col_code,
	      t.col_name,
	      t.data_type,
	      dt.data_type_name,
	      t.length,
	      t.prec,
	      t.is_pk,
	      case t.is_pk when 1 then '是' else '否' end as is_pk_text,
	      t.is_m,
	      case t.is_m when 1 then '是' else '否' end as is_m_text,
	      t.is_innr,
	      case t.is_innr when 1 then '是' else '否' end as is_innr_text,
	      t.field_tab_code,
	      fts.field_tab_name,
	      t.note,
	      t.sort
	    FROM HR_COL_STRUC t
	    
	    left join HR_COL_DATA_TYPE dt
	    on t.data_type = dt.data_type_code
	    
	    left join HR_FIIED_TAB_STRUC fts
	    on t.field_tab_code = fts.field_tab_code
	    and t.group_id = fts.group_id
	    and t.hos_id = fts.hos_id
	    
		where                    
			t.group_id = #{group_id,jdbcType=INTEGER}
			AND t.hos_id = #{hos_id,jdbcType=INTEGER}
			AND t.tab_code = #{tab_code,jdbcType=VARCHAR}
		order by t.sort asc
	</select>
	
	
	<resultMap type="java.util.Map" id="columnInfo">
		<result property="display" column="display"/>
		<result property="name" column="name"/>
	</resultMap>
	<select id="queryColumns" parameterType="java.util.Map" resultMap="columnInfo" >
		SELECT 
			<!-- upper(col_code) AS name, -->
			case when field_tab_code is null then upper(col_code) else upper(col_code)||'_TEXT' end as name,
			col_name AS display
		FROM HR_COL_STRUC 
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND tab_code = #{tab_code,jdbcType=VARCHAR}
			AND is_list = 1
		order by sort asc
	</select>
	
	<select id="queryColCodes" parameterType="java.util.Map" resultType="String">
		SELECT 
			upper(col_code) col_code
		FROM HR_COL_STRUC 
		where                    
			group_id = #{group_id,jdbcType=INTEGER}
			AND hos_id = #{hos_id,jdbcType=INTEGER}
			AND tab_code = #{tab_code,jdbcType=VARCHAR}
			<if test="is_pk != null and is_pk != ''">
			AND is_pk = #{is_pk}
			</if>
	</select>
	
	<select id="queryByCode" resultMap="hrColStruc"  parameterType="java.util.Map" >
	
		SELECT 
			group_id,
			hos_id,
			tab_code,
			upper(col_code) col_code,
			col_name,
			data_type,
			length,
			prec,
			is_pk,
			is_m,
			is_innr,
			field_tab_code,
			note
		FROM hr_col_struc 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			tab_code = #{tab_code,jdbcType=VARCHAR}   and 
			col_code = #{col_code,jdbcType=VARCHAR} 
	</select>
	
	<select id="queryByTabCode" resultType="java.util.Map"  parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			tab_code,
			upper(col_code) col_code,
			col_name,
			data_type,
			length,
			prec,
			is_pk,
			is_m,
			is_innr,
			field_tab_code,
			note,
			sort
		FROM hr_col_struc 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			tab_code = #{tab_code,jdbcType=VARCHAR}   
	</select>
	
	<select id="queryByColCode" resultMap="hrColStruc"  parameterType="java.util.Map" >
		SELECT 
			group_id,
			hos_id,
			tab_code,
			upper(col_code) col_code,
			col_name,
			data_type,
			length,
			prec,
			is_pk,
			is_m,
			is_innr,
			field_tab_code,
			note
		FROM hr_col_struc 
		WHERE 
			group_id = #{group_id,jdbcType=INTEGER}   and 
			hos_id = #{hos_id,jdbcType=INTEGER}   and 
			tab_code = #{tab_code,jdbcType=VARCHAR}   and 
			col_code = #{col_code,jdbcType=VARCHAR} 
	
	</select>
	
	<select id="queryByUniqueness" resultMap="hrColStruc"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		tab_code,
		upper(col_code) col_code,
		col_name,
		data_type,
		length,
		prec,
		is_pk,
		is_m,
		is_innr,
		field_tab_code,
		note
		FROM HR_COL_STRUC 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="tab_code != null and tab_code != ''">
		AND tab_code = #{tab_code,jdbcType=VARCHAR}
		</if>
		<if test="col_code != null and col_code != ''">
		AND col_code = #{col_code,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	<select id="queryExists" resultMap="hrColStruc"  parameterType="java.util.Map" >
	
		SELECT 
		group_id,
		hos_id,
		tab_code,
		upper(col_code) col_code,
		col_name,
		data_type,
		length,
		prec,
		is_pk,
		is_m,
		is_innr,
		field_tab_code,
		note
		FROM HR_COL_STRUC 
		<where>                     
		<if test="group_id != null and group_id != ''">
		AND group_id = #{group_id,jdbcType=INTEGER}
		</if>
		<if test="hos_id != null and hos_id != ''">
		AND hos_id = #{hos_id,jdbcType=INTEGER}
		</if>
		<if test="tab_code != null and tab_code != ''">
		AND tab_code = #{tab_code,jdbcType=CHAR}
		</if>
		<if test="col_code != null and col_code != ''">
		AND col_code = #{col_code,jdbcType=VARCHAR}
		</if>
		</where>   
		order by group_id asc
	</select>
	
	
	
	<resultMap type="java.util.Map" id="comTypeMap">
		<result property="com_type_code" column="com_type_code"/>
		<result property="com_type_nature" column="com_type_nature"/>
	</resultMap>
	<select id="queryHrComType" parameterType="java.util.Map" resultMap="comTypeMap">
		select t.com_type_code,t.com_type_nature from HR_COM_TYPE t
		<if test="com_type_code != null and com_type_code != ''">
		where t.com_type_code = #{com_type_code,jdbcType=VARCHAR}
		</if>
		order by t.com_type_code
	</select>
</mapper>

