<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.sysstruc.HrFiiedViewMapper">
	
	<resultMap id="hrFiiedView" type="com.chd.hrp.hr.entity.sysstruc.HrFiiedView">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="field_tab_code" column="field_tab_code"/>
	<result property="cite_sql" column="cite_sql" jdbcType="CLOB" typeHandler="com.chd.hrp.hr.util.ClobTypeHandler"/>
	<result property="query_sql" column="query_sql" jdbcType="CLOB" typeHandler="com.chd.hrp.hr.util.ClobTypeHandler"/>
	<result property="note" column="note"/>
	</resultMap>
		
	<resultMap id="hrFiiedViewMap" type="java.util.Map">
	<result property="group_id" column="group_id"/>
	<result property="hos_id" column="hos_id"/>
	<result property="field_tab_code" column="field_tab_code"/>
	<result property="cite_sql" column="cite_sql" jdbcType="CLOB" typeHandler="com.chd.hrp.hr.util.ClobTypeHandler"/>
	<result property="note" column="note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
		INSERT INTO HR_FIIED_VIEW (
		  group_id,hos_id,field_tab_code,cite_sql,query_sql,note
		) VALUES (
		  #{group_id,jdbcType=INTEGER},
		  #{hos_id,jdbcType=INTEGER},
		  #{field_tab_code,jdbcType=VARCHAR},
		  #{cite_sql,jdbcType=CLOB},
		  #{query_sql,jdbcType=CLOB},
		  #{note,jdbcType=VARCHAR}
		)
	
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_fiied_view 
		   SET cite_sql = #{cite_sql,jdbcType=CLOB},
			   note = #{note,jdbcType=VARCHAR}
		 where group_id = #{group_id,jdbcType=INTEGER}
		   AND hos_id = #{hos_id,jdbcType=INTEGER}
		   AND field_tab_code = #{field_tab_code,jdbcType=VARCHAR}
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM hr_fiied_view 
		 where group_id = #{group_id,jdbcType=INTEGER}
		   AND hos_id = #{hos_id,jdbcType=INTEGER}
		   AND field_tab_code = #{field_tab_code,jdbcType=VARCHAR} 
	</delete>
	
	<select id="query" parameterType="java.util.Map" resultMap="hrFiiedView" >
	
		SELECT 
		  group_id,hos_id,field_tab_code,cite_sql,note
		 FROM HR_FIIED_VIEW 
		where group_id = #{group_id,jdbcType=INTEGER}
		  AND hos_id = #{hos_id,jdbcType=INTEGER}
		  <if test="field_tab_code != null and field_tab_code != ''">
		  AND field_tab_code = #{field_tab_code,jdbcType=VARCHAR}
		  </if>
		order by group_id asc
	</select>
	
	<select id="queryByCode" parameterType="java.util.Map" resultMap="hrFiiedView" >
	
		SELECT 
		  group_id,hos_id,field_tab_code,cite_sql,query_sql,note
		 FROM HR_FIIED_VIEW 
		where group_id = #{group_id,jdbcType=INTEGER}
		  AND hos_id = #{hos_id,jdbcType=INTEGER}
		  AND field_tab_code = #{field_tab_code,jdbcType=VARCHAR}
	</select>
	
	<resultMap type="java.util.Map" id="dictMap">
		<result property="group_id" column="group_id"/>
		<result property="hos_id" column="hos_id"/>
		<result property="code" column="code"/>
		<result property="field_tab_code" column="field_tab_code"/>
		<result property="field_col_code" column="field_col_code"/>
		<result property="field_col_name" column="field_col_name"/>
		<result property="super_col_code" column="super_col_code"/>
		<result property="spell_code" column="spell_code"/>
		<result property="wbx_code" column="wbx_code"/>
		<result property="is_innr" column="is_innr"/>
		<result property="is_stop" column="is_stop"/>
		<result property="is_last" column="is_last"/>
		<result property="note" column="note"/>
	</resultMap>
	<!-- 自定义SQL查询 -->
	<select id="queryDictCustomSql" parameterType="java.lang.String" resultType="java.util.Map">
		${_parameter}
	</select>
	<select id="queryCount"  parameterType="java.lang.String" resultType="java.util.Map">
	<if test="_parameter!= null and _parameter!= ''">
		${sql}
	</if>
	</select>
</mapper>

