<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.sysstruc.HrJoinSignMapper">
	
	<resultMap id="hrJoinSign" type="com.chd.hrp.hr.entity.sysstruc.HrJoinSign">
	<result property="join_sign_code" column="join_sign_code"/>
	<result property="join_sign_name" column="join_sign_name"/>
	<result property="join_sign_note" column="join_sign_note"/>
	</resultMap>
		
	<resultMap id="hrJoinSignMap" type="java.util.Map">
	<result property="join_sign_code" column="join_sign_code"/>
	<result property="join_sign_name" column="join_sign_name"/>
	<result property="join_sign_note" column="join_sign_note"/>
	</resultMap>
	
	<insert id="add" useGeneratedKeys="true" >
	
		INSERT INTO HR_JOIN_SIGN (
		<trim suffix="" suffixOverrides=",">
		<if test="join_sign_code != null and join_sign_code != ''">
		join_sign_code
		,
		</if>
		<if test="join_sign_name != null and join_sign_name != ''">
		join_sign_name
		,
		</if>
		<if test="join_sign_note != null and join_sign_note != ''">
		join_sign_note
		,
		</if>
		</trim>
		) VALUES (
		<trim suffix="" suffixOverrides=",">
		<if test="join_sign_code != null and join_sign_code != ''">
		#{join_sign_code,jdbcType=VARCHAR}
		,
		</if>
		<if test="join_sign_name != null and join_sign_name != ''">
		#{join_sign_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="join_sign_note != null and join_sign_note != ''">
		#{join_sign_note,jdbcType=VARCHAR}
		
		</if>
		</trim>		
		)
	
	</insert>
	<insert id="addBatch" parameterType="java.util.List" >
	
		INSERT INTO HR_JOIN_SIGN (
		join_sign_code
		,
		join_sign_name
		,
		join_sign_note
		
		) select HR_JOIN_SIGN_SEQ.nextval , t.* from(
		<foreach collection="list" item="item" index="index" separator=" union all " >
			select 		
			#{item.join_sign_code,jdbcType=VARCHAR}
			,
			#{item.join_sign_name,jdbcType=VARCHAR}
			,
			#{item.join_sign_note,jdbcType=VARCHAR}
			
		    from dual
		</foreach>
		)t
	</insert>
	
	<update id="update" parameterType="java.util.Map">
	
		UPDATE hr_join_sign 
		<trim prefix="SET"  suffixOverrides=","> 
		<if test="join_sign_name != null and join_sign_name != ''">
		join_sign_name = #{join_sign_name,jdbcType=VARCHAR}
		,
		</if>
		<if test="join_sign_note != null and join_sign_note != ''">
		join_sign_note = #{join_sign_note,jdbcType=VARCHAR}
		,
		</if>
		</trim>
		<where>                     
		<if test="join_sign_code != null and join_sign_code != ''">
		AND join_sign_code = #{join_sign_code,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_name != null and join_sign_name != ''">
		AND join_sign_name = #{join_sign_name,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_note != null and join_sign_note != ''">
		AND join_sign_note = #{join_sign_note,jdbcType=VARCHAR}
		</if>
		</where>  
	</update>
	<update id="updateBatch" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";" >
			UPDATE hr_join_sign 
			<trim prefix="SET"  suffixOverrides=","> 
			<if test="item.join_sign_name != null and item.join_sign_name != ''">
			join_sign_name = #{item.join_sign_name,jdbcType=VARCHAR}
			,
			</if>
			<if test="item.join_sign_note != null and item.join_sign_note != ''">
			join_sign_note = #{item.join_sign_note,jdbcType=VARCHAR}
			,
			</if>
			</trim>
			<where>                     
			<if test="item.join_sign_code != null and item.join_sign_code != ''">
			AND join_sign_code = #{item.join_sign_code,jdbcType=VARCHAR}
			</if>  
			<if test="item.join_sign_name != null and item.join_sign_name != ''">
			AND join_sign_name = #{item.join_sign_name,jdbcType=VARCHAR}
			</if>  
			<if test="item.join_sign_note != null and item.join_sign_note != ''">
			AND join_sign_note = #{item.join_sign_note,jdbcType=VARCHAR}
			</if>  
			</where>  			
		</foreach>
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	
		DELETE FROM hr_join_sign 
		<where>                     
		<if test="join_sign_code != null and join_sign_code != ''">
		AND join_sign_code = #{join_sign_code,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_name != null and join_sign_name != ''">
		AND join_sign_name = #{join_sign_name,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_note != null and join_sign_note != ''">
		AND join_sign_note = #{join_sign_note,jdbcType=VARCHAR}
		</if>
		</where>  
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM hr_join_sign 
		<where>
			<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
				<if test="item.join_sign_code != null and item.join_sign_code != ''">
				AND join_sign_code = #{item.join_sign_code,jdbcType=VARCHAR}
				</if>
				<if test="item.join_sign_name != null and item.join_sign_name != ''">
				AND join_sign_name = #{item.join_sign_name,jdbcType=VARCHAR}
				</if>
				<if test="item.join_sign_note != null and item.join_sign_note != ''">
				AND join_sign_note = #{item.join_sign_note,jdbcType=VARCHAR}
				</if>
			</foreach>
	    </where>  
	</delete>
	<select id="query" parameterType="java.util.Map" resultMap="hrJoinSign" >
	
		SELECT 
		join_sign_code,
		join_sign_name,
		join_sign_note
		FROM HR_JOIN_SIGN 
		<where>                     
		<if test="join_sign_code != null and join_sign_code != ''">
		AND join_sign_code = #{join_sign_code,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_name != null and join_sign_name != ''">
		AND join_sign_name = #{join_sign_name,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_note != null and join_sign_note != ''">
		AND join_sign_note = #{join_sign_note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by join_sign_code asc
	</select>
	<select id="queryByCode" resultMap="hrJoinSign"  parameterType="java.util.Map" >
	
		SELECT 
		join_sign_code,
		join_sign_name,
		join_sign_note
		FROM hr_join_sign 
		WHERE 
		join_sign_code = #{join_sign_code,jdbcType=VARCHAR} 
	
	</select>
	<select id="queryByUniqueness" resultMap="hrJoinSign"  parameterType="java.util.Map" >
	
		SELECT 
		join_sign_code,
		join_sign_name,
		join_sign_note
		FROM HR_JOIN_SIGN 
		<where>                     
		<if test="join_sign_code != null and join_sign_code != ''">
		AND join_sign_code = #{join_sign_code,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_name != null and join_sign_name != ''">
		AND join_sign_name = #{join_sign_name,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_note != null and join_sign_note != ''">
		AND join_sign_note = #{join_sign_note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by join_sign_code asc
	</select>
	<select id="queryExists" resultMap="hrJoinSign"  parameterType="java.util.Map" >
	
		SELECT 
		join_sign_code,
		join_sign_name,
		join_sign_note
		FROM HR_JOIN_SIGN 
		<where>                     
		<if test="join_sign_code != null and join_sign_code != ''">
		AND join_sign_code = #{join_sign_code,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_name != null and join_sign_name != ''">
		AND join_sign_name = #{join_sign_name,jdbcType=VARCHAR}
		</if>
		<if test="join_sign_note != null and join_sign_note != ''">
		AND join_sign_note = #{join_sign_note,jdbcType=VARCHAR}
		</if>
		</where>   
		order by join_sign_code asc
	</select>
</mapper>

