<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.hrp.hr.dao.HosCommonMapper">

	


<!-- 查询用户权限 -->
	<select id="queryHosUserPermByUserId" parameterType="java.util.Map" resultType="java.util.Map" useCache="false" flushCache="true">
		select t.table_code "table_code", t.is_read "is_read", t.is_write "is_write"
		  from SYS_USER_PERM_DATA t
		 where t.group_id = #{group_id}
		   and t.hos_id = #{hos_id}
		   and t.user_id = #{user_id}
		   and t.mod_code = '06'
		   <if test="table_code != null and table_code !=''">
		   and t.table_code = 'HR_TAB_STRUC'
		   and t.perm_code = #{table_code}
		   </if>
	</select>
	
	<select id="queryHrStoreCondition" parameterType="java.util.Map" resultType="java.util.LinkedHashMap" useCache="false" flushCache="true">
		select hsc.GROUP_ID,
	       hsc.HOS_ID,
	       hsc.STORE_TYPE_CODE,
	       hsc.LINE_NO,
	       hsc.L_BRACKET,
	       hsc.TAB_CODE,
	       hsc.COL_CODE,
	       hsc.CON_SIGN_CODE,
	       hsc.COL_VALUE,
	       hsc.R_BRACKET,
	       hsc.JOIN_SIGN_CODE,
	       hcs.CON_SIGN_NAME,
	       hcs.CON_SIGN_NOTE,
	       hjs.JOIN_SIGN_NAME,
	       hjs.JOIN_SIGN_NOTE
	  from HR_STORE_CONDITION hsc
	  left join hr_con_sign hcs
	    on hsc.con_sign_code = hcs.con_sign_code
	  left join hr_join_sign hjs
	    on hsc.join_sign_code = hjs.join_sign_code
	  where group_id = #{group_id} and hos_id = #{hos_id}
		   <if test="store_type_code != null and store_type_code != ''">
		   and hsc.store_type_code = #{store_type_code}
		   </if>
	  order by hsc.LINE_NO
	</select>
	

</mapper>

